[2017-01-03 23:21] ramya-rao-a commented on #263
@joeblew99 Do you mean to have a command to run a simple `go generate` for current package?

[2017-01-03 23:28] ramya-rao-a commented on #202
@fhbzyc Do you still have this issue? The links are not opening for me. Can you provide screenshots of the problem you are seeing?

[2017-01-03 23:34] ramya-rao-a commented on #144
All the Test commands are taking GOPATH from the settings for me.

Closing this issue for now.

If anyone still sees this issue, please comment, I will re-open the issue

[2017-01-03 23:34] #144 closed

[2017-01-03 23:41] ramya-rao-a commented on #565
@mousetraps When I delete the program property from launch.json and try debugging I get the below error "Failed to continue: "TypeError: Path must be a string. Received undefined"" which I believe is coming from VS Code itself.

Is that what you were referring to?

[2017-01-04 01:02] ramya-rao-a opened #706 "Trial use of Go language server by sourcegraph"
http://langserver.org is the detailed list of current status of LSP implementations for various languages
https://github.com/sourcegraph/go-langserver is the LSP implementation for Go by SourceGraph
https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md is the complete list of features by LSP

Currently supported features by Go LSP
	- Hover info
	- Go to definition
	- Symbol

[2017-01-04 02:23] ramya-rao-a commented on #646
With https://github.com/Microsoft/vscode-go/commit/819b404410eb8164d7814ab095bc3ab329078f13 we can now add telemetry events in the Go extension

[2017-01-04 02:23] #646 closed

[2017-01-04 03:15] sancao commented on #493
@SrHuevo: could you please to tell more clearly, how?

[2017-01-04 03:40] ramya-rao-a commented on #703
@zmb3 The `decl` property in the json output from `gogetdoc` contains the function declaration instead of the variable declaration in such cases

[2017-01-04 03:42] ramya-rao-a commented on #702
Thanks for the clarification @josh-tepper
In this case, the right thing to do is to file an issue with godef with sample code.

[2017-01-04 04:06] zmb3 commented on #703
The current behavior is to ascend the AST until we get to a decl that has [may have] documentation.  In this case, `tests` being a local variable doesn't, and so we keep moving up the AST until we see `Test_checkError()`.

At the time, I thought this behavior made sense.  Recall that `gogetdoc` was originally written for the sole purpose of extracting documentation, not necessarily to provide a to

[2017-01-04 04:20] zmb3 commented on #687
@ramya-rao-a I think the hover provider is a bit too liberal in spawning `go doc` / `gogetdoc` processes, which explains this and probably also #698 and #667.

A few suggestions:
- try to limit the number of calls to `definitionLocation()` (maybe by increasing the hover timeout)
- break out early (prior to spawning a doc process) if it looks like there's nothing interesting under the cursor (i've

[2017-01-04 07:06] northtyphoon commented on #539
@shuqizhao I was able to debug beego controller using the launch.json below
https://github.com/Microsoft/vscode-go#optional-debugging

You may want to check if you hit the delve issue in macOS Sierra.
https://github.com/derekparker/delve/issues/645

[2017-01-04 08:29] ipfans commented on #367
@ramya-rao-a It's a old issue, and it is not reappeared for now.

[2017-01-04 08:29] #367 closed

[2017-01-04 18:53] ramya-rao-a commented on #703
Repro:
![image](https://cloud.githubusercontent.com/assets/16890566/21654787/f4f2cd60-d26b-11e6-9cf8-c39cac6c1aa0.png)

Expected Output:

![image](https://cloud.githubusercontent.com/assets/16890566/21654796/fe130202-d26b-11e6-8130-2bc4c337e437.png)

[2017-01-04 18:54] ramya-rao-a commented on #703
This issue was moved to zmb3/gogetdoc#20

[2017-01-04 18:54] #703 closed

[2017-01-04 18:54] ramya-rao-a commented on #703
Thanks @zmb3

[2017-01-04 19:05] ramya-rao-a commented on #367
Thanks @ipfans

[2017-01-04 22:04] mattetti commented on #696
@ramya-rao-a so I'm back on Windows and I looked at the underlying issue. As you suspected gocode is being extremely slow.  I killed the daemon started by vscode and started one manually in debug mode. What I see is that gocode rebuilds all packages every time it receives a request. That seems to be related to the go build issue I brought up earlier requiring a -i. I'll investigate more, @nsf migh

[2017-01-04 22:33] mattetti commented on #696
As per the discussion in the gocode issue, the problem is that this extension uses an experimental feature that seems buggy on Windows. By default VSCode-Go turns on gocode autobuild which rebuilds all packages every single time making it unusable.

Is there a way to have a different default value for windows vs mac/linux? VSCode being a Microsoft product, I expect that Windows support is quite im

[2017-01-04 22:52] mattetti commented on #701
@joeblew99 can you try shutting down vscode, start gocode manually and run an autocomplete command against your project to see if it fails there too?

[2017-01-04 23:02] hoboman313 opened #707 "Multi-line strings break highlighting"
<img width="662" alt="screen shot 2017-01-04 at 3 01 59 pm" src="https://cloud.githubusercontent.com/assets/595980/21662503/cbb914ea-d28e-11e6-8ad6-a257e18360b9.png">

[2017-01-04 23:59] ramya-rao-a commented on #707
Closing as duplicate of #666. Its an upstream issue and folks at atom/language-go are looking into it

[2017-01-04 23:59] #707 closed

[2017-01-05 00:01] ramya-rao-a commented on #704
Done with https://github.com/Microsoft/vscode-go/commit/6d0f4405330efb789c16a01434cf096f0f9fb29c
The next Go extension update will have the "StepOut" feature.

You will need to update dlv though `go get -u github.com/derekparker/delve/cmd/dlv`

[2017-01-05 00:12] ramya-rao-a commented on #696
You can set `"go.gocodeAutoBuild": false` in the settings, and the experimental feature will not be used.

There is a note on this in the README, I had forgotten about it :(

![image](https://cloud.githubusercontent.com/assets/16890566/21663875/cccb0268-d297-11e6-80b6-711e9f0d9168.png)

As of now there is no way to provide different default values for a configuration setting based on platform.
So

[2017-01-05 00:14] ramya-rao-a commented on #701
Also, what platform are you on?
@mattetti recently found that on Windows, `gocode` is slow when the setting `go.gocodeAutoBuild` is enabled.
Can you try with `go.gocodeAutoBuild` disabled?

[2017-01-05 00:21] mattetti commented on #696
@ramya-rao-a what's the logic for having that on by default? The setting is quite hidden and the experience on Windows is really really bad unless turned off. I'm going to investigate how to make gocode's autobuild work properly on Windows but I would strongly suggest to consider turning off this option until it's fixed. Otherwise you are going to alienate Windows users.

[2017-01-05 00:41] nikhilraog09 commented on #450
@ramya-rao-a ,  its restricted to Large projects, Golint, auto complete works fine now But definitely Godef  needs a revamp or the way it works needs to be more memory efficient. Its v slow compared to atom or sublime with latest Go extension.

[2017-01-05 00:46] nolanjian commented on #704
@ramya-rao-a this good, thanks so much! I will get the code to build again, and close this issus.

[2017-01-05 00:46] #704 closed

[2017-01-05 00:53] Wang-Kai opened #708 "VS tell me my $GOPATH is wrong"
The vs code show that :

<img width="568" alt="2017-01-05 8 21 14" src="https://cloud.githubusercontent.com/assets/13144386/21664864/2cca73f6-d324-11e6-808a-6db2c5533139.png">

But my $GOPATH is :
➜  ~ echo $GOPATH
/Users/Elegant/go

[2017-01-05 06:52] ramya-rao-a commented on #708
Run the command `Go: Current GOPATH` in VS Code. What does that give?
Check your User and Workspace settings. Maybe you have set GOPATH there to a different value.

[2017-01-05 07:03] ramya-rao-a commented on #696
Say you make a change to a package, but don't `go install` it. The change will not be visible to `gocode` without this setting. Therefore, to keep auto-complete results as "fresh" as possible, this setting was enabled by default.

I have a Windows machine and I haven't noticed any slowness in auto-complete. Though, it might depend on how large and complex the code base is.

Your suggestion in the

[2017-01-05 07:06] ramya-rao-a commented on #450
Thanks @nikhilraog09
We have a few other issues tracking the need for godef usage to be better. Therefore will close this issue.

[2017-01-05 07:06] #450 closed

[2017-01-05 08:22] mattetti commented on #696
That's interesting, could you do me a favor and when running VSCode with autobuild on, try killing gocode and start it from the cmd prompt using `gocode.exe -debug -s -sock tcp -addr 127.0.0.1:37373`
and then try to trigger the autocompletion. I wonder if it rebuilds packages for you too or not.

I'm on Windows 10 btw. My colleague sees the same issue and we have a few cgo packages. But I just not

[2017-01-05 09:30] joeblew99 commented on #701
@ramya-rao-a

I am on OSX. I changed it to false and it seems to have helped.

Now, I can get code lookup on types. Thats a big help for me thanks.

But, I still cant get "go to definition" on any types. When i hover over "New QQMLApplication" in https://github.com/therecipe/qt/blob/master/internal/examples/quick/tableview/tableview.go#L27, it saying "Loading..." for 1 second, and then does nothin

[2017-01-05 09:40] joeblew99 commented on #701
@ramya-rao-a

Please see see here: therecipe/qt#163, last comment by @therecipe.
It seems that a fix to godef works.

Not sure if the VSCODE golang extension is using this version though, so worth trying on your side too ?

[2017-01-05 09:50] joeblew99 commented on #379
@this is pretty old and i dont have this issue any more.
thanks for the follow up though..

closing...

[2017-01-05 11:07] Depado commented on #228
I'd love to see this feature too.

[2017-01-05 12:05] dvdplm commented on #687
@ramya-rao-a This just happened again, same pattern: out of the blue the fans go nuts and when I go look it's a `godoc` process running wild. It does not stop by itself. I will try using `gogetdocs` now.

[2017-01-05 13:59] ankon opened #710 ""debug" launch configuration seems to ignore the "cwd" launch.json configuration"
[code]

[code]

[code]

Expected behavior: prints "CWD: /home"
Actual behavior: prints "CWD: ...workspaceRoot"

[2017-01-05 17:51] ramya-rao-a commented on #379
Thanks @joeblew99

[2017-01-05 19:38] ramya-rao-a commented on #687
@zmb3 I can get started with your second suggestion. I am checking with the vscode team if there is way for the extension to know if the cursor is over a valid identifier based on the language grammar.
If not, then for now, I can whitelist the below cases and return null instead of calling `godef+godoc` or `gogetdoc`
- Not a word
- Is a keyword
- Is a number
- Is part of a string literal
- Is part

[2017-01-05 22:52] mcardosos opened #712 "Go to Definition and the vendor folder"
Is there a way for `Go to Definition` and `Peek Definition` to look into the vendor folder of my project instead of wherever dependencies land when using `go get` ? It would be pretty useful for me :D

[2017-01-06 00:56] ramya-rao-a commented on #704
The new release of the extension (0.6.52) has this feature now

[2017-01-06 00:57] ramya-rao-a commented on #465
@cjqpker The new release of the extension (0.6.52) has the fix for this issue

[2017-01-06 00:59] ramya-rao-a commented on #687
#711 is merged.

@dvdplm Can you update to the latest VS Code and the latest Go extension (0.6.52), and let us know if things are better?

We will continue to work on this.

[2017-01-06 10:04] dvdplm commented on #687
@ramya-rao-a updated, will keep watching for strangeness, thanks!

[2017-01-06 10:09] holys opened #713 "gocode panic"
## What happen:

Go code completion not works for me. Then I found gocode panic

![image](https://cloud.githubusercontent.com/assets/1198913/21714578/c6c63d98-d43a-11e6-8949-12292b23957a.png)

## More information
VSCode version:   1.8.1 (1.8.1)
vscode-go: 0.6.51

MD5 (/usr/local/bin/gocode) = 2683739d6856dd1e949acd1ac7671009

[2017-01-06 10:17] holys commented on #713
It seems that I used a very code version of gocode. When I update to the latest version, it works fine.
Closed.

[2017-01-06 10:17] #713 closed

[2017-01-07 21:17] skmlcd commented on #708
I have the same problem. ```Go: Current GOPATH``` outputs "undefined". My GOPATH and GOROOT are set in .bashrc, I'm using Linux.

It only works if I manually add "go.gopath" into the settings.json which is far from ideal.

[2017-01-07 23:32] ramya-rao-a commented on #708
@skmlcd Can you try opening VS Code from the command line? `code .`

[2017-01-07 23:39] skmlcd commented on #708
Opening from command line works without the problem (GOPATH is correct).

[2017-01-07 23:44] skmlcd commented on #708
[code]

This is the desktop file (shortcut) for launching vscode. ```code-oss``` is the same as ```code```, this is only distribution package name.

[2017-01-07 23:53] YokiWorks commented on #438
Same here Ubuntu 16.04 vscode 1.8.0

[2017-01-08 00:02] ramya-rao-a commented on #708
@skmlcd In that case, this is as expected.
When opening from command line, the process running the Go extension inherits all the env variables from the shell, and so it can use the GOPATH you have set in .bashrc
When you open from the shortcut, it doesnt have access the env variables from the shell.

@Tyriar Can you confirm the above statement, in case my understanding is wrong?

[2017-01-08 00:09] Tyriar commented on #708
Yes this is likely a case of confusion with .bashrc. You probably want to put the environment variable stuff in your `~/.profile` file as you want them to apply globally, not just to bash. Check out http://serverfault.com/a/261807 for more info

[2017-01-08 00:14] skmlcd commented on #708
@Tyriar Thanks, putting it in .profile that solved the problem.

[2017-01-08 00:14] #708 closed

[2017-01-08 22:04] ramya-rao-a commented on #706
The branch [langserver](https://github.com/Microsoft/vscode-go/tree/langserver) has the integration with the language server from source graph. The below features are configured to be using the language server
- Hover
- Goto/Peek Definition
- Find All References
- File Outline
- Workspace Symbol Search

At the moment, the first 3 features work as expected.
The last 2 do not return any symbols

[2017-01-08 22:04] #706 closed

[2017-01-08 22:39] mattetti commented on #706
I assume this feature would be online only, would we keep the existing features as a fallback? Sending code to a remote server might also be a blocker for some companies

[2017-01-08 23:27] zhaohaidao opened #716 "support to execute "go get xxx" in context menu when the package can't be found."
Sometimes packages a project relies on can't be found in GOROOT and GOPATH.
I have to switch to a terminal, execute "go get xxx" to get these packages, then switch back.
Do someone feel inconvenient just like me?

Is there a plan to  support to execute "go get xxx" in context menu when the package can't be found? or maybe we can refer to gogland shown as below.

![image](https://cloud.githubuserco

[2017-01-09 03:24] ramya-rao-a commented on #716
It is unlikely that we would have this feature in the context menu. But, it is pretty straightforward to implement this as a command which you can invoke via the command palette or even have a code action show up like a light bulb as you have shown.

PRs are welcome and I can help anyone interested in taking a stab at this.

[2017-01-09 16:07] ramya-rao-a commented on #706
This is not an online feature. The language server will be hosted in the user's machine.

[2017-01-09 19:51] SimonBuckner commented on #663
I've just had this problem. This was caused by me commenting out one of my files in a package. Once I uncommented the package line and saved the file. Once I did that errors were highlighted properly.

[2017-01-10 07:53] mattetti commented on #696
I can only assume something was wrong with my system and my coworkers.

It might have been something weird with an old version of gocode running and the new one not installing properly or something else. Anyway, I can't repro on my machine anymore so I will close this story.

[2017-01-10 07:53] #696 closed

[2017-01-10 07:55] mattetti commented on #712
this is related to https://github.com/Microsoft/vscode-go/issues/700

[2017-01-10 07:57] mattetti commented on #691
@ahmetalpbalkan can you please confirm that everything is fine as per ramya's response. We haven't heard from you and I think we should close this issue for now (we can always reopen it if you have more information)

[2017-01-10 08:09] mattetti commented on #698
@ramya-rao-a on a related note, we are spawning a new process for every hover. One option would be to switch gocode for something else, another would be to implement the gocode RPC client in TS and therefore run the query from within the extension. I have to admit that I don't know the energy cost of starting a new process on Windows and Mac so I can't tell if that would even help.

One thing I kn

[2017-01-10 08:13] mattetti commented on #701
@joeblew99 VScode-go uses the following pkgs:

`
  gocode
  gopkgs
  go-outline
  go-symbols
  guru
  gorename
  godef
  goimports
  golint
  gotests
`

If the `godef` improvement gets merged in, you can `go get -u` the package to get the latest update or within VSCode, open the command palette (cmd+p) and `go: Install Tools` to update all the dependencies at once.

Would you mind closing this iss

[2017-01-10 08:15] mattetti commented on #5
@ramya-rao-a can we please close this issue. Between Go not encouraging this approach and the support for vendoring, I think it's fine to close this old issue.

[2017-01-10 08:16] mattetti commented on #297
Sounds like we should close this issue

[2017-01-10 08:18] mattetti commented on #685
I saw this issue many times after updating go and forgetting to restart vscode/gocode. VSCode relies on gocode which is run as a daemon. If Go is updated but gocode not restarted, then things break. Another reason would be that the go tools aren't installed, a warning should appear on your screen tho (look at the bottom right of your screen for another warning).

@ramya-rao-a this issue has been o

[2017-01-10 08:23] mattetti commented on #673
I'll look at adding this flag and send a PR, @ramya-rao-a would you mind allocating this issue to me?

[2017-01-10 08:36] thewhitetulip commented on #698
@mattetti I have a MBP 2012, 8hrs+ battery when I don't use VSCode, I still haven't gotten time to download and test the new binaries, I would love to use VSCode if it took equal or a little bit more energy than vi.

[2017-01-10 08:42] mattetti commented on #698
@thewhitetulip VSCodeGo and VimGo use basically the same tools under the hood so the difference might be with electron rendering. In my experience the CPU usage wasn't bad at all so I didn't notice anything specific to VSCode ( I switched from macvim).  CPU is usually the driver or energy consumption. It would be interesting to get more metrics about where "energy" is used when you code with VSCod

[2017-01-10 08:56] mattetti commented on #710
+1 thanks @ankon

[2017-01-10 09:04] thewhitetulip commented on #698
@mattetti Well, when I write Go using VSCode, then after five minutes, it pops up in "apps that use significant energy". I tried with Python, but it seems that Go extension is causing this issue. But even if this isn't the case, surely due to electron rendering vi still rocks.

[2017-01-10 11:01] qiuhaotc commented on #685
fixed with reinstall

[2017-01-10 16:23] mattetti commented on #685
@qiuhaotc awesome, do you mind closing this issue?

[2017-01-10 17:32] ramya-rao-a commented on #696
Well, we have a happy ending then :)
Thanks for taking the effort to investigate @mattetti

[2017-01-10 17:42] ramya-rao-a commented on #5
@lukehoban @ironcladlou Do you have any more thoughts on this thread? There is a PR open as well. I don't have much history here, so will leave it up to @lukehoban to take a call.

[2017-01-10 17:44] ramya-rao-a commented on #297
Thanks for the follow up @mattetti. Closing.

[2017-01-10 17:44] #297 closed

[2017-01-10 17:44] ramya-rao-a commented on #673
Done

[2017-01-10 18:00] lukehoban commented on #5
I actually think the PR in #351 is a good solution to this which doesn't change the default experience but allows folks who do want to isolate their tools into a separate GOPATH to do that.  I think this is orthogonal to multi-part GOPATH and vendoring concerns.  This is just about where to store the binaries for the tools - and it's nice to have the option to place them somewhere outside of the a

[2017-01-10 18:27] derekperkins commented on #686
I'm not invested at all in `zb`, and it sounds like the `build => install` change in #673 will solve the majority of my concerns. I just hate the ~3-5 second lag on save.

[2017-01-10 18:27] #686 closed

[2017-01-10 19:06] mattetti commented on #5
As long as the default location doesn't change I am fine. Not understanding why doing a go get -u on a tool doesn't update the version used in VSCode is problematic.

[2017-01-10 19:53] ahmetalpbalkan commented on #691
Thanks, I can't repro again either for some reason. Must be an environment issue on my end. Closing.

[2017-01-10 19:53] #691 closed

[2017-01-10 22:11] ramya-rao-a commented on #5
That's not true. `go get -u` on a tool does update the version used by VS Code as of now. Not after opting in for the feature in the PR though.

[2017-01-10 23:45] qiuhaotc commented on #685
@mattetti sure

[2017-01-11 00:18] mattetti commented on #5
Sorry for the confusing message, that's exactly what I meant. Whoever will choose 2 go bin locations will find itself in this scenario

[2017-01-11 00:41] ramya-rao-a commented on #712
@mcardosos For this already works.
Example:

- `go get github.com/godoctor/godoctor`
- `go get github.com/willf/bitset`

Now I have the `bitset` package both in $GOPATH/src and in $GOPATH/src/github.com/godoctor/godoctor/vendor`

When I open the godoctor workspace and run `Go To Definition` on a bitset type, I end up in the one inside the vendor folder.

We use `godef` by default for the `Go to De

[2017-01-11 03:02] skeleton1231 opened #717 "vscode debug issues"
My GOPATH

➜  test1  echo $PATH
/usr/local/bin:/usr/local/sbin:/Users/huanghaitao/bin:/opt/local/bin:/opt/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/X11/bin:/opt/local/lib/mysql55/bin:/Users/huanghaitao/go/bin:/usr/local/go/bin:/opt/local/lib/mysql55/bin:/Users/huanghaitao/Downloads/adt-bundle-mac-x86_64-20140702 2/sdk/tools:/Users/huanghaitao/Downloads/adt-bundle-mac-x86_64-20140

[2017-01-11 06:14] #685 closed

[2017-01-11 06:21] ramya-rao-a commented on #717
I can't say much about the error that you see when you run `dlv` from the command line,

For the error that you see in VS Code, can you set the GOPATH in the env field in the launch.config and try again?
[code]

[2017-01-11 06:23] #710 closed

[2017-01-11 06:28] ramya-rao-a commented on #228
This feature request has gotten quite a few up votes. Can someone provide a gif or a video of what is the expected behavior? I can then look into what is needed to get this implemented.

[2017-01-11 07:19] skeleton1231 commented on #717
@ramya-rao-a

my lanuch.json

{
    "version": "0.2.0",
    "env": {"GOPATH": "/Users/huanghaitao/go"},
    "configurations": [
        {
            "name": "Launch",
            "type": "go",
            "request": "launch",
            "mode": "debug",
            "remotePath": "",
            "port": 6688,
            "host": "127.0.0.1",
            "program": "${workspaceRoot}/src/calc/",

[2017-01-11 09:03] jonnenauha commented on #73
Yes, I believe these are doable. You can close this issue.

I still haven't moved from to vs code from LiteIDE for go development. But i will definitely look at it again at some point, so many improvements lately. I did move to it for most JS/HTML stuff.

[2017-01-11 10:21] tbroyer commented on #464
FWIW, just found out about https://marketplace.visualstudio.com/items?itemName=casualjim.gotemplate
Not tried it yet.

[2017-01-11 11:30] skeleton1231 commented on #20
I have the same problem
work well on Terminal

![image](https://cloud.githubusercontent.com/assets/2403591/21846929/4c36fdd0-d834-11e6-90e2-ec6c9fb33190.png)

but still fail on vscode

![image](https://cloud.githubusercontent.com/assets/2403591/21846939/5811df76-d834-11e6-8d41-607b24784e66.png)

anyone help?
I use brew install delve

[2017-01-11 14:38] ThreeBearsDan commented on #20
@roblourens I am sorry for late reply. That work well now. I do nothing, just upgrade vsnode to Version 1.7.1. So I think it must be something wrong with vscode.
@erm0l0v  Thank u. It's not the issue with certificate. I think it's the issue with vscode. I just upgrade vscode and it work well.

[2017-01-11 14:40] 0xdeafcafe commented on #360
Just started to get this issue too.

[code]

[2017-01-11 14:54] ironcladlou commented on #303
A bit of background: the current "test file" implementation works like this:

1. Collect all functions in the current file which look like test functions (regardless of the filename)
2. Execute `go test` in the package the current file lives in with a filter (via `-run`) on the identified function names

The reason it works this way is because `go test` against a specific file (not a package) does

[2017-01-11 15:01] ironcladlou commented on #288
@ramya-rao-a

Sorry, haven't had time to track this. No hard feelings if you want to close the issue and let me or someone else re-open it when/if interest is renewed.

[2017-01-11 15:06] ironcladlou commented on #5
I personally still use separate GOPATHs per project (although thankfully no longer use multi-element GOPATH entries with the widespread adoption of 1.5+ vendoring), and so have a need (and already use) a "global" GOPATH that contains my tooling binaries. So, I handle tool updates manually.

The solution in https://github.com/Microsoft/vscode-go/pull/351 would work for me.

[2017-01-11 19:29] ramya-rao-a commented on #717
Well, atleast the error is different :)
Now VS Code is able to launch delve, delve is giving those errors

@derekparker Do you know in which scenario will dlv give these errors?
![image](https://cloud.githubusercontent.com/assets/16890566/21863142/1c10ec26-d7f1-11e6-84db-9d3848e97903.png)

[2017-01-11 19:53] ramya-rao-a commented on #5
Ok then, I have pinged @samherrmann to resend the said PR after resolving merge conflicts. After that we should be good to go

[2017-01-11 20:35] ramya-rao-a commented on #288
@ironcladlou Looks like this was abandoned https://go-review.googlesource.com/#/c/10318/
So will close this.

[2017-01-11 20:35] #288 closed

[2017-01-11 20:44] ramya-rao-a commented on #244
@kokizzu As mentioned in https://github.com/Microsoft/vscode-go/issues/73#issuecomment-270196488 you can use the debugging feature to launch current package. As long as the `program` property in the launch.config points to your package, using `F5` will run your package.

[2017-01-11 20:45] ramya-rao-a commented on #73
Thanks @jonnenauha, I'll close this issue.
I have updated the other issue that references this issue as well.

Do give the Go extension in VS Code a try and feel free to provide us with feedback.

Happy Coding!

[2017-01-11 20:45] #73 closed

[2017-01-11 20:56] ramya-rao-a commented on #717
After a bit more digging this is what I found.

First off, this issue is a duplicate of #269
And related to https://github.com/derekparker/delve/issues/357

@skeleton1231 Can you go through both these issues and see if the steps there help you at all?

[2017-01-11 20:58] ramya-rao-a commented on #20
@skeleton1231. @ameykpatil  Let's use #717 to track the issue where you get the error
[code]
This is coming from delve it self and #717 is tracking this.

@erm0l0v @ThreeBearsDan Glad to hear that you are unblocked now.

Anyone else coming to this thread with the same error as above, please see #717 , #269 and https://github.com/derekparker/delve/issues/357

[2017-01-11 22:16] ramya-rao-a commented on #464
Is this feature request for having syntax highlighting for inline template strings in go files? Or for having syntax highlighting for files that contain the html or text template with Go's tags `{{ }}` ?

Also is this request the same as #228 or different?

Both this issue and #228 are getting a lot of upvotes, I am trying to understand the expected behaviour.

[2017-01-11 22:21] ramya-rao-a commented on #651
The `showLog` parameter is used only to pass the set value while starting delve.

@bawr you had initially introduced this paramater in the Go extension. Do you have any idea why setting this to false would result in the behavior mentioned in the previous comments?

[2017-01-11 22:26] ramya-rao-a commented on #473
@roblourens Could you take a look at this?

[2017-01-11 22:28] ramya-rao-a commented on #675
@yinanrong I am assuming that when you say "vscode command line" you mean the debug console.
And so closing as duplicate of #473

[2017-01-11 22:28] #675 closed

[2017-01-11 22:30] ramya-rao-a commented on #593
@xinyanmsft What do you expect `launchBrowser` to do? Launch the browser with localhost and configured port?
Can you share which C# extension are you referring to?

[2017-01-11 22:42] roblourens commented on #473
This would imply that Delve returned a `state` of null when telling it to step. I'm not sure why that would happen. @ramya-rao-a I could add a null check, in case it's an error that can be recovered from?

[2017-01-11 22:51] roblourens commented on #473
"evaluateRequest" is in the callstack, which implies that you either have a watch, or you typed something in the console. Did you do one of those?

Separate issue but I noticed that evaluateRequest assumes that you have hit a breakpoint when it's run, and it errors if you have a watch or eval something in the console before hitting a breakpoint.

[2017-01-11 23:03] andradei commented on #464
@ramya-rao-a I think #228 is referring to having things like auto-completion and go-to support when writing/editing templates.

This one would be for syntax highlighting of templates, specifically for code between `{{ }}`.

So for example: for `html/template` it could be an extension of the default html syntax highlighting for VSCode, which can also highlight code inside `{{ }}` on `.html` files.

[2017-01-11 23:26] ramya-rao-a commented on #673
@mattetti

I was doing some reading up on `go build` in general.
One of the build flags is `-a` which according to the docs will `force rebuilding of packages that are already up-to-date.`

If there is such a flag, then it doesnt make sense that `go build -o` is rebuilding all packages while building current package (Save triggers `go build -o` on current package)

I'd prefer to see some documenta

[2017-01-11 23:32] ramya-rao-a commented on #464
Thanks @andradei
In that case the extension that @tbroyer mentioned seem to be doing the needful.

@alexcrownus, @gertcuykens , @jimmykuu , @krmcbride, @xeleven, @MikeK123 , @guanxi55nba, @tampajohn (Folks who have upvoted this issue) Your thoughts on the extension? https://marketplace.visualstudio.com/items?itemName=casualjim.gotemplate ?

[2017-01-12 00:04] kjleng commented on #651
I have having the same experience as @trdyer

[2017-01-12 00:27] mattetti commented on #673
@ramya-rao-a indeed the `-a` flag is a full rebuild of everything and it's recommended not to use it since it also rebuilds the system packages which might have permission differences.

`go build -o` doesn't always rebuild all packages used by the currently build package, it builds all packages that aren't "installed" and therefore not tracked. If you run `go build -i` once, the packages that have

[2017-01-12 06:33] mattetti commented on #673
Note that the hope if that the PR is merged, the problem reported here and in https://github.com/Microsoft/vscode-go/issues/686 should be addressed.

I did some investigation, `zb` checks if a package is a command by using `go/tool` and `go/tool` uses the package name like in my PR.
zb: https://github.com/joshuarubin/zb/blob/master/lib/dependency/gopackage.go#L30

Go/tool:
https://golang.org/src/g

[2017-01-12 06:48] mattetti commented on #673
Here are some interesting threads talking about go install/go build -i:

https://www.reddit.com/r/golang/comments/2qpzm8/question_on_go_build_i_and_rebuilding_a_library/
Here the issue mentioned is that go install doesn't check for updates once a dependency package was rebuilt. So if I'm rebuilding `pkg a` that depends on `pkg b` and I updated `b` without reinstalling it, then `pkg a` will import

[2017-01-12 06:53] skeleton1231 commented on #20
@ramya-rao-a

Thanks!

I solved the problem, here is my step:

1. brew uninstall delve
2.delete the keychain for delve
3.Manual install the delve through the instruction (https://github.com/derekparker/delve/blob/master/Documentation/installation/osx/install.md)

![image](https://cloud.githubusercontent.com/assets/2403591/21879926/e623ab08-d8d6-11e6-8946-b41e4bd52913.png)

[2017-01-12 06:55] skeleton1231 commented on #717
@ramya-rao-a

see #717, I solved the problem. thanks!

[2017-01-12 06:55] #717 closed

[2017-01-12 07:10] ramya-rao-a commented on #717
@skeleton1231 You have linked the same issue :) I am guessing you meant https://github.com/Microsoft/vscode-go/issues/20#issuecomment-272090465 solved it for you

[2017-01-12 07:20] mattetti commented on #673
It doesn't look like there is a difference between go build -i and go install:
https://twitter.com/davecheney/status/819443033053609984

[2017-01-12 07:22] ramya-rao-a commented on #673
We should invite Dave to this discussion :)

[2017-01-12 07:28] mattetti commented on #673
@davecheney do you have a recommendation for us?
VsCode has a feature to optionally auto build the package you are editing. I was suggesting to add the -i flag to cache dependencies.

Q1: is there a downside to installing non main packages ? (As in should we offer a way to turn that off)
Q2: is go install a better approach?
Q3: any other recommendations to make actions at save time faster (go buil

[2017-01-12 07:32] ramya-rao-a commented on #673
Another note: The main intention of running `go build` at every save, is to show compiler errors if any.
What is being debated here is that when dependent packages have not changed, which is faster `go build -o` or `go build -i`

[2017-01-12 07:32] davecheney commented on #673
My opinion is use go install.

Dominic or Damian would be better people to ask about tool recommendations.

On Thu, 12 Jan 2017, 18:28 Matt Aimonetti <notifications@github.com> wrote:

[2017-01-12 07:39] davecheney commented on #673
In the scope of one run, neither is faster. In the scope of subsequent builds, the latter will be faster.

[2017-01-12 07:48] ramya-rao-a commented on #5
PR is merged. This will be out in the next update. Thanks everyone!

[2017-01-12 07:48] #5 closed

[2017-01-12 10:34] kybom opened #719 "cann't change import infomation"
Once save the change import infomation ,it recovers.
Go 0.6.52
![qq 20170112183206](https://cloud.githubusercontent.com/assets/24692485/21886221/baf2e358-d8f5-11e6-8086-f43e1f853aa4.png)

[2017-01-12 16:06] gertcuykens commented on #464
The extension should be considered a temporary solution because it uses just custom syntax highlighting. For example the vscode html engine does allot more then just that.

To explain it more simply just rename your `.go` file that contains your template with let say 90% html code to `.html` Notice the much more in depth syntax highlighting + snippets + js support and every other build in feature

[2017-01-12 17:29] gertcuykens commented on #228
![image](https://cloud.githubusercontent.com/assets/863731/21900197/4592b658-d8f3-11e6-9546-6b3f34dd7f04.png)

renamed to `.html`
![image](https://cloud.githubusercontent.com/assets/863731/21900219/57a99672-d8f3-11e6-8d47-68a79c283e78.png)

So in short use the vscode html engine and just add parameters like, hey html engine all that non html stuff like `{{...}}` don't worry about that, here are th

[2017-01-12 18:56] ramya-rao-a commented on #719
Are you saying that when you add a new import statement and save, it disappears?

If yes, then this is due to the formatting tool. By default, the extension uses `goreturns` as the formatting tool. By default, formatting is run on save. `goreturns` removes any unused imports.
So if you add an import, but don't use it, then it will be removed.

Workaround:
Use the new import before saving
OR
Change

[2017-01-12 21:35] ramya-rao-a commented on #399
For people who see "Failed to continue: "Cannot find Delve debugger. Ensure it is in your 'GOPATH/bin' or 'PATH'."

- The debugger in the Go extension cannot read GOPATH from the user/workspace settings. You need to specifically set the GOPATH in the `env` property in the lanuch.json

- If your GOPATH was set as env variable outside of VS Code and you didnt have to set GOPATH in user/workspace set

[2017-01-12 21:35] #399 closed

[2017-01-12 21:39] ramya-rao-a commented on #185
@mikepc See https://github.com/Microsoft/vscode-go/issues/708#issuecomment-271119503 Setting GOPATH in `~/.profile` should help.

Note to rest:

- The debugger in the Go extension cannot read GOPATH from the user/workspace settings. You need to specifically set the GOPATH in the `env` property in the lanuch.json

- If your GOPATH was set as env variable outside of VS Code and you didnt have to set

[2017-01-12 21:39] #185 closed

[2017-01-12 21:43] ramya-rao-a commented on #358
@nuclearsandwich Can you try again with the latest VS Code and latest Go extension?

The debugger cannot read GOPATH from the settings. Therefore, if it is not set outside of VS Code as an env variable, then setting it via the `env` property in the launch.json is the way to go

[2017-01-12 21:46] ramya-rao-a commented on #466
@mrichman You can use `${workspaceroot}` instead of typing out the whole absolute path as well.
For example in your case you can set

`"program": "${workspaceroot}/cmd/myapp/main.go"`

instead of

`"program": "/Users/mrichman/go/src/github.com/mrichman/myapp/cmd/myapp/main.go"`

Assuming that you have opened /Users/mrichman/go/src/github.com/mrichman/myapp in VS Code

[2017-01-12 21:46] ramya-rao-a commented on #466
Closing this as we havent heard back anything recently.

[2017-01-12 21:46] #466 closed

[2017-01-12 21:49] ramya-rao-a commented on #474
Closing this issue as we havent heard back from the OP.

[2017-01-12 21:49] #474 closed

[2017-01-12 21:53] ramya-rao-a commented on #202
@fhbzyc I'll close this issue as we havent heard back from you in a while.
If you still see the issue, please comment here and I will open the issue and investigate.

[2017-01-12 21:53] #202 closed

[2017-01-12 21:57] ramya-rao-a commented on #232
Over the months, this issue has gotten inputs on multiple problems, with the later ones being fixed.
Also, the code around the said features have changed quite a bit as well.

Am closing this issue for now, as there is no more actionable items here.

Please open a new issue, as this issue has been garbled enough.

[2017-01-12 21:57] #232 closed

[2017-01-12 23:36] ramya-rao-a commented on #241
@natefinch
The output from build, vet and linting is also sent to the Problems view from where they are clickable and would take you to the right file and line.

[2017-01-13 00:32] ramya-rao-a commented on #383
@mavenugo Closing this for now, as we havent heard back from you.
Like I said, quite a few things have changed since July, please give latest VS Code and the latest Go extension a try.

If you still have issues, freel free to comment here, and I can re-open the issue and investigate

[2017-01-13 00:32] #383 closed

[2017-01-13 00:37] ramya-rao-a commented on #344
@peterbourgon @eosrei Any updates?

[2017-01-13 00:40] ramya-rao-a commented on #331
@matwachich Are you referring to tasks in general or the build/linting/testing output from the Go extension?

[2017-01-13 00:44] ramya-rao-a commented on #338
@mdempsky #673 is currently tracking the idea to use `go build -i` while running build on save to make the subsequent builds on save faster.
`go build -i` would install the dependent packages which would satisfy your request.

@lukehoban Please provide your thoughts on #673

Closing this issue.

[2017-01-13 00:44] #338 closed

[2017-01-13 00:48] ramya-rao-a commented on #350
When I run `Go: Test coverage in current package`, the non `_test` files of the current package get updated with highlighted code that has been covered.

I am using go 1.7 in a Windows 10 machine and OS X El Capitan 10.11.6

Do any of you see any errors in the console?

[2017-01-13 01:38] matwachich commented on #331
Any task

Le ven. 13 janv. 2017 à 01:40, Ramya Rao <notifications@github.com> a
écrit :

[2017-01-13 01:38] ramya-rao-a commented on #318
Like the [README](https://github.com/Microsoft/vscode-go#optional-debugging) says, to debug tests, you need to add a configuration in the launch.config with `"mode": "test"`

For debugging single tests, as @marklap has shown you can pass `-test.run` and the Test name as args.
These args will be passed to `dlv`.

[2017-01-13 01:38] #318 closed

[2017-01-13 01:40] kybom commented on #719
Yes,and i cann't even delete the blank line too.
![qq 20170113093825](https://cloud.githubusercontent.com/assets/24692485/21915351/5361671c-d974-11e6-8be7-aef925db2b17.png)

[2017-01-13 01:42] ramya-rao-a commented on #313
Closing this as there has not been any ongoing discussion here

[2017-01-13 01:42] #313 closed

[2017-01-13 02:00] ramya-rao-a commented on #558
Now that we have the whitelist of keywords in https://github.com/Microsoft/vscode-go/blob/master/src/util.ts#L16, this is very easy to implement, if anyone wants to take a crack at it.

Hint: Start at `goSuggest.ts`

[2017-01-13 02:03] ramya-rao-a commented on #532
With #351 merged in, there will now be an option to install the Go tools that the Go extension needs in a separate location.
Deleting the source code for these tools in this situation is doable

[2017-01-13 02:06] ramya-rao-a commented on #525
@mbana We now have a branch that uses the language server by sourcegraph.
See #706

As and when the language server by sourcegraph gets more features, we can update the branch accordingly.

At this moment there is nothing specific to track from the VS Code Go extension's perspective.
Therefore, closing this issue

[2017-01-13 02:06] #525 closed

[2017-01-13 02:10] ramya-rao-a commented on #452
Sorry for the late response.

@Narven We now know that the behaviour you are seeing is usually caused by one of the other extensions interfering with the save process. If you are still seeing this issue, then can you try disabling other extensions that you may have and see if this still persists?

@c633 Can you try the same? i.e disable other extensions and see if you still see the issue?

[2017-01-13 02:12] ramya-rao-a commented on #633
@rightfold you have upvoted my answer, so I am assuming that you are happy with the answer.
Therefore closing this issue.

[2017-01-13 02:12] #633 closed

[2017-01-13 02:17] ramya-rao-a commented on #632
@hickeng On the same line, wouldn't you also need GOARCH?
@mattetti You have any thoughts here?

[2017-01-13 02:18] ramya-rao-a commented on #663
@SimonBuckner Can you give a sample code?

[2017-01-13 02:23] ramya-rao-a commented on #153
@conikeec @sevein
There have been quite a few changes in both VS Code and the Go extension since last March.
Do you still have issues with GOPATH?

[2017-01-13 02:24] ramya-rao-a commented on #309
Closing this issue as we havent heard back from the OP in a long time.

[2017-01-13 02:24] #309 closed

[2017-01-13 02:33] ramya-rao-a commented on #572
Once https://github.com/Microsoft/vscode/issues/18485 is implemented, we can stop suggesting the unimported packages when the cursor is inside a string or comment or import block etc.

[2017-01-13 02:35] ramya-rao-a commented on #683
@ironcladlou

The Go extension now can use the latest VS Code API (https://github.com/Microsoft/vscode-go/blob/master/package.json#L52), so you should be able to get the new feature.

[2017-01-13 02:36] ramya-rao-a commented on #692
@NikosEfthias Can you update your version of dlv, VS Code and the VS Code Go extension, and give this another try?

[2017-01-13 02:37] ramya-rao-a commented on #719
That is also done by the formatting tool.
As a guideline, there is always a blank line between the standard packages and any third party packages

Closing this issue as by design.

[2017-01-13 02:37] #719 closed

[2017-01-13 02:38] ramya-rao-a commented on #331
In that case, that should be feature request for VS Code and the Go extension.
Please create an issue at https://github.com/Microsoft/vscode

[2017-01-13 02:38] #331 closed

[2017-01-13 02:53] #303 closed

[2017-01-13 10:18] svanas commented on #473
bq. "evaluateRequest" is in the callstack, which implies that you either have a watch, or you typed something in the console. Did you do one of those?

@roblourens No, but VSCode does watch all local variables in a VARIABLES panel -- could that be related to this problem?

[2017-01-13 12:59] peterbourgon commented on #344
I haven't noticed this in the past few months. I've just tried exactly the steps I gave above and failed to reproduce. So I guess something got fixed in the interim. Thanks for the followup! I'll let you close the issue if you think it's OK.

[2017-01-13 13:14] nochso commented on #350
I can confirm this. There is no output in the console. Turns out my tests were failing, but the extension kept quiet.

This doesn't capture any errors: https://github.com/Microsoft/vscode-go/blob/a46f3133d463e811661666a8369d207d5c41cc75/src/goCover.ts#L110

I've submitted a pull request that made this work for me #721

[2017-01-13 15:59] Depado commented on #228
That's quite the same as the [Jinja support](https://marketplace.visualstudio.com/items?itemName=wholroyd.jinja) actually. That would be so cool 👍

[2017-01-13 18:25] roblourens commented on #473
It doesn't send an evaluateRequest for that, so I'm not sure where else it would have come form.

[2017-01-13 18:34] ramya-rao-a commented on #344
Thanks @peterbourgon I'll close this issue.
@eosrei If this still occurs, please drop a note.

[2017-01-13 18:34] #344 closed

[2017-01-13 19:07] mjbvz opened #722 "Tooling stops working after VSCode update"
_From @olliephillips on January 13, 2017 10:15_

- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 15.0.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|elm-format|abadi199|0.1.0|
|Go|lukehoban|0.6.51|
|prettify-json|mohsen1|0.0.3|
|elm|sbrink|0.8.3|
|Material-theme|zhuangtongfa|1.0.3|

---

Steps to Reproduce:

1.

[2017-01-13 22:11] #350 closed

[2017-01-14 02:56] xinyanmsft commented on #593
here's how you can get the launchBrowser option in launch.json:
  1. create a .net c# project.
  2. open VSCode (you need to have the c# plug-in and debugger installed. ms-vscode.csharp)
  3. enable .Net Core debugging in VSCode.
then you should see the launch.json file contains the following section:
              "launchBrowser": {
                "enabled": true,
                "args": "${auto

[2017-01-14 07:17] svanas commented on #473
@roblourens could command-line arguments be related to that, maybe? I get the impression a CLI-with-command-line-args is making `texting` more unstable than a debug session without them.

[2017-01-14 08:24] taketori opened #723 ""Cannot find Delve debugger at dlv" even if go.gopath is set and dlv is in go.gopath/bin"
- VSCode Version: Code 1.8.0 (38746938a4ab94f2f57d9e1309c51fd6fb37553d, 2016-12-13T17:45:32.595Z)
- OS Version: Windows_NT ia32 10.0.14393
[code]
(I set neither GOPATH, GOROOT nor PATH to go.exe in control panel for some reason.)
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.52|

---

what I experienced:
- vscode showed error message like title of this issue.

what I ex

[2017-01-14 21:19] ramya-rao-a commented on #723
@taketori The debug adapter at the moment cannot read the settings, and so is not aware of the GOPATH you set in the settings.

Either, your PATH has to point to dlv or the GOPATH should be set outside VS Code as an env var.

[2017-01-15 01:57] ramya-rao-a commented on #723
If you are not setting GOPATH outside of VS Code, then you need to set it in the `env` property in `launch.json` so that `dlv` gets the right GOPATH to use.

[2017-01-15 06:42] taketori commented on #723
Thank you for your quick reply.
I tried after doing as you suggested,  but it did not work .

my launch.json:
[code]
so I added 2 lines (**) to and comment-outed 7 lines from goDebug.js
[code]
This is probably not right way, but works fine for me.

[2017-01-15 20:32] mattetti commented on #722
that's extremely odd, goimports and gofmt are executables that get called from VSCode at various times. Updating VSCode shouldn't cause any issues with those tools.
@olliephillips can you provide us with a bit more information?

[2017-01-15 21:21] Zignd opened #724 "Improvement on documentation on how to debug test files"
I'm having a hard time trying to understand how to use the plugin to debug test files. Could you guys make it more descriptive?

Thanks in advance.

[2017-01-16 00:17] ramya-rao-a commented on #724
Just add another config in your `launch.json` with `mode` set to `test`.

There is a drop down in the `Code Debug` viewless that lets you choose which config among the many in `launch.json` you want to use.

Choose the newly created config and any breakpoints in your test code or the code that is being tested will be hit.

To debug individual tests, pass `-test.run` and the test name as `args` in

[2017-01-16 00:17] #724 closed

[2017-01-16 01:17] ramya-rao-a commented on #723
@taketori
Is there any reason, you don't want to set GOPATH as an env variable outside of VS Code in Windows?

Adding GOPATH in the `env` property in the launch.json was so that when `dlv` starts running, it knows the GOPATH

But, `dlv` cannot be run if it is not found in the first place (your original issue `Cannot find Delve debugger...`), for which you need to have the GOPATH set as an env vari

[2017-01-16 03:25] mattetti commented on #219
I agree with @ramya-rao-a that would be really great, @roblourens can you help by any chance?

[2017-01-16 03:27] mattetti commented on #239
@ramya-rao-a can we mark this as a duplicate of #438 and close this issue?

[2017-01-16 03:28] mattetti commented on #298
While this is indeed a problem, I'm afraid this isn't a VSCode specific issue and therefore I'd suggest we close this issue @ramya-rao-a

[2017-01-16 03:32] mattetti commented on #321
@dylan-bourque if the issue has been solved would you mind closing this issue? (too bad we don't know what component fixed the issue tho).

[2017-01-16 03:34] mattetti commented on #334
Is that still an issue? AFAIK the debugger integration received a bunch of fixes over the last few months and hopefully that specific problem was fixed within the last 8 months.

[2017-01-16 03:48] mattetti opened #726 "Feature request: always display references"
This is probably a hard one but something that is super useful when writing C# in Visual Studio

The feature is defined here: https://code.visualstudio.com/docs/editor/editingevolved#_reference-information
![](https://code.visualstudio.com/images/editingevolved_referenceinfo.png)

VSCode supports this feature when asking for references of a specific value, but the data isn't cached and it isn't al

[2017-01-16 06:31] #239 closed

[2017-01-16 06:43] mattetti commented on #632
It is a bit of an edge case but I agree that it would be a useful feature to have. @hickeng can you explain a bit more your edge case, are you trying to check that your code compiles properly against multiple os/arch targets?

[2017-01-16 06:51] mattetti opened #727 "Feature request: show warnings and errors as light bulbs"
https://code.visualstudio.com/docs/editor/editingevolved#_errors-warnings

We support nice linters tools and it would super useful to be able to see their warnings, errors and suggestions side by side the code.

![](https://code.visualstudio.com/images/editingevolved_errorsinline.png)

https://code.visualstudio.com/Docs/extensionAPI/vscode-api#_a-namecodeactionprovideraspan-classcodeitem-id464code

[2017-01-16 08:17] mattetti commented on #727
Note that after reading the guidelines and looking at the API, I realize that the light bulbs should only be used when an actual action can be offered to the user as shown here:

![](https://code.visualstudio.com/images/language-support_quick-fixes.gif)

So we probably should start by listing the kind of actions we would like to offer actions for.

- [ ] Unused variables
- [ ] Missing documentatio

[2017-01-16 08:24] mattetti opened #728 "Feature request: offer unit test generation feature in context menu"
The Go extension offers ways to generate tests for a function, file or an entire package. However, this feature is "hidden" in the palette menu. I would suggest to have those also available in context menus.

For instance `Generate unit tests for current function` could be available when right clicking the function name, `Generate unit tests for the current package` could be available when right c

[2017-01-16 08:30] mattetti opened #729 "Combine go to test file and implementation of test file commands to a single toggle command"
Switching back and forth between the implementation and the test file should be able to be mapped to a keyboard shortcut. We have 2 exposed commands that can be mapped:

https://github.com/Microsoft/vscode-go/blob/fcc14da45c4228a2c8ce0aca5f7b2842eb03ef74/package.json#L139

* `go.open.test.file`
* `go.open.test.implementation`

[code]

Would work one way, but we would need to add some sort of `when

[2017-01-16 08:33] mattetti commented on #729
It doesn't look like the `when` API would allow to check the current filename and turn on/off a specific command: https://code.visualstudio.com/docs/customization/keybindings#_when-clause-contexts

[2017-01-16 10:20] olliephillips commented on #722
Thanks @mattetti. At this stage I'm afraid there's nothing else I can offer.  If the issue occurs again I'll update of course, and since my setup is not atypical maybe others will see issue and help corroborate here.

[2017-01-16 13:52] andrewrgoss commented on #334
Yes, I was able to resolve this issue several months ago by reinstalling Delve altogether - it had originally conflicted with an existing library in the first installation. The cryptic error message wasn't too helpful obviously - figured out the underlying problem through guess-and-check basically. Closing this issue now.

[2017-01-16 13:52] #334 closed

[2017-01-16 15:01] dylan-bourque commented on #321
No problem, @mattetti.

[2017-01-16 15:01] #321 closed

[2017-01-16 20:19] ramya-rao-a commented on #298
@mattetti Agreed.

[2017-01-16 20:19] #298 closed

[2017-01-16 20:26] ramya-rao-a commented on #729
Toggle would be a better option, in which case I'd prefer to replace the existing 2 commands with just a single command "Go: Toggle Test File" (needs a better name?)

The `when` api does support the `editorLangId` which we can use to bind to the toggle command.

[2017-01-16 20:44] ramya-rao-a commented on #394
In the extensions view, you can now see more details about the extension

![image](https://cloud.githubusercontent.com/assets/16890566/21998398/5ac982f6-dbe9-11e6-9898-b4ea2398442c.png)

By default, you get read the same README that is part of the repo for the Go extension
The second tab "Contributions" lists out all the settings and commands that are shipped by the Go extension.
Changelog of cour

[2017-01-16 20:44] #394 closed

[2017-01-16 20:48] hoboman313 opened #730 "debug.test: no such file or directory"
I'm trying to debug and step through my tests, but I keep getting:
[code]

My launch config is:
[code]

go version go1.7.4 darwin/amd64
vscode-go 0.6.52

[2017-01-17 01:07] term1nal commented on #239
Well... excuse me. This issue was filed 4 months in advanced of #438. If anything, **that** issue is a duplicate of **this** one. But whatever.

[2017-01-17 10:32] bruceauyeung opened #732 "When build fails with errors that do not match known problem matchers, print it to output channel"
for example, i have a struct
[code]
but i try to construct an instance like this:
[code]
checkIfActive is incorrect , it should be `CheckIfActive `, but vscode-go doesn't detect this.

vscode-go version:0.6.52
vscode version:1.8.1
os: Ubuntu 16.04.1 LTS KDE 64bit
i have update all dependencies of vscode-go by running:
[code]

my user settings.json:
[code]

[2017-01-17 11:59] #701 closed

[2017-01-17 12:03] joeblew99 commented on #701
i doubt the godef improvement will get merged.

[2017-01-17 18:50] ramya-rao-a commented on #732
I am able to see the errors. See below where I have a struct "ABC" and I have wrongly spelt "Hello" as "hello"

<img width="1026" alt="screen shot 2017-01-17 at 10 44 19 am" src="https://cloud.githubusercontent.com/assets/16890566/22034765/242dad44-dca2-11e6-803e-1501065f944e.png">
<img width="290" alt="screen shot 2017-01-17 at 10 45 28 am" src="https://cloud.githubusercontent.com/assets/16890566

[2017-01-17 18:52] ramya-rao-a commented on #730
That seems to be an error from `dlv`. Can you try running `dlv` from the command line for your tests and see if you get the same error?

[2017-01-17 18:55] ramya-rao-a commented on #730
Also are you able to debug your package in the `debug` mode? This is to ensure that you have `dlv` set up properly. Since you are on Mac, many users have had signing issues.

[2017-01-17 20:01] hickeng commented on #632
@ramya-rao-a For completeness yes, but it's GOOS that's the most awkward currently.

@mattetti The multi-target case is definitely one that I hit, but it's not actually the one I experience on a daily basis.
I'm using Windows for my OS for various reasons but core portions of code I'm developing build only on Linux. It's easy enough to build that portion of the code in a VM or cross-compile but th

[2017-01-18 00:56] bruceauyeung commented on #732
@ramya-rao-a  no, the problem here is different from yours. even i change a file and then save it, vscode-go doesn't notify me the error

[2017-01-18 00:58] hoboman313 commented on #730
Yes, debugging works well otherwise. I'm able to create endpoints, step through them, etc... I see the related 'debug' binary get generated too.
I did not have to install delve myself. I assume the plugin uses its own internal version.

[2017-01-18 01:31] ramya-rao-a commented on #732
Do you see any errors when you run `go build` on the package which uses the struct?
Do you see any errors in the output panel when you make a change and save the file that uses the struct?

[2017-01-18 02:10] ramya-rao-a commented on #632
Thanks @hickeng. This should be easy to do.

PRs are welcome if anyone wants to take a crack at this.

Hints:
- Add a new configuration property in [package.json](https://github.com/Microsoft/vscode-go/blob/master/package.json#L255)
- Update [updateGoPathGoRootFromConfig](https://github.com/Microsoft/vscode-go/blob/master/src/goInstallTools.ts#L171) which updates GOPATH and GOROOT from settings to

[2017-01-18 02:14] ramya-rao-a commented on #730
No, the plugin does not install delve, you must have installed it at some point.

Does the 'debug.test' file get created when you are debugging in the test mode?

[2017-01-18 03:34] bruceauyeung commented on #732
hi @ramya-rao-a , i just created a brand new project and i can see the same with you.
[code]

but with my k8s project, it didn't notice me that error

[code]

and i tried to go build that package but got error:
[code]
it looks like a golang error, but all my tests run on the same machine.

[2017-01-18 04:12] ramya-rao-a commented on #732
The Go extension depends on the output of `go build` to show you errors. But you seem to have problems running `go build` itself.

Without fixing the golang errors that you are seeing, I don't think there is anything the the Go extension can do, am sorry :(

One thing that can be done, is that we can show a message saying `go build was not run successfully, please see the output pane` and show the

[2017-01-18 08:42] bruceauyeung opened #733 "vscode-go doesn't handle directory link in vendor correctly"
vscode-go version:0.6.52
vscode version:1.8.1
os: Ubuntu 16.04.1 LTS KDE 64bit

there are some packages laid outside of `vendor` directory but they are dependencies of Kubernetes project. we have to make soft links like the following:
[code]
after making soft links like this , i can build Kubernetes  correctly now.
but in vscode, these three directory(actually soft links) `apiserver`, `client-go`,

[2017-01-18 08:49] bruceauyeung commented on #733
sorry for those Chinese characters in the snapshot and output, i should have changed LANG environment variable. if any confusions about this, please tell me.

[2017-01-18 09:14] bruceauyeung commented on #733
the problem is caused by incorrectly make soft link, closing this issue.

[2017-01-18 09:14] #733 closed

[2017-01-18 11:24] DasJott commented on #239
No one looks on the dates anymore...

[2017-01-18 14:54] winduptoy commented on #249
@lukehoban How does one specify to build with the `gb` tool instead of the standard `go build`?

[2017-01-18 18:20] ramya-rao-a commented on #730
So you are saying you had to change the `program` attribute in launch.json was not pointing to the right package?

[2017-01-18 20:31] hoboman313 commented on #730
That's right. The program attribute must actually point to a directory which contains your tests.

[2017-01-18 20:57] ramya-rao-a commented on #730
Thanks! I'll update the docs to include that note as well

[2017-01-18 22:51] tw1nk commented on #728
I did a quick test on implementing this by adding
[code]
To the contributes section in package.json for vscode-go.

It sort of works (as well as from the command palette) but as it doesn't seem vscode offers any way to have more control over the "when" property then what's predefined for the keyboard shortcuts and it seems you can't do your own logic on when a menu item should be visible I don't f

[2017-01-19 00:34] hoboman313 commented on #707
I don't think it's a duplicate of that particular ticket.
It's some kind of a bad interaction between the highlighting ( linter error ) and multiline strings. I fixed the reported issue myself by removing 'string' from the variable declaration ( fixes the linter error ).

[2017-01-19 00:36] ramya-rao-a commented on #728
Also, we wouldn't want this option to show up in a test file.

[2017-01-19 00:37] ramya-rao-a commented on #707
Oh, so you were referring to linting errors showing up in wrong places?

[2017-01-19 00:52] hoboman313 commented on #707
It appears that linting errors break highlighting for the rest of the file when they're on the same line as multiline strings.
Paste:
[code]
into vscode to see what I mean

[2017-01-19 06:47] ramya-rao-a commented on #707
This is a duplicate of #666. Even if you turn linting off, you would still see the issue with the sample code you shared. VS Code uses grammar from atom to render the colors for the text. The problem is with the grammar.
Here is the related issue in atom https://github.com/atom/language-go/issues/103

[2017-01-19 07:31] ankon commented on #673
Just to confirm/clarify:

I did that. If I understand this ticket correctly then the go extension will _also_ trigger a full compile on saving? In my case though this isn't that expensive because most of my packages are installed the moment I start the debugger for the first time?

[2017-01-19 08:27] ramya-rao-a commented on #673
@ankon
Yes, once this changes are in, all dependent packages of the file you are editing would be up to date. So when delve runs the build using the `buildflags: -i` you send via launch.json, that would not be as expensive as it might be today.

[2017-01-19 08:37] ramya-rao-a commented on #673
@mattetti I did some more digging and my findings match yours. PR approved and merged :)

[2017-01-19 08:37] #673 closed

[2017-01-19 08:47] ramya-rao-a commented on #673
@mattetti More on exactly what you have been saying: Below is from https://twitter.com/MorganGeek/status/821981043527974914

[2017-01-19 16:50] ccirello opened #734 "`Go: test at cursor` doesn't work"
Steps to reproduce:
1 - correctly configured Go environment outside the vscode.
2 - settings.json configured both with GOPATH and GOROOT (double checked with process `process.env['GOPATH']` and `process.env['GOROOT']`).
3 - open a test file, and move cursor to a test with a known failure.
4 - Call command prompt and choose `Go: Test at Cursor`

Result:
[code]
(one liner)

Expected: some output sho

[2017-01-19 17:09] f0zi commented on #689
Attaching a diff that solves that for me.

[goDebug.ts.diff.txt](https://github.com/Microsoft/vscode-go/files/717247/goDebug.ts.diff.txt)

Note: I did `findPathSeperator` because I often have something like `"program": "${workspaceRoot}/test"` in my launch.json which gives the wrong results on Windows.

[2017-01-19 18:17] ccirello commented on #734
Important additional information: The workspace root is my GOPATH.

[2017-01-19 19:17] mbana commented on #706
fyi: "File Outline" aka `textDocument/documentSymbol` works in one of the branches, it's probably not in master hence why it's not working.

you might want to ping @sqs (https://github.com/sqs).

[2017-01-19 19:49] ramya-rao-a commented on #706
Thanks @mbana!
@sqs ?

[2017-01-19 20:09] keegancsmith commented on #706
@ramya-rao-a try on the latest master, I fixed that bug last week.

[2017-01-19 23:39] nikhilraog09 commented on #318
I'm trying to debug some test (lets say TestABC with some build tags and command line options for verbosity and so on). I run it as Ex:

what would be the right test/sample configuration to debug with dlv ?

[2017-01-20 00:21] marklap commented on #318
I'd try this...

    {
        "version": "0.2.0",
        "configurations": [
            {
                "name": "Launch TestABC",
                "type": "go",
                "request": "launch",
                "mode": "test",
                "remotePath": "",
                "port": 2346,
                "host": "127.0.0.1",
                "program": "${workspaceRoot}",
                "e

[2017-01-20 01:01] ramya-rao-a commented on #732
The PR #735 will help with this

[2017-01-20 01:06] ramya-rao-a commented on #664
Such errors do not have a filename/linenumber for the editor to use to show the red squiggly lines.

With #732 you can now this see this error in the output pane.

I'll keep looking at a way to get a visual indicator in the file as well. Maybe a red squiggly in the line that defines the "package" ?

[2017-01-20 01:10] ramya-rao-a commented on #734
It works for me...

Does this happen only a single project or all projects?

What about other commands ?
`Go: Test File` `Go: Test Package`

[2017-01-20 01:11] ccirello commented on #734
All projects in this workspace.

All of them fail.

[2017-01-20 01:14] ramya-rao-a commented on #734
That's interesting..

What is the message you get when you run the other 2 commands?

Can you run `go test` in the command line work for the package in question?

[2017-01-20 01:17] ccirello commented on #734
[code]

Yes, and all my tests go fine when I call them on the shell.

[2017-01-20 01:37] ramya-rao-a commented on #318
@nikhilraog09 Also ensure that the `program` property points to the package to which your test belongs

[2017-01-20 01:44] ramya-rao-a commented on #734
When you run `Go: Test Package`, the extension runs the below with the package as `cwd` assuming you havent changed any of the `go.testTimeout` , `go.buildTags` and `go.buildFlags` settings.

` go test -v -timeout 30s -tags`

So if can run ` go test -v -timeout 30s -tags` in the directory where your test file exists, then I don't see why the extension is not able to run the tests as well.

@ironcl

[2017-01-20 01:46] ccirello commented on #734
[code]

That's what I get. Without `-tags` it goes just fine.

[2017-01-20 02:22] ramya-rao-a commented on #734
Do you see anything logged in the console? Run `Developer: Toggle Developer Tools` to see the console

[2017-01-20 02:35] atombender commented on #664
Yes — errors without a line number can be associated with line 1, in my opinion. Not ideal, but better than no error at all. I use "go to next marker" to find the next error to fix, and obviously the import cycle error doesn't show up that way.

[2017-01-20 04:05] dotnetjalps commented on #441
For me this is how it works.

Update the go version to Go 1.7.4 and then get latest version of all the tools.
go get -u -v github.com/nsf/gocode
go get -u -v github.com/rogpeppe/godef
go get -u -v github.com/golang/lint/golint
go get -u -v github.com/lukehoban/go-outline
go get -u -v sourcegraph.com/sqs/goreturns
go get -u -v golang.org/x/tools/cmd/gorename
go get -u -v github.com/tpng/gopkgs
go g

[2017-01-20 04:59] ramya-rao-a commented on #5
I was testing this feature of using the env var as a separate location for the Go tools.

This doesn't work for `gometalinter`. As part of streamlining the go tools installation experience, with #735, `gometalinter` and the linters it uses will be installed when user clicks on "Install All" or the "Analysis Tools Missing" or via the "Go: Install Tools" command.

If `gometalinter` and its linters g

[2017-01-20 05:20] hartshorne opened #736 "expand ${workspaceRoot} in go.testEnvVars and go.toolsEnvVars configuration"
Just like go.gopath: https://github.com/Microsoft/vscode-go/commit/f83579f568055f8528234f56d32238f308f47ddb (https://github.com/Microsoft/vscode-go/issues/237)

[2017-01-20 06:57] ramya-rao-a commented on #706
@keegancsmith Just tried. Both File Outline and Workspace Symbols work now.
Thanks!

[2017-01-20 07:00] ramya-rao-a commented on #560
What is being suggested is from the auto-complete list. If this was a code-action, then the error squiggles should be expected to go away. In this case, one has to save to trigger build, to remove the errors. Closing as by design

[2017-01-20 07:00] #560 closed

[2017-01-20 13:54] ironcladlou commented on #734
@ccirello

Try:
[code]

The `-tags` flag requires an argument.

@ramya-rao-a

Interestingly, we're [passing the tags flag](https://github.com/Microsoft/vscode-go/blob/master/src/goTest.ts#L156) even when no `go.buildTags` is set, which is wrong, but surprisingly, works. In the debugger, I can see the args array we build:

[code]

I wonder if `cp.spawn()` is quoting the empty argument value? For ex

[2017-01-20 16:16] danielweck commented on #360
This worked for me:
https://github.com/derekparker/delve/issues/645#issuecomment-264677407

Basically, to re-compile (and re-sign) Delve using the fork https://github.com/bx-zhanjh/delve.git (branch `new_fork_exec`) instead of the original https://github.com/derekparker/delve.git

OSX El Capitan 10.11.6
VSCode 1.8.1
Go 1.7.4

[2017-01-20 17:06] ccirello commented on #734
@ironcladlou as I mentioned in https://github.com/Microsoft/vscode-go/issues/734#issuecomment-273954169 it goes just fine without the `-tags` flag.

[2017-01-21 02:56] taketori commented on #723
I'm sorry for my late reply.

The reason why I don't set GOPATH outside of VS Code is that I have used several "go"es of wsl, cygwin, mingw and  [compiled windows binary](https://storage.googleapis.com/golang/go1.7.4.windows-amd64.zip) and they, VS Code and another development tools are in SD card as I want environment to be portable. so I set variables by a kind of launcher like cygwin.bat, msys2

[2017-01-21 08:47] jeffprestes commented on #585
Sorry, I am still facing same issue to debug my application with Delve
I followed these steps: https://fresh-air.aerobatic.io/post/debug-golang/ but I am using a MAC
I gave +x permission to vscode directories and to my application directory and same issue.
Could you help me out to check where I should set the correct permission?

[2017-01-21 20:10] atombender opened #738 "Feature request: Add "," after inserting "}""
Say I have this:

[code]

If I type `{`, VSCode will automatically insert `}` for me, which is great:

[code]

But this isn't valid Go code, and it'd be nice if we could get a trailing comma here. It gets especially annoying if I press Enter, where the end `}` will be correctly intended, but now I have to move down to insert the missing comma:

[code]

The Go extension should be able to recognize

[2017-01-21 22:32] ramya-rao-a commented on #585
@jeffmcaffer Can you share the complete error message you are seeing?
Also open the console (`Developer: Toggle Developer Tools`) and share any errors and call stack from there.

[2017-01-22 04:37] ramya-rao-a commented on #683
@ironcladlou I have updated the PR #482 to reflect your suggestions. Can you take a look?

[2017-01-22 21:28] jeffprestes commented on #585
@ramya-rao-a for sure.
Failed to continue: "Error: spawn EACCES"
[code]

[2017-01-22 22:39] ramya-rao-a commented on #585
Thanks @jeffprestes, and can you confirm that the rest of the Go extension features work for you?
Like Hover Info, Goto Definition, Find all references, Rename, Building, Linting, Formatting?

And is `dlv` working from the command line for you? This is to ensure that the dlv set up was correctly done.

cc @roblourens for thoughts on the callstack related to debugging

[2017-01-22 23:12] jeffprestes commented on #585
Except for debug, coding Go in vscode in my machine is great! Amazing tool. We just need to fix this to become perfect!
dlv in command line is also running OK.

[2017-01-23 00:00] ramya-rao-a commented on #585
The "Unable to display threads" is coming from https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L440 when try to get list of goroutines from delve.

@roblourens Is `threadsRequest()` one of the first things expected to run in the debug adapter?

@jeffprestes

Delve is failing to return the list of goroutines and giving the error EACCES error.

Are you able to execute

[2017-01-23 00:32] ramya-rao-a commented on #734
@ironcladlou `console.log()` will log things to the dev console.

[2017-01-23 04:02] roblourens commented on #585
`threadsRequest` is sent only after hitting a breakpoint, which would imply that delve worked well enough to tell us that it hit a breakpoint. Not sure why that would happen.

[2017-01-23 04:03] roblourens commented on #585
Actually if you have stopOnEntry enabled, it would be sent very early, do you?

[2017-01-23 06:15] #729 closed

[2017-01-23 07:17] mattetti commented on #729
awesome, thanks @ramya-rao-a !

[2017-01-23 11:54] jeffprestes commented on #585
Hi @ramya-rao-a ,

No, I haven't. This is my config:
[code]

At command line delve is running sweet. See the logs below.
[code]

Oh! In order to help you and @roblourens to reproduce the error, I suggest you to get a Mac, setup the Go Dev development environment and try this: http://nanxiao.me/en/a-brief-intro-of-delve/ and this https://blog.gopheracademy.com/advent-2015/debugging-with-delve/   tu

[2017-01-23 17:11] roblourens commented on #585
Why did the 'next' request fail? That seems relevant. Also, what version of MacOS do you have? I haven't used it on a Mac in awhile since Delve was broken on 10.12.x, but it looks like it's usable now, so I can try that out this week: https://github.com/aaronhackney/delve_on_mac

[2017-01-23 17:14] josh-tepper commented on #702
@ramya-rao-a,
I filed a godef issue (linked above), and I pinged it again last week.  I haven't gotten a response.  Do you guys have any godef contacts that you can reach out to about this issue?  I would love to see this fixed -- setting the docsTool to godef gives me a way snappier experience than setting it to gogetdoc.

Thank you in advance!

[2017-01-23 18:18] ramya-rao-a commented on #702
@josh-tepper Can you share a sample code?

We did have issues with godef and structs and certain packages.

Do you see this issue for all code? Say a simple `fmt.Println` . Are you able to use go to definition on this one?

Unfortunately, I don't have any godef contact.

But adding sample code in the issue you created in godef should help as well.

Also, do try updating your `godef`. Sometimes, th

[2017-01-23 20:09] jeffprestes commented on #585
Rob,

Please, read what I have written correctly, I didn't say 'next' is not
working. Delve is working fine. Again, Delve is working fine. Check the
logs out.
I can debug my Go application without VSCode with no problem.
What I am trying to do is helping you to create a better IDE but if you
don't care about Go Developers that use Mac, OK, I won't spend my time
trying to convince you.

- Jeff Pres

[2017-01-23 20:45] f0zi commented on #689
Use this instead, fixed "completely different" case:

[goDebug.ts.diff.txt](https://github.com/Microsoft/vscode-go/files/724908/goDebug.ts.diff.txt)

[2017-01-23 20:45] roblourens commented on #585
You said it worked but the log says

[code]

which seems wrong, doesn't it? And since the extension does nothing but pass requests on to delve, we want to understand the behavior of Delve here.

I don't doubt that there's an issue, and thanks for helping us understand it.

[2017-01-23 22:10] ramya-rao-a commented on #585
@jeffprestes

I am using Mac and have installed delve using brew. I am able to hit breakpoints, step in, step out etc in VS Code using the Go extension

Yes, that is a possibility, in which case my bet is on https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L214 where we spawn a new process to start delve.

`Error: spawn EACCES` while spawning a new process means that

[2017-01-23 23:55] ramya-rao-a commented on #689
@f0zi Can you submit a PR with details on the problem you are trying to solve?
cc @roblourens

[2017-01-24 01:05] bedeio opened #741 "Syntax checking not working in files with build tags"
Steps to reproduce:
1 - Create and save any .go file.- [example](https://play.golang.org/p/v3rrZLwEUC)
2 - Give the file any build tags.- [example](https://play.golang.org/p/URJZN3nzXA)
3 - Write any gibberish outside of a function body and save the file.- [example](https://play.golang.org/p/Bc_G6qKjU5)

Result: Nothing, but building the file with `go build` or in the Go Playground gives  `syntax

[2017-01-24 01:46] #664 closed

[2017-01-24 01:48] atombender commented on #664
Awesome -- thanks, @ramya-rao-a!

[2017-01-24 05:09] jwendel commented on #702
@ramya-rao-a I dug into this a little as it was affecting me as well.

It looks like godef has 2 current problems (one has an outstanding pull request).

1) `import "C"` causes godef to break.  See: https://github.com/rogpeppe/godef/pull/44
2) At least on windows `import "golang_org/x/net/route"` from the net package breaks godef. Specifically it seems since all the files within the x/net/route im

[2017-01-24 05:54] ramya-rao-a commented on #702
@jwendel Your second note on the `net` packages is interesting. Do we know why the `// +build` header is missing for Windows? Is there any documentation or issue for that?

[2017-01-24 06:03] jwendel commented on #702
This is the code error:
`C:\go\src\net\interface_bsd.go:12:2: cannot find identifier for package "golang_org/x/net/route": no buildable Go source files in C:\go\src\vendor\golang_org\x\net\route
2017/01/23 21:33:57 } -> <nil>`

Notice it's an import in interface_bsd to the package: https://github.com/golang/net/tree/master/route
And everything in that package is bsd specific implementations. So re

[2017-01-24 11:09] jeffprestes commented on #585
Hello @ramya-rao-a,

Below all my answers to your questions. I have changed my username for security reasons but it won't be a problem to you understand my dev environment.

``` Ensure it is in your "GOPATH/bin" or "PATH"." ```
Yep, it is: ``` ~$ which dlv
/usr/local/bin/dlv
~$ echo $PATH
/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/go/bin:/Users/xxxuser/projetos/go/bin

[2017-01-24 15:32] lunchboxsuhi commented on #409
not sure what was the issue but after a re-install and update everything was fixed. Sorry for the massive delay in responding.

[2017-01-24 15:32] #409 closed

[2017-01-24 17:14] ppey opened #743 "Feature request: Add command for generating a tasks.json file"
I would like to see, that I can generate a task.json just like the launch.json in ordert to trigger "go run" on the current file. This would allow to quickly run the file by pressing Ctrl+ shift + B without running the whole debugger.

[2017-01-24 17:19] sebrandon1 commented on #452
I was hitting that error `【Error: Error: Illegal value for line】` until I updated my Go plugin in VSCode to 0.6.52.  Just throwing in my 2 cents.

[2017-01-24 18:10] ramya-rao-a commented on #409
no problem @lunchboxsuhi, glad that you are unblocked.
Happy Coding!

[2017-01-24 18:14] ramya-rao-a commented on #452
@sebrandon1 I meant disable **other** extensions (not the Go extension) to eliminate the case of other extension interfering with the Go extension's save process :)

[2017-01-25 00:11] kaitroll commented on #441
Help!
go get -u -v github.com/rogpeppe/godef
# cd C:\Users\Ravend\Code\go\src\github.com\rogpeppe\godef; git config remote.origin.url
package github.com/rogpeppe/godef: remote origin not found

[2017-01-25 00:59] ramya-rao-a commented on #585
The Go extension first looks at GOPATH and then the PATH to find the dlv binary.
Is there a file `dlv` in your $GOPATH/bin? If yes, then that would be used instead of the one that we can clearly see in your `/usr/local/bin` which is in your PATH

If not, then I am truly stumped :(
The only next step I can think of is helping you debug the Go extension to find the issue.
Its pretty easy. If you are

[2017-01-25 08:11] jeffprestes commented on #585
That was it. Accidentally, I had a dlv file at $GOPATH/bin, I removed it and now vscode is debugging like a charm.

Thank you very much @ramya-rao-a for all your attention and kindness. Now I have one more reason to say to Go devs to use vscode instead of vim ;)

[2017-01-25 08:45] isidorn opened #744 "Support configurationSnippets"
In order to be cool as vanila ice chrome debugger should specify `configurationSnippets`
Here's how node is doing it https://github.com/Microsoft/vscode-node-debug/blob/master/package.json#L98

This will make the whole setup experience smother. It would be great if we could tackle this in january

[2017-01-25 08:50] isidorn opened #745 "Support startSessionCommand"
In order to support debugging in a no folder workspace the debug extension has to support the `startSessionCommand`.
More details can be found [here](https://github.com/Microsoft/vscode/issues/285#issuecomment-271324742)
Node doing it [example](https://github.com/Microsoft/vscode-node-debug/blob/master/package.json#L97)
And the code for the command [here](https://github.com/Microsoft/vscode-node-d

[2017-01-25 16:12] NaifAlrashed commented on #592
Hello, it seems that I am having the same issue, and even in the manual installation, which is this
`go get -u -v sourcegraph.com/sqs/goreturns`
the repo for gorutine seems to have moved.

[2017-01-25 16:16] NaifAlrashed opened #746 "gorutine moved their repo?"
i cant install goreturns. even if i go the website for the repo, i get 404
`go get -u -v sourcegraph.com/sqs/goreturns`
it seems that the repo for gorutine seems to have moved.

[2017-01-25 18:08] ramya-rao-a commented on #746
I am able to run `go get -u -v sourcegraph.com/sqs/goreturns` without any errors.

What do you mean by `gorutine` exactly? Do you mean `goroutine` or `goreturns` ?

[2017-01-25 18:10] ramya-rao-a commented on #585
phew! Glad that worked out.
I'll add this as a note in the wiki on debugging we have.

Happy Coding!

[2017-01-25 18:27] NaifAlrashed commented on #746
sry made a typo. I meant goreturns

so this is what's showing in visual studio code

`Installing 2 tools
  goreturns
  gotests

Installing goreturns FAILED
Installing gotests FAILED

2 tools failed to install.

goreturns:
Error: Command failed: C:\Users\User\go\bin\go.exe get -u -v sourcegraph.com/sqs/goreturns
# cd C:\Users\User\GoCode\src\sourcegraph.com\sqs\goreturns; git config remote.origin.u

[2017-01-25 19:13] ramya-rao-a commented on #746
Did you try running `go get -u -v github.com/cweill/gotests/...` from command line?
Does it still say remote not found?

Are you behind a proxy?

Can you try doing `go get` on one of the other tools? If all of them are giving the same error, then it must be a local env issue

[2017-01-25 19:21] NaifAlrashed commented on #746
i am running windows and i ran it on windows PowerShell. also, visual studio code did install most of the other packages. what seems different with this one is that the link for downloading it is not different from the others. all of the other links were either github or golang.org, but this one is different.

[2017-01-25 21:50] ramya-rao-a commented on #746
By that logic, `gotests` should have worked, because it is from github. But you see the error "remote origin not found" for that as well.

Do you have $GOPATH/src/sourcegraph/sqs/goreturns folder? If yes, can you delete that and try again?

[2017-01-26 13:07] luca-moser commented on #360
Neither works for me:

* Windows 10 64bit
* VSCode 1.8.1
* Go 1.7.4

[2017-01-26 18:06] #746 closed

[2017-01-26 18:47] ramya-rao-a commented on #746
No problem, glad you are unblocked.
Happy Coding!

[2017-01-26 23:10] WendySanarwanto opened #747 "[BUG] Installing godef & gotests always failing"
When I install `godef` &  `gotests` by clicking `Install all` button on appeared  notification toaster , at top of screen, the visual studio code unable to install these dependencies. (see this following screenshot)

![image](https://cloud.githubusercontent.com/assets/18456618/22354027/53ee7a2c-e45e-11e6-872a-7689813cb226.png)

Steps to replicate:
-------------------
1. Create a new `go` project i

[2017-01-26 23:46] ramya-rao-a commented on #747
@WendySanarwanto
According to the errors, looks like git is having problems finding the remote

Can you run the below in your command line and share if you are seeing the same errors?
`go get -u -v github.com/rogpeppe/godef`
`go get -u -v github.com/cweill/gotests/...`

If you do see the same errors, then check if you have these folders
$GOPATH/src/github.com/rogpeppe/godef
$GOPATH/src/github.com/

[2017-01-27 02:34] prashcr opened #748 "Code disappears on autosave"
I have autosave set to a delay of 1000ms.

I tried to write some Go code, starting with an import:

[code]

And 1 second later, the code gets deleted, presumably because the import is unused. While I agree with autoformatting on save, I think fixing lint errors on save is poor user experience. I'm new to go and I can't figure out which tool in this package is causing this. How do I make it just hi

[2017-01-27 04:44] ramya-rao-a commented on #748
@prashcr By default, the formatting tool used is `goreturns` which removes unused imports.
You can change it to `gofmt` which wouldn't do so.

In your user settings add the following:
`"go.formatTool": "gofmt"`

[2017-01-27 04:44] #748 closed

[2017-01-27 04:55] mattetti commented on #744
here is how it looks for node and mock adapters:

![](https://cloud.githubusercontent.com/assets/1926584/21016889/a526f37e-bd67-11e6-8322-4214dcb00b22.gif)

[2017-01-27 04:56] prashcr commented on #748
Thanks!

[2017-01-27 05:32] ramya-rao-a commented on #744
We will be releasing a new Go update in a few days.
The debug related improvements such as this one will be in the update after that.

[2017-01-27 19:16] ramya-rao-a commented on #580
@wildfire810 @jcdickinson Sorry that you are not able to get debugging working properly with VS Code.

Which version of VS Code and the Go extension are you using? Can you update both to the latest?

Also `dlv` has released 0.12.0. Can you update dlv as well `go get -u -v github.com/derekparker/delve/cmd/dlv` and give another try?

Are you able to run `dlv` in the command line and add breakpoints,

[2017-01-27 19:19] ramya-rao-a commented on #511
Closing as duplicate of #438

[2017-01-27 19:19] #511 closed

[2017-01-27 19:30] ramya-rao-a commented on #530
@nakiya Do you still have problems after updating the `program` attribute to point to the right folder?

@voigt I tried you code, launch.json and the same folder structure, and debugging works for me.

When you say you see nothing in debug console, do you mean you see no errors or you see **nothing at all**

Because, the minute delve is fired up by the Go extension, the debug console shows the out

[2017-01-28 00:12] #401 closed

[2017-01-28 20:23] gevgev commented on #441
Neither of the above solution has worked for me:

OS X El Capitan 10.11.6 (15G1217)
go version go1.7.5 darwin/amd64
Visual Studio Code Version 1.8.1 (1.8.1)

[2017-01-29 08:12] rotemdan commented on #665
@sdwarwick @ramya-rao-a

I had this exact problem. Thanks to your research it quickly led to the reason: I had the Cygwin tools bundled `diff` executable in my `PATH`. I renamed the `diff.exe` executable to `diff.exe.disabled` and the problem was solved. So in my case it wasn't actually related to Git for windows.

This leads me to wonder, if there are multiple incompatible versions of `diff` util

[2017-01-29 13:30] sdwarwick commented on #665
I'm thinking that any hidden dependency on other tools in the path is just bad practice.  this has been sitting out here without action for a while now.

[2017-01-29 14:39] wildfire810 commented on #580
The bug is report at Oct 2016
Now it works right.
All of the versions are
go version go1.7.5 windows/amd64
vs code 1.8.1
vs code go plugin 0.6.52
delve 0.12.1

In any case, I am a microsoft fans, I love VisualStudio, I love C#, I love Windows.

[2017-01-29 17:08] ramya-rao-a commented on #580
Thanks @wildfire810!
Glad to know you are unblocked. Happy Coding!

Closing this issue for now.

@jcdickinson, if you still see the same problem, please drop a comment, I'll reopen the issue and we can investigate.

[2017-01-29 17:08] #580 closed

[2017-01-29 18:35] ramya-rao-a commented on #441
@gevgev
Did you try killing the current running gocode daemon as per https://github.com/Microsoft/vscode-go/issues/441#issuecomment-257314322
Once the gocode process is killed, run the command `Go: Install Tools` so that all dependent tools get updated

Are rest of the features of the Go extension working as expected?

[2017-01-29 19:10] gevgev commented on #441
@ramya-rao-a
Yes, I tried that several times, including with restarting my machine.
And including installing all go tools manually
All other features, including all pop-ups, showing types of variable or even values of variables during debugging on mouse hover work just fine.
One thing I suspect is that with the latest Go lang Mac OS installation PKG the GOROOT now is set to "/usr/local/go", it is

[2017-01-29 20:31] ramya-rao-a commented on #441
@gevgev I currently use go1.7.3, and I don't see the need to use sudo. Will update to go1.7.5 and get back.

Can you try running `gocode` from the command line to see if you get expected output?
If not, then we should take this up with `gocode`'s author

[2017-01-29 20:46] OneOfOne commented on #743
While that would be a good idea, if you just want to run a specific file maybe try [Code Runner](https://marketplace.visualstudio.com/items?itemName=formulahendry.code-runner).

Tasks would be more suitable for package building / management.

[2017-01-29 21:39] gevgev commented on #441
Using `gocode` from command line:

Test file:
[code]

command line:
[code]
Per my understanding it should have suggested fmt.Print..Printf.. Println.. etc., but looks like the only suggestion gocode has is just 'make()' function, otherwise it is either 'Nothing to complete', or 'Panic'

Hope this helps.

[2017-01-30 00:13] gevgev commented on #441
I have worked with nsf (author of gocode )on this issue, we got that resolved:
As it turns out I had a "leftover" stale instance (dated Sep 2016) sitting there!!:
[code]
Removing the old instance and restarting gocode fixed it, everything works just fine now, including command line:
[code]

Thank you!!!

[2017-01-30 01:36] ramya-rao-a commented on #441
yay! glad you are unblocked @gevgev and thanks for sharing your solution.
Happy coding!

[2017-01-30 06:54] ramya-rao-a commented on #526
The debug part is done with https://github.com/Microsoft/vscode-go/commit/0ea5206563ee196e187f2243ceae1bdb3d9b688a

[2017-01-30 15:22] korovaisdead opened #754 "(Closed)Errors while writing the code"
Errors while writing the code. It is totally impossible to write the code while they continuously appearing:

![Errors](http://image.prntscr.com/image/63831272393f4f6db29eac3591dad440.png "Errors")

Here is the plugins list:

![Plugins](http://image.prntscr.com/image/b257e7458c3d4668bb3d5c12f6b5c829.png "Plugins")

So I'm not sure that they are the reason..

[2017-01-30 17:06] ramya-rao-a commented on #754
@korovaisdead

This is the repo for the Go extension for VS Code.

You seem to doing some angular work.

The error most likely might be coming from the angular extension itself.
I'd suggest to disable the angular extension and see if you are still seeing the error.
If you don't see the error with the angular extension disabled, then log the issue in the repo for the angular extension.

Else you ca

[2017-01-30 17:06] #754 closed

[2017-01-30 17:24] CfirTsabari commented on #690
@DashShen @monty-georgiev I had the same problem in python code , what solved it for me was to add an empty line to end of the file.

[2017-01-31 00:39] ramya-rao-a commented on #532
The latest update (0.6.53) gives the user an option to install the go tools to an alternate location.

This is done via the new setting `go.toolsGopath` where you can provide the alternate location.

Remember to run `Go: Install Tools` after setting the above setting, so that the tools get installed to this location. After which, you can safely delete the ones from your GOPATH.

Note: `dlv` and `g

[2017-01-31 00:39] #532 closed

[2017-01-31 00:41] ramya-rao-a commented on #732
With the latest update (0.6.53), build errors such as the above will be displayed in the output window and will be mapped to the first line of the file i.e the first line of the file will get a red squiggly pointing to the error.

[2017-01-31 00:41] #732 closed

[2017-01-31 00:43] ramya-rao-a commented on #723
With the latest update (0.6.53), the GOPATH passed as env var in the launch.json will also be used to look up the `dlv` binary

[2017-01-31 00:43] #723 closed

[2017-01-31 00:44] ramya-rao-a commented on #673
The latest update (0.6.53) has this change.

Thanks @mattetti

[2017-01-31 00:45] ramya-rao-a commented on #664
The latest update (0.6.53) has this fix.
Happy Coding!

[2017-01-31 00:47] ramya-rao-a commented on #401
The latest update (0.6.53) has the option to add testflags applicable to all tests as well as key bindings to run any of the 3 test commands with any flags.

From the ChangeLog:

   * A new setting `go.testFlags` that can be used to run tests. If null, `go.buildFlags` will be used. [PR 482](https://github.com/Microsoft/vscode-go/pull/482)
    * Customize flags for each of the test command by using

[2017-01-31 00:47] ramya-rao-a commented on #683
The latest update (0.6.53) has the option to add testflags applicable to all tests as well as key bindings to run any of the 3 test commands with any flags.

From the ChangeLog:

   * A new setting `go.testFlags` that can be used to run tests. If null, `go.buildFlags` will be used. [PR 482](https://github.com/Microsoft/vscode-go/pull/482)
    * Customize flags for each of the test command by using

[2017-01-31 00:47] #683 closed

[2017-01-31 00:49] ramya-rao-a commented on #729
The latest update (0.6.53) has this new toggle command.

From the Changelog:

New toggle command `Go: Toggle Test File` that lets you toggle between your Go file and the corresponding test file. Previous commands `Go: Open Test File` and `Go: Open Implementation For Test File` have been deprecated in favor of this new command. [PR 739](https://github.com/Microsoft/vscode-go/pull/739). You can add

[2017-01-31 00:51] ramya-rao-a commented on #303
The latest update (0.6.53) has the fix to this issue.
The fix being that if current file is not a test file, then an error message is shown if you attempt to run `Go: Test File` or `Go: Test at cursor`

[2017-01-31 00:53] ramya-rao-a commented on #350
The latest update (0.6.53) has the fix to this issue. Thanks @nochso
The fix being that we now show an error message when tests fail while attempting to run test coverage

[2017-01-31 00:54] ramya-rao-a commented on #710
The fix is in the latest update (0.6.53)
Thanks @anton!

[2017-01-31 00:59] ramya-rao-a commented on #747
@WendySanarwanto closing this issue for now as there is nothing to be done from the Go extension's side.
Do let us know if the suggested fix worked for you or not.

[2017-01-31 00:59] #747 closed

[2017-01-31 01:18] ramya-rao-a commented on #153
Closing this issue as it is very old and we havent heard back from the OP.

@conikeec @sevein if you do have any updates, please comment here and I can re-open the issue

[2017-01-31 01:18] #153 closed

[2017-01-31 02:49] atombender commented on #664
Hooray!

[2017-01-31 03:24] robsonpeixoto opened #755 "command 'go.tools.install' not found"
`Go: Install Tools` show this error.

[code]

[2017-01-31 04:40] ramya-rao-a commented on #755
This would happen if the Go extension is not activated yet.
Can you open a Go file (it is one of the actions that will activate the extension) and try again?

[2017-01-31 04:48] robsonpeixoto commented on #755
Thanks @ramya-rao-a. But why?

[2017-01-31 05:30] ramya-rao-a commented on #755
Good point, we could add this command to the list of [activation events](https://github.com/Microsoft/vscode-go/blob/master/package.json#L56) so that it activates the extension if the extension is not activated yet.

And while doing so, it would be a good idea to evaluate rest of the commands and see if they should be added as well

[2017-01-31 10:37] redpixr commented on #726
++ this is like a must have time saver to me.

[2017-01-31 10:48] Tsessebe opened #756 "Intellisense (Autocomplete) Not working"
This is similar to #441. I have tried all the remedies suggested without success.

![autocomplete](https://cloud.githubusercontent.com/assets/16239917/22461530/482fc6e4-e7b2-11e6-81c9-a69719037eb4.png)

![autocomplete1](https://cloud.githubusercontent.com/assets/16239917/22461544/5822e3f6-e7b2-11e6-9d6d-a8dc35588928.png)

go version go1.7.4 windows/amd64
vscode version 1.8.1

Both new install on c

[2017-01-31 16:43] ramya-rao-a commented on #756
Did you try the most recent update on that thread? https://github.com/Microsoft/vscode-go/issues/441#issuecomment-275958002

[2017-01-31 18:25] Tsessebe commented on #756
Hi,
Thank you for the feedback.
I did delete the exe in the bin folder; not the settings.
I'll only be able to check that tomorrow as it's on my work pc.

[2017-01-31 20:01] codmajik opened #757 "[Feature Request] go.inferGopath. A GoSublime's use_gs_gopath like feature"
in GoSublime specifying a $GS_GOPATH or use_gs_gopath cause it to lookup as follows:

- the current working directory, e.g. ~/go/src/pkg then $GS_GOPATH will be ~/go/
- or the path the current .go file (or last activated .go file if the current file is not .go) e.g. if your file path is /tmp/go/src/hello/main.go then it will be /tmp/go

in vscode-go:
- setting ```go.inferGopath: true``` should use

[2017-02-01 15:43] taketori commented on #723
vscode-go found `dlv.exe`.
thank you.

I am still waiting for another `env` variables like PATH to work fine.
And I wish the `env` in tasks.json also works...
[code]

[2017-02-01 18:55] ramya-rao-a commented on #358
Summarizing here:

- The debugger tries to find `dlv` binary in GOPATH/bin where GOPATH is the one you have set outside of VS Code as an env variable. If not found there, then it looks at PATH
- The debugger is not aware of any of the settings in your User/Workspace settings. Therefore, if you have set `go.gopath` and expect that value to be used by the debugger to find `dlv`, that will not work.

[2017-02-01 18:55] #358 closed

[2017-02-01 18:59] ramya-rao-a commented on #539
Closing this issue as we havent heard back from the OP regarding request to more details.
Please drop in a comment, if the issue still persists with more details.

[2017-02-01 18:59] #539 closed

[2017-02-01 19:44] ramya-rao-a commented on #651
Hello all,
I was able to repro this in my Mac (where I had previously installed delve via brew) and not in Windows.

Updating to the latest delve (v0.12.1) solved this for me.

Here are my steps:
- `brew uninstall delve`
- `brew install go-delve/delve/delve`
- restart VS Code

@kjleng @trdyer @huttarichard : Can you guys update you delve and try as well?

[2017-02-01 19:52] ramya-rao-a commented on #530
@voigt As per your launch.json, you dont have `showLog` set to true.

There is another issue #651 where users have seen that when `showLog` is not set to true, nothing happens.

So here are a few things you can try

- Add `"showLog":true` to your `launch.json` file and try again.
- Check your delve version and use the latest (0.12.1)

Closing this issue as @nakiya's problem was the wrong "program"

[2017-02-01 19:52] #530 closed

[2017-02-02 00:35] #506 closed

[2017-02-02 00:41] ramya-rao-a commented on #755
Fixed by https://github.com/Microsoft/vscode-go/commit/de706decc43b59c9c9ced45690acefb2ef596f67

All commands except `Go: Current GOPATH` and `Go: Install Tools` need an active editor with a go file to be present. When an active editor has a go file, the extension is already activated.

[2017-02-02 00:41] #755 closed

[2017-02-02 01:04] ramya-rao-a commented on #688
@entonio I have go1.7.4 on my Mac OS X El Capitan (10.11.6)
And all the Go extension features work as expected.

Closing this issue as we havent heard back from you with answers/details to the questions posed in the previous comments.

Please drop a comment here if you still see issues.

[2017-02-02 01:52] ramya-rao-a commented on #672
This issue was moved to alecthomas/gometalinter#231

[2017-02-02 01:52] #672 closed

[2017-02-02 02:01] roblourens opened #760 "GoDebug sends InitializedEvent too early"
The InitializedEvent should be fired when the debug adapter is ready to accept setBreakpoint requests and (apparently) a request for the list of threads. It handles these early setBreakpoint requests correctly, but not the one for threads. It needs to either flip the order around and send the InitializedEvent only after launching successfully, or handle the threads request correctly and not respon

[2017-02-02 02:16] ramya-rao-a commented on #712
Closing this issue as we havent heard back from the OP and Go to definition works as expected with the vendor folder.

[2017-02-02 02:16] #712 closed

[2017-02-02 03:10] mcardosos commented on #712
I completely forgot about this :I
Yes it works :D Thanks!

[2017-02-02 04:54] Tsessebe commented on #756
Hi,

We got this resolved;

Thank you

[2017-02-02 04:54] #756 closed

[2017-02-02 09:27] vanackere opened #761 "Expand ${workspaceRoot} in "go.toolsGopath""
This enables per-repository gotools (useful for self-contained developer repositories)

[2017-02-02 17:24] nuclearsandwich commented on #358
Apologies for the delay, took me a while to try this again on the computer we encountered it on. Updating VSCode and the Go extension, then specifying the GOPATH in both settings and launch.json worked was finally sufficient. Thanks for the help!

[2017-02-02 18:17] ramya-rao-a commented on #358
@nuclearsandwich glad to hear, Happy Coding!

[2017-02-02 19:04] roblourens opened #763 "debug - stopOnEntry not working"
When I launch with `"stopOnEntry": true`, the debugger never pauses. Same on Mac and Windows. But I'm surprised that nobody has filed an issue on this. And there are even issues where people mention that they are using stopOnEntry successfully.

[2017-02-02 19:07] roblourens commented on #763
Debugging it, I see that we send an initial StoppedEvent, then vscode asks for the list of threads. We call ListGoroutines, Delve returns an empty list that we send back to vscode. Then that's it. It seems like Delve doesn't want to do anything unless we send a Continue command at startup.

[2017-02-02 20:10] theSoenke commented on #726
This would be really awesome. Codelens is also now available for Typescript https://code.visualstudio.com/updates/v1_9#_typescript-references-codelens It's has been a very useful feature for me in C# in VS

[2017-02-03 02:57] #760 closed

[2017-02-03 03:08] #565 closed

[2017-02-03 03:10] #761 closed

[2017-02-03 03:31] ramya-rao-a commented on #736
I was hoping to have this as a feature from the core product.
See https://github.com/Microsoft/vscode/issues/2809

I'll revisit this issue based on how the discussion goes in the linked issue

[2017-02-03 07:11] huttarichard commented on #651
@ramya-rao-a Awesome!!!

[2017-02-03 07:20] sysroad commented on #438
Same here Ubuntu 16.04 and VSCode 1.9.0

[2017-02-03 14:52] Vinicioslc commented on #588
We need this

[2017-02-03 18:27] ramya-rao-a commented on #360
Hello All,

Sorry it took so long to respond.

@luca-moser @0xdeafcafe @tdorn @assafmo @kaiortmanns @okeefm @m3l7 @1dnmr @sergeyu @sambengtson and anyone else still seeing unverified breakpoints, please try the following

- Get the latest delve (0.12.1)
      - Windows and Linux, you can do a simple `go get -u github.com/derekparker/delve/cmd/dlv`
      - Mac OS X users, if you had used brew to in

[2017-02-03 18:54] ramya-rao-a commented on #651
@huttarichard So I take it that the issue is solved for you?

[2017-02-03 20:12] kjleng commented on #651
@ramya-rao-a I took the steps above and the issue is resolved. Thanks.

[2017-02-03 20:28] OneOfOne commented on #757
+1 this is a handy feature if you wanna test a PoC in /tmp real quick without setting up a proper workspace.

[2017-02-03 22:24] ramya-rao-a commented on #692
Closing this issue as we havent heard back from the OP.

@NikosEfthias If you still see issues after updating your dlv version (0.12.1) and the Go extension(0.6.53) and Visual studio Code (1.8 or above), please add `"trace": true` to your launch.config and try again.
This will write a lot of logging to a file (whose path will be printed to your debug console). Share this file with us and we can lo

[2017-02-03 22:24] #692 closed

[2017-02-03 22:26] ramya-rao-a commented on #722
Closing this issue for now. If anybody can provide more concrete steps, we will open this issue.

@olliephillips Next time you see this, check if there are any errors in your console (`Developer: Toggle Developer Tools`) and share the same. Also share if rest of the extension features (hover, go to definition, file outline, build, linting etc) work as expected in such scenarios.

[2017-02-03 22:26] #722 closed

[2017-02-03 22:28] ramya-rao-a commented on #663
Closing this as we havent heard back from OP with answers to the questions asked.

If anyone sees the same issue, please drop in a comment and we can help narrow down the issue and root cause.

[2017-02-03 22:28] #663 closed

[2017-02-03 22:34] ramya-rao-a commented on #680
The update previous to the current update of the Go extension has `go.autocompleteUnimportedPackages` set to `false` by default.

For the "Go to Symbol" issue, I was thinking of adding a setting `go.ignoreImports`. If true then the imports will be ignored in the "Go to Symbol" output.

[2017-02-03 22:56] atombender commented on #680
I recommend reversing it: `go.autocomplete.includeImports` or whatever, set to false by default. If people like the old behaviour, they can turn it on.

[2017-02-04 00:35] ramya-rao-a commented on #757
PR is merged. This should be out in the next update.
Thanks for the work @codmajik, looking forward to work more with you on this extension.

[2017-02-04 00:35] #757 closed

[2017-02-04 00:54] ramya-rao-a commented on #680
@atombender I think we are talking about different things.

`go.autocompleteUnimportedPackages` that controls the importable packages showing up in suggestion list is already set to false by default as of 2 updates ago.

`go.ignoreImports` would be a new setting (not yet coded) that would control imports showing up in `Go to symbol/File Outline/@` feature

[2017-02-04 00:59] atombender commented on #680
I was actually talking about the same thing, ignore the reference to autocompletion. Surely `go.ignoreImports` is too vague a name for that setting, though.

[2017-02-04 03:28] ipfans opened #766 "Autocompletion not working"
Visual Studio Code: 1.9.0
Go: go version go1.8rc3 darwin/amd64
vscode-go: 0.6.53

go-tools-dependencies: go get -u -v with latest version

Already tried: ```gocode close``` and restart Code.

![screen shot 2017-02-04 at 11 23 39](https://cloud.githubusercontent.com/assets/363344/22615304/e7958e7c-eacc-11e6-9113-33da5ad2b139.png)

Console Output:

[code]

[2017-02-04 04:19] ramya-rao-a commented on #680
That's right, naming needs work

[2017-02-04 05:11] ipfans commented on #766
It seems that gocode will paused when find a not exits package in project.

[2017-02-04 05:11] #766 closed

[2017-02-04 09:30] huttarichard commented on #651
@ramya-rao-a resolved

[2017-02-04 09:30] #651 closed

[2017-02-04 09:30] huttarichard commented on #651
good job

[2017-02-04 20:25] jtremback opened #767 "Lint not showing up"
It looks like this issue has been raised before in many forms, but I have tried all the remedies and they have not worked. The issue right now is that lint marks do not appear under mistakes in the editor, although `golint` correctly produces output in VS Code's built-in terminal.

This issue has come up while doing a fresh install of Go, VS Code and vscode-go on a freshly reformatted Mac.

It mig

[2017-02-04 20:31] jtremback commented on #767
I was able to fix this issue by uninstalling and reinstalling vscode-go and then running it on a "hello world" file with no errors and then introducing an error. I think it might have choked earlier because I was trying it for the first on a file that already had errors and would not build.

[2017-02-04 20:31] #767 closed

[2017-02-05 01:18] ramya-rao-a commented on #618
https://github.com/Microsoft/vscode/issues/2780

[2017-02-05 02:40] ramya-rao-a commented on #438
I can't repro the issue and so cannot test the fix. Can anyone on this thread volunteer to test this?
Steps:
- Clone the repo https://github.com/Microsoft/vscode-go
- `cd` into the repo
- Get the branch with the fix `roblou/killProcs`
- `npm install`
- If you don't have the `vsce` tool, then `npm install -g vsce`
- `vsce package` to get the vsix file for the extension
- `code --install-extension G

[2017-02-05 02:49] intdel commented on #438
@ramya-rao-a I was trying out the steps you provided. However, at `npm install` I get:

[code]

[2017-02-05 02:55] ramya-rao-a commented on #520
Closing this thread as there is no action to be taken from the extension's side at the moment.

Anyone else landing here, please try `"go.useDiffForFormatting": false`
If that works, then please update/upvote the upstream issue https://github.com/sqs/goreturns/issues/28 and help the author of `goreturns` debug the issue

[2017-02-05 02:55] #520 closed

[2017-02-05 05:14] bruparel commented on #702
@ramya-rao-a This is a generic problem with VSCode and not confined to the just the Go lang.  This is happening to me in the Angular 2 Typescript code.  So I would alert the VSCode team of this problem.  Initially upon loading, it works a few times, and then it starts displaying 'Loading.' message.

[2017-02-05 06:19] ramya-rao-a commented on #438
@intdel Am not sure why you are seeing that error, I am able to `npm install` successfully on a freshly cloned repo. What is your version of node and npm?

Nevertheless, you can comment the line for `@types/fs-extra` from `package.json` and continue. It is just a dev dependency, and since you will directly be packaging the code into a vsix, you wont need it

[2017-02-05 06:27] ramya-rao-a commented on #702
@bruparel

Typescript and javascript support comes out of the box in VS Code. Therefore,  please do log an issue in the VS Code repo https://github.com/Microsoft/vscode for the issue you are seeing for the typescript code.

For all other languages, features like Peek definition and Hover are implemented via extensions. The "loading.." is shown when the extension doesnt get back to VS Code in time

[2017-02-05 06:29] ramya-rao-a commented on #702
Closing this issue, as multiple have been logged against `godef`.
Using `gogetdoc` is an alternative.

We are looking at other options for implementing the features that depend on `godef`.
Will update this thread once we have something new to share.

[2017-02-05 06:29] #702 closed

[2017-02-05 07:04] ramya-rao-a commented on #618
Closing as duplicate of #299
Will track the work there to support the "Run action" as described https://github.com/Microsoft/vscode/issues/2780

[2017-02-05 07:04] #618 closed

[2017-02-05 07:05] ramya-rao-a commented on #299
Looks like this should be doable as per https://github.com/Microsoft/vscode/issues/2780
Will try to get this in in the next update

[2017-02-05 07:12] ramya-rao-a commented on #615
Closing this issue as we havent heard back details from the OP

[2017-02-05 07:12] #615 closed

[2017-02-05 17:22] intdel commented on #438
@ramya-rao-a Thanks. Now I am getting

[code]

[2017-02-05 20:13] ramya-rao-a commented on #743
We are trying to get the "Run without actually debugging" feature as described in https://github.com/Microsoft/vscode/issues/2780

#299 is tracking this work.

With this, you won't need a task to run the current package.

[2017-02-05 20:13] #743 closed

[2017-02-06 06:30] ramya-rao-a commented on #726
Yes, it is a very good feature indeed. PRs are welcome.

[2017-02-06 06:32] ramya-rao-a commented on #767
@jtremback Even if there are build errors, linting warnings should still show up.
Linting is triggered on save.

[2017-02-06 06:36] ramya-rao-a commented on #741
@bedeio Sorry for the late reply, but have you updated the `go.buildTags` setting in your User/Workspace settings while trying out the build tag "example" in your example?

[2017-02-06 06:42] ramya-rao-a commented on #700
It doesn't look like we will be getting a response to https://github.com/newhook/go-symbols/issues/3 anytime soon. There is an issue there from March 2016 that has not been addressed yet.

Feel free to fork `gosymbols` to take a flag to ignore vendor symbols. We can then use that in the Go extension

[2017-02-06 06:46] ramya-rao-a commented on #619
@dc0d @gngeorgiev Is this still a problem? If yes, then the next time you see it, can you try running `gocode` from the terminal/command line and see what you get? This is to eliminate the case that `gocode` itself has issues.

[2017-02-06 07:04] ramya-rao-a commented on #604
Closing as duplicate of #438

We are trying to get a fix for this in the next update.

[2017-02-06 07:04] #604 closed

[2017-02-06 07:05] ramya-rao-a commented on #438
wow, can you share what version of node, npm and typescript you have?

[2017-02-06 07:08] gngeorgiev commented on #619
@ramya-rao-a I no longer use VSCode for Go, I use Gogland instead, VSCode was useless. And I am pretty certain that `gocode` is working fine since `vim` had no autocompletion problems and that's exactly what it's using.

[2017-02-06 07:09] ramya-rao-a opened #770 "Trying to start the debugger two times in a row ends in a "endless loop""
_From @Gargo83 on November 10, 2016 20:43_

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.48|

There seems to be a problem with the debugger.
Once you try to start it two times it starts and will nerver end.

Note to the "Steps to Re

[2017-02-06 07:09] ramya-rao-a commented on #770
_From @isidorn on November 14, 2016 9:25_

This seems like an issue with our go extension, thus forwarding to @ramya-rao-a to try to reproduce. Since I do not get this with node debugging

[2017-02-06 07:11] ramya-rao-a commented on #770
@Gargo83, in your repro steps, after step 2, do you stop the debug process by clicking on the stop symbol?

[2017-02-06 07:24] dc0d commented on #619
Yes it is.

[2017-02-06 07:31] gngeorgiev commented on #619
@ramya-rao-a please excuse me if I am being a bit forward but, I can't hold myself and ask - did you even try to reproduce the issue? I mean I have used VSCode for Go on a few different OSs and PCs and the issue is really really apparent. If you tried it only on a small 2-3 files project, you might experience no issues. But someone of your team has to check this out on a real world project. Simply

[2017-02-06 09:28] dc0d commented on #619
I like VSCode & VSCode-Go and I mainly develop Go in it (though I use LiteIDE which has a code structure tree and Atom from time to time).

And as a free product it works well and I like it.

This issue could be something about inappropriate timing when interacting with `gocode`. It does not provide member of some packages randomly, does not provide info on other packages that you are working on a

[2017-02-06 13:29] AlekSi opened #771 "Go To Implementation"
[VS Code 1.9](https://code.visualstudio.com/updates/v1_9) introduced Go To Implementation command. Go plugin should support it.

[2017-02-06 16:24] intdel commented on #438
` npm version
{ http_parser: '1.0',
  node: '0.10.29',
  v8: '3.14.5.8',
  ares: '1.10.0',
  uv: '0.10.27',
  zlib: '1.2.8',
  modules: '11',
  openssl: '1.0.1k',
  npm: '1.4.21',
  Go: '0.6.53' }
`
`node --version
v0.10.29
`

`typescript@2.1.5`

In package.json I had to remove all of the devdependencies with "@types" otherwise I could not run npm install. Not sure if this is the reason.

I am run

[2017-02-06 17:15] acroca commented on #700
I opened a PR on the main repo, but it'll probably get ignored: https://github.com/newhook/go-symbols/pull/4
My fork has the change: https://github.com/acroca/go-symbols, you can use that one. It supports multiple folders too, maybe other people wants to ignore other things like `test`...

[2017-02-06 17:16] roblourens commented on #438
That's a very old version of node and npm. You'll need to use something more recent.

[2017-02-06 18:03] ramya-rao-a commented on #619
@gngeorgiev Yes sir, I sure have tried to reproduce the issue. I have tried it on small as well as big projects. But I sure haven't tried coding for hours. My Go coding is mostly small side projects or I tinker around in some interesting projects out there. Go coding is not part of my (or my team's) main day job.  Which is why I keep hoping (https://github.com/Microsoft/vscode-go/issues/619#issuec

[2017-02-06 18:05] ramya-rao-a commented on #700
@acroca Awesome! I'll take a look this week and try to use this in the next update

[2017-02-06 18:05] acroca commented on #700
Cool! Thanks @ramya-rao-a

[2017-02-06 18:36] intdel commented on #438
@roblourens Thanks! I tried it on Debian Testing and it did not work either. Did not think it would ship with a very old version.

Anyways, I built the extension on Fedora 25 and it worked well and didn't have to comment out anything.

Finally was able to test the extension. I can confirm that it properly kills the process when hitting stop.

[2017-02-06 19:34] #745 closed

[2017-02-06 19:36] ramya-rao-a commented on #438
Yay! Thanks @intdel !!

[2017-02-06 19:38] #438 closed

[2017-02-06 20:43] jtremback commented on #767
Not sure what the issue was, but those steps worked for me so maybe it will help someone else.

[2017-02-06 21:11] #623 closed

[2017-02-06 21:14] ramya-rao-a commented on #689
Fixed by #742

[2017-02-06 21:14] #689 closed

[2017-02-06 22:02] nochso commented on #771
To get someone else started because my TypeScript is weak: the guru tool can handle this. It's already being used by this extension to find references.

To search GOPATH for implementations of an interface (can be slow):
`guru -scope ... -json implements io.go:#3799`
..where the 3799th byte is the start of the name of an interface definition. It returns JSON with paths and positions to the found i

[2017-02-06 22:16] atombender opened #773 "Rename fails with missing vendor dependency"
"Rename symbol" gives me this truncated error message:

<img width="1055" alt="screen shot 2017-02-06 at 17 10 35" src="https://cloud.githubusercontent.com/assets/50314/22668592/3e21da2a-ec8f-11e6-8629-82ccfdc0ba2b.png">

The error is that it's complaining about not finding the package `github.com/olivere/elastic`. That package is in my project's `vendor` folder.

There's nothing in the debug cons

[2017-02-06 23:42] #492 closed

[2017-02-07 01:11] ramya-rao-a commented on #680
The setting is called "go.gotoSymbol.includeImports" and is `false` by default.
Therefore, the default behavior will be excluding the import statements.
PR is merged.
The change will be out in the next update

[2017-02-07 01:11] #680 closed

[2017-02-07 01:13] atombender commented on #680
Superb, thank you.

[2017-02-07 05:23] mattetti commented on #738
Well, this is a bit more complicated than it sounds, take for instance this counter example:

[code]

In this case, vs-code does what is expected. There are lots of other examples like that, for instance declaring a type, function etc... So to be able to implement the feature you are asking for, we would need to have enough context to know the intent of the parenthesis. Doable, but more really str

[2017-02-07 06:11] ramya-rao-a commented on #512
@mattetti

Is this still a problem? From what I have gathered, the original problem no longer exists i.e the errors in the console logs and the navigation (step in/out/over) buttons being disabled.

What we have now is that breakpoints while in "test" mode are not working. Is that right?

In the last update we have enabled verbose logging for debugging. Can you add `"trace":"verbose"` or `"trace":

[2017-02-07 06:20] ramya-rao-a commented on #773
Can you try `gorename`  from command line with the `-offset` param (which is used by the extension) instead of the `-from` param?

[2017-02-07 06:23] ramya-rao-a commented on #744
@mattetti I can think of "debug", "test", "test single file" being scenarios for having the configuration snippets. As a Go developer you would know more cases if any. What kind of configuration snippets would you/your team be interested in?

Feedback from everyone else is welcome as well

[2017-02-07 06:30] codmajik commented on #771
Hi @ramya-rao-a, @AlekSi

 I took a swing at this and got a working version here:
https://github.com/codmajik/vscode-go/commit/3bf018bab0b86ccf16aeefb6286cab6a8f63e8aa

as @nochso said, it is excruciatingly slow and vscode seems to be expecting a single result else it doesn't do anything.

There is one reason you am not sending a push request and that is because [registerImplementationProvider](ht

[2017-02-07 06:33] ramya-rao-a commented on #738
The Go extension doesn't have Go language smartness. It uses a collection of tools to achieve most of the core features. The {} completion you see comes from VS Code itself based off of https://github.com/Microsoft/vscode/blob/master/extensions/go/language-configuration.json

So at the moment, this is not feasible, unless we use a powerful language server which would know the context of where the

[2017-02-07 06:41] ramya-rao-a commented on #734
Circling back here...

So @ccirello, so what you have is a case of a failing test. And All 3 commands to test package/file/cursor are giving you a single line output "Success: Tests passed".
Is that correct?

Do you have any build flags or build tags or test flags set in your settings?

@ironcladlou Any other thoughts?

[2017-02-07 07:02] mattetti commented on #744
I often setup the launcher to test/debug a specific test using the `-run` feature.

[2017-02-07 07:24] mattetti commented on #619
@gngeorgiev I'm not sure why you are taking it on Ramya who's doing her best to make this plugin the best she can.

I've been writing Go for a little while and I switched from vim to vs-code before 1.0 and haven't looked back. Like me, my team uses VS Code, some Go team members like Francesc do too. Is it perfect, no. But it is quite good.

Now, I use VSCode on Mac (Sierra) and Windows (10) using

[2017-02-07 09:45] velomarc opened #776 "extension does not work"
seems all extensions do not work, and the "build task" also does not work. but it worked well yesterday, I'm so confused

my settings.json
{
    "editor.tabSize": 2,
    "editor.fontSize": 16,
    "editor.fontFamily": "Monaco",
    "files.autoSave": "onFocusChange",
    "go.buildOnSave": false,
    "go.lintOnSave": false,
    "go.vetOnSave": false,
    "go.buildTags": "",
    "go.buildFlags": [],

[2017-02-07 15:02] ironcladlou commented on #734
An isolated example would be helpful, as I can't reproduce any of the reported behavior.

[2017-02-07 15:48] atombender commented on #773
This works fine:

[code]

Since I couldn't figure out how to see the command that vscode-go runs, I replaced `gorename` with a shell script that logs to a file. It's running:

[code]

and it's doing so from `/`. If I do this from the command line, I get tons of errors:

[code]

So it's evidently because the command is run from the root. Bug in `gorename` that causes it to ignore `vendor` if it's n

[2017-02-07 17:05] ramya-rao-a commented on #773
That's great finding!

When vscode-go runs `gorename`, it uses the absolute path for the file for the -offset parameter and is run from the workspace root.

So, can you try running your shell script from the workspace root that was open in VS Code?

[2017-02-07 17:13] ramya-rao-a commented on #698
@thewhitetulip Now that you see similar energy issues when the Go extension is disabled and the related issue in vscode is tracking the same, is it ok if we close this issue?

The other concern about hover spawning a new shell everytime is being tracked in other issues.

[2017-02-07 17:29] atombender commented on #773
But as I pointed out above, it is actually running `gorename` in `/` (which is not my workspace root!). Running the command from the workspace root works fine.

[2017-02-07 17:37] thewhitetulip commented on #698
@ramya-rao-a Yes, I feel it is appropriate to close this issue since we have established that energy is being used without this extension. I must say (again), I love how MS is handling this project, fabulous!

[2017-02-07 17:40] atombender commented on #738
Yep, I see the challenge. Does it really not have access to the Go AST at that point? The syntax highlighting knows exactly what semantic context you're in, so it seems like a bit of a missed opportunity if nothing can take advantage of the same information.

I'd assume/hope that VSCode's automatic `{}` insertion (or other things like quote insertion, for example) was based on semantic information

[2017-02-07 17:51] ramya-rao-a commented on #698
Thanks for the kind words @thewhitetulip! We will keep working on that :)

[2017-02-07 17:51] #698 closed

[2017-02-07 19:08] mtrmac opened #777 "Coverage computation too disruptive"
I use
[code]

which has worked fine. After a recent update to Code 1.9 / vscode-go 0.6.53, every edit which breaks the syntax or cases tests to fail immediately opens an output window with `Command failed: /usr/bin/go test -coverprofile=/tmp/go-code-cover` and details of the failure.

That’s… extremely disruptive. Would it be possible to revert to the previous behavior, or perhaps to open such a w

[2017-02-07 19:08] mtrmac commented on #777
Sorry, of course only after the autosave delay. But that’s pretty soon.

[2017-02-07 19:32] ramya-rao-a commented on #773
There is something else at play here...
I am testing on the `github.com/godoctor/godoctor` project which has vendor dependencies.
The file I am trying to rename is importing one of the vendor package.

No matter where I run the gorename from, it is always successful

<img width="874" alt="screen shot 2017-02-07 at 11 29 36 am" src="https://cloud.githubusercontent.com/assets/16890566/22707783/c0ba2

[2017-02-07 19:39] ramya-rao-a commented on #777
That change was made in response to #350 where the user was running the test coverage command, but was not seeing any results because the tests were failing.

I can see how this can be disruptive when `coverOnSave` is `true`

What we can do is show such errors when test coverage is explicitly asked for via the command. This way the "coverOnSave" feature can continue to be silent.

Thanks for the c

[2017-02-07 21:28] atombender commented on #773
The code isn't public yet, but I email it to you privately.

[2017-02-08 00:34] ramya-rao-a commented on #771
@codmajik That was quick!

You can get the latest vscode.d.ts by updating the "engines" field in the `package.json` file of the Go extension. Right now it is pointing to `^1.8.0` change that to `^1.9.0` and you will be able to get the the new APIs

Can you try using the `-scope` flag like @nochso suggested and pass the workspace root as scope?

[2017-02-08 01:07] atombender commented on #773
Turns out my `gorename` was old. Sorry about the noise.

[2017-02-08 01:07] #773 closed

[2017-02-08 01:13] #777 closed

[2017-02-08 01:14] ramya-rao-a commented on #777
The fix should be out in the next update which should be in a week.
Until then, you can set `coverOnSave` to false.
Sorry for the inconvenience

[2017-02-08 01:17] ramya-rao-a commented on #776
@velomarc Did you do any updates since yesterday?
This sounds like VS Code is stuck in a bad state.
what other extensions are you using?

Sorry for the typical workaround, but have you tried closing and restarting VS Code?

[2017-02-08 03:22] bruceauyeung opened #779 "unable to eval expression when debugging"
vscode:1.9.0
vscode-go:0.6.52
delve: commit 8c96e275d0e0d943f8d5d4a34900a0e3bbc94810
\# dlv version
Delve Debugger
Version: 0.12.1
Build:

when i step into a function, i can not even evaluate the input parameters

![default](https://cloud.githubusercontent.com/assets/1210201/22722213/71dfa466-edf0-11e6-9e25-d20026c5bb74.PNG)

[2017-02-08 05:27] ramya-rao-a commented on #779
I am able to eval the input param and the variable inside the function as well.

<img width="585" alt="screen shot 2017-02-07 at 9 23 36 pm" src="https://cloud.githubusercontent.com/assets/16890566/22724554/d5d40770-ed7b-11e6-9064-989186b1e9f5.png">

I am using the latest delve (0.12.1) and the latest Go extension (0.6.53). How about you?

@roblourens Do you know where the message "unable to find

[2017-02-08 06:10] eureka-gh commented on #466
I have the same issue even if with all above suggestions.

[2017-02-08 06:15] codmajik commented on #771
@ramya-rao-a, `guru` expects `-scope` to be a go package, so setting it to the workspace root may not work.

I can try to be clever by figuring out the package, like so:

- using the selected file ($HOME/mygopath/src/github.com/mycurrentproject/somespace/morepkg/my/face.go) look for a directory whose name looks like a domain eg: github.com
- then go 1 level down still based on the filepath. eg: gi

[2017-02-08 06:27] bruceauyeung commented on #779
@ramya-rao-a i use vscode-go 0.6.52, but vscode does not notify me there is a newer vscode-go version

[2017-02-08 06:31] velomarc commented on #776
@ramya-rao-a  Thank you for your reply, I'm also thinking of that if it's the problem of Vs Code,
I tried to remove all extensions and then reinstall vscode-go, it still does not work, I even tried to remove Vs Code, but after I reinstalled Vs Code, the problem still exists, Im not sure how to remove Vs Code completely, even I removed Vs Code from Applications, seems some configuration files still

[2017-02-08 07:24] velomarc commented on #776
I removed these following folders, then it works again
/Users/dev/Library/Application Support/Code
/Users/dev/Library/Saved Application State/com.microsoft.VSCode.savedState
/Users/dev/Library/.vscode

Thank you

[2017-02-08 08:00] bruceauyeung commented on #779
@ramya-rao-a the problem occurs when golang 1.8rc1 is used, after upgrading to golang 1.8rc3, the problem is gone, thanks!

[2017-02-08 10:10] psollberger commented on #770
@ramya-rao-a in my case the debug toolbar didn't show up in step 2. Only the errors where displayed.
As soon as i get home i can check what happens with the latest version.

[2017-02-08 14:18] mtrmac commented on #777
Wow, that was fast. Thank you!

[2017-02-08 15:34] ramya-rao-a commented on #777
Our pleasure :)

[2017-02-08 15:38] ramya-rao-a commented on #466
@eureka-gh Delve errors out with`could not launch process: could not fork/exec` if there are issues with code signing/certificates.

See https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#could-not-launch-process-could-not-forkexec

[2017-02-08 15:40] ramya-rao-a commented on #466
@mrichman @eureka-gh Another thing I just noticed, there is a casing issue. `${workspaceroot}` won't work. `${workspaceRoot}` is the right token to use.

[2017-02-08 15:46] ramya-rao-a commented on #776
Sorry you had to go through all that. Now you are unblocked, correct?
Happy Coding!

[2017-02-08 15:46] #776 closed

[2017-02-08 15:49] ramya-rao-a commented on #779
@bruceauyeung Can you share a screenshot of your extensions viewless? There should be an update button next to the Go extension there if you are still on 0.6.52

[2017-02-08 15:50] ramya-rao-a commented on #779
I haven't tested with go 1.8 rc versions yet. Please do let us know if any of the features of the Go extension do not work as expected with go 1.8

[2017-02-08 15:51] #779 closed

[2017-02-08 23:51] eureka-gh commented on #466
Hi ramya, Thanks for your prompt response to my question.
I followed a couple of solution mentioned in provided link. New error's coming : (
- The mentioned "could not fork/exec" issue can be partially resolved by using sudo in CLI, how to launch the dlv debugger in VS code with sudo ?
- Even with "sudo dlv debug [fullpath to go file]" in CLI, this is what I've got
[code]
Actually, my $GOPATH is s

[2017-02-09 00:53] ramya-rao-a commented on #466
Where did you get the suggestion to use sudo? None of the linked items #717, #269 or https://github.com/derekparker/delve/issues/357 suggest using sudo.

"could not fork/exec" is always associated with code signing issues.

All the linked items talk about clean installing delve again

[2017-02-09 00:56] bruceauyeung commented on #779
![1](https://cloud.githubusercontent.com/assets/1210201/22764347/1d891090-eea5-11e6-9ba3-b88fd4d75713.png)

i use vscode behind a proxy. you can see my proxy program receives update query requests from vscode
please ignore those Chinese characters which are irrelevant to this subject.

[2017-02-09 02:48] ramya-rao-a commented on #779
Were you able to see the Update button/notification previously? What version of VS Code are you using?

@joaomoreno @sandy081 Extension update notification should work behind proxy as well correct?

[2017-02-09 07:52] joaomoreno commented on #779
If you can query for extensions in Code, the update notifications should work.

But proxies are a bit of a mess right now. Microsoft/vscode#18103

[2017-02-09 09:34] dc0d commented on #619
I've updated again all tools (`go get ...`s on the front page) & installed 1.9.1. It works now, except sometimes when it's the 1st time you use a specific package in a file.

I can not reproduce it in meaningful way; so I think this should get closed for now.

And for some hours that I'm working with 1.9.1, I did not see it so far (except for what explained above).

[2017-02-09 09:34] #619 closed

[2017-02-09 10:08] ramya-rao-a commented on #619
Thanks @dc0d

[2017-02-09 14:55] hhrutter commented on #687
- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-08T23:31:51.320Z)
- OS Version: Darwin x64 16.4.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.53|

This latest environment still has the issue of godoc processes clogging the CPU.
But.. `gogetdocs` did the trick for me!

I suggest "go.docsTool": "gogetdoc" as default value.

Thanks :)

[2017-02-09 19:51] ramya-rao-a commented on #738
https://github.com/Microsoft/vscode/blob/master/extensions/go/syntaxes/go.json is the syntax we use for Go. It is based off of the one from https://github.com/atom/language-go

The syntax is not aware of composite literals which is when we need the [trailing comma](https://dave.cheney.net/2014/10/04/that-trailing-comma) I believe.

Therefore, I think we need to depend on the AST to make this happe

[2017-02-09 20:36] atombender commented on #738
That's great. Looking forward to it.

[2017-02-09 23:23] alexbrand opened #781 "Linter fails silently when mistakenly configured gometalinter with --json option"
I switched over to using the gometalinter, and while modifying the `go.lintFlags` I assumed that I needed to pass the `--json` option. This resulted in the linter's output not showing up while working on code.

[2017-02-10 00:19] surajbarkale-dolby opened #782 "Unhelpful error message when program is not full path in launch.config"
Summery
---------
When using delve in vscode, I got `Failed to continue: "Error: spawn /usr/local/bin/dlv ENOENT"` error. Using command line to launch delve works as expected.

Reproduction
-------------
1. Clone `https://github.com/surajbarkale-dolby/gb-example/tree/vscode`
2. Execute `debug.sh` to launch delve to verify that delve works
3. Launch visual studio code (preferably using `code .`)
4.

[2017-02-10 01:49] thrnio opened #783 "IntelliSense doesn't understand abbreviated elements when initializing an array/slice of structs"
Consider the following code:

[code]

This is valid Go code, since it's optional to specify `foo` before each individual element (i.e., `{bar: "bar", baz: true}`). IntelliSense, however seems to attempt to autocomplete as if it were just `foo{ | }`, not `[]foo{ | }`. Explicitly doing

[code]

works better.

![golang-array-struct-intellisense-bug](https://cloud.githubusercontent.com/assets/97464/22

[2017-02-10 10:56] eureka-gh commented on #466
@ramya-rao-a Sorry for not going though all your resources. I opened two many searching pages and totally lost. Now I am able to use dlv to debug my go code in VS code. I removed previous dlv which was installed by "go get " and reinstall new dlv with "brew install go-delve/delve/delve" which is pointed out at https://github.com/derekparker/delve/blob/master/Documentation/installation/osx/install.

[2017-02-10 17:24] ramya-rao-a commented on #466
glad that you are unblocked @eureka-gh, Happy Coding!

[2017-02-10 17:51] ahmetalpbalkan opened #784 "go.toolsPath does not resolve ~ or $HOME."
I am using a handy extension called "Settings Sync" for vscode that syncs my settings across macOS machines. It works fine, however `go.toolsPath` is a showstopper.

I have different usernames on different machines and I want to install Go tools to `~/gotools` or `$HOME/gotools` but apparently these _shortcuts_ are not resolved before it is passed to go tool:

[code]
or
[code]

My current solution

[2017-02-10 19:46] ramya-rao-a commented on #784
Nice timing @ahmetalpbalkan! I just implemented ~ https://github.com/Microsoft/vscode-go/commit/ab35627ad3512a958598eea009fa63c7c91ab822

It should be out in the next update which will be early next week

[2017-02-10 19:46] #784 closed

[2017-02-10 19:50] ramya-rao-a commented on #782
Can you run `which dlv` in your command line and see if the value is `/usr/local/bin/dlv`?

[2017-02-10 20:22] ahmetalpbalkan commented on #784
Thanks so much.

[2017-02-10 21:46] surajbarkale-dolby commented on #782
Yes I installed it using `brew` and it is located at `/usr/local/bin/dlv`. The reported version is 0.12.1 with build version v0.12.1.

[2017-02-10 22:40] surajbarkale-dolby commented on #782
The fix is to use full path of executable for "program" key in launch configuration (see [this diff](https://github.com/surajbarkale-dolby/gb-example/commit/3e2cdb0523d7c6fb9ea499454e9a6f2ec6abcdc5)).

Thanks to your instructions about debugging the debugger, I was able to pinpoint root cause of this issue. In `goDebug.ts`, program name is not added to command line (as I did in debug.sh). Instead,

[2017-02-11 00:17] ramya-rao-a commented on #782
Thanks @surajbarkale-dolby !

Yes, the program key needs to be a full path. I just added a line about this in the [wiki](https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#set-up-configurations-in-launchjson)

The debugging part of the extension needs some work, we have been trying to improve it in the last few weeks.

Looking forward to your PR.

[2017-02-11 05:39] MarcusMann opened #785 "Unapprove personal packages"
At least in my Visual Code, when I try to import a custom package (my), it simply removes the import because it thinks I'm not using the package.

But in truth I am.

[2017-02-11 19:35] ramya-rao-a commented on #785
Can you give an example? A screenshot or a screencast/gif perhaps?

See #705 If you have imported a package and save your file before using the package, formatting will remove it assuming that it is an unused package.

Is there any line of code that is using this custom package of yours before the file gets saved?

[2017-02-11 21:06] atombender opened #786 "Find solution to slow "format on save" impacting tests"
With Go, the `goimports` formatter is not super fast. It can take a second for it to run on a large file — and it's almost always slower than I work. I frequently save and then immediately hit my keyboard shortcut to run the tests, and as a result, I constantly find myself in a situation where the tests are run before imports have been fixed.

For example, I might add a `log.Printf()` call, save,

[2017-02-12 02:20] safijari commented on #615
I have these import statements
[code]

If I press Ctrl+s (or just straight up save from the menu), vscode automatically changes these lines to:

[code]

I have these extensions installed.

![image](https://cloud.githubusercontent.com/assets/5191844/22859111/89083d18-f086-11e6-925b-4be8e47a627c.png)

I am on Windows 10. Removing the go extension fixed the issue.

[2017-02-12 03:38] ramya-rao-a commented on #615
@safijari Is your issue that "gopkg.in/telegram-bot-api.v4" is disappearing from the import list or that the list is re-ordered?

By default, on save, formatting is triggered. (You can disable this by setting `"go.formatOnSave": false`)

By default, the tool used for formatting is `goreturns`. (You can change this by changing the setting "go.formatTool" to either `goimports` or `gofmt`

When the f

[2017-02-12 17:54] ideahitme opened #787 "Import autocomplete stopped working"
**Issue**: Upon updating to new vscode and vscode-go versions autocompletion stopped working for packages.

**Details:**:

Typing anything does not create pop-up window with suggested packages. For example: while typing `ioutil` nothing comes up. But once `ioutil` is typed, `ioutil.` presents the number of possible methods.

Previously, list of possible packages were always presented. I cannot che

[2017-02-12 22:26] atombender commented on #786
I should add that this isn't just about imports. My changes don't seem to take effect until the formatter has run. I frequently end up running tests on the unsaved versions because of this latency.

[2017-02-12 22:40] ideahitme opened #788 "Autocomplete issue with function arguments"
**Some info**:
Max OS X Sierra 10.12.3
VS Code 1.9.1 f9d0c687ff2ea7aabd85fb9a43129117c0ecf519
Gocode latest version
vscode-go 0.6.53

Autocomplete does not popup on function arguments:
![screen shot 2017-02-12 at 23 38 06](https://cloud.githubusercontent.com/assets/23239537/22866819/6b5da626-f17c-11e6-92e1-5667aeca52de.png)

Gocode output:

![screen shot 2017-02-12 at 23 39 51](https://cloud.githu

[2017-02-12 23:43] elithrar opened #789 "Package docs from godoc in VS Code"
Being able to open the current symbol in godoc—within VS Code—can be a huge productivity boost, as you don't need to leave VS Code and can browse related package documentation quickly.

This is something vim-go does very well: https://github.com/fatih/vim-go#example-mappings

Being able to do this, and configure keybindings for the behaviour, would be very useful.

[2017-02-12 23:53] ideahitme commented on #787
Finally figure out the issue. Apparently the following setting need to be set:
`"go.autocompleteUnimportedPackages": true` in settings.json. I am not entirely sure if it was introduced in new version of vscode-go. Or I used to have it and accidentally removed it. In any case  I am closing this issue

[2017-02-12 23:53] #787 closed

[2017-02-12 23:56] ideahitme commented on #787
After checking the changelog I found that this default "behaviour" introduced few releases before. It seems completely unnecessary to me, as it is one of the awesome features that vscode-go provides (search and autocomplete through external packages). If performance is the issue, then one should rather manually disable it.

[2017-02-13 02:48] archerbj commented on #503
@ramya-rao-a hi , i just  ran into  this problem. It is embarrassing  to say but i really can't find where to run the command.
Should i literally run `GO: install tools` ? or go install the tools separately

[2017-02-13 04:25] ramya-rao-a commented on #503
@archerbj Not a problem at all.

You need to run the command from the command pallet. So
- Cmd+Shift+P to open the command pallet.
- Then type `Go: Install Tools`, hit ENTER.

[2017-02-13 04:43] archerbj commented on #503
@ramya-rao-a  Thanks a lot !

[2017-02-13 11:24] zegl commented on #503
I recently encountered this issue after upgrading to MacOS Sierra.

Why can the extension not notify the users to run `Go: Install Tools` if the editor suspects that some tools needs to be upgraded/reinstalled?

[2017-02-13 18:45] lloy0076 opened #791 "Unable to Find in Marketplace"
I simply cannot find this tool in my Visual Studio 15 (Community Edition) marketplace - searching for just "Go" doesn't bring this up.

Is there another way to install this (or download it and point VS at it)?

[2017-02-13 19:05] ramya-rao-a commented on #791
@lloy0076 This extension is for Visual Studio Code which is a separate product from Visual Studio.

[2017-02-13 19:05] #791 closed

[2017-02-13 19:16] lloy0076 commented on #791
Oops, my mistake :)

[2017-02-13 19:42] ccirello commented on #734
I cannot reproduce in a self-contained example. :(

[2017-02-13 20:57] ramya-rao-a commented on #791
No problem, do give Visual Studio Code a try too :)

[2017-02-13 20:58] ramya-rao-a commented on #734
Thanks @ccirello, do share the example when you find it. Closing till then.

[2017-02-13 20:58] #734 closed

[2017-02-13 22:08] barthr opened #792 "Possible feature of automatically generation struct tags"
Currently in vim-go you can create struct tags with a shortcut. This would be a handy feature and is possible with the new library fatih released:

```https://github.com/fatih/gomodifytags```

Any thoughts?

[2017-02-13 22:42] #782 closed

[2017-02-13 22:49] kopaygorodsky opened #793 "Missing local variables while debugging"
sometimes(some magic time), I can't see any local variables, except arguments.
Here is the screenshot, I implement KMP algorithm and can't see variables. It works sometimes.

![img_2017-02-14 00 42 15](https://cloud.githubusercontent.com/assets/2415637/22906736/92fced90-f24e-11e6-9a62-eb7197ddde11.jpg)
launch.json
[code]
Also if I put a breakpoint to an empty line - debugger will skip this line, s

[2017-02-14 04:17] ramya-rao-a commented on #700
@acroca I have a PR #795 out for integrating your fork of `go-symbols`.

But at the same time, I don't want to rush into this.

Reason being, we are looking into integration with language server for Go which also implements WorkspaceSymbolProvider, and that might have a different design.

Also, felt like this is not a Go specific feature ask. Therefore logged https://github.com/Microsoft/vscode/is

[2017-02-14 04:48] ramya-rao-a commented on #503
Users don't need to update the tools every time an update is available.

One thing we can do is to prompt to update when the Go version used by the user changes.

Any other ideas?

[2017-02-14 07:35] frozzare opened #796 "Package name suggestion contains bad characters"
The suggested package name is built up on the [directory name](https://github.com/Microsoft/vscode-go/blob/master/src/goSuggest.ts#L153), but if the directory name contains a prefix, e.g `go-` the suggested package name will be `go-mypack` and that isn't allowed as a package name and it's not just a dash that don't work in a package name, e.g dot will not work either.

I don't have a good solution

[2017-02-14 10:19] fatih commented on #792
As a side note, I've created a section with some more information on how to integrate it with other editors, check this out: https://github.com/fatih/gomodifytags#editor-integration

[2017-02-14 10:25] gertcuykens commented on #503
Hmm I personally would leave it at it is and just point it out in the docs. Also please create a new issue for it if you believe it needs to be a new feature.

[2017-02-14 11:11] zegl opened #797 "Update Go tools automatically"
The Go tools required with this editor are not automatically updated.

If vscode-go requires a newer version of a tool to function correctly the user has to debug this issue themself. A notice in a README is not enough to keep the users happy.

I suggest that the plugin/editor would automatically resolve these issues if they are found. Or that the user is notified about the issue via a banner tell

[2017-02-14 11:26] joaodias opened #798 "Output panel always popping when coverOnSave=true"
Wouldn't it be nice to add an option so that the output panel would not pop every time something is failing?

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/4543850/22927305/6b0fdf9a-f2a8-11e6-88d8-7c4140e66c38.gif)

`getCoverage()` in `goCover.ts` is being called with `true` every time. Can we somehow make this optional?

Does that make sense?

[2017-02-14 14:39] fatih commented on #433
This can be done now with the `gomodifytags` tool if wished: https://github.com/fatih/gomodifytags  Here is a demo of it: https://twitter.com/fatih/status/831233941935886338

[2017-02-14 14:41] fatih commented on #792
Seems like this is a duplicate. See #433

[2017-02-14 17:53] acroca commented on #700
@ramya-rao-a Awesome.

[2017-02-14 18:25] #744 closed

[2017-02-14 19:10] mattetti commented on #433
Thanks @fatih!

[2017-02-14 19:15] ramya-rao-a commented on #798
@joaodias This is fixed with https://github.com/Microsoft/vscode-go/commit/3c4744abb1000accbb8e7bf1058ea1024a362534

The next update will have the fix.

Thanks for reporting!

[2017-02-14 19:15] #798 closed

[2017-02-14 19:28] ramya-rao-a commented on #796
See https://github.com/Microsoft/vscode-go/issues/647#issuecomment-263664489 where I have put my thoughts on the subject.

That particular issue was closed as I added a solution for packages from gopkg.in as they specifically start wit "gopkg.in" end in ".v1" or v2 etc.

I think the best solution would be to update `gopkgs` tool to return both package name and the import path instead of just the i

[2017-02-14 19:43] ramya-rao-a commented on #797
The upgrade of MacOS to Sierra was an unfortunate case which we couldnt have foreseen (If anybody thinks otherwise, I'd love to hear ideas).

The updgrading of Go itself on the other hand is known to need rebuilding/re-compiling of the tools. We can look into ways of tracking the Go version the user is using and prompt to update the tools.

There can be a hundred other cases where one of the tools

[2017-02-14 19:44] c4milo commented on #503
@ramya-rao-a I would appreciate the prompt as I constantly switch my Go version underneath when  testing new Go releases and it breaks vscode every time.

[2017-02-14 19:45] ramya-rao-a commented on #503
@c4milo #797 has been created for this. Please share your thoughts/upvotes there.

[2017-02-14 20:17] zegl commented on #797
The Sierra issue would indeed be hard to foresee. This issue might be easier to *detect* than to *predict*?

Sings of this issue seems to be unresponsive processes of `gocode`, `godef` or any other tool.  Which should be relatively easy to detect and correct for.

[2017-02-14 23:39] renannprado opened #799 "debug console: the output of the debugger is mixed with the output of the program"
Is there a way to filter the output so that I don't see the output of the debugger?

![image](https://cloud.githubusercontent.com/assets/2359543/22954500/ed4b2adc-f2fd-11e6-9951-c7c4d34d131b.png)

Edit:
Actually instead of filtering, I believe it would be better if we had the output of the program (stdout/stderr) in the *Output* tab.

![image](https://cloud.githubusercontent.com/assets/2359543/229

[2017-02-15 00:52] nicksnyder opened #800 "How to debug vscode-go against development version of VS Code?"
This is essentially a cross post of https://github.com/Microsoft/vscode/issues/20623. Please see that issue for details.

***tl;dr***
I am making changes to vscode.d.ts to support streaming from language servers, but I am having some trouble setting up an environment that will allow me to set breakpoints in vscode-go while at the same time allowing vscode-go to see local changes I have made to vsc

[2017-02-15 03:58] nicksnyder opened #801 "npm test fails on fresh checkout"
npm test fails with error
[code]

How to reproduce
1. `git clone git@github.com:Microsoft/vscode-go.git && cd vscode-go && npm install`
2. `npm run compile` (then ctrl+c once it is done compiling)
3. `npm run test`

Environment
[code]

Full log
[code]

[2017-02-15 04:52] ramya-rao-a commented on #796
As suggested https://github.com/tpng/gopkgs/issues/5#issuecomment-279845862, it would be an overkill to implement this in `gopkgs`, but I have an idea at the moment I am exploring.

The output of `gopkgs` is currently cached and then used by the auto-complete feature. The cache only gets revised on a window reload. The cache has a mapping of import path to package name as deduced from the import p

[2017-02-15 07:13] frozzare commented on #796
It's sound like a good solution to use `go list` in the background and update the cache but what about new packages that don't will be listed with `go list`? When I create a new package I don't have any go files and when I create my first go file `mypack.go` the suggested name will still be `go-mypack` since `go list` can't find `mypack` or I'm I wrong?

[2017-02-15 07:43] ramya-rao-a commented on #796
Looks like I went off on a different tangent...

@frozzare you are talking about the specific case when user types `package ` and auto-complete suggesting the directory name as package name

Whereas the issue I linked is about the when you try to use an existing package (but unimported) which maybe in a folder `my-pack` but could be named anything, in that case, you type "my" anywhere in your code

[2017-02-15 07:45] frozzare commented on #796
Yeah that would work since it's better to suggest package name that actually are valid than package names that isn't valid :)

[2017-02-15 17:41] #796 closed

[2017-02-15 17:49] ramya-rao-a commented on #799
Set `showLog` to false in your launch.json to not see the logs from the debugger.

As for sending the program output to output tab, Debug Console is the place where any output during debugging is meant to go. @roblourens You have any insights here?

[2017-02-15 17:56] ramya-rao-a commented on #801
Ah! This was a debt item I knew I had to pay some day ...

There is hack that a few unit tests bank on the fact that the machine already has the Go extension up and has all the dependent tools.

These specific tests are using the `godef` repo for running tests on vendoring.

The fix is to set up a small Go project with vendoring inside the "test/fixtures" folder, point GOPATH there while running u

[2017-02-16 01:47] bruceauyeung opened #805 "there should be a way to collapse multi-line comments"
and it should be enabled by default

[2017-02-16 02:07] bruceauyeung opened #806 "[feature request]rename symbol should be more intelligent"
i have a variable `test_name`, when my cursor is between `_` and `n`, if i press `F2`, the rename symbol window is poped up:
1. i think the cursor in the popup window(rename symbol window) should also be exactly in the same place in the source editor window instead of the whole variable name being selected.
2. if i press `arrow left` / `arrow right` key, the cursor should move left / right one cha

[2017-02-16 02:14] bruceauyeung opened #807 "Error:Error:Illegal value for `line`"
when i was renaming symbols, this information message poped up. i dont know why .
vscode : 1.9.1
vscode-go : 1.6.52

[2017-02-16 05:46] ramya-rao-a commented on #806
@bruceauyeung Everything you have described is the VS Code editor behavior and has nothing to do with the Go extension. Therefore please log an issue in the repo for VS Code instead.

Regardless here are my thoughts

When whole variable name is selected and you press `F2`:

That is exactly what happens, am not sure what you are expecting

Once you press any key, the selection in the rename symbol

[2017-02-16 05:46] #806 closed

[2017-02-16 07:17] ramya-rao-a commented on #805
Code folding in VS Code is done based on indentation and spaces. It does not depend on any language or language syntax.

All contiguous lines that have the same number of spaces or tabs in the starting of the lines can be collapsed together

<img width="470" alt="screen shot 2017-02-15 at 11 15 44 pm" src="https://cloud.githubusercontent.com/assets/16890566/23011243/be394d64-f3d4-11e6-98b5-fc681b6

[2017-02-16 07:17] #805 closed

[2017-02-16 07:23] ramya-rao-a commented on #807
Does it happen overtime you try rename? Does it happen only on certain files/projects or all the time?

Is this in Windows? If yes, then can you type `diff` in the terminal and see if you get "not recognized as an external or internal command" ?

If you are not on Windows your machine would have the `diff` cmd available. If you are on Windows and the `diff` cmd does not give that error, then the `

[2017-02-16 07:47] ramya-rao-a commented on #793
The next time you don't see the local variables, can you add `"trace": true` to your launch.config and try to repro again? This will add a detailed logging to a text file, the path to the file will be in the debug console. Please share that file with us, so that we try to spot what went wrong.

About your second question, I tried the same with a simple hello world type of code. The breakpoint on a

[2017-02-16 07:50] ramya-rao-a commented on #792
Thanks @fatih!
@barthr Closing this issue as duplicate of #433
Please do up vote #433 and we'll get to it soon

[2017-02-16 07:50] #792 closed

[2017-02-16 07:55] ramya-rao-a commented on #789
That would be cool to do, PRs are welcome :)

[2017-02-16 08:03] ramya-rao-a commented on #788
According to the `gocode` output you have shared, it finds the 5 candidates.
But this output doesn't look like the output that can be consumed by the editor, can you share the command you ran to get that output?

Below is my example for your scenario and auto complete works well for function arguments.
Am I missing something in this example?

<img width="279" alt="screen shot 2017-02-16 at 12 02 2

[2017-02-16 08:16] ideahitme commented on #788
Hi,

I got the output through

1. `gocode close`
2. `gocode -s -debug`
3. Started typing

[2017-02-16 08:22] #781 closed

[2017-02-16 08:23] ramya-rao-a commented on #781
Thanks for reporting @alexbrand!
The fix will be out in the next update.

[2017-02-16 08:30] ramya-rao-a commented on #783
@thrnio We use `gocode` for the completions, where we pass the cursor position and the file contents and show what is returned by `gocode`. Therefore, will move this issue to the repo for `gocode`

[2017-02-16 08:31] ramya-rao-a commented on #783
This issue was moved to nsf/gocode#422

[2017-02-16 08:31] #783 closed

[2017-02-16 08:36] ramya-rao-a commented on #194
We are blocked on https://github.com/nsf/gocode/issues/415 to get the docs during completion.

As of now we have docs in Signature Help and Quick Info.

[2017-02-16 08:58] ramya-rao-a commented on #263
Thanks for the explanation @joeblew99, it definitely helped. Also read the [Design Doc](https://docs.google.com/document/d/1V03LUfjSADDooDMhe-_K59EgpTEm3V8uvQRuNMAEnjg/edit)

If I understand this correctly, as a first step, there should be a way to run the `go generate` command either on current file or current package.

Next, there should be some way to get this `go generate` to run every time ti

[2017-02-16 09:01] ramya-rao-a commented on #788
Also, can you take a look at the example I shared, and let me know if it is the same case as yours?

[2017-02-16 09:18] bruceauyeung commented on #807
@ramya-rao-a

no , today i renamed over 10 variable names, but only one time this error occurred.

not all the time, i have no idea whether its bound to certain files/projects.

Ubuntu 16.04.1 LTS. sorry about this, i should have mentioned this.

on my machine, `diff` command does exist

diff (GNU diffutils) 3.3
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or

[2017-02-16 09:43] bruceauyeung commented on #805
@ramya-rao-a
https://golang.org/doc/effective_go.html#commentary gives an example of block comment which has no space/tab before the lines.

all of `.go` source files in Kubernetes project have package comments , and all of these package comments have no space / tab before the lines.

gogland EAP version can colapse this kind of comments even when they don't have no space / tab before the lines.
!

[2017-02-16 09:58] ramya-rao-a commented on #807
Can you reproduce the error using the steps you outlined in your guess?

[2017-02-16 10:55] kopaygorodsky commented on #793
@ramya-rao-a
Ok, will do.

I mean the same problem with variables. Sorry for the misunderstanding.

[2017-02-16 13:57] nicksnyder commented on #800
Going to close this as all the necessary information is in Microsoft/vscode#20623

[2017-02-16 13:57] #800 closed

[2017-02-16 16:39] ideahitme commented on #788
after a bit more investigation, it actually happens only if the parameter is not first argument passed. Your example works, as well as this:

![screen shot 2017-02-16 at 17 37 46](https://cloud.githubusercontent.com/assets/23239537/23030670/b6209d72-f46e-11e6-86ef-0ee4d8e6f2d7.png)

[2017-02-16 16:47] nochso commented on #771
@codmajik [go list](https://dave.cheney.net/2014/09/14/go-list-your-swiss-army-knife) might be what you're looking for:

However that would mean running another external command. I'll try to have a look at the implementation of `go list`. Hopefully I can piece together what the official way to detect the pkg path is.

[2017-02-16 18:53] Gargo83 commented on #770
@ramya-rao-a i can confirm that it now behaves like you say

This was not the case at the time i filled this bug.
I think this is now a better situation because Visual Studio Code doesn't need to be restartet anymore.

But now neigther the debug console nor the problems window appear on a failed build/run
So i guess the initial bug was fixed but now this inconvenience appeared

[2017-02-16 19:20] ramya-rao-a commented on #770
Thanks @Gargo83 , #492 is tracking what you now observe.

The fix will be out in the next update.

Will close this in favor of #492

[2017-02-16 19:20] #770 closed

[2017-02-16 19:32] ramya-rao-a commented on #793
@kopaygorodsky  No problem
@roblourens Do you think we can do anything about not allowing to add breakpoint on a blank line?

[2017-02-16 19:37] roblourens commented on #793
Probably not. It's up to the debug adapter to move the breakpoint if it's not in a valid spot. We can see what Delve is doing here and check whether we can do something else to make it not break, or file a bug on Delve.

[2017-02-17 00:59] bruceauyeung commented on #807
@ramya-rao-a

no.
there is a message popped up and renaming process terminates :

[2017-02-17 06:43] mosesed opened #808 "When to update the tool go1.8"
Thank you.

[2017-02-17 07:26] #808 closed

[2017-02-17 17:28] jijeshmohan commented on #588
How about integrating [godoctor](http://gorefactor.org/index.html) which has the same feature ?

[2017-02-17 18:27] ramya-rao-a commented on #588
We did try godoctor back in July, but it had a few limitations. See #370 for the discussions that followed.

[2017-02-18 00:40] ramya-rao-a commented on #771
Won't `${workspaceRoot}/...` work?

[2017-02-18 09:29] YCF commented on #438
Getting the same behaviour on Manjaro with the vscode 1.9.1 ,vscode-go 0.6.53 and go 1.8.
"debug" process is not being killed after Stop button is pressed.

[2017-02-18 19:49] ramya-rao-a commented on #438
@YCF Thanks for reporting, the fix will out in the next update of the Go extension early next week.

[2017-02-19 15:41] codmajik commented on #771
@ramya-rao-a it won't; `${workspaceRoot}/...` would be `/home/codmajik/gopath/src/github.com/codmajik/servicerouter/...`  what is expected is `github.com/codmajik/servicerouter/...`

I have been busy would get back to this in a few days.

[2017-02-21 02:09] domaa11 commented on #278
Does this give a way to extract more than the first 64 characters: `from the command line you can read the next 64 by using this syntax: print variable[64:]`: https://github.com/derekparker/delve/issues/609#issuecomment-239161459

[2017-02-21 03:02] bedeio commented on #741
Overlooked this setting, it works now. However, shouldn't syntax checking work independent of this?

Running `gofmt -e` on the file containing the "example" build tag gives the same error as shown in the playground.

[2017-02-21 07:36] ramya-rao-a commented on #741
This is interesting.. Turns out when you provide filename as args to `go build`, you get the error even without the build tags. But when you provide the directory (which is what the Go extension does) as args, you don't get the error without the build tags

Keeping this issue open to see if anybody else has more ideas about how this works.

cc @mattetti any ideas?

[2017-02-21 12:54] idanya opened #809 "Debugging stops at breakpoints but can't step over/into"
When I set a breakpoint anywhere in the code the debugger stops, from there if I try to step over or into it all breaks. This is the log stepping over produces:

[code]

When paused in a BP I can see the stack, view variables, watch and everything looks good. I can even continue to the next BP using "continue" (F5). Stepping over or into the command is the only thing that breaks the session.

Delv

[2017-02-22 00:34] zerkms opened #811 "Autocompletion for the locally imported packages does not work"
Here is a repo with tiny project that reproduces the issue: https://github.com/zerkms/vscode-golang-relative-import

Steps to reproduce:

1. Open `main.go`
2. Create a new line in the `main` function
3. Type `bar.`

Expected: there should be autocompletion with the exported `Hello` function

Actual: no autocomplete shown automatically, and `ctrl+space` just shows all symbols available across the f

[2017-02-22 09:32] emicklei commented on #811
a similar problem is when using the (unrecommended) dot import

[code]

Exposed functions defined in this pkg are not found either (using v 0.6.53 of the plugin)

[2017-02-22 15:53] DaveAppleton opened #812 "Extremely long line breaks syntax highlighting"
Duplicated at https://github.com/Microsoft/vscode/issues/21157

- VSCode Version: 1.9.1
- OS Version: OSX 10.11.6

Steps to Reproduce:

1. Insert following line in a go syntax file
[code]

2. compare with inserting a shorter similar line e.g.
[code]

![image](https://cloud.githubusercontent.com/assets/1858302/23219035/ef0265b4-f958-11e6-93f3-b609804fcd70.png)

![image](https://cloud.githubusercont

[2017-02-22 22:19] samherrmann opened #813 "Add support for default GOPATH (Go 1.8)"
Go 1.8 introduced a [default GOPATH](https://beta.golang.org/doc/go1.8#gopath) that is used when users do not set one themselves. That means that `go env` will return a valid GOPATH even when the GOPATH environment variable is not set. As such, the [isGoPathSet](https://github.com/Microsoft/vscode-go/blob/master/src/util.ts#L213) function returns a false negative in that scenario.

**Proposal:**
I

[2017-02-23 04:25] ahmetb opened #814 "strings.Contains godoc tooltip renders wrong argument name"
![image](https://cloud.githubusercontent.com/assets/159209/23244854/ff6fcb24-f93c-11e6-922a-d3d239aa1b99.png)

sssubstr should be substr.

[2017-02-23 06:11] ramya-rao-a commented on #812
Syntax highlighting comes out of the box in VS Code and the Go extension doesn't have anything to do with this.

The other issue in VS Code that you created should get some answers on how and why this is happening

[2017-02-23 06:11] #812 closed

[2017-02-23 13:21] deltaskelta opened #815 "go test file/package command results in verbose output"
My go settings are as follows (stock, with comments removed)

[code]

The build flags and the test flags are both null so this leads me to believe that when I run the go tests I should see the non verbose output like follows.

[code]

but what I actually see is the verbose output, like this...(truncated)

[code]

So How can I make the test output appear without the verbose output? I have poked thr

[2017-02-23 19:59] ajackson-cpi opened #816 "Code Coverage for multiple packages"
'go test cover' doesn't consider coverage via other packages' tests.
Please make it possible to use coverage tools that do, like:
 https://github.com/haya14busa/goverage

[2017-02-23 21:16] ramya-rao-a commented on #815
Can you try `go.testFlags`: []` ?

[2017-02-24 01:06] deltaskelta commented on #815
That works. I found the line that does it.

https://github.com/Microsoft/vscode-go/blob/547be17cb11915a34a74d68212b01d7f1296431c/src/goTest.ts#L217

This seems to include `-v` option by default. The settings imply that they would be left blank so I think either the comment should be changed to say that `-v` is included by default, or the `-v` should be omitted. What do you think? I can make a PR f

[2017-02-24 04:49] ramya-rao-a commented on #815
The default value for `testFlags` is null. When the value is null, `buildFlags` and `-v` are used to keep the default experience same as before the `testFlags` feature was introduced. So that someone not touching the new `testFlags` sees no change in behavior.

Now, the more I think about it, it seems weird that `-v` is included with build flags in the default set of test flags.

Please submit a P

[2017-02-24 05:33] deltaskelta commented on #815
@ramya-rao-a #817

[2017-02-24 06:36] deltaskelta opened #818 "Adding a comma into composite literals"
I don't know if this can be fixed from within the vscode extension or not but here is an example...

[code]

If you type this out, then there is no comma added in those two spots which interferes with the compiler so `go fmt` will not catch it either. This is a really common literal pattern in testing and I've gotten really annoyed having to go back and add commas everywhere.

Can this be fixed fo

[2017-02-24 21:20] ramya-rao-a commented on #815
Fixed with #817

[2017-02-24 21:20] #815 closed

[2017-02-24 21:24] ramya-rao-a commented on #818
@deltaskelta #738 is tracking something similar, please add your thoughts there.

The conclusion there was that its hard for the extension to do this at present.
But, with the integration of the language server, this can be explored more.

If you have any ideas though, I am open for going through them.

Closing this issue in favor of #738

[2017-02-24 21:24] #818 closed

[2017-02-25 08:17] aphillips801 commented on #318
Two quick questions: What .JSON file do you add the above to? How do you invoke it from within VSCode? (I've been searching and experimenting for some time and it is not obvious to my weak brain. :)

[2017-02-25 22:04] atombender opened #819 "Pasting immediately into newly created file reverts to empty file"
**Steps**:

1. Do `cmd+N` to create an empty, untitled file.
2. Hit `cmd+S` to save it as e.g. `foo.go`.
3. _Immediately_ paste something into the file.
4. Watch as VSC deletes the contents.
5. The empty file is now saved and marked as non-dirty.

I assume this is related to the format-on-save behaviour. It only occurs for Go files. I have `go.formatOnSave` enabled. I also have `editor.formatOnSav

[2017-02-26 02:11] ramya-rao-a commented on #318
@aphillips801 The json file being referred to is `launch.json`.
See https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#set-up-configurations-in-launchjson

[2017-02-26 06:16] #581 closed

[2017-02-27 13:24] dmage commented on #814
It's a bug in [vscode](https://github.com/Microsoft/vscode/blob/72a0cfe1ccbc62c2c4b726a5ce8bab13335977bf/src/vs/editor/contrib/parameterHints/browser/parameterHintsWidget.ts#L361), not vscode-go.

[2017-02-27 15:44] anxiousmodernman commented on #814
I am also seeing this error.

![vscode_golang_error](https://cloud.githubusercontent.com/assets/396004/23367808/ae674cde-fcd9-11e6-97ee-bf8b8ea91c34.png)

[code]

[2017-02-27 22:31] #813 closed

[2017-02-27 23:40] itsjamie opened #822 "goimpl support"
Was looking at implementing [goimpl](https://github.com/sasha-s/goimpl) support into VSCode. It was one aspect from vim-go that I miss.

Any objections to a PR for this?

Any tips for implementation? I was thinking I would use the `gotests` implementation as a guide.

[2017-02-28 00:00] dmage commented on #814
The bug is not in vscode-go, but in vscode. Same issue for TypeScript:
![2017-02-28_02-51-10](https://cloud.githubusercontent.com/assets/443137/23385444/e927b750-fd60-11e6-85c3-e5ff553d04ce.png)
Linked pull request should address the issue.

[2017-02-28 00:02] #814 closed

[2017-02-28 00:22] mjbvz opened #823 "there is a nag hint bar when edit golang source file"
_From @wly65535 on February 27, 2017 15:9_

- VSCode Version: Code 1.9.1 (f9d0c687ff2ea7aabd85fb9a43129117c0ecf519, 2017-02-09T00:26:45.394Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|

---

Steps to Reproduce:

1.open *.go to edit a golang source file.
2.there is some hint in the top every FIVE SECOND,eg: The "gopkgs" command is not available,

[2017-02-28 00:38] ramya-rao-a commented on #823
@wly65535 Looks like you have the Go extension installed which needs certain Go tools installed to work.

Either uninstall the Go extension if you dont intend to use it.
Or install the dependent tools as suggested by the pop ups.

Is there any reason you wouldnt want to install the dependent tools?

[2017-02-28 03:26] ramya-rao-a commented on #822
#259 is tracking the feature request to integrate https://github.com/josharian/impl

I personally am not aware of pros and cons between using https://github.com/josharian/impl and https://github.com/sasha-s/goimpl
If you can make a comparison and present a case here, we have no objections for a subsequent PR and it is very much welcome  :)

[2017-02-28 08:17] giniedp opened #825 "gometalinter with relative config path"
Is there a way to setup the gometalinter within vscode with a relative path to the config file?

When i use

[code]
then the relative path is not resolved from the project root and the file can not be found. Ofc. it works with an absolute path but i'd like to avoid that.

[2017-02-28 13:22] wly65535 commented on #823
@ramya-rao-a Thanks, I uninstalled the go tool yesterday, the pop bar appear always, but when I boot my computer today, the pop bar no longer appear, maybe it's need to reboot.
to build a go project only need input "go build xxx", so I like building it from console manual.

[2017-02-28 19:14] cevn commented on #438
Any update on this? It's pretty annoying to use the debugger on linux right now.

[2017-02-28 22:49] ramya-rao-a commented on #823
Yes, after uninstalling any extension, you need to reload VS Code window.

[2017-02-28 22:49] #823 closed

[2017-02-28 23:39] ramya-rao-a commented on #809
@idanya Which version of Go are you using and on what platform?

I have been seeing issues with Go 1.8 in Mac, but previous version of Go were fine on my Mac
Go 1.8 is also working fine in Windows

[2017-02-28 23:57] ramya-rao-a commented on #706
The latest update of the Go extension (0.6.54) has the integration with the language server available via a setting `go.useLanguageServer`

[2017-03-01 00:01] ramya-rao-a commented on #687
The latest update of the Go extension (0.6.54) has the integration with the language server available via a setting `go.useLanguageServer`

The features powered by the language server are Hover, Definition, Find All References, Signature Help, Go to Symbol in File and Workspace.

Give that a try and let us know if you see improvements in the performance

[2017-03-01 00:01] ramya-rao-a commented on #667
The latest update of the Go extension (0.6.54) has the integration with the language server available via a setting `go.useLanguageServer`

The features powered by the language server are Hover, Definition, Find All References, Signature Help, Go to Symbol in File and Workspace.

Give that a try and let us know if you see improvements in the performance

[2017-03-01 00:02] ramya-rao-a commented on #623
The fix for this issue is now available in the latest update (0.6.54) to the Go extension.
Please update and let us know if you still see any issues

[2017-03-01 00:03] ramya-rao-a commented on #813
The fix for this issue is now available in the latest update (0.6.54) to the Go extension.
Please update and let us know if you still see any issues

[2017-03-01 00:04] ramya-rao-a commented on #757
This feature is now available in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:05] ramya-rao-a commented on #761
This feature is now available in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:05] ramya-rao-a commented on #755
This feature is now available in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:07] ramya-rao-a commented on #744
This feature is now available in the latest update (0.6.54) to the Go extension.

There are 4 snippets supported as of now: https://github.com/Microsoft/vscode-go/blob/master/package.json#L158

If anyone can think of any other common scenario, then please submit a PR to add a snippet for the same.

[2017-03-01 00:07] ramya-rao-a commented on #745
This feature is now available in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:08] ramya-rao-a commented on #492
Fixed in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:08] ramya-rao-a commented on #438
Fixed in the latest update (0.6.54) to the Go extension.

@cevn This update was due for a while, sorry to keep you waiting :)

[2017-03-01 00:09] ramya-rao-a commented on #782
Fixed in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:09] ramya-rao-a commented on #689
Fixed in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:10] ramya-rao-a commented on #581
This feature is now available in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:10] ramya-rao-a commented on #451
The `testOnSave` feature is now available in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:10] ramya-rao-a commented on #815
Fixed in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:11] ramya-rao-a commented on #680
This feature (ignoring import statements in the Go to Symbol feature) is now available in the latest update (0.6.54) to the Go extension.

[2017-03-01 00:12] atombender commented on #680
Yay!

[2017-03-01 00:13] ramya-rao-a commented on #814
Thanks @dmage!

[2017-03-01 00:14] ramya-rao-a commented on #808
@mosesed I don't understand your question. Are you asking if the Go extension supports go1.8?

[2017-03-01 00:19] ahmetb commented on #784
@ramya-rao-a Has there been a release since your patch? I'm still seeing the original behavior.

[2017-03-01 00:21] ahmetb opened #827 "Make use of /releases & /tags"
It's hard to track what commit is released with which plug in version.

If you tag releases properly, we can see which releases include a particular commit.

[2017-03-01 00:27] ramya-rao-a commented on #827
Good point, Luke was adding the tags before, I missed doing the same for the recent releases since 0.6.43

Tagged the current release.

[2017-03-01 00:27] #827 closed

[2017-03-01 01:47] ramya-rao-a commented on #784
I implemented `~` not `$HOME`, which one are you using?

[2017-03-01 01:47] ahmetb commented on #784
Got it, I just updated and can confirm ~ works. It's sufficient.

[2017-03-01 01:48] ramya-rao-a commented on #784
great

[2017-03-01 01:55] junkblocker commented on #706
FYI, this implementation doesn't seem to show struct details whereas the default implementation shows struct members on hover.

[2017-03-01 04:00] mattetti commented on #797
it's a bit of an hard issue since go doesn't have a good dependency management to lock the version of 3rd party libraries. Ideally we would want to vendor those tools or lock a specific version

[2017-03-01 04:02] mattetti commented on #822
agreed, can we continue the conversation in #259 and close this duplicate issue tho?

[2017-03-01 04:03] mattetti commented on #816
I would personally recommend to keep it simple for now. Also, the go recommended way is to have the tests with the code, what are the scenarios where you'd write tests in other packages that the original one?

[2017-03-01 04:04] #822 closed

[2017-03-01 04:07] mattetti commented on #706
I agree with @junkblocker, this is quite a big regression. I rely quite heavily on seeing the struct members on hover to populate the fields. I only turned on the option tonight so I didn't get to really experience the new language server but overall it seems really much faster, especially to find references.  Should we open a new issue? Do we know if that's the limitation of the language server o

[2017-03-01 04:16] mattetti commented on #741
that's definitively an interesting behavior difference. I would file a bug with the Go project (if you have Go 1.8+, you can just type `go bug` in your terminal and it will start a bug report for you). I think the Go team might not be aware that the behavior is different and they should make a decision to what approach is the right one.

[2017-03-01 04:32] itsjamie commented on #259
As mentioned in #822 here's a little bit of research from the person behind goimpl.
[code]

To me after reading the above, I'd rather use impl the code is easier to grok because of AST parse vs loading code with template and then doing reflection. As a user, I wouldn't mind just manually removing any additional methods I already had implemented.

Thoughts? @mattetti @ramya-rao-a

[2017-03-01 04:46] mattetti commented on #259
interesting comparison, I'd probably go with `impl` because of the AST and performance. Note also that our good friend @fatih of awesome vim-go has been using `impl` for a while and therefore vetted it for us :) https://github.com/fatih/vim-go/blob/master/plugin/go.vim#L23

[2017-03-01 05:10] sqs commented on #706
Thanks for trying it out and posting. It's a relatively simple fix to github.com/sourcegraph/go-langserver to make it show struct fields in hovers. That fix will be in within 24 hours.

[2017-03-01 05:19] mattetti commented on #706
@sqs awesome, I was wondering, what do you think about versioning the go-langserver so we could check that the user doesn't have version that is too old and potentially suggest and update?

[2017-03-01 07:11] robsonpeixoto commented on #755
Thanks :) tested and working like a charm :)

[2017-03-01 07:12] ramya-rao-a commented on #706
@junkblocker Thanks for catching this!  Created https://github.com/sourcegraph/go-langserver/issues/168 to track the struct members not being shown on hover issue.

https://github.com/sourcegraph/go-langserver/issues/154 is tracking ways we can have sync between the version of language server the Go extension expects user to have and the version user actually has.

@sqs can you provide thoughts th

[2017-03-01 07:17] ramya-rao-a commented on #259
`impl` for the win.

@itsjamie Feel free to submit a PR for this. If you have questions or doubts on how to go about integrating this, I can answer them for you.

[2017-03-01 08:41] abarisain commented on #667
That sounds great!

[2017-03-01 08:52] idanya commented on #809
@ramya-rao-a  Indeed I am using Go 1.8 on Mac.

[2017-03-01 11:42] YCF commented on #438
0.6.54 this fix not worked.
"debug" process is not being killed after Stop button is pressed.

I binding  hotkey F4-> "killall debug"

[2017-03-01 15:29] keegancsmith commented on #706
Hovers with struct fields coming soon :) https://github.com/sourcegraph/go-langserver/pull/169

Also adding a `-version` flag. Soon you should be able to run `go get gopkg.in/sourcegraph/go-langserver.v2`, etc. https://github.com/sourcegraph/go-langserver/pull/170

[2017-03-01 16:58] roblourens commented on #438
@YCF That would probably be a different issue. The `debug` process should have always been killed. This is for other processes spawned by the program.

Can you open a new issue and tell us your OS, vscode version, etc?

[2017-03-01 18:31] ramya-rao-a opened #828 "Explore ways to sync the right version of the go-langserver"
See https://github.com/Microsoft/vscode-go/issues/706#issuecomment-283427239

Or gopkg.in

[2017-03-01 18:31] ramya-rao-a commented on #706
The issue I have with using `gopkg.in` is that the extension can only ask for which major version it wants and has no control over the minor version.

There might be features in the language server in the future that the extension is not ready for or the features might be in a alpha/beta stage and not ready themselves to be used by the extension (one example is the diagnostics which had to be reve

[2017-03-01 18:32] ramya-rao-a commented on #809
Can you try `dlv` from the command line and see if you can step in/over/out successfully?

[2017-03-01 18:41] ajackson-cpi commented on #816
I'm building a simple REST server that reads from a database. Instead of reinventing DB processing for each call, most of the logic is in a "db-helpers" package.

To test both packages, I would need to copy-paste tests to both.
It would be far cleaner if the API tests could indicate that they tested the db-helpers package.

[2017-03-01 19:12] bkleef opened #829 "Load envFile in .vscode/launch.json"
It's common to use an `.env` file. We would love to load that file instead of duplicating environment variables.
Looks like it is highly releated to https://github.com/Microsoft/vscode/issues/14523.

Something like this would be awesome!

[code]

[2017-03-01 20:06] ramya-rao-a commented on #788
It still works for the second argument for me

![image](https://cloud.githubusercontent.com/assets/16890566/23478872/8dfe5024-fe77-11e6-9cb5-80d102d41a5c.png)

[2017-03-01 22:32] ramya-rao-a commented on #829
This should be simple enough to do
- Add the new "envFile" property to properties at https://github.com/Microsoft/vscode-go/blob/master/package.json#L226
- Update the `Delve` class at https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L177 to take in the new "envFile" argument and extract the env variables just like it was done for node debug https://github.com/Microsof

[2017-03-02 06:07] stawidy commented on #231
For openSUSE:
`sudo zypper in golang-org-x-tools`
`golang-org-x-tools` includes godoc: [source](https://software.opensuse.org/package/golang-org-x-tools)

[2017-03-02 06:28] cemsozgen commented on #219
Any updates on this?

[2017-03-02 10:02] keegancsmith commented on #706
@ramya-rao-a given we aren't a library we don't have to strictly adhere to semantic versioning. We can only use the major version when doing a release, so when .v2 is tagged it will never change. The next time we tag a release it will be .v3 (not v2.1, etc).

If we stick to that, you should be able to rely on doing `-version` in vscode-go to ensure the user is on the required version, and either u

[2017-03-02 12:57] xdeng opened #832 "Failed to continue: "Cannot find Delve debugger. Ensure it is in your "GOPATH/bin" or "PATH".""
my go version 1.8
go env  GOPATH=C:\Users\xdeng\go   and   settings.json  "go.gopath": "C:\\Users\\xdeng\\go"
![20170302205425](https://cloud.githubusercontent.com/assets/2641745/23508009/aa6dc000-ff8a-11e6-8a1a-3446fd1519d4.jpg)

Why the prompt does not exist ???

[2017-03-02 15:54] ziffusion opened #833 "go.inferGopath does not work on opening a different folder"
go.inferGopath infers the GOPATH when you first open a folder in vscode. But then if you open a different folder, it does not infer the GOPATH from the new folder path. GOPATH remains unchanged.

Steps to recreate:
1. Open vscode, and open a folder. Check that GOPATH is inferred correctly from the folder path.
2. In the same session, open a different folder. Check that GOPATH is unchanged. It is n

[2017-03-02 22:23] ramya-rao-a commented on #706
@keegancsmith Sure that works

[2017-03-03 03:28] freedomsean commented on #441
I can not use the function of autocomplete in VSCode Insider 1.11.0. Did I miss something? I have used the above solution, but it still doesn't have any suggestion.

If I use Code 1.10.1, it will be work again.

The following is my environment

VSCode Version: Code Insider 1.11.0
OS Version: Windows 7
Steps to Reproduce:

I use the same step to try it, but it still got error.

choose GOLANG enviro

[2017-03-03 04:56] ramya-rao-a commented on #441
@freedomsean So on the same machine, autocomplete works fine in the stable build, but not insiders?

[2017-03-03 05:23] freedomsean commented on #441
@ramya-rao-a  Yes, It works fine in the stable build, but not insiders. Did I need to submit this issue to VSCode project?

[2017-03-03 06:33] fasa123 commented on #809
Exact same problem here for every go file. Also running the same versions (on Linux). Delve works fine everywhere else (manually and in other editors)

[2017-03-03 11:58] codmajik commented on #833
for `GOPATH` to be inferred correctly the new folder would have to be in a valid gopath.

`ex: /home/user/gopath/[src]/github.com/myusername/myproject` gopath is inferred by looking for [src] in the path, which is done of `vscode-go` activation.

So if it doesn't change either `vscode-go` is not activatated, ie. no go file is opened yet or the path doesn't contain an src.

[2017-03-03 13:30] ziffusion commented on #833
Thanks for the explanation. But it doesn't seem to be behaving that way. I,m on OSX by the way.

I just opened a file with the following path:

/Users/xxx/ws/yyy/go/src/xxx/ondemand/service/tags/tags-server/version_data.go

When I check the gopath, it is set to:

Current GOPATH: /Users/xxx/ws/go

It behaves erratically. I've seen it say "inferred path" and show the correct path at times. But when

[2017-03-03 14:43] codmajik commented on #833
that is very strange, I am not unable to reproduce this.

I have opened folders in the same gopath and separate gopath, still not able to reproduce this. I even tried with a new user account.

Here is the code [inferGoPath](https://github.com/Microsoft/vscode-go/blob/master/src/goInstallTools.ts#L213-L222) that handles this, its simple and straight enough to not contain any ambiguity. Maybe its a

[2017-03-03 15:28] ziffusion commented on #833
Maybe I don't understand this then.

How is the workspace path determined?

On Mar 3, 2017 9:43 AM, "Vincent Chinedu Okonkwo" <notifications@github.com>
wrote:

[2017-03-03 15:34] kisPocok commented on #438
vscode 1.10.1
go extension 0.6.54
macOS 10.12.3

[2017-03-03 15:45] kisPocok opened #834 "When hitting Stop during Debug, it does not kill debug process"
"debug" process is not being killed after Stop button is pressed. I have to kill it manually.

vscode 1.10.1
go extension 0.6.54
macOS 10.12.3

Reference https://github.com/Microsoft/vscode-go/issues/438

[2017-03-03 17:15] fasa123 commented on #834
Same problem here (on Linux).
I assume it stems from having multiple goroutines being executed (a server running) and as thus a simple SIGTERM is not enough.

Just force close the process by sending a SIGKILL.

If you are debugging your application and are clicking on the Close button the expected behaviour should be a SIGKILL (-9) and not a SIGTERM (-15).

[2017-03-03 17:16] fnouama opened #835 "Add `return` statement into keyboard auto-completion"
vscode: 1.10.1
Go extension: 0.6.54

This is not a bug, but more a request for an improvement.

Since this extension has been, release, I have noticed that the editor never prompt you for the `return` statement in the auto-complete list. It will be handy to have that available. Other editor like JetBrains Gogland already support that.

Thanks.

[2017-03-03 18:01] dchw opened #836 "Seems to fail on latest insiders build"
- VSCode Version: 1.11.0-insider (Commit 84e56fc5)
- OS Version: Windows 10

The golang plugin seems to have troubles loading on the latest release. The console has the following stack trace:

[code]

Steps to Reproduce:

1. Install vscode-go
2. Restart VSCode to load extension
3. Try to edit go code and see that it doesn't seem to work

[2017-03-03 18:28] ramya-rao-a opened #837 "Iteration Plan for March 2017"
- [x] 🏃 Enable running traces and using log file for the Go language server
- [x] 🏃 #299 Run program using F5 without debugging
- [x] 🏃 #433 Generate field tags in structs
- [x] #829 Load envFile in .vscode/launch.json
- [x] #558 keywords missing from completions list
- [x] #665 Rename issue due to unexpected output from diff tool
- [x] #846 Build fails to find vendor projects in case of symlinks

[2017-03-03 18:55] fasa123 commented on #834
So turns out bash/sh cannot parse the file because of Windows line endings (it uses CRLF). Just change the line endings to LF and it works perfectly again on Linux (and should as well on Mac obviously).

One thing I'd love to know is why a Linux specific file has Windows specific formatting.

[2017-03-03 20:35] ramya-rao-a commented on #441
@freedomsean I checked the insiders in Windows, everything is fine. But in Mac, none of the features of the Go extension is working. Can you share what platform you are on and if any of the other Go extension features (hover, go to defintion, add import command) are working for you or not?

[2017-03-03 22:04] ramya-rao-a commented on #836
@sandy081 FYI recent changes to https://github.com/Microsoft/vscode/blob/master/src/vs/platform/extensions/common/abstractExtensionService.ts causes the `vscode.extensions.getExtension` to return `undefined`

The Go extension fails to activate due to https://github.com/Microsoft/vscode-go/blob/54b720d3ef30b2e70c442609b2477b3e1dba2985/src/util.ts#L13

The changes have been reverted in master, so th

[2017-03-03 22:15] ziffusion commented on #833
All right, I ran the extension under the debugger, and it seems like what I didn't realize was that you were saying that the folder opened in `vscode` has to be `src` or something below that in the tree for this to work. For some reason I missed that.

It may help to point this out in the docs.

Otherwise, you can resolve this one as a non issue.

[2017-03-03 22:18] ramya-rao-a commented on #832
See https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#cannot-find-delve-debugger-at--ensure-it-is-in-your-gopathbin-or-path

[2017-03-03 22:18] #832 closed

[2017-03-03 22:21] ramya-rao-a commented on #833
@ziffusion So if you were not opening a folder under `src`, then the folder you did open, that wouldnt be under a valid GOPATH to begin with. So what was the expectation?

[2017-03-03 22:26] ramya-rao-a commented on #835
Not just `return`, none of the other Go keywords are prompted in the auto-completion.

#558 is tracking this feature request. Please upvote it, I'll  look into getting it into the next update

[2017-03-03 22:26] #835 closed

[2017-03-03 22:32] fnouama commented on #558
+1

[2017-03-03 23:11] ziffusion commented on #833
@ramya-rao-a Well, a few things messed me up.

1. Docs don't describe the behavior of this setting, and [762](https://github.com/Microsoft/vscode-go/pull/762) says that it emulates `GoSublime``use_gs_gopath`. So I looked at `GoSublime` [docs](https://github.com/DisposaBoy/GoSublime/blob/master/USAGE.md), and in all the examples there, the tree is rooted in a directory called `go`. I sort of assume

[2017-03-04 00:04] ramya-rao-a commented on #834
This should be fixed with the latest version 0.6.55

[2017-03-04 00:04] #834 closed

[2017-03-04 00:15] kisPocok commented on #834
"Eureka, it works" :)

[2017-03-04 00:29] YCF commented on #438
@kisPocok I set it in windows manager not in vscode:
http://docs.xfce.org/xfce/xfce4-settings/keyboard

your OSX maybe here:
http://apple.stackexchange.com/questions/24063/create-global-shortcut-to-run-command-line-applications

[2017-03-04 00:56] YCF commented on #438
Fixed at go extension 0.6.55
@kisPocok have a try.

[2017-03-04 01:34] ramya-rao-a commented on #833
@ziffusion Thats very well summed up, thanks a lot. I have used what you have written here in https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension and linked the wiki from the README

@codmajik When there is no workspace opened and there is just a single file open in VS Code, we can still infer the GOPATH from the filepath. Thoughts?

[2017-03-04 08:52] vy0b0x opened #839 "Comment in import is not highlighted"
VSCode version: 1.10.1
vscode-go version: 0.6.55
![1](https://cloud.githubusercontent.com/assets/5011191/23577480/e1a14044-00fa-11e7-98d0-cb03ccf1139e.png)

[2017-03-04 14:15] codmajik commented on #833
@ziffusion @ramya-rao-a, sure, we can infer from the filepath, I would push an update.

Should this be configurable?

[2017-03-04 16:48] ziffusion commented on #833
@ramya-rao-a @codmajik

Not sure if having it configurable is of value or not. I suppose, whatever makes things work well on the least-surprise principle, should be OK.

So, how do you think that inferring from a file might work? At what point would the GOPATH be set? Considering that you can open a file from outside the workspace as well.

1. Would it be when *any* file is opened? Or when a file

[2017-03-04 21:42] codmajik commented on #833
@ramya-rao-a @ziffusion

1. It would only work when no workspace is open.
2. `GOPATH` is set on initialization of the `vscode-go`, so the first time a go file is opened in a non-workspace vscode window, we infer from the file's path.
3. Due to 2, we can't set it each time tab is changed. It would require to much change.

That is very strange, I don't use the debugger that much. inferGopath is part