[2017-09-24 07:52] ramya-rao-a commented on #1237
@apiarian Let's use #789 to track this.

[2017-09-24 07:52] #1237 closed

[2017-09-24 07:53] ramya-rao-a commented on #1238
@caibirdme What package was it?

Do you need any help here or can I close this issue?

[2017-09-24 07:59] ramya-rao-a commented on #1239
What's your GOPATH?
Is your `BNB` folder under `GOPATH/src`?

[2017-09-24 08:08] ramya-rao-a commented on #1231
You are writing SQL queries in backquoted strings in Go files?
Are the table/column names Go variables? If not, then how would they appear in the completion lists?

Can you give me a sample code that I can try this on?

[2017-09-24 08:23] #1240 closed

[2017-09-24 08:24] ramya-rao-a commented on #1240
@btracey How about this?
https://github.com/Microsoft/vscode-go/commit/632083c48e15ecda7e1b9ab593a64b50e528af27#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

[2017-09-24 08:30] ramya-rao-a commented on #1242
@zmb3 Thoughts? I see the same when using `gogetdoc` as well.

[2017-09-24 08:33] ramya-rao-a commented on #1223
@jnscode I used your code like this:
[code]

- Added a breakpoint at the fmt line
- When the breakpoint was hit, I was able to use the debug console and look at the value of path

Can you share your repro steps as to what exactly you did to get the error?

[2017-09-24 08:37] reusee commented on #1231
[code]

When vscode-go is disabled, suggestions pop up:

https://imgur.com/SWtPJCD

[2017-09-24 08:38] reusee commented on #1231
settings
[code]

[2017-09-24 09:17] jnscode commented on #1223
You do not need to set breakpoints
Start the test program in debug mode, and then type some characters in the debug console, and the problem will appear after you press the Enter key

[2017-09-24 11:12] lshunter opened #1243 "Can Not Step Into External Package When Remote Debug"
local machine: windows
remote machine: linux
When I remote debug a go file, vscode show an error:`Unable to open 'redisWrite.go': File not found (`c:\Go\src\telcomapp.cn\redis\redisWrite.g`o).` The file(`redisWrite.go`) is in my local machine GOPATH(`C:\Users\lisi-\go`, as `C:\Users\lisi-\go\src\telcomapp.cn\redis\redisWrite.go`), it seems llike vscode made a mistake and tried  to find the file `r

[2017-09-24 18:58] ramya-rao-a commented on #1231
what you are seeing are textual suggestions. You can identify them from the icon in the suggestion list. The icon says "abc"

Textual suggestions are agnostic of the language. They are based on words already used in the document.

Textual suggestions appear when there are no other language based suggestions to show.

Language based suggestions should be disabled inside strings. In the Go extension

[2017-09-24 19:14] ramya-rao-a commented on #1231
One workaround is that when you are working inside the `` on your SQL strings, set the language mode to plain text (Click on the "Go" status bar item on the bottom right corner of the window -> In the pop up choose "Plain Text")

This will remove all Go related features from the Go extension to the current file.
And when you are back to writing Go code, change the language mode back to Go.

I know

[2017-09-24 20:00] willfaught commented on #1230
The fields matched exported method names in another type. In this case, `String() string`.

Another common one is “len”. Also “cap”.

Sent from my iPhone

[2017-09-24 20:29] ramya-rao-a commented on #1225
@chaseadamsio Why so? When you explicitly click on the `Run test` code lens or use one of the test commands from the command palet, you are making a conscious decision to run the test and so saving the file makes sense. Am I missing something?

[2017-09-24 21:24] chaseadamsio commented on #1225
If the expected behavior is always save the file when you run the tests I think it makes sense. Personally I like having flags for anything I might want to disable, so that was the only reason I suggested it. I'll pick this up and submit a PR.

[2017-09-25 00:31] zmb3 commented on #1242
Interesting. I will look into it!

[2017-09-25 02:56] caibirdme commented on #1238
@ramya-rao-a Close it please. This problem is caused by there's an error in the third_party package I imported.So there's no error info displayed to indicate the error.But are there any good ways to deal with it, to make it clear?In fact, grammar error isn't a common problem in a third_party package...

[2017-09-25 03:16] DarthPestilane commented on #1239
@ramya-rao-a Yes `BNB` is under `GOPATH/src` but I can't run `go build` since there is not a `main.go` file.

[2017-09-25 05:54] ramya-rao-a commented on #1239
you don't need a main.go file to run `go build`
Just run `go build .` in the `BNB` directory

[2017-09-25 05:55] ramya-rao-a commented on #1225
Since `go test` can only work on files on disk, I believe this is the right call

[2017-09-25 15:29] ramya-rao-a commented on #1204
@josh-tepper https://github.com/Microsoft/vscode/issues/34034#issuecomment-331815272 is a convincing argument for reverting the change I made to fix this issue.

Let's open an issue for the language server instead.

[2017-09-25 17:08] zmb3 commented on #1242
@ramya-rao-a can we confirm vs-code is invoking `gogetdoc` with the correct offset?  I'm not able to reproduce at the command line:
[code]

[2017-09-25 17:58] m90 commented on #1242
@zmb3 I just looked into this and it seems that the bug stems from the fact that the extension is falling back to `godef` as it is set to `go.docsTool: godoc`. If I use `gogetdoc` it will show me the correct type (which is great).

@ramya-rao-a  this probably means it is still an upstream bug, but in `godef`. What's the reason for `godoc` as a default?

[2017-09-25 18:05] m90 commented on #1242
Yes, I can confirm that `godef` prints incorrect information in this case:

[code]

[2017-09-25 18:33] karamana commented on #1194
Hi Ramya,

 I use Go heavily in my development. Recently when I had to use CGo on
Windows I ran into issues with compiling and linking with VSCode. This is
because Go is compiled with MingW instead of Visual Studio tools on
Windows. Are there any efforts inside of Microsoft to use VS to compile Go
so everyone can benefit.

Apologize if I should have posted this question to a different audience. In

[2017-09-25 19:45] ramya-rao-a commented on #1194
@karamana  Which VS Tools are you referring to?

[2017-09-25 19:50] ramya-rao-a commented on #1242
Sorry about that @zmb3, I was so sure I had changed the setting to use `gogetdoc` when testing.

@m90 `godef` gives the location and signature of the definition. We pass this to godoc to get further doc info.

Please open an issue in the `godef` repo so that @rogpeppe can take a look there

#1025 is tracking the feature request to make gogetdoc the default option as there are quite a few cases whe

[2017-09-25 19:50] #1242 closed

[2017-09-25 19:51] karamana commented on #1194
VC++ compiler

On Mon, Sep 25, 2017 at 12:45 PM, Ramya Rao <notifications@github.com>
wrote:

--
Vijay

[2017-09-25 19:52] ramya-rao-a commented on #1238
Well, unless I can repro it, I cant say for sure what the solution should be

[2017-09-25 20:32] ramya-rao-a commented on #1194
Am sorry, I dont do a lot of Go coding myself, so I wont be much of help here.
I would suggest you post your query in the Gophers Slack channel. I am sure there are others who have been in similar scenario.

[2017-09-25 20:54] ramya-rao-a commented on #1223
The debug console can only evaluate expressions when a breakpoint is hit.
That's how delve works

[2017-09-25 21:49] ramya-rao-a commented on #1230
This issue was moved to atom/language-go#136

[2017-09-25 21:49] #1230 closed

[2017-09-25 22:11] #1225 closed

[2017-09-25 23:12] ramya-rao-a commented on #1243
Can you share your debug configuration from the launch.json file?

[2017-09-26 01:41] lshunter commented on #1243
@ramya-rao-a Thanks for answering! Here is my launch.json file, I use the `Remote` :
`{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Remote",
            "type": "go",
            "request": "launch",
            "mode": "remote",
            "remotePath": "/data/code/golangApp/app",
            "port": 12345,
            "host": "127.0.0.1",
            "program"

[2017-09-26 02:20] DarthPestilane commented on #1239
@ramya-rao-a `go build .` comes out with no error
![image](https://user-images.githubusercontent.com/15375753/30839404-3e8fc226-a2a4-11e7-8826-3e036f3d33b8.png)

[2017-09-26 03:36] windzhu0514 opened #1245 "update tools failed"
i upgrade go to 1.9,so vscode remind me to update tools ,ctrl+shif+P , then click Go:Install/Update Tools, but some failed
[code]

github.com/ramya-rao-a/go-outline package use the "golang.org/x/tools/go/buildutil" ,why not use the package "github.com/golang//tools/go/buildutil"

so i how to update tools???

[2017-09-26 08:23] jnscode commented on #1223
Hi Ramya,
Can you reproduce the issue?
I have cut a picture and I hope it will help you
My VS code is Chinese, I can't find the settings of the switch language. Please forgive me.
![image](https://user-images.githubusercontent.com/25687718/30850078-f4ef1c74-a2d6-11e7-9d28-77915d2eaab0.png)

[2017-09-26 14:57] lshunter commented on #1245
It seems like a network problem, make sure you can access[https://golang.org/x/tools/go/buildutil]( https://golang.org/x/tools/go/buildutil) and [https://go.googlesource.com/tools/](https://go.googlesource.com/tools/).
why use golang.org but not github, that's because of  `golang.org/x/tools/go/buildutil` was imported in `github.com/ramya-rao-a/go-outline/main.go` but not `github.com/golang//tools

[2017-09-26 15:39] windzhu0514 commented on #1245
So why not modify github.com/ramya-rao-a/go-outline/main.go , import  github.com/golang//tools/go/buildutil not golang.org/x/tools/go/buildutil, I think this is Convenience for people can’t access google or golang.org

发送自 Windows 10 版邮件应用

发件人: lshunter
发送时间: 2017年9月26日 22:57
收件人: Microsoft/vscode-go
抄送: windzhu0514; Author
主题: Re: [Microsoft/vscode-go] update tools failed (#1245)

It seems like

[2017-09-26 18:11] ByteFlinger opened #1246 "Run `..onSave` functions even when there is nothing to save?"
Is it possible to trigger things like buildOnSave or lintOnSave when pressing ctrl+s (or any other saving shortcut) even though the underlying file has not changed at all?

I often find myself changing a file and then opening up another file which has not changed but is affected by the first file so I want to trigger linting. I will then introduce a meaningless change like line break somewhere and

[2017-09-26 21:19] ramya-rao-a commented on #1147
@Hawken94 Do you still see this issue in Windows?

When you say auto-import, are you referring to adding the missing import statements when you format the file or save the file?

[2017-09-26 21:34] ramya-rao-a commented on #1149
Dont you get the notification pop up?

![image](https://user-images.githubusercontent.com/16890566/30885365-d2523214-a2c7-11e7-8d22-acd175778bb7.png)

[2017-09-26 21:40] ramya-rao-a commented on #1149
The Warning that has the required message disappears after a while though. I have logged an upstream issue for that in the vscode repo: https://github.com/Microsoft/vscode/issues/35177

[2017-09-26 21:48] ramya-rao-a commented on #1171
@sandy081 I can only repro this if the settings editor and the Go file are in 2 separate editor groups.
Do you recall if thats what you saw as well?

[2017-09-26 22:11] #1171 closed

[2017-09-26 22:44] #1172 closed

[2017-09-27 00:06] ramya-rao-a commented on #1187
Thanks @uudashr!

[2017-09-27 00:06] #1187 closed

[2017-09-27 00:09] ramya-rao-a commented on #1243
And what is the value for ${workspaceRoot} ?

[2017-09-27 00:17] ramya-rao-a commented on #1239
The error is showing up in the test file.
Do you see the error in non test files as well?

Also, open the output pane, choose the "Go" channel from the dropdown. You can see the output of build/lint/vet there. Can you share what you see there?

[2017-09-27 00:49] ramya-rao-a commented on #1246
You can use tasks for triggering build/lint on demand

Run `Tasks: Configure Task Runner` to create a tasks,json file in your workspace (Choose "others" in the dropdown) and then edit it to create tasks for build/lint etc

For example see:
https://github.com/Microsoft/vscode-go/issues/1015#issuecomment-331250277

[2017-09-27 00:49] #1246 closed

[2017-09-27 00:59] ramya-rao-a commented on #1245
If I make the change as @windzhu0514 suggested, then I get an error saying that buildutil expects "golang.org/x/tools/go/buildutil"

![image](https://user-images.githubusercontent.com/16890566/30890827-25889b8c-a2e4-11e7-9d6f-eaf113aa1254.png)

So I dont see how making that change will help

Note that its not just go-outline, a bunch of other tools are also failing
I dont own the other tools, so c

[2017-09-27 00:59] #1245 closed

[2017-09-27 01:04] ramya-rao-a commented on #1198
The indentation follows the rules specified in https://github.com/Microsoft/vscode-go/blob/0.6.65/src/goMain.ts#L269 int he Go extension which is in turn is taken from the Go grammar in https://github.com/atom/language-go/blob/813dff0ad2f5af6de1d823794daece0f397de3b8/settings/language-go.cson

I tried something similar in typescript and the indentation works just fine. So its not core vscode mis-u

[2017-09-27 01:58] DarthPestilane commented on #1239
Error is showing up even if in a non-test file:
![image](https://user-images.githubusercontent.com/15375753/30891939-716116c2-a368-11e7-8d3f-9b0be613419c.png)
![image](https://user-images.githubusercontent.com/15375753/30891994-bca1b9d4-a368-11e7-94e8-32746bfa556c.png)

And output panel shows nothing when I chose the "Go" channel:
![image](https://user-images.githubusercontent.com/15375753/3089196

[2017-09-27 02:31] AlexRouSg opened #1247 "setting -ldflags="-X ..." in go.testFlags fails"
Whenever I try to use the linker flag -X, it fails to build with the error
[code]

However copy pasting the exact command into the terminal works as intended.
`go test -ldflags='-X ...' -timeout 30s -run ^TestDriver$`

[2017-09-27 04:10] lshunter commented on #1243
Yes, you are right. `redisWrite.go` is in a external package, its path is `$GOPATH(C:\Users\lisi-\go\src\telcomapp.cn\redis)`. And `apkana.go` is in the package I have opened in VS Code, the ${workspaceRoot} is where `apkana.go`  in, as `D:\git\anascripts\app`.
When I remove the breakpoint in  `redisWrite.go`  the remote debug works right, but when I am trying to step into `redisWrite.go`, the err

[2017-09-27 06:09] ramya-rao-a commented on #1247
what is the value that you have set for `go.testFlags` ?
Are you seeing this error when building or running tests?

[2017-09-27 06:15] AlexRouSg commented on #1247
Only

[code]

The error happens when I use any run test button (function/file/package) and is a build error.

[2017-09-27 06:43] color1934 commented on #368
If you don't want vs code to change your code.
Just change user settings like that:
` "go.formatTool": "gofuck"`

[2017-09-27 07:12] sandy081 commented on #1171
I do not remember if I have those files in two groups, but definitely those two are opened. Anyway good thing is that you can reproduce it and fixed it. 👍

[2017-09-27 11:34] www2t opened #1249 "Generate a lot of processes (godef, vet, conhost, golint ....)"
vscode 1.15.1 x64
golang 1.8.3
Go for Visual Studio Code 0.6.64
When writing code will produce a lot of the process (300-400), vscode becomes very slow, write the code will disappear for a while

[2017-09-27 20:27] ByteFlinger commented on #1246
Right. It would be a lot simpler with a simple config to allow all the onSave to trigger when saving even if there is nothing to save as I now have to figure out what are all the commands and tasks VS Code is doing plus ant disabling of linting and/or building on save requires me to remember to do the same on the tasks but it looks like this could be a solution for now, thank you.

[2017-09-28 02:09] ramya-rao-a commented on #1249
Have you set `go.lintOnSave` and `go.vetOnSave`  to `workspace`? If yes can you  try setting it to `package`

[2017-09-28 02:33] ramya-rao-a commented on #1247
Try
"go.testFlags": [
        "-ldflags", "-X mypackage.myvalue=./"
]

[2017-09-28 02:36] ramya-rao-a commented on #1243
In the remote machine what is the location of the `redisWrite.go` file?

[2017-09-28 02:41] ramya-rao-a commented on #1239
Ah! You have turned build,vet,lint on save features off. That's why there is nothing showing in the output pane.

The errors you are seeing is coming from the live errors which is coming from the tool `gotype-live`.
Can you run `gotype-live` from the terminal for your package and see if you are getting the same error?

cc @tylerb who integrated `gotype-live` in the Go extension

[2017-09-28 02:49] DarthPestilane commented on #1239
@ramya-rao-a It's all `gotype-live`
I ran `gotype-live -a ./`, it showed the exact errors
Thank you!

[2017-09-28 04:12] www2t commented on #1249
@ramya-rao-a
Using the default setting，all setting to package

[2017-09-28 04:33] AlexRouSg commented on #1247
Well that works ... *face palm*

[2017-09-28 05:35] ramya-rao-a commented on #1247
😄 Happy Coding!

[2017-09-28 05:35] #1247 closed

[2017-09-28 05:37] ramya-rao-a commented on #1249
Are you working on a large project?
Do you see this happening even when working on smaller projects?
Do you have multiple windows open?
Do you have auto save enabled?

[2017-09-28 05:41] ramya-rao-a commented on #1239
That's good to know @DarthPestilane

@tylerb Any idea why `gotype-live` was not able to find the vendor projects?

[2017-09-28 05:42] ramya-rao-a commented on #1239
@DarthPestilane Until we know why `gotype-live` behaves the way it does, as a workaround I'd suggest to turn off the live errors and enable the build on save feature instead

[2017-09-28 05:44] ramya-rao-a commented on #1223
Thanks for sharing your code.
It looks like you are trying to interact with your program via the debug console as stdin.

That is unfortunately not supported at the moment.
This is being tracked in #219

Please follow that thread, we will update it once we have a solution.

[2017-09-28 05:44] #1223 closed

[2017-09-28 05:59] DarthPestilane commented on #1239
@ramya-rao-a Sounds reasonable. Thank you ! Hope to figure out of this.

[2017-09-28 07:54] lshunter commented on #1243
`apkana.go` not in GOPATH, neither the local or remote machine. After I put `apkana.go` into GOPATH, step into works fine, problem solved. I am new to Go, so this problem due to the wrong organization of Go project. I will post the project organization of my project and changes has been made to correct it.
But I still wonder why the local debug can step into the external package, but the remote on

[2017-09-28 09:48] ernsheong commented on #475
I ran into this. Thank you so much!! 🙌 🙌

[2017-09-28 11:50] otto-md commented on #1212
I reinstalled the extension and it seems to work as expected now. Sorry for the noise.

[2017-09-28 11:50] #1212 closed

[2017-09-28 21:18] ramya-rao-a commented on #796
@frozzare With @uudashr's work in https://github.com/Microsoft/vscode-go/pull/1220 the packages whose names have `-` or `.` will get appropriate suggestions as well.

[2017-09-28 21:18] ramya-rao-a commented on #1212
No problem @otto-md, thanks for getting back. Happy Coding!

[2017-09-28 21:25] ramya-rao-a commented on #1243
when debugging remotely, we need to map the remote filepath to local paths
We use GOPATH to make the mapping or fallback to GOROOT which failed

When debugging locally no mapping is needed, so things worked.

Anyway, am glad things got resolved for you.
Happy Coding!

[2017-09-28 21:25] #1243 closed

[2017-09-29 01:36] Antony-redzone commented on #747
I had the same issue, and the above fixed worked. As long as I did it in the VS terminal.

[2017-09-29 02:07] alexkohler commented on #1241
I'd like to take a stab at this.

[2017-09-29 06:07] frozzare commented on #796
@ramya-rao-a sweet 👍

[2017-09-29 15:47] tylerb commented on #1239
@ramya-rao-a @DarthPestilane I'm not sure why it would be complaining here, other than some kind of odd directory structure that it isn't expecting. `gotype-live` is really just a fork of `gotype` that adds the ability to work on a file that is currently being edited.

@DarthPestilane can you install+run the normal `gotype` and see if the error still happens?

[2017-09-29 22:41] uudashr opened #1251 "Autocompletion return vendored dependency"
I got two `spew` the other one is vendored package from testify.

<img width="517" alt="screen shot 2017-09-30 at 5 38 34 am" src="https://user-images.githubusercontent.com/166053/31038578-df34e4d6-a5a1-11e7-96bd-ad834af23406.png">

[2017-09-29 22:45] ramya-rao-a commented on #1026
@fatih @zmb3 Do you support Go 1.5 for vim-go and go-plus respectively?

[2017-09-29 22:52] ramya-rao-a commented on #862
We now have the `Run tests` and the `Debug Tests` codelens showing up above each test function.
We have the "Run package tests" and "Run file tests" codelens showing up above the package statement of a Go file.

It is easier than ever to run a single test/ tests in the file/ tests in the package.

I dont see much of an ROI in updating the test on save feature at the moment.
So closing this issue f

[2017-09-29 22:52] #862 closed

[2017-09-30 03:41] edwinprojects commented on #473
I'm having the same issue running from VS Code running a simple hello world using fmt.Scanf

[2017-09-30 03:50] edwinprojects opened #1254 "error on fmt.Scanf: "TypeError: Cannot read property 'currentGoroutine' of null""
I've seem same similar posts, same message error but different input.

In my case I am trying to run a silly hello world reading a string by Scanf and I got the error:

[code]

This is my code:

[code]

If I remove `fmt.Scanf("%s", &input) `it works fine, of course

thanks

[2017-09-30 09:48] Hawken94 commented on #1147
@ramya-rao-a No, when I use the package(method) at the first time, vs code can't auto-import it's package in win10. Normally, when I write "println", it will import fmt package automatically. Sorry for my bad english again. But it can work in ubuntu 16. I don't know the reason.

[2017-09-30 11:47] cylof22 commented on #445
@ramya-rao-a I also see the same problem in Mac OSX 10.13, Visual Studio Code: Version 1.16.1 (1.16.1) , go1.8.1, vscode-go: 0.6.65. delve: v0.11.0.

[2017-09-30 18:27] fatih commented on #1026
@ramya-rao-a  We don't have a specific requirement. Also it shouldn't be a problem if Guru is not compatible with 1.5. What matters is the binary, the user still can use Go 1.5 but can download the binary from another location (if any) or can build `guru` from a different Go version. Unless it makes your life harder, I would suggest to keep it and add a warning if people try to install `guru` via

[2017-09-30 20:10] zmb3 commented on #1026
gogetdoc doesn’t build with 1.5 and we don’t go out of our way to support it. I used to get an occasional issue or two related to 1.5 support but haven’t seen one in a year or two. If it makes your life easier I say drop it. What’s more fun than deleting code?

[2017-10-01 01:15] ramya-rao-a commented on #1026
@fatih its not just `guru`. `golint` has dropped support for Go 1.5 as well.

@zmb3 Yes, deleting code does bring a ton of joy :)

I'll go with the warning solution. Thanks all

[2017-10-01 02:10] #1241 closed

[2017-10-01 02:12] ramya-rao-a commented on #1254
Currently debugging when reading from stdin is not yet supported.
See #219

I'll try to get to a solution for that in the coming month

[2017-10-01 02:12] #1254 closed

[2017-10-01 09:52] uudashr opened #1256 "Completion show internal package"
internal package are not allowed, except it is from the same project. So should not suggested by autocompletion.

<img width="576" alt="screen shot 2017-10-01 at 1 37 40 pm" src="https://user-images.githubusercontent.com/166053/31053495-b876df02-a6c8-11e7-84b5-2d3f3c710930.png">
<img width="313" alt="screen shot 2017-10-01 at 1 37 59 pm" src="https://user-images.githubusercontent.com/166053/310534

[2017-10-01 17:20] zmb3 commented on #1198
Works as expected in Atom, so may just want to make sure your grammar is in sync with Atom's.

[2017-10-01 22:23] ramya-rao-a commented on #1198
Grammar is the same, I think its something to do with how VS Code applies the indentation rules

[2017-10-01 22:42] ramya-rao-a commented on #1198
When the `else` appears in a new line, things are good
[code]

Instead of applying the "decrease indent rule" due to the closing `}` of the `if` block, an "increase indent rule" is getting applied due to the opening `{` of the `else` block.

cc @rebornix

[2017-10-01 22:47] ramya-rao-a commented on #445
This error means that the extension is not activated.
Please ensurethe Go extension is not disabled. Open the Extensions viewlet Ctrl+X or Cmd+X and ensure you have the Go extension installed and is enabled

[2017-10-01 22:51] ramya-rao-a commented on #1147
@Hawken94 We have made some changes around completions for unimported packages. Can you try out the latest Go extension from source and see if that helps?
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` from the terminal
- Reload VS Code

[2017-10-02 00:16] edwinprojects commented on #1254
not even debugging, just running it with Scanf fails

[2017-10-02 01:15] Hawken94 commented on #1147
@ramya-rao-a OK,I will try it now. Thank vs code! Thank  Microsoft! Thank you for solving my problem.

[2017-10-02 03:17] #1251 closed

[2017-10-02 03:38] ramya-rao-a commented on #1254
@edwinprojects You mean by using the `Debug: Start without Debugging` command or `Ctrl+F5` ?

[2017-10-02 06:39] Hawken94 commented on #1147
@ramya-rao-a Sorry, I took some time to try, but it still dosen't work. It is OK, I almost work on ubuntu16, so it's not a trouble. Thank you again! (windows 10 1703, vs code 1.16.1, go 1.9 ) This issue can be closed.

- I describe my problem again. When I glide init and glide get github.com/skip2/go-qrcode (e.g.) , I write "qrcode", the vscode didn't prompt and import the package. This is my prob

[2017-10-02 10:49] paulcalcraft commented on #496
Make sure you have gogetdoc installed by running:
`go get github.com/zmb3/gogetdoc`

It's not installed as standard by go or vscode's go extension, and the above setting ("go.docsTool": "gogetdoc") will fail silently if it is not installed.

[2017-10-02 10:54] paulcalcraft commented on #856
Thanks @ramya-rao-a,  "go.docsTool": "gogetdoc" works great after I installed gogetdoc by running:
`go get github.com/zmb3/gogetdoc`

Go to definition was failing silently with this setting before I realised I needed to manually install gogetdoc.

[2017-10-02 20:56] ramya-rao-a commented on #856
@paulcalcraft Yes, I noticed the failing silently part recently and fixed with https://github.com/Microsoft/vscode-go/commit/2e56371fb799c6847d774cec8c761f21b8b980c2

Will be releasing an update soon

[2017-10-02 23:12] ramya-rao-a commented on #1251
The fix for this is out in the latest update to the Go extension

[2017-10-02 23:13] ramya-rao-a commented on #1241
This feature is out in the latest update to the Go extension via the new setting `go.useCodeSnippetsOnFunctionSuggestWithoutType`

Thanks @alexkohler!

[2017-10-02 23:14] ramya-rao-a commented on #846
@zhouhaibing089 In the latest update to the Go extension, you should be able to run and debug tests in symlinked environments. Thanks for the fix!

[2017-10-02 23:15] ramya-rao-a commented on #1117
@ijlopez02 In the latest update to the Go extension, the buildTags will be used by the debug code lens correctly
Thanks @ka2n for the fix

[2017-10-02 23:16] ramya-rao-a commented on #1225
In the latest update to the Go extension, the files get saved when test is triggered.
Thanks @chaseadamsio for the fix!

[2017-10-02 23:17] ramya-rao-a commented on #736
This is fixed in the latest update to the Go extension

[2017-10-02 23:18] ramya-rao-a commented on #1134
@jamietre In the latest update to the Go extension, `${workspaceRoot}` will be resolved when it is passed to `go.testEnvVars` setting

[2017-10-02 23:18] ramya-rao-a commented on #1169
In the latest update to the Go extension, `${workspaceRoot}` will be resolved when it is passed to `go.testEnvVars` setting

[2017-10-02 23:18] ramya-rao-a commented on #1111
In the latest update to the Go extension, `${workspaceRoot}` will be resolved when it is passed to `go.testEnvVars` setting

[2017-10-03 04:39] eZioPan commented on #1125
Hi, I update Go extension to 0.6.66, and every extension function won't work, no matter how I reinstall extension or vscode. The vscode version is 1.16.1, x64.
I also try vscode 1.17.0-insider, x64, extension won't work.
Then I rollback to Go extension 0.6.65, extension function works again.
Only Go extension installed.
Thanks~

[2017-10-03 04:46] ramya-rao-a commented on #1125
@eZioPan That's unfortunate. Are you still on 0.6.65 or 0.6.66? Did you happen to install the Go extension using the `vsix` file before?

[2017-10-03 05:01] eZioPan commented on #1125
@ramya-rao-a After I found 0.6.66 won't work, I use `vsix` rollback to 0.6.65.
I didn't use `vsix` to install extension before.

[2017-10-03 05:54] techsin opened #1259 "Is there a shortcut to collapse all multiline comments?"
I like to leave detailed comments of wth is going inside this function which has 50 lines.
I have choice of making 30 functions or writing 50 lines, so more than not I pick 50 lines.

But 12 lines comments are draining.

I collapse them, is there a way to collapse all multiline comments by pressing shortcut.

Also another plus would be to hold key like (Ctrl/Cmd) and hovering over multiline commen

[2017-10-03 05:55] techsin commented on #1259
I know i can manually collapse them by pressing - sign on the left

[2017-10-03 06:45] ramya-rao-a commented on #1125
@eZioPan Did you try uninstalling the Go extension and installing it again?

[2017-10-03 07:36] eZioPan commented on #1125
@ramya-rao-a yes, i have already try uninstall extension by vscode gui and by manually remove extension folder, but none of them work.
BTW, i use vscode on windows10, i will test it on macos later.

[2017-10-03 10:08] m90 opened #1260 "Package name autocomplete appending _test in test files is not ideal"
Reading the changelog of 0.6.66 I know this is expected behavior due to https://github.com/Microsoft/vscode-go/pull/1220 but I think it is not necessarily the best idea:

When I now use autocomplete to spell out the package name in a test file it will forcefully append `_test` to the package name.

This is not really the Go default as it changes quite a few things: when in a `_test` package the in

[2017-10-03 13:54] ssoroka opened #1261 "go-to-definition doesn't work in go 1.9 with type aliasing."
Steps to reproduce:
1. define a package that uses type aliasing. eg:
[code]
2. import "typealiasing" and reference `Broken`. eg:
[code]

3. Try to jump to definition. Error tells you `no definition found for "Broken"`. Note that this doesn't just affect the aliased type, it affects all definitions in the same package as the aliased type.

[2017-10-03 14:48] uudashr commented on #1260
Can you mention the projects?

[2017-10-03 14:59] m90 commented on #1260
I'll just name a few of the "big" ones from the top of my head, apparently none of them use `_test` packages as default behavior:

- https://github.com/camlistore/camlistore/tree/master/pkg
- https://github.com/gin-gonic/gin/tree/master/render
- https://github.com/patrickmn/go-cache
- https://github.com/gohugoio/hugo/tree/master/helpers
- https://github.com/ha/doozerd/tree/master/server
- https://

[2017-10-03 16:32] #1259 closed

[2017-10-03 17:05] ramya-rao-a commented on #1260
Thanks for bringing this up @m90, I appreciate it.

@uudashr has put in a fix to show both "yourpkg" and "yourpkg_test" in the completion list.

I'll release an update in a few days. Until then to make use of the fix you can
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` and reload VS Code

[2017-10-03 17:05] #1260 closed

[2017-10-03 17:13] paulviks opened #1263 "Sub packages in stdlib is no autocomplete"
Hello,
last update broken autocomplete sub packages in standard library,
Example:
When i write template. after dot symbol autocomplete showing methods or types from package http/template. After update to version 0.6.66 I wrote template.Template and when save file goimports tool adding import.

Best regards,
Paul

[2017-10-03 17:43] m90 commented on #1260
This is great! Thanks to the two of you for dealing with this so quickly. I think the update is a really nice addition to the Extension. Thanks for that @uudashr !

[2017-10-03 18:19] ramya-rao-a commented on #1125
I am on Windows 10, just installed 0.6.66 and it works fine.

So in your Windows machine, do you see any errors shown in the UI or in the console? Run `Developer: Toggle Developer Tools` to see the console?

[2017-10-03 18:21] ramya-rao-a commented on #1147
@Hawken94 Your English is fine, dont worry about it :)

What prompt are you talking about here? Can you share a screenshot? Do you mean auto-completion?

Can you check your settings? Do you have `go.autocompleteUnimportedPackages` enabled in either ubuntu or windows?

[2017-10-03 20:31] ramya-rao-a commented on #1263
@paulviks Current version is 0.6.66
I just went back to 0.6.65, and this issue still exists. So its not the last update that has caused this issue.

Actually the root cause is that, completion of unimported packages never worked if there was more than 1 match. In your case `template` matches with both `html/template` and `text/template`.

There is no clear solution here... What should the completi

[2017-10-04 02:06] Hawken94 commented on #1147
@ramya-rao-a Thank you for your praise!

### This is in Ubuntu 16. Firstly,
![default](https://user-images.githubusercontent.com/12959892/31155941-63b7c74c-a8e4-11e7-8c8a-272324b148dc.png)
Secondly, when I write "qrcode", vscode has a nice prompt. And then I press the Enter key, it auto-import the 'qrcode' package.
![default](https://user-images.githubusercontent.com/12959892/31155999-c4b92bb2-a8e

[2017-10-04 02:31] eZioPan commented on #1125
@ramya-rao-a Hi, when I load Go extension, the `Developer Tools` Tells me

extensionHost.ts:384 [Extension Host] Activating extension `lukehoban.Go` failed: Cannot read property 'substr' of undefined.
t._logExtensionHostMessage @ extensionHost.ts:384
(anonymous) @ extensionHost.ts:194
emitTwo @ events.js:106
emit @ events.js:194
process.nextTick @ internal/child_process.js:766
_combinedTickCallbac

[2017-10-04 02:42] eZioPan commented on #1125
@ramya-rao-a i use chinese(zh-cn) as my primary language, so when i change vscode language to zh-cn, and load Go extension, `Developer Tools` reports something different

/C:/Program Files/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:28 [Extension Host] 激活扩展“lukehoban.Go”失败: Cannot read property 'substr' of undefined。
t._logExtensionHostMessage @ /C:/Program Files/Microsoft V

[2017-10-04 05:57] paulviks commented on #1263
Ok, my bad sorry.
I see this case in package path/filepath. When I type filapath after dot symbol then is no show any suggestion on editor. I did not think there could be more types in different packages, and sollution is no simple.

[2017-10-04 05:58] #1263 closed

[2017-10-04 14:19] ijlopez02 commented on #1117
Great! Thank you both very much @ramya-rao-a and @ka2n

[2017-10-04 17:23] xpqz commented on #1035
This is still an issue. I need to kill all `gocode` processes every 5 minutes or so.

[2017-10-04 17:46] ramya-rao-a commented on #1263
No problem,  Happy Coding!

[2017-10-04 17:59] ramya-rao-a commented on #1125
@eZioPan Thanks for the call stack! That helps a lot.

This is the line that is causing the failure in detecting GOPATH and so failing the extension activation: https://github.com/Microsoft/vscode-go/blob/0.6.66/src/util.ts#L334

Since it is a Windows specific code path, you were seeing it only in Windows.

Did you have any folder open in VSCode when you see this issues?

[2017-10-04 18:16] lmtyler opened #1264 "import formatting and linting different MAC vs Windows"
When coding GoLang on MAC import statements are added on separate lines and linter gives syntax error if using  a single import with an array of strings, which works on Windows.

[Go import formatting](https://golang.org/doc/code.html)

[2017-10-04 18:19] ramya-rao-a commented on #1035
@xpqz Can you try setting `go.gocodeAutoBuild` to `false` and see if that helps?

Is it only the `gocode` processes or do you see a lot of other go tools taking up CPU?

[2017-10-04 18:21] ramya-rao-a commented on #1147
Can you run `Go: Browse Packages` or `Go: Add Import` command and see if `qrcode` appears in the list?

[2017-10-04 18:31] eZioPan commented on #1125
@ramya-rao-a Yes! new extension solve my problem! THANKS A LOT!
You are right, I often open Go file without open a folder, and I think I should learn more about vscode to improve my usage~
Thank you again!

[2017-10-04 18:35] ramya-rao-a commented on #1264
@lmtyler Can you share some screenshots for Mac vs Windows?

Import statements get added by the Go extension in the below scenarios. Do you see this issue in all the below cases or only a few?
- Those that get added when the file is formatted either manually or on save
- Those that get added when the `Go: Add Import` command is used
- Those that get added when auto-completing the unimported packag

[2017-10-04 18:36] #1264 closed

[2017-10-04 18:38] lmtyler commented on #1264
Seems to be an issue will goreturns and not vccode-go.  Changed default to goimports and now formatting correctly.

[2017-10-04 20:46] ramya-rao-a commented on #1264
good to know, Happy Coding!

[2017-10-04 20:47] ramya-rao-a commented on #1125
no problem, Happy Coding!

[2017-10-05 01:16] Hawken94 commented on #1147
@ramya-rao-a When I run Go: Browse Packages command, 'qrcode' appears in the list. But Go: Add Import doesn't.

[2017-10-05 01:17] treed commented on #667
I definitely have issues with using gogetdoc on source that uses the Kubernetes client library. VSCode ends up spawning multiple gogetdocs that each take 1GB+ of RAM, consuming a lot of I/O and eventually causing my VM to swap.

Are the alternatives to gogetdoc feature-wise comparable?

[2017-10-05 01:35] ramya-rao-a commented on #1147
Alright, I have a fix in.

Can you try the below to see if my fix works for you?
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix`
- Reload VS Code

[2017-10-05 01:39] ramya-rao-a commented on #667
@treed You could go back to the default (just remove the setting that sets `go.docsTool` to `gogetdoc`
Or you can try out the language server (not available on Windows yet) by setting `go.useLanguageServer` to `true`

[2017-10-05 01:42] ramya-rao-a opened #1265 "Close processes before spawning new ones"
Features that depend on Go tools spawn a new process for every new request made.
When the tools get slow (for any which reason) this ends up generating multiple processes for the same tool.

This is more prominent for tools that back features like hover and auto-completion.

This issue is to track the possibility of closing older processes for these features when new ones are spawned.

[2017-10-05 01:42] ramya-rao-a commented on #667
Independently, I'll look into closing processes that were started but aren't needed anymore. #1265

[2017-10-05 01:51] Hawken94 commented on #1147
@ramya-rao-a I had a try just now. It has a nice prompt. It works. Thank you very much!!!

[2017-10-05 01:52] treed commented on #667
Okay, thanks. I'll try those out. I can't remember what prompted me to try gogetdoc instead of the default.

FWIW, all of the gogetdoc processes are for the same file (which is the one I'm editing) and seem to get launched in quick succession. I'm not sure if that matters for #1265, but it seemed worth mentioning.

[2017-10-05 02:07] treed commented on #667
The default docs tool doesn't seem to actually give me documentation on hover. The language server does have reasonable-ish hover data, though. So far it hasn't taken my machine down, but I'm at the end of my workday. I'll report back tomorrow if I have any performance problems with it. Thanks!

[2017-10-05 04:07] ramya-rao-a commented on #1147
No problem, thanks for reporting the issue and Happy Coding!

[2017-10-05 04:07] #1147 closed

[2017-10-05 12:27] #1256 closed

[2017-10-05 21:42] mileusna commented on #1120
Latest update, with VS Code 1.17.0 and vscode-go 0.6.66 neither stderr nor stdout is printed with testing tool. Only if there is `t.Error("x")`, then I see the output of `fmt.Println()` and `log.Println()`

[2017-10-05 22:57] uudashr commented on #1120
To print to stderr or stdout, you need to add`-v` to the `go test` command. Add test flag to the settings
[code]

[2017-10-06 01:43] selfup opened #1266 "Go Code is removing a proper import even after adding it"
👋

Here is the repo I am using (to help us all figure out what is going on here): https://github.com/selfup/go-cache-http

Current workaround:

https://github.com/selfup/go-cache-http/blob/master/main.go#L8

### Problem

**There is a UI bug**

So I have a `lib` directory at the root of my project.

I try to import it correctly: `"github.com/package-name/lib"`

And this tool just makes it disappear

[2017-10-06 09:00] mileusna commented on #1120
OK. It is not the same behavior as `go test` which gives output even without -v, but verbose will do the trick. Thanks.

[2017-10-06 15:27] ramya-rao-a commented on #1120
@mileusna You are right, previously, we were running a simple `go test` which gives the output even without `-v`

We moved to using `go test package` which does not give such output unless `-v` is passed.

The move was made to support running tests in symlinked folders. See https://github.com/Microsoft/vscode-go/pull/1164

I'll look into documenting this better

[2017-10-06 16:29] jhaynie opened #1267 "Syntax highlighting is wrong"
This may not be a golang specific issue but something in the core package.  But it doesn't seem to happen in other non-go files.

Some files, often, when I open them (or select them if already opened), will highlight certain blocks of code that don't seem to have any discernable reason to be highlighted. For example:

![screen shot 2017-10-06 at 9 24 04 am](https://user-images.githubusercontent.co

[2017-10-07 01:18] primalmotion commented on #473
I think this is an issue with delve. I opened a reduction here derekparker/delve#982

[2017-10-07 10:45] Jeyanthinath opened #1268 "Golang definition not working"
I installed vscode-go extenstion and Installed the godef as suggested , still the same error is coming when I pressed ctrl and trying to see the definition of a code

![image](https://user-images.githubusercontent.com/2253649/31307088-87750120-ab7a-11e7-8032-dcba86e9cf80.png)

[2017-10-07 15:09] m90 commented on #1211
I'd be happy to add this (as I wished for it too already a few times). Will open a PR once done.

[2017-10-07 23:19] arbourd commented on #1268
This might be an environmental pathing issue. Have you checked if you can find `godef` from the VS Code console?

[2017-10-08 14:32] srcbase opened #1271 "not working"
[lukehoban.Go] Cannot read property 'substr' of undefined: TypeError: C:/Program Files/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js Cannot read property 'substr' of undefined

[2017-10-08 14:59] goofle commented on #1166
Any news about fixing this? It should be easier than creating a tasks.json.
And be aware, it compiles EVERYTHING, even the packages you haven't used in your project.

[2017-10-08 15:17] xxxtonixxx commented on #1166
I think it is problem of dlv. I tested using shell and dlv command...

[2017-10-08 15:32] goofle commented on #1166
Yeah, I did search around a little and it seems the issue's roots go back to `go 1.9`. It probably doesn't make sense for `dlv` developers to make a "workaround" solution either. And meanwhile your suggestion seems the right way to proceed, so I'm going with the tasks.json file.

[2017-10-08 20:14] tylerb opened #1272 ""Stuck" keystroke while waiting for autocomplete popup"
No idea what is causing this or how to start debugging it, but here's what happens:

1. Type a few characters
2. Everything stops responding. Can't type anymore or do anything at all.
3. Last key typed repeats itself about 30 times
4. Autocomplete popup happens

If I completely disable autocomplete:

[code]

The issue disappears. New issue though: now I don't have autocomplete. :)

[2017-10-08 23:02] suntong commented on #1203
This is happening to me as well -- I'm using Linux, so the bug has affected both MAC OS and Linux.

-  I'm using the latest version of the Go extension (0.6.66), and my VS Code is downloaded and installed just today.
- My go version is `go1.9.1 linux/amd64`, and
- My OS is

[code]
- In the VS Code terminal, run `echo $GOPATH`, the output is the same as my expected GOPATH.

Only after adding the `G

[2017-10-09 03:48] DarthPestilane commented on #1239
@tylerb It shows `could not import xxx`, same errors as above, after I run `gotype-live -a ./`. And I don't think it's the problem of directory structure, since I moved the whole project folder to `$GOPATH/src`, errors also showed up

[2017-10-09 04:48] tylerb commented on #1239
Honestly not sure what this could be. Have you tried it with the original gotype tool? Mine may be out of date or something like that.

On Oct 8, 2017, 8:49 PM -0700, Rui Wang <notifications@github.com>, wrote:

[2017-10-09 07:56] ITSecMedia commented on #1166
I thought I'm the only one with this problem that suddenly came up...

[2017-10-09 11:01] tsauvajon commented on #522
[code]

[2017-10-09 13:18] lggomez commented on #1266
I had a similar problem (in my case, adding undesired/wrong imports) and my workaround was to change the format tool to gofmt. This user setting should do the trick:

`"go.formatTool": "gofmt"`

[2017-10-09 16:35] navossoc commented on #789
I can't see the example on the first post, the link seems broken.

I was thinking in creating something like this:
https://goplay.space/

It doesn't seems that hard to implement it on VS Code as a plugin, but I don't have any knowledge on how VS extensions work.

Some components that may help:
- [vscode-uri](https://www.npmjs.com/package/vscode-uri) - The URI implementation used by VS Code and its

[2017-10-09 18:05] ramya-rao-a commented on #522
You need to pass the `-u` flag as well to the `go get` command
Updated my earlier comment to relfect the same

[2017-10-09 18:13] ramya-rao-a commented on #1203
@suntong The debugger should have figured out the right GOPATH based on the package beind debugged. Can you try the below?

- Does the value in the `program` property in the launch.json file fall under your expected GOPATH?
- Remove the `GOPATH` from the env property in the debug config in the launch.json file
- Add `"trace": "verbose"` to your debug config in the launch.json file
- Start debuggin

[2017-10-09 18:23] suntong commented on #1203
Thanks for the reply, @ramya-rao-a,

The value in the program property in my launch.json file is:

     "program": "${fileDirname}"

I don't know how to check it, but all my own code are _not_ under GOPATH, as I want to distinct my own code from those I get from `go get`.

Maybe that's the reason `vscode-go` is confused?

Hmmm..., actually, I thought about that, and has tried to move my code under

[2017-10-09 18:33] suntong commented on #1203
previous post updated.

[2017-10-09 18:43] ramya-rao-a commented on #1203
To summarize:

- The debugger is using the GOPATH `/path/to/repo/gitwork` which is where your code really is
- But you have opened VS Code for a folder under `/path/to/repo/go-arch` which you have sym linked to  `/path/to/repo/gitwork`
- If you set GOPATH in the `env` in launch.json to  `/path/to/repo/go-arch`, then everything is fine
- You have set GOPATH as a env variable (outside of VS Code) to

[2017-10-09 18:44] tsauvajon commented on #522
I've had no success with or without `-u`. (no pun intended)

I used `go get -v -u github.com/sqs/goreturns` as indicated in another issue (I can't find it again, sadly).

[2017-10-09 18:45] suntong commented on #1203
Yep, precisely!

[2017-10-09 18:46] ramya-rao-a commented on #1203
Few more things...

- What do you see when you run the command `Go: Current Gopath`?
- Have you by any chance modified the settings `go.gopath` or `go.inferGopath` ?

[2017-10-09 18:48] suntong commented on #1203
"_What do you see when you run the command Go: Current Gopath?_"

Not sure I understand what you mean.

But I didn't touch `go.gopath` or `go.inferGopath`, just accepting what was pre-filled `launch.json` setting for me.

[2017-10-09 19:35] ramya-rao-a commented on #1203
Press `Ctrl+Shift+P`, the command pallet will open
Type `Go: Current Gopath`, select it from the options

[2017-10-09 19:38] suntong commented on #1203
That output is correct, `Current GOPATH: /path/to/repo/go-arch`

[2017-10-09 19:41] ramya-rao-a commented on #522
I just tried `go get -v -u github.com/sqs/goreturns` and it works just fine.
Maybe log an issue at https://github.com/sqs/goreturns?

@sqs any idea why `go get -v -u github.com/sqs/goreturns` would fail with "no Go files in ...." ? See https://github.com/Microsoft/vscode-go/issues/522#issuecomment-335125790

[2017-10-09 19:42] selfup commented on #1266
Oh thanks I will try this out in a bit 😄

[2017-10-09 19:48] ramya-rao-a commented on #1203
@suntong
ok, https://github.com/Microsoft/vscode-go/blob/0.6.66/src/debugAdapter/goDebug.ts#L235 is the reason  for the debugger trying to infer the GOPATH.

I'll look at the history and try to recall why I do that even when GOPATH is set in the env.

@friends110110 Can you tell us if you use symlinks as well?

[2017-10-09 20:00] suntong commented on #1203
Just to make it clear that it fails regardless of the symlinks. I.e., whether I started VS Code from under
`/path/to/repo/gitwork` or `/path/to/repo/go-arch`, both cases failed.

[2017-10-09 20:19] sqs commented on #522
Hmm, sorry about the issue. I’m not sure what’s going on but I have some ideas to troubleshoot it.

What’s in the goreturns directory after running the command?

Does it work when you run go get with github.com but not sourcegraph.com? If so, then what do you see when you visit Sourcegraph.com in your browser? Our Cloudflare proxy may have flagged your IP for some reason and require a CAPTCHA. We’

[2017-10-09 20:51] ramya-rao-a commented on #1203
When you start VS Code from under `/path/to/repo/gitwork` what does the `Using GOPATH` log show?

[2017-10-09 20:54] suntong commented on #1203
Same,

`Current GOPATH: /path/to/repo/go-arch`

[2017-10-09 20:55] ramya-rao-a commented on #1203
No I meant the logs from the verbose logging when debugging

[2017-10-09 20:57] suntong commented on #1203
previous reply updated.

[2017-10-10 07:05] tsauvajon commented on #522
@sqs It redirects me to https://about.sourcegraph.com and displays the index normally.

[code]

@ramya-rao-a `go get -v -u github.com/sqs/goreturns` works, while `go get -v -u sourcegraph.com/sqs/goreturns` doesn't.

[2017-10-10 08:50] keegancsmith commented on #522
@tsauvajon What version of go are you using? I am on go 1.9.1 on darwin and I can't reproduce. Your `go get` seems to have done the wrong thing. If you remove  `C:\GOPATH\src\sourcegraph.com\sqs\goreturns` does it work? By the looks of it our `go get` proxy is doing the correct behaviour. If you visit https://sourcegraph.com/sqs/goreturns?go-get=1 do you see the following when you "view page sourc

[2017-10-10 14:18] tsauvajon commented on #522
@keegancsmith
Go version : `go version go1.9 windows/amd64`

The source for https://sourcegraph.com/sqs/goreturns?go-get=1 is correct :
```<html><head><meta name="go-import" content="sourcegraph.com/sqs/goreturns git https://github.com/sqs/goreturns"></head><body></body></html>```

Deleting the sourcegraph folder and `go get`ting again made it work.

[2017-10-10 17:40] tylerb commented on #1272
Update on this: I recently upgraded my Go version and it seems gocode didn't like that very much.

I deleted everything under $GOPATH/pkg, reinstalled gocode with `go install -a`, then reinstalled all my packages with `go install -a && go test -i`. This seems to have "fixed" the issue.

However, there does remain an issue with vscode: if `gocode` is having trouble or takes a while to respond, VSCo

[2017-10-10 18:48] Jeyanthinath commented on #1268
@arbourd thanks for that , I changed the gopath and  goroot ,now things are working fine!

But one more problem raised , I cannot able to change the first gopath I set in vscode, eventhough I removed from configuration json and I set a different path in .bashrc, whenever I tired to display gopath it is showing old path

[2017-10-10 20:12] arbourd commented on #1268
It sounds like VS Code is having trouble inferring your gopath. Try setting it exactly in the settings (`go.gopath`) or playing around with the infer shell options.

You could also pop into the #vscode channel on the [Gopher's slack](https://invite.slack.golangbridge.org/) for some more assistance with your pathing.

Either way it'd be great if you could close this issue as Go To Def is working.

[2017-10-11 14:13] SteelPhase commented on #1166
I think this is going to be related to derekparker/delve#970 and golang/go#19340

[2017-10-11 16:21] alexmironof opened #1273 "Hints for defined types"
Is there a way to show hint for user defined types, like expected arguments for `WalkFunc` function in screenshot below?

![1](https://user-images.githubusercontent.com/6573628/31453069-6f925660-aeb9-11e7-999c-03842dbec6d2.PNG)

![1](https://user-images.githubusercontent.com/6573628/31453236-1f8c5fd4-aeba-11e7-8dbe-3091a10bd279.PNG)

[2017-10-12 02:48] Hawken94 commented on #1147
@ramya-rao-a I find another problem today. The functions or interfaces can't go to definition if they are in vendor directory .
![tim 20171012104425](https://user-images.githubusercontent.com/12959892/31476692-5c3d8658-af3a-11e7-8118-56340fc74f5f.png)
![tim 20171012104508](https://user-images.githubusercontent.com/12959892/31476761-b8a65cb2-af3a-11e7-9403-bf0dfe559c08.png)

[2017-10-12 12:42] aprotopopov opened #1274 "Open vscode on specific line from grep -n output like Sublime."
Hi there.
Probably it's already discussed, but I didn't find any information about that.
It could be useful to open files from a Linux terminal on specific lines which, for example, coming from `grep -n`. Sublime could do that, for example:
[code]

And then with the following command in terminal.

```code ./docs/_build/html/_static/jquery-3.1.0.js:4479```

VS code should open file `jquery-3.1.0.js

[2017-10-12 12:43] #1274 closed

[2017-10-12 13:15] charlires opened #1275 "Go intellisense stop working"
Since a few days, go extension just stop working.

I dont get auto completion, and I can install/Update tools.

I get `command 'go.tools.install' not found`, I disable Language Server but no luck.

Im setting gopath per project but also tried directly in my global gopath but nothing.

There is no output at all, how can I start digging? this is the only extension that I can tell its not working.

[2017-10-12 13:36] charlires commented on #1275
Looks like uninstalling and reinstalling the extension did the trick

[2017-10-12 13:36] #1275 closed

[2017-10-12 14:44] drinktee opened #1276 "quick suggestion show very slow"
When I type some words, the quick suggestion show very slow about 15 seconds.
When I open a small project , it shows fast.
But when I open a bit project such as kubernetes , it shows suggestions after 10-20 seconds.
VSCODE  1.17.1

[2017-10-12 16:44] ramya-rao-a commented on #1266
@selfup

I am trying to repro this.

- Ran `go get github.com/selfup/go-cache-http`
- Opened the `go-cache-http` folder in VS Code
- Removed the `lib "github.com/selfup/go-cache-http/lib"` line from the import block in `main.go` file
- Saved the file

Instead of getting the error on missing import, the missing import got added when I saved the file.
This is because the default formatting tool `gor

[2017-10-12 16:46] ramya-rao-a commented on #1267
@jhaynie Sorry for the delay in responding to this issue.

Thats the code coverage showing up.

You might have `go.coverOnSave` enabled.
Disable that, and those highlights should go away.

Let me know if that doesn't work

[2017-10-12 16:46] #1267 closed

[2017-10-12 16:48] ramya-rao-a commented on #1268
Thanks @arbourd :)

@Jeyanthinath Did you restart VSCode after making changes to gopath in the .bashrc? If not, then those changes cannot show up.

Closing this issue for now.

If the go path set in .bashrc still doesn't show up after you removed the gopath from the VS Code settings and restarting VS Code, feel free to re-open the issue here.

[2017-10-12 16:48] #1268 closed

[2017-10-12 16:52] ramya-rao-a commented on #1275
Hey @charlires

The `command 'go.tools.install' not found` tells us that the Go extension failed to get activated.

Did you recently install the Go extension directly from a vsix file?

[2017-10-12 16:55] ramya-rao-a commented on #1271
@srcbase This is known to happen in the latest release if you are working on a Go file but you do not have any folder opened in VS Code.

Current workarounds until I release the next update are
- Open the folder containing the file you are working on in VS Code and then continue as usual OR
- Install the Go extension from master which has the fix for this issue. Steps for this are
     - Download

[2017-10-12 16:55] #1271 closed

[2017-10-12 16:57] ramya-rao-a commented on #1147
@Hawken94 that would be a separate issue. Try setting `go.docsTool` to `gogetdoc` in your settings

[2017-10-12 17:03] ramya-rao-a commented on #1272
That scares me

We could kill the process that calls `gocode` if it takes say more than 3 seconds.
And if this happens often, then we could disable completion and notify the user to check whats wrong with gocode.

Thoughts?

[2017-10-12 17:06] ramya-rao-a commented on #1276
Can you try the below?
- Close VS Code
- Run `gocode close`
- Start VS Code and start typing in the bigger project.

If this still doesn't help, try disabling the setting `go.gocodeAutoBuild`

[2017-10-12 17:12] jhaynie commented on #1267
@ramya-rao-a thanks so much.  i never would have figured that out !!!

[2017-10-12 17:17] tylerb commented on #1272
I'm thinking that perhaps the issue might be gocode chewing up every single free cycle, slowing my system to a crawl and causing everything to behave oddly. I watched my processors the last time it happened and they all spiked to 100%.

However, that still shouldn't cause VSCode to repeat the last keypress as far as I'm concerned. I get the feeling it registers the key down event, gets stuck waiti

[2017-10-12 17:34] ramya-rao-a commented on #1267
How did you end up enabling the code coverage any way :) ?

[2017-10-12 17:49] esemplastic opened #1277 "Completion doesn't work in go 1.9 for type aliases"
`iris.C` 's origin type is `mvc.C`: https://github.com/kataras/iris/blob/master/mvc/controller.go#L39
`iris.C` type alias definition: https://github.com/kataras/iris/blob/master/go19.go#L148

The mvc.C looks like the following:

[code]

But when embedding the type in other type, auto completion doesn't work:

![problem1](https://user-images.githubusercontent.com/26099364/31510866-7e0e83c8-af8e-11e

[2017-10-12 18:15] jhaynie commented on #1267
well, i guess it was turned on but didn't realize the highlighting would only show when i saved it. that wasn't intuitive until you explained it. it might have been better to indicate something in a hover etc.

[2017-10-12 21:16] ramya-rao-a commented on #1267
The default value for `go.coverOnSave` setting is `false`.

The below is the description of the setting that shows up on hover.
![image](https://user-images.githubusercontent.com/16890566/31519635-d9de6e02-af57-11e7-9461-2a7d8bba72d0.png)

Regardless, am glad that is resolved now. Happy Coding!

[2017-10-12 23:52] esemplastic commented on #1267
Dear @ramya-rao-a could you please take a quick look and confirm the https://github.com/Microsoft/vscode-go/issues/1277 ?

[2017-10-13 01:06] ramya-rao-a commented on #1261
We use `godef` by default for the `Go to Definition` feature which seems to have issues when dealing with type aliasing.

`gogetdoc` on the other hand works just fine with type aliases

You can change the setting `go.docsTool` to `gogetdoc` until we get an upstream fix for `godef`

[2017-10-13 01:06] #1261 closed

[2017-10-13 01:27] Hawken94 commented on #1147
@ramya-rao-a When I set **go.docsTool** to **gogetdoc**, it can go to definition.But there is another question. When my mouse on the function, it can't show the definition.
Packages in GOPATH can show :）：
![image](https://user-images.githubusercontent.com/12959892/31526285-6c6758ba-aff8-11e7-9130-597ad3b30975.png)

It doesn't work.
![image](https://user-images.githubusercontent.com/12959892/315263

[2017-10-13 01:43] ssoroka commented on #1261
I'm not sure if I'm doing something wrong, but this doesn't resolve it for me.

[2017-10-13 09:48] drinktee commented on #1276
I disabled go.gocodeAutoBuild and result is same. I have close any other extensions. This is my config. Is anything wrong?
[code]

[2017-10-13 13:02] carlca opened #1278 "Cannot get Delve to work with VSCode anymore"
VSCode Insiders 1.18.0
macOS 10.13.0 High Sierra
Delve Version: 1.0.0-rc.1
Golang 1.9.1

Hello, I no longer seem to be able to debug my Golang code using Delve. It used to work but after a few new versions of VSCode, something's gone wrong. My `launch.json` is as follows:

[code]
I added the GOPATH info into the "env" setting and that seemed to sort out the path issue. I notice though that my `Deb

[2017-10-13 13:29] carlca commented on #1278
I checked the issue #947 and ran `xcode-select --install`. That seems to have fixed it.

[2017-10-13 13:29] #1278 closed

[2017-10-13 17:00] ramya-rao-a commented on #1277
@esemplastic Can you provide a smaller code sample that I can try to repro this on?

[2017-10-13 17:09] ramya-rao-a commented on #1147
@Hawken94 Try running `gogetdoc` from the command line/terminal. If you don't get the docs as expected, then log an issue at https://github.com/zmb3/gogetdoc

[2017-10-13 17:11] ramya-rao-a commented on #1261
@ssoroka Are you using the language server feature?

[2017-10-13 17:15] ramya-rao-a commented on #1276
Did you run `gocode close`?

Your settings look fine. One comment though..
You have set `go.toolsGopath` to the your GOPATH/bin.
That doesnt make sense. If you want to use the Go tools from your GOPATH, then there is no need to set the `go.toolsGopath` setting

[2017-10-13 17:46] btracey opened #1279 "Function complete without types sometimes drops parameters"
Using the "go.useCodeSnippetsOnFunctionSuggestWithoutType" as true  sometimes autocompletes without the names of parameters. I haven't been able to fully understand the rule, but it happens sometimes when there are multiple parameters of the same type.

A code snippet that reproduces this is
[code]

When completing the `ScoreInput`, the `score` name is not filled in.

Full settings:
[code]

[2017-10-14 03:08] natefinch opened #1280 "debugging single unit test no longer works in october insiders"
Clicking the "debug test" link above a test function now pops up the message

"command 'vscode.startDebug' not found"

Probably related to this: https://github.com/Microsoft/vscode/issues/33795

[2017-10-14 14:14] roadrunner commented on #1249
a small project here, but this is happening when `vet-on-save` enabled. it feels so laggy even if it's set package or workspace level.

[2017-10-14 18:28] esemplastic commented on #1277
Sure!

**file: mypackage/original/embedded_struct.go**
[code]

**file: mypackage/original/return_type.go**
[code]

**file: mypackage/mypackage.go**
[code]

**file: main.go**
[code]

[2017-10-15 00:34] ramya-rao-a commented on #1277
Thanks @esemplastic, I can repro

The issue lies with gocode and I see that the corresponding issue there is being looked at.

Will close this issue as you have the upstream one to track the problem.

When gocode is fixed for working with type alias, please drop a comment here so that others who might encounter the same issue will know to update gocode

[2017-10-15 00:34] #1277 closed

[2017-10-15 03:04] bsr203 commented on #1057
Hi @goenning , @ramya-rao-a

I have an issue related to above, so wanted to check quickly before opening a new one.

when I run the code lens "run test", I get the error

[code]
It is indeed a GOPATH issue. It works if

1. on vscode terminal
`GOPATH=/Users/bsr/server /usr/local/go/bin/go test -tags appenginevm -timeout 30s aaa/bbb/ccc -run ^TestTasks$`

2. If I open vscode with GOPATH set like
`GO

[2017-10-15 06:58] goofle commented on #1166
Forgive me, but what is optimized code exactly? Can anyone elaborate?

[2017-10-15 08:50] majimboo commented on #873
I currently have the same issue in Mac.

[2017-10-15 22:35] apiarian commented on #789
Made a first draft implementation of the documentation view. Would very much appreciate any notes or comments. I'm new to this javascript and VSCode stuff.

[2017-10-16 02:32] ramya-rao-a commented on #873
@majimboo Please elaborate. Do you have issues with the goroot to gopath?
Share the below details
- Have you set any of these settings: `go.gopath`, `go.goroot` and `go.inferGopath`
- Run `echo $GOPATH` in the integrated terminal inside VS Code and a separate terminal outside VS Code. Are the results the same?
- Run `go env GOPATH` in the integrated terminal inside VS Code and a separate terminal

[2017-10-16 02:44] ramya-rao-a commented on #1057
@bsr203 The GOPATH from the `go.gopath` setting is used by the `run test` codelens. You shouldn't have to add it again via the `go.testEnvVars` setting.

In you second case above where you set GOPATH in the terminal and then open code, does the `run test` codelens work as expected? In that case do you still use the same settings?

[2017-10-16 03:00] selfup commented on #1266
Yea I don't seem to be able to reproduce this anymore 😂

Sorry for the bother! The GIF captured the bad behavior but like you said, it seems to autofix now and is not reproducible.

Thanks for checking it out!

[2017-10-16 03:00] #1266 closed

[2017-10-16 03:13] bsr203 commented on #1057
thanks @ramya-rao-a for getting back to me.

No. `run test` through code lens doesn't work and gives the error `can't load package` as above. Means GOPATH is not set. But, the command it runs, as per the error message `/usr/local/go/bin/go test -tags appenginevm -timeout 30s aaa/bbb/ccc -run ^TestTasks$`, works on the vscode tesrminal (without me setting GOPATH). So, GOPATH is not passed when runn

[2017-10-16 03:27] bsr203 commented on #1057
hi. not sure what changed. after removing `go.testEnvVars` it looks it detect GOPATH. I still have issues that build flag is not working properly. As in the above error the command has `-tags appenginevm` when run through code lens. But I am getting error that functions from that file is undefined. Do you see any issue how I use go.testEnvVar ?

[2017-10-16 03:30] ramya-rao-a commented on #1249
@roadrunner Do you have auto save enabled?

[2017-10-16 03:32] KISSMonX opened #1283 "MacOS, cmd+left cannot work ?"
jump to the definition like F12.
and now, not work?

[2017-10-16 03:33] ramya-rao-a commented on #1057
Why not use the setting `go.buildTags` for the build tags?

[2017-10-16 03:34] bsr203 commented on #1057
@ramya-rao-a it works now. I have to use `buildTags` instead of `testFlags`.
like
`  "go.buildTags": "appenginevm"`

[2017-10-16 04:56] ramya-rao-a commented on #1057
great, Happy Coding!

[2017-10-16 05:15] ramya-rao-a commented on #1273
Argument hints are currently provided when an already defined function is called.

In this case, you are defining a function of a particular type.

If we were to use a language server then this may be possible, but in the current way the Go extension is designed (where we shell out process to run Go tools), I don't believe this is possible.

If you have any ideas how to go about this I would be in

[2017-10-16 05:23] ramya-rao-a commented on #1279
@btracey Good catch!

@alexkohler Can you take a look? Should be a simple fix.

[2017-10-16 05:57] #1283 closed

[2017-10-16 08:43] roadrunner commented on #1249
No, it's not enabled @ramya-rao-a

[2017-10-16 09:43] drinktee commented on #1276
It seems good when I have upgraded to macOS 10.13 ......

[2017-10-16 11:19] alexkohler commented on #1279
Nice catch! @ramya-rao-a Sure - I'll take a look later today.

[2017-10-16 14:41] ssoroka commented on #1261
No. I have an odd project layout and I think that might be complicating the problem. Is there any way I can see the debug output that vscode is getting from the `gogetdoc` command?

[2017-10-16 15:29] ramya-rao-a commented on #1261
Try running the `gogetdoc` tool from the terminal directly
It takes file name and offset

You can use this extension https://marketplace.visualstudio.com/items?itemName=ramyaraoa.show-offset to get the offset under the cursor

[2017-10-16 15:36] ramya-rao-a commented on #1276
That must have reset something ...

Am glad that its better now, Happy Coding!

[2017-10-16 15:36] #1276 closed

[2017-10-16 15:40] ramya-rao-a commented on #1249
We spawn new process each time we want to vet/lint/build code.
#1265 tracks closing of existing processes before starting new ones.
That should help here

[2017-10-16 15:40] #1249 closed

[2017-10-16 17:48] willfaught opened #1285 "Pasting a func with a blank line for a body indents the closing brace"
Paste this (note that there's no indentation in the blank line in the function body):

[code]

What you get is:

[code]

where the blank line in the function body and the closing brace are indented by one tab.

The closing brace shouldn't be indented.

---

- VSCode Version: Code 1.17.1 (1e9d36539b0ae51ac09b9d4673ebea4e447e5353, 2017-10-10T14:10:17.189Z)
- OS Version: Darwin x64 16.7.0
- Extension

[2017-10-16 19:23] lambrospetrou commented on #926
I would really love for this to go forward too. The only way now to work with WSL is to run the editor locally in WSL and display it in Windows using X-Server. But this does not work with VSCode though and I fall back to Sublime.

An option to use WSL entirely in the editor would be amazing.

[2017-10-16 23:21] FiloSottile opened #1286 "Reinstall tools when a GOROOT change is detected"
When the GOROOT changes (for example when Go is updated on macOS with Homebrew) the old GOROOT stays embedded in the binaries built with the old toolchain. This causes all kinds of things to break: list packages, autocomplete, `autocompleteUnimportedPackages` all break for stdlib packages.

This is the scenario explained here: https://blog.filippo.io/stale-goroot-and-gorebuild/

Ideally, the exten

[2017-10-16 23:37] FiloSottile opened #1287 "Function complete doesn't support inline functions"
If a local variable like this is defined

[code]

then `ensureKeyword` autocompletes to `ensureKeyword` without arguments even if `useCodeSnippetsOnFunctionSuggestWithoutType` is true.

[2017-10-17 09:32] radu-matei commented on #926
@lambrospetrou you could use VS Code on Windows and use Bash as the integrated terminal, executing the `go` commands against Linux.

Not the best experience, but gets the job done.

[2017-10-17 09:36] lambrospetrou commented on #926
@radu-matei I know about that but the whole benefit of having a plugin for a language is to provide editor assistance (autocomplete, suggestions, auto formatting on save, highlighting errors, etc.). If I was just using it as a notepad and then run commands through terminal, I could just use the normal terminal, not VSCode's.

[2017-10-17 15:14] bsr203 commented on #786
Hi. I don't have a lot of custom settings, but currently my source files are properly auto formatted on save, but test ("*_test.go") files are not . Is this by design? any settings to allow formatting test files as well.

[2017-10-17 17:52] bsr203 commented on #786
Changing to
[code]
makes formatting works again

could be this issue https://github.com/sqs/goreturns/issues/30

[2017-10-17 19:54] alexkohler commented on #1287
It looks like we are checking if the suggest.class is `func`, whereas we should
 be checking if the `suggest.type` contains 'func': https://github.com/Microsoft/vscode-go/blob/0.6.66/src/goSuggest.ts#L168

I.e. before:
`...&& suggest.class === 'func'`

My proposed solution:
`...&& suggest.type.includes('func')`

@ramya-rao-a thoughts?

[2017-10-17 22:45] apiarian commented on #789
now with automatic package name detection https://github.com/Microsoft/vscode-go/pull/1282

[2017-10-17 23:05] apiarian commented on #789
and an entry in the context menu. feature complete?

[2017-10-18 06:46] aleafboat commented on #10
I was in the same trouble https fetch failed: Get https://golang.org/x/tools/imports?go-get=1: dial tcp 216.239.37.1:443: connectex: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.

[2017-10-18 07:48] aleafboat commented on #21
Installing 8 tools at D:\code\wcy\mygo\bin
  go-outline
  go-symbols
  guru
  gorename
  impl
  goreturns
  golint
  gotests

Installing github.com/ramya-rao-a/go-outline FAILED
Installing github.com/acroca/go-symbols FAILED
Installing golang.org/x/tools/cmd/guru FAILED
Installing golang.org/x/tools/cmd/gorename FAILED
Installing github.com/josharian/impl FAILED
Installing sourcegraph.com/sqs/gore

[2017-10-18 13:16] 25ar opened #1288 "Linux settings"
Hello.
I want to use VS code for go programming, but i can't setup it correctly.
Now I have next issue:
go: GOPATH entry is relative; must be absolute path: "$HOME/Documents/go".
Run 'go help gopath' for usage.

My env settings:
echo $GOPATH: /home/nenych/Documents/go
echo $PATH: /home/nenych/bin:/home/nenych/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/l

[2017-10-18 14:17] 25ar commented on #1288
It created file with settings in my project root directory

[2017-10-18 14:17] #1288 closed

[2017-10-18 18:45] olekthunder commented on #755
For all guys who are stuck with command 'go.tools.install' not found promlem on windows.
Check if `%GOPATH%\bin` is in your PATH enviroment variable.
After half and an hour I finally figured out that PATH is unchanged if you try to change it like `set PATH=%PATH%...`. You need explicitly change it in your system settings.  (I don't know why)
I'm writing this because noone wrote this before in any

[2017-10-18 21:03] #1279 closed

[2017-10-18 21:53] ramya-rao-a commented on #789
It definitely sounds feature complete :)
I have left a few comments on the PR.

[2017-10-18 21:57] #1228 closed

[2017-10-19 00:38] #1280 closed

[2017-10-19 00:39] ramya-rao-a commented on #1280
Thanks for reporting Nate

I have pushed in a fix and will be releasing an update soon

[2017-10-19 00:43] ramya-rao-a commented on #1229
@MZhoume I believe we need to check for the existence of the `main` function before running delve on the current file.

Take the case of a main package with multiple files. Only one of them will have the main function and I believe delve can only "run" the file with the main function and not the others.

Can you confirm?

[2017-10-19 00:44] ramya-rao-a commented on #1287
In this case what does `suggest.type` have?

[2017-10-19 00:46] ramya-rao-a commented on #1286
We do this currently if we see a change in the version of Go being used.
Doesnt that help?

[2017-10-19 01:25] ramya-rao-a commented on #1203
@suntong I have pushed in a fix which should help your case, can you give it a try?

You will have to
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix`
- Reload VS Code

[2017-10-19 01:25] #1203 closed

[2017-10-19 01:27] natefinch commented on #1280
Unfortunately, I uninstalled insiders after this bug and went back to the release version.  And I actually don't particularly want to go back to insiders because for some reason it loses all my settings?  Not exactly sure if that's expected or not, but it's kind of a PITA.

[2017-10-19 01:58] alexkohler commented on #1287
@ramya-rao-a in this case, I believe a locally defined function would have a type of ‘var’.

[2017-10-19 02:01] alexkohler commented on #1287
@ramya-rao-a sorry, thought I read `suggest.class`. The `suggest.type` would be `func (k string)` I think - I’ll double check this when I have access to my PC.

[2017-10-19 02:29] MattWillcox opened #1289 "e"

[2017-10-19 02:29] #1289 closed

[2017-10-19 02:32] suntong commented on #1203
OK, I'll try it out this weekend.

[2017-10-19 05:05] ramya-rao-a commented on #1280
That shouldn't be happening. If you are able to get a repro, please do log an issue in the vscode repo

As for testing the fix, the API changes work on the stable build as well. So you can follow the same instructions in https://github.com/Microsoft/vscode-go/issues/1280#issuecomment-337769920 replacing `code-insiders` with `code`

[2017-10-19 09:05] farmerljx opened #1290 ""Go to Definition" not working correctly"
If there has two struct or union has the same variable, such as(focus on variable **idata**)
[code]
and
[code]
In my code to use `SimpleDataPoint` in this way:
[code]
"Go to Definition" for variable `idata` can not got to the Union `SimpleDataPoint` directly.

[2017-10-19 09:11] #1290 closed

[2017-10-19 12:07] apiarian commented on #789
An interesting v2 for this feature might be to use the `vscode.previewHtml` command ( https://code.visualstudio.com/docs/extensionAPI/vscode-api-commands#_working-with-the-html-preview ) to show a pretty doc page instead of the basic plain text. Similar to what the https://github.com/Huachao/vscode-restclient plugin does with their `rest-client.previewResponseInUntitledDocument` setting.

[2017-10-19 12:46] alexkohler commented on #1287
@ramya-rao-a Yes, to confirm the `suggest.type` is `func(k string)`. The `suggest.type` of the same function declared non-locally is also `func(k string)`. Looking at all the potential edge cases, using `includes` does seem a little heavy handed.

[2017-10-19 17:21] ramya-rao-a commented on #1287
by non-locally, you mean in another file in the same package?

[2017-10-19 17:22] ramya-rao-a commented on #789
I was wondering about that...

The resulting editor with docs does look very plain.
Does godoc support output in markdown?

[2017-10-19 17:45] alexkohler commented on #1287
Not necessarily in another file, just declared in package scope rather than local scope.

I.e.:
[code]

[2017-10-19 19:55] FiloSottile commented on #1286
That's an approximation, since the tools will break on a GOROOT change even if the version stays the same, but it would have helped in my case. However, it did not rebuild the tools automatically. How/when is it supposed to happen?

[2017-10-19 21:11] atombender opened #1291 "Autocompletion of current function doesn't happen in Godoc comment"
![vsc](https://user-images.githubusercontent.com/50314/31794547-afc28074-b4f0-11e7-9031-3c11685cbf1a.gif)

Say I have this:

[code]

I expect code completion to automatically suggest `SetThing` for me. If I type `SetT`, nothing happens. If hit cmd-space to force autocompletion, I might get `SetThing` (or something else starting with `SetT`), but it's a textual autocompletion, not a code completion

[2017-10-19 21:24] apiarian commented on #789
Not that I can see. There's an `-html` flag which will output an HTML snippet that we could put into an `<html></html>` context and add styling. But that's a pretty hefty bit of work, it seems. Maybe.

[2017-10-19 21:49] buyology commented on #972
+1

As a MVP couldn't just all the test buttons be mirrored with corresponding bench buttons (on the package, file and individual bench level)?

[2017-10-19 21:52] GrumpyMetalGuy opened #1292 "Problem with installing tools on Windows"
Hi,

I've done my best to see if I can track down the issue I'm facing, but had no luck. Go easy on the noob :)

I've installed golang 1.9 on Windows, set a GOROOT and GOPATH env variable (since I've installed Go under my user directory), but when I try and install the go tools using the Go: Install/Update Tools command in VS Code, it doesn't seem to install to the place I thought. My env vars are

[2017-10-20 00:18] charlires commented on #1275
@ramya-rao-a No, Installed it from vs code

[2017-10-20 00:45] ramya-rao-a commented on #1291
There are multiple layers at play here

1. Completions do not appear as you type when inside comments. This is a VS Code feature. You can tweak this by editing the `editor.quickSuggestions` setting
2. When you do force a autocompletion, the Go extension intentionally does not invoke `gocode` for suggestions when typing inside a line comment as it was considered as noise
3. Funnily `gocode` does ge

[2017-10-20 00:48] ramya-rao-a commented on #1292
Your GOPATH is under the GOROOT
It is not advised for GOPATH and GOROOT to be the same or under each other

Try setting GOPATH to another location, reload VS Code and run the command to install tools again.

Pro Tip: To keep the Go tools that the Go extension for VS Code depends on separate from your Go projects, it is advised to have a separate location for the tools. You can do this by providing

[2017-10-20 00:50] ramya-rao-a commented on #1286
The first time you open a VS Code window after changing the Go version, VS Code would give you a prompt saying "Your Go version is different than before, few Go tools may need re-compiling" and an option to update all the dependent tools.

Behind the scenes, we store the Go version being used in local storage. Whenever you open a new window or Go project, the Go version is checked

[2017-10-20 00:52] ramya-rao-a commented on #789
That would be cool. There is a way to html content directly, with some default styles. I'll look it up and get back

[2017-10-20 02:31] MZhoume commented on #1229
@ramya-rao-a Yes, `dlv run` (now `debug`) can only runs on the files with `main` function defined.

However, `dlv debug` works with multiple files within the same `main` package as long as they have `main` function defined. (re-defined `main` function within the `main` package does not affect `dlv` command)

[2017-10-20 07:44] keeema opened #1293 "Missing configuration allowing auteSave only for Go"
Editor doesn't correctly show errors until I save the file with changes, so I would appreciate to have possibility to switch autoSave on - but only for GO files.

It works the same way in other Go editors.

[2017-10-20 09:47] campoy commented on #972
Hi all,

First of all I'd like to say that benchmarks rarely rely on user input, so it would be totally ok in my opinion if those flags were configurable only at settings level.
Benchmarks should *not* be executed when we test a package unless otherwise indicated with the `-bench` flag.

I am interested on what the benchmarks would look like. Would it be simply something like the "run this test |

[2017-10-20 16:38] stanleynguyen commented on #883
Hi @ramya-rao-a I'm new to vscode and this extension so pardon me if I ask stupid question. But this "lintOnType" option seems to be no where to be found, would you mind assisting on this? Thank you!

[2017-10-20 17:05] stanleynguyen opened #1294 "Using more than one format tool"
Is it possible to use more than one format tool in __vscode-go__? Because I want to run all __goimports__, __gofmt__, and __goreturns__ on save but there seems to be only a single-tool option for __go.formatTool__

[2017-10-20 17:06] stanleynguyen commented on #1294
My suggestion would be using array of strings data type instead of string for __go.formatTool__

[2017-10-20 17:39] ramya-rao-a commented on #883
@stanleynguyen Welcome to VS Code :) Add this to your settings:
[code]

[2017-10-20 17:52] stanleynguyen commented on #883
@ramya-rao-a Thanks for your prompt reply. I have added this previously, but it only tells me about syntax errors in the code, not code style problems (i.e. not commenting on top of exported functions), that's what I'm looking for :)

[2017-10-20 19:54] rakyll commented on #972
I'd love to be able to run individual benchmarks the way I run tests individually. It is currently one of the few critical things missing from my daily workflow.

[2017-10-20 20:21] dolmen opened #1295 "Open generated Go files in readonly mode"
The Go community has a standard for files marked as machine-generated: https://golang.org/s/generatedcode
It is expected that the generator may ran again and that any changes made by a human would be overwritten. So those files should not be modified by humans. It would be helpful if VSCode could help to enforce this.

So I propose that when a .go file is opened and it contains the `^// Code gener

[2017-10-20 20:27] dolmen commented on #1294
`goimports` is a superset of `gofmt`. No reason to use both.
`goreturns` has a [`-i` option](https://github.com/sqs/goreturns/blob/master/goreturns.go#L32) that allows to ask it to run `goimports` before.
So I don't see a use case for this change request.

[2017-10-20 20:35] dolmen commented on #1224
I think you probably meant this:
[code]
instead of:
[code]

[2017-10-20 23:31] ramya-rao-a commented on #1189
Closing this issue as the feature has been implemented

[2017-10-20 23:31] #1189 closed

[2017-10-21 00:11] #1294 closed

[2017-10-21 03:04] atombender commented on #1291
That sounds like a good solution. I didn't know about the `editor.quickSuggestions` setting, thanks.

On 19 October 2017 at 20:45:58, Ramya Rao (notifications@github.com) wrote:

[2017-10-21 07:53] Blazero opened #1296 "Can't run "Go: Current GOPATH" on Windows"
#![image](https://user-images.githubusercontent.com/14362209/31849605-6866b92e-b677-11e7-880a-c01f220c6268.png)

I've set GOPATH in the Environment Variables, and even in settings of VSCode ("go.gopath": "D:\\Documents\\Go"). It just didn't work.
Consequently, it's not possible to install go tools.

[2017-10-21 09:14] Blazero commented on #1296
This is solved after I open the GOPATH **floder** in VSCode. Only opening a GO file is not enough. No one mentioned this while I googled it.

![image](https://user-images.githubusercontent.com/14362209/31850372-50733192-b683-11e7-9ef3-31402d093d57.png)

[2017-10-21 09:15] #1296 closed

[2017-10-21 15:15] hujianxin opened #1298 "Can I set the gopath in settings.json using $HOME/go?"
I have two machine: macos and ubuntu，in macos the goroot is "/User/username/Code/go" and in ubuntu the goroot is "/home/username/Code/go"，So I want use a env such as "$HOME/Code/go" so that I can sync the configuration between these machines.

So Can I make it?

[2017-10-21 15:18] #1298 closed

[2017-10-21 18:31] jmmcatee opened #1299 "Go plugin not functioning at all on Windows"
After upgrading to Go 1.9.1 and the latest release of VS Code, I cannot get any of the Go plugin functions to work. They all present me with various "command '####' not found. All my Go variables are set and I have tried a variety of settings changes. Anyone have any idea?

[2017-10-21 18:54] jmmcatee commented on #1299
This appears to only happen if I am opening arbitrary Go files without have a folder open. If this is a requirement to load the function, I missed this in the instructions.

[2017-10-21 20:56] roederw commented on #1295
I don't think it's a good idea to force read only. What do you think about a notification like feature that notifies the user that this is a generated file? That way they understand that their changes will, probably, be overwritten with future generations.

[2017-10-22 13:43] apiarian commented on #789
so the easy part is replacing the `vscode.window.showTextDocument` line with `vscode.commands.executeCommand('vscode.previewHtml', uri, vscode.window.activeTextEditor.viewColumn+1);` . The tricky part is going to be getting the styling right. I'm exploring the possibility of pulling the style and script files out of the godoc repo https://github.com/golang/tools/tree/master/godoc/static .

[2017-10-22 14:52] 474420502 commented on #1299
My situation is just like yours @jmmcatee

[2017-10-22 15:44] dxvgef opened #1300 "cannot work on some packages in the vendor directory"
I store the Echo framework in the vendor directory, but vscode does not have the completion lists for the Echo package in vendor
There are other packages in the vendor directory, some will have completion lists, some will not, and I'll use IDEA to be all right.

[2017-10-22 15:55] dxvgef commented on #1300
It's work.

[2017-10-22 16:03] apiarian commented on #789
Does

[code]

in https://github.com/golang/tools/blob/master/godoc/static/godocs.js#L1 mean tat we can't just include the script in this repo and use it to handle the various navigational things that it provides? Also, what about the other things in that directory, like the CSS?

[2017-10-22 20:38] apiarian commented on #789
So all of the `*.txt` files in this directory are actually templates for the text form of the output. Likewise all of the `*.html` and `*.xml` files are templates for the `-html` form of the `godoc` output. We could copy them into `vscode-go/godoc-static` and edit them to contain exactly the output we need. Though that, too, seems like a v2 thing which will require a fair bit of HTML/CSS/JS wizard

[2017-10-22 21:01] apiarian commented on #789
Actually, if I'm understanding this correctly https://github.com/golang/tools/blob/master/LICENSE , we can include the templates and other files as long as we mention the source in them? Is this how legal things work?

[2017-10-23 00:29] ramya-rao-a commented on #1300
@dxvgef I am guessing from your latest comment that completion is working as expected.

We use `gocode` for getting completions which work only if the packages are installed.
Check if the package for which you want completion exists in your GOPATH/pkg folder

[2017-10-23 00:29] #1300 closed

[2017-10-23 00:34] ramya-rao-a commented on #1299
@jmmcatee Please see https://github.com/Microsoft/vscode-go/issues/1271#issuecomment-336198657

[2017-10-23 00:34] #1299 closed

[2017-10-23 00:38] ramya-rao-a commented on #1190
@yhuang0 Closing this issue as we havent heard back from you in a while

[2017-10-23 00:38] #1190 closed

[2017-10-23 00:43] Slacki commented on #1186
I am still having this issue. vscode-go 0.6.66, and VS Code Version 1.17.2 linux.

[2017-10-23 00:50] ramya-rao-a commented on #1293
To enable autosave based on file type, please log an issue in the repo for vscode: https://github.com/Microsoft/vscode

If you are looking for error feedback as you type, then try enabling the live error feature by add the below in your setting
[code]

This will use `gotype` on the file currently being edited and report any semantic or syntactic errors found after configured delay

[2017-10-23 00:50] #1293 closed

[2017-10-23 00:52] ramya-rao-a commented on #883
@stamblerre We dont have lint on type feature. This current issue was to track showing of syntax errors and so I assumed that's what you were referring to

Linting errors show up once you save your changes as long as the setting `go.lintOnSave` is set to `package` or `workspace`

[2017-10-23 01:28] ramya-rao-a commented on #1224
@dolmen both work for me. All args get printed

@mitom Closing this issue as we havent heard back from you in a while

[2017-10-23 01:28] #1224 closed

[2017-10-23 02:56] ramya-rao-a commented on #1186
@Slacki  You are not seeing completions from std library or custom packages or both?

[2017-10-23 06:28] ramya-rao-a commented on #789
@apiarian Wouldn't it be easier to use `godoc` to run a documentation server?
Then accessing it via localhost, you will get all the css/navigation and all the cool stuff

[2017-10-23 09:12] apiarian commented on #789
Perhaps. I'll give it a try, one concern is that it might not update immediately as the documentation comments change.

How do we handle restyling for light vs dark vs high contrast themes, just inject a css file at the end of the `head`?

Do we leave all of the other godoc functionality in place? The playground and search and stuff? Where does the search index go? This is becoming less of a text

[2017-10-23 09:25] Slacki commented on #1186
Standard library. Exactly the same problem as in this comment https://github.com/Microsoft/vscode-go/issues/1186#issuecomment-327364956.

[2017-10-23 16:32] dxvgef opened #1301 "Change the path to the debug binary file"
I set up `"buildFlags"` in `launch.json`:
`"-gcflags='-o ${workspaceRoot}/bin/debug ${workspaceRoot}/src/main/main.go'"`
and I have a vendor directory, it will tip cannot find the custom packages for my project.

[2017-10-23 17:22] SteelPhase commented on #1166
I think this goes into more detail than i can about [compiler optimizations](https://github.com/golang/go/wiki/CompilerOptimizations) in Go.

[2017-10-23 21:59] dcormier opened #1302 "Test coverage highlight color are not colorblind friendly"
The red/green test coverage highlight colors are not colorblind friendly, and there does not appear to be a way to configure the highlight color (if there is a way, please do correct me).

I'm colorblind (as are ~10% of people with XY chromosomes), and it's hard for me to use the colors tell what's been covered and what has not.

[2017-10-24 04:07] ramya-rao-a commented on #1186
I don't see why the suggestions wouldn't show up for `log`, but will show up for `fmt`.

I can help you set up a local environment for the Go extension and help you debug the issue if you are up for it.

- Follow the instructions for [Building and Debugging the extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-an

[2017-10-25 05:08] ramya-rao-a commented on #789
I would keep the the light vs dark theme issue out of scope for now.
Links opening in browser should be ok to get started. I believe thats what the HTML preview does by default.

[2017-10-25 08:10] tunggiga commented on #580
I have the same issue, can you help me?

1. What version of Delve are you using (dlv version)?
Delve Debugger
Version: 1.0.0-rc.2
Build: $Id: 5c7676404d10d52e16be57fea744a7312b831f0c $
2. What version of Go are you using? (go version)?
go version go1.8.3 windows/amd64
3. What operating system and processor architecture are you using?
win10 64bit
4. What did you do?
At the debugging time (when the

[2017-10-25 09:01] aarzilli commented on #580
@tunggiga you'll probably have better luck reporting this to the [vscode plugin](https://github.com/Microsoft/vscode-go)

[2017-10-25 09:28] tunggiga commented on #580
@aarzilli I don't get it. Doesn't that link point to this repository?

[2017-10-25 09:47] cmaglie commented on #1215
I have the same issue, it seems that `vet` runs for a very long time and keeps a cpu core at 100% (it takes almost a minute to complete on my machine).

![image](https://user-images.githubusercontent.com/423515/31992082-9a228e5c-b979-11e7-8326-3429a28d5835.png)

I've run a `strace` over the `vet` process and it seems that it "rescan" all the files in `GOPATH` I don't know if this is the intended b

[2017-10-25 10:25] aarzilli commented on #580
@tunggiga yep, my mistake.

[2017-10-25 14:12] dolmen commented on #1295
A notification at file open is too intrusive.
As a developer I may want to be able to open the generated file to read the code or because I want to trace it with the debugger. A notification every time I enter the file with the debugger would be too intrusive.
This is generated code, so if I want to modify it I should either use the generator again, or if I want just to make a discardable change (

[2017-10-25 16:19] cmaglie commented on #1215
Ok, I guess I found the cause of this: I had a tab opened with a `main.go` in my `GOPATH`, when I close that tab the `vet` command started to perform good again.

I think that `vet` examine **all subfolders of all files opened** in the editor, so having the `$GOPATH/main.go` opened made it scan all the `$GOPATH/src/...` that was very crowded.

[2017-10-26 20:31] arbourd commented on #1286
I personally don't get the "Your Go version is different than before, few Go tools may need re-compiling" message.

[2017-10-26 21:00] GrumpyMetalGuy commented on #1292
Sorry for the late response - yep, that worked well, plus I did some more reading on paths in Go, which provided some additional background. Thanks for the advice, onwards to more Go coding!

[2017-10-26 21:00] #1292 closed

[2017-10-26 21:35] dbaeumer opened #1305 "Annoying Intellisense problem when working on a Golang project."
_From @SamyGhannad on October 26, 2017 10:6_

I'm facing an annoying problem with VS Code when working on a Golang project.
The Intellisense suggestions are pretty much messed up.
1- It has some nonsense items on its list.
2- It is not limited to the target scope, for example when I'm putting a . (dot) after a package name, suggestions are not limited to it, it is actually all possible suggestions

[2017-10-26 21:35] dbaeumer commented on #1305
_From @maxibanki on October 26, 2017 11:10_

Since this is a "Bug" of the Go extension, please create an issue [there](https://github.com/Microsoft/vscode-go).

[2017-10-27 06:08] FiloSottile commented on #1286
I never saw it either. It might be that some people, me included,
restart the editor so rarely that the check is not effective if only
done at startup.

[2017-10-27 14:10] leesjensen commented on #1166
I used the task workaround to speed up debugging of the application, but I still get a slow down on debugging tests. Does anyone have a work around for that? Very painful.

[2017-10-28 11:11] avoidik commented on #755
Also had a problem with `GOPATH` and `GOROOT` variables. `GOPATH` should be set to an existing folder where you would like to have all the `pkg` (go packages) to reside, and `GOROOT` where you have your binary distribution installed.

Another subtle here is to open project FOLDER with vscode and then install requirement dependencies with CTRL+SHIFT+P > Go: Install/Update tools, if you open just on

[2017-10-28 11:24] avoidik opened #1306 "Windows: Open single file crashes plugin"
Hello,

Attempt to open single go-file finished with plugin failure.
[code]

Full error log:
https://pastebin.com/8Vyti4kK

Environment variables
[code]

[2017-10-28 14:51] suntong commented on #1203
Sorry to response late, but my debugging is not working any more. I'll open another issue instead.

But adding `"trace": "verbose"` to my debug config in the launch.json file, and judging the output of `Using GOPATH`, it is using the correct path now. However the same fix has caused my debugging not working any more...

[2017-10-28 15:04] suntong opened #1307 "debug broken: vscode breakpoint set but not hit"
Using the `Go-latest.vsix` as instructed at
https://github.com/Microsoft/vscode-go/issues/1203#issuecomment-337772833
has caused my debugging not working any more -- I'm setting the break point at the first line in my main, but this is the only thing that I get (in the debug console):

[code]

I.e., no break points works, and I simply cannot debug any more. Not using this Go-latest at least I can

[2017-10-30 05:40] ramya-rao-a commented on #1306
Thanks for reporting @avoidik

The fix for this is in the master branch.
Will be releasing an update this week.
See https://github.com/Microsoft/vscode-go/issues/1271#issuecomment-336198657 to get the fix before the release

[2017-10-30 05:40] #1306 closed

[2017-10-30 09:26] sigwinch28 commented on #1302
Same issue here. I have a red/green colour deficiency and I struggle to tell the reds and greens apart.

It appears that the gutter coverage (which I use) is implemented via `images/gutter-green.svg` and `images/gutter-red.svg`. So it looks like this is hard-coded.

Would it not be possible to generate these SVGs in memory according to a user's colour preferences?

[2017-10-30 09:36] sigwinch28 commented on #1302
I have a temporary workaround: replace the colour code in `gutter-green.svg` (or `gutter-red.svg`) in your `.vscode/extensions/lukehoban.go-x.x.x/images` directory to your liking:

[code]

[2017-10-30 12:13] vbocan commented on #1125
I am seeing the same problem with VS Code v1.17 when the .go file is the only one opened in the editor. If I open the folder instead, it works flawlessly.

[2017-10-30 23:38] ramya-rao-a commented on #1125
@vbocan I am guessing you must be on Windows.
The issue you are seeing got introduced in the last update to the Go extension.
The fix for this is in the master branch.
Will be releasing an update this week.
See https://github.com/Microsoft/vscode-go/issues/1271#issuecomment-336198657 to get the fix before the release

[2017-10-30 23:54] ramya-rao-a commented on #1307
- What is the version of VS Code you are using? The `Go-latest.vsix` needs VS Code 1.17.0 or higher.
- Does debugging work when you pass the GOPATH in the env property in the debug configuration in the launch.json file?

Here are you referring to the tools the Go extension depends on and downloads using `go get`? If yes, then you can use the `go.toolsGopath` setting to have a separate location to

[2017-10-31 04:31] FiloSottile commented on #1286
FWIW, I just updated Go changing the GOROOT, and even restarting the editor no message popped up. I had to delete the tools and reinstall them to get back functional autocomplete for the stdlib. (A change of version without a change of GOROOT would cause more subtle problems I suspect.)

[2017-10-31 05:23] ramya-rao-a commented on #580
@tunggiga

This is not supported at the moment. Delve only allows adding/removing breakpoints when the program is paused

[2017-10-31 08:43] wangxinxu411 opened #1308 "VSC in Windows but remote debug server in Linux."
Hi,all  here is my question：
I'm using VSC-go in Windows developing linux go programs.
when i used remote debug that i found that didn't work.
i start the dlv server in linux:

/opt/go/bin/dlv debug --headless --listen=:2345 --log

and use tcpdump to caputure the pakages on port 2345，here is the pakages:

{"jsonrpc":"2.0","method":"RPCServer.CreateBreakpoint","params":[{"file":"D:/EKOS\\src\\git.g

[2017-10-31 10:37] wangxinxu411 commented on #1308
I Have found the key ....THX.

[2017-10-31 10:37] #1308 closed

[2017-10-31 14:08] Jetlum opened #1310 "All Commands that are mentioned on Go for Visual Studio Code,not one of them works"
command 'go.add.tags' not found;
Error command 'go.import.add' not found;
Error command 'go.get.package' not found;
Error command 'go.gopath' not found;
Error command 'go.test.previous' not found etc...

![untitled](https://user-images.githubusercontent.com/13225839/32227968-1b9a2ef4-be4d-11e7-865a-bf0e67756e12.png)

[2017-10-31 17:14] maxibanki opened #1311 "Cannot read property 'forEach' of null"
- VSCode Version: Code - Insiders 1.18.0-insider (8deed535e26bc8ceebf83a9aa631580ebd610918, 2017-10-30T05:21:47.015Z)
- OS Version: Windows_NT x64 6.1.7601
- Extensions:

Extension|Author (truncated)|Version
---|---|---
markdown-checkbox|bie|0.0.3
jshint|dba|0.10.15
vscode-eslint|dba|1.4.0
githistory|don|0.2.3
xml|Dot|1.9.2
gitlens|eam|5.7.1
tslint|eg2|1.0.14
vscode-abap|lar|0.1.0
Go|luk|0.6.66
po

[2017-10-31 21:01] tylerb commented on #1272
A bit more here: I just did `"go.gocodeAutoBuild": false` in my settings and everything is fine now. Not quite sure what is happening, but maybe it's just because I have a large project.

Regardless, it's smooth now. I'll just have to manually build once in a while.

[2017-11-01 02:32] suntong commented on #1307
Thanks ramya, I am able to go back to the old version as per your help and my debugging is now working.

I'll be out of town for a while and will get back to you for the rest when I'm back at the of this month. thx again.

[2017-11-01 07:27] chandradeepak opened #1312 "new feature requests comparable to other IDE's"
- Unused variables and functions should be highlighted in gray color. Right now they are all in same color.
- We know clicking on field takes it to its definition. but if clicked on struct field should populate all the references for that field or a function . (this is  very useful)
- Find all references is very slow when compared to other IDE's
- go.gocodeAutoBuild": false should be false by defa

[2017-11-01 07:31] chandradeepak commented on #1312
<img width="1414" alt="screen shot 2017-11-01 at 12 29 21 am" src="https://user-images.githubusercontent.com/6901293/32264406-c6533158-be9b-11e7-90d4-9e7a968f07f0.png">

[2017-11-01 21:10] Daylien commented on #1301
Hey, i have a little work around for this problem.

First configure an task for the build process. Like this:

[code]
After that edit the debugger settings. Like this:

[code]

Make sure that ` "preLaunchTask": "Build", ` is set to the correct task name !

If you hit the debugger key (for me `F5`), the task is running after that you can debug your code. Works like a charm for me.

Hope this helps.

[2017-11-01 23:21] ramya-rao-a commented on #1272
Thanks @tylerb for getting back.

[2017-11-01 23:46] tylerb commented on #1272
To be fair, the issue still exist. The key does get stuck while gocode is building. It seems that should not happen regardless of what gocode is doing

On Nov 1, 2017, 5:21 PM -0600, Ramya Rao <notifications@github.com>, wrote:

[2017-11-02 05:38] ramya-rao-a commented on #1272
Sorry about that.
Yes, that's true. We should have a timeout on the process that is spawned to run gocode

[2017-11-02 05:40] tylerb commented on #1272
Would it be possible for us not to block keyboard events while waiting for gocode to respond? I feel like that would be a better solution than killing the process.

Then again there could be details there of which I am not aware.

On Nov 1, 2017, 11:38 PM -0600, Ramya Rao <notifications@github.com>, wrote:

[2017-11-02 06:26] jeasonstudio opened #1313 "vscode always use my `old gopath` when I run command `go get`"
- VSCode Version: 1.18.0-insider (1.18.0-insider)
- OS Version: macOS 10.13

Steps to Reproduce:

1.  Install Go analysis tools
![image](https://user-images.githubusercontent.com/17971291/32312520-36da1b00-bf6c-11e7-8846-a5a0e3e2ca88.png)

2. echo $GOPATH
![image](https://user-images.githubusercontent.com/17971291/32312522-3b53111e-bf6c-11e7-983e-1c3ebdb68d38.png)

Why vscode install go tools into

[2017-11-02 06:42] #1313 closed

[2017-11-02 12:14] radu-matei commented on #1312
This is why I came to the repo! I think it might also search in the `vendor` folder? Personally I don't need this unless I'm doing it in a file from the `vendor` folder.

[2017-11-02 13:29] belltanellc commented on #1310
I had the same issue on Windows. I had to override go.gopath in settings.json and use \\ instead of \ in the path.    "go.gopath": "C:\\Files\\Development\\Go1.8.1\\Workspace". The first backslash is the escape character so that the second is read literally.

[2017-11-02 15:23] ramya-rao-a commented on #1272
I'll have to get a repro to understand whats happening behind the scenes
I'll take a look when I get some time

[2017-11-03 03:26] 5dao opened #1314 "open new window %F error"
when i installed extenstion  ,start vscode  every time ,,new window %F,,ask me ,save it .

[2017-11-03 06:50] benguild opened #1315 "Cmd+Click (Go to Definition) not working on JS/Go in multiple files/packages"
I've considered switching from IntelliJ to VS Code but one of the things that IntelliJ does really nicely out of the box is indexed "Go to Definition" across multiple packages/files in the case of web projects or Go projects, etc.

I tested it in VS Code and it *sort of* works. For example, in a JavaScript file, I can Cmd+Click (or F12) to certain methods or definitions... as long as they're not i

[2017-11-04 20:07] ramya-rao-a commented on #1307
@suntong I have published an update to the Go extension.
If you are not able to debug, then pass GOPATH via the env variable in the launch.json file.

Once you are back from your vacation, we can look into why you are not able to debug using the latest update

[2017-11-04 22:10] ramya-rao-a commented on #1310
Sorry about that @Jetlum

The latest update to the Go extension (0.6.67) has the fix for this.

[2017-11-04 22:10] #1310 closed

[2017-11-04 22:14] #1311 closed

[2017-11-04 22:15] ramya-rao-a commented on #1311
I've added a fix to take care of the null scenario, but am curious as to in which case it would happen.

If you see this again, can you please add more details here?

[2017-11-04 22:21] ramya-rao-a commented on #1305
See the `abc` in the icon next to the suggestions? That denotes textual completions. They are based on the words appearing in the document.

Textual completions are triggered (by VS Code, not any extension) only if there are no other completions from any of the providers.
Which is an issue because the completion provider from the Go extension should have provided some completions.

- Do you have `

[2017-11-04 22:22] ramya-rao-a commented on #1314
@5dao Can you elaborate? I don't understand the issue.

[2017-11-04 22:29] maxibanki commented on #1311
Yes, I try my best to give you more further details about this issue. But it's very hard for me to give you that, because I don't know exactly when and how this error occurred.

[2017-11-05 09:47] atedja opened #1316 "Renaming a symbol also scan other golang projects for syntactic correctness"
When renaming a symbol on a particular golang project, VSCode seems to also be checking other golang projects in the GOPATH that includes that project for syntactic correctness.  If there is a golang project that fails this check, the rename also fails.

Steps to reproduce:
1. Create two projects on GOPATH. Example: `~/go/src/github.com/yourusername/project1` and `~/go/src/github.com/yourusername/

[2017-11-05 18:53] cxww107 opened #1317 "go.testOnSave with verbose output"
Would you consider to run go.testOnSave with -v flag?

It is useful sometimes to log in unit tests (using t.Log). These messages are not displayed in output after saving. Still it can be achieved with a new task but it would be nicer to have verbose output in "on save" feature.

Thank you.

[2017-11-05 21:01] ramya-rao-a commented on #1311
no problem, thanks for reporting though, Happy Coding!

[2017-11-05 21:05] ramya-rao-a commented on #1316
We use the [`gorename`](https://godoc.org/golang.org/x/tools/cmd/gorename) tool.

It does have a `-force` flag which lets the rename operation proceed even if conflicts are reported.

Can you try the `gorename` command from the terminal and see if using the `-force`  lets you rename in the presence of the errors?

[2017-11-05 21:25] ls42 opened #1318 "Having `json:"omitempty"` twice shouldn't raise a warning"
Hi,

having the aforementioned tag twice in a struct is marked in the editor as a warning, stating that that tag shouldn't appear twice in a struct.

<img width="526" alt="screen shot 2017-11-05 at 22 17 40" src="https://user-images.githubusercontent.com/498359/32419258-7d1c3180-c277-11e7-9a3b-21d34a62a0ad.png">

Have a nice day and thanks for this awesome plugin!

[2017-11-05 21:38] ramya-rao-a commented on #1317
Have you tried setting the `go.testFlags` to `["-v"]` ?
Note if you are using any buildflags via the `go.buildFlags` setting, then you will need to repeat it here.

[2017-11-05 21:46] atedja commented on #1316
You are right. I ran `gorename` and it produced the same errors, with and without `-force`. This looks like an intentional `gorename` feature.
[code]
It's quite annoying that you can't rename a package unless all of your packages are in proper/compilable form.

[2017-11-05 21:47] #1316 closed

[2017-11-05 21:47] ramya-rao-a commented on #1318
@ls42 Thanks for reporting this.

The warnings are coming either from the linting or vetting.
The inner workings of either are out of scope for the Go extension.

Try turning off linting and vetting one by one via the settings (`go.lintOnSave` and `go.vetOnSave`) to figure out which of the 2 is giving the warning.

If its the linter then log an issue at https://github.com/golang/lint if you are us

[2017-11-05 21:47] #1318 closed

[2017-11-05 22:24] cxww107 commented on #1317
I missed this parameter. Thank you!

[2017-11-05 22:24] #1317 closed

[2017-11-05 22:26] pmkary opened #1319 "Formatting on Refactor"
Hi! Thanks a lot for the great extension.

We wanted to use our own coding style within Go and so we hand to disable your formatting system, which for now only has the option: `go.formatOnSave` to be false. But when you refactor your code it also formats it. Like this:

![go-bug](https://user-images.githubusercontent.com/2157285/32419794-3281db20-c295-11e7-8952-6b108bad19dc.gif)

I don't know if t

[2017-11-06 03:35] malc0lm opened #1320 "How do I find implement in vscode-go？"
I saw that vscode-go have already supported this feature "Find implementations (using guru)
", but there is no way to do this in vscode-go ui. So what should I do?
(My vscode-go verison is 0.6.67)

[2017-11-06 03:48] ramya-rao-a commented on #1317
Happy Coding!

[2017-11-06 12:29] DeathPoem opened #1321 "Can't goto definition if is imported like . "gopkg.in/check.v1""
As stated in title.  Can't goto definition for 'Suite' in code like this :

[code]

[2017-11-06 12:32] ls42 commented on #1318
@ramya-rao-a Thanks for your suggestions. I tried tuning the settings and with `go.vetOnSave="off"` its better. I'll ask over at the go repo for a change.

Thanks again, have a nice day.

[2017-11-06 16:07] ramya-rao-a commented on #1319
@pmkary Your linked image/gif is not getting loaded, can you add it again?

[2017-11-06 16:12] ramya-rao-a commented on #1320
There is a command `Go to Implementation`. You can run it from the command pallet or assign a keyboard shortcut for it.

Good point though, I'll look into adding more details in the README file

[2017-11-06 16:12] #1320 closed

[2017-11-06 16:14] ramya-rao-a commented on #1321
The default tool we use for finding definitions is `godef` which doesn't support dot imports.
See https://github.com/rogpeppe/godef/issues/19

As a workaround, you can change the setting `go.docsTool` to `gogetdoc` which should help

[2017-11-06 16:14] #1321 closed

[2017-11-06 19:26] maxibanki commented on #1311
Now the error occurred during the installation of the Go dependencies:

[code]

[2017-11-06 19:37] ramya-rao-a commented on #1311
That line of code is only hit when typing or when running the `Go: Add Import` command.

[2017-11-07 09:45] pmkary commented on #1319
I uploaded the gif in an [outside source in mp4 format](https://thumbs.gfycat.com/WearyPeskyAustralianfreshwatercrocodile-mobile.mp4). Hope you can see it right and clear

[2017-11-07 16:17] bsr203 opened #1322 "Feature: explorer tree view color scheme for _test.go file"
Hi.

It would be great to have normal visibility for the source files on explorer window, and the test files (_test.go) are somewhat less dominant color (grayish in my dark color). It helps a lot in easily finding the files as the number of files in a package grows. I could do that through some customization in Atom, and wonder something similar possible.

thanks.

[2017-11-07 19:30] ramya-rao-a commented on #1319
Check both User and Workspace settings. If you have disabled formatting in User settings and enabled it in Workspace settings, then the latter overrides the former.

If that's not the case,
- Do you see this formatting done only after rename or even when saving after doing a manual change?
- Do you have any other extensions that might be doing this? Try disabling all extensions (`code --disable-ex

[2017-11-07 19:50] xmattstrongx commented on #972
+1 for this feature. Would love to be able to run individual benchmarks straight from vscode

[2017-11-07 20:50] Boiethios commented on #1203
What's up about this? The tools are installed in `/home/myself/go` but I set my `GOPATH` to `/home/myself/.go`:

In vsc terminal:

[code]

But with the command:

[code]

This is a bug, because the documentation says:

I am running Debian testing.

[2017-11-07 22:01] suntong commented on #1203
@Boiethios give this a try,
https://github.com/Microsoft/vscode-go/issues/1307#issuecomment-341926159
at least it solves the GOPATH problem.

And Ramya is waiting for more testers too. She's been very helpful. Let us know your outcome. please post to https://github.com/Microsoft/vscode-go/issues/1307#issuecomment-341926159 if you try.

Thx

[2017-11-07 22:03] suntong commented on #1203
@ramya-rao-a I agree that this issue should not be considered as "closed".

[2017-11-07 22:21] pmkary commented on #1319
No I have the formatting disabled everywhere. The only workspace setting is this:

[code]

And my main settings is:

[code]

I only see this formatting done after I done rename. on saving there is no formatting

I have no other extension for Go and no extension that does formatting.

[2017-11-08 00:05] ramya-rao-a commented on #1319
We use the `gorename` tool for the rename operation.
It returns the diff that needs to be applied on the file, and Go extension applies the diff.

Can you try running `gorename` from the terminal on your file to see if this is so? Pass the `-d` flag to get the diff as output

[2017-11-08 00:07] ramya-rao-a commented on #1322
Sorry, that level of customization is not supported in VS Code.

[2017-11-08 00:07] #1322 closed

[2017-11-08 01:42] ramya-rao-a commented on #789
@elithrar When you first logged this issue, you cited vim-go as an example. This is what I found in the [vim-go docs](https://github.com/fatih/vim-go/blob/7efc3fe06532f56d9340429f4b05522426e1d240/doc/vim-go.txt#L191)

![image](https://user-images.githubusercontent.com/16890566/32527452-e2870ba0-c3e2-11e7-9672-f51ac742afc8.png)

It looks like the split window would show the docs just for the symbol

[2017-11-08 02:33] ramya-rao-a commented on #1203
@Boiethios Can you share your settings? Have you set any of `go.gopath`, `go.inferGopath`, `go.toolsGopath` ? Please check both your user and workspace settings

[2017-11-08 02:45] ramya-rao-a commented on #1200
@philipithomas I just tried formatting and linting on a Go file which has syntax errors. Both work as expected.

Can you share a sample code where you dont see formatting and linting working?

[2017-11-08 04:19] philipithomas commented on #1200
@ramya-rao-a This is from awhile ago, so I don't have any handy. Perhaps try removing the package statement at the top?

Please feel free to close if you cannot duplicate. I think the problem was that an unhandled error was missing.

[2017-11-08 08:11] pmkary commented on #1319
Yes the formatting was caused by the `grename` tools.
I guess I should create an issue in Go.

Thanks a lot for helping me here and putting your time.

[2017-11-08 08:11] #1319 closed

[2017-11-08 12:23] dahankzter commented on #1215
It seems that vet also scans the vendor tree and I have a pretty large vendor which makes it very sluggish.

When I save I see several `vet .` processes and the cpu goes skyhigh and it takes a long time to run even standalone.

```/usr/lib/go/pkg/tool/linux_amd64/vet .  13.14s user 0.30s system 162% cpu 8.296 total```

Shouldn't it just run `vet *.go` or some other heuristically picked file set?

[2017-11-08 12:59] dahankzter commented on #1215
Perhaps `go vet .` should be used instead? I am not perfectly clear why it differs to be honest but this form is very fast and does seem to ignore vendor.

[2017-11-08 15:02] natefinch opened #1323 "0.6.67 makes typing in a medium-sized project too laggy"
I have a project that I would consider small to medium sized.  The project itself is just a small API, but it does depend on a lot of other packages, which is why I say small to medium.  Definitely not a huge behemoth like Kubernetes or Juju.

Typing is really laggy unless I set go.gocodeAutoBuild to false or disable the go plugin.  This was not the case with the last version (though I haven't gon

[2017-11-08 15:12] UnGast commented on #1305
I see the same behavior since the last update. Gocode is not running, but it's installed. It doesn't work in a single file program either.

[2017-11-08 15:27] UnGast commented on #1305
Running `go get -u github.com/nsf/gocode`, restarting vscode and hitting "install" on a message that said a tool was missing fixed it.

[2017-11-08 17:37] natefinch commented on #1323
Possibly a duplicate of https://github.com/Microsoft/vscode-go/issues/1272, though I haven't seen stuck keys... what I type comes out correctly as far as I can tell, there's just major lag at times.

[2017-11-08 18:16] pashute commented on #360
I'm running with python 3.6.

Ran a unit test. did a call from the console. (printed something )
then step over jumped to somewhere else in the code unrelated.

Restarted debugger (by pressing the restart). Eather after this step or the one before I started getting that error.

I now closed vc-code and reopened. Things are all back to ok.

[2017-11-08 18:28] tylerb commented on #1323
Stuck keys could be something to do with my mechanical keyboard/driver/some other part of my system. Yours may just lag where mine repeats the key while it is lagging.

Regardless, I think the underlying issue is the same: the intellisense is blocking on a response from gocode.

[2017-11-08 18:39] tylerb commented on #1323
Stuck keys could be something to do with my mechanical keyboard/driver/some other part of my system. Yours may just lag where mine repeats the key while it is lagging.

Regardless, I think the underlying issue is the same: the intellisense is blocking on a response from gocode.

[2017-11-08 20:44] ramya-rao-a commented on #1323
The fact that this autoBuild feature can cause perf issues is not new. Luke had added the below note to the README when he added the completion feature to this extension

The maintainer of the `gocode` tool also calls this feature experimental

Now, to @tylerb's point and the issue of #1272: That is a general issue of not letting VS Code get stuck when `gocode` misbehaves.

To @natefinch's point t

[2017-11-08 21:50] ramya-rao-a commented on #1215
@dahankzter Have you set `go.vetOnSave` to `package` or `workspace` ?

The only reason we use `go tool vet .` instead of `go vet .` is to give the user the option to use the settings `go.vetFlags`.

When you say that `go vet .` is faster, are you saying so when comparing with `go tool vet .` ?

[2017-11-08 22:13] ramya-rao-a commented on #1200
In that case, I'll close this issue.
Thanks!

[2017-11-08 22:13] #1200 closed

[2017-11-08 22:18] ramya-rao-a commented on #1319
No problem, Happy Coding!

[2017-11-08 22:20] ramya-rao-a commented on #1305
Then its the case of missing tool.
I am unsure how you could have landed in this situation though.
Closing this issue as you are now unblocked, Happy Coding!

[2017-11-08 22:20] #1305 closed

[2017-11-08 23:16] roblourens opened #1324 "vscode-go shows warning every time I start debugging node"
Since vscode-go is activated with `"onDebug"`, and it checks for out of date packages on activate, I get an out of date package warning when I start debugging a node app. Ideally I would only get that when a .go file is present.

I don't know if it's easily possible to improve this with our extension model. vscode-go would have to have a file watcher for .go files so it can detect this on its own.

[2017-11-08 23:31] ramya-rao-a commented on #1324
can you share a screenshot of the warning?

[2017-11-08 23:45] ramya-rao-a commented on #1323
Since about half a year now, the `buildOnSave` feature of the Go extension has been building Go packages using the `-i` flag that builds and installs stale dependencies. Before this, there was no way to ensure dependent packages were not stale which in turn lead to using the autobuild feature of `gocode` by default in the Go extension to ensure fresh results in completions.

Now, the only advantag

[2017-11-09 00:02] ramya-rao-a commented on #1315
Any issues you see with javscript in VS Code as well as UX feedback, please log an issue at https://github.com/Microsoft/vscode.
This is the repo for the Go extension and so my comments below are with respect to Golang.

I am able to see the `Go to Definition` feature is working as expected across Go packages.
As long as all the packages in question are under the same GOPATH, I dont see why this w

[2017-11-09 00:04] roblourens commented on #1324
It's just the prompt to update one of my outdated go tools

[2017-11-09 00:29] #1041 closed

[2017-11-09 01:02] roblourens commented on #1324
![image](https://user-images.githubusercontent.com/323878/32583083-a426c714-c4a6-11e7-9bf4-d101c3ce41e4.png)

[2017-11-09 02:16] #1324 closed

[2017-11-09 02:16] ramya-rao-a commented on #972
This will be out in the next update

[2017-11-09 02:16] #972 closed

[2017-11-09 02:19] ramya-rao-a commented on #360
@pashute This repo is for the Go extension. Please log your issue in the repo for the extension you are using for python

[2017-11-09 02:24] roblourens commented on #1324
Will it still prompt later if it gets activated when not on a go file?

[2017-11-09 02:32] ramya-rao-a commented on #1324
it will prompt only when activated on a go file

[2017-11-09 03:14] fruser commented on #10
Having issues with running GO files from within Code. I've configured GOPATH but it didn't help. This is the error message I'm getting when I try to run the code:
[code]
Extension does work if I run it from within the terminal. Are there any other env variables I can configure in Settings file to make it work outside the terminal?

[2017-11-09 03:15] ramya-rao-a commented on #1302
@sigwinch28 The api for applying decorator on the gutter takes absolute path to the svg file, so generating them during runtime is not possible.

How about using a pattern in the svg instead to denote either covered or uncovered areas?

[2017-11-09 03:17] fruser opened #1325 "Extension only works if VSCode run from terminal..."
Having issues with running GO files from within Code. I've configured GOPATH but it didn't help:
`Current GOPATH: /Users/username/Projects/GO`

This is the error message I'm getting when I try to run the code:
[code]
Extension does work if I run it from within the terminal. Are there any other env variables I can configure in Settings file to make it work outside the terminal?

[2017-11-09 03:33] ramya-rao-a commented on #1302
Also, we have a setting to highlight only the covered areas or only the uncovered areas.

![image](https://user-images.githubusercontent.com/16890566/32586785-98c76fe6-c4b9-11e7-95da-f302241f0450.png)

If you set the setting `go.coverageOptions` to either `showCoveredCodeOnly` or `showUncoveredCodeOnly`, then you dont have to try and differentiate the 2 colors. The gutter or the highlight will app

[2017-11-09 03:43] ramya-rao-a commented on #1295
If a file is being opened programatically say via a command registered by an extension, then the extension can use custom uri and register a content provider for the same which will result in the file being opened in a read only mode.

But we are talking about files that are opened normally, from the file explorer or quick open etc. There are no apis that the extension can use to let the core know

[2017-11-09 03:44] ramya-rao-a commented on #1296
The extension not getting activated in Windows until you open a folder was a bug.
The latest update (0.6.67) has the fix for this.
Sorry for the inconvenience

[2017-11-09 03:52] ramya-rao-a commented on #1301
@dxvgef Add `"trace": "verbose"` to your debug configuration and start debugging.
In the debug console you will see a like `Running:` followed by path to the `dlv` binary and all the arguments being passed to it.
Check if reflects what you expect

[2017-11-09 04:01] ramya-rao-a commented on #1325
When you say you are trying to run the code, I am guessing you mean you ran the `go run` command from the integrated terminal

When you run VS Code from the terminal, it inherits all the env variables from the terminal.
When you run VS Code from a shortcut, the same doesnt happen.

See #708

[2017-11-09 04:01] #1325 closed

[2017-11-09 04:04] ramya-rao-a commented on #1184
@joelpresence Any updates here?
Do you still see the issue?

[2017-11-09 04:07] ramya-rao-a commented on #1149
The upstream issue has been fixed.
Now the error shows up and doesnt go away until user hits escape or the close button

[2017-11-09 04:07] #1149 closed

[2017-11-09 04:12] ramya-rao-a commented on #1211
The PR for this has been merged and the feature will be out in the next release

[2017-11-09 04:12] #1211 closed

[2017-11-09 05:33] benguild commented on #1315
Yes, I only tried to Cmd+Click stuff inside the `GOPATH` ... works fine in IntelliJ but not here. If we can fix this, I can basically officially adopt this as my editor for at least that part.

[2017-11-09 06:15] ramya-rao-a commented on #1315
- Can you run the command `Go: Current GOPATH` and check if the result is indeed your expected GOPATH?
- When you hover on symbols, do you get information on the method?
- Are you using the language server (do you have `go.useLanguageServer` turned on in your settings?)

[2017-11-09 07:03] dahankzter commented on #1215
Yest `go vet .` is instantaneous while `go tool vet .` clearly scans my vendor folder and takes +10 seconds on my relatively fast laptop.

I have not set any specific config other than default and I really want as much as I can get on save but it needs to be fast enough for it to not lag.

[2017-11-09 17:08] fruser commented on #1325
@ramya-rao-a I'm sorry, I didn't provide enough information in my issue.
I'm using OSX; Go was installed using Brew, therefore, `which go` results in `/usr/local/bin/go`
It looks like even when I specify GOPATH in the settings and run Code from the shortcut Code is unable to find GO. Is there a way to specify `go` binary in the settings somehow?

[2017-11-09 18:11] ramya-rao-a commented on #1273
Closing this issue as there is nothing we can do in the Go extension for this at the moment

[2017-11-09 18:11] #1273 closed

[2017-11-09 18:19] ramya-rao-a commented on #1160
Yes, configuring the flags is possible. For example, we do this for the formatting feature.

I wouldnt want to run this on every save, instead implementing this via a command and using the command when required makes sense.

PRs are welcome.

[2017-11-09 18:21] ramya-rao-a commented on #340
Closing this issue as there is nothing we do in the Go extension for this at the moment. If anyone has any ideas, please drop a comment here and we can re-visit this

[2017-11-09 18:21] #340 closed

[2017-11-09 19:21] ramya-rao-a commented on #1325
GOPATH has nothing to do with finding the `go` binary.

Can you run `go env GOROOT` in the below 3 ways and compare the results
- Run it in an external teriminal
- Close all VS Code instances. Run `go env GOROOT` in the integrated terminal in VS Code after running VS Code from shortcut
- Close all VS Code instances. Run `go env GOROOT` in the integrated terminal in VS Code after running VS Code fr

[2017-11-09 19:22] ramya-rao-a commented on #1215
How does `go vet ./...` fare?

[2017-11-09 19:52] fruser commented on #1325
@ramya-rao-a please see the output below:
- external terminal: `/usr/local/opt/go/libexec`
- VS Code instance started from shortcut: `/usr/local/opt/go/libexec`
- VS Code instance started from external terminal: `/usr/local/opt/go/libexec`

[2017-11-09 20:53] ramya-rao-a commented on #1325
Yes, you can provide it via the `go.goroot` settings. This setting is specific to the Go extension and will not affect the integrated terminal. So this will not help you.

What does running `which go` give when you run it inside the integrated terminal when VS COde is opened using shortcut? Also check the value of the PATH variable. Run `echo $PATH`. Does it have `/usr/local/bin/` ?

[2017-11-09 21:24] fruser commented on #1325
Hm, interesting...
This is the output of `which go` when I opened Code via the shortcut:
`/usr/local/bin/go`, thus running `go run hello.go` from within integrated terminal works as expected.

Here is the output of the $PATH env variable:
`/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin:/Users/user/.swiftenv/shims:/Users/user/.rbenv/shims:/usr/local/sbin:/usr/local/bin:/usr/bin:/b

[2017-11-10 00:17] ramya-rao-a commented on #1325
/usr/local/bin/go, thus running go run hello.go from within integrated terminal works as expected.

That solves your issue right?

[2017-11-10 01:17] fruser commented on #1325
Well, if I use internal terminal, then yes. But if I use `Run Code` feature, then I get `/bin/sh: go: command not found` error message...

[2017-11-10 01:52] kkpoon opened #1327 "Editor not looking at vendor folder it is `ln -s` from other path"
[code]
Project path at `$GOPATH/src/github.com/kkpoon/myproject`

in the editor, the import statement is red underlined

mouseover one of it, for example `"github.com/rs/cors"`, shows
[code]
in terminal, vscode integrated or outside vscode, `go build` success

`"github.com/rs/cors"` exists in `vendor` folder
[code]

**after investigation, found**

if project path is locate at `/some/path/outside/g

[2017-11-10 02:14] alwindoss opened #1328 "When will Refactoring be made available?"
Now that with code 1.18 there is refactoring made available for typescript and JavaScript was wondering when it would be available for Go extension.

[2017-11-10 02:36] ramya-rao-a commented on #287
The below commands have been added and will be available in the next update
- `Go: Install Current Package`
- `Go: Build Current Package`
- `Go: Build Workspace`

[2017-11-10 02:36] #287 closed

[2017-11-10 02:37] Mparaiso commented on #287
thank you

[2017-11-10 02:47] ramya-rao-a commented on #1327
What is the folder that you have opened in VS Code?

Can you try to open the folder to which you have symlinked?

[2017-11-10 02:50] ramya-rao-a commented on #1328
As soon as someone in the open source community can spend some time on it and contribute :)
#588 is tracking the "Extract Method" feature request.
PRs are very welcome.

Closing this issue in favor of #588

[2017-11-10 02:50] #1328 closed

[2017-11-10 02:53] ramya-rao-a commented on #1325
What is this `Run Code` feature you are talking about??
There is no such feature from the Go extension.

[2017-11-10 03:02] fruser commented on #1325
Wow, you are absolutely right! This feature was part of the extension (Code Runner) I've installed and forgot about. I'm sorry for the confusion! Thank you so much for all your help!

[2017-11-10 03:51] kkpoon commented on #1327
I start vscode by

[code]

[2017-11-10 04:14] elithrar commented on #789
They do support the ability to navigate the rest of the package docs beyond
the immediate symbol.

On Tue, Nov 7, 2017 at 8:43 PM Ramya Rao <notifications@github.com> wrote:

[2017-11-10 06:20] jlozano opened #1329 "Find References not working"
Hi folks, I upgraded to macOS version 10.13.1 and find references stopped working.

I am running VSCode version 1.18.0 and go version go1.9.2.

Any suggestions on how I can help debug this? I do not see any error messages in the VSCode console.

[2017-11-10 06:48] ramya-rao-a commented on #1325
Ok then, Happy Coding!

[2017-11-10 06:51] ramya-rao-a commented on #1327
And is `$GOPATH/src/github.com/kkpoon/myproject` symlinked to the actual place where the other code lives or is the symlink created higher up in the path?

For example, I symlinked `$GOPATH/src/folder` to another location where the code actually lives.
If I open `$GOPATH/src/folder`, then everything is fine
If I open `$GOPATH/src/folder/some/other/folder/under/this`, then I get the same errors lik

[2017-11-10 07:00] dahankzter commented on #1215
It is also fast.

[2017-11-10 10:08] kkpoon commented on #1327
for example:
[code]

[2017-11-10 11:56] sigwinch28 commented on #1302
@ramya-rao-a That definitely helps for me.

Alas, would it be possible to distribute a handful of SVGs as part of two or three colour schemes, too?

[2017-11-10 16:57] ramya-rao-a commented on #1302
@sigwinch28 Yes it is very much possible to use different sets of svgs based on color schemes, I just don't know what colors to use :)

If you can help me with which colors make sense, then we can have a setting to choose the color scheme for the coverage

[2017-11-10 16:58] ramya-rao-a commented on #1327
That still doesn't tell me if you symlinked the folders at the `github.com` level or `kkpoon` level or `project1` level

[2017-11-10 21:48] delaneyj commented on #1166
On win10x64 with go1.9 I'm getting `Warning: the task 'build-debug' is a shell command and either the command name or one of its arguments has unescaped spaces. To ensure correct command line quoting please merge args into the command.`.  Not sure what part its complaining about.

[2017-11-10 22:05] ramya-rao-a commented on #1329
Can you run `Go: Install/Update Tools` command to ensure all the dependent tools are the latest and are compiled?

[2017-11-10 23:19] jlozano commented on #1329
@ramya-rao-a Thanks! that seems to have fixed it!

[2017-11-10 23:40] ramya-rao-a commented on #1000
The `Go: Install Current Package` command will be available in the next update

[2017-11-10 23:40] #1000 closed

[2017-11-10 23:51] ramya-rao-a commented on #1329
An upgrade to Mac OS or go itself needs the tools to be re-compiled to work again.

Happy Coding!

[2017-11-10 23:51] #1329 closed

[2017-11-10 23:52] kkpoon commented on #1327
project1 level

I did mkdir -p src/github.com/kkpoon
cd into that level and symlink project1 to its actual location.

This worked well when vscode icon was orange. But not after I update vscode to blue icon version.

[2017-11-11 12:56] sigwinch28 commented on #1302
According to [a post on the UX stack exchange](https://ux.stackexchange.com/a/94699) and the [article it cites](http://mkweb.bcgsc.ca/colorblind/), it looks like yellow/blue should be a good combination (see this [example palette](http://mkweb.bcgsc.ca/colorblind/img/colorblindness.palettes.trivial.pdf)).

Here's a bit more on the subject: http://jfly.iam.u-tokyo.ac.jp/color/#pallet

I chose the y

[2017-11-12 02:25] douglarek opened #1331 "How can I disable gocode completely when I use go LanguageServer ?"
When I set  `"go.useLanguageServer": true`, vscode will open a gocode process; how can I disable it?

[2017-11-12 08:55] douglarek opened #1332 "Will support std library search when go to symbols in workspace ?"
Now vscode-go just supports **vendors** search in the `Go to Symbols in Workspace` action; will it support std library search ?

[2017-11-12 08:56] matthewmueller opened #1333 "Format on save (goreturns) no longer works after upgrade"
Everytime I try and save, I see this in the console:

[code]

A bit hard to write go without gofmt and goimports after getting used to them 😅

[2017-11-12 17:48] mtdx commented on #1307
same here latest version, macbook it doesn't hit breakpoints anymore.

[2017-11-12 19:52] ramya-rao-a commented on #547
@kulshekhar, @zmb3, @methane, @offero, @mm-z, @aleander and others who have upvoted this feature request,

I have added the option to set the `package-lookup-mode` and this feature will be out in the next update. Since I don't use `gb` myself, I need some help testing this. Can any of you help? Below are the steps

- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run

[2017-11-12 19:52] #547 closed

[2017-11-12 19:56] ramya-rao-a commented on #1215
@dahankzter Thanks

I have made a few tweaks
- Use `go vet ./...` instead of `go tool vet .` when there are no flags to be passed i.e `go.vetFlags` is   an empty array
- Added the command `Go: Vet Current Package` and `Go: Vet Workspace` to allow the option to vet on demand instead of relying on vet on save feature which can get expensive on larger projects
- Kill existing processes spawned for ve

[2017-11-12 19:56] #1215 closed

[2017-11-12 19:58] ramya-rao-a commented on #1265
This has been done. The only remaining feature that does not do this yet is the auto-completions which is tracked in #1272

[2017-11-12 19:58] #1265 closed

[2017-11-12 20:16] ramya-rao-a commented on #1333
Weird, I can repro in Mac but not Windows

[2017-11-12 20:18] #1333 closed

[2017-11-12 20:44] ramya-rao-a commented on #1333
Thanks for the fix @philk

I have updated a few other places where the array from the configuration was being modified directly. This issue occurs only in the 1.19 Insiders. Folks on VS Code 1.18 should be fine.

I'll release an update next week, until then you can do the below to get the fix beforehand:
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --ins

[2017-11-12 20:47] ramya-rao-a commented on #1332
`Go to symbols in Workspace` by definition is a feature that lets you search for symbols in the current workspace i.e. the folder that you opened VS Code with.

Try the `Go: Browse Packages` command to browse the standard packages and find your symbol or use the `Go To Definition` feature on the symblol

[2017-11-12 20:47] #1332 closed

[2017-11-12 20:48] ramya-rao-a commented on #1331
`gocode` is used for the auto-completion feature. It has nothing to do with the language server. Do you want to disable the auto-completion feature itself?

[2017-11-12 20:49] ramya-rao-a commented on #1323
As explained in https://github.com/Microsoft/vscode-go/issues/1323#issuecomment-342999705, the auto build feature will be disabled by default.

The changes are in the master and if anyone wants to give it a try before I release an update next week, follow the below steps:
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` an

[2017-11-12 20:49] #1323 closed

[2017-11-12 20:59] ramya-rao-a commented on #1174
@zz-bmj Closing this issue as we havent heard back from you in a while.
If you still see perf issues with `gogetdoc` please drop in a comment here with details

[2017-11-12 20:59] #1174 closed

[2017-11-13 01:14] douglarek commented on #1331
@ramya-rao-a do you mean the language server can not be used for the auto-completion feature,
 so we need `gocode` ? If so, maybe it is my misunderstanding.

[2017-11-13 02:00] ramya-rao-a commented on #1331
Yes thats right.
The language server provides only a subset of features which are Hover, Definition, Find All References, Signature Help, Go to Symbol in File and Workspace.

[2017-11-13 02:00] #1331 closed

[2017-11-13 02:43] matthewmueller commented on #1333
Thanks for the quick fix!

Yep, I can also confirm that it was only happening on Insiders

[2017-11-13 03:31] ramya-rao-a commented on #1314
Closing this issue as we haven't gotten any details about it

[2017-11-13 03:31] #1314 closed

[2017-11-13 03:34] KISSMonX commented on #1333
Thank You.

[2017-11-13 03:41] ramya-rao-a commented on #1327
When you hover over the tab after opening a file, you will get see the path of the file. Does this path correspond to the actual place where the code is or the location under GOPATH?

[2017-11-13 05:29] kkpoon commented on #1327
It shows the actual path, which is not under `GOPATH`

[2017-11-13 06:10] dahankzter commented on #1215
Great, I will try it out asap!

On Sun, 12 Nov 2017, 20:56 Ramya Rao, <notifications@github.com> wrote:

[2017-11-13 07:37] dahankzter commented on #1215
I see no lagging at all with the latest extension!

[2017-11-13 17:35] ramya-rao-a commented on #287
Can folks here help me with testing this and give feedback before I release the next update later this week? All you have to do is:

- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code-insiders --install-extension Go-latest.vsix` and reload VS Code

[2017-11-13 20:49] ramya-rao-a commented on #1327
that's the issue..

The Go extension depends on the file path (the one you see on the file tab) to determine the import path of the current package to use in the `go build` command.
Since the value is the actual path, the import path cannot be determined and the extension falls back to using `go build .` which in turn is obviously not able to find the vendor folders.

Can you try opening VS Code a

[2017-11-13 21:28] alexsasharegan commented on #1312
## Import Precedence: Std Lib default

I was going to create a feature request around this. I think a configuration option to create auto import precedence would be ideal. The most sane default for such a config option being the go std lib bubbles to the top of the import autocomplete list.

[2017-11-14 01:08] andreis commented on #228
Working with [`xo`](https://github.com/xo/xo) and editing a lot of `.tpl.go` files, I'd absolutely love this feature!

[2017-11-14 02:16] kkpoon commented on #1327
I open vscode at $GOPATH/src/github.com/kkpoon. it shows the path under GOPATH and it works fine.

Yet, it worked fine even I start vscode in symlink folder.

Now, I have no idea whether this issue belongs to OS level (macos) or vscode or go extension.
:(

[2017-11-14 02:43] ramya-rao-a commented on #1327
Ok, so to summarize
- opening vscode at $GOPATH/src/github.com/kkpoon works
- opening vscode at /Users/admin/Development/github.com/project1 works
- opening vscode at $GOPATH/src/github.com/kkpoon.project1 doesn't work

Is that right?

[2017-11-14 03:41] hanleym commented on #1161
@ramya-rao-a I created a PR (#1335) that should fully implement it. Let me know if there is anything I missed. P.S. Thanks for being awesome; your episode of gotime was great.

[2017-11-15 02:55] ramya-rao-a opened #1336 "References codelens shows 0 when guru fails"
The codelens for references uses the `guru` tool behind the scenes to provide references.
When `guru` fails, the codelens shows "0 references" instead of alluding to the fact that the tool has failed behind the scenes

The console shows failures from `guru` with details on the command being called with args as well as a call stack. The call stack is related to node and the child process that was s

[2017-11-15 02:58] #1336 closed

[2017-11-15 03:01] ramya-rao-a commented on #1336
With https://github.com/Microsoft/vscode-go/commit/68a8d1ffb12664af67cb856e59715d0e9958480c, the below changes are made:

- The codelens would say "Error finding references" instead of "0 references" if there was error in running the `guru` tool
- When there is error running the `guru` tool, the console will show the command and the args being passed as before. The call stack related to node and c

[2017-11-15 05:48] jpap opened #1337 "Linter looking for vendor packages in `vendor/src` instead of `vendor`?"
I am getting lint errors on vendor packages, shown below.  This used to work on older versions with the same setup.  The project compiles on the command line without problems given the same `GOPATH` configured in VSC and on the command line.
[code]

For brevity, assume `$PROJ=/Users/jpap/PROJECT`.

A workaround is to manually add a symlink in `$PROJ/vendor/src -> $PROJ/vendor`.

I am using [glide]

[2017-11-15 05:52] pierznj opened #1338 "Go to definition not working (since Mac High Sierra update?)"
I "upgraded" to MacOS High Sierra yesterday (\<gripe\> they always manage to break core stuff in the course of providing more luxury features in the photo app or something \</gripe\>) and since then, 'Go to definition' no longer works in Go files. It might be coincidence, but I got my colleague who is also on High Sierra to try on his machine, and he has the same problem. Always says 'definition n

[2017-11-15 06:01] jpap opened #1339 "Can't debug test: "could not launch process: stub exited while waiting for connection: exit status 0""
I'm on macOS and have [followed the instructions](https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code) for setting up my `launch.json` to debug my tests.

My launch configuration is:
[code]

When I run this, I see the following in the debug console:
[code]

And in the verbose log:
[code]

In the system log, I see:
[code]

When I try and run delve manually on the command lin

[2017-11-15 06:31] jpap commented on #1339
Further observations:

* I can remove the GOPATH `env` item from `launch.json` and the GOPATH environment appears to be the same (taken from the workspace GOPATH?)  Why is this? Is this a bug?
* When I remove the `cwd` item from `launch.json` and set the `program` to point into the folder where the test is, then the debugger launches and runs the test.  Unfortunately all of my breakpoints are mark

[2017-11-15 06:35] jpap commented on #1339
I have hit "remove all breakpoints" in the debug pane, reset the breakpoint by clicking it in a source editor, and now the breakpoint is hit!

Is this a bug in the VSC debugger? (Not the debug adapter?)

[2017-11-15 06:37] jpap commented on #1339
My final configuration is:
[code]

So now I can just hit F5 with any test file open and it runs all the tests in that folder; breakpoints included.  The `LOGGO` environment variable is there for my logging package; it doesn't need to be there in general.

[2017-11-15 06:43] jpap commented on #1339
@ramya-rao-a, before closing this thread, I'd love your view on some of the problems encountered above:
* It appears setting the `cwd` breaks the debugger.
* I had to clear the breakpoints and resetting them before they started working.

Separately, it would be nice to document in the README:
*  the `-test.v` argument
* The use of `${fileDirname}` for running all tests in the opened file's directo

[2017-11-15 06:48] jpap commented on #1339
Hmm -- this is weird: I am now trying to debug a test in a different package using the latest configuration above; but the breakpoints won't trigger.  I have tried reloading the VSC window, as well as clearing all breakpoints and setting them up again, but they remain "unverified".  Any ideas?

[2017-11-15 07:05] jpap opened #1340 "debug(.test) binary files are left in project after debugging (tests)"
It looks like the debug adapter isn't cleaning up after itself?

[2017-11-15 07:30] kkpoon commented on #1327
opening vscode at `$GOPATH/src/github.com/kkpoon` works
opening vscode at `/Users/admin/Development/github.com/project1` doesn't works (it is not under GOPATH)
opening vscode at `$GOPATH/src/github.com/kkpoon/project1` doesn't work

[2017-11-15 07:43] jpap opened #1341 "Debug console does not show test failure and associated panic"
When running tests on the command line:
[code]

But when running under the debugger, even with full verbosity:
[code]

It would be nice if we could see the panic, stack trace, the final `FAIL` log item, and error message in the VSC debug console (and without having to use the `showLog` or `trace` launch configuration options).

[2017-11-15 07:51] jpap commented on #1340
... and same thing for running a go program (non-test target).

[2017-11-15 11:09] diegobernardes opened #1342 "Run go tools from docker"
Go tools rocks, we all know about it, but there is a problem that is happening very often with me. The linters running at the CI and the ones running on my machine are different because they were installed in different moments.

To solve the CI problem, did a docker image with the linter already installed, so, i never get surprises about the linter rules changing. But, the problem on development m

[2017-11-15 15:01] lggomez opened #1343 "Toggle test coverage working incorrectly with split editor"
Hi, and thanks for this great extension beforehand. I come here to report the following issue:

- VSCode Version: 1.18.0
- Extension Version: 0.6.67

**Steps to Reproduce:**

1. Open a go file and its test file in a single editor window
2. Click the "run package test" option in the active editor. Alternatively, run the "Go: Toggle Test Coverage In Current Package" command. Either of these will hig

[2017-11-15 19:01] ramya-rao-a commented on #1161
@hanleym Thanks!
I'll take a look at the PR sometime this week.

[2017-11-15 22:27] theGeekPirate opened #1344 "goimports and gofmt no longer working"
OS: Win 10
Go: 1.9.2
VS: 1.18.0
vscode-go: 0.6.67

*Notes*:
They both stopped working some time last night while in the middle of working on a project.
I can run ```goimports``` and ```gofmt``` manually without any issues, and ```go vet``` as well as ```golint``` are still being run on each save.
All other extensions seem to be working correctly (including those with "on save" functionality).

*Pa

[2017-11-15 22:56] theGeekPirate commented on #1344
Specifying ```"go.formatTool": "gofmt",``` does seem to work, while setting it to ```"goimports"``` or ```"goreturns"``` does not.

[2017-11-16 02:06] ramya-rao-a opened #1345 "Delete binary files created by delve after closing the debug session"
_From @firelizzard18 on June 20, 2017 7:56_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|aurelia|AureliaEffect|0.3.4|
|vscode-npm-script|eg2|0.2.0|
|task-master|ianhoney|0.1.39|
|quicktask|lkytal|2.8.0|
|Go|lukehoban|0.6.62|
|debugger-for-chrome|msjsdiag|3

[2017-11-16 02:06] ramya-rao-a commented on #1345
_From @firelizzard18 on June 20, 2017 7:59_

This may be a regression from Microsoft/vscode-go#765 which fixed Microsoft/vscode-go#438

[2017-11-16 02:06] ramya-rao-a commented on #1345
_From @weinand on June 20, 2017 10:3_

Yes, VS Code terminates debug adapters "gracelessly" (and we are planning to make this more graceful in the future).
But for now the VS Code Go debugger could 'quit' delve nicely when receiving a `DisconnectRequest` from VS Code. This is always the last request sent from VS Code to the debug adapter before killing the debug adapter. And VS Code kills the VS C

[2017-11-16 02:51] maxint64 opened #1346 "Cursor jump unexpectedly"
After the latest update of vscode-go, I found my cursor would move unexpectedly, the cursor might jump to end of line or bottom of file suddenly when I'm coding. I use vscode-go and vscode-vim together,  and the problem appears more  frequently when I move cursor past a bracket (including (), {}, []).
I guess there may be something conflict. I close vscode-vim and open vscode-go, cursor move unexp

[2017-11-16 03:57] benguild commented on #1315
To answer your questions (sorry for the delay) ...
1. Yes, and I have my GOPATH open in VS Code as well.
2. If I hover over packages I get information, but not methods. Variables in the local file also work but again... not methods.
3. I haven't setup a language server.

[2017-11-16 04:01] zhao-kun commented on #1346
I have the same issue as you, I also used vscode-go and vscode-vim. But when I modified the user settings `"files.autoSave": "off"`, the problem was solved.

[2017-11-16 11:12] Eun opened #1347 "Delve: Allow custom config file"
Delve allows us to use custom settings using the `--config` argument.

It would be great to specify the file using the `User Settings` in vscode.

---

An additonal / enhanced task would be to autogenerate the file and pass it to delve, or pass the config values in some other way.

[2017-11-16 11:50] gedw99 commented on #977
Yeah they dont use this now.
Instead they use SourceGraphs golang language server and it works much better.

https://github.com/Microsoft/vscode-go#go-language-server-experimental

go get -v github.com/sourcegraph/go-langserver

Settings..
//-------- Golang configuration --------
    "go.buildOnSave": "workspace",
    "go.lintOnSave": "workspace",
    "go.vetOnSave": "workspace",
    // This is th

[2017-11-16 11:52] maxint64 commented on #1346
@zhao-kun Thank you very much!

[2017-11-16 13:33] rambhavaraju opened #1348 "VSCode going into not responding mode after the latest update"
Hi,

I have updated my vscode to 1.18 today and after the update my GO project is getting frozen up. I have had opened other language projects and there it seems to be running alrite.
When i looked at command palette and looked for the error i found this.
/C:/Program Files (x86)/Microsoft VS Code/resources/app/out/vs/workbench/workbench.main.js:10 Cannot read property 'forEach' of undefined: TypeE

[2017-11-16 13:34] rambhavaraju commented on #1348
![image](https://user-images.githubusercontent.com/6705212/32893839-ee4d99ca-cb00-11e7-9715-de5b6be4eedd.png)
Here is the windows not responding message.
I'm running windows 10 pro x64 version.

[2017-11-16 18:37] ramya-rao-a opened #1349 "The cursor keeps jumping to the bottom"
_From @matthewfcarlson on November 16, 2017 6:27_

- VSCode Version: Code 1.18.0 (dcee2202709a4f223185514b9275aa4229841aa7, 2017-11-08T21:19:36.079Z)
- OS Version: Windows_NT ia32 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-eslint|dba|1.4.3
githistory|don|0.2.3
vscode-npm-script|eg2|0.3.3
beautify|Hoo|1.1.1
vscode-JS-CSS-HTML-formatter|lon|0.2.3
Go|luk|0.6.67

[2017-11-16 18:37] ramya-rao-a commented on #1349
_From @matthewfcarlson on November 16, 2017 7:36_

Looks like it's a result of go-code-check running.

[2017-11-16 18:37] ramya-rao-a commented on #1349
_From @Ripper1992 on November 16, 2017 12:48_

Same thing is happening with me.

Steps to reproduce the error:

1 - Type some code.
2 - Hit "ctrl +s" to save the file.
3 - Hit arrow up or down.
4 - Cursor focus at the bottom of the file.

[2017-11-16 22:47] waskito commented on #873
Have the same issue in Mac

I didn't set any of `go.gopath`, `go.goroot` and `go.inferGopath`

when I run `go env $GOPATH`, there is no result at all
but when run `go env`, I am getting `GOPATH="/Users/macintosh/go"`

`GOROOT="/usr/local/Cellar/go/1.9.2/libexec"` because I install go using `Homebrew`

[2017-11-16 23:27] concatime commented on #873
Actually, it's `go env GOPATH`, there is no `$`.

[2017-11-16 23:32] concatime commented on #873
And second, you need to define your GOROOT variable inside your shell, or set the `go.gopath` because your golang directory is not `/usr/local/go`.

[Source](//dave.cheney.net/2013/06/14/you-dont-need-to-set-goroot-really).

[2017-11-17 00:31] ramya-rao-a commented on #1337
Open the output pane, select "Go" from the drop down on the top right corner of the output pane.
You will see the commands used by the extension for running build, lint and vet.

Can you share the logs from this output pane?
This will help in figuring out which of the build/lint/vet process is giving the error.

Also run the `Go: Current GOPATH` command. It will show the GOPATH being used by the b

[2017-11-17 00:32] ramya-rao-a commented on #1338
Run `Go: Install/Update Tools` to recompile all the dependent Go tools and try again.
An upgrade either to Mac OS or Go itself requires recompiling of the tools.

[2017-11-17 00:37] pierznj commented on #1338
Thank you - that makes sense when I think about it! I actually found this suggestion in another thread yesterday and it did the trick. I am noticing that the validation of Go code is much slower now than before - used to get error indicators almost right away, now there's a pause of several seconds. Closing this issue, but wonder if you have a suggestion for that?

[2017-11-17 00:37] #1338 closed

[2017-11-17 01:02] ramya-rao-a commented on #1339
Hey @jpap,

First off, thanks for your patience. Was a little busy at work past 2 days and so didnt get to respond sooner.

Secondly, congrats! That's some great investigation and am glad you got yourself unblocked.

Now coming to your points:

**About cwd**
- `cwd` from the debug config is passed directly to dlv in the `--wd` argument. We do nothing else with it.
- The path provided in the `progr

[2017-11-17 01:03] ramya-rao-a commented on #1340
This is being tracked in #1345

[2017-11-17 01:03] #1340 closed

[2017-11-17 01:06] ramya-rao-a commented on #1341
@jpap Thanks for reporting

Can you provide a sample code for a test that would fail with a panic?
I can then use that to see what exactly do we get back from delve and how best to surface it.

[2017-11-17 01:09] ramya-rao-a commented on #1342
If we did provide a solution to run tools from a container, then a general solution is needed. Not just for linter. This is a major undertaking.

I'd love to help put if anyone wants to take this up.

[2017-11-17 01:19] ramya-rao-a commented on #1343
You are welcome @leaxoy and thanks for reporting this issue.
The fix will be out in the next update

[2017-11-17 01:19] #1343 closed

[2017-11-17 01:24] ramya-rao-a commented on #1344
The fact that `gofmt` works but the other 2 dont are puzzling to me.
Choosing all the 3 tools use the same code path.

Can you try setting `go.useDiffForFormatting` to `false`? We noticed that goreturns sometimes returns diff data in an incompatible format.

We did have an issue with formatting (#1333), but that was for folks on 1.19 Insiders but you are on 1.18

[2017-11-17 01:25] ramya-rao-a commented on #547
Hey All, did any of you get to try this out?

[2017-11-17 01:26] theGeekPirate commented on #1344
@ramya-rao-a That seems to have fixed it!

[2017-11-17 01:30] ramya-rao-a commented on #1346
This is weird. The only thing happening on save that can move stuff around is the formatting feature.

I can repro the case when the cursor moves to the next line, but not the case when the cursor moving to the bottom of the file.

Can either of you provide a small sample code with repro steps for when you see the cursor going to the end of the file?

[2017-11-17 01:31] ramya-rao-a commented on #1349
@matthewfcarlson I believe this is due to the formatting that runs on save. The edits that get applied end up moving the cursor. Let's track this in #1346

@matthewfcarlson , @Ripper1992, I can repro the case when the cursor moves to the next line, but not the case when the cursor moving to the bottom of the file.

Can either of you provide a small sample code with repro steps for when you see the

[2017-11-17 01:31] #1349 closed

[2017-11-17 01:37] ramya-rao-a commented on #1347
Can you provide any references or docs for the `--config` argument?

[2017-11-17 01:39] ramya-rao-a commented on #1348
The fix is in master, but I havent released an update yet. Until I do, you do the following:

- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` and reload VS Code

[2017-11-17 01:39] #1348 closed

[2017-11-17 01:41] ramya-rao-a commented on #1344
Great, I am not sure of the root cause here though as to why goreturns and goimports do not return anything when run with `-d`

Here is the upstream issue if you are interested: https://github.com/sqs/goreturns/issues/28

Closing this issue as the workaround works for you.

Happy Coding!

[2017-11-17 01:41] #1344 closed

[2017-11-17 01:43] ramya-rao-a commented on #1338
There are some perf improvements I am pusing for the next update. You can try it out and let me know if it helps. I havent released an update yet, but you can try out the improvements by doing the below:

- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` and reload VS Code

[2017-11-17 01:49] ramya-rao-a commented on #1315
- From the menu select Help -> Toggle Developer Tools.
- Click on "Console" when the dev tools open.
- Clear all the errors if there are any
- Cmd-Click on the method for which you want to get the definition

Do you see any errors in the console related to running a command called "godef"?

[2017-11-17 01:53] pierznj commented on #1338
I did as you suggest, but it was still very slow. However I noticed on the output that my linter (gometalinter) was not found in my PATH. I changed to standard linter and it's quick again. Thanks so much for your help!

[2017-11-17 02:20] ramya-rao-a commented on #977
@gedw99 The use of language server is optional, we still support the previous way of doing things. Also the codelens for references doesnt use the language server.

@hungys

Yes, that's possible. But finding references is expensive. If all references count were found upfront, then it would take a while for them to appear.
The real solution would be either for the language server to support the cod

[2017-11-17 03:04] ramya-rao-a commented on #1346
I have pushed the fix for the issue that I see i.e cursor jumping to the next line.

Can either of you test it and see if it solves your case as well? All you have to do is
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` and reload VS Code

[2017-11-17 03:04] ramya-rao-a commented on #1349
I have pushed the fix for the issue that I see i.e cursor jumping to the next line.

Can either of you test it and see if it solves your case as well? All you have to do is
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` and reload VS Code

[2017-11-17 03:30] kulshekhar commented on #547
I stopped using `gb` a few months after creating this issue so I don't have anything right now to test this with. However, I'll set a quick project up on the weekend and will post the findings back here.

[2017-11-17 04:13] matthewfcarlson commented on #1349
I can confirm that turning off the go extension fixes the issue. Let me try this newest package.

[2017-11-17 05:16] benguild commented on #1315
There weren't any errors initially. Just one info line. Here's what I see after clicking:
[code]

... That's when trying the same line quickly a couple of times. Same code line works fine in IntelliJ.

[2017-11-17 06:42] dc0d opened #1350 "Support for Type Aliases"
Currently VSCode for Go, does not support type aliases. It would be nice to support type info and docs for them. And the mouse over shows an empty square.

[2017-11-17 07:41] Eun commented on #1347
After digging into Delves source code I found out that the docs are outdated and delve is (currenlty) ignoring the `--config` flag. However there is a config file that will be loaded.

It is in the `.dlv` folder in your home folder.

[2017-11-17 07:41] #1347 closed

[2017-11-17 09:09] NobbZ opened #1351 "Codefolding of a function with a label in it fold from `func` to label"
When I try to fold the following function:

[code]

It is folded to:

[code]

I can then fold again at the label resulting in

[code]

But I'd expect to have the following when folding at the `func` initially:

[code]

[2017-11-17 17:35] ramya-rao-a commented on #1347
Thanks for figuring that out and getting back. Happy Coding!

[2017-11-17 17:38] ramya-rao-a commented on #1350
Can you provide sample code that I can use to repro?

[2017-11-17 19:06] ramya-rao-a commented on #1315
The Go extension uses reputed Go tools from the Go open source community to provide most of the features. How IntelliJ works is beyond me. So lets not compare the two.

The Go to Definition feature is provided by the `godef` tool which as you can see is from the errors in the console is not able to find the definition for the symbol in question.

Can you run that command from the terminal with the

[2017-11-17 19:08] ishanray commented on #540
`editor.formatOnSave` makes gofmt take almost a second to finish.

[2017-11-17 19:57] finallybye opened #1352 "Cannot start delve debugging when files in $GOPATH/src*"
- OS: win7 x64
- vscode: 1.18.1 win32-x64
- vscode-go: 0.6.67
- delve: 1.0.0-rc.1
- golang: 1.9.2 windows/amd64
- GOPATH: D:\WorkSpace\Develop\gopath_x64
- file location: D:\WorkSpace\Develop\gopath_x64\src01\github.com\foo\bar\main.go (attention: src01, not 'src\01')

The error information shown on debug console when I start debugging(F5):
[code]

After some tests, I find error will occur when th

[2017-11-18 00:49] jpap commented on #1337
Thanks for your help Ramya.  I've found the the issue is with the `go build` command: my command-line build works because I am building from the working directory `$PROJ/.gopath~/src/mypackage` whereas VSC is building from `$PROJ` because that's the `${workspaceRoot}`.

I cannot open `$PROJ/.gopath~/src/mypackage` directly into VSC because it is a symlink: VSC will instead open the `$PROJ` folder.

[2017-11-18 01:00] jpap commented on #1339
I've not seen this issue since; it happened when I was using a HEAD build of delve but have since moved to the latest release candidate `1.0.0-rc.2`.  I think we can assume it was delve, and not your extension. :)

Using the `-test.v` argument tells the Golang testing framework to output verbose reports, which is helpful during debugging of a test.  It might be helpful to mention this in the READM

[2017-11-18 01:12] jpap commented on #1341
Place this is a test file...
[code]

When trying it out today, I see the debugger is stopping at `runtime.startpanic()`, whereas before it did not... if you can't reproduce it, please go ahead and close this item.  It may very well be because of a dud-version of Delve that I may have been using for a short while.  Thanks for following up.

With the debugger stopped at `startpanic`, I can see the s

[2017-11-18 05:25] douglarek commented on #1119
This issue will occur again when debugging `vendor` codes.

[2017-11-18 06:12] dc0d commented on #1350
For example this [repo](https://github.com/dc0d/gsamples) contains Go code that uses type aliases.

[2017-11-18 06:17] murugan100 commented on #547
Installing extension is throwing error

1. wget https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
2. code --install-extension ./Go-latest.vsix
Error: end of central directory record signature not found
    at /usr/share/code/resources/app/node_modules/yauzl/index.js:183:14
    at /usr/share/code/resources/app/node_modules/yauzl/index.js:618:5
    at /usr/share/code/resources/app/no

[2017-11-18 09:17] dhananjayve opened #1353 "Travis CI build fail"
Travis CI build fail

![tavis ci build failed](https://user-images.githubusercontent.com/3583576/32978806-54e1ba80-cc6f-11e7-932e-30ae820dab3f.PNG)

[2017-11-18 19:36] mattwilson1024 commented on #1058
Just had the same problem. The following steps fixed it for me (the third step seemed necessary for me in addition to the above suggestions):
- Run Go: Install/Update Tools in VSCode
- `cd ~/go/bin`
- `./gocode close`

[2017-11-19 03:25] kulshekhar commented on #547
I was unable to install the extension.

[code]

[2017-11-19 05:36] ramya-rao-a commented on #1352
- Run the command `Go: Current GOPATH`. Does this match with what's expected?
- Add `"trace": "verbose"` to your debug configuration and then start debugging. This will add some logs to the debug console. There should be a line there saying `Using GOPATH:`. Does this match with the expected GOPATH?

[2017-11-19 06:14] ramya-rao-a commented on #547
@murugan100 @kulshekhar What OS are you on? I tried on Windows and Mac and the installation works as expected.

[2017-11-19 06:26] murugan100 commented on #547
Ubuntu 17.04

[2017-11-19 06:41] kulshekhar commented on #547
Linux Mint 18.2 (~Ubuntu 16.04)

[2017-11-19 17:40] ramya-rao-a commented on #1346
Scratch that.

I can repro the case when the cursor jumps to the last line.
It is when the changes due to formatting spans multiple lines till the end of the document.

The root cause is due to changes in the core api. I'll dig around a little more and get back here.

[2017-11-19 17:40] ramya-rao-a commented on #1349
Scratch that.

I can repro the case when the cursor jumps to the last line.
It is when the changes due to formatting spans multiple lines till the end of the document.

The root cause is due to changes in the core api. I'll dig around a little more and get back here.

[2017-11-19 19:05] ramya-rao-a commented on #547
I just tried on an Ubuntu (14.04) and it works.
I have updated the vsix today for another bug fix.
Can you try downloading and installing again?

[2017-11-19 19:10] ramya-rao-a commented on #547
@murugan100, @kulshekhar

I tried downloading the vsix using `wget` and then installing. I get the same error as you.
I always have the repo cloned. And when installing from the cloned repo, I dont see the error.

For now, can you clone the vscode-go repo and try installing from the repo?
I'll look into why the other way doesnt work

[2017-11-19 21:53] ramya-rao-a commented on #1119
@douglarek Please log a new issue with clear repro steps.

[2017-11-19 22:51] ramya-rao-a commented on #1337
Just to ensure that this is not a regression in the Go extension, can you revert to a previous version of the extension and see if everything used to work fine?

You can download the vsix for the previous version from https://github.com/Microsoft/vscode-go/releases/tag/0.6.66

Then run `code --install-extension Go-0.6.66.vsix` and reload VS Code

[2017-11-19 22:54] ramya-rao-a commented on #1339
You can use `go.testFlags` setting to pass the flags you want to use when running the tests. This will be used by all the test commands from the command pallet as well as the codelens "run package tests" and "run test"

I have added the note on `-test.v` in the wiki.

Thanks and Happy Coding!

[2017-11-19 22:54] #1339 closed

[2017-11-19 22:55] ramya-rao-a commented on #1341
In that case, I'll just close this for now.
Thanks!

[2017-11-19 22:55] #1341 closed

[2017-11-19 23:20] ramya-rao-a commented on #1350
Setting `"go.docsTool": "gogetdoc"` seems to work.
The default tool we use to find definitions is `godef` which is supposed to return the location and the signature of the definition which it fails to do in case of type alias. But `gogetdoc` works.

Try running `godef` on a type alias and compare it with a normal function or type, you will see the difference in the output. Can you log an issue in

[2017-11-19 23:20] #1350 closed

[2017-11-19 23:27] ramya-rao-a commented on #1353
Thanks for reporting @dhananjayve, its fixed now.

[2017-11-19 23:27] #1353 closed

[2017-11-20 02:49] maxint64 commented on #1346
@ramya-rao-a I tried your extension but the problem still exists. I did more test and found cursor will _certainly_ jump to end of file after saving, no matter which way I use (click save button, press ctrl+s, or use vim command :w)

[2017-11-20 05:31] ramya-rao-a commented on #1346
@maxint64 Thanks. I found today that the root cause is with the way edits are applied by VS Code. Something changed between VS code 1.17 and 1.18 release.
I have logged an upstream issue for this. https://github.com/Microsoft/vscode/issues/38728
We should be able to get a fix in the Insiders soon.

Until then, the work around is to either disable the format on save feature or the auto save feature

[2017-11-20 10:32] murugan100 commented on #547
Installing from the cloned repo works.

[2017-11-20 10:45] mfpierre opened #1355 "go.buildTags only works properly with a single tag"
## Issue

I've been experiencing issues with the `go.buildTags` setting. It seems to work fine only when you have a single tag.

When using multiple tags (space-separated) the tools are not working properly anymore on tagged files (as if no tags were applied).

## How to reproduce
[code]
with `"go.buildTags": "randomtag"` reporting the error correctly `undefined: foobar`

with `"go.buildTags": "ra

[2017-11-20 21:02] ahmetb opened #1356 "Import command adds imports to wrong block"
When I use cmd+shift+p &rarr; "Go: Add import" to add a vendored package, it always adds it to the top of import block that contains stdlib packages:

For example, the `k8s.io/apimachinery/pkg/labels` package here, I used "Go: Add import" to add it. (see screenshot below)

Gofmt (or some other linter) fixes the problem when the file is saved, but I'm curious if it can be added directly to the righ

[2017-11-20 21:04] ahmetb commented on #1356
Actually saving the file does not fix the problem, I was wrong:

![image](https://user-images.githubusercontent.com/159209/33041479-48e75e6c-cdf3-11e7-9874-7aa3b25510ff.png)

[2017-11-21 02:03] jpap commented on #1337
It reproduces back on 0.6.59, so it does not look like a regression in the Go extension.  I have also tried various Go versions and it reproduces on all of them.  So it looks like either I never saw these lint errors before, or I ignored them.  :-) My apologies.

I recognize that my project structure is nonstandard; I can't think of a straightforward configuration setting that might help here: the

[2017-11-21 02:03] #1337 closed

[2017-11-21 02:05] ramya-rao-a commented on #1337
Thanks @jpap

[2017-11-21 17:54] Ripper1992 commented on #1349
I have the following extensions installed.

- Debugger for Chrome
- Git Histpry (git log)
- Git Merger
- IntelliSense for CSS class names
- JS-CSS-HTML Formatter
- Material Theme
- npm
- Path Intellisense
- Project Manager
- Settings Sync

After disabling all extensions, I verified that this resolved the issue. I'll try one by one to see which one might be causing the problem.

[2017-11-21 18:08] leonardoResendeLima commented on #1349
Yeah, foundIt. It was the "JS-CSS-HTML Formatter", last change (0.2.3) of this project was on 31 Mar 2017

[2017-11-21 18:38] ramya-rao-a commented on #1349
The formatting feature of the Go extension also does the same. I am working on a fix

[2017-11-21 23:10] willfaught opened #1357 "Cannot assert types in debug console"
When I try to assert a type in the debug console, for example `f.users.(client)`, I get this message:

[code]

Entering `types` also gives an error:

[code]

---

- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e26034d1a8067445e9, 2017-11-16T18:23:26.125Z)
- OS Version: Darwin x64 17.0.0
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vscode-docker|Pet|0.0.22
sort-lines|Tyr|1.

[2017-11-21 23:17] willfaught opened #1358 "Debug info in variable and debug console panes is different"
See the screenshot:

![screen shot 2017-11-21 at 3 13 36 pm](https://user-images.githubusercontent.com/63830/33101841-e5586314-cece-11e7-97af-5015e382d676.png)

In the variables pane, c.client.ctx only shows one field, and it's not even a real field, I'm not sure what that is. In the debug console pane, I can drill down into c.client.ctx.

- VSCode Version: Code 1.18.1 (929bacba01ef658b873545e2603

[2017-11-22 01:43] ramya-rao-a commented on #1357
`"no type entry found, use 'types' for a list of valid types` That's coming from delve.
Can you run delve from the command line, and try doing the same there?

[2017-11-22 02:38] willfaught commented on #1357
It worked there.

Sent from my iPhone

[2017-11-22 04:11] #1355 closed

[2017-11-22 05:19] ramya-rao-a commented on #1355
@mfpierre I have pushed a fix for this, can you help in testing it out? All you have to do is
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` and reload vs code

Do try out features like rename, find references etc and see if all the language features work with multiple build tags

And thanks for reporting this.

[2017-11-22 09:22] mfpierre commented on #1355
@ramya-rao-a thanks for the fix, however I'm not able to install the provided extension

[code]

[2017-11-22 09:27] orcaman commented on #1061
Happens to me as well. Makes vscode unusable for go

[2017-11-22 19:56] ramya-rao-a commented on #1061
@orcaman Do you see any errors in the console? From the `Help` menu select `Toggle Devleoper Tools` and  then click on `Console`

[2017-11-22 19:57] ramya-rao-a commented on #1355
You must be on ubuntu, for some reason direct download doesnt work.
Can you clone this repo and then use the vsix file from the repo?

[2017-11-22 19:58] ramya-rao-a commented on #1357
Can you share the steps? I need to know the commands used

[2017-11-22 22:42] shuntksh commented on #1327
I am having the exact same issue as @kkpoon that I have to open one code from level up ($GOPATH/src/github.com/kkpoon in this case to work on project1)  in order for go-plugin to read vendor directory.

[2017-11-23 00:36] esinek opened #1360 "go-code-cover timeout"
I'm trying to increase the timeout from the default 30s. How can I do this? I've tried to add to `go.testEnvVars` but no luck
[code]

[2017-11-23 00:38] esinek commented on #1360
found it.
`    "go.testTimeout": "35s"
`

[2017-11-23 00:38] #1360 closed

[2017-11-23 09:17] mfpierre commented on #1355
@ramya-rao-a I'm on OSX but the install from the cloned repo worked, from what I've tested so fare seems to be fixed 👍

[2017-11-23 12:55] orcaman commented on #1061
@ramya-rao-a I have updated my go version from 1.8x to 1.9x, re-installed all the tools (e.g. goimports etc.) and this seem to have solved the problem

[2017-11-23 14:03] erikjohnston commented on #435
Its not anymore: https://go-review.googlesource.com/c/tools/+/45390 (from [this thread](https://groups.google.com/forum/#!topic/golang-nuts/RyWfs9ddn8c)).

The issue I have is that `goimports` doesn't have support `-s` flag from `gofmt`.

[2017-11-23 20:50] ramya-rao-a commented on #1355
great, did you try other features like rename, find all references etc? The Go tools that back these features also take the build tags. Also give the new commands `Go: Build Current Package`, `Go: Install Current Package` a try. These are not released yet, but since you are using the code from master you can use them

[2017-11-24 00:08] carlca opened #1361 "Import statement is disappearing"
macOS 10.13.1 High Sierra
VSCode 1.19.0 Insider

Hello, I'm trying to add an import statement to the start of a .go file. The import statement is:
`"github.com/carlca/bigdata/company"` In the corresponding folder I have 1 file named `company.go` which contains a larger version of this code:

[code]
The problem is that every time I save the file, Go Import is kicking in and is deleting the `"github

[2017-11-24 02:22] OuSatoru opened #1362 "Ideas to add struct tag for json/xml?"
Like Intellij go plugin, when type `j tab, it adds json tag for the variable with CamelCase to underscore

[2017-11-24 03:04] silentred opened #1363 ""Test fucntion at cursor" Runs all tests in the package"
plugin version: 0.6.67
vscode version: 1.18.1

It seems all "Go: Test ..." commands run all the tests in package

[2017-11-24 08:07] tannineo opened #1364 "Code hint error when using string format in backquote"
I have a string in `` for `fmt.Sprintf`, like this:
[code]
There're **18** items in total, and the print code like this:
[code]

When I miss some items in `fmt.Sprintf()`, the hint shows:
![image](https://user-images.githubusercontent.com/33346345/33200801-16a5927a-d131-11e7-80e2-02c311a248e0.png)
If we add or remove one, the count changes:
![image](https://user-images.githubusercontent.com/333463

[2017-11-24 15:14] carlca commented on #1361
I found the problem. Once I set the import line to `c "github.com/carlca/bigdata/company"` and used that prefix in the code, all was well.

[2017-11-24 15:14] #1361 closed

[2017-11-24 15:25] carlca opened #1366 "Struct and bson tags alignment issues"
When I save my go code, my structs are being aligned like this:
![screen shot 2017-11-24 at 15 18 20](https://user-images.githubusercontent.com/260612/33216230-e24b034e-d12a-11e7-9fec-f6d960a262f7.png)

I would prefer the automatic alignment of the `string bson` info to carry on over the comments, like so:
![screen shot 2017-11-24 at 15 23 04](https://user-images.githubusercontent.com/260612/33216

[2017-11-24 19:04] ramya-rao-a commented on #1362
We have the commands `Go: Add Tags to Struct Fields` that does something similar. It uses the setting `go.addTags`.
See https://github.com/Microsoft/vscode-go/wiki/Release-Notes#editing-improvements

[2017-11-24 19:04] #1362 closed

[2017-11-24 19:06] ramya-rao-a commented on #1363
There are multiple `Go: Test` commands. Which ones are running all the tests in the package for you?

[2017-11-24 19:16] ramya-rao-a commented on #1366
That's done by the formatting tool we use. You can choose to use `goreturns`, `goimports` or `gofmt` by changing the `go.formatTool` setting. You can also pass flags to these tools via the `go.formatFlags` setting.

Other than these customizations, rest of the details of formatting is out of scope of VS Code. You can log an issue in the repos of any of the above 3 tools.

[2017-11-24 19:16] #1366 closed

[2017-11-24 19:19] ramya-rao-a commented on #1364
I am not able to repro this.
Can you open the output pane and select "Go" from the drop down on the top right corner of the pane?
The results of build/lint/vet are shown there.
This is either the result of linting or the vet process.

Either way, the Go plugin has no control over the errors/warnings coming from he build/lint/vet process. It just runs these tools and displays the results in the edi

[2017-11-24 19:19] #1364 closed

[2017-11-24 19:28] tannineo commented on #1364
The output pane has the same info like the screenshot:
[code]
So it's something wrong with vet...
Anyway thank you!

[2017-11-24 19:31] tannineo commented on #1364
[code]

[2017-11-24 20:36] carlca commented on #1366
Thanks, Ramya. Here's a controversial question: what's the difference between `goreturns`, `goimports` and `gofmt', and, perhaps even more controversial: which one is better? You don't have to answer the second question, but if there was a summarised guide that answers the first question, that would be great!

[2017-11-24 20:43] carlca commented on #1366
I found the http://dominik.honnef.co/posts/2014/12/go-tools/ page that you referenced in #418. It looks like `goreturns` is the superset of the others.

[2017-11-24 21:05] ramya-rao-a commented on #1366
That's correct

[2017-11-24 23:16] maxibanki opened #1367 "Cannot read property 'concat' of undefined"
- VSCode Version: Code - Insiders 1.19.0-insider (0c60476e5167d4bdcf01cc48558b2e1faf0edae1, 2017-11-23T05:14:03.034Z)
- OS Version: Windows_NT x64 10.0.16299
- Extensions:

Extension|Author (truncated)|Version
---|---|---
yaml|ada|0.0.9
gotemplate|cas|0.1.1
vscode-markdownlint|Dav|0.11.1
vscode-eslint|dba|1.4.3
tslint|eg2|1.0.23
markdown-table-formatter|jos|0.2.3
Lua|key|0.0.9
Go|luk|0.6.67
debugg

[2017-11-25 06:51] ramya-rao-a commented on #1061
Closing this issue as most of the folks here have gotten the issue resolved. If anyone else sees formatting taking too much CPU, please log a new issue

[2017-11-25 06:51] #1061 closed

[2017-11-25 06:56] #1367 closed

[2017-11-25 06:56] ramya-rao-a commented on #1367
Thanks for reporting @maxibanki, that promise was indeed the issue.
I have pushed in a fix.
Next time, feel free to send a PR :)

Happy Coding!

[2017-11-25 12:48] jonathan-robertson commented on #1184
@joelpresence I'm on go 1.9.2 but was initially having a similar issue until I realized the problem was on my end. This might not apply to you, but it did for me and may help you or someone else who winds up on this issue page.

Using the example you provided:
[code]

No package methods will populate params for me (even standard packages like `fmt`) unless that package is in the import block. This

[2017-11-25 12:58] jonathan-robertson commented on #1184
@joelpresence actually... I just experienced it again and my recommendation above didn't apply. I did notice, however, that the headers disappeared/reappeared while I was writing my line of code, so maybe that operation temporarily knocks out the param suggestions :(

I'm referring specifically to these, which sometimes disappear while I'm in the process of writing a line of code:
[code]

I'm on V

[2017-11-25 20:09] ramya-rao-a commented on #540
@ishanray as compared to?

[2017-11-25 22:55] gorsand commented on #231
Well, I've just fixed the vscode problem with godoc by:

[2017-11-26 02:36] stevebriley commented on #1166
Running Windows 10. Visual Studio Code, and vscode-go 0.6.67.

Running the following code: main.go
[code]

Here are the timing results until I could see output from entering debug mode with 0 breakpoints...
- VSCode-Go with Go 1.9.2 takes 22 seconds
- VSCode-Go with Go 1.8.5 takes 6 seconds
- JetBrains GoLand EAP with Go 1.9.2, takes 3 seconds

**Clearly, there's some serious performance issues th

[2017-11-26 02:52] stevebriley commented on #1166
What data do I have to collect to help diagnose and resolve this?

[2017-11-26 08:43] ishanray commented on #540
@ramya-rao-a Otherwise it takes very less. Almost unnoticeable. I can look into it further if required.

[2017-11-26 20:50] carlca opened #1371 "Problem activating Signature Help"
macOS 10.13.1 High Sierra
VSCode Insiders 1.19.0

Hello, I've just tried to install the `Signature Help` feature, so I've added:
[code]
and I've run `go get -v github.com/sourcegraph/go-langserver` from the command line, and restarted VSCode. What do I have to do to activate `Signature Help`? I thought that just typing the `func` name followed by brackets would be sufficient.

[2017-11-26 21:41] carlca commented on #1371
The full list of relevant settings is now:
[code]
Still no `Signature Help`! TBH, I hadn't realised that I was missing the feature, then I saw it described and saw the lovely screenshots. Now I'm missing it like crazy!!

[2017-11-26 22:04] carlca commented on #1371
`⇧⌘Space` does not work, either.

[2017-11-27 01:41] ramya-rao-a commented on #540
That's ok. We cannot rely on the `editor.formatOnSave` until we figure out the blocking issues with `goreturns` as described in https://github.com/Microsoft/vscode-go/issues/540#issuecomment-314006031

[2017-11-27 03:50] ramya-rao-a commented on #1184
@jonathan-robertson The codelens for "run test" and "debug test" have nothing to do with the parameter hints or the tools that provide the parameter hints. They get re-created/adjusted everytime there is a change to the file.

Apart from that, are you saying that the parameter hints do not appear in test files even when the import statements exist for the package?

[2017-11-27 03:58] ramya-rao-a commented on #1371
When you hover on the function name are you able to see the details including the function signature?
Can you provide a code sample where I can repro this?
Also do try on a simple program, say `fmt.Println(`. Does that work?

[2017-11-27 04:02] scippio commented on #441
`gocode close and go get -u github.com/nsf/gocode` fix in insider: https://github.com/Microsoft/vscode/commit/89b158e11cb1c3fe94a3876222478ed2d0549fc8

[2017-11-27 05:19] sidmishraw opened #1372 "go-langserver keeps crashing"
go-langserver keeps crashing when I try to hover over methods to see their definition.

Following is the log for go-langserver from the Output pane:
[code]

My configuration is as follows:

* Go version = `go version go1.9.2 darwin/amd64`

* User specific settings:
[code]

* go-langserver -version = `v2-dev`

* VScode version = `1.18.1`

* OS = `macOS Sierra v10.12.6`

[2017-11-27 06:55] jeyanthimuthuram opened #1373 "using golinter making my system memory go nuts"
**My Vscode config**
[code]

**For a while I tried using golang , and initally no issues , starting from yesterday my memory is raising to whooping `100% from 30%` and my cpu usage also shoots up to `100% instantly from 60%` whenever I hit save**

I used dsat to log the issue

`dstat -ta --top-cpu --noheader --output systemstats.cs`

**output:**

[code]

please do help me solve this issue

[2017-11-27 06:58] jeyanthimuthuram commented on #1372
try using `Go: Install/Update tools` to re-install the packages , after installation try restarting your vscode

[2017-11-27 07:03] sidmishraw commented on #1372
Tried that and it still crashes when I hover the mouse pointer over a method name a few times(mostly 5-6 times).

The workaround I'm using to get by this issue is a window reload using the `Reload window` command 😭

[2017-11-27 10:00] altairlu commented on #1373
the same to me !
i cant work well

[2017-11-27 10:22] Xjs commented on #1346
@ramya-rao-a Just a quick hint that after your changes introduced in 89e1a18dc1338b6b23a625a4458115bbf3492be1 the curser no longer moves to the end but to the beginning of the file when formatting-on-save.

[2017-11-27 10:50] carlca commented on #1371
Thanks for the speedy reply Ramya! What hours do you work? I thought you were based in the US...

No I am not.

Yeah! Do a `go get github.com/carlca/bigdata` (Don't worry - there's metadata but NO actual bigdata!) , then go into the file I'm currently working on `cd carlca/bigdata/sqlorm` and open `sqlorm.go`. That file is displaying all the symptoms described.

Nothing. Nada. Zilch. You get the i

[2017-11-27 11:49] carlca commented on #1371
Oops, tell a lie! I do get the hover help when I hover over `fmt.Println` but I'm not getting the individual parameter help, and, as I mentioned, `⇧⌘Space` does not work, either.

When I hover over `schema.addColumn` I don't see any help displayed at all.

I know there was an issue between built-in functions as opposed to external functions, but I thought this had been fixed.

[2017-11-27 12:11] jonathan-robertson commented on #1184
@ramya-rao-a

Thanks for the insight!

Yes, that's what I'm referring to.

Both my test file and go file are within the same folder, but are in different packages (see [strategy 2 on this page for example](https://stackoverflow.com/questions/19998250/proper-package-naming-for-testing-with-the-go-language)).

I recently thought that maybe this was due to having both packages in the same folder, thi

[2017-11-27 15:58] JanKoehnlein opened #1374 "Broken selection choice "Open Workspace settings""
In `goInstallTools.ts` the selection result "Open Workspace settings" is not handled properly.

[2017-11-27 16:18] carlca commented on #1371
I've just tried the standard version of VSCode and there the Signature Help works perfectly. I'll investigate the config files...

[2017-11-27 16:57] carlca commented on #1371
Weird. It turns out that it was the line `"go.useLanguageServer": true,` that was causing the problem. It raises the question, what possible benefit could ever be gained from including that line?

[2017-11-27 17:16] carlca commented on #1371
Now that I have my Signature Help working, of course now I want to tweak it! How do I a) Change the background color of the Signature Help hover block, and b) Get VSCode  to pick up any doc comments I may have written for the func in question? Thanks!

[2017-11-27 17:24] jaysonesmith commented on #1058
I just ran through @mattwilson1024 's steps and I'm all set, also! Thanks!

[2017-11-27 17:30] ramya-rao-a commented on #1371
The language server feature is an experimental one. If you want to checkout why that wasn't working, log an issue at http://github.com/sourcegraph/go-langserver

I am able to see the signature help for `fmt.Println` in both stable and insiders build of vscode
Try setting `go.docsTool` to `gogetdoc` and try the "Go to definition", hover and signature help features.

VS Code doesn't allow tweaking t

[2017-11-27 17:56] carlca commented on #1371
I spoke too soon. I have the Signature Help working in as much as hovering over the func call gives me access to the full parameter list, but the Trigger Parameter Hints keystroke [⇧⌘Space] still does not work in Insiders but it does work in Stable. The Preferences -> Keyboard Shortcuts config entry appears to be identical in each version of VSCode.

[2017-11-27 19:15] diogogmt commented on #1338
I'm having a similar problem, after upgrading to High Sierra I can't go to the definition of libs in the vendor/ dir of my project.

I've tried the settings:
[code]

But also didn't work.

[2017-11-27 19:25] ramya-rao-a commented on #1374
Fixed with #1375

[2017-11-27 19:25] #1374 closed

[2017-11-27 21:51] SteelPhase commented on #1166
As i understand it, the changes for golang/go#19340 are supposed to make it into go 1.10, and delve   will be able to resolve derekparker/delve#970 by reverting the change to recompile all dependencies to ensure optimizations are disabled. This should all go away around the release of 1.10

[2017-11-27 22:17] ramya-rao-a commented on #1373
@jeyanthimuthuram @altairlu Can you update to the latest Go version (0.6.69) and see if you still have issues?

[2017-11-27 22:17] ramya-rao-a commented on #1211
This feature is now out in the latest update to the Go extension (0.6.69)

[2017-11-27 22:19] ramya-rao-a commented on #972
This feature is now out in the latest update to the Go extension (0.6.69)
You can now use the codelens above a benchmark function to run it.
Thanks @buyology!

[2017-11-27 22:21] ramya-rao-a commented on #1041
This feature is now out in the latest update to the Go extension (0.6.69)
The commands `Go: Lint Current Package` and `Go: Lint Workspace` are now available.
Thanks @ndrewnee!

[2017-11-27 22:22] ramya-rao-a commented on #287
The below commands are now available in the latest update to the Go extension (0.6.69)
- `Go: Install Current Package`
- `Go: Build Current Package`
- `Go: Build Workspace`

[2017-11-27 22:24] ramya-rao-a commented on #547
This feature is now out in the latest update to the Go extension (0.6.69)
Add the setting `"go.gocodePackageLookupMode": "gb"` to use it

[2017-11-27 22:25] ramya-rao-a commented on #1323
In the latest update to the Go extension (0.6.69), the autobuild feature of gocode is disabled by default.

[2017-11-27 22:26] ramya-rao-a commented on #1215
The perf improvements mentioned in https://github.com/Microsoft/vscode-go/issues/1215#issuecomment-343762633 are now out in the latest update to the Go extension (0.6.69)

[2017-11-27 22:29] ramya-rao-a commented on #667
@treed @bruceauyeung @abarisain @leaxoy The latest update to the Go extension (0.6.69) has some perf improvements in place. Can you check if you still see slowness when using `gogetdoc`?

[2017-11-27 22:29] ramya-rao-a commented on #1333
The fix is now out in the latest update to the Go extension (0.6.69)

[2017-11-27 22:39] ramya-rao-a commented on #473
Multiple issues are being talked abt here, I'll try to address them here

- Cannot debug programs that need user input. For example: The use of `fmt.Scanf`. This issue is being tracked in #219. @edwinprojects This is what you brought up.
- Debug issues when passing `-v` in the buildFlags or `-test.v` in the args. This is fixed in the latest update to the Go extension (0.6.69) via #1354. @byron70 T

[2017-11-27 22:39] #473 closed

[2017-11-27 22:40] ramya-rao-a commented on #1374
The fix is out in the latest update to the Go extension (0.6.69)

[2017-11-27 22:40] ramya-rao-a commented on #1343
The fix is out in the latest update to the Go extension (0.6.69)

[2017-11-27 22:40] ramya-rao-a commented on #1336
The fix is out in the latest update to the Go extension (0.6.69)

[2017-11-27 22:41] ramya-rao-a commented on #1355
The fix is out in the latest update to the Go extension (0.6.69)

[2017-11-27 22:47] ramya-rao-a commented on #1371
What version of VS Code (stable) are you using?
Do you see the parameter hints the first time you type `(` after the function name?

[2017-11-27 23:04] ramya-rao-a commented on #1338
@diogogmt Please see https://github.com/Microsoft/vscode-go/issues/1338#issuecomment-345108242

[2017-11-27 23:10] ramya-rao-a commented on #1184
@jonathan-robertson Can you share your settings? Also, when you hover on function names, do you see the complete signature + any docs associated with the function?

[2017-11-27 23:16] ramya-rao-a commented on #1346
@Xjs I know... Its a temporary fix. I figured cursor moving to start of the same line is a just a little bit less annoying than it moving to the end of the file.

Previously, the edits being applied were multi line edits
Right now the edits being applied are single line

The right fix would require us to apply edits only for the part of the line that needs the change.