[2019-05-12 22:17] ramya-rao-a commented on #2442
To narrow down whether the language server is the culprit here, can you disable the language server by setting `go.useLanguageServer` to `false` and see if it still happens? And then you can enable it back. You will be prompted to reload VS Code when you change the setting, please do so.

If we do narrow it down to the language server, then I am sure the folks behind it would like to fix it :)

[2019-05-13 04:48] ramya-rao-a commented on #2508
That feature is called signature help or parameter hints.
It is triggered when you are typing inside the `()` of a function call to show docs on the current parameter you are typing.
You can press the escape key to make it disappear
If you don't want this feature at all then set `editor.parameterHints.enabled` to `false` in your settings

[2019-05-13 04:48] #2508 closed

[2019-05-13 04:52] ramya-rao-a commented on #2502
@eaglexiang Can you provide more details for this issue? A sample code and details on what is opened in each VS Code window will help

Also, when you say "sub-windows" do you refer to different instances of VS Code or different tabs in the same VS Code instance?

[2019-05-13 08:28] mwat56 commented on #2442
No, it doesn't.  :-))

On the other hand: In about one and a half hours there were ~150 directories created in `/tmp/`. So the initial problem is back.  :-((

No, I won't (at least for the time being). I can live with the tmp files, the described vanishing act, however, is really quite bothersome, annyoing.

FYI: I wasn't prompted, but I did it anyway.

Well, to conclude: Without the new language

[2019-05-13 12:42] nmeocisco commented on #2444
The "Reload Window" trick appears to fix the problem. Thanks for the tip, that will save me the trouble have having to restart vscode entirely anytime this happens. Still, there is definitely a bug somewhere here that needs to be fixed since needing to manually reload the window between debug sessions shouldn't be required.

[2019-05-13 15:01] stamblerre commented on #2501
Thanks for the information. We haven't been testing `gopls` on Windows much, so it's very helpful for us to get this feedback. I opened https://github.com/golang/go/issues/32001 to track investigations into problems on Windows.

[2019-05-13 15:07] stamblerre commented on #2498
The upstream issue would be https://github.com/golang/go/issues/30843. Basically, the issue is that the `goimports` library also does formatting. I will have to make a change to the `goimports` library to separate the two. I'm sorry for not clarifying this earlier.

[2019-05-13 15:32] stamblerre commented on #2442
@mwat56: I am not seeing this behavior with the language server right now - however, there was some issue with formatting on paste a few days ago. I expect that if you update to the latest version of the language server (`go get -u golang.org/x/tools/cmd/gopls`), you will no longer see this issue. If you do still see the issue, please open a new issue in the Go issue tracker: https://github.com/go

[2019-05-13 15:37] ramya-rao-a commented on #2442
@stamblerre  is right. The issue was with the format on paste feature when using the language server.
@mwat56 Do you have that feature enabled? Check your `editor.formatOnPaste` setting.

@stamblerre Can you help in figuring out what exactly is creating these `/tmp/go-build*` files? Or help directing this issue to the right person in the Go team?

Below is the summary of when this is happpening fo

[2019-05-13 16:02] mwat56 commented on #2442
It is enabled.

[2019-05-13 16:13] ramya-rao-a commented on #2442
Alright then! Update the language server (`Go: Install/Update Tools` -> select `gopls` -> press ok), reload vs code, and the pasting/formatting issue should go away

[2019-05-13 16:32] mwat56 commented on #2442
@ramya-rao-a: Well, I did it from the command-line as @stamblerre  suggested. And I switched `go.useLanguageServer` to `on` again. So far no problems. I'll let you know if something noteworthy happens ;-)

[2019-05-13 20:36] mick-io opened #2509 "gometalinter has been depreacated. golangci-lint is the suggested replacement"
Just a reminded to update the documentation.

[2019-05-13 20:59] jayconrod commented on #2442
I can confirm these directories are created by the Go command. They should not be left behind unless the `-work` flag is passed (sounds like it's not).

There is a known issue (golang/go#25808) where these directories aren't cleaned up when the Go command exits because of an internal error.

If you're able to reproduce this, and it's not covered by golang/go#25808, please file an issue on golang/g

[2019-05-13 20:59] mick-io opened #2510 "Fix syntax highlighting"
Syntax highlight on Go source files is poor.
Left: Sublime Text 3
Right: Visual Studio Code (stable build)
![Screen Shot 2019-05-13 at 14 56 31](https://user-images.githubusercontent.com/23181878/57653641-d4bffa80-75c1-11e9-9b6e-26f6da16f2c8.png)

[2019-05-14 07:08] JanDeDobbeleer commented on #2505
It would be nice if there's someone smarter than myself who can provide a workaround for this one (if available).

[2019-05-14 07:28] erifan opened #2511 "[Go to definition] is too slow"
Go to definition is too slow, it takes about 2 to 3 seconds, this is simply unbearable.. All of the go tools are installed and works fine. So is some of my configurations wrong?

VSCode Info:
[code]

vscode-go version `0.10.2`

vscode-go settings.json:
[code]

[2019-05-14 09:26] ericshen881027 opened #2512 "Remote debug is super slow to get variables"
[code]

debug setting:
[code]

Steps to Reproduce:

1. set a breakpoint in the local code
2. start the remote dlv server
3. start debug in local machine
4. check the variables in local machine

You have to wait a long time to get parts of variables, the others seem like will never show up. But in Goland it works ok.

[2019-05-14 15:00] slayer opened #2513 "Ctrl-V replaces all content of file"
Hi

I have a problem with `Ctrl-V` - it replaces all content of file with buffer's content

Steps to Reproduce:

1. Install VSCode Go extension
2. Open any .go file
3. Select line, copy it to clipboard (`Ctrl-C`)
4. Paste (`Ctrl-V`)
![out](https://user-images.githubusercontent.com/57521/57708465-101a0200-7672-11e9-86fd-8d9cb618b1af.gif)

How to fix: uninstall vscode-go

[2019-05-14 17:31] toqueteos commented on #2513
Duplicate of #2492

[2019-05-14 17:36] slayer commented on #2513
Close as duplicate

[2019-05-14 17:36] #2513 closed

[2019-05-14 22:25] FiloSottile opened #2514 "Add go tool directory to PATH when invoking tools"
With go/packages, tools need to shell out to the go tool to do their job. It's important that this go tool is the same go tool used by the rest of the editor (which might be based on alternateTools, GOROOT, or PATH, see #1760).

When invoking any tool, the extension should prepend the directory containing the go binary to the PATH environment variable, so the tool will use that go binary.

(I init

[2019-05-15 05:58] ramya-rao-a commented on #2509
Thanks for reporting @mick-io
PRs are welcome to update the readme

[2019-05-15 06:00] ramya-rao-a commented on #2510
Thanks for reporting @mick-io
Unfortunately, there is not much this extension can do in this matter.

VS Code (the editor, not this extension) uses the grammar from https://github.com/atom/language-go. the different themes can only add color to differently identified scopes which are done using the grammar.

I would suggest to log an issue in https://github.com/atom/language-go with specific code

[2019-05-15 06:00] #2510 closed

[2019-05-15 06:02] ramya-rao-a commented on #2511
Are you seeing this slow behavior only when using Go modules or event projects that don't use Go modules?

The [new language server](https://github.com/microsoft/vscode-go#go-language-server) `gopls` from Google is known to perform better, especially when using Go modules. Please give that a try

[2019-05-15 06:10] ramya-rao-a commented on #2514
Is this an issue just with staticcheck, or tools in general?
Isn't it a standard that the `go` binary lives in whatever the `go env GOROOT` is pointing to?
If so, then shouldn't tools respect GOROOT first and then look at the path?

[2019-05-15 06:12] erifan commented on #2511
Hi @ramya-rao-a , this is the only case when using Go modules, when the project doesn't use Go modules, it's  much faster. I'll try gopls, thanks.

[2019-05-15 06:25] erifan commented on #2511
When use Language server, "go to definition" fails to work.

[2019-05-15 09:26] firstnoises commented on #2197
I am still seeing this issue with VS Code 1.33.1 and vscode.go 0.10.2.
@krasoffski what is the combination of builds resolved the issue?

[2019-05-15 11:20] quanglewangle opened #2516 "sqs/goreturns won't install"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-05-15 11:20] quanglewangle commented on #2516
Installing 1 tool at /home/peter/go/bin
  goreturns

Installing github.com/sqs/goreturns FAILED

1 tools failed to install.

goreturns:
Error: Command failed: /usr/local/go/bin/go get -u -v github.com/sqs/goreturns
github.com/sqs/goreturns (download)
Fetching https://golang.org/x/tools/imports?go-get=1
Parsing meta tags from https://golang.org/x/tools/imports?go-get=1 (status code 200)
get "golang

[2019-05-15 12:13] lggomez commented on #2444
Yeah, this is still at discussion at microsoft/vscode#72426 but I think this is a two stage bug:

- VSCode not refreshing/cleaning these views in-between debug sessions
- The extension not handling these requests that finish anomalously

I'm not sure on how to diagnose this from the workbench side but I will try to debug the debug adapter and see if I can improve the handling of these scenarios

C

[2019-05-15 12:54] lggomez opened #2517 "Hover actions give multiple contents if more than one provider per action is registered"
I´ve been seeing this behavior for some time but I think it doesn't have an issue filled here

![Screen Shot 2019-05-15 at 09 44 59](https://user-images.githubusercontent.com/6326271/57776810-c9222000-76f6-11e9-9f61-fb96117e0a96.png)

![image](https://user-images.githubusercontent.com/6326271/57776815-cd4e3d80-76f6-11e9-8623-d4b2bfabd484.png)

Steps to Reproduce:

Have both language server and lin

[2019-05-15 14:10] stamblerre commented on #2511
@erifan: Are your `gopls` settings configured according to https://github.com/golang/go/wiki/gopls? Can you share the output logs that can be found by going to "View: Debug Console" -> "Output" -> "Tasks" -> "gopls"?

[2019-05-15 14:23] FiloSottile commented on #2514
This is going to be an issue with any tool based on `go/packages`, which should be all of them eventually.

Using `go env GOROOT` is a bit circular, you have to run `go` to get to `go env GOROOT`, so it's a bit weird to then change the `go` binary afterwards. (Like, do you rerun `go env GOROOT` with the new binary? What if it changes, do you keep going?)

In practice, one should prefer setting PAT

[2019-05-15 23:56] mick-io commented on #2509
I'll take care of it. Haha.

[2019-05-16 02:47] eaglexiang commented on #2502
Sorry I find it's my own fault. Dozens of tabs confused me.

[2019-05-16 02:47] #2502 closed

[2019-05-16 03:46] Owen-igaw commented on #2447
@benweissmann cool, I got troubles with this issue.
My project structure is like below.

- ~/
  - ~/backend
  - ~/frontend
  - ~/logs
  - ~/public
  etc.

(The backend directory is my go module directory. It contains go.mod file)

I think many fullstack developers use such structure, and they would not wanna move their go.mod file to the root of workspace. ( In my case, there are some files like p

[2019-05-16 03:51] erifan commented on #2511
Yes. My configurations:
[code]

The output logs :
[code]

[2019-05-16 13:15] stamblerre commented on #2511
My guess is that it's not working because it looks like you are opening files in the Go project that are located outside of your `$GOROOT`. Can you try it with a project that uses modules?

[2019-05-16 14:29] jerry94test opened #2519 "Can you give me a debug debug configuration file for go model 1.12.5?"
Can you give me a debug debug configuration file for go model 1.12.5?

[2019-05-16 20:05] thekvs commented on #2490
As far as I understand current state we are still waiting for necessary changes in `gopls`. Right?

[2019-05-16 21:52] SteelPhase opened #2520 "Changing package names causes LSP to return error"
Code Version 1.34.0
VSCode-Go 0.10.2
Go version go1.12.5 darwin/amd64
Gopls commit: b9584148efcb10d08933a70e48b8f7b0732a1b47

Renaming a package will cause an error from LSP to appear `package package2; expected package LSP [1,1]`

Restarting vscode resolves the issue

Steps to Reproduce:

1. create a simple go package
2. save package
3. change package name
4. error should appear

[2019-05-16 22:01] SteelPhase opened #2521 "VSCode fails to autocomplete import in _test pacakges"
Code Version 1.34.0
VSCode-Go 0.10.2
Go version go1.12.5 darwin/amd64
Gopls commit: b9584148efcb10d08933a70e48b8f7b0732a1b47

When creating a file_test.go file with package `package_test` prevents vscode form being able to autocomplete import package 'package'. This only seems to be the case for a package in the same directory. So my import autocomplete works for everything else.

Example code is

[2019-05-17 03:27] erifan commented on #2511
It's ok on projects use modules. I'm not sure if the Go project uses modules although there's a go.mod file in go/src/, but it indeed doesn't work when using languageserver. And when I don't use languageserver, "Go to definition" is too slow. Is there any good advice for this problem? Thanks.

[2019-05-17 04:50] ramya-rao-a commented on #2490
@thekvs I believe the work in `gopls` is done.

@ianthehat, @stamblerre Is there anything to be done from the vscode go plugin's side (other than updating to the latest gopls) to make this work?

[2019-05-17 04:59] ramya-rao-a commented on #2514
Agreed on the circular reference issue if the suggestion was the tools use `go env` to get the GOROOT, I just assumed that there was a way to get that information without running `go` first

How about the tools using the value set in the environment variable GOROOT? Shouldn't that work? If yes, then you can use the `go.goroot` setting in VS Code. The value passed to this setting is used to set the

[2019-05-17 05:07] ramya-rao-a commented on #2517
The 2 screenshots above are due to 2 different issues...

![Screen Shot 2019-05-15 at 09 44 59](https://user-images.githubusercontent.com/6326271/57776810-c9222000-76f6-11e9-9f61-fb96117e0a96.png)

Do you see this after a VS Code window reload as well? If yes, then this is not related to multiple hover providers registered. Can you disable the `enhancedHover` feature you have in your settings and

[2019-05-17 05:09] ramya-rao-a commented on #2442
Thanks @jayconrod

Closing this issue as all relevant concerns have been addressed

[2019-05-17 05:09] #2442 closed

[2019-05-17 05:40] thekvs commented on #2490
I am asking because I've updated to the latest gopls but nothing seems to have changes in VSCode's behavior. Do I need to tweak some settings?

[2019-05-17 06:23] #2519 closed

[2019-05-17 08:34] marcelloh opened #2522 "save (ctrl + s) looses focus in editor, make it go to the start location (line 1 char 1)"
Steps to Reproduce:

1. edit a big go file
2. Scroll a bit down
3. the package line should not be visible at this point
4. add an extra space or something
5. save
6. press a key (like 'a')
7. now the a is printed in front of the file
8. you now see apackage

The expected behavior is that the cursor is at least somewhere around where I left it,
when I pressed ctrl-s

I work with gopls (so perhaps t

[2019-05-17 17:49] FiloSottile commented on #2514
In general, almost no one should be setting the GOROOT env var anymore. The go tool knows the path at which it was built, and uses that as the default GOROOT. That’s why you need to invoke the tool to learn it.

Thinking about it, the right way to solve this issue is to discourage use of “go.goroot” or even remove it. Instead there should be a way of setting PATH for both the extension and tools,

[2019-05-17 18:57] ramya-rao-a commented on #2514
I was digging around the code and found that we were already appending the value of GOROOT (as defined by env variable or the go.goroot setting) + `/bin` into the PATH variable when shelling out Go tools. We did this because `cgo` expected the go binary to be in the PATH, exactly the same issue as you are seeing.

I have updated this to instead use whatever is the path the extension uses to run th

[2019-05-17 19:20] karim opened #2523 "Keep function signature separate from completion item label"
Auto complete looks different when language server is turned on.

`settings.json` file:

[code]

![vscodego1](https://user-images.githubusercontent.com/8761081/57950740-65f7df80-78e8-11e9-9aff-a72e2aab00d9.jpg)

Disabling language server gives me this

![vscodego2](https://user-images.githubusercontent.com/8761081/57950979-1fef4b80-78e9-11e9-92d9-f0f16115dc99.jpg)

Is there any option to use the l

[2019-05-18 05:12] #2488 closed

[2019-05-18 05:12] #2495 closed

[2019-05-19 11:12] #2494 closed

[2019-05-19 17:49] offero commented on #1746
Now that I think about it, this should be contributed in a place where it can be used from multiple launch configurations such as node also.

[2019-05-19 20:50] gartnera commented on #2486
Can we reopen this? It's happening to me too under the same conditions (Ubuntu 19.04) with both vscode and go installed via snap?

I suspect it's something to do with snap confinement. After setting `go.gopath`, the analysis tools fail to install automatically inside vscode. I can manually `go get` them from my terminal.

[2019-05-19 22:53] smy20011 opened #2525 "VSCode removes the character right after auto complete point when language server enabled."
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-05-20 05:42] ramya-rao-a commented on #2486
@gartnera Can you follow the steps that @galgalesh went through above and share your findings as well? I believe this is particular to snap as well, but I don't have the the right environment to get a repro.

But I can help figure out the root cause if you are willing to look into the source code like @galgalesh did above

[2019-05-20 05:46] ramya-rao-a commented on #2520
Restarting VS Code forces a restart of the language server which might explain why things work afterwords.

@SteelPhase Can you share all the Go related settings you might have added/changed?

@ianthehat and @stamblerre, Is this something you would like to have logged against gopls or you expect us to send the language server some kind of indication that the package name as changed?

[2019-05-20 05:49] ramya-rao-a commented on #2521
Please share a few more details
- The folder structure for the above case (which file lives where, where is go.mod)
- Which folder is opened in VS Code
- Any Go related settings you might have added/changed
- Any output from the output panel that might be related. `View` -> `Output` -> Select `gopls` or `Go` from the drop down

[2019-05-20 05:50] ramya-rao-a commented on #2522
Do you mean at the beginning of the file? Is it on the first line?
Can you share all the Go related settings you might have changed or added
Also share if you are using Go modules or not

[2019-05-20 07:25] marcelloh commented on #2522
Do you mean at the beginning of the file? Is it on the first line? : yes
(I did mention you now see apackage, and before package was of course the first word...)
Did you actually try this yourself?

Go modules: yes

Go related settings (I don't know what go-vscode uses, so I do them all)
[code]

[2019-05-20 07:54] tkvw commented on #2490
I am facing the exact same issue. Using a monorepo with different languages. Any update? Something I can do?

[2019-05-20 09:36] daleyshek commented on #2522
I have the same problem

[2019-05-20 11:45] henrahmagix opened #2526 "high-cpu go processes when saving in Live Share session"
This extension is trying to list all files at `/` when I save code in a Live Share session (that I joined). I guess the working directory isn't being shared correctly?

Should we always turn off auto tests/coverage on save when in a Live Share session, i.e. the code is hosted on a different computer?

Required extension settings:
- run tests on save
- run coverage on save

Steps to Reproduce:

1.

[2019-05-20 11:59] marcelloh commented on #2522
perhaps you can show too what your configuration is, so they can look for similarities

[2019-05-20 12:37] tamayika opened #2527 "go.vetFlags does not support ${workspaceRoot}"
I'm using custom go analyzer using https://godoc.org/golang.org/x/tools/go/analysis and https://godoc.org/golang.org/x/tools/go/analysis/unitchecker.
In command line, I can execute like below.

[code]

I also want to use mytool in vscode-go extension, but vscode runs `go vet`  in package dir, so I must set absolute path like below.

[code]
However "go.vetFlags" does not support `${workspaceRoot}`,

[2019-05-20 14:25] SteelPhase commented on #2520
I trimmed down my workspace, and tested this with the settings here [gopls vscode](https://github.com/golang/go/wiki/gopls#vscode)

My settings, and the default settings I'm using below produced this issue. I tried it as a no go-module, and as a go-module outside the GOPATH.

- Only vscode-go extension enabled

settings.json
[code]

[2019-05-20 14:44] SteelPhase commented on #2525
I can confirm similar behavior, not sure if it's also related, but I have times where autocomplete doesn't actually insert any text at all after pressing tab.

[2019-05-20 14:49] ianthehat commented on #2520
This is just a gopls bug, I have refiled it as an issue in our tracker.

[2019-05-20 14:53] SteelPhase commented on #2520
@ianthehat is there a better way for me to determine vs-codego/gopls issues. I've been wary about opening these already because I have no great way to tell.

[2019-05-20 19:00] ianthehat commented on #2520
Not really, the boundaries between gopls and the editor hosts are very complex, and intended to be invisible to the user, which also makes it hard to decide where to file the bug. In general I think you can file a bug in either project and we will try to make sure it goes to the right person, I would err on the side of assuming it is gopls unless you have a reason to think otherwise.

[2019-05-20 19:56] stamblerre commented on #2522
This is a known issue with `gopls`: https://github.com/golang/go/issues/31937. Current workaround is adding `"files.eol": "\n"` to VSCode settings.

[2019-05-20 20:06] stamblerre commented on #2525
/cc @muirrn

Looks like this is a result of https://go-review.googlesource.com/c/tools/+/177757. Maybe we should be checking for an enclosing function call before determining the postfix?

[2019-05-20 21:58] muirrn commented on #2525
Should be fixed now on master. Sorry about that!

[2019-05-20 22:51] stamblerre commented on #2501
After some discussion on https://github.com/golang/go/issues/31937, we've suggested that `gopls` users used LF line endings (add the setting `"files.eol": "\n"` to your VSCode settings).

[2019-05-21 03:20] daleyshek commented on #2522
I've solved this problem by closeing go extension setting Go:Use Language Server.

ctrl+shift+x, on the Go extension right click, chose Configure Extension Settings.

scroll at the bottom of this page, find the Go:Use Language Server, uncheck and then reload.

it is usefull to me. when I turn on Go:Use Language Server, the problem was occurred agian.

May be help.

[2019-05-21 10:09] marcelloh commented on #2522
I have the ```"files.eol": "\n"``` settings now, but without any luck. Still the first thing typed after a cltr-s comes up as the very first character in the file (so: before package)

[2019-05-21 13:51] haggen commented on #2490
@tkvw For now I'm opening each directory as its own workspace but in the same window (i.e. `code -a ...`). It still is a nuisance but it's a minor one and it got everything working again.

[2019-05-21 14:06] tkvw commented on #2490
@haggen: I'm doing the same (own workspace), not sure what `code -a` does for me? I need to do some window reloads after adding an import, so it feels buggy; but seeing gopls and modules is a relatively new; I am happy I can get some work done :+1:

[2019-05-21 14:13] haggen commented on #2490
@tkvw Assuming you're launching Code from the Terminal:

[code]

[2019-05-21 14:28] tkvw commented on #2490
@haggen : yeah I can read the command help :smile: , still not sure what is does?

[code]
What I am currently doing is:
[code]
Problem is that I need to maintain two `.vscode` settings this way.

[2019-05-21 14:36] SteelPhase commented on #2525
I'll keep an eye on this behavior, but the fix does appear to solve the issue.

[2019-05-21 17:37] stamblerre commented on #2522
You will have to make sure that the line endings in your file actually changed from LF to CRLF. You also may have a git configuration that automatically changes the line endings. I think you will find that if you create a new file, it will work correctly.

[2019-05-21 19:06] stamblerre commented on #2511
I think that this only happens if you clone the Go project into a second place outside of your `$GOROOT`. Filed https://golang.org/issue/32173.

[2019-05-22 04:25] RifeWang commented on #1133
![屏幕快照 2019-05-22 上午11 47 17](https://user-images.githubusercontent.com/20348639/58147250-3819ee80-7c8c-11e9-8159-753067c0452a.png)

The result of `GO: CURRENT GOPATH` is defferent with `go env` in my zsh .

[2019-05-22 06:43] yanivpaz1973 commented on #926
I tried the links above but still cant add breakpoints for my go code

[2019-05-22 06:52] ramya-rao-a commented on #2511
@erifan Is your issue only when using Go to definition on symbols from the standard library?

[2019-05-22 06:56] ramya-rao-a commented on #2490
@ianthehat, @stamblerre, What do you need from the extension's side to make this work?

[2019-05-22 06:57] ramya-rao-a commented on #2520
Looks like the upstream issue is closed.
@SteelPhase Can you ensure you have the latest version of `gopls` and try again?

[2019-05-22 07:05] ramya-rao-a commented on #2521
Since this is an issue with auto completion when using `gopls`, it is definitely an issue with the language server.
@stamblerre, @ianthehat  Do you have any insights here?

[2019-05-22 07:09] ramya-rao-a commented on #2527
Its not difficult

You see the support for $workspaceRoot for just the config flag in the lint flags. The same can be done for `-vettool` as well.

PRs to add this feature are most welcome.
Code Pointers:
- [Build and Debug the extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- goVet

[2019-05-22 07:11] ramya-rao-a commented on #2525
Thanks everyone, closing this issue as the latest `gopls` has the fix

[2019-05-22 07:11] #2525 closed

[2019-05-22 07:14] ramya-rao-a commented on #2523
This would require change from the language server.

@stamblerre You can get the above behavior by
- Setting the `detail` property of the completion item with the function signature instead of appending the signature to the `label`
- Adding the documentation in the resolveCompletionItem request

I believe you already have an issue to track the second point above. Would you consider making the firs

[2019-05-22 07:16] ramya-rao-a commented on #2516
Are you able to install using `go get -u github.com/sqs/goreturns`? If that also returns the same errors, the please log an issue at https://github.com/sqs/goreturns

[2019-05-22 07:30] erifan commented on #2511
No, the issue occurs when Go to definition to any symbols. Of course I didn't test all the symbols, I tried some Go API functions and some internal functions, neither worked. It's easy to reproduce, just download the Go project and open it in vscode.

[2019-05-22 09:49] tamayika commented on #2527
thanks for the reply. I'll make a PR

[2019-05-22 09:49] marcelloh commented on #2522
wait? my line endings have to be CRLF? to fix this bug? so everybody that used CR has this problem?
(That's about 2/3rd of all operating systems.) And if I do that, I can undo it when the bug is solved?
hahahaha, my watch mentions the year, and it's 2019. No way I'm going down that path. In these times, such a bug should be solved before throwing this at us.

[2019-05-22 09:54] marcelloh commented on #2522
hey Rebecca, I think your explanation is almost correct, but when the file is LF, it seems to work, and when I have a CRLF based file, it jumps to the beginning. (I can fix those, because they are a minority in my files.) So I know what to do to solve it :-) 👍

[2019-05-22 12:00] SteelPhase commented on #2520
There still appears to be a problem. I have to save, and then do anything(like add a space) before the error goes away. I feel like it doesn't resolve the 'package test; expected api' until after the document is saved. I'm going to guess that vscode has a method of provided the unsaved document/changes to gopls, and the fix doesn't work with that.

[2019-05-22 13:07] gie777 opened #2529 "vs Insiders linux go gofmt err"
vs Insiders  linux go gofmt err
Unable to format code automatically

[code]
vs set
[code]

[2019-05-22 13:38] jgrigg2017 commented on #2529
Does it work when you roll back the version to 0.9.2?

[2019-05-22 14:12] jgrigg2017 commented on #2529
I had the same pr similar problem on Linux Mint... gofmt was formatting on save perfectly for months, then just stopped working the other day. After playing around with for a while, I realized that my unit tests had stopped working as well with an error like: ` stdlib.h: No such file or directory`

The fix for me was to run `sudo apt-get install g++`
Now my tests and format on save work properly.

[2019-05-22 14:22] gie777 commented on #2529
invalid ..........not auto format

[2019-05-22 14:33] SteelPhase commented on #2500
`BaseLanguageClient` exposes a `start()` method, and `LanguageClient` exposes a `stop()` method. I'm assuming a command could use those to restart the underlying language server. Would anyone be willing to confirm that?

[2019-05-22 17:14] quanglewangle commented on #2516
It's solved it I am slightly ashamed that I am not quite sure how I did it. One thing I did notice was that three or four of the files in tool directory did not have execute permission. Once I did chmod +x it all worked.

[2019-05-22 17:33] virtuald opened #2531 "documentation: gopls does not support go <= 1.10"
Reference: https://github.com/golang/go/issues/31693

Please update the wiki/settings documentation to note that the language server isn't supported for go <= 1.10.

[2019-05-22 18:05] stamblerre commented on #2523
I think I'd like to wait to hear if others would want such a change before making it. I have not gotten this feedback from anyone else yet, so I'd be interested to hear how others feel first.

[2019-05-22 18:07] stamblerre commented on #2511
I was using the term "standard library" interchangeably with "Go project", so I think the upstream issue I filed should be enough to track this.

[2019-05-22 18:19] stamblerre commented on #2520
Thanks for the update. Re-opened the issue and will continue investigating.

[2019-05-22 19:33] stamblerre commented on #2490
I think this is similar to the issue with having to add a workspace root for each module - we use the root URI passed in by VSCode to hand to `go list`. Possibly, VSCode-Go could detect that there is a subdirectory containing Go code and pass a different root URI?

[2019-05-22 19:39] SteelPhase commented on #2521
I understand. vscode usually autocompletes the `"example"` import as well, and that's what the core issue is. it appears gopls doesn't consider example as a valid path to import and just doesn't.

[2019-05-22 20:45] chespinoza commented on #1950
Hi, are there some news about this issue? Thanks.

[2019-05-22 21:04] tylerb commented on #1950
As it stands now, I'd say this feature/functionality is going to be/has been made obsolete by the new `gopls` language server system. @ramya-rao-a thoughts?

[2019-05-23 00:57] erifan commented on #2511
@stamblerre Thanks.

[2019-05-23 08:06] wuchujiecode opened #2532 "The gopls server crashed when create new file"
I found a gopls bug. When I need to create a new file.  gopls will be closed.

here is my golang setting

[code]
1. When I create a new file   xxx.go
2. vscode outline will loading.
3. Because the file is news.  there are nothing.
4. then vscode show me `The gopls server crashed 5 times in the last 3 minutes. The server will not be restarted.`

![WeChatc4627308c03f4d39e8e0f25027b597c3](https://use

[2019-05-23 08:07] wuchujiecode commented on #2532
You can see  request.go  just create and its empty..
Then gopls will be down.

[2019-05-23 14:51] bmhatfield opened #2533 ""Go To Definition" not working within module"
Hi,

I've recently added a `go.mod` and `go.sum` to my project, and moved the project out of the `$GOPATH` (as a means of turning on modules). I also totally wiped my gopath clean to ensure stale stuff was not left behind. I've also subsequently rebooted (related to an OSX update). I'm using `gopls` via the checkbox in settings.

I'm on `go version go1.12.5 darwin/amd64`.

In general things are wo

[2019-05-23 15:26] stamblerre commented on #2533
What version of `gopls` are you using? You can determine this by running the `gopls version` command.

[2019-05-23 15:30] stamblerre commented on #2532
I am not able to reproduce this error. What version of `gopls` are you using? You can check by running the `gopls version` command.

[2019-05-23 15:30] bmhatfield commented on #2533
hrm, something seems wrong here:

[code]

I installed `gopls` via VSCode's `install/update tools` list when I was in a modules context (ie, in a repo outside the `GOPATH`.

[2019-05-23 15:37] bmhatfield commented on #2533
I reinstalled `gopls` via `go get -u golang.org/x/tools/cmd/gopls`, however I am unfortunately seeing the same results - I can code navigate into a module, but once I am there, I can't make the next hop.

[code]

[2019-05-23 15:46] stamblerre commented on #2533
Filed https://github.com/golang/go/issues/32209 upstream. Do you mind adding a repro case to that issue?

[2019-05-23 16:18] wuchujiecode commented on #2532
@stamblerre
Hmm...I found the proplem.
When I create new file  like main.go
Then vscode outline will loading more then 5 times..but main.go was empty..so more than 5 times later.
`gopls` will be down..

BTW I think vscode outline loading is normal.  But after loading failed. it will be always loading more again. then will be `The gopls server crashed 5 times in the last 3 minutes. The server will

[2019-05-23 16:38] SteelPhase opened #2534 "It appears that gopls should be installed with module support"
vscode 1.34.0
vscode-go 0.10.2

`gopls version` returns `no module information, gopls not built in module mode` when installed by vscode. it appear that `GO111MODULE` must be set to `on` for gopls to be built with version info.

Should vscode-go force `GO111MODULE` to `on` when installing `gopls`?

Note: I do not have `GO111MODULE` set to `on` by default in my current environment.

[2019-05-23 16:45] SteelPhase commented on #2534
You can see some of the confusion this can cause here. https://github.com/microsoft/vscode-go/issues/2533#issuecomment-495268293

[2019-05-23 18:05] stamblerre commented on #2534
I don't think that should be necessary. It just sounds like we should improve the output of the version command. I don't think it's a good idea to mess with people's configurations, and then this problem will go away once `GO111MODULE` is on by default in future Go versions.

[2019-05-23 18:08] stamblerre commented on #2532
Yes, VSCode does try to reload the server a maximum of 5 times if it crashes. However, I am not able to reproduce the crashing behavior with the latest version of `gopls`. Please update your version of `gopls` to the latest version by running `go get -u golang.org/x/tools/cmd/gopls`.

[2019-05-23 18:47] SteelPhase commented on #2534
That's a fair point, just thought I'd offer it up. I'm not sure there are a whole lot of options when it comes to go get and versioning. I was impressed that it worked with modules on.

[2019-05-24 00:46] karim commented on #2523
@stamblerre I think the second picture is a clear win here. The first one only shows the function signature. It truncates it even if it is a bit long, and no documentation.

The second one shows the full function signature and its documentation. Also it is the default for VS Code when the language server is off.

I'm fine with waiting till a decision is made.

Thanks. :+1:

[2019-05-24 01:24] satishvaltix opened #2535 "Clicking on function in outline view doesn't jump to function"
Issue Type: <b>Bug</b>

I am seeing this issue with the Code Insiders build, and using the remote-ssh extension to edit files on a remote host.

Clicking on the first function in the outline view doesn't directly jump to the function. Clicking on another function and coming back to the first function works.

Extension version: 0.10.2
VS Code version: Code - Insiders 1.35.0-insider (94f7de61ece171f

[2019-05-24 02:00] wuchujiecode commented on #2532
@stamblerre  Thank you!
I updated gopls...fix the problem.

[2019-05-24 02:00] #2532 closed

[2019-05-24 02:29] ramya-rao-a commented on #2511
Thanks @stamblerre

Closing this issue in favor of the upstream issue

@erifan Please subscribe to the upstream issue. Once it is fixed, update your version of the language server

[2019-05-24 02:29] #2511 closed

[2019-05-24 03:11] ramya-rao-a commented on #2520
Closing this issue in favor of https://github.com/golang/go/issues/32149
Please subscribe to the upstream issue

[2019-05-24 03:11] #2520 closed

[2019-05-24 03:11] ramya-rao-a commented on #2516
No problem at all, Happy Coding!

[2019-05-24 03:11] #2516 closed

[2019-05-24 03:12] ramya-rao-a commented on #2522
Closing this issue in favor of https://github.com/golang/go/issues/31937
Please subscribe to the upstream issue

[2019-05-24 03:12] #2522 closed

[2019-05-24 03:21] #2527 closed

[2019-05-24 03:27] ramya-rao-a commented on #2527
Your changes are in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension. Can you try it out and confirm that the fix works as expected?

[2019-05-24 03:28] ramya-rao-a commented on #2521
Ah! Looks like this is something that the Go extension is doing independent of `gocode`.

I have pushed a change to do the same even when the language server is being used.
@SteelPhase Can you try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension and see if the issue is resolved?

[2019-05-24 03:30] ramya-rao-a commented on #1950
That is true. When the `diagnostics` feature of the new language server `gopls` is enabled, it provides diagnostics on type.

Module users are suggested to use the language server already.

Can somebody here try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension. Here, the `diagnostics` feature of the language se

[2019-05-24 04:06] #1919 closed

[2019-05-24 04:07] ramya-rao-a commented on #2534
When running `go get`, the extension intentionally turns off `GO111MODULE`. This change was made as part of #1919

@stamblerre Do you think that we no longer need to do this?

[2019-05-24 04:07] ramya-rao-a commented on #2533
Closing in favor of the upstream issue

[2019-05-24 04:07] #2533 closed

[2019-05-24 04:20] ramya-rao-a commented on #2531
Thanks for reporting @virtuald!
Made changes in https://github.com/microsoft/vscode-go/commit/9655d527548b286fee424983378560ce83adf8a2

[2019-05-24 04:20] #2531 closed

[2019-05-24 04:22] ramya-rao-a commented on #2529
Does manual formatting work? Right-click -> Format Document?

[2019-05-24 09:42] kybom opened #2536 "How to disable function lints when I print parenthesis "()""
os:                   windows10 1903
remote vscode-go:     0.10.2
remote os: ubuntu18.04 server

Function lint appears when I print  parenthesis behind a function,and it  does not disappear unless press ECS.
![GIF](https://user-images.githubusercontent.com/24692485/58318861-36e2f000-7e4b-11e9-992c-9092096c7d01.gif)

[2019-05-24 10:22] tamayika commented on #2527
Thanks for the beta release. I confirmed it works as expected!

[2019-05-24 12:45] SteelPhase commented on #2521
The latest beta does not appear to resolve it.
I just tested on
Go 0.10.3-beta.4

[2019-05-24 17:48] stamblerre commented on #2534
No, I think https://github.com/microsoft/vscode-go/issues/1919 is still an issue. The `gopls version` command is really not important enough to justify changing anything. I will just try to improve the quality of that command.

[2019-05-24 18:10] stamblerre commented on #2521
@SteelPhase: Are you expecting `gopls` to add the import for you automatically, or are you looking to get autocomplete without having added the import?

[2019-05-24 19:09] SteelPhase commented on #2521
It adds the import just fine when not using gopls, and when gopls is on it doesn't work.

[2019-05-25 04:16] deelawn opened #2537 "Gopls is crashing even though langage server set to bingo"
I noticed that since the most recent vscode update the gopls language server crashes repeatedly after launching vscode, even though I have my settings configured to use the bingo language server.  And no, I have not recently (to my knowledge) changed any vscode settings.

Here are my settings:
[code]

And the error trace:
![Screen Shot 2019-05-25 at 13 08 38](https://user-images.githubusercontent.

[2019-05-25 04:31] deelawn commented on #2537
embarassed

[2019-05-25 04:31] #2537 closed

[2019-05-25 08:25] shynome commented on #2500
@SteelPhase  Thanks your help

[2019-05-25 15:07] yh1125 opened #2538 "cannot load package"
Issue Type: <b>Bug</b>

When I write code with the go plugin, the package main statement shows the error "cannot load packages:package _/d_/go_ws/src:cannot find package "_/d_/go_ws/src"in any of
E:\go\src\_\d_\go_ws\src(from $GOROOT)
D:\go_ws\src\_\d_\go_ws\src(from $GOPATH)"
Go env shows my GOPATH as D:\go_ws
But the program can compile normally, did anyone meet this problem before?
(I am new to

[2019-05-26 00:39] gie777 commented on #2529
No formatter for the "Go" file is currently installed.

Visual Studio Code - Insiders  is err
but Insiders   config
``
    "go.formatTool": "gofmt",
  "go.gopath": "/root/gocode",
    "go.goroot": "/usr/local/go",
``
Visual Studio Code  is success

[2019-05-26 02:03] sryze opened #2539 "Issue with symbolic links"
There seems to be a problem with using symbolic links in project path and GOPATH:

If the path to your currently open Go file contains symlinks, none of the breakpoints are hit because the debugger can't find the source files.

Steps to reproduce:

1. Set GOPATH to some path containing a symlink:

[code]

`$HOME/Projects` is a link to another directory here, in my case it points to `/datax/Project

[2019-05-26 02:13] sryze commented on #1938
I think I have the same problem: https://github.com/microsoft/vscode-go/issues/2539

[2019-05-26 02:40] #2538 closed

[2019-05-26 11:32] someone235 opened #2540 "Can't see errors from failed test"
Hi, I have this version of VSCode:

    Version: 1.34.0
    Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
    Date: 2019-05-15T21:55:35.507Z
    Electron: 3.1.8
    Chrome: 66.0.3359.181
    Node.js: 10.2.0
    V8: 6.6.346.32
    OS: Linux x64 4.15.0-50-generic snap

And Go extension v0.10.2.

Whenever I run this test:

    package hello

    import "testing"

    func TestFoo(t *testing.T) {

[2019-05-26 11:41] gie777 commented on #2529
解决了,linux下区分大小写,
vsgo 默认关联的 "go" 改成GO就要可以了

[2019-05-26 11:41] #2529 closed

[2019-05-26 11:56] gie777 commented on #2529
add      "files.associations": {
        "*.go": "go"
    },

[2019-05-26 15:58] DeXtmL opened #2541 "Version mismatch: fail to launch debug with delve 1.2.0"
I get this error when trying to launch the debug:
**API server listening at: 127.0.0.1:23552
could not launch process: executables built by Go 1.11 or later need Delve built by Go 1.11 or later
Process exiting with code: 1**

tools versions:

Go:
go version go1.12.5 windows/amd64

Delve:
Delve Debugger
Version: 1.2.0
Build: $Id: 068e2451004e95d0b042e5257e34f0f08ce01466 $

My system only has one Go

[2019-05-27 06:12] #2486 closed

[2019-05-27 14:14] PhamThinh270796 opened #2542 "Go to definition does not work on ruby."
Ctrl + Click or F12 (Go to definition) is not working on my **.rb** file or any class, variable that I want to jump to.

[2019-05-28 02:00] pseudo-su opened #2543 "go.alternateTools not able to use relative paths or variable substitutions"
I'm not sure if this is a feature request or a bug. I want to use `go.alternateTools` to specify a binary to execute relative to my workspace folder.

This works:
[code]
These don't:
[code]

Steps to Reproduce:

1. `git clone --branch bug/vscode-go-alternate-tools git@github.com:pseudo-su/golang-service-template.git`
2. Ensure `golangci-lint` is not available in PATH (so `vscode-go` doesn't fall-b

[2019-05-28 09:30] YumingHuang commented on #2487
{
  "go.alternateTools": {
    "go-langserver": "bingo"
  },
  "go.languageServerExperimentalFeatures": {
    "format": true,
    "autoComplete": true
  },
  "go.useLanguageServer": true
}

[2019-05-28 18:18] hummerd commented on #2542
This is because this extention is for Go language. You probably looking for https://github.com/rubyide/vscode-ruby

[2019-05-29 00:34] nitishm opened #2545 "Autoimport with language server not rendering/executing changes on editor [vscode insiders]"
I am seeing an issue with auto imports in vscode-insiders while using the vscode-remote server.
The debug output from gopls shows the autoimport `codeAction` for `cert-manager/pkg/cert-helper` (seen in logs as `..."newText":"\t\"cert-manager/pkg/certhelper\"\n"...`) but it does not execute the action on the edition (the autoimport never occurs)
I do not see any issues with autocomplete though.

**

[2019-05-29 00:42] nitishm commented on #2545
Funnily enough if I hover over the error for a few seconds it suggests `Organize All Imports` under the Lightbulb and that successfully adds the extra import line.

[2019-05-29 16:16] bhenderson opened #2546 "promptForTags also prompt for transform"
Hi, I was hoping for a way for Go: Add Tags to prompt for the transform parameter. I often want to switch between camelCase and snake_case even within the same project.

I was thinking that if go.addTags.promptForTags is true, it would also prompt for the transform parameter.

I can't find the current version of the plugin. "0.10.2 - 30th April, 2019" is at the top of the changelog.

thanks,

[2019-05-29 17:39] nportas commented on #1950
I've installed gopls and still I have a non-recognized import. Any ideas?

[2019-05-29 18:01] stamblerre commented on #2523
Documentation is a separate issue, and it's something we will definitely add in `gopls`, so that will be there either way. The question is really should we have the signature in the label - I'm not sure.

I agree that it looks cleaner without, but I think there's a benefit to immediately distinguishing between a function and a variable or type. In VSCode's UI, it does look nicer in the second pict

[2019-05-30 06:13] ramya-rao-a commented on #2546
That's a valid request. PRs are welcome to add the feature to prompt for transform when `go.addTags.promptForTags` is set to `true`

Code Pointers:
- [Set up local dev environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- `getTagsAndOptions()` function in `goModifytags.ts` file is the place to make the change.

[2019-05-30 06:20] ramya-rao-a commented on #2545
@stamblerre Does the logs help in figuring out why the code action wasn't applied?

@nitishm Can you share a screenshot of the light bulb feature you were referring to?

[2019-05-30 06:27] ramya-rao-a commented on #2543
Thanks for reporting @pseudo-su
This is a valid request and PRs are welcome.

Code Pointers:
- [Set up local dev environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- `getBinPathWithPreferredGopath()` function in `goPath.ts` file is the one that needs to be updated.
- In VS Code, the extension and the debug adapter regis

[2019-05-30 06:34] #2542 closed

[2019-05-30 06:36] ramya-rao-a commented on #2541
Can you try updating your version of delve?
- Run the command `Go: Install/Update Tools`
- Select `delve`
- Press Ok
- Ensure that it gets updated successfully
- Try debugging again

[2019-05-30 06:40] ramya-rao-a commented on #2536
That looks like a bug. Can you please share the entire contents of the file that you used above?
Please also share any go related settings that you might have added or changed.

While we try to look into what might have caused this, you can disable this feature by using the setting `editor.parameterHints.enabled`

[2019-05-30 07:01] kybom commented on #2536
It works ,thansk.
The entire contents of the file below:
[code]

Go related setting is default.
May be about parse() function?
![QQ截图20190530150024](https://user-images.githubusercontent.com/24692485/58614721-cffe8480-82eb-11e9-8355-48ac805b8181.png)

[2019-05-30 08:25] zom-pro opened #2547 "Highlighting, linting and errors do not work when Golang is installed using snap (ubuntu)"
After installing golang using snap, no errors where shown on VSCode (code tab or output section when choosing Go).

This issue was solved by uninstalling the snap and installing golang using apt.

Steps to Reproduce:

1. Install golang using snap (rather than apt or source)
2. Install plugins and configure as required in VSCode
3. No errors are shown and the output console build command shows no e

[2019-05-30 12:22] raymondjolly commented on #2407
I provided additional information to this issue more than a month ago. Has there been any progress?

[2019-05-30 12:44] nitishm commented on #2545
@ramya-rao-a
<img width="1021" alt="Screen Shot 2019-05-30 at 8 43 54 AM" src="https://user-images.githubusercontent.com/1494003/58633683-2d2c1300-82b7-11e9-99d7-9f8aa77db6d2.png">

Along with the LightBulb I also get a pop-up for `Quick Fix` > `Organize All Imports`.
<img width="1045" alt="Screen Shot 2019-05-30 at 8 32 21 AM" src="https://user-images.githubusercontent.com/1494003/58633608-f48c39

[2019-05-30 14:31] stamblerre commented on #2545
As long as the code actions are being sent with correct filepaths and results, and I don't have any guess as to why they would not be applied. Especially if they work correctly as a quickfix.
@nitishm: Do you have this setting configured?

[code]

[2019-05-30 14:40] nitishm commented on #2545
@stamblerre
My current settings.json for the vscode-remote server is,
[code]

[2019-05-30 15:41] nitishm commented on #2545
@stamblerre

Would vscode-remote behave any differently from a local vscode instance ?

[2019-05-30 16:39] ramya-rao-a commented on #2545
@nitishm Is the path returned by gopls match with what you locally or remote? i.e `/data/nitish_malhotra/personal/cert-manager/cmd/certhelper/main.go`

@stamblerre Does gopls only run code actions on save or do they get registered independently as well like quick fixes? I am trying to confirm that the code action seen via the light bulb is coming from gopls or not

[2019-05-30 16:50] ramya-rao-a commented on #2407
My apologies @raymondjolly, I have been pressed for time and didnt get a chance to dig deeper here. This is especially difficult because I cant replicate the problem on my Windows machine.

Most of the features of this extension are backed by external Go tools. The extensions spawns a child process to run each such tool. My guess is that the problem you are seeing is related to such processes bein

[2019-05-30 17:06] ramya-rao-a commented on #2536
Thanks, now I see it too.

The fix for another related issue is already in our master branch, and that fix will fix this issue too.

Can you please try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension which has the fix? You should be able to enable the feature back and have no issues

[2019-05-30 17:17] nitishm commented on #2545
@ramya-rao-a I should've mentioned this earlier. The screenshot

[2019-05-30 18:13] johnlarfour opened #2548 "gopls not found by extension"
I have notice that if I enable language server in the outline i get "no symbols found in document file.go" and obv language server does not works.
So I tried to add gopls in go.alternateTools but if I type go in the suggestions I don't have gopls.
If i set language server to false, I have symbols in the outline.

I have tried to clear cache and also update all go tools but this does not solve the

[2019-05-30 18:18] #2548 closed

[2019-05-30 23:54] fotonmoton opened #2549 "gopls: strange autocompletion behaviour for function arguments"
Sometimes autocompletion do not insert parentheses and if I add them by hand I can use completion again, inside parentheses. But there are cases when parentheses inserted on tab/enter and completion for arguments stop working, for example, at the end of a function block.

[code]
settings:
[code]

To reproduce:
1. Start typing at the end of a function block
2. Hit tab or enter to get completion wit

[2019-05-31 04:32] jhernandezb opened #2550 "[gopls] : Following links on imports opens the browser"
Steps to Reproduce:

1. Start a project with go modules
2. Configure vscode according to https://github.com/golang/go/wiki/gopls#vscode
3. [a copy of my exact settings](https://gist.github.com/jhernandezb/a2a3b57eb75dfcc6c9dad001d0a6eba6)
3. import a library and try to Cmd+ Click
4. [See example ](https://d1sz9tkli0lfjq.cloudfront.net/items/0y44252T1U3k2y2x1n0H/Screen%20Recording%202019-05-30%20at

[2019-05-31 13:29] admilazz opened #2551 "Go code coverage disappears when typing a character"
The Go code coverage disappears when typing a character. This is implemented in removeCodeCoverageOnFileChange in goCover.ts. I find this very annoying, since I want to run the code coverage and then go through it and update the unit tests to add the missing tests, but as soon as I type a character in the unit test, the coverage information disappears.

I suggest that the code coverage should be r

[2019-05-31 15:10] ignishub opened #2552 "autocomplete on packages doesnt work"
![изображение](https://user-images.githubusercontent.com/1565839/58715317-43c58d80-83cf-11e9-9af7-2f9239a0d9b1.png)

1. Absolutely clean go install on new system
2. New VSCode (Insiders and Stable, Systm and Userspace)
3.  Just installed extension and tools

[2019-05-31 15:14] ignishub commented on #2552
I tires latest beta extension and i have laest go version
go version go1.12.5 windows/amd64

[2019-05-31 18:19] chiniara commented on #2426
I dont know if its related but the same behaviour is happening with me with the Go extensions.
When formatting the cursor jumps to the top or bottom.

[2019-05-31 19:51] OneOfOne opened #2553 "gopls: Message: no room in queue"
Autocompletion stops working and the log gets spammed with that until I restart vscode, killing gopls doesn't help.

[2019-05-31 21:08] stamblerre commented on #2545
@ramya-rao-a: Yep, we add a single "source.organizeImports" code action, as well as individual "quickFix" code actions, so that the user is able to interact with these actions in whichever way they prefer.

[2019-05-31 21:15] stamblerre commented on #2549
Thank you for the detailed issue report! I have just filed an issue upstream for it against `gopls`: https://github.com/golang/go/issues/32375.

[2019-05-31 21:22] stamblerre commented on #2553
This is an upstream `gopls` issue that we are currently investigating: https://github.com/golang/go/issues/32368.

[2019-05-31 21:49] stamblerre commented on #2550
This an intentional feature of `gopls`. In the next release of VSCode-Go, you should be able to disable this feature by configuring `"documentLink": false` in your `"go.languageServerExperimentalFeatures"`.

[2019-05-31 22:36] jhernandezb commented on #2550
Makes sense, I'm closing it

[2019-05-31 22:36] #2550 closed

[2019-05-31 23:44] nitishm commented on #2545
@ramya-rao-a

It matches the remote path.

[2019-06-01 00:36] ignishub commented on #2552
i made it work BUT when i initialized go modules in this folder. It is required to to initialize go modue in non GOPATH directory to import standart packages and have autocompletion for them?

[2019-06-01 03:09] DeXtmL commented on #2541
That works

[2019-06-01 03:09] #2541 closed

[2019-06-01 20:06] johan-lejdung commented on #2490
I were just about to post an issue on either gopls or this Github.

What's the status on this so far @ramya-rao-a and @ianthehat?

[2019-06-01 21:19] ignishub opened #2554 "Language server error"
![изображение](https://user-images.githubusercontent.com/1565839/58753682-e9f6bd80-84cb-11e9-8b0d-72ac93871b70.png)

LSP thinks that main is not a part of a package. I use go module initialized.

go 1.12.5 windows

[2019-06-01 23:37] ramya-rao-a commented on #2545
@stamblerre Any way to differentiate quick fix code actions vs code action on save from the logs? If yes, then maybe @nitishm can try again and share the logs for the save action specifically

[2019-06-01 23:39] ramya-rao-a commented on #2426
@chiniara   Are you using the language server? Can you share your Go related settings that you might have added/changed

[2019-06-01 23:46] ramya-rao-a commented on #2523
@stamblerre VS Code also allows showing the label on the left and the detail on the right

![image](https://user-images.githubusercontent.com/16890566/58754760-5fdb3480-848c-11e9-8e4f-34ca2fd21fd7.png)

The decision to display data should be left up to the editors. The language servers follow the protocol and provides data appropriately. The `CompletionItem` interface has the below main parts
- la

[2019-06-01 23:47] chiniara commented on #2426
Yes i am using the language server with these configurations :
`"go.lintOnSave": "file",
    "go.useLanguageServer": true,
    "go.languageServerExperimentalFeatures": {
        "diagnostics": true // for diagnostics as you type
    },
    "[go]": {
        "editor.snippetSuggestions": "none",
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.organizeIm

[2019-06-01 23:47] ramya-rao-a commented on #1950
@nportas Your case seem to be unrelated to the issue at hand here. Please log a new issue with screenshots of the problem along with your Go related settings

[2019-06-01 23:52] ramya-rao-a commented on #2426
- Please ensure you are on the latest version of VS Code (1.34) which has the upstream fix
- Please ensure you have the latest version of the language server. Run the command `Go: Install/Update Tools`, select `gopls`, press Ok and try again
- If you still see the issue, try disabling the language server (set `go.useLanguageServer` to `false`), reload VS Code, and try to replicate the issue. If yo

[2019-06-01 23:55] ramya-rao-a commented on #2490
@stamblerre I believe we need an issue in gopls for this. In order to support mono repo with multiple Go projects (each a separate module), `gopls` need to dynamically change its context of "module" everytime a file from a different module is opened

[2019-06-02 17:10] engineeror commented on #2552
Same exact problem on Arch Linux.
Sadly, there isn't a FLOSS editor for Go with typing suggestions and hover information. I've no idea what the Go language server is for, if I can't tell the difference between `"go.useLanguageServer": true` and `"go.useLanguageServer": false`. Also, [the extension showcase website](https://code.visualstudio.com/docs/languages/go) must be fake or something, as I've

[2019-06-02 20:32] johan-lejdung commented on #2490
I created an issue here: https://github.com/golang/go/issues/32394

[2019-06-03 02:12] ignishub opened #2556 "Saving file causes all my folded blocks to unfold"
go version go1.12.5 windows/amd64

Settings:
[code]

ENV

[code]

[2019-06-03 02:34] dineshkavach opened #2557 "No symbols found in document on macOS Mojave"
Folks,

I am running in to "No symbols found" error on the latest version of vscode go.

Code version 1.34.0
 macOS Mojave 10.14.4

Code reports : No symbols found in document file.go on all the .go files.
Cmd + Shift + o reports: No symbols found

I do have the latest go extendion: https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension

In the problem's window

[2019-06-03 04:51] dineshkavach commented on #2557
I realized it was a problem with my gopath.
The vscode-go works fine once the source is put in the GOPATH. Thanks.

[2019-06-03 04:51] #2557 closed

[2019-06-03 06:12] ramya-rao-a commented on #2549
Thanks for reporting @fotonmoton! Closing this issue in favor of the upstream issue @stamblerre has logged

[2019-06-03 06:12] #2549 closed

[2019-06-03 06:16] ramya-rao-a commented on #2551
Thanks for reporting @admilazz

That is a good suggestion, and PRs are most welcome to make this change

Code Pointers:
- [Set up local dev environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- Update [goMain.ts](https://github.com/microsoft/vscode-go/blob/0.10.2/src/goMain.ts#L319) to invoke `removeCodeCoverageOnFileCha

[2019-06-03 06:22] ramya-rao-a commented on #2552
@ignishub Yes, when your code is outside of the GOPATH, the Go tools need to be aware of the go.mod file to provide the relevant features.

@engineeror Please share the below details of your set up
- Version of Go, VS Code and the Go plugin to VS Code
- Any Go related settings you might have added/changed
- Are you working with Go modules or inside GOPATH or both?

[2019-06-03 06:23] ramya-rao-a commented on #2552
@engineeror Your issue seem to be different from what @ignishub is seeing. @ignishub was able to solve the issue by having a go.mod file in the project.  Please create a new issue with the below details of your set up
- Version of Go, VS Code and the Go plugin to VS Code
- Any Go related settings you might have added/changed
- Are you working with Go modules or inside GOPATH or both?

[2019-06-03 06:23] #2552 closed

[2019-06-03 06:24] ramya-rao-a commented on #2553
Thanks for reporting @OneOfOne
Closing in favor of the upstream issue that @stamblerre has linked above

[2019-06-03 06:24] #2553 closed

[2019-06-03 06:26] ignishub commented on #2552
My issue is still there. Beacause i still need a full initilized module to autocomplete even standart golang modules. So even if i want to write simple dev ops script in just one file or sample script for play.golang.org sandbox, i need full initilized module for this. Even if it just standart libraries

[2019-06-03 06:28] ramya-rao-a commented on #2554
Please share the below details

- all the Go related settings you have added/edited.
- a screenshot of the error in the Problems view or a screenshot of the error when you hover over the red line. This is first let us determine if the language server is indeed being used for diagnostics.
- The folder structure of your Go project along with indicator to which folder is opened as root in VS Code

[2019-06-03 06:30] ramya-rao-a commented on #2556
Can you change the `editor.formatOnSave` and `source.organizeImports` settings that you shared above to `false` and let us know if you still see the same behavior?

This will let us determine if the formatting is causing the problem or something else

[2019-06-03 09:08] karim commented on #2523
I agree with @ramya-rao-a. This should be the editors choice and not the language server.

If the language server separate the signature from the label then any editor can show the label only, or the label and signature together. By combining both you don't give editors any choice.

[2019-06-03 18:27] stamblerre commented on #2545
Yes, the "kind" of the codeActions will be "quickFix" instead of "source.organizeImports".

[2019-06-03 18:28] stamblerre commented on #2426
There is a known issue with this in `gopls`: https://github.com/golang/go/issues/31937.

[2019-06-03 19:18] stamblerre commented on #2523
Ok, we will look into this: https://github.com/golang/go/issues/32414.

[2019-06-04 03:20] ramya-rao-a commented on #2523
Thanks @stamblerre!
Closing this issue in favor of the upstream issue that has been logged

[2019-06-04 03:20] #2523 closed

[2019-06-04 03:22] ramya-rao-a commented on #2426
Thanks @stamblerre

Closing this issue as the original issue with VS Code was fixed with https://github.com/microsoft/vscode/issues/71707 and the issue with gopls and line endings is being tracked upstream

[2019-06-04 03:22] #2426 closed

[2019-06-04 03:24] ramya-rao-a commented on #2552
@ignishub Can you please share your settings so that we can determine if you are using the language server or not?

@stamblerre Is it fair to say that a `go.mod` file is absolutely required for `gopls` to provide completions event for the standard libraries when outside of GOPATH?

[2019-06-04 03:24] ramya-rao-a commented on #2490
Thanks @johan-lejdung
Closing in favor of the upstream issue https://github.com/golang/go/issues/32394

[2019-06-04 03:24] #2490 closed

[2019-06-04 10:06] karim opened #2558 "Set go.toolsGopath automatically to the extension installation folder"
The required tools for the Go extension are installed in `GOPATH` by default. With the removal of `GOPATH` in the next version of Go, where the Go extension will install these tools?

What I understand so far is, `GOPATH`-mode builds will be deprecated, and modules will be used instead, but `GOPATH` environment variable is still being used, for example, to identify the module cache location (`GOPA

[2019-06-04 10:25] aarzilli opened #2559 "No warning when debugging a file that has been modified after starting the debugging session"
1. Debug any program
2. Modify the source code without stopping the debugger
3. Continue using the debugger

There is no warning that the executable being debugged is stale,m now the line numbers reported by the debugger will be nonsensical and behavior of the debugged program will diverge from what would be expected from the source code displayed on screen.

[2019-06-04 10:31] aarzilli opened #2560 "Changing to a different goroutine and executing Step Over goes back to the previous goroutine"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

1. Debug https://github.com/aarzilli/delve_client_testing/blob/master/08gswitch/main.go
2. Click on one of the paused goroutines executing `main.coroutine` in the left column
3. Click Step Over

### Expected:

Cursor moves to the next lin

[2019-06-04 10:35] aarzilli opened #2561 "Can only see the first 64 values of large slices or maps"
1. Debug https://github.com/aarzilli/delve_client_testing/blob/master/12to18vars/main.go
2. Open longslice

I expected to have a way to dynamically load more than just the first 64 elements of the slice but there is none.

[2019-06-04 10:37] aarzilli opened #2562 "Debugger freezes"
1. Debug https://github.com/aarzilli/delve_client_testing/blob/master/20bigstuff/main.go.

I expected a slight slowdown but the debugger should keep working. What happend is that the debugger freezes slowing down the whole system. Possible causes include VSCode-go trying to read the 100MB string, 10 million stack frames or 1 million goroutines. Possibly all three.

[2019-06-04 10:40] alanlal commented on #2551
Hi , I would like to take this one up. :smile:

[2019-06-04 10:49] aarzilli opened #2563 "Stepping fails with 'next while nexting' error"
1. Debug https://github.com/aarzilli/delve_client_testing/blob/master/05nextbp/main.go
2. set a breakpoint on main.go:23
3. continue once
4. set a breakpoint on main.go:12
5. repeatedly hit next

pretty soon you will encounter the 'next while nexting' error.

[2019-06-04 10:52] aarzilli opened #2564 "Debugger reports only one breakpoint when multiple goroutines stop simultaneously"
1. Debug https://github.com/aarzilli/delve_client_testing/blob/master/04simbp/main.go
2. set a breakpoint on main.go:9
3. hit continue repeatedly

I expect that a total of 100 breakpoint hits will be reported but what happens is that many fewer (between 20 and 30 on a 4 core system) will be reported. The reason is that when multiple goroutines hit the breakpoint at the same time only one is report

[2019-06-04 17:44] nitishm commented on #2545
@ramya-rao-a @stamblerre
I tried to get a cleaner capture this time around. Hopefully this helps.
**Logs from `gopls`**
[code]

Screen-capture (file location `/data/nitish_malhotra/cna/cna-cert_ctrl/working/cert-controller/internal/watcher/watcher.go`)
![Screen Shot 2019-06-04 at 1 42 44 PM](https://user-images.githubusercontent.com/1494003/58901280-e4b59080-86ce-11e9-89c3-abf8def3cdee.png)

[2019-06-04 18:52] #2500 closed

[2019-06-04 18:56] ramya-rao-a commented on #2500
The [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the command `Go: Restart Language Server` that can be used to restart the language server. Thanks @SteelPhase!

[2019-06-04 18:57] ramya-rao-a commented on #2551
Go ahead @alanlal!

[2019-06-04 23:10] SteelPhase commented on #2554
This should be related to golang/go#32341

[2019-06-04 23:16] SteelPhase commented on #2521
I just wanted to update this, as it's still an issue. My current assumption is that the import path isn't considered in golang.org/x/tools/imports

Additional logs from gopls with imports Debug = true
[code]

[2019-06-04 23:37] ignishub commented on #2554
Settings

[code]

Screenshot
![изображение](https://user-images.githubusercontent.com/1565839/58920428-ceddb500-873a-11e9-89b5-a39ea53b1cde.png)

[2019-06-05 01:40] ramya-rao-a commented on #2554
Thanks @ignishub, the error is definitely coming from the language server. Does the error persist if you reload VS Code window?

[2019-06-05 01:45] ignishub commented on #2554
Yes its on every project. Even after restarting my PC

[2019-06-05 01:49] ramya-rao-a commented on #2521
@SteelPhase The fix I was referring to was related to getting completions for `example_test` when you type `package` in the test file. This feature was not working before the latest beta version when using `gopls`. I now see that your issue is much more than that.

@stamblerre Would you agree that this is related to https://github.com/golang/go/issues/29979 and further discussions should be moved

[2019-06-05 01:51] ramya-rao-a commented on #2554
Thanks @ignishub
@stamblerre Would you consider this the same as https://github.com/golang/go/issues/32341 or a separate issue?

[2019-06-05 02:21] SteelPhase commented on #2521
i was corrected on the gopher slack channel, and it appears they are unrelated.

[2019-06-05 03:28] ramya-rao-a commented on #2521
Thanks @SteelPhase, closing in favor of the upstream issue https://github.com/golang/go/issues/32440

[2019-06-05 03:28] #2521 closed

[2019-06-05 03:30] #2423 closed

[2019-06-05 03:31] ignishub opened #2565 "Autocompletion of symbols from unimported packages doesnt work with modules"
New error with same name :)
Initilized module. Installed iris package for this module. Completition doesnt work for iris.

![изображение](https://user-images.githubusercontent.com/1565839/58928541-900c2700-875b-11e9-8caf-b9de3b787736.png)
![изображение](https://user-images.githubusercontent.com/1565839/58928600-d3ff2c00-875b-11e9-9ccc-a3712f8dd137.png)

mod file:
[code]

Settings:
[code]

[2019-06-05 03:35] stamblerre commented on #2565
You will first need to add `iris` as an import for the package into your file - `gopls` does not yet work with unimported packages.

[2019-06-05 03:38] ramya-rao-a commented on #2565
@stamblerre If there is an upstream issue for gopls to provide such completions, can you please provide it here so that users can subscribe to it?

[2019-06-05 03:38] #2565 closed

[2019-06-05 03:39] stamblerre commented on #2554
Yes, I think so. I will try to investigate ASAP.

[2019-06-05 03:39] ramya-rao-a commented on #2561
Have you tried changing the `maxArrayValues` in the settings?

[code]

[2019-06-05 05:03] ignishub commented on #2552
I am using language server. As i mention in other issues. Settings was the same. Do i need to duplicate my settings to this thread?

[2019-06-05 05:08] ignishub commented on #2565
Wait. On old version of vscode i dont need to manally insert any package. I just can autocomplete package name. Why do i even need to do manually that kind o things? All information we have on my machine and module file.  This is standart functionality of all code editors.

[2019-06-05 05:08] stamblerre commented on #2552
Yes, for now, it is required to use a `go.mod` outside of `$GOPATH`. Our answer on this may change in the future, but for now, these are the only supported modes. @ignishub: You should be able to write such scripts inside of your `$GOPATH`.

[2019-06-05 05:12] stamblerre commented on #2565
See https://github.com/golang/go/issues/31906. For the time being, when using modules, you will need to add the import. The manual work can be reduced by using `goimports` on save.

[2019-06-05 05:18] SteelPhase commented on #2512
I'm running into this as well, and the remote dlv server is local to my machine running on 127.0.0.1

[2019-06-05 05:30] ignishub commented on #2565
Then i don't understand why vscode suggest to switch to language server when it can't even handle this simple things. No offense of course. I just really don't get it. This language server is still not ready to be recommended to be default autocomplete tool.

[2019-06-05 05:33] stamblerre commented on #2565
The feature that does this in VSCode only works for `$GOPATH` mode. The language server is only used in module mode. Unfortunately, we don't have as much editor support for modules at the moment, as modules are relatively new.

[2019-06-05 05:36] aarzilli commented on #2561
I'm aware of that but I think there should be a way to change this dynamically during a debug session and for a specific variable.

[2019-06-05 05:39] ignishub commented on #2552
@stamblerre  Ok. Got it.

I will be really appreciate if you will consider this idea. Because as you know all devops script need to be on the same comfortable place that you can run anytime. And its really uncomfortable to have separate folder for example/play.golang.org scripts and even save on disc those things. If i want for example to write example to answer to stackoverflow question i just wa

[2019-06-05 08:27] alanlal commented on #2551
Hi @ramya-rao-a

When I try to launch the extension as per the [instructions,](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code) I'm getting the following error in the debug console.

```Activating extension `ms-vscode.Go` failed:  Cannot find module 'c:\Users\alanl\Documents\vscode-go\out\src\goMain'```

The same error pops up in

[2019-06-05 12:47] sguillia opened #2566 "."
Edit: delete

Github does not allow to delete issues. Nice UX. This one was created by accident. Please delete

[2019-06-05 12:49] #2566 closed

[2019-06-05 12:59] sguillia opened #2567 "go.lintOnSave is ignored"
Hi

Steps to Reproduce:

**1.** Put this line in VS Code `settings.json`
[code]

**2.** Put this code in a file called `test.go`
[code]

**3.** Save using `Ctrl+S` default shortcut

**4.** Watch as the code gets linted (`import "fmt"` gets removed because it is unused)

How can I save a file as-is, without linting, without disabling the extension?

I believe I missed something so I apoligize in ad

[2019-06-05 15:49] pkmarcotte commented on #2539
Just to add a minor comment on this, because I ran into it:

This happens on Mac OS X Mojave as well, and it's not just symlinks.
Mac's filesystem is not case sensitive, and referring to a path with a different case also causes the issue. So in the example given above, if you had '/datax/Projects/Go' on a Mac, and you opened the project using 'code ~/datax/projects/go', the editor would work, but

[2019-06-05 16:57] quoctruong commented on #2374
This seems to be expected behavior from `dlv` so I don't think there's anything the extension can do.

[2019-06-06 03:15] ramya-rao-a commented on #2551
Does that file exist?

[2019-06-06 03:16] ramya-rao-a commented on #2552
Thats great feedbacl @ignishub, thanks!

@stamblerre Can we have a tracking issue for this upstream?

[2019-06-06 03:20] ramya-rao-a commented on #2561
Changing this dynamically during a debug session can be possible if we could extend the context menu on the variables in the variable pane, but AFAIK that menu is not extendable in VS Code. Therefore, there is no way at the moment to allow changing these settings dynamically

[2019-06-06 03:23] ramya-rao-a commented on #2565
@ignishub Below is the reccommendation model at the moment
- If using modules, use the language server. Because it fares much better than the existing Go tools when it comes to modules
- If you are not using modules, you don't need to use the language server. Existing tooling work just fine.

[2019-06-06 05:22] alanlal commented on #2551
There is `goMain.ts` present in `vscode-go/src/` but there is no directory as` vscode-go/out/src/` which is causing the error.

[2019-06-06 17:18] #2536 closed

[2019-06-07 07:10] mikberg commented on #1872
For me, replacing mdempsky/gocode with stamblerre/gocode worked. Debugging gocode revealed that it wasn't able to find dependencies, and didn't look in the `go.gopath` folders I'd specified in vscode.

[2019-06-07 08:35] pkochubey opened #2569 "[error] [ms-vscode.Go] provider FAILED"
No idea why this happen, FAQ not helped.

[code]

[2019-06-07 08:41] pkochubey commented on #2569
Hm, happed after fmt.Sprint("%s", "str"), but need Sprintf. But guys, this is bull sheet. Due to this not big issue all works stopped. 🤦‍♂

[2019-06-07 12:30] #2543 closed

[2019-06-09 12:17] karim commented on #2567
Lint tool is for finding errors with your code. What you are looking for is the format tool.

To keep the unused imports, either use a formatting tool that does not remove unused imports, or disable formatting on save.

What is your `"go.formatTool"`? If it is `goreturns` (the default), or `goimports` then unused imports will be removed. Change it to `gofmt` or `goformat`.

You can also disable fo

[2019-06-09 12:38] sguillia commented on #2567
I apologize for having mixed up linting and formatting.

`editor.formatOnSave` was indeed the setting I was looking for.

Thank you!

[2019-06-09 12:38] #2567 closed

[2019-06-10 00:57] freman commented on #2554
I wonder if we couldn't do with a temporary patch that lets us use different language servers depending on if a go.mod exists or not.

I find gopls (or even the old language-server) works beautifully for all our legacy projects and bingo works perfectly for now modules code, but I have to switch between the two :(

[2019-06-10 22:53] superhawk610 commented on #1385
@quoctruong your solution is a useful workaround. What's the best way (in your opinion) to make/evaluate a variable for debugging without having Go complain about an unused variable declaration?

For example, I have a tokenizer that switches on a `rune` and I want to see the `string` representation of the rune when debugging:

[code]

[2019-06-10 23:27] wtask commented on #1385
If VSCode will have an option to display values as is or as string without to use Watch it will be very progressive. We don't know what is the context of underlying data, any on the fly converters will be usefull.

[2019-06-11 09:48] nicebug opened #2570 "gopls panic parse url"
my vscode-go use gopls, but when show autocomplete gopls panic. my vscode-go version:0.10.2

my setting.json:
[code]
Go info
-------
go version go1.12.4 windows/amd64

set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\damonhu\AppData\Local\go-build
set GOEXE=.exe
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GOOS=windows
set GOPATH=D:\gopath
set GOPROXY=
set GORACE=
set GOROOT=D:\go
se

[2019-06-11 13:30] #2556 closed

[2019-06-12 09:49] mingrammer commented on #2444
Same here

[2019-06-12 15:00] davmaz opened #2571 "Intellisence does not respond to navigation commands"
When writing go code, intellisense pops up information on the particular func or object. However, the only way to get rid of it is to press Esc. If the Home, End, Up, or Down keys are hit to get rid of the "help", there is no change. In addition, it seems to always show the help over top of the previous lines, so Esc HAS to be pressed to regain context on the current line.

If the python package h

[2019-06-12 19:22] ramya-rao-a commented on #1161
The corresponding PR #1335 has been closed as it hasnt seen any activity in over a year.
The general approach there is right, so if anyone wants to pick it up, they are most welcome

[2019-06-12 23:10] Helcaraxan commented on #2501
I am currently stumbling on this issue, or something that looks extremely similar, as well and it's currently making my use of VSCode + `gopls` nearly impossible on Windows. Am also using it on OSX and Linux and no issues there (love the combo and have been cheering along as I see things improve week-by-week over the past few months ❤️ ).

For the record, my configuration:
[code]

Please note that

[2019-06-13 07:07] andig opened #2572 "Editor breaks import path when Go module replacements are used"
My code contains various imports:

    import (
        "fmt"
        "log"
        "os"
        "strconv"

        "github.com/crabmusket/gosunspec"
        bus "github.com/crabmusket/gosunspec/modbus"
        _ "github.com/crabmusket/gosunspec/models" // import models

        "github.com/grid-x/modbus"
    )

I'm also using the types imported from `gosunspec` in `main.go`:

	in.Do(func(d sunspe

[2019-06-13 13:36] kplex opened #2573 "Code is restored after removal automatically when using gopls"
When using the latest version of VS Code & the VS Code Go Plugin, any code that is deleted is restored automatically when saving the document.

I'm using the following 'GoLang' version:

    go version go1.12.6 windows/amd64

Visual Studio Code is configured to use the Language Server using the following Workspace `settings.json` file:

	{
		"go.useLanguageServer": true
	}

The project in which I'

[2019-06-13 13:42] linguohua commented on #2570
@nicebug upgrade to the latest gopls, use the command: go get -u -v golang.org/x/golang.org/x/tools/cmd/gopls, it has fixed this panic:https://github.com/golang/tools/commit/25a4f137592ff7de30eb0758889d917a1c6979bf

[2019-06-13 14:31] linguohua commented on #2501
@Helcaraxan Hi, when you saving file, can you see that gopls uses high cpu and memory? If it is, maybe this is the reason of the problem. In my scenario, I found that the func 'shortestEditSequence' in diff.go cost so much cpu and memory, and I replace the 'Operations' function implement in diff.go with my simplest one, and now it cost less cpu and memory, gopls can response quickly to vscode.
I k

[2019-06-13 14:37] joelft commented on #2573
I am having the same issue. In my case, not only removed code, but also added code is reverted. It seems to revert the file to the state it was in after last successful save, or when opened.

[2019-06-13 14:38] stamblerre commented on #2501
@Helcaraxan: Thanks for the detailed report. I'm surprised to hear that VSCode has problems once `gopls` dies, though I think that's something @ramya-rao-a may know more about.
`gopls` has definitely been unstable, particularly earlier this week. Can you try updating to the most recent version and confirm that this is still happening for you? Things should have stabilized since Monday.

[2019-06-13 14:51] stamblerre commented on #2573
Please make sure that you have updated to the latest version of the Go language server, `gopls`, by running `go get -u golang.org/x/tools/cmd/gopls` or by going to "View: Debug Console" -> "Go: Install/Update Tools" in VSCode. We had some issues earlier this week, but things should be more stable now.

Also, can you provide your `gopls` debug logs? These can be found by going to "View: Debug Conso

[2019-06-13 15:06] joelft commented on #2573
I ran `go get -u golang.org/x/tools/cmd/gopls` as recommended. Previously I had an alpha version, now version  v0.1.0-cmd.gopls.

Still having the same issue.

Output of gopls in debug log as requested:
[code]

There is no additional output when attempting to save a file. At least not in gopls' output

[2019-06-13 15:12] stamblerre commented on #2573
Can you add

[code]

to your VSCode `settings.json` file and then attach a new debug log to this issue? My apologies, I forgot you would need to add that flag to get the full detail.

[2019-06-13 15:17] joelft commented on #2573
No problem.

After adding that to my settings, I closed VS Code and reopened it. Then I added a comment to my file and tried to save it. Here is the resulted output:

[code]

[2019-06-13 16:31] Helcaraxan commented on #2501
Hello @stamblerre. With regards to `gopls` stability I had noticed the instability (cf. the above reported need to reload my VSCode window in order to save the file after getting stuck. That had actually prompted me to refetch master Tuesday or Wednesday evening (can't remember).

It's only once I had done that and rebuilt that I had the most severe issue (point 6 of my report) occurring for the f

[2019-06-13 20:05] adiabatic commented on #2266
Doesn't reproduce for me anymore on 1.35.1.

[2019-06-13 20:05] #2266 closed

[2019-06-13 22:53] Helcaraxan commented on #2501
So I was able to check the various points that were raised:

- The `gopls` I am using was built from golang/tools@59534d075a876675ef41a20fd596536cfa103662.
- I was able to reproduce the issue in its most severe form at the very first try and I didn't even need to make any significant changes to my code before it was triggered, barely a few lines.
- From the CPU perspective there does seem to be so

[2019-06-14 03:30] Eleron8 opened #2574 "Problems with Go extension. Please help"
Hi guys. I have problem with Go extension. I installed tools like gocode but it doesn't work. But in another one project all tools are working.

 For example, I created new dir with go file, but I don't have autocompletion. But if I open my old project tools are working.

 I checked my GOPATH and it is correct. I checked GOPATH in VSCode terminal and in external terminal. They are same.

I looked

[2019-06-14 04:28] ramya-rao-a commented on #2574
- Are both projects under your GOPATH? When you run the command `Go: Current GOPATH` in both projects, do you get the same result
- Please share all the Go related settings you might have added or changed

[2019-06-14 04:30] ramya-rao-a commented on #2572
Please share any Go related settings you might have added/edited

[2019-06-14 04:31] ramya-rao-a commented on #2571
I don't work with python at all, would you be able to provide a video comparing Go and Python?

[2019-06-14 04:32] ramya-rao-a commented on #2570
Thanks @linguohua
@nicebug Can you please update your version of `gopls` by either using the command `Go: Install/Update Tools` or by running the command `go get -u -v golang.org/x/golang.org/x/tools/cmd/gopls` and then try again?

cc @stamblerre

[2019-06-14 05:25] Eleron8 commented on #2574
@ramya-rao-a
Thank you for attention
For example, I created new folder with new go file and when I write fmt. and expect autocompletion I see this
![image](https://user-images.githubusercontent.com/26696198/59484682-74033680-8e7b-11e9-872e-96464a35cce7.png)
But in older folder autocomplention works
![image](https://user-images.githubusercontent.com/26696198/59484812-ebd16100-8e7b-11e9-8aa4-7c21b22

[2019-06-14 09:19] zulhfreelancer opened #2575 "Auto-complete didn't work before saving file with at least one time usage"
Hi,

I'm on OSX and currently using `go1.11.4 darwin/amd64` with `GO111MODULE` is set to `on`. My VS Code editor version is _1.35.1_ (_c7d83e57cd18f18026a8162d042843bda1bcf21f_) and here is my _.zshrc_ content:

[code]

From what I noticed, the auto-complete is not working if I haven't use the package:

<img width="385" alt="Screen Shot 2019-06-14 at 5 01 39 PM" src="https://user-images.githubuser

[2019-06-14 12:26] joelft commented on #2573
Does that mean this is an upstream issue and not a vscode issue? Should I create an issue somewhere else?

Sorry I'm a little new to helping with open source. Unsure of the proper etiquette.

[2019-06-14 13:47] andig commented on #2572
There is only `settings.json`, nothing I have specifically tweaked:

[code]

If you need anything else please let me know.

[2019-06-14 13:56] ysantalla commented on #2574
I have the same problem.

[2019-06-14 13:59] ysantalla commented on #2574
![image](https://user-images.githubusercontent.com/14929867/59514531-0bbc5100-8e8b-11e9-9a49-6bc1250c6454.png)

[2019-06-14 14:04] ysantalla commented on #2575
I have the same problem.

[2019-06-14 14:11] sandy081 opened #2576 "Flag machine specific configurations like paths as machine scoped"
I am developer from VS Code and we introduced Machine Scope for configurations in [1.34](https://code.visualstudio.com/updates/v1_34#_machinespecific-settings) which will help in [remote set ups](https://code.visualstudio.com/docs/remote/remote-overview).

I would like to encourage extension authors to adopt to machine scope if you have any settings that you think they are scoped to machine like `

[2019-06-14 14:27] ysantalla commented on #2574
Disable this option in the setting.json file and work fine. Why???

"go.useLanguageServer": false,

[2019-06-14 14:59] vincepri opened #2577 "Add the option to disable GC for some tools"
Adding `GOGC=off` environment variable to some tools can help, in some cases, save CPU resources, especially when it comes to `goimports` and similar short-lived CLI applications.

[2019-06-14 16:32] stamblerre commented on #2573
Once we diagnose this a little further, we can determine if it is an upstream issue. Can you send me the logs from when you execute your minimal repro case? It would be easier to understand the issue with a smaller file.

[2019-06-14 20:32] firelizzard18 commented on #2374
The extension can expand `~` before passing flags to `dlv`

[2019-06-14 22:05] Eleron8 commented on #2574
@ysantalla
I tried your solve. But It didn't help me :(

[2019-06-14 22:06] Eleron8 commented on #2574
@ramya-rao-a
Maybe I need reinstall VSCode?

[2019-06-14 23:19] linguohua commented on #2501
@Helcaraxan Hi, as I can see it from your post images, the line feet style you use is still '\r\n', you can see it in the right bottom status bar in vscode. Maybe you should change it to LF '\n' style. This is because 'goimports' format code with '\n' line feet, then the origin content will different with fomartted one, only because the line feet, and this is the worst case for ''shortestEditSeque

[2019-06-15 07:52] ramya-rao-a commented on #2575
@zulhfreelancer It looks like you are using the language server, in this case `gocode` or `gocode-mod` are not used for the auto-completion feature. Instead, the language server is used.

The language server at the moment does not support the auto-completion feature for packages that haven't been imported yet.

@stamblerre Is there an issue tracking this for gopls?

[2019-06-15 18:46] Helcaraxan commented on #2501
Good spot @linguohua. I had blindly trusted me setting
[code]
in my configuration file but I apparently also had to wrangle my git settings to use
[code]
After that a wipe of my repo and a new fresh clone VSCode now does detect the files with `LF` style.

----

**However** this does not appear to have solved the failure-to-save issues that I have been encountering. They are now occurring in a near

[2019-06-17 03:20] nicebug commented on #2570
@linguohua @ramya-rao-a
i update gopls to v0.1.0, vscode in mac  works, but vscode on win pc still has a panic:
[code]

[2019-06-17 03:28] zulhfreelancer commented on #2575
Thank you for the respond @ramya-rao-a. How do I switch from language server to `gocode` or `gocode-mod`?

[2019-06-17 07:49] zevdg commented on #2447
I just wasted way too much time trying to figure out why gopls wasn't working for me in my 3 module workspace before I stumbled onto this issue.  I don't even have a mult-module repo.  My modules are each in their own separate git repositories in folders next to eachother on disk.  I just like to hack on them together, so I open the parent folder that contains all of them.  It seems like you don't

[2019-06-17 12:21] joelft commented on #2573
No problem. Here are the steps I took.
- Closed and reopened VS Code
- Typed the line `// TEST COMMENT` in my main.go file
- Cleared the gopls output log
- Tried to save the file

Here is the resulting output. Hopefully by only including the log after attempting a save, it will be more clear what is happening. I've read through this myself, but I don't really understand what is going on. I did not

[2019-06-17 13:04] nitishm commented on #2545
@ramya-rao-a Is there any other information you need regarding this that I can provide ?

[2019-06-17 15:41] SUMUKHA-PK commented on #2574
This happens constantly. The Go extension is very inconsistent, especially the latest release `0.10.2`.
I need to keep reinstalling and reloading the workspace to keep it running for like writing 2 loc.
Versions `0.9.x` are better. Not sure what has happened.

[2019-06-17 16:16] ramya-rao-a commented on #2577
Thanks for reporting @vincepri

@bhcleek, @zmb3, @stamblerre, @ianthehat Do you have any thoughts or feedback around this?

[2019-06-17 16:22] ramya-rao-a commented on #2576
I am guessing you mean "only from User and Workspace settings" on the same machine?

Does this mean that previously, settings were always read from the local machine, but the extension ran on the remote?

[2019-06-17 16:25] ramya-rao-a commented on #2576
Previously, `scope` was used mainly in the area of multi-root workspaces.
`resource` -> Setting for individual workspaces in a multi-root workspace is accessible
`window` -> Setting is accessible only on the root level

Now that we have the new `machine`, how does that sit well with the previous requirements as stated above?

[2019-06-17 16:36] ianthehat commented on #2577
Any tool that can benefit can get the same advantages by calling debug.SetGCPercent in the top of it's main. I added it to godef a while ago. It is a much more scalable solution than having everything that installs the tools have to control it.
Also setting it to a large number has a graceful failure mode where if the application is doing an unusual level of work it can still garbage collect and s

[2019-06-17 16:45] ramya-rao-a commented on #2574
@Eleron8, @ysantalla By having `go.useLanguageServer` set to `true`, you have opted in to using the language server. In this case `gocode` is no longer used for providing the auto-completion feature, instead the language server provides this feature.

@Eleron8 Re-installing VS Code is not needed. At the most, you would need to reload VS Code. That would restart the extension. A change to any of th

[2019-06-17 16:49] ramya-rao-a commented on #2575
@zulhfreelancer Set `go.useLanguageServer` to `false` to stop using language server altogether or keep that to `true` and add the below to turn off just the completion feature from the language server
[code]

Though, if you are using modules, we strongly suggest to use the language server as the back up tools are no longer under active development in favor of the language server

[2019-06-17 16:51] ramya-rao-a commented on #2570
Thanks for the follow up @nicebug

@stamblerre, @ianthehat The [fix](https://github.com/golang/tools/commit/25a4f137592ff7de30eb0758889d917a1c6979bf) seemed to be around paths and most likely needs Windows specific treatment

[2019-06-17 17:01] stamblerre commented on #2575
The upstream issue is https://github.com/golang/go/issues/31906.

[2019-06-17 17:03] stamblerre commented on #2570
Looks like we have an upstream issue filed here: https://github.com/golang/go/issues/32639. @nicebug: Does this issue reproduce on all files?

[2019-06-17 17:04] stamblerre commented on #2573
Looks like we have an upstream issue filed for this: https://github.com/golang/go/issues/32643. Thanks for sharing the log. I will investigate ASAP.

[2019-06-17 17:11] stamblerre commented on #2574
@ysantalla: Were you working with modules or in `$GOPATH` mode?

[2019-06-17 17:27] SUMUKHA-PK commented on #2574
I am using go mod. But I'm not sure how the language server affects the imports and other linting. Also, limitation? So it never can be improved?

[2019-06-17 17:36] drew-512 commented on #2444
YES. please look into this VSCode heroes!   This is a regular source of pain for me.  And thank you @nmeocisco  for doing a lovely repro writeup (twice!).

As always, big thanks to the VSCode and Go teams for making amazing free product pair that just crushes it!

[2019-06-17 17:42] stamblerre commented on #2545
Yeah, it looks like VSCode is just not applying the text edits returned by the code actions. My guess is it has something to do with the filepaths, but `gopls` is using the same filepaths as sent in the `textDocument/didOpen` requests. I'm not sure how to debug this further, though perhaps we could add some logging to the middleware, @ramya-rao-a?

[2019-06-17 17:53] ysantalla commented on #2574
I working with modules.

[2019-06-17 17:57] ysantalla commented on #2574
who reload de language server, manually???

[2019-06-17 18:00] stamblerre commented on #2574
@ysantalla: The reason you did not have autocompletion in your example is because the language server does not yet support autocompletion in a null module, i.e., you have to run `go mod init` before you can begin using the language features. You can reload the language server by restarting your instance of VSCode, or by doing CTRL + Shift + P -> Developer: Reload Window.

@SUMUKHA-PK: The language

[2019-06-17 18:35] davmaz commented on #2571
Actually that's not reasonable in my case. The bottom line is that navigation keys don't work when something is being displayed. At first I thought I had a way around it by hitting the Home key (or what I have it mapped to) and that doesn't work either. It seems you either accept what it's suggesting OR hit ESC which is very annoying since I don't want to take my hands off the home keys.

Neverthe

[2019-06-17 19:35] ysantalla commented on #2574
@stamblerre Thanks you!!!

[2019-06-17 20:34] pongad commented on #1385
@superhawk610 I think you can do something like
[code]
so that `s` remains used. I agree it's still annoying though.

[2019-06-18 01:52] ramya-rao-a commented on #2574
@SUMUKHA-PK Please give [Go tools that the Go extension depends on](https://github.com/microsoft/vscode-go/wiki/Go-tools-that-the-Go-extension-depends-on) a read to get an idea of how this extension is dependent on the Go tools from the community. For support when using Go modules, active development is for `gopls` the language, rather than the individual tools.

@ysantalla Does running `go mod in

[2019-06-18 01:54] ramya-rao-a commented on #2575
@stamblerre https://github.com/golang/go/issues/31906 is about getting the unimported packages themselves in the completion list, and then on completion, the import statement gets added automatically

This issue is that typing `.`  after an unimported package, does not give completions.

[2019-06-18 02:46] ramya-rao-a commented on #2500
The command to restart the language server is now available in the latest update (0.11.0) to this extension. Thanks @SteelPhase!

[2019-06-18 02:46] ramya-rao-a commented on #2481
This bug fix is now available in the latest update (0.11.0) to the Go extension. Thanks @lggomez!

[2019-06-18 02:47] ramya-rao-a commented on #2423
This bug fix is now available in the latest update (0.11.0) to the Go extension. Thanks @calebdoxsey and @brainsnail!

[2019-06-18 02:48] ramya-rao-a commented on #2527
This feature is now available in the latest update (0.11.0) to the Go extension. Thanks @tamayika!

[2019-06-18 02:48] ramya-rao-a commented on #2543
This feature is now available in the latest update (0.11.0) to the Go extension.

[2019-06-18 02:48] ramya-rao-a commented on #2543
This feature is now available in the latest update (0.11.0) to the Go extension. Thanks @pseudo-su!

[2019-06-18 02:49] ramya-rao-a commented on #2514
This bug fix is now available in the latest update (0.11.0) to the Go extension.

[2019-06-18 02:49] #2514 closed

[2019-06-18 02:50] ramya-rao-a commented on #1950
In the latest update (0.11.0) to the Go extension, `gotypes-live` will not be invoked when using Go modules or when using the diagnostics feature from the language feature

[2019-06-18 02:50] #1950 closed

[2019-06-18 03:25] galileo-pkm opened #2578 "goreturns erroneously disabled"
When using modules vscode returns this message:
"`goreturns` doesnt support auto-importing missing imports when using Go modules yet. So updating the "formatTool" setting to `goimports` for this workspace."

That is false, goreturns works perfectly fine with go modules as can be seen from this example:

[code]
To make matters worse vscode changes the format tool to goimports which brakes the code

[2019-06-18 03:29] stamblerre commented on #2574
We have some suggestions here: https://github.com/golang/go/wiki/gopls#troubleshooting.

[2019-06-18 03:31] stamblerre commented on #2575
I think the two are effectively the same issue though. In the case that you type `fmt.` without importing `"fmt"`, we will add the import statement if you select a completion.

[2019-06-18 03:36] SUMUKHA-PK commented on #2574
Thank you @stamblerre and @ramya-rao-a

[2019-06-18 04:40] zulhfreelancer commented on #2575
@ramya-rao-a thank you. I can confirm it's working now after adding the snippet above.

<img width="698" alt="Screen Shot 2019-06-18 at 12 39 07 PM" src="https://user-images.githubusercontent.com/3416976/59653801-34638400-91c6-11e9-8361-181f6fbc8702.png">

This is my full settings file content:

[code]

[2019-06-18 05:17] alanlal commented on #2551
Hi, I think the problem is that the typescript code is not getting compiled to the `vscode-go/out/src/` folder. I did `npm run compile` manually and then launched the debug and it worked fine.

I'm not sure if this is a required step or am I doing something wrong here ??. Because it is not mentioned in page : [Setting up local environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debu

[2019-06-18 05:17] ramya-rao-a commented on #2575
@stamblerre They are not the same

https://github.com/golang/go/issues/31906 or at least the vscode-go issue it is referring to https://github.com/microsoft/vscode-go/issues/2484 is about typing `ti` and getting `time` as a completion item.

This issue is about typing `time.` and getting all the symbols from the time package in the completion item list.

[2019-06-18 05:19] ramya-rao-a commented on #2551
It is not a required step. By default, there are [tasks](https://github.com/microsoft/vscode-go/blob/master/.vscode/tasks.json) running that will compile the changes that are made. Maybe for some reason that task is not running for you.

[2019-06-18 07:12] goltvn commented on #2574
out of nowhere i got the same issue here, the "Problems" tab was working yesterday and i could get my compile messages there, but now its blank and get the same view as ysantalla with no module info ?

https://i.imgur.com/bouydaC.png

This one should complain because Fmt havent been included.

my json file :

https://i.imgur.com/O3KXrN5.png

I had my folder in root folder, then i moved it into gop

[2019-06-18 07:20] pierrre opened #2579 "gopls and current path"
Go version: go1.12.6 linux/amd64
VSCode version: 1.35.1
VSCode Go version: 0.11.0
Gopls version: the latest available at this time (da514acc4774e511ba0c2955844e655a5b20938c, I've installed it through vscode-go)

The language server doesn't work at all for me.
For each interaction with the editor, I see a lot of errors in the "gopls" logs:
[code]

I can reproduce the issue using the command line (c

[2019-06-18 07:25] goltvn opened #2580 "@Eleron8, @ysantalla By having `go.useLanguageServer` set to `true`, you have opted in to using the language server. In this case `gocode` is no longer used for providing the auto-completion feature, instead the language server provides this feature."
@Eleron8, @ysantalla By having `go.useLanguageServer` set to `true`, you have opted in to using the language server. In this case `gocode` is no longer used for providing the auto-completion feature, instead the language server provides this feature.

@Eleron8 Re-installing VS Code is not needed. At the most, you would need to reload VS Code. That would restart the extension. A change to any of th

[2019-06-18 07:25] goltvn commented on #2580
sorry didnt want to post it as a new issue ( cant delete it )

[2019-06-18 07:26] goltvn commented on #2574
Disabling the language server makes it work - video of it here, first one is with languageserver and there isnt any compiling done - then i disable it and reload vs code running without it, and i can then compile :

https://www.dropbox.com/s/w3njtkekp3cf92m/2019-06-18_14-23-13.mp4?dl=0

[2019-06-18 07:26] #2580 closed

[2019-06-18 07:37] goltvn commented on #2579
mine is also seems broken - cant get any compiler info if its active, if i disable it i get compiler info again.

https://www.dropbox.com/s/w3njtkekp3cf92m/2019-06-18_14-23-13.mp4?dl=0

[2019-06-18 08:05] pierrre commented on #2579
I've found a workaround.

In my current workflow, I'm opening the directory `/home/pierre/gosrc` (which is NOT my GOPATH) in my vscode workspace.
When I try to use gopls, it fails.

However, if I open a new window, containing only 1 single project, it works !
So I guess that vscode-go runs the commands relatively to the root directory of the workspace.

But I can't work like this, I need to have q

[2019-06-18 08:08] pierrre commented on #2579
PS: maybe there is an acceptable workflow:
- open a new vscode workspace
- add each project as a root directory in my workspace

[2019-06-18 09:56] rustyx opened #2581 "cgo syntax highlighting"
It seems the cgo (C code embedded in Go) isn't recognized.

**Steps to reproduce:**

Create a file `main.go` with the following contents:
[code]

Notice the cgo section is highlighted as a comment.

**What should happen instead:**

The C highlighter (if available) should be invoked for the cgo section.

[2019-06-18 15:22] sandy081 commented on #2576
No. Machine scope settings will be read only from User settings.

Yes, since User Settings were respected always. Hence Machine scope is introduced to ignore them when defined in User Settings.

It is always not suggested to make settings with path values to be customisable at workspace/folder level. Because these can be shared and so they do not make sense on a different machine.

We understand t

[2019-06-18 16:47] stamblerre commented on #2575
Added a note to the issue. I think they will still be implemented effectively the same way, so that issue can cover both cases.

[2019-06-18 17:11] stamblerre commented on #2579
@pierrre: If you are using modules, you will have to use the approach of multiple workspace folders. The editor notifies `gopls` where the module root is, so if you open a directory above the module root, `gopls` will not work correctly.

[2019-06-18 17:31] stamblerre commented on #2574
@goltvn: Can you please file an issue upstream [here](https://github.com/golang/go/issues) and include your `gopls` logs? I can help you investigate this.

[2019-06-19 06:28] pierrre commented on #2579
OK thank you, I'm closing this issue, and will follow https://github.com/golang/go/issues/32394

[2019-06-19 06:28] #2579 closed

[2019-06-19 07:59] Eleron8 commented on #2574
@ramya-rao-a Thank you, Ramya Rao. I fixed promlem with your advices.
I changed in `go.useLanguageServer` `true` to `false` and added `"go.gocodeAutoBuild": true,` in settings.json. God bless you. Thanks for all. Sorry for waste your time. I'm liltle bit stupid boy XD

[2019-06-19 16:50] vincepri commented on #2577
Thanks @ianthehat. Should we rename/refocus this issue on letting users customize GOGC=X instead of just turning it off?

I see `vscode-go` as a good place to add the option, instead of relying on tools to implement this in their codebase.

[2019-06-19 22:35] coopermaruyama commented on #2398
100% agree with this.

In our setup, we check in environment variables for testing in a `.env.test` file which is used with `go.testEnvVars` which has some sane defaults, and then (ideally) developers would be able to override them with `go.testEnvVars` if needed.

However, because of the load order (as described above), this is not possible for us. I really think `go.testEnvVars` should take prec

[2019-06-20 04:05] alanlal commented on #2551
Hi, Made the changes and created a PR [#2586](https://github.com/microsoft/vscode-go/pull/2586) :smile:

[2019-06-20 05:12] yan-ace62 opened #2587 "language server can't working."
When I follow the https://github.com/golang/go/wiki/gopls configuration gopls language service，I found that the code IntelliSense hints and code navigation can't work. but when I delete gopls from $(GOPATH)/bin, code hints and code navigation work fine.

Has anyone else encountered a similar problem? Can someone help me solve this problem?
this is my configure
[code]

[2019-06-20 06:40] #2587 closed

[2019-06-20 08:08] ignishub opened #2588 "Wrong method autocomplete"
go version go1.12 windows/amd64

Config:
[code]

![изображение](https://user-images.githubusercontent.com/1565839/59832042-af09dc00-934b-11e9-80c6-f89f2c1f5eb3.png)

[2019-06-20 08:13] ignishub commented on #2588
There is something strange. Its insider version of VS Code. When i am trying to save this file line removes

[2019-06-20 13:59] OneOfOne commented on #2577
Isn't this already possible using `go.toolsEnvVars`?

[code]

[2019-06-20 20:19] tms320 opened #2589 "Rename symbol failed"
My OS: Microsoft Windows 10 x64, Home edition.
I have installed golang v.1.12.5 and VScode v.1.35.1. The version of "Go" extension is 0.11.0.
I created simple "hello world" application:
[code]
If I try to rename the "msg" variable I get the following output:

Rename failed: C:\Go\src\runtime\mem_windows.go:27:6: sysAlloc redeclared in this block C:\Go\src\runtime\mem_aix.go:14:6: 	other declaratio

[2019-06-20 21:14] jkassismz commented on #2576
will this cover this use case? I have a HD monitor at work and an UHD monitor at home. I want 14pt font for the editor at home and 12pt font for the editor at work.

[2019-06-20 22:00] josharian opened #2590 "gofmt-on-save even with typechecking errors"
I have noticed that gofmt-on-save doesn't appear to happen when there are typechecking errors. This is frustrating. gofmt and goimports both work fine when run standalone on code that fails typechecking; gofmt doesn't resolve imports at all, and goimports just shrugs and keeps on going. Manually requesting "Format document" does nothing. Is there some way I can get VSCode to format fikes despite t

[2019-06-21 18:11] galileo-pkm commented on #2578
Nothing?

[2019-06-22 12:01] w20089527 opened #2591 "Selection does not work in auto-completion"
### Environment
`go version go1.12.5 linux/amd64`

![image](https://user-images.githubusercontent.com/7413974/59963562-47a88380-9527-11e9-8775-72a7f2c2cfda.png)

![image](https://user-images.githubusercontent.com/7413974/59963549-162fb800-9527-11e9-885a-1acbb0b22197.png)

### Issue

When I select an item in auto-completion, it does not work. Illustration as follows:

![vscode](https://user-images.

[2019-06-22 13:01] BaronChen opened #2592 "Debug with attach will terminate remote process when detach"
I believe this PR https://github.com/microsoft/vscode-go/pull/2125 suppose to support attaching and detaching from remote debug server without killing the process. However, when I host the GO process with delve in a docker, the remote debug process still killed the remote process.
Here is my vs code launch.json:
[code]
delve is running with:
[code]

And the delve log:
[code]

Originally I think th

[2019-06-22 18:39] benc-uk opened #2593 "Causing a crash working in WSL 2 and remote mode"
Using WSL 2 and wsl-remote mode in VS Code, this extension causes severe crashes in WSL

After a few minutes working VS Code suddenly reports `Error: Error Spawn EIO` and stops functioning. The remote extension disconnects from WSL as the Linux system has crashed. VS Code is unusable from this point

Also if I was to try to run a Windows executable from a WSL bash it will result in IO error, e.g.

[2019-06-23 04:09] kylinhao opened #2594 "golang outline no symbols found"
this issue is the almost same as https://github.com/golang/go/issues/31535

it says it has been fixed, but it's version is 0.10.3, i can not find it. Now version is 0.11.0。
so do u forget to fix this bug?

hope it can be fixed as soon as possible, it always  makes me into trouble!

![image](https://user-images.githubusercontent.com/5234656/59971439-c4327500-95ae-11e9-84d3-7088bc975ffb.png)

[2019-06-23 11:21] tms320 commented on #2589
I have reinstalled VScode and all extensions - the problem disappeared

[2019-06-23 11:21] #2589 closed

[2019-06-23 16:50] Kannaj opened #2595 "Extension is unable to find go binary"
Hi guys , i've been having trouble running this extension over the past few days - I dont recall changing anything. But hover, autocomplete all seem to be failing

i get this output in particular for the linter
[code]

but i have specified the go path
if i switch to the vscode terminal and run `echo $PATH`

`...:/usr/local/go/bin` the go binary does seem to be present

[2019-06-23 20:34] benc-uk commented on #2593
Issue was caused by WSL2 somehow picking up Windows versions of go tools (gopkg, goimports, golint) etc
Removing those, and installing Linux native versions has fixed all crashing issues

[2019-06-23 20:34] #2593 closed

[2019-06-23 23:44] vincepri commented on #2577
Does this apply to all the tools, even long running one? I'm mostly wondering about `gopls`

[2019-06-23 23:54] OneOfOne commented on #2577
It does, but sadly in my experience I have to restart gopls more often that it'd take for that to be an issue anyway.

[2019-06-24 00:35] themotu opened #2596 "Go module import issue with intellisense"
VSCode sometimes has issues with relative packages and go modules

Steps to Reproduce:

1. git clone git@github.com:themotu/vscode-go-import-issue.git
You will see an import issue for websocket on line 6 of backend/main.go

2. git clone git@github.com:themotu/vscode-no-import-issue.git
You will not see an import issue on line 3 of main.go
![image](https://user-images.githubusercontent.com/9060082/

[2019-06-24 01:05] vincepri commented on #2577
In that case I think this issue can be closed, as there is a perfectly fine solution.

[2019-06-24 10:45] nicebug commented on #2570
@stamblerre  yes, reproduce on windows

[2019-06-24 20:20] erihanse opened #2597 "Symbols stopped working after 0.11"
Issue Type: <b>Bug</b>

Intellisense, hover, outline and similar features stopped working with 0.11.0 of the plugin. I tried downgrading to 0.10.2, and it works. Project I'm using has go modules.

Extension version: 0.11.0
VS Code version: Code 1.35.1 (c7d83e57cd18f18026a8162d042843bda1bcf21f, 2019-06-12T14:27:31.086Z)
OS version: Linux x64 4.15.0-52-generic snap

<details>
<summary>System Info</s

[2019-06-24 20:24] erihanse commented on #2597
https://github.com/Microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code I've tried looking here, enabling the language server and also installing all tools from the `Go: Install/Update tools` command.

[2019-06-24 20:25] erihanse commented on #2597
https://github.com/Microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code I've tried looking here, enabling the language server and also installing all tools from the `Go: Install/Update tools` command.

[2019-06-24 21:20] #2596 closed

[2019-06-25 02:19] RadhiFadlillah opened #2598 "High CPU usage when working with cgo"
As title said, I'm experiencing high CPU usage when working with a `cgo` project. This problem happened everytime I type a character which can be seen [here](https://giant.gfycat.com/WateryUnnaturalCrane.webm).

Here are my `vscode-go` settings :

[code]

[2019-06-25 03:23] atombender opened #2599 ""goimports" not run on save after a while"
My config:

[code]

As per [this Gopls issue](https://github.com/golang/go/issues/31977), I have modified Gopls to _not_ format imports, because it has some severe performance regressions where the import-resolving logic takes anywhere between 20 and 50 seconds to run. Until that's fixed, I want to rely entirely on `goimports`.

(Note, in case it's relevant, that in that issue, I was advised to se

[2019-06-25 06:06] lloiser commented on #2599
Have a look at this thread: https://github.com/microsoft/vscode-go/issues/2336

**tl;dr**: increase the `editor.formatOnSaveTimeout` setting

[2019-06-25 06:08] lloiser commented on #2599
Or checkout the [FAQ](https://github.com/Microsoft/vscode-go/wiki/Go-with-VS-Code-FAQ-and-Troubleshooting) and have a look at the _Q: Why doesn't formatting doesn't work on file save?_ question.

[2019-06-25 06:13] atombender commented on #2599
Did you read the part about how `goimports` isn't being invoked at all and the "Running save participants" status isn't showing?

I'm monitoring processes while saving and `goimports` doesn't seem to be spawned at all. The timeout should be irrelevant here.

[2019-06-25 06:14] goyapp opened #2600 "Unapproved personal package remove on saving"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-06-25 06:23] ramya-rao-a commented on #2578
@galileo-pkm Thanks for reporting and your patience.

As per https://github.com/golang/go/issues/24661, the issue that tracks Go module support in various Go tools in the eco system, `goreturns` has not been updated yet to support modules. We had received many reports of the same, and eventually `goimports` did support modules, thus the decision to change the default format tool when we detect tha

[2019-06-25 06:24] goyapp commented on #2600
Hi,
I am beginning to learn golang.
I first created my personal package called - mymath ( I can see mymath.a created )
import the package into the program

//%GOPATH%/src/mathapp/main.go code.package main

package main
import (
	"mymath"
	"fmt"
)
func main() {
	fmt.Println("Hello , world. sqrt(2) = %v\n", mymath.sqrt(2))
}

On saving, the package 'mymath' disappear from the import line.

Appreciat

[2019-06-25 06:26] ramya-rao-a commented on #2581
Thanks for reporting @rustyx

The grammar used for Go files doesnt support embedded languages at the moment. This feature, though useful is currently out of scope of this extension.

[2019-06-25 06:26] #2581 closed

[2019-06-25 06:28] ramya-rao-a commented on #2588
@stamblerre Is it ok if @ignishub logs this issue against gopls in https://github.com/golang/go?

[2019-06-25 06:30] ramya-rao-a commented on #2590
Thanks for reporting @josharian
Can you please share any Go related settings that you might have added/edited?

If you are using the language server, then the formatting feature no longer comes from the formatting tool as set by the `go.formatTool` setting

[2019-06-25 06:30] ramya-rao-a commented on #2591
Thanks for reporting @w20089527
Can you share any Go related settings you might have added/edited?

[2019-06-25 09:23] erihanse commented on #2597
The weirdest thing.. I reinstalled code (without using snap, using deb instead) and it works.

[2019-06-25 09:23] #2597 closed

[2019-06-25 09:44] roman-m-work commented on #1903
I have this issue also happened on breakpoint inside background message handler.

OS: MacOS Mojave

[2019-06-25 12:43] Strum355 opened #2601 "Remote debugging to Docker container gives empty values for all variables"
Go version: 1.12.6
vscode-go version: 0.11.0
Delve version: commit a7c2d837d5fe920fb7a08812cebd6981d0a09035

`launch.json`
[code]

delve command in Docker container
`dlv debug ./cmd/<repo_name> -l 0.0.0.0:3456 --headless=true --api-version=2 --log`

VSCode debugger:
![image](https://user-images.githubusercontent.com/18282288/60098700-07771a00-974e-11e9-99cc-dc373dd03a51.png)

Delve CLI:
[code]

VS

[2019-06-25 13:19] galileo-pkm commented on #2578
I have been using vscode with my "fix" for a while now and the only issue is the annoying warnings.
True issue here is that vscode forces a broken choice on a user, if a haven't thought of that "fix" I would have  been forced to either stop using vscode or stop using modules, as goimports breaks the code with versioned imports.

IMHO that kind of behaviour may be acceptable for software that cater

[2019-06-25 13:27] tomjohnburton commented on #1903
I also have this issue when calling one of my endpoints.

It receives the payload okay and then returns
[code]
OS: MacOS Mojave
VSCode: 1.35.1

[2019-06-25 14:51] josharian commented on #2590
go-related settings (others deleted):

[code]

That would explain it. (Well, kind of; it just means that this is a `gopls` bug.)

Is there any way to keep the local formatting tool in change of formatting?

[2019-06-25 14:53] josharian commented on #2590
Also, so that I can file an effective upstream bug report, is there any good way to get diagnostic information about what gopls is doing (or not doing) when formatting fails? I don't see anything one way or the other in the debug console.

[2019-06-25 15:44] ramya-rao-a commented on #2600
Thanks for reporting @goyapp

Can you please share any Go related settings in VS Code that you might have changed/added?

[2019-06-25 15:58] ramya-rao-a commented on #2599
@atombender

In the below section, can set `"source.organizeImports"` to `false`? This will ensure that gopls will not try find missing imports or re-order your existing imports on each file save. This is just eliminate any edit conflicts between goimports and gopls until we figure out what is going on

[code]

By setting `format` to `false` in `go.languageServerExperimentalFeatures`, what is happ

[2019-06-25 16:02] ramya-rao-a commented on #2577
Yes, anything set in `go.toolsEnvVars` does get set in the process where `gopls` is spawned

[2019-06-25 16:02] #2577 closed

[2019-06-25 16:06] ramya-rao-a commented on #2598
Thanks for reporting @RadhiFadlillah

@stamblerre Based on the settings shared above, the only tool that the Go extension calls on each letter being typed is your fork of `gocode`. Is it also responsible for the calls to gcc, go list etc?

@RadhiFadlillah Can you try the [new language server feature](https://github.com/microsoft/vscode-go#go-language-server) we have? That will avoid calling `gocod

[2019-06-25 21:21] olegburov commented on #2601
@Strum355 I've got the same issue today but attaching to remote pid on a local machine.

Start DLV like this:
[code]

In VS Code, attach using the following config:
[code]

As far as I can see it, it started happening after VS Code automatically installed Go extension `v0.11.0`. If I downgrade to `v0.10.2` it works fine.

[2019-06-26 02:21] w20089527 commented on #2591
No other special settings. Here is my project dir structure:
![image](https://user-images.githubusercontent.com/7413974/60146052-a9544080-97fa-11e9-9d17-3c70df3a5261.png)

`launch.json`
![image](https://user-images.githubusercontent.com/7413974/60146151-094ae700-97fb-11e9-9f8b-0287e2204d87.png)

Just a go project with go mod in VSCode.

[2019-06-26 02:37] xzzh999 opened #2602 "Debugging is not working when the project path is too long"
Hi~ Great job!

I have confirmed:

when debugging **a long path** project it not working, the process exit after a few seconds, but if i copied the project to **a short path** folder, it's working.

Other conditions:
[code]

For example:
[code]

Environment:
[code]
go.delveConfig:
[code]

[2019-06-26 03:17] RadhiFadlillah commented on #2598
Hi @ramya-rao-a, thanks for the response.

Yes, I've already tried the language server. Unfortunately, it doesn't work any better, as can be seen [here](https://giant.gfycat.com/DiligentUglyGrouper.webm). After I enabled the language server and reload the window, the CPU usage started to spike even before I type anything. Soon after, `gopls` crashed.

Yes, that's also my first thought, and I was p

[2019-06-26 03:55] RadhiFadlillah commented on #2598
After looking around, I found out that while `gocode` doesn't call `go list` by itself, it depends on `golang.org/x/tools/go/packages` which uses `go list`.

Since `gocode` [uses](https://github.com/stamblerre/gocode/blob/81059208699789f992bb4a4a3fedd734e335468d/internal/suggest/suggest.go#L138) `go/packages` with `LoadSyntax` mode, the `go/packages` end up [using](https://github.com/golang/tools/

[2019-06-26 03:58] ramya-rao-a commented on #2591
@w20089527 I meant the settings that can be seen by running the command `Preferences: Open Settings (JSON)`. Anything there related to `go`?

[2019-06-26 04:03] ramya-rao-a commented on #2590
You can add the below to skip the formatting feature from the language server

[code]

For troubleshooting gopls, see https://github.com/golang/go/wiki/gopls#troubleshooting

Closing this issue in favor of the one you will be creating upstream :)
Please do add a link to that issue here

[2019-06-26 04:03] #2590 closed

[2019-06-26 04:23] ramya-rao-a commented on #2578
@galileo-pkm
I have pushed a fix to allow dismissal of the warning with an option of not ever showing it again. Can you please try out the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension and let me know if you still see the warnings?

@ianthehat, @stamblerre  What would be the best place for @galileo-pkm to log a

[2019-06-26 04:25] ramya-rao-a commented on #2598
Thanks for the follow up @RadhiFadlillah!

Can you log an issue with your findings at https://github.com/golang/go/ and provide a link here?

cc @stamblerre, @ianthehat

[2019-06-26 04:29] ramya-rao-a commented on #2595
Thanks for reporting @Kannaj

Since you mentioned that this was a recent change, can you try out the previous version of the extension and let us know if things work better there?
- First, run the command `Extensions: Disable Auto Updating Extensions` to disable the auto-update of extensions feature so that you dont get automatically updated to the latest version when you install the older one
- D

[2019-06-26 04:31] ramya-rao-a commented on #1599
The attach feature is now available in the latest update (0.11.0) to the Go extension.
See https://github.com/microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code for details

[2019-06-26 04:31] #1599 closed

[2019-06-26 04:40] ramya-rao-a commented on #2592
Unfortunately #2125 only allowed attaching to local process.
delve's attach command expects a process id and only works on local processes as far as I know.

I have responded on the thread you have opened in delve. I am not sure what the right approach here is.

[2019-06-26 04:43] ramya-rao-a commented on #2602
Thanks for reporting @xzzh999

We use [delve](https://github.com/go-delve/delve) as the debugger to provide the debugging feature. Can you try using it [via the command line ](https://github.com/go-delve/delve/blob/master/Documentation/usage/dlv_debug.md) with the 2 paths and let us know if it works as expected?

First add `"trace": "logs"` to your debug configuration to see how exactly VS Code ca

[2019-06-26 05:30] goyapp commented on #2600
Hi ramya,
Thank you in advance for helping.

Appended below is the workspace setting from .vscode directory

C:\goProjects\.vscode>more launch.json
{
    // Use IntelliSense to learn about possible attributes.
    // Hover to view descriptions of existing attributes.
    // For more information, visit: https://go.microsoft.com/fwlink/?linkid=830387
    "version": "0.2.0",
    "configurations": [

[2019-06-26 05:47] w20089527 commented on #2591
@ramya-rao-a
The whole setting as follows:
![image](https://user-images.githubusercontent.com/7413974/60154022-a5cfb200-9818-11e9-9221-0089cbb248a1.png)

I just do something on testFlags.

[2019-06-26 05:48] Kannaj commented on #2595
@ramya-rao-a  - I've fallen back to 0.10.2 and everything seems to be working fine now. Please let me know if you need anymore information to fix 0.11.0

[2019-06-26 06:13] xzzh999 commented on #2602
change the configure to:
[code]

here the logs:

![](https://github.com/xzzh999/markdown-pictures/blob/master/vs%20code%20debug%20log%20-%20test.png?raw=true)

[2019-06-26 10:19] meowao opened #2604 "can't turn off format on save"
when i save go file, it will auto format. and i have no idea how turn off this
![66](https://user-images.githubusercontent.com/13918627/60172134-9f543100-983e-11e9-9eba-27644ccbfc63.gif)

that is my setting.json in .vscode folder
![QQ图片20190626181408](https://user-images.githubusercontent.com/13918627/60172196-c7dc2b00-983e-11e9-90e5-809ba59e2322.png)

extensions version:0.11.0
vscode version:1.35

[2019-06-26 12:24] wtask opened #2605 "gopkgs failed to install"
gopkgs failed to install from VSCode, but successfully installed from console

VSCode Version: 1.35.1 (user setup),
OS: Windows_NT x64 10.0.18362
VSCode-Go: 0.11.0
GO111MODULE=on
GOPATH=C:\dev\go

Steps to Reproduce:
1. Ctrl+Shift+P
2. Go: Install/Update Tools
3. Select All

[code]
4. Copy and paste install command into console:
[code]
Check %GOPATH%\bin and make sure gopkgs is up-to-date now..

A

[2019-06-26 12:30] wtask opened #2606 "False positive warning"
From time to time VSCode-Go flashes a warning that my GOROOT has changed, but it is not true:

![nodifference](https://user-images.githubusercontent.com/45894304/60179814-2f867c00-9827-11e9-972e-b10e74d9cea6.png)

VSCode-Go: 0.11.0
Version: 1.35.1 (user setup)
Commit: c7d83e57cd18f18026a8162d042843bda1bcf21f
Date: 2019-06-12T14:30:02.622Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6

[2019-06-26 13:59] galileo-pkm commented on #2578
Just tried it, it works without issues.
As usual you have been most helpful Ramya, thank you.

An issue has been posted by multiple people almost a year ago, no one cares:
https://github.com/golang/go/issues/26882

Two other minor issues if it matters:

With 0.11.1-beta.1 I get this notification:
"vscode-icons has detected an Angular project. Select 'Restart' to enable the Angular icons."
I don't

[2019-06-26 14:29] SteelPhase opened #2607 "VSCode needs to be reloaded when gopls is updated"
Would there be any interest in replacing the message after installing gopls with a call to `Go: Restart Language Server`, or a similar method instead.

[code]

[2019-06-26 21:16] josharian commented on #2590
Thanks, @ramya-rao-a. By way of follow-up, watching the logs, it appears that there were actually many things going wrong.

* There doesn't appear to be a way to globally set a PATH envvar in vscode's settings. As a result, depending on how I happened to open gopls, the PATH would sometimes be empty. When gopls tried to exec the go tool (as part of go/packages), that would fail when PATH was empty

[2019-06-27 01:24] atombender commented on #2599
Still happening. I have a window open now where save does not trigger. Some observations:

1. `Format document` action complains about there being no default formatter.
2. If I go to configure it, _two_ formatters are available:

![Screen Shot 2019-06-26 at 21 18 14](https://user-images.githubusercontent.com/50314/60226150-ef8bbd00-9857-11e9-8cb4-c08d9b0cae19.jpg)

3. No matter which one I set to

[2019-06-27 01:30] atombender commented on #2599
Looking at the logs, I do see lines like this that I didn't see when tailing before:

[code]

No more detail than that.

I'm also seeing some older entries like this, before I disabled Gopls's formatting, are these anything bad?

[code]

[2019-06-27 01:40] colinlabs commented on #2484
[saibing/tools](https://github.com/saibing/tools) support "Autocomplete Unimported Packages", can this help with the issue?

[2019-06-27 04:35] zikaeroh opened #2608 "Code coverage only shows for focused file when multiple are visible"
Steps to Reproduce:

1. Run the "toggle test coverage in current package" command with two files in the same package open, split so both are visible.
2. Only the file which has focus shows code coverage.

I might be remembering incorrectly, but I don't believe this used to happen. An example where I just click from one side to the other:

![image](https://user-images.githubusercontent.com/48577114

[2019-06-27 14:33] bragagia opened #2609 "Autoimports not working with GoPls if inside a workspace"
I am experiencing an issue everytime i'm trying to work on a Go project loaded with other projects inside a single workspace.

The Go project uses Go modules, and i'm using GoPls.

It sometimes works when I open the go project, and only then add more folders to the workspace.

Steps to reproduce :
- Open a workspace with a Go project and anything else.
- Create a main.go :
[code]
- Save

I would e

[2019-06-27 15:58] Strum355 commented on #2601
Can confirm v0.10.2 works, so theres a pretty big regression in v0.11.0 :/ v0.11.0 seems to be down as an update to the debugging side of the extension so that seems likely

[2019-06-27 16:41] stamblerre commented on #2570
@nicebug: You can follow along on https://github.com/golang/go/issues/32639.

[2019-06-27 17:50] sethRait opened #2610 "Enable Easier Debugging of Code Requiring Root"
Currently, if one needs to run code with superuser privileges, but edits it as a standard user, the debugging process is very convoluted.  Since there is no way to specify "run delve as root" in the launch.json, here is what must be done currently:
Steps to Reproduce:

1. In launch.json, set request to "attach" and mode to "remote" and change the remotePath, host, port settings as required.  Add a

[2019-06-27 18:53] stamblerre commented on #2588
@ignishub: Can you try reproducing this with the latest version of `gopls` on master (`go get -u golang.org/x/tools/gopls@master`)? We have made some changes recently that may have fixed this. However, if it's still happening, please feel free to file an issue in the Go issue tracker that @ramya-rao-a linked.

[2019-06-27 21:53] stamblerre commented on #2598
@RadhiFadlillah are you using `go1.12`? There were some issues with `cgo` and `go/packages` that should have been improved in `go1.12`.

[2019-06-27 22:16] stamblerre commented on #2591
I see you are also using the language server - can you share your logs? Go to View: Debug Console -> Output -> Tasks -> gopls. Are there any other features that you have issues with? What happens when you save the file?

[2019-06-27 22:23] stamblerre commented on #2605
`gopks` covers functionality that `gopls` does not yet support, so I would say you still need it.

My guess is that something modified your `go.mod` earlier before you updated `gopkgs`. Can you install if you run `go mod tidy` in that directory?

[2019-06-27 23:46] stamblerre commented on #2578
@galileo-pkm: Are you using the latest version of `goimports` (`go get -u golang.org/x/tools/cmd/goimports`)? Looking at your repro case, I don't think that should happen, and it might be different from the bug you linked. If this reproduces with the latest version of `goimports`, please file a bug with the repro case on the Go issue tracker: https://github.com/golang/go/issues.

Also, @ramya-rao-

[2019-06-28 00:02] stamblerre commented on #2590
@josharian can you update to a more recent version of `gopls` (`go get -u golang.org/x/tools/gopls@master`). One of the issues you report was fixed in https://github.com/golang/go/issues/32603.

`gopls` will not format code with syntax errors, not type errors. This is because there have been some issues with the way the `format.Node` function works (it will occasionally re-write malformed code.) W

[2019-06-28 00:15] ramya-rao-a commented on #2578
Ah! So, goreturns never had to do anything special to get modules working as long as the underlying `imports` package worked? @sqs Can you confirm this? If this indeed the case, then we should update the check mark next to `goreturns` in https://github.com/golang/go/issues/24661

@galileo-pkm,
- The notification for Angular icons seems to be coming from the vscode-icons extension, please log an is

[2019-06-28 00:18] ramya-rao-a commented on #2590
The PATH should never be empty unless explicitly set so. VS Code inherits all environment variables from the terminal from which it was started from. If you want to set the env variables explicitly, you can also use the `go.toolsEnvVars` setting

[2019-06-28 00:20] stamblerre commented on #2578
Oh you know I may have actually spoken too soon. I assumed `goreturns` only parsed, but looks like it does type-check files as well. In that case, it doesn't seem to use modules yet as I don't see it using `go/packages`. My mistake.

[2019-06-28 00:42] stamblerre commented on #2609
Which version of `gopls` are you using (`gopls version`)? This sounds like an error that was fixed a few weeks ago. You can update by running (`go get -u golang.org/x/tools/gopls@master`).

[2019-06-28 00:43] sqs commented on #2578
Yes, goreturns must typecheck because it needs to know if (eg) `return foo()` is a multiple return or a single return. That’s a rare enough use case that I probably should make it not try to fix those cases, which would eliminate the need for typechecking. But it is needed now.

[2019-06-28 01:11] RadhiFadlillah commented on #2598
@ramya-rao-a sorry for late response, I've opened it in [go#32821](https://github.com/golang/go/issues/32821).

@stamblerre I'm using Go 1.12.5. Both `gocode` and `go/packages` have been updated to latest commit as well.

[2019-06-28 01:46] ramya-rao-a commented on #2578
@sqs, So what would you say the state of modules support by goreturns is?

[2019-06-28 02:28] #2255 closed

[2019-06-28 02:38] ramya-rao-a commented on #2604
The extension enables format on save feature specifically for Go files, so you would need the below
[code]

A side note by looking at your settings

The below is not needed with the past few versions of the extension. `gopls` is the default language server we are using now
[code]

[2019-06-28 02:38] #2604 closed

[2019-06-28 02:42] ramya-rao-a commented on #2604
Your case brings up a good point though. It is not very clear on how to disable the format on save feature. I've updated our README with a note on this with https://github.com/microsoft/vscode-go/commit/019f4562f091bb6695257647f70c9098b81423f2

Thanks for reporting!

[2019-06-28 02:45] ramya-rao-a commented on #2607
I guess now that we have a command to restart the language server, we don't need to reload VS Code window? It needs to be tested though.

If so, then we can update the code that prints this message to instead just restart the language server.

[2019-06-28 09:59] ankitforcode opened #2612 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `Go`
- Extension Version: `0.11.0`
- OS Version: `Darwin x64 18.6.0`
- VSCode version: `1.35.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[code]

[2019-06-28 10:12] wtask commented on #2605
I just checked this issue under Go project which does not use modules and got the same erroneous result in VSCode.
I think the reference on go mod in the error details does not depend on current VSCode project (with or without module support).

[2019-06-28 12:39] chgeuer commented on #2572
I believe I'm experiencing the same problem. Check out this sample repro solution:

https://github.com/chgeuer/repo-go-mod-vs-code

There are two VS Code workspaces, called "good" and "bad". The "good" one only shows the main folder, while "bad" shows everything. I would love to open "bad", but then the whole F12 navigation etc doesn't work any longer.

[2019-06-28 13:21] farzadmf opened #2613 "Issue with mongo-go-driver"
Hi,

Steps:
1. Create code
[code]
2. Now, in VSCode, I create a `context`, and when I type this:
[code]
and I do `Ctrl + .` on it, and then select `Organize all imports`, it imports the package like this:
[code]
So, my final code will look like this (if I rely on VSCdoe to organize imports):
[code]

But I see this error:
![image](https://user-images.githubusercontent.com/5768792/60345003-fadd0680-

[2019-06-28 15:16] andig commented on #2572
ping @ramya-rao-a is there anything else we could contribute?

[2019-06-28 15:36] stamblerre commented on #2605
When you download a tool in module mode, it can modify the `go.mod` in your current directory. However, I believe that VSCode does explicitly disable `GO111MODULE` when updating tools, so I'm surprised that this error would occur. @ramya-rao-a, what do you think?

[2019-06-28 17:03] atombender commented on #2599
I'm seeing more `exthost` log output right now that wasn't showing before for some reason. Related?

[code]

[2019-06-28 18:16] stamblerre commented on #2501
@Helcaraxan: Can you try to repro on the latest version of `gopls` (`go get -u golang.org/x/tools/gopls@master`)? We have recently made a number of improvements that may have solved this issue.

[2019-06-28 18:51] inliquid opened #2614 "gopls: Ctrl-Click in import section both leads to opening doc page in browser and in editor"
OS: Windows 10
VS Code: 1.35.1
vscode-go: 0.11.1-beta.1

For example, clicking (Ctrl-Click) on `fmt` here leads to opening `scan.go` in new tab in editor while at the same time godoc tab with fmt is silently opened in browser on background.
![изображение](https://user-images.githubusercontent.com/6797881/60362045-91421400-99e8-11e9-99ec-b2200269acc2.png)

[2019-06-28 18:58] stamblerre commented on #2614
This can be disabled by setting

[code]

[2019-06-28 19:11] inliquid commented on #2614
@stamblerre is opening two things fine? This start happening at some point back in time, as I remember this wasn't acting like this before. I think it should either open one, or another, basically being controlled by some setting. F.e. I'd like to have godoc option only, without seeing some random file from that package (why `scan.go`?).

[2019-06-28 19:17] stamblerre commented on #2614
This is a result of VSCode playing strangely with LSP. Basically, CTRL + Click is a shortcut for jump to definition, which `gopls` isn't aware of (it just knows that it received a jump-to-definition request), but CTRL + Click is also the shortcut for clicking on links in a VSCode file. The `documentLink` feature is sent per-file, so `gopls` has no idea if you've clicked on a link, it just sends in

[2019-06-28 19:33] Helcaraxan commented on #2501
@stamblerre just tried it out and I have indeed been unable to reproduce the previously observed behaviour. 👍 Thank you very much for the heads-up, happy again to see the progress of `gopls` over time!

[2019-06-28 20:17] stamblerre commented on #2501
Glad to hear it! Thanks for letting me know.

[2019-06-28 22:05] tkivisik opened #2615 "snippets: add friendly failing test output snippet"
I propose two snippets for friendly failing test output as 10 upvotes are required for the PR to get accepted.
Snippet would ask 5 slots to be filled in:
```t.Fatalf("1(2) = 3, want 4", 5)```

Example result:
```t.Fatalf("sum(%d, %d) = %d, want %d", a, b, got, want)```

[code]

[2019-06-29 01:09] ramya-rao-a commented on #2501
Thanks @Helcaraxan and @stamblerre for the detailed follow ups.
I will close this issue for now.

Workarounds:
- https://github.com/microsoft/vscode-go/issues/2501#issuecomment-494177715
- Update to the latest version of `gopls`

If the issue still persists, please log a bug in https://github.com/golang/go

[2019-06-29 01:09] #2501 closed

[2019-06-29 01:13] ramya-rao-a commented on #2614
@stamblerre `gopls` has information on all available links as well as the position where the definition request was made from. When the position is known to be part of the link, can it not return empty results for the definition request?

[2019-06-29 01:18] ramya-rao-a commented on #2599
Thanks for all the details @atombender
https://github.com/microsoft/vscode-go/issues/2446 explains how there can be 2 formatters that can get registered.

Until we get that resolved, you can try to use the formatting feature from the language server.

[2019-06-29 01:20] stamblerre commented on #2614
It could - that's what I was referring to when I suggested disabling jump to definitions for import paths. My issue is more that some users may prefer jumping to definitions of import paths, versus some may prefer opening the Godoc for an import path. I'm not certain that the right approach would be to completely remove the jump to definition behavior (for example, what if a user doesn't have an I

[2019-06-29 01:21] atombender commented on #2599
Thanks. Why does registering it twice cause it to stop working, though?

Unfortunately, I can't use Gopls for formatting. It's pretty broken these days; I'm sigkilling it every 10 minutes or so because it ends up in a bad state where autocompletions don't work and it reports error regions for things that have been fixed and so on. It's painful, and one part of it which is particularly broken is it

[2019-06-29 01:30] ramya-rao-a commented on #2599
Maybe because each attempt at formatting tries to fetch the formatter and it is a game of chance which of the 2 (the one from the extension, the other from the language server) gets picked up? Not sure...

@jrieken Does each formatting request try to figure out which provider to use? Or does it pick one for a VS Code session and stick with it? @atombender is seeing the case of https://github.com/m

[2019-06-29 01:34] ramya-rao-a commented on #2605
Yes, we disable `GO111MODULE` in the process that runs `go get` to install the tools. https://github.com/microsoft/vscode-go/blob/0.11.0/src/goInstallTools.ts#L314

[2019-06-29 01:34] atombender commented on #2599
Ah, so one of them is Gopls. Is there a way for me to comment out the Gopls registration somewhere?

[2019-06-29 01:41] ramya-rao-a commented on #2572
Hi @andig, apologies for the late reply.

Your settings show that you are not using the language server. @chgeuer Can you share your settings as well?

In the absence of the language feature, the tool specified in `go.formatTool` setting is used for formatting. In @andig's case, this is `goimports` which does edit import statements.

@andig Can you add the below in your settings to disable the for

[2019-06-29 01:41] ramya-rao-a commented on #2570
Closing this issue in favor of the upstream issue https://github.com/golang/go/issues/32639

[2019-06-29 01:41] #2570 closed

[2019-06-29 01:45] ramya-rao-a commented on #2602
In the above example, did you stop debugging explicitly or did it stop on its own?

[2019-06-29 01:54] ramya-rao-a commented on #2446
@stamblerre For more context, please see https://github.com/microsoft/vscode/issues/72315 and
https://github.com/microsoft/vscode/issues/70314#issuecomment-472336416.

Can we have `gopls` skip the registering of the formatter if the user has chosen not to have the formatting feature from `gopls`?

[2019-06-29 01:54] ramya-rao-a commented on #2599
Based on https://github.com/microsoft/vscode/issues/70314#issuecomment-472336416 it looks like that should happen on the language server side

Let's continue this on https://github.com/microsoft/vscode-go/issues/2446#issuecomment-506917579

[2019-06-29 01:56] ramya-rao-a commented on #2614
I didnt realize that was a feature that was supported :) A package can have multiple files. Which file do you land on when a definition request is made on a package?

[2019-06-29 02:14] ramya-rao-a commented on #2595
Thanks for the confirmation @Kannaj!

This is a regression indeed, I have pushed a fix. Can you try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension and confirm if the fix works for you?

[2019-06-29 02:17] ramya-rao-a commented on #2600
Thanks @goyapp

I believe the formatting tool is causing this. Can you add the below to your settings to disable the format on save feature and try again?
[code]

[2019-06-29 02:29] ramya-rao-a commented on #2574
Closing this issue as it is getting hard to track the multiple issues that have been brought up here, some of them are fixed, others have workarounds.

Please log a new issue if you still have problems

[2019-06-29 02:29] #2574 closed

[2019-06-29 02:34] ramya-rao-a commented on #2613
Can you please share any Go related settings you might have added/edited?

[2019-06-29 02:34] ramya-rao-a commented on #2612
Can you please proved more details on what the issue here is?

[2019-06-29 03:00] ramya-rao-a commented on #2608
Thanks for reporting @zikaeroh
This definitely used to work before, am not sure if something changed in the Go extension or VS Code itself to cause this.

I'd appreciate any help in figuring out the root cause here

Code Pointers:
- See [Build and Debug Extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code) to set up local de

[2019-06-29 03:06] ramya-rao-a commented on #2606
Your screenshot shows that this is a casing issue. I have pushed a fix for this. Until I release an update, you can use the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension which has the fix

[2019-06-29 03:07] ramya-rao-a commented on #2606
Thanks for reporting!

[2019-06-29 03:07] #2606 closed

[2019-06-29 03:08] ramya-rao-a commented on #2605
@wtask Can you share any Go related settings you might have added/edited?

[2019-06-29 03:23] ramya-rao-a commented on #2601
@Strum355 @olegburov Is this only when attaching to a headless delve instance? Are the variables showing up fine in the case of starting the program as part of debugging itself? i.e when `request` is set to `launch` and `mode` is `debug`?

https://github.com/microsoft/vscode-go/commit/6a77627ff2237ec3e507d2f6a8a64ace83d047f3 is the only change around debugging that was made in v0.11.0. None of the

[2019-06-29 03:25] ramya-rao-a commented on #2601
@olegburov Are you using the same debug configuration both in v0.10.2 and v0.11.0?

[2019-06-29 03:26] ramya-rao-a commented on #2569
@pkochubey Thanks for reporting. Can you provide us a small code sample where you can see this happening? Then, I can try and look into what is exactly causing this

[2019-06-29 03:32] ramya-rao-a commented on #2558
The value returned by `go env GOPATH` is already being used as the GOPATH by this extension when no explicit `GOPATH` is set as an environment variable. So as far as `go env GOPATH` gives a value, we are good. Is there any evidence of this going away as well?

When an extension is updated (say a new version is available), the existing folder where the extension is installed is replaced with the ne

[2019-06-29 03:35] ramya-rao-a commented on #2540
Apologies for the late response.

I used your code and I am able to see the message

![image](https://user-images.githubusercontent.com/16890566/60379240-47efc580-99e4-11e9-857b-6b96023d95d3.png)

Can you share any Go related settings you might have added/edited?

[2019-06-29 03:38] ramya-rao-a commented on #2535
Apologies for the late response @satishvaltix

Is the problem only ever for the first function in the outline view? Other functions work as expected?

[2019-06-29 03:47] ramya-rao-a commented on #2504
Apologies for the late reply @davidovich

@sandy081 When looking at the PATH env variable to find a directory where the go executable can be found I am using the below
[code]

Is it possible that in case of Remote-WSL, this platform check results in me not getting the PATH value at all?

[2019-06-29 03:50] ramya-rao-a commented on #2504
@davidovich Does your fix in https://github.com/microsoft/vscode-go/issues/2505#issuecomment-491066921 help with the issue here as well?

[2019-06-29 03:52] ramya-rao-a commented on #2416
#2446 is tracking the issue of multiple formatters being registered.
Closing this issue as `goimports` is getting chosen as the formatting tool when using Modules

[2019-06-29 03:52] #2416 closed

[2019-06-29 03:55] ramya-rao-a commented on #2428
Apologies for the late reply

The feature request to clear the old results when a new request to find references is fired should be logged against VS Code in https://github.com/Microsoft/vscode. The extension doesnt have control over the UI.

Updating the references as and when each reference is received from the language server is not something that VS Code supports either. That should also be a

[2019-06-29 03:55] #2428 closed

[2019-06-29 04:03] farzadmf commented on #2613
Thank you @ramya-rao-a for your follow-up. Actually, I tested in my Linux home computer, and it seems to be working fine, and this was happening on my Windows work computer.

There's actually another thing I did with my Windows: first time, I did `go get github.com/mongodb/mongo-go-driver` (in my go module directory), and later I realized that the Github `README` says to use `go.mongodb.org/mongo-

[2019-06-29 04:12] zikaeroh commented on #2608
I went back to 0.9.0 and tested, and the same thing happened (and I definitely didn't have this issue 3 months ago). On to the VSC bisect, I guess...

[2019-06-29 04:43] olegburov commented on #2601
@ramya-rao-a, yes I used the same between `v0.10.2` and `v0.11.0`. Please see my example ☝️. Should it be different for `v0.11.0`?

[2019-06-29 04:44] zikaeroh commented on #2608
I'm utterly confused. I went all the way back to 1.32.1 and 0.8.0, and every combination did what I showed above. Surely this worked before and I'm not insane...

[2019-06-29 08:15] wtask commented on #2605
I manually set GOPATH and GO111MODULE=on only. Which other settings do you mean?

[2019-06-29 08:47] w20089527 commented on #2591
Below is one situation and its `gopls` logs.

![Peek 2019-06-29 16-38](https://user-images.githubusercontent.com/7413974/60381777-a3758e00-9a8c-11e9-98db-37231142e779.gif)

![image](https://user-images.githubusercontent.com/7413974/60381764-7fb24800-9a8c-11e9-877e-14fe740c2f47.png)

[2019-06-29 08:49] andig commented on #2572
Thank you @ramya-rao-a. I wasn‘t aware that I needed to manually enable the language server istead of this being the default (I haven‘t touched the config at all). I will test both your suggestion and using the language server.

[2019-06-29 13:08] aaronjheng commented on #2504
I met the similar problem with Remote-SSH. VM restart can fix this. What I think is that when vscode-server starts up, go binary is not in the PATH. Even you add it to PATH later, vscode-server's process holds the original PATH, so the extension can't find the go binary. But this is only my speculation.

[2019-06-29 14:35] davidovich commented on #2504
Will try to reproduce, but my access to a Windows machine will only be next
Tuesday, as it is a holiday on Monday here in Canada.

Le sam. 29 juin 2019 à 09:08, Aaron Jheng <notifications@github.com> a
écrit :

[2019-06-29 14:56] galileo-pkm commented on #2578
The issue seems to be fixed with the latest (v0.0.0-20190628222527-fb37f6ba8261) version of go imports. I forgot the check what was the version that I had but I did the "Go:Install/Update tools" via VSCode about 2 weeks ago so it must have been fixed in the meantime.

[2019-06-29 15:08] galileo-pkm commented on #2578
It popped up after I updated to the beta version that you provided so I presumed it was related, its just icons, it doesn't really matter.

The reason for setting up a per project gopath is the same as when I was using go.inferGopath:
I do not want to clutter my ~/go folder with junk. I use different storage backends and backup methods for my home folder and workspaces so it is mainly driver by th

[2019-06-29 16:01] kennytm opened #2617 "The generated file warning should appear even if the DO NOT EDIT comment is not on the first line"
In #1425 (which fixes #1295), VSCode will show a warning if the *first line* of the code contains the comment matching `^// Code generated .* DO NOT EDIT\.$`. However, as specified in https://golang.org/pkg/cmd/go/internal/generate/, this comment can appear *anywhere*, so it is wrong to just detect the first line.

[2019-06-29 21:11] ramya-rao-a commented on #2605
@wtask I mean the settings you see in the json file that is opened when you run the command `Preferences: Opens Settings (JSON)`

[2019-06-29 21:15] ramya-rao-a commented on #2608
@zikaeroh I believe you are not insane :) I remember testing this exact feature once before.
This would mean that there is some issue with the API between VS Code and the extensions. Can you try going back to an older version of VS Code itself? You can find all versions at https://code.visualstudio.com/updates/v1_35

[2019-06-29 21:19] zikaeroh commented on #2608
That's what I did, I built VS Code from source after failing to bisect this repo (thinking I'd bisect it instead), but even bringing that back to 1.32.1 didn't fix it. I don't remember this not working back then, hence my confusion.

[2019-06-29 21:20] wtask commented on #2605
Hmm, I have config:
[code]

[2019-06-29 22:10] ramya-rao-a commented on #2605
Its not clear why the module mode would be enabled back after we expliclity disable it before running t `go get`

Can you delete the folder `C:\dev\go\src\github.com\karrick\godirwalk` and try again to install using the `Go: Install/Update Tools` command?

You mention that running `go get` from the console works. If you ran that on the external console, can you try running it in the integrated ter

[2019-06-29 22:31] ramya-rao-a commented on #2608
Ah! found the issue, looks like the bug got introduced about 9 months ago.
I have pushed a fix.
Can you give it a try by getting the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension?

[2019-06-29 22:34] ramya-rao-a commented on #2578
Since `goimports` has the fix and the notification for using it in place of `goreturns` is now dismissable, l am closing this issue.

@galileo-pkm Can you log a new issue with the proposal for not disabling `go.inferGopath`?

[2019-06-29 22:34] #2578 closed

[2019-06-29 22:49] zikaeroh commented on #2608
Yes, it seems to be working. Thank you!

[2019-06-29 22:49] #2608 closed

[2019-06-29 22:51] ramya-rao-a commented on #2419
Apologies for the delay in getting back to this.

The feature of unimported packages showing up in the completion list is driven by the `go.autocompleteUnimportedPackages` setting.

@didil and everyone who upboted https://github.com/microsoft/vscode-go/issues/2419#issuecomment-480576201, this feature doesnt work when using modules. This issue is being tracked in #2484, so please subscribe to it.

[2019-06-29 22:57] ramya-rao-a commented on #2429
@chenzhijie Apologies for the late reply.

From your example, I see that you have a struct with two fields `Field1` and `Field2`. And then you type `obj.` and see both the fields in the completion list. After this point, I am not sure what the problem is. Can you provide step by step details of what the problem is after seeing both the fields in the completion list?

[2019-06-29 23:01] ramya-rao-a commented on #2440
Apologies for the late reply.

- Run `Go: Current GOPATH` and see if it shows the expected GOPATH
- What is the command you ran to successfully build from the command line? Can you try this in the integrated terminal in VS Code and see if you are able to still build?
- If you click on the "OUTPUT" tab in the panel where you are seeing the error, you will see the command (`go build`) that is used b

[2019-06-29 23:02] ramya-rao-a commented on #2441
Thanks for reporting @ulrichSchreiner
cc @stamblerre

[2019-06-29 23:10] ramya-rao-a commented on #2445
Thanks for reporting @leojonathanoh

The support for the `output` was added via a community contribution https://github.com/microsoft/vscode-go/pull/1564. I wasn't aware that it was supported in test mode as well.

I have pushed a fix and the next update the extension will have support for `output` in test mode as well

[2019-06-29 23:27] ramya-rao-a commented on #2384
Hello @sankarp-kavach,

Apologies for the late reply, do you still have this issue?
I am not sure why in WSL, the extension fails to read the PATH properly.

While we try to figure that out, one workaround is to specify the goroot (or the location where the go binary is, minus the "bin" in that location) in the `go.goroot` settings.

Did you get a chance to try the new WSL experience in VS Code? P

[2019-06-29 23:30] jclc opened #2618 "Replace gorename with gopls' rename feature"
`gorename` has never worked on projects outside the $GOPATH. Instead of updating `gorename`, the Go team has instead decided to add the same functionality to `gopls` and abandon `gorename`. vscode-go should replace the old renaming functionality with that of `gopls`.

reference: https://github.com/golang/go/issues/27571#issuecomment-506592987

[2019-06-29 23:54] ramya-rao-a commented on #2613
Since you are using the language server, most features are coming from it like build errors and completion.
@stamblerre Would you have some ideas here as to why the wrong imports are getting added by the `Organize Imports` feature?

[2019-06-30 00:05] ramya-rao-a commented on #2489
I believe this has been fixed in 0.10.2
Please feel free to re-open the issue if thats not the case

[2019-06-30 00:05] #2489 closed

[2019-06-30 00:56] primalmotion commented on #2419
Yes I still have the issue. To reproduce you need a package with a standard name. For instance github.com/me/json. If you do so, it will auto complete json to be the one from github.com/me, but never the standard encoding/json. My guess is a map key override or something like that.

[2019-06-30 03:05] ramya-rao-a commented on #2601
I was just asking to narrow down on what are the changes between the 2 attempts you had made other than changing the Go extension version.

I am able to repro the same and see the empty values being returned from delve. Will dig deeper into what changed to get this difference between the 2 versions

[2019-06-30 06:42] ramya-rao-a commented on #2601
I found the issue. While refactoring the code around starting delve in https://github.com/microsoft/vscode-go/commit/6a77627ff2237ec3e507d2f6a8a64ace83d047f3, we had an early exit in case of remote debugging (as the extension doesn't have to start delve in this case). The part where we set the `dlvLoadConfig` was missed for remote scenarios due to the early exit

I have pushed a fix for it, can ei

[2019-06-30 09:20] wtask commented on #2605
- Update for gopkgs from VSCode terminal is also successful. But the command has modified project's go.mod and go.sum, so I need to run go mod tidy to revert its changes. That behaviour does not appear when update started in external console outside Go project.
- I checked go\src\github.com\karrick\godirwalk and  go.mod/go.sum here are in modified state. After deletion the package, VSCode successf

[2019-06-30 16:44] #2605 closed

[2019-06-30 18:07] ramya-rao-a commented on #2419
I tried the set up you suggested and added a custom "json" package. I am able to see both the standard json and custom one in the implementation. I am not using modules

![json](https://user-images.githubusercontent.com/16890566/60400315-e3894f00-9b26-11e9-87c4-09075ea2794b.gif)

[2019-06-30 18:28] karim commented on #2558
No, it is not going anywhere. It is still being used by modules (`GOPATH/mod`) but I'm not sure if it will also have `GOPATH/bin` and `GOPATH/src`.

I didn't know that, sorry.

My suggestion was about making the extension handle all the logistics of installing/updating/removing the tools as required. Deleting the ones that are no longer used. Updating the installed ones when the extension is updat

[2019-06-30 18:33] sandy081 commented on #2504
@ramya-rao-a Depends on who is setting these variables. If these variables are set by the platform or node, then they should be available.

[2019-06-30 18:36] primalmotion commented on #2419
Weird. It always suggests the json package from kubernetes for me :(

[2019-06-30 19:15] schaefec commented on #2505
I experience the exact same issue: Works fine running w/o debugging (CTR+F5) but doesn't work with debugging (F5)

[2019-06-30 19:46] olegburov commented on #2601
@ramya-rao-a, thanks a lot for looking into this. With `v0.11.1-beta.3` it starts working for me.

[2019-06-30 21:30] ramya-rao-a commented on #2419
@primalmotion Try running `gopkgs -format {{.Name}};{{.ImportPath}}` in the folder of your file and see if the output contains both "json" for you. The results from this command is what is used as reference when providing this feature

[2019-07-01 00:03] mreynolds opened #2619 "GOOS file suffix ignored for compilation"
This seems related to #1848.

For reference : https://blog.ralch.com/tutorial/golang-conditional-compilation/

Steps to Reproduce:

1. Create a file `mymodule.go`
2. Create a GOOS conditional compilation for current platform (say `mymodule_linux.go`)
[code]

3. Create a GOOS conditional compilation for a separate platform (say `mymodule_darwin.go`)
[code]

VSCode-go treats both files as actively c

[2019-07-01 02:11] ramya-rao-a commented on #1982
Thanks everyone for your patience and contribution!

Tagging our designer from the VS Code team

@misolori, Please guide us on what the next steps here should be?

[2019-07-01 03:20] shaodahong commented on #2074
@ramya-rao-a go module in vscode now supported, please review this issue

[2019-07-01 03:40] douglarek commented on #2074
gopls have supported go rename

[2019-07-01 04:13] misolori commented on #1982
This would have to get updated from the [seti-ui icon theme](https://github.com/jesseweed/seti-ui), but that repo has gone a bit stale (last updated in August 2018). The team needs to decide on next steps for this repo, will update when I know more.

[2019-07-01 04:50] ramya-rao-a commented on #2618
If the user has enabled the use of language server and has the latest version of `gopls`, then the rename feature will be coming from `gopls` and not `gorename`. The code needed to do this is already in place

Are you suggesting that this extension use `gopls` for the rename feature even if user has not opted to use the language server?

[2019-07-01 05:06] ramya-rao-a commented on #1982
@misolori Would you prefer an issue in the VS Code repo?

[2019-07-01 05:09] ramya-rao-a commented on #2074
Thanks for the update @douglarek and @shaodahong

@douglarek The value for the setting `go.languageServerExperimentalFeatures` that you have shared is the default value, so one doesn't need to specify the same in settings again. Would you mind updating your instructions?

The only 2 things to ensure are
- Have the setting ` "go.useLanguageServer": true`
- Get the latest version gopls

[2019-07-01 05:09] #2074 closed

[2019-07-01 06:40] xzzh999 commented on #2602
on its own

[2019-07-01 06:47] phungvandat opened #2620 "Package not found error from language server"
- VSCode Version: 1.35.1
- OS Version: Macos 10.13.6
- Go Version: 1.12.6

I installed all packages from the suggested Go extension. But when I tried to import a package from GOPATH I was not recommend. The error .go file immediately does and not ref to the previously imported pakage. I turned off vscode and rebooted it before I ran out of errors.

[2019-07-01 06:51] shaodahong commented on #2074
ok, found need update `gopls` version

[2019-07-01 08:06] chgeuer commented on #2572
I updated by [comment above](https://github.com/microsoft/vscode-go/issues/2572#issuecomment-506719205)

[2019-07-01 09:12] eugeneradionov opened #2621 "Go/Peek Implementation calls guru and loads 100% of all CPU cores"
When trying to Go/Peek Implementation my computer gets stacked and all CPU cores 100% loaded.

**Project Structure**
Have opened `project_root` folder with 3 microservices in vscode
[code]

**htop**
![image](https://user-images.githubusercontent.com/11798339/60424199-7cd46600-9bf8-11e9-8866-f10ca1ccb27e.png)

**Go config**
[code]

**System Information**
Ubuntu 18.04.2 LTS 64-bit
GNOME 3.28.2

[2019-07-01 09:45] zhwentao opened #2622 "gbimporter: no package found"
go version: go1.11 darwin/amd64
packages are all in gopath

debug output:
2019/07/01 17:00:35 -------------------------------------------------------
2019/07/01 17:00:35 gbimporter: no package found for golib/commArray: can't find import: "golib/commArray"
2019/07/01 17:00:35 gbimporter: no package found for golib/utils: can't find import: "golib/utils"
2019/07/01 17:00:35 gbimporter: no package f

[2019-07-01 12:12] jclc commented on #2618
I'm sorry, I wasn't aware `gopls` renaming was in already. I reinstalled the extension and it works great now!

[2019-07-01 12:12] #2618 closed

[2019-07-01 14:00] stamblerre commented on #2614
We pick the longest file in a package (this is just a heuristic, we assume that the longest file is the "most interesting"). We could definitely disable this behavior though.

[2019-07-01 14:15] stamblerre commented on #2591
Do you see any errors from the `textDocument/completion` requests in the logs?
Can you check if this happens on the latest version of `gopls` (`go get -u golang.org/x/tools/gopls@master`?

[2019-07-01 15:00] markvincze commented on #2426
Hey @ramya-rao-a,

Is it possible we have a regression with this?
I'm on the Go extension 0.11.0, and on VSCode 1.35.1, and if I save my source file, the cursor jumps to the very top of the file. If I disable the "use language server" option, then it stops happening.

[2019-07-01 16:32] misolori commented on #1982
@ramya-rao-a not until we have decided what to do with that repo. We've had other requests for other file icons to be updated and have closed and redirected them to the seti-ui repo.

[2019-07-01 16:49] davidhopkins opened #2623 "Outline view doesn't remember sizing between restarts"
Steps to Reproduce:

1. Enable [centered layout mode](https://code.visualstudio.com/updates/v1_21#_centered-editor-layout)
2. Resize outline menu
3. Restart and outline menu will be near top of the page

Thanks

VSCode-Go: 0.11.0
Version: 1.35.1
Commit: c7d83e57cd18f18026a8162d042843bda1bcf21f
Date: 2019-06-12T14:27:31.086Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: L

[2019-07-01 18:25] primalmotion commented on #2419
I do see `encoding/json` in that (huge) list, however if doesn't not show in my completion list

[gopkgs.zip](https://github.com/microsoft/vscode-go/files/3346876/gopkgs.zip)

[2019-07-01 18:32] stamblerre commented on #2441
`gopls` does not suggest unimported packages, so I don't believe that `gopls` could be causing the first case. `gopls` follows the convention of having standard library imports separate from third-party imports, but if you delete the line and merge the two, it will just sort the list. I'm not sure that `goimports` and `goreturns` are different.

[2019-07-01 18:39] stamblerre commented on #2613
@farzadmf: I think you're right that the first `go get` would be the cause of this problem. If you have a directory `github.com/mongodb/mongo-go-driver` under your `$GOPATH`, you may want to delete it. Likely the 2 directories are confusing `goimports`.

[2019-07-01 18:49] stamblerre commented on #2446
So the solution would be to always register formatting dynamically? How would this work for editors that don't support dynamic registration?

[2019-07-01 19:52] farzadmf commented on #2613
Thank you @stamblerre . That's what I was suspecting. I close this and re-open in case the issue is still there.

[2019-07-01 19:52] #2613 closed

[2019-07-02 03:02] ramya-rao-a commented on #2446
I am not sure if the editor needs to know about the dynamic registration. Can you post the question in https://github.com/microsoft/vscode/issues/70314#issuecomment-472336416?

[2019-07-02 03:03] ramya-rao-a commented on #2446
I am not sure if the editor needs to be aware of the dynamic registration.

@dbaeumer, @octref Can you shed some light here?

[2019-07-02 03:05] ramya-rao-a commented on #2419
Not sure what is going on here...
Can you debug the extension and find out perhaps? I know you have contributed to the extension before, so you know your way around it :)

https://github.com/microsoft/vscode-go/blob/0.11.0/src/goSuggest.ts#L529 is the function that provides such completion items

[2019-07-02 03:17] primalmotion commented on #2419
I already dig into that part of the code :). This function takes a map[string]string (allPkgMap) where the key seems to be the short name of the package. So if 2 packages have the name "foo", then the second "foo" overrides the first in the map. That was my original diagnosis. Then I got lost in typescript :)

[2019-07-02 03:19] primalmotion commented on #2419
But in your gif above it seems to work. Something is fishy. I'll try to find some time tomorrow to look a bit more deeply into that

[2019-07-02 06:51] dbaeumer commented on #2446
For editors that don't support dynamic registration there is currently no way for them to unregister. All a server can do is to register things statically then.

In general I think that a server should un-register a formatter if it gets disabled.

[2019-07-02 09:18] ankitforcode commented on #2612
This runs very slow during active development. During the initial startup, the includes and imports work fine but get slower by time.

[2019-07-02 09:46] pankrator opened #2624 "Cannot debug test - debug process does not start"
Issue Type: <b>Bug</b>

I am using Ubuntu 18.04 and cannot start debug sessions.

![image](https://user-images.githubusercontent.com/4245946/60502571-bd9ab080-9cc6-11e9-92b1-00c6296c0082.png)

![image](https://user-images.githubusercontent.com/4245946/60502610-d3a87100-9cc6-11e9-9fb1-1528e5e5da25.png)

When I try to hit `Debug test` from the editor view, I get the following error:

![image](https:

[2019-07-02 11:44] tj commented on #2419
hmm FWIW I don't get autocompletes for unimported packages at all anymore, with `"go.autocompleteUnimportedPackages": true,` in a go module at least

[2019-07-02 11:45] tj commented on #2419
hmm FWIW I don't get autocompletes or suggestions for unimported packages at all anymore, with `"go.autocompleteUnimportedPackages": true,` in a go module at least,

[2019-07-02 14:39] stamblerre commented on #2446
So based on my understanding of https://github.com/microsoft/vscode/issues/70314#issuecomment-472336416, we should check if the client supports dynamic registration, and if not statically register. Otherwise, we should dynamically register only. Is this correct?

[2019-07-02 15:01] stamblerre commented on #2419
@tj: `gopls` is used for Go modules, and it does not yet support that behavior: https://github.com/golang/go/issues/31906.

[2019-07-02 18:33] primalmotion commented on #2419
@ramya-rao-a I printed the content of the completion items list at the output of `getPackageCompletions`: this is what I get

[code]

Could vscode limit the number of entries it suggests?

[2019-07-02 18:39] primalmotion commented on #2419
yep.. by sorting the completion item differently makes `encoding/json` to appear

[2019-07-02 19:01] 0x13a opened #2626 "vs-code golangci-lint multiple processes eats up all memory"
- VSCode Version:Version 1.35.1 (1.35.1)
- OS Version: Mac OS X Mojave 10.14.5

Steps to Reproduce:

1. install Go extension and golangci-lint

Impossible to use golangci-lint on vscode/go.12

Using the following settings on vscode
[code]
Please include the following information:
1. Version of golangci-lint: `golangci-lint --version` (or git commit if you don't use binary distribution)

I can't ev

[2019-07-02 19:37] stamblerre commented on #2447
We are tracking this here (https://github.com/golang/go/issues/32394) on the Go issue tracker. It might be easier to centralize the conversation there, since this issue affects other editors too.

[2019-07-02 20:27] primalmotion commented on #2419
if I change

[code]

by

[code]

Then everything works as expected

[2019-07-02 20:43] jadekler opened #2629 "Go: report an error when neither in go.mod or GOPATH environment"
Not sure if there's a separate place to report Go extension errors, or if this is it. Either way, this is about the Go extension.

Version: 1.34.0
Commit: a622c65b2c713c890fcf4fbf07cf34049d5fe758
Date: 2019-05-15T21:55:35.507Z
Electron: 3.1.8
Chrome: 66.0.3359.181
Node.js: 10.2.0
V8: 6.6.346.32
OS: Linux x64 4.19.37-2rodete1-amd64

Steps to Reproduce:

1. Create new directory
2. `cd my-dir && code

[2019-07-02 20:49] primalmotion commented on #2419
So I think VScode somehow doesn't handle multiple identical labels in `CompletionItem`. but again your gif... :/

If you are ok with this, this is the patch I can send

[code]

The downside is that it shows the full package identifier instead of just the name, the upside is that, well it works

[2019-07-03 00:21] primalmotion commented on #2419
I spent my day using the patch above, and my life dramatically improved :)

[2019-07-03 02:44] ramya-rao-a commented on #2419
@primalmotion

The key to the map is the package import path and not the package name. So as long as the import paths are different, both `foo` should have an entry

In https://github.com/microsoft/vscode-go/issues/2419#issuecomment-507795571, are you printing out the `detail` property of each completion item? `encoding/json` is definitely showing up in that list.

Can you compare the number of it

[2019-07-03 02:46] ramya-rao-a commented on #2446
How would you identify whether the editor supports dynamic registration or not?

[2019-07-03 02:47] ramya-rao-a commented on #2612
Can you share the Go related setting you might have added/edited? You can find these by running the command `Preferences: Open Settings (JSON)`.

Also, the next time this happens, can you run the command `Developer: Open Process Explorer`? This will show all the processes started by VS Code, their CPU and memory consumption. This will give an idea on what is going on

[2019-07-03 02:56] ramya-rao-a commented on #2426
@markvincze As concluded in https://github.com/microsoft/vscode-go/issues/2426#issuecomment-498504800, the issue with `gopls` still exists and was not solved. Please see https://github.com/golang/go/issues/31937

There was another issue with VS Code itself (regardless of the language server), that has been fixed a few releases ago

[2019-07-03 03:14] ramya-rao-a commented on #2595
This issues is fixed in the latest update to the Go extension (0.11.1)

[2019-07-03 03:14] #2595 closed

[2019-07-03 03:15] primalmotion commented on #2419
Yeah. I got confused by js giving the value before the key... I ended up looking at the completion items returned with and without my patch, and they are identical. It's the way vscode handles the completion that seems to be causing troubles. It shows only one entry for per identical label for me. Moreover the one it chooses to show is random upon reload

[2019-07-03 03:18] ramya-rao-a commented on #2398
This change is now available in the latest update (0.11.1) to the Go extension

Thanks for the PR @coopermaruyama and thanks for reporting @gtalarico!

[2019-07-03 03:18] #2398 closed

[2019-07-03 03:19] ramya-rao-a commented on #2445
The `output` property is now supported and respected for test mode in the latest update (0.11.1) of the Go extension

[2019-07-03 03:19] #2445 closed

[2019-07-03 03:20] ramya-rao-a commented on #2601
Thanks for confirming @olegburov!

This issue is now fixed in the latest update (0.11.1) to the Go extension

[2019-07-03 03:20] #2601 closed

[2019-07-03 03:20] ramya-rao-a commented on #2578
The latest update (0.11.1) to the Go extension now allows dismissing of the notification

[2019-07-03 03:21] ramya-rao-a commented on #2606
This issue is now fixed in the latest update (0.11.1) to the Go extension

[2019-07-03 03:21] ramya-rao-a commented on #2608
Thanks for reporting @zikaeroh!

This issue is now fixed in the latest update (0.11.1) to the Go extension

[2019-07-03 03:22] ramya-rao-a commented on #2504
@davidovich Please try the latest version of the Go extension (0.11.1) where the warning on not able to find the Go binary now includes the PATH that was searched. That should give some insights on what is happening

[2019-07-03 03:26] ramya-rao-a commented on #2620
@phungvandat I am not able to understand what the problem is. Can you provide steps and screenshots?

[2019-07-03 03:28] ramya-rao-a commented on #2621
Thanks for reporting @eugeneradionov
I see multiple instances of `guru` in the screenshot. Is the high cpu usage from calling goto/peek implementation multiple times or is this from a single call?

[2019-07-03 03:31] ramya-rao-a commented on #2624
Add `"trace": "log"` to your debug configuration and try again. This should print more details on the debug console

[2019-07-03 03:44] ramya-rao-a commented on #2419
Let's try a few more things
- comment out anything related to `sortText` in `goSuggest.ts` file. This will force VS Code to use the label of the completion item for sorting
- Add `"editor.suggestSelection": "first"` in your settings

[2019-07-03 05:03] eugeneradionov commented on #2621
@ramya-rao-a single call only. I call go/peek implementation from the editor once and see loading bar for 2-4 seconds and after that I have 100% CPU usage and can't even move the mouse and have to reload the computer

[2019-07-03 08:56] pankrator commented on #2624
Where should I put `trace` option? I don't have debug launch configuration. I use directly the `debug test` button.

![image](https://user-images.githubusercontent.com/4245946/60577696-868cd380-9d88-11e9-9cb3-81e1ffe31c71.png)

[2019-07-03 09:15] pankrator commented on #2624
I managed to run the debug tests with configuration and here are the logs:

[09:05:07.557 UTC] From client: initialize({"clientID":"vscode","clientName":"Visual Studio Code","adapterID":"go","pathFormat":"path","linesStartAt1":true,"columnsStartAt1":true,"supportsVariableType":true,"supportsVariablePaging":true,"supportsRunInTerminalRequest":true,"locale":"en-us"})
[09:05:07.557 UTC] InitializeReq

[2019-07-03 09:21] markvincze commented on #2426
@ramya-rao-a, sorry, I missed the second part of your comment apparently 😅
Thanks for the info!

[2019-07-03 09:33] ankitforcode commented on #2612
[code]

[2019-07-03 09:51] dbaeumer commented on #2446
@stamblerre yes, that is corrent.
@ramya-rao-a this is advertised in the client capabilities send to the server.

[2019-07-03 10:36] pankrator commented on #2624
It looks like the problem is in delve. I tried to go to previous commit (random commit from several months ago) of delve and it works now. May be this is problem only for Ubuntu as on MacOS it works with latest commit. I will post an issue on delve repository.

[2019-07-03 10:36] #2624 closed

[2019-07-03 13:07] rv4242 commented on #2601
I think I'm still seeing a problem with 0.11.1
I'm debugging some httpexpect tests. See the screenshot.
elements[0].data.name.data == ""
yet e.data.name.data has a value (and e is elements[0])
![DelveProblem](https://user-images.githubusercontent.com/50997257/60594005-fe9bcf00-9d71-11e9-9a5f-381f50ac90ae.png)

[2019-07-03 13:28] rv4242 commented on #2601
And I see the same behaviour in 0.10.2.

[2019-07-03 14:00] rv4242 commented on #2601
OK, it looks like the issue goes away if I set maxVariableRecurse to 3

[2019-07-03 16:07] davidovich commented on #2504
I removed the `go.goroot` setting, and I am not able to reproduce, I think the latest version of the remote extension has a fix. Note that I have a greeting `Salut David` in my `~/.profile`, and I see this greeting when the exension is launched:

[code]

I think we can close as it seems fixed.

[2019-07-03 16:07] #2504 closed

[2019-07-03 16:30] stamblerre commented on #2629
`gopls` should definitely work in a non-module environment as of https://go-review.googlesource.com/c/tools/+/183620. Please open an issue on the Go issue tracker if you are still not seeing the expected behavior with the latest version of `gopls` and x/tools.

[2019-07-03 16:36] jadekler commented on #2629
Latest gopls seems to fix the issue.

[2019-07-03 16:36] #2629 closed

[2019-07-03 18:06] stamblerre commented on #2523
@ramya-rao-a: How do you configure the setting to get the label next to the detail?

[2019-07-03 20:08] leojonathanoh commented on #2445
@ramya-rao-a Great to know that this option is now included. Thanks for the help! 😄

[2019-07-03 20:12] RobertBaruch opened #2630 "Regression? can't load package: package _/..."
Not sure how to reproduce this, since this appears to be a new bug introduced some time in the past two versions ("Unpacking code (1.36.0-1562161087) over (1.34.0-1557957934) ...")

This is on Linux.

Whenever I save a file, I get an error at the top "package X" line:

[code]
I noticed that it's looking for packages starting with an underscore, which I don't understand.

[2019-07-03 21:06] mgood commented on #2576
331ed4c98d033248fc9785dac1c9aeacad5203a4 is a regression for us since it breaks our ability to provide those values in the workspace config.

We bootstrap an installation of Go inside our workspace, so being able to provide `go.gopath` and `go.goroot` using paths relative to the `${workspaceRoot}` meant that we could include a workspace settings file where everything just worked out of the box. Si

[2019-07-03 21:26] primalmotion commented on #2419
@ramya-rao-a I did what you suggested, removed my patch and commented out all sortText reference.  Same issue as before

[2019-07-03 21:50] mgood commented on #2576
@sandy081

Yes, shared settings shouldn't contain paths that will vary on different machines, but this rule doesn't necessarily apply to every path setting and every workspace. As I described above we have some important exceptions. We know that the workspace-relative paths will be consistent for all developers in that workspace. Also, in a corporate environment it may be safe to make assumptions

[2019-07-03 22:49] ramya-rao-a commented on #2523
That's not something that the user can configure.

Its up to the editor to decide how it wants to render the two

[2019-07-04 03:18] phungvandat commented on #2620
[https://github.com/phungvandat/chatrealtime/blob/master/bug.gif](https://github.com/phungvandat/chatrealtime/blob/master/bug.gif)
You can view at here

[2019-07-04 13:28] sandy081 commented on #2576
Agreed as an author and implementor of the setting you are the best to classify. If a setting is not machine scoped and can work across machines, this can be made window or resource scope even if it is a path.

[2019-07-04 16:10] mgood commented on #2576
@sandy081 by "implementor of the setting" do you mean the extension author? What I was trying to say is the opposite. You've made the assumption that `go.gopath` should be machine-scoped, and taken the choice away from users whether they can configure it for their workspace. However, in our company's workspace we know that the `go.gopath` will be consistent for all users of the workspace since it'

[2019-07-04 16:34] mgood commented on #2576
@ramya-rao-a what do you think in regards to this extension? I was directing my questions to @sandy081 since it seems like this is being given as general advice in order to help with the remote development, but I don't fully agree with the assumptions.

However, as the extension owner it seems like the scoping decision here is up to you. I guess there is a trade-off though since this change does e

[2019-07-04 19:45] jayschwa commented on #2558
This doesn't seem to be the case for me. When I open VSCode and click "Install All", the extension complains: "Cannot install Go tools. Set either go.gopath or go.toolsGopath in settings."

[2019-07-04 20:32] andig commented on #2572
I can no longer reproduce this when not using the language server (i.e. inside a workspace). Instead now, my import `"github.com/crabmusket/gosunspec"` is being rewritten to `sunspec "github.com/crabmusket/gosunspec"` which is correct but not necessary. The replacement module is no longer added `go.mod`.

[2019-07-04 21:43] bvinc commented on #2576
331ed4c is a regression for me too.  I have a gopath inside of my repo.  I use workspace settings to set my gopath.  Now, I get `This setting can be applied only in user settings`.

[2019-07-04 22:30] R-Niagra commented on #2192
Facing the same issue when I am trying to debug go test-file. It runs fine without breakpoint, however, the moment I add a breakpoint the very same error pops up:
Failed to continue - no G executing on thread 7140
Any way around?

[2019-07-05 04:35] b00f commented on #2192
Try to build the dll with debug information. It worked for me.

[2019-07-05 11:07] Xjs opened #2632 "Hovering over method shows documentation for same-named package-level function"
When hovering the mouse over a method of a type that has the same name as a package-level function in the same package, the documentation of the package-level function is displayed.

(This seems to only occur in the mouseover hover window. The IntelliSense completion annotation seems ok)

Steps to Reproduce:

1. Create a Go file with e. g. the following content:
[code]
2. Hover over `buf.Unmarshal

[2019-07-05 15:43] sandy081 commented on #2576
@mgood Please update your opinion in this issue - https://github.com/microsoft/vscode/issues/73985

[2019-07-05 21:32] inliquid opened #2633 "Action "restart language server" doesn't work"
Sometimes it works (in normal situation), but if there are any problems with `gopls`, in most of the cases, "restart language server" dosn't work and full restart of VS Code required.

For instance
1. Called "restart language server", `gopls` disappeared from list of outputs by `Ctrl-Shift-U`
2. Task list shows `gopls`
![изображение](https://user-images.githubusercontent.com/6797881/60745870-d7691

[2019-07-05 21:36] vincepri commented on #2446
/cc

[2019-07-06 02:19] #2600 closed

[2019-07-06 02:19] #2599 closed

[2019-07-06 02:41] ramya-rao-a commented on #2576
@sandy081 We can't have existing users' scenarios breaking in order to support remote scenarios. I have shipped an update to the Go extension to mark only `go.goroot` to be of "machine" cope. `go.gopath` and `go.toolsGopath` have been reverted to being "resource" scope.

Not having `go.goroot` to be workspace specific is more acceptable than the other two as one wouldn't expect different workspace

[2019-07-06 04:07] ramya-rao-a commented on #2415
Thanks for reporting @ran-berenfeld and for the information on how delve adds the same flag @misha-tectonic

@aarzilli, @derekparker I believe the right thing to do here is for the extension to ignore the `gcflags` passed by the user?

[2019-07-06 04:19] #2535 closed

[2019-07-06 04:19] #2540 closed

[2019-07-06 04:19] #2569 closed

[2019-07-06 06:06] ramya-rao-a commented on #2483
@firelizzard18 Like @stamblerre mentioned above, imports management is indeed supported by `gopls`, so please give it a try. Make sure you have the latest of `gopls` so that you get all the recent bug fixes and improvements

In the absence of the language server, the Go extension does recommend using `goimports` as the formatting tool because the default one `goreturns` doesn't support modules yet

[2019-07-06 06:06] #2483 closed

[2019-07-06 06:07] #2485 closed

[2019-07-06 06:22] ramya-rao-a commented on #2559
Fair point
We have listeners on each file save `vscode.workspace.onDidSaveTextDocument`
We have a way to figure out if there is an active debug session `vscode.debug.activeDebugSession`

Therefore, we can definitely use the two and show a warning that a file change has been saved while the debug session is in progress.

Thanks for reporting!

[2019-07-06 06:26] ramya-rao-a commented on #2559
PRs are welcome to add this feature

Code Pointers:
- [Set up local dev environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code) for the Go extension
- The `activate()` function in the `goMain.ts` is where all the listeners are added and so here is where the warning (`vscode.window.showWarningMessage`) should be added

[2019-07-06 06:32] ramya-rao-a commented on #2622
Are you able to debug using [delve](https://github.com/go-delve/delve/blob/master/Documentation/usage/dlv_debug.md) directly on the terminal?

[2019-07-06 06:35] ramya-rao-a commented on #2630
underscore is Go's way of saying that it is working with files that are not under the GOPATH.
Run the command `Go: Current GOPATH` and see if it gives you the expected GOPATH which in your case should be `/usr/local/home/robertbaruch/go`

[2019-07-06 07:10] ramya-rao-a commented on #2632
I believe the root cause for this is similar to that of #2107

The extension runs `go doc github.com/golang/protobuf/proto Unmarshal` to get the documentation on the word over which you hover. This gives docs on the function

To get docs on the method on the struct/type, the extension should be running `go doc package-import-path Buffer.Unmarshal`.

But, at this point the extension is not aware th

[2019-07-06 13:45] wtask opened #2635 "Autocomplete does not work as expected"
I bored to fight with VSCode-GO and gopls integration:

[code]
Autocompletion on dot after b.foo suggests anything but not Foo() method of Foorer... It suggests standard Go types, vars somewhere outside, everything BUT NOT Foo()!
Lets type `F`. OMG, now i see Foo().
Should I always need to type the first letter for method from now?

[2019-07-06 14:39] lggomez commented on #2561
As @ramya-rao-a says unfortunately there isn't much we can do with the current adapter. A workaround I implemented in a PR for strings is fetching the eval request with an arbitrarily large length if the request comes from the variables pane (#2375), but even using a large static value in this case isn't possible without extending the panes menu (otherwise we would have to set that value as the de

[2019-07-06 17:51] ramya-rao-a commented on #2290
Thanks for reporting this @pwaller and apologies for the late reply.

A few months ago, I revised our [README](https://github.com/microsoft/vscode-go/blob/master/README.md#go-language-server) around language server to add more details. Just now, I added another section for [helpful links](https://github.com/microsoft/vscode-go/blob/master/README.md#helpful-links-for-gopls)

I believe this should c

[2019-07-06 17:51] #2290 closed

[2019-07-06 18:11] RelicOfTesla opened #2636 "Parameter name hints shown inline all the time (like GoLand/JetBrains)"
like JetBrains Goland
like vscode extension "JS Parameter Annotations"
----

![go_parameter_hints](https://user-images.githubusercontent.com/4145299/60759715-44031980-a05c-11e9-863e-3377ed69f9ea.png)

[2019-07-06 18:29] ramya-rao-a commented on #2388
Thanks for reporting @alloro and apologies for the delay in responding.

The extension caches 2 maps related to modules.
- Folder of the file opened in VS Code -> Path to the go.mod file for the package in this folder
- Folder of the file opened in VS Code -> Import path to the package in this folder

We do not cache the paths to each library in the go.mod file

Therefore, it looks like the proble

[2019-07-06 18:29] ramya-rao-a commented on #2388
cc @stamblerre

[2019-07-06 18:35] ramya-rao-a commented on #2408
Thanks for reporting @dcormier

The Go extension itself is not aware of the AST of the Go file, it relies on external Go tools to provide most language features. Therefore, the Go language server is better candidate to implement a provider for folding.

@stamblerre Can we have this as a feature request for `gopls`?

[2019-07-06 18:37] ramya-rao-a commented on #2412
@stamblerre ?

[2019-07-06 18:58] ramya-rao-a commented on #1809
Combining the examples from @lggomez and using the below sample with the latest version of VS Code and this extension, I see the right option being pre-selected

<img width="514" alt="Screen Shot 2019-07-06 at 11 57 12 AM" src="https://user-images.githubusercontent.com/16890566/60760137-365e7d00-9fe5-11e9-9166-579a7db36163.png">

@willfaught Was your issue the fact that the right option was not pr

[2019-07-06 19:02] ramya-rao-a commented on #1872
In the year since this issue was logged stamblerre/gocode has had many fixes and improvements. We also have a [language server](https://github.com/microsoft/vscode-go/blob/master/README.md#go-language-server) that performs better.

Closing this issue as there is nothing actionable at the moment.

If you see any issues with completions when using the language server, please see https://github.com/g

[2019-07-06 19:02] #1872 closed

[2019-07-06 19:32] ramya-rao-a commented on #1644
@isidorn Any thoughts on what @weinand has mentioned above in https://github.com/microsoft/vscode-go/issues/1644#issuecomment-386194054?

[2019-07-06 19:49] ramya-rao-a commented on #1764
Hey @gertcuykens

I followed your instructions on the latest VS Code and Go extension versions on a Mac. I am able to see the value of the env variable set in .bashrc file in both modes. Below are my steps

- Create .bashrc file with `export ENVIRONMENT=hello-env`
- Run `source .bashrc` to apply it on current terminal
- Run `code-insiders` from the terminal
- Added your code above
- Debug to find

[2019-07-06 19:51] ramya-rao-a commented on #1764
Can you try with latest VS Code and Go extension?

[2019-07-06 19:54] ramya-rao-a commented on #1887
Closing this issue because it needs more information and has not had recent activity.

[2019-07-06 19:54] #1887 closed

[2019-07-06 20:11] ramya-rao-a commented on #2635
I see the expected autocompletions

![foobar](https://user-images.githubusercontent.com/16890566/60760751-86424180-9fef-11e9-870e-f5a325f0ae74.gif)

Can you share any Go related settings you might have added/edited? You can find these by running the command `Preferences: Open Settings (JSON)`