[2020-01-29 17:36] stamblerre commented on #3013
In module mode, it's recommended to use the language server to get these features. I see that you've disabled it, but `gopls/v0.3.0` will be a lot more stable than it has been historically. It's not yet released, but you can try out the pre-release by running `GO111MODULE=on go get golang.org/x/tools/gopls@v0.3.0-pre2` and see if you have better luck using that.

[2020-01-29 17:41] stamblerre commented on #3008
Using `gopls` doesn't actually require users to switch to modules - it should work in GOPATH mode as well. You just need to install it with modules on for that one command.

[2020-01-29 17:43] stamblerre commented on #2985
Turning off diagnostics in `gopls` actually has no effect on its speed. It will compute the diagnostics either way - VS Code Go will just choose to hide them. For speed improvements with `gopls`, you can try out the latest pre-release by running `GO111MODULE=on go get golang.org/x/tools/gopls@v0.3.0-pre2`.

[2020-01-29 17:44] stamblerre commented on #2517
I'm not familiar with the different linters, but I imagine that we cannot rely on the text in the parentheses existing.

[2020-01-30 02:26] ramya-rao-a commented on #2282
This issue has been resolved in the [latest beta version of this extension](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension).

[2020-01-30 05:45] ramya-rao-a commented on #464
Hello all,

The feature being requested in this issue is syntax highlighting for html template code in Go files. Language features for such code like code completion and navigation is being discussed in https://github.com/microsoft/vscode-go/issues/228

I do see the merits of this feature, although I am afraid I don't believe this extension is the right place for it anymore.

As VS Code and this e

[2020-01-30 05:45] #464 closed

[2020-01-30 05:53] ramya-rao-a commented on #228
Hello all,

As mentioned in https://github.com/microsoft/vscode-go/issues/464#issuecomment-580093228, the syntax highlighting request for html template code in Go files is out of scope for this extension.

@stamblerre,
Would `gopls` consider adding some kind of embedded language feature support for the Go code in the template?

[2020-01-30 15:20] normal-cock opened #3017 ""Error Prompt" doesn't work"
"Error Prompt" doesn't work. For example in the following code there isn't red underline under the 8's line where there is syntax error.

![image](https://user-images.githubusercontent.com/2618306/73462501-ded79280-43b6-11ea-9b60-3b110177264f.png)

* VSCode Version:1.41.1
* OS Version: Mac OS 10.15.2
* golang plugin: go 0.12.0

My `Settings(JSON)` is:
[code]

[2020-01-30 17:08] colelawrence commented on #2447
This may be related to #2692 which is the problem I'm having with my mono-repo project.

[2020-01-30 17:48] stamblerre commented on #3007
We can handle this by following the suggestion in https://github.com/microsoft/language-server-protocol/issues/905#issuecomment-580247602.

@ramya-rao-a: The label for this issue could be changed to `needs-fix`, since the first change necessary to implement this would have to be in VS Code Go, and not in `gopls`.

[2020-01-30 17:56] stamblerre commented on #3017
Can you share your `gopls` logs for this? Specifically, can you run `gopls -rpc.trace -v check path/to/file.go`?

[2020-01-30 18:13] stamblerre opened #3019 "package.json: vscode-language-client dependency requires VS Code 1.41"
Just noticed this when trying out the beta. Some companies may not be running the latest version of VS Code, and as such may not support the new client library. I'm not sure if this is a release blocker, or if we should just require that users upgrade their VS Code versions.

[2020-01-30 18:23] ttsokov commented on #3013
Thanks for the help @stamblerre !

The navigation is partially working - vars and functions, which are part of the same .go file and same module are navigated successfully, but some imported modules (external) can't be navigated.

The signature help also works partially - it suggests words, which exist in the current .go text file, but are not part of the object's API. Is it possible to not sugges

[2020-01-30 18:46] stamblerre commented on #3019
@ramya-rao-a: Is there anyway to make the update conditional on the user's version of VS Code? Otherwise, I think we should probably downgrade it.

[2020-01-30 19:44] hyangah commented on #3013
@ttsokov Thanks for the update - good to hear that `gopls` improved the situation a bit. Since now you are using the language server (gopls), would be nice if the details of the bug reports are updated such as the go related settings, and the repro cases described in [your last comment](https://github.com/microsoft/vscode-go/issues/3013#issuecomment-580387586).

[2020-01-30 19:47] hyangah commented on #2964
I think the fix for it is included in v0.12.1 (I confirmed it's fixed in v0.12.1-beta2)

[2020-01-30 19:53] ramya-rao-a commented on #3019
The `engines` field determines the lowest version of VS Code that will get the latest version of the extension (either via auto update, or manual update).
This field has `1.30.0`.

Where does it say that the latest `vscode-languageclient` requires 1.41 of VS Code?

[2020-01-30 20:33] estebanborai commented on #2956
Im using the extension and while writting an struct like this:
![image](https://user-images.githubusercontent.com/34756077/73487474-d74bc580-4385-11ea-9164-46c50f5e41a3.png)

The following processes are created and never ends:
![image](https://user-images.githubusercontent.com/34756077/73487542-fea29280-4385-11ea-8cfd-b7a7fda385c7.png)

If I keep on writting more processes for `doc` are created ev

[2020-01-30 22:10] hyangah commented on #3019
I think this is the place: https://github.com/microsoft/vscode-languageserver-node/blob/4c0963d6fdfd657044092c5d4db61a87b54471ef/client/src/main.ts#L43

We got an error like the following and failed to start the language server.
<pre>
rejected promise not handled within 1 second: Error: The language client requires VS Code version ^1.41.0 but received version 1.39.2
extensionHostProcess.js:787
sta

[2020-01-30 22:29] stamblerre commented on #2956
@estebanborai: Can you also share your VS Code settings as requested above?

[2020-01-30 22:34] Kissaki commented on #464
Thank you very much for your efforts and the detailed explanation including possible alternatives and future prospects. Top notch!

[2020-01-30 22:36] stamblerre commented on #3013
Also, @ttsokov: Since you are using modules, make sure you open VS Code to the directory containing your `go.mod` file. If it's still not working, please share the output of `gopls -rpc.trace -v check path/to/file.go`.

[2020-01-30 22:36] estebanborai commented on #2956
Hey @stamblerre, sorry I didn't shared my VSCode settings and thanks for your help!

[code]

[2020-01-30 22:38] stamblerre commented on #2956
Thanks for sharing! Looks like many `go doc` processes are being started and not exiting.
@ramya-rao-a: I recall seeing an issue related to process timeouts - seems like this is relevant here?

[2020-01-30 22:43] stamblerre commented on #228
Yes absolutely, though it won't be for quite some time, as it's fairly low priority.
Filed golang/go#36911 to track it.

[2020-01-30 22:55] stamblerre commented on #2447
Please see https://github.com/golang/go/issues/36899 for the latest details on this subject. It is accurate for `gopls/v0.3.0` which will be released by the end of the week.

[2020-01-31 03:01] normal-cock commented on #3017
[code]

[2020-01-31 05:33] stamblerre commented on #3017
Looks like this command does output the error, though it's possible something is going on with VS Code that it's not showing it. Please note the error message here though:

`go list gives conflicting information for package github.com/kardianos/govendor/internal/pathos`

Does this code compile?

[2020-01-31 06:19] ramya-rao-a commented on #3019
https://github.com/microsoft/vscode-languageserver-node/blob/master/client/package.json#L8 is where it is defined that 1.41 is the min version of VS Code needed to support the latest version of the language client

Usually, I keep at least current VS Code version minus 3 to 4 versions as the min version of VS Code supported by the latest version of the Go extension. Therefore, unless there is a fe

[2020-01-31 06:21] ramya-rao-a commented on #228
Thanks @stamblerre!

Everyone else,
Closing this issue in favor of the upstream issue logged for gopls in  https://github.com/golang/go/issues/36911

Once this feature is implemented upstream, language server users in VS Code will be able to use the Go language features inside html template code.

[2020-01-31 06:21] #228 closed

[2020-01-31 07:50] normal-cock commented on #3017
Yes, it does. It's just a single golang file.

The workspace directory structure is:
![image](https://user-images.githubusercontent.com/2618306/73521282-95338a00-4440-11ea-8e4c-19bc69e4e6b8.png)

And I've found out that when I open `test` directory in my workspace directly, "Error Prompt" works normally as the following image shows:
![image](https://user-images.githubusercontent.com/2618306/735215

[2020-01-31 11:21] sampart opened #3021 "Method names don't show in breadcrumbs, only function names"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.7 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Those commands didn't work for me on MacOS, but here's what the About box says:

- Check your installed extensions to get the version of the VS Code Go extension
	- 0.

[2020-01-31 11:21] sampart commented on #3021
Turning off `"go.useLanguageServer": true,` solved this.

[2020-01-31 11:21] #3021 closed

[2020-01-31 12:22] hyangah commented on #3017
Indeed. I could reproduce the case with `v0.3.0-pre3` when the workspace directory doesn't contain any package.
[code]
Here is the gopls log with more debug info.
[goplslog.txt](https://github.com/microsoft/vscode-go/files/4139211/goplslog.txt)

After I added a file in the top directory, the problem went away.

I don't understand the above load failure error (`github.com/kardianos/govendor/interna

[2020-01-31 13:59] apmattil opened #3022 "command line arguments of executable passed to dlv are space separated"
- Run `go version` to get version of Go
	- 1.13.6
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- using emacs
- Check your installed extensions to get the version of the VS Code Go extension
	- using emacs
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture details
	- [root@r2d2 NGN]# go env GOOS GOARCH
        linux
       amd64

[2020-01-31 14:46] apmattil commented on #3022
I'll take this back.. it could be that arguments need to be sepetated before passing to goDebug.js

[2020-01-31 14:46] #3022 closed

[2020-01-31 18:17] hyangah commented on #3021
@stamblerre When using gopls, the breadcrumbs behave as @sampart described. We should take a look.

[2020-01-31 20:42] stamblerre commented on #3021
Filed https://github.com/golang/go/issues/36949 to track this issue. By the way, @sampart: Turning off the language server may have additional consequences beyond this issue, particularly if you are using modules.

[2020-01-31 21:26] stamblerre commented on #3017
Ah, yes that would happen if you have no `go.mod` file and are outside of `GOPATH` because we don't try to `go list` subdirectories (in case it ends up being too expensive). We should be able to "reclaim" the file though. I filed golang/go#36951.

[2020-01-31 22:11] johneboldt commented on #3008
Thanks @stamblerre - I switched back to GOPATH mode and had VSCode update to the latest gopls version. Everything, including formatting and linting on save, is working much better now. I will monitor over the weekend and close this issue if I don't have any problems.

[2020-01-31 22:20] stamblerre commented on #3008
Glad to hear it! Thank you for checking back in.

[2020-02-01 06:44] #3019 closed

[2020-02-01 06:50] ramya-rao-a commented on #3017
Closing in favor of the upstream issue

@normal-cock Thanks for reporting! Please subscribe to https://github.com/golang/go/issues/36951 to follow the progress on gopls for this issue

[2020-02-01 06:50] #3017 closed

[2020-02-01 08:46] jlucktay opened #3024 "Defined alternate tools should be skipped by the Install/Update Tools command"
**Is your feature request related to a problem? Please describe.**
If an alternate location for a tool is already defined (e.g. `"go.alternateTools": { "gometalinter": "/usr/local/bin/golangci-lint" }`) the **Install/Update Tools** command will still install the same command at another location.

**Describe the solution you'd like**
When such an alternate definition is already in place for any too

[2020-02-01 14:54] Wisgon commented on #3017
I got the same error, I found that if I set "go.languageServerExperimentalFeatures" {"diagnostics": false}，and ctrl+s to save, then the error shows again!

[2020-02-02 02:30] stamblerre commented on #3017
That is because VS Code falls back to running `go build` on save if you disable diagnostics from the language server. This should only be an issue in this one specific case, and it can be easily worked around by opening the subdirectory. `gopls` should show diagnostics for other Go files outside of GOPATH or outside of a module, so if that's not working, please open a new issue [here](https://gith

[2020-02-02 18:01] ttsokov commented on #3013
@hyangah Thanks for the update. Here are the updated details of the bug:

What version of Go, VS Code & VS Code Go extension are you using?
Run go version to get version of Go
go version go1.13.6 darwin/amd64

Run code -v or code-insiders -v to get version of VS Code or VS Code Insiders
1.20.1
f88bbf9137d24d36d968ea6b2911786bfe103002
x64

Check your installed extensions to get the version of the V

[2020-02-02 21:34] austintackaberry opened #3025 "All breakpoints are unverified. Error on CreateBreakpoint: could not find statement at <path/to/line>"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.6 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Version: 1.41.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.12.0
- Run `go env GOOS GOARCH` to get the operating system and p

[2020-02-03 01:05] stamblerre commented on #3013
Thank you for providing the detailed repro case! I was actually not able to reproduce any of the issues you encountered - I was able to go to the definition of `"k8s.io/apimachinery/pkg/types"` and `&corev1.Pod{}` without any problems. Can you trying running the `gopls definition` command for these cases?

(1) `gopls -rpc.trace -v query definition pkg/controller/test/test_controller.go:11:6`
(2)

[2020-02-03 04:30] ramya-rao-a commented on #8
cc @stamblerre

[2020-02-03 08:42] ttsokov commented on #3013
@stamblerre Here they are:
[code]

[code]

[2020-02-03 09:23] gittim commented on #3008
I'm seeing this too. go version go1.13.4 windows/amd64, VS Code 1.41.1. Tried with deployed gopls & the 0.3.0-pre1 suggested above. Removing gopls stops the corruption. With gopls in the last week or so, saving removes some characters at the start of lines, others from middle. e.g. (original, corrupted):

func (c *Cache) HandlePktImpl(pkt []byte) *StreamData {
	//timrSafeStop(&(c.timrGC))
corrupts

[2020-02-03 10:06] sampart commented on #3021
@stamblerre thanks for the heads-up, and for filing the issue 👍

[2020-02-03 15:43] johneboldt commented on #3008
@gittim that is exactly what was happening to me. Following @stamblerre 's advice seems to have fixed the problem - just make sure that VSCode recognizes the new gopls and updates to it.

Thanks for your help everyone!

[2020-02-03 15:43] #3008 closed

[2020-02-03 16:37] hyangah commented on #3008
Echoing what @johneboldt said - @gittim `v0.3.0` is the official release. The vscode-go extension should pick up the new version. Plz report an issue otherwise. v0.3.0 official release includes a fix for Windows found in the prerelease versions such as `v0.3.0-pre1`.

[2020-02-03 17:49] ramya-rao-a commented on #2282
This issue has been resolved in the latest version (0.13.0) of this extension

Thanks for the PR @marcel-basel and Thanks for reporting @Guitarbum722!

Happy Coding!

[2020-02-03 17:49] #2282 closed

[2020-02-03 17:50] ramya-rao-a commented on #2122
This issue has been resolved in the latest version (0.13.0) of this extension

Thanks for the PR @marcel-basel and Thanks for reporting @foodini !

Happy Coding!

[2020-02-03 17:50] #2122 closed

[2020-02-03 17:51] ramya-rao-a commented on #1596
A new command `Go: Apply Cover Profile` is now available in the latest version (0.13.0) of this extension.

Thanks for the PR @Eun and Thanks for reporting @AlexRouSg !

Happy Coding!

[2020-02-03 17:51] #1596 closed

[2020-02-03 17:52] ramya-rao-a commented on #1746
The latest version (0.13.0) of this extension has this feature

Thanks for the PR @SteelPhase and Thanks for reporting @alexus1024 !

Happy Coding!

[2020-02-03 17:52] #1746 closed

[2020-02-03 17:53] ramya-rao-a commented on #2822
This issue is fixed in the latest version (0.13.0) of this extension

Thanks for the PR @drakegens and Thanks for reporting @pot-code !

Happy Coding!

[2020-02-03 17:53] #2822 closed

[2020-02-03 17:53] ramya-rao-a commented on #2943
This issue is fixed in the latest version (0.13.0) of this extension

Thanks for reporting and for the PR @programmer04 !

Happy Coding!

[2020-02-03 17:54] ramya-rao-a commented on #2964
The latest version of the extension (0.13.0) has the fix for this

Thanks for reporting @gertcuykens !

[2020-02-03 17:54] #2964 closed

[2020-02-03 17:55] stamblerre commented on #3013
Hm, so it seems to be working on the command line. If it's still not working in the editor, can you collect the `gopls` logs for the failing requests? Information on capturing logs can be found [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs). Also, please make sure to upgrade to the latest version of `gopls` since `v0.3.0` has been released (`go get

[2020-02-04 12:50] gittim commented on #3008
Hello @hyangah I'm still getting corruption. My gopls version "golang.org/x/tools/gopls v0.3.0
    golang.org/x/tools/gopls@v0.3.0 h1:l9KKK1/n6CIbfgaUvHBWAvCfOxcl1N+KSOK79OlPIao="

I've uninstalled and re-installed both Go and Visual Studio Code. I also have Visual Studio Enterprise 2019 installed, in case this is something to do with it. Go env gives this:

d:\code\go\bin>go env
set GO111MODULE=

[2020-02-04 12:58] ttsokov commented on #3013
@stamblerre i updated gopls to v0.3.0, but can't see gopls inside the output view of the IDE (screenshot 1) as described in the capturing logs README. So i am attaching the logs from the go-langserver. Are they enough?

[code]

[2020-02-04 13:08] ttsokov commented on #3013
Thanks @stamblerre, i updated gopls to v0.3.0. Configured the user settings according the troubleshooting guide (screenshot 1), but can't see gopls in the output view of the IDE (screenshot). So i am attaching the go-langserver logs. Are they enough?

[code]

[2020-02-04 15:21] gh67uyyghj opened #3026 "The gopls server crashed 5 times in the last 3 minutes. The server will not be restarted"
I am using the extension with Vscode 1.41 and go 1.13 on Archlinux. The extension has become very unresponsive lately and yesterday it began to totally not work at all with the error `The gopls server crashed 5 times in the last 3 minutes. The server will not be restarted`. I updated go-tools and gopls to the latest version `0.3` to no avail. I started a totally different user directory to no avai

[2020-02-04 16:03] hyangah commented on #3013
@ttsokov It seems it is currently using `sourcegraph/go-langserver` (langserver-go), not `gopls`. I can't figure out how that happens with vscode-go extension 0.12.0. 🤔
@ramya-rao-a or @stamblerre  may know better about why this happens.
Based on https://github.com/microsoft/vscode-go#go-language-server, maybe deleting the `go-langserver` binary in the path may be necessary.

Here is the recommend

[2020-02-04 16:08] hyangah commented on #3008
@gittlm thank you for the update. Since this issue is closed, why don't we create a new issue and discuss your case more thoroughly? https://github.com/microsoft/vscode-go/issues/new?assignees=&labels=&template=bug_report.md&title=

Thanks!

[2020-02-04 16:20] stamblerre commented on #3026
Can you try installing the new pre-release (`GO111MODULE=on go get golang.org/x/tools/gopls@v0.3.1-pre1`)? This should have fixed a few crashes we noticed in `gopls/v0.3.0`. Otherwise, can you post the stack trace that you see in View -> Toggle Output -> Tasks -> gopls when it crashes?

[2020-02-04 16:40] gittim opened #3027 "Gopls corrupting files on save"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-02-04 16:54] stamblerre commented on #3027
Can you share your `gopls` logs from a session where it was corrupted? Information on how to capture `gopls` logs can be found here: https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs.

[2020-02-04 17:10] gittim commented on #3027
Here they are, good luck :-)

[Trace Information.txt](https://github.com/microsoft/vscode-go/files/4154831/Trace.Information.txt)
[RPC Information.txt](https://github.com/microsoft/vscode-go/files/4154832/RPC.Information.txt)
[metrics.txt](https://github.com/microsoft/vscode-go/files/4154833/metrics.txt)
[GoPls version information.txt](https://github.com/microsoft/vscode-go/files/4154834/GoPls.ver

[2020-02-04 17:16] stamblerre commented on #3013
I would guess that the culprit is here: https://github.com/microsoft/vscode-go/blob/master/src/goLanguageServer.ts#L320. It falls back to `go-langserver` without checking if it was set as an alternate tool. I'm not sure why it would have failed to find the `gopls` binary, but that fallback shouldn't be there unless `go-langserver` is configured.

[2020-02-04 17:18] stamblerre commented on #3027
Thank you for these, but I was actually referring to the `gopls` logs that can be found in the VS Code output window. You can find these by navigating to View -> Output (or Ctrl+K Ctrl+H). There will be a drop-down menu titled Tasks in the top-right corner. Select the gopls item, which will contain the gopls logs.

[2020-02-04 17:52] gittim commented on #3027
Ah, I see now. I'm reluctant to post all the output because it includes a lot of source code. I've tried to create a small test program, which seems to be not failing (typical!). I'll get back with an update as soon as I can.

[2020-02-04 18:01] stamblerre commented on #3027
Makes sense - please don't share any logs if they are for a private repository. You may also want to remove the `go.formatTool` setting since it's not necessary with `gopls`, and add the following settings:

[code]

Also, make sure that you don't have any other tools or extensions that might be running something on save.

[2020-02-04 21:07] johnmccabe commented on #3027
@gittim goplus 0.3.1 was release about 3 hours ago - https://github.com/golang/tools/releases/tag/gopls%2Fv0.3.1

I've just updated and that release has fixed the problem for me (also on Windows 10)

[2020-02-04 21:38] stamblerre opened #3028 "settings: create one setting to specify an alternate language server"
Right now, users can specify alternative tools for VS Code Go to use through the `go.alternateTools` setting. Both `"gopls"` and `"go-langserver"` can be replaced, which makes for a confusing user experience. What is the expected behavior if both of these are configured?

I propose that we create one setting for the language server specifically, something like:

[code]

Where `"gopls"` might be th

[2020-02-04 22:45] hyangah commented on #3028
+1 for refactoring.

I wonder if `go.useLanguageServer` should be enum instead of a bool.

`go.alternateTools` can be used to specify a wrapper script or an absolute path to the corresponding binary (for example, you can utilize this to test or ensure the use of a different version of gopls without uninstalling or installing the gopls binary from the PATH) so depending on go.alternateTools['...']

[2020-02-05 04:27] ramya-rao-a commented on #3024
Fair point, PRs are most welcome to make this change to have the `Go: Install/Update Tools` command skip such tools.

Code Pointers:
- [Set up local dev env for the extension](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- https://github.com/microsoft/vscode-go/blob/0.13.0/src/goInstallTool

[2020-02-05 04:29] ramya-rao-a commented on #3025
Can you share the debug configuration you are using to debug?
The debug console should also be showing things like the debug command being run, the package path being used, the folder from where dlv gets launched. Any of those things look unexpected?

cc @quoctruong

[2020-02-05 04:39] ramya-rao-a commented on #3028
Today, if the "alternate tool" set for `gopls` exists, then that takes precedence over the alternate tool set for `go-langserver`.

We are well beyond the point of supporting `go-langserver`. It was supported in the absence of `gopls` during a time when we were making the transition to using `gopls`. I am ok removing the support for `go-langserver`. If users still want to use it, they can always m

[2020-02-05 04:39] ramya-rao-a commented on #3028
What would the enum support?

[2020-02-05 04:53] austintackaberry commented on #3025
Here is the launch.json config:

[code]

I posted the relevant debug logs in the post above and nothing looked out of the ordinary except for the error in the response.

[2020-02-05 04:58] austintackaberry commented on #3025
Here are some more relevant logs:

[code]

[2020-02-05 06:11] stamblerre commented on #3028
I agree that adding an enum might encourage users to try `go-langserver`, which we shouldn't do. I think that my PR (https://github.com/microsoft/vscode-go/pull/3029) will achieve what we want for now, which is to only run `go-langserver` if the user sets it as an alternate tool for `gopls`. I didn't make the change to using the generic `"language-server"` configuration, so I am fine leaving it as

[2020-02-05 10:01] gh67uyyghj commented on #3026
@stamblerre thank you! I updated it to `0.3.1-pre1`. I have been working for a couple of hours and so far so good. I will keep testing this new release for a few more hours and will close the issue by the end of the day if things are perfect. But it seems this was really related to `0.3.0` that was released 5 days ago since I started experiencing these crashes only 3 days ago. Thanks again!

[2020-02-05 12:05] debojyoti-majumder opened #3030 "Auto complete not working for Golang"
Issue Type: <b>Bug</b>

Step 1: Install "Go" extension in VS Code

Step 2: Write a simple go file

Step 3: Write "fmt."

There is no suggetion that is shown to the user

Extension version: 0.13.0
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|C

[2020-02-05 13:18] gittim commented on #3027
Thanks. Installed, & no further errors so far.

[2020-02-05 15:01] hyangah commented on #3028
@ramya-rao-a

That was based on the assumption that there is still interest or good use of `go-langserver` instead of `gopls`. In the current code, the choice of the language server is implicit so I thought the enum like the lint option would be more explicit. However, it seems the assumption is no longer true.

[2020-02-05 15:17] hyangah commented on #3025
@austintackaberry what is the version of `/Users/<username>/gocode/bin/dlv`? There was a similar upstream bug report and that's fixed. Since you could set the same breakpoint directly with the same `dlv` (right?), it may be not the same case, but want to check it's not an upstream bug.

[2020-02-05 15:42] hyangah commented on #3030
Thanks for the bug report. For investigation, can you please share the following information?

- Run `go version`
- Run `go env`
- Run `Preferences: Open Settings (JSON)` command to open your settings.json file.
Share all the settings with the `go.`, `["go"]`, or '"gopls"' prefixes.

[2020-02-05 16:40] austintackaberry commented on #3025
Here is the output when I run `/Users/<username>/gocode/bin/dlv version`

[code]

[2020-02-05 18:26] stamblerre commented on #3027
Thanks for following up! Please comment here if you see this again.

[2020-02-05 18:40] martijn commented on #843
For me, this is not about delve reading from stdin. It's about debugging interactive applications.

My current workaround is starting my binary in the terminal myself and then connecting the debugger using the standard "Attach to Process". This works as you'd expect; my application still responds to user input and the deubgger features in vscode work as well.

I don't understand why a console argu

[2020-02-05 18:53] quoctruong commented on #3025
@austintackaberry When you can successfully set the breakpoint using `dlv`, is the path the same as `/full/path/to/main.go:6`?

[2020-02-05 18:56] stamblerre commented on #3026
Thanks for following up! `gopls/v0.3.1` is released now, so this should be resolved.

[2020-02-05 18:56] A-UNDERSCORE-D commented on #843
Same here, my software has an interactive command line.

As a workaround I put together some tasks and such to make it only a two step process to start delve in headless mode (to give application stdin access) and then I can start regular debugging in the normal way:
[code]
which I can start with `crtl+shift+b`, wherein my software's stdin/out is acessable(after I start a debug)

and debug is conf

[2020-02-05 19:27] austintackaberry commented on #3025
Yes it is. See below:

[code]

[2020-02-05 20:56] gh67uyyghj commented on #3026
Thanks! it works flawlessly now

[2020-02-05 20:56] #3026 closed

[2020-02-06 05:04] debojyoti-majumder commented on #3030
Here are the information you have requested.

- go version go1.13.4 windows/amd64 ( Output of go version )

- Output of "go env"
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\debojyotim\AppData\Local\go-build
set GOENV=C:\Users\debojyotim\AppData\Roaming\go\env
set GOEXE=.exe
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GONOPROXY=
set GONOSUMDB=
set GOOS=windows
s

[2020-02-06 05:39] debojyoti-majumder commented on #3027
I have seen this issue also. My settings.json is very simple it has
    "go.formatTool": "goimports",
    "go.useLanguageServer": true

When I am saving a go file, few character in the import section is getting delete
for example if I have

import (
	"fmt"
	"github.com/debojyoti-majumder/testapp"
)

it becomes this
import (
	"fmt"

         github.com/debojyoti-majumder/testapp"
)

[2020-02-06 06:53] Tatsujinichi commented on #3030
I also have this problem.  Never used go or extension on this laptop before.

go version go1.13.7 darwin/amd64

GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/myuser/Library/Caches/go-build"
GOENV="/Users/myuser/Library/Application Support/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GONOPROXY=""
GONOSUMDB=""
GOOS="darwin"
GOPATH="/Users/myuser/go"
GOPRIVATE=""
GOPROXY=

[2020-02-06 17:32] stamblerre commented on #3030
@debojyoti-majumder, @Tatsujinichi: Can you both share the output of `gopls -rpc.trace -v check path/to/file.go`?

Are you using Go modules or GOPATH mode? If you are using modules, please make sure to open your VS Code window to the root of your module (the directory containing the `go.mod`) or a subdirectory.

[2020-02-06 19:58] stamblerre commented on #3027
@debojyoti-majumder: What is the output of `gopls version`?

[2020-02-06 23:51] esinek opened #3032 "Debug: "Pretty Print" a Struct"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

**Is your feature request related to a problem? Please describe.**
When debugging, it slows me down to inspect a struct to see the information I'm interested in. I want to see the relevant info at a glance. Having a tooltip (or other quic

[2020-02-07 08:47] Tatsujinichi commented on #3030
Everything started working once I added 'package main' at the top of the file.

[2020-02-07 09:10] ttsokov commented on #3013
@hyangah I removed the go-langserver binary from the path, but vscode doesn't find gopls binary, although it's installed"

![Screen Shot 2020-02-07 at 11 08 48 AM](https://user-images.githubusercontent.com/7620678/74016034-6cf4df80-499a-11ea-9963-4892866191df.png)
![Screen Shot 2020-02-07 at 11 04 03 AM](https://user-images.githubusercontent.com/7620678/74015672-bee93580-4999-11ea-8b2e-3c41fa6a341

[2020-02-07 09:46] debojyoti-majumder commented on #3030
Hi @stamblerre, thanks for responding. I am using Go modules. My go.mod looks like this
----------------------------------
module github.com/debojyoti-majumder/app1

go 1.13
----------------------------------
 I have run this from root directory "gopls check -rpc.trace -v .\main.go" and it gave me this output
-----------------------------------------
flag provided but not defined: -rpc
show diagno

[2020-02-07 09:48] debojyoti-majumder commented on #3027
@stamblerre This is the output I got
gopls version
golang.org/x/tools/gopls v0.3.1
    golang.org/x/tools/gopls@v0.3.1 h1:yNTWrf4gc4Or0UecjOas5pzOa3BL0WDDyKDV4Wz5VaM=

[2020-02-07 11:33] gittim commented on #3027
It's started corrupting again. Once it starts, every time i hit ctrl-S, more corruption happens. It was OK until mid morning. Here's the log: everything was fine until the time was sometime after 11:00 in the file. Some of the errors appear to be legit as part of my Go writing (syntax errors, debugger errors etc.).
[corruptlog.txt](https://github.com/microsoft/vscode-go/files/4170530/corruptlog.tx

[2020-02-07 14:19] hyangah commented on #3013
@ttsokov assuming there is no workspace-specific settings that affects executable search path - is the directory that gopls exists in your `%PATH%`? You can also check from the integrated terminal window (click "TERMINAL" in the bottom right panel)  whether you can invoke `gopls` from there. If not, I think the `%PATH%` needs to be adjusted.

[2020-02-07 14:33] hyangah commented on #3032
This is somewhat related to #2655 (that may be used to invoke a `String` method if exists) but more targeted to the pretty printing of complex objects.

@quoctruong - is the DAP protocol (work-in-progress) capable to provide means to implement this type of features?

[2020-02-07 14:56] hyangah commented on #3030
@debojyoti-majumder the flag order is important. `-rpc.trace -v` need to be before `check`.
[code]

[2020-02-07 15:29] deschmih commented on #2931
After long time of no action on this issue I have uninstalled vscode. Goland from jetbrain works fine for my purpose.

https://www.jetbrains.com/go/

Thanks for your support.

[2020-02-07 15:29] #2931 closed

[2020-02-07 21:56] jbrodriguez commented on #2447
Can I remove gocode, gopkgs, go-outline, guru, gorename, etc if I'm fine with gopls ?

[2020-02-07 22:15] stamblerre commented on #2447
Yep! None of those tools will be used if you are using `gopls`.

[2020-02-07 22:31] stamblerre commented on #3027
@gittim: Thanks for sharing the log. It looks like the "no snapshot for file" errors are coming from `textDocument/didChange`, which implies that somehow `gopls` is not able to process the changes to your file. Are you starting `gopls` from the `d:\code\go\src\proj\` directory?

[2020-02-07 22:33] stamblerre commented on #3027
@debojyoti-majumder: If you could share your logs for an instance when `gopls` corrupts your files that would be helpful in diagnosing this issue. See https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs for details on how to capture those logs.

[2020-02-07 22:46] Ice3man543 opened #3033 "VSCode removes data from file sometimes when running saving tools"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.7 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.0
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0
- Run `go env GOOS GOARCH` to get the operating system and processor

[2020-02-07 22:53] Ice3man543 commented on #3033
<img width="462" alt="Screenshot 2020-02-08 at 4 22 01 AM" src="https://user-images.githubusercontent.com/22318055/74071706-a8d78580-4a2a-11ea-8cd5-1bd22e871752.png">

Screenshot with issue!

[2020-02-07 22:53] Ice3man543 commented on #3033
Okay, this seems like duplicate of #3027

[2020-02-07 22:53] #3033 closed

[2020-02-07 22:56] stamblerre commented on #3027
I've reopened the upstream issue in `gopls`: https://github.com/golang/go/issues/34955. Please comment there with logs, if you are able to provide them.

[2020-02-07 22:59] stamblerre commented on #3027
Also, please add the following settings to your VS Code configuration if you are willing to provide more detailed logs.

[code]

[2020-02-08 09:45] gittim commented on #3027
I've sent more detailed logs to @stamblerre by email. In summary, I have the latest VS Code & gopls installed as of the morning. I can induce the error immediately, by opening a directory in the project, scrolling down to the first block of code (past the comments), and hitting ctrl-S. Each time I do so, characters are removed; first some whitespace between a const variable name & its value them,

[2020-02-08 23:19] mohsinhijazee opened #3034 "Launch fails with Remote Development Extension and Go modules"
I am using Visual Studio Code with Remote Development extension on Mac using Docker images from [here](https://github.com/microsoft/vscode-remote-try-go) and rest of the details are as under:

### Versions
- Go version `go version go1.13.7 linux/amd64`
- VS Code version: `1.41.1, 26076a4de974ead31f97692a0d32f90d735645c0, x64`
- VS Code Go extension `0.13.0`
- `go env GOOS GOARCH` returns `linux am

[2020-02-09 00:56] jbrodriguez commented on #2447
After removing a bunch of binaries from $GOPATH/bin, vscode-go displays this message and offers to install them

[code]

These are my go preferences

[code]
Any suggestions ?

[2020-02-09 22:10] venkatsvpr opened #3035 "With delve remote-debugging on vscode unable to print maps/structures"
What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
        - go version go1.11.4 linux/amd64
        - delve debugger version - 1.3.2

- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.38.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0
- Run `go env GOOS GOARCH

[2020-02-09 23:08] wtask opened #3036 "Please, ignore ignored files and folders"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.13.7
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.0 ae08d5460b5a45169385ff3fd44208f431992451 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0

### Describe the bug
I have .gitignore file to hi

[2020-02-10 18:17] stamblerre commented on #3036
This is a tough problem to solve, and it comes up in other cases. For example, this extension has some testdata files, and `gopls` runs on these files as well. In some cases, it can be helpful, but in other cases, it is unnecessary (as in your case).

I think that a viable alternative may be to specify some directories that should be excluded by the extension. @ramya-rao-a: Is there any precedent

[2020-02-10 19:46] stamblerre commented on #3027
Thanks for sending the logs along, @gittim. I took a look, and there is clear evidence that something is going wrong - `textDocument/codeAction` responses are always being sent for version 1 of your file, even when the version has increased. There are also error messages after `textDocument/didChange` events, while leads me to believe that `gopls` does not think that you file is "part" of your wor

[2020-02-10 20:59] gittim commented on #3027
I've got goals.exe in e:\code\bin (I have two machines: one uses d: & the other e:) I may be quoting logs from both. In both cases, the Windows system, Program Files, users etc. are on c: & the code is on d: or e:. I definitely have only one copy of goals - there aren't multiples. The relevant go env parts:
set GOBIN=
set GOCACHE=C:\Users\Tim\AppData\Local\go-build
set GOENV=C:\Users\Tim\AppData\R

[2020-02-10 21:30] dppascual opened #3037 "Autocomplete does not provide completions for function parameters"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.13.6 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `1.42.0`
- Check your installed extensions to get the version of the VS Code Go extension
	- `0.13.0`
- Run `go env GOOS GOARCH` to get the operating system and proc

[2020-02-10 21:34] stamblerre commented on #3037
This sounds like a duplicate of https://github.com/microsoft/vscode-go/issues/3007. I'll send out a PR for this.

[2020-02-11 01:25] yhl10000 commented on #3025
I have the same issue, here is more info:
the OS is Mac OS 10.15.3 (19D76)

[2020-02-11 02:15] stamblerre commented on #3037
Mailed https://github.com/microsoft/vscode-go/pull/3038. Going to close this issue as a duplicate.

[2020-02-11 02:15] stamblerre commented on #3037
Duplicate of #3007

[2020-02-11 02:15] #3037 closed

[2020-02-11 09:33] jd84 opened #3039 "Error not cleared after fixing"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.5 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.0
ae08d5460b5a45169385ff3fd44208f431992451
x64

- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0
- Run `go env GOOS GOARC

[2020-02-11 10:19] mhansen opened #3040 "Go: Extract function refactoring errors, can't find imports in $GOPATH/pkg/mod/"
### What version of Go, VS Code & VS Code Go extension are you using?

- Run `go version` to get version of Go
go version go1.13.7 darwin/amd64

- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
1.42.0
ae08d5460b5a45169385ff3fd44208f431992451
x64

- Check your installed extensions to get the version of the VS Code Go extension
0.13.0
- Run `go env GOOS GOARCH` to

[2020-02-11 17:33] stamblerre commented on #3027
Thank you for the additional detail. I believe I've figured out the issue and have a fix for it. If you and other affected users could try applying the patch before it is merged to confirm that it fixes the issue, that would be very helpful. Here are the steps to do so:

[code]

[2020-02-11 18:32] stamblerre commented on #3040
The tool that provides this feature, [godoctor](https://github.com/godoctor), doesn't seem to support modules yet (https://github.com/godoctor/godoctor/issues/50). This feature should probably be disabled when modules are enabled. I filed https://github.com/golang/go/issues/37170 to track adding support for this in the language server.

[2020-02-11 18:37] stamblerre commented on #2239
Closing this issue, as it is over a year old and has had no activity.

[2020-02-11 18:37] #2239 closed

[2020-02-11 18:49] stamblerre commented on #3027
The change is now merged, so `gopls` can instead be downloaded by running `GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master`.

[2020-02-11 20:58] stamblerre commented on #3039
Renaming a package is pretty specific case, because it forces `gopls` to clear its metadata cache. Do you see this issue with other types of errors or just with package renames?

[2020-02-11 21:05] stamblerre commented on #2598
@RadhiFadlillah: Is this still an issue for you? [`gopls`](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md) should work better for cgo than `gocode` does.

[2020-02-11 21:11] stamblerre commented on #2889
@quoctruong: Does this issue still need further discussion or is this working as intended?

[2020-02-11 21:14] quoctruong commented on #2889
It's working as intended. Adding `sudo` would be a nice to have but I don't think that's necessary.

[2020-02-11 21:16] stamblerre commented on #2610
This sounds like a duplicate of https://github.com/microsoft/vscode-go/issues/2889 - please follow along with the discussion on that issue.

[2020-02-11 21:16] stamblerre commented on #2610
Duplicate of #2889

[2020-02-11 21:16] #2610 closed

[2020-02-11 21:17] stamblerre commented on #2889
Makes sense. https://github.com/microsoft/vscode-go/issues/2610 is a duplicate that mentions  debugging with root privileges remotely - is there a work-around for that?

[2020-02-11 21:22] stamblerre commented on #2897
Thanks for the detail, @strowk! I agree that this sounds like an issue with Go and not with VS Code. I will close this issue, but please follow along with https://github.com/golang/go/issues/36568 if this continues to affect you.

[2020-02-11 21:22] #2897 closed

[2020-02-11 21:26] stamblerre commented on #2808
Closing this as a duplicate of https://github.com/microsoft/vscode-go/issues/2965, which will track the unification of settings between `gopls` and VS Code Go. For now, please use the workaround suggested above.

[2020-02-11 21:26] #2808 closed

[2020-02-11 21:27] stamblerre commented on #2808
Duplicate of https://github.com/microsoft/vscode-go/issues/2965

[2020-02-11 21:29] stamblerre commented on #2976
@kunaldas1997: Is this still an issue for you?

[2020-02-11 21:34] stamblerre commented on #2576
@ramya-rao-a: Is this still an issue or can this be closed now?

[2020-02-11 21:38] quoctruong commented on #2889
I think the work around by starting the remote dlv session with `sudo` should still work.

[2020-02-11 21:53] stamblerre commented on #2889
Sounds good. @ramya-rao-a: Should this issue be closed or left open for others to find?

[2020-02-12 09:29] gittim commented on #3027
Thanks! Just tried this & it appears OK now - ctrl-S no longer corrupts the flie outside the main view. I won't have time to test again until later today (UK time), but seems stable so far.

[2020-02-12 11:13] slayer opened #3042 "Do not run gopls if no open .go files"
Hi

`gopls` is experimental project (It is currently in alpha, so it is not stable) and contains many memory leaks, on my laptop it can eat up to 4GB of RAM.

Is it possible to
- do not run it if no `*.go` files are opened ?
- terminate it if no `*.go` files are opened ?
- periodically restart it ?

[2020-02-12 13:44] jd84 commented on #3039
No, the error exists only if I rename the package. To clear the error a restart of vscode is required. I tested it again on MacOS and Linux (same results).

[2020-02-12 15:54] stamblerre commented on #2212
@egonelbre: `gocode` is not being actively maintained anymore, so, for improvements in this space, I would suggest using `gopls`, which does support request cancellation. I don't expect `gocode` will be modified to handle request cancellation.

Since the extension contains @ramya-rao-a's improvements mentioned above, do you think that this issue can be closed?

[2020-02-12 15:59] stamblerre commented on #2421
[`gopls`](https://github.com/golang/tools/blob/master/gopls/README.md), the Go language server, handles request cancellation and tries to minimize the number of calls to `go list`. You may want to try that out as an alternative.

Otherwise, I will defer to @ramya-rao-a on the correct response here. I imagine that disabling `go list` is not really a possibility because the extension needs the outpu

[2020-02-12 16:01] stamblerre commented on #2526
This sounds quite similar to https://github.com/microsoft/vscode-go/issues/2421, since the number of processes started can affect all VS Code instances, not just live share ones. Let's continue the conversation on that issue. I'll close this one as a duplicate.

[2020-02-12 16:01] stamblerre commented on #2526
Duplicate of https://github.com/microsoft/vscode-go/issues/2421

[2020-02-12 16:01] #2526 closed

[2020-02-12 16:04] stamblerre commented on #2626
This sounds very similar to https://github.com/microsoft/vscode-go/issues/2421 and https://github.com/microsoft/vscode-go/issues/2526, which both deal with the issue of canceling processes before spawning new ones. Let's continue the conversation on https://github.com/microsoft/vscode-go/issues/2421 to have a central place for discussion. I'll close this issue as a duplicate.

[2020-02-12 16:04] stamblerre commented on #2626
Duplicate of https://github.com/microsoft/vscode-go/issues/2526

[2020-02-12 16:04] #2626 closed

[2020-02-12 16:14] hyangah commented on #3042
"Go: Restart Language Server" from the command palette can be used to trigger language server restart. I think manual restart is better than periodically and automatically restarting it while interfering with users' go file editing.

Another option is to disable the language server for the workspace `"go.useLanguageServer": true" but that is not desirable if you are working in modules mode.

Since

[2020-02-12 16:39] stamblerre commented on #3042
Thanks for the report, @slayer. I understand it can be frustrating when these types of bugs occur, but your suggestions will mask the problems, instead of helping us debug and fix them. `gopls` should not consume 4GB of RAM, so please [file an issue](https://github.com/golang/go/issues/new) with `gopls` if you see this. If possible, please attach your VS Code settings (`settings.json` file) and me

[2020-02-12 17:07] tsaarni opened #3043 "Debugger fails to open file when debugging remotely with Delve"
I'm trying to debug my program remotely with vscode + delve.  Program is running on Kubernetes and I forwarded debug port to my local machine.  Everything seems to start correctly.

My program crashes and headless delve debugger prints error

vscode tries to open `panic.go` and I get error in vscode:

The correct path to `panic.go` is  `/home/tsaarni/sdk/go1.13.7/src/runtime/panic.go`, not `/home/

[2020-02-12 17:21] stamblerre commented on #3039
Thanks for clarifying. The issue you are referring to is https://github.com/golang/go/issues/36593, which I just moved to the `gopls/v0.4.0` milestone. I will close this issue in favor of that one, so please follow along there.

[2020-02-12 17:21] #3039 closed

[2020-02-12 17:22] stamblerre commented on #3027
Great, thank you for following up! This fix will be part of the `gopls/v0.3.2` release.

[2020-02-12 17:27] stamblerre commented on #2913
We are continuing to work on making errors more plain to the user as part of our work on `gopls`. https://github.com/golang/go/issues/31668 is a similar issue that you can follow along with in the Go repository, but as there is no concrete action required by this issue, I will close it now.

[2020-02-12 17:27] #2913 closed

[2020-02-12 17:36] johneboldt commented on #3027
@stamblerre when I reported this bug, I really thought it was an environmental issue on my machine. It looks like it really was a core bug. Thanks for all your help on this!!!

[2020-02-12 17:39] stamblerre commented on #2687
Looks like this issue hasn't had much activity for a few months. I'm going to close it, but please open a new issue if you encounter these problems again.

[2020-02-12 17:39] #2687 closed

[2020-02-12 17:52] egonelbre commented on #2212
Yes, this issue can be closed.

[2020-02-12 17:52] #2212 closed

[2020-02-12 18:13] stamblerre commented on #1701
This is a feature request for `goimports` - VS Code Go should not modify the output produced by `goimports`.

@heschik: Would you support a change like this or is this working as intended?

[2020-02-12 18:19] heschik commented on #1701
Seems someone got to it in the intervening 2 years.

[code]

[2020-02-12 18:26] stamblerre opened #3044 "performance: limit concurrent subprocesses"
There are a number of issues filed about the number of processes started by the extension, and in particular, processes that get started by various actions on save. These include `golint`, `go vet`, `go list`, `go doc`, etc. We should make sure that only one process of each "kind" is running at a given instant, meaning that we need to logic to cancel these processes when another is spawned.

This

[2020-02-12 18:33] stamblerre commented on #2276
An alternative to this work-around is to use the [`gopls` language server](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md), which handles cancellation.

I have also filed https://github.com/microsoft/vscode-go/issues/3044 to track supporting correct cancellation for all subprocesses, so let's continue the discussion there. The correct fix would really be to limit the number of `go

[2020-02-12 18:33] #2276 closed

[2020-02-12 18:33] stamblerre commented on #2276
Duplicate of https://github.com/microsoft/vscode-go/issues/3044

[2020-02-12 18:35] stamblerre commented on #1701
Great! Closing this issue since it is now fixed.

[2020-02-12 18:41] stamblerre commented on #1701
Ah, my mistake - I didn't realize that VS Code had extra code for handling `goimports`, so while this is fixed in `goimports`, it's not in VS Code Go. As an alternative, @mbenkmann, you can try using the [language server](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md), which does not have this problem.

[2020-02-12 18:45] stamblerre commented on #1015
Since this issue has not had any activity for over a year, I will close it in favor of a new umbrella issue for improving VS Code Go's handling of subprocesses: https://github.com/microsoft/vscode-go/issues/3044. It will be easier to track improvements with one issue, instead of many hard-to-find ones.

As an alternative, you can use the [language server](https://github.com/golang/tools/blob/maste

[2020-02-12 18:45] #1015 closed

[2020-02-12 18:45] stamblerre commented on #1015
Duplicate of #3044

[2020-02-12 18:49] stamblerre commented on #1916
Since this issue has not had much activity for the last year, I will close it in favor of a new umbrella issue for improving VS Code Go's handling of subprocesses: https://github.com/microsoft/vscode-go/issues/3044. It will be easier to track improvements with one issue, instead of many hard-to-find ones.

As an alternative, you can use the [language server](https://github.com/golang/tools/blob/ma

[2020-02-12 18:49] #1916 closed

[2020-02-12 18:49] stamblerre commented on #1916
Duplicate of #3044

[2020-02-12 18:50] stamblerre commented on #2421
Since this issue has not had any activity for quite some time, I will close it in favor of a new umbrella issue for improving VS Code Go's handling of subprocesses: https://github.com/microsoft/vscode-go/issues/3044. It will be easier to track improvements with one issue, instead of many hard-to-find ones.

As an alternative, you can use the [language server](https://github.com/golang/tools/blob/m

[2020-02-12 18:50] #2421 closed

[2020-02-12 18:50] stamblerre commented on #2421
Duplicate of  #3044

[2020-02-12 18:55] stamblerre commented on #2545
@nitishm: I'm sorry that we didn't follow up on this for so long. Is this still an issue for you with `gopls/v0.3.1`?

[2020-02-12 19:24] stamblerre commented on #3027
Thank you for the report! `gopls/v0.3.2-pre1` is now available, if you'd like to download it (`GO111MODULE=on go get golang.org/x/tools/gopls@v0.3.2-pre1`).

[2020-02-13 07:46] tsaarni commented on #3043
I comment out `"remotePath": "/mybinary",` from `launch.json` and it started to work: I can open all files within vscode debugger!

The `remotePath` property is [documented](https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#set-up-configurations-in-launchjson) :

but on the other hand, this property is probably only for remote debugging with `dlv debug` and not `dlv exec`

[2020-02-13 09:40] slayer commented on #3042
Thanks @hyangah
I use gopls
[code]

At the moment it is most RAM consuming process at the system (even bigger than chrome with slack and gmail :) )
[code]

Just editing `.go` files :)

my `settings.json`
[code]

@stamblerre thanks! will run it with profiling

[2020-02-13 12:00] dppascual commented on #3037
Thanks for creating a PR 😊

[2020-02-13 13:23] slayer commented on #3042
I have uploaded goprof results to https://send.firefox.com/download/cb0f1a58824b60f8/#dL3s-VMmsJuu_043jKOvAg

[2020-02-13 15:24] morningspace opened #3048 "Does vscode-go support debug go code using go plugin?"
Please answer these questions before submitting your issue. Thanks!

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.6 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.0
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0

[2020-02-13 15:55] hyangah commented on #3048
@morningspace does the program run without an error if you build/run the program outside vscode, and debug directly using `delve`? I see many open bugs and similar bug reports about plugin in upstream go project. So, maybe testing by eliminating the vscode or vscode-go is the first step to narrow down the scope of the problem.

https://github.com/golang/go/issues/27751 (which uses module) and many

[2020-02-13 18:09] stamblerre commented on #3042
Thank you for uploading that! As I suspected, `go/ssa` is using a lot of memory. This is because we recently added a new analyzer that uses `go/ssa`. We realized that this was an issue, so we have just released a new version of `gopls` (`gopls/v0.3.2`) that no longer has this analyzer enabled.

Can you try upgrading (VS Code should suggest it to you automatically, or you can run `GO111MODULE=on go

[2020-02-13 20:57] stamblerre commented on #3043
/cc @quoctruong

[2020-02-13 21:25] hyangah commented on #2996
@stamblerre This no longer happens - I believe this was fixed in the recent vscode release. Can you close this?

[2020-02-13 21:54] #2996 closed

[2020-02-13 22:17] quoctruong commented on #3043
@tsaarni I think the `remotePath` should be set to `/home/tsaarni/sdk/go1.13.7/src/` and not `/mybinary` in this case? Also I don't see where `/mybinary` appears in your log as well.

[2020-02-14 00:48] morningspace commented on #3048
@hyangah Thanks for your prompt help... to try outside vscode and debug directly using `delve` is a really good idea. It can help me identify the cause further. I will circle back here when I have updates!

[2020-02-14 01:33] #2902 closed

[2020-02-14 01:33] #3005 closed

[2020-02-14 01:34] #2941 closed

[2020-02-14 01:34] #2983 closed

[2020-02-14 01:34] #2905 closed

[2020-02-14 05:46] stamblerre commented on #2956
Thanks for this report - I think that the root cause here is probably the same as a number of issues - too many subprocesses are getting started concurrently. I've filed https://github.com/microsoft/vscode-go/issues/3044 to track work on improving this behavior, so you can follow along with progress on that issue.

[2020-02-14 05:46] stamblerre commented on #2956
Duplicate of #3044

[2020-02-14 09:45] timurgen opened #3049 "Annoying github login window"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.13
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1
- Check your installed extensions to get the version of the VS Code Go extension
	-  0.13.0
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture details
	- Win

[2020-02-14 10:12] estebanborai commented on #2956
Nice!

Thanks for your help!

On Fri, Feb 14, 2020, 02:46 Rebecca Stambler <notifications@github.com>
wrote:

[2020-02-14 13:12] #3049 closed

[2020-02-14 14:11] jedebarbieri opened #3050 "Cannot install gopkgs tool"
Hello, I can't install gopkgs and the "auto-completion" and "go to definition" feature are not working.

- go version go1.13.7 windows/amd64
- VS Code : 1.42.1
c47d83b293181d9be64f27ff093689e8e7aed054
x64
- VS Code Go extension : v0.13.0
- windows / amd64
- settings.json:
`"go.formatTool": "goimports",`

1. Go to "GO: Install/Update Tools"
2. Select "gopkgs"
3. Wait until install finish. It shows

[2020-02-14 15:14] tsaarni commented on #3043
I don't think that is correct, since `remotePath` is documented to point a path of the file being debugged on the remote machine.  That is the binary name I execute under headless delve debugger on remote machine.  On the other hand `/home/tsaarni/sdk/go1.13.7/src/` is a local path on my laptop where Go SDK lives, so I don't see how that could be correct - it does not exist in remote machine.

Reg

[2020-02-14 15:28] tsaarni opened #3051 "Debugger hangs when fetching variables from remote target"
I'm trying to debug my program remotely with vscode + delve. Program is running on Kubernetes and I forwarded debug port to my local machine. Everything seems to start correctly.

My program crashes and vscode debugger shows the stack backtrace correctly.  When I click stack frames, vscode fetches and displays variables correctly, until I click certain stack frames and I get pending animation unde

[2020-02-14 16:59] stamblerre commented on #3050
I think you're running into this issue: https://github.com/uudashr/gopkgs/issues/25. You can try downloading manually with modules turned off (`GO111MODULE=off go get github.com/uudashr/gopkgs`), but you may not get the correct version.

[2020-02-14 18:35] quoctruong commented on #3043
Yes, I think we can close this issue. Feel free to reopen if you run into other issues with the remotePath.

[2020-02-14 18:47] #3043 closed

[2020-02-14 21:06] abergmeier opened #3052 "Go plugin makes cgo spam the system"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.13.4 linux/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `1.42.0
ae08d5460b5a45169385ff3fd44208f431992451
x64`
- Check your installed extensions to get the version of the VS Code Go extension
	- latest
- Run `go env GOOS GO

[2020-02-14 23:31] #2982 closed

[2020-02-15 02:29] stamblerre commented on #3052
Are you using the language server? What is the contents of your VS Code `settings.json` file?

[2020-02-16 09:34] abergmeier commented on #3052
Is there any reason not to?

[code]

[2020-02-16 10:01] warent commented on #3017
I've encountered the same problem, working on a normal project outside of my GOPATH. It doesn't work even with a go.mod initialized. Setting
[code]
fixed it for me as well.

[2020-02-16 10:13] warent commented on #3017
I encountered this issue in addition to a problem with modules not loading any autocomplete data and showing `invalid type`, even with go.mo defined. For anyone confused like me, @stamblerre means the problem is because your VS Code is open on a directory in which your go code is a subdirectory. The fix is to open the subdirectory that has your Go code so that it's the root directory.

[2020-02-17 00:20] nitishm commented on #2545
I think this has been fixed in the recent versions. I haven't run into any issues lately 👍

[2020-02-17 05:07] erifan opened #3053 "Can't debug a single file in debug mode"
### What version of Go, VS Code & VS Code Go extension are you using?
         go1.13.8 amd64 windows platform
         vscode version: 1.42.0

### Describe the bug
There are two files under $GOPATH/src, both of them contain main function, I want to debug one file of them, the the launch.json file is as follow:
[code]

[2020-02-17 15:43] galenwarren commented on #3027
I'm having the same corruption issues with gopls and VS Code and, unfortunately, they still persist after installing the 0.3.2-pre1 version. The issue is that it scrambles the import strings on save.

[2020-02-18 00:50] hairyhenderson commented on #2968
@jhendrixMSFT https://github.com/go-delve/delve/issues/1528 implies that this a `vscode-go` bug, not a `delve` bug.

And in https://github.com/go-delve/delve/issues/1768#issuecomment-570916476 the implication seems to be that `vscode-go` is the only tool where the issue is seen (`dlv --headless` and `goland` both work correctly).

Is it possible to take another look at this?

[2020-02-18 05:09] cornfeedhobo opened #3054 "Language Server is not compatible with go < 1.12"
Please add the option to toggle the checking and/or notification of newer `gopls` versions. I'm pretty sure your update code is broken anyways. Either way, this pop-up has gotten so annoying. I spent an hour ensuring I had the newest version installed.

[2020-02-18 05:12] stamblerre commented on #3054
This setting is already available: `"go.useGoProxyToCheckForToolUpdates": false`.
You can check your `gopls` version by running `gopls version`. What is the output of that command? Both the check and the update should be working correctly, as we haven't heard other complaints. What error messages are you seeing?

[2020-02-18 05:14] firelizzard18 opened #3055 "Add a setting to disable GOPATH/go module warning"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm minding my own business and a warning flashes in the corner with every single keystroke:

[code]

I know I'm not in a module. I know I'm not in my GOPATH. Those are conscious choices.

**Describe the solution you'd like**
Add a setting to disable the warning. Preferably, a button on the warning saying

[2020-02-18 05:19] stamblerre commented on #3055
This warning comes from `gopls`, so you can disable that rather than disabling the whole extension. `gopls` only shows this warning if it is unable to resolve a dependency, so that warning is meant to let you know that `gopls` isn't able to fully function. Perhaps we can make sure that warning only shows up once, but I don't think we can fully disable it.

[2020-02-18 05:26] stamblerre commented on #2545
Great, thank you for following up. I'll close this issue then.

[2020-02-18 05:26] #2545 closed

[2020-02-18 05:39] cornfeedhobo commented on #3054
Thank you so much! I wish I had found that sooner.

To the issue... Every time I start or reload, I am shown the message that gopls is out of date.

Clicking "Update" results in failure:
[code]

Running `gopls version` is confusing because it doesn't match [github releases](https://github.com/golang/tools/releases):
[code]

My hunch now is that this relates to my use of GOMODULES.

[2020-02-18 05:55] stamblerre commented on #3054
Yes, sounds like the warning is correct - the latest version of `gopls` is `v0.3.2`.  What happens if you run `GO111MODULE=on go get golang.org/x/tools/gopls`? Are you using Go 1.11?

Also, regarding the setting, make sure to reload your VS Code window after you configure it.

[2020-02-18 06:02] firelizzard18 commented on #3055
I'm happy with only showing it once

[2020-02-18 06:07] cornfeedhobo commented on #3054
[code]
and
[code]

Yes, I'm using 1.11.

[2020-02-18 06:17] stamblerre commented on #3054
Make sure not to use `-u` flag, as it will give you the wrong versions of the dependencies.
I would recommend updating to 1.13, if possible, but if not, you can run the following commands to install `gopls`:

[code]

It's possible that the installation logic is broken for 1.11 - I will investigate that.

[2020-02-18 08:55] meling opened #3056 "Notification about generated file when open in editor window during regeneration"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.8 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0
- Run `go env GOOS GOARCH` to get the operating system and processor

[2020-02-18 10:04] nezorflame commented on #3050
Yup, this is `gopkgs` issue.
@ramya-rao-a we're gonna need to update the tool installer to use `v2` version of `gopkgs`. While we work on fixing the `v1` import, tool has been updated a few months ago already so there's no point in consuming the old binary version anymore.

[2020-02-18 16:48] cornfeedhobo commented on #3054
Looks like my distro published go1.12. Upgrading to 1.12 fixes this. I'm wondering if maybe this is upstream? But it's probably good it's flagged either way.

[2020-02-18 17:18] stamblerre commented on #3054
Thanks for following up - glad you were able to resolve the issue. I'll leave this open to make sure that we confirm that the installation works for Go 1.11.

[2020-02-18 17:29] stamblerre commented on #3052
No, the language server should work with cgo.

/cc @heschik for cgo expertise

[2020-02-18 17:42] stamblerre commented on #3027
@galenwarren: Can you provide the information requested [here](https://github.com/golang/go/issues/34955#issue-508583788)? `gopls` logs would be particularly helpful here.

[2020-02-18 17:57] stamblerre commented on #3056
Thank you for the report! This warning comes from `gopls`, but I wonder if there is a bug in the VS Code language client, since the `gopls` code is supposed to only show this warning if you are typing in the file. Can you share the `gopls` logs from when this happens? You can find info [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs) on how to do this

[2020-02-18 18:06] cornfeedhobo commented on #3054
Likewise, thanks for all the help!

[2020-02-18 18:17] cornfeedhobo commented on #3054
Follow up testing: I cleared out my tools and let the plugin install them this time. Everything completed successfully and without hiccup. I'm guessing this is isolated to 1.11.

[2020-02-18 19:05] meling commented on #3056
I'm unable to reproduce the bug on my home computer, which has a slightly different configuration. I will try again in the office tomorrow.

[2020-02-18 21:38] #2976 closed

[2020-02-18 21:38] #2598 closed

[2020-02-18 21:38] #2430 closed

[2020-02-18 21:55] stamblerre commented on #2407
@raymondjolly: Thanks for following up. Can this issue be closed?

[2020-02-18 21:58] stamblerre commented on #2656
@drrrMikado, @WangLei1993, @FelipeUmpierre: Is this still an issue for you with the latest version of the extension?

[2020-02-18 22:05] stamblerre commented on #2901
@byteshiva: What is failing when you run `Go: Build Package`? I'm not seeing any error messages in the output posted above.

[2020-02-18 22:09] stamblerre commented on #2899
@byteshiva: Sounds like you go this working - can this issue be closed?

I'll defer to @ramya-rao-a to determine if the Go extension should support situations where users don't have `go` on their PATHs.

[2020-02-18 22:14] stamblerre commented on #2922
`"go.inferGopath"` should not have any effect when you are using modules, so it sounds like there is some other issue happening here. What is the directory structure of your project - what do you expect the inferred GOPATH to be?

[2020-02-18 22:19] stamblerre commented on #671
Will the [LSP workspace symbol](https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#workspace_symbol) satisfy the requirements here? `gopls` has just added support for this request.

[2020-02-18 22:25] stamblerre commented on #1412
`gopls` gets installed at the latest released version, with automatic update detection when a new version is released. @hakim has also worked on installing tools at a specific version in the extension.  I think that this model is something we should aim to move toward for all tools.

[2020-02-18 22:32] stamblerre commented on #1578
It sounds like this issue can only be satisfactorily resolved upstream in VS Code. I would be wary of adding additional modifications to handle inferring the GOPATH, especially as modules become more prevalent. @ramya-rao-a: Can we close this issue?

[2020-02-18 22:39] stamblerre commented on #2347
Since `gopls` will be replacing `guru` (and already does the work of running `go list ./...`), I think it probably makes sense to close this issue and have `gopls` take care of finding references with a limited scope.

[2020-02-18 22:39] #2347 closed

[2020-02-18 23:53] stamblerre commented on #1848
I think that it will be very difficult to handle this correctly, particularly because it will be hard to debug cases where build tags are implicitly applied. I suggest that we delegate build tag handling to the underlying tools. After `gopls/v1.0.0`, for instance, we intend to work on improving support for build constraints more generally, and that will resolve some of the issues here.

[2020-02-19 00:09] stamblerre commented on #1928
`gopls` supports this feature, and it will offer a list of files to jump to after [CL 210321](https://go-review.googlesource.com/c/tools/+/210321) is submitted. @ramya-rao-a: Is that sufficient for us to close this issue?

[2020-02-19 00:11] stamblerre commented on #1846
@heschik: Is this something that `gopls` could support?

[2020-02-19 00:19] #2928 closed

[2020-02-19 00:24] stamblerre commented on #2107
The language server does not have this problem, so I think we can close this issue.

[2020-02-19 00:24] #2107 closed

[2020-02-19 00:59] byteshiva commented on #2899
@stamblerre - Please go ahead and close this issue.

[2020-02-19 01:00] #2899 closed

[2020-02-19 06:19] drrrMikado commented on #2656
The problem seem to be solved.Thank you.

[2020-02-19 14:39] BitPhinix commented on #1741
It would also be nice if vscode would provide interface stubbing as a quick fix.

[code]

Should provide a quick fix like "generate interface stubs" if Repository doesn't implement goal.Repository

[2020-02-19 17:02] stamblerre commented on #2656
Great, thanks for following up! Closing this issue.

[2020-02-19 17:02] #2656 closed

[2020-02-19 17:32] #2947 closed

[2020-02-19 18:44] heschik commented on #3052
This isn't totally shocking behavior, but I wasn't able to reproduce it. Could you [gather a gopls log](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code) and attach it? I'm particularly interested in `packages.Load` calls.

[2020-02-19 18:47] heschik commented on #1846
Sure, doing it for packages that have been loaded would be relatively easy. I don't think we'd want to do it for random packages in the module cache.

[2020-02-19 19:12] dylankb opened #3058 "Permission error when renaming symbol"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-02-19 19:31] stamblerre commented on #3058
Are you using the language server? Renaming without the language server is not supported for projects using modules. You can enable the language server by setting `"go.useLanguageServer": true`. More details are available [here](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md).

[2020-02-20 02:43] dylankb commented on #3058
Thanks for the note! I am not using go modules in the project so I do not
think I'm using the gopls language server.

On Wed, Feb 19, 2020, 11:31 AM Rebecca Stambler <notifications@github.com>
wrote:

[2020-02-20 04:59] hyangah commented on #3058
https://github.com/golang/go/issues/34222

I am *guessing* `gorename` is somewhat broken even in (implicit) GOPATH mode since go 1.13. Go1.13 started to enable the module-aware mode when `GO111MODULE=auto` (https://golang.org/doc/go1.13#modules) and it affects the loading of the packages under GOPATH that have `go.mod`. Can you try with explicitly setting `GO111MODULE=off`?

[2020-02-20 05:02] hyangah commented on #3058
And `gopls` should work in `GOPATH` mode too. So, try the gopls language server when you feel ready.

[2020-02-20 05:22] hyangah commented on #3054
New versions of `gopls` require at least go1.12.

`gopls` depends on `golang.org/x/tools/internal/lsp/source/completion.go'  which uses `go/token.Faile.LineStart`. That method wasn't available until go1.12 (https://golang.org/doc/go1.12#go/token).

[2020-02-20 08:53] dylankb commented on #3058
Unlike others, setting `GO111MODULE=off` did not fix the issue. However, switching to the `gopls` did fix the issue. For some reason I assumed `gopls` was only for projects using modules. Thanks!

[2020-02-20 08:54] #3058 closed

[2020-02-20 09:54] zxwtry opened #3059 "gpls import order"
alphabetical：'
	"fmt"
	"github.com/xxx"
	"log"

"os / github / xxx" :
	"fmt"
	"log"
	"github.com/xxx"

i want to order imports in alphabetical
but formatTool will change to  "os / github / xxx"

how to keep alphabetical? thx

[2020-02-20 13:29] ruinshe commented on #3059
I meet similar problem when using vscode with basic Go plugin configuration.

When I put all imports together, the plugin split the imports into multiple blocks (I used `gofmt source.go` it shows all imports are put together), and my `go.formatTool` was set to `gofmt`.

Any idea?

[2020-02-20 14:17] stamblerre commented on #3059
If you want your imports to be organized on save then they will be grouped this way, as the default behavior of the `goimports` tool is to separate standard library and third-party imports. This is the structure for the majority of Go code, and I would recommend sticking with this default. (cc @heschik)

If you only want to use the language server but only have formatting on save (@ruinshe, I beli

[2020-02-20 14:41] galenwarren commented on #3027
Sorry for the delay -- I'm working on this project today and will try to capture some information for you. Thanks!

[2020-02-20 14:51] ruinshe commented on #3059
@stamblerre Thanks for the quick reply, and Your solution works for me.

[2020-02-20 15:09] galenwarren commented on #3027
I uploaded the requested information [here](https://github.com/golang/go/issues/34955#issuecomment-589097131). Thanks!

[2020-02-20 18:59] #3042 closed

[2020-02-21 04:43] cornfeedhobo commented on #3054
well, that'd do it

[2020-02-21 06:27] Aditya267 opened #3060 "Go Extension is very slow"
Go Extension is very slow. Auto completion, add import, go to definition all features are taking a lot time to respond.

When i profile the extension using
https://github.com/Microsoft/vscode/wiki/Performance-Issues#visual-studio-code-is-consuming-a-lot-of-cpu
I saw unresponsive symbol for Go extension

- Issue Type: `Bug`
- Extension Name: `Go`
- Extension Version: `0.13.0`
- OS Version: `Windows

[2020-02-21 06:34] Aditya267 commented on #3060
Attaching CPU profile
[CPU-20200221T063010.347Z.cpuprofile.txt](https://github.com/microsoft/vscode-go/files/4234581/CPU-20200221T063010.347Z.cpuprofile.txt)

[2020-02-21 07:04] nezorflame commented on #3050
Until the fix is merged, install it manually:
`go get github.com/uudashr/gopkgs/v2/cmd/gopkgs`

[2020-02-21 13:52] JingangLi commented on #3013
@ttsokov , have you got the solution for the issue? I face the same problem. I try some comments above, and it doesn't work for me. Hope to see if you get some progress.

[2020-02-21 14:32] ttsokov commented on #3013
@JingangLi @hyangah I uninstalled Visual Studio Code, then deleted all workspace directories and then installed again. After this steps the above problems are not reproducible.

[2020-02-21 14:34] JingangLi commented on #3013
@ttsokov Really thanks for the comments. Seems it isn't easy to get everything works. I will continue to  try.

[2020-02-21 14:43] hyangah commented on #3060
@Aditya267 have you tried the [language server (`gopls`)](https://github.com/microsoft/vscode-go#go-language-server)?  I noticed from the profile it is spawning multiple tools underneath. Use of `gopls` may help avoiding the problem and support go modules mode better in general. See https://github.com/golang/tools/blob/master/gopls/doc/vscode.md for configuration.

[2020-02-21 14:54] Aditya267 commented on #3060
@hyangah yeah I have tried the language server(gopls)... with the configuration mention in the link  https://github.com/golang/tools/blob/master/gopls/doc/vscode.md , but still it is very slow.
Do you want the cpu profile with language server enabled?

[2020-02-21 15:33] hyangah commented on #3060
@Aditya267 do you think this is due to the excessive CPU usage?  (the process explorer or general cpu monitoring tools). Otherwise, I think `gopls` log may be more helpful in debugging the latency and response time issue.

[code]

The `gopls` log can be found in "View: Toggle Output" and select "gopls" from the drop-down menu. Thank you!

[2020-02-21 19:10] OneOfOne opened #3061 "a lot of (mostly empty) /tmp/go-build* folders"
Dup of #2173 and #2403.

[code]

The majority of those folders are empty, however one of them have 2 empty sub folders.

# versions
[code]
Latest stable vscode-go extension as of posting this.

My guess is the extension (or gopls) kills the go build before it finishes cleaning up.

# settings:

[code]

[2020-02-21 20:28] cornfeedhobo commented on #3054
Is there a way to get debugging output from the plugin? Today I can't get it to even find any dependencies, including standard libs like `context`.

[2020-02-21 20:48] jdu-mydevices commented on #3048
In my case, `go test` can run the program but when debugging with `debug test` in vscode, it will throw an error `plugin was built with a different version of package runtime/internal/sys`

[2020-02-21 21:05] hyangah commented on #3061
Yes, according to the recent #gopls slack conversation, this is related to https://github.com/golang/go/issues/21135. @stamblerre can you transfer this bug to upstream?

[2020-02-21 21:15] hyangah commented on #3054
@cornfeedhobo Extension outputs are in "View: Toggle Output" -> select 'gopls' from the drop down menu on the right side. If you are using gopls, you can add the following in the setting to make gopls more verbose and some of its endpoints accessible through the port for inspection.

[code]

[2020-02-21 21:19] hyangah commented on #3053
Looks like a duplicate of #1229

[2020-02-21 21:27] stamblerre commented on #3053
Duplicate of #1229

[2020-02-21 21:28] stamblerre commented on #3053
Thanks for looking into this - I'll close in favor of that issue then.

[2020-02-21 21:28] #3053 closed

[2020-02-21 21:43] stamblerre commented on #3013
@JingangLi: If you can file a new issue with details about your settings (`settings.json` file in VS Code),  we can help troubleshoot.

[2020-02-21 21:55] stamblerre commented on #3061
Opened https://github.com/golang/go/issues/37368.

[2020-02-21 21:55] stamblerre commented on #3061
Closing in favor of that issue.

[2020-02-21 21:55] #3061 closed

[2020-02-21 22:28] ivorcummings commented on #3013
Using VSCode 1.42 with go.languageServer: true set I have no issues most of the time. Sometimes I need to close the window and reopen the project to get the go to definition feature working again.

[2020-02-21 22:29] ivorscott commented on #3013
Using VSCode 1.42 with go.languageServer: true set I have no issues most of the time. Sometimes I need to close the window and reopen the project to get the go to definition feature working again.

[2020-02-21 23:33] morningspace commented on #3048
Hi, I've managed to make it work after reading [this](https://github.com/go-delve/delve/issues/865#issuecomment-480766102). So, it's not an issue of `vscode-go`, but an "issue" of the upstream project `delv`. After I use `-gcflags='all=-N -l'` to build both the plugin and the main module, I can successfully debug it both by `delv` in terminal and vscode.

@jdu-mydevices You can have a try.

I'd be

[2020-02-22 08:34] metalim commented on #3050
Not again. https://github.com/microsoft/vscode-go/issues/2857
How about NOT using unstable packages instead of waiting for upsteam fix?

[2020-02-22 10:07] TheCodeBuccaneer opened #3062 "Not able to determine import path of current package"
When golint is started automatically on save in VS Code to build current package (building a basic 'hello world' code) I get the below error. Anyone ideas what is causing this?

`Not able to determine import path of current package by using cwd: c:\Users\.... and Go workspace:`

[2020-02-22 10:19] nezorflame commented on #3050
How about showing some respect to the people who make this work for free so that everyone can benefit from it instead?
No one is perfect: things happen, software breaks, we all learn from it and move forward.

[2020-02-23 14:45] meling commented on #3056
I'm unable to reproduce this bug. I guess I will re-open if it reappears.

[2020-02-23 14:45] #3056 closed

[2020-02-23 23:01] omcnoe commented on #2387
Would be very grateful for a fix. It's good that #438 allows shutting programs that doesn't respond to signals, but it would be great to still be able to close programs that do nicely handle signals.

[2020-02-24 18:04] stamblerre commented on #3062
Are you using modules or GOPATH mode?

[2020-02-24 18:51] gauravaditya commented on #1133
Similar issue for me as well on Ubuntu 18.04, go env works is vscode terminal if i launch code directly from from the zsh terminal, however it doesn't work if i lanch vscode using shortcut, however in the latter case it works if i again source .profile after opening vscode

[2020-02-24 19:26] broady opened #3063 "Saving is very slow because waiting for "Quick Fixes" [flaky]"
Issue Type: <b>Bug</b>

1. Attempt to save a file
2. See a window pop up "Running Save Participants... Quick Fixes"

Observe:
Quick Fixes doesn't complete (sometimes, this seems flaky)
Can't find anything relevant in the Go extension output

Extension version: 0.13.0
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:44:27.652Z)
OS version: Darwin x64 18.7.0
Remo

[2020-02-24 19:51] hyangah commented on #1133
@gauravaditya It's likely that the shortcut launcher will start vscode with the system default environment variables which don't include GOPATH. If it's not possible to adjust the launcher, I think users should do either 1) set `go.gopath` explicitly, or 2) live with Go's default GOPATH ($HOME/go).

[2020-02-24 20:43] broady commented on #3063
Looks like it does complete eventually (~20 seconds)

[2020-02-24 22:23] hyangah commented on #3063
This is a variation of the issue discussed in #90851 and many more. VS Code 1.42 dropped the cancellation-based approach https://code.visualstudio.com/updates/v1_42#_handling-slow-save-operations and which made this problem more visible.

This may be due to slow `gopls`. Or, this may be due to unknown issues in the vscode-languageclient side.

https://github.com/microsoft/vscode/issues/90851#issue

[2020-02-24 22:26] cornfeedhobo commented on #3054
@hyangah thank you. this was very helpful and I was able to figure out my issue (pebkac).

[2020-02-24 22:27] cornfeedhobo commented on #3054
I've updated the title to better reflect the issue. I assume the only thing now is to notify a user that if they are using < 1.12 then they will be incapable of using `gopls`.

[2020-02-24 23:11] cornfeedhobo opened #3065 "blank *.go files break gopls"
# What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.12.12 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1 c47d83b293181d9be64f27ff093689e8e7aed054 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- ms-vscode.go-0.13.0
- Run `go env

[2020-02-24 23:13] broady commented on #3063
OK, log levels increased. When saving is slow again (it's fast right now) I'll add the logs here.

[2020-02-24 23:34] hyangah commented on #3065
@cornfeedhobo thanks for the report. Unfortunately I couldn't reproduce it myself so more info about your set up will be helpful in triaging the issue

* What is the version of `gopls` you are using?
* Are you using GOPATH mode or modules mode?
*  Is it reproducible if `go.lintTool` is disabled?
* Can you capture and share the error message of `gopls`?  And if possible, please add the following se

[2020-02-24 23:37] wkalt commented on #3063
I started experiencing these symptoms after upgrading to 42.1 this morning. Downgrading to 41.1 seems to have resolved it for me.

[code]

[2020-02-25 08:02] gauravaditya commented on #1133
thanks for the reply, i will try that.

[2020-02-25 16:21] stamblerre commented on #3065
@cornfeedhobo: Are you using Go 1.13? This is a known issue that is fixed in 1.14. Unfortunately, there's nothing we can do to work-around it until users upgrade to 1.14. The best solution would be to add a package declaration to that file and and save.

[2020-02-25 16:45] hyangah commented on #3065
Thanks a lot @stamblerre. @cornfeedhobo is using 1.12. 1.14 will be out this week. Please give it a try.

[2020-02-25 18:17] jvilk-stripe opened #3066 "Workspace Symbol Blocks Other Providers in Non-Go Workspaces"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.13.8 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	-  1.42.0 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0
- Run `go env GOOS GOARCH` to get the operating system and pro

[2020-02-25 18:38] aprilweet opened #3067 "Remote-ssh + Go: go tools does not work."
Issue Type: <b>Bug</b>

Remote-ssh + Go:
go-outline does not work, and searching only workds inside current file, and so on.
i have installed all the go tools suggested by Go extension, but it seems not working at all.

Extension version: 0.13.0
VS Code version: Code 1.42.1 (c47d83b293181d9be64f27ff093689e8e7aed054, 2020-02-11T14:45:59.656Z)
OS version: Windows_NT x64 10.0.18362
Remote OS version:

[2020-02-25 20:40] smaTc commented on #3050
manual installation doesn't work for me somehow. Any ideas?

[2020-02-25 21:25] hyangah commented on #3050
@smaTc is there any error message explaining why it doesn't work?

[2020-02-25 21:34] hyangah commented on #3067
[`go-outline`](https://github.com/ramya-rao-a/go-outline)  is designed to work with a single file.

And reading https://github.com/microsoft/vscode-go/issues/2793, I thought outline view only would work for the current file.

[2020-02-25 22:31] #2922 closed

[2020-02-25 22:31] #2901 closed

[2020-02-25 22:53] smaTc commented on #3050
@hyangah well not really. When I try to run my main it tells me: "found packages X and Y in /the/directory". But various imports are not working at all and half my project is red now in VS-Code.
How can I verify that it is installed or reinstall the tool or maybe all tools ?

[2020-02-25 23:01] migmartri commented on #3063
Same problem here. After downgrading to 41.1 I can at least save files but the Golang support does not seem to be working in fairly big projects neither.

[2020-02-25 23:10] smaTc commented on #3050
OK Update: I don't even know if it is related but: if I remove all test files and therefore all Imports of the "testing" package my project is working again. Including the Imports etc. Does that make any sense to anyone here?

[2020-02-25 23:11] stamblerre commented on #2966
Closing this issue due to lack of activity. @ghost: please reopen if you're able to provide more information.

[2020-02-25 23:11] #2966 closed

[2020-02-25 23:15] stamblerre commented on #3027
Closing this in favor of the upstream issue. Please comment on https://github.com/golang/go/issues/34955 if you encounter this bug.

[2020-02-25 23:15] #3027 closed

[2020-02-25 23:16] stamblerre commented on #3030
Closing this issue due to lack of activity. @debojyoti-majumder: please reopen this if you're able to provide more information.

[2020-02-25 23:16] #3030 closed

[2020-02-25 23:20] stamblerre commented on #3065
Makes sense. I'm going to close this issue, since it is a known issue with a solution for later versions of Go. For reference, there is an upstream issue tracking this more generally: https://github.com/golang/go/issues/36960.

[2020-02-25 23:20] #3065 closed

[2020-02-25 23:25] stamblerre commented on #3066
This extension activates if there are any Go files in the directory opened in VS Code. My guess is that VS Code would combine the output from multiple extensions, but workspace symbols are failing in the Go extension, causing no other symbols to appear. I will investigate this issue.

[2020-02-25 23:39] jvilk-stripe commented on #3066
That confirms my hypothesis -- the single Go file in this very large workspace causes the extension to activate. :(

[2020-02-25 23:39] migmartri commented on #3063
This might not make any sense but to me, everything started working after:

1 - Disable "use language server"  in vscode GO extension
2 - Restart vscode
3 - Enable it again
4 - Restart vscode

![Selection_999(394)](https://user-images.githubusercontent.com/24523/75297426-b2ac0780-57e4-11ea-9056-4af2d83db53e.png)

I am using the latest version of vscode on Linux

[2020-02-25 23:40] stamblerre commented on #3066
Is this workspace open-source or private code? If it's open-source, could you point me to it so I can try to reproduce the issue?

[2020-02-25 23:41] jvilk-stripe commented on #3066
Unfortunately, it's private. :(

If you aren't able to reproduce the issue, I can see if I can cajole it into failing in a different workspace.

[2020-02-25 23:43] stamblerre commented on #3066
https://github.com/microsoft/vscode-go/pull/3068 may help, if you'd be willing to check it out and follow the steps to rebuild the extension here: https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code.

[2020-02-25 23:46] jvilk-stripe commented on #3066
Absolutely; I'll build and sideload it, and will get back to you shortly.

[2020-02-25 23:49] stamblerre commented on #3067
@aprilweet: Can you share your VS Code settings in your `settings.json` file? Are you using modules or GOPATH mode?

[2020-02-26 00:26] jvilk-stripe commented on #3066
[code]

I think you need to expect `decls` to be `undefined`.

[2020-02-26 00:31] jvilk-stripe commented on #3066
The execFiles call in `callGoSymbols` is failing with an error:

[code]

Running it manually yields the following:

[code]

[2020-02-26 01:57] Limza opened #3069 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `Go`
- Extension Version: `0.13.0`
- OS Version: `Windows_NT x64 10.0.17763`
- VSCode version: `1.42.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2020-02-26 02:24] aprilweet commented on #3067
I have found the OUTPUT of gopls, the extension on remote host complains something wrong about import path, because of certificate of my private git repo is not configured properly。
Thank you all.

[2020-02-26 02:24] #3067 closed

[2020-02-26 13:34] cdreier commented on #3050
had the same issue, [installing manually](https://github.com/microsoft/vscode-go/issues/3050#issuecomment-589526494) alone did not resolve it - after removing and reinstalling the vscode-go plugin everything works fine again!

[2020-02-26 14:29] pierrre commented on #3050
Is gopkgs useful if I'm using gopls ?

[2020-02-26 14:47] stamblerre commented on #3069
Looks like there's no information associated with this issue. @Limza: What exactly is going wrong?

[2020-02-26 16:58] nezorflame commented on #3050
@pierrre yes if you're using command `Go: Add Import`

[2020-02-26 18:12] stamblerre commented on #3066
I'm not sure why the command would fail, but I've pushed an update to the PR, if you'd like to try again.

[2020-02-26 18:18] stamblerre commented on #3063
I think I have an idea of what's going on, and I expect that https://github.com/microsoft/vscode-go/pull/3064 will provide at least some part of the fix. The CodeActionContext.Only field is not being propagated to `gopls` because of the outdated version of the language client, meaning that `gopls` has no way of knowing which code actions the user requested. If the file saved also has diagnostics a

[2020-02-26 18:30] stamblerre commented on #3063
If anyone is willing to try debugging this a bit further, I just published https://github.com/stamblerre/vscode-go/releases/tag/v0.3, which is a version of the extension with all of the latest dependencies. Please give it a try and report here if "Running save participants..." is still an issue. You can install it with the following steps:

1) Download the `Go-0.13.0.vsix` file linked above.
2) Go

[2020-02-26 18:32] pequalsnp commented on #3063
I am having this issue pretty consistently.
OSX 10.15.3
VS Code 1.42.1

I'm attaching trace logs from a recent incident - hopefully that may help.
[slowsave.log](https://github.com/microsoft/vscode-go/files/4257534/slowsave.log)

[2020-02-26 18:34] stamblerre commented on #3063
@pequalsnp: Are you using `gopls`? The most helpful logs would be from `gopls` - they can be captured using the steps [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code).

[2020-02-26 19:13] pequalsnp commented on #3063
@stamblerre Yes, I am using gopls.  I've got the trace logs from that, I'm attaching them.
[slowsave-gopls.log](https://github.com/microsoft/vscode-go/files/4257700/slowsave-gopls.log)

[2020-02-26 19:54] pierrre commented on #3050
@nezorflame ok thank you 👍
I'm never using this command.
I use the gopls autocompletion, and it's still working fine.

[2020-02-26 20:25] stamblerre commented on #3063
Thanks for sharing those logs! I think the main issue in your case is this error:
[code]

`gopls` is unable to resolve the imports in your file and keeps trying to look them up. This is probably because you need to be connected to an internal network. I'll add a fix to surface these types of errors to the user.

[2020-02-27 09:47] defrancr commented on #3006
@andig, you can add the key to the configuration. This is mine as an example:
`		{
			"name": "WebServer",
			"type": "go",
			"request": "launch",
			"mode": "auto",
			"program": "${fileDirname}",
			"trace": "error",
			"serverReadyAction": {
				//"pattern": "listening on port ([0-9]+)",
				//"uriFormat": "http://localhost:%s",
				"action": "openExternally"
			},
			"env": {
				"SCRUT_WEB_D

[2020-02-27 10:18] glyn opened #3071 "errors"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-02-27 10:19] #3071 closed

[2020-02-27 11:19] Wumms commented on #3050
Finally (re-)enabling `go.useLanguageServer` fixed it for me (after [manual install](https://github.com/microsoft/vscode-go/issues/3050#issuecomment-589526494) and reinstalling ms-vscode) . No idea how it got disabled though.

[2020-02-27 11:35] DmitriyVTitov opened #3072 "Go To Definition (Ctrl + Click) not working after upgrade to Go 1.14"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.14
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.0
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture details
	- wind

[2020-02-27 11:36] DmitriyVTitov commented on #3072
Downgrade to Go 1.13 solved the problem.

[2020-02-27 15:30] stamblerre commented on #3072
You may need to recompile some tools (specifically `godef`) with Go 1.14 when you upgrade. Did VS Code show a notification offering to recompile tools?

[2020-02-27 15:49] hyangah commented on #3072
I encountered a similar issue and in my case https://github.com/rogpeppe/godef/issues/118 was the culprit.  @DmitriyVTitov Did you find any error message related to godef execution in the Output -> Log (Extension Host) channel?

[2020-02-27 15:54] DmitriyVTitov commented on #3072
Can't tell you for sure. I didn't see any errors but I could miss somethimg. I had to continue my work so I tried the next:
1. reinstall "go" extension and restarted VSCode
2. reinstall "go tools"
3. reboot my PC - at the end it's Windows ;)
4. installed go 1.13 - that solved the problem immediately

[2020-02-27 16:58] #3050 closed

[2020-02-27 17:04] stamblerre commented on #3072
Looks like this will be fixed with https://github.com/rogpeppe/godef/pull/120. Once that PR is merged, updating the `godef` tool should be enough to resolve the issue.

As an alternative, if you want to remain on Go 1.14, you can try enabling the language server (`"go.useLanguageServer": true`), which should work fine with Go 1.14.

[2020-02-27 17:05] #3024 closed

[2020-02-27 17:19] ramya-rao-a opened #3073 "Travis tests failing to run on linux"
The last few Travis runs are seeing failure to even run on linux

<img width="728" alt="Screen Shot 2020-02-27 at 9 19 05 AM" src="https://user-images.githubusercontent.com/16890566/75468554-3d564900-5942-11ea-8170-1315a73121da.png">

cc @stamblerre, @hyangah

[2020-02-27 17:58] nezorflame commented on #3050
@ramya-rao-a thanks! This one will probably require a minor release so that people stop having these errors.

[2020-02-27 18:10] stamblerre commented on #3050
@nezorflame: Yep, @ramya-rao-a's planning on doing a patch release tomorrow.

[2020-02-27 18:16] cornfeedhobo commented on #3065
@stamblerre Thanks for the info. Correct, as @hyangah said, I'm using 1.12, which is the highest that SuSe currently packages. I might switch to a newer go version with `goenv`, but I'm running into larger vscode issues there, which are finally being discussed in another issue.

Thanks again for all the hard work everyone!

[2020-02-28 01:24] ramya-rao-a commented on #3050
Hey all,

Sorry for the radio silence, I've been on vacation and @stamblerre has been helping steer the ship in my absence :)

Thanks for all the work here @nezorflame!
The patch release of 0.13.1 has the fix to use v2 of gopkgs

Places where `gopkgs` is used other than code completion for packages when not using language server are
- `Go: Add Import` command
- `Go: Browse Packages` command

[2020-02-28 01:25] ramya-rao-a commented on #3024
This should be fixed in the latest version (0.13.1) of the extension.

Thanks for reporting @jlucktay!

[2020-02-28 02:50] rakyll opened #3074 "Add click to "run" button on main function"
It would be great if VSCode was able to recognize a main function in a main package and automatically put a "run" button on it. Then, you can build the package, run it and show the output on the terminal tab.

[2020-02-28 03:21] hyangah commented on #3063
I forgot to mention that there is a new command: **"File: Save Without Formatting"**,  (alt+k, s) which bypasses formatting and code action.

[2020-02-28 06:45] kybom opened #3075 "How to disable parameter hints post completion when using gopls"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.14
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture details
	- linu

[2020-02-28 11:18] kzhui125 opened #3076 "You are neither in a module nor in your GOPATH. !!!!!!"
I have a folder go-projects, in go-projects I have project1, project2, project3...

I have created go modules in each project, when I open folder go-projects, "go build" in each project is OK. But VSCode Go extension IntelliSense doesn't work, and it keeps popping up "You are neither in a module nor in your GOPATH."

I have to open each folder project1, project2, project3 to work.

Please fix this

[2020-02-28 14:02] martinrode commented on #3072
This does not work here. Language server compiled fine, VS Code restarted, not success.

I have a deja-vu, upgrading Go to the next version breaks stuff in VS Code :-(

[2020-02-28 14:08] birraasmile opened #3077 "enable auto completion to fill in argument names in functions"
**Is your feature request related to a problem?
No

**Describe the solution you'd like**
-a feature that fills in argument names for a functions as part of auto completion.
I have seen this feature in other IDEs including like goLand.  :)  thanks

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.
![auto fill in

[2020-02-28 14:10] hyangah commented on #3075
I see vscode issues `textDocument/signatureHelp` requests even when `editor.parameterHints.enabled` is set false.

[code]

I am guessing this is an upstream bug (either vscode or vscode-languageclient) but am not sure exactly which of them is responsible for checking this `editor.parameterHints.enabled` configuration and adjusting the behavior. @stamblerre @ramya-rao-a can you help?

[2020-02-28 14:21] hyangah commented on #3075
@kybom have you tried this?

[code]

[2020-02-28 14:24] DmitriyVTitov commented on #3072
Enabling language server with Go 1.13 an below always breaks something for me. Most fubby bug was that I wasn't able to save any Go file. So I make modification press save and it just returns back like I just pressed Ctrl+Z.

[2020-02-28 14:40] kybom commented on #3075
It doesn't work

[2020-02-28 14:44] hyangah commented on #3077
For auto-completion, if you are using the language server (`gopls`, enabled by setting `go.useLanguageServer`), the following setting will include the parameter name/types when completing a function.

[code]

For the inlined parameter name info like in intellij,
there is an outstanding feature request upstream  https://github.com/microsoft/vscode/issues/16221
which I also think is useful.

[2020-02-28 15:45] hyangah commented on #3075
@kybom Strange. I see difference with the setting. Here are the screen capture before/after.

Setting `"[go]"{ "editor.parameterHints.enabled": true }`

![enabled](https://user-images.githubusercontent.com/4999471/75562632-e53d4680-5a16-11ea-964e-b98f63ff533b.gif)

Setting `"[go]"{ "editor.parameterHints.enabled": false }`

![disabled](https://user-images.githubusercontent.com/4999471/75562656-ef5

[2020-02-28 15:57] hyangah commented on #3074
Interesting idea. The go extension currently offers code lens for test/benchmark functions, so this may be similar. But, my concern is that many programs need input, output, flags, and sometimes configuring the right execution environment, so, a simple run is not going to be helpful in many cases.

[2020-02-28 16:00] kybom commented on #3075
@hyangah
I select the "Print" function.
![2020-2-28 23-59-16](https://user-images.githubusercontent.com/24692485/75564104-7ac3ef00-5a86-11ea-841f-7097101e289e.gif)

[2020-02-28 16:54] andig opened #3078 "Popup help misleading due to shortening the docs"
Please consider this:

<img width="424" alt="Screenshot 2020-02-28 at 17 53 17" src="https://user-images.githubusercontent.com/184815/75568336-5e5a8f00-5a53-11ea-902e-b5717f06103e.png">

This omits *very* important information:

..and leads to https://stackoverflow.com/questions/60455978/why-all-goroutines-are-asleep-deadlock-with-ticker/60456030#60456030.

It would be great to reconsider if at le

[2020-02-28 21:11] hyangah commented on #3078
If you are using the language server (`gopls`) this should be possible with

[code]

And https://go-review.googlesource.com/c/tools/+/217727 makes it the default.
If it's not the default yet, the next version of `gopls` (`v0.3.3`) will include the change.

[2020-02-29 00:30] stamblerre commented on #3075
This is probably because the language server explicitly triggers parameter hints after a user completes a function with parameters (see [here](https://github.com/golang/tools/blob/71482053b885ea3938876d1306ad8a1e4037f367/internal/lsp/completion.go#L128)). I'm not sure if this setting is respected when a user has disabled parameter hints. In @hyangah's example, she didn't select the completion item

[2020-02-29 00:57] stamblerre commented on #3072
@martinrode and @DmitriyVTitov: I'm happy to help debug if you're interested in trying it out further. You can capture `gopls` logs by following the steps [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code). Otherwise, we'll follow up here once https://github.com/rogpeppe/godef/pull/120 is merged.

[2020-02-29 09:08] andig commented on #3078
Great, closing as almost fixed ;)

[2020-02-29 09:08] #3078 closed

[2020-02-29 15:21] billyzaelani opened #3080 "Ignore: exported method *.Unwrap should have comment or be unexported"
Go 1.13 errors package introduce Unwrap. Implementing Unwrap method should ignore the warning.

[2020-02-29 15:59] billyzaelani commented on #3080
It's golint, so I made a pull request https://github.com/golang/lint/pull/487

[2020-02-29 19:49] amirhj commented on #2837
I removed the .vscode folder in my linux machine and started the vscode again and installed every extension again and it is working now!

[2020-02-29 19:49] hyangah commented on #3075
Thanks @stamblerre - looking into the gopls log, I think that's it. I opened https://github.com/microsoft/vscode-languageserver-node/issues/580 for input.

[2020-02-29 22:05] lijinglin2019 commented on #2933
Is there any updates?
I want to pass `--output=<output>` to `dlv debug`, the default value is always `__debug_bin`

[code]

[2020-03-01 12:23] BnMcG commented on #1133
I had another crack at this this morning, and think I may have figured it out. At least in my case on MacOS, ZSH was a red herring.

It turns out that the MacOS GUI (including the dock and finder) don't source environment variables from your chosen shell, and thus applications launched via the GUI don't include these variables. This is why launching from inside a ZSH shell works as expected, but l

[2020-03-02 09:34] sylr commented on #3072
I've built this PR on my machine and it does not solve the problem.

[2020-03-02 09:40] sylr commented on #3072
Here's go-pls error found in the logs:

[code]

[2020-03-02 09:47] sylr commented on #3072
At the end, removing the `vendor/` dir at the root of my workspace fix the issue.

[2020-03-02 13:00] hyangah commented on #3072
@sylr `godef` is not relevant when using the language server (`gopls`). The error from your `gopls` log is due to the change of go1.14 (https://golang.org/doc/go1.14#go-command). @stamblerre can `gopls` provide a diagnostic message when it fails in the initial workspace loading?

[2020-03-02 15:43] hyangah commented on #3075
Got an answer for the upstream issue for inquiry. We need to handle this from our extension's language client middleware and also stop the language server to send the vscode editor specific command.

Another approach -
I noticed that when language server is disabled, the old autocomplete logic completes only the function/method name part without `()`. The editor parameter hint then pops up (or doe

[2020-03-02 20:14] stamblerre commented on #3072
`gopls/v0.3.3` (just released) will show an error to the user if the initial workspace load failed. Thanks for identifying the issue, @hyangah! Glad that things are working for you again, @sylr - please follow up here if anything stops working.

[2020-03-02 20:19] stamblerre commented on #3080
Thanks for doing that! I added the owner of that repository as a reviewer.

[2020-03-02 20:34] stamblerre commented on #3075
I'm fine handling this in middleware, but I'm not sure which middleware function applies here - is there a "completion accepted" method? Otherwise, this doesn't work.

I don't think we should remove placeholders or parentheses - I doubt users would be happy with that UX, since it requires typing extra characters that shouldn't have to. The upstream response is a little surprising, since I asked ht

[2020-03-02 22:28] hyangah commented on #3075
I was thinking it can be done from `ProvideCompletionItem`. When receiving function/method completion type CompletionItems, the middleware stuff in the `command` conditionally if the `editor.parameterHints.enabled` is true. (Or if gopls keeps filling in the field, maybe remove the command field if `editor.parameterHints.enabled` is false).

[2020-03-03 15:18] inliquid commented on #228
What does it mean? `gopls` will implement syntax highlighting? Or will make Vs Code support autocompletion in `*.html` go templates along with html language features?

/cc @ramya-rao-a
/cc @stamblerre

[2020-03-03 15:56] stamblerre commented on #228
Syntax highlighting is not in the LSP, and is usually implemented in a grammar used by VS Code directly. I am not sure where exactly this would fit, but it may be worth filing a feature request with https://github.com/microsoft/vscode.

This is what golang/go#36911 is tracking. I don't expect it to be implemented for a while, but we may prioritize it after `gopls` reaches `v1.0.0`.

[2020-03-03 16:12] inliquid commented on #228
I think it is a responsibility of `vscode-go` extension, particularly this exact issue has already got all requirements and inputs. And was closed. I can't understand why it's been all thrown to `gopls` side.

[2020-03-03 16:32] stamblerre commented on #228
To be clear, syntax highlighting is typically not the job of a VS Code extension (for example, [here](https://github.com/microsoft/vscode/blob/master/extensions/go/syntaxes/go.tmLanguage.json) is the syntax for Go). I agree with Ramya that it doesn't make sense to have the syntaxes live in different repositories. The only language that this extension has added support for is `go.mod` files, which

[2020-03-03 16:39] #3062 closed

[2020-03-03 16:46] inliquid commented on #228
Ok, let me ask again, will we have syntax highlighting with language features on `*.html` template files after it's implemented on `gopls` side, no? I expect both html/css and go templates to be working, otherwise it will all have close to zero sense.

[2020-03-03 16:47] didrocks opened #3081 "Crash when using gopls and liveshare: only file URIs are supported, got "vsls" from "vsls:/""
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.13.4
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1
c47d83b293181d9be64f27ff093689e8e7aed054
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating sy

[2020-03-03 16:47] stamblerre commented on #228
No, `gopls` will not implement syntax highlighting, as that is not part of the language server protocol.

[2020-03-03 16:50] hyangah commented on #228
I think for syntax highlighting, it's better to start discussion in https://github.com/jeff-hykin/better-go-syntax (upstream of Go syntax highlighting VS Code uses) and check if changes to use https://code.visualstudio.com/api/language-extensions/syntax-highlight-guide#embedded-languages make sense.

[2020-03-03 17:01] inliquid commented on #228
Will I need to switch `*.html` file language to `go` or smth like `gotemplate` for `gopls` to work on it?

[2020-03-03 17:04] stamblerre commented on #228
When features are implemented in `gopls`, we will make the necessary changes in the extension so that `gopls` works automatically, as one would expect. As of right now, this feature is not prioritized for `gopls/v1.0.0`, so I would not expect any progress on it for the near future.

[2020-03-03 17:39] kybom opened #3082 "expected ';', found 'package' syntax"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.14
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture details
	- linu

[2020-03-03 17:56] orn688 opened #3083 "Linting with non-default revive -formatter fails silently"
### What version of Go, VS Code & VS Code Go extension are you using?
- go version: go version go1.14 linux/amd64
- VS Code version: 1.40.2
- Go extension version: 0.13.1
- GOOS/GOARCH: linux/amd64

### Share the Go related settings you have added/edited

[code]

### Describe the bug

With "go.lintTool" set to "revive and "-formatter=stylish" in "go.lintFlags", linting silently falis. In the "Go"

[2020-03-03 19:00] stamblerre commented on #3075
That sounds reasonable to me. https://github.com/microsoft/vscode-go/pull/3038 is the PR I mentioned offline.

[2020-03-03 19:40] stamblerre commented on #3081
Thanks for the report! @heschik has looked into supporting non-file URIs, I believe. In general, we should probably investigate support for `gopls` in live share.

[2020-03-03 20:02] siddjain commented on #2655
ping..

[2020-03-03 20:44] stamblerre commented on #3083
Thanks for reporting this issue! We'll take a look.

[2020-03-03 20:46] stamblerre commented on #3080
The above change has been merged upstream, so I'll close this issue now. Thanks for the contribution!

[2020-03-03 20:46] #3080 closed

[2020-03-03 20:49] stamblerre commented on #3082
Thanks for the report! I believe that this is the same issue as https://github.com/golang/go/issues/36960, which is tracked upstream. I'll close this in favor of the upstream issue.

[2020-03-03 20:49] #3082 closed

[2020-03-03 22:33] pecigonzalo commented on #2899
Could we re-open this? Im using `asdf-vm` and I have a similar but related issue:

[code]

This is because the exec of `go get -v` seems to happen outside of the code repository, causing `asdf` to not find the `.tool-versions` file and be able to select the correct binary.

[2020-03-03 23:46] stamblerre commented on #2899
@pecigonzalo: Can you open a new issue for this? Both issues are related to `asdf-vm`, but they are not the same.

[2020-03-03 23:50] pecigonzalo commented on #2899
Will do, thanks for letting me know.

On Wed, Mar 4, 2020, 12:47 AM Rebecca Stambler <notifications@github.com>
wrote:

[2020-03-04 01:38] ibalajiarun opened #3085 "Unable to find go binary. PATH variable incorrect."
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-03-04 01:53] stamblerre commented on #3085
You can select your shell in VS Code by running `Ctrl + Shift + P` -> `Terminal: Select Default Shell`. VS Code Go looks for your `PATH` in the process env [here](https://github.com/microsoft/vscode-go/blob/eae5825b572a4458aadfa4013d1110215febcb49/src/goPath.ts#L17). You can try running `echo $PATH` in the integrated terminal to see what the `PATH` looks like to VS Code.

[2020-03-04 02:21] ibalajiarun commented on #3085
My default shell is set to fish. The PATH on the integrated terminal is:
[code]
Notice `/opt/go/bin` above. Below is the error from the extension.

[code]

[2020-03-04 02:45] SVilgelm commented on #3072
the PR https://github.com/rogpeppe/godef/pull/120 is merged.
The `Go To Defenition` works fine after  `go get github.com/rogpeppe/godef` or through the vscode menu

[2020-03-04 02:52] stamblerre commented on #3072
Thanks for confirming. I'll close this issue then.

[2020-03-04 03:28] tschundler commented on #3011
Seems related to #2908

[2020-03-04 09:03] kybom commented on #3072
Many vscode-go updates godef in module mode. The latest version is still  v1.1.1,not master.

[2020-03-04 09:50] qmilangowin opened #3086 "You are neither in a module nor in your GOPATH in latest VSCode"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-03-04 09:52] qmilangowin commented on #3055
In my case I'm getting this even in a module or in my gopath I'm getting above. This is very very annoying. Wish I could disable it. My code runs, I'm not concerned with this damn warning.

[2020-03-04 10:00] pecigonzalo opened #3087 "Error installing tools when using Go version managers (asdf-vm)"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.14 linux/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `1.42.1`
- Check your installed extensions to get the version of the VS Code Go extension
	- `0.13.1`
- Run `go env GOOS GOARCH` to get the operating system and process

[2020-03-04 12:44] inliquid commented on #228
I see. Thank you for clarification.

[2020-03-04 13:36] hyangah commented on #3085
@ibalajiarun You are using remote-ssh, right? I think you need to configure the right `PATH` env var in the login script on the remote host. For many shells including `bash`, it is often `.profile` (or `.bash_profile` file for `bash`).

For remote ssh environment setup, VS Code's remote dev tips and tricks page has a lot of useful info. https://code.visualstudio.com/docs/remote/troubleshooting#_co

[2020-03-04 13:46] hyangah commented on #3087
I don't know about `asdf-vm` but running `go` commands in a shared, current directory was not desirable because it affects `go.mod` file in the current directory, and also the existing `go.mod` files in the current directory affects the dependencies of installed binaries. If go1.14 is used, I think we can use [the new `-modfile` flag](https://golang.org/doc/go1.14#go-command), but this is not appl

[2020-03-04 13:51] hyangah commented on #3072
@kybom Thanks for the heads-up. Pinged @rogpeppe.

[2020-03-04 14:04] hyangah commented on #3086
@qmilangowin can you please capture and share the `gopls` log? Here is the instruction for enabling verbose logging of `gopls`?

https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code

Thanks!

[2020-03-04 14:38] stamblerre commented on #3086
You can also run `gopls -rpc.trace -v check path/to/file.go`.

[2020-03-04 14:46] stamblerre commented on #3055
@qmilangowin: Can you share the output of `gopls -rpc.trace -v check path/to/file.go` or the content of your `gopls` [logs](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs)? I can help investigate why you are seeing this warning.

[2020-03-04 15:09] ibalajiarun commented on #3085
Turns out, it was a configuration error. My PATH variables were overridden in my fish config file causing issues for notty shells.

[2020-03-04 15:09] #3085 closed

[2020-03-04 15:32] #3069 closed

[2020-03-04 15:57] GeniusDai opened #3088 "Why can't I READ from CMD when debug"
**Is your feature request related to a problem? Please describe.**
When I want to read from stdin when debug, I DONOT know how to do it??
`reader := bufio.NewReader(os.Stdin)`
`line, _, _ := reader.ReadLine()`

**Describe the solution you'd like**
I may consider something like the setting like vscode-python, just like internalTerminal, the process is attached to a go-debug-terminal and I can read

[2020-03-04 16:12] pecigonzalo commented on #3087
@hyangah I dont think there is, IMO its not an `asdf-vm` problem, but rather how do we retrieve the binaries, as `asdf-vm` only sets the `go` shim in the path and that is it, its not a version manager for the go packages.

Maybe using `go get` is not the best approach for this as AFAIK it retrieves and builds the tool, which is affected by the `go` version that we use as I understand. So instead w

[2020-03-04 16:48] hyangah commented on #3088
Maybe try remote debugging + headless dlv to work around the current limitation of the extension & delve.

See https://github.com/microsoft/vscode-go/issues/219#issuecomment-449621513

cc @quoctruong

[2020-03-04 17:02] hyangah commented on #3087
@pecigonzalo If it is intended to work with `go`, it's better support the go eco system's de-facto standard way of installing a binary.

One workaround is to install the necessary tools manually and drop them in the vscode bin path or PATH the Go extension will look for binaries.

Personally, I don't think most tools need to be rebuilt to match the version of go in use. I just ignore all the reins

[2020-03-04 17:41] pcj commented on #3063
I'm seeing this error as well in a go codebase using bazel, probably because `gopls` is having trouble loading imports.  `"go.useLanguageServer": false,` is the unfortunate workaround at the moment for me.

[2020-03-04 18:35] pecigonzalo commented on #3087
@hyangah It works with the de-facto way of installing binaries, I never said it does not support doing `go get`, but for `asdf-vm` (and many other version managers) the context of the folder where the command is being executed is key to the version detection.

There are in my experience 3 approaches to version managers:

- Modify the `PATH` when loaded (either `venv` sourcing, manually, direnv, et

[2020-03-04 18:40] stamblerre commented on #3063
@pcj: `gopls` doesn't really have good support for Bazel yet, so I'd suggest that as the correct fix (https://github.com/golang/go/issues/37205).

[2020-03-04 19:25] stamblerre commented on #3087
I believe what @hyangah meant here is that the `go` command should always be able to run outside of a Go project. Many instructions suggest running the Go command in a temporary directory, so it seems like the version manager's job to handle this fairly common behavior. We can certainly address this issue in Go 1.14 with `-modfile` as @hyangah also suggested, but I don't think there is anything we

[2020-03-04 19:39] heschik commented on #3081
In general this doesn't look very feasible to me; even if we process almost everything as an overlay, we still need a filesystem location for the `go.mod` and to root the overlay. `vsls:/` gives us nothing.

Is there any documentation on how VSLS works? I couldn't find any offhand. Do we actually need to have gopls run locally, or only on the session host?

[2020-03-04 20:35] pecigonzalo commented on #3087
I understand if you do not wish to support this use-case for this extension, but I have to disagree with this, I do not think it the job of the version manager to do that.
I do not recall any Go docs I have used advising to run commands in temporary directories but if you could you point me to those docs I can try and PR the version manager accordingly if possible.

IMO if this is the case, it wou

[2020-03-04 21:12] stamblerre commented on #3087
It may not be in formal docs, but it's mentioned frequently in related issues: https://github.com/golang/go/issues/27643, https://github.com/golang/go/issues/24250. It's not ideal, but it is the current state with modules.

The only way to do this correctly would be to temporarily create a nested module in your project. This makes me pretty nervous - @hyangah: do you think this is a reasonable ide

[2020-03-04 21:58] pecigonzalo commented on #3087
If that is acceptable solution then I'll just use the global version
configuration and if ok the PR this to indicate that, for other stumbling
on the same issue. Thanks for replying so quickly.

On Wed, Mar 4, 2020, 10:12 PM Rebecca Stambler <notifications@github.com>
wrote:

[2020-03-05 03:30] timfallmk opened #3089 "Add settings to expose configuration for CodeLens with go modules"
**Is your feature request related to a problem? Please describe.**
When opening a `go.mod` file, CodeLens will add lines above "outdated" dependencies. Clicking on _one_ line will upgrade all dependencies, changing `go.mod` and `go.sum`.
![image](https://user-images.githubusercontent.com/5316117/75945099-276aeb80-5e4e-11ea-9892-34bc410089c9.png)

**Describe the solution you'd like**
Add a settings

[2020-03-05 05:52] GeniusDai commented on #3088
yeah, I tried it and it's really cool...I wonder that the solution of this issue may better be added to some doc or Q&A since I've seen this problem several times.I'll close this issue..

[2020-03-05 05:52] #3088 closed

[2020-03-05 08:36] didrocks commented on #3081
Yeah, I was thinking at first that it was the other host gopls which was sending linting and other hints to all guests.

However, until gopls v0.3.2, the local version was running for everyone, and we were regularly asynced/stucked between the liveshare host and the guests (gopls didn’t really work well with liveshare after more than a couple of hours, didn’t find anything reproducible but could b

[2020-03-05 09:13] martinrode commented on #3072
Wow, something got worse!

* VS-Code opened with go-1.13 -> Go to definition works fine
* Close VS-Code, Swap go to go-1.14, start VS-Code
* No warning about new go version
* Go to definition
* This never finishes, VS Code is unusable, Quit impossible, Force Quit takes forever
* During and after Force Quit my Mac OS X is unusable, putting "kernel_task" to 500-800% for a long time, like 10 minutes

[2020-03-05 10:54] snigle opened #3090 "No debug adapter found VSCODE 1.42"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.42.1
          c47d83b293181d9be64f27ff093689e8e7aed054
          x64
- Check your installed extensions to get the version of the VS Code Go extension
	- Name: Go
Id: m

[2020-03-05 12:12] ErmakovDmitriy commented on #3090
@snigle,

I am not the extension's developer but could you share your `delve` version?

I have possibly the same problem but only with delve v1.4.0 while delve v1.3.2 works well.
Is it possible for you to try the delve v1.3.2?

[2020-03-05 15:24] hyangah commented on #3072
@martinrode If you are still having an issue - it seems so from the mail not posted here) and `gopls` does not work for you, please follow the instruction https://github.com/microsoft/vscode-go/issues/3072#issuecomment-592797568 @stamblerre posted.

And, before using vscode, can you please check if just the bare `go` command works for your repo? Both `godef` and `gopls` depend on the `go` command

[2020-03-05 15:39] hyangah commented on #3089
cc @ridersofrohan

[2020-03-05 16:44] martinrode commented on #3072
I have not had the time to try gopls again, but I can see problems with godef:

This is the state while VS Code is trying to "Go to definition". And it never finishes. Even when switching to the next file, it keeps trying to call godef:

[code]

With godef (the version I compiled with go-1.14) executed with go-1.13 installed I get

[code]

With godef (the version I compiled with go-1.14) executed

[2020-03-05 17:09] obalado commented on #3086
same here

[2020-03-05 17:16] stamblerre commented on #3086
@obalado: We need a bit more information to investigate - can you share the output requested above?

[2020-03-05 17:38] obalado commented on #3086
[Trace - 14:37:33.174 PM] Sending request 'initialize - (0)'.
Params: {"processId":8383,"rootPath":"/home/oba/proyectos/test","rootUri":"file:///home/oba/proyectos/test","capabilities":{"workspace":{"applyEdit":true,"workspaceEdit":{"documentChanges":true,"resourceOperations":["create","rename","delete"],"failureHandling":"textOnlyTransactional"},"didChangeConfiguration":{"dynamicRegistration":tru

[2020-03-05 17:50] stamblerre commented on #3086
@obalado: Thank you! In your case, it seems that the warning is working as intended. We should probably only show it once (see https://github.com/microsoft/vscode-go/issues/3055), but it's meant to warn you if `gopls` can't resolve a dependency that there might be another reason for the issue. In your logs, you see these messages:

[code]

This indicates that `gopls` wasn't able to find this depen

[2020-03-05 18:05] stamblerre commented on #3089
What version of Go are you using? This is a bug - upgrading one of the dependencies shouldn't upgrade all of them.

[2020-03-05 18:11] obalado commented on #3086
thanks!, the program is compiling and running ok, the only problem is gopls not working properly

[2020-03-05 18:16] stamblerre commented on #3086
Ok good to know, thanks. Was `gopls` not working at all, or was it just showing that error? And if you don't mind saying, was the dependency in `$GOPATH/src` or in the module cache?

[2020-03-05 18:19] apmckinlay commented on #3036
In my settings I have:

    "files.exclude": {
		".history/": true,

I also have it in my .gitignore

This previously worked fine. But recently, the Go extension started showing errors in these files. Sometimes only for new files added to the .history directory. It seems random. If I restart the language server the errors go away, but sometime later they reappear. So I have to restart the language

[2020-03-05 18:20] obalado commented on #3086
not working at all, the dep is in gopath

[2020-03-05 18:22] stamblerre commented on #3086
Do you have the `GO111MODULE` environment variable configured?

[2020-03-05 18:24] stamblerre commented on #3086
Also, can you share the output of `go list -e -json -compiled .` in the directory you are working in?

[2020-03-05 18:26] stamblerre commented on #3036
Can you share the contents of your `gopls` logs? https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs

[2020-03-05 18:28] obalado commented on #3086
GO111MODULE  not set

On Thu, Mar 5, 2020 at 3:22 PM Rebecca Stambler <notifications@github.com>
wrote:

[2020-03-05 18:29] stamblerre commented on #3036
I filed https://github.com/golang/go/issues/37697 under `gopls`, we'll take a look at it upstream.

[2020-03-05 18:32] stamblerre commented on #3072
This looks like the bug before it was fixed. You can download `godef` at master by running `GO111MODULE=on go get github.com/rogpeppe/godef@master` before the next version is released.

[2020-03-05 18:34] apmckinlay commented on #3036
Here's a log. In this case it only looked at a new file in the excluded .history

[gopls_log.txt](https://github.com/microsoft/vscode-go/files/4294475/gopls_log.txt)

[2020-03-05 18:36] stamblerre commented on #3086
Thanks for confirming. The output of `go list -e -json -compiled .` would be very helpful.

[2020-03-05 18:37] martinrode commented on #3072
Rebecca, thx for the insight, I will try that tomorrow. However, I think  VS Code needs a fix too, it never stopps calling the buggy godef...

[2020-03-05 18:39] obalado commented on #3086
{
        "Dir": "/home/oba/proyectos/test/tt",
        "ImportPath": "main",
        "Name": "main",
        "Target": "/home/oba/go/bin/main",
        "Root": "/home/oba/proyectos/test/tt",
        "Module": {
                "Path": "main",
                "Main": true,
                "Dir": "/home/oba/proyectos/test/tt",
                "GoMod": "/home/oba/proyectos/test/tt/go.mod",

[2020-03-05 18:44] timfallmk commented on #3089
Version info:
[code]

My assumption was a build-related command was being run (or `go get` without a specific package)

[2020-03-05 18:45] stamblerre commented on #3081
I believe that LSP may have some support for remote files (see https://github.com/golang/go/issues/31086). We'll try to investigate this and see how we can make it work better, but it probably won't be prioritized till after `gopls/v1.0.0`.

[2020-03-05 18:48] stamblerre commented on #3086
@obalado: So you are using modules then? `go list` is reporting the existence of `/home/oba/proyectos/test/tt/go.mod`, but `gopls` did not pick it up. Also, you mentioned your dependency is in `GOPATH`, which wouldn't work with modules. Furthermore, I don't see the `github.com/lib/pq` dependency in the `go list` output. What directory are you opening VS Code with?

[2020-03-05 18:50] stamblerre commented on #3072
That seems reasonable. We can leave this issue open until after the new version is released to track that.

[2020-03-05 18:52] stamblerre commented on #3089
And to confirm, this is with `gopls/v0.3.3` (`gopls version`)? Depending on your VS Code settings, this might be possible, but the upgrade button itself should only upgrade one dependency. If you could share your `gopls` logs when this happens, that would be very helpful. Details on how to capture them [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs).

[2020-03-05 18:57] timfallmk commented on #3089
Correct
[code]
I didn't see anything pop out at me from `gopls` the last time I saw it, but I will see if I can repro. The thrust of the request was also about exposing knobs and options too, but it's good to see that behavior is a bug.

[2020-03-05 19:04] obalado commented on #3086
[image: image.png]
this is the code , gopls was working until last week
package main

import (
"encoding/json"
"log"
"net/http"

"github.com/gorilla/handlers"
"github.com/gorilla/mux"
)

type JwtToken struct {
Token string `json:"bearer"`
}

func RespondWithError(w http.ResponseWriter, code int, message string) {
w.Header().Set("Content-Type", "text/plain")
w.WriteHeader(code)
w.Write([]byte(messa

[2020-03-05 19:07] stamblerre commented on #3036
Thanks for providing the log. I agree that one of the issues is the ignored files, but it also seems like your project does not play well with `gopls`, probably due at least partially to build tags (see https://github.com/golang/go/issues/29202). If you could open a new issue in the https://github.com/golang/go repository, I'd be happy to help investigate what's going on.

[2020-03-05 19:08] obalado commented on #3086
the previous code give this output
[Trace - 16:07:50.978 PM] Sending request 'initialize - (0)'.
Params: {"processId":18492,"rootPath":"/home/oba/proyectos/test","rootUri":"file:///home/oba/proyectos/test","capabilities":{"workspace":{"applyEdit":true,"workspaceEdit":{"documentChanges":true,"resourceOperations":["create","rename","delete"],"failureHandling":"textOnlyTransactional"},"didChangeConfi

[2020-03-05 19:09] stamblerre commented on #3089
What configuration specifically could we expose here? I'm not sure that there any configurable knobs here. Please do attach logs the next time you see this issue and we'll take a look. I was suspicious that https://go-review.googlesource.com/c/tools/+/221108 made it into `gopls/v0.3.3`, but it seems it did not, so this is a genuine bug.

[2020-03-05 19:12] stamblerre commented on #3086
Can you try opening the `/home/oba/proyectos/test/tt` directory instead of the `/home/oba/proyectos/test/` directory? For `gopls` to work, you need to open the directory that contains the `go.mod` file.

[2020-03-05 19:16] userapan commented on #3086
@stamblerre That was the problem for me, I'm in a monorepo with Go as backend in /server and React as frontend in /client. If I open server folder (with `go.mod` file in it), in VSCode it works. However, I would like to have them opened at the same time. Any ideas?

[2020-03-05 19:18] stamblerre commented on #3086
@userapan: This is on our radar (https://github.com/golang/go/issues/32394), and it will be addressed before `gopls/v1.0.0`.

[2020-03-05 19:18] obalado commented on #3086
if i open /home/oba/proyectos/test/tt works
opening   /home/oba/proyectos/test/ before last week and it works (and in
my other computers works just fine)
thanks for looking it anyway

On Thu, Mar 5, 2020 at 4:12 PM Rebecca Stambler <notifications@github.com>
wrote:

[2020-03-05 19:19] apmckinlay commented on #3036
Thanks for looking at this.

I am aware of the build tags issue. It's not new. It's unfortunate but I realize there's no easy fix. I live with it.

But what changed with excluded files like .history ?
This only started being a problem (for me) quite recently.
And I'm pretty sure it can affect all my history files, not just ones with build tags.

I tried moving my history directory outside my works

[2020-03-05 19:21] stamblerre commented on #3086
@obalado: It sounds like it was working by coincidence, because in the logs you attached, `gopls` wasn't picking up the `go.mod` file in your project. That means it was treating your project like an "ad-hoc" package, which basically means it would be using the wrong versions for your dependencies. The recommended work-around until golang/go#32394 is resolved is to open the directory containing the

[2020-03-05 19:26] stamblerre commented on #3036
`gopls/v0.3.x` diagnoses the user's entire workspace, so we will look at all files underneath the directory that you open in VS Code ([release notes](https://github.com/golang/go/issues/33030#issuecomment-510151934)). This was not the case previously, so that's the change you are seeing here.

[2020-03-05 19:57] apmckinlay commented on #3036
This is probably also why it's continually putting old stuff back into my go.mod file - because it finds it in .history

[2020-03-05 19:59] stamblerre commented on #3036
To avoid that you can upgrade to Go 1.14 - the behavior of `gopls` modifying the `go.mod` should stop happening.

[2020-03-05 20:02] obalado commented on #3086
Thanks!

On Thu, Mar 5, 2020 at 4:21 PM Rebecca Stambler <notifications@github.com>
wrote:

[2020-03-05 20:35] ridersofrohan commented on #3089
I was not able to reproduce this in `go 1.14` or `go 1.13` using gopls `v0.3.3` or on `master`. When I click on a single `Upgrade dependency`, it only updates that single dependency, `go get -u <module>` might add some more indirect dependencies but it does not upgrade all the dependencies. Please let me know if you can reproduce this.

Also, you mentioned as an alternative: "Not opening go.mod, f

[2020-03-05 20:55] timfallmk commented on #3089
I'm not able to reproduce this exact behavior with a similar config locally. I'll try once more on the WSL remote I where I first encountered it, but it may have been a transient ghost.

If so, sorry for wasting everyone's time 😕.

It would still be a nice to have to be able to toggle this little bit of codelens helpfulness on and off.

[2020-03-05 21:33] wtask commented on #3036
An idea which may help to process ignored files more accurate. First, get the list of ignored files/dirs from project/workspace root (`git status --ignored --short`). Do not process *.go files from these list with `gopls` in background and start processing only if file directly open in the editor... From other side, if `vscode-go` have a whitelist for gopls processing it is ok. Also may add an opt

[2020-03-05 21:50] stamblerre commented on #3089
No worries! Thanks for reporting the issue. I'll close this for the time being, but please reopen if you're able to reproduce it. We may consider allowing users to toggle this if people find problems with it, but I'd prefer not to do that right away.

[2020-03-05 21:50] #3089 closed

[2020-03-06 02:31] llibicpep commented on #3086
`go.mod` not necessaryly has to be in a root folder.

In my case, I'm testing helm charts and terraform modules with `terratest`. That being said, my go code with `go.mod` file is always in a sub-directory `test`.

[2020-03-06 07:41] martinrode commented on #3072
[code]

This fixed VS Code's "Go to definition" for me. This works with go 1.14 now. Thanks Rebecca.

[2020-03-06 07:58] snigle commented on #3090
It works with delve v1.3.2 ! Thanks

[2020-03-06 09:46] ErmakovDmitriy commented on #3090
@snigle,
I am glad that it helped you but there is one more problem (for me at least): delve 1.3.2 does not support go 1.14.

Aren't you interested in further investigation?

[2020-03-06 13:16] snigle commented on #3090
Yes of course, I update the issue.

[2020-03-06 18:34] stamblerre commented on #3086
Yes, that's correct - you have to open the directory containing your `go.mod` or a subdirectory.

[2020-03-06 18:36] stamblerre commented on #3086
If anyone else experiencing this issue could share their logs, I'd be happy to help investigate.

[2020-03-06 18:45] stamblerre commented on #3090
@ErmakovDmitriy: If you believe that Delve doesn't support Go 1.14, please file on the upstream repository: https://github.com/go-delve/delve. They will likely be able to assist you better there.

[2020-03-06 19:01] hyangah commented on #3090
fyi - Delve supports 1.14, and v1.4.0 is the version that started to include the support.

[2020-03-06 20:48] WodansSon opened #3092 "After upgrade every time I open VS Code I get a `Error loading workspace folders`"
### What version of Go, VS Code & VS Code Go extension are you using?
- Go version:
	- `go version go1.13.4 windows/amd64`
- VS Code version
	- `1.42.1`
	- `c47d83b293181d9be64f27ff093689e8e7aed054`
	- `x64`
-  VS Code Go extension version:
	- `0.13.1`
- Operating system and processor arhcitecture details
	- `windows`
	- `amd64`

### Describe the bug
Ever since Vscode installed a new version of go

[2020-03-06 21:20] stamblerre commented on #3092
What directory are you opening VS Code with?

[2020-03-06 21:25] stamblerre commented on #3090
Thanks, @hyangah! Release notes can be found [here](https://github.com/go-delve/delve/blob/master/CHANGELOG.md#140-2019-02-11). I will close this issue then.

[2020-03-06 21:25] #3090 closed

[2020-03-06 21:51] danpantry commented on #3086
I am encountering this issue as well.

[code]

Am I to take from this comment:

That only a direct subdirectory of the workspace is supported? My go module is within `go/auth` relative to the git root for segmentation reasons, which would be two levels deep and might cause issues

[2020-03-06 21:53] stamblerre commented on #3086
@danpantry: You will either have to open the `go/auth` directory itself or any subdirectory of your module. You can also add the directory to your workspace using VS Code's workspace folders (File -> Add Folder to Workspace ...).

[2020-03-06 21:54] danpantry commented on #3086
Makes sense. That's a little unintuitive, but not a show stopper

[2020-03-07 01:31] WodansSon commented on #3092
The directory I am opening is: `C:\Users\XXXX\go\src\github.com\terraform-providers\terraform-provider-azurerm`

[2020-03-07 02:14] marvinhosea commented on #3076
Same problem how did you fix it?

[2020-03-07 02:25] kzhui125 commented on #3076
You have to create go mod in VSCode workspace folder now. (go-projects folder)

[2020-03-07 02:29] kzhui125 commented on #3076
https://github.com/microsoft/vscode-go/issues/3086

[2020-03-07 02:29] #3076 closed

[2020-03-07 02:30] kzhui125 commented on #3086
https://github.com/microsoft/vscode-go/issues/3076

[2020-03-07 03:08] hoshinomahiro commented on #3055
This warning is really annoyed.

[2020-03-07 12:08] JK-97 opened #3093 "vscode debug golang program used go modules,can not find package or missing dot in first path"
# my program
**it used go modules**
**path : /home/benjamin/go/src/web-go**
code :

`package main

import (
	"web-go/cmd"
)

func main() {
	rootCmd := cmd.GetRootCmd()
	rootCmd.GenBashCompletionFile("webdemo-complstion")

}`

# issue:
## first
when my launch.json :

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "go",
            "requ

[2020-03-07 22:41] stamblerre commented on #3055
@hoshinomahiro: This warning should only show up if `gopls` is not able to resolve a dependency when you are outside of GOPATH and outside of a module. If you are seeing this warning frequently something may be going wrong. Can you share the output of `gopls -rpc.trace -v check path/to/file.go`?

[2020-03-07 22:54] stamblerre commented on #3092
Can you share the output of running `gopls -rpc.trace -v check path/to/file.go` for a file in that directory? This is a `go list` error, and it may be related to https://github.com/golang/go/issues/24854.

@jayconrod or @bcmills: Do you have any insight on this `go list` error and how to avoid it?

@WodansSon: If possible, you could also try upgrading to 1.14 since vendor support has been improved

[2020-03-08 00:03] hoshinomahiro commented on #3055
@stamblerre I found that If I enter an imported package name like `fmt` very quickly, I will not get this warning. I guess when we enter half of a package name, for example `fm`, `gopls` can not resolve this package, so it sends this warning. Here is my trace log, I enter `fm` and wait a few seconds before enter `t`.
[code]

[2020-03-08 02:00] cabrinha commented on #3086
This is super annoying...

[2020-03-08 15:29] omegaatt36 commented on #3086
wow, that save me, thanks.

[2020-03-08 15:41] stamblerre commented on #3086
@cabrinha: Are you using modules or GOPATH, or are you intentionally not using modules/GOPATH?

[2020-03-08 15:44] stamblerre commented on #3055
Thanks for clarifying, @hoshinomahiro. That is when I'd expect that error to show up. You can avoid this by using the import organization features of `gopls`. That way, imports will be added automatically without you needing to type them. We will try to work on making this warning show up less frequently, but right now our goal is to help users figure out if their projects are misconfigured in som

[2020-03-08 15:48] sshiradwade commented on #3086
Any fix or workaround ?

[2020-03-09 17:45] stamblerre commented on #3086
@sshiradwade: The work-around would be to use either GOPATH or modules. Are you intentionally not using either, or do you believe that `gopls` is incorrect in showing this warning?

[2020-03-09 19:16] cabrinha commented on #3086
I'm using modules (I think), not really sure whats going on or what I need to do. I'm not intentionally trying to avoid modules or GOPATH. My `$GOPATH` is `~/.go`

[2020-03-09 21:31] dpolicastro commented on #3086
There should be a way to disable this specific warning, its very annoying it popping up on each key stroke =(

In my case I like to open a root folder with many projects in my VSCode, because I work on many projects, so it would be good to disable that warning!

[2020-03-09 21:39] BryanHunt commented on #2010
I just ran into this same problem with Typescript in a remote container.  I can set breakpoints, but they are never hit.

[2020-03-09 21:48] WodansSon commented on #3092
@stamblerre Sure, here it the output... I will also try upgrading to 1.14 and see if that helps...
### Command:
[code]
### Output:
[code]

[2020-03-09 22:16] WodansSon commented on #3092
@stamblerre Upgrading didn't help, I still get the exact same error. :/

[2020-03-09 23:59] stamblerre commented on #3092
Ah, looks like you're using a very old version of `gopls`. You can update by running `Ctrl + Shift + P` -> `Go: Install / Update Tools` and choose `gopls`.

[2020-03-10 01:10] WodansSon commented on #3092
@stamblerre thanks for the help but that didn't seem to work either, but the output from the above command now looks like this:
[code]
I also updated my go settings to the following:
[code]
I found if I didn't set my `go.toolsGopath` in the VS Code settings.json it was always running the `v0.1.0-cmd.gopls` version of the `gopls` tool for whatever reason.

[2020-03-10 01:42] kzhui125 commented on #3086
yes, it popping up on each key stroke, it's not  what a good extension should do.

[2020-03-10 04:01] stamblerre commented on #3092
Can you share the output that you see when you open VS Code with the updated version of `gopls` (more information on capturing logs [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs)?

Regarding the incorrect version of `gopls`, is it possible you have it saved somewhere else in your `PATH` that's not your `GOPATH`?

[2020-03-10 04:04] stamblerre commented on #3086
@cabrinha: If you are using modules, you will need to open VS Code in the module root (the directory containing the `go.mod` or a subdirectory).

@dpolicastro, @kzhui125: Are you using GOPATH or modules?

[2020-03-10 07:22] sshiradwade commented on #3086
@stamblerre  Something wrong ?
`echo $GOPATH `
`/Users/sshiradwade/my_workspace/project_name`
Project structure in VSCode
-project_name/
                        src/
                             github.com/
                                                sanjay/
                                                          HelloWorld/

[2020-03-10 10:28] SaberD commented on #3074
What about a run current file in terminal button similar to the python extension? (go run {filename}.go)
It is located in the upper right corner of the opened file only.
![run](https://user-images.githubusercontent.com/13253873/76302928-222ff580-62c1-11ea-94eb-bc4fe63e769e.png)

Forget about implementing inputs, outputs, flags, and configuring the execution environment. This would be useful for qu

[2020-03-10 11:32] danpantry commented on #3086
This is definitely broken when *not* using modules.

Opened some code at `/home/dan/code/github.com/example/repo`. Typing `env | grep GOPATH` into the integrated terminal in VScode shows `/home/dan/code`.. my repo is definitely in the GOPATH and I am not using modules, but the extension calls me a liar :(

[2020-03-10 12:32] hyangah commented on #3086
@danpantry In `GOPATH` mode, the source is expected to be located under `GOPATH/src/` directory. So, in your case, `/home/dan/code/src/github.com/example/repo/` is the expected place.

[2020-03-10 13:47] danpantry commented on #3086
Which is great, but what doesn't make sense is why it works in some cases and not others :(

[2020-03-10 14:33] dpolicastro commented on #3086
@stamblerre I'm using modules! But in my case, I open a root folder in my vscode with many projects, like this:

![image](https://user-images.githubusercontent.com/29067941/76322858-a767da00-62c2-11ea-9ab2-cbb55b50479e.png)

Each folder inside golang's folder have one or more modules.

[2020-03-10 16:11] quoctruong commented on #2010
@BryanHunt For typescript, I think you have to specify `remotePath` and `localPath` in the `package.json`.

[2020-03-10 20:15] WodansSon commented on #3092
Sure, here is the output once I enabled `go.languageServerFlags` in my settings.json.
[code]
### Output
[code]

I don't think so cause when I do a where it only shows up in one location...
[code]

[2020-03-10 23:49] WodansSon commented on #3092
Also, every time I hover over something I get an error similar to this in the output window:

[code]

[2020-03-11 00:06] tommy-dev commented on #3086
This error went away when I opened my go project in WSL using the vscode WSL remote extension, and installed the go extension from the remote WSL. However, the error occurs when I opened the project in windows 10. It use to work without WSL but the recent vscode update seem to have broken it.

[2020-03-11 00:07] hyangah commented on #3093
@JK-97

The first case: what is your `go.mod` file like? The module name defined in the `go.mod` should be of url-like form (whose first path element should include . like domain names).

The second case: seems like it fell back to the GOPATH mode. Do you have those mentioned packages already downloaded in `$GOPATH/src` directory? If not, you need to download them by running `GO111MODULE=off go ge

[2020-03-11 01:19] snavarro89 commented on #2010
Im having the same issue with OS X, have tried all solutions proposed but none have worked to stop the breakpoint, is this still happening for you?

[2020-03-11 03:18] stamblerre commented on #3086
@dpolicastro: As described in the [release notes](https://github.com/golang/go/issues/33030#issuecomment-510151934), `gopls` doesn't yet support that workflow. You will have to add each module you want to work on to your VS Code workspace (File -> Add Folder to Workspace) to work in this way.

@tommy-dev: Can you share some additional information, such as your `gopls` logs? Information on how to c

[2020-03-11 03:27] stamblerre commented on #3092
Thanks for clarifying. Do the following commands succeed when you run them from the  `terraform-provider-azurerm` directory?

1. `go list -e -json -compiled ./...`
2. `go env -json`
3.  `GO111MODULE=off go list -e -f '{{range context.ReleaseTags}}{{if eq . "go1.14"}}{{.}}{{end}}{{end}}'
`

[2020-03-11 13:48] darkvertex opened #3094 ""Your version of gopls appears to be out of date." but the update always fails from VSCode"
### What version of Go, VS Code & VS Code Go extension are you using?

- Run `go version` to get version of Go
	- go version go1.13.6 linux/amd64

- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.0
	- 78a4c91400152c0f27ba4d363eb56d2835f9903a
	- x64

- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1

- Run `go env G

[2020-03-11 15:21] NilsJPWerner commented on #3060
I am having similar issues. Whenever I save it takes gopls 30 seconds to lint and format and prevents the document from being saved while it happens. Sometimes it causes the window to crash.

I am running:
`golang.org/x/tools/gopls v0.3.3
    golang.org/x/tools/gopls@v0.3.3 h1:mTFqRDJQmpSsgDDWvbtGnSva1z9uX2XcDszSWa6DhBQ=`
`go version go1.14 darwin/amd64`

Here is a gopls log gist with debugging tu

[2020-03-11 15:48] NilsJPWerner commented on #3060
I actually don't think it's gopls fault. I disabled gopls, govet, build on save, live errors and I still have 30 second saves and crashing windows. The main log has the following error: `[2020-03-11 11:43:57.976] [main] [error] [VS Code]: render process crashed!`

[2020-03-11 16:08] NilsJPWerner commented on #3060
I figured out that it was another extension: https://github.com/beerose/go-group-imports-vscode that was causing the issue. Disabling it fixed the slow save.

[2020-03-11 19:01] WodansSon commented on #3092
Yep... they all work like a charm.

[2020-03-11 21:15] WodansSon commented on #3092
@stamblerre Could this have something to do with `Windows Subsystem for Linux`?

[2020-03-11 21:38] stamblerre commented on #3094
This sounds like https://github.com/golang/go/issues/34092. I believe that `go1.14` has the fix for this issue. However, it seems like you may have 2 copies of `gopls` and VS Code Go is using an old one. What is the output of `go env`?

[2020-03-11 21:40] stamblerre commented on #3094
Do you have `GOBIN` set only for VS Code or for your entire environment? Because it looks like VS Code is installing binaries to `/home/alan/bin` (you can check the version of `gopls` there by running ` /home/alan/bin/gopls version`), but if `GOBIN` isn't configured in your terminal, the version you downloaded by running the command manually is likely in `/home/alan/go/bin/gopls`.

[2020-03-11 21:51] stamblerre commented on #3060
Glad to hear you figured it out! Thanks for following up.

[2020-03-11 22:01] stamblerre commented on #3092
It's possible, though I don't know enough about it to be able to make any good guesses. One last command to try before I ask you to rebuild `gopls` with some additional logging.

[code]

[2020-03-12 01:19] WodansSon commented on #3092
Yep, those seemed to work just fine as well, the `gopackages` command spewed a lot of output to the console like:

[code]

[2020-03-12 17:10] darkvertex commented on #3094
Hi @stamblerre, thank you for your insights.

[code]

Hmmm, your hunch that I might have 2 different `gopls` seems correct:

[code]

I set my `GOBIN` in my `~/.bashrc` though, but sometimes I start VSCode from a Gnome toolbar shortcut and sometimes I do so from a terminal, so I wonder if maybe when launching from a Gnome shortcut it's not taking my .bashrc into consideration? What do you think?

I

[2020-03-12 17:59] darkvertex commented on #3094
GOPATH wasn't set in my bashrc, so I set it to `$HOME/go` (looks like vscode was inferring that path anyway though.)

Also I changed GOBIN to `$HOME/go/bin` and I moved `/home/alan/bin/gopls` (which was newer) to `/home/alan/go/bin/gopls` (was older, so out of date I guess.)

Still getting the out-of-date error and still, when I try to update it with the button in vscode, it errors again:

[code]

[2020-03-12 20:11] stamblerre commented on #3094
To fix the issue, you can try running `go clean -modcache` or setting `GOPROXY="https://proxy.golang.org,direct"`. The latest version of `gopls` is `v0.3.3`, for your reference. Having a `GOBIN` set shouldn't cause problems, but I would be careful about having multiple  versions of tools like `gopls`.

[2020-03-12 20:56] WodansSon commented on #3092
@stamblerre I was poking around and tried an experiment, I cloned the repro into a folder that wasn't in my `GOPATH` and everything just worked again... don't know why it use to work from the repro in my `GOPATH` and then suddenly stopped working once I got the update, but I will just clone my repo's to this new folder and call it good. Thanks so much for your time and help with this very confusin

[2020-03-12 21:01] #3092 closed

[2020-03-12 22:24] chapati opened #3096 "Debug: add "go run ." support"
After changes made in the issue #2085 'Start without debugging' always defaults to the current go file.  The rationale behind the change was the following:

Let's consider the following program.

main. go

package main
func main () {
   second()
}

second.go
package main
func second() {
}

If you open main.go in your active editor and Ctrl+F5 you would get 'undefined: second'
If you open second.go

[2020-03-13 03:38] galenwarren commented on #3025
I'm having a similar issue, vscode always reports an error like```Error on CreateBreakpoint: could not find statement at /home/galen/projects/git/coachclientconnect/system-dev/modules/backend/outbox/main.go:37, please use a line with a statement``` when trying to set breakpoints. Setting the same breakpoint in ```dlv``` run from the command line works.

Here's some verbose logging of what happens

[2020-03-13 05:50] WodansSon opened #3097 "Cryptic Error message when opening folder in your GOPATH"
### What version of Go, VS Code & VS Code Go extension are you using?
- Go version:
	- `go version go1.14 windows/amd64`
- VS Code version
	- `1.42.1`
	- `c47d83b293181d9be64f27ff093689e8e7aed054`
	- `x64`
-  VS Code Go extension version:
	- `0.13.1`
- Operating system and processor arhcitecture details
	- `windows`
	- `amd64`

### Describe the bug
Ever since VSCode installed a new version of gopl

[2020-03-13 07:08] WodansSon commented on #3097
This issue is possibly related as well: #3086

[2020-03-13 07:38] Anjana-Prabhakar opened #3098 "Could not attach to pid:#### this could be caused by a kernel security setting, try writing "0" to /proc/sys/kernel/yama/ptrace_scope"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-03-13 09:20] StiviiK opened #3099 "Unverified breakpoint, VSCode does not hit breakpoints [macOS]"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.0 78a4c91400152c0f27ba4d363eb56d2835f9903a x64
- Check your installed extensions to get the version of the VS Code Go extension
	- ms-vscode.go
- Run `go env GOOS G

[2020-03-13 13:42] stamblerre commented on #3097
Thanks you for filing this issue, but I don't  believe that this error message was necessarily caused by having the folder in your `GOPATH` - `gopls` should work fine with modules in a `GOPATH`.

We can continue to debug it - what is your value of the `GO111MODULE` environment variable?

[2020-03-13 13:44] darkvertex commented on #3094
I ran `go clean -modcache` and restarted VSCode, was prompted about being out of date, pressed the Update button... and it worked! :tada: :man_dancing:

[code]

---

Maybe it could be good for future people having my problem if the error message on Update suggested to do "go clean -modcache" and to try again?

[2020-03-13 13:46] stamblerre commented on #3094
The issue is that `go clean -modcache` only solves the error in this specific case, so it's not a universal fix. Glad you were able to update, however! I'm going to go ahead and close this issue then.

[2020-03-13 13:46] #3094 closed

[2020-03-13 13:47] darkvertex commented on #3094
Ah, I see. Well thank you for your help with my issue!

[2020-03-13 15:18] henrahmagix opened #3100 "Print values from go.testEnvVars when running tests"
**Is your feature request related to a problem? Please describe.**
Sometimes I forget that I've set some `go.testEnvVars` and I get odd results from running my tests. When looking at the `Go Tests` output, there's no difference when `go.testEnvVars` are set vs when there are none.

**Describe the solution you'd like**
Print the values of `go.testEnvVars` in the output, like
[code]
where currently

[2020-03-13 16:48] slnt commented on #2003
Any updates on this? I'd give this feature request a +1. I use a tool called `richgo` which provides colorized test output and would benefit from being able to run a task such as the following when hitting the `Run Test` button.

[code]

[2020-03-13 17:10] wtask commented on #3100
I think you should print your environment inside your tests or app if you depend on it. This is your responsibility.

[2020-03-13 21:36] WodansSon commented on #3097
I don't have that variable set at all. Nothing.

[2020-03-13 22:38] zmb3 commented on #3044
Did some investigation here.  There's two items worth discussing.

1. What do we mean when we say only one of each _kind_ of process should run at any given time.  A simple heuristic is to just look at the command, but does that fail us for things like the `go` tool  with many subcommands?  Should we be able to run a `go build` concurrently with a `go list`?

2. I put together a simple implementat

[2020-03-13 22:44] 00sivan opened #3101 "Debugging doesn't do anything."
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go1.14
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.0
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture details
	- wi

[2020-03-14 00:38] TsuyoshiUshio opened #3102 "Debug with build tags fails: cannot find module for path ."
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.5 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
[code]
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and processor ar

[2020-03-14 10:21] gainskills opened #3103 "replace entered content instead append when autocomplete happend"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-03-14 16:12] 00sivan commented on #3101
To add:
Ctrl-Shift-P
"Go: Install Update/Tools"
command 'go.tools.install' not found.

[2020-03-14 16:41] galenwarren commented on #3025
Hey, I figured this out so figured I'd reply back to close the loop in case it helps someone else. I recently switched from WSL 1 to WSL 2 and was still storing source code in a folder that was  mapped from Windows, i.e. a Linux symlink to /mnt/c/[path in Windows]. The recommendation in WSL 2 is to store code directly in the Linux file system; once I did that, Go debugging started working. So I su

[2020-03-14 16:56] fourcels opened #3104 "Restart debug show error notifications"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.8 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.0
78a4c91400152c0f27ba4d363eb56d2835f9903a
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARC

[2020-03-14 17:23] 00sivan commented on #3101
Resolved. In addition to Go you must have git installed and you must also add %GOPATH%\bin to the PATH environment variable.

Please ensure that these requirements are included in the setup instructions and FAQ sections.

[2020-03-15 07:36] NjtechPrinceling commented on #3086
I am a Go new hand when writing this reply. when i install this gopls as remined by vscode, i have warnning same as this issue. and then i found my workspace is not under the $GOPATH/src when i move my workspace under src floder this warnning disappeared.. I hope this information can help you

[2020-03-15 09:34] nom3ad commented on #3036
@apmckinlay .   To exclude your .history directory from the "Problems" tab,  you may create an empty go.mod file inside .history.  In my case, this helped to prevent gopls from running inside gitignored directories.`

[2020-03-15 18:37] apmckinlay commented on #3036
@nom3ad That helps, thanks.

[2020-03-15 20:21] apmckinlay commented on #3036
@nom3ad I spoke too soon. I'm still getting errors from .history files even with an empty go.mod in .history

[2020-03-15 21:31] wtask commented on #3036
@nom3ad Better to explore `history` extension, if you use `Local History` you might move history-folder out of project directory, check the extension settings. But this is temporary solution.

[2020-03-16 02:32] quoctruong commented on #3099
There is an error when setting breakpoint: `[09:21:31.389 UTC] Error on CreateBreakpoint: could not find statement at /Users/stivik/Dev/whiteduck/WDAzureEndUserPortal/src/controller/main.go:61, please use a line with a statement`. Is this a valid file?

[2020-03-16 02:38] quoctruong commented on #3025
@austintackaberry are you using symlink as well?

[2020-03-16 02:46] ramya-rao-a commented on #3036
@stamblerre AFAIK there is no generic setting meant to be used for file patterns to be ignored by extensions. It has been concluded in https://github.com/microsoft/vscode/issues/22289#issuecomment-389926531 that each extension is to provide a setting of its own for this matter.

Meanwhile, there is a way to make VS Code not show the problems for the files matching the pattern in `files.exclude`. P

[2020-03-16 03:21] ramya-rao-a commented on #3075
I noticed that when language server is disabled, the old autocomplete logic completes only the function/method name part without (). The editor parameter hint then pops up (or does not pop up depending on the editor.parameterHints.enabled value) when users type the remaining (. So, another option is to make the language server not include the () and parameter holders. @stamblerre thought?

Not hav

[2020-03-16 05:32] ramya-rao-a commented on #2956
@estebanborai The `go doc` process is either trigged from the completion feature or the hover feature. Can you add `-exclude-docs` to the `go.gocodeFlags` settings to disable calling this from completion and then let us know if this solves the problem? This will help us narrow down which among the 2 features are resulting in this issue for you

[code]

Re-opening to allow for the above discussion

[2020-03-16 05:33] ramya-rao-a commented on #3044
We have code in place that ensures that existing child processes are killed before a new process is started for the same feature. We make use of the cancellation token for this.

You can see this in action for most of the features. For example, in case of the build on save feature, we create a new cancellation token for each invocation of the feature and cancel the token for the previous invocatio

[2020-03-16 05:36] ramya-rao-a commented on #1928
Looks like the upstream code has been merged.

@stamblerre, Can you explain how this feature will work? We can close the issue after that

[2020-03-16 05:36] ramya-rao-a commented on #1578
Agreed.

[2020-03-16 05:36] #1578 closed

[2020-03-16 05:38] ramya-rao-a commented on #671
@stamblerre The workspace symbol as part of LSP works at the workspace level where as the request for `List Package Declarations` scopes the same to current package

[2020-03-16 08:17] StiviiK commented on #3099
No this file doesn’t exists, it is just in the src directory.

[2020-03-16 09:37] zkcrescent opened #3105 "Infinite Getting code actions from ''Go', 'Go', 'Go'' on save"
![image](https://user-images.githubusercontent.com/14883259/76742695-79940100-67ac-11ea-9554-141581d4e489.png)

when i'm trying to save go files, this will appear and it is infinitely running. How can I fix this? btw, auto-completion is not working.

Thanks for your help.

[2020-03-16 11:52] micharaze opened #3106 "Debugging/Launch after update to Go 1.14 not works"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.0
78a4c91400152c0f27ba4d363eb56d2835f9903a
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH`

[2020-03-16 12:39] hyangah commented on #3106
What is the version of delve?
The error message indicates the current version is too old.  If you are in linux and using 1.14, run the following command in a directory where no `go.mod` file exists will do upgrade.
[code]

[2020-03-16 13:12] hyangah commented on #3105
This is another case of #3063 after the recent VS Code includes a hint on which extension is the slow one. (I admit the error message is funny.)

Since you are reporting auto-completion is not working, I am guessing the tools running behind have difficulties in processing your workspace.

@zkcrescent can you share a bit more info to triage your case?

* What is the Go version? From your VS Code's

[2020-03-16 13:14] elvizlai opened #3107 "multi config or default config for lint"
**Is your feature request related to a problem? Please describe.**
read config file from workfolder or workspaceRoot first, it not exist, using default one.
[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
[code]

[2020-03-16 13:33] hyangah commented on #3103
@gainskills thanks for the bug report. What is the version of `gopls` you are using?
From the integrated terminal, run `gopls version`. The latest `gopls` is `v0.3.3`.

[2020-03-16 16:36] stamblerre commented on #1928
<img width="1370" alt="Screen Shot 2020-03-16 at 12 32 41 PM" src="https://user-images.githubusercontent.com/5856771/76779821-5a807980-6782-11ea-987c-094c77b3b45c.png">

Now, clicking go to definition on an import line gives you a list of files to choose from. This achieves #2 in @axetroy's request. I'm not sure if that's sufficient here, but it may be.

[2020-03-16 18:48] stamblerre commented on #3086
@qmilangowin: Are you still having this issue?

[2020-03-16 19:30] shimonacarvalho commented on #3006
Agree on needing some sort of solution for this - hard to see the real errors when every step displays a whole bunch of watch errors.

[2020-03-16 20:02] gainskills commented on #3103
@hyangah ,
Thanks for your response. gopls's version is v0.3.3

[code]

[2020-03-16 23:11] quoctruong commented on #3099
Are you using symlink?

[2020-03-16 23:15] quoctruong commented on #3034
@mohsinhijazee I am not sure why this is failing but another potential workaround is to use remote debug to attach to the program. Have you tried that?

[2020-03-16 23:17] quoctruong commented on #2663
@ramya-rao-a I think the issue is resolved so we can close it?

[2020-03-16 23:17] quoctruong commented on #2505
Since WSL2 is working with this, I think we can close the bug @ramya-rao-a?

[2020-03-16 23:19] quoctruong commented on #2499
@tonybounty @ramya-rao-a Let's close the issue since it's resolved?

[2020-03-16 23:33] adibrastegarnia commented on #2663
Yep

[2020-03-16 23:33] #2663 closed

[2020-03-17 01:32] tonybounty commented on #2499
Yep, let's close @fmnisme

[2020-03-17 01:38] #2499 closed

[2020-03-17 01:54] #2505 closed

[2020-03-17 04:52] souxls commented on #3086
@stamblerre Thanks, same here. now it works.

[2020-03-17 05:05] stamblerre commented on #3103
@gainskills: Would you be able to provide a full repro case? It's a bit hard to see exactly what your example is, particularly because completion is very sensitive to surrounding context.

/cc @muirdm

[2020-03-17 05:32] ramya-rao-a commented on #1928
This was already available via the `Go: Browse Packages` cmd when invoked after keeping the cursor on the import line

I believe the ask is more towards the ability to open the folder to the package in the file explorer. If the package is not already part of the current workspace, then perhaps adding it to the workspace

[2020-03-17 05:59] chadgrant commented on #2656
or sudo chown -R $USER /usr/local/go

[2020-03-17 06:02] stamblerre commented on #3097
Thanks for letting me know. At this point, I'm out of questions so I'll ask you rebuild `gopls` with some extra log statements. I've pushed up https://go-review.googlesource.com/c/tools/+/223740 for this purpose. You can do this by running the following commands:

In a directory of your choosing:

[code]

Reloading VS Code will restart the `gopls` with the newly built version. Please then capture

[2020-03-17 06:39] gainskills commented on #3103
@stamblerre @hyangah  thank for your time.

Tried my sample again but failed to reproduce the issue. I'll close the issue and paste the example here later I could reproduce the issue.

[2020-03-17 06:39] #3103 closed

[2020-03-17 11:03] StiviiK commented on #3099
Nope, I am opening VSCode in the `/Users/stivik/Dev/whiteduck/WDAzureEndUserPortal/src/controller/ ` folder as otherwise it tells me I’m not in a go module. (Maybe this matters)

[2020-03-17 12:14] halink0803 commented on #3086
I got this problem when I create a new project using go 1.14, the folder structure like this

[code]

And I cannot make the problem go away, however, when I add old working project using go 1.12, then remove new project that error, the issue go away, then I add back the new project folder to the workspace, and now it works. Just describe my situation for you guys to see if it helps someone.

[2020-03-17 13:39] YugeCse commented on #3104
I get the problem too.

[2020-03-17 15:03] pradeepkusingh commented on #3086
same here, very annoying.

[2020-03-17 15:17] hyangah commented on #3072
fyi godef@v1.1.2 is available.

[2020-03-17 16:21] hyangah commented on #3107
The `-config` flag values are passed to the underlying lint tool as they are after doing minimal work to resolve the file path correctly. And some lint tools (e.g. `golint` doesn't take `-config` flag so this is not universal. I feel that this feature request belongs to the underlying tools, not this extension.

[2020-03-17 16:52] quoctruong commented on #2889
@ramya-rao-a I think this issue can be closed since the workaround is available and we don't want to add extra field to the current debug configuration.

[2020-03-17 17:05] hyangah commented on #3102
It seems to me that the go command failed to compile the test binary.
I couldn't find an easy way to check the underlying commands invoked by 'debug test' yet. @ramya-rao-a or @quoctruong may know.

Have you tried "run test" code lens instead? The exact command will be in the "View: Toggle Output" > "Go Tests" channel. (select from the dropdown on the right side after toggle to Output).
You can do

[2020-03-17 17:14] hyangah commented on #3098
This is because Yama blocks ptrace attach. https://www.kernel.org/doc/Documentation/security/Yama.txt

Please try to do what the error message says

E.g. `echo 0 > /proc/sys/kernel/yama/ptrace_scope`

[2020-03-17 17:32] hyangah commented on #3096
I think this is a valid feature request. I arrived late so I am missing the original motivation. Currently `go run` takes list of `.go` files, package import path, `.`, or relative path. So accepting them seem more reasonable. What do you think? @ramya-rao-a

[2020-03-17 17:42] heschik commented on #3097
Can you show the complete output of `go env`? In particular, are your GOROOT and GOPATH overlapping?

@bcmills @jayconrod

[2020-03-17 20:24] vedev9 opened #3109 "Cannot save files after upgrade to v1.43 - line added and removed in loop"
Issue Type: <b>Bug</b>

When i try to save a file it starts adding and removing really fast an empty row inside the import block. The code seems to "shaking" and it goes on and on without stopping. It only stops when the window crash...

This start happening right after upgrade to v1.43.0 the following are my specs:

Version: 1.43.0 (system setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
D

[2020-03-17 20:31] hyangah commented on #3109
@vedev9 thanks for the report. For triaging the issue, please answer the following questions:

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- <Paste go version here>
- Run `go env` to get the go build environment details
	- <Paste OS and arch details here>

### Share the Go related settings you have added/edited

Run `Preferences: O

[2020-03-17 20:32] wtask opened #3110 "High CPU utilization at almost every save"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Version: 1.43.0 (user setup)
Commit: 78a4c91400152c0f27ba4d363eb56d2835f9903a
Date: 2020-03-09T19:47:57.235Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8:

[2020-03-17 21:04] vedev9 commented on #3109
Thank you!

Here's the info:

Go version go1.14 windows/amd64

ENV:
[code]

gopls:
[code]
Settings:
[code]
And this is the screen capture of the error:
[bug-vscode.zip](https://github.com/microsoft/vscode-go/files/4345817/bug-vscode.zip)

Thanks for the support

[2020-03-17 21:26] hyangah commented on #3110
@wtask It seems that gopls is using quite bit of memory and cpu.
Can you try the settings to capture traces from `gopls`?
https://github.com/golang/tools/blob/master/gopls/doc/vscode.md#vscode

[code]

@stamblerre

[2020-03-17 21:47] hyangah commented on #3109
Thanks, @vedev9 !

That's pretty bad. Temporarily you may disable code action and formatting on save but yeah, that's not ideal.

[code]

* I suppose you are not using any other extensions that may interfere right?
* Do you still have the same issue if downgrade VS Code to 1.42?
Go extension 0.13.x and gopls 0.3.3 have been out for a while, so I suspect VS Code.

Since it's crashing, I am not sure

[2020-03-17 21:55] jayconrod commented on #3097
The error message is an assertion from `go` command in the function [`dirAndRoot`](https://go.googlesource.com/go/+/refs/tags/go1.14/src/cmd/go/internal/load/pkg.go#943). Given a resolved import path, directory, and root, it verifies that the directory is in the correct location within the root. This function is only called in GOPATH mode.

It appears in this case that the import path hasn't actua

[2020-03-17 21:57] vedev9 commented on #3109
Downgrading to v1.42 fix the issue, and it's what i have done to continue working, so no probs for me.
Just wanted to let you know about the issue with the new version v1.43

[2020-03-17 22:11] vedev9 commented on #3109
I'm closing this. See previously edit

Thanks for your time

[2020-03-17 22:11] #3109 closed

[2020-03-17 22:18] wtask commented on #3110
@hyangah I updated my `settings.json` according to the latest wiki recommendations. Also I added language server flags. Need to observe.

[2020-03-17 23:22] stamblerre commented on #3086
@halink0803: Are you opening the `Project_folder` directory in VS Code? What is the output of `gopls -rpc.trace -v check /path/to/file.go`?

@pradeepkusingh: Are you using GOPATH or modules?

[2020-03-18 00:04] pradeepkusingh commented on #3086
I put my code in go/src(Gopath, when it started giving  reported error) and I am using Module. still, it keeps complaining.

[2020-03-18 00:19] stamblerre commented on #3086
Can you share your `gopls` logs? They can be found by following the steps here: https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs.

[2020-03-18 00:23] stamblerre commented on #3099
@StiviiK: Are you using the language server and is the warning about not being in a module popping up? That is a possible issue with your set-up, but your `gopls` logs will help confirm if you can share them (steps here: https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs).

[2020-03-18 00:25] stamblerre commented on #3072
Great! The fix for this is now to open the Command Palette (Ctrl + Shift + P) and run `Go: Install / Update Tools` and select `godef`. Closing this issue.

[2020-03-18 00:25] #3072 closed

[2020-03-18 00:27] #2889 closed

[2020-03-18 01:37] TsuyoshiUshio commented on #3102
Thank you for the comment. I already have a minimal config one.
These are my current settings.  I notice one thing. I'm using a build tag. If I use a build tag, the debug doesn't work even if I add it as one of the args. I remove my build tag from the target go file; then, the debug starts working.

[code]

# build tags

[code]
# command line
on the workspace directory. This command works. However

[2020-03-18 01:56] stamblerre commented on #3107
That sounds reasonable to me. Closing this issue as a result. Please file this feature request with your lint tool.

[2020-03-18 01:56] #3107 closed

[2020-03-18 02:50] stamblerre commented on #3110
If you are working on a public project, could you share a link to the repository so we can try to repro? `gopls` may behave badly on a repository with a lot of packages and dependencies.

[2020-03-18 08:18] wtask commented on #3110
@stamblerre GOPRIVATE is set for this project

[2020-03-18 08:57] Greyh4t commented on #3026
when i updated gopls to 0.3.3, the problem reproduced
there is the log of gopls
`
[Info  - 下午4:37:12] 2020/03/18 16:37:12 Build info
----------
golang.org/x/tools/gopls v0.3.3
    golang.org/x/tools/gopls@v0.3.3 h1:mTFqRDJQmpSsgDDWvbtGnSva1z9uX2XcDszSWa6DhBQ=
    github.com/BurntSushi/toml@v0.3.1 h1:WXkYYl6Yr3qBf1K79EBnL4mak0OimBfB0XUf9Vl28OQ=
    github.com/sergi/go-diff@v1.0.0 h1:Kpca3qRNrduNnOQ

[2020-03-18 10:20] stereoit opened #3111 "Installing golang.org/x/tools/gopls FAILED"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	-  go version go1.13.6 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.0
          78a4c91400152c0f27ba4d363eb56d2835f9903a
          x64

- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- R

[2020-03-18 10:53] gioachino commented on #3093
For my program (not using GOPATH mode), after ctrl+F5, I see the output similar to **second** case.

It's OK when no .go File is in the foreground in the editor (then the last active "Run" configuration is chosen).
Another workaround is described [here](https://github.com/microsoft/vscode-go/issues/2841#issuecomment-571940491): after deleting the launch.json file ctrl+F5 works OK also.

[2020-03-18 11:39] mbwhite commented on #3086
Same issue here;   logs are in this gist... https://gist.github.com/mbwhite/cfefb4d9f433417708efec56e7dddc61

[2020-03-18 11:45] tobiaszheller commented on #3110
@stamblerre I can also confirm bug.

It can be observer with latest relase of gopls as well as version from master.
What is weird that I have started seeing it after updating vs-code, not gopls.

I think it can be related to case when you have modules enabled but still vendor exists in project.
You can verify it at https://github.com/thanos-io/thanos/ project.
Just do new line in `cmd/thanos/rule.

[2020-03-18 12:35] hyangah commented on #3111
It looks like the go command was trying to download dependencies using `git` instead of using GOPROXY proxies and hit a git bug. Can you try the workaround mentioned in https://github.com/golang/go/issues/37140#issuecomment-583776533 ?

[2020-03-18 13:35] hyangah commented on #3110
@tobiaszheller  thanks for sharing the repro case.

@stamblerre here is the gopls log
[thanos.log](https://github.com/microsoft/vscode-go/files/4349170/thanos.log)
I triggered save after the first logged textDocument/codeAction event. I noticed repro is a bit nondeterministic, probably, depending on the module, build cache state.

Related - we got [another issue](https://github.com/microsoft/vscod

[2020-03-18 13:42] chapati commented on #3096
Originally Ctrl+F5 started debugging as well. In #2085 they mad it to run the file currently opened in editor. I suggest to extend change made in #2085 and support not only simple the-whole-program-is-one-file case but make Ctrl+F5 more general.

[2020-03-18 13:52] StiviiK commented on #3099
This warning only pops up when I open VSCode in the root of the repository `/Users/stivik/Dev/whiteduck/WDAzureEndUserPortal/´ so I need to open it in `/Users/stivik/Dev/whiteduck/WDAzureEndUserPortal/src/controller´ (where the go.mod is, then the warning doesn't pop up)

[2020-03-18 14:18] hyangah commented on #3026
@Greyh4t Thanks for the report. Opened a new upstream issue https://github.com/golang/go/issues/37925, let's follow up there.

[2020-03-18 15:08] zmb3 commented on #3044
There's a few problems with the following:

https://github.com/microsoft/vscode-go/blob/6d1bf5c7999d5af0adcc15141ca012c34a9ca71c/src/util.ts#L883-L888

1.  The return value of `spawnSync` is ignored, so we're not catching errors if the process fails.
1. I'm not sure the path to the `terminateProcess.sh` script is correct.  If I look at the way the extension is unpacked on my machine, I see:
[code]

[2020-03-18 15:56] hyangah commented on #3102
@TsuyoshiUshio thanks for the followup. From your description, I am guessing the build tags is not correctly forwarded to the debug processes. The error message 'cannot find module for path .' is a bit misleading but maybe it meant the go command couldn't find the source code.

I will try create a small repro if you already have something handy.

[2020-03-18 17:00] anykine29 commented on #3110
Wanted to leave a note about the output i see from gopls on save events -- which only started happening after the upgrade.
If i try to save a file here is what the gopls log outputs
`[Trace - 09:40:28.757 AM] Sending notification 'textDocument/didChange'.`
`[Trace - 09:40:28.757 AM] Sending request 'textDocument/codeAction - (1810)'.`
`[Trace - 09:40:28.760 AM] Received response 'textDocument/code

[2020-03-18 17:28] wtask commented on #3110
@tobiaszheller In my case there are neither vendor folders inside project dirs

[2020-03-18 17:30] hyangah commented on #3110
@anykine29 Are all those 10123 lines the log messages after the file save? Can you share that output? I think we need to ask vscode team. I see some issue reports coming in to microsoct/vscode issue tracker, related to the behavior changes on save, but better trace data may help for them to triage.
@wtask can you also capture the `gopls` logs if possible and share it?

[2020-03-18 17:46] anykine29 commented on #3110
Correct those 10k lines are as I try to save the file.

[gopls.log](https://github.com/microsoft/vscode-go/files/4350476/gopls.log)

[2020-03-18 18:13] wtask commented on #3110
@hyangah I cannot publish current log due to project specific requirements. But in the log I saw tons of dummy gopls-processing with files in the .history/ folder. So the current issue may be related to #3036 (workspace/didChangeWatchedFiles). I have to disable the `Local history` extension and move `.history` folders out of project tree until any progress for #3036 will appear...

[2020-03-18 19:46] PapayaJuiceEQ commented on #3105
Not OP but running into the same issue, beyond that I had to enable gopls manually to get autocomplete to work. This issue shows up every couple saves or so.

- go version go1.14 darwin/amd64
- go env:
[code]
- Preferences: None! Empty json.
- Nothing strange in Go Output.
- `gopls` Output absolutely littered with the following but with no clear indication as to what it relates to:
[code]
- Perhap

[2020-03-18 21:04] micharaze commented on #3106
Same issue after the upgrade of delve to v1.4.0

[2020-03-18 21:12] hyangah commented on #3110
@anykine29 thanks! I filed a new upstream issue based on your trace. Are you using any other go extension by any chance?

@stamblerre The [trace](https://github.com/microsoft/vscode-go/issues/3110#issuecomment-600625827) I generated using @tobiaszheller's repro case exhibits a different issue and I want gopls-devs to take a look. It shows significant slow down after background refresh.

  backgrou

[2020-03-18 21:32] anykine29 commented on #3110
@hyangah Thanks!  And here are my go ext:
![goext](https://user-images.githubusercontent.com/4854899/77009459-327d4b80-6925-11ea-8ef5-83f29a06a38b.png)

[2020-03-18 21:44] hyangah commented on #3110
@anykine29 thanks - according to #3109, Go Group Imports extension may be problematic. The gopls-debug can be disabled too (that's a test version of Go extension and doesn't add additional functionalities other than what Go extension offers already). I don't know much about other extensions, but turning on one by one until the problem reappears is one option for debugging.

[2020-03-18 22:36] #3060 closed

[2020-03-19 01:53] hyangah commented on #3102
@TsuyoshiUshio To pass tags, see https://github.com/microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#using-build-tags.

[2020-03-19 08:04] tobiaszheller commented on #3110
@hyangah I was also using Go Group Imports extension, but the issue still exists, even though extension was disabled. I have also checked and there were not changes to that extension since December.

I guess something (vscode?) is triggering a lot of new events what's causing those extension to run all the time.

[2020-03-19 10:48] ideawu opened #3114 "How to disable package not found squiggle?"
Hi, I just want vscode-go  no showing squiggle for imported packages, I don't want to set GOPATH either, just config vscode-go not check for this type of error, is there any setting option to do so?

[2020-03-19 13:03] hyangah commented on #3114
@ideawu Assuming you are talking about the red squiggle under the package name, that indicates an issue with the import package. If you are using the language server (i.e. `go.useLanguageServer` is true), you can disable it by setting
[code]

Out of curiosity - when the red squiggle exists, it's likely your program will not compile (either because it is unused package or the package can't be found

[2020-03-19 13:36] hyangah commented on #3101
@00sivan Based on one of your comment https://github.com/microsoft/vscode-go/issues/3101#issuecomment-599088115 I am guessing the go extension was not activated successfully for some reasons.  Did you see any popup or error messages when you start or reload VS Code?  Or did you notice any errors mentioning (`ms-vscode.go`) in one of the Output channels? `View: Toggle Output` and navigate available

[2020-03-19 13:44] hyangah commented on #3105
@PapayaJuiceEQ What do you mean by "enabling `gopls` manually"?

Did you see anything before the context canceled error flood? The popup occurs because formatting & code action triggered during file save took long time.

note: The `quickfix` Code action issue will be fixed in the upcoming version that uses more recent language clien, and that's redherring.

[2020-03-19 14:03] 00sivan commented on #3101
No errors or issues were apparent at the time.

On Thu, Mar 19, 2020, 7:37 AM Hyang-Ah Hana Kim <notifications@github.com>
wrote:

[2020-03-19 14:10] hyangah commented on #3101
@stamblerre @ramya-rao-a can you relabel this issue? This is more about documentation and  surfacing error messages appropriately even when the extension activation fails.

[2020-03-19 14:50] PapayaJuiceEQ commented on #3105
@hyangah Upon initial installation of the vscode-go plugin and installing all of the gotools it prompted, autocomplete still didn't work even after restart. I had to run the `go get` for gopls in a console, restart vscode, then it worked. Apologies for the lack of clarity.

I've since opened and closed a few VSC windows and haven't seen the same issue since yesterday, but here are some similar log

[2020-03-19 19:02] stamblerre commented on #3086
@mbwhite: It looks like your `GOPATH` is set to `/home/matthew/github.com/ampretia/wasm-runtimes/go-life/`, but a `GOPATH` needs to have a `src` folder in it (see https://golang.org/doc/gopath_code.html#Workspaces). It also seems like you're working opening the `/home/matthew/github.com/hyperledgendary/wcr/wasm-runtimes/go-life` directory, which does not contain a `go.mod` file. If you're using GO

[2020-03-19 19:04] stamblerre commented on #3106
@micharaze: Is the error message the same or is there a different error message?

[2020-03-19 19:55] #2010 closed

[2020-03-19 20:08] stamblerre commented on #3105
@PapayaJuiceEQ: Can you add the recommended flags to your settings and capture the `gopls` logs again please? See https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs for instructions. That will provide more detailed logs that we can use to investigate.