[2016-10-27 05:11] cookieo9 commented on #545
@ramya-rao-a Thanks, I'm back up and running too.

[2016-10-27 05:13] roblourens commented on #564
The problem is this commit, which pulls in 'window' from the 'vscode' module - https://github.com/Microsoft/vscode-go/commit/c35b419585d403a4cd042856afaf46051ae389cf, which isn't available from the debug adapter. The import was there before, but since it was only pulling in types, typescript didn't output the `require`.

We need a total separation between code that runs in the debug adapter, and c

[2016-10-27 05:16] roblourens commented on #564
No, I take that back sorry - the problem was https://github.com/Microsoft/vscode-go/commit/49388254f9467e0df71354770d3292d0fb7dd150#diff-16e876ed2a6ddf6a530a935e37dddfdb which pulls in util.ts, which shouldn't be in the debug adapter. I'll make a PR.

[2016-10-27 05:24] roblourens commented on #564
Uhh... I can fix the crash but I'm just getting `could not launch process: could not get thread count` from delve right now

[2016-10-27 05:36] ramya-rao-a commented on #564
does delve work from the command line?

[2016-10-27 05:45] roblourens commented on #564
No

[2016-10-27 06:01] #564 closed

[2016-10-27 06:15] ramya-rao-a commented on #564
@sinhpham @soechin @jeremywho A new updates is out (0.6.47) with the fix. Can you confirm that the issue is fixed for you?

The Mac Sierra 10.12.1 still has problems with delve itself which is tracked in https://github.com/derekparker/delve/issues/645

[2016-10-27 06:16] ramya-rao-a commented on #575
@andiyudistira @i5on9i  A new updates is out (0.6.47) with the fix. Can you confirm that the issue is fixed for you?

[2016-10-27 06:17] #575 closed

[2016-10-27 06:26] ramya-rao-a commented on #545
@cookieo9 @OneOfOne Glad you are unblocked, happy coding!

[2016-10-27 06:28] i5on9i commented on #575
cool~ it works well , thanks @ramya-rao-a

[2016-10-27 06:34] andiyudistira commented on #575
Cool, it works fine now thanks @ramya-rao-a 👍

[2016-10-27 06:46] ramya-rao-a commented on #575
Glad you are unblocked, happy coding!

[2016-10-27 07:01] soechin commented on #564
0.6.47 fixed, thank you.

[2016-10-27 15:09] marpaia commented on #520
@ramya-rao-a done! thanks for shepherding :)

[2016-10-28 04:13] ramya-rao-a commented on #571
The package line can either be "package main" or "package <the-folder-name>" which is what auto-complete tries to help with here.
In your case why would "hello-go" be an invalid package identifier?

[2016-10-28 04:17] ramya-rao-a commented on #572
The autocomplete for unimported packages shouldnt appear when part of import statements like this. This is a bug

[2016-10-28 04:18] sinhpham commented on #564
Yep the latest version fixed it for me. Thanks.

[2016-10-28 05:00] ramya-rao-a commented on #564
Great, happy coding!

[2016-10-28 08:03] didrocks opened #579 "completion doesn't show latest version of the file"
Thanks for your great plugin! That was definitively the selling point to me to use VSC :)

However, being up to date on latest plugin version and VCS (1.6.1), I notice I have some issues in completion not being up to date. I'm running Linux (Ubuntu 64 bits 16.04LTS). I'm running latest updated tip (hash 478b96f) gocode with Go 1.7

I reported this bug as well to gocode directly (https://github.com

[2016-10-28 11:20] maddin2016 commented on #10
For me problem was that my machine is behind a proxy. After set `http_proxy` variable all is working fine.

[2016-10-28 15:30] wildfire810 opened #580 "win10 vscode debugging, can't add/remove breakpoint."
1. What version of Delve are you using (`dlv version`)?
   Delve Debugger
   Version: 0.11.0-alpha
   Build:
2. What version of Go are you using? (`go version`)?
   go version go1.7.1 windows/amd64
3. What operating system and processor architecture are you using?
   win10 64bit
4. What did you do?
   At the debugging time, add/remove breakpoint
5. What did you expect to see?
   added breakpoint c

[2016-10-28 21:03] ramya-rao-a commented on #579
Correct me if I am getting this wrong.

You have a package called "state" where you have defined the types State, Transition, Action, and Abc
You have another file where you have imported the package "state" and are typing "state.a" expecting autocomplete to suggest "Abc"

Now back in the file that defines the types, you are changing the "Abc" type and you expect the package state.a to get updated

[2016-10-28 21:05] ramya-rao-a commented on #570
I agree that it should be documented. What do you mean by

[2016-10-28 21:11] ramya-rao-a commented on #569
Not just multiline, you see this with single line strings as well.
If the string is surrounded with double quotes, you don't see this.
Labeling as bug

[2016-10-28 21:26] ramya-rao-a commented on #567
Functions from shared libraries seem to show the comments, but not the ones in main.go which is a special go file meant for executables vs shared code

[2016-10-28 21:32] ramya-rao-a commented on #562
@lukehoban Can you share the reason behind the original design to exclude definitions from references?

[2016-10-28 21:39] ramya-rao-a commented on #558
We use `gocode` for autocomplete + a little extra that we do on our on like

- support for unimported packages
- "package" completion with either "main" or the folder name

https://github.com/nsf/gocode/issues/312 explains why there is no completion for keywords like

- import
- func
- struct
etc.

What are you referring to when you say

[2016-10-28 21:43] ramya-rao-a commented on #560
Build is run on save. For save on type, you can set `files.autoSave` appropriately.

[2016-10-28 21:46] ramya-rao-a commented on #560
But what I feel you are alluding to is that there is an error, the tool suggests a way to correct it, user chooses the given option, tool should stop complaining.
I can see that happening in typescript

[2016-10-28 21:48] ramya-rao-a commented on #551
Closing this, as we havent heard back from the OP. @mukeshdutt5 feel free to re-open if you still see the same issue

[2016-10-28 21:48] #551 closed

[2016-10-28 21:54] ramya-rao-a commented on #548
Do you get any build errors in the output channel for Go?
Do you see any errors in the console? (Developer: Toggle Developer Tools)

[2016-10-28 21:59] ramya-rao-a commented on #530
@nakiya the program attribute should point to the package you are trying to debug.

You have set it to "/Users/duminda/go" which I am guessing is where you installed Go instead of path to your project

For example, if you are trying to debug the hello project at https://github.com/golang/example/
you should point the program property to `<your-gopath>/src/github.com/golang/example/hello`
Another e

[2016-10-28 22:02] lukehoban commented on #562
I'm actually not sure the original design did exclude definitions.  We did chance from using `go-find-references` (a tool I wrote) to using `guru` (a tools maintained by the Go team) back in May.  It's possible this was a result of that change.  See https://github.com/Microsoft/vscode-go/issues/340 for example.

I think it's fine to reconsider that design - though it may make sense to align with g

[2016-10-28 22:45] ramya-rao-a commented on #515
I can repro this. We use `godef` for Goto definition and the hover features. When I hover over `mux.Router` it  returns an error `godef: no declaration found for mux.Router`

This is an issue with `godef`. Can you open an issue in the repo for `godef` ?

[2016-10-28 23:15] ramya-rao-a commented on #505
@jmunson

We already lint only the current package.

Example:
I have all the Go projects as listed in https://github.com/golang/example
In VS Code, I have opened the example folder which in turn has the below folders

- hello
- stringutil
- outyet

When I am editing a file from the `hello` folder, linting shows errors/warnings from that folder
Same with `stringutil`

Do you see anything that sugge

[2016-10-28 23:20] ramya-rao-a commented on #565
cc @roblourens thoughts?

Right now, we have a default which points to cwd if the program attribute is not specified

[2016-10-28 23:22] ramya-rao-a commented on #539
We would need more details...

Can you point to any sample code/repo where we can try to see what the issue is?

[2016-10-28 23:23] ramya-rao-a commented on #513
Closing this, as we haven't heard back. @tapir, feel free to re-open with more details if you still see the issue

[2016-10-28 23:23] #513 closed

[2016-10-28 23:24] ramya-rao-a commented on #512
Is this still a problem?

[2016-10-28 23:24] ramya-rao-a commented on #511
Is there any sample repo where we can try to repro this?

[2016-10-28 23:25] roblourens commented on #565
Node debugger checks whether "program" exists, and fails if not.

[2016-10-28 23:25] roblourens commented on #565
I don't know what delve is doing though

[2016-10-28 23:25] mattetti commented on #512
I haven't tried in the latest version you pushed recently but it was last
time I checked

On Fri, Oct 28, 2016, 16:24 Ramya Rao <notifications@github.com> wrote:

[2016-10-28 23:25] ramya-rao-a commented on #496
Closing this as won't fix, as the tools we use don't support the dot imported functions

[2016-10-28 23:29] ramya-rao-a commented on #462
@lazyfingers Is this still a issue ?

[2016-10-28 23:32] ramya-rao-a opened #581 "Add test on save feature"
From the discussion in #451 , we should have a feature to run tests on save

`go.testOnSave` : true or false

This should run all the tests in the current package on saving any file in the current package

The test output should be shown in the output channel

[2016-10-28 23:34] ramya-rao-a commented on #451
Created another issue to track the test on save feature.

The comment on `go.buildOnSave`  has been updated.

Closing this issue, as it is clear now that tests are NOT run when `go.buildOnSave` is set to true

[2016-10-28 23:34] #451 closed

[2016-10-28 23:42] ramya-rao-a opened #582 "When GOPATH is not set, do not run build/vet/lint and prompt user to set GOPATH"
- remove the GOPATH env variable
- remove GOPATH/bin from PATH
- remove `go.gopath` setting from user/workspace setting if you have it
- open any Go project in VS Code and open a go file
- hover on any of the code
- you immediately see messages popping up saying different commands as are not available like `golint`, `godef` etc

The status bar has a note that "GOPATH not set"
This is not very visi

[2016-10-29 00:05] ramya-rao-a commented on #562
@lukehoban Actually `guru` does return the definition as well.

For example: In https://github.com/golang/example, open the `hello.go` file and Find all references for the `Reverse` function.
`guru` returns 3 results

![image](https://cloud.githubusercontent.com/assets/16890566/19825639/96fdd4c2-9d30-11e6-8870-2a06bc3b0bee.png)

But the [regex](https://github.com/Microsoft/vscode-go/blob/master/sr

[2016-10-29 01:10] lukehoban commented on #562
Interesting. I don't recall that being intentional, but it does look like we modified the regex specifically to handle Oracle/Guru. https://github.com/Microsoft/vscode-go/commit/509d6abbe360319596d44eeebfb7917832d89dbb

I think it's fine to update the regex to include the definition if that matches the standard vscode experience for TS and other languages.

[2016-10-29 10:07] ITSecMedia opened #583 "Windows 10 / VSCode 1.6.1 - gofmt -w — updated file does not visually refresh in Editor"
I've noticed a new bug on my system
Not sure if it's caused by a VSCode bug or the extension.

Using all latest versions:
Windows 10 updates
VSCode version
VSCode Extension and go packages updates.

My settings:

[code]

When I manually trigger save, the go file gets properly formatted but it's not shown in VSCode until I close and reopen it or switch to another file and go back.

When I instantly

[2016-10-30 07:39] lazyfingers commented on #462
Not really. I've switched to another computer lately and have no issues. Back then it was sort of a permission issue, everything worked fine when I tested running vs code as root though.

[2016-10-30 10:12] wy3148 commented on #548
no, I didn't.
I think I can close this issue, I think one of the possible reason I didn't get the reference is some functions are having same name but different input arguments (means actually they are different go funcs), in this case , VS returned "no results' when I tried to search, and the go func i searched was not called in anywhere.

[2016-10-30 10:12] #548 closed

[2016-10-30 13:40] jcdickinson commented on #580
1. What version of Delve are you using (dlv version)?

2. What version of Go are you using? (go version)?

3. What operating system and processor architecture are you using?

[2016-10-30 16:11] ramya-rao-a commented on #462
Great, will close this issue then.

[2016-10-30 16:11] #462 closed

[2016-10-30 21:35] DonMcNamara opened #585 "Directory named 'go' in path results in EACCES error"
In `getBinPathFromEnvVar` the code returns the first path that exists, regardless of permission. If that path is a directory named `go` and not an executable, the code will attempt to execute `go version` on the directory. This results in: `error spawn eacces`

Line of code in question: https://github.com/Microsoft/vscode-go/blob/master/src/goPath.ts#L24

Fix: I'm not too familiar with node, but c

[2016-10-30 22:48] ramya-rao-a commented on #573
Also, completion list kicks in after an escaped double quote inside a string

<img width="301" alt="screen shot 2016-10-30 at 3 45 49 pm" src="https://cloud.githubusercontent.com/assets/16890566/19840660/4472443e-9eb8-11e6-90f1-e6e6dc3ea017.png">

[2016-10-31 00:20] dring1 commented on #583
Was also able to reproduce this locally using v0.6.47, windows 10, Go 1.7.1

[2016-10-31 01:30] ramya-rao-a commented on #562
@alandonovan Any reason the output of `guru referrers` has different format for the definition vs other references? The definition just has the starting position where as rest of the references have starting AND ending position

Definition   : **filename**:**lineNumber**:**columnNumber**: ...
Others : **filename**:**lineNumberStart**.**columnNumberStart**-:**lineNumberStart**.**columnNumberStart**

[2016-10-31 01:38] ramya-rao-a commented on #543
This issue was moved to Microsoft/vscode#14727

[2016-10-31 01:38] #543 closed

[2016-10-31 01:42] ramya-rao-a commented on #544
Duplicate of #543

[2016-10-31 01:42] #544 closed

[2016-10-31 06:23] anirudh-chhangani commented on #358
I could not find GOPATH set inside when I did process.env, though I have setup the same inside user configs, shouldn't it take from there?

[2016-10-31 14:32] alandonovan commented on #562
Fixed by https://go-review.googlesource.com/c/32440/ (pending).

[2016-10-31 14:50] IronPark commented on #441
if not work `gocode close`  for you
my solution
`killall -9 gocode`

[2016-10-31 15:56] ahmetalpbalkan commented on #543
@ramya-rao-a since I realized it's not just me, perhaps we should have an ability to assign shortcut keys to these tasks?

[2016-10-31 16:09] ramya-rao-a commented on #543
actually you can do that today.

You can find the commands here: https://github.com/Microsoft/vscode-go/blob/master/package.json#L79

You can assign keyboard shortcuts to any of the commands above

[2016-10-31 17:07] roblourens commented on #511
I think this is the same as https://github.com/Microsoft/vscode-go/issues/438

[2016-10-31 17:45] #574 closed

[2016-10-31 17:45] roblourens commented on #574
FYI @ramya-rao-a

[2016-10-31 17:53] ramya-rao-a commented on #559
Note from Gitter conversation that also talks about sorting/positioning the items in completion list:

[2016-10-31 18:23] ramya-rao-a commented on #567
We use `godoc` to get the function documentation to display in Signature Help and Quick Info on hover.

`godoc` is meant to show documentation for exported members of packages.

Which is why no member in main.go or unexported members of packages do not get the documentation info.

Replacing bug label with enhancement

[2016-10-31 18:43] ramya-rao-a commented on #389
#586 will fix this

[2016-10-31 18:51] ramya-rao-a commented on #239
@roblourens This would be same as #438 as well ?

[2016-10-31 18:59] roblourens commented on #239
I think so

[2016-10-31 19:01] ramya-rao-a commented on #344
autocomplete works for me on packages with alias.
@peterbourgon @eosrei Do you still see issues?

[2016-10-31 20:00] ramya-rao-a commented on #299
Assuming your launch config is set to point to the package, wouldn't just hitting `F5` work ?

[2016-10-31 20:42] mousetraps commented on #571
Ahh, turns out the reason the identifier was invalid was because it included the "go" keyword - I thought it was because of the dash. Closing as this edge case doesn't seem important enough to handle.

[2016-10-31 20:42] #571 closed

[2016-10-31 20:46] mousetraps commented on #570
I was thinking that the path to the diff tool could be an option in settings.json in order to improve discoverability to a user that that's something they may want to install. But it sounds like it's not the vscode-go extension, but rather one of its dependencies (gorename) that flakes out when the diff tool isn't there. So maybe improved docs or auto-detection of some sort?

[2016-10-31 20:48] mousetraps commented on #558
"everything else" == all other keywords :smiley:

Re: the issue linked to (nsf/gocode#312) doesn't seem to provide much of a reasoning as to *why* there are no completions for keywords - just says that there are no completions. May be worth considering contributing upstream because otherwise this behavior is inconsistent w/ the rest of the language services we integrate with

[2016-10-31 21:02] ramya-rao-a commented on #570
https://github.com/Microsoft/vscode-go/commit/64b3bde341367ac666e5e3878dc83a8d9100842a adds the note about needing the `diff` tool in Windows for undo after rename to work

[2016-10-31 21:02] #570 closed

[2016-10-31 21:09] roblourens commented on #512
@mattetti I'm curious whether this will repro in 1.7, which you can try with the Insiders build, or it will be released this week. There was a lot of work done on the debugging code to support some new scenarios.

I was playing with a debug adapter trying to get it to produce the same error in vscode, but it seems like it should fail earlier in this scenario...

[2016-10-31 21:19] ramya-rao-a commented on #398
@erica-zhou Do you still see this issue?

I followed your steps and I get the right (different) GOPATH for both the projects

[2016-10-31 21:28] eosrei commented on #344
@ramya-rao-a Yes. I'll see about making a test case.

[2016-10-31 21:30] ramya-rao-a commented on #358
The `process` in the console has the same env vars as the process runinng vscode. The Go extension runs in a separate process which should have the same env vars as the former + whatever GOPATH and GOROOT you set in user/workspace config.

To people still having this issue, can you confirm that `dlv` is in your $GOPATH/bin or PATH?

[2016-10-31 21:40] ramya-rao-a opened #588 "Extract Method feature"

[2016-10-31 21:41] ramya-rao-a commented on #275
@mattetti Closing the loop on this. As you know contextual menu is now possible in VS Code.

#277 is tracking this request

We now have commands to generate unit tests

![image](https://cloud.githubusercontent.com/assets/16890566/19872566/ae097bdc-9f77-11e6-81fa-90bc7055cb3b.png)

#588 will track this request

[2016-10-31 21:46] ramya-rao-a commented on #445
@thessem @rogchap Do you still have this issue?

[2016-10-31 21:48] ramya-rao-a commented on #441
Closing this issue, as we have a workaround

[2016-10-31 21:48] #441 closed

[2016-10-31 21:59] ramya-rao-a commented on #566
Also, the message that is shown at the end of generating tests can be better.
Example:

- Say 2 out of 3 functions in the file `hello.go` already have the tests in `hello_test.go`, then the message should only mention the test for the 3rd function
- Say all functions in the file `hello.go` have the tests in `hello_test.go`, then the message should say that no new tests were created.

etc.

[2016-10-31 22:00] #563 closed

[2016-10-31 22:09] #573 closed

[2016-10-31 22:32] ramya-rao-a commented on #562
Its fixed ! Thanks @alandonovan

Anyone reaching this thread, you can update your `guru` tool to get this fix
`go get -u -v golang.org/x/tools/cmd/guru`

[2016-10-31 22:32] #562 closed

[2016-10-31 22:47] ramya-rao-a commented on #415
Another case:

![image](https://cloud.githubusercontent.com/assets/16890566/19874286/45317998-9f81-11e6-9619-8cb85c257289.png)

This doesn't happen when the bracket is inside double quotes or back ticks. Only happens with single quotes

[2016-10-31 22:54] ramya-rao-a commented on #415
@aeschli Any pointers on how we can fix this?

[2016-11-01 01:27] atombender opened #589 "Add setting to lint whole workspace rather than just the current package"
Example steps:

1. Edit `foo.go` (package `bar`) with some syntax error.
2. Panel correctly shows error.
3. Edit `foo_test.go` (package `bar_test` in same folder) with some syntax error and save.
4. Fix error in `foo_test.go` and save.
5. Error panel is confusingly empty, even though `foo.go` still has syntax errors.
6. Switch to `foo.go`. Panel stays empty.
7. Make a dummy modification and save f

[2016-11-01 01:34] ramya-rao-a commented on #589
Funnily enough, there is an issue asking for linting ONLY in current package
#505

`golint` does have the option of linting a whole directory. Would adding a setting to lint the whole workspace work for you?

[2016-11-01 01:42] atombender commented on #589
Yeah, I don't understand that issue.

So I just realized I was using `golint` instead of `gometalinter`. When I enable the latter, I seem to be getting workspace-wide errors. Maybe close this, then.

[2016-11-01 02:06] ramya-rao-a commented on #589
That's interesting, I didnt know that.

If `gometalinter` does the job, and you don't mind using it (it runs a bunch of linters including `golint`) then yes, go ahead and close this.

[2016-11-01 02:09] atombender commented on #589
Thanks! It would be a good idea to document this behaviour. I find `golint` quite limited, myself.

[2016-11-01 10:11] tw1nk opened #592 "Install tools does not use go.goroot project setting."
When I setup a go.goroot project setting I expect that the install tools would use the go command installed in that location, and not try to find it from the $PATH environment variable.

I have a setup where I want different tooling and different versions of the go environment for different projects and they should all be self contained.

Output:

[code]

[2016-11-01 11:08] alecha commented on #10
Unfortunately I've the same problem, latest version of code and extension. My GOPATH is ok, I've also tried to set it in the `settings.json` file

[2016-11-01 16:55] ramya-rao-a commented on #10
@alecha Can you elaborate on what issue are you facing?

[2016-11-01 17:33] xinyanmsft opened #593 "Debugging: support 'launchBrowser' in launch.json"
It appears 'launchBrowser' is not supported. When I was using C# in VSCode, I find 'launchBrowser' is quite useful. It will be great if vscode-go also support this.

[2016-11-01 17:59] ramya-rao-a commented on #589
@atombender Are you sure you are getting workspace-wide errors even when your workspace has multiple packages?

I tried `gometalinter` on a workspace with multiple packages, and I see linting errors (on save) scoped to just the package to which the current file that is open belongs to

[2016-11-01 18:08] alecha commented on #10
the same of other users, my gopath is ok but when I save (so when the build runs) I get the error `Error: Error: spawn EACCES`

This is my settings.json file

[code]

[2016-11-01 18:25] atombender commented on #589
I spoke too soon. I'm actually seeing the same behaviour as described originally.

I think what happened was I made some test errors in `somepkg` and `somepkg/nestedpkg`. It looks like `gometalinter` is invoked recursively, so it will return errors for both packages. So that works correctly, but it led me to think the issue was resolved.

It seems there's no way to make it run on the whole workspa

[2016-11-01 18:35] ramya-rao-a commented on #10
@alecha What do you see when you run "Go: Current GOPATH" in the command palette?

This current thread is about the extension not able to find the installed tools which I believe is not your case.

Can you try any of the other features? Are they erroring out too?

- Ctrl+Shift+O for outline of your file
- Right-click -> Format document
- Rename a variable

When you see the `Errpr: spawn EACCES`, w

[2016-11-01 18:39] ramya-rao-a commented on #589
Both `gometalinter` and `golint` take directory to lint as a parameter. It defaults to `cwd` if none is provided. The Go extension sets `cwd` to the directory to which the current open file belongs to.

We can add a setting to lint the whole workspace while keeping linting current package as the default option.

[2016-11-01 18:40] atombender commented on #589
That sounds like a good idea.

[2016-11-01 19:41] alecha commented on #10
GoPath is ok: `Current GOPATH:/Users/alessiocavaleri/Documents/Code/go/`
MacOS 10.11.6, Code 1.6.1, extension 0.6.47

- renaming a variable does not throw an error
- format the document does not throw an error

the error is

[code]

[2016-11-01 20:44] ramya-rao-a commented on #10
@alecha
Looks like the problem is when the extension runs "go" commands like `go build`, `go vet`.
This may be related to #585

Can you try running any of the unit tests from the command palette? Since the extension runs tests via `go test` you should see the same error.

[2016-11-01 21:40] ramya-rao-a commented on #585
fs.accessSync would still not help in differentiating file vs directory. Will use fs.statSync instead

[2016-11-01 21:43] #592 closed

[2016-11-01 22:14] ramya-rao-a opened #596 "Add a Wiki page for all the features supported by the extension with Gifs"

[2016-11-01 22:21] ramya-rao-a commented on #394
@mattetti I wanted to revisit a few of the topics here based on the updates we have done for the extension in the past few months

**Missing GOPATH**
In the next update (0.6.48), if GOPATH is not set, a info box will pop

![image](https://cloud.githubusercontent.com/assets/16890566/19909344/7bab07aa-a044-11e6-99a9-a543fd4e8547.png)

Clicking on "Set GOPATH in Workspace Settings" will open the work

[2016-11-02 00:31] #585 closed

[2016-11-02 00:33] DonMcNamara commented on #585
Thank you!

[2016-11-02 01:38] mattetti commented on #394
This is awesome, note also that the next version of go (1.8) will use a
default gopath.
The changelogs have been super useful, and I wish I had a bit more time to
provide a few additional features (list of interfaces implemented by a
strict or value would be neat and already supported by Guru).
I am all having issues when using cgo on some files and the jump to
declaration being broken. I would ne

[2016-11-02 07:12] didrocks commented on #579
Not exactly. I have a state packages where I defined State, Transition, Action. I defined there Abc, and save the file.
I do expect then that state.A would propose Abc in another file, which isn't the case. There is a race between Visual Studio Code and gocode, making the .a file not being regenerated, and so, no completion is proposed with the newly defined Abc.

[2016-11-02 16:18] ramya-rao-a commented on #579
Do you have the gocodeautobuild setting set to true?

[2016-11-02 16:39] didrocks commented on #579
I kept the default, which is set to true, indeed, should I turn it off?

[2016-11-02 20:26] ramya-rao-a commented on #579
No, you don't need to turn it off, I'll get back to this thread once I try to repro this again

[2016-11-03 01:35] fastest963 commented on #442
VSCode 1.6.1
Go 0.6.47

I'm having the same issue. It shows "Loading..." when hovering over `net` functions and won't let me `Go To Definition` on `net` functions. I turned on the developer console and don't see any errors or related messages in there.

[2016-11-03 03:18] itsjamie opened #597 "Update gotests to support subtests"
Hello!

When I'm able to finish up https://github.com/cweill/gotests/pull/28 and have it land, I'd love for vscode-go to update to support the `nosubtests` flag, perhaps via a user setting?

Thank you for the excellent extension.

[2016-11-03 10:25] bennyscetbun opened #598 "[improvement] Completion mess with import or already set variables"
Hi, there is a new completion stuff that is pretty great.
It can let you choose a package from a list of all available package even if not imported yet.
Pretty good.
But if i have a variable with the name of a package, the completion start with unimported package when i want to use the variable.
Also  if you ve already imported a package with that name some wierd stuff happen and could lead to a f

[2016-11-03 10:52] tonyjt opened #599 "godef to net package failed"
F12 to net package source code failed.

macox

[2016-11-03 14:35] bpicolo commented on #360
I have had the same issue with the PHP debugger lately. First day I installed VS Code perfect, no problems. Hasn't worked since

[2016-11-03 14:52] roblourens commented on #360
@bpicolo That is a different extension - https://github.com/felixfbecker/vscode-php-debug/issues

[2016-11-03 14:55] bpicolo commented on #360
@roblourens  Ahh, my mistake, I thought this was the more general vscode repo :)

[2016-11-03 17:24] ramya-rao-a commented on #597
Hi @itsjamie,

Yes, using a setting to to maintain the flags for `gotests` is the right approach.
PRs are welcome, I'd be happy to point you to the place where to start.

[2016-11-03 17:28] ramya-rao-a commented on #598
Hi @bennyscetbun

Yes, the issue of variable and an unimported package completion and sorting is a valid one. https://github.com/Microsoft/vscode-go/issues/559#issuecomment-257368248.
Will look into this soon.

Can you elaborate on the below with an example?

[2016-11-03 17:30] zerbitx commented on #599
Just had the same thing happen to me.  It's working for other stdlib symbols, but does nothing for net.   Autocomplete still works for net.

[2016-11-03 17:36] ramya-rao-a commented on #599
Do you see any errors in the console in the Developer tools? `Developer: Toggle Developer Tools`

[2016-11-03 17:48] ramya-rao-a commented on #599
I can repro this. While debugging, `godef` gives error `godef: no declaration found for net.Dialer` when I tried F12 on `Dialer`.

This is a problem with `godef` and might be related to #515

@tonyjt @zerbitx Can you both chime in on https://github.com/rogpeppe/godef/issues/48 ?

[2016-11-03 18:12] ramya-rao-a commented on #442
This is an issue with `godef` itself.

https://github.com/rogpeppe/godef/issues/48

https://github.com/Microsoft/vscode-go/issues/599

[2016-11-03 18:13] ramya-rao-a commented on #599
Closing as duplicate of #442

[2016-11-03 19:55] atombender opened #600 "Proposal: Option to not show lint errors if there are build errors"
Here's an annoying problem. Say you have this:

[code]

If you run `gometalinter` with all linters enabled, this will get a bunch of errors/warnings.

* `cannot use foo (type string) as type int in field value`
* `ineffectual assignment to foo (ineffassign)`
* `error return value not checked (foo declared but not used) (errcheck)`
* `error return value not checked (cannot use foo (variable of type

[2016-11-03 22:57] zmb3 opened #601 "Add command for clearing coverage highlight"
The `Go: test coverage in current package` command is great, but once you run it there's no way to clear the coverage.

Can we add a command to clear the coverage highlighting?  Or even change the existing command to a toggle command?

[2016-11-04 18:40] ramya-rao-a commented on #601
That would be a nice feature. PRs are welcome!

[2016-11-04 18:41] ramya-rao-a commented on #600
What are your thoughts on running `go vet`? At the moment, build, vet, and linting are all run in parallel

[2016-11-04 18:43] ramya-rao-a commented on #598
Hi @bennyscetbun

I was trying to repro the case when a variable and unimported package have the same name

![image](https://cloud.githubusercontent.com/assets/16890566/19988445/55b5b1a4-a1dd-11e6-96ff-b158f35f728c.png)

For me, the variable comes first and then the package. Can you try the code from above and see what you get? And maybe share a case where the package comes before the variable?

A

[2016-11-04 19:06] atombender commented on #600
I think that would be fine. I quick test _seems_ to indicate that `vet` doesn't give false positives on lines that fail to compile; not sure if that is intentional, a fluke, or just my test case not testing enough problems. For example, change the example's last line to:

[code]

`vet` should complain about an unkeyed field, but doesn't.

[2016-11-04 20:21] marklap commented on #318
This is how I got it to work:

`        {
            "name": "Launch Tests",
            "type": "go",
            "request": "launch",
            "mode": "test",
            "remotePath": "",
            "port": 2346,
            "host": "127.0.0.1",
            "program": "${workspaceRoot}",
            "env": {
                "GOPATH": "${workspaceRoot}/.gopath"
            },
            "a

[2016-11-04 22:00] zia-newversion opened #604 "debugger does not stop the process"
In addition to #360 I am having a problem where if a go program enters an infinite loop, or in a similar fashion, is `http.ListenAndServe`ing, stopping the debug process fails to properly kill the debug process running.

For example here's a program:

[code]

Here's the corresponding launch.json

[code]

(`http.ListenAndServe()` runs a `for { /* ... */ }` loop under the hood. Apart from the other

[2016-11-04 22:59] itsjamie commented on #597
Yeah, I'd be happy to do a PR. If you can just point me in the right direction of where I might add it that would be appreciated. This will be my first time doing anything with VSCode, is there a central location for documentation about extension development I could peruse?

Regarding the implementation, subtest generation defaults to on when the local machine is running >= Go 1.7, how would you l

[2016-11-05 02:01] bennyscetbun commented on #598
Hi
This is an example where it fails
<img width="529" alt="screen shot 2016-11-05 at 02 56 12" src="https://cloud.githubusercontent.com/assets/5469691/20026839/78f878aa-a303-11e6-865f-e3a59887ca68.png">

and for example if you ve got the same package in a lot of different places and already imported it
<img width="575" alt="screen shot 2016-11-05 at 02 59 15" src="https://cloud.githubusercontent.c

[2016-11-05 02:06] bennyscetbun commented on #598
Btw you should avoid to show path of packages with vendor in it ???

[2016-11-05 05:26] ramya-rao-a commented on #598
#603 will group all the packages and show them in the end after the variables/functions/others. You will get that in the next update

About multiple packages having the same name, I can see how in your case it could get annoying. But, wouldn't there be a valid case where you would have 2 packages with same name but offer different things. Why shouldn't auto-complete suggest them then?

About packa

[2016-11-05 05:47] jadrio commented on #515
I have the same issue
OS Ubuntu 16.10
go version go1.7.1 linux/amd64
vscode 1.7.1 02611b40b24c9df2726ad8b33f5ef5f67ac30b44

[2016-11-05 05:54] roblourens commented on #321
Is this still a problem for ya'll?

[2016-11-05 08:23] mukeshdutt5 commented on #551
Now I'm able to download.
Thanks.

[2016-11-05 10:05] bennyscetbun commented on #598
Tell me if i am wrong but if you import a package in a vendor of an other project you will get an error.
For example i am in `github.com/bennyscetbun/testgo` project and imported a vendored package.
<img width="777" alt="screen shot 2016-11-05 at 11 01 43" src="https://cloud.githubusercontent.com/assets/5469691/20029248/828c9272-a347-11e6-97ae-2cf16f60f423.png">

[2016-11-05 19:16] rtezli commented on #321
Yes

[2016-11-05 21:10] ramya-rao-a commented on #598
That's interesting, I tried something similar and didn't get any build errors (in the output window with buildOnSave set to true), which is why I did not remove the vendored packages from the list of importable packages.

When I build my code independently outside of VS Code, I get a different error
`imports github.com/godoctor/godoctor/vendor/github.com/willf/bitset: must be imported as github.co

[2016-11-05 22:59] sfrooster commented on #441
I'm having an issue very similar to this except code completion works, but after a time vscode becomes unusable because there are godef processes hogging the CPU.  Killing them frees the cpu.

OSX Sierra, 1.7.1

[2016-11-06 00:25] ramya-rao-a commented on #441
@sfrooster See #541 and #503

[2016-11-06 00:36] qawarrior commented on #441
This seams to happen after every GO update go through the steps to kill the
barcode process to fix it

On Sat, Nov 5, 2016, 5:26 PM Ramya Rao <notifications@github.com> wrote:

[2016-11-06 11:13] bennyscetbun commented on #598
Hi @ramya-rao-a
i have one tiny last thing about:

You wont be able to build with 2 packages with the same name so importing them in the middle of your code wont be usefull.
The only way to add a package with the same name is to force the name at import  and you ve already done the completion when doing import.
From my PoV not showing other packages that you wont be able to import or that wont ove

[2016-11-06 17:06] ramya-rao-a commented on #598
I knew about the error on using 2 pkgs with same name. I just expected the user to add an alias to one of them 😊

What can be done in such cases is for the auto complete itself to add an alias. That should be easy.

And thanks for all the feedback! That's how we can together make this a great product 😊

[2016-11-06 19:11] ramya-rao-a commented on #597
https://code.visualstudio.com/Docs/extensionAPI/overview would be good point to start with for documentation about extension development for VS Code.

Are you saying that the subtests feature is available only in Go 1.7 and higher?

[2016-11-06 19:38] itsjamie commented on #597
That's correct.

The `gotests` binary will handle the case where a user running Go 1.6 will still generate tests that their version of Go can run by not using the new subtests API via `t.Run`. The underlying change to gotests won't have any effect for those users.

The default behaviour for users running Go 1.7 will currently change if `gotests` is updated after the PR lands. I think that is ok be

[2016-11-07 01:58] kletkeman commented on #420
Also occurs on Sierra. I just got an "Illegal value for line" message if that helps. The work around is to touch another tab and then come back. Stops it every time and you can continue. But it's hugely annoying.

[2016-11-07 03:12] roblourens commented on #321
I don't know if this is true for everyone but it sounds like a couple of you can open two copies of a file with its path displayed differently. @hatuan if you click on the first breakpoint to open the file, and hover the mouse over the tab title, can you compare the path in the tooltip to the path for the second breakpoint?

[2016-11-07 14:33] dylan-bourque commented on #321
I upgraded by VS Code and all extensions to the latest versions this morning and I'm still seeing this behavior on my CentOS 7 system.

CentOS 7.2.1511
Go v1.6.3
VS Code v1.7.1
Go Extension v0.6.47
Delve debugger v0.11.0-alpha (via `go get github.com/derekparker/delve/cmd/dlv`)

The breakpoint shows correctly in the source window when I click the gutter or use the keyboard shortcut.  After launchi

[2016-11-07 17:17] roblourens commented on #321
Can you paste what you see in the debug console when you start debugging and try to set a breakpoint?

And are there any errors in the devtools console?

[2016-11-07 17:37] dylan-bourque commented on #321
I have a vanilla project in `$GOPATH/src/test` loaded in VS Code and launch it from the "Debug" tool window.

I set a breakpoint at line 6 and it correctly shows as a red dot in the margin.  When the process launches, the breakpoint indicator changes to a grey dot with a black center for a fraction of a second before the "This is a test" string is written to the console, the process exits, and the

[2016-11-07 18:24] roblourens commented on #321
Maybe you said this above, but are you able to debug and set breakpoints with delve alone?

[2016-11-07 19:22] dylan-bourque commented on #321
That is correct, @roblourens.  Breakpoints work correctly if I use the Delve debugger directly.

If it helps with troubleshooting, my Linux system is an AWS virtual machine using one of the pre-canned CentOS 7 AMIs.  I don't know which one exactly off the top of my head but I could find out.

[2016-11-08 01:13] gertcuykens commented on #528
I believe there are still problems for mac users installing gotests https://github.com/cweill/gotests/issues/27

[2016-11-08 01:19] gertcuykens commented on #503
hmm could it be there are also issues with go get itself?

[code]

[2016-11-08 01:28] gertcuykens commented on #503
never mind removing `golang.org/x/tools/` to fix the above

[2016-11-08 01:31] gertcuykens commented on #528
removing `golang.org/x/tools/` fixed it for me too

[2016-11-08 02:32] astaxie opened #606 "Proposal: intergrate with gotests"
gotests makes writing Go tests easy. It's a Golang commandline tool that generates table driven tests based on its target source files' function and method signatures. Any new dependencies in the test files are automatically imported.

![](https://github.com/cweill/GoTests-Sublime/raw/master/gotests.gif?raw=true)
https://github.com/cweill/gotests

[2016-11-08 06:52] leaxoy commented on #442
May be we can use gogetdoc instead both godef and godoc.
Use gogetdoc `-json` option we have five properties of `name`, `import`, `decl`, `doc`, `pos`.
For example:
```{"name":"Now","import":"time","decl":"func Now() Time","doc":"Now returns the current local time.\n","pos":"/usr/local/opt/go/libexec/src/time/time.go:777:6"}```
Which give us position for godef's work, and `doc` and `decl` for godo

[2016-11-08 06:59] leaxoy commented on #442
[code]

[2016-11-08 18:53] ramya-rao-a commented on #606
@astaxie The extension is using `gotests` to generate tests already. Try out the below commands and let us know what is missing.

- Go: Generate unit tests for current file
- Go: Generate unit tests for current function
- Go: Generate unit tests for current package

[2016-11-08 19:35] roblourens commented on #321
It looks like people are seeing this in a few OS's, and I don't have an EC2 account. I did try it again with the same Go version as you in Ubuntu, but still not seeing an issue. I'm not sure what else to say - there is a bunch of logging in the debug adapter that would be very useful to see, but you need to clone and build the extension to enable it. If you have the time for that I could help you

[2016-11-09 03:41] ramya-rao-a commented on #598
On second thoughts, I'll go with your suggestion of not showing the importable package if there is an identifier with the same name already in the Go file

[2016-11-09 11:51] astaxie commented on #606
@ramya-rao-a thanks. I find it. it works well

[2016-11-09 11:51] #606 closed

[2016-11-09 19:17] ramya-rao-a opened #609 "Extension Unit Tests for Testing fails in Mac OS X with Go 1.7"

[2016-11-09 19:44] #598 closed

[2016-11-09 22:08] #566 closed

[2016-11-09 22:09] #582 closed

[2016-11-09 22:10] ramya-rao-a commented on #582
Fixed by #591

[2016-11-09 22:54] roblourens commented on #529
Related:

Type `import "math"`, save.

Delete the import, don't save.

Type `math`, and appear that it's missing from autocomplete.

[2016-11-09 23:21] ramya-rao-a commented on #432
@mattetti The latest update has these features:

Commands to switch to test file and back. You can add your own shortcuts for these commands.
        - `Go: Open Test File`
        -  `Go: Open Implementation for Test File`
Navigate to test file after generating unit tests using the `Go: Generate unit tests ...` commands that were added last month

This should cover most of your asks here :)

Happ

[2016-11-09 23:21] #432 closed

[2016-11-09 23:21] ramya-rao-a commented on #389
The latest update (0.6.48) has the fix.
Happy Coding!

[2016-11-09 23:21] #389 closed

[2016-11-09 23:23] ramya-rao-a commented on #598
The latest update (0.6.48) has all the fixes discussed here.
Happy Coding!

[2016-11-09 23:23] ramya-rao-a commented on #592
The latest update (0.6.48) has the fix.
Happy Coding!

[2016-11-09 23:23] ramya-rao-a commented on #585
The latest update (0.6.48) has the fix.
Happy Coding!

[2016-11-09 23:24] ramya-rao-a commented on #563
The latest update (0.6.48) has the fix.

[2016-11-10 04:42] thnt commented on #540
I think you should keep `go.formatOnSave` until Microsoft/vscode#13547 has been resolved

[2016-11-10 05:06] caibirdme opened #611 "1.7 formatOnSave Deprecated"
`go.formatOnSave` deprecated from `vscode 1.7`
set your global config `editor.formatOnSave` to true if you like

---
can't be better to add this to doc or changelog

[2016-11-10 05:15] Pitchanon commented on #611
Thank you so much for all you have done for us.

[2016-11-10 06:49] helinwang commented on #611
It's `"editor.formatOnSave": true,` in my vs code. (not `edit.formatOnSave`)

[2016-11-10 07:04] thessem commented on #445
No, It went away after a complete flatten and re-install of vscode

[2016-11-10 07:04] #445 closed

[2016-11-10 07:08] caibirdme commented on #611
@helinwang Sorry for my careless, u r right

[2016-11-10 07:26] aeschli commented on #415
@ramya-rao-a The bracket pair matching code looks at the scopes and ignores brackets in strings, regexes and comments. Unfortunately the go grammar seems to treat single quoted characters as none of there (constant.other.rune.go).
One way to fix this would be to make a request to the grammar authors (https://github.com/atom/language-go) to also mark it as a string.
Alternatively we would need a wa

[2016-11-10 14:10] tilinna commented on #611
I wouldn't like to enable formatting on all languages. Therefore, I suggest the go.formatOnSave to function like previously until https://github.com/Microsoft/vscode/issues/13547 is fixed.

[2016-11-10 14:48] nezorflame commented on #438
Getting the same behaviour on Mint 18 with the vscode 1.7.1 and go 1.7.3.

[2016-11-10 18:11] ramya-rao-a commented on #611
@caibirdme A note on deprecating `go.formatOnSave` in favour of `editor.formatOnSave` was added to the Changelog during the release, but I had forgotten to add it to the README which is now updated as well.

@tilinna I'd like to see if more from the community feel the same way. If yes, then I'll circle back to this nexst week.

[2016-11-10 20:26] s-u-p-e-r-t-r-a-m-p commented on #346
same here - no results; fedora 23 vscode 1.7.1 02611b40b24c9df2726ad8b33f5ef5f67ac30b44

[2016-11-10 23:31] dbudworth commented on #540
agreed on it needing to be a language specific thing.
All go editors format on save as it's expected by the community that you have ran your code through "go fmt"

that is not expected by folks in other languages in general.  If I formatted javascript on save, i'd have a lot of really annoyed co-workers.

As it stands, I basically can't use vscode as my go editor as I'm so used to format-on-save t

[2016-11-11 00:38] neelance commented on #611
I just tried `editor.formatOnSave` and it completely broke it for me, because I don't want to format our TypeScript and our JSON files, only Go. I found no way to only make it happen for Go. The only way to continue working was to disable `formatOnSave` entirely. I'd say this is a regression and makes this feature unusable. It is especially bad since formatting on save is an expected default in th

[2016-11-11 01:06] ramya-rao-a commented on #611
This change has been reverted due to popular demand in the latest update. Will wait for VS Code to come up with language specific formatOnSave setting.

[2016-11-11 01:06] #611 closed

[2016-11-11 02:17] neelance commented on #611
Thanks for fixing this so quickly!

[2016-11-11 07:07] ramya-rao-a commented on #611
@neelance No problem
Thanks for reporting issues and pain points. I learn something new each day :)

[2016-11-11 08:40] sindrepm opened #613 "Format removes imports of vendored packages in use"
I just upgraded to the latest version and discovered a bug. When I have imports like the following:

[code]

Whenever I save the file, those import lines are removed even if they are referenced in the code. This has worked fine up until the last upgrade so not sure what has happened. From what I have found, it only applies to packages which contains a hyphen as shown above (e.g. "go-gitlab" and "g

[2016-11-11 16:37] AlekSi commented on #613
For me it's `gopkg.in/Shopify/sarama.v1`. I think this is due to package name is different from import path's last element.

It's really annoying.

[2016-11-11 16:51] AlekSi commented on #613
It works with `"go.formatTool": "gofmt"`. So my guess it is something between `goreturns`, `GOPATH` and `vendor/`.

[2016-11-11 19:32] ramya-rao-a commented on #613
Can you run `goreturns` and/or `goimports` from the command line independent of VS Code and see if you still have the issue? This is to determine if the problem is with the formatting tool or with how VS Code uses the formatting too.

[2016-11-12 09:39] sindrepm commented on #613
I have tried running `goreturns`, `goimports` and `gofmt` directly on the .go file, and it works fine. The import lines are not removed. However, saving from the editor it immediately removes those imports.

[2016-11-12 17:18] ramya-rao-a commented on #613
Can you share your settings?

[2016-11-12 17:59] krum110487 commented on #546
I was working on this a bit today, and it seems 1.7.1 and the the latest go extension as of today is working exactly how I expect.

[2016-11-12 17:59] #546 closed

[2016-11-12 21:27] ramya-rao-a commented on #613
I tried the below code and I get build errors(`syntax error: unexpected -, expecting expression`), but no imports get removed on save
[code]

[2016-11-13 08:24] AlekSi commented on #613
My settings don't have anything Go-related except `"go.gopath"` with a single path.

Most, if not all, tools for Go (including `gofmt`, `goimports` and `goreturns`) work by parsing code into AST, modifying AST and printing it back. If Go code has syntax errors, it can't be parsed, and the tool just exits with an error message. That's why import is not removed by tool – tool did nothing.

Go differ

[2016-11-13 09:00] AlekSi commented on #613
I created a small example: https://github.com/AlekSi/vscode-bug

[2016-11-13 19:09] voigt commented on #530
I've got exactly the same issue. Also installed delve via brew.

[code]

`launch.json`:
[code]

* nothing in debug console
* its not possible to stop "debugging"; Killing the window is helping.
* `${workspaceRoot}` doesn't change anything.
* [red break](https://cloud.githubusercontent.com/assets/2982698/20248052/7348bb24-a9dc-11e6-8542-b8aef5a496fb.png) points turn [grey](https://cloud.githubuserc

[2016-11-14 00:35] ramya-rao-a commented on #613
@AlekSi

Previously, the formatting tool (`gofmt`, `goreturns`, `goimports`) ran on the file on disk, which meant we had to save the file before running the format even if the user didn't want to.

As a means to fix that I had made the change to use `stdin` as input to the formatting tool instead of passing filename
This broke your scenario of vendor imports, because the formatting tool was unable

[2016-11-14 08:15] aeschli opened #615 "When saving a Go file (with either Ctrl-S or from menu) a line near to my cursor position is removed. Does not seem to happen on plain text, just Go, so far."
_From @theescapers on November 13, 2016 23:57_

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:53:14.822Z)
- OS Version: Windows_NT ia32 10.0.14393
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.49|

---

Steps to Reproduce:

1.
2.

_Copied from original issue: Microsoft/vscode#15436_

[2016-11-14 08:29] zuojinmin opened #616 "mac can debug code？ mac os 10.12.1 version"
setting
{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "go",
            "request": "launch",
            "mode": "debug",
            "program": "${workspaceRoot}/src/hello",
            "env": {},
            "args": []
        }
    ]
}

wrong：-》  could not launch process: could not get thread count

[2016-11-14 16:03] y0ssar1an opened #617 "Update the publisher from lukehoban to Microsoft"
If this is the new home for `vscode-go`, then all references to `lukehoban/vscode-go` should be removed. It's confusing. I initially assumed I didn't need a Go extension, because surely `Microsoft/vscode-go` was the default Go package, and it was more up to date than `lukehoban/vscode-go`, which hasn't been updated since May. `lukehoban/vscode-go` also shows up as having been forked from `Microsof

[2016-11-14 19:25] ramya-rao-a commented on #617
`Microsoft/vscode-go` is the repo where the Go extension lives.
`lukehoban/vscode-go` is Luke's personal fork of the extension just like I have mine `ramya-rao-a/vscode-go`
Personal forked repos are where we choose to develop features before merging to the main Microsoft repo.

This is incorrect. The Go extension is not shipped as part of VS Code and so is not any kind of "default". It is definite

[2016-11-14 19:29] ramya-rao-a commented on #615
@theescapers Can you share an example code/ gif where you see this issue?

[2016-11-14 19:30] y0ssar1an commented on #617
Can we please make it so that it appears correctly in the Extensions menu?

![image](https://cloud.githubusercontent.com/assets/1250684/20279507/a9796820-aa5d-11e6-8b45-af5ec4f15d88.png)

[2016-11-14 19:30] roblourens commented on #616
Delve, which we rely on for debug support, is broken on that version of mac os. Issue here - https://github.com/derekparker/delve/issues/645

[2016-11-14 19:30] #616 closed

[2016-11-14 19:59] ramya-rao-a commented on #617
Well.... that is the publisher id. @seanmcbreen @lukehoban Some history insights here?

[2016-11-14 21:07] sindrepm commented on #613
@ramya-rao-a

Thanks for the update. I am pretty sure my issue is the same as @AlekSi mentions. It can very easily be reproduce with this simplified code:

[code]
Try saving this file and the import line is removed. I do have `github.com/xanzy/go-gitlab` in my vendor folder.

Your workaround by changing `go.formatTool` to `gofmt` worked! With `goreturns` it fails.

[2016-11-14 23:13] ramya-rao-a commented on #613
@sindrepm Great, the pkg is a vendor pkg for you too. The next update (mostly end of this week), should have the fix

[2016-11-15 01:08] zuojinmin commented on #616
what about this pro reason?

[2016-11-15 01:13] roblourens commented on #616
I don't understand what you mean

[2016-11-15 01:16] zuojinmin commented on #616
Solving the problem is a problem.？

[2016-11-15 01:17] zuojinmin commented on #616
if osx verison is 10.12.1 i can`t use dlv?

[2016-11-15 01:18] roblourens commented on #616
Right. We need delve (or MacOS) to fix their issue.

[2016-11-15 01:20] zuojinmin commented on #616
thanks ,if you can  Solve  the problem ,plz tell me

[2016-11-15 02:02] alexandrudima commented on #415
I'd recommend for the go grammar to align with other grammars and emit a token containing "string" in its scopes for `'['`... We can ofcourse make it configurable, but IMHO that looks like it doesn't have a syntactical purpose -- i.e. it looks to me like a character / string constant...

[2016-11-15 05:42] nuclearsandwich commented on #358
@ramya-rao-a thanks for looking into this! Reporting this on behalf of someone I'm mentoring: we're running into this on a Windows 10 running Code 1.7.1 with Go extension 0.6.49

- `go.gopath` is set in workspace settings.json
- dlv.exe is in `%GOPATH%\bin` and I can run it from a command prompt by specifying the path to it (that is, it isn't in `%PATH%` but is in the GOPATH bin folder).
- We atte

[2016-11-15 11:07] l2dy commented on #616
@zuojinmin See https://github.com/derekparker/delve/issues/645#issuecomment-260605967

[2016-11-15 15:58] ITSecMedia commented on #520
Also trouble on Windows 10 x64 & VSCode 1.7.1 + latest vscode-go

gofmt -w    doesn't work anymore.
I have to use the Terminal to manually call gofmt on the files to get the job done.

Manual trigger of Go-Format via a popup menu would be help already.

[2016-11-15 16:09] foobar commented on #346
update: I've no issue with current version so the problem should have been fixed somewhere

[2016-11-15 16:13] MrLiet opened #618 "Support the Run action by using the noDebug launch arg"
Hello.

I have compile error:

![image](https://cloud.githubusercontent.com/assets/23429917/20272702/4ff18ac6-aac1-11e6-9e7b-215ac472d93c.png)

Source code:

[code]

Console output:

Im use:

- Windows 64 bit
- Go 1.7.3
- Mingw 64
- VS Code

VS Code settings:
[code]

and Launch settings:
[code]

And it's work fine with glfw 3.1 version
![image](https://cloud.githubusercontent.com/assets/23429917/2

[2016-11-15 16:17] dc0d opened #619 "Go (golang) Auto Complete (Half) Works"
- VSCode Version: 1.7.1
- OS Version: Ubuntu 14.04

Steps to Reproduce:

Can't provide steps to reproduce. It happens spontaneously. Others had this issue too (on gitter).

The default gocode auto built option is not changed: `"go.gocodeAutoBuild": true`.
And I have these personal settings (just FYI; and I do not know if they matter in this matter):
[code]

And I have this script `rs-gocode`:
[cod

[2016-11-15 18:07] ramya-rao-a commented on #583
@ITSecMedia Any reason you are using the `-w` flag?
This flag is intended to write the formatted content on disk, where as internally we use the `-d` option so that the formatting tool gives diff output which the extension uses to apply the edits on the document

[2016-11-15 18:07] ramya-rao-a commented on #520
@ITSecMedia I am replying on the other thread you opened #583

[2016-11-15 18:21] dring1 commented on #583
Removing all flags, no formatting is taking place.
This is my following config:
[code]
Running `go fmt .` through a terminal will result in the file being formatted correctly.

From the output panel I only see the following

[code]

[2016-11-15 18:40] ramya-rao-a commented on #583
@dring1 Can you set `go.useDiffForFormatting` to `false` and try again ?

[2016-11-15 19:21] dring1 commented on #583
This appears to be doing the trick! Thank you!

Although auto-import does not appear to be working ( if that is expected functionality)
[code]

[2016-11-15 19:37] ITSecMedia commented on #583
On my windows machine the setting [ "go.useDiffForFormatting": false, ] shows no effect.
gofmt and goreturns both don't do the -w formatting inside VSCode,
But when I call gofmt -w main.go in VSCode terminal, the file gets reloaded / formatted.

My settings are
[code]

[2016-11-15 19:45] ramya-rao-a commented on #583
@ITSecMedia As long as you use `-w` in the formatflags, things will not work as expected as explained here https://github.com/Microsoft/vscode-go/issues/583#issuecomment-260718842

I will be updating the code to ignore this flag altogether later this week. Can you please remove the `w` flag and try?

@dring1 The reason setting `go.useDiffForFormatting` to `false` worked for you is due to an upstre

[2016-11-15 19:50] dring1 commented on #583
Can do, thank you for your help.

[2016-11-15 20:02] ITSecMedia commented on #583
@ramya-rao-a   I appreciate hint #583 !
I haven't seen that one.
It's working now. 👍
Thank you very much.

[2016-11-15 20:51] ramya-rao-a commented on #583
Glad I could help, Happy Coding!

[2016-11-16 08:49] groseb commented on #262
Hi,
I had the exact same issue and found this which solved it :

From https://github.com/nsf/gocode#setup

[2016-11-16 09:11] MrLiet commented on #618
Im know its Delve bug.

Question: Can i run code without delve debugger inside VS Code ?

[2016-11-16 15:19] brandonblock commented on #601
Just wanted to add that I'd warmly welcom this feature.
I've never worked with TypeScript, but may be willing to give it a shot

[2016-11-16 19:54] scorphus opened #621 "Formatter adds a line importing the very same current package"
Yeah, as strange as it sounds, the formatter insists on adding an import line of the very same package I'm editing. The obvious error is `import cycle not allowed`.

[2016-11-16 19:57] tagatac commented on #346
@foobar did you uninstall and reinstall or something? I am experiencing this issue with VS Code 1.7.1, Go extension 0.6.49.

[2016-11-17 01:14] ramya-rao-a commented on #621
@scorphus Can you add a sample code here where you see this issue?

[2016-11-17 03:26] foobar commented on #346
@tagatac I did not uninstall it.
Another guess is that it has something to to with your project. Did you try other projects?

[2016-11-17 04:29] yizhang82 opened #623 "Go plugin doesn't expand ~ in GoPath"
- VSCode Version: 1.7.1
- OS Version: Mac OSX Sierra 10.12.1
- Go PlugIn: 0.6.39
Steps to Reproduce:

1. set goPATH=~/gosrc and install plugins there using 'go get'
2. Open VsCode and add following setting

"go.gopath": "~/gosrc"

Save and exit.

3. Open VS code - VS code still prompts for missing plugin such as golint, etc
4. If you change ~ to the full path '/users/yizhang/gosrc',  go plugin wou

[2016-11-17 04:41] tagatac commented on #346
I can try, but my coworker was able to find references in the same project right next to me.

[2016-11-17 10:02] ameykpatil commented on #20
@erm0l0v I am facing an exact same issue, did you able to solve it?

[2016-11-17 10:47] gngeorgiev commented on #619
Experiencing the same behavior, anyone?

[2016-11-17 12:38] scorphus commented on #621
Oh, it's no longer an issue. It might had been a flicker, a momentary glitch. Should it happen again, I'll add a comment with sample code and a screencast. Thank you for replying.

[2016-11-17 12:38] #621 closed

[2016-11-17 13:31] zmkhp opened #624 "Golang 1.7.3 & Go language 0.6.49,when I input "import "fmt"",this line is been deleted automatically"
When I input "import "fmt"",the keyword "import" was been tag unknown.After ENTER,this line was been deleted.As shown as the attachments.
I have try #441 ,it can't work.
Thanks!
![image](https://cloud.githubusercontent.com/assets/19316751/20391139/0c2fa0c2-ad0d-11e6-9d20-95b3ed51ffd9.png)
![image](https://cloud.githubusercontent.com/assets/19316751/20391150/17073834-ad0d-11e6-95a9-7f849aa20cba.png

[2016-11-17 13:54] cristim opened #625 "Repeated save, lint, reformat since latest update"
It seems the latest update enters an infinite loop whenever the code being typed is not entirely correct, which can happen a lot while writing it.

[2016-11-17 14:19] dc0d commented on #619
I saw other people with same problem on gitter vscode-go.

[2016-11-17 21:22] ramya-rao-a commented on #625
@cristim Can you give an example?

Does this happen on save or just typing?

Can you share your settings?

[2016-11-17 21:25] ramya-rao-a commented on #624
@zmkhp

Does the import line disappear on save?
Do you have any code that is using the `fmt` package?

If you havent used the `fmt` package, but only imported it, then formatting tool removes it by design.

The default formatting tool is `goreturns` which adds missing imports and removes unused imports.
And formatting is run on save (you can disable it)

Which is why you see that your import keeps

[2016-11-17 21:26] ramya-rao-a commented on #624
We use `gocode` for autocomplete and it does not support keywords. So `impor` will not suggest `import`

[2016-11-17 21:42] #599 closed

[2016-11-18 06:14] zmkhp commented on #624
@ramya-rao-a Thanks for your answer.
The import line disappear when I input ENTER to a new line at the first,not on save and haven't used it.
And I find these appearances as the follow:
a.If firstly enter "import ("fmt")" and then "import "fmt"",the last line doesn't disappear
b.If firstly enter "import "fmt"",this line will been deleted

I try to rec my operations as a attachment.

[2016-11-18 06:41] Jamesxql opened #626 "Message to update go-outline does not go away even after the update in 0.6.49"
When I type code in vscode, it always hint "The Go extension is better with the latest version of "go-outline". Use "go get -u -v github.com/lukehoban/go-outline" to update"

but I have already installed it.

<img width="1824" alt="qq20161118-0 2x" src="https://cloud.githubusercontent.com/assets/10518551/20421136/075ddbb4-ad9d-11e6-991a-8c094d9763c3.png">

[2016-11-18 07:54] ramya-rao-a commented on #496
#622 can fix this, so re-opening

[2016-11-18 07:56] ramya-rao-a commented on #626
@Jamesxql There has been recent updates to the `go-outline` tool. This message is asking you to update your version of `go-outline` tool, so that the Go extension can use the newer features of the `go-outline` tool.

Do you foresee any issues with updating?

[2016-11-18 08:02] ramya-rao-a commented on #624
Can you share your settings?
Do you have autosave on?
Does it happen when you change your formatting tool to `goftmt` ?

[2016-11-18 08:04] ramya-rao-a commented on #618
Without using delve debugger, you can only run the `go` commands in the integrated terminal. Like `go build` `go run` etc.

@roblourens Can you help with the debugging aspect of the issue?

[2016-11-18 08:09] ramya-rao-a commented on #619
A little on the `auto build` feature of `gocode`
`gocode` works with packages. Packages are built when you `go get` or `go install`
The `auto build`  feature of `gocode` gives you intellisense on code that is not yet built and installed into package.

The author claims that the feature is experimental and may or may not work in certain cases.

@dc0d Have you seen issues while using other packages

[2016-11-18 08:10] gngeorgiev commented on #619
@ramya-rao-a I have experienced this within the same project, different packages. Also, `auto build` or not, did not make any difference for me.

[2016-11-18 08:29] ramya-rao-a commented on #619
@gngeorgiev

Say, in your project, you are working on package `mypkg`. You import package `otherPkg` which has a function `Hello()`. You make no changes to `otherPkg` after installing it via `go get`.

Do you see intellisense issues while accessing members of `otherPkg` as well or only while accessing members of your own package?

[2016-11-18 08:31] cristim commented on #625
This is happening while typing: it would just repeatedly save, lint, reformat and save again.

Eventually the machine will be overwhelmed by all the lint processes started by the gometalinter which get all CPU cores at 100%.

Here are all my go-related global settings:
[code]
It appears to be triggered by the `go.lintOnSave` option, it starts happening if I override that in my local settings to `t

[2016-11-18 08:35] ramya-rao-a commented on #625
What you have shared is the default settings. I was looking for the settings you have overridden.

[2016-11-18 08:36] ramya-rao-a commented on #625
Particularly, if you have `files.autoSave` or `editor.formatOnSave` and any other Go setting

[2016-11-18 08:47] gngeorgiev commented on #619
@ramya-rao-a Here's my case:

I have `.go` files in `<project>/src/services/<someService>/service.go`. I generate some mocks in `<project>/mocks/services/<someService>/service.go`. When I try to use the `mock_service` package in my tests `...service_test.go` I get absolutely no autocomplete, not for the package, not for its methods, not for its returned values.

Interesting fact 1: Even `goimports

[2016-11-18 08:51] ramya-rao-a commented on #619
Any errors in the console? Run `Developer: Toggle Developer Tools` to see the console.

In the coming update, I'll add more error logging to console. Should help us in cases like these.

[2016-11-18 08:52] ramya-rao-a opened #627 "Errors from each of the Go tools should be logged to console"

[2016-11-18 08:56] gngeorgiev commented on #619
@ramya-rao-a nope, none, sorry :disappointed:

[2016-11-18 08:59] ramya-rao-a commented on #619
Well, could I ask you to share sample code so that I can try to repro on my end ?

[2016-11-18 09:38] dc0d commented on #619
@ramya-rao-a Assuming we have this directory opened in VSCode:

/ctrl
/dashboard
/datastore
notes.md

The first two packages have "acceptable" auto complete. But for some reason it never works for "datastore" package.

The whole app works & is running at production.

[2016-11-18 15:56] cristim commented on #625
@ramya-rao-a I mentioned at the end of my previous comment:

[2016-11-18 17:33] ccirello opened #629 "Extension cannot find go binary after last upgrade"
![image](https://cloud.githubusercontent.com/assets/138827/20439759/73ab219e-adbd-11e6-8aaa-2240612972ee.png)

Both user and workspace configurations possess `go.goroot` set.

[2016-11-18 17:53] roblourens commented on #618
It sounds like you just want to run code (without debugging it) from vscode, to avoid using Delve?

There's no way to do that now, without starting it from the terminal. node-debug does have that option though, through the launch config option `noDebug`, and maybe we could add it to go-debug too.

[2016-11-18 17:53] ramya-rao-a commented on #619
@dc0d Unfortunately, this is one of the cases, where if I can't repro the issue, I cant help :(

Therefore, if you can say create a small example and share it in a git repo, then I can try tan repro

[2016-11-18 18:00] ramya-rao-a commented on #625
**it would just repeatedly save** : I would expect this to happen only if `files.autosave` is enabled
**reformat** : Formatting, build, linting are run on save. Of all the actions run on save, formatting is the only action that makes changes to the file. Linting does not change the file contents
**and save again** : This would be explained by `files.autosave` being enabled.

Which is why I am aski

[2016-11-18 18:16] ylns1314 commented on #392
There is a walkaround:
    "go.formatOnSave": false,
    "editor.formatOnSave": true,

[2016-11-18 23:22] ramya-rao-a commented on #629
What platform are you on?

Can you check if you have the `go` file in your <GOROOT>/bin folder ?

[2016-11-18 23:23] ccirello commented on #629
MacOS Sierra

Yes, the go binary is there.

[2016-11-18 23:27] ramya-rao-a commented on #629
The only change we made around that area in the latest update is to use `fs.statSync` instead of `fs.existsSync`

https://github.com/Microsoft/vscode-go/commit/1687b3cf7009e2e02f7398218992d5e00816c5eb

Do you see any errors in the console? Run `Developer: Toggle Developer Tools` to see the console

[2016-11-18 23:29] ramya-rao-a commented on #629
And while you are in the console can you run `process.env['GOROOT']` ?

[2016-11-18 23:56] ccirello commented on #629
![image](https://cloud.githubusercontent.com/assets/138827/20450735/07b413c0-adf3-11e6-8ddb-a060c2b52aa8.png)

[2016-11-19 00:17] briantkennedy opened #630 "goimports fails to consider global variables in package"
I just updated to 0.6.49 and format on save is now broken for goimports.  After looking at recent changes, I believe that https://github.com/Microsoft/vscode-go/commit/b143a0d5cde4c6579a23d12f0c277370084b0975 triggered the breakage.

The difference is that the text for the file is passed via stdin instead of providing the on-disk filename.  The consequence of passing from stdin is that the goimpor

[2016-11-19 00:18] ramya-rao-a commented on #629
And `/Users/uldericofilho/.gvm/gos/go1.7.3/bin` has the `go` file?

[2016-11-19 00:19] ccirello commented on #629
yes

[2016-11-19 00:22] ccirello commented on #629
Actually, I am not sure it is related to this problem... But often, if I start vscode from shell (`code .`) and open a reconfigured workspace (containing custom `go.goroot` and `go.gopath`) - it simply ignores my configuration. I must close vscode, open from the launch bar, open the workspace and eventually it works.

It is as if it ignores my environment variables.

[2016-11-19 00:30] ramya-rao-a commented on #629
The custom `go.goroot` and `go.gopath` in your settings file overrides the ones that are the environment variables in the shell from where you open using `code .`

Below is the code that is run to get the path to the go run time. When this returns null/undefined/empty string, the message you see is shown.
Looking at this code, it is impossible that the returned value will ever be null/undefined/em

[2016-11-19 01:04] ramya-rao-a commented on #630
The reason why I changed from passing the filename to passing the filecontents via stdin was that previously formatting an unsaved file, forcefully saved the file.

#613 is an issue that `goimports` didnt find the imports for vendor packages and so removed them.
The root cause was the change mentioned above.

I put a fix in where I pass the `cwd` to the process running the formatting tool, so that

[2016-11-19 02:36] Jerry7X commented on #346
Hi，i have this issue too at the latest version, any suggestion?

[2016-11-19 03:16] Jamesxql commented on #626
@ramya-rao-a I have already update it, but vscode always hit me that...

[2016-11-19 03:25] Jamesxql commented on #626
platform: MacOS Sierra 10.12.1
vscode: 1.7.1
go: 1.7.3

[2016-11-19 03:32] zmkhp commented on #624
![image](https://cloud.githubusercontent.com/assets/19316751/20452708/b9ef33fa-ae4b-11e6-8038-cef5fa872d4f.png)
This is my settings from plugin suggests.
If anyone is fault,I correct it.
Thanks!

[2016-11-19 06:07] ramya-rao-a commented on #624
You have `files.autoSave` enabled which means your file keeps getting saved automatically after a particular delay.
Since you have `go.formatOnSave` enabled as well, every time your file gets saved, formatting is run on it.
Formatting tools like `goreturns` and `goimports` remove import statements if the imported package is not used in the code.
This is what is happening in your case.

Hope this h

[2016-11-19 06:07] ramya-rao-a commented on #624
The below is a note from the ReadMe for this extension

[2016-11-19 06:19] ramya-rao-a commented on #626
Can you run `$GOPATH/bin/go-outline -h` in your terminal and share the result?

[2016-11-19 14:27] Jamesxql commented on #626
It shows
`Usage of ./go-outline:
  -f string
    	the path to the file to outline
  -imports-only
    	parse imports only
  -src string
    	source code of the file to outline`

[2016-11-19 15:51] mkatanski opened #631 "[Format Tool] Error on save - editor becomes unpredictable"
When I save opened `Go` source file, VSCode editor behave strange.

![vscode_go_error](https://cloud.githubusercontent.com/assets/8478375/20456190/70fe9b70-ae70-11e6-8930-5e6d4d9124cd.gif)

I can't see any error in `Chrome Developer Tools`. After I click another tab, it stops and go back to normal. However its annoying and makes impossible to code in `Go`.

It looks like some kind of infinite loop

[2016-11-19 19:02] ramya-rao-a commented on #626
So here is what is happening behind the scenes. The flag `-imports-only` is the new feature of `go-outline` that the latest update of the Go extension wants to use. The Go extension calls `go-outline` and if it returns error saying `flag provided but not defined: -imports-only`, we show the message you see so that user updates the `go-outline` tool.

The result of `$GOPATH/bin/go-outline -h` that

[2016-11-19 20:57] ramya-rao-a commented on #631
@mkatanski Sorry to hear about the inconvieniece.

Do you have `files.autoSave` enabled?

[2016-11-19 22:38] mkatanski commented on #631
No, `files.autoSave` is disabled. I tried with every possible value

[2016-11-19 22:54] hickeng opened #632 "Add go.goos to the extension options"
Currently the only way I've found to set GOOS for the Go tools in vscode is to set the environment before launching the editor - this doesn't work well if you have multiple workspaces that may need different GOOS settings.

While I appreciate the prompt to ensure that the code at least compiles on multiple platforms, not all 3rd party packages do so and that causes real issues with guru and the ot

[2016-11-19 22:59] rightfold opened #633 "Disable tool install suggestions"
vscode-go suggests I install a bunch of tools, such as golint.

How do I turn off these suggestions without installing the tools?

[2016-11-20 00:37] heliorosa opened #634 "Function signature misreported for function ( bigAdd := (*big.Int).Add )"
for the following program, the signature showed is `bigAdd func(x, y *Int) *Int` and obviously should be `bigAdd func(z, x, y *Int) *Int`.

[code]

[2016-11-20 00:50] ramya-rao-a commented on #631
There was only one net change in the formatting area in the last few updates.

It was to pass the file contents to the formatting tool via stdin instead of the formatting tool working on the file on disk. This was made to enable formatting to work on unsaved changes.

I have reverted the change in the master branch (it has caused a few other issues).

Since I can't repro your case,  can you try to

[2016-11-20 00:52] ramya-rao-a commented on #625
There was only one net change in the formatting area in the last few updates.

It was to pass the file contents to the formatting tool via stdin instead of the formatting tool working on the file on disk. This was made to enable formatting to work on unsaved changes.

I have reverted the change in the master branch (it has caused a few other issues).

Since I can't repro your case,  can you try to

[2016-11-20 01:18] ramya-rao-a commented on #630
@briantkennedy I am able to repro your case.

Here is the funny thing.

I reverted the change I made regarding passing file contents via stdin instead of providing the filename to the formatting tool.

The revert fixes your issue but only when you use `goreturns`. Using `goimports` still has issues.

Can you confirm this by running both `goreturns` and `goimports` in the command line for your file

[2016-11-20 01:28] ramya-rao-a commented on #633
The Go extension depends on individual Go CLI tools to provide various features.
Right now, there is no way to turn off the suggestions altogether.

But in certain cases, there are workarounds.
Say in your case you don't want to install `golint`, then add `go.lintOnSave:false` to your setting.
That will switch off the linting feature and so the need to install `golint`.

You can do the same for fo

[2016-11-20 02:09] zmkhp commented on #624
@ramya-rao-a Thanks a lot.I Got it!

[2016-11-20 02:10] #624 closed

[2016-11-20 02:44] ramya-rao-a commented on #624
Great! Happy Coding!

[2016-11-20 05:44] Jamesxql commented on #626
This is my go env shows:
`GOARCH="amd64"`
`GOBIN="/usr/local/Cellar/go/1.7.3/bin"`
`GOEXE=""`
`GOHOSTARCH="amd64"`
`GOHOSTOS="darwin"`
`GOOS="darwin"`
`GOPATH="/Users/xuqiaolun/Desktop/golang:/Users/xuqiaolun/Desktop/gowork"`
`GORACE=""`
`GOROOT="/usr/local/Cellar/go/1.7.3/libexec"`
`GOTOOLDIR="/usr/local/Cellar/go/1.7.3/libexec/pkg/tool/darwin_amd64"`
`CC="clang"`
`GOGCCFLAGS="-fPIC -m64 -pthread

[2016-11-20 06:01] ramya-rao-a commented on #626
And you set `go.gopath` setting in your user settings ?

My theory is that you might have `go-outline` installed in multiple locations.
And that running `go get ...` updated it in one location.
And that the Go extension might be picking up the `go-outline` from the location where it was not updated.

Can you run a search and see if you the `go-outline` file in multiple locations?
(These multiple l

[2016-11-20 13:37] Jamesxql commented on #626
Yes, that's the problem, there is actually more than one installation locations. I have resolved it already. Thank you very much.

[2016-11-20 13:39] #626 closed

[2016-11-20 15:26] ramya-rao-a commented on #626
Great! Happy Coding!

[2016-11-20 15:26] Gaboose commented on #231
For Arch Linux:
`sudo pacman -S go-tools`

[2016-11-20 17:10] kisPocok commented on #219
Hi, I'm in the same shoes. The _terminal.ts_ is missing. Could you tell me where I can find it?
https://github.com/Microsoft/vscode-node-debug/tree/master/src/node

Thanks

[2016-11-20 17:44] weinand commented on #219
@kisPocok the functionality previously available in terminal.ts has been moved to the VS Code core. A debug adapter can now just call `runInTerminalRequest` to launch the debug target in a configurable external terminal.

See how this is done for node-debug:
https://github.com/Microsoft/vscode-node-debug/blob/master/src/node/nodeDebug.ts#L875

[2016-11-20 18:33] cristim commented on #625
@ramya-rao-a  I have no problem sharing my config:

[code]

I traced the problem to `go.formatOnSave`, the problem happens only when that is enabled, regardless which other options I use. I also noticed that when it happens, the code of my program often gets mangled, lines get moved around or duplicated, etc, which is a really bad issue.

When disabling it and formatting on demand everything works

[2016-11-20 22:49] ramya-rao-a commented on #627
Done with https://github.com/Microsoft/vscode-go/commit/0fd2398ac09c3d73ae54ca38cee5ab9b79c52dc8

[2016-11-20 22:49] #627 closed

[2016-11-20 22:51] codekraft-studio commented on #231
on: `go1.6.2 linux/amd64` just type `go doc <package>` to get the documentation as described in help output.
[code]
should be the same as godoc

[2016-11-20 22:54] ramya-rao-a commented on #625
I totally agree that formatOnSave is a very important feature.
As I said in https://github.com/Microsoft/vscode-go/issues/625#issuecomment-261750425 there was only one change that was done in the area of formatting. And I am betting that must have been the reason for what you are seeing.

I am reverting the said change and will be releasing an update tomorrow.

If you have some time before that, I

[2016-11-21 04:13] ramya-rao-a commented on #440
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc` and that should fix this issue.

[2016-11-21 04:13] #440 closed

[2016-11-21 04:13] ramya-rao-a commented on #442
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc` and that should fix this issue.

[2016-11-21 04:13] #442 closed

[2016-11-21 04:14] ramya-rao-a commented on #599
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc` and that should fix this issue.

[2016-11-21 04:14] ramya-rao-a commented on #496
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc` and that should fix this issue.

[2016-11-21 04:15] ramya-rao-a commented on #515
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc` and that should fix this issue.

[2016-11-21 04:15] #515 closed

[2016-11-21 04:16] ramya-rao-a commented on #567
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc` and that should fix this issue.

[2016-11-21 04:16] #567 closed

[2016-11-21 04:17] ramya-rao-a commented on #613
The latest update of the Go extension (0.6.50) has the fix for this.

[2016-11-21 04:22] ramya-rao-a commented on #630
I have reverted the said change, and the latest update (0.6.50) has the fix.

[2016-11-21 04:22] #630 closed

[2016-11-21 04:24] ramya-rao-a commented on #631
@mkatanski I have reverted the change around the formatting logic in the latest update(0.6.50). Can you update and tell me if that fixes the issue for you?

[2016-11-21 04:25] ramya-rao-a commented on #625
@cristim  I have reverted the change around the formatting logic in the latest update(0.6.50). Can you update and tell me if that fixes the issue for you?

[2016-11-21 04:39] ramya-rao-a commented on #219
@roblourens Can we update the debug side of the extension to make use the updates that @weinand has listed above?

[2016-11-21 04:44] #20 closed

[2016-11-21 09:02] cristim commented on #625
@ramya-rao-a with the latest update it no longer formats code at all.

Can I somehow help you reproduce this?

[2016-11-21 14:20] ramya-rao-a commented on #625
Yes, #631 is the same.

You mean manual format does not work as well?
Do you see anything in the console? Run `Developer: Toggle Developer Tools` to open the dev tools.

Can you try the below:

- Change `go.formatTool` to `gofmt`
- Change `go.useDiffForFormatting` to false

It is also possible that some other extension is interfering in the format process.
What other extensions do you have?
Can yo

[2016-11-21 14:33] #496 closed

[2016-11-21 16:04] ramya-rao-a commented on #231
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc` and that should fix this issue.

[2016-11-21 16:05] ramya-rao-a commented on #446
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc`, restart VS Code and that should fix this issue.

[2016-11-21 16:06] ramya-rao-a commented on #459
In the latest update of the Go extension (0.6.50), we now support the use of `gogetdoc` for **Goto/Peek Definition, Hover info and Signature Help** features. Add `"go.docsTool": "gogetdoc"` to your setting to enable the use of `gogetdoc`, restart VS Code and that should fix this issue.

[2016-11-21 16:06] #459 closed

[2016-11-21 16:38] damienstanton opened #635 "Gometalinter cannot find standard libraries"
I am using `vscode 1.7.1`, go `1.7.3`, vscode-go `0.6.50`, macos `10.12.1`

I have tried running `gocode close` and then `go get -u github.com/nsf/gocode`. This does not work.
My editor config as pertains to Go is:
[code]

Screenshots:
![](https://storage.googleapis.com/blinkanalytics-pub.appspot.com/vscode-go-err1.png)
![](https://storage.googleapis.com/blinkanalytics-pub.appspot.com/vscode-go-er

[2016-11-21 16:58] ramya-rao-a commented on #635
Can you share the output of `go env` ?

[2016-11-21 17:02] damienstanton commented on #635
Certainly:
[code]

[2016-11-21 17:40] ramya-rao-a commented on #635
Looks like the linter is not able to find the standard libraries.

In non Windows platforms, Go gets installed to _/usr/local/go_ and all the standard libraries are found in _/usr/local/go/src_ folder. Can you look into your _/usr/local/go/src_ folder and see if the standard libraries (**net, math, database, log**) etc are present ?

Also, can you try running `gometalinter` from the command line ?

[2016-11-21 17:47] damienstanton commented on #635
I've installed Go with `brew`, so there is no such folder. The path to the Go `src` dir is `/usr/local/Cellar/go/1.7.3/libexec` and the standard libraries are all there.

Running `$GOPATH/bin/gometalinter .` does indeed return the same errors.

[2016-11-21 17:53] ramya-rao-a commented on #635
Then this must be an issue with `gometalinter`.

Lets run some additional tests.
- Does `go build` build your code successfully?
- Can you change your linting tool to `golint` and give that a try ?

[2016-11-21 17:59] damienstanton commented on #635
Yes, builds work. I switched to `golint` and it seems fine now. Thank you!

[2016-11-21 18:05] ramya-rao-a commented on #635
Great! Can you please log an issue for `gometalinter` at https://github.com/alecthomas/gometalinter and link it here ?

[2016-11-21 18:28] ramya-rao-a commented on #635
Thanks @damienstanton

[2016-11-21 18:53] GarethLewin commented on #635
is this resolved by calling `go build -i` before calling `gometalinter`?

[2016-11-21 22:29] #629 closed

[2016-11-21 23:03] ramya-rao-a commented on #629
@ccirello Problem solved?

[2016-11-21 23:09] ccirello commented on #629
Magically solved by itself! :( I could not reproduce it.

[2016-11-21 23:33] ramya-rao-a commented on #629
oh well.. alright
Happy Coding!

[2016-11-22 00:40] mattetti commented on #512
@roblourens sorry about the delay I was traveling. 1.6.1 was broken, I just updated to 1.7.1 still have issues. The problem seems different now tho. I don't have any errors in the web console but the controls don't do anything.
![decoder_test_go_-_audio_and_debugger_navigation_seems_broken_ _issue__512_ _microsoft_vscode-go_and_release_notes__1_7_1_-_sample_fetcher](https://cloud.githubusercontent

[2016-11-22 00:46] roblourens commented on #512
Does that happen if you don't have any breakpoints set when you launch?

[2016-11-22 00:58] mattetti commented on #512
No, if I don't have breakpoints it runs through the tests and ends as expected

[2016-11-22 03:06] iOSwang commented on #446
thanks you very much,i come from china,the source of go code can`t download,what should i do? i have other way  to download in china?

[2016-11-22 03:49] ramya-rao-a commented on #446
@iOSwang You don't need to download the source code for the extension to work. Just search for "Go" from the extensions view and install it from there

[2016-11-22 04:00] iOSwang commented on #446
@ramya-rao-a thank you

[2016-11-22 04:47] tejasmanohar opened #636 "Suggestion: `go test`"
It would be nice if this plugin integrated with `go test`. Specifically, it's nice to be able to test a package, file, or (most useful) function from the editor.

[2016-11-22 04:47] ramya-rao-a commented on #540
Current State: The adoption of `editor.formatOnSave` was reverted in 0.6.49

[2016-11-22 05:23] ramya-rao-a commented on #636
We do have commands to run tests using `go test`.
Have you tried the below commands ?

`Go: Test at Cursor`
`Go: Test File`
`Go: Test Package`
`Go: Test Previous`

[2016-11-22 05:40] Gaffney opened #637 "VSCode unusable with plugin latest update (0.6.50)"
No updates have been made to my system and all of a sudden these weird issues started happening today after the go plugin updated.

Similar to https://github.com/Microsoft/vscode-go/issues/431, I have to continually kill processes like "gocode", "gorename", "godef", "Code Helper", etc because they are hanging and causing VSCode to freeze or not function.  After I realized I am now unable to rename

[2016-11-22 05:54] tejasmanohar commented on #636
oops, that's awesome. I was looking under the right click menu haha

[2016-11-22 05:54] #636 closed

[2016-11-22 06:09] Gaffney commented on #637
... and here are my User Settings:

[code]

[2016-11-22 08:27] jrieken commented on #540
why?

[2016-11-22 10:36] helyho opened #638 "when debug run, i marked a new breakpoint,but it is not work?"
when debug running and stop on the breakpoint line which i marked it before i press debug button
then i mark a new breakpoint on the line which is after the current stop breakpoint line
now i press F8 ,it not stop on my new breakpoint line.

at last : i like the vscode-go very much ,thanks .

[2016-11-22 13:45] mkatanski commented on #631
Hi, sorry i was extremely busy so i didn't have time to do that before. Anyway, I've updated the extension and still the problem occurs. :(

[2016-11-22 14:26] ramya-rao-a commented on #631
Just to eliminate external factors, can you  disable other extensions you have and comment all your user settings and try again ?

[2016-11-22 14:37] mkatanski commented on #631
Ok, I've disabled some extensions and all my user settings and now it is even more weird: [error GIF](https://s12.postimg.org/8iqe8577h/VSCode_Go_error2.gif)

Extensions that I disabled:
* Advanced New File
* Babel ES6/ES7
* Flow Language Support
* jsx
* Mono Debug
* Path autocomplete
* Path intelisense
* Relative path
* TSLint
* VSCode Flow
* VSCode icons

[2016-11-22 15:02] ramya-rao-a commented on #631
That looks like indents are being added and removed consistently.
You are indenting using spaces.
Can you change that to tabs?

I believe something external to the Go extension is interfering/conflicting with the Go formatting.

[2016-11-22 15:16] ramya-rao-a commented on #540
@jrieken `editor.formatOnSave` saves all files on save. There has been feedback from the community that they prefer formatting just go files on save rather than all files.
Since `editor.formatOnSave` doesn't add any benefits over `go.formatOnSave` for the users at the moment, this has been reverted.
If and when we have a way to apply editor settings at file type level, this will be revisited.

[2016-11-22 17:46] Gaffney commented on #637
Back to investigating this... this is my `go env` output from within the VSCode terminal:

[code]

[2016-11-22 17:54] ramya-rao-a opened #640 "autocomplete :Stdout maxBuffer exceeded"
_From @ShiYu-Yang on November 21, 2016 7:27_

- VSCode Version:1.7.1
- OS Version:Ubuntu 16.04

Language :Golang 1.7

Now，I work with vscode meeting a problem.Our team has an errcode file and it has a log of constants.When I use vscode and autocomplete this package.It doesn't work! I debug it and find such error in console

[Extension Host] rejected promise not handled within 1 second
workbench.ma

[2016-11-22 18:19] ramya-rao-a commented on #631
Can you also try the insiders build of VS Code? http://code.visualstudio.com/insiders.

[2016-11-22 18:19] ramya-rao-a commented on #625
Can you also try the insiders build of VS Code? http://code.visualstudio.com/insiders

[2016-11-22 18:44] ramya-rao-a commented on #640
We use `child_process.exec()` to run `gocode` that returns autocomplete suggestions. In your case, since the returned data exceeds the max size of the buffer that is returned by `child_process.exec()`, you get the error `stdout maxBuffer exceeded`

We will have to either update the `maxBuffer` or change `child_process.exec()` to `child_process.spawn`.

We will fix this in the next update. Until th

[2016-11-22 20:02] assafmo commented on #360
Having the same issue.

ubuntu 16.10
vscode 1.7.2 (Commit 7ba55c5860b152d999dda59393ca3ebeb1b5c85f)
vscode-go 0.6.50

Breakpoints become grey on launch and never stop the program.

[2016-11-22 20:11] dylan-bourque commented on #321
I got some free time and spun up a new, clean system in our AWS environment and was not able to reproduce this behavior anymore.

We still have 3 CentOS systems where we cannot set breakpoints, but we've all switched to new machines.

As far as I'm concerned, the problems have been resolved by an update to 1 of the pieces or were a symptom of those particular machines.

Thanks for investigating, t

[2016-11-22 22:44] damienstanton commented on #635
@GarethLewin no, the solution was to run `gometalinter --install`, which repaired the linters causing the path resolution problem.

[2016-11-22 22:45] #635 closed

[2016-11-23 01:35] ahcheqiu opened #641 "Can I use different args when using remote debug"
args pass to debugger have to be set when dlv headless server start.
If I want to debug for different args I have to restart dlv and pass different args.
Is there any workaround for my issue?

here is my command
`bin/dlv debug orzorc/downman-server --headless --log --accept-multiclient --listen=:2345 -- -port=7248`

here is my launch.json
[code]

[2016-11-23 03:58] ShiYu-Yang commented on #640
Thank you very much！

[2016-11-23 11:54] helyho commented on #638
i try again today , strange .... it 's workin , i don't know why?
if you can't reappear it, please cloes this issues
sorry to Disturb , thanks & good luck for you

[2016-11-23 16:23] roblourens commented on #638
Hm, not sure what to say, I haven't seen that before. Glad it's working now!

[2016-11-23 16:23] #638 closed

[2016-11-23 18:15] OneOfOne opened #642 "Too many `-d`'s."
So I was looking in the debug console trying to figure out why Go To def wasn't working, I couldn't really figure it out but I noticed this:

[code]

[2016-11-23 18:22] OneOfOne opened #643 "Can't use Go To Definition"
Let me know if I can provide any more information:

[code]

Same problem with both `"go.docsTool": "gogetdoc"` and `"go.docsTool": "godoc"`

[2016-11-23 18:26] ramya-rao-a commented on #642
Nice catch. https://github.com/Microsoft/vscode-go/blob/master/src/goFormat.ts#L33 is where we add the `-d`  to `formatFlags` variable. That variable is scoped to the function, I wonder why it persists value from previous runs.

[2016-11-23 18:39] OneOfOne commented on #642
@ramya-rao-a it's because `vscode.workspace.getConfiguration('go')['formatFlags'] ` returns a reference and you keep updating it.

[2016-11-23 19:32] Jamesxql opened #645 "There is no Intellisense when coding in the vscode"
I install [aws-sdk-go](https://github.com/aws/aws-sdk-go) package on my computer, but when I code in the vscode, there is no Intellisense with this package, however the other package is normal.

Anyone knows why?

**OS:** MacOS Sierra 10.12.1
**VSCode version:** 1.7.2
**VSCode go version:** 0.6.50
**Go version:** 1.7.3

[2016-11-23 19:43] nochso commented on #643
I just updated to the latest release and I had to `go install github.com/zmb3/gogetdoc` to make it work.

Which is a first, I remember vscode hinting at missing executables before.

[2016-11-23 21:08] OneOfOne commented on #643
@nochso it didn't prompt me but I did install it manually, also just using godoc should have worked.

[2016-11-23 21:52] #642 closed

[2016-11-23 22:10] ramya-rao-a commented on #643
You need to reload/restart VS Code after changing the setting `go.docsTool` for the change to take effect.

If `gogetdoc` is not installed, I do get prompted. I just deleted it from my $GOPATH/bin, tried hovering and Goto definition and got the prompt.

@OneOfOne Yes godoc should have worked. You see any errors in the console?

[2016-11-24 00:51] ramya-rao-a opened #646 "Add Telemetry"

[2016-11-24 12:56] AlekSi commented on #613
Unfortunately, it doesn't work. Please try with https://github.com/AlekSi/vscode-bug.

[2016-11-24 13:01] AlekSi commented on #613
Sorry, nevermind, that one is another issue (#623).

[2016-11-24 13:02] AlekSi commented on #623
That also breaks formating on save with `goreturns`.

[2016-11-24 13:23] AlekSi opened #647 "Incorrect import by auto-complete when pkgname != last part of pkg path"
That's a continuation of #613. Get code from https://github.com/AlekSi/vscode-bug and then edit main.go as shown:

![2016-11-24_16-11-38](https://cloud.githubusercontent.com/assets/11512/20599753/e87a5236-b260-11e6-8fca-847d2cf44c6f.png)

Two things are wrong after hitting Enter:
1. It adds `sarama.v1` to code. As I explained in #613, the package name is `sarama`, not `sarama.v1`. Package name !=

[2016-11-24 17:47] OneOfOne commented on #643
@ramya-rao-a sadly no, there aren't any errors, I'm using Go from git though, so I'll try later with go 1.7 and see if that helps.

code completion works fine.

[2016-11-25 13:13] DasJott opened #649 "Rename/Refactor package would be nice"
I want to move a file with certain structs and functions to another package. Unfortunately there are many references which are not refactored automaticly.

As an enhancement, that would be great.

[2016-11-26 09:54] zplzpl opened #650 "Support Multiple GOPATH?"
Support Multiple GOPATH?

"go.gopath" : "path1;path2"

[2016-11-26 10:44] huttarichard opened #651 "Debug with delve is not working unless `showLogs: true` is on..."
Guy(s) awesome project love it!

Version is latest published in marketplace.

As soon as I removed showLogs: true in launch.json, extension just hangs when you start debugging..

You need to start dlv with:
`/usr/local/bin/dlv debug --headless=true --listen=127.0.0.1:44316 --log=true --`
--log=true

with this option, debugger will run properly:

[code]

Maybe it is related to this line?
https://gi

[2016-11-26 22:13] tagatac opened #652 "Find All References erroneously reports No Results."
VS Code 1.7.1, Go extension 0.6.49. Looks like a regression of #346.

[2016-11-27 01:13] PotterDai commented on #652
Same issue here.

[2016-11-27 10:05] ShiYu-Yang commented on #650
"go.gopath" : "path1:path2"

[2016-11-27 13:08] a57571735 opened #653 "go get go-symbols timeout"
$ go get -u -v github.com/newhook/go-symbols
github.com/newhook/go-symbols (download)
Fetching https://golang.org/x/tools/go/buildutil?go-get=1
https fetch failed: Get https://golang.org/x/tools/go/buildutil?go-get=1: dial tcp 216.239.37.1:443: i/o timeout
package golang.org/x/tools/go/buildutil: unrecognized import path "golang.org/x/tools/go/buildutil" (https fetch: Get https://golang.org/x/tool

[2016-11-27 13:27] a57571735 commented on #653
Installing 6 tools
  go-symbols
  guru
  gorename
  goreturns
  golint
  gotests

Installing go-symbols FAILED
Installing guru FAILED
Installing gorename FAILED
Installing goreturns FAILED
Installing golint FAILED
Installing gotests FAILED

6 tools failed to install.

go-symbols:
Error: Command failed: /usr/local/go/bin/go get -u -v github.com/newhook/go-symbols
# cd /Users/ahjesus/Git/Bag/src/git

[2016-11-27 15:07] a57571735 commented on #653
Installing 1 tools
  golint

Installing golint FAILED

1 tools failed to install.

golint:
Error: Command failed: /usr/local/go/bin/go get -u -v github.com/golang/lint/golint
github.com/golang/lint (download)
Fetching https://golang.org/x/tools/go/gcimporter15?go-get=1
Parsing meta tags from https://golang.org/x/tools/go/gcimporter15?go-get=1 (status code 200)
get "golang.org/x/tools/go/gcimporter

[2016-11-27 20:52] ramya-rao-a commented on #653
Are you getting this error only while getting `go-symbols` or even rest of the tools?
Can you share the output for `go env` and `go version` ?

[2016-11-27 20:56] ramya-rao-a commented on #652
Its working fine for me. Do you see any errors in the console?

Does it not work in certain Go projects/packages or all Go code?

We use `guru` for the `Find all references` feature. Can you run it in command line and see if it gives results where as VS Code doesn't?

[2016-11-27 20:58] ramya-rao-a commented on #346
@Jerry7X @georgeonofrei This issue is an old one. Can you guys comment/upvote #652 ?

[2016-11-27 21:40] ramya-rao-a commented on #645
@Jamesxql I installed [aws-sdk-go](https://github.com/aws/aws-sdk-go) and able to get code completion for packages like `aws`(github.com/aws/aws-sdk-go/aws) , `awserr` (github.com/aws/aws-sdk-go/aws/awserr), `session` (github.com/aws/aws-sdk-go/aws/session) etc.

But not for `aws-sdk-go`(github.com/aws/aws-sdk-go)

Is that what you are seeing as well?

[2016-11-28 01:16] zplzpl commented on #650
@ShiYu-Yang sorry,it can't work.

my setting :

{
    "go.gopath":"E:\\goapp:E:\\goproject\\new-app"
}

[2016-11-28 01:21] zplzpl commented on #650
{
"go.gopath":"E:\\goapp:E:\\goproject\\new-app"
}

[2016-11-28 01:56] a57571735 commented on #653
myMacBook-Pro:~ adrian$ go env
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/adrian/Git/Bag:/Users/adrian/Git/CloudNumber"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
CC="clang"
GOGCCFLAGS="-fPIC -m64 -pthread -fno-caret-diagnostics -Qunused-arguments -fmessage-length=0 -fdebug-prefix-map=/var/folders/c_/z3wg

[2016-11-28 01:57] a57571735 commented on #653
Installing 6 tools
  go-symbols
  guru
  gorename
  goreturns
  golint
  gotests

Installing go-symbols FAILED
Installing guru FAILED
Installing gorename FAILED
Installing goreturns SUCCEEDED
Installing golint SUCCEEDED
Installing gotests FAILED

4 tools failed to install.

go-symbols:
Error: Command failed: /usr/local/go/bin/go get -u -v github.com/newhook/go-symbols
github.com/newhook/go-symbols

[2016-11-28 02:27] tagatac commented on #652
No errors in the console.

I have not seen it work in any projects on my computer. It has worked in our project on my colleague's computer.

guru also fails:
[code]

[2016-11-28 02:37] ShiYu-Yang commented on #650
Maybe it depends on os?
It can work on my ubuntu PC.

"go.gopath" : "path1;path2" can work on windows?
Or you can add them to your environment variable

[2016-11-28 02:46] zplzpl commented on #650
the system I use is Windows 7;

If I do not set the environment variable, will not come into effect?

[2016-11-28 02:50] zplzpl commented on #650
I went to set the environment variable, but unfortunately did not produce results

[2016-11-28 03:44] ShiYu-Yang commented on #650
It means that if you set your environment variable,you don't need to set gopath in VSC.
"go.gopath" : ""

[2016-11-28 03:50] a57571735 commented on #653
Installing 1 tools
  gotests

Installing gotests FAILED

1 tools failed to install.

gotests:
Error: Command failed: /usr/local/go/bin/go get -u -v github.com/cweill/gotests/...
github.com/cweill/gotests (download)
Fetching https://golang.org/x/tools/imports?go-get=1
https fetch failed: Get https://golang.org/x/tools/imports?go-get=1: dial tcp 216.239.37.1:443: i/o timeout
golang.org/x/tools (down

[2016-11-28 03:50] a57571735 commented on #653
https://github.com/cweill/gotests/...    404

[2016-11-28 03:54] a57571735 commented on #653
I can visit https://go.googlesource.com/tools/

[2016-11-28 04:04] leaxoy commented on #653
please use proxy for vscode, configuration key is `http.proxy`.
or manual install from command line

[2016-11-28 05:42] ramya-rao-a commented on #652
Try `guru referrers`

[2016-11-28 06:21] a57571735 commented on #653
I already used pptp vpn, I can visit https://go.googlesource.com/tools/ and github

[2016-11-28 06:26] ramya-rao-a commented on #653
@a57571735 Are you able to run `go get` for these tools from the command line?
Example:
- `go get -u -v github.com/cweill/gotests/...`
- `go get -u -v github.com/newhook/go-symbols`
- `go get -u -v golang.org/x/tools/cmd/gorename`

Like @leaxoy suggested can you set `http.proxy` in your settings and try too?

[2016-11-28 06:31] leaxoy commented on #653
Do steps as flows. Because I had the same problem due to live in china.
1. setup an vpn(for me: shadowsocks), then transform `socks5` to `http` protocol.
2. in command line, `export http_proxy=${proxyhost:proxyport} https_proxy=${proxyhost:proxyport}`
3. get tool like `go get -u -v golang.org/x/tools`.
4. install tool with `go build golang.org/x/tools/cmd/guru`

Hopes this help you!!!

[2016-11-28 06:45] bruceauyeung opened #654 "[feature request] add go.lintOnOpen option"
when i open a golang workspace, i'd like `vscode-go` to lint this workspace immediately, but currently there is only an option `go.lintOnSave`, so the only way to lint immediately is that modify some go source file(s) manually ( add a blank space in the end of line for example ).
i request adding an option `go.lintOnOpen`, so when we open a go source file or a golang workspace, `go lint` will be s

[2016-11-28 08:06] a57571735 commented on #653
I used Cow https://github.com/cyfdecyf/cow to transform socks5 to http protocol, then set vscode configuration key http.proxy, also failed...

[2016-11-28 08:22] Jamesxql commented on #645
My code like this:
[code]
and there is no Intellisense  for anything. I use the following command to retrieve the SDK:

    go get -u github.com/aws/aws-sdk-go

is there anything wrong?

[2016-11-28 09:40] a57571735 commented on #653
@ramya-rao-a @leaxoy @mattetti @buckett @saml  Thanks to help me, but I want to give it up, I try it to the best of my ability, failed!failed!failed!failed!failed!failed!failed!failed!
Go to hell GOLANG

[2016-11-28 10:05] a57571735 commented on #653
wooooooow,SUCCEEDED! I remember I have seen through the modify hosts to access some websites, I said last try one more time, BINGO! If any one had the same problem, do as flows, open [58hlsg.com](58hlsg.com), click 外网Hosts, you'll see, realy very very simple and easy. GOLANG am coming!

[2016-11-28 10:49] fiam commented on #643
This is also happening to me with Go HEAD on darwin/amd64. However, "Go To Definition" works correctly if I revert to Go 1.7.3. @ramya-rao-a is there an easy way to debug the commands called by the Go extension so I can figure out which one is failing? Thanks!

[2016-11-28 11:13] fiam commented on #643
Just figured out the problem. Working on a PR.

[2016-11-28 11:23] fiam commented on #643
PR submitted. Please, take a look at it. Thanks! https://github.com/Microsoft/vscode-go/pull/655

[2016-11-28 16:38] #653 closed

[2016-11-28 17:33] ramya-rao-a commented on #643
Thanks @fiam. PR is merged. Will release an update in a few days

[2016-11-28 17:48] tagatac commented on #652
The first call to `guru referrers` gave [this error](https://github.com/Microsoft/vscode-go/files/617009/guru.txt). Subsequent calls hang using 70% CPU for several minutes until SIGINT.

[2016-11-28 18:30] ramya-rao-a commented on #652
@PotterDai Do you see similar error while running `guru referrers` in the command line?

@tagatac This is a problem with the `guru` tool itself. Can you log an issue at https://github.com/golang/go/issues?

[2016-11-28 19:20] PotterDai commented on #652
Hey, sorry for the later reply.
My guru always reporting "guru: no identifier here" no matter where I point it to.

guru referrers user.go:#38
guru: no identifier here
guru referrers user.go:#47
guru: no identifier here

[2016-11-28 20:08] tagatac commented on #652
I'm not sure what the issue was, but deleting and reinstalling everything in my $GOPATH fixed this for me. @PotterDai it looks like you may be specifying byte offsets that don't correspond to identifiers. You can use vim to easily identify byte offsets: http://stackoverflow.com/a/1484076/5403337

[2016-11-28 20:08] #652 closed

[2016-11-28 20:12] cedriclam opened #656 "Fix "gotests" when generates test for current function"
Issue: "Generate unit tests for current function" fails with recent vscode-go version. This due to the fact that the GoDocumentSymbolProvider returns now also the receiverType in the name function.

example:
- before ```DecodeJSON```
- last vscode-go version: ```(*Volume).DecodeJSON```

```gotests``` bin is not able to understand this string with the option -only since it is not a valid regular ex

[2016-11-28 20:14] PotterDai commented on #652
Hmmm, I found my issue. After digging into "vscode-go/src/goPath.ts", it seems it's because I didn't put slash at the end of my GOPATH, thus generating wrong bin files path.

@ramya-rao-a  it might be a good idea to check if there is slash at the end of the GOPATH and if not just add it, since it seems to be easily mistaken. = )

Anyway, my issue is solved.

[2016-11-28 21:08] tagatac commented on #652
FWIW, my GOPATH doesn't end in a slash either, but that wasn't breaking guru for me.

[2016-11-28 21:33] PotterDai commented on #652
It seems goPath.ts will read $GOROOT, $PATH, $GOPATH. And as long as one of the paths lead to the correct guru executable, the guru will run correctly.

I was trying to reproduce my situation. By setting all $GOROOT, $PATH, $GOPATH as well as in "UserSettings, go.path" to values without slash in the end, vscode will show "no results", and by adding slash to the end of path at any places mentioned

[2016-11-28 21:59] ramya-rao-a commented on #652
@PotterDai `Find all References` works for me when I add `go.gopath` in the settings without the ending slash. Which platform are you on? I tested on Mac and Windows.

We use `path.join` to create the path from GOPATH and don't concat strings manually. `path.join` would add the necessary forward/backward slashes based on the platform.

When you remove the ending slash, is `Find all References` the

[2016-11-28 22:22] PotterDai commented on #652
Hmmm, it's getting strange.
I'm using macOS 10.12.1

Please check my screenshot.

GoPath with slash:
![screenshot 2016-11-28 17 18 15](https://cloud.githubusercontent.com/assets/3758951/20688436/bcd612c4-b58e-11e6-9803-3b18f5cbcafe.png)

GoPath without slash:
![screenshot 2016-11-28 17 17 41](https://cloud.githubusercontent.com/assets/3758951/20688437/bcde08c6-b58e-11e6-9778-c6eed1df4756.png)

Yep

[2016-11-28 22:37] ramya-rao-a commented on #656
Are you sure this worked before?
`GoDocumentSymbolProvider` and the tool it uses (`go-outline`) hasn't seen any changes recently regarding its output.
So I don't see any reason why this would work before and only the recent Go extension would break it

[2016-11-28 23:01] PotterDai commented on #652
OK, finally I think I found the problem!
It's not about slash at all.

That's because I happen to have 2 gopaths:
"/Users/potterdai/go"
"/Users/potterdai/GoProject"
The first one happen to be the substring of the second one.
"canonicalizeGOPATHPrefix" mistakenly takes the first gopath as the workspace, and changes the filename from "/Users/potterdai/GoProject/src/Test/test.go" to "/Users/potterdai

[2016-11-28 23:14] ramya-rao-a commented on #652
@PotterDai I just arrived at the same conclusion, and came here to reply and you already found it :)

Just checking for trailing slashes might not be enough. Consider the case of nested workspaces. As in `/Users/me/Gocode` and `/Users/me/Gocode/my/coding/workspace`

The right solution would be to loop through all workspaces and instead of returning on the first match, keep looking until you find t

[2016-11-28 23:52] PotterDai commented on #652
OK, PR #658 just submitted. =)

[2016-11-29 00:34] cedriclam commented on #656
So maybe the feature never worked properly from the beginning :(
It was only tested with a global function and not a method of a struct.

[2016-11-29 00:39] cedriclam commented on #656
I also opened an Issue to ```gotests``` for a feature request in order to support the type in the regular expression input with the ```-only``` option.

link: https://github.com/cweill/gotests/issues/35

[2016-11-29 01:37] #656 closed

[2016-11-29 02:35] ramya-rao-a commented on #647
@AlekSi There are 2 separate things at play here.

- Auto-complete completes `sara` to `sarama.v1` instead of `sarama`. This will happen to all packages from gopkg.in due to the versioning supported there.
- `vendor` included in the import path. This will happen only when the `vendor` folder is the immediate child of $GOPATH/src.

For the first issue, I have a PR out: #659

For the second, I am cu

[2016-11-29 03:05] ramya-rao-a commented on #650
@zplzpl Since you are on Windows, the paths should be separated by `;` and not `:`
So add this to your settings and it should work
`"go.gopath": "E:\goapp;E:\goproject\new-app"`

[2016-11-29 03:05] #650 closed

[2016-11-29 03:08] ramya-rao-a commented on #645
Do you see any errors in the console? Open `Developer: Toggle Developer Tools` to see the console.

I am able to get intellisense for this project.

Is the problem only with auto-complete?
Are you getting other features to work like `Go to Definition`, `Find All References` etc. ?

[2016-11-29 03:54] Jamesxql commented on #645
`Find All References` is working well, but `Go to Definition` has some error:

<img width="548" alt="qq20161129-0 2x" src="https://cloud.githubusercontent.com/assets/10518551/20695895/66cb4f56-b62a-11e6-974b-19cb8b035103.png">

and when I type code in the vscode, the same error has shown in the console

[2016-11-29 04:13] #640 closed

[2016-11-29 04:42] ramya-rao-a commented on #654
If you have `go.lintOnSave` enabled, then on opening a workspace, linting does run. You don't have to specifically save to trigger it.

Can you open your output window, change the chanel to Go and reload VS Code?
You should see linting output there.

[2016-11-29 05:01] ramya-rao-a commented on #645
That one is mostly from the hover.
Since you are not seeing any errors from `gocode`, am not sure what the problem is.
Can you try running `gocode` from the command line?

[2016-11-29 05:03] ramya-rao-a commented on #637
@Gaffney Sorry couldn't get back to you earlier.

The callstack suggests something went wrong inside `gorename` tool itself.

Do you still see the issue?

[2016-11-29 05:09] ramya-rao-a commented on #583
Have updated the code to ignore the `-w` flag with this: https://github.com/Microsoft/vscode-go/commit/727346e9a25044730e458f7de2bb86ea8882f394

[2016-11-29 05:09] #583 closed

[2016-11-29 05:32] roblourens commented on #641
I don't understand, you're saying that sometimes you need one set of args, and sometimes you need another? I'd suggest two launch configs, with the two sets of args.

[2016-11-29 05:34] roblourens commented on #651
What version of delve?

[2016-11-29 05:46] roblourens commented on #651
For me, it always prints "API server listening at..." whether or not showLog is set, so that's what kicks it off. Maybe there's a case where this doesn't happen.

[2016-11-29 05:56] Jamesxql commented on #645
running gocode with a debug mode is look like this

<img width="906" alt="qq20161129-0 2x" src="https://cloud.githubusercontent.com/assets/10518551/20698349/68f2b498-b63b-11e6-80e1-45dd82dac892.png">

was not resolved, why?

[2016-11-29 07:24] ramya-rao-a commented on #645
That must mean that `gocode` cannot find the packages. Do you have the packages in $GOPATH/pkg/<platform>/github.com/aws/aws-sdk-go ?

[2016-11-29 07:26] huttarichard commented on #651
Im using mac el captain

Delve Debugger
Version: 0.11.0-alpha
Build: v0.11.0

[2016-11-29 08:44] Jamesxql commented on #645
Absolutely yes, I have this package in the right location

<img width="265" alt="qq20161129-0 2x" src="https://cloud.githubusercontent.com/assets/10518551/20702493/0d921842-b653-11e6-982f-5ae947ae8f1b.png">

[2016-11-29 12:54] zplzpl commented on #650
Yes, I'm using `;` as a separator, but it doesn't work.

System environment variables and go.gopath are set, whether the go.gopath will not come into effect？

[2016-11-29 15:40] AlekSi commented on #647
It has nothing to do with `v1` and gopkg.in. For example, try with `go-xerial-snappy`:

![2016-11-29_18-37-06](https://cloud.githubusercontent.com/assets/11512/20716382/133f2a86-b663-11e6-903e-a675b0263dd3.png)

![2016-11-29_18-37-19 2](https://cloud.githubusercontent.com/assets/11512/20716386/160f646a-b663-11e6-80e0-7cdb876a03c8.png)

As mentioned several times before, package name is defined by

[2016-11-29 16:56] ctrlaltdel121 opened #663 "Compile errors stop appearing/updating"
Occasionally, with vscode-go the build on save stops running. I'll get an error, and then fix the error, but the red squiggly remains. If I introduce a new compile errror, I don't get a squiggly on that.

Autocomplete is still working, but format on save is also broken during this time.

I can recover from this by closing and re-opening the window. On reload, it works for a while until it stops ag

[2016-11-29 17:22] atombender opened #664 "No build errors when code fails on import cycle"
When I get an accidental import cycle, I get zero build errors in VSCode. But manually building, I of course get:

[code]

This is frustrating because when this happens, it appears that compilation/linting has just stopped working.

(Funnily enough, Atom's `go-plus` package has the exact same issue.)

My Go settings:

[code]

[2016-11-29 18:29] sdwarwick opened #665 "gorename path error - file not found when git diff in windows path"
attempting to perform a "rename symbol", I am getting the following error:

---
File not found (\\"C:\Users\<valid path>\file.go")
---

this happens on workspace or individual file settings.
I've tried changing the environment variables to remove the C: but everything stops working then.

note the backslash before the quote.
cannot seem to find any other settings that impact this.

---
windows 10

[2016-11-29 19:00] ramya-rao-a commented on #647
@AlekSi First off, thanks for your patience.

I now understand that the last element in the import path need not always be the package name. It is just convention for predictability's sake that most of the time the package name is the same as the last element in the import path.

Now, the list of packages that appear in the auto-complete comes from the output of the `gopkgs` tool which simply retu

[2016-11-29 19:03] ramya-rao-a commented on #650
If you have set environment variables after opening VS Code, then it will not take effect.

When both environment variable GOPATH and the user setting `go.gopath` is set, then `go.gopath` overrides the value in the environment variable in VS Code.

Can you share how you are testing whether the multiple GOPATH work or not?

[2016-11-29 19:07] ramya-rao-a commented on #645
Sorry, do you have the file $GOPATH/pkg/yourplatform/github.com/aws/aws-sdk-go/aws.a ?

[2016-11-29 19:11] brandonblock opened #666 "Multi-line string highlighting with backtick"
When I paste a multiline string as a variable value and surround the string with a backtick, only the first line is highlighted. If I do a new line after the = the highlighting works but gofmt moves the value back to the same line as the assignment.

![screen shot 2016-11-29 at 13 11 14](https://cloud.githubusercontent.com/assets/2208544/20724818/5d49e658-b635-11e6-8e93-1abb15941d2d.png)

[2016-11-29 19:20] ramya-rao-a commented on #665
Can you share your GOPATH if you have set any in the settings ? If not then share the GOPATH from your environment variables.

`gorename` and `guru` are the 2 tools we use that expect the filepath passed to them to have the exact casing and slashes (forward/backward) as the GOPATH being used.

Also, can you share the complete error message?  Does it start with "Cannot rename due to errors..." ?

[2016-11-29 19:31] ramya-rao-a commented on #664
This is due to the regex check on build errors happening at https://github.com/Microsoft/vscode-go/blob/master/src/goCheck.ts#L47

[2016-11-29 19:36] ramya-rao-a commented on #663
Looks like you end up in a state where save does not trigger the usual actions like format, lint and build.

This could mean a problem with the core product or that some other extension is interfering with the save event. Can you disable all the other extensions and see if you still see this?

When you enter this state, does manual format work ?

[2016-11-29 19:39] sdwarwick commented on #665
the complete error message is as shown.  I did a copy/paste.  it is preceded by a red "error" box
GOPATH:
C:\Users\xxx\Google_Drive\golang;C:\Users\xxx\Google_Drive\projects\project name\application

note that "project name"   is a directory name which has a real space between two words as shown.
the actual files are in a sub-directory  of application:

application\src\mypackagename/*.go

[2016-11-29 19:40] ramya-rao-a commented on #666
This issue was moved to atom/language-go#103

[2016-11-29 19:40] #666 closed

[2016-11-29 19:59] ramya-rao-a commented on #665
If you didnt see the error message `Cannot rename due to errors:` then that means that the `gorename` tool ran successfully and the Go extension has returned the file edits to make to VS Code. VS Code in turn was not able to find the file and so you see the error `File not found ()`

Do you see any errors in the console? Open `Developer: Toggle Developer Tools` to see the console.

Does this happe

[2016-11-29 20:06] sdwarwick commented on #665
from the debug console:

[code]

all of my projects are under this directory structure, and are all experiencing this problem.

[2016-11-29 20:49] ramya-rao-a commented on #665
The slash before the quotes is the problem. I know you mentioned that earlier, but the error message you pasted didnt have the slash, so I didnt make the connection.

Since I can't repro this, can you download the code for the Go extension and debug locally?
I can walk you through it, it is very simple.

Close all instances of VS Code and run the below in your command prompt

[code]

- VS Code wil

[2016-11-29 21:18] sdwarwick commented on #665
this is great - I have followed your instructions.   the filePatch.fileName has the slash in front..

"\"C:\\\\Users\\\\xxx\\\\Google_Drive\\\\projects\\\\dir name\\\\application\\\\src\\\\dname\\\\fname.go\""

would it be helpful to set up a chat to work through this?

[2016-11-29 21:54] sdwarwick commented on #665
I have moved the breakpoint up to buildTags.. it is returning the following:
"\"\""

[2016-11-29 22:31] ramya-rao-a commented on #665
buildTags doesn't matter. You say you see the slash in the front, but what you pasted doesn't have it. Are you sure?

Add a breakpoint at line 26 and check what is the value of `document.fileName` and `filename`.
Are you on gitter ? If not, you can join https://gitter.im/Microsoft/vscode-go and we can chat there to work through this.

[2016-11-29 22:38] sdwarwick commented on #665
the forward slash was actually there, but github mistook it for markup!!!   I changed it to "code" so it would show up..  sorry

[2016-11-29 23:03] ramya-rao-a commented on #665
No problem, can you share what are the values of `document.fileName` and `filename` when you add breakpoint at line 26?

[2016-11-29 23:39] ramya-rao-a commented on #665
Updating this thread from the discussion in gitter:

This happens when the file path has space in it.
In such cases, the diff output from `gorename` is in the below format

--- \"C:\\Users\\folder with space\\file.go\"

If there was no space, then the diff output would be

--- C:\\Users\\folder_without_space\\file.go

The `parsePatch` method from the diff module retains the `\`, causing rest of th

[2016-11-29 23:54] ramya-rao-a commented on #665
This needs to be fixed upstream in the `diff` module.

Until then, we can add a fix in the Go extension to strip the initial `\` when there is a space in the file path.

[2016-11-30 01:16] ramya-rao-a commented on #643
The latest update 0.6.51 has this fix. Happy Coding!

[2016-11-30 01:16] #643 closed

[2016-11-30 01:18] ramya-rao-a commented on #652
The latest update 0.6.51 has this fix. Happy Coding!

[2016-11-30 01:18] ramya-rao-a commented on #640
The latest update 0.6.51 has this fix. Happy Coding!

[2016-11-30 03:53] sdwarwick commented on #665
It has been shown that when git for windows is installed in the standard windows path,  the vscode-go integrated gorename function breaks due to a slight difference in output from other diff implementations.

changes to support a diff string with quotes around the file path is requested.

[2016-11-30 06:18] ahcheqiu commented on #641
@roblourens sorry. I didn't make myself clear.

#### How I use vscode and dlv:
I run the dlv on a linux pc. And the command I start dlv server is
`bin/dlv debug orzorc/downman-server --headless --log --accept-multiclient --listen=:2345`
I use vscode for coding on a mac. And the launch config is listed above.
I upload the code to the linux pc when I save files.

#### What I am expecting:
The dlv wi

[2016-11-30 06:23] Jamesxql commented on #645
no, the file name is aws-sdk-go.a, aws.a is not exists.

[2016-11-30 06:31] bruceauyeung opened #667 "hover info / goto definition is very slow when using gogetdoc"
when i hover on a struct field, hover info is very slow to pop up (most time 4 ~ 5 secs). in the `top` list,most time i can see 2 gogetdoc processes ( up to 4 ) are consuming lots of cpu time ( total over 300% , almost every logic cpu is over 80% ) . and even i hover the second time ( 3rd time ... ) onto the same struct field, it still is very slow.

when i move cursor onto a method ( only use key

[2016-11-30 08:57] leaxoy commented on #667
It's right, may be we should find out what slow down it, or use `godef+godoc` back.
But `godef` is broken for some package, and it's seems that it's author has long time no maintain it.

[2016-11-30 08:58] bruceauyeung commented on #667
after upgrading to vscode-go 0.6.51, the problem still exists.

[2016-11-30 09:00] leaxoy commented on #667
I see, it's because `gogetdoc`, a bit slow than `godef + godoc`.

[2016-11-30 09:05] leaxoy commented on #667
There are some proposals:
1. use `guru`, but a little complex to parse result (even with `-json` flag)
2. patch `godef`, make it works well with all packages
3. use a new backend language server [sourcegraph-go](https://github.com/sourcegraph/go-langserver)

[2016-11-30 09:07] tbroyer commented on #517
Looks like this can be closed, with PR #622 merged and released in 0.6.50.

[2016-11-30 09:08] abarisain commented on #517
Yes!

I'm having some issues with the performance of this, but I've yet to take time to open an issue.

[2016-11-30 09:21] tbroyer commented on #517
There's a performance issue reported as #667 FWIW

[2016-11-30 09:33] leaxoy commented on #517
Closing, please use issue #667 for performance talks!

[2016-11-30 09:34] #517 closed

[2016-11-30 09:36] leaxoy opened #668 "Proposal: cleanup unused branchs!"
Most branchs are not used, should we cleanup it?

[2016-11-30 11:08] ShiYu-Yang commented on #640
Yes,it works ! Nice

[2016-11-30 14:10] a-h commented on #407
@ramya-rao-a - I'd just like to say thanks for implementing this feature, I've really been enjoying it!

[2016-11-30 17:33] ramya-rao-a commented on #407
@a-h Thanks for bringing up the feature request in the first place. There has been a lot of positive feedback around this!

[2016-11-30 18:19] ramya-rao-a commented on #645
Under `$GOPATH/pkg/darwin_amd64/github.com/aws` you should have a folder called `aws-sdk-go`.
If you don't then that means you don't have the complied packages for the `aws` package which explains why auto complete is not working.

[2016-11-30 18:29] ramya-rao-a commented on #645
If you don't have the above files, then try running `go build github.com/aws/aws-sdk-go` and `go install github.com/aws/aws-sdk-go`

[2016-11-30 20:56] ramya-rao-a commented on #668
Done. Removed all the branches which had changes merged to master.

[2016-11-30 20:56] #668 closed

[2016-11-30 20:57] ramya-rao-a commented on #625
@cristim Any updates?
Do you still see this issue with other extensions disabled?

[2016-11-30 20:58] ramya-rao-a commented on #631
@mkatanski Any updates?
Do you still see this issue with all the other extensions disabled?

[2016-11-30 21:35] leaxoy commented on #649
Tip: use `gomvpkg` in `golang.org/x/tools/cmd/gomvpkg` maybe a good idea.
More explorations needed. Once I have time, I will take a look at it.

[2016-11-30 21:41] ramya-rao-a commented on #572
Same thing happens in the package statement as well

[2016-11-30 22:01] ramya-rao-a commented on #667
@leaxoy @abarisain @zmb3
Was this expected or is there anything we can do to improve the performance while using `gogetdoc`?
In my Windows 10 and Mac, I don't see any perf issues.

@bruceauyeung Thanks for reporting this. As a workaround, you can always switch back to using godoc by changing your settings.

We will eventually move to using a language server, but not any time soon...

[2016-11-30 22:08] leaxoy commented on #667
Is `sourcegraph-go` ? That looks great, but it is still work in progress. Is it stable enough to use in production?

[2016-11-30 22:08] zmb3 commented on #667
Gogetdoc is a little slower than godef, but that's because it does more. I
hardly notice a difference in my machine.

4-5 seconds sounds way too long. Typical calls to gogetdoc generally take
hundreds of milliseconds in my experience. More info on the environment
where it is slow would be helpful. Is it a very large project and/or
gopath? Old machine?

We can definitely look into optimizing gogetd

[2016-11-30 23:01] abarisain commented on #667
I was certainly not expecting such delays. On my computer, I experienced delays up to 15s when doing go to implementation (jumping to stuff in go's stdlib).

I noticed that it was slower when developing my version of the plugin, and talked to zmb3 about this. He improved gogetdoc and I was down to delays more in the 500ms range.

My gopath is quite small, but I have a moderately sized vendor folde

[2016-12-01 01:49] bruceauyeung commented on #667
yes, i think it is, it's [kubernetes](https://github.com/kubernetes/kubernetes) project. this project is about 483MB in code size after being tarred. my GOPATH is small and i think is not the key.
this machine is a blade server. old one.
more detailed info about cpu is here: http://www.semiconductorstore.com/cart/pc/viewPrd.asp?idproduct=48059

all informations i can get about hard disk is here:

[2016-12-01 02:01] bruceauyeung commented on #667
i find another problem.
after i opened a go source file, i move curor ( using mouse ) in the left side blank area of edit window, not right side, not hovering onto any keywords, variables, methods, vscode-go will try to load something( the background gogetdoc process launched),  after more than 4 secs it displays package's information

11706 root      20   0  586116 578388   3580 R 129.3  1.8   0:

[2016-12-01 02:07] zmb3 commented on #667
Yeah that particular issue is just that Code is always trying to find
something under your cursor to pass to gogetdoc. I wonder if we can modify
the extension so that it only calls gogetdoc when there looks to be a valid
identifier under the mouse.

On Wed, Nov 30, 2016 at 7:01 PM Bruce Auyeung <notifications@github.com>
wrote:

[2016-12-01 03:25] bruceauyeung commented on #654
strange things are happening! it does lint when open a workspace , accurate to say that it's triggered by opening a go source file in the workspace. but i am quite sure that i have to modify and save something to trigger lint because i waited for a long long time on purpose.

[2016-12-01 03:26] zplzpl commented on #650
windows environment:
GOPATH -> E:\goapp\

launch.json
`{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Launch",
            "type": "go",
            "request": "launch",
            "mode": "debug",
            "remotePath": "",
            "port": 2345,
            "host": "127.0.0.1",
            "program": "${workspaceRoot}/src",
            "env": {},

[2016-12-01 03:34] bruceauyeung opened #670 "[Feature Request]display found warnings/errors in the left bottom corner simultaneously while backgroung linting/building is going on"
this will be much more better than displaying after all building/linting works done. it will let user intuitively  know building/linting is going on. user also can jump to already founded warnings/errors immediately without waiting all building/linting are finished.

[2016-12-01 03:50] winxxp opened #671 "Support the 'List Package declarations' feature from GoSublime"
Do have a plan to support: 'Browse Declarations', 'Browse Files', 'Browse Package', 'List File declarations', 'List Package declarations'? This is the GoSublime provided  very practical features.

[2016-12-01 04:10] ramya-rao-a commented on #654
When the Go extension first gets activated (when you open a workspace and open a Go file), it lints the package to which the currently opened Go file belongs to. On subsequent file opening, linting does not get triggered until you save.

Does that match what you are seeing?

[2016-12-01 04:21] Gaffney commented on #637
Yes, I had to switch to Intellij for the time being until this is resolved.

[2016-12-01 04:23] ramya-rao-a commented on #650
I was able to repro this by removing GOPATH from my environment, setting GOPATH in `go.gopath` and trying to debug.

Looks like the problem is that the debugging process doesn't read GOPATH from `go.gopath`.

Can you confirm this by checking if reset of the Go extension features work for you?
Like `Go to definition`, `Rename` ?

[2016-12-01 06:26] zplzpl commented on #650
About debugging, I also have a problem, I first time according to the F5 key debugging can work normally, when I press the F5 button second times, but did not respond to the debugging

[2016-12-01 06:35] Jamesxql commented on #645
It's weird, I delete the file inside folder $GOPATH/pkg/darwin_amd64/github.com/aws, and running `go build github.com/aws/aws-sdk-go` and `go install github.com/aws/aws-sdk-go`, it still generate aws-sdk-go.a file.

Then I delete the file inside the folder `src` and `pkg`, use `go get -u github.com/aws/aws-sdk-go` to retrieve the sdk, and I'm still seeing the same file in the `pkg` folder

How did

[2016-12-01 06:49] zplzpl commented on #650
debugging process doesn't read GOPATH from go.gopath.

I also verified this idea.

[2016-12-01 06:55] zplzpl commented on #650
How to solve the problem when debugging GOPATH?

[2016-12-01 07:03] bruceauyeung commented on #654
1，i open a totally fresh vscode without opening any workspace, then i open a workspace through `File` -> `Open Folder`, and then i open a Go file in this workspace, now i can see this file is detected as a Go file because the right-bottom corner says so. then i open output window (View -> Output), i don't see any outputs.in the dropdown list there neither is no Go option
2, i keep the opened Go fi

[2016-12-01 07:22] bruceauyeung opened #672 "duplicated warnings when using gometalinter"
the output:

/root/k8s-branch-fix-glog-message-typo/src/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go:80: cyclomatic complexity 29 of function Run() is high (> 10) (gocyclo)
/root/k8s-branch-fix-glog-message-typo/src/k8s.io/kubernetes/cmd/kube-apiserver/app/server.go:150: TLS InsecureSkipVerify set true.,HIGH,HIGH (gas)
/root/k8s-branch-fix-glog-message-typo/src/k8s.io/kubernetes/cmd/kube-api

[2016-12-01 08:19] mattetti opened #673 "`go build -o` should be using `-i`"
I noticed that we rebuild all packages every time a user saves a project with build on save on. I think it would be best to use the `-i` flag to only build packages that changed.

My understanding is that installed packages aren't rebuilt. I can see that building a project with a slow to build dependency such as `github.com/mattn/go-sqlite3` is much much faster when the project is built with `-i`.

[2016-12-01 08:30] ramya-rao-a commented on #650
#356 was logged to track the issue of GOPATH not being read from the settings by the debug process.
There is a workaround mentioned in that issue that you can try.
Will try and get a fix for this in the next update

[2016-12-01 08:33] ramya-rao-a commented on #645
I am not saying that `aws-sdk-go.a` file should not be there. I am saying that `$GOPATH/pkg/darwin_amd64/github.com/aws/aws-sdk-go/aws` folder should have the `aws.a` file and other folders I have shown before.

I got the SDK by `go get -u github.com/aws/aws-sdk-go`

[2016-12-01 09:20] Jamesxql commented on #645
There is only a aws-sdk-go.a file in the folder, other files about you show to me is not exists at all.

But when I use
`go get -u github.com/aws/aws-sdk-go/aws/...
go get -u github.com/aws/aws-sdk-go/service/...`

to retrieve the SDK, everything is fine.

I don't know why

[2016-12-01 09:29] Jamesxql commented on #645
Thank you for taking the time to help me solve this problem, I know it's not the `vscode-go` plugin's  problem. Thanks again. @ramya-rao-a

[2016-12-01 09:29] #645 closed

[2016-12-01 17:27] ramya-rao-a commented on #645
Hmm..may be you had vendoring switched off thats why?

[2016-12-01 23:47] zmb3 commented on #667
I ran `gogetdoc` on the `resthandler.go` file in the kubernetes project and queries were taking 1.1s, which is not instantaneous but really not bad given the size of the project.

Interestingly enough, running with `GOMAXPROCS=1` (or even 2), the query time is down to .70s.  There's not much work that can be done in parallel here, so we're probably just losing time due to scheduler overhead.  As a

[2016-12-02 06:44] bruceauyeung commented on #667
@zmb3 after i `go get -u github.com/zmb3/gogetdoc`, i tested at least 2 times seperately between `export GOMAXPROCS=8` and `export GOMAXPROCS=1`, and when `export GOMAXPROCS=1`, it takes more time ( over 8 secs ) than when `export GOMAXPROCS=8` ( about 3 secs, maybe a little less )

so i think, on my machine, `export GOMAXPROCS=8` is better than `export GOMAXPROCS=1`.
compared to enabling-gc, disa

[2016-12-02 08:35] Jamesxql commented on #645
I use the go v1.7.3, does the vendoring is enabled by default?

How do I check if the vendoring has switched off?

[2016-12-02 09:05] yaronsumel opened #674 "no definitions for builtin.go functions"
go to definition/peek (F12/ALT F12) not working on any builtin (src/builtin/builtin.go) functions ie. make/new/cap/len/append..

[2016-12-02 09:21] yinanrong opened #675 "Cannot read property 'currentGoroutine'"
it throws when i debug my program with input a parameter  from vscode command line .
the parameter i read just like 	 this.
`  var port int `
` fmt.Scanln(&port)`
everything is ok if i use  go command line to compile .
## the whole  excption:

[2016-12-02 16:18] ramya-rao-a commented on #645
in go v1.7.3 it will be enabled by default

[2016-12-02 16:19] ramya-rao-a commented on #674
Can you try adding this setting? `"go.docsTool": "gogetdoc"`
And then reload the VS Code window.

[2016-12-02 17:54] ramya-rao-a opened #676 "No intelligence"
_From @HopeForToday on December 1, 2016 6:28_

- VSCode Version: Code 1.7.2 (7ba55c5860b152d999dda59393ca3ebeb1b5c85f, 2016-11-21T22:06:37.428Z)
- OS Version: Windows_NT ia32 6.3.9600
- Extensions:

|Extension|Author|Version|
|---|---|---|
|Go|lukehoban|0.6.51|
|csharp|ms-vscode|1.5.3|

---

Steps to Reproduce:

1.vsCode cannot list the member or func of fmt, when I typed “fmt.”
2.But in other peo

[2016-12-02 17:54] ramya-rao-a commented on #676
_From @chrmarti on December 1, 2016 16:25_

I guess that is with Go? Have you set the GOPATH environment variable?

[2016-12-02 17:57] tsandall commented on #401
First off, thanks for making VS Code my favourite editor for Go!

It would be really nice to see this resolved. As it stands, I have to remove the verbose flag in my copy of the extension. The problem with this is that it gets stomped every time I upgrade.

I see there's a PR resolving this, is there any chance of getting it merged?

[2016-12-02 17:57] ramya-rao-a commented on #676
@HopeForToday

Are you having auto-complete issues only with `fmt` and standard library or even custom packages?
Does this happen on all of your Go projects?
Do you see any error in the console? Open `Developer: Toggle Developer Tools` to see the console.
Can you share your settings and sample code?

[2016-12-02 18:41] zmb3 commented on #667
Hmm, so the GOMAXPROCS isn't a one-size fits all solution.  Bummer.

One thing that would help would be for the extension to make sure not to stack up processes, meaning if the user moves their cursor before the results come back then the process should be cancelled before starting a new one.

Additionally, if there are cases where the extension needs only a definition and not the doc, then `godef

[2016-12-02 21:01] logicaleak opened #677 "Auto deletion of the imports causing problems"
Hello,

I have been using the plugin for a couple weeks now, but I am having some troubles with the imports. If I create additional packages in a project in the visual studio, and try to import them within the same projects main package, visual studio cannot find them and automatically remove it.

GOPATH is defined in my  bashrc, so when I execute "echo $GOPATH" in any terminal, it will display th

[2016-12-02 23:09] atombender opened #678 "Format-on-save screws up undo/redo stack"
For example, a simple Go file:

[code]

Say I change `main` to `foo` and hit save. I'm using `goimports` to format; when save runs the formatter, nothing is changed because my code is already formatted correctly. However, VSCode-Go still seems to replace the entire document, which means that if I hit `cmd-Z`, nothing happens. I have to hit `cmd-Z` once more in order to undo my change.

VSCode-Go s

[2016-12-03 00:37] ramya-rao-a commented on #401
@tsandall I'd love to get this PR merged as well.

Currently, the `go.buildFlags` are used for running tests. Other than `-v` do you foresee the need to change/add other flags while running `go test` which are different from `go.buildflags`?

The current bone of contention is whether there should be a separate setting to control the verbosity of `go test`  or we should have a setting for test flag

[2016-12-03 00:47] ramya-rao-a commented on #678
`go.formatOnSave` is currently implemented in a hacky way. See https://github.com/Microsoft/vscode-go/blob/master/src/goMain.ts#L191

Which is basically
- your edits are saved
- formatting edits are saved
- undo works on the last batch of edits which was formatting.

This was when there was no pre-save event supported by VS Code for extensions to use.

In VS Code 1.6, we now have API that supports

[2016-12-03 00:51] ramya-rao-a commented on #677
@logicaleak Are the imports getting removed before or after you use them?
If you just add an import and save the file before using the import, the formatting tool decides it is an unused import and will delete it.

You can see #624 for more details.

[2016-12-03 01:53] tsandall commented on #401
I don't have any other use cases for tweaking the flags right now.

That being said, whenever I have to run tests with different flags, I find myself dropping down to the command line because modifying settings.json for a one-off run is not intuitive.

[2016-12-03 04:04] Gaffney commented on #637
I did a full wipe / reinstall of *everything Go-related* and all seems well again.  Closing as I don't think the issue was specific to `vscode-go`.

[2016-12-03 04:04] #637 closed

[2016-12-03 06:57] ramya-rao-a commented on #637
Thanks @Gaffney, sorry I didn't have anything useful to suggest for trouble shooting

[2016-12-03 08:26] yaronsumel commented on #674
@ramya-rao-a with ` "go.docsTool": "gogetdoc" ` I'm not getting any definition.

[2016-12-03 11:31] zgiber commented on #442
@ramya-rao-a Thank you for the fix, however simply performing the steps described in the comment does not solve the problem in my case. It makes all the Goto/Peek Definition, Hover info and Signature Help functions stop working. Perhaps there is something I've missed? Go Extension 0.6.50, VSCode Version 1.7.2 (1.7.2).

[2016-12-03 21:06] logicaleak commented on #677
No after, however the issue is more about the visual studio not detecting the packages that are local to project folder. Because the packages are not found, it cannot figure out they are used and removes them. However, the project is compilable with the import.

As I said my bashrc has the GOPATH set. And I also tried running vscode from the command line that has GOPATH set to correct path ( the f

[2016-12-03 21:07] logicaleak commented on #677
Maybe I should edit the title

[2016-12-04 00:40] ramya-rao-a commented on #442
@zgiber What version of Go are you using? Can you share the output of `go version` ?
If you are using Go from source, then yes in Go extension 0.6.50, Goto/Peek Definition, Hover info and Signature Help features stopped working. The newest update 0.6.51 has the fix for it

[2016-12-04 00:42] ramya-rao-a commented on #677
In that case, can you share sample code in a git repo?
Are you seeing any build errors in the output window?
When you run the command `Go: Current GOPATH` in VS Code what do you see?

[2016-12-04 01:14] ramya-rao-a commented on #674
@zmb3 Below is the output of `gogetdoc` on the built-in function `append`. Note that the `pos` is missing. Is this a known issue in `gogetdoc` ?

[code]

[2016-12-04 01:30] zmb3 commented on #674
@ramya-rao-a it is known, but I wouldn't call it in issue.  This has been reported before: https://github.com/zmb3/gogetdoc/issues/19

Builtins are special - they are implemented in the compiler/runtime and are not ordinary Go functions.  There is no definition to go - they might even be implemented by multiple functions.

This isn't unique to `gogetdoc` - try `godef`:

[code]

[2016-12-04 08:18] ramya-rao-a commented on #674
Thanks a lot for the clarification @zmb3
@yaronsumel, closing this as by design

[2016-12-04 08:18] #674 closed

[2016-12-04 10:31] galacto commented on #360
@assafmo I had same issue I followed @shamimafridi's solution and it worked
Before that I installed delve as follows
[code]

[2016-12-04 17:39] zgiber commented on #442
@ramya-rao-a I'm using go version go1.7.4 darwin/amd64, not from source, but from archive. The Go plugin is now version 0.6.51. After adding the line: `"go.docsTool": "gogetdoc",` to user settings and restarting VSCode, Goto/Peek definition, Hover info, Signature stopped working. Removing the line restored the usual functionalities, but then the original issue (no tooltip on net package's function

[2016-12-05 00:35] ramya-rao-a opened #679 "Goto Definition, Hover, Signature Help stopped working when using gogetdoc"
From @zgiber in https://github.com/Microsoft/vscode-go/issues/442#issuecomment-264718041:

[2016-12-05 00:36] ramya-rao-a commented on #442
@zgiber Since what you are seeing is specific to `gogetdoc`, I opened a new issue to track it #679. Lets continue the discussion in that thread

[2016-12-05 00:38] ramya-rao-a commented on #679
@zgiber Can you check if there are any errors in the console? You can run `Developer: Toggle Developer Tools` to open the console.

Are you able to run `gogetdoc` in the command line?

[2016-12-05 03:27] atombender opened #680 "Autocompletion order is a bit meh"
Here's an example where I have to type way more than I expect.

<img width="772" alt="screen shot 2016-12-04 at 22 21 37" src="https://cloud.githubusercontent.com/assets/50314/20872886/53d6dd44-ba70-11e6-87e1-a34ec20a88c2.png">

<img width="775" alt="screen shot 2016-12-04 at 22 21 51" src="https://cloud.githubusercontent.com/assets/50314/20872887/53d7aa30-ba70-11e6-825d-c8e367e9982b.png">

<img w

[2016-12-05 04:03] yaronsumel commented on #674
hey @ramya-rao-a @zmb3 . actually in [go-lang-idea-plugin](https://github.com/go-lang-plugin-org/go-lang-idea-plugin) they sending the user to this file. anyway i cant even see the completion for builtin functions.

[2016-12-05 04:55] atombender commented on #678
I discovered that there's also an icky race condition where undo is screwed up if you apply any edits before the formatter comes back. If this happens, something odd happens where if you undo, you can't redo to the newest change.

The formatter often takes 2-5 seconds on my machine (no idea why, I have a fast machine and it's not doing anything else; the files are often a thousand lines long, but

[2016-12-05 05:03] chrisolsen opened #681 "code snippet/autocomplete menu is very slow"
In the last while getting the snippet/autocomplete menu to be shown now takes about 5 seconds for a medium sized project. However, if I create a new `.go` file outside the project it is back to being fast.

OS: windows 10
vscode: 1.7.2
vscode-go: 0.6.51

[2016-12-05 08:51] zgiber commented on #679
@ramya-rao-a Yes and I think this will help. I wish I knew about the console earlier.. shame but haven't looked at it yet.
[code]

[2016-12-05 09:16] ramya-rao-a commented on #681
Can you try setting `go.autocompleteUnimportedPackages` to false and see if it is still slow?
This is to see if the extra steps we take to provide auto-completion for unimproved pkgs is the reason for the slowness.

If not, then can you try running `gocode` in the command line and compare the performance?

[2016-12-05 09:19] ramya-rao-a commented on #674
Do you see anything on hover for the builtin functions? I am able to get info on hover as well as completion. Does completion work otherwise for rest of your code?

[2016-12-05 09:55] yaronsumel commented on #674
@ramya-rao-a  nothing on hover for builtin (godoc and gogetdoc). completion works fine.

[2016-12-05 15:17] logicaleak commented on #677
The path command showed the correct path. However I somewhat solved the problem. Although it did not work before, if I give the path of the package with the name of the project folder before it, it works. I think this was what I was supposed to do in the beginning as well. What misdirected me is that, for the local packages in project folder, vscode does not provide any autocompletions as opposed

[2016-12-05 16:49] chrisolsen commented on #681
There doesn't seem to be any difference when with `go.autocompleteUnimportedPackages` set to false.

For the `gocode` command, is it the `gocode autocomplete` command I should test?

[2016-12-05 17:11] chrisolsen commented on #681
Things seem to have sped back up, not sure if running the `gocode status` command would do that...

[2016-12-05 18:46] assafmo commented on #360
I did nothing and now it works.
Exact same configuration (also works with vscode-go 0.6.50 and vscode-go 0.6.51)...

@galacto Thanks. Maybe I'll try that the next time something breaks. :smile:

[2016-12-05 19:28] galacto commented on #360
@assafmo it still breaks randomly but going to launch.json and start debug session helps, sometimes i need to clear all breakpoints which is painful.

[2016-12-06 02:24] ramya-rao-a commented on #681
Closing for now. If you see more issues, feel free to re-open and we can narrow it down to whether there is an issue with the extension or `gocode` itself

[2016-12-06 02:24] #681 closed

[2016-12-06 02:25] ramya-rao-a commented on #674
Do you see any errors in the console? Run `Developer: Toggle Developer Tools` to see the console.

[2016-12-06 02:27] ramya-rao-a commented on #677
You should get autocompletion for local packages as well. If you can share sample code, I can look into it.

[2016-12-06 02:30] ramya-rao-a commented on #679
It says, that the flag `-u` is not supported. Maybe you have an old version of `gogetdoc`. Can you update it?

`go get -u github.com/zmb3/gogetdoc`

[2016-12-06 12:18] ShiYu-Yang opened #682 "How can I get gofmt error info ?"
I don't know how to see gofmt error info

I think that gofmt is not only a format file tool but a tool helps me check my code whenever I want.

But when I have some error in my code and save it , gofmt doesn't work and show nothing.

I know gofmt will show info like this:
gen_code.go:23:22: expected ')', found '{'
gen_code.go:24:2: expected ';', found 'return'

Can I see it in a front panel?

[2016-12-06 16:59] calrsom opened #683 "Command to run short unit tests"
It would be nice to have a palette command to run `go test -short` that I could bind to a keyboard shortcut.  This would be great to quickly run the short test cases while I'm coding to make sure I didn't break anything.

[2016-12-06 18:22] ramya-rao-a opened #684 "vscode and godef use high cpu (with steps)"
_From @zakokun on December 6, 2016 4:45_

- VSCode Version: 1.7.2
- OS Version: macOS Sierra
- go version: go1.7.3

extensions:
 ![extension](http://ww1.sinaimg.cn/large/73c5712dgw1fagy7tsv5gj20bi0dudgh.jpg)

Steps to Reproduce:

1.  open vscode
2.  open a  ` .go` file, use `go def` many times
3.  then vscode use cpu high
 ![extension](http://ww3.sinaimg.cn/large/73c5712dgw1fagyr0o168j20cg06q74o.j

[2016-12-06 21:49] zgiber commented on #679
@ramya-rao-a Thank you that was it. I thought that Go Install tools did update it to the latest, but apparently it wasn't.

[2016-12-07 00:59] ramya-rao-a commented on #682
Currently, the errors from the formatting tool go to the console. Run `Developer: Toggle Developer Tools` to see the console.

If you have build, vet and lint on save enabled, then wouldnt errors from those actions cover what you would have otherwise gotten from `gofmt` ?

[2016-12-07 01:02] ramya-rao-a commented on #683
Would having `go.testFlags` that you can set in the settings help? There was a [PR](#482) to do that. Please do chime in with your thoughts here #401

[2016-12-07 12:05] ShiYu-Yang commented on #682
I am sorry but I got nothing with go vet or lint too.

There is the easy code
`package main
func Test(     {
}
`

Terminal show
➜ ~$  /home/ysy/go/bin/go tool vet /tmp/test.go
vet: /tmp/test.go: /tmp/test.go:3:16: expected type, found '{' (and 1 more errors)
vet: no files checked

VSCode output just show like this
Finished running tool: /home/ysy/go/bin/go tool vet /tmp/test.go

[2016-12-07 15:39] calrsom commented on #683
Yes, I think that would be helpful, although I still think it would be really nice to be able to bind a shortcut for running short tests. I suppose short/package is the combination that would probably be most useful.

[2016-12-07 15:42] calrsom commented on #401
I would like to see the `-short` flag available.  That said, it would be really nice to bind this variation to a keyboard shortcut.  I already have a set of Ctrl+U chords for the various unit test scopes, and this would be a nice addition.  I would probably use Test Package short the most.

[2016-12-08 01:49] ShiYu-Yang commented on #682
Wow,now I know that vet tool just is for some static syntax error!
And I open buildOnSave to check error.
Thank you!

[2016-12-08 01:49] #682 closed

[2016-12-08 02:09] ramya-rao-a commented on #682
Use `buildOnSave`, `vetOnSave` and `lintOnSave` and see which works best for you

[2016-12-08 02:12] ramya-rao-a commented on #679
You mean the command `Go: Install Tools` ? If you had `go.docsTool` set to `gogetdoc` and then run the command, then yes it should have updated it for you.

Anyway, glad you are unblocked now.
Happy coding

[2016-12-08 02:12] #679 closed

[2016-12-09 02:35] zoumo commented on #162
This one is fixed in https://github.com/rogpeppe/godef/pull/33

[2016-12-09 02:39] zoumo commented on #667
`godef + godoc` work well for me since godef fixed vendor support in https://github.com/rogpeppe/godef/pull/33

[2016-12-09 22:04] gabrielgatu commented on #601
I was having the same problem the other day and I've made a search of the pull requests for test-coverage hoping for an easy solution to clear highlights and I've found this: https://github.com/Microsoft/vscode-go/pull/143, i.e. just type something and the highlight will disappear (leaving here for further reference).

The toggle idea is a good one (my first try), however since then it would be a

[2016-12-09 22:09] ramya-rao-a commented on #601
@gabrielgatu I agree that this needs to be documented, but I wonder if README is the right place for it. It is already so huge and has a lot of content about set up

#596 was created to track adding details about the features of this extension, how to use it, tips and tricks etc.

I'd say wiki would be the right place.

[2016-12-10 01:53] qiuhaotc opened #685 "Missing code hinting"
Often missing the code hinting when After the compiler error
![qq 20161210095059](https://cloud.githubusercontent.com/assets/8034473/21070342/77c0766e-bebe-11e6-8257-0c206546a635.png)

[2016-12-10 22:25] derekperkins opened #686 "Wrap gometalinter with zb"
zb does some smart caching of `gometalinter` that should help out performance.
https://github.com/joshuarubin/zb

[2016-12-11 11:07] hhrutter opened #687 "godoc processes hogging cpu"
Visual Studio Code 1.7.2
Go Extension 0.6.51
MacOS: Sierra 10.12.1

After a couple of minutes into an editing session of go code I get at least one godoc process taking up lots of cpu. Killing these processes is a work around - still annoying.

[2016-12-12 05:41] ameissnersofi commented on #684
+1 this issue.  All these `godef` processes really eat up my CPU and don't leave me with much anything else.  Please fix this bug!

[2016-12-12 05:46] ramya-rao-a commented on #684
@zakokun, @ameissnersofi Did you both recently upgrade to Mac OS X Sierra?

There is a known issue of performance on Mac OS X Sierra. See #503

Run the command `Go: Install Tools`. That should update all the go tools that the extension depends on which should fix the issue

[2016-12-12 05:47] ramya-rao-a commented on #687
Did you recently upgrade to Mac OS X Sierra?

There is a known issue of performance on Mac OS X Sierra. See #503

Run the command `Go: Install Tools`. That should update all the go tools that the extension depends on which should fix the issue

[2016-12-12 05:58] ramya-rao-a commented on #685
@qiuhaotc Can you provide an example with the compile error?

I get the auto-complete when working on code that doesn't build successfully

[2016-12-12 07:25] ameissnersofi commented on #684
Yes, I did upgrade.  I can't remember how long ago, but this all seems to be connected because delve debugger is also having trouble on Sierra.

I'll run this command first thing in the morning and report back.  Thanks for responding so quickly!

[2016-12-12 10:35] YLivay commented on #604
Can confirm, Sending SIGKILL instead of the default SIGTERM [here](https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L283) might be a workaround but I'm not sure how important it is to terminate the debug processes gracefully. Might not work if dlv spaws the process in detached mode. Will compiling the extension and test.

[2016-12-12 17:29] ameissnersofi commented on #684
@ramya-rao-a, after running `Go: Install Tools`, I get the following error: `command 'go.tools.install' not found`.  What am I missing?

[2016-12-13 00:09] qiuhaotc commented on #676
thx when i try this [https://github.com/Microsoft/vscode-go/issues/441](url),problems seemed to be solved.

[2016-12-13 03:07] zakokun commented on #684
yes! I updated those tools and it fixed!  I can use vscode again. thank you very much~ @ramya-rao-a

[2016-12-13 04:53] ramya-rao-a commented on #684
Glad to help. @ameissnersofi Are you unblocked too?

[2016-12-13 04:54] #676 closed

[2016-12-13 05:15] ameissnersofi commented on #684
@ramya-rao-a yes!  I'm sorry, I meant to respond sooner.  I've got my team back up and running on vscode again.  Thanks so much!!!

[2016-12-13 18:59] ramya-rao-a commented on #684
Great, Happy Coding!

[2016-12-13 18:59] #684 closed

[2016-12-13 22:05] PumpkinSeed commented on #50
I am using the 1.7.1 and still get this very annoying Info pop-ups. Any solution?

[2016-12-13 22:33] mkatanski commented on #631
@ramya-rao-a Hi, sorry for late answer but yes, I know what was causing the problem. Like u said, it was problem with some extension (somehow I've missed it before). Its `Whitespace v.0.0.4` extension which I even don't need :)

Anyway thank You for great feedback and good luck :)

[2016-12-13 22:33] #631 closed

[2016-12-13 22:44] ramya-rao-a commented on #631
Thanks for getting back with that info @mkatanski . Happy Coding!

[2016-12-13 22:46] ramya-rao-a commented on #625
@cristim , The other issue #631 which is similar to yours is confirmed to be caused by an external extension called "whitespace".

Do you have any updates from your side?

[2016-12-14 00:11] hhrutter commented on #687
I already did that. I still get godoc processes running wild.

[2016-12-14 02:14] ramya-rao-a commented on #687
Is it project specific? Does it happen on smaller packages as well?

[2016-12-14 08:02] cristim commented on #625
@ramya-rao-a due to this bug and other issues related to unintentional whitespace mangling in Makefiles and Markdown files, I reduced my use of vscode, so I didn't get the chance to experiment so much with it lately.

I will check and ensure the whitespace external extention is disabled.

[2016-12-14 08:11] cristim commented on #625
Okay, that extension was installed and I can't reproduce the issue anymore after disabling it.

I think this issue can be closed.

[2016-12-14 11:36] jonwinters commented on #653
@a57571735
同为墙内狗，看了你这个文章 我的go终于安装成功了

[2016-12-14 18:55] ramya-rao-a opened #688 "Golang 1.7.4 breaks navigation outside package"
_From @entonio on December 14, 2016 18:35_

- VSCode Version: 1.7.2
- OS Version:

Steps to Reproduce:

1. Install go 1.7.4
2. Try to navigate to a symbol outside the current package
3. Doesn't do anything

I've tried going back to Go 1.7.3 and navigation started working again.
I've tried placing `"go.docsTool": "gogetdoc"` in the user settings but found no difference.

_Copied from original issue

[2016-12-14 18:57] ramya-rao-a commented on #625
Thanks @cristim

[2016-12-14 18:57] #625 closed

[2016-12-15 14:17] DasJott commented on #611
The `editor.formatOnSave` almost broke one of our releases as we use a selfmade template markup in our js and html and that was "formatted" which destroyed the whole page.
The GO formater always worked great, why not leave it as it is...

[2016-12-15 18:04] tdorn commented on #360
Just started getting this issue

Extension: lukehoban.Go
VsCode version: 1.8

[2016-12-15 18:49] f0zi opened #689 "Can't set breakpoins in libraries when remote debugging"
- What version of Delve are you using (dlv version)?
  - 0.11.0-alpha on both Windows + Linux
- What version of Go are you using? (go version)?
  - go version go1.7 windows/amd64
  - go version go1.7.4 linux/amd64
- What operating system and processor architecture are you using?
  - Windows 10 64 bit running VS code
  - Any linux (tested with Ubuntu 16.4) running the test subject & headless dlv
-

[2016-12-15 23:33] mdmarek opened #690 "Ctrl+Shift+I causes "Cannot read property 'substring' of undefined""
After updating to version `1.8.0` of VS Code, with vscode-go verison `0.6.51`, trying to format document with CTRL-SHIFT-I causes the error:

[code]

Full VS Code version information:

[code]

OS information:
[code]

[2016-12-16 01:16] roblourens commented on #690
It works for me in Ubuntu. Do you have any other extensions installed?

Where are you seeing that error? Is there a stack trace or anything associated with it? Thanks.

[2016-12-16 01:42] ramya-rao-a commented on #505
Closing this, as we havent heard back from the OP.

[2016-12-16 01:42] #505 closed

[2016-12-16 01:50] ramya-rao-a commented on #670
Right now, we wait for build, lint and vet to complete before updating the Problems view.
PRs are welcome do batch the errors/warnings and update the Problems view periodically instead of waiting till the end.

[2016-12-16 01:56] ramya-rao-a commented on #654
I can confirm you second point, but not the first.

Regardless, lint on file open seems like a good feature.

PRs are welcome

[2016-12-16 02:27] ramya-rao-a commented on #671
For some of the features you listed, we have VS Code counterparts that do similar if not the exact same thing

- List File declarations -> File Outline (Ctrl + Shift +O) gives file declarations in the order they appear in the file
- Browse Declarations -> Workspace Symbol Search (Ctrl + T) and start typing. This will search symbols in the workspace. Browse Declarations lets you browse through ALL

[2016-12-16 02:28] ramya-rao-a commented on #672
@bruceauyeung Can you run `gometalinter` in the command line and see if you get the same results?
If yes, then this is an issue with `gometalinter` itself and should be logged in its repo

[2016-12-16 02:37] ramya-rao-a commented on #673
@mattetti

Is there any official documentation for this?

[2016-12-16 02:37] ramya-rao-a commented on #675
Can you share a sample code project that we can use to repro this?

[2016-12-16 02:41] ramya-rao-a commented on #678
@atombender The fact that the formatter takes so long is alarming.

Can you run the formatter from command line and compare the time taken?

Using the `onWillSaveDocument` will not help if formatter takes so long, because there is only so much time that it will wait for the extension to get back with edits from the formatter

[2016-12-16 02:49] mattetti commented on #673
https://golang.org/cmd/go/#hdr-Compile_packages_and_dependencies

The -i flag installs the packages that are dependencies of the target.
Unfortunately I am not aware of documentation explaining the ramifications
of having packages installed.
Here is a Quora explaination:
https://www.quora.com/What-is-the-difference-between-build-and-install-in-Go
Basically what I saw is that when using -i in build

[2016-12-16 02:57] ramya-rao-a commented on #680
The autocomplete for unimported packages that was introduced a few updates ago have 2 features
- Add all the importable packages in the completion items
- A dot after an unimported packagename would give you auto-complete options for members of that package.

Its the first feature above that adds a lot of noise to completion items in a lot of cases (yours included).
One improvement that was done w

[2016-12-16 02:59] ramya-rao-a commented on #683
This can be independent of the test flags feature. Having a command `Go: Test Package (Short)` would be a good addition.

This is an easy change. PRs are welcome.

[2016-12-16 03:00] ramya-rao-a commented on #683
cc @ironcladlou

[2016-12-16 03:04] ramya-rao-a commented on #688
Is it only the navigation that is not working?
Can you try other features of the extension like
- autocomplete
- hover info
- signature help
- linting
- formatting

Do you see any errors in the console? Run `Developer: Toggle Developer Tools` to see the console

[2016-12-16 03:08] ramya-rao-a commented on #673
@derekperkins mentioned https://github.com/joshuarubin/zb in another issue. This claims to run faster builds. It comes down to build vs install there as well

[2016-12-16 03:25] mattetti commented on #673
I don't know if we should go all the way to pushing something like zb but
yes zb uses some of the same techniques. -i really shouldn't have any down
sides, besides making for faster builds, especially on save.

On Thu, Dec 15, 2016, 19:08 Ramya Rao <notifications@github.com> wrote:

[2016-12-16 04:01] atombender commented on #678
Well, it's not consistent. Go's tools sometimes misbehave — like `godef` using 100% CPU and having to be killed, or the `gocode` daemon crashing. The above formatter slowness might be related to a problem where `goreturns` would panic with a stack overflow (after a few seconds), something I discovered a while back and fixed with a `go get -u`. But I forget whether I wrote the above issue before or

[2016-12-16 04:34] atombender commented on #680
I understand. It's weird that VSCode doesn't allow an extension to order the matches. Surely VSCode doesn't know what the items mean, so it can't order them appropriately.

This issue also affects "Go to Symbol" (@) — imports come before declarations/definitions — although that's evidently because it lists stuff in declaration order. But if start typing stuff to fuzzy match, there's pretty much no

[2016-12-16 04:35] atombender commented on #680
Forgot to say: Turn off `go.autocompleteUnimportedPackages` helps a lot, thanks.

[2016-12-16 06:10] ramya-rao-a commented on #680
Regarding the "Go to Symbol", I always thought it is not of much use to even have the import statements show up in the first place. Not just for Go, but for other languages like typescript as well.

I wonder if the autocompleteUnimportedPackagea setting should be set to false by default. If there is more feedback, we might just do tgat

[2016-12-16 06:11] atombender commented on #680
Yep to both. Imports in "Go to Symbol" do seem pretty useless.

[2016-12-16 07:19] DashShen commented on #690
I have the same problem after updating to the version `1.8.0` . When I try to format my python code with python extension, it causes the error:
[code]

[2016-12-16 08:13] lunemec commented on #8
Here is the documentation for the new "guru" tool:
https://docs.google.com/document/d/1_Y9xCEMj5S-7rv2ooHpZNH15JgRT5iM742gJkw5LtmQ/edit#heading=h.ojv16z1d1gas

And here is great talk on gophercon 2016:
https://www.youtube.com/watch?v=ak97oH0D6fI

[2016-12-16 09:37] monty-georgiev commented on #690
I also have the issue after updating to 1.8.0 and only with my python code.
I'm running it in OS 10.12.1

[2016-12-16 11:13] dstpierre commented on #690
same here, after updating to 1.8.0 with Go extension 0.6.51 on Arch Linux.

[2016-12-16 12:24] openingnow commented on #690
same here with c++ extension. maybe after 1.8.0 update

[2016-12-16 14:23] ironcladlou commented on #683
The VSCode 1.8 release has a [neat new feature](https://code.visualstudio.com/updates#_keyboard-shortcuts) which allows binding shortcuts which pass arguments to commands. Would it make any sense to register a generic `go.test` command which can be invoked with arguments which can amend or override certain things (like the test flags)? For example, the following might be possible:

[code]

Thinkin

[2016-12-16 16:06] svanas commented on #473
I seem to have the same problem. I'm working with:

- Visual Studio Code 1.8.0
- Go extension 0.6.51
- go version go1.7.3 darwin/amd64
- Delve 0.11.0-alpha

Every so often, `nexting` in de IDE hangs. I then see this in the debug console:

[code]

[2016-12-16 16:25] svanas commented on #675
#473

[2016-12-16 16:48] roblourens commented on #690
Where are you seeing this error?

[2016-12-16 19:01] mdmarek commented on #690
@roblourens I open a Go source file in my project, any project, and try running CTRL+SHIFT+I, the consequence is that a small header drops down with the warning. See embedded screen shot.

![error-ctrl-shift-i](https://cloud.githubusercontent.com/assets/241294/21274839/04f5da96-c37f-11e6-879e-289039fc568f.png)

[2016-12-16 19:07] mdmarek commented on #690
@roblourens: is there a way I could get a stack trace or something useful for you from that warning? If you tell me how I'd be happy to grab the information.

[2016-12-16 19:18] roblourens commented on #690
Can you open the developer tools (under the help menu) and show what's in the console there?

[2016-12-16 19:34] ramya-rao-a commented on #683
That's a great idea @ironcladlou and seems like the right way to go. Am here to review and test it, so feel free to send a PR.

Note: Since this would need the latest VS Code APIs which in turn needs a more recent typescript dependency, you will need #669 to go in before you get started.

[2016-12-16 19:54] mdmarek commented on #690
@roblourens Here is the screen shot with the developer tools console:

![ctrl-shift-i-error](https://cloud.githubusercontent.com/assets/241294/21276326/b5570cd8-c385-11e6-90e9-59062783ee52.png)

A couple of notes:

1.
I had to try CTRL-SHIFT-I maybe a dozen times before the stack trace printed, the warning always appears, but the stack trace for some reason does not.

2.
If you notice in `example.

[2016-12-16 20:02] roblourens commented on #690
Missing a trailing newline is the key. I can repro it too in that case. Thanks! I think the stack is actually unrelated.

[2016-12-16 21:00] ramya-rao-a commented on #690
Yes, the stack is actually unrelated.

[2016-12-16 21:47] ramya-rao-a commented on #356
As of now, there is no way to pass the settings to the debugger.
Therefore, setting the `env` property in `launch.json` is the way to go.

[2016-12-16 21:47] #356 closed

[2016-12-16 21:47] ramya-rao-a commented on #650
@zplzpl As of now, there is no way to pass the settings to the debugger.
Therefore, setting the `env` property in `launch.json` as suggested in #356 is the way to go.

[2016-12-16 22:19] roblourens commented on #690
Looks like an issue in vscode, I filed https://github.com/Microsoft/vscode/issues/17424

[2016-12-16 22:30] mdmarek commented on #690
Thank you Rob

[2016-12-18 02:16] ahmetalpbalkan commented on #390
This is still very much an issue.

[2016-12-18 02:18] ahmetalpbalkan opened #691 ""Add import" and autocomplete don't discover newly added packages"
If I add a new dependency to my vendor directory (say, using [govendor](https://github.com/kardianos/govendor)) or $GOPATH (using `go get`) the `> Go: Add Import` command does not list these packages.

I have to restart vscode to get those packages working in "Add Import" and autocomplete.

[2016-12-18 03:41] NikosEfthias opened #692 "Stepping over wont work ."
while debugging trying to step over doesn't work and cursor moves randomly backward and forward

[2016-12-19 01:33] bipin-nag commented on #690
Also facing the issue. Thanks @roblourens for the solution.

[2016-12-19 18:08] trdyer commented on #651
I'm using osx el capitan with Delve 0.11.0-alpha (installed with homebrew) and getting the same issue.

without "showLogs": true I just get the progress bar spinning.

[2016-12-19 20:22] atombender commented on #678
I realized the behaviour I mentioned earlier isn't limited to a slow formatter, either. Steps:

1. Make a change.
2. Save.
3. Undo the change.
4. Save.
5. Redo now doesn't work.

This is presumably because the formatter kicks in and adds a new operation on the stack, which effectively truncates the stack.

I've been burned by this a few times now, and lost changes as a result: I make an experiment

[2016-12-21 17:52] ahmetalpbalkan opened #694 "Comments inside the import block are not highlighted"
![image](https://cloud.githubusercontent.com/assets/159209/21400087/3439cf6e-c763-11e6-98b8-92ff35b49655.png)

[2016-12-21 21:17] ahmetalpbalkan opened #695 "Empty new lines between imports"
When I keep writing my code, I almost always end up with empty lines like these in import section. I sometimes copy/paste code from other files too. I wonder if that causes that. I don't have clear steps to repro this but it happens all the time. Just leaving this here in case other people stumble on it too. I'm using latest version of everything.

![image](https://cloud.githubusercontent.com/asse

[2016-12-22 15:47] ShionRyuu commented on #232
error +1

[code]

[2016-12-23 01:01] mattetti opened #696 "code completion really slow on Windows"
OS: Windows 10
16GB ram, i5 CPU

I'm switching back and forth between mac and windows to develop the project I'm working on and I noticed that the code completion on Windows is much much slower than on Mac.
Hovering a type is fast as expected, but the code completion (automatic or via control + space takes a few seconds making it unusable.

I'm not sure what's going on, nor what part of the code w

[2016-12-23 10:29] ThreeBearsDan commented on #20
@erm0l0v I encounter this problem, too. dlv can work under terminal, but doesn't work under IDE vscode. help!

[2016-12-23 17:20] goupadhy commented on #493
how to set GOPATH?

[2016-12-23 17:50] goupadhy commented on #493
GOARCH="amd64"
GOBIN=""
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/goupadhy/work"
GORACE=""
GOROOT="/usr/local/go"
GOTOOLDIR="/usr/local/go/pkg/tool/darwin_amd64"
CC="clang"
GOGCCFLAGS="-fPIC -m64 -pthread -fno-caret-diagnostics -Qunused-arguments -fmessage-length=0 -fdebug-prefix-map=/var/folders/gc/d6y6tl513ns4862ygkx1hbcm0000gn/T/go-build118968087=/tmp/go-build -

[2016-12-23 17:54] SerjAntiquity commented on #493
@goupadhy try to run vs code from terminal.
Or set "go.gopath" in settings.json in  "File"-"Preferences"-"User Settings"

[2016-12-24 23:39] ae6rt opened #697 "Cannot edit on OS X"
Apologies for such a basic issue, but when I install VSCode and the Go extension on OS X, I cannot successfully make edits to a Go file.  By this I mean if I attempt to open a .go file and enter a new line to enter code, the line is temporarily created, then a second later the line is automatically deleted and the buffer looks the same as I when I started.  I can type a succession of 'returns' to

[2016-12-24 23:52] ae6rt commented on #697
Here is a screencapture showing the effect:

https://www.evernote.com/shard/s57/sh/6a261126-3745-45b0-b028-a16201a38075/dae3994ff26fe222

[2016-12-25 00:03] ae6rt commented on #697
I was able to solve the problem by removing $HOME/Library/Application\ Support/Code, $HOME/.vscode, and restarting.

[2016-12-25 00:03] #697 closed

[2016-12-25 16:51] egamma opened #698 "Visual Studio always uses significant energy when doing Go development"
_From @thewhitetulip on December 9, 2016 8:33_

- VSCode Version: Code 1.7.1 (02611b40b24c9df2726ad8b33f5ef5f67ac30b44, 2016-11-03T13:46:00.226Z)
- OS Version: Darwin x64 16.1.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|beautify|HookyQR|0.5.4|
|swift|Kasik96|0.0.2|
|python|donjayamanne|0.5.2|
|vscode-lua|gccfeli|0.1.2|
|CSSfmt|ilich8086|0.0.3|
|Go|lukehoban|0.6.51|
|HTMLHint|mkaufma

[2016-12-25 16:51] egamma commented on #698
_From @strrchr on December 9, 2016 14:5_

I encounter the similar problem.
Are there tips or options to reduce cpu usage?

[2016-12-25 16:51] egamma commented on #698
_From @thewhitetulip on December 10, 2016 4:55_

I started using `vi`because despite the fact that this is an amazing text editor, it eats up my battery within 2-3hrs of usage. using vi, my battery stays four times upto 8hrs!

[2016-12-25 16:51] egamma commented on #698
_From @kieferrm on December 13, 2016 6:0_

//cc @egamma

[2016-12-25 16:51] egamma commented on #698
The Go extension isn't shy to spawn new processes, e.g., on hover, which can result in increased energy consumption.

@thewhitetulip can you confirm that you only saw this problem when disabling the Go extension in the Extensions viewlet.

Assigning to @ramya-rao-a for further investigation in the Go extension. I'll add the `caused by extension` label for now.

[2016-12-25 16:51] egamma commented on #698
_From @thewhitetulip on December 23, 2016 4:41_

@egamma Well, I use Code only for Go programming :-) So I can't say for sure. But I will confirm by writing a python project using VScode too

[2016-12-25 16:51] egamma commented on #698
_From @thewhitetulip on December 25, 2016 7:15_

@egamma I am sorry for the delay, yes, writing Go code marks VSCode as using high energy, tested thrice writing JS and writing Go, JS has no issues, Go has issues.

Also, thought you might want to know:

Code Helper eats 11% CPU for every single edit of any file (Go or not)
Code itself takes 1.4% CPU and 43MB when it is in background (it is updating

[2016-12-25 16:51] egamma commented on #698
@thewhitetulip thanks for following up, I move the issue to the Go Issue repository for further investigation.

[2016-12-26 15:29] ramya-rao-a commented on #698
@thewhitetulip @strrchr Did you recently upgrade to Mac OS X Sierra?

There is a known issue of performance of Go tools on Mac OS X Sierra. See #503

Run the command `Go: Install Tools`. That should update all the go tools that the extension depends on which should fix the issue

[2016-12-26 15:31] ramya-rao-a commented on #694
This issue was moved to atom/language-go#105

[2016-12-26 15:31] #694 closed

[2016-12-26 15:35] ramya-rao-a commented on #696
We use [gocode](https://github.com/nsf/gocode) for autocomplete in the Go extension.
You can try running the autocomplete command from gocode in the command line and compare performance in the 2 platforms

[2016-12-26 15:46] mattetti commented on #696
That's a good idea, let me benchmark both platforms using the same version
of Go and gocode and against the same codebase and let see of this is where
the bottleneck is.

On Mon, Dec 26, 2016, 07:35 Ramya Rao <notifications@github.com> wrote:

[2016-12-26 16:05] cgroves3 commented on #438
same behavior with ubuntu 14.04.5 LTS and vscode 1.8.1

[2016-12-26 21:48] danbricedatascience commented on #20
Same issue.

[code]

When running a very simple Hello World. Breakpoints are "bypassed" and the program simply complete like if it is not in debug mode.

It perfectly works with dlv command line.

I'm on MacOSX 10.11.6, delve is installer from homebrew - certificate is well created.

[code]

[2016-12-27 04:10] thewhitetulip commented on #698
It is about excess Energy being used and not CPU, I am not sure if this is the issue. I am using Sierra and will check after installing new binaries.

[2016-12-27 04:44] ramya-rao-a commented on #20
@roblourens can you take a look at this?

[2016-12-27 05:52] roblourens commented on #20
This seems kind of far from the original issue so hopefully I'm not missing a thread. @erm0l0v that error message `could not launch process: could not fork/exec` would probably be coming from your code, so I don't know why it would be working via command line but not vscode. Could that be the case?

@ThreeBearsDan Do you see that exact error message or do you just share the issue that it works via

[2016-12-27 15:41] erm0l0v commented on #20
@roblourens Currently debug works for me well. Problem was in certificate.

During first debug session OS ask me about root password and after filling password debug starts working in console but not in vs-code. This confused me and I am complained this problem.

@ThreeBearsDan @danbricedatascience Please try to restart system and run debug if OS ask you about root password - that mean that you ha

[2016-12-27 21:20] danbricedatascience commented on #20
@roblourens Version: 0.11.0-alpha

@erm0l0v Restart MacOS X does not change anything.

I will try manual installation of delve instead of brew.

[2016-12-27 22:38] acroca opened #700 "Ignore vendor in workspace symbol search"
Searching symbols in a project with a vendor folder shows all matches in vendor mixed with the project matches.
Is there a way to ignore vendor in the workspace symbol search?

[2016-12-30 01:54] #465 closed

[2016-12-30 08:28] dvdplm commented on #687
I am seeing this too but chalked it up to using Insiders builds and go 1.8beta1. I am also on macOS Sierra. AFAICT it is not project specific and happens on smaller projects as well. Killing the godocs process "fixes" the problem but it returns when I leave the code editor idle for a while.

[2016-12-30 12:45] SrHuevo commented on #493
I had same problem. It solve add git/bin in var path

[2016-12-30 17:08] ramya-rao-a commented on #687
@dvdplm Did running the command `Go: Install Tools` help as described in #503 ?

[2016-12-31 17:22] unboxedsolutions commented on #358
On Windows 10 I had this same problem. The solution was to set GOPATH (no $ in front) as an environment variable pointing to a folder (which can NOT be your Go directory).

For example, at a command prompt type:  SET GOPATH=D:\GoPath
Better yet, set a System Variable in the Advanced tab of your System properties.

Next, follow the instructions for installing dlv, which is at https://github.com/der

[2017-01-01 13:12] joeblew99 opened #701 "code completion fails on large code base"
The problem is that on a large code base the go extension fails when doing code completion.

see here: https://github.com/therecipe/qt/issues/163#issuecomment-269618861

You can easily see the bug by pulling this git repo, and then go to an example like:
https://github.com/therecipe/qt/tree/master/internal/examples/quick/tableview

try to add code and you will see it fail !

[2017-01-02 03:05] josh-tepper opened #702 "go to declaration not working sometimes (ie f12, editor.action.goToDeclaration)"
Go to declaration/definition is in _some cases_ not working.  It's not clear to me when it does and does not work.

When it doesn't work, nothing happens when I press f12.  It always seems to happen when I want to jump to a function in another package, but in some cases this does work.  In the cases where it works, it always works, and in the cases where it doesn't, it never seems to work.

This s

[2017-01-02 03:59] enitihas opened #703 "When using gogetdoc, hovering over a local variable shows the current function name, instead of variable type information."
I recently changed the option "go.docsTool" to gogetdoc. However, now when I hover over a local variable in any function, it shows me the function name instead of type information of the variable. However, hover works correctly for function arguments.
![screenshot from 2017-01-02 09-27-01](https://cloud.githubusercontent.com/assets/4889897/21584432/e00a98d2-d0cd-11e6-90ce-917f91063e7e.png)

[2017-01-02 04:20] nolanjian opened #704 "Step out, any plan to do this?"
when I step in a func, I want to step out, but it seems not implement yet.

[2017-01-02 05:23] ramya-rao-a commented on #390
This issue was moved to Microsoft/vscode#18003

[2017-01-02 05:23] #390 closed

[2017-01-02 05:31] ramya-rao-a commented on #405
@kieferrm This is not related to the Go extension, any particular reason, it was moved here?

[2017-01-02 05:56] abagshaw opened #705 "Code is being deleted on save or run"
Maybe I am doing something wrong - but I am having this problem where VS Code with the vscode-go modules installed appears to be deleting parts of my go code when I try to run the program.

[code]

Every time I hit save or try to run the program the `import "./yolo"` just disappears. Why is this?

[2017-01-02 06:03] ramya-rao-a commented on #232
@BrendanBall @ShionRyuu What version of the Go extension are you using?

In your case `getGoVersion` seems to be where the ENOTDIR error is coming from. `getGoVersion` tries to run `go version` to get the version of Go running on your computer. To find the path to the go binary, we look at the GOROOT. If not found, then we look at PATH env var.

![image](https://cloud.githubusercontent.com/assets/

[2017-01-02 07:14] thewhitetulip commented on #232
@ramya-rao-a Just upgrading the Go plugin will fix this issue.

[2017-01-02 09:55] codmajik commented on #705
I think its because goreturns is run on the code on save. you can disable it by changing

`"go.formatTool": "goreturns",` to `"go.formatTool": "gofmt",` in your workspace config

[2017-01-02 15:00] ShionRyuu commented on #232
@ramya-rao-a You are right. GOROOT is changed after I switch to a new go version using gvm. Now it's working correctly after I reset `go.goroot`.

[2017-01-02 21:12] kieferrm commented on #405
@ramya-rao-a That is a mistake.

[2017-01-02 22:06] ramya-rao-a commented on #232
@ShionRyuu great!
@BrendanBall ?

[2017-01-02 22:11] ramya-rao-a commented on #405
Thanks, I am closing this one and re-opening the original issue in vs code

[2017-01-02 22:11] #405 closed

[2017-01-02 22:55] ramya-rao-a commented on #50
@PumpkinSeed Can you share sample code where you see this?

Are there any errors/warnings showing up in the Problems panel?
When does these pop-ups appear? typing, hovering?

[2017-01-02 23:02] ramya-rao-a commented on #705
@abagshaw The default formatting tool `goreturns` deletes unused imports. Since the `yolo` import is not used in your code it gets deleted by the foramtting tool which is run on save.

You can use workaround  @codmajik has suggested if you don't want to see this behaviour.

[2017-01-02 23:02] #705 closed

[2017-01-02 23:30] ramya-rao-a commented on #702
In such cases what do you see when you do a `Peek Definition` or when you hover on the function ?
Behind the scenes the extension runs the same code and returns the same data for both Goto and Peek Definition back to VS Code.

If the Peek Definition/Hover just says "Loading" and never shows anything, it might be because the operation to find the definition and docs never completed.

Add `"go.docsT

[2017-01-02 23:34] roblourens commented on #704
Right, but we just use Delve for debugging and we'd need them to implement it.

[2017-01-02 23:38] ramya-rao-a commented on #692
@NikosEfthias Do you have sample code where I can repro this?

I tried it on a simple Go project and stepping over works for me

[2017-01-02 23:38] ramya-rao-a commented on #698
@thewhitetulip @strrchr Any updates?

[2017-01-02 23:57] ramya-rao-a commented on #695
This is done by the formatting tool.

Here is what I have observed.

- If there are multiple empty lines between 2 imports, the formatting tool deletes all but 1 empty line between the 2 imports
- If there are no empty lines between imports, the formatting tool does nothing

It never tries to standardize across multiple imports i.e remove blank lines between ALL imports or add a single blank line

[2017-01-02 23:57] #695 closed

[2017-01-03 00:16] ramya-rao-a commented on #691
@ahmetalpbalkan This works for me. Here is what I tried:

- Delete one of the packages I had from $GOPATH/bin, $GOPATH/src and $GOPATH/pkg
- Open VS Code and open a Go project, ensure `Add Import` does not show the deleted package
- Run `go get` to get the package
- In the VS Code window that was open, run `Add Import`
   - I was able to see the package in the list and add it to the Go file
- Auto

[2017-01-03 00:25] ramya-rao-a commented on #690
This has been fixed in the latest VS Code Insiders build.
The next VS Code release in early February will have the fix.

Workaround is to add a trailing newline at the end of the file

[2017-01-03 00:25] #690 closed

[2017-01-03 00:33] ramya-rao-a commented on #704
@roblourens Looks like delve has implemented this in late October 2016
https://github.com/derekparker/delve/issues/358#issuecomment-255594116.

Re-opening this issue for us to consume the step-out feature

[2017-01-03 00:41] ramya-rao-a commented on #688
@entonio Do you still see this issue? Can you answer the questions in the earlier comment?

[2017-01-03 00:43] ramya-rao-a commented on #687
@hhrutter @dvdplm Any updates?
Can you also try switching to use `gogetdoc` and see how that behaves?
Set `"go.docsTool": "gogetdoc"` in your setting

[2017-01-03 01:01] nolanjian commented on #704
@ramya-rao-a @roblourens thanks for your reply!

[2017-01-03 01:41] ramya-rao-a commented on #700
@acroca The Go extension uses te `go-symbols` tool to get all the workspace symbols.
Currently, we don't provide a way to ignore vendor folder in the symbol search.

Can you open an issue in the repo for `go-symbols` for this feature of ignoring the vendor folder?

[2017-01-03 01:44] ramya-rao-a commented on #450
@nikhilraog09 Sorry for responding so late. Do you still have these issues with the latest VS Code and the latest Go extension?
Do you see this in all Go projects or is it restricted to large projects only?

[2017-01-03 01:50] ramya-rao-a commented on #420
@fnouama @kletkeman Do you see the "Illegal value for line" while performing any particular operation or only while saving?

To exclude the sceanrio that this might be caused by other extensions interfering with the save operation, can you disable all other extensions (other than Go) and see if you can still repro this?

[2017-01-03 01:54] ramya-rao-a commented on #419
In one of the recent updates, we provide an option to use `gogetdoc` for the Goto/Peek Definition, Hover and Signature Help features.

Until the upstream bug with `godef` is solved, you can set `"go.docsTool": "gogetdoc"` in your settings to make use of `gogetdoc` instead of `godef`.

[2017-01-03 01:54] #419 closed

[2017-01-03 01:57] ramya-rao-a commented on #409
@lunchboxsuhi Do you still have this issue?
We have had others who had similar infinite save+edit+save+edit problem. Turns out there was another extension interfering and causing the problem.

If you still have this problem, can you disable all other extensions to see if any of them have been causing this?

[2017-01-03 02:13] ramya-rao-a commented on #383
@mavenugo Quite a few things have changed in the extension since July, can you try the latest VS Code and the latest Go extension and see if you still have these issues?

[2017-01-03 02:19] ramya-rao-a commented on #379
@joeblew99 This doesnt sound right. The Go extension should have picked up GOPATH from your env vars even if you havent set it in the settings in VS Code.

Do you still see the same with the latest Go extension?

[2017-01-03 02:21] ramya-rao-a commented on #372
https://github.com/Microsoft/vscode-go/commit/5e6498f66fb7ff0e74c0fd08a3672d7a7b219e09 has fixed this

[2017-01-03 02:21] #372 closed

[2017-01-03 02:22] #369 closed

[2017-01-03 02:25] ramya-rao-a commented on #367
@ipfans Do you still see this issue when `"go.coverOnSave":true` ?
@omega0ne Do you still see this issue at all?

[2017-01-03 03:55] thewhitetulip commented on #698
@ramya-rao-a I am sorry, I was on a vacation, will reply back in 12hrs

[2017-01-03 05:26] dvdplm commented on #687
@ramya-rao-a I did re-install the tools but still had the problem. Yesterday I had a full day of coding and it never happened. I updated to latest Insiders build yesterday morning though so I was hoping that a fix snuck in!

[2017-01-03 05:52] kletkeman commented on #420
I have not seen this in a long time. If I recall correctly, I did just as you suggest, paring down my extensions to a much smaller list and getting rid of anything that seemed experimental or immature. Sure enough, things have stabilised.

[2017-01-03 09:24] PumpkinSeed commented on #50
Not code dependent, it's appearing at .go extensions. Mostly when I am not install GOPATH and GOROOT just want to quickFixes on my Fedora machine. It's rape me with extensions like gofmt, godoc. I don't want to install them just want to fix and save. When I'm typing.

Thank you

[2017-01-03 17:06] acroca commented on #700
I figured it out checking the code. Is the `go-symbols` list used anywhere else? like for example going to the implementation of a function...?
Also, re-ordering the list to show project matches first and vendor matches after would work too, not sure if that's doable though.
My main problem, other than speed building the symbols list (~3s) is that the project matches are in the middle of the list.

[2017-01-03 17:15] TobiEiss commented on #438
Same here. Ubuntu 16.04, vscode 1.8.0, vscode-go 0.6.51

[2017-01-03 18:52] ramya-rao-a commented on #700
The output of `go-symbols` is not used anywhere else other than workspace symbols search.

Lets wait for how https://github.com/newhook/go-symbols/issues/3 gets solved.
If we don't hear back, then we can circle back to what the Go extension can do.

[2017-01-03 18:55] ramya-rao-a commented on #420
Thanks @kletkeman
@fnouama How about you?

[2017-01-03 18:56] ramya-rao-a commented on #687
Thanks @dvdplm
@hhrutter How about you?

[2017-01-03 19:10] ramya-rao-a commented on #73
@jonnenauha Have you found what you were looking for?

The current debugging features that we have should suit most of your needs.

![image](https://cloud.githubusercontent.com/assets/16890566/21619571/1eda1b78-d1a5-11e6-9e6a-01090f36b05d.png)

[2017-01-03 19:22] fnouama commented on #420
@ramya-rao-a I'm not reproducing this issue anymore. One fix that I applied at the time was to run the go command `gocode close`. it seems to fix it.

[2017-01-03 19:33] ramya-rao-a commented on #420
Thanks @fnouama
Will close this issue then.

[2017-01-03 19:33] #420 closed

[2017-01-03 19:40] ramya-rao-a commented on #329
@JohanSJA `goimports/goreturns` do not change the alias on the imports

@matwachich Like @lukehoban and @peterbourgon have mentioned, this is a very corner case. Closing this for now. If there are more people supporting this, then we can circle back.

[2017-01-03 19:40] #329 closed

[2017-01-03 19:51] ramya-rao-a commented on #330
`Browse Packages` in Sublime does something similar.
We can use the quickpick control to show the list of files in the selected package.

[2017-01-03 19:51] ramya-rao-a commented on #671
#330 talks about browsing selected package

[2017-01-03 20:04] josh-tepper commented on #702
Thanks for getting back to me.  In response to your questions:

- When I peek definition or hover, it actually just doesn't do anything.
- Setting "go.docsTool": "gogetdoc" seems to solve the problem, but jump to declaration/peek/etc are much slower (but now work for everything)
- When I run godef for the symbol, it just says "no declaration found".  See below.  First is an example of an expressio

[2017-01-03 20:50] ramya-rao-a commented on #303
Inlcuding @ironcladlou here, as he had originally written the test related commands in the Go extension.

@ironcladlou Thoughts? I agree with @AlekSi and @davyzhang that we can map the test file as per naming conventions

[2017-01-03 20:55] ramya-rao-a commented on #288
@ironcladlou Are you aware of any updates in this space?

[2017-01-03 23:02] ramya-rao-a commented on #279
`onWillSaveTextDocument` API is now available: https://code.visualstudio.com/updates/v1_6#_new-apis

The only catch is that there is a limitation on the time taken for the listeners of this event.
There have been cases where the formatter in the GO extension seem to take a long time (multiple seconds) in which case, they will be eventually ignored: https://github.com/Microsoft/vscode/blob/a6435b1c