[2017-07-19 21:41] willfaught commented on #1088
![screen shot 2017-07-19 at 2 40 58 pm](https://user-images.githubusercontent.com/63830/28390791-59c31fa6-6c90-11e7-9c49-5107ca67fbf3.png)

[2017-07-19 23:49] willfaught commented on #1088
Also, I'm happy to add the debug-test context menu item, but I've never contributed before, so I'd have no idea where to start. Got any suggestions?

[2017-07-20 01:41] ramya-rao-a commented on #1088
You need to disable the `editor.codeLens` to see the "test at cursor"
I remember adding the extra condition (See https://github.com/Microsoft/vscode-go/blob/0.6.62/package.json#L771) because it was redundant to have the context menu when the codeLens for test is present.

For disabling go codelens
[code]

For Debug Test command

- Register a new command "Go: Debug Test at Cursor"
   - you will nee

[2017-07-20 07:01] DasJott commented on #1094
![definition_issue](https://user-images.githubusercontent.com/6298761/28404435-901f91f8-6d29-11e7-943c-fd4ffaf1583a.gif)

This was using godoc.

Surprisingly gogetdoc works fine, except it seems a little slower recognizing a clickable item while pressing ctrl.

[2017-07-20 07:10] DasJott commented on #1094
This is shown in the dev console using godoc while hovering on a function when pressing ctrl (which is not working)
![definition_issue](https://user-images.githubusercontent.com/6298761/28404836-2d29ccd8-6d2b-11e7-9c37-cd5ad891776c.png)

[2017-07-20 07:16] willfaught commented on #1088
I think it'd still be useful to have the run-test command in the menu even if Code Lens is enabled. Otherwise you have to know where to look to find the feature. Menus should always have what you're looking for, in my opinion.

Is setting go.enableCodeLens as you show above enough, or do I need to set editor.codeLens too?

[2017-07-20 07:24] DasJott commented on #1095
This gif pretty much explains it.
![suggest_godoc_issue](https://user-images.githubusercontent.com/6298761/28405285-efac13fa-6d2c-11e7-8169-d7e4dda55f94.gif)

The dev console stays empty meanwhile.

Yes, I already tried that and it did not change anything. :-/

[2017-07-20 07:24] willfaught commented on #1088
Got run-test working, had to disable editor.codeLens entirely. Whew! Thanks.

[2017-07-20 08:01] willfaught commented on #1088
Made an attempt at adding a debug-test command, but hit a wall once I had the Command. It also wasn't clear where a TextDocument would come from in that context.

[2017-07-20 09:20] chmike opened #1098 "GOPATH with multiple paths not properly handled"
I'm using gvm and have set my GOPATH with multiple paths as follow

    GOPATH="/home/xxx/.gvm/pkgsets/go1.8.3/global:/home/xxx/Sources/go"

Apparently  this doesn't work well with the Go extension of Visual Studio Code. It looks like some code in the extension assume that GOPATH contains only a single path. Unfortunately I don't know which package is doing that. When I open the project with this

[2017-07-20 09:41] chmike commented on #1098
Oops, the error is from the GO TEST extension. When I disable this extension I don't see the error message when I start VSCode with your package. Sorry for the noise.

[2017-07-20 09:41] #1098 closed

[2017-07-20 10:51] jakobhviid commented on #1093
I am not really sure what the output of goreturns should be, but i get this:

diff main.go gofmt/main.go

The goreturns was NOT in the path. I have added it but with same results. (after a reboot of course)

Regarding OS i am running windows 10 on version 1703, build 15063.413

With the setting you provided everything works fine, so i am leaving the issue at this point.

Thanks for your help!

[2017-07-20 11:53] shayzu commented on #1078
Hi,

Is there any update regarding the above ticket? Did you have a chance looking into the issue?

Thanks
Shay

[2017-07-20 15:35] didenko opened #1099 "Remove incorrect slice declaration suggestion and fix the debugger display"
The extension's problem report to replace an initializing "make" call for a slice is wrong and dangerous - may create a hard to trace bug. Here is how the problematic suggestion looks like [in the code](https://github.com/didenko/slops/blob/8f53b2f/exclude.go#L7):

![1707201002](https://user-images.githubusercontent.com/99670/28424906-759730b0-6d34-11e7-8d9b-14f4a24e372d.jpg)
![1707191448](https:/

[2017-07-20 19:23] ramya-rao-a commented on #1088
Refer to https://github.com/Microsoft/vscode-go/blob/0.6.62/src/goTest.ts#L59

[2017-07-20 19:26] ramya-rao-a commented on #1094
And when using `godoc`, Go to Definition works for say the `fmt.Println`?

[2017-07-20 19:28] ramya-rao-a commented on #1095
That clearly shows gocode is not working at all for you.

Can you run `gocode close` and then `go get -u github.com/nsf/gocode` to update and rebuild the `gocode` instance you have?

[2017-07-20 20:51] willfaught commented on #1088
I figured that part out. I have the function name, I made a Command with it like in the debug example you gave, except in that example there's a "document" TextDocument used that isn't available in the testAtCursor context. Do I just leave that out?

Sent from my iPhone

[2017-07-20 21:50] zmb3 commented on #1085
@ramya-rao-a  gogetdoc includes the `pkg` field in it's JSON output now, so you could conceivably add it to the tooltip

[2017-07-20 23:04] ironcladlou commented on #771
I think `go list` might get us the import package needed  for the `-scope` argument for the common case. I need to read up on `ImplementationProvider` to understand whether it's meant to cope with the multiple `implements` results (I'd expect something similar to the CodeLens view presented for Find References). I've really been wanting `guru  implements` lately, and performance now seems good eno

[2017-07-21 00:52] willfaught opened #1101 "Put Code Lens test links in the context menu instead of the editor buffer"
The test Code Lens links (debug/run test) disrupt the visual flow of the numbered lines. Why not put those commands in the context menu instead? If the concern is discoverability, maybe highlight the line or something else that doesn't affect the actual layout to indicate there's something for Code Lens for a particular line?

[2017-07-21 01:10] ramya-rao-a commented on #1085
@zmb3 Sweet.

Re-opening the issue to absorb changes from gogetdoc.

PRs welcome :)

[2017-07-21 01:16] ramya-rao-a commented on #1088
you should be able to get the document from `editor.document` and get the editor from `vscode.window.activeTextEditor`

I have a feeling we are talking about 2 different things

Can you point me to your code in your repo where you feel you need the document and don't have it?

[2017-07-21 06:26] DasJott commented on #1094
When using `godoc` while typing `fmt.` it only suggests `PANIC`.

[2017-07-21 06:29] DasJott commented on #1094
![deepin-screen-recorder_select area_20170721082819](https://user-images.githubusercontent.com/6298761/28451634-ab814fb6-6dee-11e7-92a5-d1517ace1fe0.gif)
Using godoc.

[2017-07-21 06:33] DasJott commented on #1095
Did do all the steps. Didn't solve anything. Strange thing...

Is there any service I need to start manually on arch?

[2017-07-21 06:40] DasJott commented on #1095
True, but it is there:
![gocode_help](https://user-images.githubusercontent.com/6298761/28451888-3fa67e18-6df0-11e7-9ad4-3157d0e26bb9.png)

[2017-07-21 09:22] sparrc commented on #1085
I'll try my hand at implementing this

[2017-07-21 15:50] Ianwww commented on #1101
I also notice that when I go from a test file to a non test file and then back i'm not returned to where I left of in the test file.  This has something to do with those test code links. Do you experience this?

[2017-07-21 16:15] ramya-rao-a commented on #1097
There is no option to get rid of the keyword
But there is an option to make the snippet come first

Set `editor.snippetSuggestions` to `top`

[2017-07-21 17:31] ramya-rao-a commented on #330
Re-opening to do the below

The Browse Packages feature relies on the running of `go list all` when extension gets activated (when you open a VS Code window).
`go list all` is  a little slow, but much more slower on slower machines.

- Will add a message saying "Still collecting all packages, try after some time"
- Will also cache the result, so that the second time you open VS Code, you will have

[2017-07-21 22:46] byron70 commented on #473
I am having this exact issue when I have any parameters in the "buildFlags"  the the launch.json.

[code]

After banging on this for some time, I found increasing the pause in the following line to something like 500+ ms before the RPC connection attempt seems to alleviate the issue and things continue as expected.

https://github.com/Microsoft/vscode-go/blob/0.6.62/src/debugAdapter/goDebug.ts#L29

[2017-07-21 22:57] byron70 commented on #473
Guess I should note for anyone wanting to test this possible fix locally. For Windows just update that line in your local file... probably here for Windows.  Linux might have a similar path.

`%USERPROFILE%\.vscode\extensions\lukehoban.go-0.6.62\out\src\debugAdapter\goDebug.js`

[2017-07-22 00:13] ramya-rao-a commented on #1095
I don't know much about arch to say if it needs anything special

Is there any way to see currently running processes?
If there is, the open VS Code, start typing some gocode, you should see a gocode process running

[2017-07-22 00:14] ramya-rao-a commented on #1094
Wow,

ok last thing I have to say is change `go.docsTool` to `godoc`, run `Go: Install/Update tools` so that all your tools are updated and rebuilt and try again.

If it still doesn't work then my suggestion is to use gogetdoc or you can also try out the new language server by setting `go.useLanguageServer` to `true`

[2017-07-22 00:59] willfaught commented on #1101
@Ianwww I haven't seen that myself.

[2017-07-22 10:49] fishnux commented on #1097
That works, thanks!

[2017-07-22 10:49] #1097 closed

[2017-07-22 13:01] coxx commented on #1063
Sorry, my bad. I'll close the issue.

[2017-07-22 13:01] #1063 closed

[2017-07-22 13:43] iarief opened #1104 "How to get the coverage ui to update when running test on the package"
Hi, could someone explain to me what is the correct workflow if i want the coverage ui to update everytime i executed test package? It seems that there used to be an option to test with coverage, now there's just a toggle to test coverage in current package, and when i want to visually see the coverage change, i need to toggle it on and off again.

Executing test the package doesn't use coverage a

[2017-07-22 18:50] ramya-rao-a commented on #1063
wait, what, how?

[2017-07-22 22:32] #360 closed

[2017-07-23 07:52] farcaller commented on #360
@ramya-rao-a reopen please? At least OSX is still broken

[2017-07-23 18:36] scriptnull opened #1106 ""Extract Function" from block of code"
I am not sure if this feature already exists, but as far as I have researched, I am not able to find.

I remember seeing this feature used significantly in Visual Studio while writing C# by almost every .NET programmer, I have come across. I am surprised, that I am not able to find it in VS code.

Let's say I have a something like

[code]

There are repeated blocks of instructions the code, which

[2017-07-24 04:34] ramya-rao-a commented on #360
@farcaller Is it broken just for the case of symlinks that you have mentioned above or in general?

[2017-07-24 04:53] ramya-rao-a commented on #473
@byron70 Yours is a different issue in that you want to increase the time before the connecting so that there is enough time for build.

cc @roblourens for increasing the time interval int he setTimeout

This current issue on the other hand is about the ability to add breakpoints when the Go program is already running.

[2017-07-24 08:47] blaketairan opened #1107 "The plugin auto removed a used module in import list."
I have problem.
When i use command+s to save, "github.com/deckarep/golang-set" module will be removed from import list. But i do use "mapset.NewSetFromSlice(x)" in my code.
With import "github.com/deckarep/golang-set", command "go build ..." or "go run ..." is well, if not, the command will report "undefined: mapset in mapset.NewSetFromSlice".
So i have to use vim to edit this file after using vsc

[2017-07-24 09:16] farcaller commented on #360
for the symlinks case.

[2017-07-24 14:20] ramya-rao-a commented on #1107
@blaketairan Formatting is run on save. Looks like it is removing your imports.

By default, the formatting tool used is `goreturns`, can you change it to `gofmt` and see if the issue still occurs?

In your user settings add the following:
`"go.formatTool": "gofmt"`

If this solves your issue then the issue is with the `goreturns` tool.

[2017-07-24 14:21] ramya-rao-a commented on #1106
Yes, this would be a cool feature indeed.
#588 was logged to track this.
Closing this issue in favor of #588

PRs are welcome

[2017-07-24 14:21] #1106 closed

[2017-07-24 14:22] ramya-rao-a commented on #588
Another way to go about this would be to use the "free variables" feature from guru if anyone wants to give this a try

[2017-07-24 15:23] didenko commented on #1101
1. IMHO the extra visual separation between tests is nice.
2. I prefer a single-click interface with less fiddling, especially when collaborating on a computer with a poor pointing device (like some trackpads, which require finger gymnastics for right click)
3. Is this a #1088 duplicate?

[2017-07-24 16:07] blaketairan commented on #1107
Thank you so much for helping! @ramya-rao-a
goreturns is the reason.

[2017-07-24 16:07] #1107 closed

[2017-07-24 17:24] roblourens commented on #473
Other debug adapters allow you to override the timeout, and it would be easy to do that (I don't know whether there's a smarter way that we can detect when the build is complete)

[2017-07-24 17:30] ramya-rao-a commented on #1107
@blaketairan Please do file an issue in the repo for goreturns

[2017-07-24 17:32] ramya-rao-a commented on #360
Can you log a separate issue for that? The problem in the current issue is fixed for users by updating their delve.

[2017-07-24 19:37] willfaught commented on #1101
@didenko #1088 turned into a workaround for having the run/debug test commands in the context menu instead. This issue is about making that what Code Lens does out of the box.

[2017-07-24 19:46] willfaught commented on #1088
This is what I have now:

[code]

Not sure about the use of executeCommand.

[2017-07-24 20:11] didenko commented on #1101
@willfaught So this is indeed a duplicate entry of the #1088 issue. Seems that you do not like which way the resolution went hence opened the same issue second time. Otherwise the conversation could have been continued in #1088.

Although it may be OK to move the run/debug links to a submenu **as a configurable property**, I definitely vote for leaving the default setting ass it is now. That is bo

[2017-07-24 20:20] willfaught commented on #1101
@didenko The resolution required disabling Code Lens entirely, which I think is unreasonable.

[2017-07-24 20:22] willfaught commented on #1101
A configurable property to present Code Lens commands in the context menu instead of the buffer would be great.

[2017-07-25 00:57] slimsag commented on #853
@ramya-rao-a What do you think of closing this issue now (and folks can open new issues if they run into any problems)? 😄

[2017-07-25 02:03] blaketairan commented on #1107
https://github.com/sqs/goreturns/issues/34

[2017-07-25 02:05] blaketairan commented on #1107
^_^ https://github.com/sqs/goreturns/issues/34

[2017-07-25 06:05] coxx commented on #1063
I've re-checked and can confirm that the issue is only reproduced if go-outline is outdated.
It'd be nice if the message would be more informative (and go-outline could report some version).

[2017-07-25 06:32] HanderLo commented on #956
Thanks, Great Answer.

[2017-07-25 08:42] alex-slynko opened #1110 "gometalinter is installed in `go.gopath` and not into `go.toolsGopath`"
WE are using custom GOPATH for our code and system GOPATH for tools, but when I set  "go.lintTool": "gometalinter" to equal "gometalinter" and clicked "Install all" for missing packages, it installed all the tools into custom GOPATH.

[2017-07-25 13:07] osechet opened #1111 "go.toolsEnvVars ignores workspaceRoot variable"
I want to set an environment variable for the Go tools using the `go.toolsEnvVars` settings but it does not recognize the `workspaceRoot` variable:
[code]
If I replace the variable by the absolute path to my workspace, it works.

[2017-07-25 15:30] necrose99 opened #1112 "gox support. (A dead simple, no frills Go cross compile tool)"
https://github.com/mitchellh/gox

A dead simple, no frills Go cross compile tool

on linux has been very easy , to make windows , BSD , Linux etc binaries in one "go" as far as a sysadmin..

[2017-07-25 17:33] ramya-rao-a commented on #853
Agreed :)

[2017-07-25 17:33] #853 closed

[2017-07-25 17:41] ramya-rao-a commented on #1063
I want to repro that.

- I did a `go get -u github.com/lukehoban/go-outline` which is the older `go-outline` and doesn't support the `-modified` flag.
- Reload VS Code
- Used the `Go to Symbol in File` feature that uses `go-outline` under the hood
- I get the message `The Go extension is better with the latest version of "go-outline". Use "go get -u -v github.com/ramya-rao-a/go-outline" to update`

[2017-07-25 18:01] ramya-rao-a commented on #1088
executeCommand is fine. That's how we programmatically run a command.

So where in there are you seeing the " there's a "document" TextDocument used that isn't available in the testAtCursor context" ?

[2017-07-25 21:57] pschuegr opened #1114 "Test environment variables on a per-project basis"
Hi,

I'm trying to get some environment variables passed to my go tests, and I'm wondering why the `launch.json`  `env` is not respected when running tests?  Am I missing something? Is there a better way to do this?  I see that there is a "go.testEnvVars" configuration available, but I don't see why this should be a global setting to vscode.

Thanks!

[2017-07-25 23:50] thomasdarimont commented on #1072
I gave this a spin and I think I got something working now (also my first contribution to vscode-go) :)

[2017-07-26 00:02] thomasdarimont commented on #1072
PR is #1116

[2017-07-26 00:03] willfaught commented on #1088
It was in the `const program = path.dirname(editor.document.fileName);` part, `editor.document` was just `document`, some parameter. Does it look like this will work as-is?

[2017-07-26 06:41] ramya-rao-a commented on #1088
it definitely should :)

[2017-07-26 12:07] njsrikar commented on #342
I am seeing a similar issue. Renaming anything vscode-code via the right-click menu never worked for me. How can I get more debug info? For example, all I get right now is "Sorry, rename failed to execute." when I tried to rename a package or a method.

`$ go env GOPATH
D:\git\Go`

[2017-07-26 17:50] ramya-rao-a commented on #330
This feature is now out in the latest update (0.6.63) to the Go extension
 - If cursor is on an import statement, then files from the imported package will be shown in the quick pick control
- Else, all packages are shown in the quick pick control. Select any and corresponding Go files will be shown next.
- Selecting any of the Go files, will open the file in a new editor.

[2017-07-26 17:50] #330 closed

[2017-07-26 17:51] ramya-rao-a commented on #1084
This fix for this issue is now out in the latest update (0.6.63) to the Go extension

[2017-07-26 17:52] ramya-rao-a commented on #797
This feature (https://github.com/Microsoft/vscode-go/issues/797#issuecomment-315671773) is now out in the latest update (0.6.63) to the Go extension

[2017-07-26 17:53] ramya-rao-a commented on #647
The fix for this issue is now out in the latest update (0.6.63) to the Go extension

Thanks for your patience @AlekSi, I know this took a while :)

[2017-07-26 17:54] ramya-rao-a commented on #998
In the latest update (0.6.63) to the Go extension, below are the improvements made

- Prompts will only show up for tools that are used for features that are explicitly executed by the user. Eg: Rename, Generate Unit Tests, Modify tags. And not for features that get triggered behind the scenes like linting, hover or format on save.
- When the prompts do show up, closing them will ensure that they

[2017-07-26 17:55] ramya-rao-a commented on #1082
The fix is out in the latest update (0.6.63) to the Go extension

[2017-07-26 17:56] ramya-rao-a commented on #1060
The fix is out in the latest update (0.6.63) to the Go extension

[2017-07-26 17:57] ramya-rao-a commented on #1024
`go.buildTags` will now be honored when using the `Go to definition` feature in the latest update (0.6.63) to the Go extension

[2017-07-26 17:58] ramya-rao-a commented on #1064
The fix to ignore the `-i` flag from `go.buildFlags` (because we add it internally anyway) is out in the latest update (0.6.63) of the Go extension

[2017-07-26 17:59] ramya-rao-a commented on #1073
The fix is now out in the latest update (0.6.63) to the Go extension

[2017-07-26 17:59] ramya-rao-a commented on #1057
The fix is now out in the latest update (0.6.63) to the Go extension
Thanks @goenning !

[2017-07-26 18:00] ramya-rao-a commented on #1049
The fix is now out in the latest update (0.6.63) to the Go extension

[2017-07-26 18:00] ramya-rao-a commented on #1056
The fix is now out in the latest update (0.6.63) to the Go extension

[2017-07-26 18:01] ramya-rao-a commented on #1029
The fix is now out in the latest update (0.6.63) to the Go extension

[2017-07-26 19:07] inancgumus commented on #1024
@ramya-rao-a That's perfect, thanks!

[2017-07-26 21:10] ijlopez02 opened #1117 "the debugging tool is ignoring the `go.buildTags` parameter"
The **debugging** tool seems to be ignoring the value of the parameter `go.buildTags`. Running test functions does consider it, though. Using the file `launch.json` I can solve this problem by setting the `buildFlags` parameter, but I'd like to use codelens, which are quicker. Is this a bug?

[2017-07-27 00:21] ramya-rao-a commented on #1117
We can add the values of  `go.buildFlags` and `go.testFlags` settings (which combined get used when running tests) to the `buildFlags` parameter of the debug config that gets used by the codelens.

Thats pretty easy to do.
Use https://github.com/Microsoft/vscode-go/blob/master/src/goTest.ts#L309 to get the flags and pass it to the debug config being formed here: https://github.com/Microsoft/vscode

[2017-07-27 01:44] ramya-rao-a commented on #342
@njsrikar You should also be getting a "Rename failed: " followed by the error thrown by the `gorename` tool

[2017-07-27 01:54] ramya-rao-a commented on #1114
launch.json file is used for debugging your code or tests.

Using `go.testEnvVars` is the way to pass env vars to your tests.

You can set this in your "Workspace settings" instead of "User Settings"

![screen shot 2017-07-26 at 6 53 44 pm](https://user-images.githubusercontent.com/16890566/28650942-c087054c-7233-11e7-94c0-97582f24e27f.png)

[2017-07-27 01:54] #1114 closed

[2017-07-27 01:55] ramya-rao-a commented on #1112
Sounds like a cool feature to add.

PRs are welcome. I can guide anyone who wants to give this a try.

[2017-07-27 01:57] ramya-rao-a commented on #1111
Closing this issue in favor of #736

[2017-07-27 01:57] #1111 closed

[2017-07-27 01:58] ramya-rao-a commented on #736
Doesn't look like we are going to get upstream support from vs code any time soon.

So, we should do this ourselves in the Go extension.

PRs are welcome, its pretty easy to do this. I can help anyone who wants to get started on this.

[2017-07-27 06:02] #959 closed

[2017-07-27 06:04] ramya-rao-a commented on #667
Closing this issue as we haven't heard back from the OP in a while.

If anyone sees any perf issue when using gogetdoc, feel free to comment here and we can take a look at it.

[2017-07-27 06:04] #667 closed

[2017-07-27 06:12] ramya-rao-a commented on #977
@hungys The method support has been out since a month.

Were you able to repro the `0` references issue?

If there is nothing else to do here, then can we close the issue?

[2017-07-27 06:25] ramya-rao-a commented on #1035
@dstpierre @andreis Any updates? Do you still have perf issues?

[2017-07-27 11:55] andreis commented on #1035
@ramya-rao-a none here, thank you – I'm on a different machine now so I'm not exactly a reliable data point

This is the config I use though https://github.com/andreis/cfg/tree/master/vscode

[2017-07-27 14:50] MaVo159 opened #1118 "intellisense doesn't work for relative imports"
For example: Methods and fields of variable of types from relatively imported packages are not displayed.

[2017-07-27 15:12] nvma opened #1119 "Go lint started to pick up vendor folder."
I can't pinpoint what is the reason for this because I didn't update vscode or gotools since the last time I've worked (this morning). And now my `PROBLEMS` tab is filled with thousands upon thousands of warnings from vendor folder.
Would you be so kind to direct me how I could go about solving this issue? Thanks.

[code]

[2017-07-27 15:25] necrose99 commented on #1112
gox isnt perfect , however insted of go-build , you can substitute gox which wrapps go build with cross-ers..
a PULL on this is just not within my reach...  however simple apps like hugo one can add use gox..
[gox.zip](https://github.com/Microsoft/vscode-go/files/1180342/gox.zip)  anyhow exe's are built
go get go build , can move gox.exe or x86/x64 to gox.exe under c:\go\bin\gox if you so like ...

[2017-07-27 19:14] ramya-rao-a commented on #1035
Thanks @andreis

@dstpierre ?

[2017-07-28 01:38] mileusna opened #1120 "Testing tool doesn't show log output"
I love "run test" option in test files.

However, after VS Code update on 1.14.2 on MacOS executing tests inside Code doesn't show up any log output. So if I have ```log.Println(err)``` it won't be printed, however, ```fmt.Println(err)``` will be printed.

[2017-07-28 02:21] qaisjp commented on #959
What's the plan for #168?

[2017-07-28 05:52] hyacinthus commented on #1119
same issues +1
can't find option to ignore this

[2017-07-28 13:44] lansman commented on #1084
Still have the issue even on 0.6.63 (didnt use workaround)

![image](https://user-images.githubusercontent.com/1588720/28719822-b7b61b78-73c4-11e7-87eb-0ec6fe1fe3bf.png)

[2017-07-28 16:52] ramya-rao-a commented on #959
@qaisjp
Completions get triggered for every new word that gets typed.
We will have to parse the Go file every time the completions get triggered and find the types to offer the method constructor in the completion list.

I have a working model for it, but I am not yet happy with the "parse file for every completion model"
Because to do that I have to spawn a new process and call a Go tool.

The ri

[2017-07-28 17:02] ramya-rao-a commented on #1119
@nvma @hyacinthus

Based on the logs it looks like you have `go.lintOnSave` set to `workspace` which is why it runs `go lint ./...` which picks up vendor folder.

As a workaround, you can set `go.lintOnSave` to `package`

I will look into skipping vendor folders when linting workspace

[2017-07-28 17:25] nvma commented on #1119
@ramya-rao-a What's puzzling is that it's been working like this ever since I've switched to vscode and discovered this wonderful plugin. I've been using glide to handle dependencies and vscode-go been working fine with `go lint ./...`  and vendor folder since the first day I started to use it.
So I naturally assumed that something had to happen before things stopped working.

[2017-07-28 17:37] ramya-rao-a commented on #1119
@nvma That's puzzling to me too. Because this change to use `./...` was in the previous update that was early June and not in the latest update that was released a few days ago :)

[2017-07-28 17:41] nvma commented on #1119
@ramya-rao-a is it possible that I didn't update the gotools and vscode-go extension since early June while sticking to the latest versions of vscode every time it was released?

[2017-07-28 17:41] tylerb opened #1121 "Latest version of vscode-go is vetting all vendored code"
This slows my system to a crawl. I've had to disable vet entirely.

See @ramya-rao-a comment in gitter [here](https://gitter.im/Microsoft/vscode-go?at=597b70e5bc46472974335a6b)

I'd love to be able to run vet on just my own code.

[2017-07-28 17:43] ramya-rao-a commented on #1119
that can be the case

[2017-07-28 17:49] nvma commented on #1119
I see, thanks for your time, @ramya-rao-a I will have to stick to a half-measure of scoping linter to a package level keeping the hope that optional ignoreDirectory could be introduced to linting options in the near future. Cheers and thank your for your work on this stellar extension, I didn't realise I relied on it so much :)

[2017-07-28 17:52] ramya-rao-a commented on #1119
When you say `ignoreDirectory` do you mean that's flag on the linter or you are just referring to the fix I would be making?

[2017-07-28 18:07] qaisjp commented on #959
Okay, that sounds fair enough. I've subscribed to #168 now, so please keep us updated there if you can, and when you have the chance!

Thanks for the quick reply :)

[2017-07-28 19:31] arbourd opened #1122 "Coverage highlighting does not work when files are outside of $GOPATH"
[applyCoverage()](https://github.com/Microsoft/vscode-go/blob/4f33a078a8fd65dd9be763b213554501972641bb/src/goCover.ts#L117)  does not work with files outside the $GOPATH.

`coverageFiles` paths come from `go test`, which returns non-$GOPATH paths like `_/main.go`

[2017-07-28 21:01] davecohrs commented on #1121
I noticed the same issue. However, for me, the problem is worse. The code in the vendor directory does not pass "go vet", while my own code does pass. I ended up disabling vet because I could not control the paths that were being vetted.

[2017-07-28 21:09] #1122 closed

[2017-07-28 21:21] tylerb commented on #1121
@davecohrs same here. Thousands and thousands of results, rendering my problem pane pretty useless.

[2017-07-28 21:25] ramya-rao-a commented on #1121
I have pushed the fix to master.

Until I release an update, here is what you can do

- Download this vsix file: https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Go to extensions pane in VS Code and in the menu choose "Install from vsix", and select the downloaded vsix file when the finder/file explorer opens
<img width="378" alt="screen shot 2017-07-28 at 11 15 24 am" src="http

[2017-07-28 21:25] tylerb commented on #1121
Thanks @ramya-rao-a!

[2017-07-28 21:26] #1121 closed

[2017-07-28 21:26] ramya-rao-a commented on #1119
I have pushed the fix to master.

Until I release an update, here is what you can do

- Download this vsix file: https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Go to extensions pane in VS Code and in the menu choose "Install from vsix", and select the downloaded vsix file when the finder/file explorer opens

<img width="643" alt="screen shot 2017-07-28 at 2 24 48 pm" src="http

[2017-07-28 21:26] #1119 closed

[2017-07-28 21:31] ramya-rao-a commented on #1120
I am able to see the log.Println output

<img width="591" alt="screen shot 2017-07-28 at 2 31 33 pm" src="https://user-images.githubusercontent.com/16890566/28737012-769bb256-73a1-11e7-83ab-99b7c3db381f.png">

Can you share sample code?

[2017-07-28 21:54] ramya-rao-a commented on #1118
Please see if what was discussed in https://github.com/Microsoft/vscode-go/issues/811 and https://github.com/nsf/gocode/issues/437 help.

[2017-07-28 21:54] #1118 closed

[2017-07-28 22:48] #1110 closed

[2017-07-28 22:49] ramya-rao-a commented on #1110
This was intentional as gometalinter expects its linters to be in the GOPATH. If gometalinter was installed elsewhere along with its linters, then it fails with "can't find executable in $PATH`

But there is a way around it which is to pass the "toolsGopath" as additional GOPATH to the process that does the linting.

Fixed with https://github.com/Microsoft/vscode-go/commit/27038d14098cb5b56e291046

[2017-07-28 23:19] mileusna commented on #1120
Sure, anything. Same testing works OK in terminal window.

It just started to happen after the VS Code upgrade.
![screen shot 2017-07-29 at 01 16 13](https://user-images.githubusercontent.com/4697935/28739494-a62eede4-73fb-11e7-8631-cf9f5f613a69.png)

[2017-07-28 23:37] ramya-rao-a commented on #1120
Ah! Looks like the `log` part is going to stderr and the `fmt` one goes to stdout

<img width="616" alt="screen shot 2017-07-28 at 4 34 09 pm" src="https://user-images.githubusercontent.com/16890566/28739766-b2e338a4-73b2-11e7-8640-de522ef83336.png">

And in a recent commit stderr is not shown unless there is a test failure https://github.com/Microsoft/vscode-go/commit/94dadaa42af7e59cee6f97eb660d

[2017-07-28 23:57] ramya-rao-a commented on #1084
@lansman Can you share your debug configuration?

[2017-07-29 03:14] lansman commented on #1084
The problem persists with or without launch.json

[2017-07-29 03:38] mileusna commented on #1120
Sorry, but I don't see log.* output, failure or no failure. It has nothing to do with the test's outcome.
![screen shot 2017-07-29 at 05 37 28](https://user-images.githubusercontent.com/4697935/28741828-18ebd756-7420-11e7-8ec5-bd6a8b7e69c9.png)

[2017-07-29 06:04] ramya-rao-a commented on #1120
@mileusna Its right there.... look at the line which has the file path... In the end it says "Failed, but no Hello"

[2017-07-29 06:07] #1120 closed

[2017-07-29 06:08] ramya-rao-a commented on #1120
I have pushed a fix. But even with the fix the `log` will appear after the rest of the output. This is because like I said earlier, log is going to stderr. And while running the `go test` the extension can only fetch stdout and stderr separately.

[2017-07-29 06:32] alex-slynko commented on #1110
Thanks @ramya-rao-a

[2017-07-29 09:20] uudashr commented on #1120
@ramya-rao-a your changes on the master?

[2017-07-29 11:56] mileusna commented on #1120
@ramya-rao-a Yes, the ```t.Error``` is there but not the ```log.Println```. That is why I wrote `no Hello`, there is no Hello on the screen from ```log.Println("Hello")```

[2017-07-29 13:54] uudashr commented on #1120
Fixed on #1124 cc @ramya-rao-a

[2017-07-30 05:54] fyndor commented on #1096
Yea this is super annoying and in my opinion makes this writing go code impossible in VS Code.  One fix I have found is turning off auto save but then you lose a lot of instant gratification of the extension telling you when you are writing improper code etc.  I think this is a really important bug to fix

[2017-07-30 14:35] alexbrand commented on #1035
I am running into this as well. I see a bunch of `guru` processes that seem to be eating up my CPU on a mac os machine.

<img width="1406" alt="screen shot 2017-07-30 at 10 33 11 am" src="https://user-images.githubusercontent.com/545723/28754405-a42c1d6a-7512-11e7-9aab-f65e06747aa5.png">

Go plugin v0.6.63
VS Code v1.14.2

[2017-07-31 02:03] ramya-rao-a commented on #1084
Ah! sorry @lansman. I only saw the repro steps of @realityexists and fixed the issue pertaining there.

Your issue is more about running programs that are interactive.

@roblourens When something is typed in the debug console after running `Start without debugging`, the `evaluateRequest` gets fired. Is that a bug? If not, then we can look into routing what was typed to the process that was run usi

[2017-07-31 06:49] rambhavaraju opened #1125 "command 'go.debug.startSession' not found"
Hi,

After updating my VSCode last week i started getting the following error when trying to debug the go code.
command 'go.debug.startSession' not found
**my vscode version is 1.14.2**
**Go extension versions is 0.6.63**

I was able to run fine until last week when i updated the vscode on my windows 10 machine. I have GOPATH and GOROOT variables set in the environmental variables too which isn't

[2017-07-31 10:13] omganesh opened #1126 "After upgrade, vscode-go plugin is not working"
hi,

After the upgrade, the vscode-go has stopped working,

code validation,
code autoformat,

error highlighting

has stopped working

i am using Microsoft 10  os version

[2017-07-31 10:55] realityexists commented on #1084
I can confirm my original issue is fixed in 0.6.63 - thanks!

[2017-07-31 15:06] ramya-rao-a commented on #1126
Did you upgrade your OS, Go itself, VS Code or the Go extension?

[2017-07-31 15:30] omganesh commented on #1126
The VS instance , all other things were working fine prior to the VS upgrade .

[2017-07-31 15:32] omganesh commented on #1126
This is my setting file

// Place your settings in this file to overwrite the default settings
{
    "files.associations": {
        "Vagrantfile": "ruby"
    },
    "window.zoomLevel": -1,
    "vim.enableNeovim": true,
    "vim.disableAnnoyingNeovimMessage": true,
    "go.autocompleteUnimportedPackages": true,
    "go.formatOnSave": true,
    "editor.formatOnSave": true,
    "editor.formatOnType"

[2017-07-31 20:36] chaseadamsio commented on #1061
I have had this issue too and I've noticed it happening when there's an error in my code. the goreturns has to be manually killed even after exiting code.

[2017-08-01 00:45] ramya-rao-a commented on #1035
@alexbrand Do you have the references codelens enabled? It uses `guru` and gets updated for every file change. And so gets expensive on bigger code bases

[2017-08-01 00:46] alexbrand commented on #1035
Yes,  I do have codelens enabled, although I wouldn't consider it a large code base.

[2017-08-01 00:55] rambhavaraju commented on #1125
Could someone help me in this regards its very important for me to troubleshoot this issue.

[2017-08-01 05:00] omganesh commented on #1126
hi,
VS Code version is 1.14.2

Getting following console log errors
[Extension Host] Cannot format due to syntax errors.

[Extension Host] rejected promise not handled within 1 second
h.logExtensionHostMessage @ extensionHost.ts:320

Cannot read property 'includes' of undefined: TypeError: Cannot read property 'includes' of undefined
    at RemoteController.isIgnored (C:\Users\oganesh\.vscode\exte

[2017-08-01 05:10] omganesh commented on #1126
- VSCode Version: Code 1.14.2 (cb82febafda0c8c199b9201ad274e25d9a76874e, 2017-07-19T23:34:09.706Z)
- OS Version: Windows_NT ia32 10.0.10586
- Extensions:

Extension|Author (truncated)|Version
---|---|---
vagrant|bbe|0.5.0
vs-kubernetes|bre|0.0.8
remote-editor|car|0.0.1
plsql|cas|0.0.3
gotemplate|cas|0.1.1
Gradle|caz|1.1.2
gitignore|cod|0.5.0
vscode-markdownlint|Dav|0.10.0
vscode-nomnoml|doc|0.3.0

[2017-08-01 05:39] ramya-rao-a commented on #1126
that call stack is from another extension.

Can you disable all extensions other than Go and see if you are able to get the Go extension features?

[2017-08-01 05:43] ramya-rao-a commented on #1125
This looks like that the extension has ended up in some kind of corrupted state.

- Are other features from the Go extension working as expected? Try some of the the "Go: .." commands from the command pallet
- Can you uninstall the Go extension and install it again?
- The `go.debug.startSession` command is called when you try to debug without configuring the launch.json file. Can you create one an

[2017-08-01 05:46] rambhavaraju commented on #1125
Thanks Ramya for response.

I think the Go extensions are working fine from command pallete. Ill try uninstalling the GO extensions and re install. I have had configured my launch.json file too. Below is the launch.json configuration
 {
            "name": "Launch",
            "type": "go",
            "request": "launch",
            "mode": "debug",
            "remotePath": "",
            "po

[2017-08-01 06:09] ramya-rao-a commented on #1125
If you have the launch.json file then `go.debug.StartSession` should not be called at all.
It gets called when there is no debug configuration in the `launch.json` file

When you open the debug pane, do you see your configuration selected or does it say "No configurations" ?

<img width="354" alt="screen shot 2017-07-31 at 11 09 46 pm" src="https://user-images.githubusercontent.com/16890566/288116

[2017-08-01 06:12] omganesh commented on #1126
1 ion Host] Error: Command failed: C:\Backup\work\Work\WorkSpace\bin\goreturns.exe -d <code-file-path-removed>
  2 <code-file-path-removed> expected ';', found ','
  3 <code-file-path-removed> expected declaration, found 'if'
  4 <code-file-path-removed>'
  5 <code-file-path-removed> expected declaration, found 'IDENT' kafka_topic
  6
  7     at ChildProcess.exithandler (child_process.js:223:12)

[2017-08-01 06:13] omganesh commented on #1126
The error highlighting too isn't working as it was before the upgrade.

now i dont get any error notifications (lint)..

[2017-08-01 06:16] rambhavaraju commented on #1125
![image](https://user-images.githubusercontent.com/6705212/28811796-004f534e-76af-11e7-9896-1f1971b00e75.png)
This is how my debug looks like, it shows that i have configured the debug settings

[2017-08-01 06:28] rambhavaraju commented on #1125
@ramya-rao-a uninstalling and installing the Go extension did the trick. Thank you so much for your help.

[2017-08-01 14:42] andy-trimble commented on #1126
I too have the same issue. Nothing is working after the VSCode update to 1.14.2. ```Running Go: Install/Update Tools``` results in the following error:

```Error: command 'go.tools.install' not found```

[2017-08-01 14:49] andy-trimble commented on #1126
Here is the error preventing the extension from loading:

[code]

[2017-08-01 14:55] andy-trimble commented on #1126
The file ```~/.vscode/extensions/lukehoban.go-0.6.63/out/src/goExtraInfo.js``` is in fact missing. After uninstalling and reinstalling the extension, everything is working again.

[2017-08-01 16:55] omganesh commented on #1126
will give it a try

[2017-08-01 20:17] ramya-rao-a commented on #1126
Thanks for that @andy-trimble

In that case #1125 must also be related.

[2017-08-01 20:19] ramya-rao-a commented on #1125
#1126 is tracking something similar.

Somehow, upgrading to VS Code 1.14.2 is corrupting the existing extension.

I cannot get a repro though.

Hopefully this is an isolated case ..

[2017-08-01 20:19] #1125 closed

[2017-08-02 00:47] #771 closed

[2017-08-02 00:58] #1117 closed

[2017-08-02 06:41] rsinensis opened #1127 "Generate docs comments for functions"
Can you add generated code annotation function?
Automatically completes a generic template for function annotation.

Like this:

![docthis](https://raw.githubusercontent.com/joelday/vscode-docthis/master/images/demo.gif)

[2017-08-02 11:35] omganesh commented on #1126
Hi,
here is what i did
  Uninstall & reinstalling the go plugin didn't help
so went for the nuke option
 - uninstalled vs code completly
 - cleaned up all the caches from ~/.vscode
 - rebooted the machine
 - installed the latest vs code 1.4.2 ( current version mentioned above ).
 - installed the go extension

restarted everything again
set the go.formatTool to "gofmt"
& resumed coding ,  but still

[2017-08-02 14:12] hungys commented on #977
@ramya-rao-a

0 reference issue still occurs randomly.

I've checked that the method support just works, but sometimes it also report 0 reference (which is incorrect).

![](http://i.imgur.com/Y2z8n7z.png)

BTW, is it possible to calculate all the reference counts at once, but not wait until we scroll to them?

[2017-08-02 15:17] aarzilli opened #1128 "Improved Delve support for Go 1.9"
Yesterday we [merged support for go1.9 into Delve](https://github.com/derekparker/delve/pull/824), users that use delve with go1.9 will need to update. There are no backwards incompatible changes so this frontend should keep working normally with the updated delve.

However there are two things that delve frontends can do for a better debugging experience with go 1.9:

1. If you are building the b

[2017-08-02 16:12] ramya-rao-a commented on #1126
@omganesh

Let's disable the formatting for the moment. Set the below to `false`
- go.formatOnSave
- editor.formatOnType
- editor.formatOnPaste
- editor.formatOnSave

With this, do you get back error highlighting?
Also, do the other features like auto complete and "Go to Definition" work as expected?

[2017-08-02 20:50] charlires commented on #871
@keegancsmith @ramya-rao-a Sorry for the late response, it's working now.

[2017-08-02 22:26] quchunguang opened #1129 "How to change the value of variable in ''debug console"?"
I can only show current value of variables by type its name directly.
How can i use `dlv` commands in vscode, like `set x=1`?

OS: Ubuntu 17.04 64bit

[2017-08-02 23:27] omganesh commented on #1126
@ramya-rao-a

I disabled the flags, but the error highlighting is not working now.

[2017-08-03 01:35] ramya-rao-a commented on #1126
@omganesh what about other features like auto complete and "Go to Definition"?

[2017-08-03 01:36] ramya-rao-a commented on #871
Neat. Closing this issue then. Happy Coding!

[2017-08-03 01:36] #871 closed

[2017-08-03 03:34] k5nwa opened #1130 "Will not install on Windows 7 i386"
Gets errors while installing on a Windows 7 i386 PC. Below is a sample of one error, a similar error occurs on multiple modules.

D:\Projects\Go\src\github.com\derekparker\delve\pkg\proc\disasm.go:9: undefined: ArchInst

On several modules, it mentions that "undefined: ArchInst"

I need it to work on i386 Windows 7 environment as I'm replacing an application that requires that environment and woul

[2017-08-03 05:47] myitcv commented on #1077
@ramya-rao-a - my apologies. I accidentally muted the email thread in Gmail 👎

I've actually realised my suggestion is not something that belongs within `vscode-go` - more an issue for builders of the package. So nothing to do here :)

[2017-08-03 16:56] ramya-rao-a commented on #1096
@sascha-andres, @fyndor

Sorry, this issue somehow got lost in the sea of notifications I currently have.

Do you have any of the `editor.formatOn...` settings turned on?

[2017-08-03 16:58] ramya-rao-a commented on #1077
got it. Happy coding!

[2017-08-03 17:31] omganesh commented on #1126
nope auto complete is very eratic, it works some times or doesn't work
same with go definition

[2017-08-03 17:32] omganesh commented on #1126
is there a place where i can download older version of the vs code ?

[2017-08-03 18:13] ramya-rao-a commented on #1126
Yes. https://github.com/Microsoft/vscode-go/releases

I forgot to upload for 0.6.62. But you can find 0.6.59 to 0.6.61 there.
Download the file and then choose "Instal from vsix.."

![screen shot 2017-08-03 at 11 13 20 am](https://user-images.githubusercontent.com/16890566/28936497-c9444618-783c-11e7-8b2f-fff5ed32be95.png)

[2017-08-03 18:18] ramya-rao-a commented on #1129
That is not implemented yet but is a very good feature to have.

We will have to implement the `setVariableRequest` of the DebugSession and use delve's `set` command there.

If anyone wants to try implementing this, I can help out.

[2017-08-03 19:14] bgentry commented on #1126
I also had vscode-go stop working on me today. Tried a number of fixes (reinstalling gocode and all deps, upgrading Go, enable/disable the plugin) but the only thing that worked for me was to completely uninstall and reinstall vscode-go.

[2017-08-03 21:31] ramya-rao-a commented on #1043
Indentation rules are updated in the core VS Code with https://github.com/Microsoft/vscode/commit/e6c60418fd865c65b114211f4148c1268277b217

and in the Go extension with https://github.com/Microsoft/vscode-go/commit/bd9556143bcf214db8c10a19d5cec5e9882286af

The fix in the core will help users that don't use the Go extension.
The fix in the Go extension will help users that are on the next update (0

[2017-08-03 21:31] #1043 closed

[2017-08-03 21:33] ramya-rao-a commented on #1126
@bgentry Did you recently upgrade VS Code or the Go extension before you saw the extension stop working for you?

[2017-08-03 21:36] bgentry commented on #1126
@ramya-rao-a not explicitly, but I restarted VS Code which I'm assuming lead to auto updates for both it and the extension.

[2017-08-03 22:15] ramya-rao-a commented on #1126
Yes,  auto updating of extensions was enabled recently by default.
And updating of VS Code itself is not intrusive as before, so you wouldn't even know that VS Code was updated unless you notice the pop up for the release notes

[2017-08-04 05:37] sascha-andres commented on #1096
My go specific settings:

[code]

[2017-08-04 05:52] ramya-rao-a commented on #1096
@sascha-andres My question was around the format settings for the editor like `editor.formatOnSave`, `editor.formatOnPaste`, editor.formatOnType`. Have you enabled any of these?

[2017-08-04 06:06] sascha-andres commented on #1096
@ramya-rao-a No I do not have any `editor.format...` set. My `editor. ` settings:

[code]

[2017-08-04 06:36] ramya-rao-a commented on #1096
@sascha-andres Can you disable all other extensions you have and try again? There have been cases when operations from other extensions interfere with the save cycle and triggering edits -> save -> format again.

[2017-08-04 06:48] sascha-andres commented on #1096
Done this but nothing has changed

[2017-08-04 19:24] omganesh commented on #1126
Hi Ramya,

even after setting the formatTool as megacheck the error highlighting doesnot work

[2017-08-05 00:11] ramya-rao-a commented on #1126
megacheck is not a formatting tool, it is a linting tool.
even when set as linting tool, it would only show warnings and not build errors.

Please confirm the below

- You ran `Go: Install/Update Tools`, no change
- All format related settings are disabled
- Auto complete and go to definition features are erratic
- Did you try disabling all other extensions?
- Uninstalling and Installing the exten

[2017-08-05 03:09] Stabledog commented on #15
It's August of 2017 -- almost 2 years later.  I just discovered and installed VScode for Mac, installed the C++ support, and I'm having this same problem in v1.14.2:  when my program writes to stdout, that does not show up anywhere in the debugger's output window.

This seems like a really basic behavioral deficiency that makes me wonder... "is anybody using this tool on the Mac?"  Am I missing so

[2017-08-05 11:50] delicb opened #1132 "Browse packages does not list packages"
"Browse packages" feature, which is recently introduced, never manages to list packages.

All I get is bar saying "Finding packages... Try after sometime.". But it does not work after "sometime"

I am using vscode-go in version 0.6.63 and vscode in version 1.14.2 os macOS Siera (10.12.6).

Manually running `go list all` does take some time on my machine (probably due to number of installed package

[2017-08-05 20:29] delicb commented on #1132
I managed to make it work.

I have cleaned up my `GOPATH` so that I do not have any more errors reported by `go list all`. Errors that I had were with packages that were in `$GOPATH/src/github/<username>/<package>` and had import comment that required them to be on some vanity import path (like `gopkg.in/<package>.v1` or something. I had couple of those, from times that I tried to `go get` them fr

[2017-08-06 03:55] ramya-rao-a commented on #1126
@omganesh Is the Go file you have opened under the GOPATH you get when you run the command `Go: Current GOPATH` ?

I was able to get an error similar to what you got. i.e `goreturns` failing with `expected 'package', found 'IDENT'`

I got this error when I created and was editing a Go file outside my GOPATH

[2017-08-06 04:27] ramya-rao-a commented on #1096
I have a repro after spending an hour on this. Finally!

The root cause is that `formatOnSave` feature uses the `TextEditorEdit` api to apply the formatting edits on the file.
Edits made this way have this issue of ending up selecting part of the text that the cursor is on.

I have logged an upstream bug for this in VS Code:
https://github.com/Microsoft/vscode/issues/32058

To fix the issue from t

[2017-08-06 04:27] ramya-rao-a commented on #899
Found the root cause!!

The root cause is that `formatOnSave` feature uses the `TextEditorEdit` api to apply the formatting edits on the file.
Edits made this way have this issue of ending up selecting part of the text that the cursor is on.

I have logged an upstream bug for this in VS Code:
https://github.com/Microsoft/vscode/issues/32058

To fix the issue from the Go extension's side, I have up

[2017-08-06 04:27] #899 closed

[2017-08-06 04:28] #1096 closed

[2017-08-06 04:31] ramya-rao-a commented on #1132
So doing a `go get` on any `gopkg.in/<package>.v1` should be able to let me repro this issue?

[2017-08-06 07:08] verkvieto opened #1133 "GOPATH from .zshenv not detected correctly"
I have my GOPATH set in `~/.zshenv` via `export GOPATH=$HOME`. Running the `Go: Current GOPATH` command from the command palette shows the GOPATH as `~/go` when it should be `~`.

![screenshot from 2017-08-06 01-58-57](https://user-images.githubusercontent.com/17302454/29001306-a90f1dda-7a4b-11e7-8ecc-42110b7f5bff.png)

[code]

[2017-08-06 12:22] delicb commented on #1132
Not just `go get gopkg.in/...`. For example, https://github.com/uber-go/zap should be installed by using `go get -u go.uber.org/zap`. If someone would do `go get github.com/uber-go/zap` that would result in error:
[code]
But folder `$GOPATH/github.com/uber-go/zap` would be created and because of that when `go list all` is executed, first few lines are:
[code]

At least that is what I believe could

[2017-08-06 12:28] peteryates opened #1134 "Difficulty setting environment variables for the debugger"
My go program requires either a `-config` argument *or* the `CONFIG` environment variable to be set, so `go test -config=../config/test.yml` or `CONFIG=../config/test.yml go test` both work fine; if neither are present the default config location is `/etc/my-program.yml`.

Now, when I attempt to run the debugger it's *always* looking for the config in `/etc/my-program.yml`, despite trying the foll

[2017-08-06 15:45] peteryates commented on #1134
OK, so it appears that this is just a problem with my setup and me not really knowing what VSCode is doing under the hood.

Rather than running the debugger from the "debug test" link, if I do it from the test window it works as I'd expect:

![screen shot 2017-08-06 at 16 36 19](https://user-images.githubusercontent.com/128088/29004782-7746d8e0-7ac5-11e7-96cf-01b05641e005.png)

So I guess now my q

[2017-08-06 16:01] peteryates commented on #1134
So it would appear that [this feature of CodeLens isn't supported yet](https://github.com/Microsoft/vscode-go/issues/879).

[2017-08-06 18:07] ramya-rao-a commented on #1132
I tried your steps, but like you said can't repro the issue.

I have removed https://github.com/Microsoft/vscode-go/blob/0.6.63/src/goPackages.ts#L42-L47 so that we continue to use the output of `go list all` even in case of failures to atleast get the info on the pkgs that appeared in stdout.

Also, added a error message that is shown to the user if no pkgs were found instead of saying "Fetching

[2017-08-06 18:07] #1132 closed

[2017-08-06 18:39] marwan-at-work commented on #1132
@ramya-rao-a since listing the packages takes a long time, what do you think of starting to show results before the command `go list all` has finished fetching the list?

it might make the code a bit more complex, but i'd be happy to submit a pr if that idea makes sense :)

[2017-08-07 00:16] omganesh commented on #1126
@ramya-rao-a the files I am editing are under $GOPATH

for now have shifted to using vi

[2017-08-07 00:38] ramya-rao-a commented on #1132
@marwan-at-work Yes definitely, give it a try.

[2017-08-07 00:39] ramya-rao-a commented on #1126
@omganesh Well, sorry about that.
The only other thing I can think of is to debug the Go extension locally.
I can guide you, if you are up for it.

[2017-08-07 02:51] omganesh commented on #1126
@ramya-rao-a  Sure do share the steps, i want to keep using VS code in long learn,

its a good learning experience

[2017-08-07 03:21] ramya-rao-a commented on #1126
@omganesh Great! Start from here: https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension

Run the local set up as described in the link, open your Go project and see if you still have issues.
If you do, then
- Disable `go.vetOnSave` and `go.lintOnSave` so that we can concentrate first on why you are n

[2017-08-07 07:07] deepakjois commented on #342
I am not able to rename symbols. I don’t have an explicit GOPATH set.

[code]

I get the error `Sorry, rename failed to execute`.

[2017-08-07 10:51] #1134 closed

[2017-08-07 12:44] frynio opened #1135 "Debugging doesn't work"
Okay, so I have a simple package, just wanted to try out the debugger from `vscode-go`.

Here's what I did:

![image](https://user-images.githubusercontent.com/15190180/29026911-702b7340-7b7e-11e7-9cb8-bcdf035acdef.png)

Now I want to Step Over. I click Step Over and this happens:

![image](https://user-images.githubusercontent.com/15190180/29026918-7d97c9f2-7b7e-11e7-92dc-1424ddc7ddfb.png)

Then

[2017-08-07 16:55] ramya-rao-a commented on #1133
@brandon-schumann Can you open the integrated terminal and run `echo $GOPATH` as well as `go env` and compare results?

[2017-08-07 17:14] brandon-schumann commented on #1133
@ramya-rao-a you can see the results of `echo $GOPATH`, `echo $PATH`, and `go env` in the integrated terminal in the screenshot below.
![screenshot from 2017-08-07 12-04-30](https://user-images.githubusercontent.com/17302454/29037282-972ff710-7b68-11e7-8c25-996cd9a86665.png)
The results in the integratted terminal are as expected (GOPATH set to `~`); however, the `Go: Current GOPATH` command shows

[2017-08-07 17:45] omganesh commented on #1126
will take some time for it ..  but definietly will try it
 which branch should i try for vs-code ? (master) ?

while running the npm got some 404 link errors

[2017-08-07 17:58] ramya-rao-a commented on #1133
Thanks @brandon-schumann

@Tyriar Can you think of any reason why the process for extension host might not have the environment variables as set in ~/.zshenv, but the integrated terminal does?

[2017-08-07 19:06] Tyriar commented on #1133
@ramya-rao-a VS Code's environment is build by launching a $SHELL process and parsing the output of `env` https://github.com/Microsoft/vscode/blob/8bb4ffb4efe724a2454f1a618b41edd7f45b661f/src/vs/code/node/shellEnv.ts#L27

@brandon-schumann is `$SHELL` set to `zsh`? What's the output of `echo $SHELL` on a external terminal?

[2017-08-07 20:23] ramya-rao-a commented on #1126
@omganesh You can use master or the tag 0.6.63

[2017-08-07 22:04] ramya-rao-a commented on #342
@deepakjois

- Do you see any message of the form `Rename failed: ...`
- Do you see any errors in the console? Run `Developer: Toggle Developer Tools` to open the console
- Can you run `gorename` in the terminal outside VS Code and see if it works as expected.

[2017-08-08 02:47] deepakjois commented on #342
I am running this on Linux under Gnome. I managed to fix the error by launching VS Code from my commandline, as opposed to launching it the usual way from Gnome shell. There seems to be a subtle difference in the way the environment is setup in the two cases.

Anyway, the error still persists when I launch VSCode directly from the Gnome menus, so here are the answers to your questions, in case it

[2017-08-08 04:13] ramya-rao-a commented on #342
@deepakjois
- Run the command `Go: Current GOPATH`.
- In the integrated terminal, run `echo $GOPATH` and `go env GOPATH`.

Compare the output in all 3 cases with your expected GOPATH. All match? None?

[2017-08-08 05:05] omganesh commented on #1126
hi was able to resolve the 404 error after upgrading the npm to latest version.

i tried the steps you had mentioned, for debugging,  the lint errors / warnings were visible until i hit this exception - attached the screen-shot

![image](https://user-images.githubusercontent.com/4991392/29057046-1853d9ee-7c25-11e7-90f9-44a61568243c.png)

[2017-08-08 05:19] omganesh commented on #1126
Attached the workspace

'C:\Program Files\Microsoft VS Code\Code.exe' --debugBrkPluginHost=17010 --extensionDevelopmentPath=c:\Backup\work\Work\WorkSpace\temp_ws\vscode-go

Error: Command failed: C:\Backup\work\Work\WorkSpace\bin\goreturns.exe -d -e
    at ChildProcess.exithandler (child_process.js:223:12)
    at emitTwo (events.js:106:13)
    at ChildProcess.emit (events.js:191:7)
    at maybeClo

[2017-08-08 05:37] ramya-rao-a commented on #1126
@omganesh That error is coming from the Vim extension. Can you disable that and see if build errors and linting warnings are appearing as expected?

[2017-08-08 06:24] indrgun commented on #232
error +1

/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/electron-browser/workbench.main.js:29 spawn ENOTDIR: Error: spawn ENOTDIR
    at exports._errnoException (util.js:1022:11)
    at ChildProcess.spawn (internal/child_process.js:313:11)
    at exports.spawn (child_process.js:399:9)
    at Object.exports.execFile (child_process.js:160:15)
    at Object.module.(anon

[2017-08-08 06:50] omganesh commented on #1126
@ramya-rao-a  have disabled all and now am able to see the linting warnings and build errors ...

[2017-08-08 07:32] deepakjois commented on #342
All match.

[2017-08-08 15:03] ramya-rao-a commented on #1126
😢 That's why I asked very early on in https://github.com/Microsoft/vscode-go/issues/1126#issuecomment-319273270 if you can try disabling all extensions other than Go and see if the issue still persists

Are you able to see the linting warnings and build errors in the VS Code (without the local dev set up) after disabling other extensions?

[2017-08-08 15:04] ramya-rao-a commented on #342
Ya, but all match with the GOPATH you expect? And your current Go file is under that GOPATH?

[2017-08-09 00:27] ramya-rao-a commented on #232
@indrgun Are other features like formatting, linting, go to definition features working as expected?

Have you updated any of these settings in your user/workspace settings? `go.gopath`, `go.goroot`, `go.inferGopath` and `go.toolsGopath`

[2017-08-09 02:20] ramya-rao-a commented on #1135
@frynio Can you try using `dlv` from the command line, add breakpoints and check if you are able to step over/in/out as expected?

[2017-08-09 04:10] indrgun commented on #232
I upgraded Go via homebrew and then tried editing go source file for 1st time in VSCode.  The go extension was installed long before editing the go source file.  I do not make any change yet to both VSCode User and Workspace setting wrt to go.

Sent from my iPhone

[2017-08-09 06:11] ramya-rao-a commented on #232
@indrgun In the integrated terminal of VS Code are you able to run Go. For example: `go version` without specifying the path to the go binary?

[2017-08-09 07:03] indrgun commented on #232
Yes I can.

INGUNAWA-M-J02T:go-play ingunawa$ go version
go version go1.8.3 darwin/amd64
INGUNAWA-M-J02T:go-play ingunawa$

The Go extension in VSCode is version 0.6.63 which is the latest.
The go settings are still the defaults in the settings.json:

  // Infer GOPATH from the workspace root.
  "go.inferGopath": false,

  // Specify GOPATH here to override the one that is set as environment varia

[2017-08-09 10:53] deepakjois commented on #342
Yes. I have not set an explicit GOPATH anywhere in my environment, so I expect it to be `~/go`. All the cases you enumerated above give the same value `/home/deepak/go`, which is what I expect.

Did you look at the log of errors in the console I attached above? Did that contain anything helpful? If not, happy to do something that might help. I can reproduce this consistently.

[2017-08-09 18:52] ramya-rao-a commented on #342
@deepakjois

The stack trace has the error message of the format `Rename failed: ...`

The reason I was looking for this was that anything following the `Rename failed:` words are the words from the error message from running `gorename`

From the stack trace I see a lot of `"go": executable file not found in $PATH`. This error is coming from `gorename`

Can you either add the location of the `go`

[2017-08-09 18:54] aybabtme opened #1137 "vscode should not try to contact the internet when computer is disconnected"
When I go offline, on planes or whatever, I want to be able to use my editor without issues. Currently, parts of VS Code appear to be trying to check for upgrades or things like that, and does so even when my wifi is completely off. When those upgrades fail, it shows pops up that are distracting.

VS Code should detect that there's no connectivity and avoid spamming user with connection error mess

[2017-08-09 19:13] ramya-rao-a commented on #232
well then, Happy Coding!

[2017-08-09 20:37] rpfister51 opened #1138 "Remote debugging works from command line but not from VS Code"
I cannot debug a docker process from VS Code.  I am able to connect to the docker container from the delve command line, but not from VS Code.  From the command line I can set breakpoints, list breakpoints, and step through the code.  I cannot do any of these from VS Code.

The easiest way to reproduce this is:

1. Clone the debugging branch of https://github.com/lukehoban/webapp-go/tree/debugging

[2017-08-09 20:44] ramya-rao-a commented on #1137
This issue was moved to Microsoft/vscode#32196

[2017-08-09 20:44] #1137 closed

[2017-08-10 08:33] ttimasdf opened #1139 "inferGopath doesn't work as expected"
Environment:
VSCode 1.14.2
macOS 10.12.6

Step to reproduce:
- GOPATH was set in my .zshrc.
- `process.env['GOPATH']` in developer tool can get it.
- add option `go.gopath` in settings.json could overwrite it correctly.
- add option `go.inferGopath` in settings.json could not detect a custom gopath. My open directory is `/Users/user/Projects/proj/src/github.com/ttimasdf/proj/main.go`, and I want `

[2017-08-10 20:06] aybabtme commented on #1137
Woups I totally opened this against the wrong repo!

[2017-08-11 17:39] josh-tepper opened #1140 "No receiver functions with go-langserver turned on"
When I set `"go.useLanguageServer": true`, I no longer see receiver functions (aka methods) when I type "@" in the command palette (though I see all other symbols).  This is in contrast to the behavior when I use go.docsTool set to either godoc or gogetdoc.  Nonetheless, I wish that I had these symbols because they're useful!

[2017-08-11 18:32] vishal-uttamchandani commented on #493
@goupadhy I realize this is an old issue. Just to mention, set GOBIN env variable to %GOPATH%\bin and it should install successfully.

[2017-08-11 18:41] rskumar commented on #974
Anyone working on this?

[2017-08-11 20:38] VojtechVitek opened #1141 "Option to disable "run test | debug test" links"
Hi,

just a minor nit -- is there any way to disable these two links?

![screen shot 2017-08-11 at 4 32 00 pm](https://user-images.githubusercontent.com/139342/29230824-ae3b7626-7eb2-11e7-91a2-fc8a71c7aa06.png)

When writing tests, these lines show up when the code is OK, but they disappear every time there's a syntax error - effectively every time I save a `_test.go` file that doesn't compile.

T

[2017-08-11 22:07] Jgeyen commented on #1135
I had the exact same issue. I went into dlv and was able to replicate the issue with the unexpected fault. I was on Go version 1.8 and delve version 0.12.1. I updated Go to 1.8.3 and delve to 1.0 RC. That resolved the issue for me. I was able to step over some lines, but not others. For instance, I took the code from this site: https://blog.alexellis.io/golang-json-api-client/ and was able to step

[2017-08-12 00:30] ramya-rao-a commented on #1047
I am little busy at work, and may not be able to get to this any time soon, but this is a very useful feature to have.

PRs are welcome.

I can help out pointing people in the right direction if needed

[2017-08-12 00:31] tylerb commented on #1047
Happy to take a peek. No idea where to start 😃

I'm sure I could figure it out if you get me pointed in the right direction. Thanks!!

On Aug 11, 2017, 6:30 PM -0600, Ramya Rao <notifications@github.com>, wrote:

[2017-08-12 00:40] ramya-rao-a commented on #1047
There are 2 ways that I can think of to do this

- Have a status bar item that shows the status "Cancel Running Tests" that shows up when tests take say more than 5 seconds. Clicking on the status bar item should cancel the test.
- Another way is to use the integrated terminal to run the tests, maybe via tasks. That way the user can just hit `Ctrl+C` to cancel the process as everything in the term

[2017-08-12 00:44] tylerb commented on #1047
Excellent. I love the status bar idea. Would you be able to point me in the right direction as to how to get started with putting something in the status bar?

On Aug 11, 2017, 6:40 PM -0600, Ramya Rao <notifications@github.com>, wrote:

[2017-08-13 06:00] ramya-rao-a commented on #974
@rskumar So very sorry, I hadn't had the time to look at this.

The Go extension uses [delve](https://github.com/derekparker/delve) for debugging.
The extension doesnt build any binaries for delve to use.
delve takes care of all the building necessary.

One thing you can try is to debug using a binary itself.
Use `go build` yourself to create the binary in the right place
And then update the debug

[2017-08-13 17:41] ramya-rao-a opened #1142 "Enable multi-root set up"
- [x] 🏃 Mark all settings except language server related ones as scope = "resource". This is so that current workspace specific settings continue to work as folder specific settings in the multi-root set up
- [x] 🏃 Update all (except language-server related) the `getConfiguration('go')` calls to include resource uri for file open in current editor.
- [x] 🏃  Instead of updating `process.env` with t

[2017-08-15 01:40] gosp commented on #299
@ramya-rao-a  it is a pity that `GOPATH` which is configured in `settings.json` isn't recognized by `Debug: Start Without Debugging`. I MUST reconfigure them in `launch.json`

the example of `.vscode\settings.json`
[code]

[2017-08-15 09:03] willfaught opened #1143 "Map keys with braces cause lines moved below to be indented"
Put the cursor in the first key-value line, press and hold Option, then press down to move the line down below the one with the curly brace as the key. The moved line will become indented one tab.

[code]

[2017-08-15 12:07] Shadowfaxenator opened #1144 "5 GB of RAM usage by go-langserver, leak?"
While saving (cmd+S) several times Hello World app written in golang on MacOS VSCode, I get 5+ GB of RAM consumed by go-langserver process, CPU fans start working and no memory is freed

[2017-08-16 02:20] ramya-rao-a commented on #1144
@Shadowfaxenator

I don't believe the language server does anything on save.

cc @slimsag

[2017-08-16 02:24] ramya-rao-a commented on #1143
I believe this is due to the indentation rules we have.

Only happens when there is an un-closed `{` in the line before the final position of the move.

[2017-08-16 02:26] ramya-rao-a commented on #1141
@VojtechVitek

To disable all codelens in VS Code, set `editor.codeLens` to `false`
To disable Go related codelens, set the below
[code]

[2017-08-16 02:26] #1141 closed

[2017-08-16 02:31] ramya-rao-a commented on #1139
When you set `go.inferGopath` to `true`, what GOPATH did you get?

[2017-08-16 03:29] slimsag commented on #1144
Hi @Shadowfaxenator can you tell me which version this command shows for you?

[code]

Additionally, when the process uses a large amount of memory, could you capture a heap profile via the steps described in https://github.com/sourcegraph/go-langserver#profiling ?

[2017-08-16 06:06] antifuchs commented on #194
Just a heads-up that there's now [a PR](https://github.com/nsf/gocode/pull/463) to `nsf/gocode` that adds a package import path field to each autocomplete symbol. It might be possible to get all the information you need from that. Please test this out and let me know if it breaks things!

[2017-08-16 08:35] Shadowfaxenator commented on #1144
Yes, I have v2-dev
When I try
[code]

I get

[code]

[2017-08-16 13:22] lusis opened #1145 "weirdness with errors"
Hey all,

Since a recent update I've seen some weirdness where invalid code is cached and reporting as a problem even after fixing it.

It appears that some recent change started attempting to validate stuff in the vendor directory and is thus breaking my current file.

This is apparently entirely new behaviour it appears and have turned a few folks internally off of vscode. Here are my current se

[2017-08-16 14:27] VojtechVitek commented on #1141
Works like charm. Thanks a lot! 👍

[2017-08-16 14:56] ramya-rao-a commented on #1141
No problem, Happy Coding!

[2017-08-16 16:21] airlanggacahya opened #1146 "Vscode-go doesn't recognise new package installed by dep ensure"
After running dep ensure on the command line to install new package, the new package is not recognized by vscode-go directly. Vscode restart is required to get the new package recognized by autocomplete and linter.

[2017-08-16 17:29] ramya-rao-a commented on #299
@gosp We do send GOPATH as configured in `settings.json` to the `Debug: Start Without Debugging` command.

I have similar setting as yours where `go.inferGopath` is `true` and I have set a `toolsGopath` and nothing else. GOPATH is not configured as env var outside of VS Code either. And `Debug: Start Without Debugging` uses the inferred Gopath in my case.

- Run `Go: Current GOPATH` command and en

[2017-08-17 00:13] ramya-rao-a commented on #1047
There already is a status bar that appears when the tests are run on save. Clicking on it shows the test output.

Look at the goCheck.ts file.

[2017-08-17 00:13] tylerb commented on #1047
Perfect. I'll dig in. Thanks!

On Aug 16, 2017, 6:13 PM -0600, Ramya Rao <notifications@github.com>, wrote:

[2017-08-17 01:03] ramya-rao-a commented on #1145
If its linting and vetting warnings you are referring to, then can you check either https://github.com/Microsoft/vscode-go/issues/1121 or https://github.com/Microsoft/vscode-go/issues/1119 and see if one of those 2 issues are the same as the one you are facing?

[2017-08-17 05:32] ramya-rao-a commented on #1146
linters are triggered on file save. They do not react to file changes and so that is expected behavior.

For auto-complete, are you trying it with or without the import statement to the new package in the file?

[2017-08-17 08:33] Hawken94 opened #1147 "can't autoimport packages in vendor directories"
I use glide and find that vscode can't autoimport packages in vendor directories . But it can autoimport packages in $GOPATH/src . I don't know the reason . Sorry for my bad english.

[2017-08-17 10:24] gosp commented on #299
vscode golang extension is installed `General GOPATH`: `"D:\\SourceCode\\golang"`
So I MUST set "go.toolsGopath".
After `Go: Current GOPATH`:
      Current gopath Current GOPATH is inferred from workspace root: d:\SourceCode\etc.project\server

Errors:
[code]
The error means it can't find package which is in vendor folder.

.vscode\launch.json
[code]

[2017-08-17 13:02] douglarek commented on #1145
@ramya-rao-a thanks for your fix; btw, when will release a new version ?

[2017-08-17 16:01] ramya-rao-a commented on #1145
sometime next week, I have been busy with a few other things, sorry :(

Until then you can follow the instructions in https://github.com/Microsoft/vscode-go/issues/1121#issuecomment-318765520

[2017-08-17 16:39] mbanzon opened #1148 "Debugging does not honor go.buildTags"
I'm trying to debug a project that rely on build tags (actually it is the `github.com/mattn/go-sqlite3` used in a way that require `-tags trace` for the feature to be included). Debugging this package does not work - the compiler output errors that functions behind build tag are not defined.

To reproduce these two files:

(main.go)
[code]

(func.go)
[code]

and adding the `"go.buildTags": "mytag"

[2017-08-17 16:48] airlanggacahya commented on #1146
Yes, I already put the import statement. In fact, "dep ensure" is working directly by scanning the go source file for import path, and combined with file on root project to create final list of package to be downloaded. And then pull the source and put into vendor folder. Golang dep: https://github.com/golang/dep

So the problem is, run vs-code, put import statement, run terminal, run dep ensure o

[2017-08-17 16:52] airlanggacahya commented on #1147
Try to restart vs-code after running glide. Maybe related to #1146

[2017-08-17 17:28] ramya-rao-a commented on #1148
Unfortunately, debugger cant read the settings at the moment. Try using "buildFlags" property in your debug config. Pass ["-tags", "urtag"]

[2017-08-17 17:28] #1148 closed

[2017-08-17 18:48] mbanzon commented on #1148
Too bad.

Just to clarify (will post in the twitter thread as well for anyone following there): `buildFlags` takes a string argument. It is working with: `"buildFlags": "-tags mytag"`.

[2017-08-17 19:02] ramya-rao-a commented on #1146
Does `dep` download only the source or also build the package?

For auto-complete we use [gocode](https://github.com/nsf/gocode) which uses pkgs from GOPATH/pkgs and not source code

[2017-08-17 20:25] ramya-rao-a commented on #1148
Thanks @mbanzon

[2017-08-18 01:13] renannprado commented on #973
@ramya-rao-a I just tried to do the same thing again and couldn't reproduce it. So I guess it's fixed?

[2017-08-18 01:33] Hawken94 commented on #1147
@airlanggacahya  I try it but it doesn't work ( in my windows10) . I remember I can auto-import packages in vendor directories in my ubuntu 16 . I will try it on my ubuntu after I get back home at night .May it isn't a big problem . PS , it can auto-import packages in vendor directories when I use Gogland .

[2017-08-18 04:37] charmfocus commented on #1139
me too!
[code]

[2017-08-18 13:30] lusis commented on #1145
@ramya-rao-a sadly neither of the options listed worked. I've tried the latest extension manually installed as well as various other machinations.

I've scoped to the linting to the package level so that at least helps a little but the problem of cached errors is still there as in these screenshots.

I introduce an error and save.
![selection_661](https://user-images.githubusercontent.com/228958/2

[2017-08-18 13:39] lusis commented on #1145
as a follow up, setting `"go.coverOnSave": false` per https://github.com/Microsoft/vscode-go/issues/1036 appears to have solved the issue. It's not ideal but it's at least a workaround.

[2017-08-18 15:40] Hawken94 commented on #1147
@airlanggacahya I tried . It can work on ubuntu 16.

[2017-08-18 20:23] ramya-rao-a commented on #973
Well, its been a while and honestly I don't remember :)

Maybe some of the other changes done around the debugging code might have fixed it.

Since you are not able to repro this, can we close this issue?

[2017-08-19 01:59] ttimasdf commented on #1139
@ramya-rao-a The same as I got when it was set to `false`

_Sent from my OnePlus ONEPLUS A3000 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-19 09:58] jmhodges commented on #297
This is happening on Mac 10.12.6 with VSCode  for me. Maybe a large GOPATH problem? Not sure the best way to hook in profiling info. Imagine I'll just have to try to duplicate the gorename calls vscode-go is making?

[2017-08-19 10:03] jmhodges opened #1149 "handle gorename errors better"
In order to figure out why a rename call happened, I have to open up the developer tools window and poke through the console to get the full error text. Example case: renaming a type `Apple` to `apple` would cause the variable name `apple` that's used in the project to be shadowed and so gorename exits early.

It'd be really nice if I could click on something and go to the spot with the error, but

[2017-08-19 15:05] didenko commented on #358
Thank you @ramya-rao-a for all the clarifications and the troubleshooting wikipage.

From what I observed when _vscode-go_ fails to find an executable, it often has to do with where the `PATH` and `GOPATH` variables were defined. One should be aware that setting environment variables in different startup files has different, and possibly confusing, effects. In that case on _Manjaro_ Linux distribu

[2017-08-19 16:41] didenko commented on #924
What probably fixed it is placing the path in the `/etc/profile.d/*` files - which has similar effect at `~/.profile`. See https://github.com/Microsoft/vscode-go/issues/358#issuecomment-323528504 for more details.

[2017-08-19 22:49] ilevine commented on #1138
Getting the same problem - any news ?

[2017-08-19 22:59] ramya-rao-a commented on #358
Thanks for the analysis @didenko

[2017-08-20 01:35] ramya-rao-a commented on #1145
@lusis What are the values for `go.buildOnSave` and `go.liveErrors` when you see this issue?
Also, in the end when the build error goes away but the linting warnings remain, is the file in a saved state?

[2017-08-20 01:55] ramya-rao-a commented on #1145
@luis I can't repro the issue but I think I know what's happening.

The build/lint/vet/cover on save operations are triggered at the same time. And only after all are complete, the results get updated. In your case I believe, the running of the coverage might be taking a long time, thus delaying the update of the build/lint/vet results.

I have decoupled the coverage part from build/lint/vet proce

[2017-08-20 03:44] renannprado commented on #259
@ramya-rao-a should it work for interfaces in the same file?

I'm getting the following error: Cannot stub inteface: unrecognized interface: MyInterface

[2017-08-20 03:46] renannprado commented on #973
Yep

[2017-08-20 03:46] #973 closed

[2017-08-20 04:11] ttimasdf commented on #1139
Err, here comes another question. After upgraded VSCode to 1.15.1, even `go.gopath` option stopped working as well. I'm not familiar with Extension Development host, how could I provide you more information?

[2017-08-20 06:42] ramya-rao-a commented on #1139
@ttimasdf The master branch has quite a few changes since the last released version (0.6.63)

So there might be differences in behavior.

Can you try installing the Go extension using the latest vsix that was built from master branch and see if your issue still occurs?
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Close all VS Code windows
- Run `code --install-ext

[2017-08-20 06:46] ttimasdf commented on #1139
From [here](https://github.com/Microsoft/vscode-go/blob/89feaa7fa54d0d5782f8a305ad8e205a7ac32ea2/src/goInstallTools.ts#L239), the GOPATH env was set to value of `go env GOPATH`, and [debug server](https://github.com/Microsoft/vscode-go/blob/89feaa7fa54d0d5782f8a305ad8e205a7ac32ea2/src/debugAdapter/goDebug.ts#L230) run with this value as well. should there be anywhere setting `process.env['GOPATH']

[2017-08-20 06:47] ramya-rao-a commented on #840
The debug adapter runs in a different process altogether than the extension host and so the usual ways of accessing settings in the extension cannot be used by the debug adapter.

One way to solve the current GOPATH resolving issue when debugging is for the debug adapter to infer the GOPATH based on the path of the file/package it is asked to debug. This is being tracked by the PR #1150

[2017-08-20 06:48] ramya-rao-a commented on #299
@gosp I can repro now. This is because, the debug adapter cannot read the settings. This is being tracked in #840. I have a way to get around this in mind, please follow #840 for now.

[2017-08-20 06:50] ttimasdf commented on #1139
@ramya-rao-a Oh, thanks. I'll try it. With my last comment I was using the code cloned from master branch. In conclusion, linter is good(code completion detected my module), debugger is not(wrong GOPATH env).

[2017-08-20 06:59] ramya-rao-a commented on #259
@renannprado Did you provide the package name along with the interface?

For example: I had to use `f *File stringutil.Boo` where `Boo` is the interface and `stringutil` is the package name

[2017-08-20 07:01] ramya-rao-a commented on #297
@jmhodges Yes, try running `gorename` in the command line on the same file. If that takes a long time, then there is nothing we can do from our side.

[2017-08-20 07:09] ramya-rao-a commented on #1139
@ttimasdf The debugger not using the gopath like the rest of the extension features is a known issue. See #840

[2017-08-20 07:49] Laterality opened #1151 "Editor becomes very slower with Vim plugin"
I'm using vscode [vim](https://github.com/VSCodeVim/Vim)
and just installed Go 1.8 and vscode's go extension last night

The problem is text editor becomes very slow when the both extensions work together.
And when i disable one of them, editor gets back normal.

At first time, I have no idea where the point of problem is, but I had no problem when i use vim extension and typescript extensions tog

[2017-08-20 07:56] #1151 closed

[2017-08-20 07:58] Laterality commented on #1151
was stupid question,

I solved the problem by close all the vscode windows i opened and re-run

[2017-08-20 14:41] zhouhaibing089 commented on #846
@ramya-rao-a I'm having a similar issue:

I am a kubernetes developer(and thanks to vs-code which makes debugging extremely convenient), when I navigate to `${GOPATH}/src/k8s.io/kubernetes/vendor/k8s.io/apimachinery/pkg/runtime/scheme_test.go`(which symlinks to `${GOPATH}/src/k8s.io/kubernetes/staging/src/k8s.io/apimachinery/pkg/runtime/scheme_test.go`) and then click the `run test`, it complains:

[2017-08-20 20:51] andreis commented on #1122
This confused me a bit until I realised I was out of `$GOPATH`

[2017-08-21 02:42] szyhf opened #1152 ""go.autocompleteUnimportedPackages" doesn't work after update to VSCode 1.15"
My editor can not using "autocomplete Unimported Packages" any more, after I update my vscode to 1.15, I'm not sure if it is the reason.

Previously I can import package like 'strings' just type "strings.S" and auto complete list will show with "strings.Splite()" and after select, the package 'strings' will be imported.

But now, if I didn't import the package "strings", the tips won't show.

It's

[2017-08-21 02:53] ramya-rao-a commented on #1152
@szyhf Are rest of the auto-completion features working as expected?

[2017-08-21 02:54] ramya-rao-a commented on #1094
@DasJott Do you still have this issue?

[2017-08-21 02:54] ramya-rao-a commented on #1095
@DasJott Do you still have this issue?

[2017-08-21 03:01] ramya-rao-a commented on #1099
@didenko

Thanks for the detailed report.

About the reported problem, looks like it is coming from either the linter or by running `go vet`. The Go extension displays the results from these tools and is not aware of the nature of the errors/warnings themselves. I can help in narrowing down which tool is giving the said warning, but beyond that you'd have to log the issue in the repo for the tool

[2017-08-21 03:04] ramya-rao-a commented on #1101
Sorry, am late to this party

So this issue is about the changing the UI behavior of code lens in general so that they do don't take up a whole line and so don't disrupt the flow of numbered lines. Did I sum it up right?

[2017-08-21 05:04] szyhf commented on #1152
@ramya-rao-a Thanks for reply !

Other auto-completion features works well. While type a function \ variable \ constant \ method it can provide tips as I expect.

If I call "Go: Add import", it can also list package in my $GOPATH and $GOROOT path.

If I imported an package, it can provide the struct \ function in the package too.

[2017-08-21 06:37] willfaught commented on #1101
Basically. This ticket doesn't prescribe general changes to Code Lens as the solution, but that might be what's required to accomplish it.

[2017-08-21 06:50] ramya-rao-a commented on #1101
In that case, it is beyond the capabilities of this extension.

VS Code extensions in general cannot make any UI changes to the product. It can work inside the confines of what the core provides.

[2017-08-21 07:08] willfaught commented on #1101
Since the other ticket is tracking work on putting those things in the context menu, I'll close this then.

[2017-08-21 07:08] #1101 closed

[2017-08-21 07:25] DasJott commented on #1095
I am sorry, I was on vacation a few weeks.
Was testing it a minute ago and it seems to work now. Whatever happened.

Thank you!

[2017-08-21 07:25] #1095 closed

[2017-08-21 07:26] DasJott commented on #1094
Seems to work now. Can not reproduce anymore. Will close it for now.

[2017-08-21 07:26] #1094 closed

[2017-08-21 07:37] willfaught opened #1153 "Highlight TODO and BUG in comments"
It calls attention to them.

[2017-08-21 11:02] ttimasdf commented on #1139
2017年8月20日 14:42，"Ramya Rao" <notifications@github.com>写道：

[2017-08-21 18:00] ramya-rao-a commented on #1104
That's a good catch @iarief

I have added feature to run and show the test coverage after running the Test Package command.
That should help.

The feature will be out in the next update to the Go extension which should be sometime this week

[2017-08-21 18:00] #1104 closed

[2017-08-21 21:31] buyology opened #1154 "autocompletion: not working after upgrade to 1.15.*"
recently upgraded to `1.15.1` (on Mac OS X Sierra) + `0.6.63` and now autocompletion appears broken

what I was doing:
* import a package
* **try to use and refer to the exported structs** --> don't show up in autocompletion, however strangely enough shows structs that have previously been in the package but has already  been removed / only a subset of structs
* **try to jump into definition** -->

[2017-08-21 22:06] rpfister51 commented on #1138
Hi @ilevine, no other notice of this problem but yours.  I did figure out why the FROM golang:1.6 no longer works.  There was a breaking change which is discussed in issue 936 that is causing this problem.  Go 1.7 or higher is now required to support the current version of Delve.

[2017-08-21 22:06] buyology commented on #1154
hm. ok, fixed some errors (which I didn't notice) in the imported package, and now it seems to work.

in my experience `auto-completion` hasn't been so sensitive to compile errors before ( that has been more the case with e.g. `gorename`.). maybe this is something on the `gocode` end.

[2017-08-21 22:06] #1154 closed

[2017-08-21 22:19] ramya-rao-a commented on #1094
Thanks @DasJott

[2017-08-21 22:19] ramya-rao-a commented on #1095
Thanks @DasJott

[2017-08-22 00:14] ramya-rao-a commented on #1036
@FryDay @posito

There is one reason why the cover on save feature can affect the problems view.

The build/lint/vet/cover on save operations are triggered at the same time. And only after all are complete, the results get updated. In your cases I believe, the running of the coverage might be taking a long time, thus delaying the update of the build/lint/vet results.

I have decoupled the coverage

[2017-08-22 00:54] ramya-rao-a commented on #1153
That would be a cool feature indeed, but is not specific to the Go extension.
It applies to all languages actually.

Quite a few feature requests have been logged in the VS Code repo for this. Go through both the open and closed issues here: https://github.com/Microsoft/vscode/issues?q=is%3Aissue+TODO+in%3Atitle+is%3Aopen

Some of them have links to extensions that do this.

[2017-08-22 00:54] #1153 closed

[2017-08-22 01:04] ramya-rao-a commented on #1152
Ah! Looks like this happens only with built-in packages.

Can you try out any of your custom packages?

[2017-08-22 03:22] iarief commented on #1104
@ramya-rao-a thanks!

[2017-08-22 04:49] ramya-rao-a commented on #1104
@iarief Can you help in testing it out?

All you have to do is
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.visx` from the location where you downloaded the above file
- Restart vs code and you should be good to go

[2017-08-22 04:50] ramya-rao-a commented on #1139
@ttimasdf Sorry, I didn't understand your previous comment

[2017-08-22 06:08] iarief commented on #1104
@ramya-rao-a sure, please wait a bit

[2017-08-22 06:28] iarief commented on #1104
@ramya-rao-a
Yeah, it seems that this issue is resolved as per the following expected behaviour

1. Create go file
2. Create test file
3. Run `Go:Toggle Test Coverage In Current Package` (this would result in highlighting for coverage)
4. Modify the code in the go file or the unit test file
5. Run `Go: Test Package` again
6. Check that the coverage highlighting has been updated for the package

Th

[2017-08-22 06:31] iarief commented on #1104
@ramya-rao-a
I'm sorry, it seems that i missed something.

right now, the toggle test coverage function does not disable test coverage when i run it for the second time

[2017-08-22 06:35] iarief commented on #1104
@ramya-rao-a
I'm terribly sorry, but I think that there is still something wrong with the toggle test coverage command.

I think it should work like this

1. toggle test coverage
2. coverage highlighting shows up
3. edit unit test files and test package
4. coverage highlighting is updated
5. toggle the coverage testing again (to turn off coverage test)
6. test the package again

expected behaviour

[2017-08-22 14:58] OneOfOne opened #1155 ""Test Package" ignores buildFlags and testFlags when coverOnTestPackage is true"
title

[2017-08-22 14:58] szyhf commented on #1152
@ramya-rao-a :

Unfortunately, none of custom package or built-in packages work in my computer QAQ

[2017-08-22 15:08] OneOfOne commented on #1155
Not sure if I need to sign something for the PR, but I'd be happy to.

[2017-08-22 15:31] ramya-rao-a commented on #1104
- Coverage highlighting is removed the minute there is a change to any file. This is because we can't guarantee that the change hasn't changed the test results
- Toggle Test Coverage removes coverage highlighting if it exists, else it runs tests and applies the coverage highlighting. It doesn't maintain any state that can be re-used by the test package command

In your steps if you add a step 7 to

[2017-08-22 15:41] HintikkaKimmo commented on #464
@ramya-rao-a I think support for html templating languages is much more general than gohtml. VScode is missing similar feature for Django & Jinja templates as well and for handlebars what @josephspurrier is asking.

gotemplate-syntex does part of what I am looking for with syntax highlighting, but it has no knowledge of my go variables or does not even know how to auto close `{{` signs.

What I wo

[2017-08-22 15:48] iarief commented on #1104
I see, so the toggle coverage is purely for visual purpose.
Then I believe everything works as supposed to.

[2017-08-22 16:30] ramya-rao-a commented on #1104
Great then, Happy Coding!

[2017-08-22 16:50] ramya-rao-a commented on #1152
We changed the way we get the information on packages in general in 0.6.63

Can you try from the code in master?
All you have to do is
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.visx` from the location where you downloaded the above file
- Restart vs code

[2017-08-22 17:49] willfaught commented on #1153
Good point, as long as it highlights both TODO and BUG.

[2017-08-22 21:10] ilevine opened #1157 "Debug adapter crashes when connecting to a target that's stopped on a breakpoint"
To reproduce:
The initial state as an application that's already debugged using a dlv server with multi client enabled, that's stopped in a breakpoint.
After the breakpoint hit, the first client remains inactive. and vscode-go comes into play.

We use the "stopOnEntry: true" in the launch config, so that vscode will remain on the breakpoint and allow us to debug it.

When vscode connects, it event

[2017-08-22 23:05] edDimensi opened #1158 "Display comment in suggest."
Suggests not show comments for fields in struct when i typing.
[code]

![image](https://user-images.githubusercontent.com/11390039/29591469-6fe5b366-87a7-11e7-8a7e-22b4437ccc95.png)
![image](https://user-images.githubusercontent.com/11390039/29591478-783fe8ce-87a7-11e7-8919-c953ecb7bcc4.png)

[2017-08-22 23:07] nebiros opened #1159 ""Cannot read property 'includes' of undefined" when I try to lunch the debugger"
I'm getting that error when I try to lunch the delve debugger, running a `test` configuration, if I set `remotePath` as `""`, I got a different error, anyway, I set it as `${workspaceRoot}`, this is the whole trace:

[code]

I'm in Mac, I install delve through `homebrew`, my vscode configuration:

[code]

My `launch.json`:

[code]

[2017-08-23 00:52] szyhf commented on #1152
Seems not working, running response:

[code]
Then close vscode and restart it.

Try to type built-in pkg like "strings" or custom pkg, still not work.

I'm wondering if there any possible reason may cased by directory access permission ? Like visit the pkg of GOPATH ? I check my gopath and I think it's fine (at least "o+rx").

---

 here is my go config, I'm not sure if it can help:

[code]

[2017-08-23 04:10] c4milo commented on #741
@ramya-rao-a apologies for commenting on a closed issue. I noticed `go.buildTags` type is a string, I believe it should be an array just like `go.buildFlags`. I'm happy to open a new issue if you agree.

[2017-08-23 04:21] c4milo commented on #741
ah, I just looked at my makefiles and multiple tags can be passed separate by space. I forgot about it somehow. Sorry for the noise!

[2017-08-23 05:15] ramya-rao-a commented on #1152
@szyhf Can you run `Go: Browse Packages` and see if the `strings` pkg is listed there?

[2017-08-23 08:40] dahankzter opened #1160 "Feature request: Support for goderive"
A cool tool was just released by @awalterschulze https://github.com/awalterschulze/goderive and it would be really cool with editor support.

[2017-08-23 08:58] awalterschulze commented on #1160
Wow yes, this would be really nice :)

[2017-08-23 18:05] AlekSi opened #1161 "Feature request: support expanderr"
https://github.com/stapelberg/expanderr

[2017-08-23 22:10] BTooLs commented on #342
I solved the problem on Windows by
1. Create  an ENV variable "GOPATH=D:\go-projects\" (don't forget the last \)
2. Move the project inside "D:\go-projects\src" folder

[2017-08-23 23:16] ramya-rao-a commented on #1158
This is being tracked in #194 Please follow that issue

[2017-08-23 23:16] #1158 closed

[2017-08-23 23:26] #1155 closed

[2017-08-23 23:31] ramya-rao-a commented on #1155
Thanks for reporting this @OneOfOne! And for the PR as well.
I am going ahead with a separate solution and have pointed that out in your PR.

[2017-08-24 01:33] szyhf commented on #1152
Hi @ramya-rao-a , thanks for help!

While just restarting vs-code, run `Browse Packages` will response `Finding packages... Try after sometime.`.

And then I open the `Developer Tools` and got and error, I'm not sure if it's related:

[code]

After waiting for 10 minutes, `Browse Packages` still response `Finding packages... Try after sometime.`.

That might be the problem?

[2017-08-24 02:06] ramya-rao-a commented on #1152
The error in the Dev tools is unrelated.

Looks like the code to fetch the packages is not completing and so you get that message and also the suggestion feature doesn't get the list of packages as well.

Can you run `go list all` and see if it gives you results?

[2017-08-24 05:03] posito commented on #1036
@ramya-rao-a i get  a end of central directory record signature not found

[2017-08-24 05:41] ramya-rao-a commented on #1036
@posito Can you share more details? Screenshot of the error? Error message? When do you see the error? Are you using the `Go-latest.vsix`?

[2017-08-24 07:06] airlanggacahya commented on #1146
Hmm.. that understandable. Thank you for your time, I'll mark this as closed.

[2017-08-24 07:06] #1146 closed

[2017-08-24 12:42] cheptsov opened #1163 "Remote debugger doesn't work for Go (Unverified breakpoint) when using delve api v2"
OS X Sierra 10.12.1
VS Code 1.15.1
Go extension 0.6.63

Repo: https://github.com/cheptsov/wiki

Steps to reproduce:
1. Breakpoint: `main:go:39`
2. Terminal: `make deploy`
3. Debug `Remote Docker`

Debug Console:
[code]

Delve installed:
[code]

[2017-08-24 17:21] ramya-rao-a commented on #1146
No problem, Happy Coding!

[2017-08-25 02:29] szyhf commented on #1152
@ramya-rao-a Thanks for reply !

While running `go list all` in my custom project, it will take about 3~6 seconds waiting and list all packages to console, quite a lot package is listed.

I tried to use `go list all > test.txt` to save them to file, I got 5099 rows and some error is print in console like below:

[code]
I wondering if it can help ?

[2017-08-25 03:36] ttimasdf commented on #1139
@ramya-rao-a Errr, I don't know either..maybe replied by a bug of my phone. Sorry for disturbance. 😢

[2017-08-25 06:25] ramya-rao-a commented on #1139
So what's your current state?
Does inferGopath work everywhere except for debugger?

[2017-08-25 06:51] ramya-rao-a commented on #1152
@szyhf over 5000 rows!! Wow, that's a lot of packages.

I can't repro this issue because I don't have those many packages :)

I can help you set up a local environment for the Go extension and help you debug the issue if you are up for it.

- Follow the instructions for [Building and Debugging the extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extens

[2017-08-25 08:53] hielfx commented on #51
For me only shows the local variables, the global are not displayed.
- Latest Delve version
- Ubuntu 16.04
- VS Code 1.15.1
- Auto generated lauch.json config

[2017-08-25 14:44] josh-tepper commented on #1140
@ramya-rao-a have you seen this?  Should I file this with the sourcegraph folks or is this an artifact of the way vscode-go invokes or uses go-langserver?

I just updated my langserver with go get, and I have this version:
[code]

[2017-08-25 18:06] OneOfOne commented on #1155
Thanks!

[2017-08-25 18:34] ramya-rao-a commented on #1155
@OneOfOne I am curious though.. How did you come across this error?

Have you been working on the extension or testing it using the `Go-latest.vsix` ?

[2017-08-25 18:37] ramya-rao-a commented on #1140
Hey @josh-tepper

Sorry my notifications are all in a mess, don't know how I missed this issue.

Yes, this should be logged in the repo for the language server.

No worries I'll move it.

[2017-08-25 18:37] ramya-rao-a commented on #1140
This issue was moved to sourcegraph/go-langserver#199

[2017-08-25 18:37] #1140 closed

[2017-08-25 18:40] ramya-rao-a commented on #1145
@lusis Did you get some time to try the latest from master?

[2017-08-25 20:26] OneOfOne commented on #1155
Yep! I needed `gometalinter and dlv will honor the go.toolsGopath setting.` and `Support for the Go To Implementation command on interfaces.` so I grabbed `Go-latest.vsix` as soon as it was available with them.

Great work on the extension btw!

[2017-08-25 20:52] ramya-rao-a commented on #1155
Thanks! That's great to hear.

Would you be interested in beta testing the extension for every release?
I am not a Go developer myself and I always fear that I am missing out certain scenarios that a everyday Go develeper could catch.

You wouldnt need to test all features. Just install using  `Go-latest.vsix`and use the VS Code just like you would any other day.

[2017-08-25 21:00] OneOfOne commented on #1155
Yes of course, I'd like to help.

[2017-08-25 23:21] ramya-rao-a commented on #1155
Great! Can you please join the group https://groups.google.com/forum/#!forum/go-with-vs-code-beta-testers?

Whenever I update the `Go-latest.vsix` for the upcoming release, I announce in that group, so that people can download it and install.

[2017-08-26 22:00] ataliadvanstep commented on #1163
Hi,

I have exactly the same issue. I am unable to debug from mac os into a docker container.

I use docker-compose :

[code]

My launch.json
[code]

[code]

If I try to debug manually, the breakpoint match
[code]

Any advice ?

[2017-08-27 17:03] brandon-schumann commented on #1133
@Tyriar `echo $SHELL` returns `/bin/zsh`.

[2017-08-27 19:35] Tyriar commented on #1133
I would expect it to work then if `$SHELL` is `zsh`. @joaomoreno any ideas why `~/.zshenv` is not being sourced in VS Code's environment?

[2017-08-28 00:20] ramya-rao-a commented on #1138
@ilevine Are you on Windows too?

There was an issue with mapping remote paths to local paths in Windows and the fix for it is in the master branch. Can you try out the extension from source following the below steps and let me know if the issue is resolved for you?

- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` from th

[2017-08-28 01:30] szyhf commented on #1152
@ramya-rao-a Thank for help! I'll try them latter !!!

[2017-08-28 03:41] zaaksam opened #1166 "Debug is very slow in Go 1.9"
macOS Sierra 10.12.6
Go 1.9
VS Code 1.15.1
Go extension 0.6.63
delve 1.0.0-rc.1 (Build Id: b6077a6a35c48a31716aad2ad3fdf77bbdf70abd)

launch.json
[code]

User Settings is default, none breakpoint, just press Fn+F5, and it spend about 1 minute to start.

vscode-go-debug.txt
[code]

In terminal: `bash -c "date && go build && date"`
[code]

[2017-08-28 05:02] yhuang0 opened #1167 "Run build/lint on file open?"
Is there an option to run build/lint the moment you open a new file? I find many times when I open a file and expect errors but don't see them until I start typing because I have "auto-save" and "build on save". Is there a way to trigger a build on open file?

[2017-08-28 07:32] joaomoreno commented on #1133
No idea. There should be a warning in the Devtools console saying `renderer did not receive lazyEnv in time`. Do you confirm?

[2017-08-28 15:18] ramya-rao-a commented on #1161
Looks cool, PRs welcome.
I can help out if anyone is interested

[2017-08-28 18:15] jayantnd opened #1168 "Not displaying global variables and objects data in a array in debug panel"
value of address object data is not displaying in myUser array. but displaying if the object is not in array. [Mark-1, 2]

x is a global variable but not displaying in "VARIABLES" section. to check, we need to add a watch. [Mark-3].

please check the image attached.

![screen shot 2017-08-28 at 12 48 02 pm](https://user-images.githubusercontent.com/2960473/29786952-09906d10-8bfb-11e7-8564-c1b543b1

[2017-08-29 07:51] free1139 opened #1169 "How can i transmit ${workspaceRoot} to Go environment?"
I do it like below, but go.testEnvVars it's not work.

// user define
{
    "go.gopath": "C:\\Users\\SHU\\ws\\golibs;${workspaceRoot}", // ${workspaceRoot} has worked.
    "go.testEnvVars": {
        "PJROOT":"${workspaceRoot}" // it not work,  os.Env("PJROOT") has printed out "${workspaceRoot}".
    },
    "go.toolsEnvVars": {
        "PJROOT":"${workspaceRoot}"
    }
}

[2017-08-29 07:55] #1169 closed

[2017-08-29 10:37] sandy081 opened #1170 "Build complete workspace when buildOnSave is set to workspace"
Testing https://github.com/Microsoft/vscode/issues/33297

When the setting `go.buildOnSave` is set to `workspace`, in a multi-root workspace it is expected to build the complete workspace instead of just the `workspace folder`.  I see it was mentioned expected but this can be changed.

Here is the use case: In the sample MR set up I have two root folders `hello` and `stringutil`. I wanted to confi

[2017-08-29 10:58] sandy081 opened #1171 "Toggling test coverage is not removing all coverage decorations"
Testing https://github.com/Microsoft/vscode/issues/33297

- Set coverage decorator for folder StringUtil to `highlight`
- Open `reverse.go` file and Run command `toggle test coverage in current package`
- Code coverage is shown by highlight
- Change the setting to `gutter`
- Run the command again

Expected to remove all coverage decorations. But not.

[2017-08-29 11:13] sandy081 opened #1172 "Code lens are not updated immediately after changing the setting enableCodeLens"
Testing https://github.com/Microsoft/vscode/issues/33297

- Have the folder setting in `stringutil` folder
[code]
- Open `reverse_test.go` and check the code lens for running test is shown
- Change the `runtest` value to false

It is expected to remove the code lens after the change is done. But code lens are remove only after switching to a different file and back to it

[2017-08-29 11:45] carlca opened #1173 "Refactoring would be nice"
Hello, first of all, let me say that GoCode is a really cool package and I especially appreciate the support for Delve that it gives me. What would be really nice would be some form of refactoring. Maybe just "Extract Method" to start with as this is probably the most likely refactoring feature to be needed. Alternatively, do you or anyone else know of any Golang refactoring extensions for VS Code

[2017-08-29 21:17] BTooLs commented on #1051
The fix works, tx @ramya-rao-a
I have a similar issue, but another command that contains a dot
`go test -bench=.` doesn't work in powershell, but in cmd is fine

[2017-08-30 01:43] atomi commented on #1119
Just a heads up. It looks like you added a PR to prevent workspace symbols from picking up vendor/ https://github.com/Microsoft/vscode-go/issues/700  but the version from Go-latest.vsix is including all symbols, including those in vendor/.

[2017-08-30 06:40] zz-bmj opened #1174 "I set go.docsTool to gogetdoc before, and my mac become very very slow and even crashed"
@ramya-rao-a I set go.docsTool to gogetdoc before, and my mac become very very slow and even crashed. Maybe it needs some fix?

[2017-08-30 06:40] zz-bmj commented on #1174
the previous issue is https://github.com/Microsoft/vscode/issues/32935#issuecomment-325889252

[2017-08-30 15:28] davyzhang opened #1175 "Is there anyway to make IntelliSense of function parameters stays longer?"
When I typed a function name, the hint tool tip window just disappears.

unlike typescript's IntelliSense,  the function parameters' hints stay till the I close the function with )

[2017-08-30 16:24] didenko commented on #1099
@ramya-rao-a, sorry it took me a while to get back to this. Here is the screenshot of what I mean:

![2017-08-30 11 14 44](https://user-images.githubusercontent.com/99670/29883029-8880eb02-8d74-11e7-8b3b-8d8ad2a10c40.jpg)

As you can see, the slice of strings `ss` has been declared, at which point it is initialized as `nil`. It does test equal to nil.  Note how it is shown as 0-length slice of str

[2017-08-30 17:28] cdhunt opened #1177 "Debugging on Windows doesn't build exe"
I'm trying to debug an issue with Packer on Windows and when I try to launch debugging in VSCode, it appears to produce a binary with no extension and then cannot launch said binary.

launch.json

[code]

Output

[code]

[2017-08-30 18:08] rpfister51 commented on #1138
Applying the change suggested by ramya solved this problem for me.  Remote debugging to a golang process within a docker container is now no longer frozen.  The icons for step over, step into and step out are now active after beginning a debug session.  I have successfully used the step over icon and been able to inspect state as I step through my code.

I did bump into a new problem though. When

[2017-08-30 18:08] #1138 closed

[2017-08-30 19:50] rpfister51 commented on #1163
Though I'm on Windows I had a similar problem which I reported in issue 1138. @ramya-rao-a gave a link to an update there which solved my problem.  @cheptsov, you might want to try it.

[2017-08-30 19:51] rpfister51 commented on #1078
I had a similar problem which I documented in issue 1138.  @ramya-rao-a shared a link to an update there which worked for me.  @shayzu , you might want to try it.

[2017-08-30 19:52] rpfister51 commented on #1089
This seems similar to a problem I reported in issue 1138.  @ramya-rao-a shared a link to an update there which solved the problem for me.  @ssadok , you might want to try it.

[2017-08-30 19:56] rpfister51 opened #1178 "Debugger fails when stepping into standard library with "Unable to open 'server.go'""
While debugging the sample application (`github.com/lukehoban/webapp-go/tree/debugging`)  (I’ve attached a partial screenshot.)  The message is “Unable to open ‘server.go’: File not found (c:\Users\rpfister\usr\local\go\src\net\http\server.go).

![unable to find server go](https://user-images.githubusercontent.com/12035948/29892194-b8a98286-8d9b-11e7-9bc5-2df4dbf5dbe8.png)

This seems to be a mish

[2017-08-31 01:59] ramya-rao-a commented on #1174
@zz-bmj Are you sure that gogetdoc was the reason?

Did you see it taking up a lot of CPU? Can you repro the issue by enabling it again?

cc @zmb3

[2017-08-31 02:03] ramya-rao-a commented on #1177
@cdhunt Can you try running delve from the command line and see if you are able to get it debugging successfully?

Just run `dlv debug` in the from whatever is the folder you have opened in vs code.

I noticed that you have GOPATH and GOROOT set to the same location. I have a feeling we aren't suppose to do that

[2017-08-31 03:25] ramya-rao-a commented on #1178
I couldn't repro on my Mac
On my Windows machine, I got similar error, but the msg said it was not able to find `\usr\local\go\src\net\http\server.go` instead.

Since the path has Windows like path separator, my guess was that the issue is with https://github.com/Microsoft/vscode-go/blob/0.6.63/src/debugAdapter/goDebug.ts#L502

Which makes sense because that line of code tries to replace the remot

[2017-08-31 03:27] ramya-rao-a commented on #1177
Also you seem to be passing the args `build`. Is that for the program you are trying to debug?

[2017-08-31 03:29] ramya-rao-a commented on #1175
@davyzhang The UI for the tooltip and for rest of the editor for that matter is the same for all languages. Extensions cannot change the UI.

Can you share a video or gif of the issue you are seeing? include both typescript and go for comparison

[2017-08-31 03:31] ramya-rao-a commented on #1173
The extract method feature is tracked in #588
Other refactoring are tracked in #649

Yes refactoring would be a cool feature to add. PRs are welcome and I can help out anyone who wants to give it a try.

Closing this issue in favor of the 2 linked issues

[2017-08-31 03:31] #1173 closed

[2017-08-31 07:14] davyzhang commented on #1175
Sorry for the vague explanation,

here is how vscode-go works even if I turned on useCodeSnippetsOnFunctionSuggest
![golang](https://dl.dropboxusercontent.com/u/84845057/go.gif)

Here is how typescript's  suggestions of functions work
![typescript](https://dl.dropboxusercontent.com/u/84845057/ts.gif)

the tooltip window stays and changes during input process, and also highlights current parameter.

[2017-08-31 11:07] ttimasdf commented on #1139
Latest commit(94e6acd2a0c68bb4269dbf13fe9b134ce188614d) fixed it and everything works like a charm. Many thanks 👍  @ramya-rao-a

[2017-08-31 11:07] #1139 closed

[2017-08-31 15:03] rpfister51 commented on #1178
Hi @ramya-rao-a, it looks like that fixed it!  I stepped repeatedly with no errors.  I'll mark this as closed.  Thanks for your help.

I do have a question.  Others where I work are also interested in remote debugging and see these same problems.  I assume these changes will at some point in the future be in a mainline version that can be downloaded from the VS Code website. Do you know when that

[2017-08-31 15:03] #1178 closed

[2017-08-31 15:53] ramya-rao-a commented on #1178
I would be releasing an update early next week and it should have the current fixes.

[2017-08-31 19:28] mrkaspa commented on #1161
I can help too

[2017-08-31 21:12] ramya-rao-a commented on #1175
What you have shown for typescript is called "Signature Help" or "Parameter Hints".
It shows up in the below cases
1. when you type the `(` after the function name
2. when you press `Cmd+Shift+Space` or `Ctrl+Shift+Space` insider the `()` after the function name

In your Go example, since you have enabled `useCodeSnippetsOnFunctionSuggest`, the parameters are already filled up. So there are no hin

[2017-08-31 21:12] #1175 closed

[2017-08-31 22:39] ramya-rao-a commented on #1163
@rpeshkov Your issue of 1138 was Windows specific, the current issue here is in Mac

@cheptsov I am able to repro the issue. Can you try setting the breakpoints at the same location using delve from the command line?

@ataliadvanstep When you tried delve directly, were you able to set breakpoints? (not just main.main, breakpoints on other lines)
I was able to set the breakpoint but `continue` got

[2017-08-31 22:42] ramya-rao-a commented on #1089
@ssadok There is no difference between the 2 screenshots for the launch.json

Can you try using delve from the command line and see if you are able to hit the breakpoint?

[2017-08-31 22:49] rpeshkov commented on #1163
Hi @ramya-rao-a, I guess you wanted to mention @rpfister51 in previous comment :)

[2017-08-31 23:29] isavcic opened #1181 "Function definition popping up every time when opening bracket"
Hello,

Function definition is popping up every time when opening bracket like this:

<img width="579" alt="vscode-always-showing-definition" src="https://user-images.githubusercontent.com/3032922/29949397-c2f5d770-8eb4-11e7-8553-46a327797e55.png">

Notice that this is a different popup than a regular mouseover definition popup (which I want to happen):

<img width="552" alt="vscode-mouseover" src

[2017-09-01 00:20] ramya-rao-a commented on #1163
@rpeshkov That's right, sorry! The auto-complete for @ mentioning in github was smarter before where it would only suggest people already in the thread. Some reason these days it picks up people outside the thread as well.

[2017-09-01 00:53] ramya-rao-a commented on #1163
@cheptsov

So I was able to repro your exact issue with your repo
I removed the `--api-version=2` from your delve call at https://github.com/cheptsov/wiki/blob/master/Dockerfile#L12 and it works now.

Any reason you want v2 for the delve apis?

I dont think the Go extension works well the v2 of the delve apis

[2017-09-01 01:22] ramya-rao-a commented on #1181
Thats called "Signature Help" or "Parameter Hints"
Its helpful when the function in question has multiple parameters.
As you type the parameter, the underline moves to the current parameter.

You can disable this by setting `"editor.parameterHints": false`

[2017-09-01 01:22] #1181 closed

[2017-09-01 01:35] ramya-rao-a commented on #941
@phenrigomes @willseward

Do you still have issues with remote debugging with the latest version of the Go extension?
If not, then can we close this issue?

[2017-09-01 01:50] didenko commented on #1099
By the way, updated `golint` no longer gives the wrong suggestion.

[2017-09-01 01:56] ramya-rao-a commented on #1078
@shayzu Looking at the logs you shared there are errors in creating breakpoints.

There are also attempts to create the breakpoint on "/Users/shayzukerman/Library/Application Support/Code/User/ftp-simple/remote-temp/e980fc53b7a02df50c6915eefaf38746/home/oracle/go/src/oracle_db/oracle_db.go"

Does any part of that path make sense to you?

All the paths should have been under /Users/shayzukerman/go/

[2017-09-01 02:34] ramya-rao-a commented on #1099
The issue with the display of slices is upstream as well

The Go extension uses delve for debugging and displays what it gets from delve.
As you can see below delve returns the exact same thing both the times, and we display the same

![debug](https://user-images.githubusercontent.com/16890566/29953231-22ac0ee6-8e83-11e7-8438-4fb93aacff1f.gif)

Can you log an issue for delve at https://github.com/

[2017-09-01 02:34] #1099 closed

[2017-09-01 02:58] didenko commented on #1099
Makes sense. Thank you for looking into this and for the pointers!

[2017-09-01 04:24] ataliadvanstep commented on #1163
@ramya-rao-a I was able to set breakpoints in other lines, as you can see below :

![image](https://user-images.githubusercontent.com/26287180/29955171-f876983e-8edd-11e7-8309-238013ed651a.png)

[2017-09-01 05:27] ramya-rao-a commented on #1099
No problem and Happy Coding!

[2017-09-01 05:30] ramya-rao-a commented on #1163
Yes, api-version=2 is not yet supported.
We hope to have it soon

[2017-09-01 06:25] shayzu commented on #1078
Hi Ramya,

Yes, there are such breakpoints, which were created on the copy of the source file, which was uploaded to the remote server via "Ftp-Simple" Extension.

Anyhow, removing these breakpoints did not solve the issue.
Attached please find the latest: vscode-go-debug.txt

Thanks
Shay

[vscode-go-debug.txt](https://github.com/Microsoft/vscode-go/files/1269317/vscode-go-debug.txt)

[2017-09-01 07:19] isavcic commented on #1181
Thank you for the explanation! Any way to change font size of it?

[2017-09-01 07:40] davyzhang commented on #1175
I know how it goes now, the problem is that my function has a long list of parameters, so I split them into multiple lines like
[code]
and the signature help won't work

[2017-09-01 16:17] yhuang0 opened #1182 "Add go.generateOnSave option"
Any plans to add this? It would run "go generate" on save.

https://golang.org/cmd/go/#hdr-Generate_Go_files_by_processing_source

[2017-09-01 16:24] ramya-rao-a opened #1183 "Signature Help/Parameter Hints don't appear if func definition spans multiple lines"
From https://github.com/Microsoft/vscode-go/issues/1175#issuecomment-326512723 by @davyzhang

[code]
and the signature help won't work.
If I changed them to
[code]

Parameter hints work as expected

[2017-09-01 16:24] ramya-rao-a commented on #1175
Ah! thats a bug

Logged #1183 to track that

[2017-09-01 16:26] ramya-rao-a commented on #1181
Not at the moment. There is an open issue in vscode tracking that. You can add your upvotes/comments there https://github.com/Microsoft/vscode/issues/13480

[2017-09-01 18:05] ramya-rao-a commented on #1182
Discussion on `go generate` is being tracked in #263
Please share your input there

Closing this issue in favor of #263

[2017-09-01 18:05] #1182 closed

[2017-09-01 18:07] ramya-rao-a commented on #1127
@fatih @zmb3 Do you have anything similar for vim-go/go-plus?

I am sure there is a Go tool out there that could add comments on functions based on its signature.

[2017-09-01 18:08] joelpresence opened #1184 "Parameter hints don't show up in tests"
I'm running VSCode 1.15.1 with go 1.8.3 on macOS 10.12.6.

When in a test method like
[code]
This used to work before.  Nothing has changed on my end so it seems like either VSCode or the go plugin has an issue?

Here's my custom vscode settings:
[code]
Here's my `go env` output:
[code]

Strangely, the params completion/suggestion **does** work in non test files.  But for some reason it doesn't no

[2017-09-01 18:19] ramya-rao-a commented on #1184
Works for me...
Tried both in Mac (go 1.8.3) and Windows (go 1.7)

![image](https://user-images.githubusercontent.com/16890566/29982504-cd37ee7e-8f06-11e7-810b-884e099267de.png)

Can you run `Go: Install/Update Tools` to ensure all the Go tools are up to date, reload VS Code and try again?

[2017-09-01 18:20] ramya-rao-a commented on #1184
And just to be on the same page you are referring to the parameter hints as shown in my screenshot above and not the suggestion/auto-completion correct?

[2017-09-01 18:21] joelpresence commented on #1184
@ramya-rao-a thanks for the quick response!

I had tried those things before and they didn't help, but I'll try them again ... Hold on!  :-)

And yes, I mean parameter hints, like in your screenshot.

[2017-09-01 18:21] zmb3 commented on #1127
Seems like an anti-pattern to me, for several reasons:

- GoDoc doesn't use fancy markup syntax like JavaDoc or JSDoc - it's just text.  These type of tools are useful in auto-filling out the boring repetitive markup, but we don't have that in Go.
- Some people request just enough to suppress `go vet` warnings about exported identifiers being undocumented - but this defeats the purpose of the warn

[2017-09-01 18:22] joelpresence commented on #1184
[code]

[2017-09-01 18:25] joelpresence commented on #1184
Didn't help.  :-( . Still broken.  Any suggestions?

I do get a popup, but it is not useful, whereas in a non-test file I'll see something like `foo(accountId int64, name string)` in the test file the popup says `foo(int64, string)` as in the param names are dropped.  So that's not useful to me because I need to know the names of the params as well as their types.

Any ideas why the param names ar

[2017-09-01 18:47] ramya-rao-a commented on #1127
Makes sense, looping in more people for their thoughts

cc @rakyll, @campoy

[2017-09-01 19:08] ramya-rao-a commented on #1184
that's weird, I have no idea and I cannot repro

If you are up for it I can help you debug the issue by running the extension from source

[2017-09-01 19:14] rakyll commented on #1127
What @zmb3 said.

Godoc doesn't have annotations. We also prefer the doc to be targeting more to the humans than to machines.

[2017-09-01 19:23] joelpresence commented on #1184
I am up for it!  How do I run the extension from source?

[2017-09-01 19:58] yhuang0 commented on #263
For my own purpose I just want to have a "go.generateOnSave" option for the current file scope. In addition, a vscode shortcut to run go generate manually. I don't think the first version of this needs to be that complicated.

[2017-09-01 19:58] ramya-rao-a commented on #1184
Great!

- Follow the steps here: https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension
- Add breakpoint at https://github.com/Microsoft/vscode-go/blob/master/src/goSignature.ts#L36
- Trigger Signature Help by `Ctrl/Cmd+shift+Space` from insider the `()`, the breakpoint will be hit
- Debug away

[2017-09-01 19:59] joelpresence commented on #1184
Thanks @ramya-rao-a !  I will attempt to debug this weekend and report back in this issue ...

[2017-09-01 19:59] ramya-rao-a commented on #1127
Thanks @rakyll and @zmb3

@rsinensis Hope the explaination above helps as to why we shouldnt be going down this route.

[2017-09-01 19:59] #1127 closed

[2017-09-01 20:35] kopaygorodsky commented on #793
@ramya-rao-a this issue can be closed, Delve fixed. Update will be available in next release.

[2017-09-01 20:35] #793 closed

[2017-09-01 20:43] ramya-rao-a commented on #1134
@peteryates Have you tried using the `go.testEnvVars` setting? Any env vars set there will be used by
- All the Test commands from the command palet
- The Run test and Debug test codelens

[2017-09-01 20:46] ramya-rao-a commented on #1157
@ilevine I am not familiar with the multi-client feature of delve. Can you share information on your setup that we can try and replicate to check the issue?

cc @roblourens On initializing debugstate

[2017-09-01 20:49] ramya-rao-a commented on #1160
Maybe I am missing something, but from what I read from https://github.com/awalterschulze/goderive, the way to use this tool is to run `goderive ./...` which can be done easily from the terminal.

What kind of editor support will help here?

[2017-09-01 21:01] roblourens commented on #1157
The multiclient feature is interesting. Even without that, I remember an issue that `stopOnEntry` doesn't really work, for the same reason - debugState is never initialized. I'm not sure whether dlv gives us a way to initialize it in this case.

[2017-09-01 21:07] ramya-rao-a commented on #1159
@nebiros The program attribute is missing in your debug configuration.

Are you trying to do remote debugging? If not, then keep `remotePath` as empty string.

Also read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#set-up-configurations-in-launchjson

[2017-09-01 21:07] #1159 closed

[2017-09-01 21:16] ramya-rao-a commented on #51
@grimmer0125 @hielfx  We use the `locals` command in delve to get the local variables. I am not aware of a way to get the global variables in delve. @derekparker Is there a way to get the global variables?

[2017-09-01 21:18] ramya-rao-a commented on #793
Thanks for looping back @kopaygorodsky

[2017-09-01 21:21] ramya-rao-a commented on #1167
This is being tracked in #118
You can follow the discussion there

[2017-09-01 21:21] #1167 closed

[2017-09-01 21:21] ramya-rao-a commented on #1169
this is being tracked in #736

[2017-09-01 21:46] ramya-rao-a commented on #1157
Looks like it does in v2: https://godoc.org/github.com/derekparker/delve/service/rpc2#RPCServer.State

[2017-09-01 23:50] roblourens opened #1185 "Can only run tests with coverage once"
After the first run, it sets the `-coverprofile` param multiple times:

[code]

[2017-09-02 00:32] roblourens opened #1186 "Suggestions for "log" don't show up before it's imported"
I tried several unimported packages, and autocomplete works for them, but it doesn't work just for `log` for some reason.

e.g. `fmt.` -> Shows `Errorf`, `Printf`, etc.

`log.` -> nothing...

Once I import `log`, its suggestions show up.

[2017-09-02 00:41] roblourens opened #1187 "Struct hover has extra indent"
![image](https://user-images.githubusercontent.com/323878/29991494-cc43d006-8f3c-11e7-807a-dd2e2aa411df.png)

The second and third lines of the hover is double indented

[2017-09-02 06:32] awalterschulze commented on #1160
My usecase would be that `goderive <filename>` is run on a file whenever I save it.  Just like gofmt.

It could also be nice if the command line flags were configurable.

Would that be possible?

[2017-09-02 11:51] alioygur opened #1188 "vagrant integration"
hello, I am usign vagrant on MacOS, I haven't install any go and its packages on my . host machine (MacOS)

So this extension requires go packages like goreturn, go vet etc. How can i say to vscode that run these commands on remote host (vagrant)

thank you.

[2017-09-02 16:11] yhuang0 commented on #118
It's been two years and we don't have any attempt to address this?

It seems go doesn't report all errors in a package so navigating to another file within the same package and running build doesn't give you much. But when navigating to a file in a different package you want to run build again because you want to see errors of the latter package, not the former one. In the case of tabbing through

[2017-09-02 18:06] ramya-rao-a opened #1189 "Command to "go get" a package that is not available"
Say there is an import statement for a package that is not yet in "imported" or downloaded.
A new command to run to get this package can be useful.

[2017-09-02 18:06] ramya-rao-a commented on #1189
Its pretty easy to implement, if anyone wants to take a stab at it, I can help

[2017-09-02 18:18] ramya-rao-a commented on #1185
Fixed with https://github.com/Microsoft/vscode-go/commit/8d835234e27ab58ffd0f6b6f24b7148526cdc82e#diff-869d156f8d53e34e379625eb2aab2d2c

@roblourens Can you try again with the latest vsix from last night?

[2017-09-02 18:18] #1185 closed

[2017-09-02 22:33] dcsan commented on #15
@Stabledog what's the correct incant for launch.json?

[code]

![image](https://user-images.githubusercontent.com/514002/29999193-97fef038-9071-11e7-9568-b1bf133eca71.png)

using
[code]

[2017-09-02 22:40] dcsan commented on #15
oh UPDATE:
works with the above with standard `console.log` but for some reason TJs' `debug` module doesn't output here. must be something to do with how the console.log is being hijacked fighting between these two.

[2017-09-03 22:55] willseward commented on #941
The original problem still exists, but I don't think it's a bug---just some undocumented functionality.

[2017-09-04 00:58] roblourens commented on #1185
Verified!

[2017-09-04 03:48] yhuang0 opened #1190 "Go standard library src should be read-only by default"
When navigating outside of my project code to go's standard library, those files should be marked as readonly in my editor so I don't accidentally change something and not know about it. This should be a config like: "go.readOnlyStdLib" and should be set to true by default.

[2017-09-04 18:47] ramya-rao-a commented on #941
And by original problem do you mean https://github.com/Microsoft/vscode-go/issues/941#issuecomment-299591809 or https://github.com/Microsoft/vscode-go/issues/941#issuecomment-296831061 ?

[2017-09-05 05:00] ramya-rao-a commented on #1190
We can use [TextDocumentContentProvider](https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-nametextdocumentcontentprovideraspan-classcodeitem-id458textdocumentcontentproviderspan) to provide read only documents in the editor. This can technically be done as a separate command.
You could then map the current keyboard shortcut for the `Go to Definition` command to this new command.

But

[2017-09-05 05:48] ramya-rao-a commented on #1186
<img width="474" alt="screen shot 2017-09-04 at 10 37 39 pm" src="https://user-images.githubusercontent.com/16890566/30046942-2d912650-91c3-11e7-8efb-35bda50f1441.png">

[2017-09-05 07:02] hero0926 opened #1192 "dlv not work on MacOS"
My MacOs still occurs Failed to continue, "Error : spawn users/ksh/go/bin/dlv ENOENT".
My launch.json looks like

[code]
from  #466 and #332.... They suggested not to use ${}, So I used absolute path but it also won't worked.
Maybe because of brew install problem? Anybody help?

[2017-09-05 07:06] DogFather opened #1193 "Automatic reformatting of source code makes editing very difficult"
Whenever I am editing a .go file in VS Code (go v1.9, latest version vscode-go, delve debugger) the document is continuously reformatted whilst typing. The cursor often moves to new location causing input to be entered in the wrong place. Also parts of the text are automatically selected causing the next bit of typing to overwrite the selection.

**Example:**
I want to enter, say, fmt.Println("Hel

[2017-09-05 12:22] peteryates commented on #1134
Thank you, this worked as you suggested it might.

[code]

I appeared to only be able to make it work by adding the above section to my 'User Settings' file, so this will apply to *all* of my Go projects. Can I not specify this option somehow in `launch.json`?

But, it's working for the moment, thank you for your help @ramya-rao-a

[2017-09-05 14:54] roblourens commented on #1186
![image](https://user-images.githubusercontent.com/323878/30067363-6f0cbaa8-920f-11e7-8bdc-0157c43a8ae5.png)

[2017-09-05 15:43] cdhunt commented on #1177
@ramya-rao-a I see vscode installed delve `Installing github.com/derekparker/delve/cmd/dlv SUCCEEDED` but I can't find an executable and `dlv debug` fails.

My GOPATH and GOROOT are actually different, I just anonymized them for the issue.

`build` is indeed the command argument for the program I'm attempting to debug.

[2017-09-05 19:39] ramya-rao-a commented on #771
This feature is now out in the latest update to the Go extension 0.6.64.

Thanks everyone!

[2017-09-05 19:41] ramya-rao-a commented on #1120
This fix is now out in the latest update to the Go extension 0.6.64

[2017-09-05 19:41] ramya-rao-a commented on #1122
The fix for this is now out in the latest update to the Go extension 0.6.64

[2017-09-05 19:42] ramya-rao-a commented on #840
The GOPATH issue is solved by the debugger figuring out the GOPATH from the path provided in the `program` attribute of the debug configuration. This feature is now out in the latest update to the Go extension 0.6.64

Closing this issue

[2017-09-05 19:42] #840 closed

[2017-09-05 19:43] ramya-rao-a commented on #1117
This feature is now out in the latest update to the Go extension 0.6.64

The debug code lens will now honor the `go.buildFlags`, `go.buildTags` and `go.testFlags` settings.

[2017-09-05 19:43] ramya-rao-a commented on #1178
This fix is now out in the latest update to the Go extension 0.6.64

[2017-09-05 19:44] ramya-rao-a commented on #1138
The fix for this is now out in the latest update to the Go extension 0.6.64

[2017-09-05 19:44] ramya-rao-a commented on #1096
The fix for this is now out in the latest update to the Go extension 0.6.64

[2017-09-05 19:44] ramya-rao-a commented on #899
The fix for this is now out in the latest update to the Go extension 0.6.64

[2017-09-05 19:46] ramya-rao-a commented on #1193
You seem to have Auto Save enabled.
Format on Save is enabled by default.

This is a duplicate of #899 and is fixed in the latest update to the Go extension (0.6.64) that I released a few minutes ago.

Can you reload your VS Code window and the extension will get updated (unless you have configured it otherwise) and try again?

[2017-09-05 19:46] #1193 closed

[2017-09-05 19:47] ramya-rao-a commented on #1110
`gometalinter` will now be installed in the `go.toolsGopath` in the latest update (0.6.64)

[2017-09-05 19:49] ramya-rao-a commented on #1119
@atomi You need to set `"go.gotoSymbol.ignoreFolders": ["vendor"]` to exclude vendor folder from the symbol search

[2017-09-05 19:50] ramya-rao-a commented on #1119
The fix for linting picking up vendor folder is now out in the latest update to the Go extension (0.6.64)

[2017-09-05 19:50] ramya-rao-a commented on #1121
The fix for vet picking up vendor folder is now out in the latest update to the Go extension (0.6.64)

[2017-09-05 19:57] ramya-rao-a commented on #1190
@yhuang0 Have you tried setting the folder with sub libraries as read-only? VS Code will then honor that setting when opening the files.

[2017-09-05 21:55] ramya-rao-a commented on #1192
Your GOPATH is `users/ksh/go`, and as per the error message, that is where dlv is being run from
You said you installed using brew, but brew wouldnt install delve in your GOPATH

Run `which dlv` in your terminal outside VS Code. Does the output match with "users/ksh/go/bin" ?

Most probably you have 2 dlvs
One in your GOPATH/bin
The other in your PATH

If so delete the one in the GOPATH and try ag

[2017-09-05 22:53] willseward commented on #941
https://github.com/Microsoft/vscode-go/issues/941#issuecomment-299591809 is the work-around.

The repro in the github repo still works. The next-to-latest commit is the one with the failure.

[2017-09-05 23:26] ramya-rao-a commented on #1177
You mean the `dlv` executable? That would be in %GOPATH%/bin

You mean when you run from the command line? What is the error?

I tried debugging https://github.com/hashicorp/packer as well and I get the same error. It is coming from https://github.com/hashicorp/packer/blob/v1.0.4/main.go#L91

I get the same error when running delve from the command line as well.

This is not an issue with the Go e

[2017-09-05 23:26] #1177 closed

[2017-09-05 23:27] #1192 closed

[2017-09-05 23:29] ramya-rao-a commented on #1134
@peteryates Set it in your Workspace settings file instead of the User Settings file. This way it will apply only to the current project

[2017-09-05 23:52] hero0926 commented on #1192
@ramya-rao-a outside of vs code, iterm couldn't find dlv command... i think brew confused with my path. should reset things... and i found 3 more dlvs in every path. thanks for your help

[2017-09-06 00:13] ramya-rao-a commented on #1192
No problem, Happy Coding!

[2017-09-06 00:33] ramya-rao-a commented on #941
@willseward

I am having trouble with the set up.

In the latest update to the Go extension, the error`Error on CreateBreakpoint` is accompanied by the error string from delve. Can you try again and share the logs?

If you are up for it, can you try and debug the issue by running the Go extension from source?
- git clone https://github.com/Microsoft/vscode-go
- cd vscode-go
- npm install
- Then fo

[2017-09-06 00:56] ramya-rao-a opened #1194 "Not able to debug/launch Go programs"
_From @karamana on September 6, 2017 0:51_

go: GOPATH entry is relative; must be absolute path: "undefined".
For more details see: 'go help gopath'
exit status 2
Process exiting with code: 1

GOPATH is set in the environment correctly. This has worked for the past 2 months so something has changed today (Spet/5/2017) with an extension possibly.

- VSCode Version: Code 1.15.1 (41abd21afdf7424c8931

[2017-09-06 00:59] karamana commented on #840
It looks like GOPATH is broken with the latest release (0.6.64). I get the following error message.

go: GOPATH entry is relative; must be absolute path: "undefined".
For more details see: 'go help gopath'
exit status 2
Process exiting with code: 1

Is there a way to use the earlier version of this plugin (0.6.63)?

[2017-09-06 01:00] ramya-rao-a commented on #1194
We did update the way GOPATH was used in the debugger.

In your debug configuration in `launch.json` file, can you check if the `program` attribute is under your GOPATH/src ?

[2017-09-06 01:08] Nais777 opened #1195 "None of the go editor features are working"
Yesterday when working on a project import statements would give suggestions or automatically populate, a slew of tools would run on save, syntax highlighting would occur, links would appear to run tests directly in test files, etc. Today, none of this is happening. I have restarted vscode, disabled and re-enabled the extension, and rebooted my computer. It seems to coincide with your latest relea

[2017-09-06 01:14] karamana commented on #1194
It is one level below src, **$GOPATH/src/mymain**. Where mymain contains the main go program. This is used to work before the extension update. Is there a way to install the previous version of this extension so this issue can be isolated to this extension update.

I also tried setting the GOPATH in the env map in launch.json but it results in the same thing.

[2017-09-06 01:26] ramya-rao-a commented on #1194
This is the previous release: https://github.com/Microsoft/vscode-go/releases/tag/0.6.63
Scroll down until you see the link "Go-0.6.63.vsix"
Download that file and run `code --install-extension Go-0.6.63.vsix` from the location where you downloaded that file.

I can reproduce your error by having my package directly under the $GOPATH without the `src` folder. But you say that your package is under

[2017-09-06 01:29] Nais777 commented on #1194
@karamana I had issues with the new release so I uninstalled the extension and installed version 0.6.63 from a vsix file after disabling extension auto updating and everything is working again.

[2017-09-06 01:29] ramya-rao-a commented on #1195
@Nais777 Can you run the command `Go: Current GOPATH` and see if the output matches your GOPATH?
Also please share your Go related settings

The latest update was out around noon PST. So that can explain why everything was fine this morning for you.

[2017-09-06 01:35] ramya-rao-a commented on #840
For anyone else landing here, @karamana and I are tracking the broken GOPATH issue in https://github.com/Microsoft/vscode-go/issues/1194

[2017-09-06 01:35] Nais777 commented on #1195
It is my current GOPATH: /Users/CLHQ3496JacobLambert/Code/go

go version go1.9 darwin/amd64

What other Go related settings to you need? I haven't set any in vscode, I have just installed the extension.

[2017-09-06 01:35] ramya-rao-a commented on #1194
@karamana Is debugging the only feature broken for you or like @Nais777 all the features are broken?

[2017-09-06 01:40] Nais777 commented on #1195
It seems that the issue was with the package auto updating. After dropping the version to 0.0.63, then manually updating to 0.6.64 to get you the output of `Go: Current GOPATH`, everything is working again on the newer version.

[2017-09-06 01:48] ramya-rao-a commented on #1195
That is super weird. I'll keep an eye out for anybody else facing similar issues.

Thanks for getting back on this and Happy Coding!

[2017-09-06 01:48] #1195 closed

[2017-09-06 02:34] karamana commented on #1194
Yes I can confirm that the issue does not happen in release 0.6.63 and
happens in 0.6.64

On Tue, Sep 5, 2017 at 6:36 PM, Ramya Rao <notifications@github.com> wrote:

--
Vijay

[2017-09-06 02:36] ansencumt opened #1196 "Can`t debug a Go program with mutil GOPATH which is set in configurations.env"
It works fine for the past 2 weeks. But today I update the go extensions to 0.6.64, it can`t run any more.
The launch.json:
![image](https://user-images.githubusercontent.com/5181385/30091919-b77ee9f2-92ee-11e7-81d2-7fd3fdaaca5a.png)

Then the error:
![image](https://user-images.githubusercontent.com/5181385/30091965-cbdd2058-92ee-11e7-8c03-768566e40387.png)

In fact, I have the package "bitbucket

[2017-09-06 03:34] sgyang commented on #1186
So do I. (code 1.15.1, vscode-go 0.6.64)
It may be related to #1152. I set "go.autocompleteUnimportedPackages" to true but it didn't work.
![go_fmt](https://user-images.githubusercontent.com/1253518/30093220-81311c5a-92f6-11e7-8e5d-a913c1842df5.png)
![go_log](https://user-images.githubusercontent.com/1253518/30093228-87109826-92f6-11e7-9dfb-415b29fe3334.png)

[2017-09-06 04:05] sgyang commented on #1186
OK I found version 0.6.62 worked properly. 0.6.63 and 0.6.64 didn't work.

FYI: I did:

- Remove current vscode-go
- Disable auto-update feature of extensions (`"extensions.autoUpdate": false`)
- Download previous version from https://lukehoban.gallery.vsassets.io/_apis/public/gallery/publisher/lukehoban/extension/go/0.6.62/assetbyname/Microsoft.VisualStudio.Services.VSIXPackage
- Rename it to go-

[2017-09-06 04:14] ramya-rao-a commented on #1194
@karamana Are the other features of the extension like auto-complete, go to definition etc working as expected?

I have a fix in for GOPATH issue with the debugger. Can you try it out?

You will need to download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix and then run `code --install-extension Go-latest.vsix` from the location where you downloaded that file.

[2017-09-06 04:15] ramya-rao-a commented on #1186
@sgyang Do you also the issue only for the `log` pkg? And `fmt` works?

[2017-09-06 04:20] ihoukai commented on #1194
Thank you. This question has been bothering me for a long time. I have solved the problem after installing go-latest.vsix

[2017-09-06 04:22] karamana commented on #1194
Yes other features like auto-complete, go to definition etc are working.

Your latest changes seem to work. I also tried adding breakpoint, which
worked too.

On Tue, Sep 5, 2017 at 9:14 PM, Ramya Rao <notifications@github.com> wrote:

--
Vijay

[2017-09-06 04:24] karamana commented on #1194
Thanks for quickly resolving this.

On Tue, Sep 5, 2017 at 9:22 PM, Vijay Kumar <kumar.vijay@gmail.com> wrote:

--
Vijay

[2017-09-06 04:32] sgyang commented on #1186
@ramya-rao-a The issue is related to all unimported packages. This `log` and `fmt` thing is just an example.
Before importing `log`, hitting `log` does not show suggestions, but after importing `log`, hitting `log` fires auto-completion. Previously, auto-completion works properly without importing packages (and I love this feature).
And it is not only about these built-in packages. For example, hi

[2017-09-06 04:59] ramya-rao-a commented on #1186
@sgyang The reason I asked about log vs fmt was because that is what @roblourens originally reported in this issue. That when testing completion for unimported packages, things worked for fmt but not for log.

Can you follow the instructions on https://github.com/Microsoft/vscode-go/issues/1152#issuecomment-324838203 and share your results in that issue?

[2017-09-06 05:07] yhuang0 commented on #1190
Yes that works but it's not a good solution.

[2017-09-06 05:31] sgyang commented on #1152
@ramya-rao-a The second breakpoint was not getting hit (which means `go list all` got stuck?).

[2017-09-06 06:05] ramya-rao-a commented on #1190
why not?

[2017-09-06 06:11] ramya-rao-a commented on #1194
That's good to hear @karamana
If you don't mind can you check a few things for me?
- Set `trace` to `"verbose"` in your debug configuration
- Start debugging, you will see verbose logging in the debug console
- There will be a line `Using GOPATH:`

Is the value there a prefix for the value in the `program` attribute in the debug configuration?
Is the value there + `/src` a prefix for the value in

[2017-09-06 06:17] ramya-rao-a commented on #1152
yup, that's the problem. Now try this:

Add the below right after cmd.on('close'), add breakpoint on the line which has the console.log()  and see if this breakpoint for gets hit. If it does, share the `err`

[code]

Looks like `go list all` is failing, I'd like to know why.

The auto-completion of unimported packages depends on `go list all` completing successfully.

I'll work on adding a fallbac

[2017-09-06 06:42] sgyang commented on #1152
@ramya-rao-a There is no output.
When debugging I checked running processes and found `go list -f '{{.Name}};{{.ImportPath}}' all` is running forever.
When I directly typed `go list -f '{{.Name}};{{.ImportPath}}' all` on my terminal, it took 10s to get the output but it did not get stuck.
I found my `go list all` emitted tons of `can't load package` warning messages on stderr as well as @szyhf (I

[2017-09-06 06:51] willfaught opened #1198 "Moving line down breaks "else" block indentation"
Start with:

[code]

and put your cursor on the w declaration.

Now move the current line down, below the if/else block. It will now look like this:

[code]

[2017-09-06 07:08] szyhf commented on #1152
@sgyang Really? Thanks, I just got the debug environment done and receive your issue !

[2017-09-06 07:17] andreis commented on #1122
@ramya-rao-a just taking the chance to say you're doing an amazing job, I see you everywhere! 😄

[2017-09-06 15:06] ramya-rao-a commented on #1122
:) thanks @andreis!

[2017-09-06 16:20] #1152 closed

[2017-09-06 16:23] ramya-rao-a commented on #1152
This is so cool! I'd have never caught this issue as I do only simple Go programs :(

@sgyang @szyhf Would you be interested in joining a group I recently created to beta test the Go extension updates before they get released?
This way features/bug fixes get more eyes on machines of real world Gophers and can catch issues like this ahead of time.
And by beta test I mean checking out the new featur

[2017-09-06 16:34] ramya-rao-a commented on #1196
In this case what is your `${workspaceRoot}` ?

[2017-09-06 16:39] ansencumt commented on #1196
Yes, that`s right.
but even if I replace ${workspaceRoot} to e:\Work\yunkai\robot, it also can`t debug.

[2017-09-06 16:46] ramya-rao-a commented on #1196
I have a fix in master, can you try it out?

You will need to download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix and then run `code --install-extension Go-latest.vsix` from the location where you downloaded that file.
Then reload VS Code window

[2017-09-06 17:03] szyhf commented on #1152
@ramya-rao-a Yes, I'd love to, my pleasure ~

[2017-09-06 17:46] caustav commented on #1194
Thanks Ramya, your fix has saved a whole lot of time.

[2017-09-06 17:53] karamana commented on #1194
The value of GOPATH is a prefix of the "program" attribute.
The value of GOPATH + "/src" is a prefix of the "program" attribute.

The "program" attribute is set to "${workspaceRoot}/src/mymain"

GOPATH is set to the actual value of $workspaceRoot

When do you plan to officially release the fix (with a new version number)?

On Tue, Sep 5, 2017 at 11:11 PM, Ramya Rao <notifications@github.com> wrote

[2017-09-06 18:28] ramya-rao-a commented on #1152
Awesome! Just join the Google group here: https://groups.google.com/forum/#!forum/go-with-vs-code-beta-testers

I basically just post an announcement there whenever the next update is ready for beta testing.
Once I do that, all you have to do is
- download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- run `code --install-extension Go-latest.vsix` from the location where you d

[2017-09-06 18:30] ramya-rao-a commented on #1194
Thanks @karamana, I'll release it by end of day today.

[2017-09-06 18:30] #1194 closed

[2017-09-06 18:32] ramya-rao-a commented on #1196
@ansencumt Does the fix in https://github.com/Microsoft/vscode-go/issues/1196#issuecomment-327544415 work for you?

[2017-09-06 19:20] peteryates commented on #1134
Ah, excellent, thank you very much!

[2017-09-06 20:34] ramya-rao-a commented on #1134
No problem, Happy Coding!

[2017-09-06 22:05] ramya-rao-a commented on #1152
The fix for this issue has been released with the latest update to the Go extension (0.6.65)

Thanks @szyhf and @sgyang

[2017-09-06 22:05] ramya-rao-a commented on #1194
The fix for this issue has been released with the latest update to the Go extension (0.6.65)

[2017-09-06 22:05] ramya-rao-a commented on #1196
The fix for this issue has been released with the latest update to the Go extension (0.6.65)

[2017-09-06 22:05] #1196 closed

[2017-09-06 23:02] dannolan opened #1199 ""Run VS Code with admin privileges so the changes can be applied""
I'm on macOS Sierra 10.12.6, have just installed the latest update to the Go plugin and now see this every time I save (and go imports and govet run) in VS Code. Any idea what I can do to fix it as it's... extraordinarily frustrating and cluttering. I've confirmed it's the go plugin as I uninstalled it and the error went away, then reinstalled it.

[2017-09-06 23:08] ramya-rao-a commented on #1199
What is it that you are seeing?

[2017-09-06 23:10] ramya-rao-a commented on #1145
@luis I believe the latest version of the Go extension (0.6.64) has the fix for your issue

Since I havent heard back from you in a while, I am assuming that the fix works.
If it doesnt, please re-open this issue

[2017-09-06 23:10] #1145 closed

[2017-09-06 23:11] ramya-rao-a commented on #1036
I believe the latest version of the Go extension (0.6.64) has the fix for this issue

Since I havent heard back from anyone here in a while, I am assuming that the fix works.
If it doesnt, please re-open this issue

[2017-09-06 23:11] #1036 closed

[2017-09-07 01:57] ansencumt commented on #1196
The Go extension(0.6.65) work fine. Thx

[2017-09-07 16:58] philipithomas opened #1200 "Show "Problem" when analysis tools fail, e.g. due to syntax errors"
I just spent a long time trying to figure out why my code wasn't auto-formatting or linting. When I opened the developer tools, I found that the gofmt and golint were failing due to syntax errors.

I expected to see these warnings under the "Problems" field. However, no problems were reported.

Can lint/formatting errors be reported as problems?

[2017-09-07 20:58] JeanMertz opened #1201 "Error when trying auto-complete on package"
Somehow, auto-complete doesn't work for one of the imported packages in the latest version of vscode-go.

Using the developer tools, I did find this error:

[code]

The package not being auto-completed is `github.com/olivere/elastic`

[2017-09-08 00:53] ironcladlou commented on #1188
I'm interested in a generalization of this concept for remotely editing code in a VM or container.

A possible way forward here might be additional language server client configuration options. The language server could be anywhere (e.g. the host, a VM, a container), colocated with the source, and the plugin could easily support that use case.

However, to actually be useful I suspect we'll need a

[2017-09-08 01:45] szyhf opened #1202 "Go: Add Import can't search package contains "_" like "mission_service" properly"
Hey, I may find a bug ~

While using "Go: Add Import" to search packages.

For example:

I has a package path like `member/hello-service`, I can type "ms" as "m" at "member" and "s" at "server" to find package properly.

But if I has a package path like `member/hello_service`, I can use "mb" in "member" to find, but I can not use "ms" to find "member/hello_service", looks like the char '_' will in

[2017-09-08 06:20] JeanMertz commented on #1201
I'm not sure what solved this, but I geïnstalled the package several times, removed all vendored packages, restarted vscode, used `gocode close` and eventually it started working again.

I'll close this, as I'm not sure if vscode-go was the cause.

[2017-09-08 06:20] #1201 closed

[2017-09-08 09:53] friends110110 opened #1203 "visual studio code debug code does not match gopath using golang"
visual studio code using golang  debugger does not match the gopath path code ?

I construct up golang environment using visual studio code IDE **MAC OS**, then install the necessary tools:

    go get -v -u github.com/peterh/liner github.com/derekparker/delve/cmd/dlv
    go get -u -v github.com/nsf/gocode
    go get -u -v github.com/rogpeppe/godef
    go get -u -v github.com/golang/lint/golint

[2017-09-08 20:43] josh-tepper opened #1204 "go-to-definition doesnt work in diff editor for staged files"
See: https://github.com/Microsoft/vscode/issues/34034

It used to be the case that I could go to definitions directly from the right hand pane of the diff editor (ie, from the pane that represents the current version of the file). This is no longer the case, and it makes looking at diffs more challenging.  This seemed to change sometime between 2-3 months ago.

[2017-09-08 21:54] thanhps42 commented on #1166
Me too

[2017-09-08 22:22] ahmetb opened #1205 "Do not create "type args struct" for autogenerated tests if function is a single-argument one"
e.g.

[code]

In the code above, instead of generating `type args struct { ...}`, it's sufficient to just specify args field in anonymous struct as `*corev1.Pod` and not generate an additional type. This should help create simpler and more readable tests.

[2017-09-09 02:56] friends110110 opened #1206 "Why it can not show the val when debug galang?"
Why it can not show the val when debug galang?

[2017-09-10 05:53] ramya-rao-a commented on #1200
If there were syntax errors build should have caught them. Have you turned off `go.buildOnSave` setting?

[2017-09-10 06:02] ramya-rao-a commented on #1202
This is due to the filtering behavior of the quick pick control in general

[2017-09-10 06:06] ramya-rao-a commented on #1202
Logged upstream issue: https://github.com/Microsoft/vscode/issues/34088

[2017-09-10 06:06] #1202 closed

[2017-09-10 06:16] ramya-rao-a commented on #1203
- In the VS Code terminal, run `echo $GOPATH`. Is the output the same as your expected GOPATH?
- The debugger cannot read VS Code settings. So you need to set the right GOPATH as an environment variable outside VS Code or you can pass the same in the debug configuration in the launch.json file

See [Debugging-Go-code-using-VS-Code](https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-usin

[2017-09-10 06:21] ramya-rao-a commented on #1204
Weird.. it works for me
And I tried all 3 implementations for going to definition
- default
- gogetdoc
- language server

Any errors in the dev console?

[2017-09-10 06:23] ramya-rao-a commented on #1205
We use https://github.com/cweill/gotests to generate these tests.
Please log an issue in the repo for gotests

[2017-09-10 06:23] #1205 closed

[2017-09-10 06:24] ramya-rao-a commented on #1206
@friends110110 You need to provide more information that just a question :)

Please provide sample code with repro steps and screenshots

[2017-09-10 20:37] rpeshkov opened #1207 "Cannot read property 'GOPATH' of undefined"
After upgrade to vscode 1.16 default launch.json configuration doesn't work properly.

I had this in launch.json:

    {
        "version": "0.2.0",
        "configurations": [
            {
                "name": "Launch app",
                "type": "go",
                "request": "launch",
                "mode": "debug",
                "program": "${workspaceRoot}"
            }
        ]

[2017-09-10 20:58] ramya-rao-a commented on #1207
@rpeshkov What version of the Go extension are you using? Can you ensure it is the latest i.e 0.6.65 ?

[2017-09-10 21:01] rpeshkov commented on #1207
@ramya-rao-a Yes, I have the latest version: 0.6.65

[2017-09-10 21:22] ijlopez02 commented on #1207
I'm having the same issue.

[2017-09-11 00:48] #1207 closed

[2017-09-11 00:49] ramya-rao-a commented on #1207
Ah! looks like an undefined `env` is causing this.
I have pushed a fix in which will be out in the next update which will be some time at the end of next week.

Until then the workaround is to set `env` to `{}` in the debug configuration

[2017-09-11 08:09] cheptsov commented on #1163
@ramya-rao-a I removed "api-version=2" and it just works. Thank you very much!

[2017-09-11 08:09] #1163 closed

[2017-09-11 12:40] paulviks commented on #1206
@ramya-rao-a Hello,
It is probably about show in the editor the value of a variable in a given line when we debug source code.
Preview screen:
![proposal](https://user-images.githubusercontent.com/12736118/30274760-2193c218-96ff-11e7-8f92-33edaf660443.png)

[2017-09-11 13:36] zeallag commented on #1166
me to

[2017-09-11 15:29] josh-tepper commented on #1204
unfortunately, nothing in the dev console.  I'll turn on tracing for the lang server to see how it's being invoked.  Will try to update later today

[2017-09-12 08:13] sepisoad commented on #1207
`Until then the workaround is to set env to {} in the debug configuration`
I just got a little bit confused, can you explain more?

[2017-09-12 09:38] wusendong commented on #1207
@sepisoad

it work for me by add "env": {}
[code]

[2017-09-12 10:07] sepisoad commented on #1207
thanks @wusendong

[2017-09-12 14:38] ramya-rao-a commented on #1142
Pending items
- Merge to master
- Another round of testing

[2017-09-12 19:25] ramya-rao-a commented on #1206
@paulviks you are referring to inline values.

@friends110110 Is that what you meant?

[2017-09-12 20:57] KyleMoser opened #1210 "Find all references only lists results in the current file"
Windows 10
VSCODE 1.16.0
Go 1.9
GOPATH is d:\users\me\documents\vscode\projects
GOROOT is c:\Go
Project is in d:\users\me\documents\vscode\projects\src\root\portal

Right clicking a struct and clicking "Find all references" only shows references in the same file.
Right clicking a function and clicking "Find all references" only shows reference in the same file.
Looks like ctrl+clicking a function

[2017-09-12 21:21] josh-tepper commented on #1204
This seems to affect files in the git index (ie, staged files), but not changes that are just in the working tree. Do you observe the issue with files in the index?

It seems like it's probably a vscode issue because it also affects the java plugin.

[2017-09-12 21:29] ramya-rao-a commented on #1204
That's right..

In the diff for working files, when you right click, you get the below commands in the context menu
![image](https://user-images.githubusercontent.com/16890566/30349144-c74b84a8-97c6-11e7-96e4-1518aef68c82.png)

In the diff for staged files, you get only the `Copy` command

[2017-09-12 21:31] ramya-rao-a commented on #1204
Closing this one and re-opening the upstream issue https://github.com/Microsoft/vscode/issues/34034

[2017-09-13 06:09] ramya-rao-a commented on #1210
Are you using the language server?
If not then `guru` is the tool being used to find the references.
Can you use `guru referrers` command from the command line and see if you are able to get references from other file as well?

[2017-09-13 10:29] ijlopez02 commented on #1117
I'm using the extension 0.6.65 and I'm still having problems. Specifically, I need to use the "fts5" module of SQLite. To this end, in the workspace settings file, I'm including "`go.testFlags`" as follows:

    "go.testFlags": ["-tags", "fts5"]

I'm also including the line:

    "go.buildTags": "fts5"

However, when I run tests using **codelens** the "fts5" module fails to load.

[2017-09-13 14:51] dastergon opened #1211 "Add support for The Go Playground"
Hi,

It would be really handy to either share code in [The Go Playground](https://play.golang.org/) or compile and run code within it, through VS Code. There is already an implemented [tool](https://github.com/haya14busa/goplay) that interacts with the playground, so, that tool could be easily integrated with this extension, or some of its functionalities could be implemented within the extension

[2017-09-13 18:11] ramya-rao-a commented on #1117
@ijlopez02 Do you need to use the `fts5` tag only when testing? Then use
`"go.testFlags": ["-tags fts5"]`

Do you need to use it both for testing and normal building, then don't include it in test flags, just use
`"go.buildTags": "fts5"`

[2017-09-13 18:18] jamietre commented on #1134
@ramya-rao-a it looks like variables like `${workspaceRoot}` are not honored in `go.TestEnvVars`, which I need to set some environment variables relative to project root. Any chance this could be added?

[2017-09-13 19:51] AlekSi commented on #1207
Thank you so much!

[2017-09-13 22:17] ijlopez02 commented on #1117
Sorry, running tests using codelens works. What is still failing me is debugging through codelens.

[2017-09-13 22:51] ramya-rao-a commented on #1117
So are you using `go.testFlags` or `go.buildTags` ?

[2017-09-13 22:58] ramya-rao-a commented on #736
Fixed with https://github.com/Microsoft/vscode-go/commit/dd927509a3db3833dc02103e1cf6290074f56a4b

[2017-09-13 22:58] #736 closed

[2017-09-13 22:59] ramya-rao-a commented on #1134
@jamietre That's covered in https://github.com/Microsoft/vscode-go/issues/736 for which I just pushed a fix. You can find the feature in the next update

[2017-09-13 23:08] jamietre commented on #1134
Awesome, thanks! Sorry I missed the more closely related issue in my search.

[2017-09-14 01:17] dannolan commented on #1199
@ramya-rao-a Hey sorry, I see a banner at the top of VSCode that said "Run VS Code with admin privileges so the changes can be applied", but I restarted my computer and it's gone so I assume it's my fault. THANK YOU SO MUCH FOR YOUR AMAZING WORK ON THIS PLUGIN I LOVE VSCODE AND GO! Also your fantastic GoTime interview was amazing! You rule!

[2017-09-14 01:17] #1199 closed

[2017-09-14 01:59] DeadGame commented on #219
I have encountered this problem, when you can solve?

[2017-09-14 02:01] DeadGame commented on #219
I have encountered this problem, when you can solve?@ramya-rao-a

[2017-09-14 05:46] ramya-rao-a commented on #219
@DeadGame I am not working on this yet, you are welcome to give it a try

[2017-09-14 05:48] ramya-rao-a commented on #1199
Thanks for your kind words @dannolan :) and Happy Coding!

[2017-09-14 07:11] DeadGame commented on #219
@ramya-rao-a thanks

[2017-09-14 07:16] DeadGame commented on #219
@derekparker @roblourens What is the problem?Do you have a solution now?

[2017-09-14 08:00] weinand commented on #219
@derekparker try to debug a Go program that reads from stdin with delve from the command line (not VS Code). If this works, it should be possible to fix the VS Code problem. If not, then I don't think that the problem can be fixed in VS Code.

[2017-09-14 09:36] highskillzz commented on #276
i turned the useCodeSnippetsOnFunctionSuggest on but no brackets completion happens is there something else that I should be doing

[2017-09-14 09:46] highskillzz commented on #1022
for some reason for me even though it shows the it is a function when enter or tab is pressed not even brackets are placed and I HAVE TURNED THE go.useCodeSnippetsOnFunctionSuggest to true. Am I missing something??

[2017-09-14 10:04] ijlopez02 commented on #1117
I'm using `"go.buildTags"`. I've defined the option within both the user-serttings and the workspace-settings files (just to be sure). I've also tried other options and combinations, but debugging using codelens seems to be ignoring them:

     no such module: fts5

Running tests using codelens is generating the correct command, though.

     go test -timeout 30s -tags fts5 -run ^Test...$

[2017-09-14 13:01] KyleMoser commented on #1210
@ramya-rao-a I was trying to do that before, but I couldn't figure out the offset. Let's say I know the name of a struct in a particular file, how do I find out it's offset to use it in the guru command?

[2017-09-14 13:34] otto-md opened #1212 "Set cwd for formatting tools"
Im using goimports as a formatting tool and have code that is vendored. So if I remove the validation line below and run formatting I will not get the validation imports line back.

[code]

To solve this you need to send the current working directory `cwd` to [execFile()](https://nodejs.org/api/child_process.html#child_process_child_process_execfile_file_args_options_callback) called [here](https:

[2017-09-14 21:12] skovtunenko commented on #1207
Thank you, temp fix works fine!

[2017-09-14 22:50] skybrian opened #1213 "can inferGopath look for "src" in the current directory?"
When `go.inferGopath` is on, the current behavior is that if you run:

    % code src

Then the GOPATH is inferred. However, if you run:

    % code .

Then it isn't. If `src` is not found in any parent directory, then it would be nice if it also checked if there is a child folder named `src` as well. This would allow the same workspace to be used to edit sibling directories of `src`.

(In my part

[2017-09-15 02:37] ramya-rao-a commented on #1210
For finding offset, I have this extension: https://marketplace.visualstudio.com/items?itemName=ramyaraoa.show-offset

It will show the offset for current position in the status bar.

Yes, this is a guru issue.
Sorry couldnt help you much here

[2017-09-15 02:37] #1210 closed

[2017-09-15 02:38] ramya-rao-a commented on #1022
@highskillzz Can you include a gif/video/screenshot of the issue?

[2017-09-15 03:33] MintyOwl opened #1214 "Vscode adds extra 'import' identifier"
Everytime a new package is added, vscode also adds an extra 'import' alongside.

See 'bufio' example

![vscode-bad-import](https://user-images.githubusercontent.com/7389244/30465325-18aafae8-99f4-11e7-8b18-76dbc58c15a3.jpg)

Doesnt matter whether its goreturns or goimports

Platform: Windows 10
Vscode Release version: 1.16.1

[2017-09-15 06:28] highskillzz commented on #1022
![issue-2](https://user-images.githubusercontent.com/20688709/30469285-14cf98b6-9a0d-11e7-9994-bdc3553d8ed2.PNG)
![issue1](https://user-images.githubusercontent.com/20688709/30469287-19691afa-9a0d-11e7-932a-870f1905fd69.PNG)

[2017-09-15 06:29] highskillzz commented on #1022
![issue1](https://user-images.githubusercontent.com/20688709/30469318-3c922774-9a0d-11e7-83b7-3f4756a9b947.PNG)
![issue-2](https://user-images.githubusercontent.com/20688709/30469320-3e7b4ce6-9a0d-11e7-95fd-4c37251716e9.PNG)

[2017-09-15 06:30] highskillzz commented on #1022
brackets are not appearing when I press enter

[2017-09-15 07:08] dtknut commented on #1121
The fix in 0.6.64 does not solve the underlying problem that "go tool vet ." will pick up the vendor folder. This means vet takes 20 seconds on a project with only a single Go file (main.go). I think vet should not process the vendor folder at all. Ignoring the vendor folder in the results is not enough.

[2017-09-15 07:48] codingconcepts opened #1215 "High CPU during go vet"
Hi  team,

Not sure if this is related to #1035 but whenever I save and go vet kicks in, my CPU seems to indefinitely spin at ~45% CPU for each instance of vet.exe.  When I say each instance, there's a new instance of vet.exe spun up per save as well (until my PC grinds to a halt that is).

Any ideas on why this might be?  It doesn't seem to be affected by the source it's trying to process either,

[2017-09-15 11:26] alioygur opened #1216 "go to breakpoint"
is there any way to go to breakpoint shortcut like go to line or go to file?

[2017-09-15 16:44] ramya-rao-a commented on #1121
@dtknut I agree, I wish there was a smarter solution

Here is the catch

- `go tool vet` takes a rich set of flags, but only takes a directory or set of files as parameters
- `go vet` does not take any of the flags like `go tool vet`, but can take set of packages as parameters

We currently use `go tool vet` because we allow users to set the flags via `go.vetFlags`
But this puts a restriction that

[2017-09-15 18:26] ramya-rao-a commented on #1022
@highskillzz Silly question.... Is that Go?

[2017-09-15 18:30] highskillzz commented on #1022
Yes, and sorry if the question is irrelevant but regardless can anybody provide the solution

[2017-09-15 19:59] ramya-rao-a commented on #1022
@highskillzz In your example, `require` is not a function. If it is a function then the docs would say `func ...`, in your case it is a variable and so you see `var require: NodeRequire`.

[2017-09-15 20:07] highskillzz commented on #1022
then this..

![issue-1](https://user-images.githubusercontent.com/20688709/30501304-945d004c-9a7f-11e7-96a7-0f9fdd05ab8a.PNG)
![issue2](https://user-images.githubusercontent.com/20688709/30501305-945e128e-9a7f-11e7-8dd4-0a0435de503f.PNG)

[2017-09-15 21:01] Mistobaan commented on #259
This could be very useful if implemented properly. Many values of the method could be inferred from the code. Ideally I would like to have >GO: GEneratate interface for variable at mouse point -> AutoComplete available interfaces for the given package -> ENTER -> <autogen code>

[2017-09-15 21:49] juicemia commented on #1189
Isn't this already a built-in feature of dependency managers like Glide?

I'm willing to work on it, just want to know if it's something worth doing.

Maybe it would be useful to just download the dependencies to `$GOPATH/src`.

[2017-09-15 22:44] juicemia commented on #1189
Also, I imagine you have some idea of how this should be implemented?

[2017-09-15 23:42] ramya-rao-a commented on #1022
What does it show next to the suggestion in the docs? Does it indicate "func" like this:

<img width="488" alt="screen shot 2017-09-15 at 4 41 41 pm" src="https://user-images.githubusercontent.com/16890566/30506934-c9b228b2-9a34-11e7-8a82-6e1daf540091.png">

[2017-09-15 23:48] ramya-rao-a commented on #1189
I am not aware of Glide, but I believe we can have this feature regardless.

- You can have a command `Go: Get Package`. When this command is run if the line under the cursor is an import statement, we can spawn a process to run `go get -u` on it.
- Taking this a step further, we can have code actions. I refer to those light bulb like images that can appear on the import statement clicking on whic

[2017-09-15 23:51] ramya-rao-a commented on #1189
To begin with, you can take the implementation of the `Go: Browse Packages` https://github.com/Microsoft/vscode-go/blob/0.6.65/src/goBrowsePackage.ts as a reference

The logic to fetch the import path from the import statement is already present in that file.
You can re-use that

[2017-09-16 00:01] ramya-rao-a commented on #259
@Mistobaan So the advantage over the current method is that you will be able to choose the interface and not remember/type the name of the interface?

[2017-09-16 00:58] juicemia commented on #1189
Awesome! Thanks for all the info :)

[2017-09-16 14:50] xmattstrongx opened #1217 "Command D case sensitive option"
`Command D - Add Next Occurrence`

I have found this shortcut to be a nice substitute for a refactor command that you may find in other IDEs. Unfortunately there does not seem to be an option to do this in a case sensitive manner.

![image](https://user-images.githubusercontent.com/10662489/30513174-34b122aa-9ac4-11e7-8c38-8ea0cd06e3b5.png)

It would be nice if this option could either be configur

[2017-09-16 14:57] xmattstrongx commented on #1216
Hi @alioygur. I am not sure if this will help you or not but I have found this section of the debug tab to be useful. Perhaps you already know of it but if not then maybe this will help you out.

At he bottom of the debug tab there is a section titled `BREAKPOINTS`. It will list out all of your breakpoints in your code and you can click on each to go to them. I have also found the Deactivate Break

[2017-09-16 14:59] xmattstrongx commented on #1211
👍  agreed with @dastergon. This could def be useful.

[2017-09-16 15:05] alioygur commented on #1216
I already know this :) I am looking for a shortcut

16 Eyl 2017 Cmt, saat 17:57 tarihinde Matt Strong <notifications@github.com>
şunu yazdı:

[2017-09-16 16:01] highskillzz commented on #1022
It shows like this
![image](https://user-images.githubusercontent.com/20688709/30513760-67166824-9b26-11e7-94cd-96a6bb686e99.png)

[2017-09-16 18:25] ramya-rao-a commented on #1022
@highskillzz The code you are sharing is definitely not Go. Its typescript. Try setting `typescript.useCodeSnippetsOnMethodSuggest` to `true`

[2017-09-16 19:16] highskillzz commented on #1022
Yes its working now. Thank you and sorry for my misunderstanding

[2017-09-17 02:14] sharno commented on #287
Also "go run" is being ignored in this issue, it's so useful while developing scripts to test them on the fly. I'd appreciate adding it so much.

[2017-09-17 02:44] Mistobaan commented on #259
@ramya-rao-a yes. right now if you miss one character of the whole command the prompt resets and you have to type the whole thing again

[2017-09-17 12:55] koenbok commented on #276
It's actually `useCodeSnippetsOnMethodSuggest` now.

[2017-09-17 13:46] highskillzz commented on #276
Yes, I got it. Thank you for your help

[2017-09-17 15:02] radu-matei commented on #926
[I think the C++ tools for VS Code on Windows make use of WSL (I haven't used them, this is only based on their docs).](https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/Windows%20Subsystem%20for%20Linux.md)

It would be great to have the same for Go.

[2017-09-17 16:28] ramya-rao-a commented on #1212
Is the validation pkg in your case a vendor pkg?

[2017-09-17 17:10] wwkeyboard commented on #1195
I had a similar problem. After an update `goimport` and `golint` stopped running on save. After running `Go:Install/Update Tools` everything seems to be working again. IDK what the root cause was but this fix has me rolling again.

[2017-09-17 18:16] ottob commented on #1212
Yes it is.

[2017-09-17 18:26] xxxtonixxx commented on #1166
Me too 👍

[2017-09-17 19:21] ramya-rao-a commented on #1212
Ok, I'll try it get this in next week

[2017-09-17 19:22] ramya-rao-a commented on #1213
Sure, we can have that as a fallback.
Will try to get this in next week

[2017-09-17 19:24] ramya-rao-a commented on #1214
Can you share exact steps? Do you have `go.autocompleteUnimportedPackages` enabled?

[2017-09-17 19:29] ramya-rao-a commented on #1216
I am not aware of any such shortcuts.
Even if they were present, it would be a general VS Code feature than related to the Go extension.

For future reference, run the command `Preferences: Open Keyboard Shortcuts` to see all available shortcuts as well as commands to which you can add your own shortcuts

[2017-09-17 19:29] #1216 closed

[2017-09-17 19:29] ramya-rao-a commented on #1217
This issue was moved to Microsoft/vscode#34548

[2017-09-17 19:29] #1217 closed

[2017-09-17 19:33] ramya-rao-a commented on #1215
Well... I don't have a clue here especially because you also mention that you can repro this with a simple hello world program!

You have autosave enabled, so that would trigger vet for every save.
`go tool vet` is run to vet the code. I am not sure if `vet.exe` is run internally or you have some other extension installed. Do you have any other Go related extensions installed?

Until the problem i

[2017-09-17 20:11] xxxtonixxx commented on #1166
I have reached a workaround using the `exec` mode and launching a prebuild task.

Here is my launch.json
[code]

And here my tasks.json
[code]

These files are into my .vscode folder 👍

[2017-09-18 03:21] rajkrishnamurthy commented on #1194
Hi Ramya
VSCode 1.16.1. Arch: ia32
I updated to 0.6.65. Post update, I'm getting "go: GOPATH entry is relative; must be absolute path: "undefined"." error.  launch.json has the following entry: "program": "${fileDirname}". Please advise.

[2017-09-18 04:22] MintyOwl commented on #1214
Actually this was not  VSCode error, since this happened when I used an aliased import with same name as the package itself. Like so

[code]

If you import another package from here point on, using autocomplete features, then an extra 'import' is added. Ofcourse using same alias as package name is the problem. I donnot know/remember how that manifested as an oversight on my part.

[2017-09-18 04:22] #1214 closed

[2017-09-18 04:54] dtknut commented on #1121
@ramya-rao-a I am not sure there is a perfect solution.

Personally, I had vetOnSave set to ```package```, but was editing a main.go file in the root folder. For this case one could maybe run ```go tool vet main.go``` to avoid picking up the vendor folder. I am not sure if this would cause any other issues. It is not exactly doing what ```package``` implies.

[2017-09-18 08:05] jnscode opened #1223 "TypeError: Cannot read property 'currentGoroutine' of null on debug when input"
Vscode reported an error when I debug the code below and input some characters in the debug console then press enter
code:
var path string
fmt.Scanln(&path)

error message:
TypeError: Cannot read property 'currentGoroutine' of null
    at GoDebugSession.evaluateRequest (C:\Users\xx\.vscode\extensions\lukehoban.go-0.6.65\out\src\debugAdapter\goDebug.js:703:45)
    at GoDebugSession.DebugSession.dis

[2017-09-18 09:06] alexmironof commented on #464
And what about autoformat template files>

[2017-09-18 09:45] mitom opened #1224 "Debugging with parameters/flags doesn't properly pass on args."
To reproduce run the following code:
[code]
With the following `launch.json`:
[code]
Used different pattern (putting the parameter flag and value in 1 string and separate strings) to test if it affects it.

[code]
It seems to ignore everything with a `-` in front of it, short parameters (`-p foo`) will just cause it to hang. Tested that if I run the command it says it tries to run in a terminal my

[2017-09-18 17:23] ramya-rao-a commented on #1121
@dtknut When set to package, `go tool vet .` is run on the parent folder of the file being edited.

[2017-09-18 17:23] ramya-rao-a commented on #1214
No problem, Happy Coding!

[2017-09-18 17:25] ramya-rao-a commented on #1194
@rajkrishnamurthy Can you share the debug configuration from the launch.json file?
Have you set GOPATH as an environment variable?
What is the Go version?

[2017-09-18 23:52] #1142 closed

[2017-09-19 00:03] ramya-rao-a commented on #1224
Works as expected for me.. I tried on Mac and Windows.
What version of delve are you using?
Can you try running delve from the command line and see if it works as expected?

<img width="1097" alt="screen shot 2017-09-18 at 5 01 57 pm" src="https://user-images.githubusercontent.com/16890566/30570011-32894194-9c93-11e7-9281-5e7f693faca7.png">

[2017-09-19 00:37] skybrian opened #1225 "Can clicking "run tests" automatically save the file?"
If I edit a test and click "run test", there is a dialog:

    File has unsaved changes. Save and try again.

It seems like it would be better to automatically save the file?

[2017-09-19 00:38] skybrian commented on #1225
In case it matters, I have file.autoSave on. Here are my preferences:

[code]

[2017-09-19 03:51] friends110110 commented on #1206
I have fixed the problem. I  use `go build -i  -tags "nopkcs11" -o explorer main.go` instead of go build, then it woks, and could show the val.

[2017-09-19 08:40] #1206 closed

[2017-09-19 14:08] josh-tepper commented on #1204
@ramya-rao-a -- see the upstream issue.  It seems that the responsibility for handling index version is on the language plugins.  Not sure whether or not this is something that the go plugin would be interested in doing.

[2017-09-19 14:56] Erik-Blucher opened #1226 "Multiple GOPATH directories not working"
Due to how I have my git repositories set up my GOPATH contains two directories. One for my source code and another for development tools that I don't want to check into my repository.

Since VS Code 1.14 was released this is not working anymore. I get the following error in all files that have references to the development tools
[code]
My GOPATH is: `/home/erik/workgo:/home/erik/git/ES/ES`
Both g

[2017-09-19 18:05] rajkrishnamurthy commented on #1194
Hi Ramya
Sorry for the delay.
Once I set the GOLANG path, the problem went away., However, I never set the path variable prior to 0.6..65 upgrade.
Thanks very much.

Go version: 1.8.3
---launch.json---
{
    "version": "0.2.0",
    "configurations": [

        {
            "name": "Launch",
            "type": "go",
            "request": "launch",
            "mode": "debug",
            "remote

[2017-09-19 18:53] tylerb opened #1227 "Feature request: add fillstruct support"
Recently added to vim-go, this seems pretty awesome:

https://github.com/davidrjenni/reftools/tree/master/cmd/fillstruct

I will probably take a stab at adding it as a command myself, but wanted to note it here as an issue first.

[2017-09-19 20:20] vdemario opened #1228 "Same error reported multiple times"
I'm using vscode version 1.16.1 with the Go plugin on version 0.6.65. Recently (first time I noticed it was yesterday when I updated vscode but it might not be related) some build errors are reported multiple times.

@ramya-rao-a suspects it's related to `go.buildOnSave` being set as `workspace`. My workspace has a couple of packages that import a base package, if a build error happens on the base

[2017-09-19 21:26] MZhoume opened #1229 "Allow debugging of different files with main function from the same directory"
Thanks again for this amazing extension.

Regarding the debugging adapter, it would be nice to be able for us to debug a single `.go` file.

[code]

The `program` is only evaluated if the mode is set to `exec`, but not `debug`. However, `delve` supports debug specific file: `del debug single.go`.

Please let me know if that can be implemented. Thanks in advance!

[2017-09-19 21:54] ramya-rao-a commented on #1228
The different packages are compiled in parallel, so that output pane will continue to show the results as above.

What we can do is remove the duplicates from the final results here: https://github.com/Microsoft/vscode-go/blob/0.6.65/src/goCheck.ts#L294

This should be an easy fix if anyone wants to give it a try

[2017-09-19 22:26] #1204 closed

[2017-09-19 22:51] ramya-rao-a commented on #1204
Thanks for reporting this @josh-tepper and for your patience

As discussed in https://github.com/Microsoft/vscode/issues/34034, the right side view in the diff view when files are staged use what's in the index file version.

Files on disk use the scheme `file`.  The index ones use the `git` scheme.

And all the Go related featuresare registered only for on disk files due to https://github.com/Mic

[2017-09-19 22:55] ramya-rao-a commented on #1204
Also do you mind giving the fix a spin? All you need to do is
- Download https://github.com/Microsoft/vscode-go/blob/master/Go-latest.vsix
- Run `code --install-extension Go-latest.vsix` and reload VS Code.

Note: the fix doesnt work when you use the language server

[2017-09-19 23:07] ramya-rao-a commented on #1204
Here is a scenario where results might be unexpected.

- Say you have 2 files A and B. B uses a symbol defined in A
- There are staged changes for both A and B
- There is unstaged changes for the symbol definition in A
- Now in the staged view, run "Go to Definition" on the symbol in B

You will be taken to the symbol in file A as per file on disk and not as per the staged changes for A

[2017-09-19 23:49] uudashr commented on #1198
I think this goes to Go grammar on the vscode, not Go extension

[2017-09-20 03:18] ramya-rao-a commented on #1226
What do you get when you run `Go: Current GOPATH` command?

Where have you set your GOPATH to `/home/erik/workgo:/home/erik/git/ES/ES`?

[2017-09-20 03:24] ramya-rao-a commented on #1225
Sure that is doable and is pretty simple.
PRs are welcome.

The change should be done here: https://github.com/Microsoft/vscode-go/blob/0.6.65/src/goTest.ts#L34

You can use `editor.document.save()` to save the document

[2017-09-20 03:24] ramya-rao-a commented on #1227
cool!

[2017-09-20 03:26] ramya-rao-a commented on #1229
When mode is not exec and the program points to a file and not directory, `dlv debug` is run on the parent directory of the file. Wont that work for your single file case?

[2017-09-20 06:07] willfaught opened #1230 "Field name "string" colored same as type name "string""
As in:

[code]

Screenshot:

<img width="347" alt="screen shot 2017-09-18 at 7 04 25 pm" src="https://user-images.githubusercontent.com/63830/30629141-1beaac32-9d8f-11e7-9073-76a04bc6f119.png">

Is there a way to color the token "string" based on the parsing context?

---

- VSCode Version: Code 1.16.1 (27492b6bf3acb0775d82d2f87b25a93490673c6d, 2017-09-14T16:24:39.530Z)
- OS Version: Darwin x64 16

[2017-09-20 06:35] Erik-Blucher commented on #1226
Running `Go: Current GOPATH` yields `Current GOPATH: /home/erik/git/ES/ES`

My GOPATH is set in `.profile` in my home directory.

[2017-09-20 12:41] MZhoume commented on #1229
@ramya-rao-a Thanks for your reply.

Unfortunately no. Let's think of a situation where we have a `scripts` folder for all the automation scripts. Each `.go` file should be able to run individually so they all are in the `main` package and with a `main` function. And you can just use `go run script.go` to run a single file.

Since they are all in the same folder, and the current `delve` debugger a

[2017-09-20 13:26] reusee opened #1231 "No quick suggestion inside back-quoted strings"
It works inside double-quoted strings, but not in strings like ``` `foobarbaz foo` ```

[2017-09-20 14:24] uudashr commented on #1187
Should be fixed on godef side https://github.com/rogpeppe/godef/pull/70

[2017-09-20 16:31] ramya-rao-a commented on #1229
good point

[2017-09-20 18:31] willfaught opened #1233 "<-chan field name is colored differently than other field names"
Try with:

[code]

Screenshot:

<img width="258" alt="screen shot 2017-09-20 at 10 55 39 am" src="https://user-images.githubusercontent.com/63830/30660798-ebd72260-9df6-11e7-8df7-d30c924e01a8.png">

[2017-09-20 19:46] skybrian opened #1234 "auto-indent results in wrong auto-completion"
To reproduce, you need to type two switch statements:

[code]

While typing "default" in the second switch statement, wait for the autocomplete to come up, showing a dropdown with "default" as one of the choices. (But don't trigger it.) Then, type the colon. (It will auto-indent, but the autocomplete pulldown is still up.) Then, type return.

The autocomplete will trigger, messing up the results:

[2017-09-21 03:33] gregmarr opened #1235 "buildOnSave passes go.buildFlags to go test"
I have go.buildFlags set to `[ "-gcflags='-N -l'" ]`.  This is being passed to `go test` when I save, but `go test` doesn't know how to deal with these flags, so it throws a usage message.  I've tried setting `go.testFlags` to `null`, and `[]`, but no change.

Is there any way to make buildOnSave only use testFlags when running tests, and not buildFlags, which should just be for building?

[2017-09-21 09:12] Zaaksam commented on #1166
@xxxtonixxx Thanks! It's very helpful for me.

[2017-09-21 09:21] Max-Pano opened #1236 "Remote debug breakpoint questions"
Hi, I want to debug a go project remotely. the project code is stored and run remotely.
my problem is the breakpoint didn't work.

- My environment:

vscode run on MacOS.
Go code projects folder on both Mac and a remote cloud server running Ubuntu.
Have dlv installed on both Mac and Ubuntu.

- What I can do:

If I run `dlv debug --headless --listen=:2345 --log` locally on my Mac, within the projec

[2017-09-21 18:59] apiarian commented on #1015
In the meantime I've set up this couple of tasks:

[code]

(note, I'm disabling composites on vet because that's noisy and I like my un-labeled struct literals)

[2017-09-21 22:00] apiarian opened #1237 "full package docs in a separate view"
It would be great to have access to the output of `godoc` for a package (and possibly a specific identifier) within the editor without having to open up a browser to godoc.org or similar.

Should be possible using https://code.visualstudio.com/docs/extensionAPI/vscode-api#TextDocumentContentProvider . Some care will need to be taken to handle vendored code correctly. `godoc` seems to default to lo

[2017-09-21 22:02] apiarian commented on #1237
Looks like this is probably related to https://github.com/Microsoft/vscode-go/issues/789

[2017-09-21 23:13] ramya-rao-a commented on #1226
So you have set GOPATH to `/home/erik/workgo:/home/erik/git/ES/ES` in your `.profile` and to `/home/erik/git/ES/ES` in VS Code settings?

[2017-09-21 23:15] ramya-rao-a commented on #926
Hello all,

There is no update as of yet. There is some talks to better support WSL in general in VS Code. When these talks solidify a bit, I'll see how we can bring over such support to the Go extension.

[2017-09-21 23:19] ramya-rao-a commented on #259
Ok, so the flow can be
- Run the command
- The quick pick control shows all the imported packages, asking you to select the package
- On selecting a package, the quick pick control now shows the list of interfaces from the selected package
- Select the interface
- The stubs will be introduced with placeholders for recievers which you can now update.

?

[2017-09-21 23:26] ramya-rao-a commented on #259
Say you want stubs for the `io.Reader` interface. You can today type `io.` and autcomplete will suggest all symbols from the `io` package.

In this list, for every interface, we can have another entry which when selected, will insert the stubs. Thoughts?

[2017-09-22 02:07] Max-Pano commented on #1236
I found the things I did wrong with the `launch.json` file, after setting `remotePath` with the project code path on Ubuntu, and `program` with the local MacOS file path which I mount with the same project code path on Ubuntu.
Then, I got myself a environment of remote debugging using single project folder and running system.
Nice!

[2017-09-22 02:08] #1236 closed

[2017-09-22 06:14] Erik-Blucher commented on #1226
No, my VS Code setting is the default `"go.gopath": null,` but this made me curious as to how it fails on reading my environment variables. So I switched to a different directory and started code as I usually do with `code .` and ran `Go: Current GOPATH` and got `Current GOPATH: /home/erik/git/ES/ES:/home/erik/workgo`

It seems like it only fails in reading my env variable in the `/home/erik/git/E

[2017-09-22 06:47] Erik-Blucher commented on #1226
I found the problem!
A co-worker had checked in a `settings.json` file in the `.vscode` directory that had `"go.gopath": "${workspaceRoot}",` set.

I'll close this issue now as it was a mistake on my end.
Sorry for bothering you.

BR, Erik

[2017-09-22 06:47] #1226 closed

[2017-09-22 08:32] caibirdme opened #1238 "no error message"
after upgrading to vscode1.16.1 on my mac, there's no error message appeared in my current project anymore even if  I restart it many times. I don't know if it's a bug of vscode itself or the go module.
When I save the change,the format works as well though obvious error existed like this:
<img width="1088" alt="dingtalk20170922161751" src="https://user-images.githubusercontent.com/8054803/3073594

[2017-09-22 08:54] caibirdme commented on #1238
But in other projects, it works as expected.Only in my current projects

[2017-09-22 13:18] apiarian commented on #1237
created https://github.com/apiarian/vscode-go-test-docs-main to help with documentation experiments.

[2017-09-22 13:37] DarthPestilane opened #1239 "Live error reporting says can't find import: xxx/vendor/xxx"
![image](https://user-images.githubusercontent.com/15375753/30746920-0afc13a6-9fde-11e7-8ce4-a32716f366ef.png)

It keeps telling me that cannot find package, but the package I import is just under vendor directory.

[2017-09-22 17:06] btracey opened #1240 "Improve comment for turning string arguments off"
The current documentation (for instance, on `go.lintOnSave`) says
[code]

With the default value of "package", this would lead me to believe that the possible settings are "package", "workspace" and "nothing". I would suggest to rephrase the comment as

[code]
to make it clear that the option is "off".

[2017-09-22 20:47] ramya-rao-a commented on #1226
No problem @Erik-Blucher, glad you found what the issue was. Happy Coding!

[2017-09-22 23:02] btracey opened #1241 "Add option for autocomplete to not add the types on function/method calls"
Currently, when autocompleting a function or method the entire method signature, including types, is used. For example, in `strings.Split`, it currently autocompletes as `strings.Split(s string, sep string)` rather than `strings.Split(s, sep)`. In a lot of my code, I have variable names that are the same as argument names (i.e. my string is named `s`), and it would be convenient to only have to ch

[2017-09-23 11:27] m90 opened #1242 "Type hints on hover are incorrect when omitting the value while ranging over a slice"
Considering the following program:

[code]
with the rather obvious output of

[code]

I found a bug in the type hints that will be displayed when hovering over an expression in the editor.

Using 0.6.65, running Go 1.9 I will see the correct hint (`int`) when hovering over `index` in the first loop of the example:

![bildschirmfoto vom 2017-09-23 13-20-18](https://user-images.githubusercontent.com

[2017-09-23 17:31] chaseadamsio commented on #1225
would it make sense to have this disabled by default and have a flag to enable? something like `go.saveTestFileOnRun`?

[2017-09-24 06:23] ramya-rao-a commented on #1230
Am curious, why would you want to name a struct field the same as a keyword?

[2017-09-24 06:51] ramya-rao-a commented on #1231
Quick suggestions are not suppose to work inside double quoted strings either...
Can you give me an example?

[2017-09-24 07:00] ramya-rao-a commented on #1233
We use the grammar for Go from http://github.com/atom/language-go

The scope for `X` in the above example is `variable.other.declaration.go` where as for `Y` the scope turns out to be just `source.go`. Thus the change in color.

[2017-09-24 07:01] ramya-rao-a commented on #1233
This issue was moved to atom/language-go#134

[2017-09-24 07:01] #1233 closed

[2017-09-24 07:05] reusee commented on #1231
I'm writing long SQL queries in backquoted strings, it would be really helpful to auto-complete table or column names.

Suggestions inside backquoted strings is working when vscode-go is disabled. Is the default behavior overwritten by any configuration of this extension?

[2017-09-24 07:06] ramya-rao-a commented on #1234
If you disable auto-indenting (by setting `editor.autoIndent` to `false`), then typing `:` makes the suggestion list disappear as it should.

Somehow the adding of the indent is messing up the sequence of events.

Nice catch!

By the way, we don't need 2 switch statements for this. I am able to repro even with a single one.

[2017-09-24 07:09] ramya-rao-a commented on #1234
This issue was moved to Microsoft/vscode#34897

[2017-09-24 07:09] #1234 closed

[2017-09-24 07:34] ramya-rao-a commented on #1235
I resorted using `go test -c -i` to get build errors as I noticed that `go build` was ignoring the test files in the package

You bring up a good point where this approach fails.

[2017-09-24 07:44] ramya-rao-a commented on #1235
Made a change such that

- Build errors in test files will show up if any test file in the package is being edited
- Build errors in non-test files will show up if a non test file in the package/workspace (based on whether go.buildOnSave was set to package or workspace) is being edited

Can you help testing this out? All you have to do is
- Download https://github.com/Microsoft/vscode-go/blob/mast

[2017-09-24 07:44] #1235 closed

[2017-09-24 07:45] ramya-rao-a commented on #1235
BuildFlags are used by `go test` by default.
If you don't want to do so set `go.testFlags` to `[]` or a non null value

[2017-09-24 07:51] ramya-rao-a commented on #789
Related ask in https://github.com/Microsoft/vscode-go/issues/1237from @apiarian:

It would be great to have access to the output of `godoc` for a package (and possibly a specific identifier) within the editor without having to open up a browser to godoc.org or similar.

Should be possible using https://code.visualstudio.com/docs/extensionAPI/vscode-api#TextDocumentContentProvider . Some care will