[2018-09-10 05:52] ramya-rao-a commented on #1911
Also, how have you been trying to run the tests? Using the commands to run tests in package/file/cursor or code lens to run tests in package/file/function?

[2018-09-10 05:53] ramya-rao-a commented on #1906
To try out the above changes, please see https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension

[2018-09-10 07:17] benc-uk commented on #926
Sorry to be another +1'er but this is a problem that plagues VSCode. Using Git, Node, Python and Golang requires me to have the them all installed twice, once in WSL and once in Windows.
It's very messy, very confusing & requires multiple configurations that can get out of sync

[2018-09-10 15:17] ramya-rao-a commented on #1917
I believe initially (and this is before my time), the intention was to get the user's attention to that item.
So if you can figure out some other way to do it like using a different color or using an icon, then that would be a good solution.

[2018-09-10 15:20] ramya-rao-a commented on #1917
The status bar item supports the use of [github octicons](https://octicons.github.com). See https://code.visualstudio.com/docs/extensions/example-word-count

[2018-09-10 15:22] ramya-rao-a commented on #1920
Ah, understood.

[2018-09-10 15:22] ramya-rao-a commented on #1920
Also, feel free to go through the other snippets in that file, to see if they can be improved

[2018-09-10 15:44] svipben commented on #1917
I guess this https://octicons.github.com/icon/tools/ matches best since text says "Analysis Tools Missing". With coloring, it's way harder since it depends on theme, what I can think of is only red color, but still, if someone uses theme with red sidebar it will have same issue. So best solution is to use icon. What do you think @ramya-rao-a ?

[2018-09-10 16:10] ramya-rao-a commented on #1911
Thanks @alex-kovoy

I have pushed a fix to the master branch. Can you follow the instructions to [download and install the beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension to test it out?

[2018-09-10 16:12] ramya-rao-a opened #1921 "Support codelens to run and debug tests supported by the check package"
Tests that use the [check](http://labix.org/gocheck) package can be run as part of the whole package or file but not individually in VS Code.

This feature request is to support the below for individual tests using the check package in VS Code
- `Go: Test function at cursor` command
- Run Tests codelens
- Debug Tests codelens

[2018-09-10 16:12] ramya-rao-a commented on #1911
I've also logged #1921 to support running such tests individually

[2018-09-10 16:12] #1911 closed

[2018-09-10 17:15] ramya-rao-a commented on #1917
Icon sounds good

How about https://octicons.github.com/icon/alert/ ?

[2018-09-10 17:16] svipben commented on #1917
Sounds good, it was my first choice, but I changed my mind 😄 PR will be soon!

[2018-09-11 00:39] ramya-rao-a commented on #1907
gogetdoc needs a byte offset, you are using line number

- Install the [show-offset](https://marketplace.visualstudio.com/items?itemName=ramyaraoa.show-offset#overview) extension
- add setting `"showoffset.offsetType": "byte"`
- Keep cursor on the symbol you want to get information on
- You will see the offset in the status bar. Use that when running `gogetdoc` in the terminal

[2018-09-11 00:41] ramya-rao-a commented on #1874
- If there are any running process for `gocode`, close them
- Run gocode -s -debug in a terminal and try for intellisense in VS Code. Results from gocode will show up in the terminal.

If the results from `gocode` show zero candidates, then the issue is with gocode

[2018-09-11 00:42] ramya-rao-a commented on #1913
@chenyihui555  Where are you getting the above logs from? What did you run?

[2018-09-11 00:43] ramya-rao-a commented on #1915
If you are using the language server (i.e the setting `go.useLanguageServer` is set to `true`), then we should log an issue in the repo for the language server itself which is https://github.com/sourcegraph/go-langserver. Folks there would be able to better diagnose the issue

[2018-09-11 00:53] benguild commented on #1915
I'm comparing the performance of key features of another IDE to VSCode's for Go. — If the only way to get anything similar is by using a third-party language server then I'd assume this is more a limitation of the VSCode IDE. There may also be issues with that particular language server, which could be considered a reason to improve VSCode's internal "Go To Definition" support in general as Intell

[2018-09-11 01:13] ramya-rao-a commented on #1915
There is no "internal" support for any of the key features for Go in VS Code. We depend on third party tools to provide the said features in the editor. This is clearly called out in the README. This is what almost all editors do for Go (VS Code, Atom, Sublime, Vim, Emacs).

Goland by JetBrains is an IDE not an editor like VS Code, Atom, Sublime, Vim etc. If we were to opt to do the same and have

[2018-09-11 02:58] eternal-flame-AD commented on #1874
It indeed said zero candidates. I guess that's an upstream issue then.

[2018-09-11 04:56] llitfkitfk commented on #1879
[code]

[2018-09-11 05:28] svipben commented on #1917
@ramya-rao-a opened a PR: https://github.com/Microsoft/vscode-go/pull/1922

[2018-09-11 05:34] AlekSi commented on #1916
Yes, it's the same with `golint`. How to reproduce:
1. Open a relatively big Go project.
2. Add to settings
[code]
3. Open a file.
4. Add some spaces to any line, save. Spaces will be erased by `gofmt`, linter process will be created.
5. Quickly repeat step 4 several times. You will have several concurrent `golint` processes.

[2018-09-11 06:54] warpkanal opened #1923 "Improve color style/themes/syntax parser for packages and methods vs. functions"
Would be cool if vscode could distinguish between method and function invocations, and additionally have a distinct TM scope (theme selector) for package name usages.
This is for example possible in Goland:
<img width="192" alt="query_ 2018-09-11 08-28-05" src="https://user-images.githubusercontent.com/3669157/45341920-a0142300-b59c-11e8-8746-71c2d131fea0.png">
Function invocations on some package

[2018-09-11 07:50] AstromechZA commented on #1532
@ikgo your solution seems to have a dependency issue on a non-existent "core" module:
[code]

[2018-09-11 16:14] harikb commented on #1914
Thank you @ramya-rao-a . Setting `"go.installDependenciesWhenBuilding": false,` seems to get rid of this problem. It worked for both cases of language-server on as well as off.

[2018-09-11 17:04] ramya-rao-a commented on #1916
Does it also happen when `go.lintOnSave` is set to `package`?

[2018-09-11 18:29] #1917 closed

[2018-09-12 00:38] #1920 closed

[2018-09-12 00:45] ramya-rao-a commented on #1915
Yes, it is a marketed feature and it is up to extensions to decide how they want to implement it. And in the case of Go, it is done using third party tools.

Thanks for understanding.

[2018-09-12 00:45] #1915 closed

[2018-09-12 01:16] ramya-rao-a commented on #1874
Are you using modules?
Also, can you try again by setting GOOS=js GOARCH=wasm in your terminal before running `gocode -s -debug`. Remember to kill existing processes for gocode

And why is the GOPATH being set to `/home/corey/src/goprojects`? Shouldnt it be just `/home/corey` ?

[2018-09-12 01:32] coreyog commented on #1874
It should be `/home/corey/src/goprojects`. /home/corey/src also has other non-Go project folders that I don't want mixed in with go projects.

I'll try setting env variables like you suggest when I get a chance.

[2018-09-12 01:41] ramya-rao-a commented on #1874
- What do you get when you run `Go: Current GOPATH` ?
- Are you using the new modules feature in Go 1.11?

[2018-09-12 02:11] chenyihui555 commented on #1913
@ramya-rao-a  my vscode user Settings eg：
 {
    "go.useCodeSnippetsOnFunctionSuggest": true,
    "workbench.colorTheme": "One Dark Pro",
    "terminal.integrated.shell.windows": "D:\\Git\\Git\\bin\\bash.exe",
    "go.formatTool": "goimports",
    "editor.formatOnSave": true,
    "[go]": {
        "editor.insertSpaces": true,
        "editor.formatOnSave": true
    },
    "editor.fontSize": 18,

[2018-09-12 02:11] chenyihui555 commented on #1913
@ramya-rao-a  can i have a look at your Settings?

[2018-09-12 02:52] thedillonb commented on #1532
Is anyone else experiencing a noticeable lag from the time auto-completion is invoked and the time it actually appears on screen with @ikgo's fork?

[2018-09-12 03:27] avence12 commented on #1532
@thedillonb  I also notice the 2~3 seconds of lag after using the fork.

Besides, vscode keep alerting of `$GOPATH/go.mod exists but should not` but I am sure there is no `go.mod` on my GOPATH.

![image](https://user-images.githubusercontent.com/4282367/45400414-995ddc80-b67e-11e8-96fc-14a24586705d.png)

[2018-09-12 05:50] qhsong opened #1925 "Default gocode can not exit and use too much CPU cycles"
When open an go file in VSCode,  it will create too much `gocode` processes and can not exit.
I find `github.com/nsf/gocode` seems not maintains any more and will cause some problems in go 1.10 and he recommend to use `github.com/mdempsky/gocode`. After I delete previous one and install newer `gocode`, it fix.

So, would vscode-go switch default `gocode` to `github.com/mdempsky/gocode`, or you hav

[2018-09-12 05:53] qhsong commented on #1925
Seems I use wrong gocode version, Closed

[2018-09-12 05:53] #1925 closed

[2018-09-12 09:19] eternal-flame-AD commented on #1874
I tried setting env before starting gocode but it is still not spawning candidates :(

[2018-09-12 09:50] aixiaoxiang opened #1926 "The breakpoint is not validated"
Issue Type: <b>Bug</b>

The breakpoint is not validated

# golang

1: config to settings.json
---
<img width="427" alt="image" src="https://user-images.githubusercontent.com/8416556/45412630-b65bd500-b6a9-11e8-8492-0412ad41809d.png">

<img width="377" alt="image" src="https://user-images.githubusercontent.com/8416556/45412749-09ce2300-b6aa-11e8-916b-83a6e778ca40.png">

<img width="1111" alt="image

[2018-09-12 13:59] ikgo commented on #1532
in case the go. mod doesn't exist in one of directories the original
package solving performed. my fix for go 1.11 and go.mod exists in one of a
directories from current to root.
\ik

On Wed, Sep 12, 2018, 15:21 Nic Pottier <notifications@github.com> wrote:

[2018-09-12 15:46] ikgo commented on #1532
fixed

[2018-09-13 04:28] ramya-rao-a commented on #1874
@eternal-flame-AD @coreyog If you don't have `syscall/js` under `$GOROOT/pkg/js_wasm`, then can you run `go install syscall/js` after setting the GOOS and GOARCH as env vars and try again?

[2018-09-13 04:33] ramya-rao-a commented on #1913
@chenyihui555 As per your settings, you have enabled the language server. This means that the language server is used for the "Go to definition" feature and not `guru`.

If you don't want to use guru and not the language server, then set `go.useLanguageServer` to `false`

[2018-09-13 04:34] ramya-rao-a commented on #1879
@llitfkitfk I don't know what you are trying to say there ...

[2018-09-13 04:35] eternal-flame-AD commented on #1874
I ran the command and `$GOPATH/pkg/js_wasm` dir appeared. However, the IntelliSense wasn't fixed.

[2018-09-13 04:35] #1905 closed

[2018-09-13 04:36] ramya-rao-a commented on #1874
@eternal-flame-AD Ensure GOOS and GOARCH are js, wasm and retry
https://github.com/Microsoft/vscode-go/issues/1874#issuecomment-420107114

[2018-09-13 04:39] ramya-rao-a commented on #1907
@iamwwc If you are seeing delays even when running from terminal, please log an issue at https://github.com/zmb3/gogetdoc/issues

[2018-09-13 04:40] eternal-flame-AD commented on #1874
Yep I think the problem was still there:(
[code]

[2018-09-13 04:51] ramya-rao-a commented on #1874
@eternal-flame-AD Last question. You have set GOOS and GOARCH to js and wasm in the toolsEnvVars setting right?

[code]

[2018-09-13 04:53] eternal-flame-AD commented on #1874
[code]

[2018-09-13 05:01] ramya-rao-a commented on #1874
Ok, I am running out of ideas, lets take this up in https://github.com/mdempsky/gocode/issues/56

Was this working before you upgraded to go 1.11?

[2018-09-13 05:04] eternal-flame-AD commented on #1874
Sorry I didn't get what `this` means :question:
I think go don't have `wasm` support before 1.11

[2018-09-13 05:06] ramya-rao-a commented on #1874
Thats right, sorry my mistake

[2018-09-13 06:43] iamwwc commented on #1907
I don't think that will help..
`gogetdoc` repo's last commit is May 22

[2018-09-13 09:10] wayneashleyberry commented on #1879
`echo $GOROOT` prints nothing for me, and no... I have never changed the `go.goroot` setting :)

[2018-09-13 09:40] dsci commented on #926
+1

[2018-09-13 16:46] chrisolsen opened #1927 "go coverage highlights are not showing up after go mod"
When a go.mod file exists no test highlights are visible. When a simple go app is created with a main.go and main_test.go file highlights are visible. When I run `go mod init app` and run the tests again, the highlight disappears.

* After running `Go: Test Project` no coverage highlights are seen.
* Coverage highlights are still not seen after running `Go: Toggle test coverage in test package` th

[2018-09-13 20:23] davidwkeith opened #1928 "Feature Request: Open Package in new window"
Similar to the URL detection in VSCode's terminal, when hovering over a supported import string (eg "github.com/google/uuid") the string would become underlined with a tool tip to "Cmd + click open source" (or appropriate OS modifier key)

When clicked it would open the source import path. This could be new window, or just navigating to the source in the file tree view, depending on the project ro

[2018-09-13 21:10] jnoxon commented on #1532
I have completions for local code, but no completions for code from imported modules. It just says "Loading..." for a little bit, then goes away, with no log output.

[2018-09-13 22:13] ramya-rao-a commented on #1907
I would still encourage you to log the issue, as there is nothing much we can do from the extension's side.

Once we have Windows support for the [language server](https://github.com/Microsoft/vscode-go#go-language-server-experimental), you can give that a try.

[2018-09-14 08:13] chenyihui555 commented on #1913
@ramya-rao-a  I had the same issue, and I resolved it by reinstalling godef package.

[2018-09-14 08:13] chenyihui555 commented on #1913
@ramya-rao-a  thanks you  !

[2018-09-14 19:43] EmpireJones opened #1929 "Go 1.11 - PANIC in autocomplete"
Steps to Reproduce:

1. Update to go 1.11
2. Delete/reinstall all tools (delete bin/pkg folders)
3. Restart vscode
4. Get PANIC in autocomplete

I think I followed all relevant steps in https://github.com/Microsoft/vscode-go/issues/1888 but am still getting a panic. Are there any other steps required for upgrading to Go 1.11?

[2018-09-16 04:59] Tim15 commented on #1532
It would also be great to have syntax highlighting for `go.mod` files. We could just change `contributions.languages` to have
[code]
And then add the four keywords (`module`, `require`, `exclude`, and `replace`) to be just like `package` and `import`, and thus have the same syntax highlighting.

Please tell me if I am missing anything?

[2018-09-16 19:37] steviesama opened #1930 "Indentation is replaced with tabs from spaces on save regardless of editor settings when this extension is enabled."
Steps to Reproduce:

1. Enable this extension.
2. Open a Go source code file with space indentation or convert to such indentation.
3. Save file and the space indentation will be replaced with tabs on save regardless of editor settings to the contrary.

[2018-09-16 21:06] ikgo commented on #1532
fix for gopkgs. `https://github.com/ikgo/gopkgs` fork from `https://github.com/uudashr/gopkgs`

[2018-09-17 09:50] brunsgaard commented on #1919
@ramya-rao-a I followed the instructions and can confirm that you fix is working as intended here.

[2018-09-17 13:43] iamwwc commented on #1907
closed, waiting upstream solve this problem or waiting language server

[2018-09-17 13:43] #1907 closed

[2018-09-17 14:55] jeffb4 opened #1931 "Feature Request: go.lintOnSave = "file""
When using gometalint with all linters enabled, even a package lint can take a significant period of time. It'd be nice to have an additional go.lintOnSave option "file", to only run the linter on the file that was just saved.

[2018-09-17 15:36] steviesama commented on #1930
The format tool effects this. The only solution so far has be to pick a format tool that won't install so I guess the step is effectively skipped and when I manually format it to spaces and have the user settings setup properly it's fine. I was using goreturns...I think gofmt did it too...replacing spaces with tabs. Is there any way to change this? Though I'd prefer have an official option to skip

[2018-09-17 16:08] chrisgoffinet commented on #1532
I can concur about the extremely slow auto-complete aspect after upgrading to @ikgo package. @ikgo is this something you can look into? I'm happy to provide any assistance on getting this resolved.

[2018-09-17 17:43] ramya-rao-a commented on #1532
@ikgo Can you send a PR to https://github.com/uudashr/gopkgs? Its much easier for end users if they dont have to use different forks of the same package.

cc @uudashr

[2018-09-17 17:43] ramya-rao-a commented on #1919
Thanks @brunsgaard!

[2018-09-17 17:44] strtob01 commented on #1929
I tried a fresh install of Go 1.11 along with a fresh install of Visual Studio Code and also have the same problem.

[2018-09-18 00:41] ramya-rao-a commented on #1931
That sounds like a good idea.
We support the below linters today. Do you know if all of them support running on single files?
[code]

PRs for this feature are most welcome. Code Pointers:
- [Build and Debug Extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code) to get started
- See [package.json](https://github.com/Microsoft/

[2018-09-18 00:43] ramya-rao-a commented on #1930
Unfortunately, as you realized, its the formatting tool that is doing this and I am not aware of any workarounds at the moment

[2018-09-18 00:43] #1930 closed

[2018-09-18 00:46] ramya-rao-a commented on #1929
Are you using the new modules feature? If yes, then its not yet supported. If not, then follow the below:

- Close VS Code
- Check for any running process for `gocode`. If you find it, kill it.
- Open VS Code, Run `Go: Install/Update Tools`, select `gocode` and install it
- Try for auto-completions

[2018-09-18 00:49] ramya-rao-a commented on #1928
Is the expectation to see the contents of the package?

Currently, when your cursor is on one of the packages in the import block, you can run `Go: Browse Packages`. That will open all the files in the package for you to navigate to.

[2018-09-18 00:52] ramya-rao-a commented on #1927
#1532 is tracking all the features that need to be fixed when using Go modules. Can you please add this there?

[2018-09-18 16:31] jeffb4 commented on #1931
golint - supports individual files
gometalinter - allows individual files, but errors when they do not comprise a package
megacheck - allows individual files, but errors when they do not comprise a package
megacheck - allows individual files, but errors when they do not comprise a package
revive - supports individual files

given the general lack of robust support for single files, does this still

[2018-09-18 17:39] AlekSi commented on #1916
The only reason why it is hard to notice that with `go.lintOnSave` set to `package` is because golint is fast for a typical package. Give it a huge package – and the problem will become visible: https://github.com/AlekSi/vscode-go-issue-916 Edit any file in `pack/` by adding spaces, save, etc.

[code]

Please reopen.

[2018-09-18 17:49] davidwkeith commented on #1928
Those are great, but neither does quiet what I hoped.

- `Go: Browser Packages`: Does not auto jump to the currently package, still need to search, then browsing the files inside the package is not great.
- `Go: Add Package to Workspace`: The package is already in the workspace, I get "Could not find package…"

Ultimately the command would be `Go: Open Package in File Tree` that would open `vendor

[2018-09-18 19:39] strtob01 commented on #1929
I just solved it. I had old gocode binaries in my PATH locations on my hard drive. I deleted all of them and the ran your instructions again and now it's working as expected.

[2018-09-18 21:47] EmpireJones commented on #1929
I still haven't figured this one out. I have it working on one of two computers.

Killing gocode processes and reinstalling gocode didn't help. I also tried rebooting and reinstalling the vscode-go extension.

Is there any way to output details of the panic?

[2018-09-18 22:00] EmpireJones commented on #1929
Figured out how to debug: `gocode -s -debug` from bin folder

Error is: `panic: embedded struct field without name?`
not sure if that helps me though...

[2018-09-19 14:50] MFoster commented on #1532
It appears that ikgo's changes have been merged into uudashr's repository... is uudashr's repository now going to be the accepted fork to support go modules in vscode?

[2018-09-19 19:19] dmigwi commented on #1532
Its seems like with go1.11 and `export GO111MODULE=on` set, Go:Install/Update Tools is no longer a plug and play command. I am getting this error for all the 16 tools.

[code]

I use gvm to manage my various go versions. My GOROOT is
`~/.gvm/gos/go1.11`

[2018-09-19 22:46] Linuturk commented on #1914
Adding a comment here as asked by @ramya-rao-a in Slack.

[code]

Installed from the tarball from golang.org.

When I enable the `go.installDependenciesWhenBuilding` I get this output:

[code]

I get the same error if I run a similar `go build -i` command outside of vscode.

No cgo in use for this project.

I did just transition this project to a go module.

[2018-09-20 04:46] ramya-rao-a commented on #1532
@dmigwi See #1919

@MFoster Which repo are you referring to? The last commit to https://github.com/uudashr/gopkgs was in June.

[2018-09-20 06:28] #1884 closed

[2018-09-20 06:38] ikgo commented on #1532
my workaround `go list app` command to get list of all modules.
better solution implement direct call to **go** and leave performance optimization to go team.

ps. thus and so i do not create pr. no added value for gopkgs module

[2018-09-20 08:35] daenney commented on #1723
Is there any way to tell VS Code to pass `-source` to `gocode`? I don't have a big GOPATH and not having completion for external packages is proving to be rather frustrating.

[2018-09-20 14:19] chadit commented on #1856
same issue for me,  Manjaro (latest) full OS (no virtual machine), VS code 1.27.2

[2018-09-20 18:39] dmigwi commented on #1919
The fix above still hasn't worked for me... I've also discovered that my vscode doesn't refresh the GOROOT variable __(at least the path to Go bin doesn't change)__ until I restart my machine (Mac Seirra Os).

I have opted to install all the tools using go1.10 settings and after all tools have been successfully installed is when I can now change my Go version using gvm to go1.11. The vscode works

[2018-09-20 20:59] MFoster commented on #1532
You are correct, I had the compare syntax in reverse... https://github.com/uudashr/gopkgs/compare/master...ikgo:master

[2018-09-21 01:40] genewoo commented on #1532
Maybe append this configuration to your setting:

[code]

[2018-09-21 07:49] vimalk78 commented on #1822
@ramya-rao-a is it possible to add this command(`Go: Implements`) to `Go : Show All Commands...` right-click sub menu?

i was trying to look for the same, how does vscode invoke `guru implements`.  i could not find it in the list of go commands. I found it in [extension source](https://github.com/Microsoft/vscode-go/blob/78854238a1f2745c6576f734ad1ff3d05c2141ab/src/goImplementations.ts#L61), but h

[2018-09-21 08:27] lsytj0413 commented on #1723
use **mdempsky/gocode** instead of **mdempsky/gocod** solve my problem.

[2018-09-21 13:44] szszoke-apsis opened #1934 "Breakpoints set/removed during runtime are ignored until debugging is restarted"
I am having an issue where when I set or remove a breakpoint while I debug my code, it is ignored until I stop the debugger and start it again. I found the issue to be present on both a Windows and an Ubuntu machine.

Here some minimal code to reproduce the issue:
main.go
[code]

launch.json
[code]

### Breakpoint not hit
Verbose output:
[code]
Steps to Reproduce:

1. Start debugging the program u

[2018-09-21 16:52] daenney commented on #1723
Given that the former is already what's used I doubt that's the solution :no_mouth:.

[2018-09-21 16:54] jadolg opened #1935 "Debugger does not stop on breakpoints when debugging tests"
Hey there,
I'm writing an application and trying to debug one of my tests using the `debug test` option on top of the method
![image](https://user-images.githubusercontent.com/5427672/45894840-9315e180-bd9d-11e8-85d6-7cbb7eb10046.png)
and I have set a breakpoint on this method. When the option is clicked my test runs but it won't stop on the breakpoint.
The breakpoint is listed on the breakpoints

[2018-09-21 21:10] rpwatkins opened #1936 "request: Ability to use alternate test runners"
Could an option be added to control what tool is used to run tests. I develop with Buffalo and it has its own test runner to set up the tests properly, but is otherwise compatible with "go test". It would be helpful if we could set the tool to the users choice.

Thank you and great work on this extension!

[2018-09-22 03:04] rothskeller commented on #1934
I am seeing this as well, in a different environment.  My environment is OSX 10.13.6, Go 1.11, vscode 1.27.2, dlv 1.1.0, vscode-go 0.6.89.  The behavior is the same:  breakpoints don't work when added after the program starts running, but once you restart the program they do.

[2018-09-22 06:45] ramya-rao-a commented on #1927
Re-opening this, as this can be dealt with separately.

The problem is that the coverage report generated by `go test`, contains the package import path.
In the world of GOPATH, the package import path would always be the part of the file path as well.
That is no longer the case when modules are being used.

For example, below is an example of the coverage data:

[code]

In the world of GOPATH, I

[2018-09-22 07:05] ramya-rao-a commented on #1532
Folks, I have an update.

https://github.com/golang/go/issues/24661 is the issue used by the Go tools team to track the update of Go modules support in various Go tools.

While that is in progress, the currently available [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has fixes for the below features when using Go modul

[2018-09-22 11:07] bcmills commented on #1927
I'll have to give it some thought. Absolute paths would make the coverage results less cacheable, e.g. for distributed build systems where two users may run coverage with the same source versions but different absolute paths.

[2018-09-22 19:10] ramya-rao-a commented on #1723
@daenney Can you try the below?
- Run `Go: Build current package`. This uses the `-i` flag when running `go build` which will ensure all the dependent packages are installed
- From this point `gocode` should be able to give you completions as it looks at only the installed packages to provide the results.

[2018-09-22 19:29] ramya-rao-a commented on #1928
Keeping the cursor on the package in the import block and then calling `Go: Browse Packages` does indeed open the drop down with package files. If the package was already open in the workspace, and you selected one of the files from the drop down, the file explorer would automatically show the file that was opened.

[2018-09-22 19:31] ramya-rao-a commented on #1916
Is the above after multiple saves or for the single save?

[2018-09-22 19:36] ramya-rao-a commented on #1916
I am currently a bit swamped. Do you mind debugging this by running the Go extension from the source? Its pretty straight forward
There is code in place to always kill the previous process before starting a new one.

If you are up for it, then follow the below instructions:
- [Build and Debug extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-i

[2018-09-22 19:39] ramya-rao-a commented on #1931
The event for file save gets fired for one file at a time. Therefore, we won't be falling under the "files not comprising a package" issue. So we should be good to go.

[2018-09-22 19:40] ramya-rao-a commented on #1913
Glad that things worked out, Happy Coding!

[2018-09-22 19:40] #1913 closed

[2018-09-22 19:43] AlekSi commented on #1916
After multiple saves.

[2018-09-22 20:13] abdullah2993 commented on #1872
I had the same issue turn out it only occur if you set a diffrent `GOPATH` from the terminal and open vscode from that teminal. The solution is to set `go.toolsPath` to you original `GOPATH`

[2018-09-23 00:51] LiPengfei19820619 commented on #1838
@ramya-rao-a HI, I added breakpoints in the line after p.on('error', err => {  and p.on('close', code => {.

But they are not triggered while debugging.

Breakpoints in the line before p.on('error', err => { can be triggered.

Thanks.

[2018-09-23 07:53] ramya-rao-a commented on #1532
Another update:

- Support for the Go to definition, symbol info on hover and Signature Help features are now available if you are using the `gogetdoc` tool.
- There is a new [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension.
- Install the new beta version => add the setting `"go.docsTool": "gogetdoc"` => run the command `

[2018-09-23 09:18] truewt opened #1938 "Debugging and symbolic links from GOPATH src to other location"
Hi,

I have already seen some issues reporting problems with symbolic links, but they were marked as solved. However, in my case symbolic links still present an issue which I'd like to resolve, because otherwise I have some additional work with my cloud sync software (basically I need to copy changes from classic directory over to the actual directory of project which is being sync'd and I also lo

[2018-09-23 09:52] andreagrandi commented on #1723
`gocode close` (no `exit` available in 1.11 version) and reinstalling tools worked for me. Code completion is now working again. Before I could only see one entry which was `PANIC`

[2018-09-23 15:05] marwan-at-work commented on #1532
Hi,
Thanks for this Ramya and everyone!

If I have GO111MODULE=auto and I'm inside GOPATH (meaning modules are off,
though my repo has go.mod), the Auto completion doesn't work. I know you
mentioned Auto-completion is not working for go modules but is the regular
auto completion for GOPATH also not working if we opt in to beta?

Best,

On Sun, Sep 23, 2018 at 3:53 AM Ramya Rao <notifications@githu

[2018-09-23 21:51] asw101 commented on #1532
I just installed @stamblerre's Beta (https://github.com/stamblerre/gocode), per https://github.com/mdempsky/gocode/issues/46, as follows:

[code]

This has restored auto-completion for me (cc: @ramya-rao-a). I haven't tested it in great depth yet, but it's great to have it back! @marwan-at-work, this is working inside GOPATH as well.

[2018-09-24 00:02] ramya-rao-a commented on #1532
@marwan-at-work The beta version hasn't changed anything in the auto-completion of symbols themselves, only auto-completion of unimported packages. So your issue must be due to something else.

@asw101 Yes, we do intend to use  @stamblerre's fork of gocode. But since that is still work in progress, we intend to ship it in such a way that the fork is used only when you use Go modules, otherwise it

[2018-09-24 00:34] ramya-rao-a commented on #1838
@LiPengfei19820619 Can you kill any currently running `gocode` process and try again?

[2018-09-24 01:27] ramya-rao-a opened #1939 "Test Plan for Sept 2018 (0.6.90)"
If you got a notification from this issue, then you are part of the next update to the Go extension.
Thanks and Welcome!

Here I will be listing the features and the bug fixes that will go in the next update along with the the folks who logged the bugs/feature requests, those who upvoted it, and those who fixed it by sending PRs.

The idea is to get the folks behind this update to give the update

[2018-09-24 13:41] bjm88 commented on #1929
When do you plan to support the go 1.11 go.mod modules feature?  I'm getting weird package errors like it can't find the local go packages.     Example go.mod:
module company.com/product/identityservice

require (
	cloud.google.com/go v0.28.0 // indirect
        .....
)

replace company.com/product/go_common => ../go_common

[2018-09-24 21:54] dreamheld commented on #1532
I think the issue still persists. Maybe I'm doing something wrong but here's what I'm looking at:
1. Making a new directory outside of my current GOPATH.
2. Navigate to the new directory and run $go mod init packtest
3. Create a subfolder "packtest" with a packtest.go in it.
4. packtest.go contains:
`package packtest
import "fmt"

func PackPrint(){fmt.Println("PackTest Called")`

5. Navigating up

[2018-09-25 01:14] ramya-rao-a commented on #1532
@dreamheld Can you log a new issue for that please?

[2018-09-25 09:04] liambrown89 opened #1940 "Coverage highlighting issue in Go 1.11"
I have recently updated to Go 1.11 and the coverage highlighting seems to be behaving very strangely in vscode. I have ensured all tools used by vscode-go are up to date, tried restarting, tried clearing settings and tried different code bases, but the problem is always the same.

It only ever highlights one line in any Go file:

![image](https://user-images.githubusercontent.com/9724078/46003416-

[2018-09-25 09:05] liambrown89 commented on #1940
Just to add, when the tests run the "go-code-cover" file in my %LOCALAPPDATA%/Temp folder is being generated and looks correct to me:

[code]

The results of this file are certainly not what are being depicted in the coverage highlighting in my screenshots above.

[2018-09-25 09:09] #1870 closed

[2018-09-25 14:00] Nhoya opened #1941 "Unable to parse correctly libraries for a different OS"
Hi, I have a small issue with the latest version of the extension.

I'm unable to use the extension calling methods for other platforms since the function is not recognised

Steps to Reproduce:

On linux just create a file with:

[code]

as you can see here the call to ```registry.OpenKey(registry.LOCAL_MACHINE, `SOFTWARE\Microsoft\Windows NT\CurrentVersion`, registry.QUERY_VALUE)``` is not recogn

[2018-09-25 15:40] bjm88 commented on #1532
I have all my 3 related projects referencing each other in go.mod and building on command line in go build CLI.  However, in Visual Studio I get red errors on the package main main.go first lines..
I've followed the instructions to install the latest master version by cloning this repo....full instructions here.. https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-ext

[2018-09-25 15:58] dreamheld opened #1942 "User-written packages fail to import with go.mod. GO111MOD=on"
The issue is not with the custom packages vendored through online repos, but with those that you would write for your application yourself. They do not import and are invisible to VSCode.

Steps to Reproduce:

1. Create a new directory (vstest) outside of the current GOPATH.
2. Navigate to the new directory and run $go mod init vstest
3. Create a subfolder "packtest" with a packtest.go in it.
3.a

[2018-09-25 16:09] dreamheld commented on #1532
Done!

[2018-09-25 16:09] dreamheld commented on #1532
Done!

[2018-09-25 16:47] ikgo commented on #1532
-i flag should be removed from go build command

On Tue, Sep 25, 2018, 19:20 dreamheld <notifications@github.com> wrote:

[2018-09-25 17:09] shreyu86 commented on #1939
✅ Provide auto-completions for symbols from unimported packages even when the package name has multiple matches. and testing other new features and fixes.

[2018-09-25 18:01] l2dy commented on #1532
@bjm88 See https://github.com/Microsoft/vscode-go/issues/1532#issuecomment-416100439, you can use `"go.installDependenciesWhenBuilding": false`.

[2018-09-25 18:47] johan-lejdung commented on #1939
`go.testTags` is working fine 👌😍

[2018-09-25 18:56] ragurney commented on #1939
Blank identifiers in outline fix looks good :shipit:

[2018-09-25 19:14] ramya-rao-a commented on #1939
@shreyu86, @johan-lejdung, @ragurney Thanks for confirming!
Would you mind giving some of the other features a look as well?

[2018-09-25 19:48] bjm88 commented on #1532
I tried that, did not help.  Still getting weird error.  Also weird is I have 3 projects, 2 services and 1 shared common project for db/logging that the 2 reference.  The 2 services seem to have this red line on the package main, but the common one never does.  Perhaps some bug when go.mod has a location reference
module  company1/product1/identity_service
require (
	cloud.google.com/go v0.28.0 //

[2018-09-25 20:44] vimalk78 commented on #1822
i tried the following

file : package.json
add a new command
[code]

file : goMain.ts
invoke the `'vscode.executeImplementationProvider'` command in this command handler
[code]

i am getting the below error in the Debug Console :
[code]
invoking with `async/await` also results in same error

debugging:
a breakpoint in `goImplementations.ts:44` is not hit when invoked via the above command. but bre

[2018-09-25 21:00] antong commented on #1939
I've been casually using this for two days now. Nothing out of the ordinary has happened. The tempdir stuff seems to be working in that tempdirs do appear with expected contents. vscode-go-debug.txt still goes directly into TEMP with the predictable name, so that fix seems to not have gone in. I noticed the iferr snippet improvement, and that is cool!

[2018-09-25 23:34] gertcuykens commented on #1939
Not in the list but I think setting `export GO111MODULE=on` in your shell so that modules are always used has performance issues. Unfortunately I don't have more details and time to investigate, I can only mention that I think using modules has a more sophisticated inpact on `vscode-go`

[2018-09-26 00:32] ramya-rao-a commented on #1822
Try passing `editor.action.goToImplementation` as command for `vscode.commands.executeCommand`, that should work.

But, we shouldnt add new commands that behind the scenes just calls another command. I was thinking of passing the existing commands for `Go to Implementation`, `Go to symbol in file`  etc to the quick pick control in https://github.com/Microsoft/vscode-go/blob/0.6.89/src/goMain.ts#L3

[2018-09-26 00:36] ramya-rao-a commented on #1939
@gertcuykens That can very well be the case. If you find more details, please do log a new issue and we can investigate further.

[2018-09-26 00:40] ramya-rao-a commented on #1532
@bjm88 Open the output panel and select "Go" from the drop down on the top right. You can see the build, lint, and vet calls being made. Copy the build call and run it in the terminal. If you see the same errors in the terminal, then it is not related to the Go extension to VS Code, but is related to Go and your code setup.

![image](https://user-images.githubusercontent.com/16890566/46050595-e499

[2018-09-26 01:03] treeder commented on #1532
Looks like they're going to make the `-i` flag a no op in in the go tool: https://github.com/golang/go/issues/27285#issuecomment-424538161

[2018-09-26 01:55] ramya-rao-a commented on #1532
Thanks for letting us know about that @treeder.
I've pushed a change to not use the `-i` flag when using Go modules.
The next update will have that change

[2018-09-26 01:56] bjm88 commented on #1532
Thanks @ramya-rao-a  for the hint to isolate.  I can confirm I see this error output in the output panel for Go.  However I can also confirm if I just manually run go build from my command prompt/shell I do NOT see the error.  I only see one special flag -o, so I tried setting that also and it didn't make a different.  No build issues manually, only within visual studio.  The only thing I can see

[2018-09-26 02:10] lkarlslund commented on #1942
This is not a VS Code problem. This is because that's not the way you import packages if you use Go Modules :-)

When using Go, there is no such thing as a relative path. This will not work with "go build main.go" from the commandline either, given your scenario.

When you do an import, Go looks for the package in:

GOROOT/src
GOPATH/src
vendor paths in current folder or parent folders, working it

[2018-09-26 02:28] ramya-rao-a commented on #1532
Using `_` as the prefix for file paths in the output of a `go` command is the standard way, go tells you that the file is outside of the GOPATH.

Can you add the below in your settings, reload VS Code and try again?
[code]

[2018-09-26 02:35] dreamheld commented on #1942
...
Right. That's my bad. However, I did try the import "/packtest" statement too this afternoon (just in case it was something along the lines of what you were saying). The terminal would just hang. I'd have to Ctrl+C to break out of that.

And even w/ the "/packtest" line, there was still no auto-fill of the package methods. :/

[2018-09-26 02:40] bjm88 commented on #1532
Thank you @ramya-rao-a adding this config
"go.toolsEnvVars": {
        "GO111MODULE": "on"
    }
fixed the issue.  I was surprised this is needed b/c I actually installed the latest main build version of the go plugin that I thought started supporting this.  Anyway, thank you!

Also if anyone else running into this and also finding it hard to test.  I thought it was another issue with VS code, but

[2018-09-26 04:00] lkarlslund commented on #1939
Great job on this release so far.

I have a huge project using Go Modules, with many local subpackages imported). The latest vsix (beta 6) works way better than the previous versions. It does not seem bogged down on CPU nearly as much. Previously I had like 10-12 go.exe running under VS Code when saving stuff, but this seems to have dissapeared.

The version of godef that the plugin installs does

[2018-09-26 04:07] lkarlslund commented on #1939
Benchmark file and package works great!

[2018-09-26 04:29] hamparawa commented on #1940
Having the same issue in `go1.10.1 linux/amd64`
Everything worked fine until updating to vscode-go to `0.6.89`

[2018-09-26 04:31] hamparawa commented on #1940
Looking at the changelog, might this have caused the issue?
https://github.com/Microsoft/vscode-go/issues/1847

[2018-09-26 06:32] uudashr commented on #1939
@lkarlslund better to ask the owner of https://github.com/ianthehat/godef to merge `godef` to the original. Last commit https://github.com/rogpeppe/godef Sep 12, 2018, still active.

[2018-09-26 09:40] Nhoya commented on #1941
Ok I found out that the issue also affects the package creation, creating a file called `myfile_windows.go` and adding it to a new package will trigger an error `an't load package: package my_project_path_here: build constraints exclude all Go files in my_project_path_here` I suspect this may be related to https://github.com/golang/go/issues/24068

[2018-09-26 13:40] Lercher commented on #1888
Hi, had the same problem, only in the `go mod init` case. Plus I'm using a custom GOBIN. Two different versions of gocode.exe existed, one in GOPATH/bin (old) and one in GOBIN (new). It turned out eventually, that "Go: Install/Update Tools" builds gocode to GOBIN but the extension started the old one from GOPATH/bin (via PATH?) that panics. So I deleted all the tools in GOPATH/bin and the extensio

[2018-09-26 15:15] jeffbean commented on #1939
The `go.generateTestsFlags` settings change tested. Looking good!

[2018-09-26 16:14] rschmied commented on #1534
Hey... I do face the exact same issue when clicking on the "run test" link next to a function in the editor... I want to pass extra args for the test but those have to be appended to the values that are being passed as defaults...

my go.testflags look like this:

[code]

e.g. this is what happens now:

[code]

and it *should* be like this:

[code]

I think I could experiment with the code you poi

[2018-09-26 19:41] rhullah commented on #1715
This appears to be an [ongoing issue](https://github.com/Microsoft/vscode/issues/5923) with VSCode in general.  And it doesn't look like z-index would help as the images are applied as classes so the latest one replaces the existing (breakpoint) one.  It could be possible to have two images (for each color, total of four), one without the breakpoint and one with (CSS targeting both classes).  But

[2018-09-26 22:55] ramya-rao-a commented on #1532
Another update:

The Go tools team have forks of the `godef` and `gocode` tools that work with Go modules. These 2 tools drive the `Go to definition` and auto-completion features respectively. The latest [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has support for both.

Please install this beta version, follow throug

[2018-09-26 22:59] ramya-rao-a commented on #1939
**To those who use Go modules:**

The Go tools team have forks of the `godef` and `gocode` tools that work with Go modules. These 2 tools drive the `Go to definition` and auto-completion features respectively. The latest [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has support for both.

Please install this beta versi

[2018-09-26 23:10] ramya-rao-a commented on #1534
@rschmied See [Building and Debugging the extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension) to get the local set up and to debug the extension.

Also, wait a few days till October starts to send your PR to win a t-shirt! For more details, see https://open.microsoft.com/2018/09/18/hack

[2018-09-26 23:11] ramya-rao-a commented on #1931
@jeffb4 If you are working on this, wait a few days till October starts to win a t-shirt! See https://open.microsoft.com/2018/09/18/hacktoberfest-2018-microsoft/?WT.mc_id=hacktoberfest-twitter-beverst for more details

[2018-09-26 23:12] ramya-rao-a commented on #1890
@mgood If you are working on this, wait a few days till October starts before submitting the PR to win a t-shirt! See https://open.microsoft.com/2018/09/18/hacktoberfest-2018-microsoft/?WT.mc_id=hacktoberfest-twitter-beverst for more details

[2018-09-26 23:16] dreamheld commented on #1532
Almost there! There are still a couple of bugs. Same configuration as before:
![image](https://user-images.githubusercontent.com/6977284/46114274-1fb20c80-c1af-11e8-84fc-540a8e60110c.png)
![image](https://user-images.githubusercontent.com/6977284/46114296-348ea000-c1af-11e8-8f94-18d13ee21d67.png)

typing "packtest" in main.go automatically populates the import statement. However, it's missing a '/

[2018-09-26 23:18] mgood commented on #1890
Thanks, I haven't started on it, but I'll keep that in mind.

[2018-09-26 23:40] ramya-rao-a commented on #1532
@dreamheld I'll respond to the issue you created for the same yesterday https://github.com/Microsoft/vscode-go/issues/1942 and we can take it from there.

[2018-09-26 23:44] ramya-rao-a commented on #1532
All,

Now that we have **some** progress on the features when using Go modules, I am closing this issue and locking the conversation. This is because this issue is already way too long for any new-comer to make any sense of.

Here are some tips to continue this conversation:

- Keep an eye on the [Go module support in VS Code](https://github.com/Microsoft/vscode-go/wiki/Go-modules-support-in-Visua

[2018-09-26 23:44] #1532 closed

[2018-09-26 23:56] ramya-rao-a commented on #1929
Closing this issue because:

- @strtob01 has the problem solved by deleting the old binaries
- @EmpireJones Looks like `gocode` itself is panicking. I am not sure what the extension can do in that situation :( Are you using Go modules? If yes, please try the [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension)
- @bjm88 As mentioned above, plea

[2018-09-26 23:56] #1929 closed

[2018-09-27 00:17] ramya-rao-a opened #1944 "Auto-completion doesnt work for unimported packages"
Using https://github.com/stamblerre/gocode

In the below case we dont get any completions.
[code]

Update the `quote.` above to `quote.Hello()`, save the file. The next time auto-completions work

[code]

@stamblerre Logging this issue here for tracking purposes as your fork doesnt support logging issues

[2018-09-27 00:18] ramya-rao-a commented on #1942
@dreamheld After updating the import statement to "vstest/packtest" and adding a line that uses the package, I am able to get the completions:

![image](https://user-images.githubusercontent.com/16890566/46116120-4d975100-c1af-11e8-84f6-eb94f7291763.png)

[2018-09-27 00:40] ramya-rao-a commented on #1942
@uudashr In the above code set-up, if I run `Go: Browse Packages`, the `vstest/packtest` doesnt get listed i.e `gopkgs` doesnt return the `vstest/packtest`.

[2018-09-27 00:49] alecthomas commented on #1939
With that new beta I no longer get completions on packages:

![image](https://user-images.githubusercontent.com/41767/46117137-f0e57600-c242-11e8-8567-19c3121ed563.png)

Previous beta:
![image](https://user-images.githubusercontent.com/41767/46117149-09559080-c243-11e8-9e3d-80919d674a3c.png)

[2018-09-27 01:04] ramya-rao-a commented on #1939
@alecthomas

- Are you using Go modules?
- Run `gocode close` and/or `gocode-gomod close` and try again.
- If that still doesnt work, run `gocode close` and `gocode -s -debug`. (Replace with `gocode-gomod` if using modules). This will start gocode in debug mode. Try for completions in VS Code. The terminal running gocode in debug mode should print out results (number of candidates or error message

[2018-09-27 03:55] ramya-rao-a commented on #1939
@alecthomas So from what I can understand you are using modules but are also vending the dependencies? And it is for such vendors dependencies that you are not getting completions? If so, can you open a new issue with a sample code (preferably a small repo that I can just clone)?

[2018-09-27 04:17] ramya-rao-a commented on #1941
In your first comment, did the file have the suffix `_windows.go`?

If no, then you have to set GOOS=windows specifically, otherwise there is no way for the editor to know which platform to use for GOOS

If yes, this issue is covered in #1848.

[2018-09-27 05:24] edp1096 opened #1945 "Import comment occurred error - "cannot find main module""
![import_error](https://user-images.githubusercontent.com/15924482/46124736-c3a7c080-c260-11e8-953e-6889896d4c71.png)

Go extension config
- go.inferGopath : true
- go.toolsGopath : same as global GOPATH

Tested code
* path of import comment is not real.
[code]

Steps to Reproduce:
1. Works fine with below path structure, workspace as main package root.
* When ```go mod tidy```, tool try to downlo

[2018-09-27 08:17] letjinxgo opened #1946 "Auto-completion doesn't work"
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/18941149/46130555-2e122e00-c26c-11e8-8851-f5febe7e95f9.gif)

When I want to get suggestion of my own func like (distributeCandies),  I need to move cursor,  click somewhere, and move it back.

Is it possible to get suggestions directly?
No need to move the mouse cursor.

my vscode settings：

{
    "workbench.iconTheme": "vscode-ic

[2018-09-27 09:03] nealot commented on #1946
You can press ctrl+space to trigger suggestions.

[2018-09-27 12:07] titogeorge commented on #1901
Tested on Ubuntu 18.4 LTS.

[code]

[2018-09-27 14:58] dreamheld commented on #1942
I wasn't able to respond to this last night, but I think my issue was indeed that I never killed gocode process.

The new beta (as of 20 min ago) seems to do the autocomplete for methods fine, but doesn't fill out the import statement automatically anymore. Also, package/method highlighting for the new package seems off. I'll poke more at it though

[2018-09-27 15:02] stamblerre commented on #1944
@ramya-rao-a thanks for reporting this. I just enabled issues and copied it to https://github.com/stamblerre/gocode/issues/3.

[2018-09-27 15:02] jadolg commented on #1935
Exactly the same behavior. Is there any other way to collect more information?

[2018-09-27 15:27] dreamheld commented on #1942
@uudashr how do I reinstall 'gopkgs'? using 'go get'?

[2018-09-27 17:06] dreamheld commented on #1944
You, guys, are awesome keeping on top of these things the way you do!!!

[2018-09-27 17:45] ramya-rao-a commented on #1942
@dreamheld

You mean that in a file where `packtest` is not yet imported, typing `pac` doesnt give you a completion item that would add the import?

If yes, then I can confirm that @uudashr's updated `gopkgs` tool will fix that.

Run `Go: Install/Update Tools`, select `gopkgs`, press OK. That will update the tool.

[2018-09-27 17:47] ramya-rao-a commented on #1944
@stamblerre Thanks! I'll keep this issue open because invariably, folks will log an issue in this repo.

[2018-09-27 17:54] ramya-rao-a commented on #1935
Yes of course, but before that try one more thing.

Instead of using the `debug test` codelens, use the debug configuration for debugging tests from the launch.json file.
See https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#set-up-configurations-in-launchjson

[2018-09-27 18:16] jadolg commented on #1935
This is the output I'm getting when I set the flags. The file and line exist both.
[code]

[2018-09-27 18:38] ramya-rao-a commented on #1945
Using your sample code and running `go mod tidy`, I dont see any errors.

Is the `pkghello` folder under your global GOPATH?
To use Go modules, your code should be outside of GOPATH

[2018-09-27 18:42] ramya-rao-a commented on #1946
Since you have the setting `go.useCodeSnippetsOnFunctionSuggest` enabled, you are using snippets to complete the functions. When you are adding the parameters to the function, you are still in snippet mode.

Inside snippet mode, tab is for moving across the different tab stops in the snippet, so auto-completion is disabled.

You can
- Press escape key to come out of snippet mode after auto-complet

[2018-09-27 18:42] #1946 closed

[2018-09-27 18:57] dreamheld commented on #1942
@ramya-rao-a , nope. I've updated @uudashr 's tool and everything works swimmingly with automatically adding the import statement and auto-completing the 'packtest' package name.

The only two issues remaining, it seems:
1. The one you mentioned in a thread above (with method filling showing up only after the method was used already).
2. Highlighting. Method/Package colors seem to not work anymore

[2018-09-27 20:30] dreamheld commented on #1942
![image](https://user-images.githubusercontent.com/6977284/46172853-ceaf2080-c261-11e8-9e2a-bf8402462129.png)

[2018-09-27 21:10] ramya-rao-a commented on #1942
I dont see any color issue .....

[2018-09-27 21:14] dreamheld commented on #1942
Ah, geez! My screen was in the night mode. so everything looked yellow. Duh... I apologize for wasting you time!

[2018-09-27 21:34] jadolg commented on #1935
yes I'm using symlinks

[2018-09-27 23:48] jadolg commented on #1935
I don't have much space on my main harddrive so I have a lot of things symlinked :blush:
[code]

[2018-09-28 00:56] ramya-rao-a commented on #1935
dlv created the breakpoint at `/home/akiel/GOLIBS/src/gitlab.cu.aleph.engineering/aleph.engineering/hivedm/other_test.go:6` where as vs code is trying to do so at `/media/akiel/data/GOLIBS/src/gitlab.cu.aleph.engineering/aleph.engineering/hivedm/other_test.go:6`

- Is the file physically under `/home/akiel/GOLIBS/` or `/media/akiel/data/GOLIBS`?
- What is the path of the folder opened in VS Code?

[2018-09-28 08:20] Nhoya commented on #1941
Yes you are indeed right, my issue is coverd in https://github.com/Microsoft/vscode-go/issues/1848 I think we can close this and continue there

[2018-09-28 08:20] #1941 closed

[2018-09-28 08:46] EmpireJones commented on #1929
Thanks, I created https://github.com/mdempsky/gocode/issues/66.
I'm not using go modules.

[2018-09-28 14:54] jadolg commented on #1935
* `/home/akiel/GOLIBS/` is a symlink for `/media/akiel/data/GOLIBS/`
* I always open my project @ `/home/akiel/GOLIBS/`
* The path resulting from `Copy Path` is `/media/akiel/data/GOLIBS/src/gitlab.cu.aleph.engineering/aleph.engineering/hivedm/other_test.go`

[2018-09-28 17:33] ramya-rao-a commented on #1935
Sorry for my ignorance, so the real files are under `/media/akiel/data/GOLIBS/` correct?

[2018-09-28 17:34] ramya-rao-a commented on #1941
Thanks @Nhoya
Please upvote #1848 so that we know how many users are seeing this issue

[2018-09-28 17:51] ramya-rao-a commented on #1945
If there is no `src` in your file path, then setting `inferGopath` to `true` will have no effect. But it is safer to set it to `false` when using Go modules.

$workspace
└─src
    └─pkghello
        └─pkghello.go

Here `$workspace` is your global gopath?
You are saying that running `go mod tidy` moved or copied your source files to the global gopath?

[2018-09-28 20:34] jadolg commented on #1935
indeed

[2018-09-29 01:34] prateek opened #1948 "[proposal] Visualising inline/escape analysis output"
Hey all,

I'd like to have VS Code visualise the output of the Go compilers escape analysis/inlining behaviour. For more context: http://www.agardner.me/golang/garbage/collection/gc/escape/analysis/2015/10/18/go-escape-analysis.html

Currently, I go to the command line to find this information and have to grep and try to match up lines by hand. It'd help immensely if I could instead have this pop

[2018-09-29 02:16] Qiaojiawei opened #1949 "out-line use high cpu"
Problem Datail:
When i use vscode edit  my go file, the cpu usage is very high, especially when the edited file was a go test file.
Steps to Reproduce:
1.open the go test file, add a go test function
2.you will found that it was very slow, the editer is  stucked
3.the process manager displayed that there are many go-outline.exe running( at least 4).
![test](https://user-images.githubusercontent.co

[2018-09-29 02:38] Qiaojiawei commented on #1949
i have try to delete the out-line.exe, then there is ok, but go test run buttion is missed.

[2018-09-29 03:52] Qiaojiawei commented on #1949
i have test my workspace in my colleague's environment, it seems that there no go-outline.exe runing when he edit the test file, or its too fast that i can't catch?

[2018-09-29 12:52] tamasf97 opened #1950 "(go modules) gotype-live doesn't recognize imports in go modules"
I'm posting the issue here because the gotype-live repo hasn't been touched for 2 years, and I don't know any other application that depends on it.

I would be more than happy to fix it, but it's beyond my knowledge at the moment. I believe the fix should be trivial for someone who knows his/her way around go compiling and package/module resolution though.

I'm using the latest beta of the extensi

[2018-09-29 13:05] tamasf97 opened #1951 "Errors show up as warnings in the latest beta"
![screenshot from 2018-09-29 15-03-55](https://user-images.githubusercontent.com/25967296/46246107-ebca2780-c3f8-11e8-89ce-2da7505e3ff5.png)

**repro steps:**
Open any .go file, and write code that shouldn't compile using the latest version of the extension.

[2018-09-30 17:16] brainsnail commented on #1886
I'll take a look at this one on the Atom repository. Should be fun 👍

[2018-09-30 20:57] brainsnail commented on #1931
If @jeffb4 isn't working on it. I'd be interested in taking a shot at it.

[2018-09-30 21:05] ramya-rao-a commented on #1950
Thanks for reporting @tamasf97

I've logged https://github.com/tylerb/gotype-live/issues/3 to track this issue upstream.

@tylerb

Would you have some time to look into this?
This tool is being tracked in https://github.com/golang/go/issues/24661 as well. So, folks from the Go tool team would be able to help if you have any questions working with modules.

[2018-09-30 21:09] ramya-rao-a commented on #1951
Are you sure you don't have the `go.buildOnSave` disabled?

`go build` and `go vet` would both give the same results for the above code.
Results from the former is shown as errors, the ones from the latter is shown as warnings.
When the same position has both error and warning, we show only the error.

I believe in your case, the build on save feature is disabled. Therefore, you are seeing the res

[2018-09-30 21:17] ramya-rao-a commented on #1949
@Qiaojiawei Thanks for reporting.

The `go-outline` tool is for 2 separate features in the background:
- The outline view in the explorer
- The codelens (buttons) for `run tests` and `debug tests` that you see above each test function.

Let's figure out which of the 2 features are resulting in the high cpu usage.

Please add the below in your setting to disable the codelens (buttons) for `run test

[2018-09-30 21:35] ramya-rao-a commented on #1931
We haven't heard back from @jeffb4, so go ahead @brainsnail.

[2018-09-30 21:42] ramya-rao-a commented on #1945
Is there any reason you have the `src` folder under `pkghello`? When `inferGopath` is set to `true`, it will set `workspace/pkghello` as GOPATH because your file is under `workspace/pkghello/src`.

Therefore, packages get created under `workspace/pkghello/pkg`. At this point if you have `GO111MODULE` set to `off` or `auto`, then Go assumes you don't want to use modules.

If you set `GO111MODULE` t

[2018-09-30 22:52] ramya-rao-a commented on #1935
The last think I need to know is the working directory from which dlv was launched by VS Code.

- Install the [beta-version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension
- Add `"trace": "verbose"` back to your debug configuration and debug using this configuration. In the logs, you will now get statements like `Current working direc

[2018-10-01 08:38] affanshahid opened #1953 "Could not import "..." with go modules"
I created a go module and installed some deps with:

[code]

Wrote the following in `main.go`:
[code]

When I run `go build && ./hello-world`, it runs fine. However when I go into vscode, I get the following:
<img width="669" alt="screen shot 2018-10-01 at 1 37 42 pm" src="https://user-images.githubusercontent.com/17955210/46278306-370e4280-c57f-11e8-8030-1645b2ec0e1a.png">

I'm not sure what I'm

[2018-10-01 09:14] knrt10 commented on #1459
@santos22 are you still working on this issue? If not, I would like to give it a try.

[2018-10-01 10:09] lkarlslund commented on #1948
That would be really nice. I'm doing the same as you manually, when optimizing code for inlining.

[2018-10-01 10:32] Southclaws commented on #1948
I've used this recently and had the same thought. For now, I made a quick tasks.json for it:

[code]

But it would be great to have a more in-built feature for this.

[2018-10-01 11:02] edp1096 commented on #1945
Because, I want to manage each projects separately. I don't want to mix pkg from several projects as my previous mention.
With ```dep```, go.inferGopath gave me huge help until go 1.10.

As [#2 in this](https://github.com/golang/go/wiki/Modules#how-to-define-a-module), I understood that ```go mod & project in gopath``` would give same effect as using dep, but maybe not :'(.

Thank you for your kin

[2018-10-01 11:02] #1945 closed

[2018-10-01 11:57] JoseFMP opened #1954 "Renaming functionality not working at all"
This bug happens in all operating systems. No matter what I set-up. Happens in Windows, Linux, and MaC.

**Steps to reproduce:**
1. Click on a symbol with the right button (not package name)
2. Click on "Rename Symbol" option in the context menu
![image](https://user-images.githubusercontent.com/24405049/46287169-dd703d00-c5ab-11e8-98f7-9cccea6d376a.png)

3. Enter the new different name of the sym

[2018-10-01 12:04] JoseFMP commented on #1944
To be fair, it also happens with imported packages.

[2018-10-01 13:16] pierrre opened #1955 "gometalinter custom linter not working"
My config:
[code]

It displays this in the output:
[code]

If I run manually the command from the message above it works.

[2018-10-01 14:21] jcbritobr opened #1956 "Test coverage no coloring all functions in source unit"
Hi all, the "toggle test coverage" isn't coloring go static functions

[code]

here a sample code and steps to reproduce:

unit point.go:

[code]

tests unit: point_test.go

[code]

Just run toggle test coverage. The results is below. Static functions ( NewPoint ) are not being covered and colored.

![image](https://user-images.githubusercontent.com/6579862/46294264-c7428c80-c56b-11e8-8e6d-faf0e40

[2018-10-01 19:10] tylerb commented on #1950
I'll take a look, but I doubt I can do much at this point. `gotype-live` is effectively a fork of `gotype` with the ability to pass in the data for a working file via stdin. As such, I probably need to wait for `gotype` to be updated to work with go modules, then merge those changes into my fork.

[2018-10-01 19:52] brainsnail commented on #1931
Hey @ramya-rao-a!

I've got something sort-of-working in a branch, but I keep running into `"ENOENT: no such file or directory, open '[rootdirectoryofrepo]/.gitmodules'` when switching to the `file` option for `lintOnSave`. The call stack has the proper linting occurring - I'm declaring a variable and not using it in my Go code, but the lint result isn't it making it back up to the dev instance of

[2018-10-01 19:54] youngderekm opened #1957 "Start Without Debugging still launches program in debug mode"
I'm trying to launch a go program without debugging (debugging works fine).  I have a single launch configuration, open the source file I want to launch, then choose "Debug: Start Without Debugging".  I see in the debug output and in ps that dlv is still used to execute the program.  I've restarted and reloaded.  Is there something wrong with the launch configuration that would cause this?

My lau

[2018-10-01 23:32] tamasf97 commented on #1951
Ah that was it then, sorry. I used gotype-live before with the auto build feature disabled. After enabling build on save it works now.

[2018-10-01 23:32] #1951 closed

[2018-10-01 23:41] tamasf97 commented on #1953
Go modules are still pretty new and aren't supported by a lot of tools. Make sure you use the latest beta of this extension(https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension), and disable live errors, as they aren't supported yet.(related: https://github.com/Microsoft/vscode-go/issues/1950).

[2018-10-02 10:49] uudashr commented on #1939
Ya... same here with me. For project under GOPATH and also the module project. Even the `fmt` doesn't shows any completion.

[2018-10-02 15:01] lheinrichde opened #1959 "Problems exist after file is deleted"
Steps to Reproduce:

1. Create a .go file.
2. Type in something wrong.
3. Delete file.

The problem stil exists.

![grafik](https://user-images.githubusercontent.com/18228328/46357192-9c882f00-c664-11e8-9cc2-761c25155682.png)

[2018-10-02 15:20] flyinprogrammer opened #1960 "Stop putting Go-latest.vsix in the github repo"
Your repo is now 89mb to do a full clone. This is incredibly painful for most of the world to actually download.

This could be avoided if we purged the history of Go-latest.vsix from the repo, and instead used github releases with pre-release tags, or if ya'll actually hosted this module somewhere - maybe show off the power of Azure Storage😉?

[2018-10-02 16:29] stamblerre commented on #1939
@wolfeidau I wasn't able to reproduce using your case. The very first completion is a little slow, but after that, the stdlib was completing fine.

[2018-10-02 17:15] ramya-rao-a commented on #1931
@brainsnail Can you share the link to your branch?

[2018-10-02 17:17] ramya-rao-a commented on #1950
@tylerb Understood.

On a side note, can you resolve https://github.com/tylerb/gotype-live/issues/1?

[2018-10-02 17:21] ramya-rao-a commented on #1953
@tamasf97 is right.

@affanshahid That definitely looks like the error from the live errors feature. Like @tamasf97 said, can you disable the live errors feature and try again?

Also, keep an eye on our wiki [Go modules in VS Code](https://github.com/Microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code) for current status on Go modules support.

[2018-10-02 17:27] tylerb commented on #1950
Whoops! Not sure how that slipped by me. I resolved it.

[2018-10-02 18:46] ramya-rao-a commented on #1954
@JoseFMP Are you using Go modules?

[2018-10-02 19:11] ramya-rao-a commented on #1955
Are you sure `vetshadowstrict` is supported by `gometalinter`? I dont see any reference to it in the gometalinter repo. See https://github.com/alecthomas/gometalinter/search?q=vetshadowstrict&unscoped_q=vetshadowstrict

[2018-10-02 19:15] ramya-rao-a commented on #1956
First lets make sure that the coverage data provided by Go has the static function covered.

- Open the `View` menu, choose `Output`
- Run the coverage command
- Choose `Go Tests` from the drop down on the top right corner of the Output panel

Here you will see the command used to get the coverage as well as the file to which the coverage was written.

Open this file, and check if the coverage the

[2018-10-02 19:15] brainsnail commented on #1931
@ramya-rao-a Yep, absolutely - https://github.com/brainsnail/vscode-go - I intend to clean up what I added in `goLint.ts` once I am able to verify the functionality, so this is definitely a WIP.

[2018-10-02 19:16] ramya-rao-a commented on #1957
`Start Without Debugging` only works when the `program` points to a file and not a directory.

To `Start Without Debugging`, behind the scenes I run `go run` which only accepts file and not directory.

So change the `program` to your file or just `${file}` and it should work

[2018-10-02 19:16] #1957 closed

[2018-10-02 19:17] pierrre commented on #1955
That's why I added `"--linter='vetshadowstrict:go vet -shadow -shadowstrict:PATH:LINE:MESSAGE'",` in the command line.
It allows to add custom linter command.
I don't understand why it works when I run the command manually in my terminal, but it doesn't work in vscode.

Anyway, after some thought, I decided not to use "vet shadow" in my app, because it has too many "false positive".
So it's not re

[2018-10-02 19:18] ramya-rao-a commented on #1959
The reason for this is that we run `go build` only on file save. So when you delete a file, the build is not triggered and so the errors are not refreshed.

If you dont want to commit a dummy change to trigger a save, you can also run the command `Go: Build Current Package` and the error should go away.

[2018-10-02 19:18] #1959 closed

[2018-10-02 19:38] pierrre commented on #1955
I can simplify my problem to:
[code]

It prints:
[code]

If I run this command in my terminal, it works.

It seems to be an "escaping" issue, but I don't understand why.
This is working:
[code]

I added simple quotes in my original command, because it contained spaces between the flags `-shadow -shadowstrict`.
But it causes an issue in vscode-go.

[2018-10-02 21:55] alecthomas commented on #1955
This is normal behaviour. Quotes are only interpreted by the shell, however most other applications (including vscode) execute subprocesses directly and treat the quotes as literals.

[2018-10-02 21:57] pierrre commented on #1955
OK, so it doesn't seem to be a real problem.
I'm closing the issue.
Thanks !

[2018-10-02 21:57] #1955 closed

[2018-10-02 22:39] ramya-rao-a commented on #1955
Thanks @alecthomas!

[2018-10-03 00:13] ramya-rao-a commented on #1931
`cwd` is always meant to have the current working directory. Looking at your changes, it has the file path instead when `lintOnSave` is set to `file`.

I believe the change should be that `lintOnSave` is set to `file`, the file should be passed as an argument.

[2018-10-03 00:16] alecthomas commented on #1939
Another data point: `gocode-gomod` is *much* slower than `gocode`, when it does work. On a large codebase it takes ~5 seconds to bring up a local receiver completion list whereas `gocode` is basically instantaneous :(

[2018-10-03 02:56] axetroy commented on #1928
I have been expecting this feature for a long long time, but it has never been implemented.

In fact ``goLand`` integrates this function very well.

This is worth learning and reference.

those great feature in ``goLand``:

**1. Tree View for External Libries**

![2018-10-03 10 48 28](https://user-images.githubusercontent.com/9758711/46387580-f0912300-c6f9-11e8-8a63-ec55026c70f7.png)

**2. command

[2018-10-03 03:31] ramya-rao-a commented on #1939
@alecthomas It is known that `gocode-gomod` is generally slower. But it is to be used when `gocode` doesnt give results.
If what you said before still holds and you see this when you vendor your dependencies and use modules at the same time, then as requested in https://github.com/Microsoft/vscode-go/issues/1939#issuecomment-424950452, can you please log a new issue with a small sample repo?

[2018-10-03 04:17] alecthomas commented on #1939
@ramya-rao-a I'm guessing it is environment-specific, as @wolfeidau  has produced a test repo that fails for him, but does not for @stamblerre. So I don't think I'd be able to add anything that @wolfeidau 's existing repo doesn't already.

[2018-10-03 05:05] uudashr commented on #1939
Same here with me... the autocomplete doesn't works by using @wolfeidau case

[2018-10-03 09:39] uudashr opened #1962 "New `iferr` snippets on 0.6.90-beta.9"
vscode-go version: 0.6.90-beta.9

The new `iferr` snippet expand to:
[code]

I'm not seeing this as generic cases. We are not always need `return nil, err` or `return err` which covered by the new snippet, but for testing purpose such as `t.Error(err)` need extra works. Is there a workaround to accommodate for such non-returning statement case. Since unit test are also important deliveries.

Give

[2018-10-03 16:33] ramya-rao-a commented on #1939
@wolfeidau

Using your repo and the repro steps in the README of your repo, I do see that there is no completions for the `base64` package. But, once I save the file after typing `base64.anything()`, subsequent completions work as expected.

#1944 is tracking the case where auto-completions dont work, unless a package has been imported and used atleast once in the saved version of the file. I beli

[2018-10-03 16:41] ramya-rao-a commented on #1962
@uudashr Good point

cc @alecthomas who made the update.

@alecthomas We could revert the change to the `iferr` and create a new snippet for what you had in mind i.e returning `nil, err` or `err`

[2018-10-03 21:49] ramya-rao-a commented on #1962
I wanted to release the update today, so I have reverted the change to `iferr` and created a new snippet `iferrret` with the changes proposed by @alecthomas

We can continue the discussion here though.

[2018-10-03 21:50] wolfeidau commented on #1939
@ramya-rao-a I have tried doing as you instructed.

Open `main.go` and add a line with `base64.anything()`, then save the file, then remove `.anything()` and type something else and I still get.

[code]

I started digging into the fork which @stamblerre is currently maintaining, then quickly got lost in the go tools packages adding printf statements.

We really need to know where `gocode-mod` is l

[2018-10-03 21:57] ramya-rao-a commented on #1960
Good point.

The challenge always was to use the same link for the download, no matter the version of the extension.
I can use the Github releases, but the link would change based on the tag name.

The only way to keep the link consistent would be to re-use the tag.
This requires a few extra steps from my side every time I have an update
- delete existing `latest` tag
- tag the current commit as `

[2018-10-03 21:57] #1960 closed

[2018-10-03 21:58] ramya-rao-a commented on #1522
This should now be available in the latest update to this extension (0.6.90). Thanks to @biancarosa!

[2018-10-03 21:58] #1522 closed

[2018-10-03 21:59] ramya-rao-a commented on #1842
The new `go.testTags` setting is now available for use in the latest update to this extension (0.6.90)

[2018-10-03 21:59] ramya-rao-a commented on #1889
This but is now fixed in the latest update to this extension (0.6.90)

[2018-10-03 22:00] ramya-rao-a commented on #1917
The fix for this is now out in the latest update to this extension (0.6.90)

[2018-10-03 22:01] ramya-rao-a commented on #1905
The fix for this is now out in the latest update to this extension (0.6.90)

[2018-10-03 22:01] ramya-rao-a commented on #1884
The fix for this is in the latest update to this extension (0.6.90)

[2018-10-03 22:02] ramya-rao-a commented on #1906
The fix for this is now out  in the latest update to this extension (0.6.90)

[2018-10-03 22:02] ramya-rao-a commented on #1911
The fix for this is now out in the latest update to this extension (0.6.90)

[2018-10-03 22:03] ramya-rao-a commented on #1876
In the latest update to this extension (0.6.90), we use v2 by default. `useApiv1` is replaced with `apiVersion`

[2018-10-03 22:04] ramya-rao-a commented on #1945
Thanks for reporting this @edp1096

I have made a change to disable the `infergopath` setting automatically if you have it on when using Go modules. This change is out in the latest update to this extension (0.6.90)

[2018-10-03 22:12] ramya-rao-a opened #1963 "Completions not working for stdlib when using Go modules"
_By @wolfeidau from https://github.com/Microsoft/vscode-go/issues/1939#issuecomment-426816007_

Open `main.go` and add a line with `base64.anything()`, then save the file, then remove `.anything()` and type something else and I still get.

[code]

I started digging into the fork which @stamblerre is currently maintaining, then quickly got lost in the go tools packages adding printf statements.

We

[2018-10-03 22:12] ramya-rao-a commented on #1939
@wolfeidau I've logged #1963 to continue the discussion

[2018-10-03 22:13] ramya-rao-a commented on #1939
Everyone,

Thanks a lot for the participation!

0.6.90 version is now released.

If you have further feedback, please feel free to open an issue.

[2018-10-03 22:13] #1939 closed

[2018-10-03 22:14] ramya-rao-a commented on #1963
cc @alecthomas

@stamblerre What else can @wolfeidau and @alecthomas  do here? If you can provide some pointers, maybe they can debug the issue and provide more details

[2018-10-03 22:58] schroding3rscat opened #1964 "Default Delve port 2345 is in exclusion range in Windows 10 October 2018 Update"
Today I noticed that I'm unable to debug any of my Go projects in vscode. I spent quite a time discovering that since the last Windows 10 October 2018 Update Microsoft added a bunch of ports to exclusion range.

This is what I get with 1709 version:
<img width="539" alt="screenshot_1" src="https://user-images.githubusercontent.com/3431598/46443800-b4040c80-c777-11e8-8ef3-fb7ff559921f.png">

And th

[2018-10-04 05:12] #1936 closed

[2018-10-04 14:20] AlexRouSg opened #1966 "gocode-gomod and godef-gomod fails to install on multi path gopath"
Steps to Reproduce:

1. Have a multi path gopath, e.g. `C:\folder1;C:\folder2; `
2. Run command Go: Install/Update Tools
3. Select all

Looks like the script is assuming gopath is a single path and blindly passing gopath around.

[code]

[2018-10-04 15:39] stamblerre commented on #1963
There have been some instances where `go list` fails on broken code, and it seems like this is possibly such a case. A few things to ask - what is your $GOROOT, what is the result of running `go env GOMOD`, is the directory outside of your $GOPATH, and what is the output of `go list -e -json -compiled`?

[2018-10-05 06:43] egonelbre opened #1967 "Comments in the beginning of file throw off code insight"
In a repository with modules, comments in the beginning of the file are throwing off gocode-gomod (or godef-gomod or something else, not completely sure).

Without comment:
![2018-10-05 09_40_20-window](https://user-images.githubusercontent.com/192964/46519928-ddf62580-c882-11e8-87de-674518ff6af7.png)

With comment:
![2018-10-05 09_41_31-window](https://user-images.githubusercontent.com/192964/465

[2018-10-05 09:26] MathiasGr opened #1968 "Testify suite tests not running"
Starting from at least 0.6.90, tests bound to testify suites aren't detected by the vscode-go extension. Thus neither codelens or the "Test function at cursor" work anymore for this kind of test.

I also found a *second issue* while debugging the extension, which drove me crazy because it made the example suite from the [testify github page](https://github.com/stretchr/testify) work and show codel

[2018-10-05 10:48] jbrodriguez opened #1970 "go.{mod,sum} created automatically"
I'm starting to migrate my projects out of GOPATH, so I set

[code]

If I don't do this, projects outside GOPATH show lint error

[code]

The issue is, when I switch to a project under GOPATH, with GO111MODULE on, it creates go.mod and go.sum automatically (withouth go mod init), since it runs go build

[code]

I thought the last update would fix this.

Is there any workaround ?

[2018-10-05 12:15] lanox opened #1971 "go definition or peak takes long time"
Hi,

I seem to have issue where ```go to definition or peak``` takes long time to display anything , also if I hold command and hover over the method, all i get is ```loading``` for good 10 sec or more before it show anything.

[2018-10-05 15:49] ramya-rao-a commented on #588
@conradwt No one is working on this at the moment as far as I know.

[2018-10-05 15:57] egonelbre commented on #1927
For converting the converprofile to absolute paths, a minimal tool can be used https://gist.github.com/egonelbre/6b0e3048bb28423d52a62ed1633e693d

[2018-10-05 16:38] ramya-rao-a commented on #1927
Thanks @egonelbre
I am hesitant to add yet another tool that the user will have to install to enable this feature, when we have most of the information we need to deduce the absolute path already with us.

[2018-10-07 00:50] ramya-rao-a opened #1973 "File paths in the test output are not clickable when using Go modules"
Steps to Reproduce:

1. In a project using Go modules, write a test that will fail
2. Run the test using any means: codelens or the test commands

The output contains only the file name and is not clickable:

![image](https://user-images.githubusercontent.com/16890566/46577040-3d8e2700-c990-11e8-991f-7af022d10658.png)

When not using Go modules, the output contains the absolute path of the file an

[2018-10-07 01:45] ramya-rao-a commented on #1970
As per the docs on [GO111MODULE](https://github.com/golang/go/wiki/Modules#when-do-i-get-old-behavior-vs-new-module-based-behavior), setting `GO111MODULE` to `on` forces the module behavior.

For your case, I would suggest to update `go.toolsEnvVars` setting in the workspace settings instead of user settings. This way, it will be applied only to the project you are moving out of GOPATH.

Another w

[2018-10-07 01:45] #1970 closed

[2018-10-07 01:50] ramya-rao-a commented on #1967
I dont see this...

Have you changed the value for the below settings? If yes, can you share what you set them to?
- `go.useLanguageServer`
- `go.docsTool`

[2018-10-07 04:50] ramya-rao-a commented on #1968
Thanks for reporting @MathiasGr! And fixing it too :)

I have pushed your fix to master. Can you try out the [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension and confirm that the fix works?

[2018-10-07 04:52] ramya-rao-a commented on #1927
I have pushed a fix to master. Can folks here try out the [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension and confirm that the fix works?

[2018-10-07 05:53] egonelbre commented on #1967
No, those are default. I've already sent a PR for godef-gomod to fix the offset calculation bug.

I forgot to clarify that it needs to be outside of GOPATH and it needs to have a go.mod file (otherwise it doesn't trigger the gomod specific tooling).

[2018-10-07 10:09] christian-boks opened #1974 "Wrong variable scope displayed when debugging"
The debugger shows variable content from the wrong scope:

![image](https://user-images.githubusercontent.com/10370084/46580628-b50f9500-ca28-11e8-8bcf-c299bd42cfe3.png)

Program output:
Inner animal: cat
Outer animal: dog

Using:
Delve Debugger
Version: 1.1.0
Build: $Id: 1990ba12450cab9425a2ae62e6ab988725023d5c $

And Go Extension v 0.6.90

[2018-10-07 11:45] alecthomas commented on #1962
I just press the "select line" key combo and start typing in this situation. Another alternative would be to have a completion fragment cover the whole return, as well as the sub-parts.

But it's already been reverted so 🤷‍♂️

[2018-10-07 21:39] wolfeidau commented on #1963
@stamblerre This is where my things are, it is a fairly vanilla install.

[code]

Here is the output of go list as requested.

[code]

[2018-10-08 01:44] Qiaojiawei commented on #1949
@ramya-rao-a   sorry for the late replay,we just put a long vacation.
I have add the setting you wrirte here in the Setings.json, then edit the go file, the cpu run at 40%~50%(before its 100%s), so  whats the problem?

[2018-10-08 12:08] mnewswanger commented on #1967
I'm able to repro

[2018-10-08 16:42] stamblerre commented on #1963
Thanks for sending this. As I expected, the problem looks to be with "go list", as your imports should also like "encoding/base64" if you have that line in the file. Just to confirm - have you saved the file with the import in it?

[2018-10-08 17:35] ramya-rao-a commented on #1967
Now I see it.

Thanks @egonelbre!

[2018-10-08 17:38] ramya-rao-a commented on #1949
Can you disable the outline view as well and then see what the CPU usage for `go-outline` is?

![image](https://user-images.githubusercontent.com/16890566/46624649-54df2880-cae6-11e8-8f03-44774d6717cd.png)

[2018-10-08 17:41] ramya-rao-a commented on #1962
You mean like this:

`if err != nil {\n\t${1:return} ${2:nil, err}\n}`?

[2018-10-08 17:47] ramya-rao-a commented on #1459
Everyone, Thanks for your patience, this issue got lost in a sea of notifications and so I couldnt respond sooner :(

I created this issue in January when it made good sense to have this feature.

Since June, the original `gocode` is no longer suggested to be used. Instead we use its [fork](https://github.com/mdempsky/gocode) which has its own issues with external packages.  Plus, now with module

[2018-10-08 17:47] #1459 closed

[2018-10-08 22:04] ahmetb opened #1978 "Regexp used by "run test" functionality causing subtests not to run"
I have a test generated from VSCode's "Generate Tests for this Method" functionality. Therefore it leverages [subtests](https://blog.golang.org/subtests) and uses `t.Run(...)`.

However if I hit `run test` label on top of the test method, it uses a regexp that fails to execute the subtests of this method.

Example:

![image](https://user-images.githubusercontent.com/159209/46635991-2f184a80-cb0b-1

[2018-10-08 23:56] Qiaojiawei commented on #1949
@ramya-rao-a  thanks for replay, my operate step as follows:
1)nothing changed, then cpu usage is 100% when i edit the go file

2)add  _"go.enableCodeLens": {"references": false,	"runtest": false}_ to the settings.json, the cpu usage is about 50%~70%.
![1](https://user-images.githubusercontent.com/26373243/46639282-bad7b880-cb97-11e8-95f3-a33e4e1ccd81.png)

3)nothing changed, but disable outline,

[2018-10-09 02:19] Betula-L opened #1979 "Install gocode-mod and godef-mod failed followd by vscode tips"
If this is a bug report, please share
- a sample code which can be used to reproduce the issue
- any Go related settings you might have added/changed

Steps to Reproduce:

(My go extension is https://github.com/Microsoft/vscode-go/releases/download/latest/Go-0.6.91-beta.2.vsix )

1. Create a empty project
2. Run go mod init and an empty main.go
3. Then vscode will instruct user to install gocode-m

[2018-10-09 02:53] uudashr commented on #1962
Got clue from @alecthomas
Might be like this `if err != nil {\n\t${1:return ${2:nil, }${3:err}}\n}`

[2018-10-09 08:17] mrg0lden commented on #1927
@ramya-rao-a I tried to install the forked tools after installing the latest beta

I got these errors
[code]

go version
``` go version go1.11.1 windows/amd64 ```
go env
[code]

[2018-10-09 08:55] egonelbre commented on #1927
@mrg0lden the package interfaces changed so the programs need adjusting (caused by commit https://github.com/golang/tools/commit/2f1727f1b37d7d257665debc72d4ae0b8e449748)

[2018-10-09 09:28] Scapal commented on #1979
This commit in `golang.org/x/tools/go/packages` introduces a breaking change:
https://github.com/golang/tools/commit/2f1727f1b37d7d257665debc72d4ae0b8e449748#diff-04792145c70ebd708928684da4875fe9R108

Both `github.com/ianthehat/godef` and  `github.com/stamblerre/gocode` depend on this.

[2018-10-09 09:30] Scapal commented on #1966
This commit in `golang.org/x/tools/go/packages` introduces a breaking change:
https://github.com/golang/tools/commit/2f1727f1b37d7d257665debc72d4ae0b8e449748#diff-04792145c70ebd708928684da4875fe9R108

Both `github.com/ianthehat/godef` and  `github.com/stamblerre/gocode` depend on this.

[2018-10-09 09:51] AlekSi opened #1982 "Please change Go file icon"
I created semi-humorous issue #1033 in the past. With VSCode 1.28 this becomes a serious problem: the eyeless gopher follows me even in Finder. Just look at the image from the [changelog](https://code.visualstudio.com/updates/v1_28#_file-icons-per-file-type):
![](https://code.visualstudio.com/assets/updates/1_28/file-icons.png)
Please use https://github.com/jesseweed/seti-ui/blob/master/icons/go.s

[2018-10-09 10:33] AwesomeObserver commented on #1982
I think that better use new Go logo.

[2018-10-09 10:35] AlekSi commented on #1982
I disagree: we love our mascot, and it does not go anywhere even with new branding.

[2018-10-09 10:48] mrg0lden commented on #1927
Well, I managed to compile both of them, but now I get a notification that says: "Auto-completion feature failed as an older gocode process is still running. Please kill the running process for gocode and try again.".

[2018-10-09 11:40] BillyPurvis commented on #1982
I for one approve our new halloween eyeless Gopher.

[2018-10-09 11:45] yfwz100 commented on #1979
By changing the function signatures (omitting the third parameter), it seems to work fine.

[2018-10-09 15:21] AlexRouSg commented on #1966
@godblesshugh That issue is unrelated

[2018-10-09 15:52] ramya-rao-a commented on #1953
Closing as duplicate of #1950

[2018-10-09 15:52] #1953 closed

[2018-10-09 17:04] ramya-rao-a commented on #1927
@mrg0lden This issue is tracking the problem with code coverage when using Go modules. Based on what you are saying above, your problem has nothing to do with code coverage. Or am I missing something?

Otherwise, the issue with installing the forks is being tracked in #1979

[2018-10-09 17:04] ramya-rao-a commented on #1979
cc @ianthehat, @stamblerre

[2018-10-09 17:10] mrg0lden commented on #1927
@ramya-rao-a Yeah you're right. Sorry, got excited with the update and thought it has to do with auto-completion.

[2018-10-09 17:18] ramya-rao-a commented on #1949
Thanks for the detailed steps!

Can you try the same thing again with a smaller simpler test file?
And does this happen only when editing test files? What about non-test Go files?

[2018-10-09 17:20] marwan-at-work opened #1983 "Modules: GoToDef should go to vendor if vendor is present"
In the module system, your dependencies can either be in $GOPATH/pkg/mod or in a local vendor folder. Having a local vendor folder is still important if you want to debug things since the global cache is read-only. Gohack is a tool that lets you get around that, but it can get tedious.

VSCode should recognize a project has a vendor folder, and then pass the `-mod=vendor` option when going to a de

[2018-10-09 17:31] pbarker commented on #1979
why use a forked version of `godef` here? We're somewhat at @ianthehat's mercy as to whether he's even around. Perhaps this is a good time to move upstream if we don't have a compelling reason otherwise

[2018-10-09 18:08] ramya-rao-a commented on #1979
@Betula-L Thanks for reporting!

I see that @egonelbre has already submitted a [PR](https://github.com/ianthehat/godef/pull/3) to fix the issue for godef. The PR is merged, so godef should be good. Thanks @egonelbre!

@stamblerre has pushed a fix for gocode as well.

All,
Please run `Go: Install/Update Tools`, select `godef-gomod` and `gocode-gomod`, press OK to install/update them.

[2018-10-09 18:08] #1979 closed

[2018-10-09 18:13] ramya-rao-a commented on #1979
@pbarker We use the @ianthehat's forked version of `godef` to provide the `Go to definition` feature when using Go modules. You can choose to use `gogetdoc` instead if you want by adding the setting `"go.docsTool": "gogetdoc"`

[2018-10-09 18:15] ramya-rao-a commented on #1927
@mrg0lden No problem, #1979 is now resolved. Please see
https://github.com/Microsoft/vscode-go/issues/1979#issuecomment-428292910

[2018-10-09 18:17] pbarker commented on #1979
thanks for the context @ramya-rao-a, would it maybe make sense to fork that into the `Microsoft` namespace so there are at least multiple people able to push a fix in the event @ianthehat is unavailable?

[2018-10-09 19:02] ramya-rao-a commented on #1979
We won't be moving the fork to the `Microsoft` namespace, because Microsoft doesn't own the fork and neither do we maintain it.

@ianthehat leads the Go tools team in Google and is leading the effort in adding Go modules support in various Go tools in the Go ecosystem.  See https://github.com/golang/go/issues/24661

Today's incident was unfortunate, but it by no way means that @ianthehat is unavai

[2018-10-09 19:12] #1954 closed

[2018-10-09 19:24] d8660091 opened #1984 "Go to definition doesn't work when the first line is comment"
Steps to Reproduce:

1.
[code]
2. Put mouse before Println, go to definition, no definition will be found. However, if cursor is put at the first character of fmt, it will jump to Println's definition.

[2018-10-09 19:49] d8660091 commented on #1984
It only happens to `godef-gomod`

[2018-10-09 20:12] #1956 closed

[2018-10-09 20:27] d8660091 commented on #1984
@egonelbre thanks, I'm closing it now

[2018-10-09 20:28] #1984 closed

[2018-10-09 21:08] alecthomas commented on #1971
I don't have a solution for "Go to definition" or "Peek definition", but I was also experiencing insanely long completion times (5-10 seconds). Enabling the language server with the following experimental flags brought this back to acceptable times:

[code]

[2018-10-09 21:38] willfaught opened #1985 "Hover info about a field doesn't show the type's package"
For example:

<img width="524" alt="screen shot 2018-10-09 at 2 26 49 pm" src="https://user-images.githubusercontent.com/63830/46700027-89c7aa00-cbd0-11e8-8a9f-c8eafa23dd1a.png">

The the hover info about the field `r.Facets` is "Facets []ItemFacetToRetrieve", which suggests the type is declared in the same package, but you can see in the left part of the image that the actual package qualifier is

[2018-10-09 22:03] lanox commented on #1971
@ramya-rao-a  Yes I am using go modules and I am on go 1.11.1, using vscode Version 1.28.0 (1.28.0)
also I seem to have issues where go to definition is no longer working at all.

However testing go to def in vi using vim-go works fine, I am not sure if that helps anything or not.

[2018-10-09 23:18] ramya-rao-a commented on #1974
We get the variable information from delve.

Can you try running `dlv` from the command line to debug your code, run `locals` to get the local variables and see if `animal` points to `dog` or `cat`?

[2018-10-09 23:44] ramya-rao-a commented on #1982
How in the world did this issue get 38 upvotes in 14 hours???
I didnt know we had such a traffic.

@AlekSi Did you happen to tweet this issue? Or use some other magic to get this much attention? I would love to know as I’d like to follow whatever you did when I want more people to try out some of the changes before I release an update to this extension :slightly_smiling_face:

Anyway, I tried usin

[2018-10-09 23:45] ramya-rao-a commented on #1985
Do you see anything different when you use the setting `"go.docsTool": "gogetdoc"` ?

[2018-10-10 03:43] Delphier commented on #1966
same issue +1

[2018-10-10 03:46] willfaught commented on #1985
I see something like `field Facets []foo.com/import/path.ItemFacetToRetrieve`, which is basically what I want. Thanks! Why not have that be the default?

[2018-10-10 03:48] AlexRouSg commented on #1966
Thought I'd tell everyone the workaround just incase no one figured it out yet. Set `go.toolsGopath` in the settings so it will then only have one gopath location.

[2018-10-10 03:52] AlekSi commented on #1982
That was a combination of [the power of Twitter](https://twitter.com/paaleksey/status/1049599618449887239) and the power of Golang Russian Slack chat. Unlike trying a new version of the extension, hitting 👍 and moving on takes much less time. Still, I follow you and will forward your requests to our chat.

So, to move forward, we need either a new icon or to add eyes to the current one.
On that pi

[2018-10-10 05:42] chainhelen commented on #1974
![image](https://user-images.githubusercontent.com/7046329/46715363-3ddd3980-cc92-11e8-80fd-4532b539823a.png)

[2018-10-10 14:15] Qiaojiawei commented on #1949
@ramya-rao-a  I have test the simple go program like follows:
func main(){

	log.Println("Hello world")
	log.Println("Hello world 11")
	log.Println("Hellow")
	log.Println("Hellow")
	log.Println("Hellowr")
	log.Println("Hello  world")
	log.Println("Hello word2 ")
	log.Println("Hello world 3")
	log.Println("Hello world 4")
	log.Println("Hello world5")
}

when type a line, the cpu usage is 100% perce

[2018-10-10 15:36] Scapal opened #1986 "Format on save not working with cmd folders"
The format tool is not working properly when I'm under a `/cmd`folder, ex. `/cmd/server/main.go`.

To be more precise, under that tree branch, only `"go.formatTool": "gofmt"` works properly, all the other formatters wouldn't format on save.
Manually calling "Format Document" works as expected.

vscode 1.28.0
ms-vscode.go 0.6.90

[2018-10-10 18:30] ramya-rao-a commented on #1982
Thats what I think too.

In that picture, I am on a Mac with zoom level 1 (`"window.zoomLevel": 1) and the default light theme.
Other than that I am using the default settings.

[2018-10-10 18:52] ameissnersofi commented on #1986
I'm seeing similar behavior, but not with `cmd` folders.  I'm seeing this whenever a module is present (`go.mod`, `go.sum` files)

[2018-10-10 18:58] ramya-rao-a commented on #1973
This is fixed in the latest update to the Go extension (0.6.91)

[2018-10-10 18:58] #1973 closed

[2018-10-10 18:58] ramya-rao-a commented on #1968
This is fixed in the latest update to the Go extension (0.6.91)

[2018-10-10 18:58] #1968 closed

[2018-10-10 18:59] ramya-rao-a commented on #1962
This is fixed in the latest update to the Go extension (0.6.91)

[2018-10-10 18:59] #1962 closed

[2018-10-10 18:59] ramya-rao-a commented on #1927
This is fixed in the latest update to the Go extension (0.6.91)

[2018-10-10 18:59] #1927 closed

[2018-10-10 19:01] Scapal commented on #1986
I also use Go 1.11 modules.

I don’t have problems in the other local packages of my project, only the `main` packages under `/cmd`.

Maybe the `package main` is the common pattern.

[2018-10-10 20:49] sjdweb opened #1987 "Debugger not hitting breakpoints"
If this is a bug report, please share
- a sample code which can be used to reproduce the issue
- any Go related settings you might have added/changed

launch.json
[code]

Steps to Reproduce:

## Adding a breakpoint when running
1. Add breakpoint in go-kit service layer
2. Hit endpoint and nothing happens
*Output*:
[code]

## Adding a breakpoint before running debug
1. Add breakpoint in go-kit serv

[2018-10-10 23:37] #1822 closed

[2018-10-11 01:29] willfaught opened #1989 "The debugger doesn't show pointer values (like 0xf800000040)"
So it seems like you can't tell if two pointers point to the same thing.

<img width="621" alt="screen shot 2018-10-10 at 6 25 33 pm" src="https://user-images.githubusercontent.com/63830/46774970-f36fb300-ccb9-11e8-944c-64c26a611fdd.png">

Latest version of macOS High Sierra (10.13.6 (17G65)), VSCode (1.28.0), and vscode-go (0.6.91).

[2018-10-11 02:14] scriptonist commented on #596
@ramya-rao-a I may be able to help with this.

[2018-10-11 08:06] christian-boks commented on #1974
This is the output I get when running `dlv`

[code]

[2018-10-11 12:11] mhr3 commented on #1968
Still having a problem with this, even with 0.6.91, does the fix only work with module-based projects or something like that?

[2018-10-11 12:12] altimac opened #1990 "Can't copy value from the Debugger Variables list (Go/Delve)"
Issue Type: Bug
I'm using the Go delve debugger (remote mode) inside VSCode and right clicking any of the local variables in the debugger (displaying the correct variable values!) only displays a disabled contextual menu where I can't copy (or set) value.

Copying a variable value from the debugger is pretty basic debugging workflow.

Thanks
<img width="445" alt="screen shot 2018-10-11 at 11 26 17

[2018-10-11 13:50] MathiasGr commented on #1968
@mhr3 did you set the option `"go.gotoSymbol.includeImports": true ` ?

If you did, one issue might be that your suite is defined in another file, and `testify/suite` isn't imported in your test file. You can fix it by putting this line somewhere in your test file:
[code]

[2018-10-11 14:07] karthikraobr commented on #1916
Is this up for grabs? I can have a look at it, if available.

[2018-10-11 14:51] vimalk78 commented on #8
any plans for implementing the 'guru peers' command?
if no one is doing, i want to attempt it.

[2018-10-11 14:57] bsvec opened #1992 "Release Notes Not Updated"
The release notes in the [wiki](https://github.com/Microsoft/vscode-go/wiki/Release-Notes) don't seem to have been updated since `v0.6.89` on 8/30.  Is it not being maintained any longer or was this just an oversight?

[2018-10-11 15:31] haleyrc commented on #1836
This recently caused some confusion for me as the heuristic is overly greedy and will prepend the absolute path even if the short filename isn't the first item in the entry such as when you use both `log.Ltime` and `log.Lshortfile`. In fact, it does this even if using `log.Llongfile`.

[2018-10-11 15:58] MathiasGr commented on #1968
Well I'm afraid setting this setting `includeImports` to `true` is the only way to fix it right now.

[2018-10-11 16:20] mrwonko opened #1993 "golint fails to install due to wrong import path"
When trying to install the Go tools, golint fails:
[code]

That's because an hour ago they added a canonical import path, which is not the one you're using:  https://github.com/golang/lint/commit/9a272034dedb2a3ed05231d5604ce17fb40f0e58

[2018-10-11 20:18] youngderekm commented on #1987
I think I'm seeing the same.  In my case, my breakpoint appears to be hit - the program pauses, the callstack for my function says "PAUSED ON BREAKPOINT", but the I click on that thread it doesn't open the stack and shows no variables.  I can continue the program and the thread goes back to "RUNNING" state, but that's all I see.  I'm using go 1.11, vscode 1.28.0.

[2018-10-11 21:04] STiAT commented on #1993
Just ran into the same issue. Would love to see that fixed.

Did you find any workaround @mrwonko ?

[2018-10-11 21:48] mrwonko commented on #1993
I figured I can do with an outdated golint, but you could probably just manually run `go get -u -v golang.org/x/lint/golint`

[2018-10-12 01:07] margusha commented on #1966
installation on mac also fails and setting go.toolsGopath did not help either. Seems the issue for me is on this line:

https://github.com/Microsoft/vscode-go/blob/4abdf8f604c720a346bf7c0910588568a6a23807/src/goInstallTools.ts#L358

getBinPath(tool) resolves to 'gocode' which is obviously wrong and throws system error "Error: spawn ENOTDIR" which causes promise to be rejected without handling the

[2018-10-12 03:01] ramya-rao-a commented on #1836
@haleyrc Can you give a small code sample where you see the issue so that I can take a look at what's causing it?

[2018-10-12 03:01] ramya-rao-a commented on #8
@vimalk78 Sure, go ahead.

[2018-10-12 03:10] ramya-rao-a commented on #1985
Well, thats a long story :( I have #1025 tracking the need to make it default.
I just never got around to making a good benchmarking exercise to prove that it will not affect the performance.

[2018-10-12 03:10] #1985 closed

[2018-10-12 03:12] ramya-rao-a commented on #1971
@lanox The slowness issue when using Go modules is a known issue as mentioned before.

When you say that go to definition is not work at all, are you still using modules? Can you check if you are using the language server? The language server doesnt work with modules either.

If you are using modules and go to definition is not working, try changing the setting `go.docsTool` to `gogetdoc` and see

[2018-10-12 03:38] Qiaojiawei commented on #1949
i cannot find why this happen in my computer, maybe its really some configure is wrong, i have give up it... the issue can be closed.

[2018-10-12 03:38] #1949 closed

[2018-10-12 03:49] primalmotion opened #1994 "go-langserver using an insane amount of cpu"
Since the last upgrade of vscode/vscode-go go-langserver is using an insane amount of cpu after a few minutes of use (from 400% to 700%)

my config did not change, and I run update tools command

Here's the relevant part of it

[code]

[code]

[2018-10-12 10:47] mhr3 commented on #1968
Sorry, missed that it's now *required* to set `includeImports` to true for this to work. And it indeed does after changing it.

[2018-10-12 12:56] alecthomas commented on #1971
That does seem to be a bit faster.

[2018-10-12 13:59] cfiderer opened #1995 ""Start without Debugging" stops at breakpoints"
When I set a breakpoint I my Go program and start it with "Debug" -> "Start without Debugging", it still stops at the breakpoint.

Environment:
Visual Studio Code
Version: 1.28.1 (user setup)
Commit: 3368db6750222d319c851f6d90eb619d886e08f5
Date: 2018-10-11T18:13:53.910Z
Electron: 2.0.9
Chrome: 61.0.3163.100
Node.js: 8.9.3
V8: 6.1.534.41
Architecture: x64

ms.vscode.go 0.6.91

If this is a bug rep

[2018-10-12 14:33] karthikraobr commented on #1852
@ramya-rao-a  I have created a PR for fixing the coverage being removed on comments. Works only with single line comments. Any pointers on how to go about fixing this issue for multi-line comments.

[2018-10-12 14:50] karthikraobr opened #1997 "Fix golint path"
Golint has been moved and hence the builds are failing.

More info here -> https://github.com/golang/lint#installation and https://github.com/golang/lint/issues/417

[2018-10-12 16:31] #1997 closed

[2018-10-12 18:42] autinerd opened #1999 "Show function declaration comments when hovering over a third-party function call"
When hovering over a function embedded in Go, it shows the function declaration and the declaration comment.
But when hovering over functions of third-party packages, it does not work.

[2018-10-12 20:26] margenton-dbg opened #2001 "Issue with multiple paths in GOPATH"
Issue Type: <b>Bug</b>

- Setup a GOPATH with multiple paths
- Install some go tooling (not sure how to trigger that)
- The error messages suggest that the module didn't detect the multiple paths in the GOPATH

Extension version: 0.6.91
VS Code version: Code - Insiders 1.28.0-insider (caaa5369cb4d22b7481e6ff97252cf92937709eb, 2018-09-28T05:18:20.266Z)
OS version: Windows_NT x64 10.0.17134

<detail

[2018-10-12 22:18] jrwren commented on #2001
This is a duplicate of #1966

[2018-10-12 23:59] ramya-rao-a commented on #1968
@mhr It is no _required_ to have that setting to have this feature to work. Its an unfortunate side effect of a refactoring I had done last week.

I have pushed a fix to master to take care of this. Can you try the latest [beta version]() of this extension? `testify` should be supported there with and without the `includeImports` setting.

[2018-10-13 04:43] yinfxs opened #2002 "Breakpoints added when debug session is not in a paused state, results in debug process not ending"
Steps to Reproduce:

Every time I add a new breakpoint, the process will not be killed after restarting the debug.

macOS 10.13.6
vscode 1.28.0
vscode-go 0.6.91.

![2](https://user-images.githubusercontent.com/6890643/46901451-ae7c9400-cee6-11e8-89e6-59d0b34234c9.gif)

[2018-10-13 05:39] ramya-rao-a commented on #1992
Thanks for reporting @bsvec

It was indeed an oversight.

I have update the release notes in the wiki to point to the Changelog.md file in this repo which contains the same information.

[2018-10-13 05:39] #1992 closed

[2018-10-13 05:41] ramya-rao-a commented on #1993
Thanks for reporting this @mrwonko.

Yes, a fix has been pushed to master.

Until I release an update, the workaround which is already mentioned above is to manually run `go get -u -v golang.org/x/lint/golint`

[2018-10-13 05:41] #1993 closed

[2018-10-13 09:11] bandesz opened #2003 "Use tasks & terminals to run tests to get colorized output"
![screen shot 2018-10-13 at 10 06 06](https://user-images.githubusercontent.com/868104/46903643-a7965700-cecf-11e8-818b-871b392c5c24.png)

## Steps to reproduce

1. Use e.g. ginkgo for testing
2. On a test file run "Go: Test File"
3. The output is barely readable as it contains a lot of color escape sequences.

I disabled all other plugins which might cause an issue, but it still doesn't work. (Sh

[2018-10-14 01:17] egtork opened #2006 "Intellisense appends code to my comments ending with periods."
If I enter a C-style block comment such as:
[code]
and press enter to move to the next line, Intellisense autocompletes after the period. I end up something like:
[code]
Is this expected behavior? If I end a line with shift+enter, rather than just enter, this prevents auto-complete. Is this the only workaround?

[2018-10-14 02:31] eternal-flame-AD commented on #1874
I think this issue should be reopened. I dug a little through the vscode-go code and found this line which masked all `GOARCH` and `GOOS` env.

https://github.com/Microsoft/vscode-go/blob/d1a9f9a8cd7428c552517d72af148b7b116b9ed0/src/goSuggest.ts#L185
After I got rid of this in a dev environment, the suggestions worked perfectly.

[2018-10-14 02:33] eternal-flame-AD commented on #1874
I am not sure how to reproduce the issue mentioned on the code comments before this line. However I think we should definitely at least add an exception for `wasm/js`

[2018-10-14 07:24] nealot opened #2007 "Why is a quotation mark a trigger character?"
I'm curious to know why triggering suggestions on a quotation mark is useful. I find it a hindrance when the auto-completion box is displayed after I type " since it blocks a good portion of the code below my screen.

I mean, it doesn't even suggest anything relevant; the only suggestions I get are snippets.

[2018-10-14 08:54] weeezes commented on #1723
`Go 1.11` and `VSCode 1.28.1`, the Go extension installs two flavors of `gocode`:

[code]

VSCode starts `gocode-gomod`, but that doesn't work. All it ever suggests is `PANIC`. Running `gocode-gomod -s -debug` outputs nothing. Removing `gocode-gomod` doesn't help, VSCode just starts to complain that gocode needs to be installed:

### Solution

[code]

:stuck_out_tongue:

[2018-10-14 18:33] joaoferrao commented on #1944
@stamblerre I tried installing according to your suggestion, restarting VSCode but auto completion still doesn't happen if the project is outside the $GOPATH.

[2018-10-14 22:41] stamblerre commented on #1944
@joaoferrao Did VSCode prompt you to install the gocode-gomod tool, and did you install it? There is a separate version of gocode that works specifically for modules.

[2018-10-15 05:07] peteat opened #2010 "Breakpoints set in VS Code not hit (docker remote debugging)"
I can't seem to hit breakpoints set in VS Code when remotely debugging my go app (which is running in Docker).

I've set up my launch.json:

[code]

This is my `go.delveConfig` (user settings in VS Code):
[code]

It attaches fine, and even hits breakpoints set via `runtime.Breakpoint()` but will not hit any breakpoints set via VS Code. Debugging the same project in GoLand works fine, I can set and

[2018-10-15 05:37] joaoferrao commented on #1944
@stamblerre first time around yes, but I didn't know I should also install beta version of the extension. Then I reinstalled VSCode, installed beta version but wasn't asked to install the fork.

[2018-10-15 09:03] nealot commented on #2007
I think I'm experiencing https://github.com/Microsoft/vscode/issues/60746.

[2018-10-15 09:03] #2007 closed

[2018-10-15 09:58] mhr3 commented on #1968
How do I get the beta? The link you posted points to this issue...

[2018-10-15 10:04] dbarzdys opened #2011 "Autocomplete does not work after update when multiple matches for package"
I updated go to 1.11 and vscode 1.28.1.
When I write package name I get a suggestion, but when I press enter box does not disappear and so cannot get any suggestion for names that exists in that package. Extension just tries to autocomplete package selection.
![bug](https://user-images.githubusercontent.com/9341303/46943980-94bf8600-d079-11e8-9599-c76726abeee2.png)

[2018-10-15 10:29] heavydawson commented on #2011
Seeing the same with:
VSCode 1.28.1
Go 1.11.1
vscode-go 0.6.91

[2018-10-15 12:49] youngderekm commented on #1987
I see these errors in the VSCode Developer Tools console which seem to be related:

[code]

[2018-10-15 16:31] stamblerre commented on #1944
@joaoferrao: Yep, just execute the following commands:

`go get -u -d github.com/stamblerre/gocode`
`go build -o $GOPATH/bin/gocode-gomod github.com/stamblerre/gocode`

You should end up with a tool `gocode-gomod` in your `$GOPATH/bin`.

[2018-10-15 16:50] joaoferrao commented on #1944
@stamblerre thank you for getting back so fast, but I still am in no luck. I still only see the "PANIC".

![image](https://user-images.githubusercontent.com/28150182/46965287-b9802180-d0aa-11e8-993d-639d48a41170.png)

I also confirm I have the beta version of the Go extension:
![image](https://user-images.githubusercontent.com/28150182/46965321-dc123a80-d0aa-11e8-837c-24fe2443011d.png)

Is there a

[2018-10-15 16:54] stamblerre commented on #1944
@joaoferrao I'd recommend running `gocode close` and `gocode-gomod close` to restart gocode, just to be safe. Then, run `gocode-gomod -s -debug` and try to complete in VSCode. The debug output should be printed there, and if you paste it in here, I can try to investigate it.

[2018-10-15 17:01] joaoferrao commented on #1944
@stamblerre outstanding support, thanks!! Maybe would be worthwhile

![image](https://user-images.githubusercontent.com/28150182/46965841-35c73480-d0ac-11e8-96a6-dafe32b986f0.png)

So for others who end up here with the same issue:

[code]

Kill VSCode and relaunch.

Thanks again.

[2018-10-15 17:03] stamblerre commented on #1944
@joaoferrao awesome, glad it works!

[2018-10-15 17:43] ramya-rao-a commented on #1967
Now that the upstream PR has been merged, please follow the below in VS Code to get the fix:
- Run the command `Go: Install/Update Tools`
- Choose `godef-gomod`
- Press Ok to update.

[2018-10-15 17:43] #1967 closed

[2018-10-15 18:03] ramya-rao-a commented on #1968
@mhr3 Sorry about that! The link is updated.

[2018-10-15 18:20] ramya-rao-a commented on #1723
@weeezes Do you get prompted to install `gocode-gomod` when you are NOT using Go modules in your project?

[2018-10-15 18:20] mhr3 commented on #1968
Thanks, and yep, works fine with the beta, even without `includeImports`.

[2018-10-15 18:35] stamblerre commented on #1874
@ramya-rao-a: gocode tracks the build.Context of requests, so if you explicitly set `GOOS` and `GOARCH` in a client request, it should work correctly.

[2018-10-15 19:04] ramya-rao-a commented on #1874
Thanks @stamblerre!

@eternal-flame-AD Would you be interested in submitting a PR to fix this?

[2018-10-15 19:55] #1971 closed

[2018-10-15 20:53] jinmatt commented on #2010
👍

The same thing is happening when debugging without docker, the debugger does not seem to hit API handlers or endpoints.

Everything in the call stack looks like `PAUSED`.  Sceenshot: https://cl.ly/e31600b38c0f

trace:
[code]

[2018-10-15 21:41] ramya-rao-a commented on #1966
@margusha I tried to repro your case and deleted the `gocode-gomod` binary from my Mac. When prompted to install, I got a ENOENT error (which gets handled as expected) at the place where you get ENOTDIR.

<img width="782" alt="screen shot 2018-10-15 at 2 39 17 pm" src="https://user-images.githubusercontent.com/16890566/46979996-19190580-d088-11e8-981c-d3767e308a17.png">

This is by design. `cp.exe

[2018-10-15 21:56] ramya-rao-a commented on #1966
Others,

The fix has been pushed to master and is available in the latest [beta version](
https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension

[2018-10-15 21:57] ramya-rao-a commented on #2001
Thanks @jrwren!

@margenton-dbg #1966 is tracking this issue and @jrwren's fix is available as described in
https://github.com/Microsoft/vscode-go/issues/1966#issuecomment-430028529

[2018-10-15 21:57] #2001 closed

[2018-10-16 01:28] ramya-rao-a commented on #1995
To `Start without Debugging`, it is important that you have a debug configuration in the launch.json file with program pointing to the file you want to run. This is because behind the scenes we use `go run` which expects a file path

[2018-10-16 01:28] #1995 closed

[2018-10-16 01:30] ramya-rao-a commented on #1999
Can you provide a sample code that I can try this on?
Also provide the Go version you are using and if you are using Go modules.

[2018-10-16 01:33] ramya-rao-a commented on #1994
To first decide if this is a issue with VS Code, the Go extension or the language server, can you try with an older version of VS Code and the Go extension and check the performance?

Older version of VS Code can be found in https://code.visualstudio.com/updates

Older version of the Go extension can be found in https://github.com/Microsoft/vscode-go/releases
Just download the vsix file and run `c

[2018-10-16 01:48] ramya-rao-a commented on #1990
Thanks for reporting @altimac

@roblourens Do you know what needs to be done to enable the context menu entries here?

[2018-10-16 01:53] gilcrest opened #2012 "golint tool install fails due to new path"
When compiling go tools, vscode is attempting to install golint using `go get -u -v github.com/golang/lint/golint`, however, it should be using `go get golang.org/x/lint/golint`

Per [golang/lint](https://github.com/golang/lint/issues/415) a recent commit (Oct 10) enforced that clients update their path for golint.

[code]

Thanks!

[2018-10-16 02:36] eternal-flame-AD commented on #1874
Yep.

I found that when `GOOS` and `GOARCH` are set, `gocode` barely tracks import correctly:( I have to run like `sudo env GOOS=js GOARCH=wasm go install math/rand` in order to get `math/rand` suggestions working on `wasm/js`

I found a solution to the problem that is enabling source import when spawning gocode daemon. Should we include this change in the PR?
[code]

[2018-10-16 02:42] ramya-rao-a commented on #1986
Formatting not working (unless you choose `gofmt`) when using Go modules is a known issue as the formatting tools themselves (goreturns, goimports) dont support Go modules yet.

Please see [Go modules in VS Code](https://github.com/Microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code) which tracks the status of Go module support

[2018-10-16 02:42] #1986 closed

[2018-10-16 02:44] ramya-rao-a commented on #1874
Including the `-source` flag slows things down a lot.

Are you saying that if you add the `source` flag, you dont have to run `go install` on the packages for which you want completions?

[2018-10-16 02:45] eternal-flame-AD commented on #1874
Yeah. Or maybe only enabling this when cross compiling?

[2018-10-16 05:01] roblourens commented on #1990
@isidorn

[2018-10-16 06:13] altimac commented on #1990
I reported the bug at the wrong place first. @isidorn replied:

[2018-10-16 07:02] autinerd commented on #1999
I looked again at this and recognized that this happens at functions which are member functions of structs. Example: https://github.com/gobuffalo/validate/blob/master/validate.go

![screenshot-vscode-go-struct-member](https://user-images.githubusercontent.com/27780930/46998170-1834b200-d122-11e8-8c19-68d0b1b82426.png)

[2018-10-16 08:02] isidorn commented on #1990
@ramya-rao-a yeah, please support the [`evaluateName`](https://github.com/Microsoft/vscode/blob/5d645696cc669e4bc9c8824749395c7112e8c845/src/vs/workbench/parts/debug/common/debugProtocol.d.ts#L1387) property.

Example: in the casses in the picture the `evaluateName` is equal to `name`, however inside the `zone` object if it had the `id` property the evaluate name of that would be `zone.id`
So `eva

[2018-10-16 10:09] eternal-flame-AD commented on #1874
I think we could move this discussion to #2015 as the corrent topic is more related to detailed implementation of the fix.

[2018-10-16 11:59] glerchundi commented on #2012
@gilcrest it seems like it solved on master so once they release a new version issue will be gone 9608da32ef6c5677db19d076574ed5770997d011.

[2018-10-16 15:48] jpeletier commented on #1987
I have the same issue. Going back to vscode 1.27 (August) solved it for me.

[2018-10-16 15:58] jig commented on #1987
I have the same issue. Using Go 1.11.1 and vscode 1.28.1.
Going back to vscode 1.27.2 solved it for me.

[2018-10-16 16:11] sjdweb commented on #1987
Assume you downloaded from [here](https://code.visualstudio.com/updates/v1_27)?

[2018-10-16 16:45] jig commented on #1987
@sjdweb yes (well, in fact I still had a local copy)

[2018-10-16 17:02] ramya-rao-a commented on #1990
Thanks @isidorn

Marking this as `help-wanted`. PRs are most welcome.

Code Pointers:
- Get started with a [local set up of the Go extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- [Debug the debugger](https://github.com/Microsoft/vscode-go/tree/master/src/debugAdapter)
- Update [va

[2018-10-16 18:06] primalmotion commented on #1994
first thing I did was to go back to VScode version from August (using same version of language server and vscode-go). Didn't need to push the investigation further, all is working well now for 30min. So it seems the regression is from VScode. I'll continue to work with this version for a while and report if things are going crazy again.

[2018-10-16 20:52] jpopadak commented on #2010
This ticket is related to the already open ticket here: https://github.com/Microsoft/vscode-go/issues/1987

[2018-10-16 21:10] peteat commented on #2010
Perhaps, but in my issue the execution never pauses (if you run the above go code the program runs and finishes execution with no pause whatsoever). You can't interrogate any call stack nor does VS Code visually pause. #1987 looks like it manages to successfully set the breakpoint but then has issues once you hit the breakpoint, I can't even get it to set any breakpoints to begin with. Also, the l

[2018-10-16 22:05] ramya-rao-a commented on #1966
@margusha  `getBinPath` returns the tool name when it cant find the absolute path to it. I've pushed a check to not to attempt to close gocode when we dont have the path to the tool beforehand

[2018-10-16 22:06] ramya-rao-a commented on #2012
@glerchundi is right. The fix is in master.

You can try the latest [beta version](
https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension which has the fix until I release an update sometime this week

[2018-10-16 22:06] #2012 closed

[2018-10-16 22:58] primalmotion commented on #1994
I confirm it works perfectly with vscode `1.27.2`

[2018-10-16 23:03] margusha commented on #1966
@ramya-rao-a I was using node 10.9.0 but tried with 6.x, 8.x, 9.x and encountered the same issue.

I managed to reproduce both errors in isolation on command line.
[code]
outputs `Error: spawn ENOTDIR`

and if I add forward slash to the first argument like in following snippet, it will behave differently by giving ENOENT:

[code]

the cp.execFile runs correctly if it finds binary file from path. e

[2018-10-16 23:18] ramya-rao-a commented on #1966
@margusha Thanks for the info! I was really curious about why I see only ENOENT and not ENOTDIR

Regardless, you are right. We shouldnt be attempting to run `cp.execFile` when it is clear that `gocode-gomod` doesnt exist. I have pushed a fix for the same

[2018-10-17 02:10] ramya-rao-a commented on #1994
@primalmotion, @gow You opened and worked on the same project in both new and old versions of VS Code?

@dbaeumer Any idea why the latest VS Code would cause such an issue? The version of language client used in the Go extension is 4.3.0

[2018-10-17 02:29] ramya-rao-a commented on #1999
Maybe gogetdoc gives better results. Can you try the below?
- Add `"go.docsTool": "gogetdoc"` to your settings
- Run the command `Go: Install/Update Tools`, choose `gogetdoc`, press `Ok` to install it
- Try the hover

[2018-10-17 02:41] eternal-flame-AD commented on #1989
I usually watch `uintptr(x)` to obtain the pointer value. Probably a hack but I think that helps in your case:)

[2018-10-17 02:57] primalmotion commented on #1994
@ramya-rao-a yes. I worked all day on the same set of workspace as usual.

[2018-10-17 08:33] bandesz commented on #2003
@ramya-rao-a a random example:
![ginkgo](https://user-images.githubusercontent.com/868104/47073255-b8a4d800-d1ef-11e8-95a0-e90af209c191.png)

[2018-10-17 08:38] bandesz commented on #2003
I managed to disable the colored output in this case by using the following setting:
[code]

[2018-10-17 09:29] dbaeumer commented on #1994
@ramya-rao-a something might have changed in VS Code which as a result pokes the server more often. One way to find this out is to enable tracing in both setups and see if there are more requests send to the server and if so which once.

[2018-10-17 10:04] blithefeng opened #2017 "language server"
Issue Type: <b>Bug</b>

go language server continous open so many conhost and powershell on windows. When I disable language server support in configuration and restart vscode, it disappears.

Extension version: 0.6.91
VS Code version: Code 1.28.1 (3368db6750222d319c851f6d90eb619d886e08f5, 2018-10-11T18:13:53.910Z)
OS version: Windows_NT x64 6.1.7601

[2018-10-17 10:13] eliastor commented on #1987
Any workaround available?

[2018-10-17 10:17] eliastor commented on #1987
BTW such behaviour occurs with projects outside $GOPATH/src/<your project path from github or whatever else>

[2018-10-17 10:56] autinerd commented on #1999
I tried it and it's a lot better then `godoc`, thank you very much!

[2018-10-17 10:56] #1999 closed

[2018-10-17 12:31] L1qu1d1c3 opened #2018 "Debug Console for Node 10 and Sailsjs outputs different than Node version < 8"
VSC version: 1.28.0
Platform: Windows 10
NodeJS version: 10.8.0
SailsJS version: 0.12

Hello,

When I installed NodeJS 10, all of the sudden I noticed that the output in the Debug Console wasn't the same as before. When I was in an older version, the output used to be like this:
![image](https://user-images.githubusercontent.com/7668505/47086374-92942d80-d219-11e8-8aea-42c97a8217a4.png)

After put

[2018-10-17 13:30] lqflqf opened #2019 "golint installation failed"
System environment:

1. MacBook Pro late 2016, Mojave
2. go version go1.11.1 darwin/amd64
3. VS code version 1.28.1, Go plugin 0.6.91

Steps to reproduce:

1. Run command "Go: Install/Update Tools"
2. Select "golint" and then click ok to install

Expected result:
golint installed successfully

Actual result:
golint installation failed

Error message:
golint:
Error: Command failed: /usr/local/bin/g

[2018-10-17 13:48] karthikraobr commented on #2019
golint has been moved from [github](github.com/golang/lint/golint) to [golangX](golang.org/x/lint/golint). Hence the issue. This [commit](https://github.com/Microsoft/vscode-go/commit/9608da32ef6c5677db19d076574ed5770997d011) fixes that, but you will have to wait for a release or manually install golint.

[2018-10-17 15:02] ankur-anand commented on #1994
@ramya-rao-a I've updated the go-tool today `0.6.91` and after that, it uses a huge chunk of CPU all the time,

average load
[code]
process info
[code]
go version
`go version go1.11 linux/amd64`

CPU Consuming most time in the User Space
[code]

[2018-10-17 15:49] haleyrc commented on #1836
@ramya-rao-a Absolutely, and sorry for the delay. https://github.com/haleyrc/vscode-go-issue demonstrates the issue I'm having.

[2018-10-17 15:50] lsh246 commented on #926
Another +1. Moving from MacOS to Win10 building Linux binaries and wish I could debug seamlessly in VSCode.

[2018-10-17 17:05] gow commented on #1994
I confirmed that VS Code `1.27.2` doesn't have this issue with same Go extension `0.6.91`

[2018-10-17 21:09] MagnumOpus21 commented on #596
Does this issue still need help? If someone can point me what I should do to resolve this I'm happy to help with this issue 😁

[2018-10-17 21:13] ramya-rao-a commented on #1931
This feature is now out in the latest update to the Go extension (0.6.92). Thanks @brainsnail!

[2018-10-17 21:13] #1931 closed

[2018-10-17 21:15] ramya-rao-a commented on #1874
The fix for this issue is now out in the latest update to the Go extension (0.6.92). Thanks @eternal-flame-AD!

**Note**: Part of the fix here is in `gocode`. Therefore, run the command `Go: Install/Update Tools`, select `gocode` and press `Ok` to update it

[2018-10-17 21:15] #1874 closed

[2018-10-17 21:15] ramya-rao-a commented on #1534
The fix for this issue is now out in the latest update to the Go extension (0.6.92). Thanks @rschmied!

[2018-10-17 21:15] #1534 closed

[2018-10-17 21:16] ramya-rao-a commented on #1822
This feature is now out in the latest update to the Go extension (0.6.92). Thanks @vimalk78!

[2018-10-17 21:16] ramya-rao-a commented on #1966
The fix for this issue is now out in the latest update to the Go extension (0.6.92)

[2018-10-17 21:16] #1966 closed

[2018-10-17 21:17] ramya-rao-a commented on #2011
The fix for this issue is now out in the latest update to the Go extension (0.6.92)

[2018-10-17 21:17] #2011 closed

[2018-10-17 21:17] ramya-rao-a commented on #1968
The fix is now out in the latest update to the Go extension (0.6.92)

[2018-10-17 21:18] ramya-rao-a commented on #2019
The fix for this is now out in the latest update to the Go extension (0.6.92)

[2018-10-17 21:18] #2019 closed

[2018-10-17 21:19] ramya-rao-a commented on #2018
@L1qu1d1c3 This repository is for the Go extension to VS Code. Please log your issue in the main repository for VS Code which is https://github.com/Microsoft/vscode

[2018-10-17 21:19] #2018 closed

[2018-10-17 21:35] L1qu1d1c3 commented on #2018
Omg so sorry!! I totally didnt see that!

[2018-10-17 21:41] ramya-rao-a commented on #1994
@ankur-anand This issue is tracking the problem of the Go language server consuming a lot of CPU where as your issue is independent of the Go language server, therefore can you please log a separate issue and we can take it from there?

[2018-10-17 22:12] ramya-rao-a commented on #596
Hey @MagnumOpus21,

Thanks for your interest!

The main reason I logged this issue was to have a place that had details on the features of this extension. Recently, I refactored the README for this extension which now has sufficient details, so I will be closing this issue.

Feel free to checkout any of the other issues with the `help-wanted` label :)

[2018-10-17 22:12] #596 closed

[2018-10-17 23:15] mgood opened #2022 "Outline double-click usability issues"
VSCode: 1.28.2
Go extension: 0.6.92

Clicking on an entry in the outline causes the view to scroll to center that entry. This makes it difficult to double-click and jump to an item since the view moves between clicks.

So, to go to an entry you have to:
1) single-click on the item
2) move your mouse to the new location after it scrolls
3) double-click to jump

I think the intended behavior is to s

[2018-10-17 23:29] ramya-rao-a commented on #1836
Interesting... I see it now.

I believe this only happens when you are using the `-v` flag and then use the `log` pkg to print anything.

The fix should be pretty straight-forward.  We shouldnt be attempting to get the absolute path on an output line unless it is for a test failure. Such lines are always preceeded by a `--- FAIL:`, so we can make use of that.

PRs are most welcome to fix this issu

[2018-10-17 23:52] brainsnail commented on #1931
Thank you @ramya-rao-a for being so patient and providing guidance as well!

[2018-10-18 00:40] ramya-rao-a commented on #2022
The UI behavior is managed by VS Code itself and extensions have no control over it. Please log this issue in the main VS Code repo at https://github.com/Microsoft/vscode

[2018-10-18 00:40] #2022 closed

[2018-10-18 00:56] MagnumOpus21 commented on #1836
Okay this is something I can work on if no one else has dibs on this 😁

[2018-10-18 01:10] ramya-rao-a commented on #1836
Go ahead @MagnumOpus21 :)

Remember to test all the 4 test commands:
- Test at cursor
- Test file
- Test package
- Test workspace

[2018-10-18 02:13] ramya-rao-a commented on #1997
This fix is out in the latest update to the Go extension (0.6.92). Thanks @karthikraobr!

[2018-10-18 02:14] ramya-rao-a commented on #2012
Hey @gilcrest,

When there is a PR which has a comment ending with something like "Fixes #" followed by the issue number, or there is a commit with the commit message following that patter, the issue gets automatically closed when the change makes it to the master branch.

This said, not all PR, commits follow this pattern and sometimes, the fix for an issue will be in master, but the issue will s

[2018-10-18 03:19] ankur-anand opened #2023 "`go vet` process along with `go build` keeps churning CPU even when VSCode is closed."
I've updated the go-tool today `0.6.91` and after that, it uses a huge chunk of CPU all the time,

average load
[code]
process consuming high % of CPU
[code]

Next highest usage after `go` process is `chromium process` and its only consuming `3.7`% of cpu, as compared to all other `go` process consuming around `50`%

Observation:

Multiple `go vet` process keeps running along with the correspondin

[2018-10-18 04:35] wotmshuaisi opened #2024 "try to install gocode-gomod and godef-gomod but output panel stacking there"
[code]

[2018-10-18 07:01] 2011fuzhou commented on #2024
same problem, but i'm using go in windows:
Installing 2 tools at D:\coding\go\bin
  gocode-gomod
  godef-gomod

[2018-10-18 07:04] demothorg commented on #2024
I have such issue with gocode-gomod.
VSCode: 1.28.2,
VSCode-go: 0.6.92,
golang: 1.11.1,

Console output on every install/update tools run:
[code]

And also I have godoc installation error:
[code]

[2018-10-18 08:11] cfiderer commented on #1995
Hello Ramya,
I am a bit confused by your reply:
- The autogenerated `launch.json` configuration has `program: ${fileDirname}` - what other variable would provide the name of the Go file that I'm currently editing?
- Do I need to provide separate launch configurations for each and every runnable Go file in my workspace?

[2018-10-18 10:36] pr10n commented on #2024
Same here.

  gocode
  gopkgs
  go-outline
  go-symbols
  guru
  gorename
  dlv
  gocode-gomod
  godef
  godef-gomod
  goreturns
  golint
  golangci-lint

[2018-10-18 13:46] karthikraobr commented on #2024
Maybe related to [this](https://github.com/Microsoft/vscode-go/issues/1979).

[2018-10-18 17:10] apmckinlay commented on #2024
But 2025 says it is just a "partial" fix?

[2018-10-18 17:31] ramya-rao-a commented on #2023
There was no change related to build/vet in the 0.6.91 release. Can you install an older version of the extension to confirm that this issue got introduced in 0.6.91?

- You can get the older version say 0.6.89 by downloading the vsix file from https://github.com/Microsoft/vscode-go/releases/tag/0.6.89.
- Disable the `extensions.autoUpdate` setting in VS Code
- Then run `code --install-extension G

[2018-10-18 17:35] lrstanley opened #2026 "GOPROXY environment not being passed"
I'm not use to running on Windows, so excuse me if it's something specific I have to do on Windows.

Using the latest version of vscode-go, 0.6.92, I am seeing that the builtin functionality to install the analysis tools, the GOPROXY environment variable which is globally defined on windows, (and passed to vscode), isn't being passed when this library executes go.exe. When I start a terminal insid

[2018-10-18 17:38] Dexus commented on #2024
The fix does not help.....

The problem is that #2025 does not fix this in any way.

The following has helped me:
[code]

Have fun!

[2018-10-18 17:45] ramya-rao-a commented on #2024
The issue with `godoc` is resolved in #2025.

I have pushed a separate fix for the issue with `gocode-gomod`

Can someone here try the [beta-version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension to confirm the fix?

[2018-10-18 17:50] sonofachamp commented on #2024
@ramya-rao-a The fix is working for me. 👍

[2018-10-18 17:50] Dexus commented on #2024
It looks like something went wrong in PR #1932...
I never get the second if comparison. https://github.com/Microsoft/vscode-go/pull/1932/files#diff-3f57b095642b0ee445d6cdbc4f60d751R371

[2018-10-18 17:53] Dexus commented on #2024
Maybe you also fix this with godef-gomod

[2018-10-18 17:56] ramya-rao-a commented on #2024
@Dexus I believe the problem was only with `gocode-gomod` and not `godef-gomod`, and since that was stuck, we never go to the point of declaring all updates as successful.

[2018-10-18 18:01] Dexus commented on #2024
@ramya-rao-a Okay, but even `gocode-gomod` didn't help me. I didn't explicitly test the latest beta, but I think it would make sense to intercept it as well for `godef-gomod`

[2018-10-18 18:03] ramya-rao-a commented on #2024
@Dexus Can you elaborate a little more?

[2018-10-18 18:07] Dexus commented on #2024
@ramya-rao-a Sorry `godef-gomod` is correct, I'm a bit confused the day is already more than 20 hours old :eyes:. It does indeed only concern `gocode-gomod` to making everything work.

[2018-10-18 18:14] ramya-rao-a commented on #2024
@Dexus Great!

@sonofachamp Thanks for confirming the fix!

If I can have one more person vet the fix, then I will release an update soon.

[2018-10-18 18:42] #2024 closed

[2018-10-18 21:05] segevfiner commented on #194
Note that there is even a VS Code API meant for this case: [CompletionItemProvider.resolveCompletionItem](https://code.visualstudio.com/docs/extensionAPI/vscode-api#CompletionItemProvider.resolveCompletionItem).

[2018-10-19 01:30] gilcrest commented on #2012
@ramya-rao-a - "Especially, because its just me managing this project." - that is stunning. Thank you again for all that you do for the Go community, the amazing product you're building and shepherding and for this detailed response. I am happy to look in opened and closed issues and will do so going forward!

Best,

Dan

[2018-10-19 05:40] ramya-rao-a commented on #2026
Running `go env` in the terminal should give the same result as when it is run by the plugin.
To see the environment variables the plugin gets, run Help -> Toggle Developer Tools -> Console -> `process.env`

Speaking of proxies, can you see if anything in https://code.visualstudio.com/docs/setup/network helps?

[2018-10-19 06:23] #2023 closed, assigned to nobody

[2018-10-19 09:43] freezlite commented on #1987
https://github.com/Microsoft/vscode/commit/cef0992fff3900ee8f86fdcdbbed6801b636f9ed

[2018-10-19 10:04] sjdweb commented on #1987
Still happening for me on the latest build.

[2018-10-19 12:38] zeeraw commented on #1944
I want to confirm that the package is found

![Package is found](https://puu.sh/BNzee/430a7cb61a.png)

But once I add a dot to autocomplete the package, nothing is returned

![](https://puu.sh/BNzet/a3111ad7b5.png)

I go back to step one to manually import the package, there is no autocompletion on the package

![](https://puu.sh/BNzeQ/4dea8ff42a.png)

Not until I save the file with the import add

[2018-10-19 13:09] freezlite commented on #1987
So the reason is that RPC return "<autogenerated>" text in location.file. Previously vscode dont handle this well, but now commit change this.
I found dirty hack to fix this
`locations.forEach((location, i, object) => {
				logger.error(location.file)
				if (location.file === "<autogenerated>") {
					object.splice(i, 1);
				}
			});`

[2018-10-19 13:16] lrstanley commented on #2026
What I see in `process.env`:
![image](https://user-images.githubusercontent.com/1847365/47219615-4c57df00-d37d-11e8-9657-be5e000b691a.png)

So, the plugin is getting the environment variable, but it's not passed through to the child process, `go.exe`.. as running the same command returns the expected output when `GOPROXY` is missing.

(this fails with ssl errors due to corp firewall):
[code]

When

[2018-10-19 13:18] cristim commented on #1856
I also notice this and it happens after each significant change in the editor. I see dozens of guru processes that consume 100% of all my CPU cores for a minute or so and the vscode editor is pretty much unusable for that period of time.

Maybe those could be executed with a lower `nice` priority so at least I can type code?

[2018-10-19 13:51] freezlite commented on #1987
Here is pull request, please dont blame on me if this is not correct way to resolve the problem, but it works for me https://github.com/Microsoft/vscode-go/pull/2029

[2018-10-19 14:58] stamblerre commented on #1944
@zeeraw yep, this issue is tracked in https://github.com/stamblerre/gocode/issues/3. It's actually the result of a problem in the go/packages API that still needs to be solved. I will update on the issue once the go/packages API has fixed this problem.

[2018-10-20 04:16] dhowden commented on #2006
I also see this issue a lot, not just in comments but also when using float values.

@ramya-rao-a I think maybe the point here is that the completion should not be activated if the cursor is within a comment? (i.e. in the same way that completions don't show when the cursor is inside a string value).  Would be great if this could also be done for float values too.

To reproduce what I'm talking ab

[2018-10-20 08:46] JoseFMP commented on #1954
No go modules. I tried multiple configurations for GOPATH. Same result all the time. I mean. Is, this supposed to be working? I really have the same error in different machines with different projects and completely different set-ups.

[2018-10-20 12:41] tmack8080 commented on #1982
@ramya-rao-a - Can you just try with the new logo so we can see what it looks like?

[2018-10-20 18:47] ramya-rao-a commented on #1954
Yes, when not using Go modules, rename feature should work.

Run `Go: Current GOPATH`. That is the GOPATH used by all the Go tools in the extension. Is the result what you expect?

Also see [GOPATH in VS Code](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)

[2018-10-20 18:59] ramya-rao-a commented on #2006
Completions being triggered when `.` is typed in multi line comments is being tracked in #1072

Stopping them in single line comments is easy and is implemented already.

@dhowden The case of floats is interesting. That I believe is a bug in `gocode` itself. I have logged an upstream bug https://github.com/mdempsky/gocode/issues/74 to track this.

Meanwhile, to avoid such scenarios, you can disabl

[2018-10-20 18:59] #2006 closed

[2018-10-20 19:14] ramya-rao-a commented on #2026
The extension host process gets the same environment variables as what you saw in the console. The same are passed to the child process that runs `go.exe`.

Can you run the extension from source to see the exact environment variables being passed? Its is pretty straighforward.

- [Build and Debug extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extensi

[2018-10-20 19:49] ramya-rao-a commented on #1995
You can update the autogenerated configuration to use `${file}` instead. That will use the file in the currently open editor.

[2018-10-20 20:12] ramya-rao-a commented on #194
That is a good idea @segevfiner

Using `resolveCompletionItem` is better as we will then be fetching docs for just the suggestion item in focus instead of doing it for all items which would happen if we were to fetch docs in the `provideCompletionItems` call.

If anyone is interested in picking up this item, here are a few code pointers:
- [Build and Debug Extension]() to get a local set up of the

[2018-10-20 20:38] margusha commented on #1966
It works like a charm! installs the tools correctly. thanks :)

[2018-10-20 20:48] nealot commented on #1948
Maybe this request could encompass various profiling features? Integration with [pprof](https://github.com/google/pprof) would be very attractive to me.

[2018-10-20 21:08] #1890 closed

[2018-10-20 21:31] ramya-rao-a commented on #1987
Thanks for the investigation @freezlite!

Can you provide a small sample code where I can get a repro of the `<autogenerated>` case? I cant repro it with the code that I have.

[2018-10-20 21:41] #1732 closed

[2018-10-20 22:08] ramya-rao-a commented on #1987
The bug has been fixed upstream and is available in the [latest Insiders](https://code.visualstudio.com/insiders).

Can folks here try the latest Insiders and share if the issue is resolved or not?

[2018-10-20 23:02] ramya-rao-a commented on #2010
@peteat, @jinmatt, @jpopadak Can you try the [latest Insiders](https://code.visualstudio.com/insiders)?

[2018-10-20 23:03] ramya-rao-a commented on #2002
Can you provide a small sample code where I can try to reproduce this issue?

[2018-10-20 23:05] ramya-rao-a commented on #1989
@willfaught Can you provide a small sample code and elaborate on what you would expect vs what actually is being shown?

[2018-10-20 23:09] ramya-rao-a commented on #1964
The port 2345 is no longer used after I resolved #1906

Which version of the Go extension are you on?

Are you doing local or remote debugging?

The only place it is used now is in the snippet generated for the remote debugging. In that case, it is a snippet and is meant to be replaced with whatever port is being used on the remote machine.

[2018-10-21 15:15] yinfxs commented on #2002
[code]

[2018-10-21 20:51] ramya-rao-a commented on #2002
I followed all the steps as in the video on the sample code, but I dont see the same error.
I am on Windows, using VS Code 1.28.2, Go version 1.11 and the latest VS Code Go extension.

Can you share your set up information? OS, VS Code version, Go version and the Go extension version.

[2018-10-21 21:56] ramya-rao-a commented on #2006
@dhowden The upstream bug is fixed. Can you run `Go: Install/Update Tool`, select `gocode`, press Ok to update it?

[2018-10-21 22:03] dhowden commented on #2006
That works great.  Thanks.

The issue with single-line comments appears when the comment is describing an exported name. In that case adding a period to the end causes the completion to appear.

<img width="902" alt="exported_name" src="https://user-images.githubusercontent.com/2822/47273005-38101e00-d5d9-11e8-85fc-6cc57a7dc2e4.png">

[2018-10-22 02:10] yinfxs commented on #2002
I have provided version information in my first comment:
macOS 10.13.6
vscode 1.28.0
vscode-go 0.6.91
go version go1.11 darwin/amd64

[2018-10-22 02:24] yinfxs commented on #2002
I have provided version information in the first comment:
* macOS 10.13.6
* vscode 1.28.0
* vscode-go 0.6.91
* go version go1.11 darwin/amd64

[2018-10-22 13:52] sjdweb commented on #1987
I can confirm this appears to be fixed in the latest insiders!

[2018-10-22 16:59] toaster commented on #2003
Hi there, what are the arguments against making colorization available here?

[2018-10-22 18:06] jpopadak commented on #2010
@ramya-rao-a This half works in the Insiders Edition.  When I am debugging a test, I am at least getting an error message in the `Call Stack` tool window. While debugging, it hits the breakpoint, under the thread it shows "Unable to produce stack trace: "Internal debugger error: runtime error: slice bounds out of range runtime.call32(0x1057ada) ..."

When I debug a running program, it hits the bre

[2018-10-23 03:16] ramya-rao-a commented on #2003
As mentioned in https://github.com/Microsoft/vscode-go/issues/2003#issuecomment-430068305, colorization never worked in the output channel for test output.

The example in https://github.com/Microsoft/vscode-go/issues/2003#issuecomment-430539228 is from running the tests in a terminal directly.

To show colors in the output channel, we need to provide a grammar to parse the contents first.

Anothe

[2018-10-23 03:58] ramya-rao-a commented on #2002
Thanks @yinfxs

I see this on Mac, but on Windows.
Will look into it.

[2018-10-23 04:00] chuacw opened #2037 "On Windows, if go.toolsGopath is set, 2 tools fail to install"
- VSCode Version: 1.28.1
- OS Version: Windows 2008 R2 SP1

Installing 2 tools at D:\Development\Go\Tools\bin
  gorename
  godef

Installing golang.org/x/tools/cmd/gorename FAILED
Installing github.com/rogpeppe/godef FAILED

2 tools failed to install.

gorename:
Error: Command failed: C:\Go\bin\go.exe get -u -v golang.org/x/tools/cmd/gorename
Fetching https://golang.org/x/tools/cmd/gorename?go-get

[2018-10-23 05:10] szmcdull opened #2038 "When breakpoints that set inside init()s is hit, the IDE does not show which line the program is running to. And the callstack of the current go routine is empty."
Steps to Reproduce:

Sample code:
![image](https://user-images.githubusercontent.com/2098590/47335946-3b320980-d6c0-11e8-980d-29e32b4c5084.png)

1. Set a breakpoint inside init()
2. Start Debugging

[2018-10-23 05:15] szmcdull commented on #2038
Using the dlv command line debugger, I can successfully set a line breakpoint inside init() and debug just like normal.

[2018-10-23 07:55] toaster commented on #2003
Ok, thanks for the clarification.

[2018-10-23 09:09] Xjs opened #2039 "Add option to run long-running linters manually"
I tried using gometalinter with many linters enabled in my day-to-day, but I found linting takes very long to complete. It would be great if I could trigger a full linting run (e. g. using gometalinter with many slow linters) manually, but have a fast linter (e. g. golint) set for lint-on-save.

[2018-10-23 12:39] dmlemos opened #2040 "Environment variables not being resolved for GOPATH"
As I like to have my tools separated from the projects, I have set the config like this:
[code]

The error is always that the analysis tools are missing:
[code]

According to [vscode #2809](https://github.com/Microsoft/vscode/issues/2809), more specifically this [post]( https://github.com/Microsoft/vscode/issues/2809#issuecomment-396842807) it is up to the extension to resolve environment variable

[2018-10-23 13:30] embiize opened #2041 "on ubuntu.. failed install tools go."
Installing 12 tools at /home/user/go/bin
  gocode
  gopkgs
  go-outline
  go-symbols
  guru
  gorename
  dlv
  gocode-gomod
  godef
  godef-gomod
  goreturns
  golint

Installing github.com/mdempsky/gocode FAILED
Installing github.com/mdempsky/gocode FAILED
Installing github.com/uudashr/gopkgs/cmd/gopkgs FAILED
Installing github.com/ramya-rao-a/go-outline FAILED
Installing github.com/uudashr/gopkg

[2018-10-23 22:50] chrislewisdev commented on #1229
Hi @ramya-rao-a, I'm interested in working on this issue (although it could be a little stale now)!

I've had a look at the code and managed to set up my local environment for debugging the debugger. Thanks to your comments I have a good idea of the change I need to make to support this.

Currently, the way I'd like to perform the file-parsing to detect the existence of the `main` function is to u

[2018-10-24 02:19] ramya-rao-a commented on #1229
@chrislewisdev Yes, that sounds reasonable.

I would suggest not to try to refactor and re-use the code in `goOutline`. It has the use of tokens and a few other specific code that relies on the `vscode` namespace. Feel free to run `cp.execFile` directly in `goDebug` file to parse the file

[2018-10-24 02:55] wotmshuaisi opened #2042 "there's a autocomplete problem"
i already imported `encoding/json` , and if i want to use `.` to show all the method `json` module have, i have to save my file and input `.` again, if i didn't do that, it'll keep showing the suggest modules i should import, like [this](https://i.imgur.com/iic0rKI.jpg)

here's my settings
[code]

[2018-10-24 03:07] peteat commented on #2010
Hi @ramya-rao-a apologies for the delay. I've just tested it on the latest insiders and, I'm afraid, it's no different for me. I still get the `Error on CreateBreakpoint: could not find...` error on debug start.

[2018-10-24 06:24] ryzencool opened #2043 "when debug, can't get whole value if variable too long"
when in debug mode, if some variable's value too long, the debug panel can't display whole value, i try to right click, the options are gray

`macOS mojave version 10.14`
`vscoe Version 1.28.2 (1.28.2)`

![image](https://user-images.githubusercontent.com/12694592/47410409-4eb0a380-d798-11e8-9532-8fcd02f779a7.png)

[2018-10-24 09:55] #2042 closed

[2018-10-24 10:17] schroding3rscat commented on #1964
I'm using 0.6.93. The problem is with this snippet. When I hit F5 and vscode generates launch.js for me, I cannot start my project. I get an error with an unclear message that port 2345 is already used. Even if I don't want to remote debug anything, a port is still in the snippet.

[2018-10-24 10:20] gangachris commented on #2043
I think @ramya-rao-a covered this her [Gophercon 2018 Lightning Talk](https://youtu.be/mKdLiUuBnO4?t=313)

The limit is 64 characters.

You may need to change the go delve config to enable this.

[code]

[2018-10-24 14:20] schroding3rscat commented on #1964
I checked new launch.js generation and it seems that it doesn't add `port` there. My script was probably generated in the old version. I think this issue can be closed now.

[2018-10-24 14:20] #1964 closed

[2018-10-24 16:02] tarekbadrshalaan opened #2044 "Test code coverage for test not in the same package path"
as you can find [here](https://github.com/tarekbadrshalaan/goStuff/tree/master/blockchainfiles), I write the package in main package directory and create the test package in sub directory
- package files
|
-- package_test
|
-- package_example

and Test coverage check in the package directory only
**/usr/local/go/bin/go test -timeout 30s github.com/tarekbadrshalaan/goStuff/configuration -coverprofi

[2018-10-24 16:47] ramya-rao-a commented on #2043
Thanks @gangachris

From the 0.6.90 release of this extension on 3rd of this month, we are using version 2 of delve apis by default. So all you need to add in your settings is

[code]

The issue with the context menu entries being disabled is covered in #1990

[2018-10-24 16:47] #2043 closed

[2018-10-24 16:56] SteelPhase opened #2045 "Test coverage color refresh issue in split view"
macOS 10.13.6, and Windows 10 Version 1809 (OS Build 17763.55)
vscode 1.28.2
go plugin 0.6.93
golang v1.11.1

Tested with only the go plugin enabled

While writing unit tests for a go file, I had vscode split horizontally. The left panel being my actual code lets say `thing.go`. The right panel was `thing_test.go`. After code coverage highlighting has been toggled, any time you focus back on the `

[2018-10-24 18:08] steeve opened #2046 "substituteEnv doesn't work when installing Go tools"
When using this setting in the workspace's settings:
[code]

Then using the `Go: Install/Update Tools`, it fails with the following:
[code]

Which leads me to believe `substituteEnv` isn't used in that case.

For the record, the reason we do this, is because we have one `GOPATH` per project as we are using Bazel:
[code]

[2018-10-24 22:21] ramya-rao-a commented on #2046
We just merged a PR last week that should fix this. Try out our [beta-version](
https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension)

[2018-10-24 22:21] #2046 closed

[2018-10-24 22:30] ramya-rao-a commented on #2045
Thanks for reporting @SteelPhase!

I believe so too.

PRs are welcome to fix this bug.

Code Pointers:
- [Build and Debug the Extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- [applyCodeCoverage](https://github.com/Microsoft/vscode-go/blob/0.6.93/src/goCover.ts#L230) is called every

[2018-10-25 00:11] ramya-rao-a commented on #2044
What did you do to get that command to run?

[2018-10-25 00:13] ramya-rao-a commented on #2041
Can you try running `go get -u -v github.com/mdempsky/gocode` from the terminal and see if that succeeds or if you get the same error?

[2018-10-25 00:34] ramya-rao-a commented on #2040
See https://github.com/Microsoft/vscode-go/issues/2046#issuecomment-432848486

[2018-10-25 00:34] #2040 closed

[2018-10-25 00:47] ramya-rao-a commented on #2039
Manual linting can be triggered using the command `Go: Lint Current Package` or `Go: Lint Workspace`.
These commands will use the settings from `go.lintFlags` just like when the linter is run on file save.

One way to achieve what you want is to update the `go.lintFlags`, run the above command. Then change the flags back.

Another way is to use [tasks](https://code.visualstudio.com/Docs/editor/tas

[2018-10-25 00:47] #2039 closed

[2018-10-25 07:16] tarekbadrshalaan commented on #2044
this command **/usr/local/go/bin/go test -timeout 30s github.com/tarekbadrshalaan/goStuff/configuration -coverprofile=/tmp/vscode-goQL6BAQ/go-code-cover** printed in output tab when I used the command to toggle test coverage

I sent the command to you to make sure that the coverage test didn't run test in sub directory.

[2018-10-25 15:07] Xjs commented on #2039
Reading https://github.com/Microsoft/vscode/issues/1435, I'm not sure if the support for global tasks is really that high on the vscode agenda. I put together a small patch that essentially duplicates the lint command to provide a global »Slow Lint« that can e. g. be used for gometalinter, and will send a PR. Feel free to discard it if you don't like it, but I'm going to use it for the time being.

[2018-10-25 15:50] gencer commented on #1723
On my case after 5-10 minutes VSCode stops autocompleting. I had to restart VSCode workspace over and over again.

[2018-10-25 20:32] dimdiden opened #2049 "Local variables are not displayed when gorilla handlers.LoggingHandler is used"
Hi Team,

I have an issue with local variables not being displayed in VSC debugger:
<img width="1231" alt="screen shot 2018-10-25 at 23 08 25" src="https://user-images.githubusercontent.com/9885385/47528178-2a92b680-d8ad-11e8-8bea-f0baa4703c40.png">

Go version: go version go1.11.1 darwin/amd64
Delve version: Version: 1.1.0

Sample code:
[code]

Steps to Reproduce:
1. Run debug
2. Make a GET reque

[2018-10-25 20:38] dimdiden commented on #2049
Just in case, here are the logs:
[vscode-go-debug.txt](https://github.com/Microsoft/vscode-go/files/2516644/vscode-go-debug.txt)

[2018-10-26 03:45] Edznux opened #2052 "Support colors from tests coverage on the minimap"
Hi,

I think it would be pretty convenient to have the colors from tests displayed in the minimap.
It would allow a quick overview of the coverage in that file (which function are covered, is there a missing part over a big portion of fully covered code...)
thanks

[2018-10-26 03:49] alecthomas opened #2053 "go-langserver + modules failing to complete with "expected selector or type assertion, found 'return'""
![image](https://user-images.githubusercontent.com/41767/47542979-d67bd800-d894-11e8-9db8-16f35fdb4c43.png)

[2018-10-26 03:50] alecthomas commented on #2053
This is from https://github.com/alecthomas/participle. I'm happy to provide more information if necessary.

[2018-10-26 14:07] lrstanley commented on #2026
I'm sorry for the delay, I was in SF for hashiconf. I didn't run from source, as I don't have nodejs, and corp laptop makes it hard. I just modified the transpiled source to include the following two lines inside roughly the same place you mentioned (`Promise.resolve([])).then`):

[code]

and the output is:
[code]

As you can see, it's printing nothing after the prefix..:

[code]

And yet, when I

[2018-10-27 07:15] fxc1 opened #2057 "FR: implement go:generate command"
Hi,
could you please implement `//go:generate ...` comment as a command to run `go generate ...`. I think via right mouse click on code or even better, some icon in "breakpoint area" in the editor.

Thak you.

Go Blog: https://blog.golang.org/generate

[2018-10-28 14:01] Ashiroq commented on #1088
Hi, I'm new here. I gave it a shot, and it seems to be working. Preparing my PR.

[2018-10-29 09:00] JoseFMP commented on #1954
@ramya-rao-a Yes $GOPATH is set-up correctly. The issue of renaming not working happens in all the golang projects I tried. It never ever worked.
However I do believe the projects are configured correctly since all other go-related tools are working properly.

[2018-10-29 09:33] xcdr commented on #926
This is also important for me, I cannot switch from MacOS to WIndows 10 without this feature.

[2018-10-29 15:59] nkhine commented on #926
+1, I have the same, I am developing functions for serverless in golang on windows10

[2018-10-29 17:13] shayne commented on #926
While having this issue resolved within VSCode would be nice, I've found that using VSCode installed under WSL, using X410 (Windows Store) as the X11 server, is incredibly seamless and solved my immediate needs.

Installing VSCode in WSL Ubuntu is as easy as downloading the .deb package from the VSCode website. Running `sudo apt install <deb-file>`, then creating a shortcut that launches VSCode fr

[2018-10-30 02:46] willfaught commented on #1088
@Ashiroq Cool, thanks! My effort fell through.

[2018-10-30 02:57] willfaught commented on #1989
@ramya-rao-a Sure:

[code]

When run, you see output like:

[code]

When debugging TestX, you see these local variables:

<img width="212" alt="screen shot 2018-10-29 at 7 50 20 pm" src="https://user-images.githubusercontent.com/63830/47692770-2cfa5680-dbb4-11e8-98a5-cea6c884a9e1.png">

The pointer addresses for p and q aren't shown there, so you can't tell if they're equal and thus point to the s

[2018-10-30 04:44] primalmotion commented on #1994
there is a related issue there sourcegraph/go-langserver#209

[2018-10-30 14:57] sebglon opened #2062 "Fail to debug test with golang 1.11 and delve 1.1.0"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2018-10-30 15:02] sebglon commented on #2062
A small gist with trace:
https://gist.github.com/sebglon/c576ebdcd534ecae0be35e7ea51b7df5

[2018-10-30 21:14] ramya-rao-a commented on #2049
@dimdiden Local variables in the debug viewlet are only visible when a breakpoint is hit. In your screenshot above, the code is running and no breakpoint is hit.

[2018-10-30 21:14] #2049 closed

[2018-10-30 21:16] ramya-rao-a commented on #2052
That does sound cool. The minimap is core VS Code feature to which extensions cannot contribute at the moment and so we cannot implement this feature.

[2018-10-30 21:16] #2052 closed

[2018-10-30 21:17] ramya-rao-a commented on #2053
AFAIK the language server doesnt support modules yet.
But just to be sure, please log an issue at https://github.com/sourcegraph/go-langserver

[2018-10-30 21:17] #2053 closed

[2018-10-30 21:18] ramya-rao-a commented on #2057
I believe this is being tracked in #263

[2018-10-30 21:18] #2057 closed

[2018-10-30 21:21] dimdiden commented on #2049
@ramya-rao-a  I've set the breakpoint with the help of runtime.Breakpoint().
It doesn't matter the way I set the breakpoint, the issue remains the same.
Could you please reopen the issue?

[2018-10-30 23:16] alecthomas commented on #2053
I'm pretty sure [this commit](https://github.com/sourcegraph/go-langserver/commit/c4a270b23b2758e42bea161154f84d02e43f1aff) allows the langserver to support modules, similar to the equivalent change in @stamblerre 's [gocode](https://github.com/stamblerre/gocode/commit/a07fefd98fdcd9d2c16aa3f61d8e89eda396bf99) fork.

But I filed the issue here because it looks (?) like, from that error, vscode mig

[2018-10-30 23:16] dhowden opened #2063 "IntelliSense activates on single-line comments for exported symbols."
Steps to Reproduce:

Add to a comment on an exported name, using the period charater `.` will cause IntelliSense to activate.

![](https://user-images.githubusercontent.com/2822/47273005-38101e00-d5d9-11e8-85fc-6cc57a7dc2e4.png)

Linked to https://github.com/Microsoft/vscode-go/issues/2006

[2018-10-31 02:13] ramya-rao-a commented on #2053
From your screenshot, the `expected selector or type assertion, found 'return'` error is showing up against the `textDocument/documentSymbol` request. That is related to the file outline feature and not auto-completion feature.

Are you using the completion feature from the language server as well? Can you share your settings related to the language server?

[2018-10-31 02:20] ramya-rao-a commented on #2049
Unfortunately, we are only aware of the breakpoints created in VS Code itself. I dont see how we can support programmatic breakpoints like the ones created using `runtime.Breakpoint()` :(

[2018-10-31 02:32] ramya-rao-a commented on #1954
@JoseFMP Can you try running `gorename` from the command line and see if the tool succeeds?

[2018-10-31 02:36] ramya-rao-a commented on #2046
@steeve That's right. Fixed it.

[2018-10-31 04:32] dimdiden commented on #2049
@ramya-rao-a I took another screenshot, where you can see VSCode breakpoints and no variables:
<img width="1231" alt="screen shot 2018-10-31 at 06 29 27" src="https://user-images.githubusercontent.com/9885385/47766300-b013cd80-dcd6-11e8-9b11-951747aeaa35.png">

Kindly take a look at this issue, really looks like a bug. Thank you.

[2018-10-31 05:51] ramya-rao-a commented on #2049
@dimdiden

When a breakpoint is hit, the debug tool bar looks like the below

![image](https://user-images.githubusercontent.com/16890566/47768606-0876ab00-dc96-11e8-9782-230f67087ae2.png)

You will see the play button
You can also see the breakpoint being hit. The whole line gets highlighted.
The running code is paused and we are able to ask delve for all the available variables and their values.

[2018-10-31 06:30] dimdiden commented on #2049
@ramya-rao-a
Thank you for the explanation. I understand the workflow, though.
I think I need to change the description of the issue to "no breakpoint hit and no variables showed if gorilla handlers.LoggingHandler is used"

I've recorded the behaviour for your convenience:
https://drive.google.com/file/d/1YEFCV4Z5OcWX3MuLRCJ5zTMUCO2ZoMEn/view

Could you please take a look once again?

[2018-10-31 10:51] dibalavs commented on #763
I have the same issue:
vscode: 1.82.2
delve debugger: 1.1.0
go extension: 0.6.93

[2018-10-31 11:50] Delphier opened #2064 "Type hint alignment"
Can the field type be aligned?

![image](https://user-images.githubusercontent.com/6134731/47786057-7d54ee00-dd45-11e8-8ae3-39a103616bd0.png)

[2018-10-31 12:09] igorkim commented on #2041
$ go get -u -v github.com/mdempsky/gocode

[code]

[2018-10-31 17:06] napalm684 commented on #926
@shayne I pursued this today looks ok but I'm curious how stable given guis aren't officially supported by WSL.  What has your stability experience been like?

[2018-10-31 21:08] ramya-rao-a commented on #2063
The suggestion for the exported member name should only appear in the start of the comment.

PRs are welcome to fix this
Code Pointers:
- [Build and Debug the Extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- The fix should go here: https://github.com/Microsoft/vscode-go/blob/master

[2018-11-01 04:08] ramya-rao-a commented on #2044
I tried your example and the coverage file that gets generated is empty for me.
Can you open `/tmp/vscode-goQL6BAQ/go-code-cover` which is the cover profile file in your case and share its contents?

[2018-11-01 04:58] ramya-rao-a commented on #2049
I am able to hit the breakpoint even with the loggingHandler

<img width="1042" alt="screen shot 2018-10-31 at 9 56 20 pm" src="https://user-images.githubusercontent.com/16890566/47833420-e04f8080-dd57-11e8-90cc-5f7794472973.png">

What version of Go and delve are you using ? And what OS are you on?
My details:
-  `go version go1.8 darwin/amd64`
- Mac OS
- Delve Debugger
Version: 1.1.0
Build: $Id:

[2018-11-01 05:49] dimdiden commented on #2049
My env is the same:
* Mac OS: 10.14 (18A391)
* go version go1.11.1 darwin/amd64
* Delve Debugger
Version: 1.1.0
Build: $Id: 1990ba12450cab9425a2ae62e6ab988725023d5c $

I don't what to think now:( Maybe any debug configuration? I'm using the default one.

[2018-11-01 11:06] karthikraobr commented on #2064
I think [piece of code](https://github.com/Microsoft/vscode-go/blob/cb6257afbb6d9b54baf22c4319efc5ca403e757c/src/goExtraInfo.ts#L35) is responsible for the hover text. I am very bad at formatting/styling and  js/html, hence couldn't fix it :)

[2018-11-01 16:08] napalm684 commented on #926
Also (sorry for double post) delve for debugging doesn't seem to work this way.  Any special config needed?

[code]

[2018-11-01 19:02] ramya-rao-a commented on #2049
I am using default too :)

Add `"trace": "verbose"` to your debug config and try again.
This will add logs in the debug console. Please share that

[2018-11-01 19:02] #194 closed

[2018-11-01 19:17] dimdiden commented on #2049
I've attached the logs in the second comment in this thread.
Could you please take a look?

[2018-11-01 20:02] buyology opened #2071 "testutils: relax regex to include just Test, Example and Benchmark as valid test functions"
https://github.com/Microsoft/vscode-go/commit/ad95b526bcc4ca3f0edc6ffe8283271be804f305 introduced a stricter regex for `Test`, `Benchmark` and `Example` to avoid matching just Test, Example or Benchmark.

These are in fact perfectly fine as function names:

[code]

[code]

[2018-11-01 21:08] ramya-rao-a commented on #2071
I didnt realize that `Test`, `Benchmark` and `Example` were valid names for tests. Thanks for reporting!

PRs are most welcome!

Code Pointers:
- [Build and Debug the Extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- The regular expressions to update are https://github.com/Microsoft

[2018-11-01 21:14] ramya-rao-a commented on #2064
We use external tools to fetch this information. By default, this is provided by `godoc`.
`gogetdoc` does a much better job

@Delphier
- Set `go.docsTool` setting to `gogetdoc`
- Run `Go: Install/Update Tools` -> Select `gogetdoc` -> Press Ok to install it
- Reload VS Code and try the hover again.

Also, please log this isssue for the `godoc` tool as well.

@karthikraobr We just read the output fr

[2018-11-01 21:14] #2064 closed

[2018-11-01 21:15] ramya-rao-a commented on #2062
@sebglon
- Can you provide a small sample code that I can try this on?
- Are you using modules?
- Some screenshots will also help

[2018-11-01 22:29] ramya-rao-a commented on #2038
This should be fixed with https://github.com/Microsoft/vscode-go/pull/2029

Can you try our latest [beta-version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension)

[2018-11-02 00:38] ramya-rao-a commented on #2045
This is fixed with https://github.com/Microsoft/vscode-go/pull/2047

Until I release an update, you can get the fix using the [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension

[2018-11-02 00:38] #2045 closed

[2018-11-02 00:38] ramya-rao-a commented on #1990
This feature is now implemented with https://github.com/Microsoft/vscode-go/pull/2020

Until I release an update, you can get the fix using the [beta version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension

[2018-11-02 00:38] #1990 closed

[2018-11-02 00:58] jcalvarado1965 commented on #1723
Not sure if this is related to the above. For me (go 1.11, Windows 10) auto-complete is not working for any packages outside of GOROOT. Debugging gocode I traced the issue to importer.joinPath in importer.go. This function is converting underscores to dashes in the GOOS_GOARCH part of the path. It is not clear to me why this is being done, but causes the search for binaries to fail, as the directo

[2018-11-02 01:47] szmcdull commented on #2038
Great! After installing the beta-version, it works again. But 'Check for Updates' of Visual Code return 502 error. Don't know if it is related to the beta-version?

[2018-11-02 01:52] szmcdull commented on #2038
Great! After installing the beta-version, it works again. But 'Check for Updates' of Visual Code says server returned 502. Don't know if it is related to the beta-version?

[2018-11-02 05:30] dimdiden commented on #2049
Hi @ramya-rao-a ,
Thanks, here they are:
[vscode-go-debug_ERROR.txt](https://github.com/Microsoft/vscode-go/files/2541169/vscode-go-debug_ERROR.txt)
[vscode-go-debug_SUCCESS.txt](https://github.com/Microsoft/vscode-go/files/2541170/vscode-go-debug_SUCCESS.txt)

[2018-11-02 11:46] tarekbadrshalaan commented on #2044
Verstion : 0.6.94-beta.3
`/tmp/vscode-goDbs9q9/go-code-cover`
the contents
[code]

[2018-11-02 14:08] eliveikis commented on #2062
I'm seeing a similar bug. Some of my breakpoints fail to pause execution. The debug toolbar still shows as if execution is running, however the callstack appears and the breakpoint's file shows `PAUSED on BREAKPOINT`, but the file does not get focused. It only happens with some breakpoints. Sorry but I cannot provide the code, and I don't have a clear repro (I'm not sure why some breakpoints work

[2018-11-02 14:11] GLabat commented on #2062
Hi ,

We have the same behaviour and the only workaround found was to stick to vscode 1.27.2…

[2018-11-02 17:47] bitfield opened #2074 "gorename: can't find package containing... when using modules"
Steps to Reproduce:

1. In this repo: https://github.com/bitfield/uptimerobot
2. Open `main.go`, select the `main` identifier, and 'Rename symbol' to anything.
3. Error message in output:

[code]

`GOPATH` is not set and there is a valid `go.mod` file in the module root.

[code]

[2018-11-02 18:16] sebglon commented on #2062
After more research this is solved on insider version

Le ven. 2 nov. 2018 15:11, GLabat <notifications@github.com> a écrit :

--
[image: Akeneo] <https://www.akeneo.com>

Sébastien GLON

Cloud TEAM

[image: Address] 2 Place General Mellinet, 44100 Nantes
<https://maps.google.com/?q=2 Place General Mellinet, 44100 Nantes>

sebastien.glon@akeneo.com

[image: Phone]

www.akeneo.com

[image: Twitter]

[2018-11-02 20:28] ramya-rao-a commented on #2062
In that case this might be related to #1987

This is fixed upstream in VS Code and therefore you can try the latest [Insiders](https://code.visualstudio.com/insiders).

The fix is also in the master branch for the Go extension. So, if you dont want to use VS Code Insiders, then use the latest [beta-version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension

[2018-11-02 20:28] #2062 closed

[2018-11-02 20:29] ramya-rao-a commented on #2044
As you can see Go itself doesnt support this scenario. There is no coverage data in that file. Therefore, we cannot do much from the editor's perspective.

[2018-11-02 20:29] #2044 closed

[2018-11-02 20:29] ramya-rao-a commented on #2038
The 502 error is not related to the Go extension. The update server for VS Code was down yesterday for some time. It should be up now.

[2018-11-02 20:29] #2038 closed

[2018-11-02 21:41] ramya-rao-a commented on #2049
This is most likely related to #1987

Can you use the latest [beta-version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension which has the fix?

[2018-11-02 21:55] ramya-rao-a commented on #1723
@jcalvarado1965 Are you using modules? If yes, then please log an issue at https://github.com/mdempsky/gocode/, else log it at https://github.com/stamblerre/gocode

@gencer What version of Go are you using? Please try the below to figure out if `gocode` is slow or VS Code is slow in giving completions.
- `gocode exit`
- `gocode -s -debug` This starts gocode in debug mode and will give completion r

[2018-11-02 22:02] ramya-rao-a commented on #1723
This thread has gone too long and each person here might be facing completion issues for different reasons. Half of us here have already found solutions one way or the other. Therefore, I will be closing this thread.

The `mdempsky/gocode` fork is much more stable than a few months ago.
If you are using Go modules, you will be prompted to install another fork of gocode which is also pretty stable.

[2018-11-02 22:02] #1723 closed

[2018-11-02 23:08] ramya-rao-a commented on #2010
@peteat, @jinmatt, @jpopadak Can you try the [latest beta-version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension

[2018-11-03 06:22] kidlj opened #2077 "'Go to Definition' and 'Peek Definition' don't work with go module `+incompatible` packages"
I'm using go1.11 outside GOPATH directory.

While importing `github.com/go-pg/pg` and building my code, the `go.mod` file adds an entry like this:
[code]
The code is simple - main.go:

[code]

The code above builds and works.

However, for digging into the `go-pg/pg` source code by `Go to Definition` or `Peek Definition`, when I'm in the `main.go` file shown above, everything is fine; when I'm in

[2018-11-03 07:02] kroppt opened #2078 "`The "godoc" command is not available` upon hover"
Version of VS Code: `1.28.2`
Version of Go plugin: `0.6.93`
Version of Go: `1.11.1`

OS/Platform you are working on:
`Linux 4.18.3-gentoo`

- sample code which can be used to reproduce the issue:
[code]

- any Go related settings you might have added/changed:
None or valid `go.gopath`

Steps to Reproduce:

1. Update tools
2. Open a Go file with extension enabled
3. Hover over function
4. Minimal i

[2018-11-03 13:16] Charliekenney23 commented on #1921
I'll take this!

[2018-11-03 14:30] huttarichard commented on #1994
having same issue, for me os crashed sourcegraph/go-langserver#336

[2018-11-03 16:39] dimdiden commented on #2049
Yes! It works. Thank you very much for the help @ramya-rao-a !

[2018-11-03 17:02] wcn00 opened #2079 "vscode-go breakpoints do not work in opensuse 15"
This isn't a request for help, but a comment to OpenSuse users out there trying to debug with vscode.
I installed an opensuse 15 machine and the latest code from the repo and found that no matter what I did (and I trolled a lot of the issues documented here to no avail) I could not get a breakpoint to hit.  My configuration has some common problems:
-my home dir (where the go source is) is a symli

[2018-11-03 20:43] nfons opened #2082 "Stop debugging in VSCode macOSX 10.14 hangs the process"
Building a simple Go http server.

After starting the debugger, at a random chance, when stopping the debugger (either via stop, or restart) the service doesnt seem to be terminated properly.

I need to manually kill the zombie process to restart the debugger.

Vs code Version 1.28.2 (1.28.2)

[2018-11-03 22:41] lanrat commented on #2074
I'm having the same issue, unfortunately it appears that the `gorename` tool does not yet support go modules.

More info: https://github.com/Microsoft/vscode-go/issues/1954#issuecomment-426387803

[2018-11-03 22:45] grazimdeoliveira commented on #1954
😈

[2018-11-04 04:22] leaxoy opened #2083 "vscode can't correctly handle type field or package variable or type highlight, but atom can."
Left is vscode, while the right is atom.
![](https://i.postimg.cc/knGbjB30/WX20181104-121557-2x.png)

[2018-11-04 04:28] rubenzinho07 commented on #2083
😈

Em Dom, 4 de nov de 2018 02:22, 李晓辉 <notifications@github.com> escreveu:

[2018-11-04 07:54] GLabat commented on #2062
Hi, indeed no more issue with latest vscode insiders.
Thx.

[2018-11-04 09:06] rubenzinho07 commented on #2062
😈

Em Dom, 4 de nov de 2018 05:54, GLabat <notifications@github.com> escreveu:

[2018-11-04 13:29] bitfield commented on #2074
I thought @ramya-rao-a had already forked `gorename` to add module support... or was that wishful thinking on my part?

[2018-11-04 14:33] ulrichSchreiner opened #2084 "High CPU when go to definition in wrong code"
hi,

i regularly use F12 or STRG+CLICK to jump to a reference. i do not know since when, but when i do this in "wrong" code all of my 4 cpu's jump to high usage, and the top 3 performers is "code"
[code]
and i'm doing *nothing* in vscode. only wait for it. my go-code looks like this:
[code]

the marked line was inserted with "STRG+SPACE" and this is completly correct. but it does not compile, as i

[2018-11-04 14:37] ulrichSchreiner commented on #2084
one more note: when i change the code so that it compiles, everything works. and this also "repairs" `code`. so when change the upper code to
[code]
and jump to the definition of `GetConfiguration` this works and the CPU of code comes down again.

[2018-11-04 19:43] ramya-rao-a opened #2085 "Debug: Start without debugging cmd should always use current file"
`Debug: Start without Debugging` is the command to use to simply run the current file rather than debugging.

This works just fine just fine in the below cases:
- No launch.json file or it is empty
- The currently selected debug configuration in launch.json has the `program` attribute pointing to a file.

This falls back to debugging when the `program` attribute in the currently selected debug con

[2018-11-04 19:46] ramya-rao-a opened #2086 "Debug: Start without Debugging command doesn't use the args, buildflags from the debug configuration"
`Debug: Start without Debugging` is the command to use to simply run the current file rather than debugging.

This is expected to use the currently selected debug configuration in launch.json
It does use the `program` and `env` attributes as expected, but ignores the `args` and `buildflags` attributes.

PRs are most welcome to fix this.
Code Pointers:
- [Build and Debug extension](https://github.c

[2018-11-04 19:54] ramya-rao-a opened #2087 "Rebuild after running `Go Get Package` cmd if current file has "package not found" errors"
Add a package to the import block which you haven't downloaded yet. You will get the error `cannot find package...`

At this point, you can run the command `Go Get Package` with the cursor on the package in the import block, and the package will get downloaded and installed.

But the error still remains. We need to rebuild the file for the error to go away.

PRs are most welcome to fix this
Code P

[2018-11-04 19:59] ramya-rao-a commented on #2084
@ulrichSchreiner Thanks for reporting.

- Can you share your Go related settings?
- Can you share a small sample code where you see this issue, so that I can give it a try?
- What version of Go are you using?
- What OS are you on?
- Next time this happens, run `Developer: Open Process Explorer`. Under `extensionHost`, you should be able to see any long running process started by the extension

[2018-11-04 20:37] ramya-rao-a commented on #2083
Thanks for reporting @leaxoy

I have logged an upstream bug https://github.com/atom/language-go/issues/161 to track this.

[2018-11-04 20:37] #2083 closed

[2018-11-04 21:09] ramya-rao-a commented on #2077
Thanks for reporting @kidlj

@ianthehat,

What can we expect from `godef` when trying to find a definition of a symbol which is used in a package under `pkg/mod` ?

[2018-11-04 21:15] ramya-rao-a commented on #2074
`gorename` doesn't yet support modules.

See [Go modules support in Visual Studio Code](https://github.com/Microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code)

[2018-11-04 21:17] ramya-rao-a commented on #2003
To achieve the colors, this extension should use tasks to run the tests and show the output in the integrated terminal which is capable of showing the colors.

[2018-11-04 21:42] ramya-rao-a commented on #1948
Thanks for logging this feature request @prateek

This definitely can be done by modeling it after our build/lint/vet process such that the analysis appears in the problems view.

i didn't understand this though. Can you elaborate on this?

@Southclaws Tasks is definitely a good way to do this. I am guessing we can automatically create the task by defining a [task provider](https://code.visualstud

[2018-11-04 21:55] ramya-rao-a commented on #1983
Apologies for the delay in getting to this.

You can add the below in your settings and `godef` picks it up and works as expected:
[code]

What we can do is automatically set the GOFLAGS environment variable when a `vendor` folder is detected at the same level as the `go.mod` file.

But before doing that, I have a question. Do you know what the "main module" is referring to in [How do I use vendor

[2018-11-05 02:11] ianthehat commented on #2077
godef needs to be run in the "project" folder not the directory of the file.
Basically you need the CWD of godef to be below the module root so it can find the go.mod file (which also means you should be detecting it as the module branch the same way, by checking the directory you are going to use to run godef). Then you hand it the absolute path to a file in the module cache. If that does not wor

[2018-11-05 02:13] rubenzinho07 commented on #2077
😈

Em Dom, 4 de nov de 2018 19:09, Ramya Rao <notifications@github.com>
escreveu:

[2018-11-05 03:33] ramya-rao-a commented on #2078
We use the `godoc` binary that is shipped with the Go distribution. You must be missing that. Check your $GOROOT/bin

See https://bugs.archlinux.org/task/60537

We should fallback to `go doc` in such cases though..

[2018-11-05 04:09] kroppt commented on #2078
The [portage ebuild](https://packages.gentoo.org/packages/dev-lang/go) just runs `make.bash` from source and copies the folders over (including bin). So, I think this is an issue with building from source.

[2018-11-05 08:33] ulrichSchreiner commented on #2084
it only happens when there is a bug in the code. here
[code]

everything is fine. but here:
[code]
the "Go to definition" (F12) on the `ReadAll` does not work and CPU increases.

[2018-11-05 17:00] cfiderer opened #2097 "VS Code stops in init() but doesn't show anything"
When I set a breakpoint in an init() function and start my program with "Debug" -> "Start Debugging" or with F5, the program stops at that breakpoint - but the call stack is not available, the source line is not highlighted in the editor, I do not see any variables and I cannot step into any function called from the init() function. Sometimes, I cannot even continue.

Steps to Reproduce:

1. Take

[2018-11-05 17:03] cfiderer commented on #2097
PS: manually debugging the program with dlv.exe works fine.

[2018-11-05 18:25] heschik opened #2098 "Use goimports fork for modules support"
I've pushed a [beta version of goimports](https://github.com/heschik/goimports) that uses go/packages for module support. As usual, it's slower than we'd like it to be but should be functional. I think it's ready for use in the same circumstances as the godef and gocode forks.

It does have one slight difference in behavior vs. standard goimports, described in https://github.com/golang/go/issues/2

[2018-11-05 19:08] segevfiner opened #2099 "delve is not looked for in go.toolsGopath"
This code: [src/debugAdapter/goDebug.ts:361](https://github.com/Microsoft/vscode-go/blob/65ab6d31e46db623d5550a9425dc7833d395586d/src/debugAdapter/goDebug.ts#L361) only looks in `GOPATH`. It will fail to find `dlv` when it was installed in `go.toolsGopath`. (There is also `GOBIN`, but I'm not sure we are looking for tools there anywhere in the extension anyhow).

Steps to Reproduce:

1. Set `go.to

[2018-11-05 19:40] segevfiner opened #2100 "Duplicate diagnostics when running a task with the $go problemMatcher"
### Steps to Reproduce

1. Build any go package, when `go.buildOnSave` is enabled, with the following task definition:
[code]
2. Observe the duplicate errors.

![image](https://user-images.githubusercontent.com/24731903/48021589-a3153500-e141-11e8-9bc0-39b2381f70fd.png)

### Analysis
VS Code de-duplicates diagnostics based on their `owner`. For tasks this is set in the `problemMatcher` (The `go` p

[2018-11-05 19:42] segevfiner opened #2101 "Set `Diagnostic.source` for generated diagnostics"
This appears in square brackets in front of the "problem" in the problems view. It should be set to `go` for diagnostics generated from building go code (`go build`). And maybe the name of the linter for linters.

See also: https://github.com/Microsoft/vscode-go/issues/2100

[2018-11-05 19:50] ramya-rao-a commented on #2097
I believe this is same as #2038

Can you try our latest [beta-version](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension)?

[2018-11-05 19:53] ramya-rao-a commented on #2099
This is because the debug adapter runs in a separate process and doesnt have access to VS Code settings.

This can be fixed by sending the path to the delve tool as part of the debug configuration in the `resolveDebugConfiguration`  method in the `goDebugConfiguration.ts` file.

PRs are most welcome to fix this.
Code Pointers:
- [Build and Debug extension](https://github.com/Microsoft/vscode-go/wi

[2018-11-06 06:14] ramya-rao-a commented on #2049
Great! Happy Coding!

[2018-11-06 06:15] ramya-rao-a commented on #1921
@Charliekenney23 Thanks! Do you need any pointers?

[2018-11-06 06:15] ramya-rao-a commented on #1994
@huttarichard Do you also not see the problem in 1.27.2? You can get the older version from https://code.visualstudio.com/updates/v1_27

[2018-11-06 08:40] cfiderer commented on #2097
Hi Ramya,

Go-0.6.94-beta.4.vsix fixes the issue.

Sorry for not detecting the older issue #2038 - and thanks for the quick response.

[2018-11-06 08:40] #2097 closed

[2018-11-06 14:59] Charliekenney23 commented on #1921
@ramya-rao-a Yeah, pointers would be great if you have the time!

[2018-11-06 16:32] wcn00 opened #2104 "Go debugger erorr: Failed to continue - no G executing on thread 0"
I have an http server project (not mine) and when I attempt to debug it with a breakpoint established I get
Failed to continue - no G executing on thread 0

If I start it with no breakpoints it starts, but issues that message soon as I set a break.

I've been through much of what is written about dlv problems here and can say:
-there is only one dlv, which was installed by "go get -u github.com/de

[2018-11-06 17:08] ramya-rao-a commented on #2097
No problem, Happy Coding!

[2018-11-06 20:02] blackdahila commented on #588
@ramya-rao-a I'd like to work on that 🙂

[2018-11-06 22:57] MylioFabien commented on #1903
I'm also seeing this issue.

My setup:
. macOS Mojave v10.14
. Delve Debugger Version: 1.1.0 Build: $Id: 1990ba12450cab9425a2ae62e6ab988725023d5c $
. VSCode 1.28.2 (7f3ce96ff4729c91352ae6def877e59c561f4850)
. go version go1.11.2 darwin/amd64

In the debug console, VSCode reports "Failed to next - bad access".

![screen shot 2018-11-06 at 2 50 02 pm](https://user-images.githubusercontent.com/180358

[2018-11-07 00:34] ramya-rao-a commented on #194
This long pending feature is now out in the latest update of this extension (0.7.0)
Thanks to @segevfiner!

[2018-11-07 00:35] ramya-rao-a commented on #1990
This feature is now available in the latest update to the Go extension (0.6.0)
Thanks to https://github.com/karthikraobr!

[2018-11-07 00:36] ramya-rao-a commented on #1732
This feature is now available in the latest update to the Go extension (0.7.0)
Thanks to @sphawk!

[2018-11-07 00:36] ramya-rao-a commented on #343
This feature is now available in the latest update to the Go extension (0.7.0)
Thanks to @sphawk!

[2018-11-07 00:37] ramya-rao-a commented on #2078
In the latest update to this extension (0.7.0), I have replaced the use of `godoc` with `go doc`. So this should be fixed now.

[2018-11-07 00:37] #2078 closed

[2018-11-07 00:38] ramya-rao-a commented on #1890
The fix to this bug is now available in the latest update to the Go extension (0.7.0)
Thanks to @ToothlessGear!

[2018-11-07 00:38] ramya-rao-a commented on #1987
@freezlite's fix is no out in the latest update to the Go extension (0.7.0)
Thanks @freezlite!

[2018-11-07 00:38] #1987 closed

[2018-11-07 00:39] ramya-rao-a commented on #2062
The fix for this is now out in the latest update to the Go extension as well (0.7.0)

[2018-11-07 00:39] ramya-rao-a commented on #2049
The fix for this is now out in the latest update to the Go extension as well (0.7.0)

[2018-11-07 00:39] ramya-rao-a commented on #2038
The fix for this is now out in the latest update to the Go extension as well (0.7.0)

[2018-11-07 00:40] ramya-rao-a commented on #2045
The fix is now out in the latest update to this extension (0.7.0)
Thanks @diogogmt!

[2018-11-07 08:57] timdmackey commented on #1982
Aww, the poor guy just needs some cataract surgery!
![go](https://user-images.githubusercontent.com/182772/48120793-feb9ee00-e227-11e8-9b05-b445adc788a2.png)

[2018-11-07 09:50] stlaz commented on #1327
It seems that https://github.com/Microsoft/vscode/issues/34627 is the current upstream issue that needs to be resolved in order for the debugging in symlinked directory to work. I suspect the Go community will be bumping into this the most.

[2018-11-07 11:15] huttarichard commented on #1994
@ramya-rao-a I can confirm, so far did not happen

[2018-11-07 16:20] MattiaCostamagna opened #2106 "Lint tool not working"
Hi all!

I have a problem with the vscode-go extension that doesn't lint any errors in my code.
It stopped working since I upgraded my laptop's Ubuntu version to 18.10.

If I toggle the developer tools and save a file that contains a syntax error, I get these lines in the console:

[code]
I already tried to disable every extensions I had previously installed except for vscode-go. I also tried to u

[2018-11-07 18:33] segevfiner commented on #2100
I wonder if the right way to handle this is to define a `DiagnosticCollection` for each type of diagnostics source rather than the diagnostics severity, something like this:
[code]

That way we only clear the collection when running the corresponding type of tool, and we can correctly set the owner of build errors to `go` to fix the duplication issue.

[2018-11-07 19:12] #2041 closed

[2018-11-08 03:46] ramya-rao-a commented on #2106
What version of Go are you using?
Syntax errors should show up when the extension runs `go build` and not necessarily the linter.
Can you set `go.buildOnSave` to `package` and try again?

If this happens consistently in a small program, then can you share the same?

[2018-11-08 06:18] ramya-rao-a commented on #1987
@jpeletier "now" out for sure :)

[2018-11-08 07:38] MattiaCostamagna commented on #2106
Hi @ramya-rao-a
this is the output of "go version"
`go version go1.11.2 linux/amd64`

Setting `package` in `go.buildOnSave` didn't make any difference.
I don't know if the project I'm working on is big (it's actually my first real project using Go), the compiled program is 6 and a half MB, but I tried the same in a small program with just a `fmt.Println("Hello world")` and a syntax error, but noth

[2018-11-08 10:58] pmalekn commented on #1994
I am only using vs code with Go for a couple of weeks and using langserver was always causing huge CPU spikes and memory consumption. VS code version `1.28.2`, go plugin `0.7.0`, `go-langserver` SHA `0ed1299806f7c16c0fd25d9ac31ef20e48cd4ce0`.

Attaching cpu and heap profiles if that might help anyone. (while creating the heap profile langserver was using around 14 gigs of memory - at least that's

[2018-11-08 14:19] ianthehat commented on #2077
https://go-review.googlesource.com/c/tools/+/148199 contains a fix.
Once that is submitted, running godef in the project folder with an absolute path into the module cache should work.

[2018-11-08 16:18] joaoferrao commented on #1944
@stamblerre so the go extension decided to update from beta to the latest release and clearly is not behaving correctly (the beta seemed more stable).

I tried repeating the process for installing the beta versions .vsix files but:
[code]

[2018-11-08 16:20] stamblerre commented on #1944
@joaoferrao, I think this is probably a question for @ramya-rao-a?

[2018-11-08 16:28] joaoferrao commented on #1944
OK... just found out it's a problem related of downloading it with curl...

[2018-11-08 17:34] segevfiner opened #2107 "Wrong documentation when there are multiple functions with the same name"
While Go doesn't support function overloading, you can still have multiple functions with the same name but with a *different* receiver. For example: `testing` has the `Run` function.

It seems that `gocode` and `godef` don't supply us with the receiver. But `go doc` does support receiving it, like so `go doc testing T.Run`.

Steps to Reproduce:

1. Save as `foo_test.go`:
[code]
2. Try to complete

[2018-11-08 19:37] heschik commented on #2098
@ramya-rao-a: need anything else from me?

[2018-11-08 23:38] ramya-rao-a commented on #2098
@heschik I have pushed the necessary changes, and this will be part of the next update

[2018-11-09 01:53] #2071 closed

[2018-11-09 02:10] ramya-rao-a commented on #2107
@segevfiner Thanks for reporting!

This is a hard problem to solve...

We cant use `go doc testing T.Run` because there is no way to know that we should use `T.Run` and not `Run`. We dont get that information from `gocode`

`gocode` does give the function signature which I thought I could use to get the right info from `go doc testing Run` which gives docs for all 3 Run() implementations.

But thi

[2018-11-09 02:11] ramya-rao-a commented on #2106
- Can you share the small program you are using, with the expected error?
- Are you using Go modules or is your code under the GOPATH? Run `Go: Current GOPATH` to see your current gopath

[2018-11-09 02:17] ramya-rao-a commented on #2104
You ran `dlv exec`. I am guessing you are passing the binary to it? Can you run `dlv debug` instead in the terminal and see if it hits the breakpoints?

Can you share your debug configuration from the launch.json file?

You can add `"trace": "verbose"` to your debug configuration and then try debugging. This will add logs in the debug console which should tell us more