[2017-05-08 13:26] riosdavi commented on #968
@ramya-rao-a thanks for your quick reply. Effectively, replacing "---" by "--" solved the issue but I think a better algorithm should be used to detect `diff` output.
I would vote for such a fix.
Thanks!

[2017-05-08 13:33] ironcladlou commented on #972
@ramya-rao-a

At the time, I just didn't think about them because I didn't use benchmarks. So, no special reason. 😁  I absolutely think the plugin should support them!

Thinking about them now:

1. Benchmark functions do seem distinct from tests in practice and I'd expect benchmarks to not get executed automatically when running "test". I'd be interested to discuss this if there's any disagreement

[2017-05-08 13:54] Mike152 opened #979 "Visual Studio Code (with the ‘golang’ extension) so very, very slow?"
Dear Sir,
PROBLEM:
Why is Visual Studio Code (with the ‘golang’ extension) so very, very slow?

ANALYSIS:
1. I am running Windows 10 on a desk top PC.
Processor: Intel(R) Core(TM) i3 CPU 540 @ 3.07GHz 3.06 GHz
Installed Memory (RAM): 4.00 GB (3.87 GB usable)
System type: 64-bit Operating System, x64-bassed processor

2. I am running Visual Studio Code Version 1.12.1
Commit f6868fce ...
Date 2017-0

[2017-05-08 15:27] ramya-rao-a commented on #968
@riosdavi Of course, a better logic is needed. I just asked you to to the replacing to confirm that https://github.com/Microsoft/vscode-go/blob/master/src/diffUtils.ts#L175  indeed is the root cause.

Nevertheless, that was put in place as a workaround for a bug in the diff module which has since been fixed, so I can remove that check altogether.

Thanks for reporting the issue and confirming my h

[2017-05-08 15:27] #968 closed

[2017-05-08 15:39] wolfgangmeyers commented on #970
That worked like a charm! Thanks!!

[2017-05-08 15:39] #970 closed

[2017-05-08 15:42] ramya-rao-a commented on #976
Can you share your settings for `go.formatOnSave` and `go.formatTool` ?

[2017-05-08 15:49] ramya-rao-a commented on #977
Are you on 0.6.60 or 0.6.61? There was a perf issue we found in 0.6.60 which we fixed in 0.6.61. The issue was that the cache for references in codelens was being invalidated every time and so every scroll would re-calculate references again

How is the performance when you run "Find all references" from the context menu? We use `guru` to get references and have seen it being slow for Windows user

[2017-05-08 15:49] ramya-rao-a commented on #977
Thanks for reporting @hungys

Are you on 0.6.60 or 0.6.61? There was a perf issue we found in 0.6.60 which we fixed in 0.6.61. The issue was that the cache for references in codelens was being invalidated every time and so every scroll would re-calculate references again

How is the performance when you run "Find all references" from the context menu? We use `guru` to get references and have seen

[2017-05-08 15:53] ramya-rao-a commented on #979
Can you disable the Go extension and do `go run helloworld.go` in the terminal? Is it still slow or is there a difference?

[2017-05-08 16:09] jpatters commented on #707
@50Wliu That is correct. `*redis.Script` is a pointer to the `Script` type in the `redis` package.

[2017-05-08 17:40] ramya-rao-a commented on #972
@ironcladlou Words are as important as code while discussing design and requirements, I am just glad you could respond every time I ping you :)

I agree. Our existing commands to run test in file/pkg/workspace and the test on save feature should not include the benchmark. Benchmarks are about perf and not correctness.

But the codelens for running the test and the command to run test at cursor can

[2017-05-08 18:00] hungys commented on #977
@ramya-rao-a

I'm on VS Code 1.12.1 with Go extension 0.6.61. (macOS 10.12.4)

For the Code Lens, will the cache be invalidated when re-opening or switching between different files? But the fact is that **every time** I open a file (75 LoC, and the whole project contains ~2000 LoC), it takes about 5 seconds to let the reference count show up.

For "Find all references", it is also a little bit slo

[2017-05-08 19:39] damienstanton opened #980 "gometalinter performance problems"
I am using plugin 0.6.61, VSCode 1.12.1, macOS 10.12.4, Go 1.8.1.

Gometalinter seems to take more than 20-30 seconds to run over a given `.go` file, and it reduces overall editor performance to a sluggish pace, where keystrokes take a full second or more to register. Changing to a new file, I still see the linter warnings/errs for the old file.

Switching the configuration to use `golint` as the

[2017-05-08 19:40] damienstanton commented on #980
I also made sure to have everything up to date and ran `gocode close`. No effect.

[2017-05-08 19:47] damienstanton commented on #980
The ref count also seems to be intermittently not working. Sometimes I see a reference count above function definitions, sometimes I don't, and sometimes there is just a random space in between a comment line and the function signature 😕

[2017-05-08 19:56] ramya-rao-a commented on #977
The cache is invalidated when there is a change in document or when you switch documents. Its how the VS Code Api works. The first case makes sense, but the second doesn't.

"Find all references" in itself is never cached. If that itself is slow, then am afraid, there is nothing much we can do for the codelens.

Unless of course there is a better solution to find references other than using `guru`

[2017-05-08 21:40] datanotion commented on #321
I'm seeing this problem again with the latest version of Code (1.12.1) while trying to debug a NativeScript app.  Any others seeing the same, or am I alone?

[2017-05-09 00:18] ramya-rao-a commented on #980
There is a `--fast` flag that you can pass in the `go.lintFlags` which when used with `go.lintTool:gometalinter` apparently runs only the fast linters in gometalinter.

Unfortunately there is nothing more the Go extension can do here, other than rely on the user's knowledge of how best to use gometalinter

[2017-05-09 00:18] #980 closed

[2017-05-09 00:29] damienstanton commented on #980
Interesting, I did not know about that flag. Thanks!

[2017-05-09 02:02] renannprado commented on #978
@ramya-rao-a is this an issue with the plugin or with vscode?
if it is a problem with the plugin, maybe I can try to help fix it

[2017-05-09 02:52] ramya-rao-a commented on #978
I dont have a proper repro for this. Can you share a sample code with repro steps?

cc @roblourens

[2017-05-09 03:12] renannprado commented on #978
So here are the steps to reproduce:

1. start the debugging session with no breakpoints
2. try to put a breakpoint (it won't work, the requests to create the breakpoint get stuck in delve)
2.1. the only way to make the breakpoint to be created in that case would be if we send `Halt` to delve by clicking in pause button
3. click in the pause button nothing happens...

Sample program

[code]

[2017-05-09 04:58] 50Wliu commented on #707
Cool, thanks.  One more question: can there be multiple period qualifiers, such as `var test a.b.c`?

[2017-05-09 07:23] silentred opened #981 ""Test Function At Cursor" not work"
- VScode version
1.12.1

- plugin version
0.6.61

I updated go-outline tool, and there are "run test | debug test" button above TestFunction. But the original "Test Function At Cursor" command does not work now.
Then I tried to install/update all go tools with a command. Nothing changes.

[2017-05-09 10:48] aeronite opened #982 "Build complete workspace on save"
I'm running the latest golang plugin in vscode on linux mint.
Everything works great as long as I open the editor exactly on the GOPATH however when I reopen the editor on a specific project somewhere inside GOPATH the plugin no longer detects problems on save

[2017-05-09 14:23] ipsusila opened #983 "Go runtime path detection failed on MSYS2"
On MSYS2, Go binary is not located under `${GOROOT}/bin` thus `getGoRuntimePath()` in `goPath.ts` failed to locate `go.exe`. Example `go env` output in MSYS2:

[code]
where `<installation directory>` is the directory where I installed MSYS2. Currently I fix this issue by changing `goPath.ts` line 79-84

[code]

to

[code]

[2017-05-09 14:46] bennyscetbun commented on #966
@ramya-rao-a
Hi since last update, i have the same issue

- It was working fine before the update
- Yes go definition wasnt working between packages
- No i havent changed` go.docsTool`
- No i havent changed `go.useLanguageServer`
- extension: 0.6.61
- I am on MacOS 10.12.4

I just tried to use `gogetdocs` and it works better.

By the way even if my `GOPATH` was set. since last patch i have to set

[2017-05-09 17:09] chrisolsen commented on #976
formatOnSave: true
formatTool: goreturns

[2017-05-09 17:19] nicpottier commented on #853
Just adding a quick note here that I'm facing the some problems and had to disable the lang-server to make vs-code workable again on a go repo.

[2017-05-09 17:52] ramya-rao-a commented on #976
The auto-import and removal of unused import is done by the formatting tool which is run on save as long as `go.formatOnSave` is set to `true`

Looks like formatting is not being triggered in your case after save.

Other features that run on save are build, lint and vet.

Do you get build errors or linting warnings on save ?

[2017-05-09 17:54] josephspurrier opened #984 "Can't load package error on main package in src/cmd folder"
I'm on OSX. This looks like a behavior with go build and not with vscode-go. If there is a main package in the src/cmd folder or a subfolder, it will ignore the GOPATH and will look in libexec.

This is error will show up when go.buildOnSave = true.

This command builds fine:
laptop:~/godev/workspace/src go build cmdd/another

This command throws an error:
laptop:~/godev/workspace/src go build cmd

[2017-05-09 18:50] chrisolsen commented on #976
I have `lintOnSave` turned off due to a previous issue resulting in a huge slow down, but `vetOnSave` is still enabled.

I don't get any errors. The normal output I get on save is the following, which does show that `goreturns` is not being run

[code]

Running `goreturns`, `goimports` or `gofmt` from the command line on a file outputs the formatted text to the terminal properly formatted, so as y

[2017-05-09 20:27] diegobernardes opened #985 "Respect alias during autocomplete"
Supose we have a package called `elasticsearch` that is used inside the package `product`. On package product the elasticsearch has a alias called `client`, then when we call `client.methods` it shows `elasticsearch.methods`, and this is correct, but when we do a tab to accept the autocomplete it put the `elasticsearch.` instead of  `client.`, so we are forced  to rename to accept the alias name.

[2017-05-09 22:28] goenning commented on #981
Which OS? I just tried on my Windows with same versions and it worked.

Are you triggering the command by using the command bar? Can you try to bind a keyboard shortcut to this command and run it this way?

[2017-05-10 00:41] #981 closed

[2017-05-10 00:44] ramya-rao-a commented on #981
Thanks for reporting @silentred

This is a regression. While adding the codelens support, there was a missing null/undefinied check.

Pushed https://github.com/Microsoft/vscode-go/commit/2e910389736160166ef721f14d11b95e37197a4f to fix it.

The fix will be out in the next update which will be in a week or 2.

Until then, as a work around you can use the codelens or bind a shortcut for the command

[2017-05-10 00:49] ramya-rao-a commented on #982
@aeronite Do rest of the features like the below work when you open a specific project?

- Go to Definition
- Formatting (Right-click -> Format Document)
- Find all references
- Symbol search

Is there any output in the output window (Choose "Go" channel" in the drop down in the output window)

[2017-05-10 00:54] ramya-rao-a commented on #985
@diegobernardes Can you give a sample code where I can try and repro this?

I don't know how to do the above.

[2017-05-10 01:05] ramya-rao-a commented on #984
@josephspurrier You are comparing `laptop:~/godev/workspace/src go build cmdd/another` and `laptop:~/godev/workspace/src go build cmd/another`

I don't see the difference between the two other than an extra `d` in `cmdd` which I think is a typo.

Can you share the two build commands?

[2017-05-10 01:44] diegobernardes commented on #985
Sorry if the description was so vague, was programming when i had that idea and had to post before i forget :smile:

github.com/diegobernardes/vscodego/elasticsearch/v1
[code]

github.com/diegobernardes/vscodego
[code]
Don't know if this is possible or easy, but, the autocomplete is correct showing `v1.Product`, because it is the signature of the method. But, when we select the autocomplete sugges

[2017-05-10 02:47] jpatters commented on #707
No. Not in that particular location (after the variable name but before the `=`).

[2017-05-10 04:10] ramya-rao-a commented on #985
Thanks for the clarification.

So you have `"go.useCodeSnippetsOnFunctionSuggest": true` in your settings
and expect the snippet that gets added by the autocompletion to have the default value as `elastic search.Product` instead of `v1.Product`.

The snippets added in this way are rarely ever used without any changes. In this case even if `elastic search.Product` was inserted, you would still have

[2017-05-10 04:13] ramya-rao-a commented on #976
The formatting tool when run doesn't show anything in the output window.

Does Right-click -> Format Document, format the document?

[2017-05-10 04:19] #983 closed

[2017-05-10 04:20] ramya-rao-a commented on #983
Thanks for reporting @ipsusila !

I have committed the fix (https://github.com/Microsoft/vscode-go/commit/67557af839921649e9fb1653b704b01b3ced307b) and it will be out in the next update

[2017-05-10 05:01] ramya-rao-a commented on #966
@erichiller It is known issue that `godef` doesn't work well with built-in pkgs. See https://github.com/Microsoft/vscode-go/issues/599 The workaround is to use `gogetdoc` instead.

@bennyscetbun We use `godef` by default for the Go to definition feature. Can you run `godef` from the command line to see if it returns the right location? I cannot think of any reason why it would stop working suddenl

[2017-05-10 05:05] ramya-rao-a commented on #978
Thanks for the steps @renannprado

cc @roblourens

[2017-05-10 06:01] chrisolsen commented on #976
Calling the `Format Document` doesn't work either, but setting `go.useDiffForFormatting` to `false` fixes the problem.

[2017-05-10 06:29] aeronite commented on #982
Hi @ramya-rao-a  thanks for the quick reply!

- All of the other features you mentioned still work fine inside a specific proj.
- Running `Go: Current GOPATH` gives me the correct GOPATH

Heres exactly whats happening:
I have a function  called 'Query' in package 'mypackage1', I use this function in 'myPackage2'.
If I change the func name to Query1 I see no indication of an error inside 'myPackage

[2017-05-10 09:06] bennyscetbun commented on #966
@ramya-rao-a
removing `gopath, `goroot` and event `godoctool` from my configuration and restarting all the instance of visual studio fixed all my issues. (i nearly never close my mac session or visual studio...)

[2017-05-10 14:25] mpvl opened #986 "Fail to connect to debugger"
I've used delve successfully with vscode in the past. But on my recent install on a new laptop, I'm getting the following error:

2017/05/10 15:41:14 server.go:73: Using API v1
2017/05/10 15:41:14 debugger.go:89: launching process with args: [./debug.test -test.run TestCodec]
could not launch process: dial tcp :50889: getsockopt: connection refused
Process exiting with code: 1

VSCode: 1.12.1
Delv

[2017-05-10 15:09] cyc115 opened #987 "Test at cursor does not work"
Test function at cursor will not work like before, opening up the chrome dev console shows the following error:
[code]

at ExtensionHost.ts:285

[2017-05-10 22:44] Mike152 commented on #979
Thank you for your reply.
It took about 15 minutes to disable the workspace (was that what you meant?).
It didn't help, it still takes from 10 to 20 minutes to run a simple 'Hello World'.
This is unusable
Q. It there a minimum amount of memory needed to make it work properly?

[2017-05-10 23:56] alpha-rain commented on #321
Yes i am having this issue right now debug javascript with nodejs 7.10.0, in Code (1.12.1)

[2017-05-11 00:50] ramya-rao-a commented on #987
See https://github.com/Microsoft/vscode-go/issues/981#issuecomment-300341146 for workaround.

The fix has been checked in and will be out in the next update which should be in a week or 2

[2017-05-11 00:50] #987 closed

[2017-05-11 00:51] ramya-rao-a commented on #986
How did you install delve? And what platform are you on?

I recently saw this issue when I installed delve on Mac from master using brew.
Didn't see it after I installed the stable version

[2017-05-11 00:56] ramya-rao-a commented on #976
Cool!

If `go.useDiffForFormatting` is not set to `false` then the Go extension runs the formatting tool with the `-d` flag. The formatting tool returns the diff, and then the extension applies the diff on the editor.

If `go.useDiffForFormatting` is set to `false`, the formatting tool replaces the file on disk.

So my next question would be if you can run `goreturns` from the command line with th

[2017-05-11 02:42] josephspurrier commented on #984
Sorry, I should have been more clear. I did some more research and the cmd folder in the root of the src directory is a special folder that the Go internal tools see as internal. I added a "d" to the end to demonstrate that anything other than "cmd" works properly.

To reproduce, place a main.go file (any hello world application is fine) in each of the directories:
src/cmdd/another/main.go
src/cmd

[2017-05-11 02:43] LYY commented on #936
@ramya-rao-a For now is 1.12.1, the bug is still there.

[2017-05-11 06:18] IzakMarais opened #988 "Inconsistent codeLens vs find references"
With the following directory structure, I get inconsistent results between VSCodes CodeLens references and VSCode Find References (or running guru from the command line):

_src/example/main.go_:
[code]
_src/example2/example2.go_:
[code]
Screenshots of the inconsistencies. Notice how the codeLens and find references values differ.
![image](https://cloud.githubusercontent.com/assets/8266640/25934813

[2017-05-11 06:30] IzakMarais commented on #988
Also, is there an easy way to use VSCode to determine the byte offset of a symbol? It would help to debug issues like this using the command line tools. I'm counting number of characters from the start of the file by hand.

[2017-05-11 07:03] IzakMarais commented on #988
This looks like a duplicate of #977 and #962 . Perhaps the minimal example will help reproduce it #977 ? I'm on Windows.

[2017-05-11 07:26] ramya-rao-a commented on #982
After renaming the function in `mypackage1`, can you make a small edit and save the file in `myPackage2` which uses the function and then see if the error shows up?

The `go build` that we run on save is run only on the package where the change is being made. In your case this is `myPackage1`. Build is run on `myPackage2` only if there was a change>save in a file belonging to `myPackage2`

[2017-05-11 07:28] ramya-rao-a commented on #966
@bennyscetbun great that you are unblocked now. Happy Coding!

@erichiller @mukeshdutt Do you still have issues with the Go to Definition feature?

[2017-05-11 07:35] ramya-rao-a commented on #984
@josephspurrier Thanks for clarifying! i can repro it now.

cc @rakyll @campoy for more input on why import paths beginning with `cmd/` get treated differently

Based on their and we can then discuss what is the best course of action here.

[2017-05-11 07:38] ramya-rao-a commented on #979
Sorry for not providing the easier way before. You can run `code --disable-extensions`. This will run vs code with all the extensions disabled.

Can you run `go run helloworld.go` outside vs code in a terminal? Is that faster?

[2017-05-11 12:11] last911 opened #989 "Go to definition doesn't work on the package in the import statement"
go1.8.1
vscode 1.21.1
vscode-go 0.6.61
godoc + godef

![wechatimg279](https://cloud.githubusercontent.com/assets/4099143/25988590/2670e20e-372b-11e7-8de4-29df208edc63.jpeg)

[2017-05-11 15:50] tylerb opened #990 "Autocomplete Improvements"
I don't know how the autocomplete system works, so I'm not sure where this issue should go. I don't know how much influence this package has on the way the autocomplete does its thing.

I have two issues that are driving me insane:

1. Snippet prefixes are always at the bottom of the autocomplete list
2. Whole word identifiers are not selected if they contain different case letters

For example, o

[2017-05-11 17:26] roblourens commented on #978
When debugging starts, vscode sends a ThreadsRequest. goDebug.ts sends a ListGoroutines request to Delve, but Delve never responds. So then when you click Pause, vscode doesn't know which thread to pause, and never sends the pause request over. I suppose we need to figure out whether we're caling ListGoroutines at a bad time, whether it's a Delve bug, or if we should just add a timeout for it.

[2017-05-11 17:33] roblourens commented on #978
And as for setting the bp after launch, I don't know whether it should be possible to set a BP when Go is in a loop like that. I can't do it with Delve at least.

[2017-05-11 17:43] renannprado commented on #978
@roblourens yes, it is possible (will later update an asciinema session to show)
the only way to set a breakpoint in this case would be to use the command `Halt` (using the pause button in vscode), then everything is paused on the process and you are free to set the breakpoints

[2017-05-11 18:25] rakyll commented on #984
I don't know/remember why this restriction exists but VS Code shouldn't do anything to change this behavior.

[code]

I asked relevant people why we are restricted to GOROOT with "cmd/" import paths and will update you once I have an answer.

[2017-05-11 19:02] rakyll commented on #984
I learned that this restriction exists for the connivence of the GOROOT developers.

`go install` cmd/compile builds GOROOT/src/cmd/compile and replaces the go binary. It is less tedious than having to run ./make.bash every time. This is going to make my life better :)

So, there is nothing for vscode-go to do here. This a go tool restriction unless the go tool removes the restriction.

[2017-05-11 19:52] kumarsiva07 opened #991 "Not supporting for vendor"
I am using https://github.com/golang/dep for dependancy management. This will store all dependencies in vendor dir. vscode editor not detecting package from vendor.

<img width="973" alt="screen shot 2017-05-12 at 1 20 35 am" src="https://cloud.githubusercontent.com/assets/7725174/25969112/63baead0-36b1-11e7-9d25-eb9f304665a6.png">

[2017-05-11 19:59] mpvl commented on #986
I've installed it using go get -u and running make install on a Mac.

[2017-05-11 20:03] mpvl commented on #986
I get the same when running make install from delve-0.12.2.

[2017-05-11 22:39] erichiller commented on #966
@ramya-rao-a  Yes - Sorry for the delay - I just changed my config - Restarted vscode as well to include `go.docsTool` to be `gogetdoc`
here are my non-default settings:

[code]

[2017-05-11 23:37] willfaught opened #992 "Inconsistent syntax highlighting for multiple assignment to fields"
See the attached image:

<img width="519" alt="screen shot 2017-05-11 at 11 46 04 am" src="https://cloud.githubusercontent.com/assets/63830/25976180/1254e39c-3668-11e7-9845-762829e5809c.png">

The FieldsSplit field is colored differently than the other fields in the assignment.

[2017-05-12 05:16] ramya-rao-a commented on #966
@erichiller So you are saying that "Go to Definition" is not working even after changing to `gogetdoc` ?

[2017-05-12 05:32] ramya-rao-a commented on #990
Easy fix. Set `editor.snippetSuggestions` to either "top" or "inline"

For the second one, are you saying that the case insensitive options are not showing up or that the case sensitive option is auto selected instead of the case insensitive one? In your example, what would be the desired items in the completion list?

- We use [gocode](https://github.com/nsf/gocode) for getting the completion ite

[2017-05-12 05:32] ramya-rao-a commented on #991
@kumarsiva07 Is this a regression or has this never worked?

[2017-05-12 06:29] josephspurrier commented on #984
Ah good to know! We have a corporate application that we built and tried placing all our microservices using the cmd/appname convention. We renamed the folder to app to prevent the conflict. I'm fine with closing this ticket, just good to know the reason! Thanks! Great tool by the way, my team loves it!

[2017-05-12 09:02] jackie-qiu commented on #991
@ramya-rao-a  Never worked!

[2017-05-12 09:15] jackie-qiu commented on #989
Same issue for me

[2017-05-12 10:08] sofent commented on #991
i have the same problem

[2017-05-12 14:28] chrisolsen commented on #976
Running `goreturns -d filename.go` only returns `diff .\filename.go gofmt/.\filename.go`, where as running `goreturns` without the `-d` does return the formatted output.

[2017-05-12 15:03] mpvl commented on #986
Which version is known to work with the given Go extension and VSCode version?

[2017-05-12 15:07] Alexendoo opened #993 "Delve doesn't abide by go.toolsGopath"
It gets installed into the regular GOPATH

go version go1.8 windows/amd64
vscode-go 0.6.61

[2017-05-12 18:51] tylerb commented on #990
@ramya-rao-a thanks very much for that!

`editor.snippetSuggestions: "top"` fixes my first concern.

The second concern is that the case insensitive option, when it matches a whole word of a different case, should select that option.

A gif is worth (1000 * number of frames) words, so here's a gif:

![field](https://cloud.githubusercontent.com/assets/70804/26012346/7a9daa84-3711-11e7-84a3-8ad3e841

[2017-05-12 21:31] ramya-rao-a commented on #990
Got it.

That is the behavior of completion item sorting/default-selection/filtering in the core VS Code and extensions don't control it

And the exact same concern was raised here: https://github.com/Microsoft/vscode/issues/21362
Please follow that issue.

[2017-05-12 21:31] #990 closed

[2017-05-12 22:13] ramya-rao-a commented on #984
@josephspurrier Thanks! Do let us know if you/your team has any other feedback via the gitter channel or twitter

[2017-05-12 22:13] #984 closed

[2017-05-12 22:15] tylerb commented on #990
Excellent. Thanks for letting me know!

[2017-05-13 06:24] ramya-rao-a commented on #976
We did see the same before in https://github.com/Microsoft/vscode-go/issues/520#issuecomment-253919509 and logged an issue with goreturns https://github.com/sqs/goreturns/issues/28

Can you try removing the `goreturns` you have and do a fresh `go get -u github.com/sqs/goreturns` ?

Other than that as concluded in https://github.com/Microsoft/vscode-go/issues/520#issuecomment-277493885, there is no

[2017-05-13 06:24] #976 closed

[2017-05-13 10:30] kumarsiva07 commented on #991
Never worked to me. Before use go dep(Vendor), Editor can find the path.

[2017-05-13 13:18] fortytw2 opened #994 "Ignore linter output on generated files"
Per https://github.com/golang/go/issues/13560 it'd be excellent to have the option to ignore all linter output on generated files that match the agreed upon standard here - https://github.com/golang/go/issues/13560#issuecomment-288764366

[2017-05-14 00:33] cyc115 commented on #986
confirm same error on Delve Debugger
Version: 1.0.0-rc.1
Build:

[2017-05-14 06:12] gideondsouza opened #995 "fmt.Scanf("%d", &i) does not debug right"
So I'm not entirely sure if this is a problem with vs-code or delve. I've noticed from debugging a few things, like especially a web service the debug console gives me `debugger.go:505: continuing` and just stops.  I know that log output is coming from [this line](https://github.com/derekparker/delve/blob/a843f7944eae7213d256de2a9c14675c1238851a/service/debugger/debugger.go#L505).

No I finally na

[2017-05-14 09:04] gideondsouza opened #996 "setting "go.useLanguageServer": true results in goto definition saying "no definition found""
These are my details:

OS: Fedora 25.
VSCODE:
Version 1.12.1
Commit f6868fce3eeb16663840eb82123369dec6077a9b
Date 2017-05-04T21:40:39.245Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

Go : 1.8
vscode-go : 0.6.61

-------
So I set `go.useLanguageServer": true` in my config. It prompted me to install source graph. Now when I hit F12 (goto definition) on say `fmt.Println(..)` it shows a tooltip sayi

[2017-05-14 12:56] tugbabodrumlu commented on #625
I have the same problem now, could you please help?

[2017-05-14 14:41] jackie-qiu commented on #991
@kumarsiva07 Try "go get -v github.com/rogpeppe/godef"

[2017-05-14 21:08] SR-G commented on #50
Same "problem" here : those popup about installing Go tools are very, very, very annoying. How can they be turned off ? (is there a user preference about this somewhere ?)

[2017-05-15 00:14] ramya-rao-a opened #998 "Replace installation pop up for every tool with a better user experience"
Currently, if user doesn't have the necessary Go tools installed, there is a pop up reminding the user to do the same when the extension performs an action that needs the Go tool.

This is not much of a problem in certain scenarios where user explicitly executes a command like
- Find all references (`guru`)
- Rename (`gorename`)
- Add/delete tags (`gomodifytags`)
- Generate test (`gotests`)
- Find

[2017-05-15 00:14] ramya-rao-a commented on #50
Created #998 to track the replacement of the current pop-up behavior

[2017-05-15 00:16] ramya-rao-a commented on #625
@tugbabodrumlu Do you have other extensions installed? Can you repro the behavior after disabling other extensions?

[2017-05-15 00:23] ramya-rao-a commented on #991
@kumarsiva07 What you are seeing are build errors. You can see the same in the output pane where it says "Finish running tool: /usr/local/go/bin/go build -i -o ...."

Can you run the build command you see in the output pane in the terminal? Does that succeed?

[2017-05-15 00:25] ramya-rao-a commented on #986
@mpvl If you are using Mac, then I suggest you install delve using brew as instructed here: https://github.com/derekparker/delve/blob/master/Documentation/installation/osx/install.md#via-homebrew

This way you will get the stable version

[2017-05-15 00:27] ramya-rao-a commented on #996
cc @keegancsmith

[2017-05-15 00:31] ramya-rao-a commented on #995
`fmt.Scanf` reads text from std input. So from what I can understand, unless there is an input the program cannot move forward.

What is your expectation here?

[2017-05-15 02:29] mixj93 commented on #991
same problem ╥﹏╥...

[2017-05-15 07:21] aeronite commented on #982
Thanks! That was the issue that was confusing me, so everything's fine.
If that's the case though, would you consider an option to build all packages (in project context) on save?
Go's super fast compile times should mean that this won't affect user experience. It will make refactoring much more intuitive.

[2017-05-15 09:03] tugbabodrumlu commented on #625
I had c++ extension and I removed it, but I still have the same problem..

[2017-05-15 09:25] kumarsiva07 commented on #991
@ramya-rao-a  I just restarted the IDE. Now Its fine

[2017-05-15 10:47] gideondsouza commented on #995
Being able to put in an input in the debug console somehow.

I played with delve itself and see that this is actually how delve behaves so I'm guessing that some way to interact with a scanf like call would have to be implemented inside delve.

Oh well.

[2017-05-15 10:47] #995 closed

[2017-05-15 15:25] ramya-rao-a commented on #625
@tugbabodrumlu Can you share your user settings? Also, can you describe your issue? Is it exactly what @cristim sees?

[2017-05-15 15:26] ramya-rao-a commented on #991
cool, Happy Coding!

[2017-05-15 15:26] #991 closed

[2017-05-15 15:26] ramya-rao-a commented on #991
Others who are having this issue, can you share what you get when you do `go build` as per the command printed out in the output window?

[2017-05-15 15:30] tugbabodrumlu commented on #625
Hi,

I sometimes see godef, golint and goimports processes started many times and CPU cores get at 100%.

Here is my settings:

[code]

[2017-05-15 15:45] cyc115 opened #999 "unpredictable codelens in go test files"
The new version of vscode introduced codeLens for `*_test.go` files that allows user to quickly `run` and `debug` a test method. Thank you for this feature, it is extremely handy. But it seems that those two buttons in codeLens would swap place from time to time (an example below).
![client_test_go_-_notary](https://cloud.githubusercontent.com/assets/2107333/26066130/90aec08c-395b-11e7-9d24-fd1906

[2017-05-15 18:02] Emreu commented on #966
Hi everyone! I had possibly same issue.
After some research found root of problem (at least for my case) - function **isPositionInString** (**utils.ts:238**) returns incorrect values for some specific but usual in golang cases. If you have empty string ("") or some bizzare escaped string ("\\\\") before your object of interest - go to definition didn't works.
Examples:
![not_ok_1](https://cloud.gi

[2017-05-15 22:52] ramya-rao-a commented on #625
There are other issues for the high CPU usage.

Are you in a Mac? Did you recently upgrade to Sierra?

Can you close all but one VS Code window, run `Go: Install Tools` and once that is complete, reload VS Code and try again?

[2017-05-15 23:32] alexanderGalushka commented on #986
confirm the issue

[2017-05-16 00:07] ramya-rao-a commented on #966
@Emreu Thanks for investigating. Next time feel free to submit a PR as well. You have found the root cause, I'd prefer you get the credit for fixing the issue as well :)

For now I have pushed in the fix.

@erichiller @mukeshdutt I'll wait a few more days for you to confirm if your case is similar to @Emreu

[2017-05-16 00:09] ramya-rao-a commented on #999
Interesting..

@jrieken Do you know the reason for this? The code that provides the codelens for run/debug tests is https://github.com/Microsoft/vscode-go/blob/master/src/goRunTestCodelens.ts#L79-L80

I don't see why the order should change.

[2017-05-16 00:24] cyc115 commented on #999
Update : This behavior seems to affect all codeLens. The groups would also
be inverted from time to time when there are multiple logical groups of
codeLens on one line.

On May 15, 2017 7:09 PM, "Ramya Rao" <notifications@github.com> wrote:

[2017-05-16 01:38] mixj93 commented on #991
Actually, the build is fine. I use makefile to build:
![jietu20170516-092605](https://cloud.githubusercontent.com/assets/12998118/26085983/78ca11e6-3a1a-11e7-9798-8b7357b22c2d.jpg)

But the import can't find some package, because this package are in vendor/, not in GOPATH/src or GOROOT/src
![image](https://cloud.githubusercontent.com/assets/12998118/26086120/664d59c8-3a1b-11e7-8b17-0020c07ed142.pn

[2017-05-16 02:22] ramya-rao-a commented on #991
@mixj93 What you have shown is the error coming from running `go build`.
Which is why I ask what do you get when you do a `go build`. My suspicion is that you will get the exact same error message. Then the next step would be to figure out why `go build` fails.

You may use makefile to build, but the Go extension uses `go build` on the import path of the package to build the package.

[2017-05-16 03:07] mixj93 commented on #991
Yes, now I know why. And I move the project folder to GOPATH and everything looks fine.

[2017-05-16 05:18] mukeshdutt commented on #966
@ramya-rao-a Sorry for the delay in my case I'm sending dynamic value(variable) instead of hard coded.

And now i changed **go.docsTool** value to **gogetdoc** after change this gogetdoc plugin was downloaded then again same **go.useLanguageServer** value to true after change the value same as **go.useLanguageServer** plugin tried to download but getting failed message.

[2017-05-16 07:39] tugbabodrumlu commented on #625
Yes I am in a Mac and i recently upgraded to Sierra. I will do so, and will report back.

[2017-05-16 08:02] jrieken commented on #999
Interesting indeed. There is some [sorting](https://github.com/Microsoft/vscode/blob/master/src/vs/editor/contrib/codelens/common/codelens.ts#L35), namely by line number, provider, and column.

@ramya-rao-a Do both code lenses come from the same provider?

[2017-05-16 08:30] lunemec commented on #10
After update this morning the same issue happened to me as well. It says `Cannot find "go" binary. Update PATH or GOROOT appropriately`. I'm using mac, and Go is insalled with homebrew, so it has non-standart path. I'm setting this path in my .zshrc, and it works inside the integrated console, but I can't find a way to set PATH inside vscode. GOPATH is set correctly (as it worked yesterday before

[2017-05-16 08:33] gljubojevic commented on #984
However..
If vscode would prepend "./" to path during build it would avoid confusion and avoid errors of this type e.g.
[code]

Build command like this works:
`/usr/local/bin/go build -o /var/folders/gg/glq0fl_d2s526bnmcvnsqk9r0000gn/T/go-code-check -tags "" -ldflags=-s ./cmd/dbi`

Note prepended "./" to build path.

Same works from terminal
`# go build cmd/dbi
`
Fails..
`# go build ./cmd/dbi
`
Wo

[2017-05-16 14:18] ramya-rao-a commented on #984
The reason we don't use relative paths like that is to make the symlinks work. See #846

[2017-05-16 14:19] ramya-rao-a commented on #999
@jrieken Yes, they come from the same provider, same function. See https://github.com/Microsoft/vscode-go/blob/master/src/goRunTestCodelens.ts#L79-L80

[2017-05-16 14:22] ramya-rao-a commented on #966
@mukeshdutt

So you are saying setting `go.docsTool` to `gogetdoc` didn't work
And after that you tried, setting `go.useLanguageServer` to `true` also didn't work?

Are you using multiple GOPATHs?

[2017-05-16 15:12] jrieken commented on #999
Thank, the problem is that our sort isn't stable so equal items (which you code lenses are) might not keep their initial sort order... Feel free to forward this bug to me

[2017-05-16 15:13] citizenrich opened #1000 "go install and go test on save without creating tasks"
Heyo,

I love the tool. I wonder if it's possible to do both go install and go test together on save, but without having to create a new task in each code dir. I'm mimicking the behavior of go-plus for Atom.

FWIW, in a teaching environment, I'd rather not impose task writing out of the box.

Rich

[2017-05-16 15:15] JamesOwenHall commented on #986
I have tried both installation methods, in both cases I'm getting the same `could not launch process: [...] getsockopt: connection refused` message.

[2017-05-16 15:47] jrieken commented on #999
Should be fixed with https://github.com/Microsoft/vscode/commit/8ac7e555d1790267bf58e1922fc2f737a4d1c1ab

[2017-05-16 16:28] ramya-rao-a commented on #999
thanks @jrieken!

@cyc115 The fix will be out in tomorrow's insiders build

[2017-05-16 16:29] #999 closed

[2017-05-16 16:31] ramya-rao-a commented on #10
@lunemec Must be the case of the files of the old version of the Go extension still lingering around. There is a bug on this in the VS Code repo, but I can't seem to find it.

But am glad you are unblocked, Happy Coding!

[2017-05-16 16:34] ramya-rao-a commented on #986
@derekparker Any ideas based on the above error message?

[2017-05-16 18:57] cyc115 commented on #986
I know this is not a longterm solution but for those that needs it :Try
reverting back to 0.12 , worked for me

On May 16, 2017 11:34 AM, "Ramya Rao" <notifications@github.com> wrote:

[2017-05-16 21:00] mpvl commented on #986
I confirm that using 1.0.0 was the issue. Had the wrong path when reverting to 0.12 before.

[2017-05-17 11:42] jimah commented on #936
I am also experiencing this issue in 1.12.2.

Go plugin version 0.6.61.

[2017-05-17 13:06] JamesOwenHall commented on #986
Yup, 0.12.2 works.

[2017-05-17 14:23] TheDarkPhoton opened #1001 "Autocompletion doesn't seem to work at all with golang installed in a custom location"
I've been trying to make vscode and go extensions to work with my go installation but it just doesn't seem to work no matter what I do. The only autocompletion suggestions that I get are the golang keywords and nothing else not even standard API suggestions appears. I've added some information about my setup below, let me know if you have any idea what might cause this problem.

settings.json
[cod

[2017-05-17 18:28] ppcuban commented on #847
@Nivea01 Your solution didn't work for me. The step `CERT=dlv-cert make install` gave me back a "make: *** No rule to make target 'install'"

[2017-05-17 18:45] TheDarkPhoton commented on #1001
Ok, I think I know what caused the problem. At some point I have installed gocode with `sudo apt install ...` and it looks like that was used over the `go get ...` installation. Running `sudo apt autoremove gocode` seems to fix it.

[2017-05-17 18:45] #1001 closed

[2017-05-17 20:06] coreds opened #1002 "File links in output channel (detection seems occasionally broken)"
Filenames in output channels used to be clickable and one could open the target files and jump to line/column but doesn't work anymore in latest release 1.12.2 on Mac.

E.g.

[code]
Would have rendered to a clickable link like in:

[code]

Actually, this used to work in some past release. Stopped working in some later update. Worked again for a short time in 1.12.0 and gone again in 1.12.1 or .2.

[2017-05-17 20:28] xxxtonixxx commented on #989
I have the same problem using vscode 1.13.0-insider and go 1.8.1 linux/amd64

[2017-05-18 05:57] ramya-rao-a commented on #1002
@coreds This doesn't look like it is specific to the Go extension.

Can you open an issue in the VS Code repo instead?

[2017-05-18 08:34] gertcuykens opened #1003 "run test | debug test"
![image](https://cloud.githubusercontent.com/assets/863731/26193264/06c3d40a-3bb5-11e7-9174-7abfcaec7364.png)

The run `test | debug test` appearing when writing test is really annoying for me and can't figure out how to disable it?

Things like this distracts you too much from writing code

[2017-05-18 12:45] tqoliver opened #1004 "d"

[2017-05-18 14:30] #986 closed

[2017-05-18 14:33] keegancsmith commented on #996
This is a duplicate of https://github.com/sourcegraph/go-langserver/issues/185

[2017-05-18 19:53] cheetahfm commented on #219
Can you say (approximately) when debugging with stdin will be available?

[2017-05-19 12:00] goenning commented on #1003
That is called CodeLens inside VSCode and it can be disabled with following settings.

[code]

[2017-05-19 12:41] gertcuykens commented on #1003
A yes, thx! Much better :D Ps this feature should be off by default I think, this is more like a toggle feature you only use when you want to examine a other repo quickly.

[2017-05-19 14:17] goenning commented on #1003
I understand your point, by at least for me, this is a huge gain of productivity. I usually split screen between the test and the function under test and use these shortcuts to verify if it's working, i don't need to switch to terminal and neither run all the tests. Debug is insanely useful when I have no idea why it's not working and it's just a click away. But yeah, this is just my point of view

[2017-05-19 15:33] darylng commented on #318
I think it should actually be the following as it's a build tag and not a test argument.

[code]

[2017-05-19 15:55] atombender opened #1005 "Autocompletion in declaration comment should suggest nearest declaration before others"
If I'm writing a comment for a declaration, I expect the struct to be the first thing suggested (and I swear this used to be the case, too):

[code]

I would expect autocompletion here to offer `HTTPResponseError` as the first option if I started typing. But I'm getting other suggestions at the top of the list:

![vsc](https://cloud.githubusercontent.com/assets/50314/26256117/e6e0e7ce-3c89-11e7-9c

[2017-05-19 16:02] atombender commented on #819
Further information: This only happens if `editor.formatSave` is enabled.

[2017-05-20 17:32] ramya-rao-a commented on #1004
sorry what?

[2017-05-21 12:01] gertcuykens commented on #1003
Agree thats why maybe i think a toggle would be a good idea to turn it on or off in the view menu
![image](https://cloud.githubusercontent.com/assets/863731/26283736/e09deb64-3e2d-11e7-9e8a-6dd5addc7aa8.png)

[2017-05-22 04:47] ramya-rao-a commented on #219
@derekparker Can you help out @roblourens in his query? See https://github.com/Microsoft/vscode-go/issues/219#issuecomment-288225992

[2017-05-22 16:59] dmke commented on #936
I believe the grammar has a a problem with parentheses in the `var (...)` declaration block. I've notices this while creating a global channel ([Gist with go sources](https://gist.github.com/dmke/a59c76c1d65f5f822c03ff7557288475)):

![screenshot](https://cloud.githubusercontent.com/assets/327411/26319470/6f62c300-3f1f-11e7-9d90-67c87064c80d.png)

Here's another funky example (note the `return` in

[2017-05-22 21:23] ahmetb opened #1007 "Incorrect highlighting in import blocks"
![image](https://cloud.githubusercontent.com/assets/159209/26329002/1aee1e20-3efa-11e7-9089-1ba803812893.png)

Note the commented-out lines are not properly painted as gray.

vscode-go: 0.6.61
vscode: 1.12.2-mac

[2017-05-22 22:22] ramya-rao-a commented on #1007
Duplicate of #119

The latest Insiders has the fix. Can you give that a try?

[2017-05-22 22:22] #1007 closed

[2017-05-22 22:27] ramya-rao-a commented on #936
This issue was moved to atom/language-go#125

[2017-05-22 22:27] #936 closed

[2017-05-22 22:29] ramya-rao-a commented on #936
Thanks everyone for reporting this with the detailed examples, and sorry that I couldn't get to this earlier.

Once the upstream grammar is fixed, the fix will be pulled into VS Code as well

[2017-05-22 22:30] #1004 closed

[2017-05-22 22:38] ramya-rao-a commented on #1003
@gertcuykens

You can also turn codelens off for all languages by setting `editor.codeLens` to `false`

For granular control on codelens by the Go extension, you can use `go.enableCodeLens` like @goenning has suggested.

By default, we keep codelens on. Same goes for VS Code in general.
If there are codelens that may have perf impact (for eg: the references one), we keep them off by default.

[2017-05-22 22:38] #1003 closed

[2017-05-22 22:39] ramya-rao-a commented on #967
Closing as we havent heard back from @polariseye  in a while

[2017-05-22 22:39] #967 closed

[2017-05-22 22:41] ramya-rao-a commented on #982
#830 attempted to do something similar.

@mattblagden ping ping

[2017-05-22 22:44] ramya-rao-a commented on #985
@nsf Any thoughts on `gocode` respecting alias for the package while returning the `type` of the completion item?

[2017-05-23 05:42] ramya-rao-a commented on #936
Thanks to @50Wliu we have the fix!

This will be fixed in the Insiders build of May 23rd, 2017

[2017-05-23 05:52] ramya-rao-a commented on #992
In the above case `FieldsSplit` gets the scope `variable.other.assignment.go` and rest of the words before it get `source.go`

[2017-05-23 05:53] ramya-rao-a commented on #992
This issue was moved to atom/language-go#128

[2017-05-23 05:53] #992 closed

[2017-05-23 06:19] nsf commented on #985
I think it worked like you would expect once, but apparently it doesn't anymore. I will take a look at it on the weekend.

[2017-05-24 19:59] jeffcharles opened #1008 "`TypeError: Cannot read property 'stopOnEntry' of undefined` when attaching to remote debugger with breakpoints"
VSCode version: 1.12.2
Go extension version: 0.6.61

I have my launch configurations defined as:

[code]

When I run _Launch_ after setting some breakpoints, I get `TypeError: Cannot read property 'stopOnEntry' of undefined`. Whenever I restart the same debugger I get the same error. The debugger panes are all empty except for the breakpoint panes after this error comes up. Disabling the breakpoin

[2017-05-24 23:59] ramya-rao-a commented on #992
This is fixed in the latest VS Code Insiders build

[2017-05-25 00:01] henvic commented on #979
Visual Studio Code is very slow here as well after running for just a few minutes when I have `go.useLanguageServer: true`.

My $GOPATH is `/Users/henvic/projects/gocode`.
Outside VS Code Go runs just fine.

Maybe this is related with the issues below?
https://github.com/sourcegraph/go-langserver/issues/185
https://github.com/Microsoft/vscode-go/issues/886

[2017-05-25 02:11] ramya-rao-a commented on #979
@henvic The language server issue is tracked here: https://github.com/sourcegraph/go-langserver/issues/178

[2017-05-25 02:12] ramya-rao-a commented on #979
@henvic  Language server perf issue is tracked here: https://github.com/sourcegraph/go-langserver/issues/178

[2017-05-25 02:13] ramya-rao-a commented on #979
@Mike152 Do you still see issues? Do you have the language server turned on?

[2017-05-25 21:06] postgrep commented on #926
I think this is related.
https://github.com/Microsoft/vscode/issues/22663

[2017-05-26 08:48] mariusgrigaitis opened #1009 "Remote debugging has unverified breakpoints and fails to set breakpoint if local GOPATH partially matches remote GOPATH"
VS Code Version 1.12.2 (1.12.2)
vscode-go v0.6.61

Local GOPATH:
`/Users/mgrigaitis/go`
Project:
`/Users/mgrigaitis/go/src/github.com/org/repo`

Remote GOPATH:
`/go`
Project:
`/go/src/github.com/org/repo`

workspaceRoot = /Users/mgrigaitis/go/src/github.com/org/repo
in launch.json:
[code]

In such case remotePath gets set to empty string '' in https://github.com/Microsoft/vscode-go/blob/4beecf1db2

[2017-05-26 09:19] mariusgrigaitis commented on #1009
@f0zi could you look into this since you're familiar with #742?

[2017-05-26 16:26] dt commented on #986
Looks like delve has updated their homebrew formula so it is now installing `1.0.0-rc1` rather than 0.0.12, so this now happens even if you install delve using brew as instructed above here and elsewhere in the docs.

[2017-05-26 17:48] fstapleford commented on #51
As soon as I added a 'Watch', my variables went away. Can't get them back

[2017-05-26 17:52] joneskoo commented on #986
@dt Confirmed 1.0.0-rc1 from homebrew didn't work for me, `brew unlink delve && brew install --HEAD go-delve/delve/delve` seems to work better. No more error from dial.

With the 1.0.0-rc1 I did get the prompt and accepted it, so it's not that in my case. I got the error "could not launch process: dial tcp :50889: getsockopt: connection refused" with the port changing earlier.

[2017-05-26 17:52] dt commented on #986
Based on https://github.com/derekparker/delve/issues/836 and https://github.com/derekparker/delve/issues/838, it sounds like the bug is in delve 1.0.0-rc1 but has since been fixed in master.

Upgrading from `1.0.0-rc1` to HEAD via `brew unlink delve && brew install go-delve/delve/delve --HEAD` fixed it for me.

[2017-05-26 19:02] qaisjp commented on #959
Glad to hear #168 has not been forgotten! Tried VS Code for the first time today and this is the only thing I've noticed missing from GoSublime so far!

[2017-05-26 19:39] natefinch commented on #986
Thanks @dt - building from head w/ homebrew fixed my problem as well!

[2017-05-26 22:04] Twitch-CultCoder commented on #441
Perfect. I had the exact same problem on windows 7 Ultimate. Goclose and go get -u github.com/nsf/gocode fixed it for me. Thanks guys. Saved me huge headaches.

[2017-05-27 04:25] YoskeOkamoto2 opened #1010 "Debugger does not display values in array of struct on VARIABLES pane and debug: Evaluate command."
I would like to inspect variables in array of struct.
I know 'Add to Watch' works fine for this request. but this is not a convenient way.

Here is the sample I wrote.
[code]

and the screenshot.
![image](https://cloud.githubusercontent.com/assets/7908644/26517870/181180ca-42dd-11e7-9201-2706595c8efc.png)

[2017-05-27 15:27] nsf commented on #985
Just want to say that I took a look at the issue and it's more complicated than it seems. Not sure how long it will take for me to solve it. Don't have much time to work on it. The problem gets worse because this is valid Go:

[code]

It compiles just fine. But in gocode I have only one package instance per absolute package path. And it will be hard to forward the alias used under a given autocomp

[2017-05-28 17:28] vahpetr opened #1011 "incorrect work with .editorconfig"
.editorconfig
[code]

After saving, the spaces are converted to tabs

[2017-05-28 20:44] f0zi commented on #1009
Can you please try if this fix works for you?

[2017-05-28 22:44] josh-tepper opened #1012 "Issues using w/ delve 1.0.0-rc.1: connection refused"
- VSCode Version: Code 1.12.2 (19222cdc84ce72202478ba1cec5cb557b71163de, 2017-05-10T13:13:11.413Z)
- OS Version: Darwin x64 15.6.0
- Go   lukehoban  0.6.61

When I attempt to use vscode go extension with delve 1.0.0-rc.1, I get this error:

This did not happen with delve 0.12.2.

[2017-05-29 07:29] mariusgrigaitis commented on #1009
I do not really think this is proper solution to the problem.

From other parts of code it looks like trailing slashes are removed but here they're added.

And in my case I think that paths shouldn't be touched at all.

[2017-05-29 13:22] f0zi commented on #1009
@mariusgrigaitis Ack. Please let me know once you tried it.

[2017-05-29 13:54] mariusgrigaitis commented on #1009
I've tried it. Looks like it works

Config:
[code]

Verbose log:
[code]

I've also tried running same against latest master, was able to reproduce Error on creating breakpoint.

[2017-05-29 16:09] f0zi commented on #1009
Thanks, @mariusgrigaitis. I'd like to test another edge-case and I'll do a PR once I'm back home.

[2017-05-29 20:42] daenney opened #1013 "Plugin reporting same error from many linters"
When an issue is detected in a file it is reported in the problems tab by a number of linters gometalinter uses. This results in a tremendous amount of issues reported for what is only one thing:

<img width="604" alt="screen shot 2017-05-29 at 22 39 58" src="https://cloud.githubusercontent.com/assets/569574/26561576/caaa9314-44bf-11e7-9a1e-a566c2bea065.png">

The issue should be reproducible with

[2017-05-29 20:54] daenney commented on #1013
Interestingly the spurious output in this specific case disappears if one sets `go.lintFlags` to `--fast` but it might be that it just happens to disable every other linter that tripped over this.

[2017-05-29 20:57] daenney commented on #1011
Do you happen to run `gofmt` as part of save? That would change it to tabs since that's how Go code is expected to be indented.

Your editorconfig should probably look like this instead, for Go:

[code]

[2017-05-30 03:22] f0zi commented on #1009
It's PR #1014

[2017-05-30 06:06] vahpetr commented on #1011
I use default configuration

I don't want to use tab indent style.
vscode-go must using global .editorconfig settings (4 space)

[2017-05-30 08:58] daenney commented on #1011
What are the settings you have enabled for vscode-go?

[2017-05-30 12:38] #1011 closed

[2017-05-30 17:33] ramya-rao-a commented on #985
Thanks for looking into this @nsf
No worries about the delay.

Would you prefer a tracking issue in the `gocode` repo or this issue is ok?

[2017-05-30 17:45] nsf commented on #985
This issue is ok.

[2017-05-30 23:19] achandlerwhite commented on #51
I am not seeing any local variables. I'm debugging aspnetcore 2.0-preview1-final projects.

[2017-05-31 05:25] ramya-rao-a commented on #1012
Related to #986

@josh-tepper Are you able to debug using the command line without any issues?

@derekparker Would you say delve 1.0.0-rc.1 is stable enough for editors to use? If not, then I can add a note in the README that we don't support delve 1.0.0-rc.1 yet. Any idea as to why delve fails to launch process in this scenario.

cc @roblourens

[2017-05-31 05:28] ramya-rao-a commented on #1010
Thanks for reporting @yoskeoka
And thanks for the sample code as well, I can repro this.

@roblourens Can this be done?

[2017-05-31 05:32] ramya-rao-a commented on #1009
Thanks for reporting @mariusgrigaitis
And @f0zi, Thanks for the quick turnaround.

@roblourens The PR looks good to me, but since you tested @f0zi 's previous related changes, can you take a look as well?

[2017-05-31 05:35] ramya-rao-a commented on #1008
Thanks for reporting @jeffcharles.

Does debugging work for you when `stopOnEntry` is set to `false`?

@roblourens `stopOnEntry` is set to `true` here, would this be a duplicate of what you logged in #763 ?

[2017-05-31 05:38] ramya-rao-a commented on #1013
@daenney I'd prefer to get a fix for this from `gometalinter` itself.
Maybe a flag `--removeDuplicates` that would return only unique errors.

@alecthomas thoughts?

[2017-05-31 05:44] ramya-rao-a commented on #1005
@atombender What you see being suggested in the comments is word based completion (coming from VS Code core and not the Go extension) that has no knowledge of the language semantics.

What you are saying can be achieved if the Go extension itself figures out the right completion. Since the Go extension uses `gocode` to get completion items, you can log this feature request in the repo for `gocode`

[2017-05-31 05:46] ramya-rao-a commented on #1005
When we do have a stable language server to use and which implements code completion, we can add this feature to then.

[2017-05-31 06:30] roblourens commented on #1008
Yeah, possibly.

[2017-05-31 08:39] grobie opened #1015 "vscode triggeres too many go build/lint/... tasks"
First of all, thanks for all your work on vscode and the go plugin, the integration is awesome.

My issue is that vscode can easily render my system unusable for minutes by triggering many parallel tasks for the same actions:

* Using gorename and changing many files at once, then selecting `Save All` seems to start multiple build / compile jobs, supposedly one for each changed file? I had to rest

[2017-05-31 14:04] jackie-qiu commented on #632
@ramya-rao-a  Thank you, "go.toolsEnvVars": {"GOOS" : "linux"}, that works for me.

[2017-05-31 14:19] jackie-qiu commented on #330
@ramya-rao-a When will this PR be implemented?

[2017-05-31 15:08] ramya-rao-a commented on #330
@jackie-qiu As far as I know, there is no PR open for this.

Do you mean to ask when will this feature be implemented?

[2017-05-31 16:21] xDShot opened #1016 "How does gofmt work?"
I added _"go.formatTool": "gofmt"_ line into my settings. Then, in my project folder in my opened document I run _Format Document_ command in VS Code (didn't find separate command to run _gofmt_ on current file), but my document is still unchanged and unformatted.

What am I doing wrong?

[2017-05-31 17:26] roblourens commented on #1010
Looking at the code, it's not obvious whether we can do it without evaluating all the variables like the watches window does. I'm not sure what other info we can get out of Delve.

[2017-05-31 17:28] roblourens commented on #1009
Looks ok to me

[2017-05-31 19:17] cyc115 commented on #473
Same error occurred for me
Visual Studio Code 1.12.2
Go extension 0.6.61
go version go1.8.3 darwin/amd64
Delve 1.0.0-rc.1

[code]

[2017-05-31 21:48] atombender commented on #1005
Thanks, I [created an issue](https://github.com/nsf/gocode/issues/454).

[2017-06-01 01:16] jeffcharles commented on #1008
Setting it to `false` raises the same error

On Wed, May 31, 2017, 2:31 AM Rob Lourens, <notifications@github.com> wrote:

[2017-06-01 04:09] ramya-rao-a commented on #1008
@jeffcharles Can you share the callstack for the error "TypeError: Cannot read property 'stopOnEntry' of undefined" ?

[2017-06-01 04:15] ramya-rao-a commented on #473
@derekparker Looks like delve is sending `null` state when the `next` command is executed. How do you suggest editors treat `null` state from delve. Can this be a bug in delve?

[2017-06-01 04:15] ramya-rao-a commented on #473
@cyc115 If you are able to repro consistently, then can you try to use delve from the command line and share if that works?

[2017-06-01 04:16] #1009 closed

[2017-06-01 05:40] ramya-rao-a commented on #1016
Can you also try setting `go.useDiffForFormatting` to `false` and try again ?
We use the `-d` diff flag while running the formatting tool to get the diff output and then apply the diff on the editor. The `-d` option doesn't work for some set ups. We aren't sure why.

[2017-06-01 05:42] ramya-rao-a commented on #1015
There is nothing I know of that you (as a user) can do at the moment to reduce the triggering of build/lint/vet on multiple files when Save All is used.

We should see if there is a way to identify a Save All event vs Save event in which case the extension can be smarter and trigger build/lint/vet on a package only once even if multiple files in the package was saved.

[2017-06-01 05:44] ramya-rao-a commented on #1013
This issue was moved to alecthomas/gometalinter#286

[2017-06-01 05:47] #1002 closed

[2017-06-01 05:49] ramya-rao-a commented on #1000
Test on Save is already a feature, just set `go.testOnSave` to `true`

Install on save is a good feature as well. PRs are welcome :)

[2017-06-01 05:51] ramya-rao-a commented on #996
Closing this issue as we have an upstream issue for tracking the problem

[2017-06-01 05:51] #996 closed

[2017-06-01 05:53] ramya-rao-a commented on #994
I'd prefer to have this option as a flag in the linter tool rather than the editor trying to parse files to find generated files.

Please open this issue in your choice of linting tool, say `golint` or `gometalinter`.

[2017-06-01 05:53] #994 closed

[2017-06-01 05:55] ramya-rao-a commented on #989
@last911 What are you settings for `go.docsTool` and `go.useLanguageServer` ?

[2017-06-01 05:58] ramya-rao-a commented on #989
From the screenshot, it looks like you are trying to go to definition feature on the import statement.

This is not supported at the moment and has nothing to do with vendor packages.

This feature request is being tracked in #330

[2017-06-01 05:58] #989 closed

[2017-06-01 06:04] ramya-rao-a commented on #988
Thanks for reporting this @IzakMarais and sorry for not getting back to you sooner.

I observed similar mismatch early on too. See https://github.com/Microsoft/vscode-go/issues/726#issuecomment-294557826

Somehow references from outside the current workspace are getting included in the codelens.
Is that your case as well?

Funny enough both the codelens and the "Find all References" features use t

[2017-06-01 06:05] ramya-rao-a commented on #959
Sorry folks, May has been a busy month for me and I couldn't get to this. Will try to get an update out early June

[2017-06-01 06:07] IzakMarais commented on #988
Is that your case as well?

No, as the screenshots demonstrate, codelens shows fewer references than _find all references_, not more.

[2017-06-01 06:12] coreds commented on #1002
Yes this was a mistake, sorry.
(was in vacation)

[2017-06-01 06:17] xDShot commented on #1016
Still doesn't work.

[2017-06-01 06:47] ramya-rao-a commented on #1016
How about setting `go.formatTool` to `goreturns` or `goimports`?

[2017-06-01 06:59] ramya-rao-a commented on #988
Your first case of 0 references is being tracked in #962

In your second case, if you click on the codelens, you will see 5 references. `k2` from main.go is being counted. What is not being counted is the definition of Kind. When you do a "Find all references", the definition is also counted, where as the definition is not counted in the codelens

That is by design.

The third case is same as the

[2017-06-01 06:59] #988 closed

[2017-06-01 07:09] jackie-qiu commented on #330
@ramya-rao-a Yes, when will this feature be implemented?

[2017-06-01 07:19] jackie-qiu commented on #654
@ramya-rao-a Like the sublimelinter, could vscode-go supports trigger the lint with serval modes?
Like background, load/save, save only and manually?

[2017-06-01 11:18] grobie commented on #1015
Thanks @ramya-rao-a! Should I create another issue to run go-metalinter only on the changed file/package instead of the whole repository? Saving a file a few times in succession can cause a similar amount of running processes and a similar situation of a stalled system.

[2017-06-01 12:53] xDShot commented on #1016
Closing. Turns out it was because of wrong golang installation.

[2017-06-01 12:53] #1016 closed

[2017-06-01 14:10] ramya-rao-a commented on #1015
`gometalinter` cannot run on a file as far as i know. It needs to run on a directory/package.

We don't run it on the whole repo, we run it on the parent directory of the file that was saved.

If linting does get expensive, then a better solution would be to not run lint on save, but rather run it after a delay.

[2017-06-01 14:12] ramya-rao-a commented on #330
Definitely in June

[2017-06-01 14:16] ramya-rao-a commented on #1013
Note: Try the `--aggregate` flag and see if it can be added as a default

[2017-06-01 14:28] cyc115 commented on #473
@ramya-rao-a it indeed does
[code]

[2017-06-01 14:31] ramya-rao-a commented on #654
@jackie-qiu That is not currently possible, but it would be a good feature to add. We were just discussing something similar in #1015. Please add your thoughts there.

[2017-06-01 14:48] jackie-qiu commented on #771
@codmajik ${workspaceRoot} strip the $GOROOT/src?

[2017-06-01 15:25] daenney commented on #1013
That seems to work, with `--aggregate` we're now down to:

<img width="738" alt="screen shot 2017-06-01 at 17 24 25" src="https://cloud.githubusercontent.com/assets/569574/26687096/39892ecc-46ef-11e7-8d2f-f7307f7e13eb.png">

Still a few duplicates b/c of how those linters are outputting the error, but better than before.

[2017-06-01 19:46] cyc115 commented on #473
@ramya-rao-a Any idea how this bug can be bypassed? :)

[2017-06-01 21:16] RobGraham opened #1017 "go: command not found"
I've been going a little crazy trying to get the `go` command working in vscode. I may have installed Golang on the system after i tried installing the Go package however the terminal in vscode doesn't recognize the `go` command while the main Terminal app does.
I have uninstalled and reinstalled the Go package from VS Code 4-5x times including closing and creating new terminal sessions inside the

[2017-06-02 00:41] ramya-rao-a commented on #473
Does `next` work as well in command line delve?

The thing is we are getting null state from delve and so the issue. We would be in a better state to fix this if we know why delve does so

[2017-06-02 04:55] ramya-rao-a commented on #1017
Can you start VS Code from the main terminal where the `go` command works using the command `code` and then see if you can use the `go` command in the integrated terminal?

Running the `go` command in the integrated terminal has nothing to do with the Go extension.

It is more likely that the integrated terminal doesn't have the same PATH as your external terminal and is not able to find `go`

[2017-06-02 12:03] raoulvdberge commented on #321
Same issue. Debugging C++ code with gdb with C++ extension.

[2017-06-02 12:54] codmajik commented on #771
@jackie-qiu ${workspaceRoot} is the full path of the folder opened in explorer. It is not computed.

[2017-06-02 16:32] ramya-rao-a commented on #771
@codmajik So what you need is the import path. The same is needed for running `go build` and we computed the import path this way: https://github.com/Microsoft/vscode-go/blob/0.6.61/src/goCheck.ts#L168

[2017-06-02 19:11] ramya-rao-a commented on #788
@ideahitme I couldn't repro this the last I tried. Closing this issue as 3 months is past and there is no new development.

If it still repros for you, then we can re-open this issue

[2017-06-02 19:11] #788 closed

[2017-06-02 19:14] ramya-rao-a commented on #741
@bedio Closing this as "by-design". Using the build tags, `go build` runs as expected. There is nothing more the Go extension can do here

[2017-06-02 19:14] #741 closed

[2017-06-02 21:35] RobGraham commented on #1017
After looking around and echo'ing my `$PATH` I noticed that go was installed in `/usr/local/go/bin` while my exported PATH referring to `/usr/local/bin`and some other matches. I just added the exact path to my `.bash_profile` and everything is working now. Thanks for the feedback.

[2017-06-02 21:35] #1017 closed

[2017-06-02 22:44] ramya-rao-a commented on #1017
Glad that you are unblocked now, Happy Coding!

[2017-06-03 03:53] bradleyfalzon commented on #1013
Personally, I'd recommend running `go build` or similar, before running any linters. The errors you are seeing are from the linter's use of the https://golang.org/pkg/go/ packages - these aren't compiler errors, they are similar, but not exactly the same.

I'm not sure how this plugin works, but I'd recommend the best approach to only run linters if the Go compiler was able to build the program.

[2017-06-03 05:26] ramya-rao-a commented on #1013
@bradleyfalzon Skipping linting when there are build errors is tracked in #600

Regardless of this, it is still useful to use `--aggregate` on `gometalinter`

[2017-06-03 06:43] bradleyfalzon commented on #1013
Ah excellent.

Yes, agreed, I was more referring to `Still a few duplicates b/c of how those linters are outputting/wrapping the error`.

Sorry I didn't mean to appear rude at all in any of my comments, I was more saying once the compiler errors are removed in #600, I don't believe any linter should share the exact same error text.

But this all sounds good to me, I've heard nothing but great thin

[2017-06-03 09:05] daenney commented on #1013
I disagree. There's plenty of things the linters can already tell me to fix before I even attempt to run a `go build` which would build my package and all of its dependencies. Depending on the size of the project this can easily take 10s or more and not getting any feedback in the UI until then that something might be wrong is not great from my perspective. One of the advantages of, especially the

[2017-06-03 16:48] ramya-rao-a commented on #1013
@bradleyfalzon I didn't notice any rudeness at all :)

@daenney Thanks for the detailed analysis. Note that the Go extension already uses `go build -i` on non main packages. Does that change your stand?

Including @atombender for his thoughts in this discussion as he originally opened #600

Instead of serializing the build and linting process, another approach for #600 can be to not show linting r

[2017-06-03 19:15] daenney commented on #1013
I'm not quite sure I follow. So as long as I'm not working on something that's declared as `package main` vscode-go would invoke build with `-i`? Lets say I'm hacking on Moby though and change anything in https://github.com/moby/moby/tree/master/cmd/dockerd. That would still get a regular `go build`? What's the reason for not running with `-i` by default?

My reason for opening up this ticket is t

[2017-06-03 20:25] ramya-rao-a commented on #1013
For `go build -i` part follow the discussion in #673
For why we don't do that for "main" package, see https://github.com/Microsoft/vscode-go/issues/673#issuecomment-272039570 specifically.

@mattetti The docs for `go build -i` says "The -i flag installs the packages that are dependencies of the target". As in only the dependencies are installed (if changed), in which case, do we still have to skip

[2017-06-03 21:10] mattetti commented on #1013
I was under the impression that -i was also installing the executable when
building a main package. I might be wrong and it would be worth testing (on
my cellphone).

On Sat, Jun 3, 2017, 13:25 Ramya Rao <notifications@github.com> wrote:

[2017-06-03 21:49] atombender commented on #1013
There's some discussion about the "-i" flag here: https://github.com/Microsoft/vscode-go/issues/673. The documentation is pretty lacking.

[2017-06-03 21:50] atombender commented on #1013
Sorry, I now see that this issue was actually referenced above.

[2017-06-03 22:09] ramya-rao-a commented on #1013
The docs:

<img width="511" alt="screen shot 2017-06-03 at 3 05 18 pm" src="https://cloud.githubusercontent.com/assets/16890566/26757367/2e0c9856-486e-11e7-9f01-4c56fd7a438b.png">

So the executable for a "main" pkg gets created no matter what. Using `-o` (which we do), puts
the executable created in the temp path.

This means that we can use `-i` on the main package as well

[2017-06-03 22:13] mattetti commented on #1013
Sounds good, @rakyll you might be interested in knowing that the flag documentation is a bit confusing :)

[2017-06-03 22:57] #1013 closed

[2017-06-03 23:23] atombender commented on #673
Wondering if it's worth resurrecting this. Often you _do_ work on a main package, and if you do, compilation accidentally becomes much slower because `-i` isn't used.

This behaviour wasn't clear to me, and so I didn't understand why my builds were getting super slow. I work on a tool that pulls in the Kubernetes client, which is huge and takes a long time (10-20 seconds with something like 4 para

[2017-06-04 00:22] ramya-rao-a commented on #673
As discussed here: https://github.com/Microsoft/vscode-go/issues/1013#issuecomment-306004380 Yes, we can use `go build -i` for main packages as well.

We always use `-o`. So that will take care of the generated binary.

Fixed with https://github.com/Microsoft/vscode-go/commit/2f398aee4de15c7517d4e97e6c57dc5af463f125

[2017-06-04 00:35] atombender commented on #673
Awesome. Any reason it's writing to a file and not `/dev/null`? Windows compatibility?

[2017-06-04 00:41] ramya-rao-a commented on #673
Must be. That was before my time.
If we do use `/dev/null` that's another `if/else` to support Windows.

[2017-06-04 05:47] #259 closed

[2017-06-04 10:21] borodiychuk opened #1018 ""Save all" does not run `go fmt`"
When calling "Save all" having multiple files opened and modified, the files get saved, but without `go fmt` applied.

[2017-06-04 11:23] daenney commented on #1013
Thanks for all the work on this @ramya-rao-a! 💯

[2017-06-04 14:24] liberalakrep opened #1019 "nested maps in go"
[code]
In the VSCode-Go, there is no warning, But it must gives "panic: assignment to entry in nil map" (https://play.golang.org/p/QgCjdmTeoP)

Right way of running code :
[code]

[2017-06-04 22:40] ramya-rao-a commented on #1018
This tracked in #279

[2017-06-04 22:40] #1018 closed

[2017-06-04 22:43] ramya-rao-a commented on #1019
The Go extension runs build, lint and vet and none of these give the error you are expecting.

@rakyll In the linked playground above, do you know what process needs to be run to get the expected error?

[2017-06-04 23:33] liberalakrep commented on #1019
I use vscode in osx. Please follow the steps on vscode-go.
- Run vscode
- Create main.go file in a new workspace
- Copy & Paste the following code
[code]
- Finally save file.

When you saved file, vscode auto-indents the code, you know..
Then if there is an error, it will be red underlined, right ?
But there is an issue in vscode-go because it did not underline the text with red color.
When you tr

[2017-06-05 12:54] ramya-rao-a commented on #1019
@liberalakrep Thanks for the clarification

In the first case, you get the error only when doing a `go run` and not a `go build` where as in the second case you get the error when doing a `go build` itself

I believe this is a case of run time vs compile time error.

The VS Code Go extension uses `go build`, `go vet` and linters to provide users with errors and warnings. It doesn't try to run the

[2017-06-05 13:05] ramya-rao-a commented on #1012
Closing as duplicate of #986

@josh-tepper Please follow the workaround here: https://github.com/Microsoft/vscode-go/issues/986#issuecomment-304347853

[2017-06-05 13:05] #1012 closed

[2017-06-05 13:37] liberalakrep commented on #1019
Okey, i got it.
As you say attempting to index it like data["a"]["w"] is a runtime panic, not a compiling time error.
So i have to initialize a map first before indexing it.
Thank you su much for your clarification.

[2017-06-05 14:03] #1019 closed

[2017-06-05 14:04] ramya-rao-a commented on #1019
No problem, thanks for logging the issue though, I learn more with each such scenario :)

[2017-06-05 17:21] ramya-rao-a commented on #859
@donnol Closing this issue as we havent heard back from you in a while.

If you still see this issue after following @rebornix 's suggestions, please do drop a comment here

[2017-06-05 17:21] #859 closed

[2017-06-05 17:25] ramya-rao-a commented on #871
@charlires Can you get the latest from the language server (`go get -u github.com/sourcegraph/go-langserver`) and confirm if this is fixed for you?

[2017-06-05 17:29] ramya-rao-a commented on #852
This has been fixed in the language server.
Please get the latest by `go get -u github.com/sourcegraph/go-langserver`, restart VS Code and you should be able to see the fix.

[2017-06-05 17:29] #852 closed

[2017-06-05 17:33] ramya-rao-a commented on #819
@atombender I can repro this even with `go.formatOnSave` set to `false`. Can you confirm?

[2017-06-05 17:40] atombender commented on #819
I wasn't able to, but I will try again. Autosave, no.

[2017-06-05 17:43] atombender commented on #819
Oh yeah, it happens even with `go.formatOnSave` set to `false` for me to. That points to a non-Go-extension-related bug, does it now?

[2017-06-05 17:53] ramya-rao-a commented on #819
I would say so, but I cant repro it in a non Go file :( Can you?

[2017-06-05 19:28] cyc115 commented on #473
yes `next` and `c` works.

[2017-06-05 20:43] atombender commented on #819
No, I can't. Does it happen with the Go extension disabled?

[2017-06-05 22:08] ramya-rao-a commented on #819
No, doesn't happen when the Go extension is disabled. So its definitely us.

`editor.formatOnSave` calls any registered formatter for the language of the given file.
This is the offending line https://github.com/Microsoft/vscode-go/blob/master/src/goFormat.ts#L69 in the Go extension that is causing the issue. Commented this line, and it no longer repros

Am not very sure why we explicitly save, bu

[2017-06-05 22:19] ramya-rao-a commented on #473
Can you share a sample code where this repress consistently?

[2017-06-05 22:34] cyc115 commented on #473
@ramya-rao-a  The [docker/notary](https://github.com/docker/notary/) project seems to be failing.

[2017-06-05 22:48] ramya-rao-a commented on #925
@erichiller Closing this issue as we haven't heard back from you in a while

[2017-06-05 22:48] #925 closed

[2017-06-06 03:52] nicksnyder commented on #869
I have since gotten a new laptop. I suspect that the issue here is that on my old machine only had two cores (no hyperthreading), and at times the work being done by the vscode-go extension was hogging enough system resources to negatively impact the perf of the main thread.

I assume the extension model protects against slow running synchronous code (i.e. if you just did a bunch of sleeps in the

[2017-06-06 05:45] ramya-rao-a commented on #869
Yes, a slow extension should not be able to impact simple editor behavior like typing in the VS Code extension model.

If you are not seeing this anymore, then I'll close this issue.

Eventually, we plan to move to a language server model where a single server can cater to most of the extension's features and we won't have to kick off multiple processes everytime.

Thanks for circling back to this

[2017-06-06 05:45] #869 closed

[2017-06-06 12:41] olivierperes opened #1021 ""run test" and "debug test" links appear in random order"
In a Go source file containing tests, VS Code inserts two links before each test : "run test" and "debug test". As illustrated in the captures below, they do not always appear in the same order, which is rather confusing (I have already clicked several times on the wrong link because of that). It is not terribly bad, just annoying.

Version of VS Code: 1.12.2
Extensions installed: Go, Git Lens, Do

[2017-06-06 14:20] amativos commented on #980
Does the extension provide a way to run linter on demand? That way we could run gometalinter with expensive linters only when we choose to, without falling back to the command line. As far as I checked, there is no way to do this.

[2017-06-06 17:14] ramya-rao-a commented on #1021
@olivierperes Thanks for reporting.

There is already a bug for this: #999

The fix is in the main VS Code product and not the Go extension
The fix is available in the Insiders build and will be shipped in the next update of VS Code (1.13)

[2017-06-06 17:14] #1021 closed

[2017-06-06 22:33] kalbasit commented on #809
Should this be closed?

[2017-06-07 05:00] dbcc opened #1022 "Autocomplete doesn't autocomplete the parameters"
i don't know if i'm supposed to open the issue here or at vscode github, so i'm just gonna do it here since i noticed it when i code in Go.
In the insiders vscode it doesn't autocomplete the parameters and i don't know why.
![image](https://user-images.githubusercontent.com/5368488/26862855-b98c51c2-4b4e-11e7-9813-ab7c45c93f6d.png)
and this is on the release version of vscode
![image](https://user

[2017-06-07 15:41] ramya-rao-a commented on #809
Yes, we should. Thanks @kalbasit

@idanya Get the latest delve and the issue should be fixed.

[2017-06-07 15:41] #809 closed

[2017-06-07 16:30] ramya-rao-a commented on #1022
Nice catch @dbcc

We use snippets with placeholders of the format `${placeholder}`, but looks like in the insiders, the expected syntax for placeholders is `${tabstop:placeholder}`

@jrieken Can you confirm that `${placeholder}` is no longer valid and that we need to use `${tabstop:placeholder}` instead?

[2017-06-07 21:35] hjma29 commented on #966
When I use Visual Studio Code with Go exention or Atom with Go-plus, I got "No definition was found for 'Command'" error when trying to check declaration of the following code "&Cobra.Command". JetBrains' Gogland doesn't have this issue and can correctly jump to the Command(a struct) defintion.

https://github.com/spf13/cobra/blob/master/cobra/cmd/add.go#L32

[code]

[2017-06-07 21:49] ramya-rao-a commented on #966
@hjma29 Can you try setting `go.docsTool` to `gogetdoc`?

[2017-06-07 21:54] hjma29 commented on #966
Thanks from prompt response. It works right away! Do we have plan to make "gogetdoc" as default or it has other issues comparing with godoc/godef?

[2017-06-07 22:46] ramya-rao-a commented on #966
`gogetdoc` tends to be slightly slower than `godoc/godef`. Other than that there are no other issues.

There is no current plan to make it default, but we can try it in one of the updates and see how it fares the larger audience

[2017-06-08 01:15] fasa123 commented on #979
Can confirm this with lang-server enabled. Running on Arch Linux. This mostly happens when editing files with dot imports (at least for me). Also occasionally happens (as described) with very simple files. This clearly is a go-langserv specific problem since it does not happen when the langserver is disabled.

I assume the problem is that the langserver does not cancel pending workers but justs qu

[2017-06-08 02:24] RobGraham commented on #1022
I've noticed this since I started working with Go in vs code about a week ago and always questioned whether or not the auto complete was meant to complete with the parameters but it's not. Glad I'm not the only one.
![autocomplete1](https://user-images.githubusercontent.com/1311204/26909623-ca891c4a-4bb6-11e7-893a-4a14adb38836.png)
After using tab or enter:
![autocomplete2](https://user-images.git

[2017-06-08 03:19] hyacinthus commented on #438
ArchLinux still have this behavior.

[2017-06-08 04:41] pierznj commented on #268
This shouldn't be closed IMO. I always got it and gave up trying to rename symbols because of this error, until I saw this. You shouldn't get a nasty error like this just because you selected the text of the symbol before trying to rename it.

[2017-06-08 04:49] ahmedjafri commented on #473
@ramya-rao-a Here is an example: https://github.com/willseward/delve-crash which I cannot debug from VsCode but I can with the command `dlv connect 127.0.0.1:2345` and then using the dlv command line.

- VSCode 1.12.2
- vscode-go 0.6.61 (also tried building extension from HEAD - same issue)
- delve 1.0.0-rc.1

[2017-06-08 04:55] ramya-rao-a commented on #1022
@RobGraham Welcome to Go in VS Code :)
 Setting `go.useCodeSnippetsOnFunctionSuggest` to `true` will insert the expected snippet on auto-complete. This is set to `false` by default.

What @dbcc is saying above is that this feature is broken in Insiders and so will be broken in next update to VS Code as well which will be out some time this week or early next week.

The fix is simple, am just waiti

[2017-06-08 04:56] ramya-rao-a commented on #979
Thanks for the analysis @fasa123

Can you add your thoughts https://github.com/sourcegraph/go-langserver/issues/178 as well?

[2017-06-08 04:58] ramya-rao-a commented on #979
Slowness experienced by @fasa123 and @henvic is due to the language server. The issue is being tracked https://github.com/sourcegraph/go-langserver/issues/178

@Mike152 We haven't heard back from you in a month, am assuming things are working well. If not, please drop a comment here.

Closing this issue for now

[2017-06-08 04:58] #979 closed

[2017-06-08 04:59] ramya-rao-a commented on #438
@hyacinthus Can you share sample code and repro steps?

Are you saying that using the same code in other platforms in VS Code, you don't see the issue?

[2017-06-08 05:08] ramya-rao-a commented on #473
@ahmedjafri I am using the same version of VS Code, the Go extension and delve as you

- I did a `go get -u github.com/willseward/delve-crash/app`
- opened the `app` folder in VS Code, opened `main.go`
- Added breakpoint in the `fmt.Println` line
- Hit F5

I am able to hit the breakpoint, step in/out/next etc.

<img width="625" alt="screen shot 2017-06-07 at 10 05 13 pm" src="https://user-images.g

[2017-06-08 05:23] ramya-rao-a commented on #600
We won't be serializing the build and lint process. They run in parallel at the moment.

What we can do is add an option to show linting errors only if there are no build errors.

I'd like to see if there are more people interested in this feature. Our settings list is growing big real fast.

[2017-06-08 05:37] ahmedjafri commented on #473
@ramya-rao-a I'm on OSX 10.11.6

[2017-06-08 07:58] jrieken commented on #1022
Yes, ${foo} references a variable, not a placeholder. The adoption in #709 wan't adding the right syntax? I guess we were to quick on https://github.com/Microsoft/vscode/issues/15573, outsiders got more detail, e.g, https://github.com/twxs/vs.language.cmake/issues/21

[2017-06-08 08:49] Paxxi commented on #600
Heavy vscode user, light go plugin user.
I agree completely that displaying lint errors on build failures is counterproductive. Not a big fan of having it as a setting or drop down filter as it takes extra steps and likely to be hard to find for beginners that might benefit the most.
If possible I would still run everything in parallel and if there's a build error discard the linter warnings. If a

[2017-06-08 10:28] ronator commented on #446
The trick by @ramya-rao-a did it - but I am left wondering why the issue has been closed when it's obviously unfixed and only a work-around was offered.

Linux Mint 18.1
VSC
Version 1.12.2
Commit 19222cdc84ce72202478ba1cec5cb557b71163de
Datum 2017-05-10T13:16:25.899Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

[2017-06-08 13:03] RobGraham commented on #1022
@ramya-rao-a thanks so much! Sorry for intruding in an unrelated topic

[2017-06-08 13:32] inancgumus opened #1024 "Build tags breaks go to definition and other features"
When I add a build tag on top of a file, vscode-go _go to definition_ and _mouse over peak_ functionality breaks.

When I remove it, it works again.

[code]

# See this:

![vscodegobug](https://user-images.githubusercontent.com/621232/26931076-00f89a24-4c68-11e7-8f87-8fbe01e2fe9e.gif)

[2017-06-08 13:55] hyacinthus commented on #438
Yes，I use Windows 10, Mac OS, and Archlinux in different places, but same project. Only Archlinux have this issue. I must kill dlv and debug process every time.

When I arrive my office next Monday ,  I'll create a simple demo to try if this behavior appears in every golang project.

[2017-06-08 14:23] ramya-rao-a commented on #1022
@jrieken As part of #709 we did move away from the internal syntax of `{{...}}`, but I guess I missed the tabstop, will fix it. thanks!

@RobGraham no problem at all, happy to help

[2017-06-08 16:41] ramya-rao-a commented on #446
@ronator Are you referring to the workaround in stack overflow or my suggestion to use `gogetdoc`?

[2017-06-08 16:46] #1022 closed

[2017-06-08 16:59] ronator commented on #446
I am reffering to using VSC as a coder, connecting my stuff over VSC with github. I was starting to get along with "Go" when - as expected - VSC intelligently suggested me to install this and that - but only godoc failed from like 12 suggested extensions to install.

The only way to get around this message - which tends to create a vbscode/user.json or something like that in your very active repo

[2017-06-08 18:14] ramya-rao-a opened #1025 "Explore setting gogetdoc as the default doc tool on new installations"
We added support for `gogetdoc` last November and it solved a number of issues in the Go extension

![screen shot 2017-06-08 at 11 15 50 am](https://user-images.githubusercontent.com/16890566/26943860-e3412acc-4c3b-11e7-9edd-73dcdee1061b.png)

`gogetdoc` is not yet the default option.

Once there is a resolution on #667, we can look into making `gogetdoc` the default option.

[2017-06-08 18:14] ramya-rao-a commented on #446
As @lukehoban concluded in #231, the issue with `godoc` is not fixable by the Go extension.

The solution is to either follow the linked stack overflow thread or for VS Code to provide another option as a replacement for `godoc`. Which we did by adding the support for `gogetdoc`

The only thing I can think of we can do for this issue is to make `gogetdoc` the default tool which can be tracked in #

[2017-06-08 18:21] ramya-rao-a commented on #966
We'll use #1025 to track the discussion around making `gogetdoc` the default tool.

@mukeshdutt We haven't heard back from you in a while, hopefully the problem is resolved.

Closing this issue as the fix for the issue @Emreu is in master and will be out in the next update

[2017-06-08 18:21] #966 closed

[2017-06-08 18:29] ramya-rao-a commented on #667
@bruceauyeung Have you seen any perf issues recently?

I am looking at what else can we do here to make the `gogetdoc` experience better.

[2017-06-08 18:36] ramya-rao-a commented on #438
@roblourens Can you think of any reason why this solution wouldn't work in just linux?

[2017-06-08 18:54] cyc115 commented on #473
Local debugging on https://github.com/willseward/delve-crash does not work either:
![image](https://user-images.githubusercontent.com/2107333/26945605-e33721c4-4c51-11e7-97f5-189992e55937.png)

[2017-06-08 19:20] ronator commented on #446
Yes, #1025 is what I thought is the correct way **for systems like mine**, because obviously there is no other option than gogetdoc so it should be default, yes ...

[2017-06-08 19:32] ramya-rao-a commented on #473
@ahmedjafri Not remote debugging, I tried local.

@cyc115 Can you set `showLog` to `true and try again? This will show logs from delve in the debug console. Maybe that can help us in figuring out why delve is returning `null`

[2017-06-08 19:41] ramya-rao-a commented on #1024
@inancgumus Do you have the language server turned on?

[2017-06-08 19:48] roblourens commented on #438
It should work. The code that kills the processes is

[code]

I don't know if there's something particular about archlinux that would make this not work.

[2017-06-08 22:55] ahmedjafri commented on #473
As a point of reference, I can debug locally if I set a breakpoint initially and launch the debug session from vscode. After I hit the first breakpoint, I remove that breakpoint and hit continue. If I try to set that breakpoint again, it becomes unverified.

![vscodegodebugging720](https://user-images.githubusercontent.com/1191297/26954056-c3ee2680-4c62-11e7-8501-f38e3297cd93.gif)

[vscode-go-debu

[2017-06-08 23:59] ramya-rao-a commented on #473
@ahmedjafri Now that I can repro.

The delve call here https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L510 doesnt seem to be returning at all.

Nothing after https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L508 gets printed to the logs.

Can you try the same with command line delve and see what you get?

- Start delve
- set breakpoint

[2017-06-09 02:01] ahmedjafri commented on #473
Working as expected through dlv command line

[code]

[2017-06-09 02:10] jpatters commented on #707
Just wanted to drop back in and confirm that this is fixed and working for me now.

[2017-06-09 05:06] ramya-rao-a commented on #962
@mgood Your changes to `go-outline` changes the output and that may affect other users of the tool.

May has been a busy month for me, I wanted to spend more time understanding the parser and how it works.

So for now, to fix the current issue with the codelens, I have pushed a fix from the extension's side. See https://github.com/Microsoft/vscode-go/commit/efa448f5d08383f0108a08e12875c2d622367311

[2017-06-09 05:06] #962 closed

[2017-06-09 05:09] ramya-rao-a commented on #707
Thanks for circling back @jpatters

[2017-06-09 13:29] inancgumus commented on #1024
Do you mean [this](https://github.com/sourcegraph/go-langserver)? If so, I'll try it.

What do you think about why this happens when I add a build tag? Even because of the lang-server. Because, it works w/out it.

[2017-06-09 15:04] ramya-rao-a opened #1026 "Consider dropping support for Go 1.5"
With golint and guru (and maybe more) tools dropping support for Go 1.5, its time to consider if the Go extension would do the same as it depends on these tools for core features.

This issue is to track the findings around the usage of the Go extension with Go 1.5 and if we can support a smaller feature set for Go 1.5 or completely drop support for it

[2017-06-09 15:09] ramya-rao-a commented on #473
That was very helpful @ahmedjafri Thanks!

I am guessing you did a `ctrl+c` at this point.

Looking at the steps followed by the debugger, this is what is missing I believe.

@roblourens Does that make sense?

[2017-06-09 16:59] alanpadillachua opened #1027 "Could not launch process: stub exited while attempting to connect: signal: segmentation fault"
I had trouble earlier installing delve but finally moved on from that. When I go to debug I get
`launching process with args: [/Users/alan.chua/Projects/GoWorkspace/src/github.com/alan-chua/strservice/main/debug]
could not launch process: stub exited while attempting to connect: signal: segmentation fault`

[code]

[2017-06-09 17:13] mgood commented on #962
Thanks for the fix here. I'll copy your comment about `go-outline` to that pull request to follow up.

[2017-06-09 21:02] roblourens commented on #473
Yes, I think in general we don't handle setting BPs while the process is active very well. The solution might be that when a breakpoint is set and Delve isn't paused, we send a SIGINT first, set the bps, and continue. Would have to experiment to say for sure.

[2017-06-09 21:08] ramya-rao-a commented on #1024
We have 3 different ways of providing the definition information

- `go.docsTool` is set to `godoc` (default)
- `go.docsTool` is set to `gogetdoc`
- go.useLanguageServer` is set to `true`

I was trying to see which one of the above categories does your scenario fall into.

I can repro this issue in the second and third case but not the first.

cc @zmb3 for `gogetdoc` and @slimsag for the language

[2017-06-09 21:57] ramya-rao-a commented on #259
This is now available in the latest update 0.6.62

[2017-06-09 22:03] ramya-rao-a commented on #589
In the latest update (0.6.62):

Set `go.lintOnSave` to `workspace` to lint whole workspace than just the current package.

Same can be done to `go.buildOnSave` and `go.vetOnSave` as well

[2017-06-09 22:03] #589 closed

[2017-06-09 22:04] ramya-rao-a commented on #1013
In the latest update (0.6.62), `--aggregate` will be used for `gometalinter`

[2017-06-09 22:05] ramya-rao-a commented on #968
The fix is now available in the latest update (0.6.62)

[2017-06-09 22:05] ramya-rao-a commented on #981
The fix is now available in the latest update (0.6.62)

[2017-06-09 22:05] ramya-rao-a commented on #983
The fix is now available in the latest update (0.6.62)

[2017-06-09 22:06] ramya-rao-a commented on #1022
The fix is now available in the latest update (0.6.62)

[2017-06-09 22:06] ramya-rao-a commented on #962
The fix is now available in the latest update (0.6.62)

[2017-06-09 22:06] ramya-rao-a commented on #1009
The fix is now available in the latest update (0.6.62)

[2017-06-09 22:09] ahmedjafri commented on #473
@ramya-rao-a

Yep that is me hitting `ctrl+c`

[2017-06-09 22:49] zmb3 commented on #1024
This makes a lot of sense.  Feel free to file an issue at github.com/zmb3/gogetdoc for build tag support and I will look to add a way to provide build tags to the tool.

In the first case, how are you actually getting definition information?  I wasn't aware that `godoc` spits that out.

[2017-06-09 23:38] ramya-rao-a commented on #1024
@zmb3 its `godef` that gives the definition info

When I added the setting to choose between default implementation (godef + godoc) and gogetdoc, I couldnt come up with a better name than `go.docsTool` and since it says "**docs**tool", the options were `godoc` and `gogetdoc` :)

[2017-06-09 23:41] ramya-rao-a commented on #1024
Logged an issue for gogetdoc and the language server and closing this issue

[2017-06-10 18:43] xoviat opened #1028 "command line arguments do not seem to be passed when debugging"

[2017-06-10 23:51] ramya-rao-a commented on #1028
@xoviat Have you tried the `args` field in the debug configuration?

[2017-06-10 23:52] ramya-rao-a commented on #1027
Are you able to use delve from the command line?

[2017-06-10 23:58] ramya-rao-a commented on #268
@pierznj Can you share more details?

I tried renaming with below 3 scenarios and all worked as expected

- cursor inside the symbol
- full text of the symbol selected
- partial text of the symbol selected

[2017-06-11 00:04] ramya-rao-a commented on #982
In the latest version of the Go extension (0.6.62) you can now run build/vet/lint on the whole workspace as well

[2017-06-11 00:04] #982 closed

[2017-06-11 00:07] xoviat commented on #1028
Yes. Here is my configuration:

[code]

`os.Args` was empty in the debugger

[2017-06-11 00:12] ramya-rao-a commented on #980
@amativos You can set `go.lintOnSave` to `false` (if you are on a version below 0.6.62) or `off` (if you are on version 0.6.62 or above), and then turn it on again when you want to run the linter.

#287 is tracking the feature to have build/lint/install as commands, so add your thoughts there as well.

I am planning to get to that in the next month or so

[2017-06-11 00:13] ramya-rao-a commented on #1028
Can you share sample code as well so that I can try and repro?

[2017-06-11 00:18] xoviat commented on #1028
[code]

[2017-06-11 01:43] ramya-rao-a commented on #1028
I used your code + a print statement and your debug config
As you can see the args get printed in the debug console.

<img width="964" alt="screen shot 2017-06-10 at 6 41 36 pm" src="https://user-images.githubusercontent.com/16890566/27007585-881750ae-4e0c-11e7-82e5-4d22f5dc3b2d.png">

[2017-06-11 01:55] xoviat commented on #1028
![image](https://user-images.githubusercontent.com/15351036/27007632-1fabed50-4e1f-11e7-8fb3-1dbf1872d5e4.png)

[2017-06-11 02:38] pierznj commented on #268
Hmm, I just tried again and it worked with the text selected. However, I can definitely say that this feature is unreliable in practice for me. As noted above I gave up trying to use the feature due to errors saying this:
`failed MSpanList_Insert 0x464110 0x3c235d63c754c 0x0`
It worked when I placed the cursor at the start of the symbol to be renamed, but I have since seen the problem occur that w

[2017-06-11 03:31] ramya-rao-a commented on #268
that seems very Go specific, most likely an issue with gorename itself.

Am curious, where did you see this error now if the renaming works now

[2017-06-11 03:33] ramya-rao-a commented on #1028
You are passing the args to the "Launch file" config, but looking at your screenshot you seem to be using the "Launch" config.

Can you either try adding the args to the "Launch" config or choose "Launch file" in the drop down?

[2017-06-11 04:03] ahmetb opened #1029 "Installing go tools must print the import path"
[code]

This doesn't help me. I maintain a separate `install_gotools.sh` script that I run on all my workstations to install go development tools (incl. the ones vscode-go uses). I think this operation should print the full package import path while it's doing `go get`, not just the package name.

[2017-06-11 04:14] xoviat commented on #1028
That was it. I am so sorry for wasting your time.

[2017-06-11 04:14] #1028 closed

[2017-06-11 04:31] ramya-rao-a commented on #1028
No problem at all 😊 Happy Coding!

[2017-06-11 13:16] josephspurrier commented on #464
I'd also like to have go template formatting that supports the handlebars. For instance, I want the file to format like this:

[code]

But when it formats on save, it looks like this:

[code]

Would this be something that could go into the core of visual studio or something that a plugin would need to add functionality for?

Let me know if you want me to put this in a separate ticket.

[2017-06-11 18:29] alanpadillachua commented on #1027
when I run the command `dlv debug main.go`
I get `could not launch process: stub exited while attempting to connect: signal: segmentation fault`

[2017-06-12 03:39] hyacinthus commented on #438
@ramya-rao-a  After the upgrade 1.13, it no longer appears this morning.
I will continue to focus on it.

[2017-06-12 04:33] ramya-rao-a commented on #1027
Ok, then its a problem with delve itself. Or some combination of your environment and delve.
Please open an issue in https://github.com/derekparker/delve

They should be able to help you better

[2017-06-12 04:44] ramya-rao-a commented on #464
@josephspurrier We support the use of either `goreturns`, `goimports` or `gofmt` as formatting tools in the Go extension and do nothing extra.

So what is needed is a tool that does formatting like the above tools and in addition also format the html like you mentioned. This way you get the template formatting not just in VS Code but also for any other editor or even an user who can use the tool i

[2017-06-12 07:42] mhindery opened #1030 "Go lang server eats up cpu"
Working on a Go project with the golangserver enabled, the process eats up my cpu. This is even without doing actual coding (so no hovering and lookups necessary)
<img width="769" alt="screen shot 2017-06-12 at 09 33 14" src="https://user-images.githubusercontent.com/8758073/27023532-355e76ce-4f53-11e7-885d-75f0d7637467.png">

This is on a Macbook Pro with i7 QC

[2017-06-13 03:26] ramya-rao-a commented on #1030
This issue is being tracked here: https://github.com/sourcegraph/go-langserver/issues/178

Please add your input there.

Until the issue gets fixed, the workaround is to disable the language server

[2017-06-13 03:26] #1030 closed

[2017-06-13 03:26] ramya-rao-a commented on #1029
Fair point

[2017-06-13 19:19] roylee17 commented on #1015
Is there a way to TOGGLE the linter, or manually run the linter in vs code?

Currently, I have to manually modify the configs to achieve this.

Thanks

[2017-06-13 19:34] ramya-rao-a commented on #1015
@roylee17  Do you mean the settings when you say configs?

[2017-06-13 19:37] roylee17 commented on #1015
@ramya-rao-a Yes, is their an command that I can run manually, and/or create a keybinding for that command?

[2017-06-13 20:59] rakyll commented on #10
I came across to this issue, re-installing and reloading the window didn't work. But, uninstalling, quitting VSCode, and reinstalling did the trick.

[2017-06-13 21:53] josh-tepper commented on #853
Just wondering if there's any update on this.  Is there build that we should test?  @keegancsmith

[2017-06-13 21:55] ramya-rao-a commented on #1015
@roylee17 Not at the moment, but I am sure there is an issue tracking that as well. I'll try and find it and link it here

[2017-06-13 22:54] ramya-rao-a commented on #853
@keegancsmith is no longer working on this as far as I know.
pinging @slimsag instead

[2017-06-13 22:55] ramya-rao-a commented on #10
@rakyll Which version of VS Code are you on?

[2017-06-13 23:06] rakyll commented on #10
Version 1.13.0 (1.13.0)

Let me explain further how this is reproducible.

I am on a fresh new laptop with no Go installed. I installed VSCode and the Go extension before Go. Then, I installed Go from source and add the GOROOT/bin to my PATH. Even though, my bash was able to recognize the go command, VSCode was prompting the error message saying that I don't have go in my PATH.

[2017-06-13 23:35] sqs commented on #853
Indeed - @slimsag is working on this now (@keegancsmith is on parental leave for a few more weeks 🎊)

[2017-06-13 23:46] RoarkeRandall opened #1031 "Can't debug integration tests"
I'm able to debug go tests in vscode by pressing the debug test link above the test function.

However, if I add `// +build Integration` to the top of the test file to indicate it is an integration test, one of two things will occur...

1. In the case of there being test binary had been built before adding the integration tag, then the old test binary will be run. If you modify your code enough, y

[2017-06-14 00:20] ramya-rao-a commented on #10
@rakyll At that point VS Code is not aware of the addition of GOROOT/bin to the PATH. At this point, if you close VS Code and open it from the terminal where you updated the PATH, VS Code should now be able to find Go. Does it not?

[2017-06-14 03:02] rakyll commented on #10
@ramya-rao-a, it didn't. I exited VS Code and opened it from the terminal where `go` is available for a few times before giving up.

[2017-06-14 06:36] pierznj commented on #268
It came up apparently randomly. I wasn't doing anything obviously different. Not helpful, I know :(

[2017-06-14 07:05] slimsag commented on #853
I'll have an updated build for people to try soon -- apologies for the delay. :)

In the meantime, if anyone would like to help out, please make sure your binary is updated (run `go get -u github.com/sourcegraph/go-langserver`) and capture a heap/CPU profile per https://github.com/sourcegraph/go-langserver#profiling whenever the issue occurs.

[2017-06-14 07:59] klingtnet commented on #10
@rakyll What system are you using, Linux, Mac or Windows? Can vscode's integrated terminal fing `go`?

[2017-06-15 05:47] rakyll commented on #10
@klingtnet, I am on a Mac. The integrated terminal also couldn't find go.

[2017-06-15 08:44] AlekSi commented on #1026
Go community tends to use 3 versions: tip/master, current and previous one. Currently, that's soon-to-be-1.9, 1.8 and 1.7.

[2017-06-15 08:48] AlekSi opened #1033 "Go file icon is scary in VSCode 1.13"
Seriously, look into those hollow eyes: ![2017-06-15_11-46-04](https://user-images.githubusercontent.com/11512/27173138-4a75af7c-51c0-11e7-8a61-00d564644873.png) My guess they are transparent, and transparency wasn't supported until 1.13. Or maybe icon just changed.

macOS 10.12.5, VSCode 1.13.1.

[2017-06-15 14:21] dstpierre opened #1035 "High CPU perf issue since 1.13, auto-complete barely supportable"
[code]

I already tried the `gocode close` and `go get -u github.com/nsf/gocode` which worked for me in the past. But it does not this time.

Looking at top vscode and gocode are both eating all my 8 CPU cycles. I have a 4 core i7 3.5ghz so this should be plenty for a text editor ;).

This starts to occurs since 1.13, I thought that 1.13.1 would have helped, but nope, same issue.

I'd say normally

[2017-06-15 15:16] andreis commented on #1035
Same here, same CPU, and it's driving me crazy. E.g. when saving (Cmd-S) it's often typing a few to a lot of `s`es.

[2017-06-15 16:50] ramya-rao-a commented on #1026
That's good to know @AlekSi , thanks!

@rakyll @campoy thoughts?

[2017-06-15 17:22] ramya-rao-a commented on #10
I'll try and get a repro and get back to this thread

[2017-06-15 17:38] campoy commented on #1026
I'm totally ok with dropping support for Go 1.5, we're about to release Go 1.9!

[2017-06-15 17:56] FryDay opened #1036 "Errors no longer clearing"
On Arch Linux, just updated to 1.13.1 and now my errors no longer clear. I have to restart VSCode for them to go away.

[2017-06-16 10:50] ghaabor opened #1037 "formatOnSave re-saves several times"
So I've started using the Go extension yesterday and noticed a weird issue. When formatOnSave is on, I push Ctrl-S and the file is saved several times and the undo stack gets crowded with characters getting selected and deselected. It always selects the same characters that were before the cursor when I pressed Ctrl-S. I tried it with all three formatters and they all do the same.

I think there c

[2017-06-16 13:37] jcbritobr opened #1038 "vscode golang plugin dosn't show documentation for some functions on mouse hover"
Some functions comments are not appearing in info when the mouse pointer is over a function:

Operation System info:
==================
linux x86_64 fedora 25

Visual Studio Code Info:
==================
Version 1.13.0
Commit 376c52b955428d205459bea6619fc161fc8faacf
Date 2017-06-08T16:41:25.571Z
Shell 1.6.6
Renderer 56.0.2924.87
Node 7.4.0

vscode-go plugin info:
=================
version:0.6.62 -

[2017-06-16 16:14] gdrte commented on #926
Integration with WSL is highly preferable for users like me, who just moved from Mac OS X to Windows X :).

[2017-06-17 10:15] 0rka opened #1039 "Go 1.8.3 go tools command not available for all tools"
OS: Microsoft Windows [Version 10.0.15063]
Go Version: 1.8.3 windows/amd64
VSCode: 1.13.1

When opening vscode and installing all go tools for vs-code extension it doesn't seem to install them (although they are installed on the GOPATH\Bin) and asking for installing them again and again. This is the first time I encounter this problem (have some other instances of vscode+vscode-go on other machine

[2017-06-17 10:26] 0rka commented on #1039
Fixed the problem by adding %GOPATH%\bin to %PATH% environment variable.

[2017-06-17 10:26] #1039 closed

[2017-06-18 13:19] kyoh86 opened #1040 "`func` and `type` is specified via the scope `keyword`"
In other languages, (JavaScript, Python, etc.) they are specified via a scope `storage.type`.
Only in golang, they're colored with another color in some color theme.

https://www.sublimetext.com/docs/3/scope_naming.html#storage

[2017-06-18 18:26] wader commented on #786
I have the same issue when using https://github.com/cortesi/modd. A delay work but feels hackish. Would it be possible to format the code before writing it to the file?

[2017-06-19 18:15] ramya-rao-a commented on #1036
Do you have to restart every single time for the errors to disappear?

[2017-06-19 18:16] ramya-rao-a commented on #1037
That sounds like some other extension is interfering with the save action. We have seen this before.

What extensions do you have? Can you try disabling all extensions, then enable just the Go extension and see if this still persists?

![image](https://user-images.githubusercontent.com/16890566/27299306-c41d2fee-54e0-11e7-8421-01ffba13dbf4.png)

[2017-06-19 18:18] ramya-rao-a commented on #1038
Can you try setting `go.docsTool` to `gogetdoc`? The default tool for docs doesnt work well with structs

[2017-06-19 19:11] codeliveroil commented on #268
Same `failed MSPanList_Insert` error for me as well. Rename would work in single file projects like a HelloWorld.go but not in larger ones where the rename would span multiple files and sometimes within a single file as well.

I deleted gorename and had vscode reinstall it and it works fine now.

I couldn't obtain version differences between the old and the new version though I have both binaries.

[2017-06-19 23:42] jcbritobr commented on #1038
Hi @ramya-rao-a . It worked with gogetdoc. Thank you. Maybe vscode whould support this tool officialy.

[2017-06-20 01:18] ramya-rao-a commented on #1038
We do support gogetdoc officially, just not by default.

#1025 is tracking the task to make it the default tool

[2017-06-20 01:18] #1038 closed

[2017-06-20 01:22] ramya-rao-a commented on #268
@codeliveroil If a newer version of `gorename` fixed the issue, then that's the solution. There is nothing else we can do from the Go extension

Actually nowhere. When you are debugging Go code, there is an option to collect traces. But nothing for the rest of the extension features

[2017-06-20 05:00] DevNulPavel opened #1041 "Calling lint and vet tool by hotkey or from interface"
Great plugin, but calling lint and vet tools manualy sometimes needed to avoid freezings on save with autolint/autovet enabled.

[2017-06-20 14:52] manikawnth-tcs opened #1042 "Slice type is inferred wrongly as array"
The definition popover of a slice type is wrongly depicted as an array.
Let me know if this is not an issue to be posted here.

![error](https://user-images.githubusercontent.com/28628364/27339711-852ef094-55a6-11e7-9f70-442e693bc3e8.png)

[2017-06-20 16:59] rebornix opened #1043 "Auto Indent Support"
To embrace the new auto indent feature in Code, languages need to define its indentation rules. You can either do that in JavaScript or simply put that into `language-configuration.json` https://github.com/Microsoft/vscode/blob/master/extensions/ruby/language-configuration.json#L25 .

A good start can be https://github.com/atom/language-go/blob/master/settings/language-go.cson but we need to do so

[2017-06-20 20:16] ramya-rao-a commented on #1041
Agreed. We can have commands to run lint/vet/build. One thing to think about is whether these will act on current file/ current package or the whole workspace. Do we have 3 separate lint commands for the 3 scenarios? Or 1 lint command and a setting to control the scope? Or re-use the scope from buildOnSave/lintOnSave settings.

Other than that this is a very simple feature to implement. PRs welcom

[2017-06-21 10:49] hhrutter opened #1044 "Go to Definition and Codelens fails for anonymous struct members"
I am on MacOS, VSCode Release May 2017 (version 1.13); Go 0.6.62

When using anonymous types like so jumping to the struct definition eg `Configuration` does not work neither do I get a codelens.

<img width="316" alt="struct" src="https://user-images.githubusercontent.com/11322155/27380263-bd5aa7a0-567e-11e7-941d-699a56ca73da.png">

[2017-06-21 13:07] mathieupythian opened #1045 "debug test - How to configure?"
I like the fact that I can easily run a single test with the link ('run test') that appears right above the test function, and that works great.  However, I cannot figure out how to use the 'debug test' link next to it.  I assume I need a launch.json configuration based on the instructions for dlv, but I did not have any luck actually running an individual test in debug and hitting a breakpoint.

[2017-06-21 16:39] tylerstillwater opened #1047 "Feature Request: Kill Running Test"
It is not uncommon for a misbehaving test to run for a long time, or indefinitely. It would be fantastic if there was a command/button/shortcut/some way to kill the currently running test.

[2017-06-21 18:07] ramya-rao-a opened #1048 "Go extension does not recognize other packages interfaces"
_From @rmescandon on June 21, 2017 16:51_

Steps to Reproduce:
1. I create a go project
2. That project has a package pkg1 with several types defined there, amongst them I declare an interface
[code]
3. In same project, I have another package pkg2
4. In a file from pkg2, I declare a var of MyInterface
[code]
Expected:
The var declaration is not marked as error

Result:
That declaration line is und

[2017-06-21 23:42] rpeshkov opened #1049 "Test file paths not expanded in subtests"
Hi vscode-go developers! I've taken your function for expanding file paths in go test output into my plugin and found a bug there.

Steps to reproduce:

1. Create test with subtest and error output, i.e.

[code]

2. Launch test.

3. Look at path in output. It's not expanded

[code]

Expected:
`goissue_test.go:7` -> `/Users/user/go/src/github.com/user/goissue/goissue_test.go:7`

[2017-06-22 19:33] #1029 closed

[2017-06-22 21:28] mcardosos opened #1051 "Unusable gocheck flags"
[gocheck](https://labix.org/gocheck) flags are not usable on VS Code integrated terminal.

[2017-06-23 16:36] pschuegr opened #1052 "Debug adapter process has terminated unexpectedly"
I'm having the same issue as this one from last year: https://github.com/Microsoft/vscode-go/issues/564.  Unable to launch the debugger from within vscode go or I get "Debug adapter process has terminated unexpectedly" (twice).

[code]

[code]

- OSX 10.12.5
- vscode 1.13.1
- vscode-go 0.6.62
- dlv works fine from the command line
- same issue with remote debugging
- no output in debug console

[2017-06-23 17:57] AndersenTobias opened #1053 "Trigger visibility of argument hints?"
I wonder if it is possible to trigger the visibility of the "argument hint" widget?
Specifically, I'm talking about this:
![skarmavbild 2017-06-23 kl 18 54 33](https://user-images.githubusercontent.com/4043059/27494401-9d9fe66e-5845-11e7-9dbd-e2459f6baf96.png)

It disappears as soon as I start typing the first parentheses.
It is kind of annoying to not know how to make it visible again since I can

[2017-06-23 18:06] ramya-rao-a commented on #1044
For jumping to definition can you try setting `go.docsTool` to `gogetdoc`?

What do you get when you do a "Find All References" on this type?

[2017-06-23 18:07] ramya-rao-a commented on #1051
@mcardosos Please share your usage and the errors you see. A screenshot will greatly help

[2017-06-23 18:12] ramya-rao-a commented on #1045
The `getsocopt` error you are seeing is tracked in #986. I am guessing you are on Mac OS?

Please follow the workaround here: https://github.com/Microsoft/vscode-go/issues/986#issuecomment-304347853

The "debug test" link doesnt need any launch.config to run. It creates a debug configuration based on test function name and starts the debug session.

You need the launch.config if you intend to star

[2017-06-23 18:12] #1045 closed

[2017-06-23 18:15] ramya-rao-a commented on #1049
Thanks for reporting @rpeshkov!

This should be an easy regex fix in https://github.com/Microsoft/vscode-go/blob/master/src/goTest.ts#L298

PRs welcome

[2017-06-23 18:17] ramya-rao-a commented on #1053
What you have in your screenshot is the suggestion widget/ autocompletion widget

We have another widget for parameter hints which will start showing up as you start typing inside the parentheses. Or if you click `Ctrl+Shift+Space` inside the parentheses.

Can you try that?

[2017-06-23 18:47] hhrutter commented on #1044
Hi,

I am already on gogetdoc.

When I do a "Find All References" I get a code lens
showing me the same containing struct with the type highlighted
to which definition I would like to be taken.

[2017-06-23 18:50] rpeshkov commented on #1049
Yep, sure.

[2017-06-23 18:55] ALynch11 opened #1054 "I've set my gopath, but when I try to download gocode and other packages it says $GOPATH not set and fails to download"

[2017-06-23 19:21] ramya-rao-a commented on #1044
Can you share a complete sample code where I can try this?

[2017-06-23 19:40] mcardosos commented on #1051
Hello @ramya-rao-a ! :D

Output in the integrated terminal looks like this...

[code]

On cmd it behaves as I would expect, like this...
[code]

[2017-06-23 20:02] AndersenTobias commented on #1053
@ramya-rao-a
Unfortunately, nothing shows when I begin typing. Also `Ctrl+Shift+Space` does nothing for me.
(I'm on a Mac and also tried `Cmd+Shift+Space`.)

[2017-06-23 21:42] rothskeller opened #1056 "import formatting clash"
The interactions between vscode-go's auto-import feature, `goimports` formatting, and formatOnSave seem often to result in a poorly formatted import block.  I'm not sure whether this is a misconfiguration on my part, or a true bug, but it's something I hit frequently and I would love to know of a solution for it.

Steps to reproduce:
1.  Create and save a file that references a standard library pa

[2017-06-23 22:17] hhrutter commented on #1044
Sure.
Jumping to the definition works in this example for f1 and f2 but not
for the anonymous members of type foo and *foo.

[code]

[2017-06-23 23:13] slimsag commented on #853
Hi everyone ( /cc @ramya-rao-a ), this issue should be fixed now. 😃 Very significant improvements have been made to both goto definition and hover requests, and they now use a tiny fraction of the memory / CPU usage seen before.

To update, please run:

[code]

And once again set `go.useLanguageServer` to `true` inside your settings to enable the language server.

Please feel free to provide any f

[2017-06-23 23:55] boljen commented on #1036
I assume that I'm experiencing the same issue.

It occurs with both gometalinter and golint and for both errors and warnings. A restart is required to clear the problems in visual code.

If "go.liveErrors" is enabled, all linter problems are cleared and replaced with the live errors.

Ubuntu 16.04
Go 1.8.3
Latest tools installed (afaik)

[2017-06-24 23:54] ramya-rao-a commented on #1053
I get the below

![sighelp](https://user-images.githubusercontent.com/16890566/27512667-bed61340-58fd-11e7-8f03-0002408e8a5d.gif)

[2017-06-25 00:23] ramya-rao-a commented on #1044
Using your example, I am able to go to the definition of both `foo` and `f1` in `bar1`

![anoyn](https://user-images.githubusercontent.com/16890566/27512778-be423ad6-5901-11e7-8d62-81157e6b1528.gif)

[2017-06-25 00:30] #609 closed

[2017-06-25 01:18] ramya-rao-a commented on #1051
Works for me in Mac

<img width="479" alt="screen shot 2017-06-24 at 5 45 51 pm" src="https://user-images.githubusercontent.com/16890566/27512851-151ff7dc-5905-11e7-90eb-44815e9a6019.png">

Based on the error `flag provided but not defined: -check`, looks like instead of `check.f` only `check` got passed to the command

@Tyriar Could this be related to the kind of shell used by the integrated term

[2017-06-25 08:18] hhrutter commented on #1044
I know this works. I think there has been some misunderstanding
I want to inspect the members of a struct and be taken to each members definition.
That's why I left out the implementation of `main`,  because it's irrelevant here.

Like when I hover over the bar1 struct I 'd like to inspect the definitions for f1 or the anonymous member foo especially in my case when they reside in different source

[2017-06-25 12:02] thomasdarimont commented on #843
I think the relevant code in the python vs code extension is here:
https://github.com/DonJayamanne/pythonVSCode/blob/2cf147caea17f2e2f4818a91628f83c2dcf344ec/src/client/debugger/DebugClients/LocalDebugClient.ts#L109

[2017-06-25 14:48] epic2005 commented on #847
the issue also happened on me just like @ppcuban

[2017-06-25 15:25] AndersenTobias commented on #1053
Hmm, why don't I get that? Have you activated this somewhere in a settings file?

[2017-06-25 18:37] ramya-rao-a commented on #1053
Not at all, this should work out of the box.

If `Go to Definition` and quick info on hover works, the Signature/Parameter help should also work
They all share the same code.

Can you try on a simple piece of code?

[2017-06-25 18:41] ramya-rao-a commented on #847
@ppcuban @epic2005 Those are issues with installing delve. Please look at the repo for delve https://github.com/derekparker/delve for instructions or look it up in stack overflow

[2017-06-25 18:43] ramya-rao-a commented on #1044
I used LICEcap for the gif. Its pretty easy

Yes, please share gif/video.

[2017-06-25 18:47] ramya-rao-a commented on #1036
@FryDay @boljen The errors clear up when there is a save on the current file. Can you please check that the errors do not go away even after fixing the issues and saving the file?

Can you share a gif/video of the same? I cannot repro

[2017-06-25 18:47] ramya-rao-a commented on #1036
Also, what is the value of `go.lintOnSave` in your settings?

[2017-06-25 19:16] ramya-rao-a commented on #1054
Please read [GOPATH-in-the-VS-Code-Go-extension](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension). That should help.

If that still doesn't help, What do you see when you do the below?

- Run the command `Go: Current GOPATH`
- Open the integrated terminal (Ctrl+`) and type `echo $GOPATH`

[2017-06-25 19:16] #1054 closed

[2017-06-25 19:43] #1056 closed

[2017-06-25 19:44] ramya-rao-a commented on #1056
Adding the import to the start of the import list enables goimports/goreturns to group/sort the imports properly.

Fixed with https://github.com/Microsoft/vscode-go/commit/21ef73390526ba004679cc392ecd4a88e3b3602b

Thanks for reporting!

[2017-06-25 19:57] hhrutter commented on #1044
There you go..
![vs](https://user-images.githubusercontent.com/11322155/27519311-05f823c8-59f1-11e7-8cd2-ddbd503babd5.gif)

[2017-06-26 13:59] josh-tepper commented on #853
This appears to completely solve the problem for me.

[2017-06-26 14:01] dstpierre commented on #1035
This is now at a point where I'm editing my Go code in vim, since vscode-go and vim-go seems to be using ~similar tools, I can't think of anything else than maybe my project is now too big for vscode?

Using it for Typescript and the CPU usage is ~normal. But as soon as I'm editing a Go code file the CPU jump in the 325 % usage. Using the <kbd>SHIFT</kbd>+<kbd>F12</kbd> to see all references for e

[2017-06-26 14:51] FryDay commented on #1036
I have lintOnSave set to package. I'll try and get a gif to show you.

[2017-06-26 15:33] ramya-rao-a commented on #853
Thanks @slimsag for the amazing work!

@josh-tepper Thanks for confirming
@nicpottier @cyc115 Can you get the latest for the language server `go get -u github.com/sourcegraph/go-langserver`, turn the setting back on and see if it works well for you too?

[2017-06-26 15:46] boljen commented on #1036
I got it all working again but I don't know why.

Coverage didn't work even though it was enabled in the user settings.json file  and wasn't set in the workspace settings.json file. Setting it explicitly in the workspace settings.json file for some reason fixed both the error clearing issue as well as no coverage showing up in the editor.

The best explanation I can come up with is a corrupted cac

[2017-06-26 16:58] FryDay commented on #1036
Yeah, it's mysteriously working for me again too. No idea what happened that caused it to start working as intended again, though.

[2017-06-26 18:33] andreis commented on #1035
I feel your pain. I've worked on Go projects with under 100 loc and it's the same deal. Something's fishy. My workaround is to just change the linter from `gometalinter` to `golint` until this gets fixed.

[2017-06-26 22:29] sethgrid commented on #257
I just started having godef procs spawn and hammer the CPU on mac. 6 procs at 30% each, even after I closed vs code :(
vs code is the only thing that I would have that could invoke godef.

[2017-06-26 22:31] ramya-rao-a commented on #1051
Tested in Windows and I can repro.

The integrated terminal in Windows uses powershell.exe which has this issue.
Running this command in the external powershell.exe gives the same error.
Problem seems to be with powershell in that it does not pass the `.f` part of the `check.f`

Change to cmd.exe and it works fine (You can just type `cmd` and then ENTER to change current integrated terminal to use

[2017-06-26 22:31] #1051 closed

[2017-06-27 00:19] ramya-rao-a commented on #1036
On every save, the diagnostics are cleared and calculated again, so I am stumped as to how this is happening.

If you can get a consistent repro, please do share.

Closing this issue until then

[2017-06-27 00:27] mcardosos commented on #1051
Awesome! Thanks @ramya-rao-a

[2017-06-27 15:00] beforeisleep opened #1057 "Cursor "debug test" is not picking up GOPATH from launch.json"
This is the menu that displays when mouse hovers over test functions. It worked before recent VS Code update.

VS Code: 1.13.1
vscode-go: 0.6.62
Go: go1.8.1 darwin/amd64

[2017-06-27 18:20] ramya-rao-a commented on #1057
Can you run the command `Go: Current GOPATH` and tell me if what you see there is the same GOPATH that you have set in launch.json?

[2017-06-27 22:13] AdiedX commented on #321
The debugger worked with Golang but abruptly stopped working within a span of an hour. I tested it on a nodeJS project. It works. I reinstalled go-delve with:

`brew uninstall go-delve/delve/delve`
`brew install go-delve/delve/delve --HEAD`

The issue continues to persist with go projects.

VS Code 1.13.1
Go 1.7.5
Delve 1.0.0-rc.1

[2017-06-28 04:07] ramya-rao-a commented on #1052
Can you set `"trace": "verbose"` in the debug config and see if you get any logs in the debug console?

[2017-06-28 04:27] ramya-rao-a commented on #1048
Here is my example, and I don't see any build errors. Can you share some code where you can repro this?

<img width="934" alt="screen shot 2017-06-27 at 9 27 17 pm" src="https://user-images.githubusercontent.com/16890566/27620596-6eaa73fa-5b7f-11e7-8312-94dbe925bf3a.png">

[2017-06-28 05:27] ramya-rao-a commented on #1044
I can repro when using `gogetdoc` but not when I set `go.docsTool` to `godoc` (which uses `godef` to find the definition)

cc @zmb3

[2017-06-28 05:32] ramya-rao-a commented on #1044
@hhrutter you also mentioned that the codelens doesn't work. Can you elaborate on that as well? I see the references codelens on the structs

<img width="263" alt="screen shot 2017-06-27 at 10 31 05 pm" src="https://user-images.githubusercontent.com/16890566/27621837-61c313e6-5b88-11e7-9050-497e004c0caa.png">

[2017-06-28 07:48] rmescandon commented on #1048
Oh, so sorry.
Seems that a go build executed from command line solved the problem. Not sure what happened, but for the first time the interface was not recognized. Now everything looks fine. Sorry for the inconvenience of taking your time.
You can close it.

[2017-06-28 12:36] beforeisleep commented on #1057
It shows the correct GOPATH that is set in launch.json. It is also the same GOPATH in the workspace settings.

I have no problems in running or debugging the program normally. This issue is only with the cursor "debug test" menu. Thank you for looking into this.

[2017-06-28 12:49] dstpierre commented on #1035
@andreis my linter was already golint.

If that can help also, I've noticed that this bad performance occurs on project that I have multiple packages, i.e.

root
|- package1
|- package2
|- package3

When editing a project with only one package, the performance is much better, as in similar to pre 1.13.

[2017-06-28 13:28] zmb3 commented on #1044
I'll take a look at the go to definition issue in gogetdoc. Thanks for the report!

[2017-06-28 14:28] ardan-bkennedy opened #1058 "PANIC on Intellisense"
Operating System
maxOS Sierra  v 10.12.5 (16F73)

Go
go1.9beta1 darwin/amd64

I downloaded a new version of gocode
go get -u github.com/nsf/gocode

When I use intellisense all I see is  "PANIC"

Not sure if there something else I need to update?

[2017-06-28 15:07] sethgrid commented on #257
Fixed my issue with `> Go: Install/Update tools`

[2017-06-28 16:33] zmb3 commented on #1044
I can't seem to reproduce this. Docs tool is set to `gogetdoc` and here's what I get:

![embed](https://user-images.githubusercontent.com/7527103/27648837-defc9b50-5bfd-11e7-992a-de5cf4ab8f53.gif)

[2017-06-28 17:43] ramya-rao-a commented on #1048
No problem, Happy Coding!

[2017-06-28 17:43] #1048 closed

[2017-06-28 17:44] ramya-rao-a commented on #1044
@zmb3 Make sure `go.useLanguageServer` is set to `false`. That overrides the `go.docsTool` setting

[2017-06-28 18:21] ramya-rao-a commented on #1058
`gocode` needs a rebuild after updating Go version.

Just to be on the safe side, you can run `Go: Install/Update Tools` which will update all the Go tools that the Go extension depends on

We have #797 to track automatic updating of the said tools.

I have a plan in mind for this. Will look into it for the next update of the Go extension.

Now that Go 1.9 beta is out, I am guessing many more peop

[2017-06-28 18:21] #1058 closed

[2017-06-28 18:51] ramya-rao-a commented on #943
@wangxufire Please share a video/gif of the problem you are seeing. Preferably using a small simple code

[2017-06-28 23:27] ramya-rao-a commented on #1057
What error do you see?

[2017-06-29 00:11] pschuegr commented on #1052
Sorry, nothing else in the debug console with `trace: "verbose"`

[2017-06-29 03:27] ramya-rao-a commented on #1052
Not even the initial lines about writing to a file?

<img width="742" alt="screen shot 2017-06-28 at 8 24 17 pm" src="https://user-images.githubusercontent.com/16890566/27670138-d492580c-5c3f-11e7-8b8f-ff47664f45bf.png">

Have you been able to debug successfully before? Or never got it to work in your current environment? What I am trying to get at is if this is a regression due to a recent update

[2017-06-29 03:41] zmb3 commented on #1044
Got it. Thanks Ramya. I have a fix coded up, just need to clean up a few things and I'll have it out tomorrow.

[2017-06-29 05:58] ramya-rao-a commented on #1044
Awesome, thanks @zmb3!

[2017-06-29 16:47] pschuegr commented on #1052
@ramya-rao-a Nothing, unfortunately.  I tested this on another machine and it seems to work fine, so it's definitely an environment thing.  I'll dig into it more - do you have any suggestions?

[2017-06-29 17:26] pschuegr commented on #1052
Reinstall and the `debugAdapter` directory showed up fine.  Thanks for your help.

[2017-06-29 17:26] #1052 closed

[2017-06-29 18:30] ramya-rao-a commented on #1052
That's a new one :)
No wonder the debug adapter couldn't start coz it didn't exist 😆

Glad you are unblocked now. Happy Coding!

[2017-06-29 21:01] ramya-rao-a commented on #1024
Re-opening to absorb the changes done in gogetdoc

[2017-06-29 22:21] beforeisleep commented on #1057
It fails because it cannot find dependencies. The "(from $GOROOT)" line in the error trace is pointing to a different directory.

[2017-06-29 23:15] RoarkeRandall opened #1060 "Build Workspace except vendor folder"
Hello, currently the setting `"go.buildOnSave"` only allows the 3 options: `workspace`, `package`, and `off`. If you are using glide or the vendoring directory & you use the `workspace` option, then it will build the entire vendoring folder. The directories to build are not a flag so I'm not sure how to handle this scenario.

For glide you would run `go build $(glide novendor)`, is there a way to

[2017-06-30 02:00] ramya-rao-a commented on #1057
The error trace would have a line for $GOROOT and another for $GOPATH
Which of the 2 is wrong?

[2017-06-30 03:18] xiaohui opened #1061 "`goreturns` use two much CPU time"
I run vscode Version 1.13.1 (1.13.1) 379d2efb5539b09112c793d3d9a413017d736f89 on my macOS
Sierra， it always run about 60% CPU, and may be some time run 4 processes.
![image](https://user-images.githubusercontent.com/76129/27719565-e2321758-5d85-11e7-9bf7-3c1d6c90b216.png)

[2017-06-30 11:32] beforeisleep commented on #1057
$GOPATH, not $GOROOT

[2017-06-30 17:24] beforeisleep commented on #1057
The $GOPATH in the error trace seems to point to $HOME/go/src.

[2017-06-30 17:51] ramya-rao-a commented on #1057
`$HOME/go/src` looks like the default GOPATH in Go 1.8
And the GOPATH you get when running the `Go: Current GOPATH` is different?

@goenning This feels like it is related to
https://github.com/Microsoft/vscode-go/pull/971/files/3ac188357a53c44822129925a91ddfa64f65284b#diff-ce8c83cf87f491c0ab381e163db9daf4

Can you take a look?

I am leaving for a week long vacation without access to my Mac and so

[2017-06-30 18:29] goenning commented on #1057
Hi, let me see if I can help.

"debug test" doesn't load anything from launch.json as there could be multiple configurations and we wouldn't know which one to use.

The current environment variables that are used during "debug test" are:

1) System Environment Variables
2) `go.testEnvVars` from settings.json file
3) `go.testEnvFile` from settings.json file

@beforeisleep if you can add this to you

[2017-06-30 18:31] nsf commented on #985
Just pushed the change which might help with this case. However it's a hack, which doesn't cover all possible use cases. It's better than nothing, unless it breaks something. Anyways it should help with the reported issue, here's a similar case in action:

![aaa](https://user-images.githubusercontent.com/12567/27749214-1516a830-5dec-11e7-820e-1ecfb634df92.png)

As you can see types are annotated u

[2017-06-30 21:44] RoarkeRandall commented on #712
Hi, I'm new to using the vendor folder. I no longer use `go get`, and only have packages in stalled in the vendor folder. When I use go to definition it won't find the source because it only checks the `src/` directory.  Is there a way we could have it search `workspace/vendor` as well?

Having to `go get` wouldn't be a valid workaround because I could have several different versions of a package

[2017-06-30 23:05] beforeisleep commented on #1057
The suggested change in settings.json, in fact, makes this problem go away.

Thanks for looking into this.

[2017-07-01 10:30] goenning commented on #1057
Thanks for the response. Stick with this workaround for now, I'll soon submit a PR.

[2017-07-01 12:56] JeanMertz opened #1062 "No code completion for fmt"
<img width="656" alt="screen shot 2017-07-01 at 14 49 19" src="https://user-images.githubusercontent.com/383250/27762167-c5985084-5e6c-11e7-9bfb-70af2f8b77b8.png">

I'm using the default configuration, but somehow the completion isn't working as expected.

I am seeing some other completions though (but no documentation, not sure if that 's intended):

<img width="746" alt="screen shot 2017-07-01 a

[2017-07-01 13:16] JeanMertz commented on #1062
I _do_ see the function interface inside the function parameters.

<img width="627" alt="screen shot 2017-07-01 at 15 11 17" src="https://user-images.githubusercontent.com/383250/27762323-21a0688c-5e70-11e7-9fcc-15b936014d02.png">

[2017-07-01 15:17] coxx opened #1063 "Tools are searched in GOPATH/bin even if they are available in PATH"
Sometimes vscode-go displays a message

and tries to install it using **go get**.

But actually the tool is available in system-wide PATH.

Personally, I don't like to mix GOPATH/bin and development tools so my linters, code generators and other tools are under PATH (it could be /usr/local/bin, ~/bin or whatever).

[2017-07-01 19:36] ardan-bkennedy opened #1064 "go test: i flag may be set only once"
I use the "-i" flag on building but this is also being applied to go test.

[code]

It appears "go test" is being run in the background when I open a test file.

This is the error I get at the top of the source file for the package statement:
[code]

The help for `go test` says:
[code]

---

Can we set flags separately for build and test?

[2017-07-01 22:15] posito commented on #1036
@ramya-rao-a , I have the same issue. If I run the

[code]

The error is not clearing.
Here is my config

[code]

[2017-07-02 14:23] hhrutter commented on #1044
Excellent. So the codelens issue I mentioned is tied into all this.
The codelens is showing the doc for the embedded field but not for its type which makes
more sense as @zmb3 already figured.
I am going to check out @zmb3 's fix once its merged in and report back.
Thanks!

[2017-07-02 14:29] embano1 opened #1066 "http.Server.Shutdown() missing in code completion"
Not sure whether it´s just an issue on my local device, but the http://godoc.org/net/http#Server.Shutdown function is missing in auto-completion (see screenshot).

Is there a cache that needs rebuilding?
<img width="482" alt="shutdown" src="https://user-images.githubusercontent.com/15986659/27770696-9c929c62-5f43-11e7-931b-769987fb7307.png">

[2017-07-02 14:48] zmb3 commented on #1044
@hhrutter the fix is committed. Just update with 'go get -u github.com/zmb3/gogetdoc'

[2017-07-02 15:53] hhrutter commented on #1044
💯 working. Thx @zmbr & @ramya-rao-a

[2017-07-02 15:53] #1044 closed

[2017-07-02 18:01] zmb3 commented on #1066
I believe that func is new in Go 1.8. Are you running an old version of Go by chance?

[2017-07-03 07:44] embano1 commented on #1066
Thx. Yeah, that was the first I checked :) (running v1.8.3). The code compiles fine, and VS Code accepts the function. It´s just that auto-complete does not work for this specific func...

[2017-07-03 14:09] JeanMertz commented on #1062
The same happens for the `os` package (any package that is outside of my current project, it seems):

<img width="476" alt="screen shot 2017-07-03 at 16 06 38" src="https://user-images.githubusercontent.com/383250/27796262-b2106ae4-6009-11e7-84f1-0cc28797f552.png">

I disabled all plugins except for the Go plugin.

Here's my config with the above screenshot (I played around with different settings

[2017-07-03 14:12] JeanMertz commented on #1062
Alright, I found some other (unrelated) issue which mentioned running `go get -u github.com/nsf/gocode`, that indeed solved the problem for me. Not sure why, since I haven't updated Go on this machine (it's a new machine, and has had the latest version of Go from the start).

[2017-07-03 14:25] jackie-qiu commented on #330
Has this feature been implemented?

[2017-07-04 02:12] ramya-rao-a commented on #330
Hey @jackie-qiu, not yet. I'll try to get it into the next update

[2017-07-04 02:14] ramya-rao-a commented on #1044
@hhrutter just confirming.. When you say codelens so you mean the text you see when you hover on the field?

[2017-07-04 02:18] ramya-rao-a commented on #1036
@posito can u share a screenshot or GIF or video of the issue?

[2017-07-04 03:41] ramya-rao-a commented on #1062
Hey @JeanMertz

Sorry, didn't get to this earlier. Am on vacation at the moment.

Not sure why gocode would start acting up like that. The readme in its repo should help.

Sometimes even closing gocode and reloading VSCode helps

[2017-07-04 03:41] ramya-rao-a commented on #1062
Closing this issue as autocomplete works for you now

[2017-07-04 03:41] #1062 closed

[2017-07-04 03:48] ramya-rao-a commented on #1063
That shouldn't happen. Am on vacation right now without access to my mac.

Will look into it next week.

The extension is pretty easy to debug if you want to give it a try before then

[2017-07-04 03:48] ramya-rao-a commented on #1063
Oops didn't mean to close the issue

[2017-07-04 04:45] ramya-rao-a commented on #1064
We do have a separate setting called testFlags which gets used when running tests via the test commands

Do you have buildOnSave set to "workspace"? That runs go test ./... (but does not actually run the test) using the buildflags. That's causing the problem. Couldn't find a way to build all files (including test files) in the workspace

From the past couple of releases we have been setting -i by

[2017-07-04 04:49] ramya-rao-a commented on #1066
Try "gocode close" and then update gocode using "go get -u github.com/nsf/gocode"

[2017-07-04 04:53] ramya-rao-a commented on #712
@RoarkeRandall Does godef return the right definition location when you use it from commandl line?

[2017-07-04 07:52] hhrutter commented on #1044
Exactly.
The codelens used to show field doc for embedded fields and now it correctly shows the type doc which makes much more sense.
![vs](https://user-images.githubusercontent.com/11322155/27820338-78390570-609e-11e7-99c4-f39a4926211d.gif)

[2017-07-04 08:31] yuzhichang commented on #8
Any update of this issue? Guru features are very very helpful to understand code.

[2017-07-04 10:34] Jamesxql opened #1067 "How do I pass arguments when I use vscode to debug a go program"
My go program needs to receive the arguments passed from the command line. How do I pass these   args when I debug in vscode?

Like this: goapp -k1=v1 -k2=v2

[2017-07-04 12:19] ardan-bkennedy commented on #1064
When this started happening I saw that option and switched it to package. That was a very nice change.

This is always an excellent change. So then I guess I don’t need to do anything!

Thanks for responding on vacation.

I think that the flags should be separate for each tool.

[2017-07-04 14:52] ramya-rao-a commented on #1044
Ah! That got me confused. Codelens is the term used for something else entirely 😊

See https://code.visualstudio.com/blogs/2017/02/12/code-lens-roundup

[2017-07-04 15:59] hhrutter commented on #1044
I see. So how do you call this little popup displaying the type info?

[2017-07-04 18:24] ramya-rao-a commented on #1044
Hover info or tooltip

[2017-07-04 18:30] ramya-rao-a commented on #985
Thanks @nsf!

@diegobernardes run "gocode close" and then update gocode by "go get -u github.com/nsf/gocode"

[2017-07-04 18:30] #985 closed

[2017-07-04 18:32] ramya-rao-a commented on #1067
Have you created debug configuration in the launch.json file?

One of the fields in the debug configuration is "args" which you can use to pass the arguments

[2017-07-04 18:59] wader commented on #1037
Hello, i think i have the same issue.
macOS 10.12.5 (16F73)
Code 1.13.1 (1.13.1)
vscode-go 0.6.62

Get same issue (two file writes) when all extensions disabled except vscode-go. But I noticed that if i disable formatOnSave and just use "Format document" i still get one file write, could that be a lead or is that expected behaviour?

[2017-07-04 19:01] wader commented on #1037
Oh just noticed https://github.com/Microsoft/vscode-go/blob/bca4dd5f31f32ac49da79580c07b4000f06287a3/src/goFormat.ts#L69 is the save needed because the formatting tools can only read from file?

[2017-07-04 19:10] ramya-rao-a commented on #1037
When you say 2 file writes do you mean the file state indicator next to file name goes from dirty - save - dirty - save?

The line you are pointing at would only cause dirty - save - save

[2017-07-04 19:11] wader commented on #1037
Ok the go formatting tools support reading from stdin but vscode-go is currently not using it.

So could the issue be that when `onDidSaveTextDocument` is fired the file has already been saved and then the formatting tools are executed and then the document is saved again?

[2017-07-04 19:20] wader commented on #1037
You mean the dot left of the filename? when i make a change the dot appears. Then when i save it flickers fast and disappears

Im using https://github.com/cortesi/modd to trigger builds and if i run it in debug mode (`--debug`) i see two writes.
[code]

[2017-07-04 19:28] wader commented on #1037
My thinking is that if vscode-go currently uses the go formatting tools by pointing them to the source file path (not using stdin or a temp file) then it would require two save to work. First one to save the maybe not properly formatted file to disk and then run the formatting tool on the file and then second one to save the change to make it properly formatted.

[2017-07-04 19:35] wader commented on #1037
Sorry maybe i should mention that i don't have any issues withe undo stack. Just the issue with two writes.

[2017-07-04 21:49] embano1 commented on #1066
Thx, this (almost) fixes it. The func is now recognised, however documentation and thus hinting is not.

![image](https://user-images.githubusercontent.com/15986659/27843395-612a18ae-6113-11e7-9a63-44452f03ef15.png)

[2017-07-05 03:34] Jamesxql commented on #1067
I found answer in [this issue](https://github.com/Microsoft/vscode/issues/2167)

Anyway, thank you.

[2017-07-05 03:34] #1067 closed

[2017-07-05 04:06] diegobernardes commented on #985
Ok, thanks @ramya-rao-a and @nsf.

[2017-07-05 05:24] christoph-k opened #1068 "go.coverOnSave breaks problems view"
vscode-version: 1.13.1
vscode-go-version: 0.6.62
tools: updated today
os: ubuntu 16.04.2 lts
go-version: 1.8.3

If i set go.coverOnSave to true coverage is not shown.
What's really weird is the fact that it seems to break the problems view. New problems are shown but in case i fix them they don't disappear until there is a new problem. Same behaviour with the red line under the invalid statements.

[2017-07-05 05:25] ramya-rao-a commented on #1066
Can you try setting "go.docsTool" to "gogetdoc"?

[2017-07-05 06:51] ramya-rao-a commented on #1037
I did try passing the file contents via stain to the formatting tool once before, it caused a bug. I can't remember more on that. Am on vacation right now and so don't have access to my mac. Will check this once I get back.

[2017-07-05 07:07] hhrutter commented on #1044
Like in the browser. ok

On Tue, Jul 4, 2017 at 8:24 PM, Ramya Rao <notifications@github.com> wrote:

[2017-07-05 07:17] embano1 commented on #1066
Thank you. I did change the setting, without any difference.
What it´s really strange:

VSCode (with go version go1.8.3 darwin/amd64) recognises the Shutdown() function, even that the ctx argument is missing. However, if I right-click "Go to definition" it still says "No definition found...". Even more strange: if I open the source code for the Server struct (right-click-> go to def) and then sear

[2017-07-05 07:26] embano1 commented on #1066
OK, searching the issues for entries about "godef" and "stdlib" helped me fixing the issue.

Steps I took (not sure if all were necessary):

- close VSCode and gocode close
- go get -u github.com/rogpeppe/godef
- go get -u github.com/nsf/gocode (again, just to make sure)
- revert back to "go.docsTool": "godoc" (gogetdoc still doesn´t work)

Thx @ramya-rao-a for your help!

[2017-07-05 07:26] wader commented on #1037
Ah ok, and also use `onWillSaveTextDocument` instead? i might try to fix it if i get some free time.

But no hurry, enjoy your vacation!

[2017-07-05 13:03] kumarharsh commented on #696
This happens for me too, especially since including some `cgo` packages such as `github.com/lestrrat/go-libxml2`, which won't compile on my windows setup (and I can't seem to find all the pieces to get libxml2 working under windows). I build and run the golang app via a linux docker container, so the code runs fine, but vscode, being under windows, keeps throwing errors about undefined references

[2017-07-05 13:34] nsf commented on #696
Autobuild feature is a hack, the proper way to do it for a program like gocode is to parse source files directly instead of relying on up-to-date and built package files. I don't have time or enough enthusiasm to be honest for such a big refactoring, so it won't happen any time soon within gocode project. Maybe somebody will make a better gocode alternative. I've seen some attempts, sadly they don

[2017-07-05 15:03] kumarharsh commented on #696
Right on point. @nsf - **maybe you can add this to the gocode README** - might act like throwing the gauntlet for a better tool.
From my experience, go works atleast 2-3x faster on unix machines w.r.t Windows, which causes gocode and other go tools to *just work* on unix machines. Working with go on Windows is a lot more painful. Some of the issues I run into almost daily:
* autocomplete (gocode)

[2017-07-05 21:00] wader commented on #1037
@ramya-rao-a do you remember what bug you saw when using stdin?

[2017-07-06 04:20] ramya-rao-a commented on #1037
@wader I don't remember. Will have to look at the history of the goformat.ts file.

About onWillSaveTextDocument..
The catch here is that if formatting takes more than 750ms (am picking a number here, need to look at the code to get the actual number), then the action is cancelled.

I still haven't come up with a good solution for that. There us another issue tracking it. (will link it once am bac

[2017-07-06 04:32] ramya-rao-a commented on #1066
The Go extension uses different set of tools for different features.

The autocomplete is backed by the gocode tool.
The missing argument must be coming from running "go build"
The Go to Definition, hover info and signature/parameter help features are backed by the godef and godoc tools unless you have set go.docsTool to gogetdoc.

Am glad you are unblocked now. But am curious why gogetdoc didn't

[2017-07-06 04:33] ramya-rao-a commented on #1066
I am on vacation right now so don't have access to my mac.

@zmb3 can you take a look at why gogetdoc wouldn't have worked in the above scenario?

[2017-07-06 04:35] ramya-rao-a commented on #1044
Correct

[2017-07-06 06:15] wader commented on #1037
Ok, thanks! I've sent a PR to use stdin #1069

[2017-07-06 07:25] wader commented on #1037
@ramya-rao-a This commit it guess https://github.com/Microsoft/vscode-go/commit/068754e142c7d1ef1b5562e72d50a2cff4346562

[2017-07-06 08:35] abs-zero opened #1070 "Spawns cc1 and hogs up CPU"
When I import [gotk3](https://github.com/gotk3/gotk3), which depends on gcc to compile, every time I save a file (reformat occurs), it spawns `cc1` process. Eventually, I end up with this mess:
![2017-07-06-141411_208x91_scrot](https://user-images.githubusercontent.com/16974688/27902599-09fad854-6256-11e7-8a6a-7381ad728a49.png)

Also even after I close vscode, those processes won't be terminated.

[2017-07-06 14:02] zmb3 commented on #1066
There's not enough info here to say for sure. Sounds like some sort of
misconfiguration?

Do you have multiple versions of Go installed?  What's the output of 'go
env'?

On Wed, Jul 5, 2017 at 10:33 PM Ramya Rao <notifications@github.com> wrote:

[2017-07-07 18:45] embano1 commented on #1066
Sorry, was travelling.

↳ go env
GOARCH="amd64"
GOBIN="/Users/mgasch/GO/bin"
GOEXE=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS="darwin"
GOPATH="/Users/mgasch/GO"
GORACE=""
GOROOT="/usr/local/Cellar/go/1.8.3/libexec"
GOTOOLDIR="/usr/local/Cellar/go/1.8.3/libexec/pkg/tool/darwin_amd64"
GCCGO="gccgo"
CC="clang"
GOGCCFLAGS="-fPIC -m64 -pthread -fno-caret-diagnostics -Qunused-arguments -fmessage-lengt

[2017-07-07 20:20] zmb3 commented on #1066
Nothing out of the ordinary there.  What's the absolute path of the file you're editing in that screenshot?

[2017-07-08 00:08] willfaught opened #1071 "Variable block declaration syntax highlighting broken by call assignment"
Can be seen with this syntax:

[code]

*Note: GitHub syntax highlighting for the above doesn't show the problem.*

See the screenshot:

![screen shot 2017-07-07 at 5 04 33 pm](https://user-images.githubusercontent.com/63830/27980711-8c6333c8-6336-11e7-85b4-f5cd2fdf0e7f.png)

VS Code: Version 1.13.1 (1.13.1), 379d2efb5539b09112c793d3d9a413017d736f89
OS: macOS Sierra 10.12.5 (16F73)

[2017-07-08 01:07] diegobernardes opened #1072 "Go related suggestions should not show up in multi line comments"
Single and multi line comments have different behaviours when we type a dot. Single line is better and make more sense. Multi line annoy me everytime i need to write a big comment because of the dot at the end of the lines.

![gif](https://user-images.githubusercontent.com/14483/27981266-289c64d4-6360-11e7-99a6-655eef813fcf.gif)

[2017-07-08 23:29] ramya-rao-a commented on #1066
@embano1 Another thing to try is to run both `godef` and `gogetdoc` from the command line for the same file and offset and see if they give different results

[2017-07-08 23:30] #1057 closed

[2017-07-09 01:02] ramya-rao-a commented on #696
The best alternative I believe is to get the completion feature from a language server. We are working with Sourcegraph to use their [Go language server](https://github.com/sourcegraph/go-langserver) in the VS Code Go extension. It is still very early in the works but will be the right solution down the road.

[2017-07-09 01:28] ramya-rao-a commented on #1037
Yes, thats the revert commit.

See https://github.com/Microsoft/vscode-go/pull/1069#issuecomment-313889880 for my thoughts on the usage of "onWillSaveTextDocument" and "stdin"

Also the reason for the double save is not due to https://github.com/Microsoft/vscode-go/blob/bca4dd5f31f32ac49da79580c07b4000f06287a3/src/goFormat.ts#L69. That line is only reached when you explicity run the "Format Docume

[2017-07-09 04:40] ramya-rao-a commented on #1071
This issue was moved to atom/language-go#130

[2017-07-09 04:40] #1071 closed

[2017-07-09 05:28] ramya-rao-a commented on #1072
Suggestions in single line comments are not shown due to this https://github.com/Microsoft/vscode-go/blob/cf6a40d3b929f1d1fa4b247f044349f25c45aeec/src/goSuggest.ts#L59

We could use regex to figure out if the cursor is inside a multi line comment and skip calling `gocode` for suggestions as well.

PRs are welcome

[2017-07-09 05:29] ramya-rao-a commented on #1070
Does it happen when you have `go.formatOnSave` set to `false`?

[2017-07-09 05:44] abs-zero commented on #1070
It is weird that I can't reproduce this error in any way anymore. I guess it was a problem with my machine. A reboot might have fixed it.

[2017-07-09 06:51] ramya-rao-a commented on #1068
I am able to get coverage and the problems go away after fixing as well

![cover](https://user-images.githubusercontent.com/16890566/27991825-453b9bcc-6438-11e7-8b2c-c50e6ca0ab9d.gif)

Can you share your settings?

[2017-07-09 06:53] ramya-rao-a commented on #1070
No worries, I'll close it.

[2017-07-09 06:53] #1070 closed

[2017-07-09 07:06] ramya-rao-a commented on #1066
I think the reason is that `Shutdown` needs pointer

![shutdown](https://user-images.githubusercontent.com/16890566/27991905-4d47f160-643a-11e7-99c9-1767f33751d3.gif)

[2017-07-09 07:08] ramya-rao-a commented on #1061
Do you have autosave as well as formatOnSave on?

Do you see this happening on all your Go projects regardless of size?

[2017-07-09 12:37] shayzu commented on #1008
Hi,

Forgive me if I am "complaining" on the wrong thread - and if I am wrong please forward me to the right one.

I am also having hard  time with the extension:
From /Users/shayzukerman/go/src/oracle_db, I have set a breakpoint in the first and second lines in function main(), and when connecting to the remote server, the program runs until in terminates.
My setup:

Relevant block in launch.json

[2017-07-09 16:23] christoph-k commented on #1068
I don't know why but after another Ubuntu and Go-Tools Update it works again.

[2017-07-09 16:23] #1068 closed

[2017-07-09 16:37] atilkan commented on #1058
I have the exact same issue. And this did not solve my problem.
maxOS Sierra
go version go1.8 darwin/amd64

[2017-07-10 00:02] seanpfeifer opened #1073 ""go.vetFlags" fails to vet code in 0.6.62"
The change in #1023  (released in 0.6.62) to use "go vet" instead of "go tool vet" has broken the ability to use "go.vetFlags".

"go vet" fails silently in the Output tab (and not code is actually vetted) if "go.vetFlags" are defined as per the example for the flag:
`"go.vetFlags": ["-all", "-shadow"]`

Per the "go vet" command:
`To run the vet tool with specific options, run 'go tool vet'.`

[2017-07-10 00:10] seanpfeifer commented on #1073
Simple test case:
[code]

Expected:
`missing argument for Printf("%s"): format reads arg 1, have only 0 args`

Actual when assigning a value to "go.vetFlags", such as `"go.vetFlags": ["-all", "-shadow"]`:
No vet information reported.

[2017-07-10 00:39] ramya-rao-a commented on #1058
thanks for the update @atilkan and Happy Coding!

[2017-07-10 00:43] ramya-rao-a commented on #1008
@shayzu If you are not getting the error "TypeError: Cannot read property 'stopOnEntry' of undefined" then this is the wrong thread. You can open a new issue.

From your description, I understand that you are trying remote debugging and that you have also tried delve from the command line. What I don't understand is what the problem is.

[2017-07-10 01:01] atilkan commented on #1058
Thanks to you @ramya-rao-a . You rock.

[2017-07-10 02:15] #1073 closed

[2017-07-10 02:16] ramya-rao-a commented on #1073
Thanks for catching this @seanpfeifer!

Fixed and also added a unit test so that the tests can catch it if broken again.

Fix will be out in the next update

[2017-07-10 02:42] #1064 closed

[2017-07-10 03:15] ramya-rao-a commented on #1063
@coxx I am able to repro the case where one might get the message `The Go extension is better with the latest version of "go-outline". Use "go get -u -v github.com/ramya-rao-a/go-outline" to update`

This is because one might have an older version of `go-outline` and extension suggests to update to the newer version.

But am not able to repro your case where you get the error `The "go-outline" com

[2017-07-10 03:34] xiaohui commented on #1061
1. yeah, I had set go.formatOnSave on but I still make file.autosave off.
2. yeah, it happened no matter what size of projects.

[2017-07-10 04:29] ramya-rao-a commented on #1061
Did you recently upgrade to Sierra?
We have seen perf issues when users upgraded to Sierra. They had to update/rebuild all the dependent Go tools.

Can you run `Go: Install/Update tools` to update your Go tools and try again?

[2017-07-10 04:38] ramya-rao-a commented on #1049
Closing as this is fixed with #1055
The fix will be out in the next update in the next few days

[2017-07-10 04:38] #1049 closed

[2017-07-10 04:40] ramya-rao-a commented on #1053
@AndersenTobias Haven't heard back from you in a while. Closing this issue for now.
If you still have issues with the parameter hints, feel free to re-open this issue

[2017-07-10 04:40] #1053 closed

[2017-07-10 04:41] ramya-rao-a commented on #1066
Closing this issue

- the autocomplete issue got fixed with updating the gocode tool
- the Go To Definition not working when using `gogetdoc` according to me is valid as the `ShutDown` method is defined on the pointer. When using the pointer, this works as shown in https://github.com/Microsoft/vscode-go/issues/1066#issuecomment-313903326

[2017-07-10 04:41] #1066 closed

[2017-07-10 04:51] ramya-rao-a commented on #1042
That's how `godef` returns the information. So I'd suggest to log the issue in the repo for the `godef` tool.

However, we have 2 other options for showing the hover info
- Set `go.docsTool` to `gogetdoc`.
OR
- Set `go.useLanguageServer` to `true`

Both options gives the right hover info

[2017-07-10 04:51] #1042 closed

[2017-07-10 04:54] ramya-rao-a commented on #1040
@kyoh86 We use the grammar for Go from https://github.com/atom/language-go
Please log an issue in that repo for your issue with scope names

[2017-07-10 04:54] #1040 closed

[2017-07-10 05:04] ramya-rao-a commented on #540
Now that `editor.formatOnSave` can be configured per language, we should re-visit this.

Things to do
- Update `goFormat.ts` to use `stdin` to pass file contents to formatting tools instead of working on the file on disk. There are 2 issues with using `stdin` that need to be fixed first though:
      - #613 Format removes imports of vendored packages in use
      - #630 goreturns fails to consider

[2017-07-10 05:04] ramya-rao-a commented on #678
Closing in favor of #540 which will fix this issue as well

[2017-07-10 05:04] #678 closed

[2017-07-10 05:05] ramya-rao-a commented on #1037
Closing in favor of #540 which will fix this issue as well

[2017-07-10 05:05] #1037 closed

[2017-07-10 05:05] ramya-rao-a commented on #279
Closing in favor of #540 which will fix this issue as well

[2017-07-10 05:05] #279 closed

[2017-07-10 05:06] ramya-rao-a commented on #540
@wader has started looking into this in #1069

[2017-07-10 05:14] ramya-rao-a commented on #8
@yuzhichang

We already use `referrers` in the `Find All References` feature as well as the codelens for references (which you have to enable via settings)

#771 talks about the `implements` feature, but the perf was not good, so work is stalled
We have references showing up in codelens (you need to enable it via settings)

PRs are welcome for the other features. Commands in VS Code extensions are

[2017-07-10 05:14] ramya-rao-a commented on #257
Thanks for the update @sethgrid

[2017-07-10 05:28] ramya-rao-a commented on #1035
@dstpierre @andreis Sorry didn't get to this earlier, it somehow got lost in the sea of notifications and I was on vacation all last week.

Here are a few thoughts

- On using `gometalinter`, try using the lint flags to disable all linters and then enable the ones that most interest you. Eg: `['--disable-all', '--enable=varcheck', '--enable=errcheck']` Or use the `-fast` flag that will run only th

[2017-07-10 05:41] ramya-rao-a commented on #786
This would just complicate things adding dependencies around, I wouldn't vote for this.

Either that or notify the user that tests cannot be run if there are dirty files.

You mean you end up running tests on the unformatted versions? Because the tests cannot run on dirty files. `go test` always looks at the file on disk.

Work tracked in #540 will do this. Though with this, the slow formatters wi

[2017-07-10 05:46] ramya-rao-a commented on #321
All,

This is already a very long thread on a closed issue.
Please log a new issue.
Notifications on closed issues usually don't get our attention as much as a new or open issue would.

Also try using delve from command line to ensure that this is not a delve problem.

[2017-07-10 05:49] ramya-rao-a commented on #1033
Alright people, although this is a very serious (cough cough) issue, am going to close this one.

If anyone can come up with a better (read friendly) icon, feel free to update the icon in https://github.com/jesseweed/seti-ui

[2017-07-10 05:49] #1033 closed

[2017-07-10 05:52] ramya-rao-a commented on #1031
In both the cases, the issue is with delve.
Am sure if you run delve from command line for both cases, you will see similar results.

If so, please log this issue in repo for delve: http://github.com/derekparker/delve

If delve from command line works, then please re-open this issue

[2017-07-10 05:52] #1031 closed

[2017-07-10 06:22] #1024 closed

[2017-07-10 06:49] AlekSi commented on #1033
Any reason https://github.com/jesseweed/seti-ui/blob/master/icons/go2.svg is used instead of https://github.com/jesseweed/seti-ui/blob/master/icons/go.svg?

[2017-07-10 06:57] ramya-rao-a commented on #1033
@AlekSi No idea

AFAIK We use the icons from https://github.com/jesseweed/seti-ui.
See
https://github.com/Microsoft/vscode/blob/2f76c44632b0d47ba97f66fbc158c763628e30b3/extensions/theme-seti/OSSREADME.json

cc @bpasero

[2017-07-10 07:16] ramya-rao-a commented on #1060
Fixed with #1074

[2017-07-10 07:16] #1060 closed

[2017-07-10 07:34] NobbZ opened #1075 "GOPATH environment variable seems to be ignored"
When I tried to open VSCODE using `GOPATH=$(pwd)/go code .` vscode didn't seem to pick that up. according to my observations it still searched in my regular GOPATH for packages.

[2017-07-10 07:37] NobbZ opened #1076 "Documentation for go.gopath wrong?"
In the wiki about GOPATH the following is written:

While documentation of the setting `"go.gopath"` as available in VSCode states:

Which one is correct and describes actual behaviour?

[2017-07-10 08:10] AlekSi commented on #1033
They use both: https://github.com/jesseweed/seti-ui/blob/master/styles/components/icons/mapping.less#L97. I wonder if it looks scary in Atom too, or differences between Atom and VSCode make it look good in Atom and scary in VSCode.

[2017-07-10 08:33] bpasero commented on #1033
@ramya-rao-a it is @aeschli who does our icon themes

[2017-07-10 08:36] embano1 commented on #1066
Thank you for your quick help.

[2017-07-10 11:16] atombender commented on #786
Yes, I think that's what's happening (it's been a while since I filed this issue). Since I'm using `goimports` as the formatter, tests will sometimes run without imports that haven't been added yet.

[2017-07-10 13:11] myitcv opened #1077 "Running vsce package with vsce > 1.25.1 fails; requires https img src"
Using 9c59b60 of `vscode-go`:

[code]

gives the output (eliding the `npm` output):

[code]

Is `vscode-go` supposed to work with the latest version of `vsce` or is it effectively pinned against a version?

[2017-07-10 14:15] ramya-rao-a commented on #1066
No problem, Happy Coding!

[2017-07-10 14:21] ramya-rao-a commented on #786
The one way around that I can think of is for the tests not to run if there are any build errors.

If you have buildOnSave feature on, and the test starts before formatting completes  (or after #540 when the slow formatters get ignored, and file is saved unformatted), there would be build errors if there are missing imports. We could use that to notify users that there are build errors and so test

[2017-07-10 14:46] shayzu commented on #1008
Hi,

When conducting a remote debugging from VSCODE's Go debugger - the remote debugger does not stop in the breakpoints. which were set in the editor.
On the other hand, it does stop when the Remote Delve server is controlled from a local Delve client.

No, I don't receive the 'stopOnEntry' of undefined" error.
So, I will open a new issue.

Thanks

Shay

[2017-07-10 14:52] shayzu opened #1078 "Unable to set breakpoints when connecting to a remote Delve Server."
Hi,

Breakpoints which are set in VSCODE are not affected when trying to conduct a "Remote" Go Debugging.
Once clicked on "Start Debugging", the program is spawned on the Remote server, and it simply proceeds until it finishes.
Unlike [#1008](https://github.com/Microsoft/vscode-go/issues/1008#issuecomment-313976703) - no error message is printed.

The Remote Delve "server" is activated as followin

[2017-07-10 15:38] #1076 closed

[2017-07-10 15:39] ramya-rao-a commented on #1076
Fixed with https://github.com/Microsoft/vscode-go/commit/1ec6d7cfd4c4846e77739ce83eae5ed0482a7425

The first one is the right one

[2017-07-10 15:39] ramya-rao-a commented on #1075
This works for me...

When you are trying this, is there any other instance of VS Code open?
If yes, then the process running new VS Code window will have env vars from the already opened window

[2017-07-10 15:41] ramya-rao-a commented on #1078
@roblourens Can you take a look?

[2017-07-10 15:49] NobbZ commented on #1075
I will check later this day if there are other instances open or phantom processes.

[2017-07-10 16:16] #1077 closed

[2017-07-10 16:17] ramya-rao-a commented on #1077
Fixed.

I love it that you are trying to side load the vsix from master

Do you mind helping me out with testing a few features?
Am planning to release an update tomorrow and would really appreciate an extra set of eyes :)

[2017-07-10 18:08] NobbZ commented on #1075
I chechked it, there are no other instances running. I did reboot to make sure.

Version info:

[code]

Go plugin 0.6.62.

go itself: go version go1.8.3 linux/amd64

To make sure it wasn't something in my shell I also tried to export the new GOPATH and I tried bash and and zsh.

[2017-07-10 18:12] am21 opened #1079 "helpers for porting code from C/C++?"
In the process of porting code from C/C++, I often have to rename constants or `#define` from `SOME_NAME` to `SomeName`, i.e. use camelcase to make golint happy.  I ended up going back to my favorite Emacs with `string-inflection` package so I can do the conversion in one keystroke.

Would be very cool to have the same kind of symbol renaming directly from a popup menu.

Or maybe there is already

[2017-07-10 18:34] tylerb opened #1080 "Command+Click on line in OUTPUT console should go to line in already open file"
Repro:

1. Use two code views
2. Left view open an unrelated file
3. Right view open a test file with a failing test
4. Run test to generate output in the OUTPUT pane
5. Click on the left view to select it
6. command+click the failing line in OUTPUT

Expected result: the right view jumps to the line that was just command+clicked
Actual result: the file is opened, again, in the left view and then j

[2017-07-10 19:48] ramya-rao-a commented on #1075
Can you open the console (Run `Developer: Toggle Developer Tools`) and check the value of `process['env']['GOPATH']` ?

Also, do you have any of `go.toolsGopath` or `go.gopath` set?

[2017-07-10 20:58] NobbZ commented on #1075
Its the wrong, old GOPATH as I set it in my `.zshrc` instead of the current one. `go.gopath` was unset for the experiments, `go.toolsPath` is set to my regular GOPATH, to avoid cluttering this minified workspace. But removing it wont change anything, I have tried that too.

Also I did some further testing:

I added `export GOFAST=test` to my `.zshrc`, saved it and did not restart my terminal but o

[2017-07-10 21:19] ramya-rao-a commented on #1075
@Tyriar would you know why the env vars from `.zshrc` gets used instead of the one that is set in the terminal from where code is bing launched?

[2017-07-10 21:38] ramya-rao-a commented on #1079
Try https://marketplace.visualstudio.com/items?itemName=wmaurer.change-case

[2017-07-10 21:38] #1079 closed

[2017-07-10 21:49] ramya-rao-a commented on #1080
The Go extension only prints out the links to the output pane.
The links are implemented by core VS Code

[2017-07-10 21:50] ramya-rao-a commented on #1080
This issue was moved to Microsoft/vscode#30355

[2017-07-10 21:50] #1080 closed

[2017-07-10 22:31] Tyriar commented on #1075
I think @joaomoreno knows the most about us fetching the environment on launch.

[2017-07-11 00:46] JeffreyRichter opened #1081 "Make launch.json's env's GOPATH support "." and variable substitution (like ${file} etc.)"

[2017-07-11 07:37] joaomoreno commented on #1075
@NobbZ What does `which code` return?

[2017-07-11 07:42] NobbZ commented on #1075
Actually nothing ;)

My package manager installed `code` as `visual-studio-code`, I just substituted above for beeing conform to the rest of the world ;)

[code]

[2017-07-11 07:43] joaomoreno commented on #1075
Interesting. So what are the contents of `/usr/bin/visual-studio-code`?

Is this from our official Debian/RPM packages?

[2017-07-11 07:55] inancgumus commented on #1024
@ramya-rao-a I couldn't see the absorbed changes from gogetdoc?

[2017-07-11 08:18] NobbZ commented on #1075
Its a community ebuild for gentoo. There are no official builds available.

It does only contain a single line `exec /opt/visual-studio-code/code`.

The started executable is ELF 64-bit LSB executable according to `file`.

Since I'm only connected via SSH to my home-PC right now, I will check in about 8 to 12 hours if the problem persists when I do start that executable directly.

[2017-07-11 08:22] joaomoreno commented on #1075
Yep, that's the real problem. It should point to `/opt/visual-studio-code/bin/code`. You might want to file that as an issue to the gentoo peoples.

[2017-07-11 08:22] #1075 closed

[2017-07-11 08:30] NobbZ commented on #1075
Thank you for your help, I'll file an issue there.

[2017-07-11 11:33] myitcv commented on #1077
Sure thing 👍

[2017-07-11 11:34] myitcv commented on #1077
Might also be worth testing the `./node_modules/.bin/vsce package` step in the CI with "known" versions of `vsce`?

[2017-07-11 14:32] epic2005 commented on #847
@ramya-rao-a thanks

[2017-07-11 14:52] smithjacobj opened #1082 "gorename path error - file not found when cygwin diff in windows path"
My issue is identical to #665, but the closure to that issue indicated that the issue was "fixed" as of 0.6.56

My specs:
- Windows 7 x64
- VS Code 1.13.1
- Go extension version 0.6.62

Same exact error, but in my case, as per [this comment](https://github.com/Microsoft/vscode-go/issues/665#issuecomment-275900315), the issue was the Cygwin `diff` bin in my path. I removed the Cygwin bin directory

[2017-07-11 15:20] NobbZ commented on #1075
FYI: `GOPATH=$(pwd)/go /opt/visual-studio-code/bin/code` works fine.

[2017-07-11 16:50] roblourens commented on #1078
So it sounds like it successfully attaches, but isn't able to set the breakpoint?

Can you run with `"trace": true` and upload the log here?

[2017-07-11 17:26] ramya-rao-a commented on #1077
What step are you referring to?

[2017-07-11 17:27] ramya-rao-a commented on #1024
I am yet to release an update (should be out in the next few days).
You will see the changes then.

[2017-07-11 17:39] shayzu commented on #1078
Hi,

First of all, many thanks for your answer.
By looking at the trace file, I managed to understand that the value of the configuration fields: "remotePath" and "program" was wrong as the trace contain error messages regarding invalid lines.
Once configuration set to:

{
            "name": "Remote on Centos 7 VM",
            "type": "go",
            "request": "launch",
            "mode": "r

[2017-07-11 17:52] roblourens commented on #1078
Not sure I understand what you mean by "nothing happens on the server's side".

This may be expected, we might ask it to stop running when the stop button is clicked. Probably should cleanly disconnect. Not sure if there is an existing issue for this.

[2017-07-11 17:56] atombender opened #1083 "Autoindent inserts extra undo item, requires double undo after paste"
Here's an example of pasting something, then hitting cmd-Z to undo. As you can see, it first undoes one indentation, then undoes the paste. That's not right, since my paste was a single command, so a single undo should undo it.

![vsc](https://user-images.githubusercontent.com/50314/28082497-eee3dfe0-6672-11e7-998a-8715249ec60b.gif)

Steps:

1. Copy something.
2. Go into a block that has a deeper

[2017-07-11 18:15] OneOfOne commented on #1083
Wrong repo, this belongs on https://github.com/Microsoft/vscode/issues

[2017-07-11 18:17] atombender commented on #1083
Apologies, Safari autocompleted the URL and I didn't notice where I landed.

[2017-07-11 18:17] #1083 closed

[2017-07-11 21:53] #1082 closed

[2017-07-11 22:01] ramya-rao-a commented on #1082
Ah that's my mistake, I removed the workarounds https://github.com/Microsoft/vscode-go/commit/1adae1f5ca29cab14655e2f5537b75f2084c9d4a thinking I was pulling in the version of the diff module (3.2.0) that had the fix.

Turns out its 3.3.0 version that has the fix.

The next update to the Go extension will have the fix.

[2017-07-12 03:43] shayzu commented on #1078
Hi Rob,

I mean there is no activity on the server side:
The program does not run not any debugger activity such as its own trace.

Shay

[2017-07-12 11:45] realityexists opened #1084 "Program hangs at start on "Start Without Debugging""
VS Code 1.14.0, Go extension 0.6.62, Go 1.8.3, dlv 1.0.0-rc.1 on Windows 7 x64

Whenever I try to run a program using "Start Without Debugging" (Ctrl+F5) the Debug Console window shows
[code]
and stops there. The program appears to be running, because the toolbar with pause, stop, etc. buttons appears, but no further output is shown. Process Hacker also shows the "debug" process still running, wit

[2017-07-12 13:02] sparrc opened #1085 "Add package name to Hover/Mouseover information"
Is it possible to add the package name to the mouseover type definition?

For example, if you had a script that looked like this:

[code]

When I hover `buf` within the `p()` function, I see `buf *Buffer`.

But I would like to see `buf *bytes.Buffer`

[2017-07-12 15:58] amkoehler opened #1086 "Configuring intellisense 'Run Test' behavior"
I recently made a change that affected the build tags needed to run unit tests. This broke the `run test | debug test` buttons that are above each of my unit test functions, because those aren't configured to use the appropriate build tags. Is there a way to configure this? For example, if I click 'Run Test' for a function this is the command that executes:

[code]

Is there a way for me to config

[2017-07-12 16:24] hjma29 opened #1087 "Gorename returns error, "Sorry, rename failed to execute""
code: 1.14.0
vscode-go: 0.6.62

Sometimes I get the above error. So far I feel if the symbol starts with Capital letter, it will fail. I can't find more logs in VS code for this error.

[2017-07-12 17:40] lansman commented on #1084
Have the same issue.

Simpliest project
[code]

Start it by F5 or ctrl+F5, enter number 123, hit Enter, got
[code]
VSCode Version 1.13.1
Go plugin by lukehoban 0.6.62
Go 1.8.3 windows/amd64
Windows 10 x64

[2017-07-12 18:54] atedja commented on #998
This is very annoying and I have been searching in the settings how to disable these extensions. Maybe a "Disable" button?

[2017-07-13 14:43] ramya-rao-a commented on #1085
@sparrc The Go extension itself doesn't get the hover info. We use go tools for this. The options you have is to use [godef](https://github.com/rogpeppe/godef), [gogedoc](https://github.com/zmb3/gogetdoc) or the  [go language server](https://github.com/sourcegraph/go-langserver)

None of the options give the package information.

I suggest you log a feature request in any or all of these repos

[2017-07-13 20:19] farcaller commented on #360
I've verified the "Unverified breakpoint" issue here.

It happens if the source code is symlinked into $GOPATH. That what people actually commonly do (to keep their stuff out of $GOPATH). This breaks go support in VSCode in various sad ways, most notably — by breaking all the code tools including the debugger.

I guess the issue is within VSCode. It shouldn't resolve symlinks.

[2017-07-13 21:09] tamilselvamc commented on #493
set "go.gopath" in settings.json in "Code"-"Preferences"-"User Settings"

[2017-07-14 05:46] willfaught opened #1088 "Put run/debug test links in the context menu instead"
The blank non-line line the run/debug test links are in looks weird and makes it hard to tell at a glance what I'm looking at.

![screen shot 2017-07-13 at 10 43 06 pm](https://user-images.githubusercontent.com/63830/28199731-cee6d9a8-681c-11e7-9711-8b8c399ce5de.png)

Can they be moved to context menu items instead?

![screen shot 2017-07-13 at 10 43 19 pm](https://user-images.githubusercontent.co

[2017-07-14 06:38] ssadok opened #1089 "Remote debug"
Hi,
I user vagrant and i start on vagrant
$ dlv debug --headless --listen=:2345 --log
and my launch my json :
![image](https://user-images.githubusercontent.com/1891667/28200994-e269993a-6866-11e7-9c2e-867e3c0d4860.png)
like : https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#remote-debugging

but vscode start on local he is not connected to the port in vagrant :
config.v

[2017-07-14 08:39] farcaller commented on #360
Reported in https://github.com/Microsoft/vscode/issues/30682

[2017-07-14 13:22] FryDay commented on #1036
@ramya-rao-a After updating VS Code, it's happening again. Here is a screenshot showing the issue. You can see I am clearly returning, but the error won't go away unless I close and reload VS Code.

![image](https://user-images.githubusercontent.com/754086/28213876-925a9a32-686d-11e7-952f-d1d596c4ec93.png)

[2017-07-14 13:57] FryDay commented on #1036
Quick update, it does appear that turning off coverOnSave fixes the issue, but I'd like to be able to keep it on.

[2017-07-14 20:20] markphelps commented on #1087
Same issue:
* Code: Version 1.14.1
* VS-Go: 0.6.62
* go1.8.3 darwin/amd64

Here's a [log](https://gist.githubusercontent.com/markphelps/5e7fbcecdab9170e43d4a4ab7c53b556/raw/7dee73018a638b5323dd467d9ff028a0aacd930d/go-rename-failed.log) I got from `Help -> Toggle Developer Tools -> Console`

I got the same error when running: `$ gorename -from '"github.com/markphelps/optional".OptionalString' -to S

[2017-07-14 21:10] hjma29 commented on #1087
Thank you very much. After knowing where to look for log from your post, I can see gorename scanned my other testing directories(Because my symbol has capital letter) under GOPATH and found some errors under those directories(code was not cleanedup yet). I deleted those files under testing directory and now rename works.

[2017-07-15 03:34] ramya-rao-a commented on #1036
I still can't repro this.

@FryDay Can you go to the output pane, select "Go" from drop down, try to repro this and share the output? The build, lint and vet processes are run on save and the output is dumped here.

[2017-07-15 04:32] ramya-rao-a commented on #1081
This might depend on #840
usually we would have solved this by using `vscode.workspace.rootPath`
which is not available inside the debug adapter.

Needs more digging, will get back to this in august

[2017-07-15 04:46] ramya-rao-a commented on #1084
You must be having a debug configuration in your `launch.json` file where the `program` attribute is pointing to a directory.

Change that to `${file}` or the path to the file you want to run and you shouldn't see this issue.

"Start without debugging" attempts to run `go run` on whatever is provided in the `program` attribute. As you know `go run ` only takes file names. Which is why the above wo

[2017-07-15 04:50] ramya-rao-a commented on #1084
Until I get back, if anyone wants to take a look at this issue, then read https://github.com/Microsoft/vscode-go/blob/master/src/debugAdapter/Readme.md first.

My guess is that the IntiializeEvent is never sent back from the `launchRequest` due to https://github.com/Microsoft/vscode-go/blob/0.6.62/src/debugAdapter/goDebug.ts#L447

[2017-07-15 04:51] ramya-rao-a commented on #1086
Yes, you can set the build tags in the setting `go.buildTags` which then gets used by the extension to when building and testing the files

[2017-07-15 04:51] #1086 closed

[2017-07-15 04:54] ramya-rao-a commented on #1087
Thanks for the update @markphelps and @hjma29
Glad both of your issues go resolved.

Happy Coding!

[2017-07-15 04:54] #1087 closed

[2017-07-15 04:57] ramya-rao-a commented on #1088
You can control which commands are showed in the context menu by updating the `go.editorContextMenuCommands` setting.

This way you can get the run test in the menu but not the debug test
This is because `run test at cursor` is already a command and there is no command to debug test.

This is easily fixable and PRs are welcome.

[2017-07-15 09:58] weinand opened #1091 "Issues with debugging goroutine when main routine is blocked"
_From @firelizzard18 on July 15, 2017 8:4_

- VSCode Version: Code 1.13.1 (379d2efb5539b09112c793d3d9a413017d736f89, 2017-06-14T18:13:05.928Z)
- OS Version: Darwin x64 16.6.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|aurelia|AureliaEffect|0.3.4|
|vscode-docker|PeterJausovec|0.0.16|
|vscode-theme-onelight|akamud|2.0.2|
|vscode-npm-script|eg2|0.2.0|
|task-master|ianhoney|0.1.39|
|quic

[2017-07-15 09:58] weinand commented on #1091
_From @firelizzard18 on July 15, 2017 8:6_

Update: since the main thread is blocked, I can step twice and it goes back properly to the goroutine. So at least there's that.

Update: nevermind, that doesn't really work. At least not in a useful and reliable way.

[2017-07-15 12:49] realityexists commented on #1084
That workaround works - thanks a lot!

[2017-07-15 16:00] ramya-rao-a commented on #1091
@firelizzard18

- Can you provide a simple program where I can try and repro this?
- Can you also try the same from the command line using delve so that we can eliminate the case that this is a delve problem?

[2017-07-16 00:13] firelizzard18 commented on #1091
I'm having trouble reproducing this, even with my original scenario. I guess close it for now. I'll reopen or open a new issue if I'm able to reproduce it.

[2017-07-16 08:28] AlekSi commented on #647
I think a long-term solution would be to import packages normally, without relying on gopkgs (which does not work correctly in this case), and keep them in memory in the long-running process (gocode? Go language server? something new?).

And thank you for all your work on this extenstion. I'm in love with it. ❤️

[2017-07-16 08:33] AlekSi commented on #1061
Removing $GOPATH/pkg and $GOPATH/bin, and reinstalling all tools is a good advice in general when updating OS or Go version.

[2017-07-16 23:04] ramya-rao-a commented on #647
Language server is a good idea here.

For now, I have a working solution where I am thinking of doing the below
- `go list -f {{.Name}};{{.ImportPath}} all` runs once on extension activation (like when you open a new VS Code window)
- Form mapping between package import path and package name from the above output.
- Use this for the auto-completion

[2017-07-17 03:39] #647 closed

[2017-07-17 04:42] #998 closed

[2017-07-17 05:39] #797 closed

[2017-07-17 05:40] ramya-rao-a commented on #797
With https://github.com/Microsoft/vscode-go/commit/8ee4dafb9bf99b2a3c6aeca04c0a2029bdc3c327, after the next update, the Go extension will keep track of the version of Go being used.

When opening a new VS Code window, if the Go extension finds that the Go version is different than before, it will prompt the user to update the tools.

[2017-07-17 12:19] jakobhviid opened #1093 "Autoformating (ext v. 0.6.62) broken in Visual Studio Code (v. 1.14.1)"
Autoformating seems to be broken for this extension (v. 0.6.62) in Visual Studio Code (v. 1.14.1)

[2017-07-17 13:56] amkoehler commented on #1086
Thank you!

[2017-07-17 15:14] ZacharyZYH commented on #10
I was in the same trouble, and I found it was caused by the Git Path.
My Git Path was in Drive C which the Code did not have the license to operate. After I reinstalled Git in Drive E, the problem was solved.

[2017-07-17 16:07] ramya-rao-a commented on #1086
No problem, Happy Coding!

[2017-07-17 16:11] AdiedX commented on #966
I had the same issue with:

VS Code 1.14.1 (June 2017)
Mac OS Sierra 10.12.2
Go Plugin 0.6.62
Go 1.7.5

The `"go.useLanguageServer": true` mentioned by @ramya-rao-a fixed the issue for me.

[2017-07-17 17:50] FryDay commented on #1036
`Finished running tool: /home/jordan/go/bin/golint

Finished running tool: /usr/bin/go build -i -o /tmp/go-code-check -tags ""

Finished running tool: /usr/bin/go vet`

[2017-07-17 18:12] ramya-rao-a commented on #1093
Do you mean formatting on save?
It works fine for me.

- Does explicit formatting work? i.e Right-click inside the document and choose "Format Document"
- Any errors in the console? Run `Developer: Toggle Developer Tools` to open the console
- Is this a regression? i.e. did it work fine before and stopped with a recent update? If yes, then was the update to the extension or vs code or your OS or G

[2017-07-17 18:27] #1084 closed

[2017-07-17 18:33] jakobhviid commented on #1093
Hello.

I mean formatting on save, but also explicit formatting.
Yes it is a regression that happened after the Visual Studio Code Update.

In the meantime though, i have imported the settings to another computer using the CodeSync Extension, and everything works as expected. I am closing this issue as i only have the problem on 2 of 3 computers. The problem must be localized.

Thank you for your

[2017-07-17 18:43] ITSecMedia commented on #966
@AdiedX Thank you, that solved my problem!

I'm using Windows here and **useLanguageServer** is not available but the setting needs to be activated to get the broken "Go to Definition F12" working again while using `"go.docsTool": "gogetdoc",`

[2017-07-17 19:25] ramya-rao-a commented on #1093
No problem @jakobhviid, thanks for looping back and updating the issue.
And Happy Coding!

[2017-07-17 19:31] ramya-rao-a commented on #1036
That output shows no errors/warnings. This is the same output that gets used by the Problems view.

So am not sure where the problem is.

If you can repro this consistently, can you share a video/gif of the issue and the affect of turning `coverOnSave` off has on it?

[2017-07-17 19:32] ramya-rao-a commented on #1091
Thanks @firelizzard18
Like you said, lets close it for now

Happy Coding!

[2017-07-17 19:32] #1091 closed

[2017-07-17 23:58] willfaught commented on #1088
And that would also make both the run and debug links in all those fake lines disappear?

[2017-07-18 00:04] aihuasxy commented on #360
works for thx @farcaller

[2017-07-18 09:30] jakobhviid commented on #1093
Thank you. Unfortunatly i still seem to have this problem.

I:
1. removed VS code, and all settings files from the file system. Removed all configuration and everything left.
2. reinstalled VS code from scratch.
3. verified all settings were gone.
4. updated golang (just to make sure)
5. installed the vscode-go extension
6. restarted VS code.
7. Changed a go file and saved (nothing happened)
8. tr

[2017-07-18 13:53] DasJott opened #1094 "Go to definition does not work on functions"
In current version Ctrl + click or rightclick+"go to definition" does not work anymore.
"No definition found for xyz".

[2017-07-18 13:57] DasJott opened #1095 "Intellisense for functions of packages does not work"
In current version if I use e.g. `log "github.com/Sirupsen/logrus"` and type log. there is only one function suggested, not all. Not even those, I used before.

That worked once and was nice. Now I have to guess function names of packages again...

[2017-07-18 15:17] ramya-rao-a commented on #1093
The fact that you get the "Finished running tool..." in your output is proof that the save is triggering build, lint and vet successfully.
To confirm that, can you introduce an error in your go file, save and see if you get the red squiggles. If yes, then the save has triggered the build and you are seeing the results

That is unrelated

Can you try setting `go.useDiffForFormatting` to `false`?
We

[2017-07-18 15:19] ramya-rao-a commented on #1088
the run/debug links are called codelens in general.

If you don't want to see them in any file that you work on you can set `editor.codeLens` to `false`
If you don't want to see them only in Go files, then set the individual codelens (test and references) in `go.enableCodeLens` to `false`

[2017-07-18 15:23] jakobhviid commented on #1093
Hello again.

yes the red squiggles are there.

I tried putting in the setting "go.useDiffForFormatting": false, and the formatting seems to work now!

Do you what what the cause is for this?

From my perspective the issue is solved. Feel free to close the issue if you feel it isn't something that needs to be changed in the code.

Thank you so much for your help!

[2017-07-18 15:42] ramya-rao-a commented on #1093
That indeed is a mystery.

We logged an upstream issue https://github.com/sqs/goreturns/issues/28 but it got closed as environment issue.

Try running `goreturns` with and without the `-d` flag on an unformatted file.
You will see that you get expected output in the former, but you won't get the diff in the latter.

What OS are you on? `goreturns` tries to use the `diff` tool available on the PATH

[2017-07-18 15:42] #1093 closed

[2017-07-18 16:07] ramya-rao-a commented on #1094
@DasJott More details would help in looking into the problem. Please provide

- A sample code or video or gif
- Does it not work at all or only for functions from std library or third party code? Have you tried on structs or variables?
- Values for settings `go.docsTool` and `go.useLanguageServer`
- Version of VS Code, the Go extension, and Go itself
- OS

The `Go to definition` works as expected

[2017-07-18 16:10] ramya-rao-a commented on #1095
Basically you are saying that when you provide an alias for an imported package, you don't get suggestions for the functions in the package?

I tried this and it works just fine for me.

Suggestions are provided by the `gocode` tool.

Can you close all VS Code windows, run `gocode close`, open VS Code and try again?

[2017-07-18 21:38] willfaught commented on #1088
OK, so to get "run test" and "debug test" options in the context-menu and off the editor buffer, I have to set go.enableCodeLens to false and add run-test to go.editorContextMenuCommands?

How do I run the debug-test command? "Debug test" in the command palette shows nothing.

Does Code Lens show up for Go files in any other context? Just wondering if I'd be losing anything else by disabling it.

[2017-07-19 01:53] ramya-rao-a commented on #1088
Yes, we have references codelens, but this is disabled by default as it tends to be slow on large projects

There is one command to start debugging using the currently selected debug configuration. But there is none for debugging the test function under a cursor.

It should be pretty straight forward to add it though.

PRs are welcome :)

[2017-07-19 06:59] DasJott commented on #1095
Yup, If I type the package or an alias for a package (does not matter), there are no suggestions on typing a dot. On trying Ctrl+Space it says "No suggestions available".
Here is a video of just typing.
[gocode_issue.mp4.zip](https://github.com/Microsoft/vscode-go/files/1158269/gocode_issue.mp4.zip)

Maybe I need to start a service myself on Arch?

go version: go1.8.3 linux/amd64

VSCode:

Version

[2017-07-19 07:16] DasJott commented on #1094
I made a video where I am pressing the Ctrl Button while hovering with the mouse above the code.
The functions within the same file seems to be recognized. A function within an other file is not working, but its package. A click on that jumps to the import of that package. Not helpful ;)
[definition_issue.mp4.zip](https://github.com/Microsoft/vscode-go/files/1158303/definition_issue.mp4.zip)

"go.

[2017-07-19 07:49] sascha-andres opened #1096 "Code formatting jumps around"
- VSCode Version: 1.14.1
- OS Version:

    Linux HGL-049 4.8.0-58-generic #63~16.04.1-Ubuntu SMP Mon Jun 26 18:08:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

    DISTRIB_ID=neon
    DISTRIB_RELEASE=16.04
    DISTRIB_CODENAME=xenial
    DISTRIB_DESCRIPTION="KDE neon User Edition 5.10"

Since the VSCode 1.14.1 Update the formatting of go code in larger files ( file used has 113 lines ) jumps around

[2017-07-19 09:01] boljen commented on #1036
The issue appears to be fixed by deleting the ~/.config/Code directory entirely.

First I deleted the Cache, CachedData and Local Storage directories separately but that didn't fix the issue.

[2017-07-19 11:28] fishnux opened #1097 "IntelliSense issue with func keyword/snippet"
Whenever I type "func", IntelliSense gives me two options:
 - A keyword
 - A snippet prefix

![Screenshot](http://i.imgur.com/LflQGFd.png)
[Screen recording](https://i.imgur.com/dHYqgPp.gifv)

How do I get rid of the "func" keyword?

With the Go extension disabled:
![Screenshot](http://i.imgur.com/554ClMl.png)

Links that might be useful:
https://code.visualstudio.com/docs/editor/intellisense#_typ

[2017-07-19 20:57] ramya-rao-a commented on #1095
Do you get suggestions in other cases? Say for a local variable?

With VS Code open and you typing Go code, can you check if there is an process called "gocode" active in your machine?

We use https://github.com/nsf/gocode for giving completions in the Go extension.

Did you try closing all VS Code windows, run gocode close, open VS Code and try again?

[2017-07-19 21:03] ramya-rao-a commented on #1094
I cant play either of your videos (the one you linked here and the one in your other issue on gocode)
Can you upload a gif instead?

Can you also try to set `go.docsTool` to `gogetdoc` and see if that makes a difference?

[2017-07-19 21:28] willfaught commented on #1088
OK, so the closest I can get without adding anything new is to disable the Go Code Lens and add the run-test command to the context menu. Do you know by chance what value needs to be added to go.editorContextMenuCommands for running tests?

[2017-07-19 21:39] willfaught commented on #1088
I see go.editorContextMenuCommands.testAtCursor is true by default, which seems to be the one I want, but as seen above, there's no "Go: Run Test" context menu item. If I set go.editorContextMenuCommands.testFile and .testPackage to true then I see "Go: Test File" and "Go: Test Package" context menu items, so it seems like something similar should be appearing for the test under the cursor.

Also,

[2017-07-19 21:40] willfaught commented on #1088
It seems if I set go.enableCodeLens to false I get a JSON lint error saying false is the wrong type, it expects object. If I set it to null or {} or {"runtests": false} then the feature isn't actually disabled. Bug?