[2020-03-19 21:58] fr3fou commented on #2444
any updates on this? this makes debugging painful / impossible in some cases

[2020-03-20 02:22] dpolicastro commented on #3086
Disabling `gopls` was the only to solve my problem =(

![image](https://user-images.githubusercontent.com/29067941/77130888-5b423580-6a38-11ea-8ecc-a0db553ac5c1.png)

[2020-03-20 02:45] stamblerre commented on #3086
@dpolicastro: If you're able to share your `gopls` logs I can help investigate the issue.

[2020-03-20 04:57] #1903 closed

[2020-03-20 05:42] #3075 closed

[2020-03-20 16:05] ramya-rao-a commented on #3073
Removed linux from the test matrix for now until the issue is investigated

[2020-03-20 22:51] WodansSon commented on #3097
@heschik, This is odd, depending on what terminal I use `go env` spits out different values, sort of expected I guess since the WSL is a VM on the same box.

If you look at these too paths, this might be it cause `GOPATH` is at the root of the drive for my WSL VM install and the `GOROOT` is inside `GOPATH`
[code]

Where on windows the `GOPATH` and `GOROOT` are totally separate...
[code]

WSL:
[cod

[2020-03-21 23:16] stamblerre commented on #3097
@WodansSon: If you're able to run `gopls` with the extra debug logging (steps in https://github.com/microsoft/vscode-go/issues/3097#issuecomment-599893244), it should help us figure out which `go` command is causing this error message.

[2020-03-21 23:58] TheDiveO commented on #2889
Unfortunately, the above mentioned remedy doesn't work out of the box any more, or it lacks some sudo configuration I'm not aware of. Also, running dlv as sudo without `--only-same-user=false` will fail and debugging seems to be hung. So these are the pieces to actually get it working:

1. Update `dlv` to the master branch in order to get the fix for [dlv issue #1835](https://github.com/go-delve/d

[2020-03-22 12:06] micharaze commented on #3106
yes

[2020-03-22 19:13] raphaelreis commented on #3076
I'd say more clearly: You have to open a vscode workspace in a folder where there is a go.mod in

[2020-03-22 19:30] alexandrevilain opened #3118 "Keep last used path when using coverprofile"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I use the "Apply Cover Profile" prompt:
- Each time I want to show the coverage of my source code, I have to type the whole path to the cover profile file.
- If I make a typo when typing the path to my cover profile, I get the error `Cannot find the file [path with typo]` and I have to type the whole path

[2020-03-23 03:00] ramya-rao-a commented on #2444
Hello all,

I tried the exact steps that @nmeocisco has listed out in the issue description. But like @lggomez, I am not able to repro the issue. I am using

- VS Code Insiders: 1.44.0
- Go extension: 0.13.1
- go version output: `go1.12.12 darwin/amd64`
- dlv version output:
    - Version: 1.3.2
    - Build: $Id: 569ccbd514fc47c8b4c521b142556867ec5e6917 $

At this point, if anyone who does see thi

[2020-03-23 03:02] ramya-rao-a commented on #2444
@quoctruong Can you check if you can repro this?

[2020-03-23 03:02] hawkwzh opened #3120 "“Run without debugging” unable to run on macOs"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go1.14
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.31.1
- Run `go env GOOS GOARCH` to get the operating system and processor architecture details
	- da

[2020-03-23 03:03] ramya-rao-a commented on #2444
@quoctruong, @stamblerre, @hyangah Can any of you repro this issue?

[2020-03-23 03:09] hawkwzh opened #3121 "“Run without debugging” unable to run on macOs when used gomod."
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go1.14
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.31.1
- Run `go env GOOS GOARCH` to get the operating system and processor architecture details
	- da

[2020-03-23 03:09] #3120 closed

[2020-03-23 03:19] ramya-rao-a commented on #3101
The message `command 'go.tools.install' not found.` definitely indicates that the extension has not been activated.

@00sivan Can you try uninstalling and then reinstalling the Go extension? It could be possible that the extension is in a corrupted state.

Another place to look for errors is the Dev tools console. Run the command `Developer: Toggle Developer Tools`

[2020-03-23 03:27] ramya-rao-a commented on #3102
Thanks @hyangah, that indeed is the solution here.
@TsuyoshiUshio Please refer to the link shared above. If you still see issues, feel free to re-open this issue

[2020-03-23 03:27] #3102 closed

[2020-03-23 03:30] ramya-rao-a commented on #3044
I believe that was because we had to recursively kill all the child processes. I might be wrong though. I am open for alternatives

[2020-03-23 03:42] ramya-rao-a commented on #3096
How does `go run .` behave when there are multiple files in the current folder with `main()` function?

In #2085, my assumption was that the `go run` command only worked with files. I would be in favor of `go run .` and use the directory of the current file as cwd if it works as expected in the above case.

[2020-03-23 04:06] karuppiah7890 opened #3122 "Change definition / signature of method or function"
**Is your feature request related to a problem? Please describe.**
I use IntelliJ and VS Code - both for development. VS Code usually for my open source contributions. I noticed that IntelliJ has this cool feature to change the definition / signature of a method or a function - where one can change the parameter's type, add a parameter with a default value for all the callers, and change the retur

[2020-03-23 04:42] 00sivan commented on #3101
I apologize for the confusion. The issue for me is resolved. I've left it open so that the documentation will updated to reflect the correct requirements for this module.

The documentation should clearly list Git as a system requirement as the extension does not install properly without it. It should also specify the exact environment variable requirements since alternative settings don't work. (

[2020-03-23 04:59] ramya-rao-a commented on #2505
Thanks for the update @promaty!

[2020-03-23 05:16] ramya-rao-a commented on #3006
I agree on these errors being noise.
We can modify the above to be a warning instead such that it shows up only when `trace` is set to `log` or `verbose`.

I've made this change that you can try out in the l[atest beta version of this extension](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension).

[2020-03-23 05:19] ramya-rao-a commented on #3075
The fix here is available in the [latest beta version of this extension](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension). Please do try and share feedback

[2020-03-23 05:19] ramya-rao-a commented on #1903
The fix from #2904 is available in the [latest beta version of this extension](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension). Please do try and share feedback

[2020-03-23 05:20] ramya-rao-a commented on #2010
The fix from #3108 is available in the [latest beta version of this extension](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension). Please do try and share feedback

[2020-03-23 05:36] #2956 closed

[2020-03-23 07:04] andig commented on #3006
LGTM- I've only tested the "regular" case without setting log to any non-default value.

[2020-03-23 09:34] kybom commented on #3075
Thanks,it works.

[2020-03-23 12:28] nmeocisco commented on #2444
Just to follow up, I tried with the simple example above with vscode 1.43.1, Go extension 0.13.1, and dlv 1.3.2 and this problem no longer occurs. That said, this was originally a method I was able to make it happen in a reproducible manner 100% of the time, but I did experience it other times at random in the past when there was no panic and I can't say what method can be used to reproduce those

[2020-03-23 16:53] stamblerre commented on #3121
I was able to reproduce this issue with a minimal repro. My guess is that this is running explicitly in GOPATH mode. This needs investigation and a fix.

[2020-03-23 16:59] stamblerre commented on #3122
Thanks for the feature request! We are planning on working on this in `gopls`, so I will move this request to golang/go#38028 and close this issue in favor of the upstream one.

[2020-03-23 16:59] #3122 closed

[2020-03-23 17:09] stamblerre commented on #3106
It's possible VS Code isn't using the updated version of Delve. Can you run `dlv version` in the integrated terminal?

[2020-03-23 18:20] hyangah commented on #3121
Can any of you share the minimal repro case including the `go.mod` file? `.zip` file is fine.

[2020-03-23 19:10] stamblerre commented on #3121
Ah, this was my mistake - I thought that this command came from the Go extension, but it comes from the user's `launch.json`. I'm seeing flaky behavior - if I use the default configuration, it works fine, but if I create a default `launch.json` file, I see the error. I'm not sure how to see what command is being executed under the hood.

@hawkwzh: What is the contents of your `launch.json`?

I've

[2020-03-24 00:34] hyangah commented on #3096
@ramya-rao-a `go run .` fails if there are multiple files with `main()` function. That is consistent how the go command and `gopls` would behave (i.e. failure).

`go run something.go [something2.go ...]` would be still useful to debug a script-like go program - is it possible to configure the launch behavior or let Ctrl+F5 to ask users to choose the behavior?

[2020-03-24 01:24] jimmystewpot commented on #3106
In my case the delve debugger is identical between vscode and my normal terminal

[code]

[2020-03-24 01:38] hyangah commented on #3106
I cannot repro this issue.

Maybe you can temporarily try https://marketplace.visualstudio.com/items?itemName=golang.go-nightly (you will need to disable the regular go extension to use this nightly version) and verify the path to dlv by using `Go: Locate Configured Tools` command. This will print out the full path to dlv the VS code is using.

[2020-03-24 02:13] karuppiah7890 commented on #3122
Thanks @stamblerre ! :)

[2020-03-24 03:47] ramya-rao-a commented on #3096
That is good to hear.

Without introducing any new settings or configurations, this would involve first identifying that there are such files which we generally avoid doing i.e parsing all files in the current folder which can get expensive

I have pushed a [change to respect the folder path](https://github.com/microsoft/vscode-go/commit/78518d7e9736670d75fe2cd648c7c3eb23413157) passed to the `pro

[2020-03-24 03:48] ramya-rao-a commented on #3096
cc @quoctruong

[2020-03-24 04:25] hawkwzh commented on #3121
@stamblerre
Just create launch.json, nothing changed.
<img width="750" alt="f" src="https://user-images.githubusercontent.com/15761455/77388223-76ab9880-6dca-11ea-88b3-75ed99f118f8.png">

[2020-03-24 04:27] ramya-rao-a commented on #3101
git is a requirement for the `Go: Install/Update Tools` to successfully run, but not to be found. The error you saw is that the command itself cannot be found. I don't see why the extension would need git in order to be installed (I might be wrong).

This is not true. If the GOPATH env variable is set correctly, there shouldn't be a need to add it to the PATH variable too. More on GOPATH can be fo

[2020-03-24 04:44] 00sivan commented on #3101
Oh okay. I did attempt to reinstall the extension six or seven times with
no luck.

Maybe the gopath not being setup correctly in the settings was the primary
issue? I'm not sure.

I'm a beginner to go. I'm sure someone who had used the language before
would already have that set up and would have git installed.

That said, it would be really cool to install vs code, install go, install
the extens

[2020-03-24 05:15] ramya-rao-a commented on #3101
issue? I'm not sure.

That still wouldn't result in the `command not found` situation.

For now, I have made the below changes to docs:
- Updated [FAQs](https://github.com/microsoft/vscode-go/wiki/Go-with-VS-Code-FAQ-and-Troubleshooting) on what the `command not found` error means
- Update readme to [add a note on the dependency on git](https://github.com/microsoft/vscode-go/commit/87bfe7297dcd0b9

[2020-03-24 05:15] #3101 closed

[2020-03-24 06:24] #3073 closed

[2020-03-24 16:08] lucascarvalho commented on #3105
@stamblerre not sure if this will help but after following the instructions from the link above, I got several errors from `gopls`:

[code]

Happy to provide more information if you need it.

[2020-03-24 16:19] quoctruong commented on #2444
I couldn't repro the issue. I'm using vscode 1.44 and the latest version of the extension.

[2020-03-24 16:39] stamblerre commented on #3105
Thanks, @lucascarvalho! Could you share the complete logs from when you see this error pop-up? It would be helpful to see the `textDocument/codeAction` requests in the logs to see if they are taking longer than expected.

[2020-03-24 16:42] Mister101 commented on #3105
Had this problem too. It turns out in my case, it was caused by me updating to Go 1.14 from 1.12, and I was using a private repository. I had to set GOPRIVATE to include dev.azure.com - then it started working again for me. Alternatively I could have set GOSUMDB to off and GOPROXY to direct, but the GOPRIVATE way seems better.

This could have been a coincidence though, but I am pretty sure this w

[2020-03-24 19:25] hyangah commented on #3121
I think I know what's going on.

Bug 1: When `Run Without Debugging` is invoked, `resolveDebugConfiguration` in goDebugConfiguration.ts is called with the initial debugConfiguration object with `"noDebug": true`, but it is overwritten [here](https://github.com/microsoft/vscode-go/blob/28bab92821e0233f2a3467b396ebfba22f94131e/src/goDebugConfiguration.ts#L50) and the noDebug info is lost. As a resul

[2020-03-24 20:04] josh-tepper opened #3124 "When using gopls, Find All References fails"
Issue Type: <b>Bug</b>

This follows up on https://github.com/microsoft/vscode-go/issues/2914 submitted by another user.  I'm experiencing the same behavior: Find all references only resolves references within the symbol's package, but not in other packages.

However, I'm using a version of gopls that supposedly includes the fix for this (per the discussion on the ticket):
[code]
Reverting the vsc

[2020-03-24 20:20] stamblerre commented on #3124
@josh-tepper: Are you using modules or GOPATH?

[2020-03-24 20:22] josh-tepper commented on #3124
I am.

After looking at [this comment](https://github.com/golang/go/issues/32869#issuecomment-559662189) on the gopls issue, I thought that this might have to do with the workspace root.  My workspace root is a _parent_ of the relevant go/src dir (an artifact of our mono-repo setup).  I tried opening the go/src directory as the root, and this resolved the issue.

However this is frustrating.  Give

[2020-03-24 20:24] josh-tepper commented on #3124
Even lacking a fix for the "multiple GOPATH entries as children" issue, it would still be helpful if it could handle the case when one is a child (in my case, the second is just an experimental dir for playing with non-production code -- and I could exclude it if that would help).

[2020-03-24 21:55] stamblerre commented on #3124
You can add additional folders to your VS Code workspace to have a multi-project workspace (File > Add Project to Workspace). We don't currently support searching across multiple folders in a project (unless you open their common parent directory), but we will be adding support for that in [`gopls/v0.5.0`](https://github.com/golang/go/milestone/138).

[2020-03-24 23:30] josh-tepper commented on #3124
Actually, I _am_ talking about opening a common parent directory.  And I wasn't even able to get it to work with _one_ child directory. Consider the following directory structure:
[code]

1. Workspace root set to `/a/`: Does _NOT_ work.  Each symbol only finds references within its own package.
2. Workspace root set to `/a/go/src/`: _Works_.  Symbols find references anywhere in /a/go/src/..
3. Wor

[2020-03-25 06:34] #3121 closed

[2020-03-25 14:39] turbosheep44 opened #3126 "Start Without Debugging doesn't work with filepath"
### What version of Go, VS Code & VS Code Go extension are you using?

`go version`
	- go version go1.13.6 linux/amd64
`code -v`
	- 1.43.2
VS Code Go extension version
	- 0.13.1
`go env GOOS GOARCH`
	- linux amd64

### Describe the bug

Even when the `launch.json` configuration points to a file path, 'Run without debugging' still hits breakpoints.

### Steps to reproduce

Use the `helloweb` snippe

[2020-03-25 14:58] stamblerre commented on #3126
Duplicate of https://github.com/microsoft/vscode-go/issues/3121

[2020-03-25 15:00] stamblerre commented on #3126
This will be fixed in the next version of the extension (you can install the [current beta](https://github.com/microsoft/vscode-go/releases/tag/latest) by following the instructions [here](https://github.com/Microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) if you want to try it earlier).

[2020-03-25 15:00] #3126 closed

[2020-03-25 18:13] stamblerre opened #3128 "gopls: suggest filing an issue if the user restarts the language server"
If the user manually runs `Go: Restart Language Server`, we should suggest filing an issue. The options should look something like "Yes", "No", and "Never" so that users can opt out.

[2020-03-25 18:40] lypat2008 opened #3129 "Failed to install go tools in China, please help to add cn site. thanks very much ."
Dear,
   Could you help on this issue ?  thanks.

**error message:**
C:\Users\ypluo\go\src>Finished running tool: C:\Go\bin\go.exe vet .

Installing github.com/mdempsky/gocode FAILED
Installing github.com/uudashr/gopkgs/v2/cmd/gopkgs FAILED
Installing github.com/ramya-rao-a/go-outline FAILED
Installing github.com/acroca/go-symbols FAILED
Installing golang.org/x/tools/cmd/guru FAILED
Installing gol

[2020-03-25 19:28] hyangah commented on #3129
Have you tried to set `GOPROXY` environment variables? You will need it anyway for most Go commands to work.

[2020-03-25 20:29] lypat2008 commented on #3129
the default setting is :
GOPROXY=https://proxy.golang.org/

so I changed it to :
GOPROXY=https://goproxy.io/

and OK now.

[2020-03-25 20:31] stamblerre commented on #3129
Glad to hear it! I'll close this issue now then.

[2020-03-25 20:31] #3129 closed

[2020-03-25 21:24] stamblerre commented on #3124
Thank you for the clarification! I just filed https://github.com/golang/go/issues/38078 to track this upstream.

[2020-03-25 21:24] #3124 closed

[2020-03-25 21:25] stamblerre commented on #3013
I'm going to close this issue since it hasn't had much activity in the last month. Please open a new issue if you encounter any further problems.

[2020-03-25 21:25] #3013 closed

[2020-03-25 21:27] stamblerre commented on #3059
Going to close this issue since it hasn't had much activity in the last month. @zxwtry: please reopen this issue if you're still encountering problems.

[2020-03-25 21:27] #3059 closed

[2020-03-25 21:29] stamblerre commented on #3052
I'm going to close this issue since it hasn't had any activity for the last month. @abergmeier: please reopen if you're still encountering this problem.

[2020-03-25 21:29] #3052 closed

[2020-03-25 21:30] stamblerre commented on #3086
I'm going to close this issue because it's become too long to be useful to others. Please open a new issue if you encounter this problem, and I'd be happy to continue troubleshooting.

[2020-03-25 21:30] #3086 closed

[2020-03-25 23:56] zmb3 commented on #3044
How concerned are we about child processes?  Do `golint` or the `go` tool create lots of child processes that continue to live on if their parent dies?

It might be easiest to start by just killing the parent from node, which would be:
- an improvement over the current state which isn't successfully killing anything
- simpler than invoking external platform-specific scripts, and
- easier to test a

[2020-03-26 00:20] stamblerre commented on #3110
Sorry for not being more active on this issue - just trying to parse through the different cases here.

@anykine29: This issue does sound like the bug with Go Group Imports. Please let us know if disabling that extension resolved the issue (you can get similar behavior with `gopls`'s `local` setting). If it doesn't, please open a new issue.

@wtask:  Does disabling the Local History extension comp

[2020-03-26 00:26] stamblerre commented on #3044
@quoctruong recently suggested https://www.npmjs.com/package/tree-kill as an alternative to the current platform-specific scripts. This would resolve the issue causing https://github.com/microsoft/vscode-go/issues/2407, allowing us to move forward with merging https://github.com/microsoft/vscode-go/pull/2372. @zmb3: What do you think?

[2020-03-26 01:14] wtask commented on #3110
@stamblerre Sometimes I see the code actions popup for a few seconds, but the critical delay has disappeared

[2020-03-26 01:20] zmb3 commented on #3044
Yeah I looked at that package and a few others. That’ll work.

[2020-03-26 03:11] stamblerre commented on #3110
Thanks for letting me know! I've seen that pop-up myself a few times, so I'll try to do some more investigating when I see it next. If you see any code action requests that take longer than you'd expect, please report them.

[2020-03-26 05:12] ramya-rao-a opened #3130 "Test for build tags failing on Go tip"
The test with title `Build Tags checking` is failing consistently, but only on Go tip

https://travis-ci.org/github/microsoft/vscode-go/jobs/666658067?utm_medium=notification&utm_source=github_status

cc @stamblerre, @hyangah

[2020-03-26 06:14] ramya-rao-a commented on #1836
Hey all,

I've pushed 2 changes to restrict the attempts to expand text that looks like a relative path
- Skip doing so when test passes
- Follow @peergynt's suggestion above to look for lines in error output starting with tab or 4 spaces.

Please try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension that has th

[2020-03-26 06:47] #3118 closed

[2020-03-26 06:52] ramya-rao-a commented on #3121
The fix to this is available in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension. Please do try it out and share feedback

[2020-03-26 08:55] hawkwzh commented on #3121
@ramya-rao-a   it's worked.
thanks.

[2020-03-26 12:10] hyangah commented on #3104
The underlying error is "detached from the process" returned for the threads command,
which indicates some race.

FYI - the fix for the incomprehensible error message will be available in the next VS Code release (https://github.com/microsoft/vscode/issues/93346). But the underlying issue still remains.

[2020-03-26 17:46] lazdmx commented on #3110
Same problem. Just want to share my observation that the problem rises when working with even trivial Bazel-workspaces. I think that for proper operation all `bazel-*` directories must be excluded from processing by Go extension

[2020-03-26 18:33] stamblerre commented on #3110
@lazdmx: Right now, we don't officially support Bazel in `gopls` (see https://github.com/golang/go/issues/37205), so it is likely that things won't work properly. Please file an issue [here](https://github.com/golang/go/issues/new) if you'd like me to investigate your specific case.

[2020-03-27 05:05] Jeyanthinath opened #3133 "gofmt formating seems bit weired on map keys"
This is the gofmt autoformatted text, while saving the file.

<img width="893" alt="Screenshot 2020-03-27 at 10 28 03 AM" src="https://user-images.githubusercontent.com/2253649/77723191-c16d2080-7015-11ea-8799-10cc699b1cc4.png">

but if you see the final element of map `testingalerts` which is having less characters is aligning the colon to left side (see above image), but if I add more characters

[2020-03-27 05:08] stamblerre commented on #3133
Looks like this is working as intended: https://github.com/golang/go/issues/10392.

[2020-03-27 05:08] #3133 closed

[2020-03-27 05:10] stamblerre commented on #3100
I'm not sure - it may be helpful to users to see the environment variables they set, especially since they may have forgotten they changed the settings and can't understand a test failure. @ramya-rao-a, @hyangah - what do you think?

[2020-03-27 05:15] stamblerre commented on #3063
Are people still having this issue? If so, can you please comment here and attach your `gopls` logs?

[2020-03-27 05:17] stamblerre commented on #3048
Glad you were able to resolve the issue, @morningspace. @jdu-mydevices: Please file a new issue if your problem persists. I'll go ahead and close this one. Thanks!

[2020-03-27 05:17] #3048 closed

[2020-03-27 05:18] stamblerre commented on #3051
/cc @quoctruong

[2020-03-27 05:20] stamblerre commented on #3035
Duplicate of https://github.com/microsoft/vscode-go/issues/3032

[2020-03-27 05:20] #3035 closed

[2020-03-27 05:29] stamblerre commented on #2783
Sorry for the delay on this issue. To summarize your comment:

1. `--ldflags "-s"` strips debug info, so we should notify the user that they cannot debug when they compile with this flag
2. Add ability to use delve command line directives

@ramya-rao-a, @hyangah, @quoctruong: (1) seems reasonable enough to me (and hopefully is trivial to implement?), but I'm not sure what (2) would entail.

[2020-03-27 05:31] stamblerre commented on #2753
Not that I am aware of, but I know that @hyangah is working on a list of tools that are not required when `gopls` is installed.

[2020-03-27 09:33] albshin commented on #3105
Same problem here. I'm using VSCode + WSL with modules.

![image](https://user-images.githubusercontent.com/8618379/77742096-4e9b7f80-6fec-11ea-8ebf-0544d8458a81.png)

**go version**

`go version go1.14 linux/amd64`

**go env**

[code]

**gopls Ouput**

[code]

**Go output**
[code]

**Log (Extension Host)**

Nothing of note.

**The file I am trying to save**

[code]

**VSCode config**
[code]

[2020-03-27 10:51] supa-freak commented on #3105
"go.useLanguageServer": false,
is all that helps for me...

[2020-03-27 11:21] appleton opened #3134 "Semantic Highlighting"
**Is your feature request related to a problem? Please describe.**
The syntax highlighting for Go is rather sparse by comparison to other languages (e.g. TypeScript) and other editors (e.g. GoLand).

VSCode:
<img width="523" alt="Screenshot 2020-03-27 at 11 07 51 am" src="https://user-images.githubusercontent.com/241576/77750165-3c850580-701b-11ea-80c1-c621ac30cac5.png">

GoLand:
<img width="501"

[2020-03-27 12:44] hyangah commented on #3134
The syntax highlighting is done outside of this extension.
According to https://github.com/microsoft/vscode/issues/82549, the upstream currently used by vscode is in https://github.com/jeff-hykin/better-go-syntax/issues. There are a couple of other issues open in the microsoft/vscode about tokenization and syntax highlighting.

cc: @jeff-hykin

@stamblerre For LSP side, maybe we need to keep an ey

[2020-03-27 13:35] jeff-hykin commented on #3134
@appleton
So this is a common complaint because it's true the Go Lang TextMate syntax is minimal at best. It's going to take some work to improve it though (PR's are welcome).

TextMate (the language-agnostic engine VS Code uses) is a very primitive parser, it will never be capable of matching GoLand. Language servers however (while slower and language-specific) can match GoLand, but building a la

[2020-03-27 13:40] hyangah commented on #3100
I understand the desire - I also want to have an easy way to inspect what command VS code is invoking underneath :-) - but agree with @wtask about the test commands. If a test depends on some of the environment variables and the results can be confusing, the tests should print them.

My reasoning is:

testEnvVars are not the only environment variables passed to a test. Current implementation
(http

[2020-03-27 14:12] hyangah commented on #3130
Probably https://go-review.googlesource.com/c/go/+/185345
I see the test look for the specific error message. Does the Go extension's behavior depend on the  specific error message?

[2020-03-27 14:31] appleton commented on #3134
Thank you for the thorough response @jeff-hykin, I appreciate it!

I've cloned your syntax repo and will try to add support for the tokens you've listed as possible. I understand the language server restriction for the others.

Aside: what theme is that in your screengrab? I like it!

[2020-03-27 15:27] stamblerre commented on #3100
Ok - makes sense to me! I hadn't checked the implementation, so thanks for looking into it. I guess I'll close this issue as working as intended then.

[2020-03-27 15:27] #3100 closed

[2020-03-27 15:29] jeanluclariviere commented on #3076
to add to this, I found that initializing the module in the root dir you've added in vs code after the fact isn't sufficient. I had to remove it and re-add the folder to my workplace to get this to stop.

[2020-03-27 15:41] stamblerre commented on #3105
@albshin: This log doesn't seem to be complete. Do you mind sharing the entire contents? You can also try running `gopls -rpc.trace -v check path/to/file.go` to get the debug output more easily.

@supa-freak: If you're interested in trying the language server again, I'd be happy to investigate the issue.

[2020-03-27 15:53] hyangah commented on #3128
Will the suggestion pop up when we trigger (or were asked to trigger) the lsp restart command because we update settings.json?

[2020-03-27 16:32] quoctruong commented on #3051
@tsaarni Can you share a piece of the code that can repro the issue?

[2020-03-27 17:12] albshin commented on #3105
@stamblerre Sorry about that. I believe this should be the full log now.

[code]

**gopls check**

[code]

[2020-03-27 18:28] tsaarni commented on #3051
Here is how to reproduce:

[code]

Then run debugger

![output](https://user-images.githubusercontent.com/85464/77788065-43d30000-7069-11ea-9054-429895a48952.gif)

Local variables are shown for first stack frame, but when changing to the next stack frame the debugger seems to hang - variables are not updated anymore and only the pending animation is shown.

[2020-03-27 20:39] stamblerre commented on #3076
Thanks for mentioning this, @jeanluclariviere! https://golang.org/cl/226017 should fix this issue.

[2020-03-27 23:15] stamblerre commented on #3105
Thanks for posting that! It looks you're developing a project outside of GOPATH, but `gopls` is also unable to find a `go.mod` file. Are you intentionally not using GOPATH/modules or does this project have a `go.mod`?

I'm not noticing any reason why Windows would be causing an issue here, but FWIW, VS Code recently eliminated the `"editor.codeActionsOnSaveTimeout"` setting, which is why these not

[2020-03-27 23:16] stamblerre commented on #3128
Yeah, I was thinking it could pop up once that command is run, and then if the user chooses "Never" we could update the settings so we never ask again.

[2020-03-27 23:49] CoffeeCecil commented on #3105
I ran into this error too and have a thing to add which might function as a clue. When the go language server is running, it seems to ignore settings files in visual studio code. For instance if you have _"[go]:{"editor.formatOnSave":false}_ in your setting file because I habitually hit ctrl-s and end up removing a package import and typed code I need in the immediate future, it will ignore that s

[2020-03-28 00:06] WodansSon commented on #3097
@stamblerre, sure here is exactly what is output to the gopls window:

[code]

[2020-03-28 04:56] albshin commented on #3105
I ran `gopls` outside of the project directory so that might be why it's popping up empty in `gopls check`. Otherwise you can see that in the `gopls` log that GOMOD is set correctly.

[2020-03-28 09:18] ramprasadp opened #3136 "You are neither in a module nor in your GOPATH in latest VSCode"
Creating a duplicate bug of  Closed issue
You are neither in a module nor in your GOPATH in latest VSCode
#3086

I get an irritating message everytime I try to edit a go file
How can I disable this alert.
I guess I have to disable gopls  , how can I do that

[2020-03-28 12:07] hyangah commented on #3136
The following will disable the use of Go language server.

[code]

But first, check whether your workspace is configured in a way for the gopls can process. Here are the workspace setups currently supported by gopls 0.3.x
 https://github.com/golang/go/issues/33030#issuecomment-510151934

We plan to expand the scope of the setup gopls can handle. It would be helpful if you describe your workflow e.

[2020-03-28 12:10] hyangah commented on #3136
@ramya-rao-a and @stamblerre - can we add this to the FAQ?
(Seems like wiki edit permission is restricted)

[2020-03-28 17:11] aaaasmile commented on #3055
Why not redirect the warning into the console instead of popup a message? Also popup once make no sense. For me there is no reason for Popups to exist in 2020.

Anyway the extension is a good stuff.

[2020-03-28 23:34] ramya-rao-a commented on #3130
No, it doesnt. Am fine with removing checks on the exact contents of the error message

[2020-03-28 23:38] #3130 closed

[2020-03-28 23:52] #3028 closed

[2020-03-29 01:33] mwat56 opened #3137 "temp directories left in /tmp/"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and processor arc

[2020-03-29 04:15] stamblerre commented on #3137
If I recall correctly, this is caused by the `go` command exiting before it can clean up its temporary directories. I think @heschik dealt with this issue in `gopls`, so maybe he has insight on how to handle it here.

[2020-03-29 11:15] pre commented on #3136
Had to disable the gopls extension, as it does not work out of the box for exploring projects which do not have modules defines or GOPATH set, as described in
https://github.com/microsoft/vscode-go/issues/3086#issuecomment-597423488

Steps to reproduce the problem:
- Create a simple "hello world" main.go in an empty folder A
- Do not have GOPATH or Go modules defined
- Open this newly created empt

[2020-03-29 11:15] pre commented on #3086
Steps to reproduce the problem with a simple Hello world app: https://github.com/microsoft/vscode-go/issues/3136#issuecomment-605620253

[2020-03-29 14:30] pre commented on #3097
Related issue where gopls fails with the same error: https://github.com/microsoft/vscode-go/issues/3136#issuecomment-605620253

[2020-03-29 14:42] hungnguyenvn commented on #3086
![Screen Shot 2020-03-29 at 9 39 10 PM](https://user-images.githubusercontent.com/35018001/77851940-196a7980-7206-11ea-84a9-675a3cff157f.png)
the other way is put dummy `go.mod` and dummy `foo.go` file like this in  the root proj.

[2020-03-29 16:11] codepushr commented on #3105
This is horrible. For saving one file it takes a lot of time but it kinda works out. When saving multiple files I queue up lots of popups and it basically stucks, they never seem to resolve.

[2020-03-29 22:20] Merith-TK commented on #2981
okay yeah this is still an issue
[code]

While it clearly states that there is a way to change it, it is still an issue as it still utilizes the Clients home directory when it should use the remotes home directory, (in this case, it is `/home/developer`)

[2020-03-30 01:41] austintackaberry commented on #3025
No I am not

[2020-03-30 02:45] jeff-hykin commented on #3134
@appleton  No problem  👍

As for cloning the repo. It might be kinda tough to contribute at the moment just because TextMate grammars are notoriously messy and hard to contribute to. **However**, it is much easier with a guide, and I'm happy to help be that guide. Another guy and I have been working on a library for over a year now that makes TextMate grammars manageable. He finished the inline do

[2020-03-30 08:29] Migaelh commented on #3136
Yeah I also have this issue, however, I am using [govendor](https://godoc.org/github.com/grobie/govendor) as this separates my modules across different projects/folders.

I previously did not have this issue until I pulled an old project (that did not make use of govendor) and i had to switch to my GOPATH in settings  (and uncheck "Infer Gopath") after i continued onto my current project (that has

[2020-03-30 10:05] neo-liang-sap opened #3138 ""go to definition" and other navigation function doesn't work in VSCode / Go / MacOS"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.4 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2
0ba0ca52957102ca3527cf479571617f0de6ed50
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- only VSCode Go extension is ins

[2020-03-30 10:49] neo-liang-sap commented on #3138
fix by
[code]

[2020-03-30 12:43] hyangah commented on #3138
@neo-liang-sap  When using `gopls` as the language server, `godef` shouldn't be necessary for Go To Definition functionality.
What is the language server you are using, and what is the version?

If you are using gopls, you can check its version by running `which gopls; gopls version` from the VS Code integrated terminal. The latest released gopls is v0.3.4.

[2020-03-30 12:58] hyangah commented on #3137
@mwat56 do you use any Go tools running other than `gopls`, or were there any outstanding go commands (build or test...) when VS Code window was colsed?

`gopls` is handling this known bug of the go command (golang/go#25808) by sending an interrupt before killing the subprocesses. golang/go#37368. Other go commands or tools that use go/packages may not have the similar workaround yet.

[2020-03-30 13:05] vikram-rawat commented on #3105
I too have the same problem. I updated golang to 1.14.1 and I am having problem saving the file. I get the exact same error.

[2020-03-30 13:13] mwat56 commented on #3137
Hi @hyangah

Here my settings:

	"go.coverOnSingleTest": true,
	"go.delveConfig": {
		"dlvLoadConfig": {
			"followPointers": true,
			"maxVariableRecurse": 1,
			"maxStringLen": 128,
			"maxArrayValues": 64,
			"maxStructFields": -1
		},
		"apiVersion": 2,
		"showGlobalVariables": true
	},
	"go.formatTool": "goimports",
	"go.gopath": "/home/matthias/devel/Go",
	"go.gotoSymbol.includeImports": tru

[2020-03-30 13:18] neo-liang-sap commented on #3138
[code]

[2020-03-30 13:27] mwat56 opened #3139 "Terminal (bash) ignores control codes"
Please answer these questions before submitting your issue. Thanks!

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- R

[2020-03-30 14:31] hyangah commented on #3139
The terminal is managed by VS Code, and this is not VS Code Go extension issue.

--

Are you using bash? Is your bash and key binding set up correctly?
You can check your current shell and your key bindings with commands like
[code]

[2020-03-30 15:53] hyangah commented on #3138
@neo-liang-sap Have you tried to delete godef completely and see if Go To Definition breaks? (I don't use godef myself and didn't have an issue unless I invoke it manually).

[2020-03-30 16:36] stamblerre commented on #3055
@aaaasmile: The intention of the pop-up is to make sure the user knows that their workspace is not configured correctly. Are you intentionally not using GOPATH or modules?

[2020-03-30 17:06] stamblerre commented on #3136
@hyangah: I don't have edit permissions for the wiki, but it would be good to add some additional info. I can add it to the Troubleshooting guide, which I believe is linked from the wiki.

@pre: `gopls` doesn't work in a monorepo that contains multiple modules, but it should work fine for packages outside of GOPATH/a module, as long as they don't have any unresolved dependencies. I'm happy to inve

[2020-03-30 17:22] stamblerre commented on #3105
@CoffeeCecil: Do you mind filing separate issues for the problems you mentioned?

@albshin: Can you share the output of `gopls -rpc.trace -v check path/to/file.go` when you run it from within your module?

If anyone on this thread can point to a public package that reproduces this issue consistently, I'd really appreciate it. It's caused by a new behavior in VS Code and is generally difficult to t

[2020-03-30 17:23] stamblerre commented on #3139
As @hyangah said, this is a VS Code issue, not a VS Code Go issue, so I'd recommend opening it in https://github.com/microsoft/vscode.

[2020-03-30 17:23] #3139 closed

[2020-03-30 17:25] stamblerre commented on #3138
@neo-liang-sap: Can you run `gopls -rpc.trace -v query definition path/to/file.go:<line>:<col>`?

[2020-03-30 19:21] aaaasmile commented on #3055
@stamblerre : I am using modules on new projects but not on legacy projects. Sometime I have a golang project with module but it is not on  visual code root folder (child project of a node project).

[2020-03-30 20:53] stamblerre commented on #3055
Makes sense. In that case, the workaround is to add the folder to the workspace (File -> Add Folder to Workspace) and `gopls` should work correctly.

[2020-03-31 01:26] kerhbal opened #3140 "Find all references/implementations won't show where the method is called"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go1.14.1 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2
0ba0ca52957102ca3527cf479571617f0de6ed50
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get t

[2020-03-31 03:15] luxuze commented on #2447
same issue, my go mod file in in repo/server/go.mod.

[2020-03-31 03:16] stamblerre commented on #3140
What is the output of `gopls -rpc.trace -v references path/to/file.go:<line>:<col>`? Alternatively, you can also capture your `gopls` logs and share them here ([details](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code)).

[2020-03-31 03:36] neo-liang-sap commented on #3138
hi, without go-def the function of `go to definition` won't work, please close this issue as i've solved this by manually install go-def

[2020-03-31 03:36] #3138 closed

[2020-03-31 07:38] vikram-rawat opened #3141 "I get an infinite save pop up while saving a go file"
I am working on Windows system. My Issue is exactly like this one https://github.com/microsoft/vscode-go/issues/3105

It all started yesterday when I updated go to 1.4.1 and then vscode asked me to update a few pacakges.

This is the result of gopls
[code]

[2020-03-31 12:21] belolap opened #3142 "Your workspace is misconfigured"
I have workspace with multiple folders. Some of them - go modules and one - no, it just documentation (named `meta` in my case).

When vscode starts I see error message, that my `meta` package is not go module:

[code]

But there is no go module in this folder and I must no see this error message. I need either option to disable this error at all or another way to detect is folder go package or no

[2020-03-31 13:26] kerhbal commented on #3140
@stamblerre Thank you for the reply.
Here is the result of gopls -rpc.trace -v references this_file.go:19:13:
[code]

[2020-03-31 13:39] kerhbal commented on #3140
And gopls logs:
[code]

[2020-03-31 14:42] hyangah commented on #3138
@neo-liang-sap  Good to hear that your problem is fixed.
But, `gopls` supports `go to definition` (F12, or mouse right click->"Go to Definition") feature and you shouldn't have a problem if `gopls` performs correctly. FYI I don't have godef or any of its variation installed.

[2020-03-31 14:57] hyangah commented on #3142
This is expected given the current limitation of `gopls` (https://github.com/golang/go/issues/33030#issuecomment-510151934). See the upstream bugs like https://github.com/golang/go/issues/32394.

The current workaround is to add each folder to workspace using VS Code's  ["Add Folder to Workspace"](https://code.visualstudio.com/docs/editor/multi-root-workspaces)

[2020-03-31 15:46] stamblerre commented on #3141
It looks like you are working both outside of your GOPATH and outside of a module. Is this intentional?

[2020-03-31 18:28] aaaasmile commented on #3055
@stamblerre Yes you are right, "Add Folder" to Workspace  works very well. Thank you.

[2020-04-01 04:58] vikram-rawat commented on #3141
I am not working from outside GOPATH. This is a dummy code inside my src folder. My understanding is that everything inside src folder is supposed to work. I have been doing it for many projects before module came into picture. This code used to work just fine a few days ago. Let me know if I am missing a piece here. I would be happy to get it resolved by few tweeks.

I didn't have this issue befo

[2020-04-01 08:17] Delphier commented on #3142
Running the following command can temporarily resolve outside the gomod directory:
`
go get golang.org/x/tools/gopls@a5e5fedfe7429586fde86c123b10f1bc23d21a25 golang.org/x/tools@a5e5fedfe7429586fde86c123b10f1bc23d21a25
`

[2020-04-01 08:23] SahilMutha opened #3143 "Install/Update Tools fails"
- go version go1.14.2 windows/amd64
- VSCode 1.43.2
- 0.13.1
- windows amd64

### Share the Go related settings you have added/edited
- No go-related settings in VSCode

### Describe the bug
Description - GO Tools are not installing. Getting "Access Denied Error"
I followed the below thread as well, but did not work for me.
https://github.com/microsoft/vscode-go/issues/2758

Desired output - Shoul

[2020-04-01 08:26] mwat56 commented on #3139
Hi @stamblerre!

Thank's for your kind note.

I went through the issues there and just for reference

    "terminal.integrated.allowChords": false,

fixes the problem with ignored Ctrl keys in the terminal.

[2020-04-01 09:36] zeph opened #3144 "env gopath being ignored"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2 0ba0ca52957102ca3527cf479571617f0de6ed50 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- ms-vscode.go 0.13.1
- Run `go env

[2020-04-01 13:09] hyangah commented on #3143
This is probably https://github.com/golang/go/issues/36568.

[2020-04-01 13:42] hyangah commented on #3144
Does the output (popup) of `Command Palette ->  "Go: Current GOPATH"` match what you expect?

[2020-04-01 13:53] hyangah commented on #3142
@stamblerre the description of the [commit]((https://go.googlesource.com/tools/+/a5e5fedfe7429586fde86c123b10f1bc23d21a25)  mentioned in the above comment just talks about the suppressing of the error message. Does it mean that the error message was spurious and `gopls` can detect the modules in subdirectories in the upcoming release?

[2020-04-01 14:20] hyangah commented on #3140
@stamblerre I think this is the current limitation of `gopls`' analysis. Dup of golang/go#35999 which was closed as a dup of the related bug golang/go#35550 (not a perfect dupe IMO)

[2020-04-01 15:17] zeph commented on #3144
@hyangah no, it does not

[2020-04-01 17:20] stamblerre commented on #3144
`$HOME/go` is the default `GOPATH`, so it seems like VS Code is not using your configured GOPATH for some reason. Do you mind sharing a screenshot of what you're seeing? I'm not sure if VS Code imports dependencies, but it may be installing tools, in which case it should specify which `GOPATH` it will use in the pop-up.

[2020-04-01 18:09] zeph commented on #3144
@stamblerre what kind of screenshot? all the relevant informations are in the ticket

[2020-04-01 18:45] hyangah commented on #3144
@zeph We want to help but we need more info - I cannot reproduce the issue following your repro intro, so there is something particular in your environment.

- How did you set the GOPATH?
- How did you launch your VS Code and how did you pass the GOPATH env var to the VS Code? (typically this is done by invoking 'code' from command line and inheriting the environment variables of the terminal, or

[2020-04-01 19:16] zeph commented on #3144
@hyangah I know you are trying to help and I didn't mean to be rude or anything, I just didn't see the point of a screenshot... (also because I'm currently working on it). Anyhow, GOPATH is set from `.bashrc` with an `export`. I either execute VS Code via terminal (from a running bash process) or from the helper of i3 (a compact window manager), which inherits my environment variables defined in m

[2020-04-01 19:22] zeph commented on #3144
ok, back to the `.profile`, already stumbled on this pointer
https://www.reddit.com/r/i3wm/comments/d0tyzk/cant_initialize_environment_variables_for_i3_exec/

a UI reload of i3 doesn't seem enough... I'll give it a try later doing a full logout/in

[2020-04-01 20:27] stamblerre commented on #3139
Glad to hear you've been able to resolve the issue!

[2020-04-01 22:13] zeph commented on #3144
nope, doesn't work even with `export GOPATH="${HOME}/tmp/.go"` inside `.profile`
(I did stop/start the `slim` daemon and therefore X11/Xorg)... still aiming to the wrong GOPATH

[2020-04-01 23:16] hyangah commented on #3137
@mwat56 thank you for providing the details. Since you observed `gopls` doesn't make the problem disappear or get worse, we both agree that this is not a problem of `gopls` any more.

Based on the directory names, it's clear that it's left behind by go command, but nowadays,
I believe most Go analysis tools invoke the go build command behind the scene. Sorry I don't have any better idea, so throwi

[2020-04-02 00:42] hyangah commented on #3144
@zeph Can you check if the vscode got the right env variable form  'Developer: Toggle Developer Tools'? (Command Palette -> 'Developer: Toggle Developer Tools', which opens the chrome developer tools window. Select 'Console' tab, and enter 'process.env.GOPATH'. If it is set as you set in your bashrc or profile, this is Go extension's problem. Otherwise, needs to ask vscode community.

[2020-04-02 06:42] vieiramanoel commented on #3063
Here the outpur log is

```[2020-04-01 19:15:21.547] [exthost] [warning] ms-vscode.Go - Code actions of kind 'source.organizeImports 'requested but returned code action is of kind 'quickfix'. Code action will be dropped. Please check 'CodeActionContext.only' to only return requested code actions.```

repeated x10

I took a while to get in this state again, is not a 'everytime' bug

[2020-04-02 07:30] zeph commented on #3144
`undefined` :/

[2020-04-02 10:26] simpleapples commented on #3096
i think the logic about passing '.' to `go run` should be reconsidered. pls check this issue #3147 .

[2020-04-02 14:07] danj565 commented on #1751
This would be an amazing enhancement!

[2020-04-02 14:31] hyangah commented on #1751
@quoctruong @polinasok Can you please take a look? Can this be implemented from Delve side?

[2020-04-02 17:46] stamblerre commented on #3144
A workaround for the time being would be to set your `go.gopath` or your `go.toolsGopath` explicitly in your VS Code settings.

[2020-04-02 17:50] bitfield commented on #3081
Same problem here. This is making `gopls` almost unusable over Live Share, because the language server crashes repeatedly and is then disabled, and I think this is causing an ever-spinning 'Getting code actions...' dialog, which causes the sharing to stop. So every time I make an edit, VS Code tries to auto-save, and because I have format on save enabled, it's trying to call `gopls`, which is not

[2020-04-02 18:02] hyangah commented on #2447
@stamblerre can we close this bug and follow up from the upstream gopls uber issue?

[2020-04-02 18:45] #2447 closed

[2020-04-02 18:46] #3110 closed

[2020-04-02 18:47] stamblerre commented on #3105
@lucascarvalho: If you can get your `gopls` logs when this happens, I can take a look.

[2020-04-02 18:48] stamblerre commented on #3110
I'm going to leave this issue closed, but please file new issues if you encounter this problem. It's easier to help people individually.

[2020-04-02 18:53] stamblerre commented on #3141
Do you mean that the path to the file is something like `$GOPATH/src/file.go`? I'm not sure that we've ever considered such a case, or how it should be supported.

Can you please capture your `gopls` logs when you see this happening? https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs

[2020-04-02 18:58] stamblerre commented on #3142
have workspaces with both non-Go and Go projects.

There error message isn't spurious, but if `gopls` gets started in a workspace that contains both Go and non-Go projects, we will report failures for the non-Go workspace. Users don't want error messages about workspaces that shouldn't work, which is why we suppressed the message. `gopls` can't detect modules in the coming release, but this issue

[2020-04-02 18:58] #3142 closed

[2020-04-02 19:10] albshin commented on #3105
[code]

[2020-04-02 19:12] stamblerre commented on #3140
Ah, thanks @hyangah, I should've read the repro before asking for extra data 😄

On golang/go#35999, @muirdm said:

Which was the reason that idea was abandoned. Maybe we could support this if there are no references results, or would that be too hacky?

[2020-04-02 19:13] stamblerre commented on #3140
I reopened the upstream issue, so let's shift the conversation there, and I'll close this issue.

[2020-04-02 19:13] #3140 closed

[2020-04-02 19:16] kerhbal commented on #3140
Thanks guys. @stamblerre @hyangah

[2020-04-02 19:21] stamblerre commented on #3081
@bitfield: I would recommend setting `"go.useLanguageServer": false` when using live share, for now.

We can probably disable `gopls` when we see a `vsls://` file URI, or `gopls` can check the root URI and return an error. I'll mail a change for `gopls`.

[2020-04-02 21:45] hyangah opened #3148 "Wiki: update FAQ, modules support, misc..."
@ramya-rao-a Unfortunately, there is no easy way to  make a PR to the wiki repo like usual git repos. Github doesn't have UI support for easy PR or PR review for wiki repos.

Included is the patch created with `git diff`. Or you can directly pull the commit from https://github.com/hyangah/vscode-go.wiki.git

[wiki.diff.zip](https://github.com/microsoft/vscode-go/files/4423834/wiki.diff.zip)

cc @s

[2020-04-02 22:59] WodansSon commented on #3097
@stamblerre, that is exactly what I did...
[code]

[2020-04-02 23:04] stamblerre commented on #3097
Make sure to restart VS Code after you change the `gopls` version, that might be the issue. `gopls` prints its version when it starts, and in your log you can see:

[code]

With the manually installed version, you should see the following in your log instead:

[code]

[2020-04-02 23:11] clipperhouse opened #3149 "Feature request: hover info on runes"
In Go, runes can be expressed as single-quoted readable glyphs, single-quoted escaped `\u` codes, or number literals (usually hex). It’s often hard to know what a particular rune is, short of extensive commenting as in [this example](https://github.com/golang/go/blob/master/src/unicode/tables.go#L7108).

It would be very helpful in VSCode to hover over _any_ of these forms to get info on the rune,

[2020-04-02 23:51] WodansSon commented on #3097
@stamblerre, I have no idea what is going on... I don't know where VS Code is getting it's version of `gopls` from... if I type `gopls version` in the terminal window I get this:

[code]

but if you look at the `gopls` output window you get this:
[code]
It's acting like it's pulling the tool out of a cache or something?

[2020-04-03 01:27] lggomez commented on #1751
I can give it a look, this shouldn't need any changes on the delve side, aside from the fact that CreateBreakpoint doesn't have anything explicit (that I know of) to enable us to build this feature: https://godoc.org/github.com/derekparker/delve/service/rpc2#RPCServer.CreateBreakpoint

This is the [current spec](https://microsoft.github.io/debug-adapter-protocol/specification), and the following i

[2020-04-03 01:41] gustavooferreira commented on #3105
I'm having the same issue, break vscode. Can't save the file anymore.

I'm using the vim plugin which makes matters even worse because vscode won't respond correctly the vim commands either.

[2020-04-03 01:44] stamblerre commented on #3097
You can try running `which gopls` in your terminal and in the VS Code integrated terminal and compare. Looks like `C:\Users\XXXX\go` is your GOPATH, so I'd expect it to be `C:\Users\XXXX\go\bin\gopls`.

[2020-04-03 01:47] stamblerre commented on #3105
@gustavooferreira: Are you using the language server? If so, can you share your `gopls` logs? Details on how to do so [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs).

@albshin: It does look like your project is configured correctly, so I'd expect things to work correctly the majority of the time. Is that the case or are you still having frequent iss

[2020-04-03 06:04] vikram-rawat commented on #3141
I couldn't open localhost:6060 to capture this information.because gopls hangs my computer. I have removed it from my bin files. Than only I can work.

Now I can't take advantage of vscode features at least I can work. With gopls installed every time I hit save. My computer hangs and I have to reboot it.

[2020-04-03 06:39] vikram-rawat commented on #3141
Is there a way I can go to the previous version of gopls. that worked for me. It was working fine before I  upgraded golang to 1.14.1. I just need to start working on go projects and this is stopping me from using any feature vscode has for golang.

[2020-04-03 09:39] patrikeh commented on #3105
Still happens to me, constantly. I tend to see a lot of these in the gopls logs:
[code]

Sometimes it's just a delay of 3-10 seconds to save files, other times it gets stuck indefinitely.

[2020-04-03 10:26] bitfield commented on #3081
Woohoo! You're crushing it, @stamblerre! Thanks a lot.

[2020-04-03 10:29] didrocks commented on #3081
Thanks a lot @stamblerre :)

[2020-04-03 14:44] hyangah commented on #3098
@Anjana-Prabhakar did you manage to solve the problem?

@stamblerre @ramya-rao-a can you mark this as needs more info? Thanks!

[2020-04-03 14:50] hyangah commented on #3104
cc @polinasok who recently looked into the thread request & event messages.

[2020-04-03 16:30] stamblerre commented on #3105
@patrikeh: Can you share the complete `gopls` logs for this case? The context cancellations are a red herring unfortunately and will not be logged in future versions of `gopls`.

[2020-04-03 16:58] patrikeh commented on #3105
@stamblerre Alright, here's something then for a fairly big project with a lot of packages and dependencies.

What I did is I just went into a file and added something to a struct and its `NewX` function from an unimported package. That seems to be a pretty typical circumstance under which this would occur, but really it's far from the only one. I have noticed that it's less common with tiny toy p

[2020-04-03 18:04] hyangah commented on #1751
@lggomez Another thing to consider is the new DAP support from delve side.
 https://github.com/go-delve/delve/tree/master/service/dap The Go extension is not yet using the DAP but we will switch eventually. So, I'd first discuss this with delve dev whether it makes sense for delve to provide this feature.

[2020-04-03 18:47] stamblerre commented on #3149
Thanks for the suggestion! This is probably not something that we will do in this extension, but we can consider implementing it in `gopls`. I've opened up golang/go#38239 to track this. I'll close this issue, but you can follow along with the progress there.

[2020-04-03 18:47] #3149 closed

[2020-04-03 19:56] lggomez commented on #1751
@hyangah Nice, I wasn't aware of this work in progress, having a DAP compliant service will iron out most of the current frictions with the v2 API surface (and hopefully the performance issues)

When I commented that delve wouldn't require changes is for the most conservative and basic case which is logging text-only messages from the adapter. To provide full support for logpoints, delve should re

[2020-04-04 06:01] Anjana-Prabhakar commented on #3098
I could not try it out as i was travelling when the lockdown owing to corona spread was announced and am stuck at a place with no access to my laptop. I shall revert once I get access. Thanks for the help.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Hyang-Ah Hana Kim <notifications@github.com>
Sent: Friday, April 3, 2020 8:15:06 PM
To: microsoft/vscode-g

[2020-04-04 12:20] Sebi2020 opened #3151 "vscode-go regularly fails to properly detect valid syntax"
### What version of Go, VS Code & VS Code Go extension are you using?
- `go version`
	- go version go1.14.1 windows/amd64
- VS Code version
	-  1.43.2 ... x64
- VS Code go extension version
	- 0.13.1
- `go env GOOS GOARCH`
	-  windows, amd64

### Share the Go related settings you have added/edited

"go.useLanguageServer": true,

### Describe the bug
vscode-go constantly fails to detect valid golan

[2020-04-04 15:03] hyangah commented on #3151
- Does the error message always appear, or while editing?

-  Does the error disappear if you save the file or restart the language server? (From the command palette "Go: Restart Language Server")

- Can you please share your extension settings (those start with `go.`, `gopls.` and `[go]`) and [gopls logs](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md)? The gopls logs will appear

[2020-04-04 15:15] hyangah commented on #3141
Before downgrading can you try the following command from the root of your workspace?

[code]

You can pick up the previous version of gopls by running
`GO111MODULE=on go get golang.org/x/tools/gopls@<your desired version>` from the terminal. You can control the installation path by using `GOBIN` env var, or directly overwriting the existing one with the newly built one.

Available versions are ht

[2020-04-04 18:39] yorch commented on #3086
@hungnguyenvn thanks for the workaround!

I have a similar workflow as @dpolicastro, in my case, my folder structure is something like:

[code]

I'm new to Go, but in general, I usually like to keep my projects' source code in a `src` directory or similar, to keep the project organized and keep Go source code separated from tooling and other files.

@stamblerre is it on the roadmap to support such

[2020-04-05 07:11] funky81 commented on #2655
Anyone knows how to apply this patch?

[2020-04-05 07:35] zhiqiangxu opened #3152 ""debug test" only work with one version of go?"
### Describe the bug

I use `gvm` to manage multiple go versions:
[code]

I have two projects, one is configured to use `go1.13`:

[code]

The other is configured to use `go1.12`:

[code]

It seems to me that vscode will stick to the same go tool version for `debug test`, so the first project can run `debug test` successfully, but the second one will report `go version does not match go tool versi

[2020-04-05 09:01] deoren opened #3153 "Add support for installing pre-release versions of gopls"
Existing conversation: https://twitter.com/deoren/status/1246447039099133952

In short, there is a new pre-release of v0.4.0 for `gopls` that users have been encouraged to try and give feedback on. Steps were provided to manually download/install `gopls` and I'll follow those steps soon.

What would be useful is to have either a setting in the stable version of `ms-vscode.go` or a separate "Previe

[2020-04-05 13:03] tom-shan opened #3154 "placeholder of `Launch file` is missing `}`"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-04-05 14:16] gustavooferreira commented on #3105
Hi @stamblerre I was using the language server and then disabled it to see if the problem would go away, but the problem persisted.
I get several problems. I'm using vim plugin as well, and the two problems I get are, when I do `:wa` to save, the name of the file in the tab when I hover with the mouse shows a white circle telling me it wasn't actually saved, and when I close the tab it asks me if

[2020-04-05 17:57] stamblerre commented on #3151
@Sebi2020: Was this after you created a new file? This is the error message that the `go` command shows when you have an empty file, and there used to be a `gopls` bug in the creation of new files. It should be fixed in the next version of `gopls` - you can give that a try by installing the pre-release (`GO111MODULE=on go get golang.org/x/tools/gopls@v0.4.0-pre1`).

[2020-04-05 18:01] stamblerre commented on #3141
+1 to all of @hyangah's suggestions above. FWIW, the save pop-ups are caused by a more recent version of VS Code, so I don't think that downgrading `gopls` will fix that problem.

However, if `gopls` completely doesn't work for you, we can try to figure out why. A good first step would be running the command that @hyangah mentioned.

[2020-04-05 18:02] stamblerre commented on #3086
@yorch: We are working on it, and hoping to have a complete solution by `gopls/v0.6.0` - you can see the milestone [here](https://github.com/golang/go/milestone/139).

[2020-04-05 18:12] stamblerre commented on #3153
Thanks for filing this issue!

We actually already have this exact set up through the nightly build of this extension ([Go Nightly](https://marketplace.visualstudio.com/items?itemName=golang.go-nightly)). It also offers auto-updates for `gopls` pre-releases.

[2020-04-05 18:12] #3153 closed

[2020-04-05 18:15] Sebi2020 commented on #3151
@hyangah

Not always, but vscode-go often keeps showning errors were already have been fixed.

I cannot reproduce this bug. I does not have the file anymore. My fault.,. I try to add more details as soon as I experience the bug again.

I have only one entry regarding go: `"go.useLanguageServer": true`

Maybe this is caused by the bug of `gopls` as @stamblerre suggested.

[2020-04-05 18:29] stamblerre commented on #3105
Thanks for the report, @gustavooferreira. Unfortunately, it's a little difficult to understand which problems are caused by `gopls` and which are related to your other plugins. Nothing in your `gopls` log looks obviously wrong to me - can you try producing a shorter log? This could be done by collecting the log right after you see the first "weird" behavior.

It sounds like you disabled `gopls` an

[2020-04-05 19:36] stamblerre commented on #2446
The majority of the issues with `gopls` formatting seem to have been resolved, and `gopls` will have `goreturns`-type functionality in the next release (https://golang.org/cl/224960). Do you think we can remove this setting in the next version of the extension (meaning 0.15, not 0.14 since that will be coming out soon)?

[2020-04-05 22:54] taipoxin commented on #3060
@NilsJPWerner Man, thank you, you saved my time! :3

[2020-04-05 23:41] gustavooferreira commented on #3105
Thank you @stamblerre, I actually think this is probably a problem with vscode itself, as my laptop still had 1.42.1 version installed on it and was showing no problems, so I decided to downgrade it on my desktop as well and now everything seems to be working fine.

I'll still with this version for awhile.

Anyway, thank you for your help!

[2020-04-06 01:24] ramya-rao-a commented on #2446
Sure, that works

[2020-04-06 02:33] stamblerre commented on #3105
This is indeed specific to later versions of VS Code, but I'd still recommend figuring out the issue, since VS Code is released fairly frequently. Happy to continue investigating if you're willing to do so.

[2020-04-06 05:25] vikram-rawat commented on #3141
I updated the gopls to the latest version 0.4.0 but it still had the same problem. I had to restart my computer because everything got stuck. and I went to the src folder of my gopath. but

`
PS E:\Go_code\src> gopls -rpc.trace -v check main.go
flag provided but not defined: -rpc
The Go Language source tools.
`
this is the error I get flag provided but not defined

[2020-04-06 05:29] vikram-rawat commented on #3141
Please fix it anyhow. It is stopping me from working on vscode at all. Because not working is something I can handle. But rebooting the entire Laptop again and again is not something I can do handle.

[2020-04-06 09:38] festum commented on #3105
Same to me. Having this issue in 1.43.*. Tried many settings but the only way to solve it is rolling back to 1.42.1.

[2020-04-06 14:22] stamblerre commented on #3141
Can you confirm the version of `gopls` you are using (`gopls version`)?
When you are working in VS Code, do you open the entirety of your `$GOPATH/src`?

Please take a look at the recent `gopls` [release notes](https://github.com/golang/go/issues/33030#issuecomment-510151934) and https://github.com/golang/go/issues/36899 to see if you can fit your workflow into one of the currently supported cases

[2020-04-06 14:24] stamblerre commented on #3105
I'm afraid that using an old VS Code version is just a temporary fix for this problem. If anyone is interested in investigating this issue, I can take a look at any logs.

[2020-04-06 14:47] gustavooferreira commented on #3105
You are most definitely right @stamblerre. I personally just went with this route as I use vscode at work as well and I needed to solve this as quickly as possible, but I'll definitely upgrade vscode to the latest version again and check the various logs to see if we can spot any anomalies either with gopls, any other extension or even with vscode itself.

[2020-04-06 21:08] yorch commented on #3086
@stamblerre that's great news, thanks a lot!

[2020-04-07 03:40] medyagh commented on #3105
Hi I have exact same issue on MacOs 10.13.6 and VsCode Version: 1.43.2 and  go version 'go1.14.1 darwin/amd64'

I tried to disable all the linting and formating in vscode:

[code]
 but vscode still has the same issue:

[2020-04-07 05:07] stamblerre commented on #3105
@medyagh: Can you please share your `gopls` logs (details [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs)). What extensions do you have installed in VS Code?

[2020-04-07 19:05] hyangah commented on #3152
I think this is because the `delve` invokes the go command with just the executable name (`go`) (https://github.com/go-delve/delve/blob/master/pkg/gobuild/gobuild.go#L66) so picks up any `go` command found from the `PATH`.

As a workaround, try to add `${YOUR_GOROOT}/bin` as the first `PATH` element. There are many ways to set this env var - one way is to use `"go.toolsEnvVar"'.

We can consider p

[2020-04-07 19:53] polinasok opened #3158 "debug: "Pause on breakpoint" is shown when pausing with "Pause (F6)""
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14.1 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Version: 1.43.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and p

[2020-04-07 20:03] polinasok commented on #3158
For background, the handling for pause requests was introduced in https://github.com/microsoft/vscode-go/pull/2126.

[2020-04-08 07:21] islishude opened #3160 "Can't fold a slice"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14.1 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2 0ba0ca52957102ca3527cf479571617f0de6ed50 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.14.0-beta.3
- Run `go env GOO

[2020-04-08 08:00] EmadHelmi opened #3161 "Definiton finding does not work in one workspace but in other do"
- Run `go version` to get version of Go
	- go version go1.14.1 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and processor architecture details
	- Linux
        - amd64

Run `Preferences: Open S

[2020-04-08 08:11] EmadHelmi opened #3162 "Infinite Saving 'get_ads_for_aparat.go': Getting code actions from ''Go', 'Go''"
- Run `go version` to get version of Go
	- go version go1.14.1 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating system and processor architecture details
	- Linux
        - amd64

Run `Preferences: Open S

[2020-04-08 09:39] deoren commented on #3153
Apologies, I completely missed seeing that extension! Thanks for being so kind in your response. :)

[2020-04-08 13:43] hyangah commented on #3160
@islishude I am guessing you are using the language server (`"go.useLanguageServer": true`). Is it true?

@stamblerre I observed folding range responses from `gopls` do not include the slice variable ranges. Disabling language server, I don't know which tool is supplying the folding range info yet but I could see the folding range markers for the entire list and for each element. (e.g. line 9, lin

[2020-04-08 13:46] islishude commented on #3160
yes,I using gopls.

[2020-04-08 13:51] anthonybgale commented on #2010
I have tried the beta version of vscode-go but am still experiencing the same issue.

Like the commenters above, I'm using AWS' SAM CLI from Windows to try and debug a function running in a linux docker container.

From the terminal window in Code:
[code]

From the debug console in Code:
[code]

Both the local and remote paths above appear to be correct.

my launch.json:
[code]

[2020-04-08 13:52] hyangah commented on #3161
I am guessing this bug is related to the other bug #3162 you filed. Is it possible to share a bit more details about the second project code layout? Does it have `go.mod` file or vendor directory?

Can you follow the `gopls` troubleshooting instruction outline in https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md?
- the output of `gopls -rpc.trace -v check /path/to/file.go` a

[2020-04-08 14:49] nicocesar commented on #3104
Same here.

[code]

[2020-04-08 16:47] FiloSottile opened #3163 "gopls does not honor go.alternateTools.go"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- N/A
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.43.2
0ba0ca52957102ca3527cf479571617f0de6ed50
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.13.1
- Run `go env GOOS GOARCH` to get the operating syste

[2020-04-08 17:23] stamblerre commented on #3163
A work-around:

[code]

We're still working on unifying the configuration between VS Code Go and `gopls`, so for the time being, it's safe to assume that no settings are shared between the two. The only setting that works in `gopls` is `go.toolsEnvVars`, because that tool environment is also used to start `gopls`.

As an additional consideration, this is more a question for @ramya-rao-a: Is this t

[2020-04-08 17:27] wtask opened #3164 "Suspicion that vscode-go or gopls does not support test subpackages for current package"
### What version of Go, VS Code & VS Code Go extension are you using?
Version: 1.43.2 (user setup)
Commit: 0ba0ca52957102ca3527cf479571617f0de6ed50
Date: 2020-03-24T07:38:38.248Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

go version go1.14.1 windows/amd64

golang.org/x/tools/gopls v0.3.4
    golang.org/x/tools/gopls@v0.3.4 h1:4GC

[2020-04-08 17:48] hyangah commented on #3163
I have a pending pr https://github.com/microsoft/vscode-go/pull/3159

If alternateTools is specified for go, I think that will be picked up instead of the goroot in most cases - https://github.com/microsoft/vscode-go/blob/082bcfdc16b7b196f2e86a3b4e2e5b32ee932dc4/src/goPath.ts#L38 - which may cause problem if both `go.goroot` and the `alternateTools.go` are both set and don't match.

[2020-04-08 17:49] kal-g commented on #3105
I'm seeing the same issue, here are the logs from when it was stuck

`2020/04/08 10:46:02 : context canceled
[Error - 10:46:02 AM] 2020/04/08 10:46:02 : context canceled
2020/04/08 10:46:05 : context canceled
[Error - 10:46:05 AM] 2020/04/08 10:46:05 : context canceled
2020/04/08 10:46:24 : context canceled
[Error - 10:46:24 AM] 2020/04/08 10:46:24 : context canceled`

Here are my extensions:

<im

[2020-04-08 18:23] FiloSottile commented on #3163
It might be worth deprecating `go.goroot`. I am not aware of any reason to change GOROOT and not the go tool, and there should probably be one recommended way to select an alternative go tool.

[2020-04-08 18:24] FiloSottile opened #3165 "Document and maintain standard library development setup"
vscode-go and gopls mostly work on the standard library, which is awesome, but it takes some setup and it broke a few times recently. It would be great to document a supported setup, and maintain it such that it doesn't break over time.

Here's what I have so far in `~/go/src/.vscode/settings.json`.

[code]

The following issues affect standard library development, and should be mentioned in the d

[2020-04-08 18:32] hyangah commented on #3163
The nice thing about `go.goroot` is it is more intuitive. Currently, vscode picks up the `go` from 'go.goroot/bin' directory unless it is specified through `alternateTools`. I use `go.goroot` to change my `go` version.

[2020-04-08 23:39] wtask commented on #3164
After upgrading to
[code]
got the same error in log, but now only syntax highlighting is present for the `_test` package, all other features is unavailable - outline, ctrl-click, hovers... :(

[2020-04-09 00:19] wtask commented on #3164
After several minutes of waiting and making some edit to the problem file I see the features partially start to work, except the issue itself is persist..

[2020-04-09 05:00] ramya-rao-a commented on #3163
What https://github.com/microsoft/vscode-go/commit/d93a0aec2a1a57e820cff3a9511cedbc7f13b61c did while fixing #2514 is to update the PATH env variable in the current running process to include path to the go binary. This ensured that any of the Go tools looking for the Go binary in the PATH would find it.

Is `gopls` not behaving like the other tools and using the PATH env var?

The value set for t

[2020-04-09 07:12] vikram-rawat commented on #3141
I updated gopls to version 0.4.0 and vscode version to1.44.0. Now it is better than before. but My computer still got stuck and I had to restart it. but since then go command has become slow for me as well. go run command takes like forever to compile.

I am again removing gopls so that I can work on projects. Please fix it ASAP. as it is hindering people like me to work properly.

[2020-04-09 10:45] disksing commented on #3063
It seems simply `killall gopls` can work too :-)

[2020-04-09 13:41] hyangah commented on #3163
@ramya-rao-a  If `go.goroot` is set, that results in
  1) setting `GOROOT` env var,
  2) picking the go binary from `GOROOT/bin` (this is done by [this code](https://github.com/microsoft/vscode-go/blob/082bcfdc16b7b196f2e86a3b4e2e5b32ee932dc4/src/goPath.ts#L62) unless alternateTools is specified or go is found from `PATH`) , and
  3) appending `GOROOT/bin` to the end of `PATH`.

This is done by [`

[2020-04-09 15:23] danielhelfand opened #3166 "Example of Debugging Go CLI with vscode in Documentation"
**Is your feature request related to a problem? Please describe.**

As part of working on a CLI developed using the [cobra](https://github.com/spf13/cobra) framework, I didn't find many examples or documentation on debugging a CLI with vscode. Most information I have seen is focused web applications, but obviously a CLI is more focused on passing subcommands/flags with arguments to the root comman

[2020-04-09 18:52] #3144 closed

[2020-04-09 20:40] hairyhenderson commented on #3063
@stamblerre hi - I've been experiencing slowness for months, but today decided to actually look at the logs 😉

This seems to be happening in particular with private packages - I usually export `GOPRIVATE=github.com/myorg` on the CLI, but not sure how to set that in VSCode itself - maybe that's the root issue?

I've sanitized the entry, but basically I see this message over and over until it times

[2020-04-09 20:50] hyangah commented on #3063
@hairyhenderson

[code]

I think you will need to reload the vscode or restart gopls. You can check the gopls log to see what Go environment variable it is using (the info should be at the beginning of the gopls log.

[2020-04-09 20:52] hairyhenderson commented on #3063
oh! thanks @hyangah - yes that works. Is this documented somewhere?

[2020-04-09 22:49] WodansSon commented on #3097
@stamblerre This is an odd one, I suspect it has something to do with running a WSL and Windows development environment on the same box...

[code]

You notice it finds `gopls` in two directories `/mnt/c/Users/XXXX/go/bin/gopls.foo`, this is the gopath for my Windows environment (I renamed it from .exe to .foo to verify it breaks in the windows dev environment), It is also found at `/mnt/c/linux/bi

[2020-04-10 04:40] raygift commented on #1903
after installed the latest beta version “Go-0.14.0-beta.6.vsix”，error  changed from "Failed to continue-bad access" to “Failed to continue - unpropagated fatalpanic: signal SIGSEGV (EXC_BAD_ACCESS). This fatalpanic is not traceable on macOS, see https://github.com/go-delve/delve/issues/852  Last known immediate stacktrace (goroutine id 0):”

Is this normal ? did i met a MacOS BUG rather than vscod

[2020-04-10 13:29] ajax16384 opened #3169 "UI to examine core dumps"
Please add launch "mode" : "core" to be able to examine go core dumps as command line debugger "dlv core ..." does.

[2020-04-10 13:57] ungerik commented on #3063
I am having this problem in 1.43 and 1.44 so working with Go is broken for months now, very frustrating.

Enabling/disabling gopls makes no difference. Either gopls gets stuck at 100% cpu utilization until some timeout or code running non gopls tools.

Setting go.toolsEnvVars GOPRIVATE to match my terminal environment also does not make any difference.

All go tools are at the latest version, but

[2020-04-10 14:04] hyangah commented on #3169
@ajax16384 I love delve's core dump feature. Go extension heavily depends on [DAP](https://github.com/Microsoft/vscode-debugadapter-node) and I don't know if DAP is capable of doing this. Maybe need research on how c++ extension implemented [the similar feature](https://code.visualstudio.com/docs/cpp/cpp-debug#_memory-dump-debugging).

cc/ @polinasok @lggomez @quoctruong for debug ideas.

[2020-04-10 14:05] ungerik commented on #3063
Found it in the logs: the **aleksandra.go-group-imports** extension was the problem. Working fine after disable and restart.

[2020-04-10 14:07] hyangah commented on #3166
Utilizing `args` is the right thing to use for passing args. Agree we need to document that.

[2020-04-10 16:29] stamblerre commented on #3162
What other extensions do you have installed? Do you have the Go Group Imports extension installed by any chance?

If not, can you please share the output of `gopls -rpc.trace -v check path/to/file.go` for the file that's causing problems?

[2020-04-10 16:31] stamblerre commented on #3162
Ah, I see that you've also filed #3161 for a similar issue. As @hyangah said, the two do sound like the same issue. I'll close this as a duplicate and we can continue discussion there.

[2020-04-10 16:31] stamblerre commented on #3162
Duplicate of #3161

[2020-04-10 16:31] #3162 closed

[2020-04-10 16:34] stamblerre commented on #3160
Thanks for reporting! Moved this bug to https://github.com/golang/go/issues/38360, so I'll close this issue in favor of the upstream one.

[2020-04-10 16:34] #3160 closed

[2020-04-10 16:39] stamblerre commented on #3105
Unfortunately, the context canceled errors aren't super useful information - we've stopped logging them in `gopls/v0.4.0`, so if you're able to share new logs after updating - that'd be helpful. Also, if possible, it would be most helpful to get the full contents of the log.

I've heard reports that people have noticed that this issue can be caused by the Go Group Imports extension, so if you're u

[2020-04-10 16:48] stamblerre commented on #3165
Definitely agree that we need to add documentation for this use case. I have a few more questions inline.

When you say "mostly" - are there features that don't work? If so, it would be good to know about so we can address the issues.

What breakages are you referring to specifically? AFAIK, we've never respected the `"go.alternateTools"` setting, and we've always required users to open directorie

[2020-04-10 16:51] stamblerre commented on #3164
Can you share the output of `gopls -rpc.trace -v check path/to/file.go`? That will give me a bit more insight on what's going on.

[2020-04-10 17:06] stamblerre commented on #3141
It's difficult for me to understand your issue without the answer to my question above:

If so, it sounds like you're encountering the "At your own risk" case described under the GOPATH mode section in https://github.com/golang/go/issues/36899, which I linked above. The work-around to it would be opening just the single Go file you are working on, which `gopls` does not yet support (https://github

[2020-04-10 17:23] polinasok commented on #3104
I am unable to reproduce this. I do see "Unable to produce stack trace: {e}" on start or restart (which is just stop and start under the hood), but that is a different issue.
Can somebody please share a test program with me, your settings in launch.json and steps to reproduce what you are seeing? Could you please enable logging  with "trace": "log" in launch.json (more on logging [here](https://gi

[2020-04-10 17:27] FiloSottile commented on #3165
I've noticed the occasional minor issue, but sometimes it's hard to tell if the tree is in a bad state, or if it's something gopls can fix. I'll pay more attention and open issues referencing this one when I do in the future.

I also do some development on the dev.boringcrypto branch, which I totally don't expect you to support, so I wonder how much breakage I was seeing because of that. I now hav

[2020-04-10 17:29] wtask commented on #3164
@stamblerre
[code]

[2020-04-10 17:35] stamblerre commented on #3097
I may be a bit out of my depth here (maybe @ramya-rao-a or @hyangah can give better advice). One thing you can try is installing the [Go Nightly extension](https://marketplace.visualstudio.com/items?itemName=golang.go-nightly) which has a "Go: Locate Configured Go Tools" command. The output of that command will show where the `gopls` used by the Go extension is located.

You can also try running `

[2020-04-10 18:51] stamblerre commented on #3165
Thanks for the clarifications! Please file issues when you see something that's not working, since we want to make sure that `gopls` supports as many use cases as we can.

And, yeah I don't think `goimports` supports one block of imports. If you find a repro for the `std/` case, please file an issue.

[2020-04-10 19:23] stamblerre commented on #3164
Oh wow, I have not seen that happen before. Can you run this command with the environment variable `GOTRACEBACK=crash` so that it produces a goroutine dump?

Something definitely seems to be going wrong with the loading of your test file, as you can see in your logs, it's not being associated with any packages. Another command you can try running is `go list -e -json -compiled -test ./...` from yo

[2020-04-10 19:29] wtask commented on #3164
... But nothing wrong for go itself:

separate package, and then linked and run with the main test binary.
https://golang.org/pkg/cmd/go/internal/test/

[2020-04-10 19:46] wtask commented on #3164
@stamblerre

[code]

[2020-04-10 19:52] stamblerre commented on #3164
Yeah, looks like the command is stuck waiting for diagnostics. Do you mind sharing the output of the `go list` command I mentioned above (`go list -e -json -compiled -test ./...`)?

[2020-04-10 20:14] wtask commented on #3164
@stamblerre
It's a nightmare, I forgot I use `// +build integration` for these tests 🤦‍♂️
So the issue is resolved after temporary disabling build tag `// -build integration` in all test sources. I know `gopls` doesn't support build tags on the fly and there is no complete happiness, but the issue can be closed.

[2020-04-10 20:20] stamblerre commented on #3164
Ah, ok glad you were able to figure it out!

[2020-04-10 20:20] #3164 closed

[2020-04-11 00:14] lggomez commented on #3169
@hyangah I will look into this, but if anyone alse also wants to give it a shot or research it here's what I found:

For comparison, here's the [goland feature](https://www.jetbrains.com/help/go/exploring-go-core-dumps.html#)

This is the cli entry point for the `dlv core` command
https://github.com/go-delve/delve/blob/master/cmd/dlv/cmds/commands.go#L258-L276

And here is the debugger service ent

[2020-04-11 06:53] EmadHelmi commented on #3161
This is the output of the gopls command you mentioned:

[code]

And also the log of the vscode in the view does not have the gopls option it just has go and go test options

@hyangah

[2020-04-11 13:20] hyangah commented on #3161
Thanks @EmadHelmi for sharing the log.
From the log, it's clear that you are using modules and the go command failed to download the dependency because it's is private.

The two packages (first:`normalizer` and second:`ssp/consumerapi`) are from separate modules. Even though they are all under your GOPATH directory, the go command treats them independent, tries to fetch from the network, not from

[2020-04-11 23:18] stamblerre commented on #3161
Thanks for investigating, @hyangah. I filed https://github.com/golang/go/issues/38383 so that we make sure the report these errors to the user in `gopls`.

[2020-04-12 16:03] iiinsomnia opened #3170 "Saving 'main.go': Getting code actions from ''Go', 'Go'' (configure)."
![image](https://user-images.githubusercontent.com/6582246/79073582-05506d00-7d1a-11ea-9f5b-dc4161da321c.png)

![image](https://user-images.githubusercontent.com/6582246/79073617-27e28600-7d1a-11ea-8c17-9e1b59fbd1b9.png)

[2020-04-12 16:05] iiinsomnia commented on #3170
![image](https://user-images.githubusercontent.com/6582246/79073670-7001a880-7d1a-11ea-832b-6e20ef4c4aba.png)

[2020-04-12 16:14] iiinsomnia commented on #3170
![image](https://user-images.githubusercontent.com/6582246/79073899-b99ec300-7d1b-11ea-9e3c-39d68d5c95b4.png)

[2020-04-12 22:08] jerkinson92 commented on #3151
Expecting the same issue sometimes, also same error.
I will give more information when find the way to reproduce error.
One thing that I may say - such error appears oftenly.

After Cmd+P > Reload Window error disappear.

[2020-04-12 22:19] stamblerre commented on #3151
If you are using `gopls`, please share a screenshot and your `gopls` logs (https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs) if you can.

[2020-04-13 06:41] iiinsomnia commented on #3170
![image](https://user-images.githubusercontent.com/6582246/79098546-d2978a80-7d94-11ea-815c-0be814459fb1.png)

[2020-04-13 08:44] iiinsomnia opened #3171 "cmd/fillstruct: fill struct in disorder"
![image](https://user-images.githubusercontent.com/6582246/79106914-fb744b80-7da5-11ea-9366-3d077607e03d.png)

[2020-04-13 09:38] Aisuko commented on #2968
Hi, guys. I hit the same issue(similar). There my situation use use `helm client-go api` install charts. Always work with `type xxx map[string]interafce{}`. And I always get the issue `Failed to eval expression`

[code]

![Screen Shot 2020-04-13 at 5 34 53 PM](https://user-images.githubusercontent.com/8053949/79110485-18604d00-7dad-11ea-86ef-10a1f36fef20.png)

[2020-04-13 10:59] ice2002 opened #3172 "Your version of gopls appears to be out of date. Please update for an improved experience."
Issue Type: <b>Bug</b>

"Gopls" has always been outdated, obviously updated just now, and VSCODE has also been updated. Restarting VSCODE prompts "Your version of gopls appears to be out of date. Please update for an improved experience."

Extension version: 0.13.1
VS Code version: Code 1.44.0 (2aae1f26c72891c399f860409176fe435a154b13, 2020-04-07T23:31:18.860Z)
OS version: Windows_NT x64 10.0.1629

[2020-04-13 15:20] stamblerre commented on #3170
@iiinsomnia: What other extensions do you have enabled? Spell Right and Go Group Imports have both been known to cause this issue, so please try disabling them if you have them installed.

Otherwise, can you please share your `gopls` logs? They can be found by following the steps [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs).

[2020-04-13 15:22] stamblerre commented on #3171
@iiinsomnia: Can you please provide the steps to reproduce this issue?

[2020-04-13 15:34] stamblerre commented on #3172
Did you update your `gopls` version, or is there some reason you want to stay on an older version?

[2020-04-13 19:25] wanfintara opened #3173 "Command GO: Add Import is not working"
When running `GO: Add Import` command, always got this message

![image](https://user-images.githubusercontent.com/23230734/79152749-f12e6d80-7df6-11ea-983d-a61771d48fda.png)

Tried googling for solutions, but still cant fix it.

Go version: go1.14.2 darwin/amd64
VS Code version :  1.44.0

[2020-04-13 21:18] hyangah commented on #3173
@wanfintara thanks for the report. Please provide additional info about your setting.

* Run `Preferences: Open Settings (JSON)` command to open your settings.json file.
Share all the settings with the `go.` or `["go"]` or `gopls` prefixes.

* Run `go env` from the integrated terminal and share the output (feel free to redact confidential or sensitive info).

* Run the above command (`gopkgs -form

[2020-04-14 00:23] bus710 opened #3175 "Tiny-go and You are neither in a module nor in your GOPATH"
# Tiny-go and You are neither in a module nor in your GOPATH

Context:
- https://github.com/tinygo-org/tinygo/issues/927
- https://github.com/tinygo-org/tinygo/issues/927#issuecomment-613146764

Summary:
- In using Tiny-go with Vscode-Go, gopls keeps showing the dialog of **You are neither in a module nor in your GOPATH**

----
Please answer these questions before submitting your issue. Thanks!

#

[2020-04-14 00:33] bus710 commented on #3175
I know that the message **You are neither in a module nor in your GOPATH** because I don't have go.mod but...

If I create a go.mod file for the project, it shows package not found warning.
If I add redirect/require in that go.mod file, code completion doesn't work.
Thus, I eventually deleted the go.mod to disable go module feature.

So, we may need a way to disable the warning when there is no go

[2020-04-14 01:12] hyangah commented on #3175
Thanks @bus710 again. From the trace, I can tell that

`GOPATH="/usr/local/tinygo:/home/bus710/go"`
And your workspace directory is `/home/bus710/repo/flutter-webbluetooth/...`
which is outside of any of the `GOPATH`.

You are operating in the GOPATH mode, so please make sure to place your project directory under one of the `GOPATH/src`. In this specific case, under `/home/bus710/go/src` directory

[2020-04-14 01:27] bus710 commented on #3175
Right, I see the point that I haven't thought a while since I started using modules. Thanks for your advise! Let me close this.

[2020-04-14 01:27] #3175 closed

[2020-04-14 02:03] WodansSon commented on #3097
@stamblerre, a new version of Vscode was just installed and it stated that my `gopls` was out of date and needed to be updated, the output of the install was as below:
[code]
So, it looks like the Vscode `go.toolsGopath` is overriding my environment variables 🤔

[2020-04-14 03:03] wanfintara commented on #3173
all go settings
[code]

[2020-04-14 03:04] stamblerre commented on #3097
Do you have `go.toolsGopath` set in your VS Code `settings.json` file?

[2020-04-14 04:32] wanfintara commented on #3173
`go env`

[code]

[2020-04-14 04:36] ice2002 commented on #3172
Gopls is the latest version. I did not keep the old version. Every time you open VSCODE, VSCODE will prompt "Your version of gopls appears to be out of date. Please update for an improved experience." This prompt is very annoying.

[2020-04-14 05:22] stamblerre commented on #3172
You can check what version VS Code is using by running `gopls version` in the VS Code integrated terminal (Ctrl + Shift + P -> View: Toggle Integrated Terminal). It's possible that you have multiple versions of `gopls` installed on your system and VS Code is using the wrong one. The latest version is `v0.4.0`, for your reference.

What are your VS Code settings for the Go extension (Ctrl + Shift +

[2020-04-14 08:22] mingoal commented on #3105
After upgrading vscode from 1.42 to 1.44, golang from 1.13.6 to 1.13.10, go plugin is no change, I can't save go file as used it works fine.

Follow https://github.com/microsoft/vscode-go/issues/3105#issuecomment-604935851 ,

Disable `gopls` works for me.

- vscode 1.44
- Windows 10
- go version go1.13.10 windows/amd64
- golang.org/x/tools/gopls 0.4.0
    golang.org/x/tools/gopls@v0.4.0 h1:G4+YP9k

[2020-04-14 10:05] iiinsomnia commented on #3171
![image](https://user-images.githubusercontent.com/6582246/79212726-90e10f80-7e7a-11ea-8ec0-d1de602db6f1.png)

[2020-04-14 11:42] hyangah commented on #3173
This is an issue of `github.com/gravitational/teleport`. They have a misconfigured symbolic link
for `docs/latest`. It's point to itself and causes the `stat` command (and probably many others) to fail.

Please file an issue at https://github.com/gravitational/teleport/issues.

And, if this file is for documentation only, delete or fix the symbolic link locally (`/Users/wanfintara/Documents/go/src

[2020-04-14 12:39] wanfintara commented on #3173
Will do, thanks alot.

[2020-04-14 13:39] wanfintara commented on #3173
Filed an issue [here](https://github.com/gravitational/teleport/issues/3575)

[2020-04-14 15:47] GAZ082 opened #3176 "Cursor jumps to top of file on format on save."
This is exact duplicate of:  #1389
[code]
Is a workaround. This is affecting go files only.

Version: 1.44.0 (user setup)
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-07T23:31:18.860Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

[2020-04-14 16:25] stamblerre commented on #3176
Can you share your full VS Code settings? Are you using the language server?

[2020-04-14 16:37] stamblerre commented on #3173
Thanks for following up! I'll close this issue since it's an upstream bug.

[2020-04-14 16:37] #3173 closed

[2020-04-14 17:51] stamblerre commented on #3171
I am not able to reproduce this issue, and without an example case to reproduce with, there's no way to investigate this issue. I'm going to close this, but please reopen if you can give an example with which to reproduce.

[2020-04-14 17:51] #3171 closed

[2020-04-14 18:18] hyangah commented on #3143
The latest minor releases (1.14.2 and 1.13.10) include the workaround patch. Please try the updated version of go. (https://golang.org/dl/)

[2020-04-14 18:19] GAZ082 commented on #3176
Hi, yes, I'm using gopls.

[code]

[2020-04-14 18:23] stamblerre commented on #3105
@mingoal: Thanks for reporting. That log isn't from `gopls`, but you can capture `gopls` logs by following the steps [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs). It's possible that this may be a symptom of other issues with your `gopls` setup, so the output of `gopls -rpc.trace -v check path/to/file.go` would also be helpful.

[2020-04-14 18:25] stamblerre commented on #3176
This sounds like a bug that existed in older versions of `gopls`. Can you confirm that you are using `v0.4.0` (`gopls version`)? Otherwise, can you share the `gopls` logs you see after formatting a file? Information on how to capture detailed `gopls` logs can be found [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs).

[2020-04-15 01:55] hgl opened #3177 "Unable to map $GOPATH when debugging remotely"
**Is your feature request related to a problem? Please describe.**
When debugging a go program living inside a docker container, I'm able to map my own source code with `remotePath` and `cwd`, but I have no way to map `$GOPATH`. In docker it starts with `/go`, but on my host, not the case. So whenever I try to descend into a 3rd party package, I'm prompted with a file not found error.

**Describe

[2020-04-15 03:01] zenchan opened #3178 "extension startup false & typing lag for "[warning] UNRESPONSIVE extension host, 'ms-vscode.Go'""
**go version**
go1.13.5 windows/amd64
**vscode version**
Version: 1.44.1 (system setup)
Commit: a9f8623ec050e5f0b44cc8ce8204a1455884749f
Date: 2020-04-11T01:48:12.622Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 6.1.7601
**extension version**
vscode-go 0.13.1
**go env**
set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\Adminis

[2020-04-15 03:08] mingoal commented on #3105
@stamblerre
Yesterday, I

- disabled all telemetry configuration of vscode
- moved to one network which doesn't need http proxy

and found `gopls` worked.

Today, I move to the network which needs http proxy, `gopls` still works.

I guess is `gopls`
- needs to fetch some data from internet after upgrade
- stuck without those data
- those data are cached
- doesn't read proxy configuration from vs c

[2020-04-15 06:32] mingoal commented on #3105
one more message.

When my local vendor folder has **NO** cache for one package, infinite go again, after remove that package, `gopls` works again.

I guess vscode `go` plugin doesn't tell vscode proxy configuration to `gopls`, then `gopls` runs into trouble to get files from internet.

[2020-04-15 13:03] hyangah commented on #3178
Thanks for the report and the profile. @zenchan

From both profiles show go-outline (invoked to find benchmark functions for codelens) as the expensive operation. @ramya-rao-a can you please take a look?

<img width="895" alt="Screen Shot 2020-04-15 at 8 52 22 AM" src="https://user-images.githubusercontent.com/4999471/79339230-8e240000-7ef6-11ea-9961-2292a7ca7cc4.png">

About `"startup":false` in

[2020-04-15 13:26] hyangah commented on #3177
@quoctruong @ramya-rao-a
I see only [a special handling of `GOROOT` mapping](https://github.com/microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L841-L858) for https://github.com/Microsoft/vscode-go/issues/1178 but no `GOPATH` mapping for remote debugging. Am I missing something?

[2020-04-15 13:35] hyangah commented on #3105
@mingoal that is an interesting use case. Does explicitly setting `HTTPS_PROXY` env vars  (maybe `go.toolsEnvVars` or `gopls` `env` map) improve the situation?

[2020-04-15 13:46] GAZ082 commented on #3176
Updated Go tools and looks like the problem was fixed. Will close the issue and report back if happens again. Thanks!

[2020-04-15 13:46] #3176 closed

[2020-04-15 16:13] jadwahab commented on #3106
I tried the steps above but still have the same issue:
[code]

[2020-04-15 16:29] stamblerre opened #3179 "Frequent pop-up when saving with "Getting code actions: Go, Go, ...""
If you encounter this issue, please try the following steps to troubleshoot:

1. Check your other installed extensions. [Go Group Imports](https://marketplace.visualstudio.com/items?itemName=aleksandra.go-group-imports) and [Spell Right](https://marketplace.visualstudio.com/items?itemName=ban.spellright) have both been identified as causing slow saves.
2. Your workspace may have errors which are c

[2020-04-15 16:30] stamblerre commented on #3063
Because there have been a number of issues filed about this bug, I've tried to consolidate the details in to https://github.com/microsoft/vscode-go/issues/3179. I'm going to close this in favor of that issue.

[2020-04-15 16:31] stamblerre commented on #3063
Duplicate of https://github.com/microsoft/vscode-go/issues/3179

[2020-04-15 16:31] #3063 closed

[2020-04-15 16:32] stamblerre commented on #3141
I'm trying to centralize the discussions about this bug into one issue, so I'm going to close this in favor of https://github.com/microsoft/vscode-go/issues/3179.

[2020-04-15 16:32] #3141 closed

[2020-04-15 16:32] stamblerre commented on #3141
Duplicate of https://github.com/microsoft/vscode-go/issues/3179

[2020-04-15 16:32] stamblerre commented on #3170
I'm trying to consolidate discussion about this issue into one bug, so I'm going to close this in favor of https://github.com/microsoft/vscode-go/issues/3179.

[2020-04-15 16:32] #3170 closed

[2020-04-15 16:32] stamblerre commented on #3170
Duplicate of https://github.com/microsoft/vscode-go/issues/3179

[2020-04-15 16:38] stamblerre commented on #3105
Just filed https://github.com/golang/go/issues/38462 to make sure that we test this case. @mingoal can you please follow up on that issue?

This issue has gotten very long and complicated, so I'm going to close it in favor of https://github.com/microsoft/vscode-go/issues/3179, which may be easier for people to read through.

[2020-04-15 16:38] #3105 closed

[2020-04-15 16:38] stamblerre commented on #3105
Duplicate of https://github.com/microsoft/vscode-go/issues/3179

[2020-04-15 17:32] hyangah commented on #3177
Moreover, the `GOROOT` handling logic blindly replaces the part before `/src/` with `GOROOT`, so it will interfere the correct mapping of source code under `$GOPATH/src`.
If the headless `dlv` does not provide info about its runtime environment, I think we need explicit mappings.

[2020-04-15 18:36] stamblerre commented on #3106
@jadwahab: Did you try the `Go: Locate Configured Tools` command as @hyangah suggested above?

[2020-04-15 18:40] jadwahab commented on #3106
@stamblerre Yeah, I disabled the go extension and downloaded/enabled go-nightly and ran the `Go: Locate Configured Tools` and got the same path

[2020-04-15 18:47] hyangah commented on #3106
Thanks @jadwahab
More questions:
- if you use the `dlv` in the path (`Go: Locate Configured Tools`), do you get the same error?
- if you delete the `dlv` from the path & restart the VS Code, does VS Code complain about the missing tools and suggest install the dlv?
- By any chance, do you use remote debugging?

[2020-04-15 19:27] kkotowick opened #3180 "Breakpoints being deleted/moved on file save"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go

- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders

- Check your installed extensions to get the version of the VS Code Go extension

- Run `go env GOOS GOARCH` to get the operating system and processor architecture details

### Share the Go related settin

[2020-04-15 19:33] kkotowick commented on #3180
After some further testing, I've found that if I set:
[code]
Instead of `true`, this issue does not occur.

[2020-04-15 20:51] hyangah commented on #3180
Strangely I couldn't reproduce the problem. I copied the settings. Checked vscode/extension/go versions. The only difference I see is I am using mac, not windows. Puzzled.

![dbg](https://user-images.githubusercontent.com/4999471/79387176-33f85e80-7f39-11ea-9008-1a1cca725a0f.gif)

[2020-04-16 01:07] #2930 closed

[2020-04-16 01:09] ramya-rao-a commented on #3121
The latest version of the extension has the fix to this issue

[2020-04-16 01:10] gerrywp commented on #2930
that's ok in
vscode version :
1.44.1
a9f8623ec050e5f0b44cc8ce8204a1455884749f
x64

ms-vscode-go version:
0.14.0

[2020-04-16 01:10] ramya-rao-a commented on #2010
Thanks @anthonybgale

The latest version of the extension now has the fix to this issue

[2020-04-16 01:12] ramya-rao-a commented on #1903
@jhendrixMSFT Can you help with the question from @raygift above?

The fix associated with this issue is now available in the latest version of the extension

[2020-04-16 01:13] ramya-rao-a commented on #1229
The fix associated with this issue is now available in the latest version of the extension

When the `program` attribute in your debug configuration points to a file or `${file}` for current file, the file in question will be passed to delve allowing you to debug even when multiple files in the same folder have the main() function

[2020-04-16 01:13] #1229 closed

[2020-04-16 01:13] ramya-rao-a commented on #3006
Thanks @andig

The fix associated with this issue is now available in the latest version of the extension

[2020-04-16 01:13] #3006 closed

[2020-04-16 01:14] ramya-rao-a commented on #3096
The fix associated with this issue is now available in the latest version of the extension

We will use `go run .` by default unless the debug configuration has the `program` attribute pointing a file

[2020-04-16 01:14] #3096 closed

[2020-04-16 01:15] ramya-rao-a commented on #1836
The above mentioned changes are now available in the latest version of this extension.

[2020-04-16 01:15] #1836 closed

[2020-04-16 01:16] ramya-rao-a commented on #3075
This should now be fixed in the latest version of this extension

[2020-04-16 01:17] ramya-rao-a commented on #2930
Thanks for the follow up here @gerrywp!

[2020-04-16 01:17] hyangah commented on #3180
@kkotowick can you also share the list of active extensions?

[2020-04-16 01:31] stamblerre commented on #3111
Going to close this issue since there hasn't been much activity here. @stereoit: please reopen if you're still having this issue.

[2020-04-16 01:31] #3111 closed

[2020-04-16 01:32] stamblerre commented on #3114
Going to close this issue since there hasn't been much activity here. @ideawu: please reopen if you're still having this issue.

[2020-04-16 01:32] #3114 closed

[2020-04-16 01:45] #3152 closed

[2020-04-16 05:56] mingoal commented on #3105
@hyangah  it works on my machine

vscode settings.json:
[code]

[2020-04-16 07:16] DachuanZhao commented on #3129
The command is ```go env -w GOPROXY=https://goproxy.io/,direct```

[2020-04-16 08:38] mbertschler opened #3181 "Way to disable go.mod codelens"
My `go.mod` file shows code lens lines that look like **Upgrade dependency to ...**.

I would like to have the option to remove them, maybe with the same config that can remove the other codelens features:
[code]

[2020-04-16 09:27] jadwahab commented on #3106
Thanks @hyangah reinstalling it got it working, cheers!

[2020-04-16 12:32] hyangah commented on #3181
Try
[code]

For go files, use "[go]". Currently, there is no way to fine-control code lens behavior yet.

[2020-04-16 12:37] hyangah commented on #3181
Let's follow up in golang/go#38339 (specific to the current `go.mod` codelens behavior) and golang/go#36787 (which will require changes in vscode-go side to use codelens info from `gopls` instead of its custom codelens)

@stamblerre

[2020-04-16 12:37] #3181 closed

[2020-04-16 14:41] lggomez commented on #1903
@raygift this is an expanded version of that previous and esoteric "bad access" message. This means that due to a lldb issue in macOS, the panic cannot be recovered nor propagated back to the debugger, thus falling back to that immediate stacktrace

[2020-04-16 16:21] mbertschler commented on #3181
@hyangah thanks for that quick suggestion, does exactly what I want!

[2020-04-16 16:51] stamblerre opened #3183 "Be more resilient to missing Go installation"
I'm not sure if we have an open issue for this, but we've discussed adding support to install Go for users who don't already have it on their machines. We should also pop up a warning if the Go installation is missing.

Should VS Code Go continue working without a Go installation? (In case the user is using another build system).

/cc @hyangah

[2020-04-16 19:02] DylanReedy opened #3184 "No debugger variables but can see a stack trace c++"
I'm debugging a c++ application and, once I've hit a break point, cannot see any variables.  I can see a call stack. Additionally, when I stop the debugger, the application remains open in gdb, and I have to kill gdb from the command line.

OS: centos-release-7-7.1908.0.el7.centos.x86_64
gdb --version:  GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-115.el7

What other information can I add to be he

[2020-04-16 19:11] cfiderer opened #3185 "Build tags ignored when debugging"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-04-16 19:15] cfiderer commented on #3143
I also encountered this issue, and it is solved with Go 1.14.2.

[2020-04-16 19:18] stamblerre commented on #3143
Glad to hear it! I'm going to go ahead and close this issue then. @SahilMutha, please reopen if you're still having this issue with Go 1.14.2.

[2020-04-16 19:42] stamblerre commented on #3184
@DylanReedy: Was your intention to open an issue with the VS Code repository (https://github.com/microsoft/vscode)? This is the repository for the VS Code Go extension, so it doesn't handle debugging C++ programs.

[2020-04-16 19:50] DylanReedy commented on #3184
Absolutely, yes. Apologies - I'll move there

[2020-04-16 19:50] #3184 closed

[2020-04-16 20:25] polinasok commented on #1903
For completeness, posting the details of my before/after testing of this fix for handling "bad access" error from delve. (Looks like some of the before behavior might have evolved since this issue was filed in 2018.)

**Before the fix**
(1) Yellow highlighting of the bad line (*a++)
<img width="258" alt="before highlight" src="https://user-images.githubusercontent.com/51177946/79501739-665e9600-7f

[2020-04-16 21:08] hairyhenderson commented on #3179
@stamblerre I was seeing this dialog for a little bit, but now it's not popping up at all and `gopls` seems to be ... napping?

I'm seeing this error in the logs:

[code]

I _did_ delete the `api/model` directory (with a `git rm` command in a shell), but it appears something went out of sync and thinks that directory is still around?

[2020-04-16 22:58] stamblerre commented on #3179
That's definitely possible - thanks for the report @hairyhenderson. I'll add a regression test for this case (https://github.com/golang/go/issues/38407#issuecomment-614938365). `Ctrl + Shift + P` -> `Go: Restart Language Server` should fix it temporarily.

[2020-04-16 22:59] hairyhenderson commented on #3179
@stamblerre thanks! That's a super-helpful shortcut! I usually just `ps -eaf | grep gopls` and kill one at random until the right one restarts 😂

[2020-04-17 06:57] zenchan commented on #3178
@ramya-rao-a @hyangah Is there any plan to fix this? I had to disabled the extension for the typing lag. Thanks

[2020-04-17 11:13] mbamber commented on #3178
I am also getting this error now:
[code]

This appears to spawn a significant number of processes, which causes chrome tabs to fail to load, VSCode to freeze and new terminal sessions to fail with:
[code]

At first I thought this might be to do with 0.14.1, but I can repro with 0.14.0 so maybe not

[2020-04-17 14:49] hyangah commented on #3178
@zenchan Does the program go away if codelens is disabled? (`"[go]": { "editor.codeLens": false}`  That's not ideal but a temporary walkaround until the problem is fixed.

And if possible, try to run `go-outline -f <one of your open go test file>` to see if it works.

@mbamber are you using `gopls`? (`gopls` makes most of separate tools for different types of analysis unnecessary.) Is the problem

[2020-04-17 17:19] mbamber commented on #3178
@hyangah I am not using `gopls`, and I cannot repro the problem with 0.13.1

I can confirm that loading a go file with 0.14.x causes a large number of `pgrep` processes to be spawned by the extension host:

<img width="796" alt="Screenshot 2020-04-17 at 18 13 37" src="https://user-images.githubusercontent.com/11615823/79596160-f7af3480-80d7-11ea-879b-970d9554d7d2.png">

[2020-04-17 18:02] polinasok commented on #1903
For comparison, this is the behavior with another case of panic that does get properly propagated and is not impacted by this fix:
Code:
[code]
(1) Yellow highlighting of "func fatalpanic" in runtime/panic.go
<img width="538" alt="outofrange highlight" src="https://user-images.githubusercontent.com/51177946/79598514-f27ec500-8098-11ea-8fe9-96c8d2ba07ec.png">
(2) CALL STACK shows all goroutines, in

[2020-04-17 18:03] sudhNau opened #3187 "autocomplete for packages doesn't work at all"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.5 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.44.2
ff915844119ce9485abfe8aa9076ec76b5300ddd
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.14.1
- Run `go env GOOS GOARC

[2020-04-17 18:07] hyangah commented on #3178
Thanks @mbamber - that's helpful. In the above `go-outline` command, btw, did you see the use of the `-modified` flag?

@quoctruong @ramya-rao-a @zmb3 can you please take a look?  I believe `tree-kill` uses `pgrep` internally.

[2020-04-17 18:09] hyangah commented on #3187
There is no exported function starting with `prin` in `fmt`, so there is nothing to suggest.
In go,  all exported names should start with an upper case character.

[2020-04-17 18:18] stamblerre commented on #3187
`gopls` does fuzzy matching so the completion should still work with lowercase letters. @sudhNau: Can you please provide the output of `gopls -rpc.trace -v check path/to/file.go`? Or you can capture your `gopls` logs directly by following the steps here: https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs.

[2020-04-17 18:52] hyangah commented on #3106
Good to hear that reinstalling it fixed the issue.

Still strange that `Go: Locate Configured Go Tools` doesn't report the right `dlv`.
I will close this issue now - @micharaze, please reopen the issue if you still have the problem.

[2020-04-17 18:52] #3106 closed

[2020-04-17 18:57] hyangah commented on #3172
There is a new command `Go: Located Configured Go Tools` that prints the list of tools and their paths. Please try to use the command to verify the `gopls` VS Code is in the expected place. The binary (determined mostly based on the `PATH` env var) chosen in the integration terminal can be different from what the extension picks.

[2020-04-17 19:04] sudhNau commented on #3187
@stamblerre I could not find any gopls logs following the steps on the link (see the screenshot attached
<img width="1087" alt="Screenshot 2020-04-17 at 21 01 13" src="https://user-images.githubusercontent.com/2093393/79604651-c4c46b00-80ee-11ea-9d28-02bf44ee9300.png">
)

```gopls -rpc.trace -v check hello.go``` gives ```gopls not found``` but I am confused now, vscode is supposed to take care of

[2020-04-17 19:21] hyangah commented on #3187
@sudhNau Yeah, as @stamblerre said, there is another problem.

It doesn't seem like `gopls` is not being used - didn't the VS Code pop up to install 'gopls'? Can you try to install it - from the command palette `Go: Install/Update Tools`.

Then check all are installed in the expected location with `Go: Locate Configured Go Tools` command.

[2020-04-17 19:22] mbamber commented on #3178
Sorry @hyangah - which command are we talking about, I think I might be missing something

[2020-04-17 19:27] hyangah commented on #3178
@mbamber the `go-outline` command (partially redacted).

[2020-04-17 19:31] mbamber commented on #3178
Oh 🤦‍♂️ I see now. Yes the `--modified` flag is present.

[2020-04-17 20:09] abhishekkrm opened #3189 "Visual Studio Code freezes while browsing code."
Issue Type: <b>Bug</b>

The system was fine, but last few days its freezing a lot while browsing and editing the file.
MAC OS :
ProductName:	Mac OS X
ProductVersion:	10.15.3
BuildVersion:	19D76

VSCODE:
 1.44.2

VSCODE-GO:
0.14.1

Extension version: 0.14.1
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.3.0

<details>
<sum

[2020-04-17 20:09] abhishekkrm opened #3190 "Visual Studio Code freezes while browsing code."
Issue Type: <b>Bug</b>

The system was fine, but last few days its freezing a lot while browsing and editing the file.
MAC OS :
ProductName:	Mac OS X
ProductVersion:	10.15.3
BuildVersion:	19D76

VSCODE:
 1.44.2

VSCODE-GO:
0.14.1

Extension version: 0.14.1
VS Code version: Code 1.44.2 (ff915844119ce9485abfe8aa9076ec76b5300ddd, 2020-04-16T17:07:18.473Z)
OS version: Darwin x64 19.3.0

[2020-04-17 20:12] #3190 closed

[2020-04-17 20:17] hyangah commented on #3189
Can you please run `Preferences: Open Settings (JSON)` command to open your settings.json file and share all the settings with the `go.` or `["go"]` prefixes?

And, did you experience the same issue when using the go extension 0.13.x ? (You can test and downgrade the extension version from the extension view -> click the gear button for the Go extension -> choose "Install Another Version.." )

[2020-04-17 21:13] abhishekkrm commented on #3189
@hyangah  Thank for the information
I don't see any go specific settings.
<img width="637" alt="OpenSettings" src="https://user-images.githubusercontent.com/9190889/79614565-9fffd180-80b5-11ea-8e03-530d6b7319ea.png">

{
    "window.zoomLevel": -1,
}

I reverted it to 0.13.0 so far no issue will update here if observe hang/freeze again.

[2020-04-18 13:47] zmb3 commented on #3178
Wondering if this could be related to 16cbd97e24665695c205eb9291b144f47a2ff1d4.

I would continue to use `cp.kill()` when we know the process we want to kill doesn't spawn any child processes.  Using tree-kill to kill a single process is a bit much, as it has to launch at least one process in order to figure out what to kill.  By the time this happens the original go-outline process probably alrea

[2020-04-18 17:40] cliff76 commented on #2655
Roughly looking at the patch and the source in this repo I think you would have to:

- clone this repo `git clone https://github.com/microsoft/vscode-go.git`
- apply the patch `patch -p1 add-call-command.patch`
- rebuild the extension `npm run compile`
- copy the output over top of the existing extension.

I haven't actually tried or verified these steps. I'm just looking through the comments here

[2020-04-18 22:03] ramya-rao-a commented on #1846
There is no planned work to augment the out of the box auto-completion feature, and all future improvements will be done via the auto-completion feature from the language server.

@stamblerre Can we have an upstream feature request logged for this for `gopls`?

[2020-04-18 23:53] #3161 closed

[2020-04-19 00:55] ramya-rao-a commented on #2409
Apologies for the late reply here @cevn

Looks like VS Code supports menu items by extensions only if the backing command is defined in the same extension. Since the "go to implementation" is defined out of the box, it doesnt look like we can add this command to the context menu

[2020-04-19 00:55] #2409 closed

[2020-04-19 03:52] lggomez commented on #3169
As I said, I'm working on the rr replay branch and there is some support ready for core files:

![Captura de pantalla de 2020-04-19 00-26-18](https://user-images.githubusercontent.com/6326271/79678814-98cfe500-81d5-11ea-8aba-841853f30452.png)

Locals are not loaded but lines can be still traced from the stacktrace correctly, I think tihs can be polished further and according to the capabilities of

[2020-04-19 04:00] lggomez commented on #3169
Here's the core dump and the application, for reference and testing:

[core.zip](https://github.com/microsoft/vscode-go/files/4498341/core.zip)
[helloworld_modules.zip](https://github.com/microsoft/vscode-go/files/4498343/helloworld_modules.zip)

Additionally, the debug configuration used (attached to the local debugServer for adapter debug purposes but it can be commented):

[code]

[2020-04-19 06:11] BKasin commented on #3187
Attempting to install gopls currently results in a failure.
![image](https://user-images.githubusercontent.com/31324979/79680919-e34b6480-81c9-11ea-9313-5444116cb1ae.png)

[2020-04-19 07:00] BKasin commented on #3187
It would appear that my error is cause by having go version 1.11. I could have sworn I just updated, but I guess not.

[2020-04-19 14:44] alekseyt commented on #3136
I have the same issue. I'm not using modules or GOPATH, in fact, i'm using CMake scripts to build go code and this warning pops when i press any button. Before extension update it was working fine because i also don't have any dependencies, so there is nothing to resolve besides standard library. I'm using `go version go1.14 linux/amd64`.

[2020-04-19 14:48] butuzov opened #3191 "expected declaration, found ..."
Please answer these questions before submitting your issue. Thanks!

`gopls` log, `main.go` and `settings.json` can be found in https://gist.github.com/butuzov/9c658702ccb8944a9b2fdddd0d1bdc77

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	-  `go version go1.14.2 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of V

[2020-04-19 17:09] stamblerre commented on #3187
Ah yes, `gopls` is only supported for Go >= 1.12. Did updating resolve this issue for you?

[2020-04-19 17:16] stamblerre commented on #1846
Yep, just filed https://github.com/golang/go/issues/38528. I'll close the issue here.

[2020-04-19 17:16] #1846 closed

[2020-04-19 17:18] stamblerre commented on #3189
This sounds like https://github.com/microsoft/vscode-go/issues/3178, so maybe you can try the temporary workaround that @hyangah suggested there - adding `"[go]": { "editor.codeLens": false }` to your settings.

[2020-04-19 17:25] stamblerre commented on #3136
@alekseyt: `gopls` relies on on https://pkg.go.dev/golang.org/x/tools/go/packages?tab=doc, which requires a go/packages driver for a given build system (see docs [here](https://github.com/golang/tools/blob/7093a17b0467e77fb41804b2754a44f54a8c9ca2/go/packages/external.go#L20)). In the case that you've describe, `gopls` will be trying to load your workspace using the `go` command and failing, which

[2020-04-19 17:35] stamblerre commented on #3191
Thank you for the report and the logs. Unfortunately it's a bit difficult to understand what went wrong because the logs are not verbose. In the future, you can add the settings listed [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs) to get more detailed logs.

A few questions: Does this happen to you frequently or was it just this one time? Is there

[2020-04-19 18:01] BKasin commented on #3187
It did! So since some of the symptoms match mine, perhaps updating go is
worth a shot for OP.

On Sun, Apr 19, 2020 at 10:10 Rebecca Stambler <notifications@github.com>
wrote:

[2020-04-19 18:25] butuzov commented on #3191
Yes, in the last week or two, quite often.
1. If code has an error, I can't even save it because of "Saving... dialog"
2. If error expected to be removed with `goimports` (like a missing package in example above), but no `formatonsave` is running...

it's happens randomly.

It was existing file.

---
I have disable all settings at the moment at except, lets see if i can trigger same behaviour with

[2020-04-19 20:20] alekseyt commented on #3136
Umm. I'm not sure if i understand everything correctly, so `gopackagesdriver` is a binary that speaks JSON - i don't think i have it. I also don't think i have a Go workspace either, the project is in C, but there are some tools needed for projects that compiled from Go source code, then used during build, everything is integrated into CMake scripts as custom targets etc (doesn't matter). There is

[2020-04-19 20:38] butuzov commented on #3191
New case. Once i disabled Go extension, everything stopped.
https://gist.github.com/butuzov/eae0285bc04b61b245e985a896425958

Despite having 12 cores, my computer barely worked. I am not aware of what is triggering spawning "pgrep" processes.

[2020-04-19 22:54] #3151 closed

[2020-04-19 23:28] lggomezml commented on #3180
I´m now sure this is related to the debug feature, as it seems to be something related to the workbench events and actions rather than anything from the debug adapter side (AFAIK we can't even control that state programatically from that process, only via responses once a debug session is active)

[2020-04-20 02:12] zenchan commented on #3178
@hyangah `go-outline -f <my file>` is worked.
(`"[go]": { "editor.codeLens": false}` ) This really helpful for me, it's not lag when typing.
And i found out that when i disabled the setting `"go.useLanguageServer": false`, go-outline run with the flag `-modified`
![image](https://user-images.githubusercontent.com/6147641/79707058-d031b500-82ed-11ea-9e72-09f64824f383.png)

[2020-04-20 02:44] pauldotknopf opened #3192 "Support for "externalTerminal""
I'm developing an interactive project, I need full tty.

I tried to use ```"console": "externalTerminal"``` in ```launch.json```, but I see it isn't supported.

What are my options?

[2020-04-20 02:45] pauldotknopf commented on #3192
I'm sorry for the dup issue, closing.

#843

[2020-04-20 02:45] #3192 closed

[2020-04-20 02:46] stamblerre commented on #3191
That sounds like https://github.com/microsoft/vscode-go/issues/3189 and https://github.com/microsoft/vscode-go/issues/3178.

Thanks for sharing the `gopls` logs. Nothing jumps out at me as being problematic - what went wrong when you generated this log? I filed https://github.com/microsoft/vscode-go/issues/3179 to track these on-save issues, and a number of users have reported that disabling anoth

[2020-04-20 06:30] #2551 closed

[2020-04-20 07:01] kzhui125 opened #3193 "intellisense don't update"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.44.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.14.1
- Run `go env GOOS GOARCH` to get the operating system and processor ar

[2020-04-20 10:36] MorpheusXAUT opened #3194 "v0.14.1 does not seem to install gopls anymore"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14.2 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.44.2 ff915844119ce9485abfe8aa9076ec76b5300ddd x64 (Windows 10)
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.14.1
- Run `go en

[2020-04-20 13:42] sky126 opened #3195 "Add package to workspace in module mode"
When use go.mod and execute command  Go: Add package to workspace display Could not find package github.com/gin-gonic/gin

[2020-04-20 13:51] butuzov commented on #3191
ok. so... i was able to replicate the issue.

1.  I had reinstall `vsc`
2. All extensions disabled (except go)
3. Empty (common) main.go
4. Running snippet (ff)
5. Saving it without filling placeholders (file with errors)
6. Hitting `cmd+s` few times.

**We have spikes in `pgrep`**

Repeating this procedure few times. Yep, it's triggering "Save..." dialog issue, and spawning a few thousand  `pgrep

[2020-04-20 15:07] ramya-rao-a commented on #3178
The catch though is to know which processes spawns child processes and which don't.

[2020-04-20 15:17] ramya-rao-a commented on #3178
@zenchan, @mbamber, I have reverted the change https://github.com/microsoft/vscode-go/commit/16cbd97e24665695c205eb9291b144f47a2ff1d4 for just the go-outline tool in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of the extension. Can you try this version, remove the `"editor.codeLens": false` setting that you added and let us

[2020-04-20 15:45] hyangah commented on #3178
@butuzov, @abhishekkrm Can you try the new latest beta version with your original setting
(`"editor.codeLens": false`, linter, ...) and report if the beta version fixed the issue?

[2020-04-20 16:03] butuzov commented on #3178
I can't confirm that beta fixed the issue. It's still there.

1. Installed beta.
2. Restored linter settings (at a minimum level to run only `golint` with in golangci-lint)
3. saved file with an error.
4. enjoyed an increased number of `pgrep` spawning in my system.

P/S/
I also have checked 0.13.0 and 0.13.1 both are not affected. 0.14.0 start glitching almost immediately.

[2020-04-20 16:10] ramya-rao-a commented on #3178
@hyangah I only reverted the change to use tree-kill for the `go-outline` process as being discussed in this issue. @butuzov seem to be coming from #3191 which is about the linter and am not sure which issue is @abhishekkrm coming from.

Does `golangci-lint` fall under the category of tools that spawn sub processes?

[2020-04-20 16:21] hyangah commented on #3195
@sky126 In modules mode, the command adds the package loaded in the module cache to the workspace. The error may indicate the module cache is not yet populated. Can you try to build the project from the integrated terminal (so the `go` command downloads the dependencies)?
Or, if you are using the language server, I guess the language server should do some cache population job behind while doing co

[2020-04-20 16:22] butuzov commented on #3178
correct.

[2020-04-20 16:51] hyangah commented on #3178
@ramya-rao-a I think maybe we should revert the use of tree-kill not only for `go-outline`, but for most commands. I suspect those `pgrep`s @mbamber saw are not from `go-outline` but from other tools invoked when not using `gopls`. @ahishekkrm reported #3189 which was resolved by reverting to 0.13.

[2020-04-20 16:59] hyangah commented on #3193
@kzhui125 thanks for the bug report. Can you please capture the `gopls` log following the instruction [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code)?

@stamblerre

[2020-04-20 18:30] hyangah commented on #3194
I could reproduce this.

https://github.com/microsoft/vscode-go/blob/master/src/goLanguageServer.ts#L302
The return statement is misplaced. Will send a fix.

cc @stamblerre @ramya-rao-a

[2020-04-20 19:59] hyangah commented on #3183
I think the original discussion was from https://github.com/microsoft/vscode-go/issues/2989.
Currently the extension already pops up messages like https://github.com/microsoft/vscode-go/blob/dfa9cbb5e5cb2d8f29fc251358f92092adcf2e16/src/goInstallTools.ts#L426

Do we want the message to be more specific to suggest how to download the go binary?
(Some OS distributions have their own way of installing

[2020-04-20 20:31] hyangah commented on #3185
I briefly looked into how `buildTags` and `testTags`, and `buildFlags` are being used in different context currently - which is not pretty but complex. I don't know why this extension treats `-tags` specially unlike other go build flags (see `go help build` for the list of build flags).

Anyway - @ramya-rao-a we can compute and plumb the `buildFlags`, `buildTags`, and `testTags` (only if the debug

[2020-04-20 20:44] raymondjolly commented on #2407
I wanted to provide an update to the team on this issue.  Since the new release of the vscode-go add on which uses the gopls library, I am no longer experiencing this issue to taskkill hell.  In fact, I am actually seeing new highlighting features which I could not see before.  I actually can say that Go with VS Code is actually usable again.

[2020-04-20 20:47] raymondjolly commented on #2407
By the way, Rebecca I saw your gopls presentation on YouTube which led me to try VS Code again.  Thanks for providing the background on the challenge of having different editors on the market.  I think that you and your team are doing great work.

[2020-04-20 20:54] stamblerre commented on #3195
I agree that this feature doesn't make much sense in module mode. Maybe it could only work for replace targets?

[2020-04-20 21:12] stamblerre commented on #3191
The `pgrep` issue was caused by the release of 0.14. A temporary workaround would be to downgrade back to the 0.13 version of the extension. It's hard to figure out what's going on with `gopls` versus this issue since this issue isn't caused by `gopls`.

[2020-04-20 21:14] stamblerre commented on #3189
Duplicate of #3178

[2020-04-20 21:14] #3189 closed

[2020-04-20 21:14] stamblerre commented on #3189
Let's continue the discussion on #3178.

[2020-04-20 21:17] stamblerre commented on #2407
Glad to hear VS Code is working well for you now, @raymondjolly! Thank you for the kind words 😊

Looks like we're having new issues related to taskkill, which are being discussed on https://github.com/microsoft/vscode-go/issues/3178, so I'll close this issue now.

[2020-04-20 21:17] #2407 closed

[2020-04-20 22:04] hyangah commented on #3180
@lggomezml That sounds like this is an issue to be reported to upstream (microsoft/vscode).

@kkotowick I cannot even reproduce this on my mac to file an issue myself. It may be possible that this is isolated to the windows UI. Can you please file an issue in the upstream repo? Thanks.

[2020-04-20 22:07] hyangah commented on #3177
It seems the issue https://github.com/microsoft/vscode-go/pull/3079 is trying to fix is also related.
@fnmunhoz

[2020-04-20 22:11] lggomez commented on #3032
@esinek the DAP only has a ValueFormat field on the [EvaluateRequest](https://microsoft.github.io/debug-adapter-protocol/specification#Requests_Evaluate) which specifies whether the field should for formatted in hexadecimal or not (and makes sense from the protocol perspective, I guess having anything more liberal would be a pandora box for implementers). From our side on the response, formatting

[2020-04-20 23:46] lggomez commented on #2968
I can`t reproduce the first issue:

<img width="1151" alt="Screen Shot 2020-04-20 at 20 25 30" src="https://user-images.githubusercontent.com/6326271/79808811-49a8c200-8345-11ea-99d4-605939b05782.png">

The second is a separate issue on our side, we're not sending the correct expression to delve:

<img width="1097" alt="Screen Shot 2020-04-20 at 20 43 16" src="https://user-images.githubusercontent

[2020-04-21 00:03] lggomez opened #3198 "Cannot view nested maps on watch/variables panes - "Failed to eval expression""
## What version of Go, VS Code & VS Code Go extension are you using?

- Run go version to get version of Go
        go version go1.13.5 darwin/amd64
- Run code -v or code-insiders -v to get version of VS Code or VS Code Insiders
        Version: 1.41.1 Commit: 26076a4de974ead31f97692a0d32f90d735645c0
- Check your installed extensions to get the version of the VS Code Go extension
        Version:

[2020-04-21 00:04] lggomez commented on #2968
As explained, I created #3198 with @Aisuko`s bug

[2020-04-21 00:10] lggomez commented on #3198
Here is the relevant code which does the variables request to delve and converts said response's variable representations from the delve response into DAP variables:

request:
https://github.com/microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L1149-L1233

variable mapper:
https://github.com/microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L1614-L1694

[2020-04-21 00:45] lggomez commented on #2992
The console commands when sent trigger an [EvaluateRequest](https://microsoft.github.io/debug-adapter-protocol/specification#Requests_Evaluate) method of the debug adapter, which instead calls [Eval method](https://godoc.org/github.com/derekparker/delve/service/rpc2#RPCServer.Eval) of the delve RPC server

As a first step, we would need to execute the call command from the debug adapter client as

[2020-04-21 02:04] WodansSon commented on #3097
@stamblerre, yes it is setin `settings.json`:
[code]

[2020-04-21 02:45] stamblerre commented on #3097
If you have that setting, then the tools used by VS Code Go will be installed in that directory, unless you no longer want to use that?

If you keep using the `go.toolsGopath`, you will need to install your manually built version of `gopls` to the `toolsGopath`. You can either copy it there manually, or set your GOPATH to the `toolsGopath` value before running the `go install` command.

[2020-04-21 03:46] sky126 commented on #3195
But official package is no problem. This feature is convenient for reading the source code.

[2020-04-21 05:13] onlyafly commented on #3191
Thanks, @stamblerre! This saved me from temporarily switching to a different editor!

[2020-04-21 06:31] ramya-rao-a commented on #3195
The purpose was to load different packages in a multi root workspace mode in VS Code.

Right now, you can even add standard packages to the workspace. I would assume that standard packages should not be modified either right? So, why restrict the packages from being added to the workspace?

[2020-04-21 07:32] xgdgsc commented on #3172
I have gopls at

[code]
And it warns about outdated everytime. Should I install a fixed version?

[2020-04-21 08:27] kzhui125 commented on #3193
Here is a test:

![2020-04-21](https://user-images.githubusercontent.com/11925432/79843323-b32fdb80-83ec-11ea-93e4-edcccc0c5ce2.gif)

<details>
<summary>here are the gopls logs</summary>
<pre><code>
[Trace - 16:21:30.942 PM] Sending request 'textDocument/hover - (412)'.
Params: {"textDocument":{"uri":"file:///private/tmp/test/ooc/Inheritance/student_test.go"},"position":{"line":9,"character":32}}

[2020-04-21 09:58] lemonacy commented on #3106
`go get -u github.com/go-delve/delve/cmd/dlv` fix the problem.

[2020-04-21 14:23] hyangah commented on #3195
@sky126 As I described in [my previous explanation](https://github.com/microsoft/vscode-go/issues/3195#issuecomment-616660858) that is because the package (and its module) is not yet loaded in the cache. Run `go get <the package>` or if your project already has dependency on the package declared, try to build (so the go command can download the module in the cache). If the module/package is in the

[2020-04-21 14:42] cliff76 commented on #2655
I've tried the patch and it sorta works. I couldn't figure out how to debug the debugger or get breakpoints to fire in debug as I stepped thru a go program I debugged so I gave up and went to IntelliJ. If I had more time/energy I would pursue this further.

[2020-04-21 15:25] sky126 commented on #3195
suggest fix depend packages available. main purpose is edit the dependency source code for debugging or reading the source code.

[2020-04-21 18:15] stamblerre commented on #3172
@xgdgsc: Yes, that is an old version of `gopls`. It should be installed in module mode, and the version number 0.4.0 should be the output.

[2020-04-21 18:43] stamblerre commented on #3193
One thing I'm noticing in your logs is this error:

[code]

I don't know if it's related, but it definitely looks like a bug. Can you confirm that you are using `gopls/v0.4.0` (`gopls version`)? Do you have a file with this name?

In general, this looks like a caching bug, so once you confirm your `gopls` version I will spend some time trying to reproduce it.

[2020-04-21 18:46] hyangah commented on #3193
Oh, the workspace is probably in `/tmp`. I noticed that vscode sends the `/private/tmp` path if the repo is in /tmp directory on mac. I don't know the rational but usually, I just have been avoiding using the `/tmp` directory when using vscode :-(.

Maybe double check with the vscode team and implement a workaround?

[2020-04-22 00:21] chapati commented on #3096
Thank you @ramya-rao-a @hyangah

[2020-04-22 01:58] tom-shan commented on #3154
fixed by https://github.com/microsoft/vscode-go/commit/383c0c0bd826ebcc6256d2da3039f8ed8da11217

[2020-04-22 01:58] #3154 closed

[2020-04-22 02:16] kzhui125 commented on #3193
here is a example not using /private/tmp :

gopls version: 0.4.0

![2020-04-22](https://user-images.githubusercontent.com/11925432/79933234-1029a100-8482-11ea-8091-01afdcc06a06.gif)

<details>
<summary>the gopls logs</summary>
<pre><code>
[Info  - 上午10:01:07] 2020/04/22 10:01:07 Build info
----------
golang.org/x/tools/gopls 0.4.0
    golang.org/x/tools/gopls@v0.4.0 h1:G4+YP9kaV4dJb79J5MobyApxX493

[2020-04-22 02:26] stamblerre commented on #3193
@kzhui125: It looks like you may have removed the `-rpc.trace` flag from your `go.languageServerFlags` settings, as these logs are not verbose. Do you mind posting a log with those added back? Also, I'm still seeing the `file=/Users/zm/Documents/tmp/samples/case-insensitive import collision` - is this a file that you have in your project?

[2020-04-22 02:42] kzhui125 commented on #3193
![2020-04-22 10 39 18](https://user-images.githubusercontent.com/11925432/79934774-f427fe80-8485-11ea-8b4d-15aa508691ff.gif)

<details>
<summary>the gopls logs</summary>
<pre><code>
[Trace - 10:39:30.154 AM] Sending request 'initialize - (0)'.
Params: {"processId":57216,"clientInfo":{"name":"vscode","version":"1.44.2"},"rootPath":"/Users/zm/Documents/test","rootUri":"file:///Users/zm/Documents/tes

[2020-04-22 02:45] fourcels commented on #3104
launch.json
[code]

main.go
[code]
[code]

![Screen Shot 2020-04-22 at 10 36 29](https://user-images.githubusercontent.com/1042568/79934742-dfe40180-8485-11ea-9e59-67a0a76fa952.png)

@polinasok

[2020-04-22 02:49] kzhui125 commented on #3193
here is a example that when I change package name, it shows error:

![2020-04-22 10 45 38](https://user-images.githubusercontent.com/11925432/79935190-deff9f80-8486-11ea-9de1-16bb7af5fc98.gif)

<details>
<summary>the gopls logs</summary>
<pre><code>
[Trace - 10:45:55.064 AM] Sending request 'initialize - (0)'.
Params: {"processId":57789,"clientInfo":{"name":"vscode","version":"1.44.2"},"rootPath":

[2020-04-22 03:01] xgdgsc commented on #3172
Thanks. Solved.

[2020-04-22 03:05] stamblerre commented on #3193
The package name changing error will be resolved in `gopls/v0.5.0` - see https://github.com/golang/go/issues/32149.

Do you have a `/Users/zm/Documents/tmp/samples/case-insensitive import collision` file in your project? There seems to be something wrong because `gopls` seems to be consistently trying to load it, which could cause a significant slowdown.

But thank you for the logs - I was able to

[2020-04-22 03:06] kzhui125 commented on #3193
Hello, I don't have the `case-insensitive import collision` file in my project, thanks.

[2020-04-22 03:10] kzhui125 commented on #3193
@stamblerre here is the source code:

[test.zip](https://github.com/microsoft/vscode-go/files/4513604/test.zip)

Thanks,

[2020-04-22 03:34] Aisuko commented on #3198
@lggomez Thanks for helping create the issue. Mark and waiting for fixing.

[2020-04-22 12:18] codingKerensa opened #3200 "Auto-complete keyword root only"
Would be great if the auto-complete had an keyboard combination to just complete the keyword currently being typed. i.e just the word _before_ a period.

**Example:**
I'm wanting to type
_case fooBarVeryLongNameHere._**unusual**

I start typing `case foo`...
and the auto-complete suggestions are:
- fooBarVeryLongNameHere.**commonX**
- fooBarVeryLongNameHere.**commonY**
- fooBarVeryLongNameHere.**c

[2020-04-22 14:36] SahilMutha commented on #3143
I am still facing this issue with go 1.14.2. I uninstalled go and reinstalled. Do I need to do anything else ?

[2020-04-22 14:42] SahilMutha commented on #3143
I am still facing this issue with go 1.14.2. I uninstalled go and reinstalled. Do I need to do anything else ?

[2020-04-22 14:43] holynakamoto commented on #3097
@stamblerre I was able to resolve this by setting go.gopath in settings.json to my $GOPATH

[2020-04-22 16:41] hyangah commented on #3200
Can you please provide your current settings relevant to the go extension? Those starting with `"go"`, `"[go]"`, `"gopls"` prefixes.

[2020-04-22 16:42] #3172 closed

[2020-04-22 16:48] hyangah commented on #3193
@stamblerre the `case-insensitive import collision` is from the [`go/pkg`](https://github.com/golang/go/blob/65f46486a1f27017bc991e132725e8d939d069dd/src/cmd/go/internal/load/pkg.go#L1726). This is probably related to the use of both "Inheritance" and "inheritance" as a package name in the source code, but I don't know how this error message ended up in the query.

[2020-04-22 16:51] hyangah commented on #3143
@SahilMutha

[2020-04-22 17:56] hyangah commented on #3178
I have difficulty in reproducing the problem. If you have detailed instruction (settings.json, os, open files) and public repositories we can use to reproduce the bug, please share with us.

@butuzov what is the version of `golangci-lint` you are using? Do you have any custom configuration in use for the `golangci-lint`?

[2020-04-22 17:57] hyangah commented on #3163
@FiloSottile If you are using the Nightly version, this should be fixed now. Let us know if it's still an issue.

[2020-04-22 18:34] hyangah commented on #3093
@JK-97 Do you still have the same issue with the latest versions of the VS Code Go extension (0.14.x) and the Go (1.14.x)? If so, is it possible to share a repro case (the code for web-go/main.go and web-go/cmd/*.go)?

[2020-04-22 18:34] codingKerensa commented on #3200
Is that from settings.json? Not much, but here it is:
[code]

**Go extension version:** 0.14.1
**Vscode version:** 1.44.2
**Go version:** go1.14.2 linux/amd64

[2020-04-22 18:56] stamblerre commented on #3200
Thanks for clarifying! I think you may be running into a `gopls` bug, since the `fooBarVeryLongNameHere` completion should definitely show up. Inside of a `case` statement, we rank based on the type being switched on - in this case, are all the fields of the same type?

/cc @muirdm for deep completions

[2020-04-22 19:23] muirdm commented on #3200
Can you provide steps to reproduce the issue?

[2020-04-22 20:19] stamblerre commented on #3193
Thanks for pointing this out, @hyangah! I thought that might be the case, but I'm really not sure how it happened. I'll try to reproduce on my Windows machine.

[2020-04-22 20:22] FiloSottile commented on #3163
@hyangah Awesome! Are there docs on how to install Nightly? Can't find it with a GitHub search.

[2020-04-22 20:35] FiloSottile commented on #3163
Switched to Nightly, dropped the workaround, and it seems to work!

[2020-04-22 20:57] stamblerre commented on #3193
I opened an issue in the upstream repository (https://github.com/golang/go/issues/38602), so maybe we should continue the conversation there. I'll close this issue.

[2020-04-22 20:57] #3193 closed

[2020-04-22 23:07] felipecaputo opened #3201 "Add support to configure workspace with a go installed version"
I'm currently using [GVM](https://github.com/moovweb/gvm) to manage versions of some projects we are currently using.

I've run into sobre problem, that I needed to use `-default` to be able to use it correctly in VSCode and toolpath.

I was thinking about adding a command to `Configure workspace to use goVersion`, that will edit `Workspace Setting` and change the value of `gopath, gotoolpath and

[2020-04-23 00:37] AddictArts opened #3202 "Format document no longer working or running go fmt after vs code update"
go 1.14.2
code 1.44.2
darwin64

Opened a go workspace project and noticed that after changes to a go file there was no longer formatting. I can run `go fmt` from the command line. This used to word and recent updates must have killed it. Trying to run the format document in vscode has no effect. I have the go tools all installed.

[2020-04-23 07:17] codingKerensa commented on #3200
Updated my gopls yesterday, and can now, longer reproduce where the keyword is not included in the list. Now `fooBarVeryLongNameHere` does show up as the bottom entry of the list. That takes care of any bug :-)  I thought the previous behaviour was by design.

So since they keyword is now listed there may little need for my specific feature request. Many thanks for your time.

Complentary info, if

[2020-04-23 07:44] butuzov commented on #3178
https://www.youtube.com/watch?v=nR8gWDuSKVw

I am using `golangci-lint` of one of the previous versions, as binary in releases of the `golangci-lint` is build with go 1.14.

[2020-04-23 13:07] hyangah commented on #3202
@AddictArts Can you please share the go extension version and your go extension settings? (Those with `"go"`, `"[go]"`, and `"gopls"` prefixes in `settings.json`)
Thanks!

[2020-04-23 14:20] muirdm commented on #3200
Regarding your original post, if you want "fooBarVeryLongNameHere.unusual" you can just type something like "fooBarunu" to fuzzily match straight to what you want. This is faster than first completing to "fooBarVeryLongNameHere" and then to "unusual".

The code as written does not complete because gopls doesn't know the type of `val` because `getValue` is not defined. If you make it clear `val` is

[2020-04-23 14:26] hyangah commented on #3201
I am curious about a more general approach that allows easy switch between different go versions even without GVM. For example, the vscode python extension offers a similar feature and I think it searches usual installation locations:  https://code.visualstudio.com/docs/python/environments

@felipecaputo I am not very familiar with GVM so want to learn about it more. I think switch between go vers

[2020-04-23 14:38] codingKerensa commented on #3200
Ah, I see... I did read about that fuzzy match, but I guess I forgot. That solves it, I believe. Thanks! :-)

[2020-04-23 14:38] #3200 closed

[2020-04-23 16:16] stamblerre commented on #3165
@katiehockman filed a similar issue in the upstream repository, so I'm going to close this issue in favor of that one: https://github.com/golang/go/issues/38603.

[2020-04-23 16:16] #3165 closed

[2020-04-23 16:57] AddictArts commented on #3202
@hyangah thanks for asking.
Extension: 0.14.1
settings.json: none // no "[go]"
in workspace settings: "go.useLanguageServer": true

So, I noticed in the status bar clang-format complaining that it couldn't format the doc. Don't know when that happened. I uninstalled the clang-format extension and it now is formatting. My apologies. Grr, don't know why it was trying to format a go source file.

Tha

[2020-04-23 17:08] stamblerre commented on #3202
Thanks for following up! Glad it's working again.

[2020-04-23 17:08] #3202 closed

[2020-04-23 18:23] acourdavault commented on #3106
@lemonacy this does not even compile on my mac.
[code]

[2020-04-23 18:29] FiloSottile commented on #3165
FWIW, I think the docs should be about how to make the whole vscode-go work for standard library development, not just gopls.

[2020-04-23 20:50] felipecaputo commented on #3201
I was thinking exactly in the same way python extension works, when you can select interperter for the workspace, and add a status bar info with selector of "environment", searching for possible environments.

GVM install GO versions and uses each on in a diferente goRoot, but something that was hard for me with it is that it is integrated with `bash` or `zsh` and in VSCode somethimes it goes to m

[2020-04-23 23:01] stamblerre commented on #3106
@acourdavault: Please see the Delve installation instructions here: https://github.com/go-delve/delve/blob/master/Documentation/installation/osx/install.md.

[2020-04-24 00:39] JimAdkins commented on #2655
So, not sure why, but I can't seem to get this to work.

patch -p1 < add-call-command.patch
[code]

Any ideas? Thanks!

[2020-04-24 01:09] felipecaputo commented on #3201
I was thinking here, and was thinking about creating the GVM extension, to allow install and choose version of GVM outside of the vscode-go, but allow support to configure the version in the vscode-go extension

[2020-04-24 02:23] Aisuko commented on #2655
The feature is required here. Any idea and PR will be welcome here. But there may need many projects to move together. And thanks a lot for Microsoft `vscode-go` engineers

[2020-04-24 10:03] neclepsio opened #3204 "gopls does not start behind a blocking proxy"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.14.2
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.44.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.11.4
- Run `go env GOOS GOARCH` to get the operating system and processor architecture details
	- wi

[2020-04-24 10:08] neclepsio commented on #3204
Upon further inspection, at `goLanguageServer.js:428`, `versions` is `[null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null, null]`.

[2020-04-24 14:39] cfiderer commented on #3185
@hyangah thank you for the tip: not nice, but a workaround.

[2020-04-24 21:33] firelizzard18 opened #3206 "Debugger fails to connect to remote headless multi-client session"
# What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.44.0
2aae1f26c72891c399f860409176fe435a154b13
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.14.1
- Run `go env GOOS GOARCH`

[2020-04-25 00:54] rmuddana commented on #3194
Is this the reason for code auto completion, code navigation (IntelliSense) is not working while using modules (go.mod)?
When i try with simple go file code suggestions and completion works however when i workspace with go.mod file it doesnt work.
I am using the latest build i.e 1.44.2 and the ms-vscode.go is 0.14.1

[2020-04-25 01:04] hyangah commented on #3194
@rmuddana It's unlikely to be related. This bug affects only the gopls auto-upgrade functionality.

Please file a separate issue (remember to include the related settings (those starting with "go", "gopls", "[go]" prefixes), enough details to reproduce the issue, gopls version, and if possible, the gopls trace (https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#vs-code)

[2020-04-25 05:43] #3194 closed

[2020-04-25 05:46] #3204 closed

[2020-04-25 05:54] ramya-rao-a commented on #2407
@raymondjolly Thanks for the follow up!

In the latest release of the extension we moved away from using taskkill.exe directly to using the [tree-kill](https://www.npmjs.com/package/tree-kill) package in order to kill older processes. That explains why you don't see the taskkill.exe prompts anymore.

[2020-04-25 16:40] eladciuraru opened #3207 "Disabling the import formatting on auto complete"
I want to do a simple task of disabling anything related to the auto code format and imports,
but it doesn't matter how much I try to fight it, the go tooling around VS Code doesn't seem to care, and just does what ever it wants.

I opened this issue about the setting: `"go.autocompleteUnimportedPackages": false,`
it just doesn't work, any time I use the auto complete for a package I haven't impor

[2020-04-25 17:05] stamblerre commented on #3207
Because the language server is still in the alpha state, its settings act separately from the default Go extension settings. This setting does not affect the language server, which will still offer completions for packages you have not yet imported. You can disable this behavior by setting:

[code]

We are planning to unify the settings for the extension and `gopls` once `gopls` reaches a stable s

[2020-04-26 00:32] ramya-rao-a commented on #1852
@karthikraobr's fix works for single line comments
The only way we can extend this to multi line comments is to parse the file and keep track of the entire file contents which is something we generally avoid doing for perf reasons.

Therefore, closing this issue as there is no further work planned here

[2020-04-26 00:32] #1852 closed

[2020-04-26 00:44] ramya-rao-a commented on #1928
Extra cool would be an option to open the appropriate web page (but that can get complicated if it is not a top level package in a repo)

The original ask has been addressed by the use of language server i.e navigating to the source path and the web page

`Go: Add Package to Workspace` can be used to add the package to the workspace.

To open the package in a new folder is not a feature we will be

[2020-04-26 00:44] #1928 closed

[2020-04-26 01:58] ramya-rao-a commented on #2446
Closing this issue as in the upcoming version of the extension, we drop the support for falling back to the extension's format feature when using the language server. So, there wouldnt be multiple formatting providers being registered at the same time

[2020-04-26 01:58] #2446 closed

[2020-04-26 02:11] willfaught opened #3208 "Extension can't do IntelliSense, it blocks new procs, and it spikes CPU"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14.2 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.44.2
ff915844119ce9485abfe8aa9076ec76b5300ddd
x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.14.1
- Run `go env GOOS GOARC

[2020-04-26 05:22] garethjensen commented on #3106
This shouldn't be an issue if you rebuild and update your Go tools.

In the command palette, run: `Go: Install/Update Tools`

[2020-04-26 18:07] eladciuraru commented on #3207
Thanks for the reply, this works now as expected, so I am closing this issue,
but I have something I would like to add.

I understand the reasoning for separating the settings, but it has a bad effect on users of those tools, and the fact that it is has completely separate key, instead of being a sub key inside the regular go settings, makes it even less intuitive. The first thing I tried was obvi

[2020-04-26 18:07] #3207 closed

[2020-04-26 21:32] lggomez commented on #3198
For reference, the correct expression to get the innermost property of this map:

[code]

is the following:

`p nestedmap["issuer"].(data)["foo1"].(data)["foo2"]`

[2020-04-26 21:56] ramya-rao-a commented on #1497
After looking at attempts to implement this feature #1590 and #3020, I am having second thoughts about the feature being requested in #1497

This is not going to be trivial as ideally, each feature will need to trigger the check for build tags on current file.

When the feature is on a package or workspace level, these checks cannot be done as we the check assumes we are working with a single file

[2020-04-27 14:15] cat-turner commented on #3136
I have this issue today. I would like this to work out of the box. I installed non-insiders version and said no to new gopls related things, and I no longer have this issue.

[2020-04-27 17:12] hyangah commented on #3208
@willfaught thanks for the report.
 - Were you still able to reproduce with the old version of the extension (v0.13.x)?
 - Do you have a cpu profile and process explorer output to share?

https://github.com/microsoft/vscode/wiki/Performance-Issues#visual-studio-code-is-consuming-a-lot-of-cpu

Thanks!

[2020-04-27 17:23] hyangah commented on #3206
@polinasok @quoctruong I am not familiar with DAP client's expectation when during initialization - based on the log, it seems DAP client was unhappy about something after ConfigurationDoneRequest is done. Can you please take a look? (Note the use of `--accept-multiclient --continue`. This is reproducible.)

[2020-04-27 19:34] hyangah commented on #3011
@yalcinmelihyasin

I don't know what's the best way to handle the arbitrary file mappings like
[code]
This seems more than the relative path mappings. I guess this is a typo?

@quoctruong, can you please take a look if your plan on utilizing `ListSources`/`ListPackagesBuildInfo` can handle the correct remote path separator inference and mapping in this case?

[2020-04-27 20:33] yalcinmelihyasin commented on #3011
@hyangah thanks for pointing it out. Yes it was a typo. I have edited the original post as well. It should be `client/client.go`

[2020-04-27 23:48] #1701 closed

[2020-04-28 01:00] artivilla opened #3210 "Improve Error Messaging. When a pointer based type has all the interface methods defined, the messaging in the editor is incorrect."
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.14.2 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
- Code Insiders
[code]
- Go Extension Nightly
![image](https://user-images.githubusercontent.com/2120159/80434860-f09ed800-88c8-11ea-9ada-9a12c7724a8e.png)

- Run `go e

[2020-04-28 01:36] stamblerre commented on #3210
This is actually an issue in the Go standard library, and it will be fixed in Go 1.15 (see https://golang.org/cl/229801). If you're interested in trying it out now, you can download Go from source (https://golang.org/doc/install/source) and rebuild `gopls` with it. Otherwise, this fix will be released approximately 3 months from now (in keeping with Go's 6 month release cycle).

[2020-04-28 01:36] #3210 closed

[2020-04-28 06:03] ramya-rao-a commented on #3185
Note on passing build tags via the debug configuration: https://github.com/microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#using-build-tags

Some history here:
- The debug adapter and therefore everything around debugging runs in a different process than the rest of the extension
- The debug adapter does not have access to any of the `vscode` apis that the rest of the extension does have

[2020-04-28 20:06] quoctruong commented on #3011
@hyangah It should work for this case in theory but I need to test it out more. @yalcinmelihyasin Can you share the build command that you use?

[2020-04-29 02:35] willfaught commented on #3208
I don't know how to use an old version of an extension. Can you point me to a link?

When I look at Activity Monitor (macOS) while the problem happens, I see about 125 pgrep processes under the "Code Helper (Renderer)" process (which spiked up to 151% this time). There's also a godef process.

Note that since I can't create new processes, I can't run `code --status`:

[code]

Here's what `code --s

[2020-04-29 03:51] aybabtme opened #3212 "non-sensical errors shown on Go file"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.14.2 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
[code]
- Check your installed extensions to get the version of the VS Code Go extension
	- `0.14.1`
- Run `go env GOOS GOARCH` to get the operating system and processor

[2020-04-29 04:01] stamblerre commented on #3212
Thanks for the report and detailed images! Can you confirm that your `gopls` version is `v0.4.0` (`gopls version`)? Can you try to capture your `gopls` logs when you see this happen next? (See details [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs). Finally, are you seeing this happen in a public repository or a private one? If it's public, can you p

[2020-04-29 04:18] aybabtme commented on #3212
Hi @stamblerre, it's a private repository.

[code]

I'll try to get logs next time this happens. For now, I restarted `gopls` and the issue went away.

[2020-04-29 07:03] vijayrajah commented on #3099
@StiviiK I had the exact same issue.

`Error on CreateBreakpoint: could not find statement at /a/b/c/.../config.go:61, please use a line with a statement`

I was able to get breakpoints in my main.go file working, but not on sub modules (like <module>/coonfig/config.go )

I was able to get it working if I use
`"program": "${workspaceRoot}/",`

instead of  ~~/main.go~~, like what you have here

Hop

[2020-04-29 07:31] StiviiK commented on #3099
"program": "${workspaceRoot}/",
instead of /main.go, like what you have here

I will try that thank you!

[2020-04-29 15:43] iamshreeram opened #3213 "Incorrect CC and CXX on vs-code"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.12.7 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Version: 1.44.2
- Check your installed extensions to get the version of the VS Code Go extension
	- Version: 0.14.1
- Run `go env GOOS GOARCH` to get the operating sys

[2020-04-29 16:18] yalcinmelihyasin commented on #3011
we use bazel for building.

[2020-04-29 19:01] #3093 closed

[2020-04-29 19:29] hyangah commented on #3213
@iamshreeram The extension itself don't set those environment variables, but inherit from what VS Code itself sees. Are those `CC` and `CXX` environment variables set in any of your login shell  (https://code.visualstudio.com/docs/editor/integrated-terminal#_why-are-there-duplicate-paths-in-the-terminals-path-environment-variable-andor-why-are-they-reversed) or in the terminal app where you launch

[2020-04-29 19:54] hyangah commented on #3208
@willfaught thanks for capturing the profile data.
To use an old version of the extension, open the extensions view ( `⇧⌘X`  ) and then select the Go extension -> Install Another Version. Then choose any of 0.13.x.

![image](https://user-images.githubusercontent.com/4999471/80639978-cbc57480-8a30-11ea-92fa-2bc8a066a440.png)

Indeed it's showing it uses a lot of CPUs spawning (probably `pgrep`)  to

[2020-04-29 21:07] heschik commented on #3165
Happened to skim this bug. `std/` prefixes would most likely be a consequence of adding a new package, or maybe just a new symbol to a package, while being in the wrong `GOROOT`.

[2020-04-30 03:34] iamshreeram commented on #3213
@hyangah , Both `process.env.CC` and `process.env.CXX` are empty. They are returning `undefined`.

Thanks for `go.toolsEnvVars`. This is working.

[2020-04-30 03:34] #3213 closed

[2020-04-30 17:56] hyangah commented on #2380
We currently have a couple of open PRs to add snippets and we have already 50+ snippets.

I understand the desire for more snippets, but I think we need to stop adding more snippets to this extension. My reasoning is that

- due to the current limitation in VS Code's snippets (https://github.com/microsoft/vscode/issues/10565 etc), it's hard to selectively disable snippets included in an extension.

[2020-04-30 19:16] sandipb opened #3214 "Trying to edit toolsEnvVars via rich interface creates an invalid settings entry"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-04-30 21:38] hyangah commented on #3214
The rich setting UI is owned by vscode, so github.com/microsoft/vscode is a better place for this question.

Based on https://code.visualstudio.com/docs/getstarted/settings, I thought this was working as intended - they should be on top-level. Seeing `"go.toolsEnvVars"` greyed out in your screen shot, there must be something that I don't know yet. (what is `"settings"` top level key?)

[2020-04-30 21:40] hyangah commented on #3214
Ah, Found it https://code.visualstudio.com/docs/editor/multi-root-workspaces#_settings

[2020-04-30 23:19] willfaught commented on #3208
It repros on v14.0, but not v13.1.

I haven't tried gopls. I will eventually once it's stable and the community (and vscode-go) switches to it as the default.

[2020-05-01 19:24] ericmillin commented on #2210
It is painful. Please improve.

[2020-05-01 19:39] heschik opened #3215 "Go To Symbol breaks after a few uses"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.14 linux/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `1.44.0`
- Check your installed extensions to get the version of the VS Code Go extension
	- `1.14.1`
- Run `go env GOOS GOARCH` to get the operating system and process

[2020-05-02 13:50] hyangah commented on #3215
I originally thought this was an upstream vscode or vscode lsp client issue, but I failed to repro with a simple extension with a workspace symbol provider, or with a simple language server. Looking into all `gopls` traces we captured, I noticed a pattern like the following:

[code]

The `workspace/symbol` request cancelled later never returned. According to the [LSP spec](https://microsoft.github

[2020-05-02 15:34] GAZ082 opened #3216 "Fill in with function signature as we have for structs."
We have the cool fill struct, can we have the same for functions?

Thanks.

[2020-05-02 16:17] mojtabacazi commented on #2655
That patch is outdated now.
@ramya-rao-a any updates on this?

[2020-05-02 23:25] jmalloc opened #3219 "Run custom vet tools alongside the standard one."
**Is your feature request related to a problem? Please describe.**

We wish to implement a custom Go vet tool at my workplace, however I am unable to find a way to use that vet tool in vscode without preventing the standard checks (or other custom checks) from being run.

This is because `go vet` only allows a single `-vettool` argument to be provided, and doing so makes the standard checks unavai

[2020-05-03 02:33] ramya-rao-a commented on #2655
@polinasok, @quoctruong,
Can you review the patch linked in this issue and provide your recommendation?

[2020-05-03 14:34] fbeve commented on #3105
Hello, Also have the same issue. At this time Virtual Studio Code is unusable.
Any attemps to save a file goes in an infinite loop.

Saving 'file name.go':Getting code actions from "Go" (configure)

tried to change     "go.useLanguageServer": to false.
does not change anything...

what's wrong..

[2020-05-04 14:55] hyangah commented on #3219
Thanks for the feature request.

In the world with the Go language server most of the standard + well-known vet checks can be done by the language server. For example, you can configure the set of analyses with `gopls.analyses` (https://github.com/golang/tools/blob/master/gopls/doc/settings.md#analyses-mapstringbool). Have you considered this instead of a separate `go vet` invocation?

[2020-05-04 19:20] hyangah commented on #3216
If you are using the language server (`"go.useLanguageServer": true`), the following additional settings will do the work.
[code]

If you are not using the language server, try
`"go.useCodeSnippetsOnFunctionSuggest": true`.

[2020-05-04 19:20] #3216 closed

[2020-05-04 20:38] GAZ082 commented on #3216
Thanks!

[2020-05-04 21:40] jmalloc commented on #3219
Thanks for the reply, I wasn't aware of that feature as I haven't been using `gopls` yet.

It doesn't appear `gopls` allows adding checkers that aren't already part of `go vet`, do I have that right? It would at least take care of running the standard checkers so that a custom vet tool configured via `vetFlags` wouldn't them compiled into it.

[2020-05-04 21:56] hyangah commented on #3219
@jmalloc If there are checkers that you believe useful but not listed, adding them to the supported analyses set (https://github.com/golang/tools/blob/master/gopls/doc/analyzers.md) as optional ones is a possibility too. Have you be in the [gopher slack](http://gophers.slack.com/)?  Gophers in the `#gopls` and `#gopls-dev` channels are supportive and knowledgeable.

[2020-05-04 22:04] jmalloc commented on #3219
I don't believe the kinds of tools I'm talking about are broadly applicable enough to be included in any standard Go tooling. [Here's an example](https://github.com/bflad/tfproviderlint) of the *kind* of thing I'm talking about. My workplace's tool would be even more esoteric.

I guess there's a question of whether or not `gopls` itself will offer a way to run these custom vet tools in the future,

[2020-05-04 22:15] hyangah commented on #3219
Can't it be adopted in the golangci-linter (https://github.com/golangci/golangci-lint) framework? Then you can invoke golangci-linter with lintOnSave feature.

[2020-05-05 03:36] stamblerre commented on #3105
@fbeve: Make sure to reload the VS Code window after disabling the language server. I'm not sure how to debug this when using the default tools, but I'm happy to help investigate issues with the language server, if you can provide your `gopls` logs (instructions [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs)).

[2020-05-05 03:51] jmalloc commented on #3219
It seems like the problems with that approach are much the same, insofar as `golangci-linter` only runs a single `go vet` instance, and the kinds of custom checkers I'm talking about aren't applicable to enough people to be integrated into the mainline of `go vet`.

I could submit a feature request to `golangci-linter`, much like this one, to support multiple `go vet` invocations, but my preferenc

[2020-05-05 16:02] tgturner commented on #1921
Is this still being worked on? I saw there is an open PR that hasn't seen any activity in a while.

[2020-05-05 16:29] mapuri commented on #1921
@tgturner I am not working on this issue. The PR that I had created is out of date now. I will close it so anyone else who is interested can pick it up.

[2020-05-05 18:57] Shadrocks opened #3220 "You are neither in a module nor in your GOPATH. If you are using modules, please open your editor at the directory containing the go.mod."
I have tried uninstalling, reinstalling and all kinds of flip flops all over the place.

go version go1.14.2 windows/amd64
The error message is SOO VAGUE!
I've opened my editor in the root directory of the install as stated and still get this message..
Please help..

[2020-05-05 19:17] stamblerre commented on #3220
Can you please capture your `gopls` logs, as described [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs)? Are you using modules or GOPATH mode?

[2020-05-05 19:47] Shadrocks commented on #3220
I hope this is correct.. @stamblerre

[Info  - 2:42:04 PM] 2020/05/05 14:42:04 Build info
----------
golang.org/x/tools/gopls 0.4.0
    golang.org/x/tools/gopls@v0.4.0 h1:G4+YP9kaV4dJb79J5MobyApxX493Qa6VoiTceUmxqik=
    github.com/BurntSushi/toml@v0.3.1 h1:WXkYYl6Yr3qBf1K79EBnL4mak0OimBfB0XUf9Vl28OQ=
    github.com/sergi/go-diff@v1.1.0 h1:we8PVUC3FE2uYfodKH/nBHMSetSfHDR6scGdBi+erh0=
    golang.org

[2020-05-05 20:00] stamblerre commented on #3220
Ah, looks like you are missing a `src` directory under your GOPATH: https://golang.org/doc/gopath_code.html#Organization. Your code needs to go under `$GOPATH/src`, not `$GOPATH` directly.

[2020-05-05 20:04] tgturner commented on #1921
I'm happy to take a look at this then! Thanks @mapuri

[2020-05-06 14:13] bulentkazanci commented on #3206
@firelizzard18 Are you running the application on your local? If so, set the `"remotePath": "${workspaceFolder}"` and make sure that you set breakpoints on vscode before running debug on vscode. It looks like on the debug log you provided that no breakpoint was provided.

[2020-05-06 14:18] hyangah commented on #2696
Out of curiosity - when and why do people want to use a different GOOS/GOARCH for toolsEnvVars? I am wildly guessing they are used for program analysis e.g. gopls running for different mode, etc. If so, is it appropriate to apply them when invoking `dlv`?  Shouldn't we unset any GOOS/GOARCH env vars for debugging?

[2020-05-06 15:26] Altiano commented on #3220
@stamblerre I also have this issue,
but in my case I'm using go modules, and it can be outside of `src` right?

[2020-05-06 15:32] Altiano commented on #3220
Oh.. I see,
so `vscode` only check the `go.mod` in the root folder of our explorer,
instead of recursively trying to find `go.mod` in parent folder of the current file.

my structure is like this:
[code]

VS code not expecting the `main.go` directly inside `project_dir`

[2020-05-06 16:21] Shadrocks commented on #3220
I believe this solved my issue! Thank you a ton.. to recap, I am using an SSD drive in Windows. The drive is my X:\ drive and I placed my src directory there so it's X:\src\project a.. b.. c.. etc..
I had my gopath originally set to X:\src.

[2020-05-06 16:21] #3220 closed

[2020-05-06 18:47] stamblerre commented on #3220
@Altiano: Please see details about supported workspace configurations here: https://github.com/golang/go/issues/36899. If you have further questions, please open a new issue.

[2020-05-06 19:40] hyangah commented on #3219
`golangci-linter` supports custom linters according to their README.

I think the best option is to build a super set of the vet tool (that includes both the standard and your own custom analyzers) and pass the tool to `go vet` as you already planned. That way, other editor users can utilize your analyzer.

For general pluggable analyzer discussion, I recommend gopher slack `#tools` channel or htt

[2020-05-06 21:18] firelizzard18 commented on #3206
@bulentkazanci I was not running locally, hence `"host": "REDACTED"`. I'm fairly certain I had breakpoints set in the code.

[2020-05-06 21:24] firelizzard18 commented on #2696
@hyangah Your guess is correct. I work on tools that need to operate in multiple environments, so I configure the tools to use a different GOOS/GOARCH so `gopls` etc work correctly as I am working.

It is not. You may notice that the issue as I wrote it is not that I think this should work, it's that "the failure message is opaque".

Yes, but I forget. Depending on the circumstances, it may be hou

[2020-05-06 21:25] jmalloc commented on #3219
Ok, I will move this discussion elsewhere.

In parting, I do still think there's room for such a feature here - to be able to run more than one vet (or lint) tool, from separate providers, without having to replace some existing tool with a custom build/fork.

Thanks for hearing me out :)

[2020-05-07 02:02] hyangah commented on #3215
The fix is https://go-review.googlesource.com/c/tools/+/232300

[2020-05-07 03:44] Wisgon commented on #3179
It doesn't work for me. When I `Ctrl + Shift + P` -> `Go: Restart Language Server` , Nothing happen and there is no code hintting any more, though I wait a long time. Finally I have to restart vscode.

[2020-05-07 04:55] whockey opened #3225 "Issue recognizing versioned go module"
Please answer these questions before submitting your issue. Thanks!

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.14.2 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `code -v
1.44.2
ff915844119ce9485abfe8aa9076ec76b5300ddd
x64`
- Run `go env GOOS GOARCH` to get

[2020-05-07 05:06] stamblerre commented on #3179
@Wisgon: If you add

[code]

to your VS Code settings, it should give you more detailed information. However, if your project is very large / has a lot of dependencies, it's possible that something else is going wrong.

[2020-05-07 05:18] stamblerre commented on #3225
Thanks for the report! Can you please capture and share your `gopls` logs, as described [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs)?

[2020-05-07 05:38] whockey commented on #3225
Updated - sorry about that!

[2020-05-07 05:56] stamblerre commented on #3225
No worries! You may want to add `"go.languageServerFlags": ["-rpc.trace"]` to get more detailed logs.

Does the error go away if you reload your VS Code window (Ctrl + Shift + P -> Developer: Reload Window)?

[2020-05-07 06:31] whockey commented on #3225
Updated again - and sadly it hasn't :/

[2020-05-07 09:09] kzhui125 opened #3226 "unable to eval const variables when debugging"
<img width="1094" alt="1" src="https://user-images.githubusercontent.com/11925432/81276198-458add00-9085-11ea-97b1-22a7fe549b2d.png">

[2020-05-07 09:18] kzhui125 opened #3227 "Don't show "Unable to eval expression" message box"
<img width="470" alt="1" src="https://user-images.githubusercontent.com/11925432/81276655-e4173e00-9085-11ea-8589-d37f4ae63ac2.png">

In other extensions such as python, if you eval an expression which produces error, the error is only shown in "WATCH".

But in VSCode go extension, the message box is shown, which is not needed.

And the message box pop up again and again, which has very bad experi

[2020-05-07 11:30] StiviiK commented on #3099
The problem is since some time gone now, I don't really know what I changed to fix it or what caused the problem. But I'll close this issue as it is resolved for me.

[2020-05-07 11:30] #3099 closed

[2020-05-07 13:10] hyangah commented on #3226
Same as https://github.com/golang/go/issues/35527
The local constant is inlined and also the debug information for it is not available.

[2020-05-07 13:10] hyangah commented on #3226
Please follow the upstream bug.

[2020-05-07 13:10] #3226 closed

[2020-05-07 13:13] hyangah commented on #3219
Thanks for being patient. Yes, I think it would be nice if we can configure to run multiple tasks on save (not limited to vet, but linters etc).

[2020-05-07 13:36] hyangah commented on #3225
@whockey thanks for posting the gopls trace.

Are you importing `github.com/stripe/stripe-go/v71/...` package from the `../whockey/earnings` folder?

Based on the log, the folder doesn't have `go.mod` file and the `go` command works in the `GOPATH` mode (i.e. `go env GOMOD` is empty). When `GO111MODULE=""` (`auto` mode), whether you use modules or not is determined by the existence of `go.mod` fil

[2020-05-07 15:03] hyangah commented on #3227
The error message is from https://github.com/microsoft/vscode-go/blob/12fd44a26788fb285207a3482dbb21d486b9d8b9/src/debugAdapter/goDebug.ts#L1332. I believe how to present the error to users is determined by the vscode and we have little control about that.
Maybe we should report the error in a different way and use the sendErrorResponse sparingly.
@polinasok What do you think?

[2020-05-07 15:58] hyangah commented on #3215
Submitted the CL and I hope it to be picked up in one of the next gopls releases.
cc/ @stamblerre

[2020-05-07 15:58] #3215 closed

[2020-05-07 19:38] viveknangal opened #3228 "Autocomplete not working"
Issue Type: <b>Bug</b>

The auto complete doesnt work for packages where i updated the "function definition" or added new function . GO autocomplete still continues to show the older versions, please suggest what to do in these cases

Extension version: 0.14.1
VS Code version: Code 1.45.0 (d69a79b73808559a91206d73d7717ff5f798f23c, 2020-05-07T15:57:33.467Z)
OS version: Darwin x64 17.7.0

<details>

[2020-05-07 19:41] viveknangal commented on #3228
<img width="440" alt="Screen Shot 2020-05-08 at 1 05 28 AM" src="https://user-images.githubusercontent.com/5039071/81337563-d6cf7300-90c8-11ea-95b1-92edd6b31340.png">

[2020-05-07 19:50] viveknangal commented on #3228
Please suggest why the auto-complete shows the incomplete list of functions & at times i deleted some functions in the parent package but the Visual Code still continues to show the functions which are not present anymore in the Parent package, Please help

[2020-05-07 21:23] stamblerre commented on #3228
Can you please share your VS Code settings related to Go? (Anything with `"[go]"` or `go.` in the prefix).

[2020-05-08 01:57] stamblerre commented on #3225
I've never seen someone have 2 workspaces with different configurations like that, so I'm not surprised that something might be going wrong :) However, the go command should be running in each workspace's root directory, so I would expect that to work fine.

It is definitely hard to read this log since it's unclear which view the dependency is missing for. This makes me think we should improve the

[2020-05-08 05:12] viveknangal commented on #3228
<img width="766" alt="Screen Shot 2020-05-08 at 10 40 28 AM" src="https://user-images.githubusercontent.com/5039071/81372675-9992d180-9118-11ea-8ae5-93a29f1b16a7.png">
<img width="795" alt="Screen Shot 2020-05-08 at 10 40 39 AM" src="https://user-images.githubusercontent.com/5039071/81372684-9e578580-9118-11ea-8136-a55483224109.png">
<img width="789" alt="Screen Shot 2020-05-08 at 10 40 47 AM" src

[2020-05-08 05:13] viveknangal commented on #3228
Please find above setting  . I shared the screenshots as i m not sure there is a better way to share the settings ..

[2020-05-08 05:14] SahilMutha commented on #3143
I have update it in the description now.

[2020-05-08 05:25] viveknangal commented on #3228
<img width="669" alt="Screen Shot 2020-05-08 at 10 54 37 AM" src="https://user-images.githubusercontent.com/5039071/81373411-59cce980-911a-11ea-8cc9-70ad20aef7c1.png">

here is the auto complete seeting s

[2020-05-08 05:29] stamblerre commented on #3228
Thank you for sharing this. In the cases where you don't see autocompletion for the new functions - are the files all saved? Also, are you using modules or GOPATH mode?

[2020-05-08 05:36] viveknangal commented on #3228
@stamblerre  yes all files are saved, the autocomplete is not working as expected for the packages which i m creating myself(like if i change anything in my packages it wont reflect in autocomplete).Its working for all other open-source Go packages I m using. ANd i m relying on the GOPATH set at the system level no specific setting related to GOPATH at the VS code level.

[2020-05-08 05:38] viveknangal commented on #3228
@stamblerre please suggest what i m doing wrong ,,i seriuosly want this work ..need ur help here

[2020-05-08 13:06] danj565 commented on #1751
Would you like me to open an issue with Delve?  Has the go extension implemented the DAP service yet?

Thanks for the great extension.  Having log points would make debugging our websocket apps a lot easier.

[2020-05-08 14:55] Graham42 opened #3230 "go.formatFlags not working with gofmt -s (simplify)"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.14.2 linux/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- ```
	  1.45.0
	  d69a79b73808559a91206d73d7717ff5f798f23c
	  x64
[code]
  linux
  amd64
[code]

### Describe the bug

Setting `"go.formatFlags": ["-s"],` doesn't work

[2020-05-08 16:04] stamblerre commented on #3230
Thanks for the report. The language server now does this though a `source.FixAll` code action, so you will need to add the following to the your `"[go]"` settings block:

[code]

[2020-05-08 16:14] stamblerre commented on #3228
I believe that the autocompletion for unimported packages feature works by indexing the files on disk when the extension starts, so it probably doesn't handle new files/new symbols as they change (@ramya-rao-a - am I correct here?).

Once you import `greetings` into your file, you should see all of the expected symbols. You can also type `greetings.MyFunctionName` and save, and the import will be

[2020-05-08 17:16] viveknangal commented on #3228
<img width="1007" alt="Screen Shot 2020-05-08 at 10 42 53 PM" src="https://user-images.githubusercontent.com/5039071/81430703-7ea67880-917d-11ea-85fd-41f344ad9b00.png">

@stamblerre thanks for ur response, I have added the ""go.useLanguageServer": true in the settings & reloaded VS code as you suggested but still issue remains the same. Now even if i add new package eg "Car" (screenshot below) eve

[2020-05-08 17:17] viveknangal commented on #3228
THe "main.go" program just runs fine if i manually add the "Car" package function , the issue is why the auto-complete is not working

[2020-05-08 20:23] stamblerre commented on #3228
I can help investigate issues with the language server if you'd like to continue trying to use it. If so, please attach your logs by following these steps: https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs.

Otherwise, you can disable the language server and use the default tooling that worked before. The lack of completion for a new symbol is a limitation, an

[2020-05-09 04:00] stamblerre commented on #3040
Closing in favor of the upstream issue.

[2020-05-09 04:00] #3040 closed

[2020-05-09 18:29] onlyafly commented on #3105
VSCode with vscode-go installed is currently unusable for me as well, as any file save ends up in an infinite loop. Downgrading to version 0.13.1 of the extension solved the problem for me. Obviously only a temporary fix.

For those, like me, who have never downgraded an extension before, here's how to do it:

1. Find the Go extension in the extension list
2. Click the gear icon to the right of th

[2020-05-09 20:06] stamblerre commented on #3105
@onlyafly: If you are using the language server, please follow the steps suggested on https://github.com/microsoft/vscode-go/issues/3179.

[2020-05-10 05:56] stamblerre commented on #3036
Thanks for the information @ramya-rao-a! We'll probably need to add additional handling for the issue on the `gopls` side, so I'm going to close this issue in favor of the upstream one: https://github.com/golang/go/issues/37697.

[2020-05-10 05:56] #3036 closed

[2020-05-10 05:57] stamblerre commented on #3055
This has now been addressed by https://github.com/golang/go/issues/37279. Closing.

[2020-05-10 05:57] #3055 closed

[2020-05-10 05:57] stamblerre commented on #3136
This issue has now been resolved by https://github.com/golang/go/issues/37279.

[2020-05-10 05:57] #3136 closed

[2020-05-10 05:59] stamblerre commented on #3187
Going to close this issue since there hasn't been activity on it in a while. @sudhNau: please re-open this if you're still encountering this problem.

[2020-05-10 05:59] #3187 closed

[2020-05-10 05:59] stamblerre commented on #3097
Going to close this issue since there hasn't been activity on it in a while. @WodansSon: please re-open this if you're still encountering this problem.

[2020-05-10 05:59] #3097 closed

[2020-05-10 06:06] stamblerre commented on #3191
Duplicate of https://github.com/microsoft/vscode-go/issues/3178

[2020-05-10 06:06] #3191 closed

[2020-05-11 06:01] dzmitry-kankalovich commented on #3086
I can confirm that this is probably the easiest workaround in case you want to do a multi-project development in a single VSC workspace.

Added these dummy files and referenced them in `.gitignore` so I do not pollute repo with VSC-specific stuff. Should work well enough until gopls improved.

[2020-05-11 12:16] hyangah commented on #3148
the commits were merged.

[2020-05-11 12:16] #3148 closed

[2020-05-11 14:36] clippit opened #3231 "Couldn't start client gopls"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.14.1 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.45.0 d69a79b73808559a91206d73d7717ff5f798f23c x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.14.1
- Run `go env GOOS GOARC

[2020-05-11 16:33] stamblerre commented on #3231
It looks like you're using an old version of `gopls`. Can you update it by opening the Command Palette (Ctrl + Shift + P) and running the `Go: Install/Update Tools` command to update `gopls`?

[2020-05-11 18:50] Graham42 commented on #3230
Thanks! That snippet solves the "on save" use case for me. However, if I use the editor "Format Document" command the `-s` flag is still not applied.

[2020-05-11 18:54] stamblerre commented on #3230
You can run the simplifications manually by opening the Command Palette (Ctrl + Shift + P) and selecting "Source Action". I believe this will be added to the right click menu in the next VS Code release.

[2020-05-11 18:55] stamblerre commented on #2607
This is fixed in the nightly extension by https://github.com/golang/vscode-go/pull/30.

[2020-05-11 18:55] #2607 closed

[2020-05-11 19:08] Graham42 commented on #3230
This issue is effectively solved for me with the `fixAll` action on save, I just wanted to share that finding.  If you don't consider it a bug that the `formatFlags` option doesn't apply to the "Format Document" command then feel free to close this issue :slightly_smiling_face:

[2020-05-11 22:01] stamblerre commented on #3230
Ok - thanks! The reason it no longer works as part of formatting is that it's now been split out as a code actions, as defined in the [LSP specification](https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_codeAction), which is intentional. Closing as result.

[2020-05-11 22:01] #3230 closed

[2020-05-12 05:48] clippit commented on #3231
I've tried update tools from command palette, but gopls version is still v0.1.7. That's indeed a pretty old version since latest is v0.4.1 now.

I tried clean up GOPATH directory and rerun the command to install all tools, it shows `golang.org/x/tools/gopls SUCCEEDED` but the version is still v0.1.7. `github.com/uudashr/gopkgs/v2/cmd/gopkgs` is failed to install at the same time, which maybe an an

[2020-05-12 05:53] stamblerre commented on #3231
The gopkgs issue is probably https://github.com/uudashr/gopkgs/issues/25, but I'm not sure.

Does `/Users/zhangletian/Dev/go/bin/gopls version` also show v0.1.7? If not, then you may have 2 different versions of `gopls` installed on your machine. You can try `which gopls` to see which one VS Code Go is using. Do you have `go.toolsGopath` configured?

[2020-05-12 06:08] clippit commented on #3231
I cleaned up GOPATH again and set `go env -w GOPROXY=direct` then rerun `Go: Install/Update Tools`, all succeed this time(including gopkgs) and `gopls version` shows `0.4.0`. It might be some issues with my company's internal goproxy server which *SHOULD* plays as a mirror when fetching external packages. I'll take a look into the problem but it is fine without that cranky goproxy:) Thanks!