[2019-07-06 20:14] vincepri commented on #2446
Is there an upstream issue to track this?

[2019-07-06 20:25] ramya-rao-a commented on #2258
This is no longer an issue with the latest VS Code

[2019-07-06 20:25] #2258 closed

[2019-07-06 20:26] gertcuykens commented on #1764
Both are working :) Seems Ramya has a bit of a backlog at the moment :P Thanks for cleaning things up <3

[2019-07-06 20:26] #1764 closed

[2019-07-06 20:28] ramya-rao-a commented on #118
When using the [language server](https://github.com/microsoft/vscode-go#go-language-server), build is run on each file that is opened.

Since adding this feature to the extension itself is not trivial, closing this issue in favor of the language server.

[2019-07-06 20:28] #118 closed

[2019-07-06 20:31] ramya-rao-a commented on #2253
Closing this issue as `gopls` is now the default language server choice. One can still choose to use bingo in its place. Details are in the [language server section in the README](https://github.com/microsoft/vscode-go#go-language-server)

@xlucas AFAIK the warnings/notification for the language server does have the option of "Don't show again". If it doesn't show up or doesn't work, please log a

[2019-07-06 20:31] #2253 closed

[2019-07-06 20:33] ramya-rao-a commented on #2140
@kybom Thanks for letting us know what worked for you in the end.

Happy Coding!

[2019-07-06 20:33] #2140 closed

[2019-07-06 20:43] ramya-rao-a commented on #1587
@stamblerre Does `gopls` support glide or dep?

[2019-07-06 22:05] #2222 closed

[2019-07-06 22:07] ramya-rao-a commented on #1679
Closing this issue as we haven't gotten any other feedback using gb with this extension.
Moving forward, if support for gb is indeed needed, then the [language server](https://github.com/microsoft/vscode-go/blob/master/README.md#go-language-server) should be the right place for it

[2019-07-06 22:07] #1679 closed

[2019-07-06 22:09] ramya-rao-a commented on #2204
#186 and #289 are tracking the requests to support `console` in debug configuration.
Closing this issue in favor of those issues

[2019-07-06 22:09] #2204 closed

[2019-07-06 22:26] #1436 closed

[2019-07-06 22:37] ramya-rao-a commented on #2236
@martinrode Thanks for reporting and apologies for the very late reply.

From what you have shared it looks like the extension is not respecting the GO111MODULE setting. Can you try again with the latest version of the Go extension?

What @bercab is saying is right as well. `guru` doesn't support modules yet, so the results from it is not guaranteed to be accurate

[2019-07-06 22:43] ramya-rao-a commented on #2184
@segevfiner Apologies for the late response. I am not able to replicate this issue. Do you still see this?

[2019-07-06 22:48] ramya-rao-a commented on #2303
@Nerzal Apologies for the late reply.

Do you still see this issue with the latest version of the Go extension? I followed the below steps and I don't see these errors
-  I ran `go get github.com/Nerzal/vscode-go-bug/cmd/service`,
- then opened the `vscode-go-bug` folder in VS Code
- then opened the file foobar_test.go

[2019-07-06 22:51] ramya-rao-a commented on #2594
The outline feature is working as expected for me.

<img width="329" alt="Screen Shot 2019-07-06 at 3 49 35 PM" src="https://user-images.githubusercontent.com/16890566/60761818-a977eb80-a005-11e9-87cc-eb897d6660c3.png">

- Can you run the command `Go to symbol in File...` and see if you get any symbols?
- Are any of the other language features working? Like `go to definition` or auto-completion?
-

[2019-07-06 23:19] #2440 closed

[2019-07-06 23:19] #2429 closed

[2019-07-07 00:19] #2384 closed

[2019-07-07 00:22] ramya-rao-a commented on #2407
Hello @raymondjolly,

I finally got some time to look deeper into this issue and have found what exactly causes calls to taskkill.exe. This extension relies on a lot of external Go tools to provide various language features. We spawn child processes to run each such tool, collect the results and give it back to VS Code. When VS Code cancels such ongoing requests, we call a function called [killTre

[2019-07-07 00:33] ramya-rao-a commented on #926
Closing this issue as we now have [Remote Development with VS Code](https://code.visualstudio.com/blogs/2019/05/02/remote-development)

If you see any problems working with the above, please log new issues

[2019-07-07 00:33] #926 closed

[2019-07-07 00:35] ramya-rao-a commented on #977
With the ongoing work on the [language server](https://github.com/microsoft/vscode-go#go-language-server), there will be less work on getting `guru` to work better.

With this in mind, I am closing this issue as there is no actionable item from the extenion's side at the moment. Once the language server has the references feature, we will enable the codelens from it instead of calling `guru`.

Tha

[2019-07-07 00:35] #977 closed

[2019-07-07 00:40] ramya-rao-a commented on #1188
@ironcladlou With [Remote Development with VS Code](https://code.visualstudio.com/blogs/2019/05/02/remote-development), we now have a good story around the remote code editing that you have referred to.

@alioygur If the above does not support vagrant scenarios, then https://github.com/Microsoft/vscode would be the right place to log an issue.

Thanks for your patience and Happy Coding!

[2019-07-07 00:40] #1188 closed

[2019-07-07 00:53] ramya-rao-a commented on #2610
Can you try another workaround that involves setting the `go.alternateTools` setting?

- Write a script that internal calls delve with `sudo` and pass all the arguments as is
- Add the below to your settings
[code]

This will make the extension call your script instead of dlv. And internally you can call dlv with `sudo`

[2019-07-07 01:00] ramya-rao-a commented on #2554
Closing this issue in favor of the upstream issue https://github.com/golang/go/issues/32341

@freman You can add the below in your workspace settings to use bingo. This way you can decide which of the two to use per project
[code]

[2019-07-07 01:00] #2554 closed

[2019-07-07 01:19] ramya-rao-a commented on #2571
When you "intellisence", are you referring to the auto-completion widget or the parameter hint widget? Can you share a screenshot?

If this is about the auto-completion widget, then all navigation keys (up arrow, down arrow, home, end) are used to navigate inside the list of suggestions in the widget. So, not sure how the python extension can override that.

If this is about the parameter hint wid

[2019-07-07 01:52] ramya-rao-a commented on #2374
@firelizzard18 is right. We can expand `~` in the `cwd` property that is set, before passing it to delve.

PRs are welcome to do the same

Code Pointers:
- See [Build and Debug Extension](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code) to set up local dev environment
- The `resolveDebugConfiguration()` method in `goDebugConfigura

[2019-07-07 01:57] ramya-rao-a commented on #2602
In a terminal, go to the folder that is printed above as the "Current working directory". From there run the command `dlv debug`, pass the import path of the package which you see as the first argument to delve in the screenshot above. This will start delve in a interactive mode.

See https://github.com/go-delve/delve/tree/master/Documentation/cli to learn how you can set breakpoints and step thro

[2019-07-07 02:01] ramya-rao-a commented on #2614
We had a feature request to do exactly this, see #330
Since there is no single destination in case of multiple files in a package, we settled on
- not using ctrl+click to do this, but use a command
- use a quick pick control to show all the files

I would suggest to disable this feature and just keep the document links. Having the same keyboard shortcut trigger 2 separate features is not user frie

[2019-07-07 02:06] ramya-rao-a commented on #2620
Thanks @phungvandat. From the gif, I could determine the below points
- You are using Go modules
- You are using the Go language server
- The error shows while typing the new import statement and doesn't go away

@stamblerre Thoughts?

[2019-07-07 02:08] ramya-rao-a commented on #2620
@phungvandat Can you share a screenshot of the entire error? The gif doesn't show the complete error?

[2019-07-07 02:33] ramya-rao-a commented on #2558
@jayschwa Does `go env GOPATH` return anything for you?

[2019-07-07 02:35] ramya-rao-a commented on #2612
Based on your settings, you are using the Go extension as is, out of the box without any customization. In this case, the next step is to use the process explorer as mentioned in https://github.com/microsoft/vscode-go/issues/2612#issuecomment-507916527 to figure out the culprit

[2019-07-07 02:35] ramya-rao-a commented on #2612
Are you using Go modules?

[2019-07-07 03:01] jayschwa commented on #2558
`/home/jayschwa/go`

[2019-07-07 03:21] ramya-rao-a commented on #2558
@jayschwa Then that is what the extension should use. Can you log a new issue so that we don't hijack this thread which is about the go.toolsGopath setting?

[2019-07-07 03:25] ramya-rao-a commented on #2391
Apologies, the issue got locked unintentionally

@alexanderbez You can remove the below from your settings
[code]

Since `gopls` is now the default language server to use, you don't need the alternateTools setting above
The default value of `go.languageServerExperimentalFeatures` is such that all features are enabled which is what you want based on what you have set.

Regarding high cpu usage, ple

[2019-07-07 03:28] ramya-rao-a commented on #2346
No. In case of remote machines, the trick is to first run a headless delve on the remote machine. Then, on your local machine (which has the source code) you use the debug configuration in a way such that it attaches to the remote delve instance.

See [Remote debugging](https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#remote-debugging)

[2019-07-07 04:04] aaronjheng commented on #2576
Please revert `go.goroot` back to "resource" scope.

[2019-07-07 05:39] ramya-rao-a commented on #2576
#1589 is the PR that shows some of users having the need to have different goroot values per workspace

@aaronjheng Can you elaborate on what your use case is and why you would need to have different goroot values for different workspaces

[2019-07-07 06:05] bryonbaker commented on #2635
@wtask - check the modules you have installed. I had exactly the same problem until I installed all the go modules.

[2019-07-07 08:26] aaronjheng commented on #2576
Usually I have projects that can not use the update-to-date go version. So I often have two or more versions of go installed for different project at the same time. Setting `go.goroot` at "resource" scope can make it painless. Recently, My worksapce is kind of messed up.

[2019-07-07 08:28] aarzilli commented on #2415
I think delve should not pass its own gcflags argument if build-flags already has it.

[2019-07-07 08:41] misha-tectonic commented on #2415
@aarzilli This won't work: `delve` requires `-N -l` gcflags in order to function.

[2019-07-07 09:51] aarzilli commented on #2415
It doesn't require them, it just works better if they are there. If the user specifically passes a different gcflags through build-flags delve should respect it.

Also maybe the VSCode extension should ignore gcflags set in `go.testFlags` when calling delve.

[2019-07-07 13:14] ymmt2005 commented on #2633
I saw this with vscode-go 0.11.2 several times.
A workaround is to kill `gopls` manually, say, by `pkill gopls`.

[2019-07-07 18:13] ramya-rao-a commented on #2415
@aarzilli That is conflicting advice :) or I am missing something here...

Like @misha-tectonic mentioned above, the extension does pass `--build-flags="-gcflags=-l"` to delve when the user sets `go.testFlags` to `["-gcflags=-l"]`.  So should we log an issue for delve for trying to set gcflags the second time?

[2019-07-07 18:17] jayschwa opened #2637 "Default GOPATH not being detected"
Possible regression related to #1879 with VSCode v1.36.0 and Go extension v0.11.2.

When I open a Go project with no explicit `GOPATH` set, I get the following notifications:

![vscode-go](https://user-images.githubusercontent.com/475017/60772167-73e40880-a0c0-11e9-8a6b-be0a978ffdd3.png)

Clicking on the "Install All" button produces the following error:

Run from VSCode's integrated terminal:
[co

[2019-07-07 18:23] misha-tectonic commented on #2415
Yes, ideally delve should parse passed `-gcflags` and add any flags it needs to it before passing it to `go build`.

[2019-07-07 19:04] ramya-rao-a commented on #2457
This bug is fixed in the lates update (0.11.3) of the Go extension

Thanks for reporting @345paul!

[2019-07-07 19:04] #2457 closed

[2019-07-07 19:05] ramya-rao-a commented on #2576
Thanks @aaronjheng
I have just released an update to the Go extension (0.11.3) with the fix that makes `go.goroot` to be of `resource` scope again

[2019-07-07 19:08] ramya-rao-a commented on #2637
Thanks for reporting @jayschwa

I have a bad feeling that this is a regression.. Can you please try out a couple of older versions of the Go extension to see if the GOPATH was being determined correctly before?

You can find the older versions at https://github.com/microsoft/vscode-go/releases
Download the vsix file and then run the command `Extensions: Install from VSIX...`

[2019-07-07 19:12] ramya-rao-a commented on #2635
Works fine for me when using modules and the language server.

Please share any Go related settings you might have added/edited. You can find these by running the command Preferences: Open Settings (JSON)

[2019-07-08 01:01] jayschwa commented on #2637
v0.9.0 did not work either. Same behavior.

[2019-07-08 08:33] isidorn commented on #1644
@ramya-rao-a  I agree with his statement.

[2019-07-08 09:01] Xjs commented on #2632
Thanks for your reply! The language server does give more accurate information; however, only the first sentence of the documentation is displayed. (That first sentence is correct, though.)

I haven't found anything in the docs, can the language server (gopls in this case) be persuaded to output more than the first sentence? Is that a bug I should report to gopls? I'm not sure how this all plays t

[2019-07-08 09:24] Xjs commented on #2632
Found it myself, for the record, including

[code]

in settings.json does what I want.

[2019-07-08 10:11] chriswilliams1977 opened #2638 "Autocomplete not working"
Hello,

I seem to encounter continuing issues with the autocomplete for GO in VS Code. I have version 1.35.1 running with extension 0.11.3. I am not getting any intellisense at all. I have try to reinstall but this still does not work. My settings file is as follows:

{
    "window.zoomLevel": 1,
    "go.formatTool": "gofmt",
    "go.autocompleteUnimportedPackages": true,
    "go.buildOnSave": tru

[2019-07-08 12:14] daqingshu commented on #2614
how about if the package is priavte host on enterprise github? open the document links just 404.

[2019-07-08 13:11] #2612 closed

[2019-07-08 13:43] orta commented on #1982
👋 I have the abilities to help out on the Seti-ui repo side, @MariaLetta the format only supports a single color icon, but I'll gladly help get that improved

[2019-07-08 14:53] aarzilli commented on #2415
For me there's two questions here:

1. What should delve do when the user passes a `-gcflags` parameter inside `--build-flags`

2. Should VSCode pass `-gcflags`, if it's part of `go.testFlags`, inside `--build-flags`?

For (1) one reasonable choice is to use the gcflags specified by the user instead of ours, another is to leave things as they are and let delve fail, after all the point of having d

[2019-07-08 15:41] mgood commented on #2576
@ramya-rao-a thanks for all your help here. However, it looks like the intended change of `go.goroot` got missed somehow in the release process since it's still marked as `machine` scope in the `0.11.3` tag:
https://github.com/microsoft/vscode-go/blob/6f7c7ca2c94ae293c99a08a9ffedec9d4d238d6e/package.json#L850:L857

For additional context we include `go.goroot` in our company's shared workspace set

[2019-07-08 17:06] RobertBaruch commented on #2630
The GOPATH is correct: `/usr/local/home/robertbaruch/go`.

[2019-07-08 17:11] RobertBaruch commented on #2630
Just to make it clear, `/usr/local/home/robertbaruch/go/pkg/dep/sources/https---code.googlesource.com-gocloud` does exist.

[2019-07-08 18:06] raymondjolly commented on #2407
Hi, Ramya

Thank you for following up on this issue.  I have spent the last hour testing the solution and I do see a dramatic reduction in the number of taskkill.exe prompts.  It doesn't eliminate them completely but it does make it possible to develop using Go with VS Code on Windows.  I have also at your request changed the JSON object back to the default settings and this confirms that the flag

[2019-07-08 19:29] stamblerre commented on #2388
`gopls` does not yet actually handle the contents of `go.mod` files, so when your `go.mod` file changes, we do not update our caches. This is tracked upstream here: https://github.com/golang/go/issues/31999.

[2019-07-08 19:38] stamblerre commented on #2412
Filed https://github.com/golang/go/issues/32988.

[2019-07-08 19:40] stamblerre commented on #2446
Filed https://github.com/golang/go/issues/32988.

[2019-07-08 20:11] bashfulrobot opened #2639 "package main "not found" Error"
If this is a bug report, please share
- a sample code which can be used to reproduce the issue
- any Go related settings you might have added/changed

## Go ENV

[code]
## WHICH GO

* NOTE - installed go from a Snap Package on Ubuntu

[code]

## OS

[code]

## Steps to Reproduce:

1. Write a little hello world program with:
[code]
2. Save the file
3. VSCode reports the `package main` as "not found

[2019-07-08 20:35] stamblerre commented on #1587
`gopls` can only support build systems that support `go/packages`, since it is built on top of `go/packages`. If someone were to write a `go/packages` driver (https://github.com/golang/tools/blob/c8855242db9c1762032abe33c2dff50de3ec9d05/go/packages/external.go#L19) for `glide` or `dep`, then `gopls` would be able to support those systems.

[2019-07-08 21:32] stamblerre commented on #2620
This looks like https://github.com/golang/go/issues/32797, which is fixed at tip. @phungvandat: Can you update your version of `gopls` to master (`go get -u golang.org/x/tools/gopls@master`)?

[2019-07-08 22:13] stamblerre commented on #2614
I think the solution you are describing, Ramya, would be to send back a list of locations for a go-to-definition request, which I think can be done. Filed # to track this.
I'm not sure how to handle private packages - perhaps we can test that the links are valid in `textDocument/documentLink`, but that may be too expensive.

[2019-07-08 22:50] inliquid commented on #1982
@orta actually there are some colored icons in `seti-ui` repo: https://github.com/jesseweed/seti-ui/blob/master/icons/kotlin.svg

However it seems that `seti-ui` does bad export into font format so as a result it converts to monocolor:
![изображение](https://user-images.githubusercontent.com/6797881/60847539-9b83bf80-a1eb-11e9-8450-a905770e232f.png)

In contrast here is how it looks like with `Mat

[2019-07-08 23:19] vincepri commented on #2412
We also have `go.useCodeSnippetsOnFunctionSuggestWithoutType` which seems currently unsupported in gopls

[2019-07-08 23:41] willfaught commented on #1809
@ramya-rao-a I think the issue is more that it wasn't pre-selected. If it was at the top of the list, but it still wasn't pre-selected, I would have had the same issue with it. Basically, if there's an exact match for a full method name, we should be able to press Enter and use it. So if it works now as you showed, that seems like a fix to me!

[2019-07-09 01:36] orta commented on #1982
Yeah, it's a part of how seti ensures colour consistency  across the editor, you you can have whatever image you want but it gets stamped down into into one of 9 colours in the end

[2019-07-09 04:10] phungvandat commented on #2620
I tried and succeeded. Thank you very much

[2019-07-09 04:13] lggomez commented on #2563
@aarzilli under which conditions is this error triggered from delve? I see that delve returns it on internal breakpoints but I'm not familiar with its internals. Some additional context on this error may be helpful to catch the cause on our side

There are no parameters involved in this apicall so the problem lies somewhere else in our workflow. Is it a requirement for Next() calls to be blocking

[2019-07-09 04:13] phungvandat commented on #2620
I fixed the error when importing moduels. But I still have no suggestions when trying to import existing moduels in GOPATH or Go default like "fmt" "os", ....

[2019-07-09 04:38] lggomez commented on #2444
I cannot reproduce this as of VSCode 1.36.0 in Linux, delve build 068e2451004e95d0b042e5257e34f0f08ce01466 (and version 0.11.3 of the Go extension but no relevant changes were introduced to the debug adapter in the meantime)

Can you try again after updating? @nmeocisco @mingrammer @drew-512

[2019-07-09 05:16] kalbasit commented on #2576
Adding my two cents about this issue. We also have some assumptions at work about VSCode. In fact, our `.code-workspace` file is actually generated by `nix-shell` upon entering the Git repository. We set `go.goroot`, `go.toolsGopath` to an absolute path computed at runtime (runtime of nix-shell). Although the path is different from OS to OS, it is reproducible between all developers. Below is the

[2019-07-09 05:35] AnikHasibul commented on #2639
Facing the same issue after switching into WSL with remote development extension. In windows, It doesn't pop up, but in Linux it does.

However, what font/theme you are using? 😒

[2019-07-09 05:48] AnikHasibul commented on #2639
It's has no relation with `package main` or whatever. It just reporting the first line. No matter what it is.
![image](https://user-images.githubusercontent.com/25927971/60862418-4f626a80-a23f-11e9-8a1d-22ff7a098840.png)

[2019-07-09 05:57] ramya-rao-a commented on #2638
cc @stamblerre

[2019-07-09 07:02] aarzilli commented on #2563
When a call to 'next' is interrupted by a breakpoint on a goroutine other than the goroutine where the 'next' command was invoked delve will stop and return a state that has the NextInProgress field set (this also applies to 'step' and 'stepout', by the way). When this happens the frontend needs to do one of two things:

1. cancel the 'next' (or 'step' or 'stepout') command by calling the CancelNe

[2019-07-09 07:19] aarzilli commented on #2563
Regarding the currentGoroutine thing. It is possible for a debugger state to not have a currentGoroutine set to anything, however doing what that code does seems wrong, if the currentGoroutine is not set it's not valid to simply attribute the current stop to whatever the first goroutine happens to be.

the DebuggerState object does not contain a list of goroutines at all, in fact sending the whole

[2019-07-09 07:24] phungvandat commented on #2620
I tried import a moduel inside GOPATH but get this error:

![image](https://github.com/phungvandat/Vscode-bugs/blob/master/Screen%20Shot%202019-07-09%20at%2013.54.17%20(2).png?raw=true)

[2019-07-09 07:31] Greyh4t opened #2640 "Autocomplete does not work in coroutine code block"
In mod mode，the autocomplete does not work in coroutine code block：
[code]
![0](https://user-images.githubusercontent.com/8017380/60867753-24d3da00-a25e-11e9-8a5c-5a3567182bec.png)

![1](https://user-images.githubusercontent.com/8017380/60867690-0c63bf80-a25e-11e9-8941-4854003f6073.png)

 my settings
[code]

[2019-07-09 11:15] wtask commented on #2635
It works fine only for one-file app. Inside internal package autocompletion constantly stop working in following cases:
- if package contains several files and one of them has a syntax error, then autocompletion is not working for all package files
- always fails for `defer` statements as for single call `defer type.field.?` as far for deffered function call `defer func(){.?.}()`.

Also there is a

[2019-07-09 15:10] inliquid commented on #1982
Sorry but I don't see a "color consistency" in seti case. I see a broken icon. If you take a precise look you may see the traces of badly converted vector image.
![изображение](https://user-images.githubusercontent.com/6797881/60900426-d251e800-a274-11e9-8c2b-95ec431e5625.png)

[2019-07-09 15:13] nmeocisco commented on #2444
Still happens for me using VSCode 1.36.0, version 0.11.3 of the Go extension, and the latest version of delve. On a panic I get the spinning circle that won't go away between debugging sessions. Tried multiple times and it always happens for me. I am on Ubuntu 18.04 if that makes a difference.

[2019-07-09 16:23] lggomez commented on #2444
It's weird that I cannot reproduce it considering that no fixes were made yet and that you still can, maybe I'm missing something here?

![Selection_026](https://user-images.githubusercontent.com/6326271/60905842-462bca80-a24c-11e9-96a3-1153f7d0414c.png)
![Selection_028](https://user-images.githubusercontent.com/6326271/60906021-a0c52680-a24c-11e9-8de6-a75066fb6539.png)
![Selection_027](https://us

[2019-07-09 17:09] jadekler opened #2641 "Plugin generates uncompilable package name"
1. Create folder named "foo-bar"
2. Right click folder
3. Create new .go file (with any name)

It gets generated as:

[code]

[2019-07-09 17:09] jadekler commented on #2641
Also, BTW, I would argue that the import statement should be elided, since gofmt would remove it.

[2019-07-09 17:20] stamblerre commented on #2412
What is the difference between the two settings? It would probably be best to have one consistent setting.

[2019-07-09 17:26] nmeocisco commented on #2444
No idea, but if you need any specific info from me let me know.

[2019-07-09 17:35] stamblerre commented on #2638
Can you share your `gopls` logs please? They can be found by going to "View: Debug Console" -> "Output" -> "Tasks" -> "gopls".

[2019-07-09 17:38] stamblerre commented on #2620
Do you always manually type the imports, or do you use `goimports` to add them?
It actually still looks like `gopls` got stuck because it isn't reading the full package path.
What happens when you reload the VSCode window? Does it work?

[2019-07-09 17:39] vincepri commented on #2412
It's almost the same, but it omits the type.

For example in `gopls` Server, if I autocomplete `addView`, it'll result in:
[code]

while the other option, I'd expect:
[code]

Usually I prefer the second one, because it removes the amount of errors the live linter has to deal with given that having types a function call doesn't compile.

[2019-07-09 17:47] stamblerre commented on #2412
Makes sense. In `gopls`, we intend to improve the placeholders (https://github.com/golang/go/issues/31548), so I think we will not need both settings. Basically, we should be able to put actual in-scope variables in the placeholders rather than type information.

[2019-07-09 17:49] stamblerre commented on #2635
The defer error is a known issue, tracked here: https://github.com/golang/go/issues/29313.
For specific problems with `gopls` autocompletion, please file a separate issue on the Go issue tracker (https://github.com/golang/go/issues) with a repro case.

[2019-07-09 18:10] stamblerre commented on #2446
@ramya-rao-a: With the fix in https://go-review.googlesource.com/c/tools/+/185244, I have started to see the duplicate formatting provider error. Is there something that needs to be changed on the VSCode-Go end before we can submit this change?

[2019-07-09 18:26] orta commented on #1982
Sure, happy to take a PR fixing that case 👍  - but as I said, the single color stamping is done for consistency and is applied across all icons which is why logos can be only one of 9 colors. I didn't make the decision, but I agree with it.

[2019-07-09 19:43] lggomez commented on #2563
[05nextbp.log](https://github.com/microsoft/vscode-go/files/3374562/05nextbp.log)

I attach this log starting from the first breakpoint hit and next call on line 12 and it looks that it is indeed what is happening

The first 3 successful calls are on threadId 15 (the adapter uses the threadId fuekd for goroutine ids, bringing up some confusion)
[code]

Followed by the failing call on threadId 9
[c

[2019-07-09 19:48] lggomez commented on #2563
PS: As the logs show, on top of ListGoroutine (ThreadRequest) calls we make additional calls to Stacktrace , ListLocalVars and Eval

[2019-07-09 21:12] 10x10sw opened #2642 "File -> Save All does not run golint"
Issue Type: <b>Bug</b>

I made changes to several files in my golang project, chose File -> Save All in VS Code, and then entered "go build" in the terminal. But there were several build errors due to missing imports and the build failed. Manually saving each changed file in VS Code ran golint on save, and added the missing imports. File -> Save All should run golint if that option is enabled for

[2019-07-09 22:26] RobertBaruch commented on #2630
Sadly, I downgraded back to 1.34.0, and no change. Then I downgraded the Go extension to 0.11.0, no change. Downgrade to 0.10.2, no change. So now I have no idea what changed to cause this behavior when I chose to upgrade to 1.36.0.

[2019-07-09 22:29] RobertBaruch commented on #2630
Hmm, it might be something I did and forgot about, I changed the setting Go: Build On Save from package to workspace. Going back to package made the error stop happening, but I'd really like workspace to work.

[2019-07-09 23:50] lggomez commented on #2444
@nmeocisco can you share the log output with the `"showLog": true` and `"trace": "verbose"` settings in your launch.json file for both debug sessions?

[2019-07-10 01:36] ramya-rao-a commented on #2446
Are you seeing the duplicate formatting problem even if you have opted into using the format feature from the language server i.e `format` is `true` in `go.languageServerExperimentalFeatures`?

If so, then add a breakpoint at https://github.com/microsoft/vscode-go/blob/0.11.3/src/goMain.ts#L248 and see if vscode-go is registering its own formatter even when you have chosen to use the one from gopl

[2019-07-10 01:36] #2635 closed

[2019-07-10 01:37] ramya-rao-a commented on #2412
Closing in favor of https://github.com/golang/go/issues/32988

[2019-07-10 01:37] #2412 closed

[2019-07-10 01:45] ramya-rao-a commented on #2576
Thanks @mgood and @kalbasit
0.11.4 should have the relevant changes

[2019-07-10 01:46] ramya-rao-a commented on #1809
Great, will close this issue then, Thanks @willfaught!

And thanks to @lggomez for the code samples :)

Happy Coding!

[2019-07-10 01:46] #1809 closed

[2019-07-10 01:48] ramya-rao-a commented on #2614
@stamblerre That will still not solve the original problem here which is that 2 separate operations are being triggered by the same user action.

[2019-07-10 01:50] ramya-rao-a commented on #1587
Thanks @stamblerre

Since there is no ongoing efforts to support glide or dep in the Go extension, I will be closing this issue.
If anyone is interested in sending PRs to the vscode-go extension to make it work better with glide/dep, then we can consider it.

[2019-07-10 01:50] #1587 closed

[2019-07-10 02:14] ramya-rao-a commented on #2415
I vote for simplicity here and would go with the vscode-go extension should ignore the `gcflags` set by the user

PRs are welcome to make this change.

Code Pointers:
- [Set up local dev environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- `getCodeLensForFunctions` is the method in `goRunTestCodelens.ts` file that creat

[2019-07-10 02:15] ramya-rao-a commented on #2388
Thanks @stamblerre
Closing this issue in favor of the upstream issue

[2019-07-10 02:15] #2388 closed

[2019-07-10 02:16] ramya-rao-a commented on #2632
Oh wow, I was not aware of that setting :)

Glad that you found it out.

Closing this issue in favor of #2107

Happy Coding!

[2019-07-10 02:16] #2632 closed

[2019-07-10 02:17] ramya-rao-a commented on #1644
@isidorn So, is the suggestion to use a modal like https://github.com/microsoft/vscode-go/issues/1644#issuecomment-386141660?

[2019-07-10 02:23] ramya-rao-a commented on #2637
May be there is a race condition somewhere...
Do you mind [setting up a local dev set up](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension) for the extension and debugging the extension?

Add breakpoints below
- Add breakpoint at https://github.com/microsoft/vscode-go/blob/0.11.4/src/goMain.ts#L

[2019-07-10 02:25] ramya-rao-a commented on #2572
The language server doesnt work with workspaces. There is a known issue tracking that.

[2019-07-10 02:26] ramya-rao-a commented on #2640
cc @stamblerre

[2019-07-10 02:28] ramya-rao-a commented on #2641
This extension does not generate contents for the file when it is created....
Are you referring to the auto-completion result for when you type `package`?

[2019-07-10 02:40] FiloSottile commented on #1948
This would be great, along with bounds checks (`-gcflags="-d=ssa/check_bce/debug=1"`).

[2019-07-10 02:42] dgryski commented on #1948
Related: https://github.com/loov/view-annotated-file

[2019-07-10 03:00] Greyh4t commented on #2640
Yes，this situation occurs in Go modules

[2019-07-10 04:05] stamblerre commented on #2614
Agreed. I think this is a case where the editor should decide what to do with the Ctrl + Click shortcut. `gopls` has no control over this behavior, and it seems quite clear to me that both jump to definition and document link should work correctly for import statements.

[2019-07-10 04:07] stamblerre commented on #2572
`gopls` requires you to manually add workspace folders. Here is the issue: https://github.com/golang/go/issues/32394.

[2019-07-10 04:08] stamblerre commented on #2640
Tracked upstream as https://github.com/golang/go/issues/29313.

[2019-07-10 04:13] stamblerre commented on #2446
The approach we tried for `gopls` was the one recommended by @dbaeumer - registering dynamically, unless dynamic configuration is not supported (see https://go-review.googlesource.com/c/tools/+/185244).

Based on the linked code, I would guess the VSCode-Go extension needs some additional logic to de-register the default formatting provider if the language server's formatting provider is dynamical

[2019-07-10 06:09] andig commented on #2572
At least in my case thats the setup I have. Above issue has been fixed for me by getting rid of the replace statement.

[2019-07-10 07:23] isidorn commented on #1644
@ramya-rao-a  Well if the debug extension can still launch the debugee I would expect it launches.
If it can not I would expect a modal popup with the error information.
Though this is just my point of view, you can check what other debug extensinos are doing, this does not sound like something specific only to Go.

[2019-07-10 12:36] nmeocisco commented on #2444
Still happening with vscode 1.36.1 which I updated to this morning. Here is the output:

TestExample
[code]
TestExample2
[code]

[2019-07-10 13:51] drew-512 commented on #2444
I had it happen while working yesterday w 1.36.1 on mac OS.

[2019-07-10 14:41] jadekler commented on #2641
Ah, hm. I could've sworn it is generated when I create the file, but now I can't get it to reproduce.

[2019-07-10 14:56] vincepri commented on #2446
The other question I have is how can we handle the case when `format` is set to `false` instead. Can we let users to use goimports/goreturns if they wish to do so? Should `gopls` skip the dynamic registration in this case?

[2019-07-10 15:28] jayschwa commented on #2637
My debugging session is showing something strange. The implementation of `cp.execFile` that gets called has most of its args commented out. The only thing being passed through is the path to the Go executable.
![vscode_wtf](https://user-images.githubusercontent.com/475017/60982248-c104ec00-a305-11e9-8471-c98a8b820ab8.png)

[2019-07-10 15:32] sethRait commented on #2610
@ramya-rao-a this works perfectly! Thank you :D Is there a way this could be made more discoverable though?

[2019-07-10 15:38] jayschwa commented on #2637
The values in the `cp.execFile` callback: `err` is `null` and both `stdout` and `stderr` are `""`.

[2019-07-10 15:46] jayschwa commented on #2637
If I change the sub-command in the `execFile` to be nonsense, `err` is populated. It seems like Go is being called, but `stdout` and `stderr` aren't being copied correctly.

[2019-07-10 15:48] jayschwa commented on #2637
Found upstream issue https://github.com/microsoft/vscode/issues/75581. Closing this one. Thanks.

[2019-07-10 15:48] #2637 closed

[2019-07-10 18:21] chriswilliams1977 commented on #2638
Hi Rebecca,

I managed to get it working. I am using Go modules thus I had to play
around with the settings.json to get things working. I am currently using
the following:

{
    "go.buildOnSave": true,
    "go.lintOnSave": true,
    "go.vetOnSave": true,
    "go.buildTags": "",
    "go.buildFlags": [],
    "go.lintFlags": [],
    "go.vetFlags": [],
    "go.coverOnSave": false,
    "go.useCodeSnip

[2019-07-10 19:11] SteelPhase opened #2643 "Breakpoints appear to be skipped for an unknown reason."
macOS 10.14.5
vscode 1.36.1
vscode-go 0.11.4
go 1.12.7

Not sure what is causing this, but for some reason some breakpoints are being skipped. I'm assuming this may be a delve issue, but want to check here first before moving forward. I did notice that break points set in other areas of the function `tool.Main` are hit.

1. pull down `golang.org/x/tools` somewhere outside of gopath (this appears t

[2019-07-10 20:59] Wulfheart opened #2644 "file:///path/to/file/main.go is not part of a package - LSP"
Hello,

after setting up a project via gomod I get the following error when hovering over the package:
[code]

But it compiles just fine but the autocomplete e.g. for package names is not working.

I made a repo with my current situation: https://github.com/Wulfheart/vscode-go-issue

I'm using VS Code 1.36.1 with vscode go 0.11.4 and langserver (whatever it is).

Do you have any idea how this can

[2019-07-10 21:13] wtask commented on #2644
Close editor tab with this file and wait or restart `gopls`

[2019-07-11 03:11] jessiegocotano opened #2645 "Could not run vscode debugging with elevated permission"
[code]

I usually build the app with:
[code]

[2019-07-11 03:42] jessiegocotano commented on #2645
This is my launch.json

[code]

[2019-07-11 04:29] stamblerre commented on #2644
Can you check your `gopls` version (`gopls version`)? A number of improvements have recently been made, so it is worth updating to the latest (`go get golang.org/x/tools/gopls@latest`).

[2019-07-11 08:43] phungvandat commented on #2620
I always manually type the imports. I have restarted the VScode but it still doesn't work

[2019-07-11 15:00] Wulfheart commented on #2644
Restarting works just fine. Thank you.

[2019-07-11 15:00] #2644 closed

[2019-07-11 15:12] James-Z-Tang opened #2646 "VSCode does not compile with updated dependencies until project reloaded"
Steps to Reproduce:

1. Run go get -u ./... to update dependencies and check go.mod is updated with new version of dependencies.
2. Compilation errors in editor remains. Follow link to reference in editor, it's linked to old version of dependencies.
3. Close workspace or project and reload it, compilation errors disappear and the references are correctly pointing to updated version.

Ideally it wo

[2019-07-11 15:20] zeimbeekor commented on #2646
This has happened with the latest VSCode updates. Hopefully, this problem is solved very soon, it is very uncomfortable.

[2019-07-11 16:18] stamblerre commented on #2620
Can you confirm your `gopls` version (`gopls version`)? Can you share your `gopls` logs (View: Debug Console -> Output -> Tasks -> gopls)?

[2019-07-11 16:51] quoctruong commented on #2592
@ramya-rao-a @BaronChen In the case of debugging a remote process with `--accept-multiclient`, I think the debugger should just send a continue request and disconnect from the socket so it won't kill the debuggee?

[2019-07-11 17:31] quoctruong opened #2647 "Remote Debugging does not support `program` attribute"
The debug configuration that I'm using is:
[code]
The project that I'm trying to debug has two applications (frontend and backend) with the following structure:
.vscode
src
|--frontend
|--backend

The logs when I tried to debug the frontend application with the configuration above:
[code]

As you can see, the vscode debugger is sending over the wrong file path (which seems to occur at https://gith

[2019-07-11 18:44] quoctruong commented on #2647
My bad, I just realized I should use `cwd` instead of `program` for this case.

[2019-07-11 18:44] #2647 closed

[2019-07-11 22:10] drew-512 commented on #1903
Also seeing this -- 1.36.1, macOS High Sierra.
Tried all kinds of things.  Grr, frustrated -- especially when I like to tell others how awesome VS Code is with Go is...   :\

[2019-07-11 22:35] drew-512 commented on #1903
The causing this is a nil ptr deref (same as the OP's sample crash).

Someway/somehow it seems like if it's a ptr deref crash, even the VS Code go attache debugger just prints the dreaded `failed to continue - bad access` whereas a crash from a compiled binary prints the stack trace.

[2019-07-11 23:46] WhisperGoldstein opened #2648 "Auto Indent Support not working for select"
Auto indent moves case statements to the same level as the select when saving. Example:

	select {
	case receivedMsg := <-msgCh:
		fmt.Println(receivedMsg)
	case receivedError := <-errCh:
		fmt.Println(receivedError)
	default:
		fmt.Println("no messages received")
	}

[2019-07-12 14:44] lggomezml commented on #2444
This is also me on macOS, same as my Linux desktop:

![oDCZd5kipp](https://user-images.githubusercontent.com/29546751/61136530-37d2ee00-a49a-11e9-9be4-9fe9ab487193.gif)

It is a bit frustrating that I can't seem to be able to reproduce something so obvious...

[2019-07-12 15:34] nmeocisco commented on #2444
Maybe extensions make a difference? I see an icon of a whale on the left side that isn't in my environment. These are what I currently have installed as extensions:

Go 0.11.4
Git Blame 2.8.1
vscode-proto3 0.3.0

Might be worth stripping out other extensions and only using vscode with just the vscode-go extension installed.

[2019-07-12 17:07] drew-512 commented on #2444
`go version go1.11.5 darwin/amd64`

![Screen Shot 2019-07-12 at 12 06 11 PM](https://user-images.githubusercontent.com/35852900/61145607-7ae29080-a49d-11e9-86dd-a03da33e337c.png)

[2019-07-12 18:57] inliquid opened #2649 "Confusing behavior with `go vet` when using gopls and modules"
Say we have a circular dependency (just as an example). We are using `gopls` as the language server. Currently `gopls` doesn't warn about such case, see https://github.com/golang/go/issues/33085
However what if we run `go vet` explicitly? Go output for `Vet Current Package` shows that tool was run, making impression that it's all fine:
![изображение](https://user-images.githubusercontent.com/67978

[2019-07-13 07:19] #2622 closed

[2019-07-13 10:03] marco-m commented on #2644
Maybe related: https://github.com/golang/go/issues/33001

[2019-07-13 16:43] vincepri opened #2650 "Allow using goimports with gopls"
Follow-up from https://github.com/microsoft/vscode-go/issues/2446, I would like to disable format/imports from gopls and keep using `goimports` instead.

[2019-07-13 23:19] #2594 closed

[2019-07-13 23:19] #2303 closed

[2019-07-13 23:19] #2184 closed

[2019-07-13 23:19] #2236 closed

[2019-07-14 01:19] #2571 closed

[2019-07-14 02:19] #2602 closed

[2019-07-15 00:01] bobhancock opened #2651 "goimports does not execute on save with gopls"
vscode on Liniux
settings.json
{
    "editor.minimap.enabled": false,
    "go.autocompleteUnimportedPackages": true,
    "go.gocodeAutoBuild": true,
    "files.autoSave": "afterDelay",
    "[go]": {
        "editor.codeActionsOnSaveTimeout": 3000,
        "editor.snippetSuggestions": "none",
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.organizeImpo

[2019-07-15 05:36] ramya-rao-a commented on #2649
Please provide a small sample code that I can try to replicate this issue on.

[2019-07-15 05:37] ramya-rao-a commented on #2650
You can do this by adding the below in your settings

[code]

Have you tried the above?

[2019-07-15 05:39] ramya-rao-a commented on #2651
cc @stamblerre

[2019-07-15 06:15] xq840622 opened #2652 "it takes too much time to navigate to implementation of interface"
I use 'cmd+f12' to find the Implementations of interfaces (using guru), but it take more than 10 second to do that.
But in goland or sublime, this operation will be so much faster.

[2019-07-15 12:58] haryps commented on #2559
Hi @ramya-rao-a,

I would like to fix this issue and i have made the PR as attached.

However, i wonder whether this must be fix from each extension or visual studio code core code.

[2019-07-15 14:31] vincepri commented on #2650
Already tried with the settings you shared and it seems, from the process explorer, to always run gopls on save instead of goimports

[2019-07-15 15:37] stamblerre commented on #2650
Yeah, this setting won't stop the `goimports` behavior because that happens through a code action, not the `textDocument/formatting` request. You would have to set

[code]

[2019-07-15 15:42] vincepri commented on #2650
Seems setting them both to `false` doesn't actually trigger `goimports` or any other formatter, can you confirm that's the case as well?

[2019-07-15 16:32] stamblerre commented on #2650
I think you need this combination of settings to use regular `goimports`:

[code]

[2019-07-15 16:33] stamblerre commented on #2651
I actually redirected https://github.com/golang/go/issues/33089 to this repository because it doesn't seem to be a `gopls` problem. Based on the logs, `gopls` is returning the correct responses, but VSCode does not seem to be applying them.

[2019-07-15 16:41] inliquid commented on #2649
Any circular dependency works, it's clear from the description.

CircularDependency/main.go:
[code]
CircularDependency/a/a.go:
[code]
CircularDependency/b/b.go:
[code]

[2019-07-15 16:54] blocknonip opened #2654 "Option to disable red highlighting/checking as you type when using gopls"
Latest stable vscode-go, with latest build of `gopls` from cmd-shift-P, on macOS Mojave.

Apologies if this is in the docs/README, but I was unable to find it. Also, feel free to update the title if my terminology is wrong.

When test driving `gopls`, I find the constant lighting up of my UI with red highlighting as I type extremely distracting. Is there an option to turn this off until I save the

[2019-07-15 17:10] vincepri commented on #2650
That worked 🙌 thank you!

[2019-07-15 17:10] #2650 closed

[2019-07-15 19:26] goonode opened #2655 "Function calls via delve 'call' are not supported"
**Issue type: feature request**

**vscode-go version**: 0.11.4

**delve version**:
Delve Debugger
Version: 1.2.0
Build: df65be43aeb1b0f64c042827e6ccd6c91f91eed7

**go version**:
devel +b9edee32e1 Mon Jul 15 16:53:05 2019 +0000 linux/amd64

Delve has added the **call** command to be able to make function calls while in debug.

When I try to make a function call there are eval messages in the follow

[2019-07-16 08:44] drrrMikado opened #2656 "cannot install go tools on Remote-Wsl"
1. Remote WSL is ArchLinux and set GOPROXY=https://goproxy.cn and GO111MODULE=on. In Windows not set GOPROXY and GO111MODULE
2.  In vscode `ctrl+shift+p` ,and input `Go:Install/Update tools`, select all.
3. I got `Installing github.com/mdempsky/gocode FAILED` on output tab.

How to install go tools use Remote-WSL's GOPROXY and GO111MODULE?
WSL go version: 1.12
Region: Mainland of China
Thanks.

[2019-07-16 10:14] benoitmasson opened #2657 "gopls: rename symbol in all files"
I have successfully updated `gopls` to v0.1.3, now I can rename symbols from VS Code (https://github.com/microsoft/vscode-go/issues/2618 and https://github.com/Microsoft/vscode-go/issues/2074#issuecomment-507117831)

However, it seems symbols are not renamed outside of the current file, even when this file is open, like `gorename` used to do.

Am I missing something, or is it ongoing work for `gop

[2019-07-16 14:59] stamblerre commented on #2657
`gopls` rename only supports renaming within a package or its tests, not in other packages yet: https://github.com/golang/go/issues/32869.

[2019-07-17 14:18] tms320 commented on #2387
+1

[2019-07-17 14:56] tms320 opened #2658 "Ctrl+C doesn't work in debug console"
My OS: Windows 10 x64
VSCode version: 1.36.1
Go extension version: 0.11.4
Golang version: 1.12.6
At the end of my application I have the following code:
[code]
If I run it outside the VSCode I can press Ctrl+C to terminate my application gracefully.
But if I run debug session in VSCode (via F5 button) my app runs in debug console and Ctrl+C doesn't work.
PS: and I'd like that pressing "Stop debug"

[2019-07-17 15:44] jadekler opened #2659 "vscode-go is spamming me with "Reload vscode after installing Go language server""
I deleted the gopls binary and declined to install it when I opened vscode. However, every single time I type a key in a .go file, I get a popup that says "Reload vscode after installing Go language server".

If I ignore this popup and type another character, the popup minimizes itself and re-opens. Could we remove this behavior?

[Screenshot from 2019-07-17 09-42-48](https://user-images.githubuse

[2019-07-17 17:59] ramya-rao-a commented on #2649
Thanks for providing the code @inliquid
I have very limited time that I get to dedicate to this project, so having code snippets that I can copy and try to to replicate a bug helps immensely regardless how simple the code is.

With the above code
- I see expected errors when I turn the language server off and save the file
- I see that `gopls` doesnt report any errors/warnings when language server

[2019-07-17 18:06] ramya-rao-a commented on #2649
Also, I am running the command with the `CircularDependency/main.go` file opened in the active editor

[2019-07-17 18:09] ramya-rao-a commented on #2659
While we look into it, disable the use of language server in your settings, reload VS Code window once. You shouldnt get that prompt again.

To disable the use of language server, set `go.useLanguageServer` to `false` or remove that setting altogether

[2019-07-17 18:13] ramya-rao-a commented on #2658
The debug console does not support this feature in VS Code in general.

Once we have #843 implemented, we can debug using the internal or external terminal which could support this feature.

Are you saying that you prefer the current behaviour of "Stop debug" button or you would prefer the fix for the issue #2387

[2019-07-17 18:13] ramya-rao-a commented on #2657
Closing in favor of the upstream issue

[2019-07-17 18:13] #2657 closed

[2019-07-17 18:14] ramya-rao-a commented on #2656
Please share the entire error message that comes with `Installing github.com/mdempsky/gocode FAILED`

[2019-07-17 18:16] ramya-rao-a commented on #2654
You can add the below to disable diagnostics from gopls and use the diagnostics that appear on file save from vscode-go
[code]

Ensure that you havent turned off `go.buildOnSave` and `go.lintOnSave` settings

[2019-07-17 18:16] #2654 closed

[2019-07-17 18:16] ramya-rao-a commented on #2652
Please share the Go related settings you might have added/edited. You can get these from running the command `Preferences: Open Settings (JSON)`

[2019-07-17 18:18] ramya-rao-a commented on #2645
This seems similar to #2610
Can you try the workaround mentioned there?

[2019-07-17 18:18] ramya-rao-a commented on #2610
Not sure...
Maybe a section in the README or FAQs?

[2019-07-17 18:19] ramya-rao-a commented on #2646
After Step 1, if you reload the window, do you still see the errors?
Can you provide a small code sample along with sample go.mod file where I can try this?

[2019-07-17 18:26] blocknonip commented on #2654
Thank you for the clarification.

[2019-07-17 18:46] tms320 commented on #2658
Thanks for your answer )

I mean that first click sends TERM signal (and my application will try to process this signal). The second click does a force kill my app. Ideally, this behavior must be a configured option (to send or not to send the TERM signal on first click). IMHO )

[2019-07-18 01:54] jeremyHD commented on #2621
I've got the same issue on my macOS.
Need some help here.

[2019-07-18 06:39] drrrMikado commented on #2656
I don't have any error message.Just get `FAILED` status.
![image](https://user-images.githubusercontent.com/11224565/61434765-71f43200-a969-11e9-8fee-d325ac3c74a3.png)

But in WSL:
![image](https://user-images.githubusercontent.com/11224565/61434860-abc53880-a969-11e9-9dbd-02aac2d2fc65.png)

[2019-07-18 11:09] oneslash commented on #2636
I think it’s more for vscode repository

[2019-07-18 13:18] developeer commented on #2505
I have run into this also.  the trace: verbose everything looks good but never hits my first breakpoint in main.    In the debug console, it has a link to the file I am debugging. I click on it and it says it does not exist and prompts to create it which is not right.  I am using gvm (to install go 1.12.5). I am trying to debug kubernetes/kubectl.  Works fine w/o debugging as others have stated.

[2019-07-18 14:35] James-Z-Tang commented on #2646
I could build golfing program in the console but in vscode it displayed the error sign in editor. After reloading project the error disappeared.

[2019-07-18 15:39] phungvandat commented on #2620
This is information
[code]
My Debug Console and Output is empty.

[2019-07-18 16:34] stamblerre commented on #2620
Were you unable to go to the "Tasks" section of the output and find "gopls"? There should definitely be logging there. Please see the information here: https://github.com/golang/go/wiki/gopls#troubleshooting.

[2019-07-18 19:19] ahmetb opened #2661 "LSP is showing errors that were fixed long ago"
This happens to me all the time lately and it started to pretty annoying.

I use setting `  "go.useLanguageServer": true` and `"go.buildOnSave": "package",`.

Steps to Reproduce:

1. take perfectly fine code:
![image](https://user-images.githubusercontent.com/159209/61485420-f89f1400-a955-11e9-9727-0b7e429f184c.png)
2. introduce an error (like adding a `x` character at the end)  WITHOUT SAVING
![i

[2019-07-18 19:33] stamblerre commented on #2661
What version of `gopls` are you using (`gopls version`)?

[2019-07-18 19:33] stamblerre commented on #2661
I would recommend making sure you are using the latest version by running `go get golang.org/x/tools/gopls`).

[2019-07-18 21:05] ahmetb commented on #2661
Looks like `gopls version` command or flag doesn't exist on my local copy.

<details>
<summary>`gopls version` output</summary>
<pre>
gopls version
gopls: Unknown command version
The Go Language source tools.

Usage: gopls [flags] <command> [command-flags] [command-args]

Available commands are:
  serve : run a server for Go code using the Language Server Protocol
  query : answer queries about go

[2019-07-18 21:07] ahmetb commented on #2661
It also appears like vscode-go has stopped auto-upgrading the tools it's depending on since April. This is my `go.toolsGopath/bin` directory:

[code]

Since vscode-go used to offer updating these with a pop-up reminder, I'm thinking something is broken.

[2019-07-18 21:09] stamblerre commented on #2661
It sounds like you are using a very old version of `gopls` - one from before the addition of the version command. You can update by either using the command I suggested, or by opening the command palette (Ctrl + Shift + P) and selecting "Go: Install/Update Tools" and choosing `gopls`.

[2019-07-18 21:52] ahmetb commented on #2661
I upgraded & restarted (now at `v0.1.3-cmd.gopls`).

The issue persists, but a bit differently. (the deleting/re-adding `}` no longer causes the snipped issue above).

Take a look at highlighted and valid import path on a *.go file:

![image](https://user-images.githubusercontent.com/159209/61494512-2e022c80-a96b-11e9-90b8-9e0831b903be.png)

I delete the last slash (`/`), **and add it back** immed

[2019-07-18 21:56] stamblerre commented on #2661
What is the output of `gopls -v -rpc.trace /path/to/file.go`?

[2019-07-18 23:06] ahmetb commented on #2661
That treats file path as a subcommand, hence not working.
(gopls version: v0.1.3)

[2019-07-18 23:07] stamblerre commented on #2661
Sorry, I meant to say `gopls -v -rpc.trace check /path/to/file.go`

[2019-07-18 23:15] ahmetb commented on #2661
<details>
<summary>output here</summary>
2019/07/18 16:14:08 Info:136.923482ms for GOROOT= GOPATH= GO111MODULE= PWD=/Users/ahmetb/workspace/krew go "list" "-e" "-json" "-compiled=true" "-test=true" "-export=false" "-deps=true" "-find=false" "--" "builtin", stderr: <<>>
2019/07/18 16:14:09 Info:Build info
----------
version v0.1.3, built in $GOPATH mode

Go info
-------
go version go1.12.6 darwin/a

[2019-07-18 23:18] stamblerre commented on #2661
Is it only slow when you edit the import paths or is it also slow in other parts of the file?

[2019-07-18 23:30] ahmetb commented on #2661
It varies depending on the situation:

- obvious syntax errors, like missing }, ) &rarr; ~instant feedback showing error.
- import paths &rarr; 3-4 seconds showing error
- undeclared identifier &rarr; ~instant feedback showing error
- changing the package name on an invocation (e.g. errors.Wrap &rarr; errorz.Wrap) &rarr; ~instant feedback showing error
- fixing it back (e.g. errorz.Wrap &rarr; err

[2019-07-19 03:13] ramya-rao-a commented on #2646
@zeimbeekor Can you confirm that the VS Code reload fixes the problem?

There was nothing done in the recent updates around this. The Go extension is not aware of the external `go get` commands that run and update `go.mod` file. Therefore, it will not know to re-run `go build` and to update the errors.

[2019-07-19 03:22] ramya-rao-a commented on #2656
You need to wait until all the messages are printed.
i.e wait until all the "Installing ..." messages are printed for each of the tools.
The error messages will show up after that

[2019-07-19 03:30] ramya-rao-a commented on #2621
Thanks @eugeneradionov

That looks like an issue with `guru` itself failing to find the results.

Can you try to run `guru` from the command line and see if that yields any results?
`guru -scope the-import-path-to-your-package/.... -json implements path-to-current-file:#offset`

-  the-import-path-to-your-package: like `github.com/golang/example/hello`
-  offset: Install the [show-offset](https://

[2019-07-19 03:40] ramya-rao-a commented on #2649
I was not using modules before. If I change to using modules, then I see the issue you are talking about.

Without modules, `go vet` returns the below
[code]

With modules, `go vet` returns the below
[code]

As you can see, the output in case of modules doesnt have any file path or line number
The Go extension relies on the file path and line number to show the error/warning on the right lines in

[2019-07-19 03:44] ramya-rao-a commented on #2559
VS Code will not be aware of which code files should be allowed to be edited and which shouldnt when a debug session is started. Therefore, it cannot make that decision and each language extension is in the best place to make this decision.

On save should be enough.

Can you elaborate?

[2019-07-19 03:46] ramya-rao-a commented on #2638
@chriswilliams1977 Looks like you disabled the use of language server to get things working.
That's unfortunate as we are advocating the use of language server especially when using modules.

Regardless, if you do end up enabling it again, share the logs with us next time.

Happy Coding!

[2019-07-19 03:46] #2638 closed

[2019-07-19 03:56] ramya-rao-a commented on #2446
@stamblerre The Go extension registers the provider because `gopls` returns `true` for the `DocumentFormattingProvider` in the server capabilities

![image](https://user-images.githubusercontent.com/16890566/61508331-36c02600-a99e-11e9-83f9-a52270097897.png)

My settings:
[code]

And I have updated to the latest `gopls`

[2019-07-19 03:56] #2641 closed

[2019-07-19 03:57] ramya-rao-a commented on #1644
Thanks @isidorn

I am going to stick with the modal approach.

[2019-07-19 03:57] #1644 closed

[2019-07-19 04:17] drrrMikado commented on #2656
<details>
<summary>error message details</summary>
Installing 18 tools at /home/mikado/go/bin
  gocode
  gopkgs
  go-outline
  go-symbols
  guru
  gorename
  dlv
  gocode-gomod
  godef
  goimports
  golint
  gopls
  gotests
  gomodifytags
  impl
  fillstruct
  goplay
  godoctor

Installing github.com/cweill/gotests/... FAILED
Installing github.com/go-delve/delve/cmd/dlv FAILED
Installing github.co

[2019-07-19 06:57] xq840622 commented on #2652
{
    "go.formatTool": "goimports",
    "window.zoomLevel": 0,
    "go.testTimeout": "6000s",
    "go.testFlags": [
        "-v",
        "-count=1"
    ],
    "gitlens.advanced.messages": {
        "suppressFileNotUnderSourceControlWarning": true,
        "suppressShowKeyBindingsNotice": true
    },
    "workbench.startupEditor": "newUntitledFile",
    "todo-tree.defaultHighlight": {
        "for

[2019-07-19 07:23] eugeneradionov commented on #2621
@ramya-rao-a
it loads all cores as well and executing during ~30-60 sec but returns the result
[code]

[2019-07-19 10:11] mSpolsky commented on #2505
The same problem... As far as I understand the issue should be solved by https://github.com/Microsoft/vscode-go/issues/926 .  Today I installed a fresh version of VSC Insiders on my Windows 10 machine. I also installed Remote Development and Go extensions(the second one on WSL).When I try to debug it just hangs

[2019-07-19 10:53] fananchong opened #2662 "Auto-import auto-complete is very slow with go mod and takes 4-5 seconds"
The project uses go module to manage dependencies, no vendor

[2019-07-19 15:12] vincepri commented on #2446
@ramya-rao-a Can you try to use this patch https://go-review.googlesource.com/c/tools/+/185244/5/internal/lsp/general.go to see if the behavior is what you'd expect?

[2019-07-19 18:34] #2658 closed

[2019-07-19 19:02] giulianob commented on #2661
I'm having the same issue. I have to just often reload VSCode to clear errors otherwise it just seems like it's stuck. If there's any tracing that would help debug it let me know it happens several times an hour.

[2019-07-19 19:48] adibrastegarnia opened #2663 "dlv remote debugging using vscode"
We have a dlv server running in the exec mode in a Kubernetes pod and we already exposed the port that we can connect to it using dlv client or IDEs. We can connect using dlv connect but we cannot connect to it using vscocde.  First of all, it is not clear for me what should be type of request: attach or launch? When I set it to launch it says: couldn't start listener: listen tcp 127.0.0.1:40000:

[2019-07-19 20:28] blocknonip opened #2664 "Highlighted occurrences do not show in scroll bar when gopls is enabled"
Latest stable vscode-go on macOS Mojave.

[code]

When `gopls` is enabled, highlighted words no longer show in the scroll bar. This happens regardless of `editor.occurrencesHighlight` setting (which I prefer false, but tested in both configurations).

This does not affect other non-Go file formats, like `settings.json`.

No language server:
![No language server](https://user-images.githubuserconte

[2019-07-19 21:34] stamblerre commented on #2649
/cc @matloob for more insight on go/analysis

I'd also suggest that in the cases when `go vet` doesn't return position information, maybe VSCode-Go could default to the top of the file?

[2019-07-19 21:52] stamblerre commented on #2661
@ahmetb: Do you always type import paths or do you use the `source.organizeImports` feature? Can you please share your `gopls` logs? They can be found by going to View: Debug Console -> Output -> Tasks -> gopls.

@giulianob: Can you confirm your version of `gopls` (`gopls version`)? You can update to the latest by running `go get golang.org/x/tools/gopls@latest`. If you are still seeing these issu

[2019-07-19 23:09] jadekler opened #2665 "find all references only shows itself"
When I search for references for a method on a struct, it just shows itself, instead of any references. I am able to navigate to a different file that uses the method, ctrl+f the usage of that method, and Go To Definition and it lands me on the method, so that direction works fine. Just the other direction that does not.

Not sure if this is `gopls` related or not. If so, here is my version:

[cod

[2019-07-19 23:12] jadekler opened #2666 "how do I debug plugin problems?"
Occasionally some combination of this plugin and its dependencies stop working. For example, right now I have incorrectly tabbed Go content, and when I hit save, nothing happens. (I expect it to re-tab my code appropriately)

I'd like to see some sort of running log of what's happening under the hood to figure out if some plugin is broken or something. Is such a thing possible?

[2019-07-19 23:29] jadekler commented on #2661
+1, also seeing this.

[2019-07-19 23:30] jadekler commented on #2666
Nevermind! @stamblerre notes how to in https://github.com/microsoft/vscode-go/issues/2661.

[2019-07-19 23:30] #2666 closed

[2019-07-19 23:32] ahmetb commented on #2661
I don’t really do manual imports so my problem is gone for the moment.

But the fact that vscode-go isnt prompting for such an outdated tool + others are hitting it is concerning. Vscode-go’s Go tools update feature was such a nice thing to have, lately it has been gone for me.

[2019-07-20 04:34] jaredallard commented on #2595
I seem to be encountering this ins 0.11.4.

[code]

Same thing, runs fine in my shell. I've set PATH multiple places. Usin Mac OS X, running out of ideas.

[2019-07-20 18:34] phungvandat commented on #2620
This is my console when I try to import package inside GOPATH.

![image](https://github.com/phungvandat/Vscode-bugs/blob/master/Screen%20Shot%202019-07-21%20at%2001.29.39.png?raw=true)

[code]

[2019-07-21 03:41] andrewpurdin commented on #2595
I am having this issue in 0.11.4 as well.

[2019-07-21 04:05] ramya-rao-a commented on #2595
@jaredallard, @andrewpurdin Is the value for PATH that is getting printed in the error message what you expect?

If your shell is showing you the right PATH, then try running VS Code from the shell. When run this way, VS Code inherits all the env variables from the shell

[2019-07-21 04:16] ramya-rao-a commented on #2649
We did that for build errors to fix #664 which is basically the same problem :)

Since using `gopls` disable the build checks by the vscode-go checks, the fix for #664 doesnt help here.

But if I am getting this right... the errors we are seeing here from `go vet` is basically build/compile errors and not actual vetting errors right i.e this is not due to any vetting rules?

If so, then I'd be mor

[2019-07-21 04:25] ramya-rao-a commented on #2621
Thanks @eugeneradionov

We have an ongoing effort to add timeouts to requests that spawn external tools like `guru`, but that will not fix the cpu issue :(

Long term, we are looking at [gopls](https://github.com/golang/go/wiki/gopls) to provide a better solution for finding references and implementation.

Closing this issue as unfortunately, there isnt much we can do at this point from the extens

[2019-07-21 04:25] #2621 closed

[2019-07-21 04:26] ramya-rao-a commented on #2652
Thanks @xq840622

As discussed in #2621, `guru` is inherently slow in such cases.

For long term, we are looking at [gopls](https://github.com/golang/go/wiki/gopls) to provide a better solution for finding references and implementation.

Closing this issue as unfortunately, there isnt much we can do at this point from the extension's side.

[2019-07-21 04:26] #2652 closed

[2019-07-21 04:46] ramya-rao-a commented on #2446
Apologies, the assessment in my earlier comment was wrong, I have crossed it out and updated the scenario where the vscode-go extension would register its formatter which is either when
- `format` is set to false in `go.languageServerExperimentalFeatures.`
- Or if the language server has not set registered a formatting provider.

Currently, the problem is not that the vscode-go extension is regist

[2019-07-21 05:38] jaredallard commented on #2595
@ramya-rao-a It's not, I've mitigated this for now by running it out of my shell. Go is just in the default location that homebrew installs it in though, is there a better way of modifying how PATH is exposed to vscode by default?

[2019-07-21 05:43] ahmetb commented on #2661
The situation is worse now for some reason. It still shows errors that are long gone in some situations, it stops working after a while when there are way too many errors (shows no errors anymore).

Reload Window fixes everything, and I have to do it like every 5 minutes.

I'm afraid I have no clean repro for any of it. I recommend using vscode-go to develop a project that uses Go modules heavily.

[2019-07-21 15:59] haryps commented on #2546
Dear All,

Could you provide steps to reproduce since i'm still not really familiar with vscode-go.

Regards

[2019-07-21 17:31] stamblerre commented on #2665
Is the different file in the same package or a different package? See https://github.com/golang/go/issues/32869.

[2019-07-21 17:50] stamblerre commented on #2666
Also, see https://github.com/golang/go/wiki/gopls#troubleshooting.

[2019-07-21 17:59] stamblerre commented on #2620
Do you mind opening an issue on the Go issue tracker: https://github.com/golang/go/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Agopls? Basically, what's going wrong here is that `gopls` tries to detect when your imports change so that it can determine the package metadata, but when you manually type imports it's constantly re-running `go list`, which is expensive. We need to figure out a g

[2019-07-21 18:03] stamblerre commented on #2661
Has it gotten worse with the same version of `gopls`? Can you share your logs from when this happens?

[2019-07-21 18:07] stamblerre commented on #2446
Can't VSCode-Go do the configuration handling on its end? Doesn't this handling happen here: https://github.com/microsoft/vscode-go/blob/4b516f9a872f3a3086d6d56f8e346d4b5a7e53ef/src/goMain.ts#L144?

[2019-07-21 18:07] ramya-rao-a commented on #1128
Apologies for not responding to this issue sooner :(

We do not pass built binaries to delve. So, the first point doesn't apply.
We had #1974 logged for the issue with the shadowed variables. The fix made was to show the name of the shadowed variables in parentheses

[2019-07-21 18:07] #1128 closed

[2019-07-21 18:08] ramya-rao-a commented on #2376
Closing this issue in favor of #2446

[2019-07-21 18:08] #2376 closed

[2019-07-21 18:12] ramya-rao-a commented on #2617
#1425 was a best effort made under the circumstances to provide a warning.
In order to support the DO NOT EDIT comment on any line, we will have to parse the entire file which I would prefer not to do as it can get expensive on very large files.

Now that we have support for language servers, they are in a better state to handle parsed file contents.

@stamblerre Is this something you would consid

[2019-07-21 18:27] stamblerre commented on #2617
Yes, gopls could do this and send it as a diagnostic.

[2019-07-21 18:41] ramya-rao-a commented on #2619
Thanks for reporting @mreynolds

The fix for #1848 will resolve this issue to
So, closing this in favor of #1848

[2019-07-21 18:41] #2619 closed

[2019-07-21 21:13] ahmetb commented on #2661
I have no idea where to find gopls logs. Also happy to jump on hangouts and show this in action.

[2019-07-21 21:51] mapuri commented on #1921
@ramya-rao-a @Charliekenney23 Is this issue still being worked on?

I would benefit from this feature. One of the repos that I work with uses the check package and vscode-go won't let me run/debug those tests individually.

[2019-07-22 03:10] sagarkrkv commented on #2663
@adibrastegarnia this config should work.
[code]

[2019-07-22 03:39] adibrastegarnia commented on #2663
@sagarkrkv
Thanks for your response. What I found out If I run dlv connect localhost:40000 from another terminal and then start the debugger from vscode it will connect to the server but without that it doesn't work. Is that an intended behavior?

[2019-07-22 07:24] mrdulin opened #2667 "Request textDocument/hover failed."
This issue confused me for a month. My vscode go extension doesn't work well. For now it seems the intellisense doesn't work.

For example:

[code]

when I hover to the import statement, `gopls` give me below trace message:

[code]

Another case, when I hover to a method,

[code]

the `gopls` give me below trace messages:

[code]

## version

vscode-go: 0.11.4
go: go version go1.12.6 darwin/amd64

[2019-07-22 10:03] tbg commented on #1948
For anyone else wondering, this is what @guiguan's proposal looks like

![image](https://user-images.githubusercontent.com/5076964/61624293-a113e780-ac78-11e9-9866-46ccdd1ab92b.png)

[2019-07-22 12:26] polak-jan commented on #2661
I was getting the same issue, updated all tools today but it still does it though quite less often, only happened once in the few hours and it only stayed for few seconds.

But before that it used to hang after less than a minute, I almost couldn't type a single character without loosing all go related functionality. The errors that cause this seem to be random ones, can't say that there would be

[2019-07-22 14:17] jadekler commented on #2665
Different package. Closing to track 32869.

[2019-07-22 14:17] #2665 closed

[2019-07-22 15:18] andrewpurdin commented on #2595
This was my problem, I wasn't aware that opening VS Code outside of the shell would fail to inherit environment variables from ZSH.

Thank you!

[2019-07-22 16:50] stamblerre commented on #2667
Sorry for the confusion on the other bug, I was explaining something else to another user--this is a `gopls` issue and the discussion should be moved back to that issue. I'm sorry I haven't been able to investigate it yet - we do have a lot of different things on our plate so sometimes issues slip through. I will write a follow-up there.

[2019-07-22 19:27] stamblerre commented on #2661
@ahmetb: See https://github.com/golang/go/wiki/gopls#troubleshooting for more information. I also mentioned how to get logs in https://github.com/microsoft/vscode-go/issues/2661#issuecomment-513390585. I would be happy to take a look with you over hangouts, but seeing your logs may help me get a sense of the issue first.

@polak-jan: Are you still seeing such errors, and if so, can you share your

[2019-07-22 20:22] jadekler commented on #2661
I experienced this delay again today. I exited vscode, opened it again, and had roughly 8 incorrect red squigglies (fixed things, wrong line, wrong characters, etc). One by they disappeared with ~5-10s in between each disappearing. Here's the log:

[code]

[2019-07-22 20:36] Charliekenney23 commented on #1921
Please feel free to take this! I'm no longer effected by this issue and forgot about it as a result.

[2019-07-23 17:45] techthumb commented on #2639
[code]
Run ☝️ to ensure that you are running the latest version of the language server.

If the command fails, then you likely have a very old version of `gopls`.

To upgrade to latest, run:
[code]

[2019-07-23 17:46] AnikHasibul commented on #2639
Yeah! Fixed to me!

[2019-07-23 20:51] stamblerre commented on #2639
It's best to update `gopls` using `go get golang.org/x/tools/gopls@latest` to get the latest tagged version. `master` may have bugs.

[2019-07-24 09:40] proudlily opened #2668 "vscode-go compile taking too much cpu"
Steps to Reproduce:
1. i use vscode to write go
2. while i save file in the vscode ,the vscode is goint to compile code.
3.then it will takes too much cpu and mem .
4. i tried to use difference version of vscode-go,suce as
0.11.4;  0.11.1; 0.6.89
5.but all the version of vscode-go all is  taking too much cpu and mem that i cant do anything

see pic below:
![ZHHAEV.jpg](https://s2.ax1x.com/2019/07/

[2019-07-24 12:56] ho-wan opened #2669 "v0.11.4 breaks all commands for extension, and cannot run go files with debug mode"
Cannot run go files using launch.json with debug mode with v0.11.4.  Also, none of the commands for the extension seems to be able to be found (error: command 'go.gopath' not found).

Works with all versions of vscode-go v0.11.3 and previous.

OS: Windows 10
VS Code Version: 1.36.1
Go version: go1.12.6 windows/amd64

Steps to Reproduce:
1. With Go extension v0.11.4 installed and launch.json config

[2019-07-24 16:40] mjaseem opened #2670 "There is no formatter for 'go'-files installed"
When I try to format go code I get the error mentioned in the title. I am using latest version of vscode and vscode-go.

If I enable Go language server, I don't get any error message, but document remains unformatted.

[2019-07-24 18:19] #2645 closed

[2019-07-24 18:42] stamblerre commented on #2670
If you use the language server, you need to add these settings.

[code]

[2019-07-25 04:36] mapuri commented on #1921
@Charliekenney23 thanks for letting me know. I haven't coded in node yet but I can give it a shot :)

@ramya-rao-a following your code pointers I think we would need to add the go-check package related flags in [targetArgs](https://github.com/Microsoft/vscode-go/blob/0.7.0/src/testUtils.ts#L356) function that is called from the [goTest](https://github.com/Microsoft/vscode-go/blob/0.7.0/src/testUti

[2019-07-25 05:26] sagarkrkv commented on #2663
https://github.com/go-delve/delve/blob/master/Documentation/usage/dlv.md#options

Yes, according to delve documentation, the clients have to co-ordinate in this scenario, so I would assume what you're describing is not possible.

[2019-07-25 10:30] banks opened #2671 "Use gopls@latest rather than master"
Based on discussion here: https://github.com/golang/go/issues/33221#issuecomment-514256469 the `gopls` authors suggest that vscode should be installing `latest` rather than `master` as they are more confident about the stability of `latest` for general use.

I don't personally have a horse in the race - it happened that I was hitting an issue that needed a fix from master anyway but I said I'd ope

[2019-07-25 12:41] dpanic opened #2672 "function redeclared in this block"
Steps to Reproduce:

VS Code 1.36.1 (Linux)
VS Code Go (ms-vscode.go) 0.11.4
gopls v0.1.3-cmd.gopls

1. Have 3 files

fileinfo_darwin.go
[code]

fileinfo_linux.go
[code]

[2019-07-25 21:33] ramya-rao-a commented on #2640
Thanks for reporting @Greyh4t
Closing in favor of the upstream issue

[2019-07-25 21:33] #2640 closed

[2019-07-26 03:19] #2646 closed

[2019-07-26 06:08] Davo36 commented on #2667
I'm also getting these errors:

[code]

[2019-07-26 06:38] tantao700 commented on #2505
The same problem

when i press(F5) the debugger is hang. below is my trace log
[code]

i run main.go in my workspace,it work well

go version go1.12.7 linux/amd64
Go for Visual Studio Code:0.11.4
VSCODE
Version: 1.36.1 (user setup)
Commit: 2213894ea0415ee8c85c5eea0d0ff81ecc191529
Date: 2019-07-08T22:59:35.033Z
Electron: 4.2.5
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Win

[2019-07-26 13:07] WangLei1993 commented on #2656
The same question as I meet in vscode remote ssh.

I find some interesting things in remote server and may it will help to solve this issue.

Print the environment variables of go process and its parent process(vscode node server) when we have selected `Go:Install/Update tools`. After that we can find that the GO111MODULE in go process is off but it is on in go parent process(vscode node server) .

[2019-07-26 18:08] stamblerre commented on #2667
@Davo36: Can you please open a separate issue on the [Go issue tracker](https://github.com/golang/go/issues)?

[2019-07-26 18:54] ramya-rao-a commented on #1848
For features that depend on individual files, the above approach would work. For example;
- code completion
- code navigation
- formatting

But what about features that work at a package level? Like build and vet?

[2019-07-26 18:58] ramya-rao-a commented on #2672
Thanks for reporting @dpanic

I am not able to replicate your scenario. I

Have you configured the `go.buildTags` or `go.toolsEnvVars` setting to make things work with the different build tags and GOOS values? Can you share all the changes you have done to any Go related settings?

[2019-07-26 19:01] ramya-rao-a commented on #2671
Thanks for logging this issue @banks

@stamblerre In some issues we ask users to get the latest of gopls to get bug fixes that were recently made. Would you be ensuring that `@latest` would point to the right commit? Would there be a case where we want users to use master?

Because, from our side the suggestion would be to use `Go: Install/Update Tools` command to update the `gopls`. If this point

[2019-07-26 19:03] ramya-rao-a commented on #2670
@stamblerre Those are the default settings at the moment, so users don't have to set that explicitly anymore.

@mjaseem Are you able to use other features like the `Go To Definition` feature? Can you share all the settings you might have added/changed related to Go? Are you using modules?

[2019-07-26 19:05] ramya-rao-a commented on #2669
I believe the extension is not getting loaded properly in your case, please try the below

- Install the latest version of the Go extension
- Reload VS Code window
- Run `View` -> `Output` -> `Log (Extension Host)` in the drop down on the top right corner of the panel
- Check for any errors indicating that the vscode-go extension failed to load
- Run the command `Go: Current GOPATH` to test if the

[2019-07-26 19:14] ramya-rao-a commented on #2668
Thanks for reporting @proudlily

- Please share a screenshot of the process explorer after running the command `Developer: Open Process Explorer` when this happens
- Also share any Go related settings you may have added/edited
- Are you using Go modules?
- Does this happen if you set `go.buildOnSave` to `off`?

[2019-07-26 19:16] ramya-rao-a commented on #2667
Please log issues on the [Go issue tracker](https://github.com/golang/go/issues) for errors from the language server `gopls`

[2019-07-26 19:16] #2667 closed

[2019-07-26 19:18] ramya-rao-a commented on #2664
This is interesting... I see this too, but as far as I know this feature is language agnostic and VS Code shouldn't be caring about whether a language server is being used or not to provide this feature...

@rebornix Any idea why this might be happening or how a language server can possibly interfere with this feature?

[2019-07-26 19:20] ramya-rao-a commented on #2662
Please provide more details on the steps for this issue i.e what exactly is slow?
- Showing of the auto-completion list?
- Adding of the text after a completion item is selected?

A screenshot of the feature you are referring to can help as well.
Please share any Go related settings you might have edited/added

[2019-07-26 19:30] ramya-rao-a commented on #2244
@segevfiner Closing this issue as I believe it has been resolved and I don't see the problem anymore.
Please log a new issue if you still see this

[2019-07-26 19:30] #2244 closed

[2019-07-26 19:33] ramya-rao-a commented on #2391
Closing this issue as it hasn't seen a response in a while.
If anyone is still facing this problem, please log a new issue.

[2019-07-26 19:33] #2391 closed

[2019-07-26 19:56] rebornix commented on #2664
I'm wondering whether it's because of `DocumentHighlightProvider.provideDocumentHighlights` which might change the behavior of word highlight features.

[2019-07-26 20:07] #2534 closed

[2019-07-26 20:16] ramya-rao-a commented on #2649
Alright, here is what we can do
- we extend the fix we made in #664 for build command to work for vet command as well
- in the middle ware for handling diagnostics, we can interrupt and inspect the diagnostics from the language server. If there are conflicts on the same line & position, we let the language server results win

PRs are welcome to fix this
Code Pointers:
- [Set up local dev environme

[2019-07-26 20:23] ramya-rao-a commented on #2643
I would suggest to try running delve in the command line, set breakpoints in the exact same places and see what happens there first.

[2019-07-26 20:26] ramya-rao-a commented on #2639
@bashfulrobot
- Can you share any Go related settings you might have added/edited?
- Are you using the language server?
- If not using the language server, then the output window might have more details on the error. `View` -> `Output` -> `Go` from the drop down on the top right corner of the output panel

[2019-07-26 20:27] ramya-rao-a commented on #2633
@stamblerre Have you seen this command to be working as expected?

[2019-07-26 20:34] ramya-rao-a commented on #2630
Are you able to consistently see the problem when you switch the build on save setting to `workspace` and then see it go away when set to `package`?

When this happens, you can find the exact `go build` command used and the directory from where the command is run in the Output channel. `View` -> `Output` -> `Go` from he dropdown on the top right corner of the output panel.

Compare this for the 2

[2019-07-26 20:55] #2639 closed

[2019-07-26 21:39] dpanic commented on #2672
Hi there,
here is configuration
![Screenshot from 2019-07-26 23-35-03](https://user-images.githubusercontent.com/346557/61982772-1297c100-affe-11e9-98e4-189e9dd65542.png)

No, I did not set go.buildTags or go.toolsEnvVars.
Go compiler works properly, gopls is making problems, have look:

![Screenshot from 2019-07-26 23-36-59](https://user-images.githubusercontent.com/346557/61982925-9f427f00-affe-

[2019-07-26 22:44] stamblerre commented on #2672
Can you please share the output of `gopls -v -rpc.trace check /path/to/file.go`?

[2019-07-26 22:55] dpanic commented on #2672
[code]

[2019-07-27 03:59] fananchong commented on #2662
https://github.com/fananchong/test_travis_ci_for_golang/blob/master/temp/vscode_compress.gif
![p1](https://github.com/fananchong/test_travis_ci_for_golang/blob/master/temp/vscode_compress.gif)

[2019-07-27 04:36] andrewrynhard commented on #2671
FWIW VScode for Golang was nearly unusable until I used `latest`.

[2019-07-27 16:01] ramya-rao-a commented on #2664
@rebornix Thanks! I can confirm that the language server does register a document highlight provider.

So it looks like VS Code highlights all occurrences of the word by default unless a document highlight provider is registered. As per https://microsoft.github.io/language-server-protocol/specification#textDocument_documentHighlight, a document highlight provider is very similar to reference provi

[2019-07-27 16:03] ramya-rao-a commented on #2662
@fananchong I can't see the gif actually running in the above link. Can you try again by some other means?

[2019-07-28 07:55] segevfiner commented on #2244
It's probably resolved by `gopls` (Didn't check), not sure if it's resolved without it, but even if it is, should I even bother checking? I don't think using modules without `gopls` is recommended or expected to work well anymore.

[2019-07-28 20:25] mreynolds commented on #1848
Behaving like the golang platform itself is the lowest friction option ; eval for the current platform you're running on only.  If parameters are passed in (ENV or config) that override GOOS for compilation reasons, the plugin should respect this, but I wouldn't bother trying to manage it proactively.  I wouldn't try to build a fancy "multi-GOOS"-aware set of functionality without better golang su

[2019-07-29 02:02] fananchong commented on #2662
18.8 MB , try download

[2019-07-29 09:27] AdrienViala commented on #2444
hello, just to point that I got the same bug too. reload windows does temporarily fix the issue. go 0.11.4 on 1.36.1 user setup.

[2019-07-29 11:49] ho-wan commented on #2669
Thanks, the problem fixed itself after restarting computer and installing the latest version of the extension.

[2019-07-29 11:49] #2669 closed

[2019-07-29 17:46] rebornix commented on #2664
@ramya-rao-a yup, it's as expected.

[2019-07-29 19:49] dpanic commented on #2672
Do you need any additional feedback from my side?

[2019-07-30 01:19] chandradeepak opened #2674 "Need the ability to save vs code setting in cloud through email and retrieve it any time"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-07-30 03:33] lizhihua0925 opened #2675 "Remote debug test permission denied"
Hi,

I use windows vscode and remote-ssh linux to wirte golang, all is fine until I click debug test, then I encountered an error

![image](https://user-images.githubusercontent.com/16623135/62098544-608e1c80-b2bd-11e9-81ee-c48ca6bf5239.png)

env:
win7 + vscode 1.36.1
centos7.6 + go 1.12.6

[2019-07-30 08:06] rook2pawn opened #2676 "Example of how to specify buildFlags in launch.json for -gcflags="all=-N -l""
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-07-30 08:09] rook2pawn opened #2677 "Example of how to specify buildFlags in launch.json for -gcflags="all=-N -l""
I want to use these flags to build my binary

i.e.

`go build -gcflags="all=-N -l" hello.go`

How do I specify this exactly in my `launch.json` for debugging?
I know the instructions / manual says `"-tags=whatever_tag"`

But I have a quotes in my flag that need to get passed. Thanks in advance!

[2019-07-30 08:13] #2676 closed

[2019-07-30 10:50] mjaseem commented on #2670
There was an error in my file that was causing the issue I guess. First line didn't have package information. There were no squiggly lines to indicate this. When I added package info as the first line, formatting and error detection started working properly. Is this expected behavior?

[2019-07-31 03:06] ramya-rao-a commented on #2674
This feature request is language agnostic and therefore the [VS Code repo](https://github.com/Microsoft/vscode) is the right place for it than this repo.

[2019-07-31 03:06] #2674 closed

[2019-07-31 17:29] harpenden commented on #2595
Is there an update with this issue? I'm using v0.11.4 and I receive following error if I run vscode outside of the shell,

Do we have to run vscode from the shell every time?

[2019-07-31 17:58] RobertBaruch commented on #2630
Still happening, still goes away for `package`.

Here's the go build command. It's very very long, so I cut it down a bit:

`/usr/lib/golang/bin/go build _/usr/local/home/robertbaruch/go/pkg/dep/sources/https---code.googlesource.com-gocloud _/usr/local/home/robertbaruch/go/pkg/dep/sources/https---code.googlesource.com-gocloud/asset/apiv1` (here follows many many more packages in `pkg/dep/sources`,

[2019-07-31 20:09] RobertBaruch commented on #2630
Hmm, yeah, I'd say don't compile anything except files under src. (ref: https://golang.org/doc/code.html)

[2019-08-01 00:42] ramya-rao-a commented on #2677
Delve adds the gcflags itself to build your code before using the built binary for debugging.
Do you have any reason to overrride what delve uses?

Related issues #2415

[2019-08-01 00:50] ramya-rao-a commented on #2630
Thats some god observations. Can you also share the `go build` command that gets run when you change the build on save setting to `package`?

The extension runs `go list -f ImportPath: {{.ImportPath}} FolderPath: {{.Dir}} ./...` in your workspace root to get the list of packages to use in the `go build ` command. This seems to be returning things under `$GOPATH/pkg` for you. Can you run this comma

[2019-08-01 00:55] ramya-rao-a commented on #2595
Is everybody on this issue using zsh? We do have some troubles reading env variables in case of zsh, see https://github.com/microsoft/vscode-go/issues/1133

Workaround for running vscode from shell every time:
You can set the `go.goroot` setting to point to your GOPATH. The Go extension will read from this setting to determine the goroot

Another workaround is to set the PATH in the .bashrc file

[2019-08-01 00:57] ramya-rao-a commented on #2670
The error "There is no formatter for go files" is not the expected behavior regardless of the contents of your Go file.

@stamblerre Are you able to replicate this?

[2019-08-01 00:59] ramya-rao-a commented on #2672
Do you see this error with the language server disabled?

[2019-08-01 01:00] ramya-rao-a commented on #2664
Thanks @rebornix

Closing this issue as this is the expected behavior

[2019-08-01 01:06] ramya-rao-a commented on #2662
Ok, looks like there are 2 separate problems here
- After saving a file with no imports, the feature that adds the imported packages is slow
- Auto-completion is slow after the above point.

When using modules, we suggest that you use the language server which fares better than the other tools for many features. Have you tried the [language server](https://github.com/Microsoft/vscode-go#go-languag

[2019-08-01 01:11] ramya-rao-a commented on #1848
Since the build on save feature is triggered from a file save, I guess I can use that file's name to determine if the GOOS value needs to be set

[2019-08-01 01:12] ramya-rao-a commented on #2244
That is true @segevfiner
In the tooling ecosystem, there is more focus on getting gopls to work with modules than putting the same effort in individual tooling

[2019-08-01 01:18] ramya-rao-a commented on #1921
@mapuri Apologies for the late reply. Yes, please do go ahead and send a PR

[2019-08-01 01:19] ramya-rao-a commented on #2617
Thanks @stamblerre

@kennytm Please log an issue in the [Go issue tracker](https://github.com/golang/go/issues/new?title=x%2Ftools%2Fcmd%2Fgopls%3A%20%3Cfill%20this%20in%3E)

[2019-08-01 01:19] #2617 closed

[2019-08-01 01:20] ramya-rao-a commented on #2620
Thanks @stamblerre

@phungvandat Please log an issue in the [Go issue tracker](https://github.com/golang/go/issues/new?title=x%2Ftools%2Fcmd%2Fgopls%3A%20%3Cfill%20this%20in%3E)

[2019-08-01 01:20] #2620 closed

[2019-08-01 02:10] fananchong commented on #2662
I am in China, in an "oversized LAN", unable to access the language server = =|

[2019-08-01 02:33] blocknonip commented on #2664
@ramya-rao-a Can this be kept open until there is feature parity in this regard with and without the language server? Not being able to skim highlighted occurrences in the scroll bar is a big usability regression for me. I can't imagine I'm the only one.

[2019-08-01 03:27] fananchong commented on #2662
use language server ，there is an error message : 'There is no formatter for 'go'-files installed.'

settings.json :
[code]

[2019-08-01 06:35] diaochan commented on #2633
VS Code: 1.36.1
go1.11.5
also have this probem

[2019-08-01 14:56] sherry-ummen opened #2678 "Debugging goroutine not working in Ubuntu"
I am still learning go so I might be wrong here in doing things correctly.

System spec:
OS: Ubuntu 18.04
VSCode : Latest
golang version : go version go1.12.7 linux/amd64

but here is a small program

[code]

I press F5 in vscode and the output I get in Debug Console is **Done!**

Whereas it shoudl have been
[code]

I try putting the breakpoint at Println but it does not hit. Just for the info, I

[2019-08-01 15:02] jdwalker-emis commented on #2010
I can confirm this happening for me as well - I can debug AWS lambdas via sam local in Goland but not VSCode
Here  is my setup
* Windows 10.0.27234r0 64bit
* VsCode: 1.36.1
* VsCode-Go: 0.11.4
* aws-cli 1.16.202
* aws sam cli 0.18.0
* Docker For Windows: 18.09.2

Setup commands /batch script
[code]

My launch.json file in the same folder as the batch script is
[code]

[2019-08-01 18:01] rracb commented on #2444
Similar bug here, Windows10v1903, VSC 1.36.1 Go extension 0.11.4. Delve 0.2.0
Set breakpoint (doesn't require a panic to occur), program halts on breakpoint and the local variable spins as shown above.

No global variables but a LOT of local variables.

Doesn't happen all the time but I can't seem to pinpoint the difference between when it works and when it spins aimlessly. Will keep looking...

[2019-08-01 18:04] nmeocisco commented on #2444
@rracb that actually happens to me regularly as well but just as you say it doesn't appear to happen all the time in an easily reproducible manner. I only noticed this was consistent behavior when a panic occurred. I am hoping the fix for when this happens for the panic also fixes that behavior as well.

[2019-08-01 19:12] RobertBaruch commented on #2630
When set to `package`, the command is (after saving in util.go)

[code]
`go list -f "ImportPath: {{.ImportPath}} FolderPath: {{.Dir}}" ./...` from my workspace root outputs:

[code]

On the other hand, specifying the last arg as `./src/...` lists all the correct paths, and also excludes `go/pkg`, which I think is more correct, given that the only source that a workspace should pay attention to is

[2019-08-01 19:43] stamblerre commented on #2672
@dpanic: Please see https://github.com/golang/go/wiki/gopls#known-issues, particularly https://github.com/golang/go/issues/29202.

[2019-08-01 20:03] dpanic commented on #2672
Thanks, that makes sense.
I will use workaround for now.

Cheers!

[2019-08-01 20:07] dpanic commented on #2672
No, there is no such error when I disable gopls.

[2019-08-02 02:43] ramya-rao-a commented on #2672
Thanks @dpanic
Since this issue is specfic to gopls, I will be closing this issue in favor of https://github.com/golang/go/issues/29202

[2019-08-02 02:43] #2672 closed

[2019-08-02 02:44] w20089527 commented on #2591
Maybe it is caused by `gopls`. Currently, the `gopls`  is not stable, especially when I open several projects.

[2019-08-02 02:44] #2591 closed

[2019-08-02 02:45] jeffzhangme opened #2679 "can't find definition which in same package but same file when using modules with gopls"
Steps to Reproduce:

1. create main.go and lib.go in gomod project main package

main.go
[code]

lib.go
[code]
2. code complete and find definition fail when using LibStruct in main.go

environment
` go version go1.12.7 darwin/amd64`
` vscode-go 0.11.4`
` Code 1.36.1`

[2019-08-02 02:46] ramya-rao-a commented on #2630
Why wouldnt you open the `src` directory instead of its parent in VS Code? Then `./...` would work correctly right?

The problem here is that the Go extension is not aware of dep or any code structure for that matter. It places its trust in `go list` and expects the output of this command to list the packages that it needs to build

[2019-08-02 08:00] Helcaraxan opened #2681 "[golangci-lint] Diff in linting errors compared to CLI-based run"
<Posted too early, updating right now>

If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/

[2019-08-02 08:08] Helcaraxan commented on #2681
User-error - invalid issue

[2019-08-02 08:08] #2681 closed

[2019-08-02 14:42] stamblerre commented on #2670
Based on @mjaseem's first comment, it sounds like that specific error message only occurs when the language server is disabled.

@mjaseem: You should definitely get a red squiggle if the top of your file is missing a package declaration. Can you file an issue with a repro case [here](https://golang.org/issue)?

[2019-08-02 14:51] stamblerre commented on #2664
@blocknonip: What is your preferred outcome for the resolution of this issue? Is it helpful to you for `gopls` to highlight all instances of the `func` keyword? I'd like to understand the expected use cases before `gopls` adds support for this behavior.

[2019-08-02 14:59] blocknonip commented on #2664
I would like it to work in the same fashion that it does without `gopls` in use. In my particular case (`"editor.occurrencesHighlight":false`), that would highlight all occurrences in a semantic-insensitive way. For most people, presumably, who don't change that option from the default, it would highlight semantic symbol occurrences.

Basically, I am accustomed to it working in the current way wit

[2019-08-02 15:07] stamblerre commented on #2633
I had to admit that I typically use the "Developer: Reload Window" when I want to restart VSCode, but I can investigate this issue further.

[2019-08-02 15:13] stamblerre commented on #2679
@jeffzhangme: If this is a `gopls` issue, please open an issue in the [Go issue tracker](https://golang.org/issue). Please also add your `gopls` logs for this situation - in particular, can you share the output of running `gopls -rpc.trace -v check main.go` in your example?

[2019-08-02 15:20] stamblerre commented on #2664
In this case, I think perhaps VSCode-Go could consider adding a configuration to disable highlighting via `gopls`, as I don't think it would make sense for `gopls` to support semantic-insensitive highlighting.  @ramya-rao-a: What do you think?

[2019-08-02 18:06] RobertBaruch commented on #2630
Sure, opening in `src` would work. But that could conflict with the `inferGopath` setting, which infers `GOPATH` from the workspace root. I'm assuming that this just sets `GOPATH` to the **vscode** workspace root? It's a little confusing because GOPATH is the **Go** workspace root, which includes `bin` and `src`.

So now you have two choices:

- open up vscode in the Go workspace root and have the

[2019-08-02 18:09] RobertBaruch commented on #2630
(incidentally, opening vscode in the `src` directory and setting buildOnSave to workspace does work)

[2019-08-02 18:19] loganintech opened #2682 "Feature Request: Support for VSCode's Call Hierarcy Feature"
This functionality would be very useful to me at work: https://code.visualstudio.com/updates/v1_33#_call-hierarchy

![](https://code.visualstudio.com/assets/updates/1_33/call-hierarchy.png)

Sidebar: Asked in gitter, but there didn't seem to be anyone available to answer questions (last messages were 3 and 13 days ago).

[2019-08-02 19:20] #2668 closed

[2019-08-03 03:26] jeffzhangme commented on #2679
@stamblerre: I'm not sure if it's `gopls` problem, if use `go vet` with `"go.vetOnSave": "package"` and `"diagnostics": false` this seems normal, but use `gopls` and set `"diagnostics": true` there are some problems(doesn't affect `go build`):
![image](https://user-images.githubusercontent.com/16463548/62406510-837f4000-b5df-11e9-8b67-340f2201094c.png)
It's output of running `gopls -rpc.trace -v c

[2019-08-03 10:13] tj opened #2683 "Add Import could prioritize stdlib packages"
Currently the "Go: Add Import" command doesn't prioritize core packages, so you often get a bunch of random packages over-powering the standard ones.  Here's a few examples:

<img width="473" alt="Screen Shot 2019-08-03 at 11 10 51 AM" src="https://user-images.githubusercontent.com/25254/62410591-6fd3d980-b5df-11e9-8d06-8d1526ef28b9.png">

<img width="280" alt="Screen Shot 2019-08-03 at 11 15 24 A

[2019-08-05 14:54] nitishm commented on #2545
@ramya-rao-a @stamblerre Any updates on adding support to the remote server for this ?

[2019-08-05 16:24] stamblerre commented on #2679
@jeffzhangme: Looks like the `check` command worked correctly. How are you opening VSCode? Make sure to open the directory with the `go.mod` file (see https://github.com/golang/go/issues/32394), not just the `main.go` file individually.

[2019-08-05 17:51] stamblerre commented on #2683
The autocompletion of unimported packages is not yet supported in `gopls`, but you can track updates here: https://github.com/golang/go/issues/31906.

[2019-08-06 01:46] jeffzhangme commented on #2679
@stamblerre: Thank you very much, it looks normal by opening a `go module` project directly.
In the past I usually opened a `go path` directory and add project to subdirectory `src`.
 I tried multiple modules with workspace, but it didn't work very well. Whether there are plans to support multiple modules or maybe this way is the best practice?

[2019-08-06 04:14] stamblerre commented on #2679
We do intend to improve this user experience, but we aren't yet sure what form it will take. You can follow along for updates on golang/go#32394.

[2019-08-06 05:42] jeffzhangme commented on #2679
OK, thanks again!

[2019-08-06 13:40] marco-m opened #2684 "consider adding the stale bot to scrub stale issues"
Hello,

this is a suggestion to consider adding the stale bot https://github.com/apps/stale to this repository, so that stale tickets can be closed, and maybe a similar bot as PR reminder. I understand this is a question of taste, but in my opinion and experience keeping tickets opened for years doesn't help towards resolving them :-)

Following the spirit of this request, please close this ticket

[2019-08-07 04:01] vacheli opened #2686 "vscoe-go gopls don't find third packages"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-08-07 05:05] #2686 closed

[2019-08-07 05:05] vacheli commented on #2686
It was resolved

[2019-08-07 10:21] jjaimon opened #2687 "High CPU report while working with go code"
Issue Type: <b>Bug</b>

I started seeing multiple godef process running while working with go code.  go version `go1.12.7 darwin/amd64`.  Its easily reproducible by just scrolling the code in the editor.  For eg.
[code]
Given below is part of process list
[code]
Extension version: 0.11.4
VS Code version: Code 1.36.1 (2213894ea0415ee8c85c5eea0d0ff81ecc191529, 2019-07-08T22:56:38.504Z)
OS version: D

[2019-08-07 21:31] BertoMejia commented on #1484
Are there any plans on adding other code actions? I use this all the time in other languages. It is extremely useful! It was a bit disappointing to see that it is non included in this Go extension.

Is there a UserVoice or similar feature request system that we can vote this up on?

[2019-08-08 01:20] #2677 closed

[2019-08-08 12:00] xspeed1989 opened #2688 "can't install go tool on remote-ssh"
Installing 1 tool at /root/gopath/bin
  dlv

Installing github.com/go-delve/delve/cmd/dlv FAILED

1 tools failed to install.

dlv:
Error: Command failed: /usr/local/go/bin/go get -u -v github.com/go-delve/delve/cmd/dlv
go: cannot find GOROOT directory: usr/local/go
go: cannot find GOROOT directory: usr/local/go

i think it is run command on local computer!

[2019-08-08 12:00] xujintao opened #2689 "Do vscode-go support monorepo(not multi-root) multiple project settings"
Steps to Reproduce:

1. Given structure:
[code]
2. Open repo folder, the project1 will report some "undefined" error. However, open project1 separetely will be ok. Meanwhile https://github.com/microsoft/vscode/issues/32693 says vscode already support monorepo.

[2019-08-08 23:46] quoctruong opened #2690 "Remote Attach fails to set a breakpoint if program is started with `--continue` option"
Steps to Reproduce:

1. Start a remote program through `dlv` with `--continue` option (recently added to `dlv` through https://github.com/go-delve/delve/pull/1585). For example:
[code]
2. Attach the VSCode Go Debugger and set a breakpoint.
3. Breakpoints won't get hit.

[2019-08-09 16:14] #2688 closed

[2019-08-11 08:36] gyuho commented on #2661
`goimports` and `gopls` did not work at all for me.

I tried deleting all Go related configuration in `settings.json` except: And restarted the editor, prompted a bunch of messages to reinstall/update tools. Now, imports for stdlib works but not for others! (`goimports -w *.go` works fine in my machine...)

For reference,

[code]

[2019-08-11 10:55] aykevl commented on #2687
I also had a case of very high CPU usage by VS Code. I haven't reproduced it yet, but can share this screenshot which shows something is going horribly wrong (perhaps others have a clue):

![Screenshot at 2019-08-11 12-47-44](https://user-images.githubusercontent.com/729697/62832943-fff4cd00-bc36-11e9-833f-939c99ac30af.png)

This continued for a minute or so at which point it seems to have finishe

[2019-08-11 18:43] oneslash commented on #2671
I would also be for using `@latest`, since it is stable

[2019-08-11 19:21] AndreiD commented on #2595
still doesn't work. why did you break VSCode with Go Microsoft....whyyyyyyyyyyyyyyyy ??? hy did you break VSCode with Go Microsoft....whyyyyyyyyyyyyyyyy ???hy did you break VSCode with Go Microsoft....whyyyyyyyyyyyyyyyy ???hy did you break VSCode with Go Microsoft....whyyyyyyyyyyyyyyyy ???

[2019-08-12 01:08] syc0x00 opened #2691 "WSL Not formatting on save"
This issue is on Windows 10 1809 with WSL Debian
Formatting on save works fine on my MacOS machine

Reproduce:
* Open a go file from WSL in VSCode
* Write incorrectly formatted go
* Save

The output under `Go` doesn't show anything related to the formatting leading me to think it never even runs.

So far I've completely wiped my VSCode settings, `go/src`, and `go/bin` and then reinstalled everythi

[2019-08-12 15:26] stamblerre commented on #2661
@gyuho: Please open a new issue on the [Go issue tracker](https://github.com/golang/go/issues/new), and I can help you investigate there. Please include the additional information requested here: https://github.com/golang/go/wiki/gopls#troubleshooting.

[2019-08-12 15:31] stamblerre commented on #2671
Yes, latest should be the recommended because we will be able to guarantee that it is more stable than master (which can fluctuate, and may include breaking changes). I have not been asking people to upgrade to master lately, since it is typically less stable. If we do recommend it, we can ask people to update on the command line.

I can work on making this change.

[2019-08-12 16:11] gyuho commented on #2661
@stamblerre The trick was increase the timeout `"editor.codeActionsOnSaveTimeout": 3000` as the wiki https://github.com/golang/go/wiki/gopls#troubleshooting says

[code]

Now, everything works!

Thanks for the help!

[2019-08-12 17:19] AndreiD commented on #2595
actually you set the go.goroot setting pointing to your GOROOT dir (example: /home/USERNAME/.go)

[2019-08-12 17:36] stamblerre commented on #2296
@jellevandenhooff: This should work correctly now in `gopls`, as the LSP does provide the module root.

@ramya-rao-a: This issue could probably be closed since modules support will be provided through `gopls` anyway.

[2019-08-12 17:42] stamblerre commented on #2317
@bragagia: Are you still encountering issues with `gopls`? If so, please file an issue on the [Go issue tracker](https://github.com/golang/go/issues/new) and I can help you troubleshoot.

@ramya-rao-a: https://github.com/golang/go/issues/33544 is tracking the consolidation of `gopls` configurations across editors.

[2019-08-12 17:45] stamblerre commented on #2452
@hasselv: Are you still encountering issues with `gopls`? If so, please open a new issue on the [Go issue tracker](https://github.com/golang/go/issues/new).

[2019-08-12 18:06] jellevandenhooff commented on #2296
Yes, it totally works now! Thanks!

[2019-08-12 18:34] aykevl commented on #2687
Something very similar happened again, twice.

The first time I managed to get a screenshot of htop:

![Screenshot at 2019-08-12 19-39-03](https://user-images.githubusercontent.com/729697/62888415-7ed52d00-bd3f-11e9-8473-b6c957d4f2f0.png)

Interestingly there are lots of `go list` processes for the same package, so most of those are redundant. I'm not sure why this extension invokes `go list` so o

[2019-08-13 04:51] mrdulin opened #2692 "Generates go.mod file automatically"
### What version of Go are you using (`go version`)?

<pre>
$ go version
go version go1.12.6 darwin/amd64
</pre>

### What operating system and processor architecture are you using (`go env`)?

<details><summary><code>go env</code> Output</summary><br><pre>
$ go env
GOARCH="amd64"
GOBIN=""
GOCACHE="/Users/ldu020/Library/Caches/go-build"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="darwin"
GOOS

[2019-08-13 18:28] aimran-adroll opened #2693 "Trouble with autocomplete after `go`"
I am having issue with intellisense/autocomplete after typing `go` (goroutine). I am attaching a gif to illustrate the problem

Not sure if this is intended or just an operator error.

![](http://g.recordit.co/w22dZPuiWE.gif)

Details:
I just ran Go:Install/Update tools to make sure I have all the up to date tools.  I have the language server enabled  ` "go.useLanguageServer": true`
[code]

[2019-08-13 18:29] stamblerre commented on #2693
This is a know issue with the Go language server that we are working on resolving. See https://github.com/golang/go/issues/29313.

[2019-08-13 18:31] aimran-adroll commented on #2693
Thanks for the prompt reply. Please close as necessary

[2019-08-13 18:37] wtask commented on #2693
When the issues like "known issues of gpls" will be done? These issues do not allow to work normally in the vscode. The history is over the years...

[2019-08-13 18:42] #2693 closed

[2019-08-13 20:28] nagstaku commented on #2690
I would guess that maybe there is a mis-match of files on your local system to the remote system and that is why it's never hitting (or at least that is what I experienced recently).

the applicable settings I had to set were:
"remotePath": "/app/root/dir/",
"cwd": "${workspaceFolder}/app/root/dir"

Although you should also post the rest of your launch.json

The vscode debug experience seems very

[2019-08-13 20:33] quoctruong commented on #2690
I actually have a PR (https://github.com/microsoft/vscode-go/pull/2685) to fix this bug. It seems to happen because VSCode does not halt `dlv` before setting a breakpoint in this case.

[2019-08-14 06:02] stamblerre opened #2694 "gometalinter is deprecated"
It seems that https://github.com/alecthomas/gometalinter is deprecated, and https://github.com/golangci/golangci-lint is the official recommended alternative.

What is the plan for `gometalinter` support in VSCode? Should it be removed from the set of supported tools or should it continue to be maintained?

[2019-08-14 09:11] duranivan commented on #2643
I'm having the same issue (breakpoints are being skipped but the file does run, only stops for debugging if there is an error), and when running `sudo dlv debug` in the command line, I get `could not launch process: error waiting for thread stop -268435459`.

Could not find the solution to this issue online so far (e.g. in the delve repository, etc.).

xcode command tools are up to date and I'm ru

[2019-08-14 13:01] themowski opened #2695 "Format not running automatically on save with Remote SSH to Linux VM from Windows host"
Last night, I updated VS Code to 1.37 (I had been running 1.33.1) and installed VS Code's new Remote SSH extension pack. My use-case is connecting over SSH to a CentOS 7 Linux VM that I have running on my host machine in order to edit code inside the VM, but to have VS Code running on Windows. The VM is running inside VirtualBox; I am not using Windows Subsystem for Linux.

I was originally wonder

[2019-08-14 14:53] themowski commented on #2691
@syc0x00 -- Here's a workaround that I found (taken from my report for #2695):

I think this might work as a temporary fix for you?

[2019-08-14 23:12] firelizzard18 opened #2696 "When debugging with "go.toolsEnvVars" that are incompatible with host machine, the failure message is opaque"
Steps to Reproduce:
1. Open a Go project that has launch configurations
2. Open settings and edit `"go.toolsEnvVars"` and add `"GOOS": "windows"` (or `"GOOS": "linux"` if your OS is Windows)
3. Attempt to launch a debug session

The error:

[code]

The issue is that it is not at all obvious why this is failing. Ideally, `vscode-go` would know that the debugger failed because of GOOS/GOARCH. But I

[2019-08-15 12:23] kuyazee opened #2697 "macos: can't open dot files"
I'm using iTerm with zsh. It seems that VSCode's terminal can't parse my dot files, whenever I try to run my .zshrc it can't find any kind of dot file.

[code]

Inside my .zshrc I have these three lines

[code]

## Workaround

Place all my dotfiles in a **dotfiles** folder and convert all of them into `<filename>.sh` files but that's not ideal. Is there a workaround for this besides renaming these

[2019-08-15 12:24] #2697 closed

[2019-08-15 12:28] tkivisik commented on #2615
Nice, more than 10 upvotes gathered. It's ready to be merged and solved.

[2019-08-15 13:32] henrahmagix opened #2698 "Cannot install/update goimports: undefined: doTrace"
`Users/henryblyth/go/src/golang.org/x/tools/cmd/goimports/goimports.go:246:8: undefined: doTrace`

Context:
- workspace is not in GOPATH
- `gopls` is not installed or running
- this extension is up-to-date
- `go version go1.12.7 darwin/amd64`, so go modules are being used (outside of GOPATH)

Steps to Reproduce:

1. open Command Palette (View -> Command Palette)
2. choose `Go: Install/Update Tools

[2019-08-15 13:33] henrahmagix opened #2699 "Autocompletion is showing weird info, not actual docs"
Context:
- workspace is not in GOPATH
- `gopls` is not installed or running
- this extension is up-to-date
- `go version go1.12.7 darwin/amd64`, so go modules are being used (outside of GOPATH)

Steps to Reproduce:

1. import a package
2. write the package name followed by dot `.` and wait for the autocompletion to show
3. see correct methods appear in autocomplete list
4. see odd autocompletion i

[2019-08-15 13:51] dimovnike commented on #2547
any solution to this? i checked many snap channels and result is the same, while switching from the version from apt  works. The same version from apt and snap go1.10.8 produces different results.

[2019-08-16 16:55] DeshErBojhaa opened #2702 "Can not reference or find function or identifiers from another file under the same package"
Program structure
<img width="325" alt="Screenshot 2019-08-16 at 9 58 31 PM" src="https://user-images.githubusercontent.com/46394832/63182133-9aa83e00-c073-11e9-8e16-7216e650bb77.png">
in the api directory, simplified main file contains,
[code]

When I try to write method for `Server` in `pool.go` file, it can not reference `Server` (Code simplified)
[code]
<img width="796" alt="Screenshot 2019-08

[2019-08-16 17:45] aykevl commented on #2687
So far, switching to `gopls` appears to solve these issues. I will report back if it doesn't.

[2019-08-16 18:01] jjaimon commented on #2687
Thanks for the suggestion.  I'll try this and report back.

[2019-08-16 19:08] mapuri commented on #1921
@ramya-rao-a I have created https://github.com/microsoft/vscode-go/pull/2680 to address this issue. It is failing some tests but they don't appear to be related to my changes. When you get a chance please take a look and let me know your feedback.

[2019-08-17 06:00] krasi-georgiev opened #2704 "Code navigation and lsp doesn't work when using go.mod replace"
As soon as you put something in the go.mod replace as
[code]

The code navigation(clicking on the function name) still takes you to `github.com/calvernaz/rak811`

If I change some code in ../local/rak811 LSB complains about errors as it uses the `github.com/calvernaz/rak811`  and ignores the replace directive.

[2019-08-17 06:03] syc0x00 commented on #2695
@themowski

I'm running VSCode with the remote WSL extension - not remote SSH.

![1](https://user-images.githubusercontent.com/20033376/63207323-a2b6ac80-c078-11e9-9a4f-2634aef24568.png)

The `settings.json` fix you provided does work for me. Thanks!

Here's more of my version information:

[code]
![2](https://user-images.githubusercontent.com/20033376/63207401-11483a00-c07a-11e9-8f88-68e49c0e45d4

[2019-08-17 17:12] stamblerre commented on #2704
Are you using `gopls` for LSP? If so, please file an issue on the Go issue tracker: https://github.com/golang/go/issues.

[2019-08-17 20:10] Goodwine opened #2705 "Install/Update tools fails silently when go binary is built from non-stable release"
### Steps to Reproduce

1. Build go from source at go1.13beta1
[code]

2. In VSCode `Ctrl + Shift + P` -> "Go: Install/Update Tools"
    * This works!
3. Go to VSCode settings and add:
[code]
4. In VSCode `Ctrl + Shoft + P` -> "Go: Install/Update Tools"
    * This **doesn't** work!

### Why it happens
I opened the devtools screen and saw this exception:
[code]

Then I look at the code that checks

[2019-08-18 03:10] krasi-georgiev commented on #2704
thanks, can't you just move this issue there?

[2019-08-18 18:05] jjaimon commented on #2687
Switching to `gopls`  appears to solve the issue for me too.

[2019-08-19 20:25] wcn00 commented on #2444
Me too.  Really frustrating :(

[2019-08-20 08:06] kzhui125 opened #2706 "vscode go debug is unusable"
[code]

for example, if I make a breakpoint at "http.Get(url)"

I want to see what url is.

vscode go only shows part of the string.

I have to use fmt print to see what the url is.

In other extensions, like python, I don't see things like this when using default settings.

The go extension can't show variables when debugging.

AND THAT'S WHAT DEBUGGING IS FOR

[2019-08-20 08:20] kzhui125 commented on #2706
[code]

In the VSCode python extension, if I make a breakpoint at line 2, I can see and copy the value of strLine

But in go extension, I can only see extremely few characters.

What a big difference!

Now I have to add fmt.Println in code again and again to debug.

[2019-08-20 09:06] krasi-georgiev commented on #2704
moved to https://github.com/golang/go/issues/33731

[2019-08-20 09:06] #2704 closed

[2019-08-20 15:03] jdwalker-emis commented on #2010
I also tried with API version 1 and it still occured - attached is the debug logs
[vscode-go-debug.txt](https://github.com/microsoft/vscode-go/files/3521295/vscode-go-debug.txt)

[2019-08-20 21:56] SteelPhase commented on #2706
You should be able to resolve this with the information [https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code](here).

`maxStringLen` can be adjusted to display more bytes of a string.

[2019-08-20 21:58] SteelPhase commented on #2633
Sad to see this isn't working like I expected it would. Are there any ideas on how I could improve the  gopls restart command?

[2019-08-21 05:15] syc0x00 commented on #2691
I'll close this in favor of #2695 which has more information.

[2019-08-21 05:15] #2691 closed

[2019-08-21 05:17] kzhui125 commented on #2706
The default setting of maxStringLen is very small, it's unusable.

Because go extension has performance issue with larger values?

I will try a larger value

[2019-08-21 19:55] ramya-rao-a commented on #2679
Closing in favor of the upstream issue

[2019-08-21 19:55] #2679 closed

[2019-08-21 20:00] ramya-rao-a commented on #2682
Thanks for bringing this to our attention @loganintech

The corresponding API is still in preview. I would expect this feature to be provided out of the [language server](https://github.com/Microsoft/vscode-go/#go-language-server) once the api is moved to a stable state

@stamblerre Is this something that gopls can do once the api is stable?

[2019-08-21 20:54] ramya-rao-a commented on #2683
Its a fair ask to sort the standard libraries, PRs are welcome to make the change.

Code Pointers:
- [Set up local dev environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- The `listPackages` method in the `goImport.ts` file is the one that provides the packages that get shown.

[2019-08-21 21:20] ramya-rao-a commented on #2692
Please run the command `Preferences: Open Settings (JSON)` and share any go related settings you might have added/edited.

Also, can you delete these files, and see when do they re-appear? That can help in narrowing down on what feature of the extension is causing this.

[2019-08-21 21:27] ramya-rao-a commented on #2696
Thanks for reporting @firelizzard18!

Are you saying that we should ensure that these env vars should get passed to the process in which delve is launched?
Or that such env vars shouldn't apply to debugging, because well, we cannot debug a binary built for one OS in another OS?

[2019-08-21 21:30] ramya-rao-a commented on #2706
Thanks @SteelPhase!

We use [delve](https://github.com/go-delve/delve) to provide the debugging feature which has these values set as default, and so we use the same.

[2019-08-21 21:30] #2706 closed

[2019-08-21 21:56] firelizzard18 commented on #2696
If I set `GOOS` to another OS, or if I set `GOARCH` to an incompatible architecture, debugging should fail. That is the behavior I expect, and the behavior that makes the most sense. My ask is for a more useful failure message.

Realistic solution (1):

Realistic solution (2):

Ideal solution:

[2019-08-21 22:38] GrimTheReaper opened #2707 "go.liveErrors won't disable"
Under `~/.config/Code/User/settings.json`, I have put the section `go.liveErrors` and set it to be disabled, but it won't turn off. Not sure how to troubleshoot this, and I'm not sure how to fix it. I updated an hour ago and now its a thing.

[code]

[2019-08-22 06:06] kybom opened #2708 "tab is eight blank,not four"
ENV:
local OS:       windows10
vscode :        1.37.1
vscode-go:   0.11.4
go version:   1.12.7
remote-ssh:  0.45.5
remote OS:   ubuntu 18.04

tab is eight blank,not four ,as below
![GIF](https://user-images.githubusercontent.com/24692485/63489824-b719ff80-c4e5-11e9-8033-bff15f915939.gif)

code:
[code]

[2019-08-23 07:43] tsyzthh opened #2709 "go add struct tags failed"
thank you for help!

Issue Type: <b>Bug</b>

Cannot modify tags: invalid line directive found: "//line /path/to/file:1"

go settings

![image](https://user-images.githubusercontent.com/28971411/63575376-82c54280-c5bc-11e9-9def-3a2775f1984e.png)

keybindings

![image](https://user-images.githubusercontent.com/28971411/63575394-8c4eaa80-c5bc-11e9-8118-cddc82b58f2f.png)

Extension version: 0.11.4
VS

[2019-08-23 09:52] shvydok opened #2710 "goland debugging do not stop process"
Hello,

by debugging go lang program, stop or restart of debugger did not kill service process, which lead to blocking of port on which service is working.

If any info is needed to provide better picture, just let me know.

Thank you.

Ihor

[2019-08-23 10:30] shvydok commented on #2710
Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:16:34.800Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

[2019-08-23 17:35] pmkroeker commented on #2709
Related here https://github.com/fatih/gomodifytags/issues/45

[2019-08-23 21:14] Goodwine commented on #2705
I may have a fix for this today or monday if no one else is taking it, just have to make sure i can do the CLA thingy

[2019-08-24 17:10] CarpeDiemKopi opened #2712 "go debug launch doesn't work"
![grafik](https://user-images.githubusercontent.com/32836136/63640625-b5496b00-c6a2-11e9-908b-7ce7b8439f4c.png)

and nothing happens.
If I use Debug Start Debugging everything is OK.

launch.json
[code]

What am I doing wrong?

[2019-08-24 20:13] roblourens opened #2713 "Avoid using workspace.rootPath"
This extension appears to be using the `workspace.rootPath` API. This is a deprecated property and may not work as expected. Please use `workspaceFolders` instead. More info:  https://github.com/microsoft/vscode/wiki/Adopting-Multi-Root-Workspace-APIs#eliminating-rootpath

https://github.com/microsoft/vscode/issues/69335

[2019-08-24 22:17] stamblerre commented on #2682
We intend for `gopls` to support all language features offered by the LSP, so absolutely we can provide the feature once the API stabilizes.

[2019-08-25 02:58] ramya-rao-a commented on #2682
Thanks @stamblerre!

@loganintech Please log a feature request for gopls using the [Go issue tracker ](https://github.com/golang/go/issues/new?title=x%2Ftools%2Fcmd%2Fgopls%3A%20%3Cfill%20this%20in%3E)

[2019-08-25 02:58] #2682 closed

[2019-08-25 04:26] ramya-rao-a commented on #2696
Thanks for the clarification @firelizzard18!

We can definitely work on the ideal solution that you have proposed and PRs are most welcome to do this.

Code Pointers:
- [Set up local dev environment](https://github.com/Microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- After the below point in the code, we have access to the env vars set in the tool

[2019-08-25 04:49] ramya-rao-a commented on #2705
Thanks for reporting @Goodwine!

I have pushed a fix and you should be able to see it in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension

[2019-08-25 04:49] #2705 closed

[2019-08-25 06:18] #2713 closed

[2019-08-25 08:38] surenderssm commented on #2505
Experiencing same issue.

- Start without debugging (Ctlr+F5) works fine.
- Start debugging (F5) - just hangs indefinitely with following message in Debug Console

![image](https://user-images.githubusercontent.com/12485087/63647628-cb5a3880-c741-11e9-8639-0df31e222d2d.png)

[2019-08-25 16:03] roblourens commented on #2713
Thanks @ramya-rao-a!

[2019-08-25 19:38] ramya-rao-a commented on #2698
Thanks for reporting @henrahmagix

@stamblerre Do you think this has anything to do with us setting GO111MODULES to `off` when installing the tools?

[2019-08-25 20:01] ramya-rao-a commented on #2707
This setting is for the live errors feature from the extension.
Do you have the language server enabled? If yes, then the language server itself also provides the live diagnostics feature

[2019-08-25 20:17] ramya-rao-a commented on #2708
The Go extension doesnt do anything related to tab size. Can you try the below to narrow down the problem?
- Disable all extensions, reload VS Code window, add a new tab
- Disable all extensions except the Go extension , reload VS Code window, add a new tab

Also, share all settings you might have edited/added. You can get these after running the command `Preferences: Open Settings(JSON)`

[2019-08-25 20:26] ramya-rao-a commented on #2709
Thanks for reporting @pmkroeker
I have replied on the upstream issue, this is a problem with the `gomodifytags` tool itself and not the VS Code plugin unless the usage of the tool has changed.

[2019-08-25 20:35] ramya-rao-a commented on #2702
- Please share any Go related settings you might have added/edited. You can get these after running `Preferences: Open Settings(JSON)` command
- Are you using Go modules?
- Is your project under your GOPATH? You can find the GOPATH by running the command `Go: Current GOPATH`
- Please share the errors you are seeing

[2019-08-25 20:38] ramya-rao-a commented on #2694
- It can be removed from the list of tools that can be installed/updated when running the command `Go: Install/Update tools`
- It cannot be removed from the options for `go.lintTool` yet because I wouldnt want to break the workflow of existing users. We can push it to the end of the choices though.
- After a few months, we can add a notification suggesting users to move to golangci-lint instead

T

[2019-08-25 20:41] ramya-rao-a commented on #2699
That is very weird indeed. By the looks of it, it looks like internal data used by VS Code or the language server to determine sorting and fuzzy matching of completion results.

- Are you using the language server?
- Which version of VS Code are you using?
- Please share any Go related settings you might have edited/added. You can get this after running the command `Preferences: Open Settings(JSON

[2019-08-25 20:42] ramya-rao-a commented on #2712
Can you elaborate on what the exact issue is and the exact steps?

[2019-08-25 22:40] ramya-rao-a commented on #2709
Closing in favor of the upstream issue

[2019-08-25 22:40] #2709 closed

[2019-08-26 01:55] ramya-rao-a commented on #8
Now that there is active development on an official language server for Go via [gopls](https://github.com/golang/go/wiki/gopls), this issue is being closed in favor of having the features requested here via the language server.

For more on language server integration with this extension, please see [Go language server](https://github.com/microsoft/vscode-go#go-language-server)

To go a feature re

[2019-08-26 01:55] #8 closed

[2019-08-26 02:02] ramya-rao-a commented on #277
Closing this issue for the below reasons:
- There hasn't been much interest in terms of upvotes of comments from the community
- This would require the understanding of the types of input parameters. The Go extension is written in a way to avoid trying to parse and understand the AST. It relies on external Go tools to do the same and return results. Since there is no such tool available at the mom

[2019-08-26 02:02] #277 closed

[2019-08-26 02:07] ramya-rao-a commented on #572
Now that there is active development on an official language server for Go via [gopls](https://github.com/golang/go/wiki/gopls) which will provide the auto-completion feature as well, there is no further planned work in the auto-completion feature that is coming directly out of the extension.

This issue is being closed in favor of having the auto-completion feature from the language server which

[2019-08-26 02:07] #572 closed

[2019-08-26 02:09] ramya-rao-a commented on #649
We did experiment using [godoctor](https://github.com/godoctor/godoctor) for this and you can try the commands `Go: Extract to function` and `Go: Extract to variable`.

These are not hooked into code actions yet as they haven't seen to be very reliable

Now that there is active development on an official language server for Go via [gopls](https://github.com/golang/go/wiki/gopls), this issue is bei

[2019-08-26 02:09] #649 closed

[2019-08-26 02:10] ramya-rao-a commented on #649
@stamblerre If you don't have an issue tracing this feature request, please consider creating one

[2019-08-26 02:12] ramya-rao-a commented on #670
@stamblerre Is experience with the language server better in the above scenario?

[2019-08-26 02:20] ramya-rao-a commented on #738
Closing this issue as we now have an official Go language server and an [issue tracker](https://github.com/golang/go/issues/new?title=x%2Ftools%2Fcmd%2Fgopls%3A%20%3Cfill%20this%20in%3E) for it as well

cc @stamblerre

[2019-08-26 02:20] #738 closed

[2019-08-26 02:22] ramya-rao-a commented on #816
@mattetti, @AlekSi Could either of you try passing the `-coverpkg=all` flag via the `go.testflags` setting and share if any extra work is needed from the extension to achieve this?

[2019-08-26 02:24] ramya-rao-a commented on #954
@stamblerre This is related to the workspace symbol search feature.
Any thoughts on how you would tackle the above via the language server?

[2019-08-26 02:32] ramya-rao-a commented on #1025
Now that there is active development on an official language server for Go via [gopls](https://github.com/golang/go/wiki/gopls), we will soon be suggesting to use it for most language features including `Go to definition`, signature help and info on hover.

Therefore, there will be no further work in investigating whether `gogetdoc` should be the default or not for the `go.docsTool` setting.

For

[2019-08-26 02:32] #1025 closed

[2019-08-26 02:34] ramya-rao-a commented on #1112
Closing this issue as there hasnt been much of a community interest in this feature.

[2019-08-26 02:34] #1112 closed

[2019-08-26 02:37] ramya-rao-a commented on #1143
The [indentation rules for Go](https://github.com/microsoft/vscode/blob/1.37.1/extensions/go/language-configuration.json#L27-L30) are in the VS Code project, and so the fix should be there as well.

[2019-08-26 02:38] ramya-rao-a commented on #1143
@rebornix Can you please transfer this issue to the VS Code repo?

[2019-08-26 02:41] ramya-rao-a commented on #1160
I do believe this is a cool feature to have, although I am afraid I don't believe this extension is the right place for it.

As VS Code and this extension has gained popularity, we have seen a gradual scope creep over the past year. Being a sole maintainer of this project, it is getting a little hard to support all incoming requests and maintaining the ever growing set of features.

Therefore, one

[2019-08-26 02:41] #1160 closed

[2019-08-26 02:42] ramya-rao-a commented on #1198
@rebornix Can you please transfer this issue to the VS Code repo?

[2019-08-26 02:47] ramya-rao-a commented on #1231
Now that there is active development on an official language server for Go via [gopls](https://github.com/golang/go/wiki/gopls) which will provide the auto-completion feature as well, there is no further planned work in the auto-completion feature that is coming directly out of the extension.

This issue is being closed in favor of having the auto-completion feature from the language server which

[2019-08-26 02:47] #1231 closed

[2019-08-26 02:51] ramya-rao-a commented on #1628
Closing this issue as we have now moved on to using gopls instead of the go-langserver as the language server for choice for this extension.

For more on language server integration with this extension, please see [Go language server](https://github.com/microsoft/vscode-go#go-language-server)

To go a feature request for gopls, use the [Go issue tracker](https://github.com/golang/go/issues/new?tit

[2019-08-26 02:51] #1628 closed

[2019-08-26 03:16] ramya-rao-a commented on #1747
Now that there is active development on an official language server for Go via [gopls](https://github.com/golang/go/wiki/gopls) which will provide the auto-completion feature as well, there is no further planned work in the auto-completion feature that is coming directly out of the extension.

This issue is being closed in favor of having the auto-completion feature from the language server which

[2019-08-26 03:16] #1747 closed

[2019-08-26 03:18] ramya-rao-a commented on #1781
Closing this issue as it is now more than a year old with no further information and a way to replicate the problem.
Please feel free to log a new issue if this is still a problem

[2019-08-26 03:18] #1781 closed

[2019-08-26 03:20] ramya-rao-a commented on #1948
I do believe this is a cool feature to have, although I am afraid I don't believe this extension is the right place for it.

As VS Code and this extension has gained popularity, we have seen a gradual scope creep over the past year. Being a sole maintainer of this project, it is getting a little hard to support all incoming requests and maintaining the ever growing set of features.

Therefore, one

[2019-08-26 03:20] #1948 closed

[2019-08-26 03:21] ramya-rao-a commented on #1982
Hey @orta,
Are there any updates on this?

[2019-08-26 03:23] ramya-rao-a commented on #1994
Closing this issue as we have now moved to suggesting `gopls` as the language server of choice than `go-langserver`

For more on language server integration with this extension, please see [Go language server](https://github.com/microsoft/vscode-go#go-language-server)

To go a feature request for gopls, use the [Go issue tracker](https://github.com/golang/go/issues/new?title=x%2Ftools%2Fcmd%2Fgopl

[2019-08-26 03:23] #1994 closed

[2019-08-26 03:28] ramya-rao-a commented on #2228
@AndreKR Apologies for not replying sooner.

The information on `string` is coming from the `gocode` tool. This information is provided for each completion item. Then, `go doc` is called only for the selected item.

By now, it is clear that it is not trivial to implement this feature, but the good news is that there is active
active development on an official language server for Go via [gopls](htt

[2019-08-26 03:28] #2228 closed

[2019-08-26 03:30] ramya-rao-a commented on #2292
[gometalinter](https://github.com/alecthomas/gometalinter) is now deprecated.
We should drop the tests that we have for it

[2019-08-26 03:32] ramya-rao-a commented on #2304
If anyone is interested in helping out with this issue, consider enabling `strictNullChecks` in tsconfig.json, and then send PRs to fix smaller subsets of errors. This way we don't have to fix all 400 odd errors at once :)

[2019-08-26 04:27] ramya-rao-a commented on #2419
@primalmotion Do you still have this issue?

[2019-08-26 04:41] primalmotion commented on #2419
I'm using my patch above since then, so no. But last time I checked without it, yes it was still happening.

[2019-08-26 05:50] ramya-rao-a commented on #2671
@stamblerre Would #2700 fix the current issue here?

[2019-08-26 07:56] elebertus commented on #2702
I'm seeing this behavior as well.

Oddly after running through your bullets to post information the package started resolving after I ran `Go: Current GOPATH`, unfortunately didn't catch any logs for it though. Not sure if this is really helpful or not though.

[2019-08-26 09:18] tamerh commented on #2419
I am still have the slow autosuggestion issue when go module is enabled although i have tried the suggestions :(

[2019-08-26 15:33] CarpeDiemKopi commented on #2712
I can debug this little go program with Debug Start Debugging:

![image](https://user-images.githubusercontent.com/32836136/63702197-c7ecad00-c826-11e9-9cf0-9a1d7d05081e.png)

![image](https://user-images.githubusercontent.com/32836136/63701989-59a7ea80-c826-11e9-9330-e709cdd81a31.png)

But nothing happens if I go this way:

![image](https://user-images.githubusercontent.com/32836136/63702555-7264

[2019-08-26 15:42] #2712 closed

[2019-08-26 15:53] DeshErBojhaa commented on #2702
Hi, @ramya-rao-a thanks for your response, here is the data you asked fo,
[code]
- I am not using Go modules
- My project is under my gopath
  - Project path : `/Users/tamjidahmed/code/Go/src/github.com/DeshErBojhaa/x`
  - Gopath : `/Users/tamjidahmed/code/Go`
- Errors:
  - undeclared name: Serve LSP [10,10]
  - undeclared name: respond LSP [23,3]
  - undeclared name: Serve LSP [38,10]
And so on..

[2019-08-27 08:45] henrahmagix commented on #2698
@stamblerre Here's my `go env`, doesn't look like I'm using `GOPROXY` (though I'm now interested to learn what it is 🙂)
[code]

[2019-08-27 09:16] henrahmagix commented on #2699
Narp.

Version: 1.37.1
Commit: f06011ac164ae4dc8e753a3fe7f9549844d15e35
Date: 2019-08-15T16:16:34.800Z
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0

[code]

[2019-08-27 13:48] suzmue opened #2714 "Add support for prepare rename when using language server"
Issue type: Feature Request

I am using vscode with gopls:

Here is my settings.json:
[code]

The client registers with the gopls server with the following rename settings:

[code]

I propose implementing prepare support, so that if the selected Go language server is a `prepareProvider`, `textdocument/prepareRename` can be used to select the identifier to rename.

[2019-08-27 15:34] henrahmagix commented on #2698
@stamblerre Looks to be the same error output as from the beginning, nice one!
[code]

[2019-08-27 16:41] henrahmagix commented on #2698
@stamblerre No, but it is appearing in `go.sum`. There was no output from `go mod tidy` and the command still failed.

So I tried it in a new, empty go folder:
- `cd ..` to take me back to my `~/Sites` directory
- `mkdir test`
- `cd test && go mod init test`
- `cat go.mod`
[code]
- added minimal `main.go`:
[code]
- `go mod tidy` – no output
- `GO111MODULE=off /usr/local/bin/go get -u -v golang.org

[2019-08-27 22:09] suzmue opened #2715 "Key binding for organize imports"
I am using vscode-go with gopls.

settings.json:
[code]

If I invoke the organize imports keybinding, I expect the codeAction with kind="source.organizeImports" to be requested and applied, but nothing happens.

Organize Imports keybinding is invoked when: `editorTextFocus && !editor.Readonly && supportedCodeAction = source.OrganizeImports`

Running with a patched version that has gopls initialize

[2019-08-28 09:05] henrahmagix commented on #2698
@stamblerre It worked!
[code]

So I tried updating all the tools, but it failed for `github.com/cweill/gotests/...`
[code]

<details><summary>Expand to see all logs</summary><p>

[code]

</p></details>

[2019-08-28 20:42] mattouille opened #2717 "Snippets: GoRoutine Function removal"
This is a proposal to remove the GoRoutine Function from the snippets.

https://github.com/microsoft/vscode-go/blob/master/snippets/go.json#L203-L207

My reasoning is that I've observed snippets fulfill the following functions:
1. They should really solve some creative dilemma (ie, to enforce patterns)
2. They should save the developer time

The snippet prefix is the same length as just typing `go

[2019-08-28 21:52] #2692 closed

[2019-08-28 23:49] mattouille commented on #2380
Moving the snippets to gopls sounds like the right thing to do.

Before we do that, while I was assessing some of the snippets I started thinking about _what_ people use snippets for. In my experience I use them to:
1. Align myself to common patterns
2. To speed up development (things like anonymous function or method structure, etc...)

Would it be beneficial to establish how we envision snippets

[2019-08-29 06:11] ramya-rao-a commented on #2698
@stamblerre I am able to install `gotests` using the latest beta version of the extension

[2019-08-29 06:12] ramya-rao-a commented on #2694
Fair point @samanthakem
I'll close this issue in favor of #2509 and update that issue with next steps

[2019-08-29 06:12] #2694 closed

[2019-08-29 06:16] ramya-rao-a commented on #2509
Below is the set of next steps
- Remove `gometalinter` from the list of tools that can be installed using the `Go: Install/Update Tools` command. `goInstallTools.ts` file is the one that should be updated for this
- Remove all the tests related to `gometalinter` from go.test.ts file
- Move `gometalinter` to the bottom of the list for the `go.lintTool` setting. This needs to be done in the package.

[2019-08-29 06:17] ramya-rao-a commented on #2292
#2509 will handle the clean up regarding gometalinter

[2019-08-29 06:17] #2292 closed

[2019-08-29 06:20] ramya-rao-a commented on #2699
Thanks @henrahmagix

@jrieken The below (on the right) looks like data used by VS Code internally to rank the completion items. Any idea on what could cause this?

![image](https://user-images.githubusercontent.com/1429026/63097625-de625100-bf68-11e9-8a9a-1c7cd96d20f9.png)

[2019-08-29 06:23] ramya-rao-a commented on #2714
@suzmue Can you provide more details on what the prepare support means? Links to any existing docs will help a lot

cc @stamblerre

[2019-08-29 06:24] ramya-rao-a commented on #2715
Thanks for reporting @suzmue!

@stamblerre Do you have any ideas here as to why the keybinding would not work as expected for organize imports?

[2019-08-29 06:26] stamblerre commented on #2714
This would be fixed with https://github.com/microsoft/vscode-go/pull/2716.
The [prepareRename](https://microsoft.github.io/language-server-protocol/specification#textDocument_prepareRename) feature is sent before a rename request. If the user is trying to rename a symbol that should not be renamed (inside a string or comment, on a builtin identifier, etc.), VSCode won't even show the rename pop-up

[2019-08-29 06:26] ramya-rao-a commented on #2714
Ah! never mind, just saw the PR from @stamblerre

[2019-08-29 06:27] ramya-rao-a commented on #2714
And she beat me to adding a comment here :)

[2019-08-29 06:31] ramya-rao-a commented on #2547
Sorry, I don't have a snap set up and can't delve into what the problem could be here.
@mattouille you mentioned you have a linux set up and are familiar with snap. Can you help out here?

[2019-08-29 06:32] ramya-rao-a commented on #2659
@stamblerre Is this something you can take up?

[2019-08-29 06:34] stamblerre commented on #2659
I've been reworking all of the language server code in the extension in https://github.com/microsoft/vscode-go/pull/2703.

[2019-08-29 06:36] stamblerre commented on #2698
I was just able to `go get` it on my Mac. I will try to investigate my settings on my Linux machine to figure out what went wrong when I tried installing it earlier today.

[2019-08-29 06:37] stamblerre commented on #2715
It's actually fixed with the latest version of the language client as well - increasing the version should fix it.

[2019-08-29 07:25] jrieken commented on #2699
Yes - that's a debug feature (explain mode) which you toggle when pressing `Cmd+/` (while suggest is visible).

[2019-08-29 08:20] henrahmagix commented on #2699
Aha! That's it! Thanks @ramya-rao-a and @jrieken, I just toggled `cmd+/` while suggestions were visible, and now the correct information is showing when I changed suggestion!

![](https://media3.giphy.com/media/26u43S8HNqOcJ1rfG/giphy.gif?cid=790b7611f3412cb94eaae61536c4d2b3a5cb13c7cc819589&rid=giphy.gif)

[2019-08-29 08:22] henrahmagix commented on #2699
![](https://media3.giphy.com/media/LOW71WsuI5B3vcyhdY/giphy.gif?cid=790b76117bf01eef0fe9ecfb5986a29288193c1708ba1996&rid=giphy.gif)

[2019-08-29 18:13] yaegashi commented on #2695
Probably the same problem.  I'm running VSCode Insider on macOS and connecting to a Raspbian stretch host.  With the following `.vscode/settings.json` auto-formatting works on save, but it still fails to fix missing/unused imports on save.

[code]

It gives correct suggestions to fix import problems, but won't automatically fix them on save.

![image](https://user-images.githubusercontent.com/1067

[2019-08-29 20:42] ramya-rao-a commented on #2699
Thanks @jrieken!

[2019-08-29 20:42] #2699 closed

[2019-08-29 20:48] #2714 closed

[2019-08-30 02:29] mattouille commented on #2547
I do.

@zom-pro when you installed the GoLang snap did you happen to add the appropriate /snap directory to your `PATH`?

[2019-08-30 02:55] mattouille commented on #2547
I just did this on KDE neon.

I removed my Go compiler and installed Go using the Snap:
![uninstall_go](https://user-images.githubusercontent.com/8207468/63989642-dee50680-ca95-11e9-9d53-1239e57fb4d7.png)

I then loaded up VSCode with a project that I know has errors:
![errors3](https://user-images.githubusercontent.com/8207468/63989884-d4773c80-ca96-11e9-846b-dddcc73778c3.png)

I wasn't able to r

[2019-08-30 11:07] dingrui37 opened #2720 "Cannot import xxxx LSP with go mod"
![image](https://user-images.githubusercontent.com/22718365/64016218-f1744400-cb58-11e9-8c22-202c95c97e22.png)

The demo is from  https://github.com/golang/go/wiki/Modules, I can execute `go run hello.go`
but it always gives an error note "cannot import rsc.io/quote (no package data for import path rsc.io/quote) LSP" , it cannot jump to the package too.

[2019-08-30 12:21] dingrui37 commented on #2720
![image](https://user-images.githubusercontent.com/22718365/64020230-a7449000-cb63-11e9-94c3-a59ee4164c7d.png)

[2019-08-30 16:09] ramya-rao-a commented on #2547
Thanks @mattouille!

@dimovnike There are a couple of things that might be happening
- The Go extension failed to activate
    - In this case you would have absolutely no features from the extension. Try running the command `Go: Current GOPATH` and let us know if that command fails or shows a notification with your current gopath
- The Go extension activates, the go build command is run the by the

[2019-08-30 17:33] stamblerre commented on #2720
@dingrui37: Can you check if this issue reproduces with the latest version of `gopls` (`gopls version`)? Run `go get golang.org/x/tools/gopls@latest` to update.

[2019-08-30 20:07] inliquid opened #2721 "Extension does not respect "workspaceSymbols" config option"
Language server (gopls) enabled, This configuration option:
[code]
doesn't work. No matter if it's `true` or `false`, extension will always invoke `go-symbols`.

[2019-08-31 01:36] kroppt opened #2722 "Documentation tool repeating lines"
Steps to Reproduce:

1. Type the following into a go file:
[code]
2. Hover over `conn.Write` to see:
![image](https://user-images.githubusercontent.com/14015672/64057632-546fd600-cb6d-11e9-8546-d554d2f9c3af.png)
3. Jump to definition to view the documentation:
[code]

All go settings are default.

<details><summary>VSCodium About</summary>
Version: 1.37.1<br/>
Commit: 9afbbd903b7b481aa127d4d8d6862

[2019-08-31 08:02] dingrui37 commented on #2720
yes, it reproduces with the  latest version of gopls
[code]
but after go mod vendor, it works.
`it dingrui@dingrui:~/go/src/etcd-proxy$ go mod vendor`

[2019-09-01 05:40] francoisgergaud commented on #843
I am pretty new to Go and just ran in this problem while trying to run some examples from the [tcell library](https://github.com/gdamore/tcell).
As a short-term solution, it is possible to run the headless delve debugger in a terminal:
` dlv debug --headless --listen=:2345 --log --api-version=2`
and then have a configuration in the VSCode´s _launch.json_ file which starts the code to debug in remo

[2019-09-01 06:30] ramya-rao-a commented on #2721
I believe this is because `gopls` doesn't yet support workspace symbols feature.
@stamblerre ?

[2019-09-01 11:20] inliquid commented on #2721
It may not support, but the thing is that as you can see from the description, VS Code doesn't even try to reach LSP. instead it just invokes the tool.

[2019-09-01 12:38] mellowdrifter opened #2723 "vscode ignores Go extension settings"
Moved from a linux environment to a Windows environment using WSL.

Go extension was working fine for a few weeks. Three days ago is just stopped working. When I save a Go file, Goimports or Goreturns no longer runs at all. It doesn't even attempt to run.

Running these from the terminal directly works fine. I tried uninstalling and reinstall the extenstion. I tried uninstalling vscode, deleting a

[2019-09-01 13:25] dileepxdn opened #2724 "failed to install go tools in vscode"
After Completely setup my go-lang and git I got these errors in installing tools of golang
![image](https://user-images.githubusercontent.com/34201306/64077052-d4bb4600-cce9-11e9-9c5a-917c109d2efb.png)

[2019-09-01 13:51] dileepxdn commented on #2724
Got Solution :

first goto this path :: %GOPATH%/src/golang.org/x
now if you can see "tools" folder/directory here in this path delete it.
then, open git bash here and run this command " git clone https://go.googlesource.com/tools "

now, After clone you go to this directory ::  %GOPATH%
open cmd-prompt or teminal here ::
in terminal execute the following commands:

go install github.com/mdempsky/

[2019-09-01 13:51] #2724 closed

[2019-09-01 18:45] stamblerre commented on #2721
The language server tells VSCode which features it supports, so that VSCode can determine which requests it should propagate to the language server. Since `gopls` does not yet support workspace symbols, VSCode does not try to reach it.

[2019-09-01 19:17] ramya-rao-a commented on #2722
This issue is being tracked in #2107

This happens when there are multiple functions with the same name, but on different receivers in the same package.
We use `go doc` to get the documentation, but at this time, we are not aware of which receiver to use.

Some workarounds are:
- Change your `go.docsTool` to `gogetdoc` which is smart enough to figure out the right documentation
- Or use the [langu

[2019-09-01 19:17] #2722 closed

[2019-09-01 19:21] ramya-rao-a commented on #2721
https://github.com/microsoft/vscode-go/blob/0.11.4/src/goMain.ts#L280-L282 is the part where the extension realizes that `gopls` does not support workspace symbols feature and so registers its own provider which calls `go-symbols`

[2019-09-01 19:22] ramya-rao-a commented on #2721
Since the workspace symbol features is not part of the [capabilities](https://github.com/microsoft/vscode-go/blob/0.11.4/src/goMain.ts#L239) returned by `gopls`, VS Code does not bother sending workspace symbol requests to it.

Hope this clarifies things.

[2019-09-01 19:22] #2721 closed

[2019-09-01 19:25] ramya-rao-a commented on #2723
Thanks for reporting @mellowdrifter

Let's first try the below on your local setup, make sure that works before moving to WSL

- Does running the command `Go: Current GOPATH` result in a notification with a result or throws an error? This will help in determining if the extension is activated or not
- From the menu `View`, select `Output`. In the output panel that appears, select "go" from the dro

[2019-09-01 20:07] mellowdrifter commented on #2723
Heya. These are the results running locally.

Does running the command Go: Current GOPATH result in a notification with a result or throws an error? This will help in determining if the extension is activated or not
Yes. Output shown is C:\Users\mellowd\go is the current GOPATH. (correct)

From the menu View, select Output. In the output panel that appears, select "go" from the drop down at the to

[2019-09-01 22:52] #2707 closed

[2019-09-01 22:52] #2708 closed

[2019-09-01 23:22] inliquid commented on #2721
In this case how can I, as a user, know that `gopls` is not working for this feature if I set
[code]
feature explicitly?

[2019-09-02 05:48] KarthickEmis commented on #2010
Even I too confirm ,  this happening for me as well - I can debug AWS lambdas via sam local in Goland but not VSCode

I tried with new simple go lang program
sam init --runtime go1.x
cd sam-app
code . # to launch VSCode
go get -u github.com/go-delve/delve/cmd/dlv
set GOARCH=amd64
set GOOS=linux
go build -o ./dlv github.com/go-delve/delve/cmd/dlv
go get -u github.com/aws/aws-lambda-go/...
set GOARC

[2019-09-02 07:56] zouyxdut opened #2725 "Hovering over a builtin function shows nothing"
When hovering over a builtin function, it shows nothing.
vscode version:  1.37.1
vscode-go version: 0.11.4

[2019-09-02 21:50] maxannear commented on #2687
Experiencing the exact same issue. Switching to `gopls` did not fix it for me unfortunately. Its making my computer unusable when I have VS code open to a Go project.

I've given up and downloaded the trial of GoLand 😢

[2019-09-03 00:13] stamblerre commented on #2687
@maxannear: Can you confirm that `gopls` was actually running by opening "View: Debug Console" -> Output -> Tasks and then checking that `gopls` is one of the tasks listed? If you are still having CPU issues with `gopls`, please file an issue on the [Go issue tracker](https://github.com/golang/go/issues/new), and I'd be happy to debug with you.

[2019-09-03 02:27] maxannear commented on #2687
Hi @stamblerre thanks for following up.

I can confirm that `gopls` is running as a task in "View: Debug Console" -> Output -> Tasks.

My VS Code process explorer looks as follows. Sorry I'm not too familiar with exactly how all these tools work together so am unsure what exactly is causing the issue. Is it a problem in the `vscode-go`, `gopls` or `go list`?. The excessive CPU used by `go list` wa

[2019-09-03 02:53] ramya-rao-a commented on #2721
I believe the best way to know that is check the [status for gopls](https://github.com/golang/go/wiki/gopls#status).

@stamblerre Is the above linked status section for gopls up to date?

[2019-09-03 03:01] ramya-rao-a commented on #2723
Looks like you are working outside your GOPATH, are you using modules?

I am guessing, the below is your folder structure
- C:\Users\mellowd\desktop
    - test.go
    - mvoe

In this case, when you open `test.go`, the extension tries to build the package to which the file belongs to. First, the extension tries to figure out the import path to the current package. Since you are not under GOPATH, it

[2019-09-03 03:04] ramya-rao-a commented on #2380
@mattouille Are you looking for an answer between the 2 options you have provided? I would imagine both to be applicable

[2019-09-03 10:37] inliquid commented on #2721
I believe that `vscode-go` has to at least issue a log message saying that it's working "by default", ignoring the explicit setting. Otherwise how do I know is it too slow `gopls` or anything else?

[2019-09-03 11:49] mellowdrifter commented on #2723
No modules no. And yes this was just a test on a file locally not in my gopath.

And yes, moving that file to it's own directory cause it to work.

However going back to the initial WSL issue, the problem still exists. I'm going to run the same commands you requested in a WSL mounted project.

Does running the command Go: Current GOPATH result in a notification with a result or throws an error? Th

[2019-09-03 14:39] ramya-rao-a commented on #2723
From the logs, you can see that build, lint and vet processes have started, but only lint and vet processes completed. Is that a complete copy of the logs? It could be that you copied before `go build` got a chance to complete.

Is `/home/mellowd/go/src/github.com/mellowdrifter/bgpstuff.net/handlers.go` the file you edited? If so, then the vet process is able to catch the error. Do you see anythin

[2019-09-03 14:42] ramya-rao-a commented on #2721
Fair point.

@stamblerre Would you consider logging the capabilities from the language server to the output channel when it gets started just like you log other information like gopls version, go env etc?

[2019-09-03 15:44] inliquid commented on #2721
I think it should be extension since it's extension's decision to override setting and go for a default. Maybe even better if it was a popup with action buttons; disable language server option and use default tool or turn it off completely (if applicable).

[2019-09-03 16:22] samanthakem commented on #2509
Thank you! I will pick this up.

[2019-09-03 18:04] fedevilensky opened #2727 "Wrong warning"
Issue Type: <b>Bug</b>

I simply open a go file and there is a warning in in the first line, in the package declaration. And when i go and check what it says in the problems tab, it says "not found:[1, 1]"

Reproducible in different PCs and distros

Extension version: 0.11.4
VS Code version: Code 1.37.1 (f06011ac164ae4dc8e753a3fe7f9549844d15e35, 2019-08-15T16:17:25.463Z)
OS version: Linux x64 5.0.

[2019-09-03 20:36] stamblerre commented on #2687
From what I can tell, those particular calls to `go list` do not look like the ones that `gopls` makes, and if that's the case, then I would imagine they are being made directly by the extension. @ramya-rao-a: Is there a feature of the extension that uses `go list`?

[2019-09-03 21:24] selfup opened #2728 "Cursor flies to top of file on save and text flashes"
#### Steps to Reproduce

1. Save any go file
1. Cursor moves to top of file
1. Text flashes
1. Focus is still on section (so if I am 100 lines down I don't see the cursor fly up)

#### Video

Recorded a quick video showing this behavior on Windows 10.

1080p60fps available on YouTube (auto might not select that)

[Video on YouTube](https://youtu.be/8fe2XGBT-dY)

Raw link: https://youtu.be/8fe2XGBT

[2019-09-03 21:43] sayajin101 opened #2729 "Go removing proper import after adding it"
func (n name) saveToFile(filename string) error {
       return ioutil.WriteFile(filename, []bytes(d.toString()), 0666)
    }

Steps to Reproduce:
1. add the above code to vs code (using the extension "Go")
2. vs code automatically adds the "bytes" import but on saving removes it again

[2019-09-03 22:34] mattouille commented on #2380
I was more trying to determine what we want the standards for a snippet to be. The two points I supplied are what I use snippets for, but I was leaving it open ended for anyone to add on what they use snippets for.

[2019-09-03 23:03] mellowdrifter commented on #2723
That's the complete copy yes. The last error is the 'too many errors' line.

handlers.go is the file yes. In problems I see the following:

![Capture](https://user-images.githubusercontent.com/6312920/64214216-8939a100-ce7d-11e9-835b-839880e2b837.PNG)

[2019-09-04 02:27] CameronGo opened #2730 "Do not automatically update go.mod and go.sum files"
When opening a Go project that is using modules the go.mod and go.sum files are updated immediately when the project is opened and when almost anything changes.  This is  problematic when making small hotfixes to the application where it is undesirable to update dependencies.  In order to keep dependencies at current levels you must continually discard changes from SCM to ensure they are not check

[2019-09-04 03:03] selfup commented on #2728
Works fine on Linux (Ubuntu 18.04 LTS)

Latest version of  VSCode

[code]

[2019-09-04 06:23] arrebole opened #2731 "Why Install Tools Not Use Go mod"
Steps to Reproduce:
1. open vscode && shift + p
2. Go: Install/Update Tools && select all

Environment
Windows 10 (1903)
Go Version 1.13
GO111MODULE=on

It download to $GOPATH not pkg

[2019-09-04 14:41] mlushpenko commented on #1133
I have the same, but it seems to be broader issue - path can't be detected for hadolint and cloud code extensions as well, it's driving me crazy. My guess other exetnsions that depend on command line tools won't work as well. I use zsh.

[2019-09-04 17:29] stamblerre commented on #2728
This is a known issue that will be fixed soon (https://github.com/golang/go/issues/31937). You can work around this by setting your line endings to be `\n` instead of `\r\n`. Add `"files.eol": "\n"` to your VSCode configuration.

[2019-09-04 17:30] stamblerre commented on #2731
This will be fixed in the next version of the extension (https://github.com/microsoft/vscode-go/pull/2700).

[2019-09-04 17:38] stamblerre commented on #2729
The code should read `[]byte` not `[]bytes`. There is a package called `"bytes"` in the standard library, which is likely why the import got added, but you don't need it here.

[2019-09-04 17:39] stamblerre commented on #2727
Can you share the contents of your `settings.json` file? Are you using the language server?

[2019-09-04 17:39] stamblerre commented on #2725
Are you using the language server?

[2019-09-04 17:50] willfaught opened #2732 "General comment after type, var tokens mis-colored"
It appears white instead of green:

<img width="383" alt="Screen Shot 2019-09-04 at 10 48 25 AM" src="https://user-images.githubusercontent.com/63830/64278416-8a141680-cf01-11e9-837b-886055af697c.png">

[2019-09-04 18:09] sayajin101 commented on #2729
thank you

[2019-09-04 18:11] #2729 closed

[2019-09-04 18:16] willfaught opened #2733 "Colors of names, types of declarations inconsistent"
<img width="169" alt="Screen Shot 2019-09-04 at 11 07 52 AM" src="https://user-images.githubusercontent.com/63830/64279589-42db5500-cf04-11e9-8767-8ab044e3d7b1.png">

For var declarations, names are blue and types are white, whereas for const declarations, names are white and types are blue.

For type declarations without parentheses, the names are green and the types are white, whereas for type d

[2019-09-04 18:19] fedevilensky commented on #2727
I simply installed the go extension and started working. Been having this problem since day 1, and it is present on multiple PCs

Is this the settings.json you where looking for? Sorry, I am kinda new to vsc

[2019-09-04 18:22] stamblerre commented on #2727
Yep, that's it, thank you for sharing. @ramya-rao-a: Have you ever seen such an error before?

[2019-09-04 18:26] fedevilensky commented on #2727
Here is a pic with the bug itself
https://imgur.com/a/mfEwUg2

[2019-09-04 21:11] selfup commented on #2728
@stamblerre thanks! I tried a ton of keywords and wasn't able to find that issue. I will try it out now 😄

[2019-09-04 21:15] selfup commented on #2728
Closing in favor of https://github.com/golang/go/issues/31937

[2019-09-04 21:29] selfup commented on #2728
Seems that this isn't a `x/tools/gopls` issue? Keeping open if this repo can fix it?

[2019-09-04 21:41] stamblerre commented on #2728
My understanding is that the VSCode language client team do not intend to fix this issue (see https://github.com/microsoft/vscode-languageserver-node/issues/493). My understanding is that the expectation is on the language server to produce the smallest diffs possible, which would avoid this issue.

[2019-09-04 21:45] selfup commented on #2728
Ok fair enough. I usually use editorconfig anyways, and of course the one project I don't use it with I see this behavior 😂

Thanks!

[2019-09-04 21:45] #2728 closed

[2019-09-05 05:13] zouyxdut commented on #2725
No. It's disabled.
Hovering over non-builtin functions is OK.

[2019-09-05 09:45] mlushpenko commented on #1133
What worked for me is printing proper paths by running:
[code]

and then using those outputs in user `settings.json`:
[code]

[2019-09-05 10:53] RifeWang commented on #1133
I do not need GOPATH when I upgrade go version and use go modules.

[2019-09-05 11:21] mlushpenko commented on #1133
I am using go modules as well, but no documentation would show up for me at all and now works again, not matter if I start it up from shell or normally. Maybe GOROOT would be enough. Anyway, I shared what worked for me, you may have different situation.

[2019-09-05 15:01] stamblerre commented on #2725
What is the contents of your `settings.json` file? In particular, what is the setting for `go.docsTool`?

[2019-09-05 18:45] mwat56 opened #2734 "go 1.13 and testing"
I upgraded from 1.12 to go 1.13 today. Now I can't properly test my project anymore. Regardless whether I test a single function, run file tests, or run package tests I get output like this:

    Running tool: /usr/local/bin/go test -timeout 30s github.com/mwat56/kaliber -coverprofile=/tmp/vscode-goJh8DXF/go-code-cover

    flag provided but not defined: -test.coverprofile

     Usage: /tmp/go-bui

[2019-09-05 19:44] mwat56 commented on #2734
I just found something interesting. In one of the project's files there's an `init()` function which calls the function that initialises the commandline flags:

    func init() {
    	initArguments()
    }

If I comment out `initArguments()` there are no testing errors as described above, and even the `debug test` option works as expected. What change in go 1.13 might be responsible? Everything wo

[2019-09-05 20:35] DavidArchibald opened #2735 "Go 1.13 number literal syntax highlighting"
With Go 1.13's release, the syntax highlighting of the [new number literals](https://golang.org/doc/go1.13?referrer=qmeta.net#language) should be recognized as such in the Go extension. Currently the new additions are simply white text, or in the case of a hexadecimal numbers with a mantissa and exponent, partially coloured.

This is easily reproduced by going into any Go file and putting in any o

[2019-09-06 02:54] ramya-rao-a commented on #2509
This has been taken care of with #2726 by @samanthakem
Thanks @samanthakem!

[2019-09-06 02:54] #2509 closed

[2019-09-06 07:10] ramya-rao-a commented on #2727
The first line gets the error if any of the go build, lint or vet processes find an error that is not associated with any particular line.

@fedevilensky,
- Run the command `Go: Current GOPATH`. Does this show you your GOPATH? Is your current file under this path?
- Can you share the logs in the output channel? From the `View` menu, select `Output`. Then select "go" from the dropdown on the top ri

[2019-09-06 07:14] ramya-rao-a commented on #2723
Ok, so in your WSL set up what we know is the below
- The Go extension is definitely getting activated. You can see the lint and vet processes running
- You are not using the language server or Go modules
- From the output you shared, it doesn't look like the build process completed in time.

Your initial concern was that goimports/goreturns are not being run on on file save. These tools are run a

[2019-09-06 09:22] zouyxdut commented on #2725
The contents of `~/./config/Code/User/settings.json` are:
[code]
There is nothing about go, and I don't have any other `settings.json` file, the `go.docsTool` is as below:
![image](https://user-images.githubusercontent.com/11425914/64416939-b202a600-d0ca-11e9-8bf1-54b76593d3dd.png)

[2019-09-06 16:52] #2547 closed

[2019-09-06 19:48] FelipeUmpierre commented on #2656
@drrrMikado I had the same problem, it was failing when running the VSCode in WSL on Ubuntu 18.04 and trying to install the tools from go.

The main issue was:
[code]

and the solution that I found was:
- go to your ubuntu terminal and access as root
- run `chmod a+w /home/<user>/.cache`

After that, it should install as expected the tools.

[2019-09-06 22:21] mellowdrifter commented on #2723
Interesting, running format correctly formatted the doc. "fmt" was imported and it corrected the indentation of a few of my forced errors.

Problem output shows "no problems have been detected in the workspace so far"

But if I delete "fm" and click save directly, the same errors  :/

[2019-09-07 03:45] sagardutta commented on #2696
@ramya-rao-a I would like to take a shot at this issue.
Need a clarification though, can we check the GOOS var set in toolEnvVars against the OS we are currently running  instead of values inside launch.json ?
We are trying to notify the user when the GOOS var in toolEnvVars is different from the OS it is running on, right ?

[2019-09-07 12:46] mellowdrifter commented on #2723
Considering running 'format' seems to do the required thing, I've changed this setting to format on save. This seems to work. However I don't recall ever turning this off
![Capture](https://user-images.githubusercontent.com/6312920/64475099-fe41fa80-d14b-11e9-9304-7916a17d7f2d.PNG)

[2019-09-07 15:42] OhYee commented on #2505
Maybe we can use gdb instead of delve, before delve works in wsl.

The `tasks.json` and `launch.json` as below can work well through [native debug](https://marketplace.visualstudio.com/items?itemName=webfreak.debug) extension

[code]

[code]

[2019-09-08 00:28] daltschu22 opened #2736 "The readme wording on the language server notice is very confusing"
In the readme under the **Go tools that the Go extension depends on** page has a notice stating:

_"NOTE: If you are using Go modules, then we strongly recommend using the Go language server as it performs much better than the tools below."_

This makes it sound like you **do not** recommend installing the listed tools, and instead recommend installing the "language server". It took me quite a whi

[2019-09-08 01:12] ramya-rao-a commented on #2714
The latest [beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix for this issue

[2019-09-08 01:14] ramya-rao-a commented on #2659
@stamblerre's changes are now in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension.

@jadekler Can you please try the beta version and let us know if you still see this issue?

[2019-09-08 01:16] ramya-rao-a commented on #2731
The [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension does use modules when installing the tools

[2019-09-08 01:16] #2731 closed

[2019-09-08 01:18] ramya-rao-a commented on #2730
Can you share any Go related settings you might have added/edited? You can see these by running the command `Preferences: Open Settings (JSON)`

@CameronGo On each file save, we run `go build` for your package in order to show build errors if any. I wonder if that is what is causing updates to the `go.mod` and `go.sum` files. The extension itself doesn't directly ever touches these files

@stamble

[2019-09-08 01:20] ramya-rao-a commented on #2732
@willfaught The colors are controlled by the grammar being used and the grammar is part of the main VS Code project. Therefore, please log this issue in the [VS Code repo](https://github.com/Microsoft/vscode)

In order for the folks at VS Code to repro this easily, please include a code snippet that they can paste into a Go file.

[2019-09-08 01:20] #2732 closed

[2019-09-08 01:20] ramya-rao-a commented on #2733
@willfaught The colors are controlled by the grammar being used and the grammar is part of the main VS Code project. Therefore, please log this issue in the [VS Code repo](https://github.com/Microsoft/vscode)

In order for the folks at VS Code to repro this easily, please include a code snippet that they can paste into a Go file.

[2019-09-08 01:20] #2733 closed

[2019-09-08 01:23] ramya-rao-a commented on #2735
@DavidArchibald The colors are controlled by the grammar being used and the grammar is part of the main VS Code project. Therefore, please log this issue in the [VS Code repo](https://github.com/Microsoft/vscode)

Also, please note that we can't possibly have different grammars being used for different versions of Go. So any solution put in place here will be applied for any Go file regardless of

[2019-09-08 01:23] #2735 closed

[2019-09-08 01:24] ramya-rao-a commented on #2725
@zouyxdut Can you share a sample code snippet where I can try this out?

[2019-09-08 01:26] daltschu22 commented on #2736
Seems like the wording was infact correct, and it does replace all those tools. Will close.

[2019-09-08 01:26] #2736 closed

[2019-09-08 01:27] ramya-rao-a commented on #2734
@mwat56 Do you see the same errors when you try to run the test from a terminal using `go test -timeout 30s github.com/mwat56/kaliber -coverprofile=/tmp/vscode-goJh8DXF/go-code-cover`?

If so, then this would be a problem with Go itself and not the extension and I would suggest to log this issue in the Go issue tracker

[2019-09-08 02:00] ramya-rao-a commented on #2720
@stamblerre Do you have any leads here?

[2019-09-08 18:19] markphelps commented on #2734
I just ran across a similar issue and found this issue while Googling. I think the reason is that now go 1.13 has it's [own init function ](https://golang.org/pkg/testing/#Init) which register the common `test.X` flags.

I think what is happening is that if you define your own `init` function then Go's `testing.Init` does not get called.

To verify this I added this line in my tests:

[code]

And

[2019-09-08 18:41] mwat56 commented on #2734
@ramya-rao-a Thank you for that tip!

Indeed, the same problem. As @markphelps mentioned as well, this new behaviour seems to be a consequence of changes in Go itself. Thanks for looking into it!

[2019-09-08 18:43] markphelps commented on #2734
Also just found this issue that seems to have a lot of discussion around this: https://github.com/golang/go/issues/31859

You may be able to just remove `flag.Parse` in your `init()` function as it seems that the generated test code that go generates may call it for you

[2019-09-08 19:42] mwat56 commented on #2734
@markphelps

Unfortunately that won't be possible: The file with the commandline flags needs to parse/validate them (and merge them with values from config files) and setup other parts of the program with those values. All that is supposed to be done _before_ `main()` is run.

For the time being I've added `testing.Init()` in my `init()` function before my own flag handling gets started. So far it

[2019-09-09 01:46] ramya-rao-a commented on #2734
Thanks for sharing more context on this @markphelps!

I am closing this issue as it has been concluded that the problem is due to the changes in Go 1.13

[2019-09-09 01:46] #2734 closed

[2019-09-09 02:00] joeky888 opened #2737 "Unable to install golangci-lint in vscode"
Steps to Reproduce:

Enter command `Go: Install/Update Tools` -> Select all -> OK

[code]

Environment

vscode-go version 0.11.5-beta.3

[code]

:(

[2019-09-09 02:28] xgfone commented on #2026
I has also met with this trouble.

The environment `GOPROXY` didn't work.
[code]

[code]

[code]

When I do it myself, however, it works.
[code]

[2019-09-09 10:42] mwat56 commented on #2734
@markphelps

Can you give me an example how to do that?

[2019-09-09 10:48] mwat56 commented on #2734
@mwat56

As it turns out that is not a good idea after all: if the program gets called with `-help` all the testing flags are mixed into the program's own flags, which is rather confusing for the unsuspecting user.

Is there a way to figure out at runtime whether the program is running in a testing environment or "normally"?

[2019-09-09 13:22] markphelps commented on #2734
@mwat56 yeah, here's something I did in a personal project: https://github.com/markphelps/flipt/pull/129/commits/cd7fb4957955dd1763bcf6ca6dd4e60fba6bfc60#diff-77b87a2786da4b38e7dd9d4fd463953c

I created 2 files, one `storage/init_go113_test.go` that has the build tag:

[code]

This means it will be built with all versions of Go that support 1.13, basically 1.13+

Then I created another file `stora

[2019-09-09 18:01] stamblerre commented on #2730
Yes, the `go` command modifies your `go.mod` files. @CameronGo: You'll notice that your `go.mod` will change if you run `go build` from the command line too.

[2019-09-09 18:16] stamblerre commented on #2720
@dingrui37: It looks like you are using modules, but `gopls` is looking for your dependencies in your `$GOPATH`. What is the value of `GO111MODULE`? Have you configured it in your VSCode `go.toolsEnvVars`?

[2019-09-09 18:27] stamblerre commented on #2026
Tool installation should work as expected with the [beta version](https://github.com/microsoft/vscode-go/releases/tag/latest) of the extension, if anyone would like to try it out and confirm.

[2019-09-09 21:01] ramya-rao-a commented on #2737
Are you able to install it by running the command `go get -v github.com/golangci/golangci-lint/cmd/golangci-lint` directly in your terminal?

[2019-09-09 21:54] ramya-rao-a opened #2738 "Test Plan for September 2019 release"
If you got a notification from this issue, then you are part of the next update to the Go extension which I plan to release early next week.
Thanks and Welcome!

Here, I am listing some of the features and the bug fixes that will go in the next update and for which I need some help in testing. Since I dont work with Go in my day job, I always feel that someone who does Go more than me can help in

[2019-09-09 23:38] muirrn opened #2739 "Completion candidates out of order with new gopls"
gopls recently added server side fuzzy completion matching (only on master, not released yet). The completion results are now marked as IsIncomplete=true so the client re-requests completions after every change.

Sometimes VSCode displays completion candidates in a different order than expected.

VSCode
Note that "a" is incorrectly ranked before "a.i":
![VSCode](https://user-images.githubuserconte

[2019-09-10 00:08] joeky888 commented on #2737
Yes, looks like it is a golangci-lint issue.

https://github.com/golangci/golangci-lint/issues/659

[2019-09-10 00:08] #2737 closed

[2019-09-10 02:26] ramya-rao-a commented on #2684
I agree that keeping tickets open for long doesnt help anyone :)

We do have a bot that closes issues which have the label `needs-more-info` and has not seen a comment from a non-collaborator for more than 7 days.
I guess what I also need to do is close issues that havent seen a lot of interest as well.

I will be doing a fresh round of triaging soon, so that should help.

Thanks for your thoughts

[2019-09-10 02:26] #2684 closed

[2019-09-10 04:10] christopher-wong opened #2740 "The gopls server crashed 5 times in the last 3 minutes."
vscode 1.38.0
go version go1.13 darwin/amd64
macOS 10.14.6

"The gopls server crashed 5 times in the last 3 minutes. The server will not be restarted."

My vscode sections.json

`{
    "workbench.colorTheme": "One Dark Pro",
    "window.zoomLevel": 0,
    "gitlens.advanced.messages": {
        "suppressShowKeyBindingsNotice": true
    },
    "python.linting.enabled": false,
    "go.useLanguageServ

[2019-09-10 04:12] stamblerre commented on #2740
Can you make sure that you are using the latest version of the language server? You can update by running `GO111MODULE=on go get golang.org/x/tools/gopls@latest`.

[2019-09-10 04:15] christopher-wong commented on #2740
Looks like that fixed it, thanks!

I tried updating by using VScode Command Palette "Install/Update Tools" but I guess that didn't get the latest version.

[2019-09-10 08:31] geropl opened #2741 "Does not work well with certain project layouts (go-swagger)"
Sometimes some of the extension's features work, but others doesn't.

Steps to Reproduce:

1. `git clone https://github.com/go-swagger/go-swagger`
2. `cd go-swagger && code .`
3. Open the `scan/meta.go` file and try:
  a) Variable rename: "gorename: file /workspace/go/src/github.com/go-swagger/go-swagger/scan/meta.go was not part of the loaded program"
  b) auto-complete: "shows standard garbage"

[2019-09-10 08:40] marco-m commented on #2684
Thanks for the explanation Ramya. I will chime in in old issues then.

May I ask another, unrelated question? I noticed that lately (last two months maybe) the activity on this repo dropped substantially. Do you have any information that you can share with the public abut the plans ? And thanks again for this extension, I love it!

[2019-09-10 12:18] inliquid opened #2742 "Extension says gopls is out of date when using @master version"
Having this annoying message:
![изображение](https://user-images.githubusercontent.com/6797881/64613165-2ba5d700-d3de-11e9-8a88-d4f023aa250e.png)

[code]

[2019-09-10 13:06] stamblerre commented on #2742
Are you on Windows?

[2019-09-10 13:11] stamblerre commented on #2738
Regarding the automatic updates for gopls, I realized that I didn't add correct handling for people who use `gopls` at master by running `go get golang.org/x/tools/gopls@master`. I will send a PR for that later today.

[2019-09-10 16:25] inliquid commented on #2742
Yep, it's Windows.

[2019-09-10 16:35] stamblerre commented on #2742
Thanks for confirming. https://github.com/microsoft/vscode-go/pull/2743 will fix it.

[2019-09-10 17:50] quoctruong commented on #2738
There is a bug on clearing breakpoints after detaching from the remote process. I'll send out a PR later today for that.

[2019-09-10 21:22] mattetti commented on #2738
Confirmed to work as expected (status bar only shows up when go modules is on). But there is an important caveat: the status doesn't change unless extension/vs code is restarted. In other words, a user might change their go module settings in they env variables, that change won't be reflected in the editor. I can't really think of a good solution so I think we are good to go.

[2019-09-11 06:15] #2742 closed

[2019-09-11 06:19] ramya-rao-a commented on #2742
The [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension)  (0.11.5-beta.4) should have the fix for this.
Thanks for reporting @inliquid!

[2019-09-11 06:35] ramya-rao-a commented on #2684
Well, 2 months ago I had a role change at my job and so the amount of time I had to spend on this extension dipped. I have now come out on the other side of the adjustment period and so am now picking up the slack :)

No change in plans for the extension. But I am working with different partners to de-centralize the efforts a bit. Eventually this would crystalize enough for me to share "formal pla

[2019-09-11 06:35] ramya-rao-a commented on #2737
Thanks for sharing that!

[2019-09-11 08:02] marco-m commented on #2684
Thanks for the transparency @ramya-rao-a, greatly appreciated :-)
And thanks to all the contributors 🤗

[2019-09-11 14:51] Yekut opened #2746 "Use custom test script instead of the go binary"
In our current project, there are a bunch of setup commands that needs to be run before running tests, so we wrap them in a setup script that ends with go test. There doesn't seem to be support for this workflow in vscode-go (happy to be pointed out wrong) - is it something worth considering?

A few extra comments:
1) The script is more than just environment variables (which it seems can be setup)

[2019-09-11 15:34] wtask commented on #2746
You may to use `make` or similar tool to prepare your environment, build containers, start tests and so on. Of course, you can open a terminal window and start your workflow from VSCode. For my opinion this is enough in 100% cases. Otherwise use monsters like IDEA.

[2019-09-11 21:44] stamblerre commented on #2738
@mattetti: A partial solution might be to watch changes to the `go.toolsEnvVars` config setting (see an example [here](https://github.com/microsoft/vscode-go/blob/7fab4f3ac6f8b3b2711d137886f26d5412c99aae/src/goLanguageServer.ts#L65)).

[2019-09-11 23:14] mattetti commented on #2738
@stamblerre I think that's a good idea, it can't hurt to check on VSCode custom env variables.

[2019-09-12 00:48] Yekut commented on #2746
@wtask - thanks for the suggestions - they are pretty much all in our toolbox now. I looked through the source code and figured this wouldn't be a hard thing to add, and IDEA does mean ~600 USD per developer. I would be a bit surprised if the VSCode team's response is "go use GoLand" :-) But if that's the case I'll respect the decision.

[2019-09-12 01:27] CameronGo commented on #2730
@ramya-rao-a the only go related settings i have changed at this point are:
[code]
I can confirm that yes running `go build` or `go list` or even `go doc` does in fact touch and update the go.mod and go.sum files.

Is it necessary to run any of those things as soon as a project is opened or on file save?  As it stands today our engineers are just constantly running `git reset --hard` as soon as a

[2019-09-12 04:45] ramya-rao-a commented on #2730
@CameronGo
If you have the language server enabled, then the extension does not run `go build`, but it might run `go list` to provide one of the various other features.

@stamblerre What would you suggest here?

[2019-09-12 05:17] ramya-rao-a commented on #2696
@sagardutta you can try `process.platform` and `process.arch`. These should give you what you are looking for. But do test it out on multiple platforms to ensure you don't have any casing issue or different forms of representing the arch.

[2019-09-12 05:20] stamblerre commented on #2730
`gopls` runs `go list` under the hood, and `go list` will potentially modify your `go.mod` file. There is nothing that VSCode or `gopls` can do here - this is a behavior of the Go command.

@CameronGo: I recommend taking a look at https://github.com/golang/go/issues/27643 and the related issues.

[2019-09-12 05:21] ramya-rao-a commented on #2723
This could be a problem with the timeout that gets kicked in for the format on save feature.
Can you try tweaking the `editor.formatOnSaveTimeout` setting?

[2019-09-13 04:12] 678uhb opened #2749 "a lot of unexpected config warning"
![image](https://user-images.githubusercontent.com/6631439/64837161-ab6eb400-d61f-11e9-9bb2-7db0f9d066eb.png)

[2019-09-13 07:52] #2727 closed

[2019-09-13 10:59] 910JQK opened #2750 "Feature Request: Supporting additional environment variable configuration when executing `go get`"
Sorry for my bad English. There is an annoying problem. If some analysis tools are missing, `vscode-go` can install them automatically using `go get`, which is a convenient feature. But due to the fact that `golang.org` is blocked by the Great Firewall of China, `go get` could require a HTTP proxy to work in China. The HTTP proxy used by `go get` can be set by the environment variables `http_proxy

[2019-09-13 14:36] muirrn commented on #2739
@ramya-rao-a Thanks. I wasn't able to get the explain popup to show up, but it seems like VSCode is doing scoring/ranking on top of what the LSP server does. Is it possible to disable the rescoring/reranking and just have VSCode use the completions as-is?

[2019-09-13 17:30] 678uhb commented on #2749
![image](https://user-images.githubusercontent.com/6631439/64882216-43f04d00-d68f-11e9-812e-76073507de60.png)

[2019-09-13 17:31] 678uhb commented on #2749
go 1.13

[2019-09-13 23:24] gertcuykens commented on #186
It's not the appropriate place for technical reason because of RPC interface I agree, but form a pure development standpoint I think a good amount of people will launch dlv in the terminal just to have this ability and don't have to click anything. Try dlv cmd line a few times, it makes you wish for a hybrid cmd line where vscode just highlight de variables and line of code and the cmd line does e

[2019-09-14 01:03] garymm opened #2751 "High CPU, sluggish performance with remote Go"
Issue Type: <b>Performance Issue</b>

VS Code UI is running on Mac OS.
The workspace is remote over SSH to Linux.
The Mac OS app is very slow.
The proess explorer shows the window for my go source file with very high CPU usage (100-120%) and memory usage (1150+ MB).

Extension version: 0.11.4
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:31:32.854Z)
OS versi

[2019-09-14 08:58] kidlj commented on #2750
Just set "http.proxy": "http://$SERVER:$PORT", this should work.

[2019-09-14 09:39] kidlj opened #2752 ""Go: Install/Update Tools" with Code and Go extension running in a remote Docker container connects to an unspecified proxy"
I'm running VSCode and Go extension running in a remote Docker container, it works great. However, when issuing the "Go: Install/Update Tools" command, it seems to connect to an unspecified proxy server, which fails.

Here's the Go extension output:

[code]

I'm kind of familiar with the address `127.0.0.1:8118`, which is a v2ray proxy server running on my macOS localhost. The problem is that I'm

[2019-09-14 15:45] 910JQK commented on #2750
Thanks a lot. I didn't know it.

[2019-09-14 15:45] #2750 closed

[2019-09-15 01:37] Yekut commented on #2746
@ramya-rao-a That's a good point, thanks! Didn't know tasks exist at all - was only looking at vscode-go and forgot about core vscode features. I'll try it and see if it works out, thanks!

[2019-09-15 01:52] #2725 closed

[2019-09-15 01:52] #2659 closed

[2019-09-15 02:15] riobard opened #2753 "Analysis Tools Missing and Go Language Server"
The extension warns about "Analysis Tools Missing" in the status bar at the bottom even if it's configured to use Go Language Server. According to the wiki those tools are not necessary. Is it better to suppress the warning if gopls is used?

[2019-09-15 04:58] ramya-rao-a commented on #2739
Am not sure about that @muirrn
@jrieken Can you help?

[2019-09-15 13:17] kidlj commented on #2752
Sorry, found the 'http_proxy' setting in the remote Docker host user profile.

[code]

Closed.

[2019-09-15 15:56] kidlj commented on #2752
Nope. Even I removed the remote Docker host 'HTTP_PROXY' settings, and set the VSCode remote proxy settings like following, it still connects to `127.0.0.1:8118`. I'm still confused where it reads the   proxy setting from.

VSCode Remote settings:

[code]

[2019-09-15 16:02] kidlj commented on #2752
[code]

[2019-09-15 16:21] kidlj commented on #2752
Got it. When VSCode remote extension build the remote container, it will copy local user's .gitconfig to remote container.

Here's the output:

[code]

Since I have proxy settings in my local macOS .gitconfig, it retains in remote container, that's why git clone failed.

[2019-09-15 16:22] #2752 closed

[2019-09-16 18:45] lerixhe commented on #2749
same problem

[2019-09-17 03:40] itcuihao commented on #2633
So sad."Reload VS Code window after installing the Go language server".

[2019-09-17 08:57] jmhodges opened #2755 "support for GOPACKAGESDRIVER env variable?"
`gopls`, by way of `golang.org/x/tools/go/packages`, supports using the environment variable `GOPACKAGESDRIVER` to allow for build systems other than the `go` tooling (such as `bazel`) to provide the look ups for `gopls`.

However, there doesn't seem to be a way to set that env var as a workspace setting. I'm trying to help out with bazel's attempt at supporting `gopls` (documented at https://gith

[2019-09-17 08:58] jmhodges commented on #2755
(I also opened https://github.com/golang/go/issues/34341 to get that env var documented in a more public way)

[2019-09-17 09:13] Shamdan17 opened #2756 "Green/Blue Screen of Death upon opening specific projects in VSCode"
Hello everyone,

I have been having an issue with VSCode recently. Every time I open the project I am working on, I get a green screen of death (I am running a Windows Insider Build). This happens 100% of the time, with no exceptions, and it is always within a few seconds of opening a .go file in the project.

I would like to provide more info, but I can not provide the specific code as it is conf

[2019-09-17 09:59] dongqi1990 commented on #2740
@stamblerre I had used the command you said, but it didn't work.

[2019-09-17 10:32] Shamdan17 commented on #2756
While experimenting with different previous versions of VSCode Go, I have boiled down the update that introduced the issue to version 0.7.0. Working with 0.6.93 gives be no issues so far.

[2019-09-17 14:25] 0xdeafcafe commented on #2749
Also having this problem, but on `go1.12.5`

[2019-09-17 16:39] jmhodges commented on #2755
Oh, I think I was reading outdated docs on the wiki? Is using `go.toolsEnvVars` the way to do this?

[2019-09-17 20:45] stamblerre commented on #2633
@SteelPhase: I will take a look at fixing this. I believe the issue is that we aren't clearing diagnostics from the language server before restarting it.

@itcuihao: The need to reload VSCode after installing the language server is separate from this issue, and should only be a one-time issue. The reason for this is that VSCode behaves very differently on startup if it is using the language server

[2019-09-17 21:05] stamblerre commented on #2740
Take a look at the output in View -> Output -> Tasks -> gopls. Are you passing any outdated flags via `go.languageServerFlags`?

[2019-09-17 21:41] nmorenor commented on #2710
I'm observing this behavior also on my side, also running on OSX with the vscode-go (0.11.4) extension

[code]

[2019-09-17 22:34] renevall commented on #2740
I was having the same issue with the same setting as @christopher-wong but latest version seems to fix it.

[2019-09-17 23:25] lerixhe commented on #2749
I closed the GOPATH dir in the workspace,and fixed it. But when I open it again, the problem reappears

[2019-09-18 02:09] dongqi1990 commented on #2740
Thankyou, it fixed.

[2019-09-18 02:21] omcnoe opened #2757 "Debugging with race detection on Windows requires gcc"
Setting `"buildFlags": "-race"` in a debug config in launch.json causes vscode debugging to fail if it can't find gcc on the PATH. Yet calling `go run -race main.go` outside of vscode works fine without gcc. Is this a limitation of building with debugging?

go version go1.13 windows/amd64
extension version 0.11.4

[2019-09-18 02:33] dongqi1990 commented on #2740
@stamblerre but I meet a new problem.

# Code sample exhibiting the issue:
project structure:
![image](https://user-images.githubusercontent.com/40886252/65102835-f6f9d700-d9fe-11e9-8b72-e5e6d468bb78.png)

main.go
[code]

go.mod
[code]

log.go
[code]

# Console log of the issue
for log.go gopls's output is:
[code]

for main.go
[code]
problems is
![image](https://user-images.githubusercontent.com/4

[2019-09-18 03:03] 678uhb commented on #2749
// "go.useLanguageServer": true,
  // "go.languageServerFlags": [
  //   "-rpc.trace", // for more detailed debug logging
  //   "serve",
  //   "--debug=localhost:6060", // to investigate memory usage, see profiles
  // ],
  // "[go]": {
  //     "editor.snippetSuggestions": "none",
  //     "editor.formatOnSave": true,
  //     "editor.codeActionsOnSave": {
  //         "source.organizeImports":