[2019-09-18 04:40] stamblerre commented on #2740
Can you try running `gopls -rpc.trace -v check /root/GoProject/learning/test01/mylog/log.go`?

[2019-09-18 04:45] stamblerre commented on #2749
Can I ask what the name of the directory you opened was? `gopls` requests per-folder configuration from VSCode, and I imagine what happened is that if your directory is called `go`, then the extension returned every `go` configuration.

[2019-09-18 04:52] 678uhb commented on #2749
yes , it's called go

[2019-09-18 05:04] 678uhb commented on #2749
change the directory name works

[2019-09-18 05:08] #2749 closed

[2019-09-18 05:37] dongqi1990 commented on #2740
@stamblerre OK, the result of running is showed below.

ran `gopls -rpc.trace -v check /root/GoProject/learning/test01/mylog/log.go`, the output is:

[code]

ran `gopls -rpc.trace -v check /root/GoProject/learning/test01/main.go`, the output is:
[code]

[2019-09-18 05:38] stamblerre commented on #2749
Ah ok, thanks for confirming. This is a `gopls` bug, so I'll work on fixing it and releasing an updated version tomorrow. I will update here when that has been done.

[2019-09-18 05:43] stamblerre commented on #2740
Hm, looks like you were running the command from inside the `learning` folder. Can you try running it inside the `test01` directory? For `gopls` to work correctly, you will need to open VSCode with the directory that contains the `go.mod` file.

[2019-09-18 05:44] jmhodges commented on #2755
Or maybe there's an undocumented `gopls.env` that I've seen mentioned in the vscode channel in the gophers slack?

[2019-09-18 05:53] dongqi1990 commented on #2740
Oh, yes, when I open the folder test01 directly, gopls work well.

[2019-09-18 08:30] felixhao28 commented on #2026
@stamblerre I just tested the beta.5 version in your link and it works wonders.

[2019-09-18 15:30] bygui86 opened #2758 "Go Install/Update Tools gives me FAILED and 'permission denied'"
I read this link `https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension` but I found no answers.

Steps to Reproduce:
1. Open VSCode
2. Open Command palette
3. Run `Go Install/Update Tools`
4. Select go tools to be installed

Trying to install `gopls` VSCode shows following output:
[code]
All packages have the same result.

If I run the same command normally in a terminal,

[2019-09-18 15:36] bygui86 commented on #2758
Here my `go env`:
[code]

[2019-09-18 16:29] stamblerre commented on #2755
You can set the `GOPACKAGESDRIVER` used by `gopls` in 2 different ways, either:

[code]

or

[code]

The difference is that if you set `"go.toolsEnvVars"`, the same driver will be used by any other tools that use `go/packages` that are used by VSCode. The configuration in the `"gopls"` settings just tells `gopls` to use that driver. It's also needed for editors that do not have a setting akin to `

[2019-09-18 23:09] stamblerre commented on #2749
Just released a new version to fix this. You can get it via `go get golang.org/x/tools/gopls@v0.1.7`.

[2019-09-19 03:32] ignishub opened #2759 "Language Server strange behaviour"
![image](https://user-images.githubusercontent.com/1565839/65211406-3b40b200-daa7-11e9-875f-ff5345a42373.png)

I just dont even know what to say. Progtramm builded correctly

[2019-09-19 04:09] shane-lawrence commented on #2759
I have the same issue. It occurs intermittently, and can be resolved temporarily by restarting vscode. In the vscode terminal, $GOPATH is correct, and `go build` and `golint` work without error.
![image](https://user-images.githubusercontent.com/8320787/65212696-33feb180-da71-11e9-90e0-d71ab48ee4b4.png)

[2019-09-19 04:15] stamblerre commented on #2759
What version of `gopls` is this with (`gopls version`)? This is something I'm aware of and investigating, so for now the best course of action is restarting `gopls`. Do these files belong to packages with in-package tests? I am only familiar with this happening in test files, though it seems like that's not the case in these examples.

[2019-09-19 04:21] shane-lawrence commented on #2759
Thanks for looking into this. The gopls version is `version v0.1.6-cmd.gopls, built in $GOPATH
mode`.

As a workaround, I switched to bingo by adding `"go.alternateTools": {"gopls": "bingo"}` and then Cmd+Shift+P > "Go: Restart Language Server". I'm happy to switch back to gopls and provide more info if it will help.

[2019-09-19 04:23] stamblerre commented on #2759
`v0.1.7` of `gopls` is out today, and I'd be curious if you're still seeing the same issues with that version. If you'd prefer to stick with bingo, no worries - I can update on this thread when the issue is  resolved.

[2019-09-19 04:34] shane-lawrence commented on #2759
Updating with `go get golang.org/x/tools/gopls@latest` results in:
[code]

Note that if I let vscode update gopls ("Go Install/Update Tools") it reverts back to v0.1.6. I switched from bingo back to gopls and I'll run v0.1.7 for a while to see if the issue recurs.

[2019-09-19 04:36] stamblerre commented on #2759
Thanks for doing this! VSCode-Go downloads `gopls` from master, which is why you're seeing this behavior, but this should be fixed with the latest beta version of the extension.

[2019-09-19 05:12] shane-lawrence commented on #2759
This issue persists in v0.1.7.

![image](https://user-images.githubusercontent.com/8320787/65215159-87293200-da7a-11e9-88e3-5ff7101ded11.png)

![image](https://user-images.githubusercontent.com/8320787/65214966-d28f1080-da79-11e9-8c8e-79e7407e78e3.png)

[2019-09-19 05:36] stamblerre commented on #2759
Thanks for confirming. Is this file in a package that also has tests?

[2019-09-19 05:52] #2723 closed

[2019-09-19 06:03] shane-lawrence commented on #2759
Yes.

[2019-09-19 06:44] ramya-rao-a commented on #2753
Fair point, but there are still some tools that you would need even if you were using the language server. I have gone through these and we have prompts showing up to install them when the feature they power are used and the tool is not found. So we are good there.

Except for the linting feature where we don't prompt if the linter tool is missing. If we add that, then yes, we can remove the "Anal

[2019-09-19 06:46] ramya-rao-a commented on #2755
I agree with @stamblerre

[2019-09-19 06:46] #2755 closed

[2019-09-19 06:54] ramya-rao-a commented on #2756
Thanks for reporting @Shamdan17 and for narrowing down to which release started causing the problem.

Please share any Go related settings you might have added/edited. You can get these after running the command `Preferences: Open Settings (JSON)`.

As per the [Changelog for 0.7.0](https://github.com/microsoft/vscode-go/blob/master/CHANGELOG.md#070---6th-november-2018), 2 things got introduced tha

[2019-09-19 06:56] ramya-rao-a commented on #2758
Is this when you tried in an external terminal or the integrated terminal in VS Code?

If it was using the external terminal, then can you please try the below?
- Close all instances of VS Code
- From the external terminal, run `code` and try again. This ensures that all the env vars from your terminal gets inherited by VS Code

[2019-09-19 07:01] quantonganh opened #2760 "Newly created file from CLI: intellisense only work after first saving"
- vscode 1.38.1
- ms-vscode.Go@0.11.4

I'm not using the language server.

Steps to Reproduce:
1. Run `code hello.go` from CLI
2. Type the following:

[code]

Nothing shown because `gocode` is not running. But if I save this file first, delete dot and type again, it will be ok:

[code]

`gocode` is triggered to run after saving?

I can also make it works by opening the current folder (`code .`), t

[2019-09-19 07:04] ramya-rao-a commented on #2026
@lrstanley & @xgfone, Can you try the[ latest beta version ](https://github.com/microsoft/vscode-go/releases/tag/latest) of this extension and see if you still have issues?

[2019-09-19 07:51] Shamdan17 commented on #2756
Thank you for the quick response.

I ran the command, and I got the following Go related settings:
[code]

I have tried your suggestion, and now I am facing no issues so far with the latest version of the extension. I think this means that it indeed is the docs feature behind the issue.

What can I do to help you further diagnose the issue?

[2019-09-19 11:07] ogrea commented on #2505
Have you solved the problem yet?

[2019-09-19 15:06] yhyddr opened #2763 "vscode LSP check golang error go:1.13 vscode 1.36.1"
- VSCode Version:
![image](https://user-images.githubusercontent.com/32089134/65256107-94552800-db31-11e9-9e10-280267473c1a.png)

- OS Version:
![image](https://user-images.githubusercontent.com/32089134/65256146-a46d0780-db31-11e9-8116-6e986688847d.png)

## Error Image
![image](https://user-images.githubusercontent.com/32089134/65256302-e7c77600-db31-11e9-9afa-7c5e24dd79c9.png)

![image](https://

[2019-09-19 17:58] jhendrixMSFT commented on #2242
The above answer is correct so I'm going to close this issue.  Please ping if you have further questions.

[2019-09-19 17:58] #2242 closed

[2019-09-19 19:16] philippgille commented on #2242
@jhendrixMSFT: I think the question by @wcsiu wasn't answered yet:

(From https://github.com/microsoft/vscode-go/issues/2242#issuecomment-474297257)

[2019-09-19 19:29] jhendrixMSFT commented on #2242
Proper support for modules is still a work-in-progress.  @wcsiu have you tried the Go language server?  Please see https://github.com/microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code for info on how to enable it.  If there are specific debugger issues WRT modules I suggest opening a new issue (or issues) so we can track each bug.

[2019-09-19 23:04] ramya-rao-a commented on #2738
0.11.5 version has now been released, thanks everyone!
Link to changelog: https://github.com/microsoft/vscode-go/blob/0.11.5/CHANGELOG.md#0115---19th-september-2019

[2019-09-19 23:04] #2738 closed

[2019-09-19 23:04] ramya-rao-a commented on #2690
This should now be fixed in the latest version (0.11.5) of the extension

[2019-09-19 23:04] #2690 closed

[2019-09-19 23:04] ramya-rao-a commented on #2592
This should now be fixed in the latest version (0.11.5) of the extension

[2019-09-19 23:04] #2592 closed

[2019-09-19 23:05] ramya-rao-a commented on #2559
There is now a warning that shows up if you save changes to a Go file when there is an active debug session

[2019-09-19 23:05] #2559 closed

[2019-09-19 23:06] ramya-rao-a commented on #2671
This should now be fixed in the latest version (0.11.5) of the extension

[2019-09-20 01:46] stamblerre commented on #2763
Are you using modules? If so, make sure to open VSCode from your module root (the directory containing the `go.mod` file).

[2019-09-20 01:51] ramya-rao-a commented on #2756
The `go.gocodeFlags` control the way the extension provides the completion feature. But if you are using the language server, then the extension doesnt provide any completion feature of its own, instead it relies on the language server to provide this feature.
So, changing the `go.gocodeFlags` setting should not have made any difference when you are using the language server.

Can you share the ve

[2019-09-20 01:58] ramya-rao-a commented on #2670
This issue has been closed because it needs more information and has not had recent activity.

[2019-09-20 01:58] #2670 closed

[2019-09-20 02:00] ramya-rao-a commented on #2360
Closing this issue due to below reasons
- An upstream issue has been logged for godef
- We now recommend using the [language server gopls](https://github.com/Microsoft/vscode-go#go-language-server) when using modules.

[2019-09-20 02:00] #2360 closed

[2019-09-20 02:02] ramya-rao-a commented on #2437
@antonmashko My apologies for missing to reply on this issue. Can you please provide a sample code using which I can try to replicate this issue?

Can you also try the [new language server gopls](https://github.com/Microsoft/vscode-go#go-language-server) and let us know if you see the same issue?

[2019-09-20 02:04] ramya-rao-a commented on #2609
This issue has been closed because it needs more information and has not had recent activity

[2019-09-20 02:04] #2609 closed

[2019-09-20 02:06] ramya-rao-a commented on #2572
@stamblerre Is there anything that can be done for this issue?

From what I understand @andig resolved the situation by removing the replace statement entirely

[2019-09-20 02:08] ramya-rao-a commented on #2662
@fananchong,

My apologies for not responding sooner.
Do you still have this issue?
Can you try using the latest version of this extension (0.11.5) and updating your language server?
You can do this by running the command `Go: Install/ Update Tools`, select `gopls` and then press Ok

[2019-09-20 03:01] yhyddr commented on #2763
I use go mod init and this path is in "go/src/github.com" when I think it's go module problem , too .
![image](https://user-images.githubusercontent.com/32089134/65295988-aa94cf80-db95-11e9-8c0c-34f14c0aba37.png)

what next should I do

[2019-09-20 03:03] yhyddr commented on #2763
I got it , you must restart your vscode

[2019-09-20 03:03] #2763 closed

[2019-09-20 03:05] stamblerre commented on #2572
What @andig is describing sounds like an issue with an old version of `goimports`. It shouldn't be occurring anymore, but if you still see it with the latest version of `gopls`  we can investigate further.

[2019-09-20 03:45] wizcas commented on #2505
Is there any news on this? Or is there something can be done as a workaround? It's so annoying that debugging is not functional when really needed.

[2019-09-20 04:52] #2741 closed

[2019-09-20 07:30] akhilravuri1 opened #2764 "unable to save the file"
Hi,

I have been using go extension for a long time I was very happy with it and there was no problem till 4days back but once vscode has recommended me to update the tools then I updated it from then this weird issue has occurred and I have google on it and I was not able to solve the issue. I was used to vscode editor with Go extension and now I was unable to use it and it is affecting my work a

[2019-09-20 07:31] padurean opened #2765 "Go: Build Workspace never ends"
Issue Type: <b>Bug</b>

Go: Build Workspace never ends with latest version.

Extension version: 0.11.5
VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:31:32.854Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|
|GPU Status|2d_canvas: enabled<br>flash_3d:

[2019-09-20 08:00] soyangel opened #2766 "Command "Test All Packages In Workspace" not working"
Since extension updated to 0.11.5 command "Test All Packages In Workspace" seems to not execute tests, with no visible output on logs and no visual indication that tests are running.

The link to run package's tests & links on test functions work ok.

Vscode:
[code]

Steps to Reproduce:

1. Create a project with a main_test.go file like this:
[code]
2. Run "Test All Packages In Workspace"

[2019-09-20 08:22] bygui86 commented on #2758
Giving a try right now. Keeping you posted.

[2019-09-20 08:29] bygui86 commented on #2758
I tried from an external terminal and from integrated terminal as well.
From external it works, from integrated it doesn't.

I tried and it works! But this means that if I make some changes in my shell profile, do I need to start at least once VSCode from external terminal?

This behaviour looks a bit weird to me...

[2019-09-20 12:05] halega opened #2767 "Go tools (gopls) stop working via Remote SSH after update to 0.11.5"
I'm using "Remote - SSH" plugin to work on a Go project. I have Windows host and VirtualBox with Ubuntu VM.

Steps to Reproduce:

1. Open VSCode on Windows, install Remote - SSH plugin and connect to Ubuntu.
2. Do remote install of Go 0.11.5 and install all Go tools (installation completed sucessfully).
3. Open any *.go file.

**Expected**
gopls started on Ubuntu machine and VSCode language featur

[2019-09-20 12:52] davidovich commented on #2505
@wizcas I have had some success with [Remote-Containers](https://code.visualstudio.com/docs/remote/containers) and `go` image. This sidetracks the [WSL problem](https://github.com/go-delve/delve/issues/1235), but at least you can debug. Be sure to start code in a Windows drive.

[2019-09-20 14:00] halega commented on #2767
Reverted remote vscode-go to 0.11.4. All works again.

[2019-09-20 15:03] 1yefuwang1 opened #2768 "language server(gopls) not working"
After setting `go.useLanguageServer` to `true`, this plugin basically stops working: no auto-completion, no go-to-definition, no quick-info-on-hover.
When I try to restart the language server, the following message shows up.
![image](https://user-images.githubusercontent.com/18023393/65328293-929a6b80-dbe8-11e9-8d7c-2463dd467544.png)

Detailed info of my vscode:
Version: 1.38.1
Commit: b37e54c98e1

[2019-09-20 15:05] 1yefuwang1 commented on #2768
seems like the same issue as #2767

[2019-09-20 15:36] wizcas commented on #2505
@davidovich the idea is cool! I'm gonna try it definitely, as it also keep everyone's dev environment identical. Thanks!

[2019-09-20 16:02] enix223 commented on #2768
got the same issue, after upgrading vscode-go to `0.11.5`, `gopls` daemon does not start when vscode started...

[2019-09-20 16:21] stamblerre commented on #2767
Thank you for the issue report. @1yefuwang1 and @enix223, I'll continue the discussion of https://github.com/microsoft/vscode-go/issues/2768 here. Can you add a bit more information about your remote machines?

@ramya-rao-a: Are you aware of any tools for debugging extensions running remotely? My best idea right now is that I can add some more debug logging to my version of the extension, package

[2019-09-20 16:48] stamblerre commented on #2767
Well, FWIW, I added a few log statements and rebuilt the extension on my fork (https://github.com/stamblerre/vscode-go/blob/master/Go-0.11.5.vsix). If you can download this file onto your remote machine, go to the Extensions menu and click the "..." in the top right corner, you will see the "Install from VSIX" option. If you select Go-0.11.5.vsix file I linked, you'll get the version of the extens

[2019-09-20 17:10] halega commented on #2767
For clean setup I created a VM with Ubuntu Server 18.04.4 in the cloud (any VPS provider is fine). Installed Go and connect to it from VSCode via Remote - SSH from Windows machine. Install remote Go 0.11.5 and gopls.  And it doesn't work. Downgraded to the version 0.11.4 and it start working.

@stamblerre I'll try your build.

[2019-09-20 19:59] AndreiD opened #2769 "have to restart vscode to start working again"
from time to time the code gets stuck, aka...auto formatting doesn't work on save, errors don't show up, imports don't get added/removed on save.

the only way to fix it is by restarting the IDE

what IDE: latest, always updating to latest
Go version: latest
Ubuntu 19.04

# WHAT TO DO?

[2019-09-20 20:00] AndreiD commented on #2769
is this an ubuntu 19.04 thing?..because I never experienced it in 18.04 or in Kubuntu 18.04

[2019-09-20 20:43] ransombriggs opened #2770 "Error: TypeError: Invalid Version: undefined"
### Steps to Reproduce:
1. Ubuntu
[code]
2. Visual Studio
[code]
3. Go
[code]
4. main.go
[code]
5. Save main.go
![image](https://user-images.githubusercontent.com/62452/65357253-230e8700-dbbc-11e9-94b9-9566a686abc4.png)

### Debugging
I found that if I turned off `buildOnSave` and `vetOnSave` that the error goes away if that helps at all with debugging.
[code]

[2019-09-20 20:52] roblourens commented on #2767
You can actually debug a remote extension similarly to how they are debugged locally in the Extension Development Host. Clone the extension to the remote host and open that folder with the Remote-SSH extension. Then the extension debug launch config should work as normal.

[2019-09-20 21:19] Yekut commented on #2746
So I've been futzing around and it seems there's no way to hook this up with vscode-go's coverage tool since it loads the cover file from a tmp dir (unless we can configure the cover file location?) :-( Other than that this seems like it would work. I'll look into it more and if I get it to work will close this outl.

[2019-09-21 03:23] liuhangyu commented on #2768
I also encountered the same problem, unable to pull up the gopls version at 0.11.5, 0.11.4 is normal

[2019-09-21 03:49] ramya-rao-a commented on #2768
Thanks for reporting everyone

Can one of you check the logs and share any errors that you see there?
- Run the command `Developer: Toggle Developer Tools`.
- Share any errors from here related to the go extension.
- If there is too much noise here, then reload the window, and you should be able to see errors if nay

Another place to check is the logs from the Extension Host
- Select `Output` from

[2019-09-21 03:50] ramya-rao-a commented on #2769
Please share any Go related settings you might have added/edited. You can get this by running the command `Preferences: Open Settings (JSON)`

Are you using modules?
Are you using the language server?

[2019-09-21 04:03] halega commented on #2767
Here's logs.

`10.64.48.17:8080` - it's our corporate HTTP proxy server.

[code]

On a computer outside corporate network vscode-go 0.11.5 works.

[2019-09-21 04:37] halega commented on #2767
Figured out that plugin 0.11.5 stop working after updating gopls to v0.1.7. It works with previous version (`version v0.1.6-cmd.gopls, built in $GOPATH mode`). And Go plugin 0.11.5 successfully detect of older version of gopls:

![image](https://user-images.githubusercontent.com/35935/65367912-b76efd00-dc41-11e9-9bc4-5549bd930f46.png)

Steps to reproduce:

1. Remove gopls on remote Linux host.
2.

[2019-09-21 04:42] stamblerre commented on #2767
Are you seeing this behavior with the new beta version of the extension that Ramya pushed (https://github.com/microsoft/vscode-go/releases/tag/latest)? There really shouldn't be anything with `gopls v0.1.7` that would change the behavior of VSCode-Go (it only contained a few minor bug fixes).

[2019-09-21 04:50] halega commented on #2767
0.11.6-beta.1 also doesn't work.

I see that there're outgoing connections to the corporate proxy from inside VM in VirtualBox:

![image](https://user-images.githubusercontent.com/35935/65368069-061d9680-dc44-11e9-982b-d45029c5d529.png)

When I use VM with Linux as remote machine in the cloud (that is outside of corporate network where there's a proxy), it tries to connect to it anyway: i see the

[2019-09-21 04:57] halega commented on #2767
No, after some timeout 0.11.6-beta.1 start working:

In logs:
[code]

[2019-09-21 05:08] halega commented on #2767
Yes, 0.11.6-beta.1 works with gopls v0.1.7. Thanks a lot!

P.S. It's still strage that remote plugin on linux using proxy settings from Windows host. Proxy has domain authentication that's why it fails on linux host in VirtualBox (or in the cloud where there's no proxy at all).

[2019-09-21 05:19] darren opened #2772 "Please document all options available for go.languageServerExperimentalFeatures"
Neither  the document in Readme of vscode-go [settings  to control the use of the go-language-server ](https://github.com/microsoft/vscode-go#settings-to-control-the-use-of-the-go-language-server) nor [gopls's wiki](https://github.com/golang/go/wiki/gopls) lists  which options go.languageServerExperimentalFeatures provides.

I googled several times and still can not find the full list, forgive me

[2019-09-21 05:28] enix223 commented on #2768
* Log from Developer tools for version `0.11.5`:

[code]

`gopls` daemon not started after timeout

* Log from Developer tools for version `0.11.6.beta-1`:

[code]

`gopls` daemon started after timeout occurred, and all works fine now 😄...

[2019-09-21 06:30] kidlj commented on #2768
VSCode remote-container with go-extension 0.11.5 and gopls v0.1.7 does not work too. And after switching to 0.11.4 it works again, however it noticed me to rebuild go tools for go version has changed, but I'm using the same go in the same container.

[2019-09-21 07:04] AndreiD commented on #2769
Here it is.
I don't know what is the "language server"

[code]

[2019-09-21 07:10] clar commented on #2742
I'm on mac, and see the same issue .

version v0.1.6, built in $GOPATH mode

[2019-09-21 07:28] kidlj commented on #2767
I got this error output in Log(window) with go-extension 0.11.5:

[code]

[2019-09-21 07:31] kidlj commented on #2767
From Developer Tools view I got this. I seems to connect to an internet address to determine something, please don't do this, almost every google/github/aws/azure servers are blocked in China.

<img width="898" alt="image" src="https://user-images.githubusercontent.com/300616/65369798-6e8c6800-dc84-11e9-969a-8c59630b0148.png">

[2019-09-21 12:13] js00070 commented on #2768
I have the same problem.
I tried `ps aux | grep gopls` to see if gopls was started and i found the gopls wasn't started at all....  I also tried to restart the language server and got "go.languageserver not found" too.

this is my settings.json for vscode-go
`
"go.useLanguageServer": true,
    "go.alternateTools": {
        "go-langserver": "gopls",
    },
    "go.languageServerExperimentalFeature

[2019-09-21 12:16] js00070 commented on #2768
Thanks for your solution!
I uninstalled 0.11.5 and installed 0.11.4 and the gopls could work!!!

[2019-09-21 15:08] stamblerre commented on #2742
What version of Go are you using? We recommend building `gopls` in module mode, and you can get a stable version by running `go get golang.org/x/tools/gopls@latest`. You can install master by running `go install` inside of the `golang.org/x/tools/gopls` directory, and that shouldn't show any warnings.

[2019-09-21 15:41] ramya-rao-a commented on #2768
@enix223, @kidlj, @js00070,
Can you try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) and see if that helps?

[2019-09-21 15:44] ramya-rao-a commented on #2767
Thanks @halega & @kidlj

@kidlj For the time being, can try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension)? It has the fix to not block the starting of the language server when failing to connect to the proxy.

[2019-09-21 15:52] js00070 commented on #2768
0.11.6-beta.1 works perfectly! Thanks!

[2019-09-21 15:53] ramya-rao-a commented on #2769
Thanks @AndreiD
You can learn more about the language server support in this extension at https://github.com/microsoft/vscode-go#go-language-server

Are you using Go modules?

[2019-09-21 16:03] AndreiD commented on #2769
yes

[2019-09-21 18:55] ramya-rao-a opened #2776 "Prompts to update gopls as and when a new stable version is out"
In 0.11.5, we introduced a feature where the extension prompts users to update their `gopls` if it was found to be out of date when compared to the latest stable version.

This was done by making calls to https://proxy.golang.org

This approach has a couple of concerns
- The call would fail for users behind corporate or private proxies or in China. See #2768
- Users might have their own GOPROXY se

[2019-09-21 18:55] ramya-rao-a commented on #2776
cc @stamblerre

[2019-09-21 19:14] ramya-rao-a commented on #2776
Current proposals:
- Add a setting so that user can opt out of such outgoing calls. See https://github.com/microsoft/vscode-go/pull/2773
- if user has configured GOPROXY, use that. See https://github.com/microsoft/vscode-go/pull/2774

[2019-09-21 19:16] ramya-rao-a commented on #2767
Hello all,

I have just released an update where we have replaced the outgoing call with known hard-coded value of the latest version for gopls. This should fix the problem reported here.

I have logged an issue #2776 to discuss next steps on how to make this check better, please feel free to provide your thoughts there.

[2019-09-21 19:16] #2767 closed

[2019-09-21 19:17] ramya-rao-a commented on #2768
Hello all,

I have just released an update(0.11.6) where we have replaced the outgoing call with known hard-coded value of the latest version for gopls. This should fix the problem reported here.

I have logged an issue #2776 to discuss next steps on how to make this check better, please feel free to provide your thoughts there.

[2019-09-21 19:17] #2768 closed

[2019-09-22 00:20] ramya-rao-a commented on #1411
The "Organize Imports" feature is now available when using `gopls` as the language server in this extension. The code formatting feature is independent of the import organizing feature when using the language server.

For more on language server, please see https://github.com/microsoft/vscode-go#go-language-server

Closing this issue as there are no plans to add this feature separately to the exte

[2019-09-22 00:20] #1411 closed

[2019-09-22 02:41] adiabatic opened #2777 "Golang HTML Templates: typing "{{" produces "{{}}}", not "{{}}""
Alternate title for better searchability: unbalanced braces generated in `html/template` templates.

I forget when I started noticing this. I think it's been a month or two now.

Steps to Reproduce:

1. Open a terminal to ~.
2. Run `touch foo.gohtml`.
3. Run `code foo.gohtml`. You are now in Visual Studio Code, editing foo.gohtml.
4. Type "{". Notice how "{}" is in the buffer.
5. Type "{" again. N

[2019-09-22 07:17] ramya-rao-a commented on #1143
Closing this issue as there the fix should be done upstream.
@willfaught, Please log this issue in the [VS Code](https://github.com/Microsoft/vscode) repo

[2019-09-22 07:17] #1143 closed

[2019-09-22 12:45] fananchong commented on #2662
Now I am using a language server very smooth, thanks

[2019-09-22 12:45] #2662 closed

[2019-09-22 21:03] ramya-rao-a commented on #1412
Hey @davidlazar,

Thanks for reporting the issue, and my apologies for not getting to it sooner.

After this issue was logged, there have been quite a few changes to the tools installation process
- The `Go: Install/Update Tools` command now shows the list of tools that the extension wants to install and allows the user to pick & choose. This list also has description around the feature that the t

[2019-09-22 21:08] ramya-rao-a commented on #1342
@diegobernardes, @asasmoyo The original problem here is related to not able to lock down on the version of the go tools being used by the extension. My hope is that as the Go ecosystem moves to using modules, we should be able to target particular versions.

@MOZGIII Have you tried any of the vscde-remote solutions? See https://code.visualstudio.com/docs/remote/remote-overview

I will be using #14

[2019-09-22 21:08] #1342 closed

[2019-09-22 21:53] ramya-rao-a opened #2779 "Not able to run tests on Linux in Travis CI"
June 4th, 2019 was the last time there was a successful run in Travis on Linux.
There has been no code change in the extension that is causing the failures.
This is most likely due to some changes upstream.

For now, I have [disabled the Linux runs](https://github.com/microsoft/vscode-go/commit/551b7cc6bd35905575573d948732a0bec715473e) on travis to reduce noise in PRs
This issue is to track the ro

[2019-09-22 21:56] eyalch opened #2780 "Picking a PID to attach to"
Taking note of the PID and updating the `launch.json` file with it every time I want to attach a debugger is a bit tedious.

**Is there a way I could make this a bit easier?**

For example, I can get the PID by running:
[code]
And attach the Delve debugger to the process manually:
[code]
And then use the "Connect to server" launch configuration, but then I'll have to detach manually (instead of pr

[2019-09-22 21:58] ramya-rao-a commented on #2753
cc @stamblerre

[2019-09-22 22:02] ramya-rao-a commented on #2777
Can you elaborate on what you mean by "in the buffer"?

This extension does not support gohtml files. You might have some other extension installed that might be causing this. If you see this after disabling all extensions you have, then please log this issue in the [VS Code](https://github.com/Microsoft/vscode) repo.

[2019-09-22 22:06] ramya-rao-a commented on #2772
I have just updated the Readme of vscode-go [settings  to control the use of the go-language-server ](https://github.com/microsoft/vscode-go#settings-to-control-the-use-of-the-go-language-server) with the note on all features that you control with this setting and their default values.

Happy Coding!

[2019-09-22 22:06] #2772 closed

[2019-09-22 22:08] ramya-rao-a commented on #2770
Are you able to see this consistently? If yes, then can you share the stack trace for this error? You can find this in one of 2 places
- The logs for the extension host
     - Select `Output` from the `View` menu, and then select `Log (Extension Host)` from the drop down on the top right corner of the output panel
- The dev tools for VS Code
      - Run the command `Developer: Toggle Developer Too

[2019-09-22 22:56] ramya-rao-a commented on #2766
Thanks for reporting @soyangel

I have the fix in the master branch and you can use the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of the extension until I ship the fix later in the week

[2019-09-22 23:11] ramya-rao-a commented on #2765
Thanks for reporting @padurean!

I have the fix in the master branch and you can use the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of the extension until I ship the fix later in the week

[2019-09-22 23:21] adiabatic commented on #2777
In the window. Here's what it looks like with the insertion caret visible:

<img width="503" alt="{} visible in an otherwise-empty .gohtml file" src="https://user-images.githubusercontent.com/101246/65395788-60a61800-dd54-11e9-9dde-5873de2046ff.png">

I disabled https://github.com/casualjim/vscode-gotemplate and the offending behavior stopped. I'll ping its author. Thanks!

[2019-09-22 23:21] #2777 closed

[2019-09-23 00:53] ramya-rao-a commented on #2764
Thanks for reporting @akhilravuri1

Please share your Go related settings that you might have added/edited. You can get this by running the command `Preferences: Open Settings (JSON)`.

If you are using the language server, then can you disable it and see if you are still having the problem? You can do this by setting `go.useLanguageServer` to `false`.

[2019-09-23 01:09] ramya-rao-a commented on #2760
I am not able to replicate this... Below are the steps I took

- Create a file `hello.go` with the below contents
[code]
- Run `code hello.go` from cli
- Type `.` after `fmt` in the main() function

I am able to see the completions

Did I miss any steps?

[2019-09-23 01:16] ramya-rao-a commented on #2757
Thanks for reporting @omcnoe

Can you try running [dlv](https://github.com/go-delve/delve/blob/master/Documentation/usage/dlv_debug.md) from the terminal with race flag and see if it behaves any differently?
If it does, then we can look into what VS Code is doing differently when calling dlv

[2019-09-23 01:27] ramya-rao-a commented on #2212
Thanks for reporting this @egonelbre and apologies for not responding sooner

You have a fair point on using `.` instead of `./...` when we want to target only the current package.
I have made the change and it should be available in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension until I ship an update later

[2019-09-23 02:56] mrpanc commented on #2770
Same error. "Error: TypeError: Invalid Version: undefined" is the only thing i've got. There is no other log or more information.

[2019-09-23 02:58] mrpanc commented on #2770
It happens after upgrading to the latest version.

[2019-09-23 04:21] ramya-rao-a commented on #2770
@mrpanc Did you try the output panel or the console as suggested in https://github.com/microsoft/vscode-go/issues/2770#issuecomment-533922924 for more information?

[2019-09-23 04:32] ramya-rao-a commented on #2770
@mrpanc Are you also able to get around the error by disabling the build on save and vet on save feature like @ransombriggs ?

@mrpanc, @ransombriggs Can you share the version of Go you are using? Also share any Go related settings you might have added/edited. You can get these by running the command `Preferences: Open Settings (JSON)`

@stamblerre This is most likely coming from the semver depend

[2019-09-23 04:51] omcnoe commented on #2757
Unfortunately the behavior is the same, seems like a limitation of delve.

[2019-09-23 05:04] ramya-rao-a commented on #2757
Thanks @omcnoe
In that case, I would suggest to first log the issue against delve to get a better understanding of what is happening.

Closing this issue for now. If you find something that you believe should be done on the extension's side, please do drop in a comment here

[2019-09-23 05:04] #2757 closed

[2019-09-23 05:06] ramya-rao-a commented on #2769
If you are using modules, then we strongly suggest using the [language server](https://github.com/microsoft/vscode-go#go-language-server)

More details can be found at [Module support in VS Code](https://github.com/microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code)

Please try out the language server and let us know how that goes

[2019-09-23 05:09] ramya-rao-a commented on #2746
#1596 tracks the need to configure the test coverage feature to use an existing cover file, so may be that can help?

[2019-09-23 05:12] ramya-rao-a commented on #2758
The problem boils down to VS Code not able to read the changes in your shell profile. This is an extension agnostic problem. I would suggest to look up existing issues in the VS Code repo that might have already covered this as there is nothing we can do from the extension's perspective here.

Closing this issue.

Happy Coding!

[2019-09-23 05:12] #2758 closed

[2019-09-23 05:13] ramya-rao-a commented on #2572
Thanks @stamblerre

Closing this issue.

If the problem still persists with the new version of the Go tools, please log a new issue

[2019-09-23 05:13] #2572 closed

[2019-09-23 05:21] willfaught commented on #1143
The issue seems fixed in the latest release. Will skip copying this to vscode.

[2019-09-23 05:58] akhilravuri1 commented on #2764
Hi

My settings.json file after setting go.useLanguageServer to false
[code]
I changed useLanguageServer to false and everyting works fine. Thank you.

Now again I changed the useLanguageServer to true even now it is working fine.
May I know what is the problem?

Thanks,
Akhil

[2019-09-23 07:45] quantonganh commented on #2760
@ramya-rao-a You mean you used another editor to create `hello.go` first, then open it with `code`? That isn't what I mean.

What I mean is creating a new file from cli by using `code hello.go`, then I can only see the completions after first saving.

[2019-09-23 07:46] AndreiD commented on #2769
thanks for the help

[2019-09-23 07:46] #2769 closed

[2019-09-23 08:29] lenmore commented on #2770
Same error.  here is the log:

[2019-09-23 16:18:06.673] [exthost] [error] TypeError: Invalid Version: undefined
	at new SemVer (/home/my/.vscode/extensions/ms-vscode.go-0.11.6/node_modules/semver/semver.js:314:11)
	at compare (/home/my/.vscode/extensions/ms-vscode.go-0.11.6/node_modules/semver/semver.js:647:10)
	at Function.lt (/home/my/.vscode/extensions/ms-vscode.go-0.11.6/node_modules/semver/s

[2019-09-23 09:05] oiar commented on #2720
just set go mod on and set go.toolsEnvVars on

[2019-09-23 09:11] padurean commented on #2765
@ramya-rao-a Thank you! I can confirm the bug is fixed in the latest beta version.

[2019-09-23 09:26] egonelbre commented on #2212
Looking forward to the improvements.

The request cancellation was an issue in gocode itself. The client that made the request to gocode server, was killed, however the request was still handled fully on the server. So, the cancellation wasn't fully propagated. Mentioning, because it feels like one of those bugs that end up in other tools as well.

[2019-09-23 15:28] ransombriggs commented on #2770
@ramya-rao-a found in the developer tools
[code]

[2019-09-23 16:52] ramya-rao-a commented on #2770
Awesome, thanks for the stack traces!!

@lenmore, @ransombriggs Can you share the version of Go you are using? Also share any Go related settings you might have added/edited. You can get these by running the command `Preferences: Open Settings (JSON)`

@stamblerre Based on the above, I have narrowed it down to https://github.com/microsoft/vscode-go/blob/0.11.5/src/goModules.ts#L56 in our code and

[2019-09-23 17:06] ransombriggs commented on #2770
[code]

[2019-09-23 17:53] stamblerre commented on #2764
@akhilravuri1: What version of the language server are you using (`gopls version`)? To format your file using the language server, add the following to your settings:

[code]

[2019-09-23 18:23] harmnot opened #2781 "can't autocomplete file, function and struct"
I have been uninstal Vscodel many time and install  again , then install rich go as well without change the setting

but I still can't get autocomplete import file and struct , functions
what is wrong ??
I am really stuck about this

[2019-09-23 19:34] stamblerre commented on #2770
I sent a PR to add some additional testing and error handling, but I imagine that something is going wrong when we parse the user's Go version. If it fails the first time for whatever reason, we don't retry, which I suppose might be causing this error.

[2019-09-23 19:40] promaty commented on #2505
Still no luck in v1.38.1

[2019-09-23 20:17] DavidLangworthy opened #2783 "Process starts but does not completely attach"
My process starts, but does not seem to attach.  Breakpoints are not hit and all debugger console commands return "not available".  Logs follow

[code]

[2019-09-23 21:42] pforpallav commented on #1983
@ramya-rao-a Is there a spec somewhere that says the `vendor` should live under the same path as the `go.mod` file? I couldn't find as such.
The project I am working on, has a vendor folder just under the `$GOPATH`. I ended up creating a symlink to this in the folder with `go.mod`, to make `vscode` happy.

[2019-09-24 00:37] tomjowitt commented on #2770
I have the same issue on Ubuntu. Like @ransombriggs I can remove it by changing the on save settings for vet/build.

[code]
]$ code --version
1.38.1
b37e54c98e1a74ba89e03073e5a3761284e3ffb0
x64```

The log output is as follows:

[code]

[2019-09-24 02:01] ramya-rao-a commented on #2770
Hey all,

Can you try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension and see if the issue still persists?

If the issue no longer persists, then open the console logs again and look for any logs starting with either of the below and share them please
- `Error when running the command "go version"`
- `Not able

[2019-09-24 02:55] tomjowitt commented on #2770
@ramya-rao-a Perfect. The beta version works. Thanks so much for the speedy fix.

The extension host logs have nothing related to the version now:

[code]

[2019-09-24 03:08] tomjowitt commented on #2770
Apologies, I only checked the logs and not the console dev tools:

[code]

[2019-09-24 05:49] akhilravuri1 commented on #2764
Hi @stamblerre
My gopls version:-
[code]

my settings.py file after adding the above variable:-
[code]
If go.useLanguageServer is true I am not able to save the file but if it is flase I was able to save the file.

Thanks,
Akhil

[2019-09-24 05:57] dingrui37 commented on #2720
@oiar  Can you give me a screenshot about how to set? thank you

[2019-09-24 06:22] oiar commented on #2720
![image](https://user-images.githubusercontent.com/44365441/65486244-88bd8480-ded6-11e9-90cd-f16b7d63608b.png)

![image](https://user-images.githubusercontent.com/44365441/65486317-b4406f00-ded6-11e9-873f-fa1ecec99c3e.png)

set them and restart

[2019-09-24 06:26] yhyddr opened #2784 "[bug] can't install go tools"
If this is a bug report, please share
![image](https://user-images.githubusercontent.com/32089134/65486384-e225b380-ded6-11e9-82ac-a8878e6deb16.png)

I can't install or update my go tools and can't use them

how can I add go.tools

Steps to Reproduce:
I use it properly until last start it. All my tools cannot use

[2019-09-24 13:26] yhyddr commented on #2784
rm -fr ~/Library/Preferences/com.microsoft.VSCode.helper.plist
rm -fr ~/Library/Preferences/com.microsoft.VSCode.plist
rm -fr ~/Library/Caches/com.microsoft.VSCode
rm -fr ~/Library/Caches/com.microsoft.VSCode.ShipIt/
rm -fr ~/Library/Application\ Support/Code/
rm -fr ~/Library/Saved\ Application\ State/com.microsoft.VSCode.savedState/
rm -fr ~/.vscode/

remove and install a new one

to enable gopl

[2019-09-24 13:26] #2784 closed

[2019-09-24 13:41] asavchuk opened #2785 "Highlighting issue with go.useLanguageServer:true"
Steps to reproduce:

- use in your settings:
`"go.useLanguageServer":true`

- create a simple file:
[code]

- single click on one of the `Println` — it's not highlighted and the second `Println` is not highlighted also

Now let's turn off language server: `"go.useLanguageServer":false`
So, if you single click one of the `Println` then both `Println` function names will be highlighted — this is a *

[2019-09-24 13:47] stamblerre commented on #2764
Can you share your `gopls logs`? See how to find them [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs). Also, can you share the output of the `gopls format` command? You can run it with `gopls -v -rpc.trace format path/to/file.go`.

[2019-09-24 14:03] ransombriggs commented on #2770
I tried the beta and I no longer get errors and I also see the following in the dev tools

[code]

[2019-09-24 14:59] akhilravuri1 commented on #2764
[code]

[code]

[2019-09-24 16:55] harmnot commented on #2699
@henrahmagix is your setting.josn u mention above work well for autocomplete ? because my go can't atucomplete at all , I have tried uninstall and reinstall VSCode but nothing

[2019-09-24 16:58] harmnot commented on #2662
@ramya-rao-a I can't autocomplete after I got latest update, and I have tried uninstall and reinstall VSCode , but not work, I am new for VSCode anyway,

[2019-09-24 17:19] freekot opened #2787 "New code disappears on save in Go after debugging when using the language server"
Issue Type: <b>Bug</b>

After the last update ...
In Go

After debug mode was used. If any code is changed, the changes disappear on  Save. At the bottom of the file the last few lines are duplicated. The workaround is to quit and restart. Then editing and saving is Ok. Disabling format on save has no effect.

VS Code version: Code 1.38.1 (b37e54c98e1a74ba89e03073e5a3761284e3ffb0, 2019-09-11T13:35

[2019-09-24 18:17] ramya-rao-a commented on #2770
Awesome, so looks like the `go version` command does not fail or give any errors, but only gives blank output, that is very sad :(

cc @stamblerre

[2019-09-24 21:21] ziishaned commented on #2770
Run into the same issue. After setting `GOPATH` inside `.zshrc` file like following solved the issue for me:
[code]

[2019-09-24 23:18] mickyco94 opened #2786 "Could not find packages, valid install of gopkgs"
Currently getting an issue where I'm being consistently prompted to update to latest version of gopkgs. Receiving error messages:

`Could not find packages. Ensure `gopkgs -format {{.Name}};{{.ImportPath}}` runs successfully.`
`Your version of gopkgs appears to be out of date. Please update for an improved experience.`

Output of `gopkgs -format {{.Name}};{{.ImportPath}}` in Powershell:
[code]

Cu

[2019-09-24 23:30] stamblerre commented on #2770
@ramya-rao-a: I think it's more likely that we are failing to find the path for the `go` command. I asked @jayconrod, and I don't think that the `go version` command would ever silently fail (https://github.com/golang/go/issues/34499 is an example of a failure case; they are quite rare).

[2019-09-25 00:10] ramya-rao-a commented on #2770
@stamblerre It is unlikely that we didn't find path to `go`. If that were true,
- We would exit early in the `getGoVersion()` function
- the build & vet on save features along with so many others that depend on `go list` would be failing

[2019-09-25 00:46] tomjowitt commented on #2770
Not sure it's related, but I'm on a fresh install and installed Go from snap for the first time. I didn't previously have any issues when I manually installed into `/usr/bin` or `/usr/local/bin`.

[code]

[2019-09-25 02:05] stamblerre commented on #2446
I've been taking a look at this from the VSCode end, and I'm a bit stuck on how this should behave. I thought that the extension could register a formatting provider if the server didn't return `DocumentFormattingProvider` in its capabilities, and then dispose of that provider if the server dynamically registered formatting.

I tried to implement this via the `client.onRequest` function, but it se

[2019-09-25 02:09] dingrui37 commented on #2720
thank you @oiar

[2019-09-25 02:09] #2720 closed

[2019-09-25 02:41] ramya-rao-a commented on #2662
@harmnot Please log a new issue with details around all Go related settings you might have added/edited which you can get by running the command `Preferences: Open Settings(JSON)`. Also share if you are using Go modules or not

[2019-09-25 02:59] ramya-rao-a commented on #2687
@maxannear My apologies, this issue got lost in my sea of notifications

The screenshot shows both `gopls` and `go list` calls. So, this is when the language server is enabled.

Though the extension does call `go list` for a couple of different features, none of the calls follow the pattern of `go list -json packagename`.

The only time the extension runs `go list -json` is when the `Go to Impleme

[2019-09-25 02:59] ramya-rao-a commented on #1983
@stamblerre Can you provide some guidance here?

[2019-09-25 03:01] ramya-rao-a commented on #2760
So after creating a new file, how did you add the contents? Did you type them in or copy/paste them from another location?

[2019-09-25 03:02] ramya-rao-a commented on #2781
- Please share any Go related settings you may have added/edited. You can get these by running the command `Preferences: Open Settings (JSON)`
- Does running the command `Go: Current GOPATH` give you the expected output?

[2019-09-25 03:04] ramya-rao-a commented on #2783
Please share the debug configuration you are using.
If you have a small sample code where you can replicate this, please share that as well so that we can give it a try

[2019-09-25 03:10] ramya-rao-a commented on #2664
@stamblerre Yes that is a sensible solution.

PRs are welcome to update `go.languageServerExperimentalFeatures` to include `highlight` as a property that the user can enable/disable

Code Pointers:
- [Set up local dev environment](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- package.json is the file to edit to update the `go

[2019-09-25 03:11] ramya-rao-a commented on #2785
Closing this issue in favor of the upstream issue

#2664 is another related issue as it tracks the need to disable the highlighting feature from `gopls`

[2019-09-25 03:11] #2785 closed

[2019-09-25 03:29] ramya-rao-a commented on #2786
The fact that you are getting the message about updating `gopkgs` and not installing `gopkgs` tells me that the `gopkgs` that the extension found is the wrong one.

Your attempts to run the command in Powershell vs bash giving different results hint at the same conclusion that you might be having different values for PATH

What does running `gopkgs -format {{.Name}};{{.ImportPath}}` in the integra

[2019-09-25 03:59] harmnot commented on #2781
I have `.vscode` folder on my project path it has `setting.json `
and on that file
[code]

and here on my `Preferences: Open Settings (JSON)`
[code]

I put on my .zshrc
[code]

my project is on` ~/go/src/github.com/myProject`

yes I am using `go.mod`
and yes I install go extensions after I reinstall vscode ,
I have tried to uninstall and reinstall many time but didn't work

do I missing something

[2019-09-25 05:53] akhilravuri1 commented on #2764
Hi
This is thing happens only with packages if I open a single file and do change it gets saved.

[2019-09-25 06:28] ramya-rao-a commented on #2764
@akhilravuri1 Does that mean that if you open the folder that contains the file in VS Code, then you dont see this even when using the language server?

[2019-09-25 06:30] ramya-rao-a commented on #2781
If you are using Go modules, then we suggest that you use[ language server.](https://github.com/microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code)
Please add `"go.useLanguageServer": true` to your settings.
If you get prompted to install the language server (gopls), then install it and reload the VS Code window

[2019-09-25 06:33] ramya-rao-a commented on #2446
How would `gopls` decide whether or not to register the formatter if it is not able to read the `go.languageServerExperimentalFeatures` setting?

[2019-09-25 06:37] akhilravuri1 commented on #2764
@ramya-rao-a if the files are independent(even though the opened in a folder) then it saves it the correct way.

But if the multiple files belong to a single package then It is not saving it.

Thanks,
Akhil

[2019-09-25 06:38] harmnot commented on #2781
to my setting on` Preferences: Open Settings (JSON) ` ? or .vscode/setting.JSON

because I have 2 setting.json ?

[2019-09-25 06:43] harmnot commented on #2781
I did both but doesn't work, autocomplete not showing
 here for  setting.json / user
[code]

and here for .vscode/setting.json
[code]

[2019-09-25 07:52] henrahmagix commented on #2699
@harmnot Yes, although slowly because I'm running go with modules turned on, i.e. outside of GOPATH, and I'm _not_ using gopls (Go language server) because it's still experimental support in vscode-go.

[2019-09-25 08:50] angelo-moreira commented on #2770
Don't think it is related because my GO Path is `/usr/bin/go` in Ubuntu 18.04 and I also get the same error message

[2019-09-25 09:04] quantonganh commented on #2760
I typed it directly.

[2019-09-25 13:00] tevariou opened #2788 "SQL highlighting in multiline strings"
A proposal to support SQL highlighting in strings as in this Python extension https://marketplace.visualstudio.com/items?itemName=ptweir.python-string-sql

[2019-09-25 13:07] a-h commented on #2526
I can reproduce this issue on my Mac. It makes Live Share sessions break down as my computer ends up running lots of Go processes which are using up the CPU.

I end up using `killall go` to stop the rogue processes. This bug also stops tests from running and therefore also stops code coverage from working.

[2019-09-25 13:52] a-h commented on #2526
I see:

[code]

Then, when I look at which files are open:

[code]

[2019-09-25 16:54] ramya-rao-a commented on #2770
Thanks all!

Can you confirm one more thing for me please?
- Use the [beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension
- Turn off the language server if you are using it by setting `go.useLanguageServer` to `false`. Enable the `go.buildOnSave` and `go.vetOnSave` settings. If prompted to reload, then reload the VS Code wind

[2019-09-25 17:34] stamblerre commented on #2446
I had hoped that there would be some way for the client to either accept or reject the registration from the language server, but it seems like that's not the case. It seems pretty counter-intuitive to me that the language server should have to be passed settings for which features to register, since to my mind, that's what server and client capabilities are for.

This basically means that, if we

[2019-09-25 17:39] stamblerre commented on #2764
@akhilravuri1: The output of the `gopls format` command definitely seems incorrect. It looks like it swapped the `package main` with the `if err != nil`. What were the file original file contents? We are in the process of switching the diff library that `gopls` uses, so it's entirely possible that this issue will be fixed when that change is made.

Are you using modules or `$GOPATH`?

[2019-09-25 17:41] stamblerre commented on #2764
Also, what is the output of `gopls -v -rpc.trace format -d path/to/file.go`?

[2019-09-25 18:06] mickyco94 commented on #2786
Yeah so I originally had the same thought, removing gopkgs from `~/go/bin` results in
[code]
So I don't think there are any other versions lingering in my PATH variable. Running from integrated terminal in vscode gives me no output. Which makes sense since my integrated terminal is bash.

[2019-09-25 18:22] stamblerre commented on #2781
You can check if the language server is running by going to View -> Output and then click on the Tasks dropdown. Is `gopls` in the list of tasks?

[2019-09-26 07:41] kstenerud opened #2792 "Nothing works"
Steps to Reproduce:

1. Install Visual Studio (Ubuntu 18.04)
2. Open the extensions and install the go extension
3. Install/update tools as per https://github.com/Microsoft/vscode-go/wiki/Go-with-VS-Code-FAQ-and-Troubleshooting
4. Open a go project directory

When I do this, none of the functions works. I can't see syntax errors. Intellisense doesn't work. Code completion doesn't work. Go to defin

[2019-09-26 10:25] roflomglol commented on #2792
I'm not sure if I have related issue because at least something works for me(linters work only in _test files maybe because output is different), but I had to restore my VSCode setup from backup and it worked as before until I received an update of Go extention.

Formatting works for me, as do Go to definitions, but build on save workspace doesn't notice any syntax errors. Not in current package n

[2019-09-26 10:27] srinathh opened #2793 "Feature Request: add option for Outline view to show package symbol tree rather than just for active editor"
Currently, the outline view shows the symbol tree only in the active editor. Go's natural paradigm of development is however packages rather than files & in a package, it doesn't matter which file a particular function or struct is put in. When working on a  large package having the Outline view show the natural package (or package main) symbol tree will make it easier to jump between functions ra

[2019-09-26 11:15] akhilravuri1 commented on #2764
I am using $GOPATH

output is
[code]

[2019-09-26 11:19] harmnot commented on #2781
no output doesn't show off there , it was nothing
 are my settings above I show u correct ?

[2019-09-26 11:54] maximecharron commented on #2792
Seems to be a duplicate of #2765. A fix has been submitted in master and you can install the beta version of the driver.

[2019-09-26 12:35] hecsalazar commented on #2505
Same problem: when I start debugger it just shows the message:
API server listening at: 127.0.0.1:48931

[2019-09-26 15:25] stamblerre commented on #2764
Looks like you have Windows line endings, which may cause some problems for `gopls`. Can you try adding `"files.eol": "\n"` to your VSCode settings? More information on recommended VSCode settings can be found [here](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md).

[2019-09-26 15:28] stamblerre commented on #2781
They do look correct. Make sure to reload the VSCode window when you change settings related to the language server. Can you check that `gopls` is installed (it should be in`$GOPATH/bin`)?

[2019-09-26 15:47] hecsalazar commented on #2505
Added verbose tracing in .vscode/launch.json configuration by setting _showLog_ and _trace_ properties:

[code]

Log on launch:
[code]

At this point nothing else happens.

When I stop the debugger this is added to the previous log:
`
From client: disconnect({"restart":false})
DisconnectRequest
HaltRequest
`

[2019-09-26 16:08] srinathh commented on #2770
Ran into this problem today and using the beta version fixed it. I also ran the steps above & can confirm it works as expected

[2019-09-26 16:29] ransombriggs commented on #2770
@ramya-rao-a I do not get the red squiggly after following the instructions

[2019-09-26 20:12] lemorian commented on #2787
I have been having the same issue as well, did downgrading the plugin to a older version help?
I didn't help me.

[2019-09-26 21:11] ramya-rao-a commented on #1904
Hey @cscetbon

There have been quite some improvements in the last year in the debugging area, can you let us know if you still have the slowness problem? If yes, can you share a small sample code where you see this problem, so that we can attempt to replicate this?

[2019-09-26 21:12] ramya-rao-a commented on #2512
Can you elaborate on how are you checking the variables?
Are you referring to the variables pane, the watch pane or the debug console?

[2019-09-26 21:39] dfarley1 opened #2796 "Cannot install tools"
I'm running VSCode into a docker container using the Remote-Containers extension and I've installed the Go extension in the container.  I have a workspace folder defined at `/depot` with the following settings:
[code]

When I open a  Go file I get a notification with `The "go-outline" command is not available. Run "go get -v github.com/ramya-rao-a/go-outline" to install`.  When I click Install I g

[2019-09-26 22:31] harmnot commented on #2781
yes it already on $GOPATH/bin but still does not work

[2019-09-26 23:11] tomjowitt commented on #2770
@ramya-rao-a I do not get the red squiggly either and the editor reports no problems even when the code is broken.

[2019-09-27 01:17] freekot commented on #2787
I tried downgrading, reinstalled VS Code, reinstalled Go. Downgraded. Reinstalled. Changed settings on formatting. Turned off language server. turn it on. Did something else in random order. Today it seems to behave well. Yesterday I left completely unable to save any new modifications to my code.
One other symptom ...
On Save the new lines that I create just disappear. The same number of lines at

[2019-09-27 01:52] #2756 closed

[2019-09-27 02:52] #2437 closed

[2019-09-27 07:03] akhilravuri1 commented on #2764
I added this setting but even now I am facing the issue.

[2019-09-27 07:26] nbaztec opened #2797 "No autocomplete for localpackages - gopls, go modules"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-09-27 11:56] Arghyadeb commented on #2770
Can anyone confirm if installing go from Snap is causing it or not?
I installed Go from snap a couple of days ago and ran into the same problem

`$ which go`
`/snap/bin/go`

`$ go version`
`go version go1.12.10 linux/amd64`

[2019-09-27 12:50] harmnot commented on #2781
any idea?

[2019-09-27 14:40] DavidLangworthy commented on #2783
This was caused by using --ldflags "-s" in the build args.  I am running someone else's code and was told to include this directive.  The program does not compile without several others.  From searching around on delve and running the program outside vscode, I've learned what this flag does and why it would cause debugging to fail.  The issue with vscode is that everything looks fine.  Breakpoints

[2019-09-27 14:43] stamblerre commented on #2764
On the bottom right hand corner of VSCode in the blue bar, does it say `LF` or `CRLF`? It may not have correctly changed your line endings for the file.

[2019-09-27 14:48] stamblerre commented on #2797
`gopls` does not yet support autocompletion for unimported third-party packages. You can track updates to this issue in https://github.com/golang/go/issues/31906.

[2019-09-27 14:51] stamblerre commented on #2781
It may be related to your having multiple `settings.json` files. Can you try only using the one under `User` and see if that has any effect?

[2019-09-27 15:29] SteelPhase commented on #2512
I was seeing this behavior in the variables pane. Not sure about the OP.

[2019-09-27 22:16] ramya-rao-a commented on #2770
@ransombriggs, @tomjowitt If your `go.buildOnSave` setting is not disabled and you are not seeing any errors being reported for code where you introduced errors, then the issue indeed is that the extension fails to find the path to the go binary...

[2019-09-27 22:18] ramya-rao-a commented on #2770
Another way to check if the extension is able to find the Go tool or not is to run the `Go: Browse Packages` and see if you get an error notification. Can people on this thread try this command?

[2019-09-27 22:55] ramya-rao-a commented on #2766
The latest update (0.11.7) has the fix for this issue.
Thanks for reporting and Happy Coding!

[2019-09-27 22:55] #2766 closed

[2019-09-27 22:55] ramya-rao-a commented on #2765
The latest update (0.11.7) has the fix for this issue.
Thanks for reporting and Happy Coding!

[2019-09-27 22:55] #2765 closed

[2019-09-27 23:01] ramya-rao-a commented on #2770
The latest update (0.11.7) has the fix for this issue of `TypeError` showing up.
Those of you who did see this issue, I'd appreciate it if you can continue working with us to figure out why is it that the extension fails to find the Go binary in your cases.

- Please run the command `Go: Browse Packages` and report back if this throws an error
- Please check your console by running the `Developer:

[2019-09-27 23:03] ramya-rao-a commented on #2119
This has been fixed in the latest update to the Go extension (0.11.7)
Thanks @quoctruong for the fix & thanks @FrankSzendzielarz for logging the issue.

Happy Coding!

[2019-09-27 23:03] #2119 closed

[2019-09-27 23:05] ramya-rao-a commented on #763
Fixed with #2762
The fix is now available in the latest version of the update (0.11.7)

[2019-09-27 23:05] #763 closed

[2019-09-28 00:25] cwgabel commented on #2764
"files.eol": "\n", worked for me. Thanks for the help Rebecca.  Good luck Akhil.

[2019-09-28 10:21] bingoIsCoder commented on #2505
same issue. is there any update?

[2019-09-29 00:34] mattouille commented on #2558
`$GOPATH/bin` will not go anywhere because when you use modules to install a package with the name of main (like gopls) it builds the binary there. I haven't seen any suggestions to change that.

[2019-09-29 08:35] movsb opened #2798 "[quick info] HTML entities are decoded"
Sample code:

[code]

Now hover over `UnescapeString`:

What it shows (wrapped):

Notice this string `like "<" to become "<"`.

[code]

Comment for EscapeString:

[code]

HTML entities like `&lt;` `&aacute;` shouldn't be decoded.

[2019-09-29 14:40] steve-offutt commented on #2505
I am also experiencing this same behavior. VSCode hangs indefinitely when debugging via WSL Remote Connection.

[2019-09-29 17:45] ramya-rao-a commented on #2788
Hey @tevariou, thanks for reporting!

I do see the merits of this feature, although I am afraid I don't believe this extension is the right place for it.

As VS Code and this extension has gained popularity, we have seen a gradual scope creep over the past year. Being a sole maintainer of this project, it is getting a little hard to support all incoming requests and maintaining the ever growing se

[2019-09-29 17:45] #2788 closed

[2019-09-29 21:27] slehan commented on #2796
I'm having the same issue using the WSL remote instead.

[2019-09-29 22:32] jdratlif commented on #2796
I am having the same issue locally.

[2019-09-30 00:47] tomjowitt commented on #2770
Thanks for the update @ramya-rao-a.

On version 0.11.7:

`Go: Browse Packages` works and does not throw any errors.

`Developer: Toggle Developer Tools` throws the following error but does not contain a path. Anything after the colon is blank.

[code]

[2019-09-30 05:31] howbazaar commented on #2770
I did have this problem, and after restarting Code it has now gone away.

This got me thinking about what changed underneath.

snap info go showed me that it had refreshed four days ago, so perhaps the remembered Go that Code has referenced internally was moved underneath it.

This could probably be tested by changing the go snap to use a different release, like `snap refresh go --channel 1.11`, a

[2019-09-30 12:00] nezorflame opened #2800 "'Add import' action fails in module mode with "-mod=vendor" flag"
### Description
While using Go modules in vendor mode (`GOFLAGS="-mod=vendor"`) in a project with some indirect dependencies, action `Go: Add imports` fails to execute with error:
[code]

### `go env` output
[code]

### Steps to reproduce
Let's assume that we have a project `/my/home/Go/src/my-service` with a dependency in `go.mod`:
[code]

`go mod tidy` and `go mod vendor` were run successfully,

[2019-09-30 12:02] nezorflame commented on #2800
Guess I'll also ping @uudashr since he's the author of `gopkgs` which is being used by `vscode-go`.

[2019-09-30 12:40] nezorflame commented on #2800
From what I can see, this happens:
1. `gopkgs` runs `go list -mod=vendor -m -f={{.Path}}\;{{.Dir}}` (notice that `-mod=vendor` is not in the code, but since we have `GOFLAGS="-mod=vendor" ` it'll be acting if it was): https://github.com/uudashr/gopkgs/blob/master/gopkgs.go#L366
2. The output shows ALL of the packages, including the indirect ones
3. Walking through the list of packages in the loop

[2019-09-30 14:15] jrieken commented on #2739
No, as soon as the user starts typing (e.g `a` in this case) VS Code's ranking kicks in (before that we use the provider ranking) We do that to provide a consistent feeling across all languages. In this specific case `a` wins over `a.i` because it's a perfect (full) match. This is the issue to disable sorting on our side: https://github.com/microsoft/vscode/issues/64367

[2019-09-30 14:46] Vstural commented on #2800
same issue but without -mod=vendor
[code]
reload vscode and try to run `Go: Add import`,got a warning
[code]

[2019-09-30 14:48] nezorflame commented on #2800
@Vstural if you press ` Toogle Developer Tools` in VSCode's Help section and check Console, what error does it show for you on that action?

[2019-09-30 15:02] Vstural commented on #2800
@nezorflame
here is result after try to `Go: Add import`
[code]
and run gopkgs in bash
[code]
in powershell
[code]

[2019-09-30 16:20] nezorflame commented on #2800
@Vstural did you also set up vendor by `go mod vendor`? Or do you face it on a plain module project?

[2019-09-30 16:43] Vstural commented on #2800
@nezorflame
this is files tree, wondering is there a different between a module project or a standard project to gopkgs?
[code]

[2019-09-30 19:51] Nokel81 opened #2801 "Type Hover ignores package prefixes"
Given the following structure:

In `foo/bar.go`
[code]
In `goo/bar.go`
[code]
In `main.go`:
[code]

If you were to hover over the definition of `iceCream` then the signature would read `iceCream func(a BAR, b BAR) bool` which is is sort of correct, but doesn't help much.

This is even less helpful when working with multiple packages that all use the same names (since idiomatic go recommends to use

[2019-09-30 21:43] ransombriggs commented on #2770
@Arghyadeb @ramya-rao-a I was able to fix this by uninstalling snap and following [these instructions instead](https://golang.org/doc/install#tarball)

[2019-10-01 05:36] akhilravuri1 commented on #2764
@stamblerre  sorry for the late reply.
It is CRLF but I changed it to LF also but it doesn't work for me.

[2019-10-01 06:09] ramya-rao-a commented on #2792
#2765 has been fixed in the latest update to the Go extension (0.11.7)
Please retry and let us know if you still have issues

[2019-10-01 06:09] #2792 closed

[2019-10-01 06:09] #2797 closed

[2019-10-01 06:09] ramya-rao-a commented on #2797
Closing in favor of the upstream issue in gopls

[2019-10-01 06:14] ramya-rao-a commented on #2800
Hey @nezorflame

Thats some great investigations!
Since I am in no way an expert in how packages should be dealt with in module or vendor mode, I would defer to @stamblerre here on what the next steps should be.

@stamblerre Can you provide your thoughts on the scenario here or the issue https://github.com/uudashr/gopkgs/issues/15?

@Vstural Your case looks very different to me where `gopkgs` fail

[2019-10-01 06:16] ramya-rao-a commented on #2801
Can you share your Go related settings so that I can know which tool is being used for this feature in your case? You can get this information by running the command `Preferences: Open Settings (JSON)`.

Few alternatives you can try are:
- If you are not using the language server, try changing your setting `go.docsTool` to `gogetdoc`.
- Or use the language server, by adding the setting `go.useLang

[2019-10-01 06:20] ramya-rao-a commented on #2796
@dfarley1 Can you try adding the path where you are installing the tools (including the `/bin`) to your PATH env variable in the remote place?
With this the extension should definitely be able to find the tools.

[2019-10-01 09:35] nezorflame commented on #2800
I should also mention that even though my fix works, when you add new import and some func from it, if you use action `Go to Definition` on that func `gopls` redirects you to the system module instead of the `vendor` one.
But I guess that may be another issue.

[2019-10-01 13:09] Nokel81 commented on #2801
<details><summary>Config</summary>
<p>

#### Just the `go.` fields

[code]

</p>
</details>

[2019-10-01 18:48] dfarley1 commented on #2796
@ramya-rao-a I just tried with the following settings but there's no difference, it still can't find any tools and the installation fails.  It's also still trying to install them in the wrong location.
[code]

[2019-10-01 18:52] dfarley1 commented on #2796
I just tried with the following settings and it still claims the tools couldn't be found.
[code]

[2019-10-01 23:08] ermissa commented on #2687
I am facing same issue with @maxannear. Because of the gomodule incompatibility of other tools I switched to `gopls` but it is causing high CPU. It's even hard to type most of times. My go settings,

{
    "go.formatTool": "goimports",
    "go.useLanguageServer": true
}

[2019-10-02 09:37] Luummii commented on #464
It does its job quite well for files with the extension .tmp
https://marketplace.visualstudio.com/items?itemName=ronnidc.nunjucks

[2019-10-02 12:18] nezorflame commented on #2800
@stamblerre @ramya-rao-a @uudashr the more I look into this, the more confused I get.

Let's take some test project, e.g. `github.com/nezorflame/test`.
Assume it has one external dependency `github.com/pkg/errors `:
<img width="1050" alt="image" src="https://user-images.githubusercontent.com/3906766/66042831-3b6c9300-e526-11e9-9e78-9f559bb6a9ed.png">

Now we download some package to be used in our

[2019-10-02 13:15] dewey opened #2804 "Extension update not showing up (0.11.4)"
I'm using VSCode Version 1.26.1 (1.26.1) on macOS 10.14.6.

I just noticed that updating my Go tooling via `Go: Install / Update tools` actually downgraded my gopls installation to 0.1.6. I previously installed it via `go get golang.org/x/tools/gopls@latest` which pulls in 0.1.7.

I thought that maybe the extension is using an old version, which lead me to https://github.com/microsoft/vscode-go/pu

[2019-10-02 13:15] nezorflame commented on #2800
From what I've been told over Gophers Slack, using `go list` with both `-mod=vendor` and `-m`  flags is kinda broken, "because it doesn't have enough information to produce the same output as `go list -m`".
I guess that in case of detecting `GOFLAGS='-mod=vendor'` `gopkgs` still needs to alter the call to `go list` then.

[2019-10-02 13:31] dewey commented on #2804
It turns out that my VSCode version was very outdated, but for some reason it always told me that there are no updates available? In any case, after I updated the extension updated too. I guess it's more like a VSCode bug.

![Screen Shot 2019-10-02 at 15 28 38](https://user-images.githubusercontent.com/790262/66048336-a4a1d580-e529-11e9-9a13-972c3d263a81.png)

[2019-10-02 13:31] #2804 closed

[2019-10-02 14:48] tonybounty commented on #2499
since 1 week maybe less (since update ?), breakpoint doesn't work

1. create dir
2. open in vscode
3. create main.go with
[code]
4. F5, ouput:
[code]
5. I checked the path (copy/path), file is found.

**This happen on my two computers (laptop and desktop)**, all running on Ubuntu 19.04

desktop (vscode installed from apt repo) :
[code]
laptop (vscode installed from snap):
[code]

[2019-10-02 15:12] ramya-rao-a opened #2805 "gogetdoc test for signature help failing consistently for Go 1.12"
The test case `Test SignatureHelp Provider using gogetdoc` is consistently failing with the below for Go version 1.12. The test runs fine for previous 2 versions of Go.

[code]

This could be a problem with `gogetdoc` itself, therefore needs investigation and a potential issue logged in the gogetdoc repo.

An improvement for the test itself could be a better error message than [object Object] :)

[2019-10-02 15:19] ramya-rao-a opened #2806 "Tests using go doc fail on Go tip due to difference in new lines"
The below tests are failing when used on Go tip due to new line differences in the actual and expected output.
- Test SignatureHelp Provider using godoc
- Test Hover Provider using godoc
- Test Hover Provider using gogetdoc

These tests on previous versions of Go run fine.
One way to make the tests more resilient is to trim the text being compared, so that the starting and ending newlines or space

[2019-10-02 15:22] ramya-rao-a commented on #2801
So, looks like you are using the default Go tools and not the language server. Please try the below
- Add the setting `go.docsTool` setting to `gogetdoc`
- If you dont get prompted to install `gogetdoc`, then run the command `Go: Install/Update Tools`, select `gogetdoc`, press ok.
- Reload VS Code window after installation of gogetdoc is complete and try again

[2019-10-02 15:24] nezorflame commented on #2800
To sum it up, I think that `gopkgs` should have the following behaviour:
- we check if `GOFLAGS` contains `-mod=vendor`, if not - continue as before
- if it does contain it, we:
1. Make a second call to the `go list` with explicit empty flag `-mod=`.
This is required since the first call has given us vendor paths instead of the module paths, and since `go mod vendor` ignores some indirect dependen

[2019-10-02 15:25] ramya-rao-a commented on #2800
This makes me wonder if we should disable the feature `Go: Add Import` feature altogether when in module mode until `gopkgs` can fully support modules

[2019-10-02 15:29] nezorflame commented on #2800
@ramya-rao-a `gopkgs` itself supports modules, the problem exists only when we enter the `-mod=vendor` territory which kinda quirky even for `go list`.

[2019-10-02 15:32] tonybounty commented on #2499
I resolve my issue with [https://github.com/go-delve/delve/issues/608](url), don't symlink any dir/file in your path.

[2019-10-02 15:33] nezorflame commented on #2800
In any case, if everyone agrees to https://github.com/microsoft/vscode-go/issues/2800#issuecomment-537545400, I've already changed the PR to reflect this behaviour: https://github.com/uudashr/gopkgs/pull/16

[2019-10-02 16:25] Nokel81 commented on #2801
I have added that setting, and after it was installed I force reloaded vscode. However, the same outcome still happens.

[2019-10-02 17:53] jorng opened #2807 "Error on CreateBreakpoint: could not find file (macOS) when using trimpath in GOFLAGS"
Unable to set any breakpoints in any files.

Using go1.13.1, modules on. Even with basic “Hello world”. No matter what, I see the error in the title, followed by a full path to my main.go.

[2019-10-02 19:53] antonmashko commented on #2437
Hi @ramya-rao-a,
I've updated golang plugin to version 0.11.7 and turned on useLanguageServer.
Now everything is fine. Thanks

[2019-10-02 21:50] jorng commented on #2807
For example, given the project:

[code]

#### `main.go`
[code]

#### `go.mod`
[code]

#### `launch.json`
[code]

----

I set a breakpoint on `main.go:6`, and when attempting to debug, it does not break, and I receive the following output on the debug console:

[code]

[2019-10-03 03:26] dapiedra opened #2808 "Go to definition not working when using build tags with gopls"
Hi.

Seems that VS go extension, go to definition function is not working when using build tags.

I have created an example here https://github.com/dapiedra/vs-go-example.git

VS-code version: 1.38.1

Go extension version: 0.11.7

Go env: vscode@d17eeba12b2e:/workspaces/go-example$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/vscode/.cache/go-build"
GOENV="/home/vscode/.config/go/e

[2019-10-03 04:15] huiyifyj opened #2809 "The line is added to go.mod when saving file"
Everytime I type `crtl+s` to save `*.go` file, `go 1.13` is added to the end of `go.mod` file.
So I have to waste time removing the line before I commit changes by git.
How can I do to avoid it ?
Or, is it set as the unchangeable default behavior ?

[2019-10-03 17:51] yulrizka commented on #2809
I believe this is go mod that added this line. if you run `go mod tidy` for example, it will also add this line

[2019-10-03 21:52] #1904 closed

[2019-10-03 22:12] stamblerre commented on #2687
@ermissa: Do you mind filing a separate issue on the [Go issue tracker](https://github.com/golang/go/issues/new)? Please include the information found in the [troubleshooting guide](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md).

[2019-10-03 22:18] stamblerre commented on #2809
@yulrizka is correct - this is an expected behavior of the `go` command. The VSCode extension calls the `go` command, which is why this modification is happening.

[2019-10-03 22:21] stamblerre commented on #2808
This is a known issue for the language server (https://github.com/golang/go/issues/29202), though there is a work-around, which is to configure the [`buildFlags`](https://github.com/golang/tools/blob/master/gopls/doc/settings.md#buildflags-array-of-strings) configuration of the language server.

[2019-10-03 22:31] stamblerre commented on #2776
I think the combination of the two current proposals will be sufficient to make sure that the user has enough control over the auto-updating behavior. The `go` command will make requests to `GOPROXY` when VSCode runs `go get` to install packages, so this will behave in a similar fashion. The setting adds another level of protection, so if a user doesn't want the auto-updating behavior, it can be t

[2019-10-03 22:33] stamblerre commented on #2798
@movsb: Can you share your VSCode settings? Are you using the language server?

[2019-10-03 22:36] stamblerre commented on #2787
Can you share your VSCode settings? Are you using the language server?

[2019-10-03 22:56] ramya-rao-a commented on #2558
Bug seems to be related to a tool.
Bug is fixed.
Extension is updated with this tool working version tag/commit.

@karim It was a very intentional move to not update any tools on behalf of the user automatically. It is a sensitive topic for quite a few people as to what gets installed on their machine.

We have the `Go: Install/Update Tools` command which one can use to update the tools they want

[2019-10-03 22:56] #2558 closed

[2019-10-04 06:05] ramya-rao-a commented on #2809
Closing this issue as this is expected behavior from how the Go command behaves when in module mode

[2019-10-04 06:05] #2809 closed

[2019-10-04 06:07] ramya-rao-a commented on #2808
@dapiedra Can you share the Go related settings you might have added/edited so that we can determine if you are using the language server or not? You can get them by running the command `Preferences: Open Settings(JSON)`

[2019-10-04 06:07] ramya-rao-a commented on #2807
Are you using symlinks?

[2019-10-04 06:09] ramya-rao-a commented on #2787
Please share the Go related settings you might have added/edited so that we can determine if you are using the language server or not. You can get them by running the command Preferences: Open Settings(JSON)

[2019-10-04 06:11] jorng commented on #2807
No. It happens even with brand new projects.

[2019-10-04 07:09] rzauls commented on #2787
I'm having the same issue, adding code and saving, causes the new code to disappear, also some weird artifacts appear at the end of the line. The language server is enabled.

About VS Code:
[code]
settings json (only the relevant/semi-relevant)
[code]

[2019-10-04 07:25] digdiver commented on #2787
The problem is same: "On Save the new lines that I create just disappear. The same number of lines at the bottom of the file get duplicated."
[code]
settings json
[code]

Extensions:
[code]

[code]

[2019-10-04 09:38] pot-code commented on #2796
same here

[2019-10-04 17:06] movsb commented on #2798
Almost the default settings:

[code]

Think it's very easy to reproduce.

[2019-10-04 20:12] eduardpaul commented on #2505
Hello everyone! Same issue here in wsl1 ubuntu 18 :(  We tried @OhYee native debugger approach but the result was a very poor debugging experience: lag, interruptions, no information about struct contents...

By now I will be using containers where debugging is working great and building a go dev container was a very simple task:

- https://code.visualstudio.com/docs/remote/containers
- https://gi

[2019-10-05 08:59] karim commented on #2558
Fair enough. Looking back at this again I think you are right. :+1:

[2019-10-05 17:58] drpaneas opened #2810 "unexpected config watchChangedFiles"
I applied the configuration found at: https://github.com/golang/tools/blob/master/gopls/doc/vscode.md

So my `settings.json` looks like this:

[code]

#### Current Behavior
Then when I work on any `*.go` file I get this pop-up:

[code]

#### Expected Behavior
To not display any warning notifications

[2019-10-05 19:44] sbstp opened #2811 "Cannot install go tools"
Steps to Reproduce:

1. Run the Go: Install/Update tools command

Installation fails. If I run the `go get` commands in my terminal they complete successfully, so I'm not sure what vscode does differently when calling these commands.

Output:
[code]

`go env` output:
[code]

`go version` output:
[code]

[2019-10-05 22:47] stamblerre commented on #2811
VSCode installs tools in module mode for Go versions >= 1.11, and it's possible that something is going wrong there with 1.11. I imagine that if you upgrade to 1.13, it will work as expected. Is there a reason you are still using Go 1.11?

[2019-10-05 22:50] stamblerre commented on #2810
Looks like the documentation has an error there - thanks for notifying us, we will update it. The correct configuration is "watchFileChanges".

[2019-10-05 22:51] sbstp commented on #2811
I installed Go via my distribution's package manager, `apt` in Debian 10. It's just easier for me to install it that away.

My project is inside the `GOPATH`, it's probably why the installation fails in module mode. Shouldn't the "VSCode install tools" command check if I'm using a `GOPATH`?

[2019-10-05 22:57] sbstp commented on #2811
I'll try installing Go 1.13 from the website, I'll report on if that fixes the problem.

[2019-10-05 23:06] sbstp commented on #2811
It works with a manually installed Go 1.13. The "install tools" command was able to install everything properly. I would still like to use my package manager's version of Go however, if it's possible to add a case for Go 1.11 in the extension.

[2019-10-05 23:37] stamblerre commented on #2811
All tools are installed in module mode, in order to make sure users are able to get the correct versions (rather than just downloading master). I opened a PR to fix support for Go 1.11 (https://github.com/microsoft/vscode-go/pull/2812). Still, that version of Go is over a year old, so it's definitely recommended to use the more recent versions.

[2019-10-05 23:53] sbstp commented on #2811
Thanks a lot! I prefer all of my software to be installed by my package manager so that I don't need to manually update anything, but I do have to deal with outdated versions.

At work I have Go 1.10 (from Ubuntu 18.04) and I did not have any issues installing the tools.

Anyway on the Debian 10 box, I tried moving back to Go 1.11 and setting `GO111MODULE=on` and it seems to install everything wel

[2019-10-06 13:45] dapiedra commented on #2808
Looks like if I use this, it works:
{
    "go.buildFlags": [
        "foo"
    ],
    "go.useLanguageServer": true,
    "go.toolsEnvVars": {
        "GOFLAGS": "-tags=foo"
    },
}

It also works this way:
{
    "go.buildFlags": [
        "foo"
    ],
    //"go.useLanguageServer": true,
    "go.toolsEnvVars": {
        "GOFLAGS": "-tags=foo"
    },
}

Thanks!

[2019-10-06 19:39] #2779 closed

[2019-10-06 23:37] drpaneas commented on #2810
Hey, many thanks for the fast reply :) The least I could do in return is to update the docs for you. https://github.com/golang/tools/pull/169

[2019-10-06 23:56] cameron-elliott opened #2813 "Delve shows difference between nil and zero-len/zero-cap slice, Go-extension does not"
Even though delve is showing the difference between nil slices, and zero-len/zero-cap slices, the VSCode interface to the debugger is not doing so, and I appear to have the recent 0.11.7 release.
I also only have a single dlv.exe on my system of ver 1.2.0

 Delve showning nil vs zero-len/zero-cap slice
![image](https://user-images.githubusercontent.com/868689/66277933-77229800-e859-11e9-80b2-7cc21

[2019-10-07 16:35] orn688 opened #2815 "gopls causes disconnects in remote workspace"
The remote VS Code extension has been (seemingly) randomly disconnecting with the message "Cannot reconnect. Please reload the window." This happens roughly once every one to two hours, sometimes when the VS Code window is out of focus and sometimes when I'm working in it. This does not happen in other workspaces in which I don't use the Go extension as heavily.

Here is the window log (I wasn't a

[2019-10-07 16:51] stamblerre commented on #2815
Do you see this behavior when you don't use `gopls`?

[2019-10-07 16:53] stamblerre commented on #2815
Also, can you add `"go.languageServerFlags": ["-rpc.trace"]` to your VSCode settings. That will result in more detailed logs.

[2019-10-07 16:58] AaronReboot opened #2816 "Syntax highlighting fails to colorize chan of chans"
Example, note the `<-chan <-chan` on line 73

![image](https://user-images.githubusercontent.com/14034112/66335783-b7d9ea00-e909-11e9-86b2-88f8a49df870.png)

Expected to see both occurrences of `<-chan` to have the same colorization

[2019-10-07 17:01] orn688 commented on #2815
Sure, I'll do that. I'll haven't tried disabling gopls yet, so I'll do that after and see if it helps.

[2019-10-07 17:06] stamblerre commented on #2810
Thanks for the contribution, @drpaneas!

[2019-10-07 18:24] orn688 commented on #2815
Here's the log with rpc traces enabled! Hope it helps:
https://gist.github.com/orn688/fd8e4d2e3f8774afe96c3ddd31686739

[2019-10-07 19:39] jorng commented on #2807
If I try to run the command via `dlv` directly it's the same issue:

[code]

But if I use a relative file path from the root of the project, it works perfectly:
[code]

Should it really be using full paths?

[2019-10-07 19:56] jorng commented on #2807
OK, so I figured out what is going wrong here: I have `GOFLAGS="-trimpath"` set in my `go env`.

I wouldn't have thought that would make a difference, but since VSCode is using the full (absolute) path to files, that is where the issue lies. The binary does not have a full filepath, only relative paths from the root of the project.  (That might also explain why it won't work with symlinks)

So is

[2019-10-07 19:56] wtask opened #2819 "Syntax highlighting does not support new %w specifier for wrapped errors"
New Go format specifier %w, introduced with Go 1.13 to support error wrapping is not supported by syntax highlighter

[2019-10-07 21:06] orn688 commented on #2815
I disabled `"go.useLanguageServer"` and it still happens... So maybe not a gopls issue after all?

[2019-10-07 23:32] orn688 commented on #2815
Pretty sure this is unrelated to gopls after all – the issue seems to be that the file watcher can't handle an excessive number of files in the workspace. I deleted a bunch of old cached files in the root of my workspace and now things seem to be working fine.

Thanks for the help!

[2019-10-07 23:32] #2815 closed

[2019-10-08 05:39] dhowden commented on #2819
I've been wanting to try and fix this for a while, but failed to find the relevant TextMate grammar file in this repo.  I think it's probably in the main release of VSCode, particularly as syntax highlighting is available before the extension is installed.

[2019-10-08 13:29] yaephin commented on #2192
@b00f May I ask how to  build dll with debug info,like what flags ? I'm new to rust-lang.Thanks.

[2019-10-08 17:05] jpvillaseca commented on #2787
It also happened to me, the only solution is to restart vscode.
It happened with and without the language server. This is my current config
`	"go.inferGopath": true,
	"go.useLanguageServer": true,
	"go.formatTool": "gofmt",
	"go.languageServerExperimentalFeatures": {
		"format": false,
		"autoComplete": true,
		"rename": true,
		"goToDefinition": true,
		"hover": true,
		"signatureHelp": true,
		"

[2019-10-08 17:08] jpvillaseca opened #2820 "Code disappears on save"
Issue Type: <b>Bug</b>

When editingg with vscode-go, after a while any edit on a file gets dropped when saving, and it defaults back to normal or sometimes it repeats the last 2 lines of the code file. The only solution is to restart vscode. But the error appears many times during the day. It's similar to issue #2787 but it occurs even when not debugging.

Extension version: 0.11.7
VS Code versio

[2019-10-08 19:20] eedwards-sk commented on #2655
This is sorely needed.

Related:

- https://github.com/Microsoft/vscode-go/issues/2225

- https://github.com/Microsoft/vscode-go/issues/1385

- https://github.com/go-delve/delve/issues/119

[2019-10-08 21:32] tkivisik commented on #2615
@ramya-rao-a , would you be able to give this a look?

[2019-10-08 21:35] theryansmith opened #2821 "extension does not eager load when workspace contains .go files"
The extension does not load on activationEvent  ""workspaceContains:**/.go"

This means users loading a workspace containing go files need to open a .go file, or run specific go commands before they can build the workspace.

Steps to Reproduce:
1. close all vscode instances
2. open a workspace that has .go files, ensure that the default state does not focus on a .go code file
3. try to ctrl-shift-

[2019-10-08 22:02] sbstp commented on #2811
Thanks for the quick fix @stamblerre . I'll close this for now and if I still have issues on the new version of the extension I'll open a new issue.

[2019-10-08 22:02] #2811 closed

[2019-10-09 01:12] dhowden commented on #2819
Following up, the file is here: https://github.com/microsoft/vscode/blob/master/extensions/go/syntaxes/go.tmLanguage.json

Apparently it's copied from: https://github.com/atom/language-go/blob/master/grammars/go.cson  and changes should be made there, have make a pull request, so let's see what happens!

[2019-10-09 03:54] b00f commented on #2192
`cargo build` without `--release` flag I think it is work fine here.

[2019-10-09 14:04] pot-code opened #2822 "Generate test function from a test file results in error opening file"
Steps to Reproduce:

1. create a test file like `xxx_test.go`
2. move cursor to a function name(not a function prefixed with Test) and generate a test function, a error message then appears in the corner

What impressed me is that the desired test function is appended to file, without overwriting the current content.

Is there any way to remove the error message? Every time I generate a test funct

[2019-10-09 14:48] xaavito commented on #2820
Same Here, but it happenson every save, it goes back to original version of any file

Name: Go
Id: ms-vscode.go
Description: Rich Go language support for Visual Studio Code
Version: 0.11.7
Publisher: Microsoft
VS Marketplace Link: https://marketplace.visualstudio.com/items?itemName=ms-vscode.Go

Microsoft Windows 10
version 1809 (Build 17763.775)

[2019-10-09 15:37] inliquid opened #2823 "Search for implementations doesn't work"
1. go1.13
2. vscode-go 0.11.7
3. gopls@master

Peek implementations `Ctrl-Shift-F12` used. `Ctrl-F12` has same result. There are 2 implementations of given service, however `guru` returns immediately:
![изображение](https://user-images.githubusercontent.com/6797881/66496278-5f4e4c80-eac3-11e9-849b-9ecd74f851d7.png)

[2019-10-09 15:47] khowling commented on #2505
+me, same problem

[2019-10-10 02:14] yaephin commented on #2192
Thanks for your reply . It's true that `cargo build` without `--release` contains debug infos with `gdb` confirming . But I got the issue again , when I check it again , may be it's because of linking with slib(_.a_) . I'll try linking with dlib(_.so_) or have to debug with cmdline.

[2019-10-10 02:51] yaephin commented on #2192
@b00f It works when linking with dlib_(.so)_ , thanks.

[2019-10-10 04:11] lizhihua0925 commented on #2675
chmod 777 gopath done

[2019-10-10 04:11] #2675 closed

[2019-10-10 11:59] jpvillaseca commented on #2820
I tried it with or without setting any Go settings, but it happens just the same.
Using go1.13.1 windows/amd64

`	"go.inferGopath": true,
	"go.useLanguageServer": true,
	"go.formatTool": "gofmt",
	"go.languageServerExperimentalFeatures": {
		"format": false,
		"autoComplete": true,
		"rename": true,
		"goToDefinition": true,
		"hover": true,
		"signatureHelp": true,
		"goToTypeDefinition": true,

[2019-10-10 15:26] Tobi696 opened #2824 "Saving inserts parts of old code"
As shown in the video below, if I want to save the file, parts of the old code get inserted.
Go version: go1.13.1 windows/amd64
[Video](https://imgur.com/a/WicLcLJ)
Thanks for your help!

[2019-10-10 18:17] stamblerre commented on #2742
@benthal: What is the output of `gopls version`?

[2019-10-10 18:32] nodirg commented on #2742
mine says `version v0.1.6, built in $GOPATH mode`. I am using `go.toolsGopath` setting where gopls code is fetched.

what version should it be?

[2019-10-10 18:37] nodirg commented on #2742
I've just compiled https://github.com/golang/tools/tree/8abd42400456fce151cb3933ab7a177008cdad06/gopls with `go build`. Its `./gopls version` returns `version v0.1.6, built in $GOPATH mode`. This seems the latest version

[2019-10-10 18:40] stamblerre commented on #2742
`gopls` should be installed in module mode. If you are hoping to build at master (which is prone to breakages, etc.), you can install it by `cd`ing into the `gopls` directory and running `GO111MODULE=on go install`, then VSCode will stop complaining. However, our recommendation is that you installed a released version, so I would suggest running `GO111MODULE=on go get golang.org/x/tools/gopls@late

[2019-10-10 18:46] nodirg commented on #2742
thanks. this solved my problem

[2019-10-10 19:00] stamblerre commented on #2824
Can you share your VSCode settings? Are you using the language server?

[2019-10-10 21:17] stamblerre commented on #2820
Can everyone in this thread please share their settings? It will be helpful to understand if this is being caused by the language server, so please make sure to disable it.

[2019-10-11 00:45] dhowden commented on #2819
So looks like this isn't going to happen soon.  My pull request was closed because Atom are migrating to another syntax system.  The VSCode syntax is a fork of the Atom one, and they don't accept pull requests (turns out someone else had a crack at this already): https://github.com/microsoft/vscode/pull/81015

[2019-10-11 06:46] benthal commented on #2742
@stamblerre  thanks for your help.
my problem has solved by `GO111MODULE=on go install`.
I pulled `github.com/golang/tools` before this operation this day.
`goals version` has changed from 0.1.6 to 0.1.7

[2019-10-11 07:47] xujintao opened #2826 "step into and debug console reports: go list failed on"
### vscode version
[code]
### vscode-go version
[code]
### What did you do?
when step into a namespace.function here is block.Encrypt, debug console print:
[code]
### Steps to Reproduce:
[code]
![Screenshot from 2019-10-11 15-41-28](https://user-images.githubusercontent.com/5418373/66633607-c55edf00-ec3d-11e9-9b27-329d041a5c10.png)
### What did you expect to see?
step into successfully.

[2019-10-11 08:28] wtask commented on #2819
Will have to wait, thank you

[2019-10-11 13:31] yulrizka commented on #2702
I have the same issue when the go.mod is not on the root path of directory. Most of the command has PWD='[vscode root directory]'. Would it work if I can configure that to the root module directory?

[2019-10-11 14:08] noambonnie opened #2827 "Debugger Step/Continue not responding"
My environment stopped responding to Step/Continue in the debugger. The breakpoint breaks, but neither commands work and only remedy is to stop the process, effectively rendering the debugger useless.

The only changes I can think of that happened are:
1. Upgrade to vscode`1.39` (upgraded to `1.39.1` - problem persists).
2. Upgrade of Xcode to `11.1` (don't think it's related but pointing it out s

[2019-10-11 14:59] noambonnie commented on #2827
Attaching trace logs - no logs are generated when stepping/continuing.
[vscode-go-debug.txt](https://github.com/microsoft/vscode-go/files/3718220/vscode-go-debug.txt)

[2019-10-11 15:04] noambonnie commented on #2827
[code]

[2019-10-11 18:01] SteelPhase opened #2828 "Debug test feature doesn't work for modules in gopath"
Example is [here](https://github.com/SteelPhase/vscode-go-2828)

Running `Run Unit Test` while this module is outside of the gopath will result in the test debugging correctly.
Running `Run Unit Test` while this module is in the gopath will result in the test failing.

It appears that the execution of dlv test differs for modules outside of the gopath

- Module outside gopath `Running: /Users/stee

[2019-10-11 18:19] raushan2016 opened #2829 "go.testEnvVars doesn't resolve referencing other environment variable while running test"
I need to set a environment variable for the go test to use. This environment variable references default variable $USER.

### To Reproduce

[code]
**main_Test.go**

[code]

### Behaviour
When i use `run test` button on top of the test it results
`foo: ${env:USER}.io`

where as with `debug test` button the environment variable is fully resolved
`foo: foobar.io`

[2019-10-11 19:39] SteelPhase commented on #2828
From #modules on the Gophers slack, it appears that relying on the output of `go env GOMOD` returning the go.mod file for the current working directory could be a decent solution to this. It would also support all the settings of `GO111MODULE`.

[2019-10-12 17:41] jeffbean opened #2830 "go execution: execFile doesn't respect alternative absolute path"
# the issue
In having a unique go setup where in the IDE we set an absolute path for the Go binary. While this works for most cases like tests, it is failing to use this setting in the go modules system.

running on OSX 10.14.6 with go 1.12 and or 1.13

## Steps to Reproduce:
It's a bit convoluted but the idea is there is a go command in your path that is not the same as the alternateTools path in

[2019-10-12 21:12] xaavito commented on #2820
What Do you mean by settings? Windows? VC?

[2019-10-13 01:00] ramosisw commented on #2824
Same problem
https://recordit.co/tkQaDUembb

[2019-10-13 01:03] alshdavid commented on #2419
I'm using:
- Windows 10
- WSL1
- Windows Terminal
- Go Modules

And VSCode does not autocomplete for me on unimported packages.
However when I set `go.useLanguageServer` from `true` to `false` it works.

[2019-10-13 07:12] asfaltboy commented on #2720
That worked for me too! @oiar @stamblerre is this workaround documented somewhere? If it is not, I'd love to contribute by documenting it.

Note: it seems the most appropriate location for this to be mentioned is in [the "Go modules support in Visual Studio Code" wiki page][1]. However, it seems one cannot easily contribute to the wiki, as edits are closed to maintainers only... we may want to con

[2019-10-13 15:40] nezorflame commented on #2800
@uudashr and I agreed to use the `-mod=` flag directly while querying `go list` to avoid the problem, this seems to do the trick.
New PR: https://github.com/uudashr/gopkgs/pull/18

[2019-10-13 16:34] dastier commented on #2720
@oiar 's solution (setting 'GO111MODULE' in 'go.toolsEnvVars' resolves the issue. Why is this closed without updating the wiki?

[2019-10-13 17:16] Nox-404 commented on #1751
Hello there,
I'll need that too, please implement this :)

[2019-10-14 00:52] reiki33 opened #2831 "clicking "debug test" above "func Test..." says, "'${MODULES_USE_COMPAT_VERSION:-0}' cannot be resolved because command has no value""
Issue Type: <b>Bug</b>

Uninstalling both go and vsc, and reinstalling does not help. Debug on a test used to work, and I likely did something to confound vsc. "run test" will run the test. Internet search provided nothing that made sense to me.
Attempting to uninstall the go pluging refuses, saying the extension is needed for VSCode essentials.

Extension version: 0.11.7
VS Code version: Code 1.3

[2019-10-14 02:16] pradeepkusingh opened #2832 "VS Module support is really bad"
I am noticing too many issues with Module and VS
1- Fix preview not available for errors.. takes lot of time to appear.
2- Auto imports bad and taking hell lot of time compare to non module apps.
3- Error is appearing/mark very late.
4- Suggestion pop up is useless..example struct, I try to populate struct field and it doesn't appear unless I type more than 5 char.
5- I have gopls, go lang server

[2019-10-14 06:06] ramya-rao-a commented on #2829
The env variable resolution is done by VS Code in settings for the top level values. So, for example, if you had set your `go.gopath` setting to `${env:USER}`, that value would flow correctly.

But, I believe VS Code does not do the resolution if the value of the setting is anything more complex than a string which is what happens in the case of `go.testEnvVars` setting.

The `go.testEnvVars` is s

[2019-10-14 06:06] #2829 closed

[2019-10-14 06:23] #2810 closed

[2019-10-14 06:30] ramya-rao-a commented on #2813
Thanks for reporting @cameron-elliott

@derekparker, @aarzilli,
What field in the [Variable](https://godoc.org/github.com/go-delve/delve/service/api#Variable) can the debug client look at to determine the above difference?

[2019-10-14 06:32] ramya-rao-a commented on #2816
@AaronReboot The colors are controlled by the grammar being used and the grammar is part of the main VS Code project. Therefore, please log this issue in the [VS Code repo](https://github.com/Microsoft/vscode)

[2019-10-14 06:32] #2816 closed

[2019-10-14 06:34] ramya-rao-a commented on #2819
@dhowden is right.

The colors are controlled by the grammar being used and the grammar is part of the main VS Code project. Therefore, please log this issue in the [VS Code repo](https://github.com/Microsoft/vscode)

Also, please note that we can't possibly have different grammars being used for different versions of Go. So any solution put in place here will be applied for any Go file regardless

[2019-10-14 06:34] #2819 closed

[2019-10-14 06:36] ramya-rao-a commented on #2820
You can find the settings you have added/edited by running the command `Preferences: Open Settings(JSON)`. If you share those, then we can determine if this is being caused by the language server or not.

@jpvillaseca When you change any language server related setting, you will need to restart VS Code for it to take affect. Please let us know if you see the same when language server is disabled

[2019-10-14 06:38] ramya-rao-a commented on #2821
Fair point, thanks for reporting!

PRs to add this feature is most welcome.

[2019-10-14 06:39] ramya-rao-a commented on #2822
Thanks for reporting @pot-code, can you share the error message you are seeing?

[2019-10-14 06:40] ramya-rao-a commented on #2823
Can you run the guru command with those exact arguments and see if it returns any results?

[2019-10-14 06:41] ramya-rao-a commented on #2824
@Tobi696, @ramosisw Please share any Go related settings you might have added/edited. You can get these by running the command `Preferences: Open Settings (JSON)`

[2019-10-14 06:43] ramya-rao-a commented on #2826
This error is coming from delve.
Can you run `delve debug` command from the terminal and see if you are able to step in/out without errors?

[2019-10-14 06:52] ramya-rao-a commented on #2828
This only affects the time when GO111MODULE is set to `auto` right?

[2019-10-14 06:56] ramya-rao-a commented on #2831
Can you share a screenshot of the error?

Are you able to debug the test using a launch configuration? See https://github.com/microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#sample-configuration-to-debug-a-single-test for an example.

[2019-10-14 08:47] inliquid commented on #2823
it returns exactly this:
[code]

[2019-10-14 09:44] uudashr commented on #2800
The `gopkgs` already fixed. Can someone clarify, do the issues still exist? cc @nezorflame

[2019-10-14 11:20] ulodciv commented on #2831
I have the same issue, debugging on a test raises error "'${MODULES_USE_COMPAT_VERSION:-0}' cannot be resolved because command has no value", with Python, not go. I did not get that error before.

Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:30:33.955Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.2.18-200.

[2019-10-14 11:58] pot-code commented on #2822
Created a file named `demo_test.go` **without** the associated `demo.go` file

[code]

It seems that it tries to open the `demo.go` file after creating the test function

[2019-10-14 12:41] SteelPhase commented on #2828
it does affect auto.  I'll check if the same behavior happens with on

[2019-10-14 14:44] reiki33 commented on #2831
The text in the OUTPUT window at the bottom is from the successful run when
clicking on "run test". The pop-up window appears when I click in the
"debug test" area.
After sleep, I was thinking it may be go-delve, since dlv did not produce
this message. However, the post indicating the same problem with Python
testing suggests it is either not go-delve, or it is a common issue between
the two langu

[2019-10-14 14:45] aarzilli commented on #2813
The Base field will be zero for nil slices.

[2019-10-14 15:09] zaro commented on #2831
can confirm the same issue with python. After I updated vscode to
[code]
I see this message when I try to start debugger with python flask app.

[2019-10-14 15:25] gkhanna79 commented on #2831
I can confirm this issue reproes with attempting to launch a go program as well, under the debugger and without it as well.

Golang: 1.13
OS: Fedora 30

VSCode details:

Version: 1.39.1
Commit: 88f15d17dca836346e787762685a40bb5cce75a8
Date: 2019-10-10T23:30:33.955Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.1.15-300.fc30.x86_64

[2019-10-14 15:27] gkhanna79 commented on #2831
![VSCode_Golang_Bug](https://user-images.githubusercontent.com/9451457/66763288-7216a780-ee5c-11e9-832a-0f44ca586bf2.png)

@ramya-rao-a Please see the screenshot.

[2019-10-14 15:47] xujintao commented on #2826
Hi, ramya. You are right. It's dlv who should take the blame.
The abstract example is like this:
[code]
barError derives from fooError,
and *fooError implemented error, so *barError also implemented error. This is right in golang world.
However, dlv debug can not step into (*fooError).Error method guided by *barError

[2019-10-14 20:03] dfarley1 commented on #2796
Bumping, any other ideas?

[2019-10-14 20:37] ramosisw commented on #2824
My settings.json
[code]

[2019-10-15 02:13] flowchartsman commented on #2819
For posterity, I've submitted an issue [here](https://github.com/microsoft/vscode/issues/82549). Who knows how long it will take, but in the meantime you can hack it into VScode yourself. The relevant syntax is buried somewhere in `extensions/go/syntaxes/go.tmLanguage.json` Look for the following in the definition of `string_placeholder`:

[code]

and simply tack on a `w` after the `p`.  And then

[2019-10-15 03:49] stamblerre commented on #2832
Please share your VSCode settings (they can be found by opening the Command Palette (Ctrl + Shift + P) and selecting `Preferences: Open Settings (JSON)`. What version of `gopls` are you using (`gopls version`)?

[2019-10-15 03:52] stamblerre commented on #2419
`gopls` will soon provide full support for autocompletion of unimported packages (see https://github.com/golang/go/issues/31906). You can enable autocompletion of unimported standard library packages by adding:

[code]

to your `settings.json` file.

[2019-10-15 04:12] gkhanna79 commented on #2831
@ramya-rao-a Have you had a chance to look into this?

[2019-10-15 05:19] stamblerre commented on #2720
This workaround should only be needed if the user has not configured `GO111MODULE` in their environment, or if the value of `GO111MODULE` needs to be different in the VSCode environment for some reason. I would be hesitant to suggest it as a necessity. Perhaps a better alternative would be to link users to the [Modules wiki page](https://github.com/golang/go/wiki/Modules), which has some descripti

[2019-10-15 05:32] reiki33 commented on #2831
I uninstalled 1.39.1 (#dnf remove code), installed 1.38.1, and successfully
ran "debug test" on:
Version: 1.38.1
Commit: b37e54c98e1a74ba89e03073e5a3761284e3ffb0
Date: 2019-09-11T13:30:08.229Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 5.2.18-200.fc30.x86_64

During the install, I saw this error (and I remember it from the install on
1.39 as wel

[2019-10-15 08:10] derba commented on #2831
@reiki33 thank you. I ran into the same issue with the same setup (Fedora 30, VS Code, Go).

I issued `sudo dnf downgrade code-1.38.1`.
To avoid update undo it I use `sudo dnf update --exclude=code`.
Unfortunately I could not find a working guide on making `dnf versionlock` work.

Could you update your [SO](https://stackoverflow.com/questions/58360459/visual-studio-code-debug-go-test-error-modules

[2019-10-15 08:30] bxcodec commented on #2687
I don't know where to report. But this happens to me, and it shows the gopls that causing the high CPU

<img width="1440" alt="Screen Shot 2019-10-15 at 15 27 43" src="https://user-images.githubusercontent.com/11002383/66814306-95c31600-ef60-11e9-82e7-fb97cb219cce.png">

And this happens always when I open the VS Code

[2019-10-15 09:23] jpkrohling commented on #2831
I can confirm that downgrading to 1.38.1 makes debugging work again.

[2019-10-15 09:52] nezorflame commented on #2800
I've tested this solution more thoroughly.
While `gopkgs` doesn't fail anymore, the imports it returns are now marked as `your/package/vendor/your/dependency` instead of just `your/dependency`.
I believe we still need the logic of filtering the output and removing the `your/package/vendor/` prefix.

[2019-10-15 15:32] stamblerre commented on #2687
@bxcodec: What version of `gopls` are you using (`gopls` version`)?

[2019-10-15 17:24] jpvillaseca commented on #2820
Thank you . Disabling the language server the issue goes away

[2019-10-15 17:24] #2820 closed

[2019-10-15 17:28] stamblerre commented on #2820
@jpvillaseca: Could you share which version of the language server you were using (`gopls version`)?

[2019-10-15 18:02] twiest commented on #2831
I have the same issue and downgrading to 1.38.1 worked for me as well.

I filed [this](https://github.com/microsoft/vscode/issues/82611) bug against vscode, but it got closed and I was asked to open a bug against `vscode-go` instead.

[2019-10-15 19:20] teleclimber commented on #2346
Hi, I am trying to get remote debugging to work, and I think the vscode docs need updating.

I'm referring to this doc: https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#remote-debugging

If I follow the "Remote Debugging" instructions I run into the following problems:

First, it's not clear from the docs that you have to pass to delve the package that you are debugging.

[2019-10-15 19:30] reiki33 commented on #2831
Why does that make sense if it also fails with Python as noted by Svetlozar
Argirov?

On Tue, Oct 15, 2019 at 11:02 AM Thomas Wiest <notifications@github.com>
wrote:

[2019-10-15 21:15] asciifaceman commented on #2702
Experiencing the same issue with struct methods not being found by a referencing project if those methods are not in the same file as the struct.

The dependent package is included in the workspace as well.

This is fundamentally broken behavior

[2019-10-16 15:42] dmmilby opened #2834 "'${MODULES_USE_COMPAT_VERSION:-0}' can not be resolved because the command has no value."
Issue Type: <b>Bug</b>

With a ____.go file open, I click "Debug > Start Daebugging" and expected it to run my code and allow me to debug. Instead, I get the following error:

'${MODULES_USE_COMPAT_VERSION:-0}' can not be resolved because the command has no value.

Extension version: 0.11.7
VS Code version: Code 1.39.0 (9df03c6d6ce97c6645c5846f6dfa2a6a7d276515, 2019-10-09T06:58:03.188Z)
OS version

[2019-10-16 16:03] siriele commented on #2811
There are people who still have this issue. Is there a fix coming in the near future?

[2019-10-16 16:15] stamblerre commented on #2702
Reiterating my previous comment that for `gopls` to work with modules, you have to open your directory to the module root. We are working on modifying this requirement, but for now, if you want to have multiple modules in your VSCode window, you can use VSCode's workspace folders feature (File -> Add Folder to Workspace). You can save this workspace configuration file and open workspaces automatic

[2019-10-16 16:23] noambonnie commented on #2827
This seems to be resolved with 1.39.2. Closing...

[2019-10-16 16:23] #2827 closed

[2019-10-16 17:24] asciifaceman commented on #2702
My gopls is working with modules, it's worked fine until I came across struct methods not in the same file as the struct.

This issue is not that.

[2019-10-16 17:30] stamblerre commented on #2702
Can you include a bit more information so that I can help you investigate this? Information for troubleshooting `gopls` and what to include in an issue can be found [here](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md). The output of `gopls -rpc.trace -v check path/to/file.go` will be the most useful.

[2019-10-16 18:17] Halfbax commented on #2764
I had the same issue until I have set `"go.useLanguageServer": true`. The weird thing is that vscode is using the language server when it is set to false.

[2019-10-16 18:23] stamblerre commented on #2764
This issue with the line endings will be fixed in the next version of `gopls`, so this should be resolved soon. If you change any language server settings, make sure to reload the VSCode window to have the changes reflected.

[2019-10-16 19:28] gertcuykens opened #2835 "Clear output doesn't clear output buffer, it just pretends by only clearing the output screen"
vscode: 1.39.1
extension: 0.11.7

Step 1) Click run test

![image](https://user-images.githubusercontent.com/863731/66951578-fc2c5f00-f05a-11e9-8172-cebe9a7559eb.png)

Step 2)

![image](https://user-images.githubusercontent.com/863731/66951337-6b558380-f05a-11e9-9b3a-79b7d3288731.png)

Step 3) Clear output

![image](https://user-images.githubusercontent.com/863731/66951356-75778200-f05a-11e9-8451-

[2019-10-16 22:44] sbstp commented on #2811
https://github.com/microsoft/vscode-go/pull/2812 was merged so it should be in the next vscode-go release.

[2019-10-16 23:47] segevfiner opened #2836 "Reconsider default of go.installDependenciesWhenBuilding"
Do any Go tools we use still depend on installed packages, that is `go build -i`? If the answer is no, then as AFAIK installing dependencies is just a waste of time and space at that point and we should consider changing the default of `go.installDependenciesWhenBuilding` to `false`.

I think it's a mechanism left for backwards compatibility for stuff that depended on it, from the Go 1.10 release

[2019-10-17 01:14] ramya-rao-a commented on #2834
This is being tracked in #2831

The problem is upstream with VS Code itself. For now, you can downgrade to an older version where this issue does not occur.

[2019-10-17 01:14] #2834 closed

[2019-10-17 01:16] ramya-rao-a commented on #2831
The upstream issue in VS Code has been re-opened.
I'll update this issue once a fix is available, until then please consider using an older version of VS Code to be able to debug

[2019-10-17 01:19] ramya-rao-a commented on #2720
@stamblerre If I got this right, then the issues is that `gopls` needs GO111MODULE to be set to `on` when the project is under GOPATH and that it is not able to respect the `auto` value?

[2019-10-17 01:25] ramya-rao-a commented on #2824
@ramosisw Can you clarify what the problem in your recording is?
From what I could see,
You are typing in the first file main.go. Everything seems ok there
Then, you move to the other file and start typing the comment, and it disappears on save. Is that the probelm?

Also, from your settings it looks like the language server is disabled, but in your recording the imports are clickable and have und

[2019-10-17 01:27] ramya-rao-a commented on #2796
@dfarley1 Can you try not using the `${workspaceFolder}` in the settings? It could be possible that in the remote case, the variables are not being read correctly

[2019-10-17 02:18] ramya-rao-a commented on #2813
Thanks @aarzilli!

PRs are welcome to make this change

Code Pointers:
- [Set up local dev environment](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- Place to update the text that is shown in the variables pane: https://github.com/microsoft/vscode-go/blob/0.11.7/src/debugAdapter/goDebug.ts#L1266
- You will need to update the

[2019-10-17 02:23] ramya-rao-a commented on #2822
Ah! understood.

The assumption always was that the "generate unit tests" command would be run on a non test file.
So, when the corresponding test file was updated, there was a need to open it.
For this, I re-used the `Toggle Test File` command.

In your case, the `Toggle Test File` command fails because the non test file doesnt exist :)

PRs are welcome to fix this bug
- [Set up local dev env](ht

[2019-10-17 03:40] ramosisw commented on #2824
@ramya-rao-a Sure, some times when write code, comments, etc... then save my changes, and the file are "restored", i read about "LanguageServer: false" change these setting and problem disapears, also change format to gofmt.

[2019-10-17 03:58] stamblerre commented on #2720
No,  since `gopls` uses the `go` command under the hood, it does respect the value of `GO111MODULE`. I am not sure why setting `GO111MODULE=on` would fix an issue, unless `GO111MODULE` was not set to `auto`, or a module had not yet been initialized.

[2019-10-17 04:04] ramya-rao-a commented on #2824
Thanks @ramosisw
Can you share the version of `gopls` you are using? You can run the command `gopls version` to find this.

[2019-10-17 04:47] saurabh-hirani opened #2837 "Golang intellisense stopped working after upgrading to Go v1.13 when using gopls"
I have encountered this issue often on VSCode upgrade - autocompletions of imported and unimported packages stop working after updating go version but either a reload window or stopping/starting ```gocode ``` fixes it. But this time I tried all of the following but it didn't work:

1. Upgraded go to v1.13 - updated GOROOT accordingly.
2. Did "Go: Install / Update tools" with ``` gocode ``` stopped

[2019-10-17 04:59] stamblerre commented on #2837
The autocompletion of unimported packages is being moved into `gopls`, so I think the more recent versions of the extension have disabled the additional unimported completion items provided by the extension (they did not work well with `gopls`'s ranking). You can try out the feature through `gopls` by adding the following to your settings:

[code]
It currently only works for the standard library,

[2019-10-17 05:30] ramya-rao-a commented on #2835
This is an interesting catch...

The clear button in Step 4 is implemented by VS Code itself, and the extension has no control over this.
Please log this issue in the VS Code repo.

If it is determined that the extension is not using the output panel the right way, then we can look into fixing that.

Also, please note that when logging the issue in the vscode repo, its beneficial if you can provid

[2019-10-17 06:00] gertcuykens commented on #2835
Any run test output will do, for example

[code]

[2019-10-17 06:40] asfaltboy commented on #2720
I think that's what's going on for me, my vscode env was not initialized with all variables (in fact even go failed to be found, and I had to add a `PATH`  (alongside `GO111MODULE` et-al) in `go.toolsEnvVars` to make any of the go tools work...

[2019-10-17 06:43] saurabh-hirani commented on #2837
Thanks @stamblerre  - I did add that but there wasn't any impact and the option seemed to be grayed out.

![Screenshot 2019-10-17 at 2 39 18 PM](https://user-images.githubusercontent.com/485317/66983948-53c6db00-f0ec-11e9-9cb2-11c4627ba990.png)

doing a ```fmt.``` does not show up auto completion and I have to import the fmt package to get the options. That wasn't the case earlier. For stdlib it u

[2019-10-17 07:11] pigletfly opened #2838 "Add fill selected struct fields feature"
vscode-go now supports fill all the struct fields,sometimes we just want to fill selected fields.

[2019-10-17 15:20] nezorflame commented on #2800
@ramya-rao-a after another discussion with @uudashr it seems that the current `master` has this fixed:
![screenshot](https://user-images.githubusercontent.com/3906766/67021464-56372e00-f108-11e9-903d-6383b127e936.png)
The last issue being supporting `v2` import is being resolved in https://github.com/uudashr/gopkgs/pull/20

[2019-10-17 15:30] stamblerre commented on #2720
@asfaltboy: Do you mind sharing your VSCode settings (`Ctrl + Shift + P` -> `Preferences: Open Settings (JSON)`)? What is the output of `go env`?

[2019-10-17 15:40] stamblerre commented on #2837
The grayed out setting is expected, while `gopls` configurations are still in flux, we haven't added them to the VSCode extension yet. Make sure to reload the language server after you change the settings, as it needs to be restarted to reflect the settings. After that it, it should suggest `fmt` to you.

[2019-10-17 15:52] ramosisw commented on #2824
@ramya-rao-a  the output is
[code]

[2019-10-17 16:19] stamblerre commented on #2824
Enough people have reported this issue that I have started a thread in the Go issue tracker. Please follow the suggestions here: https://github.com/golang/go/issues/34955. Hopefully we'll be able to track this down. Thank you!

[2019-10-17 16:19] stamblerre commented on #2787
Enough people have reported this issue that I have started a thread in the Go issue tracker. Please follow the suggestions here: https://github.com/golang/go/issues/34955. Hopefully we'll be able to track this down. Thank you!

[2019-10-17 16:27] ramya-rao-a commented on #2787
@jpvillaseca You mention that you see this even without the language server. Can you confirm this by
- disabling language server `"go.useLanguageServer": false`
- reload vs code window
- try again

[2019-10-17 16:27] ramya-rao-a commented on #2787
Closing this issue in favor of the upstream issue for gopls https://github.com/golang/go/issues/34955
If anyone sees this even when not using the language server, please log a new issue

[2019-10-17 16:28] ramya-rao-a commented on #2824
Thanks @ramosisw

Closing this issue in favor of the upstream issue for gopls https://github.com/golang/go/issues/34955

[2019-10-17 16:28] #2824 closed

[2019-10-17 18:18] dfarley1 commented on #2796
I decided to try installing outside the repo entirely, specifically `$HOME/go -> /home/danf/go`.  Trying to install still does not respect `toolsGopath` and tries install one level deeper into `$HOME/go/bin/bin`
[code]

Putting `${env:HOME}/go` at the front of `gopath` still fails to install
[code]

After installing all the tools manually:
[code]
I still get an "Analysis Tools Missing" warning and

[2019-10-17 21:24] pradeepkusingh commented on #2832
{

    "go.autocompleteUnimportedPackages": true,
    "go.inferGopath": true,
    "go.useCodeSnippetsOnMethodSuggest" : true,
    "go.useCodeSnippetsOnFunctionSuggest": true,
    "gitlens.advanced.messages": {
        "suppressFileNotUnderSourceControlWarning": true
    },
    "go.formatTool": "goimports",
    "aws.samcli.location": "/usr/local/bin/sam",
    "aws.telemetry": false,
    "go.useLang

[2019-10-17 23:44] stamblerre commented on #2832
I would suggest configuring your settings as recommended here: https://github.com/golang/tools/blob/master/gopls/doc/vscode.md. Hopefully you will see some improvements with those additional configurations. Please comment if you are still seeing issues after updating your settings.

[2019-10-18 00:22] saurabh-hirani commented on #2837
Hi @stamblerre - I did all of that and yet ```fmt.``` does not autocomplete and shows the following output in the language server

<img width="565" alt="Screenshot 2019-10-18 at 8 17 32 AM" src="https://user-images.githubusercontent.com/485317/67056771-17dd5580-f180-11e9-8892-939c5e9b8d03.png">

I guess I will stick with doing a ```fmt.Println``` to get the initial import working and then use auto

[2019-10-18 05:55] arjunmayilvaganan opened #2841 "Debugging: Go modules - Debugger results in error if module path different from directory path"
Directory structure:
[code]

go.mod:
[code]

main.go:
[code]

launch.json:
[code]

Error:
[code]

**Note**: Seems to work as expected if the module path is "github.com/arjunmayilvaganan/sample" instead of "github.com/arjunmayilvaganan/sample/v2"

Also `dlv debug cmd/service/main.go` seems to be working as expected

**Steps to Reproduce**:

1. Keep the module path separate from the actual project d

[2019-10-18 09:13] LuChuanBing opened #2842 "panic when debug test, no panic when run test"
Steps to Reproduce:

1. create a test file named Sample_test.go , with the following cod in it:
[code]
2. click debug test in vscode
3. step into/over to execute
4. panic hanppend when calling myFn in itself
5. debug console logs below messages:
[code]

[2019-10-18 16:34] stamblerre commented on #2837
What version of `gopls` are you using (`gopls version`)? If the version is not `v0.1.7` then that may be the issue, but you should definitely be able to get autocompletion of unimported standard library packages.

Also, you should use the suggested settings [here](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md) to get import organization to happen automatically for third-party pac

[2019-10-19 01:13] Yahasana opened #2843 "comment out ill code but not delete it"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

If you have issues around GOPATH, read https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension first.

If you have issues debugging your Go programs
- read https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-co

[2019-10-19 05:09] gertcuykens commented on #2811
Go: master
Extension: 0.11.7
vscode: 1.39.2

[code]

[2019-10-19 05:17] vuongggggg commented on #2370
I agree. Go Outliner extension has a better explorer than, but it would be very good by enhancement of this package instead.

[2019-10-19 15:30] pradeepkusingh commented on #2832
I applied all above ad still not getting any suggestions for method signature or for loop,struct.

[2019-10-19 15:33] #2832 closed

[2019-10-19 16:40] zmb3 commented on #2753
go-outline should not be necessary when using gopls, right?

[2019-10-20 04:13] saurabh-hirani commented on #2837
@stamblerre  I am using the latest version

[code]

I tried those settings, reloaded the window, restarted the language server and yet there is no change in the behaviour. But doing the first ```fmt.Println()``` imports ```fmt``` and autocompletion turns on after that.

[2019-10-20 14:18] NVD-R commented on #2505
Same problem!!!
is there any solution?

[2019-10-20 15:28] ramya-rao-a commented on #2843
The unused imports are removed by the formatting tool which is run when you save the file.
Please read the `Why do my imported packages keep getting removed or re-ordered?` section in the [FAQ](https://github.com/microsoft/vscode-go/wiki/Go-with-VS-Code-FAQ-and-Troubleshooting) for ways of getting around this.

[2019-10-20 15:28] #2843 closed

[2019-10-20 15:33] ramya-rao-a commented on #2842
I am able to debug the test without any issues.

![debug](https://user-images.githubusercontent.com/16890566/67161939-19d81d80-f314-11e9-91ca-6c8b9d76f882.gif)

Please try debugging the test using delve directly from the terminal to see if that works.

[2019-10-20 15:43] ramya-rao-a commented on #2841
Thanks for the detailed report, can you provide a few more details?

Add `"trace": "log"` to your debug configuration in the launch.json file and try again. This time the debug console will show the exact way `dlv` was called. Please share that line.

Also, does updating the `program` attribute in the debug configuration to point to the `main.go` file help?

[2019-10-20 15:46] ramya-rao-a commented on #2838
We use the [fillstruct](https://github.com/davidrjenni/reftools/tree/master/cmd/fillstruct) tool to provide this feature.

As far as I know, this tool works on the entire struct and individual fields cannot be targeted. Therefore, we cannot support only selected fields

[2019-10-20 15:46] #2838 closed

[2019-10-20 15:57] ramya-rao-a commented on #2836
I am not an expert on the `go build` command and would like to loop in a few more people into this discussion.

Looping in @mattetti who made the initial PR #718 to add the `-i` flag to the `go build` command
Looping in @ardan-bkennedy who I know via #1064 uses the `-i` flag
Looping in @stamblerre who I hope can loop in someone working on the go command itself

[2019-10-20 15:59] ramya-rao-a commented on #2835
Thanks for reporting the issue upstream.
Closing this issue in favor of https://github.com/microsoft/vscode/issues/82750

If it is determined there that the fix should be in the extension, then I'll re-open this one

[2019-10-20 15:59] #2835 closed

[2019-10-20 16:45] mattetti commented on #2836
It's quite clear that this flag isn't needed and might indeed slow things down. Thanks @segevfiner

[2019-10-20 17:09] ramya-rao-a commented on #2830
So what we have is
- The extension is figuring out the right path to the Go binary which is what you see in the `goExecutable` variable in https://github.com/microsoft/vscode-go/blob/master/src/goModules.ts#L26. Did you find this to be the absolute path or relative path?
- The `execFile()` is internally using some other executable even though an absolute path was provided for it
?

[2019-10-20 17:12] ramya-rao-a commented on #2831
It looks like the [latest Insiders](https://code.visualstudio.com/insiders) should have the fix to this issue.
Can anyone here try it out and confirm?

[2019-10-20 17:19] ramya-rao-a commented on #2828
@SteelPhase Can you elaborate on what changed in go 1.13 for GO111MODULE?
cc @stamblerre

[2019-10-20 17:37] reiki33 commented on #2831
It works for Go after installing the Go plugin.

Is the following an issue?
[root@reikinet visualstudiocode]# dnf install
code-insiders-1.40.0-1571377603.el7.x86_64.rpm
Repository for Ozon OS                          0.0  B/s |   0  B     00:10

Error: Failed to download metadata for repo 'ozonos': Cannot download
repomd.xml: Cannot download repodata/repomd.xml: All mirrors were tried
Ignoring rep

[2019-10-20 18:15] ramya-rao-a commented on #2806
@stamblerre Turns out this is due to the difference in behavior of the `go doc` command in Go 1.13

For example, using one of the [test cases](https://github.com/microsoft/vscode-go/blob/master/test/fixtures/gogetdocTestData/test.go#L24), the command `go doc -c -cmd -u github.com/golang/example/hello print` gives different output

Go 1.12

<img width="917" alt="Screen Shot 2019-10-20 at 11 14 01 A

[2019-10-20 19:40] ramya-rao-a commented on #2806
Fixed with https://github.com/microsoft/vscode-go/commit/0839658c8d2dd95969d5463da9877dfa716d5fc6 for the moment.

[2019-10-20 19:40] #2806 closed

[2019-10-20 19:49] ramya-rao-a commented on #2805
This failure is not consistent anymore, but happens intermittently
One example: https://travis-ci.org/microsoft/vscode-go/jobs/600424998

[2019-10-20 20:10] stamblerre commented on #2811
@gertcuykens: Thanks for reporting! Just opened to https://github.com/microsoft/vscode-go/pull/2845 to fix that.

[2019-10-20 20:11] stamblerre commented on #2832
@pradeepkusingh: If you encounter any further issues with `gopls`, please open a new issue on the Go issue tracker (https://github.com/golang/go/issues/new).

[2019-10-20 20:18] stamblerre commented on #2753
Based on this comment, it sounds like the extension is using `go-outline` directly for this behavior. Though I agree that it could directly ask the DocumentSymbol provider rather than relying on a specific tool.

[2019-10-20 21:06] stamblerre commented on #2828
I do believe the correct approach would be to use the result of `go env GOMOD`. This way, you don't have to worry about the changing meanings of `GO111MODULE`--you can rely on the `go` command to tell you that you are in a module.

https://golang.org/doc/go1.13#modules explains the changes to the meaning of `auto` for Go 1.13.

[2019-10-20 21:09] ramya-rao-a commented on #2811
The [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix from @stamblerre

Can people here try it out and let us know how it goes?

[2019-10-20 21:14] #2664 closed

[2019-10-20 21:15] stamblerre commented on #2837
When you are triggering the completions for `fmt`, are you typing `fmt.` and then triggering completions? If so, they won't work as you expect because the import hasn't been added yet. However, if you begin typing `fmt`, the completion item for `fmt` should pop up. If you select it, the import will be added, and you should then be able to get those completions shown to you.

I understand this expe

[2019-10-20 21:17] stamblerre commented on #2836
/cc @jayconrod as the `go` command expert, but it sounds to me like building without `-i` sounds like the correct approach, particularly now that we have modules

[2019-10-20 21:17] ramya-rao-a commented on #2753
I am not aware of any way the extension can ask the language server for symbols, so we would continue to use `go-outline` for the test features & codelens

[2019-10-20 21:19] #2813 closed

[2019-10-20 21:22] ramya-rao-a commented on #2800
Thanks for all the work here and follow up @nezorflame and @uudashr
It is very much appreciated :)

Happy Coding!

[2019-10-20 21:22] #2800 closed

[2019-10-20 22:49] ramya-rao-a commented on #186
Based on the current state of delve and this extension, the ability to run delve commands in the debug console is not possible at the moment.

If at a future time anything changes to make it possible to have this feature we can re-open this issue or create a new feature request, but for the time being, I am closing this issue as there is no action item at present.

[2019-10-20 22:49] #186 closed

[2019-10-20 22:51] ramya-rao-a commented on #219
Since based not the current state of delve, this feature is not doable, I am closing this issue as there is no action item at present

If anything changes in the future that will make this feature a possibility, a new feature request can be created.

[2019-10-20 22:51] #219 closed

[2019-10-20 22:58] #1198 closed

[2019-10-20 22:58] ramya-rao-a commented on #1198
Closing this issue as there is no action item from the extension's side.
Please log the issue on VS Code repo if one is not already logged

[2019-10-20 23:04] ramya-rao-a commented on #1405
Closing in favor of #654

[2019-10-20 23:04] #1405 closed

[2019-10-20 23:10] ramya-rao-a commented on #1643
Hey @Green7 and @nebiros

The last I left this issue I was not able to replicate the problem.
My best bet is that this is a set up issue or a combination of which folder was opened in VS Code due to upstream issues like https://github.com/microsoft/vscode/issues/18837 and https://github.com/microsoft/vscode/issues/49315

The upstream issues are closed, so my hope is that the issue here is resolved

[2019-10-20 23:10] #1643 closed

[2019-10-20 23:11] ramya-rao-a commented on #1719
Closing this issue as there is no next steps for the extension at the moment.

[2019-10-20 23:11] #1719 closed

[2019-10-20 23:13] ramya-rao-a commented on #1806
Based on @quoctruong's assessment above, the issue seems to have been resolved.
Since we haven't heard back from anyone else, I am closing this issue.

Thanks for reporting & Happy Coding!

[2019-10-20 23:13] #1806 closed

[2019-10-20 23:16] ramya-rao-a commented on #1935
I am not able to replicate this issue locally, so if anyone seeing this issue is willing to set up a local dev setup of the extension, then I can help guide the process.

- [Set up local dev env for extension](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- [Debug the debugger](https://githu

[2019-10-20 23:34] drakegens commented on #2822
I will try to take this one on!

[2019-10-21 00:56] alecthomas commented on #2837
I have the same problem, however I don't get a full completion list when I just type "fmt":

![image](https://user-images.githubusercontent.com/41767/67169740-f89d2d00-f3f8-11e9-97b1-92c280536567.png)

If I then type `fmt.<ctrl-space>` I get:

![image](https://user-images.githubusercontent.com/41767/67169746-09e63980-f3f9-11e9-93a8-0ec688187e7b.png)

If I then append a `fmt.P<ctrl-space>` (which I

[2019-10-21 00:56] saurabh-hirani commented on #2837
@stamblerre thanks - tried it out - it works. I was doing ```fmt.``` and waiting for the completion. Doing ```fmt```, selecting the module from the auto-complete drop down and the doing ```fmt.``` gives the answer. Thanks for being so patient and guiding me through. Will use the prescribed way of importing for now.

[2019-10-21 01:01] saurabh-hirani commented on #2837
@alecthomas I did the following and it works for me:

1. Checked gopls version as per above..
2. Just for good measure - reloaded the window and restarted the gopls server.
3. Wrote ```fmt``` and then selected the ```{} fmt``` entry from the dropdown.
4. That added the line ```import "fmt"``` at top of my code.
5. Wrote ```fmt.``` and the auto complete options popped up.

Please not this works onl

[2019-10-21 01:06] #2026 closed

[2019-10-21 01:08] ramya-rao-a commented on #2296
Closing this issue as the recommendation for modules is to use the language server

[2019-10-21 01:08] #2296 closed

[2019-10-21 01:10] ramya-rao-a commented on #2408
@stamblerre Does the language server support folding at the moment?

[2019-10-21 01:16] ramya-rao-a commented on #2441
@ulrichSchreiner Can you share your Go related settings so that we can determine which tool is doing the ordering of imports in each of scenarios? You can get these by running the command `Preferences: Open Settings (JSON)`

[2019-10-21 01:17] ramya-rao-a commented on #2452
Closing this issue as we haven't heard back in a while.
Please try the latest version of the extension and `gopls`.
If the issue still persists, please log an issue as @stamblerre mentioned above

[2019-10-21 01:17] #2452 closed

[2019-10-21 01:20] ramya-rao-a commented on #2573
The upstream issue has been fixed and closed, so closing this issue as well

[2019-10-21 01:20] #2573 closed

[2019-10-21 01:22] ramya-rao-a commented on #2588
Closing this issue as we haven't heard back from @ignishub in a while.
Please try the latest version of the Go extension and `gopls`. There have been quite some improvements over the months.

[2019-10-21 01:22] #2588 closed

[2019-10-21 01:24] ramya-rao-a commented on #2739
@stamblerre, @muirrn Is there something that needs to be done here or anything else we can help with?

[2019-10-21 01:26] ramya-rao-a commented on #2715
Version 0.11.5 of this extension released in September has the updated language client which has the fix.

[2019-10-21 01:26] #2715 closed

[2019-10-21 01:28] stamblerre commented on #2408
Yes it does

[2019-10-21 01:28] ramya-rao-a commented on #2746
Closing this issue as there is no action item at present other than what #1596 is tracking.
There is PR associated with it, so that feature might come along in the next update or the one after that. So, please subscribe to #1596 to get notified of the progress

[2019-10-21 01:28] #2746 closed

[2019-10-21 01:29] ramya-rao-a commented on #2759
@stamblerre Do you have an upstream issue for gopls to track this?

[2019-10-21 01:30] #2770 closed

[2019-10-21 01:31] ramya-rao-a commented on #2776
The latest beta version of the extension has this feature where the GOPROXY is used to determine whether a newer update is available. This can be disabled using the new setting `go.useGoProxyToCheckForToolUpdates`

[2019-10-21 01:31] #2776 closed

[2019-10-21 01:31] stamblerre commented on #2759
The upstream issue is now resolved on master. It will be in the next `gopls` release, which should be coming soon.

[2019-10-21 01:44] ramya-rao-a commented on #2408
Just tested it with the sample code in this issue, it works!!
Closing :)

[2019-10-21 01:44] #2408 closed

[2019-10-21 02:06] ramya-rao-a commented on #2796
@dfarley1 Can you retry the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension? I have added some logs around whether the tools go path setting is read or not. We also had some other changes around how we read configuration. I'd like to see if that made any difference at all.

[2019-10-21 02:07] ramya-rao-a commented on #2826
Thats great to hear!
Please log an issue at https://github.com/go-delve/delve/issues

Happy Coding!

[2019-10-21 02:07] #2826 closed

[2019-10-21 02:10] ramya-rao-a commented on #2823
Are you using modules? If yes, then we know that `guru` does not have module support yet.

@stamblerre Does the language server support the implementation provider yet?

[2019-10-21 02:12] ramya-rao-a commented on #2808
@stamblerre Should the Go extension pass the value of the `go.buildFlags` to `gopls` using `-tags`?

[2019-10-21 02:18] ramya-rao-a commented on #2437
Thanks for confirming @antonmashko

Happy Coding!

[2019-10-21 02:25] ramya-rao-a commented on #2801
I followed your code structure and I am able to see the hover text including the package information

<img width="489" alt="Screen Shot 2019-10-20 at 7 22 30 PM" src="https://user-images.githubusercontent.com/16890566/67172188-29388480-f36f-11e9-9891-778e5eaf979d.png">

[2019-10-21 02:27] ramya-rao-a commented on #2786
@mickyco94 Sorry, I couldn't back to the issue sooner. Do you still have the problem?

Why would it make sense for bash not to show any results?

[2019-10-21 04:48] muirrn commented on #2739
In general we want a way to use the gopls candidates verbatim without VSCode reordering, excluding or adding anything. I think microsoft/vscode#64367 would help, but there are other cases where VSCode completely omits candidates. For example:

[code]

The server sends a candidate of `&bytes.Buffer{}`, but VSCode does not display it. If you type `bytes.B` and trigger the `bytes.Buffer{}` completion

[2019-10-21 05:08] Visitant0226 commented on #2111
When the /home is soft link to /mnt/home,the path is "/home/xxx/go/src/..." in the editor,but when I open the terminal,the path is "/mnt/home/xxx/go/src/..." in terminal.  If I run "go build " in "/mnt/home/xxx/",then I have got "Unverified breakpoint" in debugging.I find the path in binary is "/mnt/home/go/...",and the debugging can't match the "/home/go/..." and "/mnt/home/go/..." .

[2019-10-21 05:10] alecthomas commented on #2837
@saurabh-hirani that's not equivalent. `parser` in my example is a local variable, not a package.

[2019-10-21 05:11] alecthomas commented on #2837
(that said, maybe these are different issues)

[2019-10-21 06:12] arjunmayilvaganan commented on #2841
Appreciate your response. Thanks for doing this.

No, the result is unchanged.

Here's the detailed log:
[code]

[2019-10-21 06:25] arjunmayilvaganan commented on #2841
There wasn't really anything I was able to deduce from the above log details, except for the path being passed wrong to `dlv`.

If it is of any help, I tried the same steps as above with atom and `go-plus`, which also uses `dlv`, instead and noticed the following in the logs:

[code]

[2019-10-21 07:52] jrieken commented on #2739
VSCode compares the text that's to be overwritten with the completion, e.g `b` with `&b` which is considered a weak match and hence filtered. To tweak this you can use `filterText`

[2019-10-21 08:28] inliquid commented on #2823
@ramya-rao-a yes, with modules. It worked previously, I just didn't use often it because it's too slow. Not sure what changed now.

[2019-10-21 09:37] ddyok opened #2847 "Yacc generated file crashes gopls server"
The attached file crashes gopls server.
[yacc.go.txt](https://github.com/microsoft/vscode-go/files/3749986/yacc.go.txt)
Open attached file (yacc.go.txt) in vscode (and change the .txt extension back to .go, of course, as github upload required an extension change).

**VSCode settings**
{
    "workbench.startupEditor": "newUntitledFile",
    "workbench.statusBar.feedback.visible": false,
    "workb

[2019-10-21 11:42] OmisNomis opened #2848 "Types are not being automatically updated/checked"
**Describe the bug**
If I'm working on a Go project and I change a type the IntelliSense type checking isn't updated.

This seems to only happen in large projects, so it's hard to provide reproducible steps, but if a type is changed somewhere else in the project that should cause an error, it doesn't.

Equally, if there is a type error and I fix it, the error persists because it doesn't acknowledg

[2019-10-21 12:12] dingrui37 opened #2849 "could not import "C""
![image](https://user-images.githubusercontent.com/22718365/67203908-e514b500-f43e-11e9-9c6b-3dc21b1fa349.png)

![image](https://user-images.githubusercontent.com/22718365/67203939-f8278500-f43e-11e9-92f4-a38b776e2e10.png)

[2019-10-21 13:02] smyrman opened #2850 "Allow sub-test selection"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

**Is your feature request related to a problem? Please describe.**

VS-Code has a _code lens_ link that allows you to run individual tests.

![image](https://user-images.githubusercontent.com/75205/67205997-20988a80-f411-11e9-9786-afa3ac1

[2019-10-21 14:05] zmb3 commented on #2753
The language server will respond to the [document symbols request](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#textDocument_documentSymbol), which includes all functions and methods in the document along with their positions.

[2019-10-21 14:46] muirrn commented on #2739
That behavior would be disableable as part of microsoft/vscode#64367, right? If so then I'll close this issue out.

[2019-10-21 14:55] hgedia commented on #2837
Chipping in here , with gopls 0.1.7/go 1.13 , on hovering the function , the tool tip stopped appearing and could not jump to function definitions. Downgraded for now to go 1.12 and its back up.  Happy to try out a few things if needed.

[2019-10-21 16:25] stamblerre commented on #2837
@alecthomas and @hgedia, it does sound like you are experiencing two separate issues. Do you minding filing them on the [Go issue tracker](https://github.com/golang/go/issues/new), along with the information requested in the [Troubleshooting guide](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md)?

[2019-10-21 16:40] stamblerre commented on #2808
Currently, `gopls` users can configure build flags with the following setting:

[code]
The extension could pass `go.buildFlags` through this setting, but we should be careful to handle the case where the value of `go.buildFlags` differs from that of `gopls.buildFlags`.

[2019-10-21 16:42] stamblerre commented on #2823
`guru` will not have module support and is not being actively developed. `gopls` does not yet have the implementation feature, but it is something we intend to add support for soon (https://github.com/golang/go/issues/32973).

[2019-10-21 16:45] stamblerre commented on #2441
`gopls` will suggest unimported packages if you add the following to your VSCode settings:

[code]

[2019-10-21 16:47] stamblerre commented on #2847
I believe that this is a duplicate of https://github.com/golang/go/issues/34433. The crash should be fixed on master, but the underlying issue is not yet.

[2019-10-21 16:47] stamblerre commented on #2847
Duplicate of https://github.com/golang/go/issues/34433

[2019-10-21 16:59] jayconrod commented on #2836
Assuming nothing actually depends on .a files being installed into `$GOPATH/pkg`, I don't think this flag is necessary anymore.

In GOPATH mode, there may be some performance cost to using `-i`, since it will be copying .a files out of the cache into `$GOPATH/pkg`.

In module mode, I don't think `-i` has any effect, since we don't install .a files.

[2019-10-21 17:39] jrieken commented on #2739
Yeah, likely. The story around disabling fuzzy-filtering hasn't been finalised or thought of much and given that the request isn't very popular it also won't happen too soon.

Generally, I would recommend to play with how vs code works by default. Reason being is that users should not to need to "relearn" how IntelliSense works in a certain language. I understand that authors of a language service

[2019-10-21 18:29] muirrn commented on #2739
Thanks for outlining your standpoint. It makes sense that VSCode wants to provide a consistent completion experience across languages.

What is the "user's plan" in this scenario? When would the user not want the best completion candidate matching their input to be listed first?

I want to reemphasize that "our" ordering is not arbitrary. It is based on type information and other heuristics not av

[2019-10-21 18:29] #2739 closed

[2019-10-21 23:41] sbstp commented on #2811
@ramya-rao-a @stamblerre

Most worked but there was a problem with the PLS and gotests.

Build log:
[code]

Environment:

[code]

[code]

[2019-10-22 09:53] chengyayu commented on #2484
**versions**

- vscode : 1.39.2
- vscode-go: 0.11.7

**my settings**

[code]

when i type this codes go internal package can be auto import, but third party package in my go.mod can not be import.

**gopls output error**

[code]

[2019-10-22 15:26] guodf commented on #2505
Me too!

[2019-10-22 17:07] yuwenlong opened #2857 "Installing github.com/uudashr/gopkgs/cmd/gopkgs FAILED"
https://github.com/uudashr/gopkgs/cmd/gopkgs
The link will open and report 404.

Installing 18 tools at /data/app/go/bin
  gocode
  gopkgs
  go-outline
  go-symbols
  guru
  gorename
  gotests
  gomodifytags
  impl
  fillstruct
  goplay
  godoctor
  dlv
  gocode-gomod
  gogetdoc
  goreturns
  golint
  gopls

Installing github.com/mdempsky/gocode SUCCEEDED
Installing github.com/uudashr/gopkgs/cmd/g

[2019-10-22 18:38] MooseTheory commented on #2857
I am also seeing this same error using VS Code 1.39.2, Windows 10.0.18362, WSL (Ubuntu 18.04.2 LTS) and go1.13.3 linux/amd64.
If I run the '/usr/local/go/bin/go get -v github.com/uudashr/gopkgs/cmd/gopkgs' command from a terminal, it seems to complete successfully, and I can run gopkgs from there, but it still does not seem to be available inside VS Code.

[2019-10-22 19:34] stamblerre commented on #2857
This is an issue with with the upstream repo: https://github.com/uudashr/gopkgs/issues/22.

[2019-10-22 19:51] stamblerre commented on #2811
Can you `cd` into a temporary directory and run `GO111MODULE=on go get -v golang.org/x/tools/gopls` and `go get -v go get -v github.com/cweill/gotests/...`?

[2019-10-22 19:53] zrhmn opened #2858 ""Undeclared name" errors for accessible identifiers in same package (after go1.3.3)"
**Describe the bug**
After I recently updated to go1.3.3, I get a lot of errors about vars, funcs etc. being undefined. These vars are defined in different files, but in the same package, but gopls/vscode-go (I can't say which) is unable to find a reference to them.

The gopls log doesn't show any errors, but if I hover over the squiggled name, or ⌘+Click them, an error shows up in gopls log like:

[2019-10-22 20:01] stamblerre commented on #2858
Can you share the output of `gopls -rpc.trace -v check path/to/file.go`?

[2019-10-22 20:05] zrhmn commented on #2858
[code]

[2019-10-22 20:16] stamblerre commented on #2858
Can you run `go list -e -json -compiled=true -test=true -deps=true /Users/fziaur094/Workspace/@sandbox/go/gopls-check` from inside the `/Users/fziaur094/Workspace/@sandbox/go/gopls-check` directory?

[2019-10-22 22:51] sbstp commented on #2811
[code]

[code]

[2019-10-22 23:35] stamblerre commented on #2811
The first error is a result of you being on Go 1.11, you will have to create a `go.mod` file in the temporary directory. Is there a reason you are still on Go 1.11 and not Go 1.13? I would strongly recommend upgrading.

The second is a result of my typo - it should be `go get -v github.com/cweill/gotests/...`.

[2019-10-22 23:44] sbstp commented on #2811
Well this issue was originally created because of a problem installing the tools on Go 1.11, so I tested installing the tools with Go 1.11 and that's where the two tools failed to install. When I ran the commands I assumed you also wanted me to test with Go 1.11.

So here's another attempt on Go 1.11:

I created a `go.mod` file, here's the output
[code]

The other command:
[code]

[2019-10-23 00:32] zrhmn commented on #2858
[code]

[2019-10-23 05:49] freman commented on #2276
Similar to the above, I'm on the latest beta (I think) 0.11.8-beta.2 and `-exclude-docs` seems not to be stopping the running of `docs`

![image](https://user-images.githubusercontent.com/506680/67361646-a3098180-f5ac-11e9-91ae-4bd94ec2bf4d.png)

my config looks like this
[code]

![image](https://user-images.githubusercontent.com/506680/67361370-cb44b080-f5ab-11e9-817d-967baa8641d6.png)

[2019-10-23 05:50] randalvance commented on #2026
Hi @ramya-rao-a, I have tried version 0.11.8-beta.3 but it still won't recognize GOPROXY setting.

[2019-10-23 08:34] tevin-morake commented on #2734
Thank you. This has helped me greatly

[2019-10-23 09:11] nezorflame commented on #2857
As a temporary workaround, you could install the older version of it manually, like go get github.com/uudashr/gopkgs/cmd/gopkgs@v2.0.1

[2019-10-23 10:00] yuwenlong commented on #2857
This is the command that vscode automatically executes when it executes the Go Install/Update tool.
@nezorflame

[2019-10-23 12:32] nezorflame commented on #2857
I know it does, but if you manually get the package, at least it'd work for the new installments.
As for the updating it - yeah, we need @uudashr to merge the https://github.com/uudashr/gopkgs/pull/21 and (ideally) to release `cmd/gopkgs/v1.0.0` and maintain proper release versioning.

[2019-10-23 14:44] wtask commented on #2857
Try first to delete pkg sources under GOPATH, then reinstall pkg from vscode.

[2019-10-23 15:59] randomshinichi opened #2860 "run test works fine, but debug test does not find module major version number"
**Describe the bug**
Go Debugger installs v1 of my project, even though it isn't mentioned in go.mod/go.sum.

**VSCode settings**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a test function
2. Click on "debug test"/ command palette "Go: Debug Test at Cursor"
3. see v1 of my package  being installed into `$GOPATH/pkg/mod`

**Expected behavior**
If my imports don't mention v1

[2019-10-23 16:24] jayconrod commented on #2858
@zrhmn Thanks for investigating. This seems to be a regression in go1.13.3. I've opened golang/go#35115 to track it.

`@` is not allowed in module paths or import paths, but it should be allowed in directory and file names.

[2019-10-24 04:33] ulrichSchreiner commented on #2441
thanks for the setting. i tried it and now it seems the imports are correctly sorted when i select the suggested package. i'll close this issue as it seems to work now.

[2019-10-24 04:33] #2441 closed

[2019-10-24 04:56] ramya-rao-a commented on #2026
@randalvance Can you open a new issue, share your Go related settings and provide details on the issue you are seeing?

[2019-10-24 04:58] ramya-rao-a commented on #2836
So, we are leaning towards not using `-i` regardless of whether one is using modules or not, correct?

[2019-10-24 06:53] OneOfOne opened #2861 "npm audit warnings due to json-rpc2"
[code]

[2019-10-24 07:05] uudashr commented on #2857
Please try it again. Just fix some and test on my end and it works.

[2019-10-24 07:24] #2857 closed

[2019-10-24 08:14] ezzak commented on #2695
I've noticed that increasing the default timeout for format on save has fixed the issue for me with prettier on WSL.

`"editor.formatOnSaveTimeout": 1500`

[2019-10-24 11:13] randomshinichi commented on #2860
I've found the issue - 'run test' somehow can find the v6 in the import and includes it, but debug does not:

[code]

Test:
[code]

[2019-10-24 12:28] nezorflame commented on #2857
It works, but the version is currently not the latest one. We are continuing investigation in the linked issue.

[2019-10-24 16:30] #2787 closed

[2019-10-24 16:37] segevfiner commented on #2836
Seems like it...? I think the only thing we need to make sure is that we don't use some tool that otherwise depends on `$GOPATH/pkg` and didn't learn to rely on the Go build cache instead.

[2019-10-24 17:08] stamblerre commented on #2811
Oh I'm sorry, I had forgotten the original context of this issue.

My guess here, at least with the `gopls` issue, is that creating the `go.mod` caused indirect dependencies to be added on `golang.org/x/tools`, which then caused a conflict when installing subsequent tools. Perhaps the right approach would be to run `go mod tidy` between calls to `go get` in order to clean up the `go.mod`.

[2019-10-25 07:28] freman commented on #2841
I suspect I am having a related issue, trying to `debug test`

[code]

[code]

[code]

[code]

`run test` for TestFoo works, but `debug test` gives me
`can't load package: package foo: malformed module path "foo": missing dot in first path element`

My launch.json
[code]

My settings.json
[code]

[code]

[2019-10-25 07:42] goonode commented on #2655
It seems to me no one vscode-go developer is interested in this feature until now, and I have very little time to dedicate.
I wrote a bunch of code, that enables the goDebug.ts to recognize a function call inside the debugger console, to try to start the development and I want to post it here. This is a very very basic implementation, it is more like a proof of concept than others.

I hope some vs

[2019-10-25 09:03] OmisNomis commented on #2848
**UPDATE**

I disabled every plugin I have, other than the Go plugin, and the issue persists.

[2019-10-25 09:25] OmisNomis commented on #2848
I've been able to replicate the issue in such a way I can share the steps (code is shared first and steps at the bottom of this comment).

Project structure:

[code]

And the actual files themselves:

[code]

[code]

[code]

[code]

**Steps to reproduce:**

1. Open `main.go` and observe the parameter type of `Hello`

![image](https://user-images.githubusercontent.com/14848394/67559696-5db29480-f71

[2019-10-25 11:45] makkes opened #2862 ""Go to Implementation" says "No implementation found""
**Describe the bug**

I have this project open in VS Code: https://github.com/makkes/auth-service/

Putting the cursor onto an interface in one of the files of the project and then pressing Cmd+Shift+P (on macOS) and selecting "Go to implementation" yields the popup message "No implementation found"

**VSCode settings**
`Preferences: Open Settings (JSON)`
[code]

**Expected behavior**
VS Code shou

[2019-10-25 11:45] makkes commented on #2862
sorry for the bad quality of the screen recording

[2019-10-25 13:02] c3y28 commented on #2505
Still in v1.39.2

[2019-10-25 20:27] floodcode commented on #2858
Having same issues on vscode 1.39.2 + go extension 0.11.7 + golang 1.13.1. And i have no `@` in path.

[2019-10-25 20:34] stamblerre commented on #2858
@floodcode: If you are using `gopls`, can you open a new issue on the [Go issue tracker](https://github.com/golang/go/issues/new) with the information requested in the [Troubleshooting guide](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md)?

[2019-10-25 20:41] floodcode commented on #2858
@stamblerre Sure

[2019-10-25 21:11] floodcode commented on #2858
Investigated a little bit deeper. It also reproduces in go v1.13.3. But once i initialize go module in my project (via `go mod `), it creates `go.mod` file and problem disappears.

[2019-10-26 11:50] oforero commented on #2796
I am having similar issues here.

What I am trying to do is to use a custom GO compiler, I have set the "go.goroot" and the "go.gopath" settings.

`{
    "terminal.integrated.rendererType": "dom",
    "terminal.integrated.shell.osx": "/usr/local/bin/fish",
    "terminal.integrated.experimentalTextureCachingStrategy": "dynamic",
    "editor.fontFamily": "Hack",
    "go.formatTool": "goimports",

[2019-10-26 16:54] oforero commented on #2796
I've been trying to do some debugging. The function `updateGoPathGoRootFromConfig` in `goInstallTools.ts` calls `getGoConfig`, this function returns a broken configuration pointing to the directories starting with `/home`, but I have not been able to determine where the corruption happens nor from where is this information being read.

I think after this line (utils.ts:136) `vscode.workspace.getCo

[2019-10-27 00:03] hhrutter opened #2865 "delve: attaching to pid results into unpredictable display behavior"
Attaching to an already running process or remote debugging using a headless dlv instance
results in unpredictable behavior on hitting breakpoints.

Sometimes local and global vars are displayed, sometimes neither local nor global vars
are displayed and on many occasions global vars are displayed and a running gear next to local vars keeps showing forever.

Sometimes hiding and showing the Variabl

[2019-10-27 08:51] jirfag commented on #816
@ramya-rao-a I've added `"go.testFlags": ["-coverpkg=all"],` to settings, tests are running with this flag, but coverage is shown only in the tested package.

[2019-10-27 10:55] vishal-wadhwa commented on #2865
I recently encountered this very issue. I am connecting to a headless delve instance running inside docker.
The variables pane is completely empty. The call stack is still there. I can see the variable values if I set a watch.

The log output (`"trace": "log"`) in the debug console is showing a json of all the locals. So, the response is being returned. Its just that none of it is being displayed

[2019-10-27 15:14] farzadmf opened #2866 "Tooling "messed up" when using the `cobra` package"
# Update (after I created the original bug)
I noticed something: the issue that I have (details below) is happening when I open a folder inside of which one of the nested folders contains my `go` code, but when I directly open that `go` folder, things seem to be working fine. I don't know if this is the expected behavior or not

---

**Describe the bug**
The tooling is "messed up" in a folder usin

[2019-10-27 16:30] #2842 closed

[2019-10-27 23:30] #1935 closed

[2019-10-28 01:41] ups91 commented on #2807
Here [https://github.com/bazelbuild/rules_go/issues/1844](url) men bump into similar conclusion

[2019-10-28 02:30] #2786 closed

[2019-10-28 02:30] #2801 closed

[2019-10-28 02:58] LuChuanBing commented on #2842
@ramya-rao-a thanks for your help, it had been stuck when I try to step in/over
![2019-10-28_10-54](https://user-images.githubusercontent.com/4416199/67648786-a799b580-f971-11e9-800c-a991c29aa4a1.png)

![Peek 2019-10-28 10-38](https://user-images.githubusercontent.com/4416199/67648794-aec0c380-f971-11e9-87e0-0ca01ade7b34.gif)

[2019-10-28 04:00] ramya-rao-a commented on #2842
Is it stuck event when using delve directly in the terminal?

[2019-10-28 04:49] LuChuanBing commented on #2842
yes, as you can see from the first picture, I set a breakpoint on main.go:14 where myFn call itself , and run to it,
after this, I entered n, but it was struck ,and no response returned.
Maybe it's an issuse of delve

[2019-10-28 06:24] LuChuanBing commented on #2842
Hi @ramya-rao-a , I just trid it ,and  there is no issue running on windows or ubuntu
It just not work on my system , because I am using 5.3.6-1-MANJARO

Again thank you sincerely

[2019-10-28 12:34] sgyy commented on #2505
v1.39.2
Me too!

[2019-10-28 15:56] Nokel81 commented on #2801
Ah I see my problem in my description. It seems to be working for relative imports but not for imports from GOPATH.

[2019-10-29 01:10] lcl101 commented on #2505
Still in v1.39.2

[2019-10-29 01:11] lcl101 commented on #2505
v1.39.2
Me too!!

[2019-10-29 03:00] lcl101 commented on #2505
From client: setBreakpoints({"source":{"name":"main.go","path":"/mnt/d/work/wf/go/src/github.com/lcl101/mytest/test1/main.go"},"lines":[8],"breakpoints":[{"line":8}],"sourceModified":false})
SetBreakPointsRequest
stop here

[2019-10-29 03:01] lcl101 commented on #2505
wsl messsage：
licl      4927  4749  0 10:37 tty3     00:00:00 /home/licl/.vscode-server/bin/6ab598523be7a800d7f3eb4d92d7ab9a66069390/node /home/licl/.vscode-server/extensions/ms-vscode.go-0.11.7/out/src/debugAdapter/goDebug.js
licl      4938  4927  0 10:37 tty3     00:00:01 /mnt/d/work/sf/go/bin/dlv debug github.com/lcl101/mytest/test1 --headless=true --listen=127.0.0.1:45905 --api-version=2 --log

[2019-10-29 10:42] dtibljas12 commented on #2831
Can confirm that insiders works fine with python.

[2019-10-29 14:30] hedefalk opened #2868 "I get formatting even if turned off in settings"
**Describe the bug**
Formats on save no matter settings

**VSCode settings**
[code]

**Expected behavior**
Expected no formatting

**System information:**
 - OS: OSX Catalina
 - Extension Version 0.11.7
 - VS Code Version 1.39.2

**Additional context**
Verified that this plugin is to blame by toggling enable/disable. Tried disabling in user/workspace/folder but no matter what I get formatting.

Pr

[2019-10-29 14:43] hedefalk commented on #2868
I've run a bisect with versions and this bug was introduced between 0.10.1 and 0.10.2. Currently workaround by running 0.10.1 to be able to save without formatting on a legacy code base…

![image](https://user-images.githubusercontent.com/116520/67777919-bf049b80-fa62-11e9-8513-550b8e3248b6.png)

[2019-10-29 14:51] hedefalk commented on #2868
Really strange because I can't see anything obvious here: https://github.com/microsoft/vscode-go/compare/0.10.1...0.10.2

However, I've really nailed it down to 0.10.2. Previous to that, my settings of not doing formatting are honoured, but anything later than that and I get formatting on save no matter what.

[2019-10-29 18:38] steelx opened #2869 "[GO] Auto complete randomly stops"
Issue Type: <b>Bug</b>

Autocomplete and IntelliSense doesn't work for GO file. It used to work fine earlier.

Even auto-import doesn't work, though it imports after the file is saved after about 1-2 seconds.

Extension version: 0.11.7
VS Code version: Code 1.39.2 (6ab598523be7a800d7f3eb4d92d7ab9a66069390, 2019-10-15T15:33:00.827Z)
OS version: Darwin x64 16.7.0

<details>
<summary>System Info</sum

[2019-10-30 09:11] dingrui37 opened #2871 "Auto convert 4 spaces to Tab when press CTRL + S"
When I write golang code with vscode,  I want to use formatOnSave feature, but I don't want to convert tabs automatically. If I  press CTRL + S, it will convert 4 spaces to tab. I used Google to find many related problems. My solution is as follows:
1. Modify go format source code in order to use 4 spaces instead of tab
`/usr/local/go/src/go/format/format.go`
![image](https://user-images.githubuse

[2019-10-30 09:20] cbluth commented on #2849
i am having the same issue, as reported here: https://github.com/microsoft/vscode/issues/83532

Here is copypasta from that issue:
---
The Issue:
[code]

![image](https://user-images.githubusercontent.com/6709636/67765922-9625db80-fa4d-11e9-8356-97a6bbe767c5.png)

vscode is failing to import the "C" module when it is apart of a local module.
all tooltips then stop working.

- VSCode Version:
[code

[2019-10-30 09:39] cbluth commented on #2849
i have just tried downgrading to `v1.12` and it still has the same issue.

[2019-10-30 12:21] lexxish opened #2872 "Error: Error: spawn UNKNOWN"
**Describe the bug**
"Error: Error: spawn UNKNOWN" when opening vscode and go to declaration doesn't do anything.

**VSCode settings**
`Preferences: Open Settings (JSON)`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install Visual Studio Code
2. Install GoLang plugin
3. Set user system env variable GOPATH to %USERPROFILE%\code
4. Restart VSCode
5. Open a GoLang Project
6. See error

[2019-10-30 14:38] cbluth commented on #2849
@dingrui37
your screenshot is not very clear, is your issue in a vendor'ed module, or a local module? or is it in the `main` module of the project?
i can only reproduce the issue if it is in a module, if its in the `main`, then it is working fine for me.

[2019-10-30 20:34] pforpallav commented on #1983
@stamblerre ping :)

[2019-10-30 22:04] stamblerre commented on #1983
I believe that the vendor folder should be in the module root. That is where `go mod vendor` command places the vendor folder. For more advice on vendoring with modules, I would advise asking questions in the `#modules` channel of the [Gophers Slack](https://invite.slack.golangbridge.org/).

[2019-10-30 22:12] hhrutter commented on #2865
I observe smth different with `"trace":"log"`
In my case the debugger pane usually shows the global vars and a busy gear next to an empty local vars section. This is the corresponding log output indicating we are still waiting for the json response containing the local vars:

[code]

[2019-10-31 01:18] colinplamondon commented on #2796
Encountering the same issue - clean Go install, nothing fancy going on, everything is in ~/.go.

When I run any of the individual commands, like `go get -v github.com/mdempsky/gocode`, that works in both the Terminal, and the VS Code Integrated Terminal.

I'm super new to golang, so there's every chance I'm doing something obviously wrong here 👍

### Example Error Output:
[code]

### Go env:

[cod

[2019-10-31 03:16] stamblerre commented on #2849
`gopls` does not yet support cgo. You can track updates here: https://github.com/golang/go/issues/32898.

[2019-10-31 09:23] cristaloleg opened #2873 "Coverage on a single file (via run file tests)"
**Is your feature request related to a problem? Please describe.**
When I'm running tests from 1 specific file (via `run file tests` on the top of the file), the coverage isn't calculated.

**Describe the solution you'd like**
`run file tests` should use the same configuration as run single test ( `"go.coverOnSingleTest"` see https://github.com/Microsoft/vscode-go/issues/1637)

**Describe alternat

[2019-10-31 16:01] imjuanleonard opened #2874 "Add import doesn't show all package from gopkgs"
**Describe the bug**
Go: Add import doesn't show all package from gopkgs

**VSCode settings**
`Preferences: Open Settings (JSON)`
[code]

gopkgs show that I have testify and many other package but it doesn't show on go import

gopkgs sample result
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to vscode
2. use Go: Add Imports
3. Package not found

**Expected behavior**
I should be

[2019-10-31 16:05] stamblerre commented on #2869
Can you share your VSCode settings (`Ctrl + Shift + P -> Preferences: Open Settings (JSON)`). Are you using the Go language server?

[2019-10-31 16:16] stamblerre commented on #2862
The language server only just added the "Go to implementation" feature, so you will need to use `gopls` at master to have that command work.

[2019-10-31 16:23] stamblerre commented on #2868
Are you using the language server or are the VSCode settings above the only thing in your settings.json file?

[2019-10-31 16:28] stamblerre commented on #2866
What is the output of `gopls -rpc.trace -v check path/to/file.go`?

[2019-10-31 16:50] jennielees opened #2875 "Documentation nit: Gometalinter still referenced in Wiki"
`gometalinter` is deprecated as of https://github.com/microsoft/vscode-go/pull/2726 (issue https://github.com/microsoft/vscode-go/issues/2509) but the ["Go tools that the Go extension depends on"](https://github.com/Microsoft/vscode-go/wiki/Go-tools-that-the-Go-extension-depends-on) wiki page, which is linked directly from the extension's installation page, still refers to it at the bottom of the

[2019-10-31 19:32] stamblerre opened #2878 "Manage tool dependencies using a go.mod"
This extension may not be a module, but it does depend on a number of Go tools at specific versions. We should be able to manage these dependencies by using a tools-specific `go.mod`, as described here: https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module.

[2019-10-31 20:32] stamblerre commented on #2878
Actually, after some more thought, I don't think this will fix any of the issues that we're encountering.

[2019-10-31 20:32] #2878 closed

[2019-11-01 02:40] farzadmf commented on #2866
Thank you @stamblerre for your reply

Context: my actual `go` folder is located in `/home/farzad/bin/my-system-files/mygo/mytool`, and I run this command
[code]
and the output seems to be different based on where I am:

---

Running from `/home/farzad/bin/my-system-files/mygo/mytool`:
[code]

---

Running from `/home/farzad/bin/my-system-files` (which I think corresponds to how I get the errors be

[2019-11-01 08:57] hedefalk commented on #2868
Doesn't seem to matter if I use lang server or not.

On Thu, Oct 31, 2019 at 5:23 PM Rebecca Stambler <notifications@github.com>
wrote:

[2019-11-01 12:34] makkes commented on #2862
Thanks, @stamblerre. However, I checked out the repo from https://go.googlesource.com/tools and did a `go install`, restarted VS Code but am still getting the same message.

[2019-11-01 14:47] Nokel81 opened #2879 "Support new binary literals"
**Describe the bug**
The new binary numeric literal syntax is not highlighted as a number from GO 1.13

**To Reproduce**
Steps to reproduce the behavior:
1. Use either `0b111` or `0B101`or something like that
2. Notice that it is black and not coloured the same as a interger base 10

**Screenshots**
![Screen Shot 2019-11-01 at 10 45 46 AM](https://user-images.githubusercontent.com/8225332/68032783

[2019-11-01 17:25] stamblerre commented on #2862
I actually just noticed a small bug in the extension that prevents it from working. It will be fixed after https://github.com/microsoft/vscode-go/pull/2876 is merged.

[2019-11-01 17:27] stamblerre commented on #2868
Ok, so then it sounds like an actual bug in the VSCode extension. Looks like you will want to add the following to your settings:

[code]

[2019-11-01 17:44] stamblerre commented on #2866
Yeah, with modules, `gopls` requires that you open your VSCode window at the module root (the directory containing the `go.mod` file).

[2019-11-01 19:16] farzadmf commented on #2866
I guess it has something to do with this issue golang/go#32394, am I right?

[2019-11-01 19:26] stamblerre commented on #2866
Yes, exactly.

[2019-11-01 21:46] TrueCarry opened #2880 "Allow to disable active debug session warning"
**Is your feature request related to a problem? Please describe.**
New feature to show warning when you're saving file that's being debugged is very annoying. https://github.com/microsoft/vscode-go/issues/2559

**Describe the solution you'd like**
Can you please add setting to turn it off?

[2019-11-02 13:39] wujiaming88 opened #2881 "When does vscode support go mod"

[2019-11-02 17:34] onwsk8r opened #2882 "goimports not adding imports"
**Describe the bug**

With `go.formatTool` set to either `goimports` or `goreturns`, imports are not added, but they are rearranged and deleted. This is using `Remote - WSL` and modules, and running the same command from a WSL terminal works as expected.

**VSCode settings**

[code]

**To Reproduce**

Hop on down to your shell and

[code]

Then, in this case, I'm writing like 50 LOC to interact wi

[2019-11-02 17:51] jlmelville commented on #2695
The solution given by @ezzak also worked for me with formatting python code with the `black` tool, using WSL, so it seems like at least some of these problems are just due to needing a longer timeout due to the latency introduced by using the `Remote - WSL` extension.

[2019-11-03 00:30] farzadmf commented on #2866
Thank you @stamblerre , so I'll close this as this is not applicable unless that one's fixed.

Also, while I have you here 😝, can I bother you with another question:

I have a Linux development environment, and I wanted to code something for Windows using [npipe](https://github.com/natefinch/npipe) package.
It turns out that the package is "windows-only" (all the files have `_windows` suffix), and

[2019-11-03 00:30] #2866 closed

[2019-11-03 16:32] ramya-rao-a commented on #2881
Please see [Go modules support in VS Code](https://github.com/microsoft/vscode-go/wiki/Go-modules-support-in-Visual-Studio-Code)

[2019-11-03 16:32] #2881 closed

[2019-11-03 16:39] ramya-rao-a commented on #2879
This is an upstream issue with the grammar being used. Please see #2735

[2019-11-03 16:39] #2879 closed

[2019-11-03 16:40] ramya-rao-a commented on #2875
Fixed!

Thanks for reporting & Happy Coding!

[2019-11-03 16:40] #2875 closed

[2019-11-03 16:47] ramya-rao-a commented on #2874
Thanks for reporting @imjuanleonard, I have a few questions
- Do you see this only when using modules?
- When you ran `gopkgs` did you use the `-workDir` flag? We use the directory to which the current file belongs as the value for this flag when we call `gopkgs`

[2019-11-03 16:53] ramya-rao-a commented on #2873
We have settings for applying coverage when tests in entire package is run and when a single test is run
- `go.coverOnTestPackage`
- `go.coverOnSingleTest`

PRs are most welcome to add another setting `go.coverOnSingleTestFile` to extend this feature to apply to when tests in the file are run.

Code Pointers:
- [Set a local dev environment of the extension](https://github.com/microsoft/vscode-go/w

[2019-11-03 16:59] ramya-rao-a commented on #2871
- In Step 3, how are you re-installing `goimports`? Are you using the `go install` command from the terminal or using the extensions `Go: Install/Update Tools` command?
- Your approach seems to be to change the source code of `goimports`. I would suggest to test your change by running `goimports` in the terminal first before trying it in VS Code.

[2019-11-03 17:00] ramya-rao-a commented on #2869
@steelx Please share your Go related settings as suggested by @stamblerre above

[2019-11-03 17:27] imjuanleonard commented on #2874
oh cool and strange, it is coming now. Maybe there are some kind of cache on my PC.

Thanks for checking out  ramya closing this issue now :)

[2019-11-03 17:27] #2874 closed

[2019-11-04 01:34] naivefun commented on #2869
Typescript the same. Newly created types/files randomly never appear in type list until restart the IDE. Really drive me crazy.

[2019-11-04 02:56] dingrui37 commented on #2871
Yes, I have reinstalled `goimports`  ,  and the picture in step3 is the result of using goimports manually.

[2019-11-04 05:48] #2683 closed

[2019-11-04 05:53] ramya-rao-a commented on #2862
Please try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix for this

[2019-11-04 05:53] ramya-rao-a commented on #2828
Please try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix for this

[2019-11-04 05:53] ramya-rao-a commented on #2813
Please try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix for this

[2019-11-04 05:54] ramya-rao-a commented on #2664
Please try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix for this

You can use the `go.languageServerExperimentalFeatures` setting to disable the "highlight" feature when using the language server

[2019-11-04 05:55] ramya-rao-a commented on #2683
Please try the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix for this

[2019-11-04 05:56] ramya-rao-a commented on #2847
Thanks for reporting @ddyok!

Closing in favor of the upstream issue

[2019-11-04 05:56] #2847 closed

[2019-11-04 05:58] ramya-rao-a commented on #2848
Apologies for not getting to this sooner @OmisNomis

@stamblerre The language server is powering the auto completion & diagnostics. Can you please take a look here?

[2019-11-04 05:59] ramya-rao-a commented on #2849
Thanks for reporting @dingrui37 and @cbluth

Closing in favor of the upstream issue

[2019-11-04 05:59] #2849 closed

[2019-11-04 06:01] ramya-rao-a commented on #2850
Thanks for reporting @smyrman

#597 was related to generating of tests, where as I believe what you are asking for is running of the sub tests, did I get that right?

[2019-11-04 06:02] ramya-rao-a commented on #2850
Can you provide a small sample file with subtests that I can use to check the current behavior?

[2019-11-04 06:03] ramya-rao-a commented on #2858
Since it has been established that this is due to behavior changes in Go, am closing this issue in favor of the upstream issues as there is no action item on the extension's side at the moment

[2019-11-04 06:03] #2858 closed

[2019-11-04 06:08] ramya-rao-a commented on #2860
The `run test` code lens uses the `go test` command to run your tests
The `debug test` code lens launches uses the `dlv test` command and starts delve to debug your tests. Its delve which then builds your package and then starts debugging it.

When you added a debug configuration to launch.json file, how did you then debug?
- Using the play button in the debug pane
- Pressing F5
- Using the `debug

[2019-11-04 06:11] ramya-rao-a commented on #2868
@hedefalk When using the language server, please add what @stamblerre suggested above and let us know if that helps

[2019-11-04 06:12] ramya-rao-a commented on #2869
@naivefun Typescript features are driven out of the box in VS Code, please log an issue at https://github.com/microsoft/vscode

[2019-11-04 06:14] ramya-rao-a commented on #2871
Try the command `Convert indentation to Spaces` and see if that helps?

[2019-11-04 06:23] ramya-rao-a commented on #2831
Thanks @dtibljas12

[2019-11-04 06:23] #2831 closed

[2019-11-04 07:29] hedefalk commented on #2868
@ramya-rao-a Error persists without the language server.  `"source.organizeImports": false` makes no difference.

[code]

Still formats. Also, still formats without language server so it's not that one.

[2019-11-04 08:06] smyrman commented on #2850
Sorry, when navigating back and forth I managed to isnert the wrong sub-test related issue link.
The intended linked issue was #1748, not 597. Will update the description with this.

[2019-11-04 08:18] smyrman commented on #2850
A straight forward failing sub-test would be.

[code]
Then, be able to run either just `TestFoo/foo` or `TestFoo/bar`, preferably without typing the whole name.

Typing the whole name gets inconvinient as the sub-test name gets longer, such as for instance here:
- https://github.com/searis/subtest/blob/3242f2e96b8a554934c49f1f14f8a127e9e5ab07/check_test.go#L11

[2019-11-04 10:51] makkes commented on #2862
@ramya-rao-a @stamblerre I have toe Go extension v0.11.8-beta.4 now but I'm still getting the same error, even using `gopls` from the master branch.

[2019-11-04 11:03] makkes commented on #2862
Adding some more context; here's the output from the gopls output:

[code]

[2019-11-04 15:16] jeffbean commented on #2830
This was the absolute path. My findings were that the variable passed into `execFile` was always absolute. But once the command is executed it was then just `go`.

This is my current thought, I have no definitive proof and not versed in node/typescript enough to definitely make this case. But the behavior of the inputs and outputs of this execFile seem to be doing something implisit with paths.

[2019-11-04 16:50] cpoole commented on #2865
I have this same issue. I am running delve in docker and 95% of the time the panes are totally empty. But 5% of the time after hiding or just random clicking they will display.

Similar to hhrutter I see all of the variables in the json `VariablesResponse`

my launch.json:

[code]
[code]
I have basically stock global vscode settings for golang

[2019-11-04 17:45] zrhmn commented on #2858
_(Posted this reply earlier on another issue by mistake)._

For other people following this issue, the problem persists even with go1.13.4.

The fix was not backported to 1.13 because [the cherrypick was rejected](https://github.com/golang/go/issues/35119). I would have preferred to be a part of that discussion, but it's my own fault for not following the maze of issue-links. Too late now. 🤷‍♂

Th

[2019-11-04 18:06] ramya-rao-a commented on #2862
@stamblerre ?

[2019-11-04 18:24] ramya-rao-a commented on #2850
Thanks for that clarification

The output pane only allows links that take you to a particular file or an external link. As far as I know, having a link that do custom action on clicking is not a feature supported in VS Code

In the code lense, add a link to run a sub-test. I am a bit on thin ice here, but since go test results are cached, if we could easily access this cache, perhaps it's possibl

[2019-11-04 18:40] stamblerre commented on #2862
@makkes: Can you add the full debug log details? Looks like the stack trace from the crash is cut off there.

[2019-11-04 18:41] stamblerre commented on #2868
Just to confirm, are you restarting the VSCode window when you change a setting? That may be necessary for the setting to take effect.

[2019-11-04 19:12] hedefalk commented on #2868
yes, if by restart we agree that reload is good enough.

On Mon, 4 Nov 2019, 19:42 Rebecca Stambler, <notifications@github.com>
wrote:

[2019-11-04 19:19] stamblerre commented on #2866
Yes, that is another known issue: https://github.com/golang/go/issues/29202.

[2019-11-04 19:36] ramya-rao-a commented on #2868
@hedefalk If you are seeing the formatOnSave setting being ignored even when not using the language server, then I suspect that one of your other extensions might be the culprit.

Can you disable all your extensions other than Go and retry?

[2019-11-04 20:08] hedefalk commented on #2868
I currently have 44 enabled plugins and I'm not in the position to disable them all right now. I'm pretty sure this plugin is the culprit though. If I disable it or downgrade it to 0.10.1, the unwanted formatting disappears. Do you suggest that there is some kind of interaction of another non-go plugin (I have no other plugins related to Go) that for some reason sends an event that makes this plug

[2019-11-04 20:45] stamblerre commented on #2848
We have not yet finished implementing support for watching files changed outside of the editor in `gopls` (see https://github.com/golang/go/issues/31553), which is why you are seeing this behavior.

[2019-11-05 00:13] ramya-rao-a commented on #2868
The only [change](https://github.com/microsoft/vscode-go/commit/778b770930b143a37024ef3f925dca877bca8427) between 0.10.1 and 0.10.2 related to formatting is the one where the below settings were made default

[code]

You can look at rest of the commits [here](https://github.com/microsoft/vscode-go/commits/0.10.2).

I noticed the settings you shared in https://github.com/microsoft/vscode-go/issues/

[2019-11-05 04:39] ramya-rao-a commented on #2260
The latest update to this extension (0.11.8) has the fix for this.

Thanks @DanMaples for reporting and @scriptonist for the fix

[2019-11-05 04:39] #2260 closed

[2019-11-05 04:40] ramya-rao-a commented on #2813
The latest update to this extension (0.11.8) has the fix for this.

Thanks for reporting @cameron-elliott and @karthikraobr for the fix

[2019-11-05 04:41] ramya-rao-a commented on #2683
The latest update to this extension (0.11.8) has the fix for this.

Thanks for reporting @tj and for the fix @karthikraobr

Happy Coding!

[2019-11-05 04:41] ramya-rao-a commented on #2828
The latest update to this extension (0.11.8) has the fix for this.

Thanks for reporting @SteelPhase

Happy Coding!

[2019-11-05 04:41] #2828 closed

[2019-11-05 10:32] smyrman commented on #2850
For solution 2 alternative B, the output from `go test -json` is probably not too hard to parse.

Here is an example:

Given the following test file `play/footest/pkg_test.go`:
[code]
Output of `go test -json`:
[code]
Notice that each line is a separate JSON document, and there is no surrounding square brackets `[]`.

Output of `go test .`:
[code]

We can find the following fields in the output:
-

[2019-11-05 10:45] AlphaWong opened #2886 "golang.org/x/tools/gopls version need to update"
The golang package version has been updated

[code]

# original (v0.1.7)
[code]

# latest
[code]

# Library
## original (v0.1.7)
[code]

## latest
[code]

[2019-11-05 10:55] giniedp opened #2887 "go vet errors are swallowed when using multiple build tags"
In our project we use multiple tags to distinguish between different kind of test files, for example:

- `name_unit_test.go`
- `name_integration_test.go`
- `name_mock_test.go`

For us the `go vet` errors are not shown in vscode, for these kind of test files.

**To Reproduce**
1. create a new project with a basic `main.go` file
2. create the VSCode workspace settings like this
[code]

3. add a `my_

[2019-11-05 10:57] AlphaWong commented on #2886
this line should have a problem as the `0.1.7` and latest branch have breaking change
[code]
[code]

[2019-11-05 11:09] AlphaWong commented on #2886
# workaround
[code]

[2019-11-05 12:14] ArifulProtik opened #2888 "Sometimes Golang intelligence not working (go imports etc etc)"
- VSCode Version:1.39.2
- OS Version: Windows 10 Pro (1903)

Sometimes Vscode doesn't import existing packages.
Sometimes Vscode doesn't show intelligence code suggestions
Linting gets superslow

[2019-11-05 13:40] EliasCK commented on #2868
I'm also experiencing this issue.

![image](https://user-images.githubusercontent.com/11874914/68212470-dc44e700-ffd9-11e9-835b-7bd9c8be6487.png)

No way to turn it off, I'm literally using Notepad right now lol.

[2019-11-05 14:42] makkes commented on #2862
Here's the complete log: https://filebin.net/rpbqx35insw63aqe/gopls.log?t=7k00k42z

[2019-11-05 16:13] matloob commented on #2862
The implementation support that was submitted only supported implementations within the same package. Is the implementation of the interface in the same package? If it is not, then I'll mark this as a duplicate of https://github.com/golang/go/issues/32973, and we can follow along there.

If the implementation is in the same package, this is a bug, and I think we'll need more concrete reproduction

[2019-11-05 17:27] stamblerre commented on #2886
@ramya-rao-a: I believe that https://github.com/microsoft/vscode-go/pull/2877 will fix this issue. The problem is that if multiple packages installed depend on different versions of x/tools, the temporary `go.mod` file that is used to support Go 1.11 may cause conflicts. This shouldn't be much of a problem since `gopls` will be auto-updated, but it will be an issue for people installing multiple t

[2019-11-05 17:33] stamblerre commented on #2888
Can you share your VSCode settings (`Ctrl + Shift + P -> Preferences: Open Settings (JSON)`)?

[2019-11-05 18:19] randomshinichi commented on #2860
Hi, here is the information. I still cannot figure out why it is using v1 of my project, not v6. I have checked all my import paths in my source files.
[code]

/tmp/vscode-go-debug.txt
[code]

[2019-11-05 20:04] stamblerre commented on #2888
Are you using Go modules for your projects?

[2019-11-05 20:06] ArifulProtik commented on #2888
Yeah i am Using Go Modules

[2019-11-05 20:08] stamblerre commented on #2888
I would suggest enabling the use of the Go language server when you are using modules. It is designed to work with modules, so it will work better than the default tooling.

[2019-11-05 20:11] ArifulProtik commented on #2888
It is Enabled, But still, the same issue occurring

[2019-11-05 20:39] stamblerre commented on #2888
Make sure to reload your VS Code window after enabling the language server. It's also difficult to debug your issue as it sounds very general. Can you attach a specific repro case of an import not being added when expected, or some other example?

[2019-11-05 22:01] matloob commented on #2862
Okay, I'll close this bug in favor of golang/go#32973. Let's continue the discussion there.

Thanks!

[2019-11-06 01:49] ramya-rao-a commented on #2886
0.11.9 has been published with the fix by @stamblerre in #2877

[2019-11-06 01:50] ramya-rao-a commented on #2886
@AlphaWong Can you share if the fix in the latest version helps?

[2019-11-06 02:26] ramya-rao-a commented on #2862
Closing in favor of the upstream issue

Thanks @matloob

[2019-11-06 02:26] #2862 closed

[2019-11-06 03:01] AlphaWong commented on #2886
I check my vscode and find that my current version is 0.11.8
let me upgrade it and check it again

[2019-11-06 03:05] AlphaWong commented on #2886
@ramya-rao-a it works. Thx community!

[2019-11-06 03:05] #2886 closed

[2019-11-06 08:29] calmkart opened #2889 "debug the golang project use root privilege"
**Is your feature request related to a problem? Please describe.**

i want to debug a golang project in vscode, but the project need root privilege(i can run my project "sudo go main.go").the vscode debug launch.json for golang has no privilege settings.i try to find a way to debug in root, but there is not a easy method.

**Describe the solution you'd like**

add a root privilege settings option

[2019-11-06 08:58] makkes commented on #2862
Thanks @ramya-rao-a @stamblerre @matloob for your support!

[2019-11-06 15:55] webRat opened #2890 "Error: Command failed: /usr/local/go/bin/go get -v golang.org/x/tools/gopls - not enough arguments in call to cmd.New"
**Describe the bug**
Updating gopls

**VSCode settings**
`Preferences: Open Settings (JSON)`
[code]

**To Reproduce**
`cmd+shift+p` > `Go: Install/Update Tools` > `Select all`

**Expected behavior**
Expected gopls to update

**System information:**
 - Extension Version 0.11.9
Version: 1.40.0-insider
Commit: 515f496d9a7617caf07f38298f610920f60834d6
Date: 2019-11-05T14:29:56.814Z
Electron: 6.1.2
Chr