[2019-11-06 18:05] jadarsie commented on #2610
@ramya-rao-a do you expect [this](https://github.com/microsoft/vscode-go/issues/2610#issuecomment-508963280) approach to work with the [remote development](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh) extensions?

My use case is similar, I also need to run dlv as root. I can debug a project sitting on the server just fine, but my `alternateTool` is not being pic

[2019-11-06 20:24] webRat commented on #2890
Looks like it was fixed as of this afternoon.

[code]

[2019-11-06 20:24] #2890 closed

[2019-11-06 20:39] keyoti opened #2891 "Documentation issue for remote debugging"
Reading https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#remote-debugging

It gives the following code snippets

`$ dlv debug --headless --listen=:2345 --log --api-version=2`

and

`$ dlv debug --headless --listen=:2345 --log -- -myArg=123`

however these won't work (or didn't for me) you need to specify the package to run, eg.

`$ dlv debug --headless --listen=:2345 --l

[2019-11-06 22:01] hedefalk commented on #2868
@ramya-rao-a that seems to be it! Finally got rid of it!

[2019-11-06 22:01] #2868 closed

[2019-11-07 16:16] Jacalz opened #2892 "Add syntax highlighting for structs"
**Is your feature request related to a problem? Please describe.**
I have been using Atom with the go-plus extension and the syntax highlighting is just wonderful, but switching over to the, I see some things that aren't highlighted correctly compared to go-plus. The frustration comes with the fact that structs and struct fields are uncoloured, it makes it hard to see it in my opinion.

**Describe

[2019-11-07 18:21] vk7055 opened #2893 "Go to Definition Not Working"
I am using the Go extension since a month. Its current version is 0.11.9

Go to definition never worked for me across my own packages.

Go to definition works for built-in packages and within the package.

[2019-11-07 19:00] #2888 closed

[2019-11-07 19:42] lfourky opened #2894 ""debug this test" option from editor not parsing flags"
**Describe the solution you'd like**
I would like to be able to pass flags to the debugger when debugging from the editor.

**Describe alternatives you've considered**
I was able to run `dlv` and pass flags to it from the terminal, so I guess there must be a way to pass flags when using the "debug this test" from the editor, as well.

Example code that I would like to be able to debug from editor:

[2019-11-07 20:18] stamblerre commented on #2893
Can you share your VS Code settings (`Ctrl + Shift + P -> Preferences: Open Settings (JSON)`)? Are you using the language server?

[2019-11-07 22:45] kuskmen commented on #2505
I don't think it will be very much helpful but I hope at least it gets some attention by saying that this still doesn't work

Version: 1.40.0 (system setup)
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:02:13.381Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-11-08 00:22] hyungjic commented on #2505
Same here, it worked on previous versions, but it stopped working on the latest version. Interesting thing is that it's still working with 'Remote-SSH'

Version: 1.40.0 (user setup)
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:02:13.381Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.17763

[2019-11-08 03:30] vk7055 commented on #2893
This is my `settings.json`
[code]
I am not using Language Server.

[2019-11-08 11:04] chmike opened #2895 "Go tools not working anymore with vscode 1.40"
No go extension features seam to work anymore with vscode 1.40 that was just upgraded. Don’t know how to reverse to a previous version.

Some of the problems I see:
- Can’t ctrl click on functions to jump to definition.
- Clickable commands to execute tests in test files are not visible anymore.
- Context menu don’t show correct options anymore. I guess intellisense, or whatever it is, is not work

[2019-11-08 13:14] chmike commented on #2895
Sorry for the noise, error is on my side.

After restarting vscode for the nth time, I finally saw a notification window telling me that `go env` did not work. No go binary could be found. For an unknown reason the directory `/usr/local/go` was deleted.

After restoring the directory and restarting vscode, the problem was resolved.

[2019-11-08 13:14] #2895 closed

[2019-11-08 16:52] ramya-rao-a commented on #2880
Thanks for reporting @TrueCarry

We can add a button `Don't show again` that will persist your choice and not show the warning again.

PRs are most welcome to do this
Code Pointers:
- [Set up local dev env for the extension](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code)
- The place to make the edits is https://github.com/micros

[2019-11-08 16:54] ramya-rao-a commented on #2892
Thanks for reporting @Jacalz

The colors are controlled by the grammar being used and the grammar is part of the main VS Code project. Therefore, please log this issue in the [VS Code repo](https://github.com/Microsoft/vscode)

In order for the folks at VS Code to repro this easily, please include a code snippet that they can copy and paste into a Go file.

[2019-11-08 16:54] #2892 closed

[2019-11-08 16:59] ramya-rao-a commented on #2893
Thanks for reporting @vk7055

Are you using Go modules? If so, then the language server would be the tool of choice to provide better support.

If not, then we use the [godef](https://github.com/rogpeppe/godef) tool to provide definitions. Can you use this tool from the terminal and see if it gives you expected results?

[2019-11-08 18:31] Jacalz commented on #2892
Alright, I will make sure to file the bug upstream then :slightly_smiling_face:

[2019-11-09 18:45] shane-lawrence commented on #2759
Great, thanks!

[2019-11-10 02:04] wangguoxi opened #2896 "Go to definition not working when using Go modules"
1、my workspace  settings.json  "go.useLanguageServer": true,
2、go env
GO111MODULE="off"
GOARCH="amd64"
GOBIN=""
GOCACHE="/data/home/wang/.cache/go-build"
GOENV="/data/home/wang/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GONOPROXY=""
GONOSUMDB=""
GOOS="linux"
GOPATH="/data/home/wang/go"
GOPRIVATE=""
GOPROXY="direct"
GOROOT="/usr/lib/golang"
GOSUMDB="off"
GOTMPDIR=""
GOT

[2019-11-10 04:03] #2873 closed

[2019-11-10 20:34] ramya-rao-a commented on #2759
Thanks @stamblerre

Closing this issue in favor of the upstream issue https://github.com/golang/go/issues/34410

[2019-11-10 20:34] #2759 closed

[2019-11-11 01:26] simonchan2013 commented on #2871
I have the same issue. When I save *.go file, it will convert space to tab. How can I disable this feature? Thanks

[2019-11-11 02:40] ramya-rao-a commented on #2871
@simonchan2013 You can disable the format on save feature by adding the below to your settings
[code]

[2019-11-11 03:03] simonchan2013 commented on #2871
![image](https://user-images.githubusercontent.com/5954048/68558026-ba80af80-0472-11ea-8762-d0bfbf3c0c91.png)
I have added this item. But it does not work

[2019-11-11 03:59] ramya-rao-a commented on #2871
@simonchan2013 Can you share all the go related settings you have?

[2019-11-11 04:34] simonchan2013 commented on #2871
the code below is all the go related settings
[code]

and my go version is: go version go1.13.1 darwin/amd64

[2019-11-11 06:46] #2869 closed

[2019-11-11 16:20] issenn commented on #1578
add `[[ -z "$GOPATH" ]] && export GOPATH="${HOME}/go"`  into `~/.zshrc` or `~/.zshenv` or `~/.zprofile` or `~/.bashrc`.
and add settings into workspace json
[code]

[2019-11-11 16:51] alfmos opened #2897 "vscode-go failing to update go tools"
### What version of Go, VS Code & VS Code Go extension are you using?
go version go1.13.4 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
1.40.0
86405ea23e3937316009fc27c9361deee66ffbf5
x64
- Check your installed extensions to get the version of the VS Code Go extension
Name: Go
ID: ms-vscode.go
Description: Rich Go language support for Visual Stud

[2019-11-11 17:35] stamblerre commented on #2897
This may very well be a bug in the way that vscode-go installs these tools, but I've never seen such an error before. @jayconrod - have you ever encountered something like this?

[2019-11-11 18:34] stamblerre commented on #2896
Go to definition should work for modules, with or without the language server. To understand a bit more what's going on with the language server, could you try running `gopls -rpc.trace -v check /path/to/file.go` inside of your module?

[2019-11-11 19:04] OneOfOne commented on #2897
Probably related to https://github.com/golang/go/issues/35043, windows is wonderful like that.

[2019-11-12 00:50] lggomez commented on #1529
I came back to this after these months and I've fixed the remaining issues, now the branch is up to date and basically being able to work with traces (github does not support webm in comments so here goes the compressed demo):

[Screencast 2019-11-11 20:36:01.webm.zip](https://github.com/microsoft/vscode-go/files/3833662/Screencast.2019-11-11.20.36.01.webm.zip)

And the test app with its correspon

[2019-11-12 06:17] springzero opened #2898 "debug Lost print"
[code]
If you debug this code, you will find that sometimes "end2" and "end3" will not print to the terminal when step by step debugging

[code]

[2019-11-12 10:28] byteshiva opened #2899 "Unable run build using Tasks - throws /bin/bash go command not found"
Issue Type: <b>Bug</b>
I'm getting below error when executing a simple go file using a vscode task. I'm using a go version manager hence there is not global go Binary installed on OS.

[code]

[code]

Extension version: 0.11.9
VS Code version: Code 1.40.0 (86405ea23e3937316009fc27c9361deee66ffbf5, 2019-11-06T18:14:08.920Z)
OS version: Linux x64 5.3.0-21-generic

[2019-11-12 12:52] alfmos commented on #2897
As a confirmation, reopening vs code asked for gopls update, and this time it reports the exact command failing, and as you supposed it's a rename. Here the output:

Using the value d:\go from the go.toolsGopath setting.
Installing 1 tool at d:\go\bin in module mode.
  gopls

Installing golang.org/x/tools/gopls FAILED

1 tools failed to install.

gopls:
Error: Command failed: c:\go\bin\go.exe get

[2019-11-12 14:55] jayconrod commented on #2897
@alfmos The errors you're seeing are reported by the go command after it extracts a module zip file, as it tries to move the extracted directory into place in the module cache.

Could you take a quick look in the module cache and see if there is a permissions problem?

* Does the directory `d:\go\pkg\mod\golang.org\x\tools@v0.0.0-20191108194844-46f05828f2fe` exist? Is it owned by another user? Doe

[2019-11-12 15:01] jayconrod commented on #2897
@OneOfOne I don't think golang/go#35043 is the cause. Module zip directories are not set to read-only until after they are renamed. I'm guessing the cache is either in some partial state it can't recover from or directories in it are owned by multiple users.

[2019-11-12 15:07] csmadhav commented on #2880
Hey! I would like to work on this!

[2019-11-12 15:18] segevfiner commented on #2836
Looks like github.com/mdempsky/gocode (non-modules) still relies on "go/pkg" installed packages as it doesn't show any completion for me when I disable `go.installDependenciesWhenBuilding`.

[2019-11-12 16:03] jayconrod commented on #2897
cc @bcmills

[2019-11-12 19:16] lggomez commented on #2898
I can reproduce it on linux also. This looks like something on the debug output console... maybe VS has trouble appending results in some cases when they're not newline entries?

The debug adapter obtains the values successfully always, as shown from the verbose output (which works becase each result is shown on its own line):
[code]

[2019-11-13 00:26] byteshiva opened #2901 "Unable to build on vscode"
What did you do?
I'm trying to build go source file using vscode-go ~~gopls~~ on Microsoft vscode. Instead of executing go build on the specific file, it fails to execute the build command.
note:
I'm using go version manager to maintain its different go runtimes.

Here is the code.
https://play.golang.com/p/HhCLwAZhaBk

What did you expect to see?
It should build a specific file.

What did you see

[2019-11-13 00:28] lggomez commented on #2841
VS Code sometimes behaves in funky ways when opening modules projects with a nested layout

@arjunmayilvaganan I made the repro project you described here: [test_2841_base.zip](https://github.com/microsoft/vscode-go/files/3838760/test_2841_base.zip)

The only thing I can manage to do so far in my case is launching debug mode and it exits successfully after running main, but I'm completely unable t

[2019-11-13 04:28] JinZihao123 opened #2902 "Can't disable AutoFormat, at the same time, enable autoImport."
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	go version go1.13 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
Version: 1.40.0
Commit: 86405ea23e3937316009fc27c9361deee66ffbf5
Date: 2019-11-06T17:09:34.601Z
Electron: 6.1.2
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0

[2019-11-13 05:19] wangguoxi commented on #2896
ok  thanks,  It's ok now, I don't know what I did. Maybe because I restarted the computer

[2019-11-13 05:19] #2896 closed

[2019-11-13 12:42] alfmos commented on #2897
![properties](https://user-images.githubusercontent.com/46923488/68764422-f5254c00-061a-11ea-9c20-37e97bfe2496.png)
@jayconrod I have included a printscreen of the directory and I don't see any issue on permissions.
I reverted to 1.12 to continue working. I'm going to install 1.13 again, I'll give a try to your workarounds and I'll let you know

[2019-11-13 13:04] alfmos commented on #2897
Reinstalled go 1.13
launched go clean -modcache
Started vc code, asked for updating gopls, but installation failed.
Going to try changing GOPATH
Usual error:
Using the value d:\go from the go.toolsGopath setting.
Installing 1 tool at d:\go\bin in module mode.
  gopls

Installing golang.org/x/tools/gopls FAILED

1 tools failed to install.

gopls:
Error: Command failed: c:\go\bin\go.exe get -v golan

[2019-11-13 13:21] alfmos commented on #2897
New try:
created d:\gocache
Assigned complete permissions to all users
chenged in vs code all references
{
    "php.validate.executablePath": "d:\\php\\php.exe",
    "window.zoomLevel": 0,
    "svn.enableProposedApi": "product",

    "go.delveConfig": {
        "dlvLoadConfig": {
          "followPointers": true,
          "maxVariableRecurse": 1,
          "maxStringLen": 4000,
          "maxArra

[2019-11-13 13:35] gsora opened #2903 "testify-enabled test templates generation"
Since [this commit](https://github.com/cweill/gotests/commit/12fe222a297e88969cf56dc8ea5eb26181511def), `gotests` can generate test templates using `testify` instead of `reflect`.

**Describe the solution you'd like**
Having a configuration parameter to specify what template to use when generating tests would be really handy.

**Describe alternatives you've considered**
Right now I'm generating te

[2019-11-13 13:43] alfmos commented on #2897
Finally, I have reverted to go 1.12 leaving d:\gocache as gopath, and I have some modules succeding and many others failing:
Using the value d:\gocache from the go.toolsGopath setting.
Installing 13 tools at d:\gocache\bin in module mode.
  gocode
  gopkgs
  go-outline
  go-symbols
  guru
  gorename
  goplay
  dlv
  gocode-gomod
  godef
  goimports
  golint
  gopls

Installing github.com/mdempsky/

[2019-11-13 15:24] bcmills commented on #2897
@alfmos, what filesystem is your `d:` drive using?

[2019-11-13 15:57] jkassis commented on #1903
this tool is not usable without proper stack traces.

[2019-11-13 16:38] lggomez commented on #1903
@jkassis I know the issue is frustrating but please refrain to do this kind of comment which serve no constructive purpose at all. If you would´ve bothered to read the entire thread you would have noticed that this is an upstream issue due to OSX propagation of unhandled errors over delve and not just 'this tool'

---

Now, to go back on track, I´ve been thinking about this last comment I made:

C

[2019-11-13 17:10] aarzilli commented on #1903
As far as delve is concerned it is entirely feasible, the program can't be continued (due to the aforementioned kernel bug) but that's it, everything else works.

The third message in this issue (but you need to use macOS)

[2019-11-13 18:56] westz36 commented on #2505
why is this message showing up in default setting anyways?

[2019-11-13 21:42] alfmos commented on #2897
Ntfs

[2019-11-14 01:41] lggomez commented on #1903
So I´ve worked this proposed solution on a PR, the result is the following:

<img width="1020" alt="Screen Shot 2019-11-13 at 22 37 24" src="https://user-images.githubusercontent.com/6326271/68819345-87067680-0666-11ea-996a-8342534d4101.png">

This will also cover all actions vulnerable to triggering panics (step over, next, etc). If this makes sense to you all we can move forward

[2019-11-14 10:52] BojanKomazec commented on #2894
@lfourky Are you passing flag via `args` property in `launch.json`? You should have something like:

[code]
I am able to pass flag value to tests and debug them from VSCode with this in place.

[2019-11-14 11:26] vk7055 commented on #2893
It resolved. I got a pop-up for some extension. I installed it. And it started working.

[2019-11-14 11:26] #2893 closed

[2019-11-14 12:36] lfourkyataxiom commented on #2894
I have! Since @BojanKomazec and I had a conversation outside of this, we've come to the conclusion that debugging the tests by using the `F5 command` or selecting `Debug -> Start Debugging (F5)` from the menu bar in VSCode works - the flags get parsed!

However, the issue still remains, when pressing the `"debug test"` option just above a specific test, the flags don't get parsed.

[2019-11-14 12:43] BojanKomazec commented on #2894
Seems this issue has already been filed: https://github.com/Microsoft/vscode-go/issues/2115

[2019-11-14 14:12] StephanVerbeeck opened #2905 "Compilation and intellisense for elsewhere declared variables and functions no longer works after a recent update."
After [open folder] to edit a golang project directory:  Variables and functions declare in another *.go source (with the same package in the same directory) are shown as compilation error "undeclared name: ___".

Resulting in +600 "so called" compilation errors while the same unchanged project compiled perfectly before the recent update.

[F12]  (goto definition) is also not working because of th

[2019-11-14 17:28] lfourky commented on #2894
I have tried to add the flag to "args", yes. Since @BojanKomazec and I had a conversation outside of this, we've come to the conclusion that debugging the tests by using the `F5 command` or selecting `Debug -> Start Debugging (F5)` from the menu bar in VSCode works - the flags get parsed!

However, the issue still remains, when pressing the `"debug test"` option just above a specific test, the fla

[2019-11-14 21:12] bcmills commented on #2897
@alfmos, what (if any) antivirus programs do you have running? (Is it possible that that or a similar local utility is pinning the directory?)

[2019-11-14 21:48] alfmos commented on #2897
@bcmills I have kaspersky. It seems unlikely to me that it blocks writing on a directory.
Moreover, I installed and upgraded many modules until 1 month ago.
Anyway, I’ll try tomorrow with Kaspersky disabled.
Tell me what could I do to help finding the issue and I will.
I am stuck with go, tools and modules, And I would like to be able to upgrade them.

[2019-11-15 04:12] ramya-rao-a commented on #2905
Please share any Go related settings you might have added/edited. You can get these by running the command `Preferences: Open Settings(JSON)`

[2019-11-15 04:21] ramya-rao-a commented on #2905
You mentioned that the problem appears only after the recent update. Did you mean recent update of the extension or any of the Go tools?
If you meant the extension, then do you mind trying out the older version and confirming that it is indeed the latest version that has the problem?

You can get the older versions of the extensions from https://github.com/microsoft/vscode-go/releases
- Download t

[2019-11-15 04:39] ramya-rao-a commented on #2903
From the commit you shared, it looks that you need to be able to pass the `-template` flag to `gotests`
We have a setting `go.generateTestsFlags` which  that get passed to `gotests` which you can use for this. It takes an array.

Please let us know how that goes.

[2019-11-15 04:39] #2903 closed

[2019-11-15 04:43] ramya-rao-a commented on #2902
Thanks for reporting @JinZihao123

cc @stamblerre

[2019-11-15 04:44] ramya-rao-a commented on #2901
Thanks for reporting @byteshiva

cc @stamblerre

[2019-11-15 04:45] ramya-rao-a commented on #2899
Can you share the task definition you are using?
Also, I am not familiar with "go version manager", can you point me to some docs with some information on how that works?

[2019-11-15 04:57] ramya-rao-a commented on #2894
The flags provided in the debug configuration in the launch.json file do not get used by the `debug test` code lens that appears above individual tests.

But the ones that get passed to `go.testFlags` should definitely get used. Have you tried that?

[2019-11-15 04:57] ramya-rao-a commented on #2894
If you are specifically looking for `args` that should get passed, then #2115 is indeed tracking this case and we can close this issue

[2019-11-15 04:57] #2894 closed

[2019-11-15 05:01] #2880 closed

[2019-11-15 05:30] byteshiva commented on #2899
I'm trying to execute the task that's mentioned in vscode-go wiki. Please let me know if you need more information. I presume vscode-go task is unable to find the ```go binary``` since its located in a different location., i.e., @

[code]

https://github.com/microsoft/vscode-go/wiki/Tasks-with-Go
[code]

1. https://asdf-vm.com/#/  -- Manage multiple runtime versions with a single CLI tool
1.1 Plug

[2019-11-15 06:45] StephanVerbeeck commented on #2905
I do not understand your reaction.
This error can be reproduced by anybody in a few seconds.
Why do you not simply try it????
The error is humongous and makes the product unusable (meaning total loss, meaning total broken).
Please take this serious and take prompt action accordingly.

[2019-11-15 06:52] StephanVerbeeck commented on #2905
here below the requested content of settings.json

{
    "window.zoomLevel": 1,
    "workbench.sideBar.location": "right",
    "workbench.statusBar.feedback.visible": false,
    "editor.renderWhitespace": "none",
    "breadcrumbs.enabled": true,
    "files.autoSave": "afterDelay",
    "C_Cpp.updateChannel": "Insiders",
    "editor.renderControlCharacters": false,
    "go.formatTool": "goimports",

[2019-11-15 07:15] springzero commented on #2898
Yes, there is no problem with a new line;
This looks like a small trap, if someone uses print to debug. The same code is no problem on Goland, but unfortunately I don't have enough ability to provide more help.
Thank you for your sincere reply!

[2019-11-15 09:59] lggomez commented on #2898
@roblourens do you know of some way to help track down this?

At this point the only thing we do is the call to sendResponse for every successful step out action: https://github.com/microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L1465-L1478. Should this be empty for the repro case like we see on the output consule, we'd have seen it with the verbose logs on too but that's not what is

[2019-11-15 10:24] BojanKomazec commented on #2894
Thanks @ramya-rao-a for the `go.testFlags` hint. @lfourky I can confirm that particular test is able to pick passed flags if run via code lens if your `settings.json` contains the above mentioned property and looks like:
[code]

[2019-11-15 11:06] alfmos commented on #2897
@bcmills I tried without Kaspersky but no way. Same results

[2019-11-15 12:00] alfmos commented on #2897
I did another experiment.
I ran
go get -v -u all
from a cmd window. Everything went fine.
Reopening vsCode it complained only about gopls, all modules are seen as updated now.
so I went back to the command line and I ran
c:\go\bin\go.exe get -v -u golang.org/x/tools/gopls
and, surprise, the  error is there!

c:\go\bin\go.exe get -v -u golang.org/x/tools/gopls
go: extracting honnef.co/go/tools v0.0

[2019-11-15 12:35] protheusfr commented on #1903
Did anybody know how Jetbrains manage that ?
You can debug any go program without issue on OSX through Goland or IntelliJ....

[2019-11-15 18:00] stamblerre commented on #2897
@alfmos: Glad you were able to update the tools. Just wanted to let you know that you shouldn't use the `-u` flag with `gopls`, and VS Code no longer uses it (since it installs tools with `GO111MODULE=on` for versions of Go >= 1.11). Using `-u` means that you will get a tool and its dependencies at master, rather than at a specific version. For `gopls` in particular, you will want to use a tagged

[2019-11-15 18:12] stamblerre commented on #2901
@ramya-rao-a: To my understanding, this is not a `gopls` issue, as `gopls` does not execute builds within VS Code. The description of the issue is a bit misleading, because while @byteshiva is using `gopls`, they are not using `gopls` functionality here.

@byteshiva: Can you share a bit more information about the failure that you are seeing? What logs does VS Code show? Does `go build` on the comm

[2019-11-15 18:21] stamblerre commented on #2905
@StephanVerbeeck: It looks like you are using `gopls`, the Go language server. I recommend that you take a look at the recommended settings [here](https://github.com/golang/tools/blob/master/gopls/doc/vscode.md), and see if adding any of these help.

Are you using Go modules or GOPATH mode? If you are using modules, make sure to open VS Code at the root of the module (the file containing the `go.m

[2019-11-15 18:27] stamblerre commented on #2902
@JinZihao123: I expect you will be able to achieve this by removing this setting:

[code]

VS Code will fall back to formatting your file with the default `go.formatTool` if you disable formatting through `gopls`. Setting `editor.formatOnSave` to `false` will tell VS Code not to format your file, but you will still get import organization through the `editor.codeActionOnSave` setting.

[2019-11-15 19:53] jayconrod commented on #2897
Small correction: with `-u`, you'll still get the versions of packages you ask for on the command line, but you'll get the `latest` version of those packages' transitive dependencies. `latest` means the highest release version, or if there is no release version, the highest pre-release version. You'll only get a pseudo-version for `master` if there are no tagged versions.

@alfmos Feel free to ope

[2019-11-15 23:38] lfourky commented on #2894
Thanks everyone. @ramya-rao-a I was not looking for `args` specifically, I just need a way to pass flags when debugging specific test functions. Will continue the discussion there, though!

[2019-11-16 00:18] byteshiva commented on #2901
I'll get the log details.

Does `go build` on the command line work?
Yes it works on vscode command prompt after making the below changes but it does seems to execute within vscode operating window.

[code]
Since I'm using go version which kicks up during bashrc.

[2019-11-16 04:41] byteshiva commented on #2901
Here are the logs
[code]
**Not able to determine import path of current package by using cwd:**

Thanks, --My mistake, Added source code folder in ```$GOPATH/src/```. Now I'm able to build the current workspace using command palette.

[2019-11-16 05:19] ramya-rao-a commented on #2836
Thanks @segevfiner

People not using modules or the language server still end up using github.com/mdempsky/gocode, so we will keep this default value as is for now.

[2019-11-16 05:19] #2836 closed

[2019-11-16 06:12] byteshiva commented on #2901
Does   ```"go.buildOnSave": "workspace",```  work as expected? I don't see this working, maybe I'm missing something here.

[2019-11-16 23:32] ramya-rao-a commented on #2901
@stamblerre Since the language server is being used, the extension's on file save build features don't get triggered.

@byteshiva The setting `go.buildOnSave` is ignored when you are using the language server as the language server is then responsible to provide the diagnostics.

In the issue description you mention that the extension fails to execute the build command. Can you provide more detail

[2019-11-17 00:03] byteshiva commented on #2901
Yes,

Yes

If possible I'd like to build using the above mentioned steps depending on the dev profile.

[2019-11-17 22:28] ShoshinNikita commented on #816
I found the reason why coverage isn't shown. The bug is in `applyCodeCoverageToAllEditors` function in `src/goCovers.ts` file

## Setup

Let's use this package structure (package is `github.com/user/repo`, root is `/home/usr/go/src/github.com/user/repo`)

[code]

Package `first` contains a function which is called in package `second`. When we run tests for package `second` (with `-coverpkg=github.

[2019-11-18 06:26] aykejriw commented on #2821
@ramya-rao-a  I want to work on this.

[2019-11-18 06:28] aykejriw commented on #2822
@ramya-rao-a If no one is working here, I can do that.

[2019-11-18 15:37] StephanVerbeeck commented on #2905
I have temporarily bypassed the problem by not using gopls anymore.
The intellisense and goto-definition now works again.
It is probably something that can be fixed in gopls via settings but I have no time to investigate deeper at this moment in time.

-> https://github.com/golang/tools/blob/master/gopls/doc/user.md
(solved by changing "go.useLanguageServer": true, to "go.useLanguageServer": false

[2019-11-18 21:22] GrimTheReaper opened #2907 "Help with live errors when using language server"
Building up on https://github.com/microsoft/vscode-go/issues/2707
I would reopen it and add more there, but it is locked.

I ended up disabling the language server and I never ran into the issue again, although as of late gocode is taking up more resources than it should so I either can turn it off and not have a functional IDE, or try the language server.

This time around, I noticed that yeah, i

[2019-11-18 21:55] sethRait commented on #2610
I am also now having trouble with this approach using the remote development extension.  After [enabling debug logs](https://github.com/Microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code) I can verify that my script specified using go.alternateTools is not even being called.  i have verified that the setting is set on the remote machine and an absolute path to the script is given.

[2019-11-18 22:01] giniedp commented on #2887
i hooked into [runTool](https://github.com/microsoft/vscode-go/blob/61b612e60346c663368e173150d1248610bebbc7/src/util.ts#L648) function and printed `stdout` and `stderr` right after the tool returns and it gives me

[code]

When i now use `exec` instead of `execFile` at https://github.com/microsoft/vscode-go/blob/61b612e60346c663368e173150d1248610bebbc7/src/util.ts#L670

like this

[code]

this fi

[2019-11-19 04:44] ramya-rao-a commented on #2822
I believe @drakegens has a PR out for this that had some feedback they had to react to.
@drakegens Are you planning on continuing your work in #2883?

[2019-11-19 04:45] #2821 closed

[2019-11-19 04:45] ramya-rao-a commented on #2821
Sorry @aykejriw
There was an open PR for this in (#2859) that I just now approved and merged

[2019-11-19 04:45] drakegens commented on #2822
Yes I will continue my work. Sorry work has been crazy.

On Mon, Nov 18, 2019 at 10:44 PM -0600, "Ramya Rao" <notifications@github.com<mailto:notifications@github.com>> wrote:

I believe @drakegens<https://github.com/drakegens> has a PR out for this that had some feedback they had to react to.
@drakegens<https://github.com/drakegens> Are you planning on continuing your work in #2883<https://github

[2019-11-19 04:48] ramya-rao-a commented on #2901
A few clarifications
- `Go: Build Package` and `Go: Build Workspace` commands will work even if language server is enabled
- The build process that gets triggered when you save a file will not get triggered if language server is enabled
- The output pane does not show the output of the build process. If the build process succeeds, it prints out "Finished running tool:". If the build process fails,

[2019-11-19 04:50] ramya-rao-a commented on #2899
Is `/home/xyz/.asdf/installs/golang/1.13.4/go` part of your PATH?

[2019-11-19 11:53] byteshiva commented on #2899
Yes

[2019-11-19 14:58] OneQuid commented on #2387
After some searches and tries and looking at the source of dlv after that, I'm afraid that `dlv exec` and `dlv debug` have a different implementation handling `exiting` the progress with `dlv attach`, where they will send `SIGKILL` to the debugging process.
(It would be a delight, if I was wrong about it. Please tell me in that case)

The solution to accomplish `graceful shutdown` without changing

[2019-11-19 15:08] oliverpool commented on #2003
@segevfiner do you refer to https://github.com/microsoft/vscode/issues/76492 ?

Now that it has been implemented into vscode, is it possible to solve this issue ?

[2019-11-19 16:29] segevfiner commented on #2003
Yeah. It was possible before minus the feature that rewrites paths in the output (Without introducing a binary/script that does so and invoking a shell pipeline that runs it and `go test`). With this API you can handle the output from tasks in code and as such implement such rewriting. But I think it might require lifting a lot of code for how to implement an executer that executes a process with

[2019-11-19 16:42] stamblerre commented on #2907
The language server is fairly separate from the rest of the Go extension, which is why it does not respect the extension's configurations (the `go.liveErrors` config).

Right now, the language server only sends live errors, so if you disable diagnostics you will not get any error checking. I can see an argument for only enabling diagnostics on save, though I think that configuration need not live

[2019-11-19 16:46] lfourky commented on #2115
Any updates for this? I am still having this issue (see referenced issue #2894 above ^)

[2019-11-19 18:35] GrimTheReaper commented on #2907
Yeah, I'm well aware and it's rather annoying especially since there is no delay to the errors. If I could delay it 500 ms, it would be nice because right now its every single character.

Also, it's not "liveerrors", since technically everything, every character added or removed (except those in strings) is an error.

[2019-11-19 21:45] s0kil commented on #2899
Related to: https://github.com/Microsoft/vscode/issues/55941

[2019-11-20 10:39] byteshiva commented on #2899
Thanks @s0kil for the lead,

the following are the changes I did to make it work in my usecase where go is installed using Go Version Manager.

Here are the steps

Step1:
(Reference : https://code.visualstudio.com/docs/editor/integrated-terminal#_shell-arguments)
[code]
Step 2:
Configure your custom shell settings in .bash_profile, say for example, I'm using `go version manager`. In order to kick

[2019-11-20 17:28] jdowning100 commented on #2563
Any update on this? This is an incredibly frustrating bug as it randomly kills my debug sessions (and it doesn't help that "failed to next: next while nexting" is basically error message gore)

[2019-11-20 17:33] KBassford commented on #2905
Did not work for me.  Intellisense still says "loading ...", go-lint not being picked up on saves, and I have this message:
"go: github.com/mjl-/duit@v0.0.0-20190601163045-7803fce831b3 requires
	9fans.net/go@v0.0.0-00010101000000-000000000000: invalid version: unknown revision 000000000000"
despite the fact that I don't use this library anywhere, anymore; and it's not in my vendor or Gopkg files.

[2019-11-21 03:08] kzhui125 opened #2909 "Disable "A debug session is currently active""
<img width="449" alt="xx" src="https://user-images.githubusercontent.com/11925432/69300723-fffd6380-0c4e-11ea-80bd-ff48e1d85273.png">

It's very annoying.

It pops up again and again.

Please disable it.

I can change python file when debugging.

[2019-11-21 04:31] gertcuykens opened #2910 "outline complete package"
Currently outline only shows the outline of the selected file. Consider implementing a flag to always have a outline of the complete package (like for example the index outline of godoc, example fmt index https://godoc.org/fmt#pkg-index which is a index of the complete pkg fmt, not just of one file)

[2019-11-21 04:45] gertcuykens opened #2911 "outline layout"
Currently the words `package`, `variable`, `function` after the name are meaningless and already represented by a symbol in front. Please replaced by `full package name from mod` the type `int, string, ...` and function definition `(x int, y int) err`

![image](https://user-images.githubusercontent.com/863731/69304518-3c19cf80-0c21-11ea-84b9-ce15917bd8cb.png)

[2019-11-21 10:27] bulentrahimkazanci commented on #2546
I think this was already implemented. [This](https://github.com/microsoft/vscode-go/blob/7e2de145389fbfe42d6f782f4a0c17af9e0daa3b/package.json#L1249) links is the JSON format of `go.addTags`.

[2019-11-22 10:34] jrieken commented on #2739
➡️ https://github.com/microsoft/vscode/issues/84587 in cases like this...

I understand that you want to advertise the "perfect" sorting but be aware that you don't see the whole picture and this causes headaches for your users.

[2019-11-22 13:27] kylebrandt opened #2912 "Run named test in tables tests"
**Is your feature request related to a problem? Please describe.**
The run test under cursor is a very useful feature. It would be more useful if one could select a specific named test within a table test, and execute just that test.

For example a common pattern is:

[code]

or similar but a slice of structs with a name property.

Reference: https://dave.cheney.net/2019/05/07/prefer-table-driven-

[2019-11-22 15:41] KBassford opened #2913 "Documentation: Troubleshooting"
Please note somewhere that if the dependencies in your "go.mod" file do not match the current dependencies in your project, "gopls" will fail pretty catastrophically (_ALL functionality listed on "https://code.visualstudio.com/docs/languages/go" is kaput_).  Renaming, deleting or regenerating this file restores all gopls functionality in the editor.  This is a simple fix and should be noted somewh

[2019-11-22 15:45] KBassford commented on #2905
This might help ...
I had a similar problem, found that gopls check the "go.mod" file in the project.  If the dependencies are out of sync, gopls fails.  Try renaming your go.mod to something else, if you get your functionality back, problem solved.

[2019-11-22 15:52] StephanVerbeeck commented on #2905
I do not use .mod files.  The sources are in the same project because they are in the same directory.  That is exactly the beauty of GO (not having to deal with make files and such)

[2019-11-22 16:30] stamblerre commented on #2905
I can help investigate `gopls` issues for those that are interested to do so.

@KBassford: You mentioned Gopkg files above, but you are also using modules? I would imagine that this might be related to the difficulties you encountered above.

[2019-11-22 16:39] KBassford commented on #2905
I generated both for backwards compatibility.

[2019-11-22 16:48] tj commented on #2739
Thanks for the help @jrieken — yeah I can say personally I would always want my snippets to take precedence, _especially_ when it exactly matches my snippet prefix, many of the matches I'm provided by vscode-go are not close matches at all (see screenshots in #84587)

[2019-11-22 17:18] muirdm commented on #2739
I opened https://github.com/golang/go/issues/35782 upstream to track this issue.

[2019-11-22 17:34] stamblerre commented on #2913
You should not need to rename or delete your `go.mod` file to solve any problems with `gopls`, though running `go mod tidy` may be a good general tip for working with modules. Perhaps the documentation for this extension can reference the Modules wiki page, but this doesn't seem like an error specific to `gopls`. I would imagine that you would have encountered the same error when building your pro

[2019-11-22 17:36] stamblerre commented on #2905
@KBassford: Replied on https://github.com/microsoft/vscode-go/issues/2913. I think https://github.com/golang/go/issues/31999 covers handling the types of issues that you encountered.

[2019-11-22 17:56] KBassford commented on #2913
Hi Ms. Stambler,
Ran "go mod tidy" before renaming go.mod to go.oldmod.  It had no effect.  Renaming the go.mod did restore all functionality.  It was the gopls troubleshooting doc that prompted me try renaming the file.  I have since regenerated the file and everything is still working properly.

I had previously revised my code to remove several dependencies, which seems to be when the problems

[2019-11-22 18:26] stamblerre commented on #2913
I don't believe that we suggest renaming files in the `gopls` troubleshooting doc (are you referring to [this one](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md)?). A `go.mod` file must be named that way to work, so likely what happened is that, when you renamed it, `gopls` began to function in `GOPATH` mode, which is why it appeared to be working again.

I agree that we

[2019-11-22 19:04] KBassford commented on #2913
[code]
This: https://github.com/golang/tools/blob/master/gopls/doc/user.md
And it was not mentioned explicitly.  Seeing the flag "GO111MODULE" gave me the idea.

[code]
Exactly!

[code]
I look forward to that.  Seeing that there are several similar issues to mine that inhabit the internet without apparent resolution (or at least with any listed), I believe a simple check that even the least techni

[2019-11-23 08:48] tharun-d opened #2914 "Find all reference is not working when using gopls"
Vs code latest: Ubuntu 18.04
Go version: go version go1.12.7 linux/amd64

.bashrc
export GOROOT=/usr/local/go
export GOPATH=/home/tharun/work/nsdcserverside
export PATH=$PATH:$GOROOT/bin

Intellisense is working and everything is working only find all reference is not working. Previously it used to work i think after updating vscode it stopped working. go settings in vscode default.
I downloaded e

[2019-11-24 19:58] BnMcG commented on #1133
I think I'm seeing a similar problem using version 0.11.9 of the extension, and version 1.40.1 of VS Code on MacOS Mojave 10.14. It doesn't look like the Go extension is sourcing the correct path at all.

I have Go installed via Homebrew at `/usr/local/bin/go`. The integrated terminal has the `$PATH` variable correctly sourced (presumably from `~/.zshenv`, while the extension only appears to look

[2019-11-25 21:05] ShoshinNikita commented on #816
@ramya-rao-a hello. What do you think about this "investigation"? I can fix this bug myself, but I have some questions:

Also I would like to hear someone else's thoughts about the solution I suggested.

[2019-11-26 08:59] oneslash opened #2916 "code suggestion is not suggesting struct when using gopls"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.4 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Version: 1.40.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.11.9
- Run `go env GOOS GOARCH` to get the operating system and p

[2019-11-27 09:47] nicewahson opened #2918 "The editor cannot import package automatically"
# What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.4 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.40.2
- Check your installed extensions to get the version of the VS Code Go extension
	- vscode-go 0.11.9
- Run `go env GOOS GOARCH` to get the operating system and pr

[2019-11-27 13:19] r03 commented on #464
It would also be nice to have syntax color for inline template strings.
I only need {{ }} to be in a different color. (like %s is also colored in a string)

![image](https://user-images.githubusercontent.com/10061147/69726395-c631ce80-1120-11ea-9d5c-383478c79f4d.png)

[2019-11-27 16:46] vshkola commented on #2807
Hi,

Here are open issues : https://github.com/microsoft/vscode-go/issues/2010 and https://github.com/bazelbuild/rules_go/issues/1844

I also getting the same problem on MacOS 10.14.6, `dlv b handlers/handler.go` works, `dlv b /Users/macUser/go/src/projectName/handlers/handlers.go` couldn't find a file.
VSCode with launch.json
[code]
also gives
`Error on CreateBreakpoint: could not find file /User

[2019-11-27 18:15] atombender opened #2919 "Extension host log errors when using gopls"
I'm getting this in the extension log constantly:

[code]

It's not connected to any problems I'm having, but I thought I should report it.

Latest VScode with extension version 0.11.9, gopls `c1736c0f`, [settings.json](https://gist.github.com/atombender/da8f3722b9504b0cd694e2065f0712d9).

[2019-11-27 18:21] stamblerre commented on #2919
Looks like `gopls` is sending back some invalid responses for `textDocument/documentSymbol`. Could you share your `gopls` logs please?

[2019-11-27 18:24] atombender commented on #2919
[Here](https://gist.github.com/atombender/396a84039f7a844f705bc7b54e9714ad).

Gopls has always been wonky for me, and I keep hoping the next upgrade will fix some issues. It tends to lose its mind whenever a file changes unrelated to direct editor edits (e.g. renaming, moving, deletion, `git checkout`, etc.).

[2019-11-27 18:28] atombender opened #2920 "Notification: "command '' not found" when using gopls from HEAD"
I've started getting this message when editing Go. It started appearing after upgrading to the latest version of gopls.

![Screen Shot 2019-11-27 at 13 16 24](https://user-images.githubusercontent.com/50314/69749511-a7c7d500-1118-11ea-8976-6d5e1f431db0.jpg)

Grepping reveals that it appears in `renderer2.log`:

[code]

Unfortunately, that's all there is. I can only assume it's related to the Go ex

[2019-11-27 18:33] stamblerre commented on #2918
Autocompletion inside of import blocks isn't something that we've considered supporting `gopls`. Filed an issue upstream for this (https://github.com/golang/go/issues/35877). In the meantime, the best approach here would be rely on the import on save behavior. The import "fmt" should be added for you automatically on save, based on your settings.

[2019-11-27 18:36] stamblerre commented on #2919
Could you please add the following to your `settings.json` and then upload a new log here? Sorry, forgot to mention that we would need more detail in this one.

[code]

[2019-11-27 18:37] stamblerre commented on #2920
Can you share the output of `gopls version`?

[2019-11-27 18:38] atombender commented on #2920
The commit hash is above. It's `HEAD`, as we speak.

[2019-11-27 18:40] atombender commented on #2919
Will do.

[2019-11-27 19:20] stamblerre commented on #2920
Thanks for reporting! Will be fixed in [CL 209219](https://go-review.googlesource.com/c/tools/+/209219).

[2019-11-27 23:39] iatsiuk commented on #2753
Is there any way to suppress "Analysis Tools Missing" warning right now?

[2019-11-28 01:53] nicewahson commented on #2918
Thanks for your reply.  @stamblerre It's nice of you.

[2019-11-28 01:53] #2918 closed

[2019-11-29 18:44] VijayUpadhyay opened #2921 "On file save few characters gets deleted"
We have writ
Issue Type: <b>Bug</b>

Following Golang file:

package deckinfo
import "fmt"
//deck ...represen string array of cards
type deck []string
//NewDeck ...representsewly created decks
func NewDeck() deck {
return []string{"a", "n"}
}
func (d deck) Print() {
	f _, val := range d {
		fmt.Printf("val is: %s", val)
	}
}

It changes in below format while saving(ctrl+s)

 package deckinfo
impor

[2019-11-30 13:22] HyaZraeLN opened #2922 "Set go.inferGopath true,make running go.lintTool Error"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.13 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.40.2
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.11.9
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture d

[2019-11-30 16:46] koddr opened #2923 "impl doesn't generate stubs from interface for one-file app"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.4 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders

- Check your installed extensions to get the version of the VS Code Go extension
	- 0.11.9
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitect

[2019-11-30 17:16] koddr opened #2924 "Add Go: Generate Interface Stubs to error's `Quick fix` or|and context menu"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I need to generate interface stubs.

Can you please add this feature to error's `Quick fix` or|and context menu?

![Screenshot 2019-11-30 at 20 05 23](https://user-images.githubusercontent.com/11155743/69903630-0f964e00-13ad-11ea-8820-3730176a0f6d.png)

**Describe the solution you'd like**
1. I click to `

[2019-12-01 23:25] coderanger opened #2925 "Go Modules support announcement can't be hidden"
It would be nice to either have it be dismissed on click or (more easy to implement) have a setting to disable it. Not something I need in my status bar forever once I know things are set up for modules :)

[2019-12-02 19:31] manikawnth opened #2926 "VSCode go linter allows importing internal packages not in the hierarchy"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.12.1 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.39.2
- Check your installed extensions to get the version of the VS Code Go extension
	- golang.org/x/tools/gopls v0.1.7
- Run `go env GOOS GOARCH` to get the opera

[2019-12-02 21:21] stamblerre commented on #2926
Thanks for reporting this! I filed https://github.com/golang/go/issues/35937 to track this in `gopls`, because that's really where the error lies.

[2019-12-03 07:10] ramya-rao-a commented on #2926
Thanks for reporting @manikawnth
Closing in favor of the upstream issue, please subscribe to the same.

[2019-12-03 07:10] #2926 closed

[2019-12-03 07:17] ramya-rao-a commented on #2925
As of version 1.36 of VS Code, you can now [hide status bar items](https://code.visualstudio.com/updates/v1_36#_hide-individual-status-bar-items) by right clicking on the status bar and selecting the item to hide. The same action is used to un-hide it as well.

The catch is that once hidden, it doesnt show up unless you un-hide it.

The main intention of the status bar item for Go modules was to h

[2019-12-03 07:17] #2925 closed

[2019-12-03 07:25] ramya-rao-a commented on #2924
A similar feature request is being tracked in #1823
Please subscribe to it and add any extra thoughts you have there.

[2019-12-03 07:25] #2924 closed

[2019-12-03 07:26] ramya-rao-a commented on #2923
We use the [impl](https://github.com/josharian/impl) tool to provide this feature via the command `Go: Generate Interface Stubs`.

Please try the command line tool directly and let us know if the tool works without any problems or gives you the same error `Cannot stub interface: unrecognized interface: Inter`

[2019-12-03 07:30] ramya-rao-a commented on #2922
Thanks for reporting @HyaZraeLN

Are you using Go modules?

[2019-12-03 07:33] ramya-rao-a commented on #2921
Please share all Go related settings that you might have added/edited.
You can get these by running the `Preferences: Open Settings(JSON)` command.

[2019-12-03 07:41] ramya-rao-a commented on #2920
@stamblerre This issue was present in the latest stable version of gopls or only in the master branch?

[2019-12-03 07:46] ramya-rao-a commented on #2919
@atombender This issue was logged during the same time as your other issue #2920 for which a fix was pushed. Do you still see this issue after updating the version of gopls that contain that fix?

[2019-12-03 07:48] ramya-rao-a commented on #2916
@stamblerre Any thoughts?

[2019-12-03 07:52] ramya-rao-a commented on #2914
Thanks for reporting @tharun-d

cc @stamblerre

[2019-12-03 10:25] koddr commented on #2923
@ramya-rao-a yes, I understand that vscode-go plugin use `impl`.

If I try on console, I see the seems thing:

[code]

But, I have interface `Inter` into `main.go`:

[code]

🤔

[2019-12-03 14:00] HyaZraeLN commented on #2922
Using Go modules or not ，will occure this Error either

[2019-12-03 15:40] atombender commented on #2920
Didn't see that the commit had been pushed, sorry. Upgraded and will report back.

[2019-12-03 16:41] stamblerre commented on #2920
It was only on master.

[2019-12-03 16:44] stamblerre commented on #2916
The work on keyword autocompletion is still in progress (see https://github.com/golang/go/issues/34009).

[2019-12-03 16:58] stamblerre commented on #2914
@tharun-d: What directory did you open VS Code with? `gopls` finds references within your workspace, so if you aren't using modules, you will need to open your entire `$GOPATH` to find references in other projects.

[2019-12-03 18:43] ramya-rao-a commented on #2916
Thanks @stamblerre

@oneslash Closing this issue in favor of the upstream one. Please subscribe to the same.

[2019-12-03 18:43] #2916 closed

[2019-12-03 18:44] ramya-rao-a commented on #2920
Thanks @atombender

[2019-12-03 20:36] atombender commented on #2919
@ramya-rao-a Yes, still getting the log messages.

[2019-12-03 21:09] stamblerre commented on #2919
Yeah, this doesn't seem related to the other issue.
I'll be able to move forward on diagnosing this once we have some `gopls` logs that show the offending `textDocument/documentSymbols` responses.

[2019-12-03 21:11] atombender commented on #2919
Here you go: [gopls.txt.zip](https://github.com/microsoft/vscode-go/files/3918719/gopls.txt.zip). I'm afraid I don't have anything correlating that log output with the extension host log errors. Perhaps I could clear the logs and see if I can catch only the newest few entries when it happens?

[2019-12-03 21:23] strowk commented on #2897
Stable reproducing for me right now
[code]

Tried deleting the `C:\Users\USER\go\pkg\mod\honnef.co\go\` and running again - same error, while the folder does not even have any files.

[2019-12-03 21:23] stamblerre commented on #2919
Thank you! Yes, a shorter log would be ideal, if possible.

[2019-12-04 05:20] atombender commented on #2920
While I no longer get the notification, I occasionally get the same log message. Ignorable?

[2019-12-04 05:20] atombender commented on #2919
Will try. Meanwhile, I'm getting this a lot:

[code]

and also this one started happening:

[code]

[2019-12-04 05:23] atombender commented on #2919
Here's a `gopls` log that I copied immdiately after I got a whole bunch of `selectionRange must be contained in fullRange` messages: [gopls.txt.zip](https://github.com/microsoft/vscode-go/files/3920163/gopls.txt.zip). I was writing the code:

[code]

[2019-12-04 08:01] zhangyulu commented on #2796
Running into the same issue when using vscode remote on an ssh connection to linux server.
By the way, I'm on two independent projects on local(Windows 10) and remote(CentOS) respectively, how can I set different GOPATH per project without changing others

[2019-12-04 13:05] VijayUpadhyay commented on #2921
This is my settings.json file
{
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "workbench.startupEditor": "newUntitledFile",
    "go.buildOnSave": "package",
    "go.inferGopath": false,
    "go.gopath": "C:/Users/vijupadh/Documents/goproject",
    "go.lintOnSave": "workspace",
    "go.vetOnSave": "workspace",

[2019-12-04 18:28] stamblerre commented on #2920
I think there is another instance (in completion) where we should be sending a nil command instead of an empty one. I'll mail another CL.

[2019-12-04 18:31] stamblerre commented on #2919
Thanks for the report! I was actually just able to reproduce this myself. I mailed [CL 209858](https://go-review.googlesource.com/c/tools/+/209858) to help us debug this issue.

[2019-12-04 22:14] stamblerre commented on #2921
This sounds like https://github.com/golang/go/issues/34955. Can you comment on that issue and answer the questions listed there?

[2019-12-05 06:18] ramya-rao-a commented on #2921
@VijayUpadhyay Thanks for sharing the settings.
Since you are using the language server, this is related to gopls and so the issue @stamblerre linked above would be the right place to follow up.

[2019-12-05 06:18] #2921 closed

[2019-12-05 06:19] ramya-rao-a commented on #2919
Looks like the changes got merged, thanks @stamblerre

@atombender Can you retry after getting the latest from master for gopls?

[2019-12-05 06:36] PseudoCowboy opened #2927 "vscode always hint "gopls is out of date" after go get gopls"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.11.4 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.40.2
           f359dd69833dd8800b54d458f6d37ab7c78df520
           x64
- Check your installed extensions to get the version of the VS Code Go extension
	- gopls ver

[2019-12-05 06:43] ramya-rao-a commented on #2796
Apologies for the very late reply here

@colinplamondon What you are seeing i.e the `cannot find main module; see 'go help modules'` error was covered in #2811 and the latest version of the Go extension should have the fix for it.

@oforero If you are still seeing the problem you reported, please log a new issue with the details of your investigation regarding the `updateGoPathGoRootFromConfig` an

[2019-12-05 06:43] #2796 closed

[2019-12-05 14:51] atombender commented on #2919
Upgraded, but gopls now [crashes](https://gist.github.com/atombender/cca1344589e3299344767505e60e8273) on startup.

[2019-12-05 17:45] atombender opened #2928 ""Restart language server" fails with "Cannot read property 'clear' of undefined""
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.13.4 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `1.40.2`
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.11.9
- Run `go env GOOS GOARCH` to get the operating system and proces

[2019-12-05 20:20] stamblerre commented on #2927
What is the output of `gopls version` on the command line?

[2019-12-05 20:33] stamblerre commented on #2928
I think this probably caused by [goLanguageServer.ts:248](https://github.com/microsoft/vscode-go/blob/4060ab19ee93156a6706ae5a11b1be12feddcd6b/src/goLanguageServer.ts#L248). Will add a fix when I get a chance. Thanks for the report!

[2019-12-05 22:03] stamblerre commented on #2919
Thanks for checking again. Looks like you're running into https://github.com/golang/go/issues/35994, which I'm looking into.

[2019-12-06 02:40] PseudoCowboy commented on #2927
@stamblerre
version 0.2.0, built in $GOPATH mode
![image](https://user-images.githubusercontent.com/20549450/70290985-b7c86e80-1814-11ea-9e8d-3d0182d5791c.png)

[2019-12-06 02:48] PseudoCowboy commented on #2927
vscode go extension is 0.11.9

[2019-12-06 05:32] stamblerre commented on #2927
Looks like you might have multiple versions of `gopls` installed. In your screenshot above VS Code says that it's installing `gopls` in module mode, but with `gopls` version it says GOPATH mode. What is the output of `which gopls`? And what is the output of `/Users/jiangzejia/go/bin/gopls version`?

[2019-12-06 05:49] czlhs opened #2929 "tag generate use the add/remove tag config as the default input."
**Describe the solution you'd like**
use the config.tags/config.options as the default input
[code]

[2019-12-06 07:34] PseudoCowboy commented on #2927
@stamblerre
here is the output
![image](https://user-images.githubusercontent.com/20549450/70304791-b19ab800-183d-11ea-88cf-de2b60ca1376.png)

[2019-12-06 07:37] stamblerre commented on #2927
Seems like VS Code is not installing `gopls` correctly in module mode. This is probably related to the fact that you are using Go 1.11 - there may be some bug with installing it in module mode. We can investigate this further, but a quick work-around will be for you to install `gopls` manually on the command line by running `GO111MODULE=on go get golang.org/x/tools/gopls@latest`.

[2019-12-06 08:03] PseudoCowboy commented on #2927
@stamblerre
It doesn't work. Here's the ouput
![image](https://user-images.githubusercontent.com/20549450/70306450-d5f89380-1841-11ea-8979-59ec7f60167b.png)

[2019-12-06 08:42] PseudoCowboy commented on #2927
I tried to delete **/Users/jiangzejia/go/bin/gopls** and **/Users/jiangzejia/go/pkg/mod/golang.org/x** whole directory, and install gopls again
It doesn't work
![image](https://user-images.githubusercontent.com/20549450/70308950-5b327700-1847-11ea-9cea-79f233f463e4.png)

[2019-12-06 13:09] gerrywp opened #2930 "Debug:start without debugging not working"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
         go version go1.13 windows/amd64

- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	 1.40.2
         f359dd69833dd8800b54d458f6d37ab7c78df520
         x64

- Check your installed extensions to get the version of the VS Code Go extension
	0.11.9

-

[2019-12-06 14:11] deschmih opened #2931 "Can't set breakpoint in vscode under windows when remote debugging linux-proccess under linux with delve"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.4 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Version: 1.40.2
- Check your installed extensions to get the version of the VS Code Go extension
	- v 0.11.9
- Run `go env GOOS GOARCH` to get the operating system an

[2019-12-06 17:02] jim-minter opened #2932 "Set CPU `nice` for Go builds"
**Is your feature request related to a problem? Please describe.**
Especially when I upgrade Go to a new version, or start working on a new large project, or change branches on a large project, it takes a long time for Go to compile the codebase in the background in order for VS Code to offer IntelliSense-like capabilities.  At the same time, the Go compiler aggressively parallelises, and this hur

[2019-12-06 18:47] jhendrixMSFT commented on #2841
@arjunmayilvaganan how did you end up with a value of `${workspaceFolder}/cmd/service` for `program` in your launch.json?  For me the default value was `${fileDirname}` and it worked without issue.

[2019-12-06 19:47] arjunmayilvaganan commented on #2841
@jhendrixMSFT, for the directory structure in the original post and with `${fileDirname}` as the value for `program`, it would have worked for you, because you'd have kept `main.go` file as the active tab and started debugging 🙂

I have given the above file structure specifically as example, because there might be projects with multiple `main` packages (resulting in more than one binaries). That's

[2019-12-06 19:47] #2841 closed

[2019-12-06 20:33] stamblerre commented on #2927
I was able to reproduce this with `go1.11.4`, seems like a bug in that version of Go. Is it possible for you to upgrade to Go 1.12 or 1.13?

[2019-12-06 20:35] stamblerre commented on #2919
The issue above is now fixed, if you'd be willing to try again.

[2019-12-06 21:29] atombender commented on #2919
Thanks. Trying it out now.

[2019-12-06 22:01] iGeek098 opened #2933 "need option to pass args to the dlv debugger itself"
i have non main stream go version causes the following to happen

Version of Go is too old for this version of Delve (minimum supported version 1.11, suppress this error with --check-go-version=false)

need option in launch.json to pass args to the debugger itself (like miDebuggerArgs for GDB in vscode c extension)

[2019-12-06 23:33] zmb3 commented on #2871
I feel obliged to share that fighting with`gofmt` is not something I'd personally recommend.  One of the great things about working with Go code is that is all looks the same.  Have you considered just leaving format on save enabled and letting the formatter [do its thing](https://blog.golang.org/go-fmt-your-code)?

[2019-12-07 17:26] vctqs1 opened #2934 "Vscode Can't Go Defintion In Go Lang"
Code not suggest method or struct. and can not suggest arg of func
it just show `loading`. Can not go to define of else

I am using Ubuntu 19.10

[2019-12-08 23:38] JCzz opened #2935 "golang extension is not working for "Add folder to workspace" project"
[code]

I have a project with sub projects folders

Workspace
-- main.go
-- Project(Add folder to workspace...)
---- main.go << not working - no intellisense

go code under workspace works but not for go code in sub project in workspace?

I an using modules and added this` "go.useLanguageServer": true"` to both workspace project and sub project.

**Note**:  note intellisense does work for root wor

[2019-12-09 02:48] PseudoCowboy commented on #2927
OK, I got it. Thanks for your help. I will close this issue.

[2019-12-09 02:48] #2927 closed

[2019-12-09 17:32] jdwalker-emis commented on #2010
I've been investigating this further including why VSCode does not debug and Goland down and it seems to be down to the fact that VSCode sends delve JSON-RPC commands specifying the location of the file and the line to breakpoint, and Goland sends the memory address to breakpoint at. For the former,when debugging remotely, Delve requires access to a copy of the source code so it knows where to set

[2019-12-09 20:43] stamblerre commented on #2935
For `gopls` to work, the folder that you add to your workspace has to be the one that contains the `go.mod` file. Opening directories that contain a module will not work with `gopls` until https://github.com/golang/go/issues/32394 is resolved. Where is the `go.mod` in relation to the projects that you opened?

[2019-12-09 21:20] wtask commented on #2935
In current time, unhappinessly, to make VSCode work with submodules I think we need to add folders with submodules to workspace independently. First to add the main folder, then add independent "duplicate" of submodule folder. Then edit code opened from appropriate workspace folder. It is crazy...

[2019-12-09 21:28] stamblerre commented on #2935
We are currently working on addressing this (follow along with the bug linked above), but yes - this is currently the required workflow for nested modules.

[2019-12-09 21:43] wtask commented on #2935
This is not a frequent case, but sometimes it occurs :(

[2019-12-09 21:50] atombender commented on #2919
I think it's fixed.

[2019-12-10 05:49] ramya-rao-a commented on #2929
Thanks for reporting @czlhs

PRs are most welcome to make this change.

[2019-12-10 05:57] ramya-rao-a commented on #2928
I have pushed a [fix](https://github.com/microsoft/vscode-go/commit/05d741b9076d6ad1530625a6857bd54a27563ed3) for this that should be available in the[ latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension

@stamblerre Is https://github.com/microsoft/vscode-go/commit/05d741b9076d6ad1530625a6857bd54a27563ed3 what you had

[2019-12-10 06:14] ramya-rao-a commented on #2930
Thanks for reporting @gerrywp

@jhendrixMSFT The corresponding code that is being run is at https://github.com/microsoft/vscode-go/blob/master/src/debugAdapter/goDebug.ts#L390-L426. My guess is that the right cwd is not being used. Can you try and get a repro?

[2019-12-10 06:15] ramya-rao-a commented on #2931
Thanks for reporting @deschmih

@quoctruong Can you take a look at this?

[2019-12-10 06:18] ramya-rao-a commented on #2934
Please share any Go related settings you might have added or edited. You can get these by running the command `Preferences: Open Settings (JSON)`

Are you using Go modules?
Can you share more details around your folder structure if you are using modules?

[2019-12-10 09:38] robheerdink commented on #1935
also experiencing this bug, debugger does not stop at symlinks under linux.
re-opening project through non symlink folder works

[2019-12-10 10:04] eraserix opened #2936 "gotests fails to be installed"
### What version of Go, VS Code & VS Code Go extension are you using?
[code]

### Describe the bug
When trying to install gotests, I always get an error:
go get github.com/cweill/gotests/...: no matching versions for query "latest"

### Steps to reproduce the behavior:
1. mkdir -p /tmp/tmpmod
2. echo module tmpmod > /tmp/tmpmod/go.mod
2. cd /tmp/tmpmod
3. `env GO111MODULE=on go get -u -v "github.c

[2019-12-10 14:00] vctqs1 commented on #2934
`{
    "go.useLanguageServer": true,
    "explorer.confirmDelete": false,
    "window.zoomLevel": 0,
}`

It seem unstable.
I open project 1, `Go Defintion`  work. But dont work for another project

[2019-12-10 15:34] JCzz commented on #2935
Thanks @stamblerre looking forward to an update.

@wtask In the sub-project, that includes a .vscode - the go module is in a sub folder to the sub-project:
`root-project/sub-project/go/server`

And it works if I open vscode in this folder containing the module. But I have a bigger project where go is just one part of it all - so it would be very cool to be able to have just one instance of vs code

[2019-12-10 16:33] axetroy opened #2937 "Install/Update Tools support HTTP proxy"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

**Is your feature request related to a problem? Please describe.**

Toolkit cannot be downloaded in some regions due to network inaccessibility to Google

**Describe the solution you'd like**

There are some options:

1. support HTTP prox

[2019-12-10 17:40] stamblerre commented on #2934
What is the output of `gopls version`? Can you share the output of `gopls -rpc.trace -v check /path/to/file.go` for the broken project?

[2019-12-10 17:42] stamblerre commented on #2935
You can add multiple folders to your workspace to have only one VS Code instance open, as @wtask suggested above (File -> Add Folder to Workspace).

[2019-12-10 17:43] stamblerre commented on #2928
Yes - thank you for doing that @ramya-rao-a!

[2019-12-10 23:30] npollitt opened #2939 "golang os.Open fails in VSCode, but works from command line"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
go version go1.13.4 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
1.40.2
f359dd69833dd8800b54d458f6d37ab7c78df520
x64
- Check your installed extensions to get the version of the VS Code Go extension
Name: Go
Id: ms-vscode.go
Description: R

[2019-12-11 00:50] SteelPhase opened #2940 "golint tool still appears to run when using language server"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.13.4 darwin/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `1.40.2 f359dd69833dd8800b54d458f6d37ab7c78df520 x64`
- Check your installed extensions to get the version of the VS Code Go extension
	- `0.11.9`
- Run `go env GOOS

[2019-12-11 05:55] ramya-rao-a commented on #2940
`gopls` doesnt yet provide linting abilities and therefore the extension continues to run the tool set in the `go.lintTool` setting.

cc @stamblerre for plans on having `gopls` providing linting features

[2019-12-11 05:57] ramya-rao-a commented on #2939
- Does `os.Open()` work as expected when you debug your program using delve directly from the terminal?
- Can you share the debug configuration you are using along with a small code snippet that we can use to replicate the problem?

[2019-12-11 05:58] ramya-rao-a commented on #2937
Can you provide some details around what you refer to as "toolkit"? Do you mean the Go tools that the extension depends on?

[2019-12-11 05:59] ramya-rao-a commented on #2936
Thanks for reporting @eraserix

@stamblerre Can you take a look at this? It might be related to the changes we made around the tool installation code.

[2019-12-11 06:03] ramya-rao-a commented on #2935
Thanks all

Closing this issue in favor of the upstream issue that @stamblerre has linked above

[2019-12-11 06:03] #2935 closed

[2019-12-11 06:09] axetroy commented on #2937
yes.

[2019-12-11 06:13] ramya-rao-a commented on #2937
https://code.visualstudio.com/docs/setup/network goes through some proxy related set ups for VS Code. Can you check if any of this helps?

[2019-12-11 06:17] ramya-rao-a commented on #1935
Thanks for reporting @robheerdink

While we have seen quite a few reports regarding debugging not working when using symlinks, we haven't been able to get a repro of it.

We would greatly appreciate it if you can [set up a local dev environment of this extension](https://github.com/Microsoft/vscode-go/tree/master/src/debugAdapter) and help in figuring out where exactly we are failing.

[2019-12-11 06:18] ramya-rao-a commented on #2919
Thanks @atombender!

[2019-12-11 06:18] #2919 closed

[2019-12-11 06:23] tharun-d commented on #2914
i am opening entire project folder only still it is not working I am pretty sure it broke after updating vscode to latest

[2019-12-11 06:25] vctqs1 commented on #2934
`version v0.1.3, built in $GOPATH mode`

`2019/12/11 13:25:20 Info:8.428785ms for GOROOT= GOPATH= GO111MODULE=on PWD=/home/thu go "list" "-m" "-json" "all", stderr: <<warning: pattern "all" matched no module dependencies

2019/12/11 13:25:20 Info:9.311892ms for GOROOT= GOPATH= GO111MODULE=on PWD=/home/thu go "list" "-e" "-json" "-compiled=true" "-test=true" "-export=false" "-deps=true" "-find=fals

[2019-12-11 09:05] huanghantao commented on #2115
I have the same problem.

[2019-12-11 16:29] luexu opened #2941 "VSCode 1.40.2 "go.useLanguageServer": true bug"
OS: windows 10 pro 64bit
CPU:  Intel(R) Core(TM) i5-9400F CPU @2.9GHz 2.90GHz
RAM: 16GB
vscode: 1.40.2
go version: go1.13.4 windows/amd64

setting.json
[code]

go env
[code]

gopls version
[code]
auto complete dosen't work!!!  **It'll remove some useful code after saving( when the option go.userLanguageServer is true.**

Sometimes Vscode doesn't import existing packages.
Sometimes Vscode doesn't s

[2019-12-11 18:16] stamblerre commented on #2940
The linter still has to be re-written to use the `go/analysis` API before it can be integrated into `gopls`, so I don't expect this to be implemented in the near future, though it is something we would like achieve long-term.

[2019-12-11 18:31] stamblerre commented on #2914
@tharun-d: Can you share the output of `gopls -rpc.trace -v check /path/to/file.go`?

[2019-12-11 18:31] npollitt commented on #2939
When running with delve, the `os.Open()` call works as expected - file found, opened, no error.  `dlv debug package/path/to/vtr -- -f /absolute/path/to/file.json`

For debug info, you mean launch.json?
`
{
            "name": "Debug VTR",
            "mode": "debug",
            "program": "${workspaceFolder}/cmd/vtr",
            "cwd": "${workspaceFolder}",
            "showLog": true,

[2019-12-11 18:35] stamblerre commented on #2936
I believe that in the extension we explicitly excluded `gotests` from being installed in module mode because the Go command did not yet support the `./...` wildcard in 1.13. @eraserix: Does it work if you install `gotests` through the VS Code extension?

[2019-12-11 18:41] stamblerre commented on #2934
@vctqs1: It looks like you are using a very old version of `gopls`. Current versions of the VS Code Go extension automatically update to latest, so I imagine you will want to update to a more recent version of the VS Code Go extension.

To update just `gopls` to latest, please follow these steps: Ctrl + Shift + P -> `Go: Install/Update Tools` -> `gopls`. The current version of `gopls` is `v0.2.2`.

[2019-12-11 18:50] quoctruong commented on #2931
@deschmih I think this is the correct behavior. You have to specify both the `remotePath` and `cwd` (local path). `remotePath` would be the path on the Linux server (for example: `/bin/src/hello`) and the `cwd` can be something like `${workspaceFolder}/src/hello`

[2019-12-11 21:12] stamblerre commented on #2941
@luexu: What is the output of `gopls version`? Are you using Go modules or GOPATH? If you are using modules, make sure that you open VS Code at the root of your module (at the directory that contains the `go.mod` file).

[2019-12-11 23:29] ramya-rao-a commented on #2940
Thanks @stamblerre

[2019-12-11 23:29] #2940 closed

[2019-12-12 00:24] ramya-rao-a commented on #2931
@quoctruong Should we then throw an error if `cwd` is not provided if `remotePath` is used in `attach` mode?

cc @jhendrixMSFT

[2019-12-12 00:25] ramya-rao-a commented on #2939
Thanks for the details @npollitt

@quoctruong Can you take a look at this?

[2019-12-12 00:32] ramya-rao-a commented on #2871
I agree with @zmb3

@simonchan2013 Since you are using the language server, the act of organizing imports might be changing things around. Can you try updating the go specific setting as below to disable that feature as well
[code]

[2019-12-12 01:55] ramya-rao-a commented on #2932
Thanks for reporting @jim-minter

I'll be closing this issue in favor of #1557 which deals with the same problem.
Please add your thoughts there.

[2019-12-12 01:55] #2932 closed

[2019-12-12 01:58] ramya-rao-a commented on #2633
There have been quite a few changes in the extension since September around the area of how we handle the language server, one of which was to clear the diagnostics.

The `Restart Language Server` command should now be working as expected.

[2019-12-12 01:58] #2633 closed

[2019-12-12 02:06] ramya-rao-a commented on #2636
Hey @RelicOfTesla,

Thanks for reporting.

I do see the merits of this feature, although I am afraid I don't believe this extension is the right place for it.

As VS Code and this extension has gained popularity, we have seen a gradual scope creep over the past year. Being a sole maintainer of this project, it is getting a little hard to support all incoming requests and maintaining the ever growi

[2019-12-12 02:06] #2636 closed

[2019-12-12 02:16] ramya-rao-a commented on #2651
Apologies for the very late reply here.

@bobhancock Do you still have this issue? Are you using any of the vscode-remote extensions? We have had few reports where text edits werent being applied as expected when using the vscode-remote extensions

[2019-12-12 02:21] ramya-rao-a commented on #2910
Thanks for reporting @gertcuykens
Closing this issue in favor of #2793 which I believe is the same feature request

[2019-12-12 02:21] #2910 closed

[2019-12-12 02:39] ramya-rao-a commented on #2911
The extension currently uses the `go-outline` tool which does not give the information that we would need to show what you presented above.

But, when `go.useLanguageServer` setting is enabled, the outline feature is powered by the language server and it does show more useful information

![image](https://user-images.githubusercontent.com/16890566/70677923-67527600-1c45-11ea-8ed5-d4af0b2f4176.png)

[2019-12-12 02:39] #2911 closed

[2019-12-12 02:40] ramya-rao-a commented on #2910
Please subscribe to #2793 for further discussions

[2019-12-12 02:42] ramya-rao-a commented on #2793
I am not the best judge when it comes to Go's natural paradigms, so looping in a few friends from the Go tools team :)

@stamblerre Any thoughts here? Please loop in others from the team if needed.

[2019-12-12 02:48] jim-minter commented on #2932
Thanks!  I did look for an issue that was already open, honest ;-)

[2019-12-12 02:54] ramya-rao-a commented on #2861
We depend on json-rpc2 for the debugging feature that is provided by this extension which in turn depends on v3 of lodash resulting in the above warnings.

Unfortunately, json-rpc2 has not had a release in years.

One option would be to fork the package and update the dependency ourselves.

[2019-12-12 03:15] simonchan2013 commented on #2871
@ramya-rao-a This wil disable all feature of goimports

[2019-12-12 03:19] ramya-rao-a commented on #2887
Thanks for reporting @giniedp

I also noticed that when you remove the quotes around the tags, the vet output is as expected
`"go.vetFlags": ["-tags=unit mock"]`

Another option is to use the buildTags setting instead `"go.buildTags": "unit mock"`

[2019-12-12 03:20] ramya-rao-a commented on #2887
Please try either of the 2 options above.

[2019-12-12 03:20] #2887 closed

[2019-12-12 03:23] ramya-rao-a commented on #2907
@GrimTheReaper Until a desired compromise is reached you can disable the diagnostics from the language server and rely on the diagnostics coming directly from the extension.

You already know how to disable diagnostics from language server.
To ensure you are getting diagnostics from the extension , ensure you have one or more of the below settings set to `package`
- go.buildOnSave
- go.vetOnSave
-

[2019-12-12 03:24] ramya-rao-a commented on #2909
The [latest beta version of this extension](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) will now show a `Don't show again` button on the notification which should help.

[2019-12-12 03:26] ramya-rao-a commented on #2912
Thanks for reporting @kylebrandt
Is this related to #2850?

[2019-12-12 03:29] ramya-rao-a commented on #2871
@simonchan2013 Like @zmb3 is saying the Go tooling follows certain rules regarding tabs and spacing that are not really configurable. So, if you don't prefer the default behavior, the only solution I can think of is to not use any features from such tools.

[2019-12-12 03:29] ramya-rao-a commented on #2932
I believe you :)

[2019-12-12 03:39] ramya-rao-a commented on #2370
When `go.useLanguageServer` setting is enabled and `gopls` is used, the outline feature is powered by the language server and it does show more useful information. Any further information we would like to see should be logged as a feature request to `gopls` in the [go issue tracker](https://github.com/golang/go/issues/new?title=x%2Ftools%2Fgopls%3A%20%3Cfill%20this%20in%3E)

![image](https://user-

[2019-12-12 03:39] #2370 closed

[2019-12-12 03:40] ramya-rao-a commented on #2317
Closing this issue in favor of the upstream issue

[2019-12-12 03:40] #2317 closed

[2019-12-12 03:53] ramya-rao-a commented on #2107
Based on the current state, the problem for when using `gocode` was fixed with #2215

This leaves the docs that appear on hover.

@segevfiner Does this problem occur when using the language server as well?
If not, then I am inclined to close this issue in favor of using the language server

cc @stamblerre

[2019-12-12 05:07] stamblerre commented on #2793
I'm not sure if symbols actually do make more sense in the scope of a package. I find them to be mostly useful for finding a symbol in a file, so I would imagine that people would want the ability to see both a file and a package view. I don't think VS Code's UI is capable of handling this behavior, or at least LSP doesn't have any way to do this. Still, this question might be useful to raise with

[2019-12-12 07:56] eraserix commented on #2936
Yeah, right: https://github.com/microsoft/vscode-go/blob/0.11.9/src/goInstallTools.ts#L145

I checked again on another computer with another version of go (1.13.5).

When I ONLY select gotests for installation, gotests gets installed, but vscode never notices that gotests has been installed and just seems to hang (but ~/go/bin/gotests is there)

If I select another go tool AFTER gotests (say golin

[2019-12-12 08:05] giniedp commented on #2887
@ramya-rao-a thanks, that works perfectly.

However it still leaves a malformed output line

Not a big issue, but might be misleading for anyone who relies on that output to be a valid command.

[2019-12-12 09:54] Basez commented on #2563
This is happening for me right now as well.. it does not actually kill the debug session, but I need to press F-5 to resume the session. Even though no "current line" is highlighted in VScode...

[2019-12-12 10:28] dhineshbabu opened #2942 "How to install the additional tools offline? with out git"
Hi,
I have a restriction here in my org. that I can not install git. So the additional files/tools installations fail all the time because of Git absence.

Is there any other way to install them without Git?

Thanks,
Dhinesh

[2019-12-12 10:49] programmer04 opened #2943 "Snippet improve for loop"
Now snippet for `for` looks like that:
[code]
but in most languages and in Go too, using `i` instead of `index` is a convention:
[code]
for example, this is recommended here https://talks.golang.org/2014/names.slide#6
What do you think about it? I'll be happy to make a Pull Request 🙂

[2019-12-12 14:30] GrimTheReaper commented on #2907
Okay. I'll do that. Feel free to leave this open until a compromise/decision is reached.

[2019-12-12 14:34] gertcuykens commented on #2793
I completely agree that it going to be hard to implement but I don't agree that symbol in a file is good enough. The only reason why people aren't complaining is that golang went mainstream waaaay before any ide and go tools were king. So we are used to work like Rob Pike and all his colleagues that have godoc open in a browser, some random text editor and a cmd line. If godoc was suddenly only ca

[2019-12-12 14:52] deschmih commented on #2931
@quoctruong & @ramya-rao-a
Thanks for your effort, but I think it is not really clear what I am doing. I build a go binary on windows for a remote linux host (crosscompilation). So the path embedded in the binary is actually a windows path seperated by forward slashes (/).
I have changed my launch.json as suggested:
[code]
This results in the following output:

[code]
This is what i would expect,

[2019-12-12 16:12] luexu commented on #2941
PS F:\Aa\proj\go\bin> .\gopls.exe version
golang.org/x/tools/gopls 0.2.2
    golang.org/x/tools/gopls@v0.2.2 h1:ujGisyytgY1VGcmd66wIJ9+wVAfmodXj6daHM43HRXk=

I'm not using Go modules

[2019-12-12 18:21] jdwalker-emis commented on #2010
@KarthickEmis  @jackmcguire1  After further investigation into the Delve debugger , I've discovered the following:

1. The compiler go build encodes filepaths and lines in the following format:
1.a. Windows Subsystem for linux with GOOS=linux : /c/git/linux/exampleFile/main.go
1.b.  Windows with GOOS=linux : C:/Git/exampleFile/main.go
2. The binary is then zipped up ready for deployment
3. AWS SAM

[2019-12-12 18:38] jackmcguire1 commented on #2010
Great detective work @jdwalker-emis!

I would like to inspect what file path osx produces using linux build, as I suspect it’ll probably be similar to the ones above,

I would say for now it’s an ELI5ing in AWS docs on how to structure remote path for vscode as this is configurable

However I guess raising the issue with delve or go build, Is the way to go as the build process isn’t explicitly han

[2019-12-12 18:50] quoctruong commented on #2931
@deschmih I see. I think forward slash should actually work on Windows too so perhaps we don't have to change the path separator to backslash. @jhendrixMSFT, @ramya-rao-a Do you see any problems with this?

[2019-12-12 19:51] stamblerre commented on #2936
I bet [this line](https://github.com/microsoft/vscode-go/blob/74ba78a7c383e8b4f4886a243e95d8c66858b0f3/src/goInstallTools.ts#L158) is the culprit for VS Code hanging. It should be the check that is [here](https://github.com/microsoft/vscode-go/blob/74ba78a7c383e8b4f4886a243e95d8c66858b0f3/src/goInstallTools.ts#L144) instead. Probably because we never create a `go.mod` file in the case of a single

[2019-12-12 20:10] ramya-rao-a commented on #2907
@stamblerre Do you want to log an issue for gopls around the above?

[2019-12-12 20:35] stamblerre commented on #2907
I think I would prefer to follow my suggestion above (https://github.com/microsoft/vscode-go/issues/2907#issuecomment-555596378). I think this is doable on the client side, so the configuration does not need to be handled in `gopls`.

[2019-12-12 20:49] quoctruong commented on #2807
@jorng What if instead of `"program": "${fileDirname}"`, you use something like `"program": "<relativePath>"`?

[2019-12-12 20:51] quoctruong commented on #2807
@vshkola, I think you are not specifying the path mapping correctly. `remotePath` should be the path to the program on the server and `cwd` should be the path to the program on the host machine (so should be something like `"cwd": "${workspaceFolder}"` and `remotePath: "<remote path>"`.

[2019-12-12 22:23] stamblerre commented on #2941
What directory do you open in VS Code - is it your entire GOPATH? Can you share the output of `gopls -rpc.trace -v check path/to/file.go` for some file in your project?

[2019-12-12 23:12] srinathh commented on #2793
Glad this is getting discussion. In Go, files temd to have arbitrary collections of code  and organizing namespace is package. For instance in the [http](https://golang.org/src/net/http/) package, some files contain lots of functions while some contain a single function. However all of them can see all others including the private functions under the package namespace.

When developing packages, I

[2019-12-13 00:42] ramya-rao-a commented on #2936
The fix for this should be available in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension. Please try it out and let us know how it goes

[2019-12-13 00:42] ramya-rao-a commented on #2929
Thanks for the PR @Ashniu123

The change here should be available in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension. Please try it out and let us know how it goes

[2019-12-13 01:14] gertcuykens commented on #2793
Rebecca Stambler mentioned `lsp` doesn't have any way to do this. So first we need a `gopls` issue ticket addressing this. What worries me is that there isn't one already as far as I can tell? It worries me because it means there is a huge communication gap between golang developers and gopls developers. Do we need to turn of godoc before people actually start communicating what they really need f

[2019-12-13 01:21] vctqs1 commented on #2934
Tkank you. I tried to do industry.

`Using the value /home/thu/go from the go.toolsGopath setting.
Installing 0 tool at /home/thu/go/bin in module mode.

All tools successfully installed. You're ready to Go :).
`

[2019-12-13 04:10] luexu commented on #2941
not the entire Gopath.
I opened F:\Aa .   GOPATH F:\Aa\proj\go is just a sub-directory.

[code]

[2019-12-13 06:40] iiinsomnia opened #2946 "add struct `tag` snippets like `goland`"
If you have a question, please ask it on https://gitter.im/Microsoft/vscode-go or on the VSCode channel in Gophers Slack(https://invite.slack.golangbridge.org/)

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what

[2019-12-13 11:40] 0zAND1z opened #2947 "gopls is consuming 100% CPU while running VSLS session"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.12 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.0 9579eda04fdb3a9bba2750f15193e5fafe16b959 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.11.9
- Run `go env GOOS GOARCH`

[2019-12-13 11:52] 0zAND1z commented on #2947
Hi @ramya-rao-a , I did a bit of discovery on older GitHub issues to check if there is an overlapping scope.

But it looks like none of them reported such issues when participating in a VSLS collab session.

Could you please help me on this?

[2019-12-13 18:32] stamblerre commented on #2793
To clarify, when I say that LSP doesn't support this I mean that the actual protocol doesn't have a way to express this functionality. See [`textDocument/documentSymbols`](https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/#textDocument_documentSymbol), which operates per-file. Note that the Ranges specified in the result do not contain a URI, so there is no way

[2019-12-13 18:42] stamblerre commented on #2934
What is the output of `which gopls`? It sounds like you may have two versions installed. Based on the output from VS Code, I would expect that you want the version of `gopls` in `/home/thu/go/bin`. What is the output of `/home/thu/go/bin/gopls version`?

[2019-12-13 18:46] stamblerre commented on #2941
Looks like `gopls` is not able to find the metadata for your package. Can you try running the same command, but this time, can you `cd` into your `F:\Aa\proj\go\src\project\luexu` directory?

[2019-12-13 18:54] stamblerre commented on #2947
It looks like `gopls` is unable to determine which package your file belongs to, so it is continuously running the query that tries to determine it. What is the output of `gopls -rpc.trace -v check abi/abi.go`?

[2019-12-13 19:42] gertcuykens commented on #2793
hmm I fail to see why this would be impossible in LSP considering this?

[code]

[code]

[2019-12-13 21:46] ramya-rao-a commented on #2946
Please provide more details on your feature request

[2019-12-13 21:48] ramya-rao-a commented on #2947
Thanks for reporting @0zAND1z
@stamblerre works on `gopls` and should be able to help.

[2019-12-14 05:17] 0zAND1z commented on #2947
Thanks @ramya-rao-a . You guys rock!

Hi @stamblerre , here is the log:
[code]

FYI, the abi.go file is present in the project file tree as follows:
`src/abi/abi.go`

I am collaborating to this file remotely by joining a VSLS collaboration.
Also, if it helps, I have not cloned this project locally in my machine.

[2019-12-14 18:11] luexu commented on #2941
[code]

[2019-12-15 03:29] ramya-rao-a commented on #2192
Closing this issue as a work-around was found and there is no action item planned from the extension's perspective.

[2019-12-15 03:29] #2192 closed

[2019-12-15 03:46] ramya-rao-a commented on #2270
Apologies for the very late reply

The `Go` output channel at the moment only logs the diagnostics related processes like build, vet and lint. The `Go test` output channel gets used to show test output.

The `gopls` output channel gets used to log everything related to the language server based on the values passed to the `go.languageServerFlags` setting.

#526 tracks the need to do more logging w

[2019-12-15 03:46] #2270 closed

[2019-12-15 03:58] ramya-rao-a commented on #2630
Hey @RobertBaruch

Apologies for the late follow up here

Do you still have problems with `inferGopath` setting when you open vscode in the `src` directory?

I checked the code around how we infer go path based on the folder that was opened as a root in vscode, and it looks like things should work as expected even when the `src` directory is opened as root.

[2019-12-15 04:01] ramya-rao-a commented on #2698
@henrahmagix We have made a few changes to the tool installation process in the past few months which should have fixed the issue here.

Please log a new issue if you see problems installing the Go tools using the latest version of this extension.

Thanks for reporting & Happy Coding!

[2019-12-15 04:01] #2698 closed

[2019-12-15 04:07] ramya-rao-a commented on #2702
Closing this issue because it needs more information and has not had recent activity.

If there are any issues regarding finding references when using the language server, please see the [Troubleshooting guide for gopls](https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md)

[2019-12-15 04:07] #2702 closed

[2019-12-15 04:12] ramya-rao-a commented on #2760
Apologies for the late reply

`gocode` requires a saved file to act on. That is the reason you were not able to see any completions.

Interestingly, `gopls` does not have the same restrictions and I was able to get completions for unsaved file too when using the language server.

Closing this issue as we don't have plans to make completions work with an unsaved file in this manner.

Thanks for rep

[2019-12-15 04:12] #2760 closed

[2019-12-15 04:15] ramya-rao-a commented on #2764
@stamblerre Does the latest version of `gopls` have the above fix at the moment?

@akhilravuri1 Closing this issue as there is no action item from the extension's perspective.

[2019-12-15 04:15] #2764 closed

[2019-12-15 04:16] ramya-rao-a commented on #2781
Closing this issue as we need more information and there hasnt been any recent activity here.

[2019-12-15 04:16] #2781 closed

[2019-12-15 04:17] ramya-rao-a commented on #2823
Closing this issue in favor of the upstream issue linked above.

[2019-12-15 04:17] #2823 closed

[2019-12-15 04:35] ramya-rao-a commented on #2923
In that case, please log the issue in the [repo for the impl tool](https://github.com/josharian/impl)
If it is determined that the extension is invoking the impl tool incorrectly, then we can re-open this issue.

Thanks for reporting & Happy Coding!

[2019-12-15 04:35] #2923 closed

[2019-12-15 13:04] vlad-pro commented on #2447
@zevdg
Having the same thing here. Spent a few hours trying to get around it.

[2019-12-16 01:52] #2946 closed

[2019-12-16 04:58] tharun-d commented on #2914
gopls -rpc.trace -v dal/trainer.go
gopls: command not found
I tried to install gopls with go install update tools in vscode
then i got
go.toolsGopath setting is not set. Using GOPATH /home/tharun/work/nsdcserverside
Installing 1 tool at /home/tharun/work/nsdcserverside/bin in module mode.
  gopls

Installing golang.org/x/tools/gopls SUCCEEDED

Reload VS Code window to use the Go language server
Al

[2019-12-16 05:31] stamblerre commented on #2793
We return `DocumentSymbol` instead of `SymbolInformation` from `textDocument/documentSymbols` because it is a more detailed response type (allows for hierarchies, etc.). It was added in later versions of the protocol. That type contains a Range instead of a Location, which does not include the URI.

[2019-12-16 05:46] stamblerre commented on #2764
@ramya-rao-a: Yes, it does.

[2019-12-16 05:54] stamblerre commented on #2914
It looks like your GOPATH is not on your PATH. You can try either adding your GOPATH to your PATH or you can run `gopls` with the full path: `/home/tharun/work/nsdcserverside/bin/gopls -rpc.trace -v check dal/trainer.go`.

[2019-12-16 06:10] akhilravuri1 commented on #2764
@ramya-rao-a Yes, it is working fine..Thanks for the fix.

[2019-12-16 07:29] gertcuykens commented on #2793
Hmm and what about putting the location in `detail`?
[code]

[2019-12-16 07:47] gertcuykens commented on #2793
Found the ticket why they didn't include it https://github.com/microsoft/language-server-protocol/issues/582 So basicly we need to go back to the gopls drawing board or comment on the LSP issue from more then a year ago that adresses this issue, explaining we are doing it the wrong way.

[2019-12-16 08:16] eraserix commented on #2936
The results with go 1.12.14 and go extension 0.11.10-beta.5:

Installing gotests alone works.
Installing gotests as the last selection hangs (gorename + gotests)
Installing gotests as first selection fails (gotests + gomodifytags):
[code]

[2019-12-16 09:14] tharun-d commented on #2914
gopls is not present in bin

[2019-12-16 18:14] stamblerre commented on #2947
Thank you for the report. I know that `gopls` should work fine with VS Code remote development, but it's possible that we are not handling VSLS properly. The error message that you see above seems to come from the client-side of `gopls`, so it's unfortunately not helpful in diagnosing the issue. Would you be able to share the logs from when you run `gopls` in a VSLS session? You can capture logs b

[2019-12-16 22:11] stamblerre commented on #2936
Thanks for trying again! It seems to be something specific to Go 1.12, and I was able to reproduce when I checked out that version. Even though this isn't an issue with Go 1.13, I mailed a PR that I think solves the problem.

[2019-12-16 22:15] en-vee opened #2949 "auto-complete not working for custom packages"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	`go version go1.13.5 windows/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	`1.28.2
7f3ce96ff4729c91352ae6def877e59c561f4850
x64`
- Check your installed extensions to get the version of the VS Code Go extension
	0.11.4
- Run `go env GOOS GOARCH

[2019-12-17 00:46] stamblerre commented on #2941
Hm, it looks like the package metadata query isn't even running in the above log. What is the output of `go list -e -json -compiled -test F:\Aa\proj\go\src\project\luexu`?

[2019-12-17 00:49] luexu commented on #2941
[code]

[2019-12-17 01:04] stamblerre commented on #2793
Just to clarify - we are not handling `textDocument/documentSymbols` incorrectly in `gopls`, and IMO, it entirely depends on a user's preference.

To quote https://github.com/microsoft/vscode-languageserver-node/pull/425#issuecomment-430560803:

Different IDEs may have different behaviors, but in the context of LSP, we have the correct behavior. If you would like to open an issue with the protocol

[2019-12-17 03:03] gertcuykens commented on #2793
Correct me if I am wrong. I make the assumtion that the active editor in vscode-go does one document request that basicly ends up here https://github.com/golang/tools/blob/master/internal/lsp/symbols.go Then from that response `[]protocol.DocumentSymbol` most features, including outline, get extracted right? So even if a DocumentSymbol did had a uri field the result would be the same because the r

[2019-12-17 04:18] tharun-d commented on #2914
I manually installed now gopls binary is present in bin. and I reloaded vscode also
But still Find all reference is not working
attaching screenshot

1. Here changeTrainer Find all reference showing only once

![Screenshot from 2019-12-17 09-44-22](https://user-images.githubusercontent.com/24644710/70964469-fcc09080-20b1-11ea-87ae-4b53cc644dcd.png)

2. But I did overall search it is used in routes

[2019-12-17 07:47] stamblerre commented on #2793
Thank you for filing the upstream issue. All that's really needed on the `gopls` side is the ability to send back a URI for `DocumentSymbol`, since `gopls` knows which packages a file belongs to and could send back the all of the symbols for the given file's package.

[2019-12-17 13:04] rhcarvalho opened #2950 "Fuzzy search of workspace symbols"
**Is your feature request related to a problem? Please describe.**
I am trying to quickly navigate to a test function that I know contains a certain string in the name.

For example, I want to find a test with the word "Flush", so I'd type `TestFlush` or `Test Flush` and expect to see `TestHTTPTransportFlush`, but see no match:

![image](https://user-images.githubusercontent.com/88819/70996251-ac0

[2019-12-17 15:48] promaty commented on #2505
I figured out the problem. Go dlv debugger uses some system calls that are not supported in WSL1. Remember that WSL1 just uses a small Linux emulation layer while trying to translate Linux system calls to Windows.

WSL2 contains a fully fledged Linux kernel with full system call compatibility. However it's currently in beta and is only available with Windows insiders build (general availability so

[2019-12-17 16:21] stamblerre commented on #2914
If your `$GOPATH/bin` is not on your `$PATH` you would have to execute `./gopls` in the directory that contains `gopls`.

Regarding find references, the currently released version of `gopls` does not support find references in multiple packages. The next version of `gopls` will support this feature in your workspace scope.

[2019-12-18 15:01] inliquid opened #2951 "Action "Restart language server" doesn't work as expected when there are problems with `gopls`"
1. VS Code 1.41.0
2. vscode-go 0.11.10-beta.5
3. gopls@master

Restart language server works __only__ if there are no problems with `gopls`. However it's obvious that when there are no problems nobody will even think to restart any moving part from the internals of IDE.

If `gopls` is stuck or hung which happens quite often, action "Restart language server" doesn't work at all. First run just does

[2019-12-18 16:18] renthraysk commented on #2933
Same problem running go 1.14rc1

[2019-12-18 23:04] GTANAdam commented on #2858
I'm currently having this issue, would be great to have this annoying error not popup during development otherwise everything compiles fine anyway.. it's just annoyance.
Would be great to have the patch backported, thanks!

[2019-12-19 09:05] leguminosa opened #2952 "Gotests console logging trimmed"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2019-12-19 10:55] #2871 closed

[2019-12-19 10:55] #2651 closed

[2019-12-19 10:56] #2937 closed

[2019-12-19 16:36] cfiderer opened #2953 "go.debug.cursor looses build tags"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2019-12-19 18:07] firelizzard18 opened #2954 "Add setting to disable "Go Modules" status bar item"
**Is your feature request related to a problem? Please describe.**
I cannot selectively hide or disable the `📣 Go Modules` status bar icon.

**Describe the solution you'd like**
I would like a setting added: `go.enableModuleStatusBarIcon: bool`. This would default to `true`, but allow users to disable the status bar icon.

**Describe alternatives you've considered**
VSCode lets me hide status bar

[2019-12-19 18:50] ramya-rao-a commented on #2807
There are two different issues being discussed here.

- Case when `-trimpath` is set in the GOFLAGS which is what the original issue logged by @jorng is related to
- Case when remotePath is not configured properly which is what is the case is for @vshkola

I'll update the issue title to reflect the `trimpath` situation and to cater to the first issue listed above.

@jorng, @quoctruong,  Passing re

[2019-12-19 19:12] ramya-rao-a commented on #2931
@deschmih I would recommend that you try using the Go extension from the source to figure out exactly where we are messing up the path separators

- [Debugging the debug adapter](https://github.com/microsoft/vscode-go/tree/0.11.9/src/debugAdapter) is a good starting point to set up your local environment for the extension
- When the program is launched, there is a list of path related operations w

[2019-12-19 19:18] ramya-rao-a commented on #2010
cc @quoctruong and @jhendrixMSFT for any additional insights here

[2019-12-19 19:18] ramya-rao-a commented on #2563
cc @quoctruong and @jhendrixMSFT for any additional insights

[2019-12-20 18:24] jcbit commented on #1746
I agree, I am working with node and looking for a way to use multiple envfiles

[2019-12-20 21:26] quoctruong commented on #2010
I think this seems similar to this issue: https://github.com/microsoft/vscode-go/issues/2931. The work around was to build with `go build -gcflags=-trimpath=c: -asmflags=-trimpath=c:` and to replace the `remotePath` in the launch setting.

[2019-12-20 21:57] RobertBaruch commented on #2630
Seems to be working ok now. I've also switched to the Go language server, that could have something to do with it? But in any case, I no longer have any issues!

[2019-12-20 21:57] #2630 closed

[2019-12-22 13:29] GordonHK opened #2955 "Installing Go extension failure"
Issue Type: <b>Bug</b>

go.toolsGopath setting is not set. Using GOPATH C:\Users\gordo\go
Installing 7 tools at C:\Users\gordo\go\bin in module mode.
  gocode
  gopkgs
  go-outline
  gocode-gomod
  godef
  goreturns
  golint

Installing github.com/mdempsky/gocode FAILED
Installing github.com/uudashr/gopkgs/cmd/gopkgs FAILED
Installing github.com/ramya-rao-a/go-outline FAILED
Installing github.com/

[2019-12-22 15:01] kiyapedia opened #2956 "ms-vscode.go extension causing high CPU"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2019-12-23 16:17] chiller-whale opened #2957 "Go to definition stopped working after 0.11.8"
Go to definition stopped working since updating to extension version 0.11.8. If I install 0.11.7, it starts working again.

**Go Version**: 1.13.4
**VS Code Version**: 1.41.1
**Go Extension**: 0.11.9
**OS**: Mac OS 10.14.6
**OS and Arch details**: darwin amd64

Related settings:
[code]

[2019-12-23 18:50] stamblerre commented on #2957
Can you please provide some additional information, specifically the output of `gopls version` and some `gopls` logs? You can see how to capture `gopls` logs here: https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs. The output of `gopls -rpc.trace -v check path/to/file.go` would also be helpful here. Thanks!

[2019-12-23 19:01] stamblerre commented on #2955
This looks like an issue with your Go installation. Do you have multiple Go installations? What is the output of `go version`?

[2019-12-24 18:53] chiller-whale commented on #2957
`gopls version` output:
[code]

When running the `Peek Implementation` command, I see this error in the `gopls` logs:
[code]

Output of `gopls -rpc.trace -v check`:
[code]

I also created a (repo)[https://github.com/chiller-whale/vscode-go-issue-2957] to reproduce this

[2019-12-24 19:31] stamblerre commented on #2957
`gopls/v0.2.2` does not have full support for the implementations request, which I imagine is why it's not working. You can try out `gopls` at master, which should work correctly - you can download it by running `GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master`.

[2019-12-24 19:43] ramya-rao-a commented on #2942
How do you otherwise install any of the other Go tools that your workflow might need?

@stamblerre Any ideas here?

[2019-12-24 19:45] ramya-rao-a commented on #2949
@en-vee The settings you have shared are the default values for all Go related settings. What we are looking for are the ones you have edited/added. They will be available on the right side of the split view you see when running the command `Preferences: Open Settings (JSON)`.

[2019-12-24 19:53] ramya-rao-a commented on #2950
The extension uses the [go-symbols](https://github.com/acroca/go-symbols) tool to provide the workspace symbols based on the user given "query". Since this tool doesn't support fuzzy search, the extension cannot do much in this case.

The [language server gopls](https://github.com/microsoft/vscode-go#go-language-server) on the other hand is not tied to this tool.

@stamblerre Would you consider th

[2019-12-24 19:55] ramya-rao-a commented on #2951
Thanks for reporting @inliquid
There are some changes that were made to this command in the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension). Can you confirm you see the same here as well?

cc @stamblerre

[2019-12-24 19:57] ramya-rao-a commented on #2952
Please provide a small code snippet for the test you are running, expected output and actual output.

[2019-12-24 21:07] inliquid commented on #2951
0.11.10-beta.5 seems to be latest beta.

[2019-12-26 04:49] GordonHK commented on #2955
Here you go!

`>go version
go version go1.13.5 windows/amd64`

[2019-12-26 06:39] GordonHK commented on #2955
Sorry about the belated reply. Please find the reply below.

`go version go1.13.5 windows/amd64`

[2019-12-26 07:25] gerrywp commented on #2930
Does anybody focus it?

[2019-12-26 16:37] chiller-whale commented on #2957
Fixed 👍

[2019-12-26 16:37] #2957 closed

[2019-12-26 16:44] UndeadBaneGitHub opened #2958 "Debugger does not stop at breakpoints, when the folder opened is symlinked"
It is a continuation of an issue https://github.com/Microsoft/vscode-go/issues/1935

Unfortunately, the conversation there was locked to members only, so I had to open this card.

I have been able to reproduce the behavior (VSCode does not stop at breakpoints, while `dlv` itself does) for the symlinked `GOPATH` on two separate `Ubuntu 19.10` installations, and I am pretty sure the issue is reprodu

[2019-12-27 04:44] stamblerre commented on #2955
Thanks. /cc @jayconrod for help on the Go command.
Can you run other `go` commands from the command line like `go build` or `go test`?
If not, it may be worth opening an issue on the [Go issue tracker](https://github.com/golang/go/issues/new).

[2019-12-27 05:26] ramya-rao-a commented on #2953
Thanks for reporting @cfiderer

The [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension has the fix for this bug. Can you please try it out and let us know how it goes? We will release an official update next week

[2019-12-27 05:27] ramya-rao-a commented on #2115
The [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) of this extension respects the `-args` passed to the `go.testFlags` setting. Any flags in the array that appear before `-args` get passed as "build flags" to delve. The rest get passed as "args".

Can folks here please try it out and let us know how it goes? We will release an off

[2019-12-27 05:31] ramya-rao-a commented on #2936
@eraserix Can you try again with the [latest beta version](https://github.com/microsoft/vscode-go/wiki/Use-the-beta-version-of-the-latest-Go-extension) that has the recent fixes

[2019-12-27 08:11] cfiderer commented on #2953
Hello Ramya,

the Go-0.11.10-beta.6.vsix version fixes the bug; using “Go: Debug Test At Cursor” gets the required build tags.
Thanks for the fast response, and all the best for the New Year!

Christian

From: Ramya Rao <notifications@github.com>
Sent: Freitag, 27. Dezember 2019 06:26
To: microsoft/vscode-go <vscode-go@noreply.github.com>
Cc: Fiderer, Christian <christian.fiderer@sap.com>; Mention

[2019-12-27 09:25] cnjeffliu commented on #2896
I had met the same problem, but not work fine after try anything I know

[2019-12-27 09:31] xieyuanhuata opened #2959 "When to support read var from stdin in debug mode"
I have verified it is OK which read stdin in debug mode on JetBrains GoLand 2019.2.3 x64, and the debugging tool is also dlv.
I think it is necessary！

[2019-12-27 10:45] wangguoxi commented on #2896
1、you can disable GoModules， and try&nbsp; again
2、If you use ssh-remote,make sure Go tool has been installed both windows and remote
3、list your&nbsp; “go env”

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Jeff"<notifications@github.com&gt;;
发送时间: 2019年12月27日(星期五) 下午5:25
收件人: "microsoft/vscode-go"<vscode-go@noreply.github.com&gt;;
抄送: "王国洗"<318175542@qq.com&gt;; "State change"<state

[2019-12-27 12:52] Lucasjuv commented on #816
I believe that for go the workspace root makes more sense. Looking at the [Standard Go Project Layout](https://github.com/golang-standards/project-layout) suggests that projects are organised this way. But that is just my opinion.

[2019-12-27 13:32] AlieksandraK opened #2960 "configuration "go.vetFlags": ["-composites=false"] seems not having affect"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go1.13.4 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.1 26076a4de974ead31f97692a0d32f90d735645c0 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.11.9
- Run `go env GOOS GOARCH` to get

[2019-12-27 14:57] cnjeffliu commented on #2896
first , it can work find if i disable the Gomodules;
then, I use Go tool locally, On windows10 by use vscode 1.41.1;
at last.  I execute the 'go env', here is the result:

set GO111MODULE=
set GOARCH=amd64
set GOBIN=
set GOCACHE=C:\Users\jeff\AppData\Local\go-build
set GOENV=C:\Users\jeff\AppData\Roaming\go\env
set GOEXE=.exe
set GOFLAGS=
set GOHOSTARCH=amd64
set GOHOSTOS=windows
set GONOPROXY=
se

[2019-12-27 18:02] stamblerre commented on #2896
If you are using modules with the language server (`gopls`), then you will need to open VS Code from the directory that contains the `go.mod` file. If you are still encountering issues, please file an issue on the [Go issue tracker](https://github.com/golang/go/issues/new) with some of the troubleshooting information requested [here](https://github.com/golang/tools/blob/master/gopls/doc/troublesho

[2019-12-27 18:05] stamblerre commented on #2942
The best alternative I can think of is manually downloading and installing the packages and their dependencies, though that will be tedious.

[2019-12-27 18:07] stamblerre commented on #2950
Yes, we already have an issue open to track this (https://github.com/golang/go/issues/33844).

[2019-12-27 18:10] stamblerre commented on #2951
Thanks for reporting. I'm not very familiar with the API here, but perhaps we need to add a delay and confirm that `gopls` has been shutdown before we try restarting it?

[2019-12-28 13:26] kiyapedia commented on #2956
My machine becomes impossible to use with this extension. Here is a screenshot of Activity Monitor.

<img width="798" alt="Screen Shot 2019-12-28 at 7 24 53 AM" src="https://user-images.githubusercontent.com/19699368/71544301-3e1f2e80-2943-11ea-9b37-384bb1a3453c.png">

[2019-12-28 23:12] alkaliphile commented on #2808
This happens for me, too.

Versions:

VS Code: 1.41.1
Go: 0.11.9

No errors in the developer tools when I ctrl-click in a file with the build flags. Also, adding the gopls setting mentioned above doesn't do anything; the setting is greyed out in settings.json, with a message that says "Unknown Configuration Setting." (Could this have something to do with the message I see about gopls being out of

[2019-12-29 14:12] cnjeffliu commented on #2896
I cannot using the language server , because of the gfw.

[2019-12-29 22:33] ramya-rao-a commented on #2808
@stamblerre What is the official story for passing such configuration to `gopls`? Am guessing you would want to have it in a way that it is editor agnostic.

[2019-12-29 22:36] ramya-rao-a commented on #2950
Thanks @stamblerre

Closing this issue in favor of the upstream issue linked above

[2019-12-29 22:36] #2950 closed

[2019-12-29 22:41] ramya-rao-a commented on #2942
Thanks @stamblerre

@dhineshbabu,

From the extension's perspective, we do not plan to offer any means of installing the tools that does not use git. You can refer to other alternatives to install the Go tools yourself.

Refer to the wiki on [Go tools used by the extension](https://github.com/microsoft/vscode-go/wiki/Go-tools-that-the-Go-extension-depends-on) for a list of such tools

[2019-12-29 22:41] #2942 closed

[2019-12-30 07:37] cjqpker opened #2961 "code prompt not working when filling parameters"
Code prompt not working when filling function parameters, and the background inside the brackets turns gray, is this a special input mode ?

<img width="617" alt="Screen Shot 2019-12-30 at 3 19 43 PM" src="https://user-images.githubusercontent.com/14192091/71572355-a0ca2300-2b19-11ea-821d-c988c9de4efe.png">

After hitting ESC twice, it works fine.
<img width="836" alt="Screen Shot 2019-12-30 at 3

[2019-12-30 11:41] jdwalker-emis commented on #2010
@quoctruong  I tried the workaround, and checked the debug information - unfortunately setting the trimpath only removed it for the immediate packages and not any of the referenced packages so I would be unable to set breakpoints for those packages. In addition Vscode go is pre fixing my remote path with a forward slash e.g. "/Git/code" vs compiled "Git/code" so this approach is not working.

[2019-12-30 18:29] evadnoob opened #2962 "+build directives in go source files breaks code navigation"
When source files include `// +build` directives, code navigation is broken.

I also see this error:
[code]

Removing the build directive comment and reload window and code navigation works(add it back and it breaks).

Using gopls/Language Server
vscode version: Version: 1.41.1 (November update)
go extension: Using version `0.11.10-beta.6`
Project is using go modules, is outside GOPATH, and has a

[2019-12-30 18:57] stamblerre commented on #2808
This way actually is editor agnostic - the client just has a `gopls` section for settings and can pass in anything through the middleware. In the next few weeks, I am planning on writing a generator for the VS Code `package.json` file based on the [current `gopls` options](https://github.com/golang/tools/blob/master/internal/lsp/source/options.go) so that we can have settings that are recognized b

[2019-12-31 05:37] ramya-rao-a commented on #2873
The latest version of this extension (0.12.0) has this feature now.
Use the setting `go.coverOnSingleTestFile` to enable it.

Thanks to @cristaloleg for reporting and for the PR as well :)

Happy Coding!

[2019-12-31 05:38] ramya-rao-a commented on #2880
The latest version of this extension (0.12.0) has the option on the warning to not show it again.

Thanks to @TrueCarry for reporting and to @csmadhav for the PR :)

Happy Coding!

[2019-12-31 05:38] ramya-rao-a commented on #2821
The latest version of this extension (0.12.0) has this feature now.

Thanks to @theryansmith for reporting and to @zmb3 for the PR :)

Happy Coding!

[2019-12-31 05:39] ramya-rao-a commented on #2929
The latest version of this extension (0.12.0) has this feature now.

Thanks to @czlhs for reporting and to @Ashniu123 for the PR :)

Happy Coding!

[2019-12-31 05:39] #2929 closed

[2019-12-31 05:40] ramya-rao-a commented on #2936
The latest version of this extension (0.12.0) has this fix for this issue.

Thanks to @eraserix for reporting and to @stamblerre for the fix :)

Happy Coding!

[2019-12-31 05:40] ramya-rao-a commented on #2953
The latest version of this extension (0.12.0) has the fix to this issue.

Thanks for reporting @cfiderer :)

Happy Coding!

[2019-12-31 05:40] #2953 closed

[2019-12-31 05:41] ramya-rao-a commented on #2115
The latest version of this extension (0.12.0) has this feature now.
Values passed after `-args` in `go.testFlags` will be treated as arguments. The ones before will be treated as build flags.

Thanks @segevfiner for reporting and everyone else for pitching in :)

Happy Coding!

[2019-12-31 05:41] #2115 closed

[2019-12-31 08:35] #2955 closed

[2019-12-31 17:13] tangx commented on #2929
# for comment
`setting.json`

[code]

+ `result`

[code]

[2019-12-31 20:16] #2952 closed

[2019-12-31 20:16] #2949 closed

[2020-01-02 05:57] gertcuykens opened #2964 "Go configuration title"
Go is the only extension that put the word `configuration` in its title.
![image](https://user-images.githubusercontent.com/863731/71653470-e9a5f580-2d2c-11ea-85fe-fd69f244df64.png)

[2020-01-02 19:30] RobertBaruch opened #2965 "go.buildTags description does not warn that it is ignored when language server is used."
Please answer these questions before submitting your issue. Thanks!

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.4 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.1
	- 26076a4de974ead31f97692a0d32f90d735645c0
	- x64
- Check your installed extensions to get

[2020-01-03 09:08] naimis20 commented on #2807
**_Case when remotePath is not configured properly which is what is the case is for @vshkola_**

Hello, I had the exact same problem with @vshkola and what helped me was to set the remote path as follows:
say your **Dockerfile** has the declaration
`COPY . /myapp
`
The solution would be to add to your **launch.json**
`remotePath": "/myapp/`

[2020-01-03 11:50] ghost opened #2966 "[WSL] source.organize crashes Gopath and IntelliSense during the import"
Iam using VSCode 1.41.1 with vscode-go Extensions inside the WSL.

When i add a import statement with a package wich not belongs to the go standard libary (for example "github.com/gorilla/mux"), it seems the IntelliSense is crashing during  source.organize auto import. From VSCode, i just got this message during the import runs.

![image](https://user-images.githubusercontent.com/59048061/71721556

[2020-01-03 17:50] Wingboy-Jim2 opened #2967 "Build is only building single file"
I have a package spread across multiple files within a directory.

Prior to the latest update I had no errors in any file.  Now each time I go to edit a file I get a litany of undeclared names.  They are not defined in the file being edited, but one of the other files in the directory.

This would appear to be related to the Dec 31 update.  Well, it might be rleated to the Dec 31 update, but it ap

[2020-01-04 12:08] Kezzo opened #2968 ""Failed to eval expression" when unmarshalling nested struct with json tags"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.5 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- Version: 1.41.1 Commit: 26076a4de974ead31f97692a0d32f90d735645c0
- Check your installed extensions to get the version of the VS Code Go extension
	- Version: 0.12.0
-

[2020-01-06 00:47] Borkason opened #2969 "Formatting a Go document mangles and breaks code."
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.5 windows/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.1 26076a4de974ead31f97692a0d32f90d735645c0 x64
- Check your installed extensions to get the version of the VS Code Go extension
	- Go 0.12.0
- Run `go env GOOS G

[2020-01-06 07:35] eraserix commented on #2936
Unfortunately, I still get an error with go 1.12.14 and go extension 0.12.0. gotests can only be installed successfully as last or only selection.

[2020-01-06 14:26] dewey commented on #2936
Just confirming that I had the same issue as @eraserix (Go go1.12.14 and 0.12.0). Installed it as the only one selected in the updater and then it worked.

[2020-01-06 17:10] RobertBaruch commented on #2965
Oh, well now it looks like gopls doesn't even accept -tags :/

[2020-01-06 17:28] ramya-rao-a commented on #2936
Thanks @eraserix and @dewey

@stamblerre Can you please take a look at this?
I can confirm the same happening on Go 1.12.12

<img width="747" alt="Screen Shot 2020-01-06 at 9 27 45 AM" src="https://user-images.githubusercontent.com/16890566/71835638-e8473680-3066-11ea-8474-f53ffc832ccc.png">

[2020-01-06 19:31] stamblerre commented on #2936
Thanks for the reports. Just mailed https://github.com/microsoft/vscode-go/pull/2970 which I believe should be the right fix. `GO111MODULE` wasn't actually being turned off.

[2020-01-06 21:19] stamblerre commented on #2966
That error message indicates that there is an error with your Go setup. Are you using modules or GOPATH?

[2020-01-06 21:28] stamblerre commented on #2969
What is the output of `gopls version`? Can you share your `gopls` logs for when this happens? The instructions for capturing `gopls` logs are here: https://github.com/golang/tools/blob/master/gopls/doc/troubleshooting.md#capturing-logs.

[2020-01-06 21:43] stamblerre commented on #2965
To pass `-tags` into `gopls`, your settings should look like this:

[code]

VS Code Go and `gopls` are not yet aligned on all settings.

[2020-01-07 12:47] oneslash commented on #2928
not reproducing anymore can we close the issue?

[2020-01-07 15:23] wvh commented on #2122
I'm trying vscode for the first time, and I had the same problem. I've got `GOBIN` set to `~/.local/gobin`, so Go installs all compiled binaries in that path by default. Vscode installs the binaries successfully there too, but when reloading or restarting the editor, it complains it can't find the binaries it just installed: `Analysis Tools Missing`. I'm not sure vscode-go even uses `GOBIN` anywhe

[2020-01-07 15:27] wvh commented on #2907
Isn't there quite some overhead sending errors on every keystroke when one is just entering code?

[2020-01-07 16:40] RobertBaruch commented on #2965
OK, that works, so the main issue does remain: once the settings are aligned, either there should be a warning on go.buildTags, or go.buildTags should work with gopls.

[2020-01-07 18:23] stamblerre commented on #2907
`gopls` will be doing the parsing and type-checking work no matter what, so the only overhead will be actually sending the publish diagnostics notification. I'm not sure that that is significant enough to justify changing a setting in `gopls`.

[2020-01-07 18:25] GrimTheReaper commented on #2907
Is there anyway to ignore the error returned or delay when the notification comes up on the VSCode-Go's side?

[2020-01-07 19:36] stamblerre commented on #2907
I put together a PR based on https://github.com/microsoft/vscode-go/issues/2907#issuecomment-555596378 (https://github.com/microsoft/vscode-go/pull/2971). Let me know if this works for you.

[2020-01-08 05:46] normal-cock opened #2972 ""Occurrences Highlight" doesn't work when vscode-go plugin is enabled"
"Occurrences Highlight" doesn't work when vscode-go plugin is enabled.

- VSCode Version:1.41.1
- OS Version: Mac OS 10.15.2
- golang plugin: go 0.12.0
- java plugin: Language Support for Java(TM) by Red Hat 0.55.1

Does this issue occur when all extensions are disabled?: No

Steps to Reproduce:
1.  Occurrences Highlight doesn't work.
2. Disable go plugin.
3. Occurrences Highlight works normally.

[2020-01-08 08:21] krast commented on #2841
I have same issue.

- Debug is fine.
- Run without Debugging is not good.
- go run work fine.
- go build work fine.

delete launch.json and run without debugging work fine.

output:
[code]

[2020-01-08 22:24] npollitt commented on #2939
Should this be assigned to someone?  Looks like nothing is happening.

[2020-01-09 17:36] A-UNDERSCORE-D commented on #843
The remote works but is pretty bad UX at best -- Things like stop on the "local" side doesn't stop the remote dlv instance, and having to go though multiple steps to start a debug session (in my case starting a build and only THEN starting a debug session in vscode)

 Could adding the console option and automatically working this out in the background be an option? I'm not too sure of the internal

[2020-01-09 18:51] farzonl opened #2974 "TypeError: Cannot read property 'includes' of undefined at GoDebugSession.findPathSeperator."
Please answer these questions before submitting your issue. Thanks!

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go1.13.5 darwin/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.1
        - 26076a4de974ead31f97692a0d32f90d735645c0
        - x64
- Check your installed extensions to

[2020-01-09 19:29] quoctruong commented on #2974
@farzonl, for the attach case, the extension is using `cwd` instead of `program` for the path. Can you change `program` to `cwd` and try again?

[2020-01-10 00:16] bergwerf commented on #2655
Does anyone know if a solution exists already? (perhaps outside VS code). Being able to call functions/methods while debugging is critical for me.

[2020-01-10 00:20] thessem commented on #2655
@bergwerf IntelliJ's Go plugin (GoLand) supports this functionality. https://blog.jetbrains.com/go/2019/06/26/goland-2019-2-eap-5/

[2020-01-10 21:12] farzonl commented on #2974
@quoctruong thanks!  I don't get the type error anymore but ran into something new I will close and resolve this issue.

[2020-01-10 21:12] #2974 closed

[2020-01-12 01:19] oceanful opened #2975 "Attempting to [debug test] fails with "can't load package" error"
What version of Go, VS Code & VS Code Go extension are you using?

- Run `go version` to get version of Go
go version go1.13.6 darwin/amd64

- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
Version: 1.41.1
Commit: 26076a4de974ead31f97692a0d32f90d735645c0
Date: 2019-12-18T14:57:51.166Z
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0

[2020-01-13 02:43] #2936 closed

[2020-01-13 05:53] kunaldas1997 opened #2976 "The plugin is damn too slow"
When writing codes, and saving, the formatting doesn't happen, even though format on save is active. Also, IntelliSense doesn't work in Go code. It just shows "Loading"
![image](https://user-images.githubusercontent.com/26971428/72235227-f660fe00-35f6-11ea-9b9d-77c1dc11117f.png)

On importing any package, it throws an error that it's imported but not used.
![image](https://user-images.githubuserco

[2020-01-13 09:05] wtask commented on #2976
Yeah, the same problem. I have a fast laptop with 32 Gb RAM but every day I see errors on renamings/typing which was completed by me, but not by vscode+gopls, I see errors which I fix already, but gopls doesn't understood it... So sad.

[2020-01-13 10:28] fushang318 opened #2977 "canot work in online.visualstudio.com"
run
[code]
show error
[code]

vscode-go not support vsonline ?

[2020-01-13 22:40] stamblerre commented on #2976
@kunaldas1997: In your screenshots above, it looks like you've imported `"string"`, when it should be `"strings"`. This is likely causing the strange errors you're seeing, since `string` is a keyword and would cause a conflict.

As for the general speed of `gopls`, we're making improvements on master and there will be another release soon, but if you'd like to try out master, you can download it b

[2020-01-13 22:48] Merith-TK opened #2981 "(golang extensions) Linux<>Linux, uses client home instead of remote home"
- VSCode Version:
- Local OS Version: Archlinux
- Remote OS Version: Archlinux
- Remote Extension/Connection Type: SSH

Steps to Reproduce:
1. Open VSCode
2. Configure and connect to remote

Does this issue occur when you try this locally?: No
Does this issue occur when you try this locally and all extensions are disabled?: Yes??

[code]

when i am updating the tools

i operate over lan by remote

[2020-01-14 05:38] ArjunDhar opened #2980 "Loss of Characters (eaten) on Save"
Hi,
ive had a pretty serious issue with VSCode (details & settings available at the end of this report).
But decided to report it when I realized some other VSCode developers are having the same issue.

**Issue**
After working a few minutes (random, nothing to do with time) On Save ; characters are removed. Maybe related to Auto format (?!)

**Hack fix**
Only way to get around is `Close Workspace`

[2020-01-14 21:14] stamblerre commented on #2980
Thanks for reporting. We have an open issue for this in `gopls`: https://github.com/golang/go/issues/34955. If you could follow the suggested steps there and post a comment on that thread, it would be very helpful in diagnosing this issue. Thanks!

[2020-01-15 05:46] #2934 closed

[2020-01-15 07:10] ramya-rao-a commented on #2959
You can follow the discussion in #219 as to why this feature is not possible to implement in the current state of dlv.

I am not aware of how GoLand has implemented this using delve.

If anyone is able to implement the same in this extension, they are most welcome.

cc @quoctruong who conducted the investigation for this in #219

[2020-01-15 07:10] #2959 closed

[2020-01-15 07:13] ramya-rao-a commented on #2961
The special mode is called the snippet mode. In this mode completions are not enabled by default.
This is the nature of VS Code itself and is beyond the control of this extension.

I believe you can overwrite this behavior using the `editor.suggest.snippetsPreventQuickSuggestions` setting.

[2020-01-15 07:13] #2961 closed

[2020-01-15 07:14] ramya-rao-a commented on #2962
Thanks for reporting @evadnoob

@stamblerre Does `gopls` support the above scenario? Would it require to know build flags?

[2020-01-15 07:19] ramya-rao-a commented on #2965
@stamblerre I haven't tried passing configuration to the language server from the extension. Do you know if it is possible for the extension to read the `go.buildTags` setting and somehow set the `gopls` setting when calling the language client?

[2020-01-15 07:21] ramya-rao-a commented on #2967
Thanks for reporting @Wingboy-Jim2

Since the upstream issue is already being looked at, I'll close this one.

@stamblerre Please let me know if you need this issue open to track any further work

[2020-01-15 07:21] #2967 closed

[2020-01-15 07:22] ramya-rao-a commented on #2968
Thanks for reporting @Kezzo

@jhendrixMSFT Can you take a look at this?

[2020-01-15 07:23] ramya-rao-a commented on #2969
@Borkason Can you please provide the details @stamblerre is asking above?

[2020-01-15 07:23] ramya-rao-a commented on #2972
Please share any Go related settings you might have added or edited. You can get these by running the command `Preferences: Open Settings (JSON)`

[2020-01-15 07:25] ramya-rao-a commented on #2975
Are you able to debug the tests using the debug configuration?
You will need to create a new one for tests. The default one is for non tests files.

An example can be found at https://github.com/microsoft/vscode-go/wiki/Debugging-Go-code-using-VS-Code#sample-configuration-to-debug-a-single-test

[2020-01-15 09:39] ventsislav-georgiev commented on #2563
Still happening and as @Basez it does not kill the debug session.
OS: macOS Catalina 10.15.2
VSCode: 1.41.1
VSCode-Go: 0.12.0
Go: 1.12.14

[2020-01-15 12:13] sandy081 commented on #2981
Moved to Go extension repo.

[2020-01-15 12:33] harrybin815 opened #2982 "bad cache"
I ran ```go test``` several times with the same result (although I set ```go test -count=1```), eventually removing everything from test and still running the cached content. I had to run ```go test``` from the terminal to get what I wanted to run.

There are other ways to disable caching entirely?

[2020-01-15 15:08] darjun commented on #2969
I encountered the same problem. gopls version:
[code]

but by `"View: Debug Console" -> "Output" -> "Tasks" -> "gopls"`, I cann't find the gopls log.

It's just a black windows there at Debug Console.

this is my user settings.json:
[code]

[2020-01-15 15:26] wtask commented on #2982
I set count=1 inside settings:
[code]
After this the test cache is not used when starting test from VSCode

[2020-01-15 18:15] stamblerre commented on #2969
@darjun: You can also try Ctrl + Shift + P -> "View: Toggle Output", and then there should be a drop-down menu that says "Tasks" in the right-hand top corner. When you click on it, "gopls" should be in this list. Click on that, and then the log should be there. You will also need to add the following to your settings to get more detailed logging:

[code]

[2020-01-15 18:17] stamblerre commented on #2969
There is also more information on the Go issue tracker (https://github.com/golang/go/issues/34955), so please follow-up there, if possible.

[2020-01-15 18:33] stamblerre commented on #2962
This falls under the category of https://github.com/golang/go/issues/29202. If you would like to develop in a file with build tags, you will have to add the following configuration to your VS Code settings:

[code]

[2020-01-15 18:38] stamblerre commented on #2965
Yes - I've looked into it, and it is possible. I have a few things that need to be finalized on the `gopls` end (https://golang.org/cl/212521), but I intend to use the `gopls` code directly to generate contents for vscode-go's `package.json`, and then to connect the middleware to pass in the relevant settings.

I'm still not sure if it's a good idea to reuse something like `"go.buildTags"` in the

[2020-01-15 18:57] oceanful commented on #2975
Thanks Ramya.

Yes, if I run `Debug -> Start Debugging` while viewing a test file, that works (and it runs all of the tests in the file). If I explicitly add a debug configuration for a single test (per the instructions you referenced), `Start Debugging` also works.

The problem only happens when using the `run test | debug test` links above the test method. `run test` works, but `debug test` resu

[2020-01-15 19:16] hyangah commented on #2965
Given that there are functionalities and commands implemented outside gopls or language servers (e.g. cover, test, lint, ...), I think `go.buildTags` is needed outside the language server context. Having two different setting fields for build tags (and other configurations gopls may need to understand) is not ideal for users. How about letting the middleware append the value of `go.buildTags` to t

[2020-01-15 19:52] UberFarmer opened #2983 "Install/Update Tools does not list goimports when goreturns is the selected formatTool"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go1.13.4
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.1
- Check your installed extensions to get the version of the VS Code Go extension
	- 0.12.0
- Run `go env GOOS GOARCH` to get the operating system and processor arhcitecture details
	-

[2020-01-15 23:36] darjun commented on #2969
I put gopls log at gist, this is the link [https://gist.github.com/darjun/447159f76166f2d45684da406e646f1c](https://gist.github.com/darjun/447159f76166f2d45684da406e646f1c)

[2020-01-16 02:14] harrybin815 commented on #2982
I also set this configuration.

[code]

[2020-01-16 02:17] normal-cock commented on #2972
I've add the `Setting(JSON)` below the image. @ramya-rao-a

[2020-01-16 02:50] ramya-rao-a commented on #2972
Thanks @normal-cock

@stamblerre This is mostly related to how the language server deals with highlighting. Can you take a look?

[2020-01-16 06:16] stamblerre commented on #2972
The highlight feature has been significantly improved in the current version of `gopls` (which is not yet released), but I don't believe that we support the case of highlighting an import and its uses. I'll file this issue upstream: https://github.com/golang/go/issues/36590.

[2020-01-16 11:10] normal-cock commented on #2972
Neither the case of highlighting an import and its uses is supported, nor `test2` in definition line is highlighted when cursor is placed around `test2` in `test` function as the following example shows. @stamblerre
[code]

[2020-01-16 15:46] ayubmalik opened #2984 "Smart select inside double quotes jumps to select the whole line"
When the cursor is inside a double quoted string in the editor and I expand the selection repeatedly using using smart select shortcut (Shift + Alt + Right Arrow), the selection does not stop when all the content inside the quotes  is selected, rather it jumps to select the whole line.

For example with the following valid go code:

`content := "some string here"`

if the cursor is anywhere inside

[2020-01-16 15:52] ayubmalik commented on #2984
fixed example :(

[2020-01-16 17:17] stamblerre commented on #2972
The issue with your `test2` example is already fixed at master and will be part of the next `gopls` release. You can try it out now by running master: `GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master`.

[2020-01-16 20:57] Merith-TK commented on #2981
oh thank you @sandy081 ! didnt even know that was possibe to move issues

[2020-01-17 02:59] ramya-rao-a commented on #2972
Thanks @stamblerre

@normal-cock We are closing this issue in favor of the upstream issue

[2020-01-17 02:59] #2972 closed

[2020-01-17 03:03] ramya-rao-a commented on #2965
I would suggest the below

If both `gopls.buildTags` and `go.buildTags` are configured by the user, then the former wins.
If only `go.buildTags` is configured by the user, then the extension should do the needful to pass the same as `gopls.buildTags` to the language server

[2020-01-17 03:10] ramya-rao-a commented on #2975
It could be possible that a wrong file/folder path is being passed when `debug test` code lens is used. This would depend on your project folder structure.

Would you mind setting up a local dev environment of the Go extension and debug this locally?
Code pointers:

- [Set up dev env for extension](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Vis

[2020-01-17 07:21] ramya-rao-a commented on #2976
@kunaldas1997 Are you seeing the slowness issue when using the language server or without it?

[2020-01-17 07:22] ramya-rao-a commented on #2980
Thanks for reporting @ArjunDhar
Closing this issue in favor of the upstream issue linked above.

[2020-01-17 07:22] #2980 closed

[2020-01-17 07:25] deschmih commented on #2931
Sorry for the late response. I have debugged my problem and the following changes solved my problem.

https://github.com/microsoft/vscode-go/blob/0.12.0/src/debugAdapter/goDebug.ts#L286-L292 changed to:
[code]

https://github.com/microsoft/vscode-go/blob/0.12.0/src/debugAdapter/goDebug.ts#L696-L701 changed to:
[code]

I think these changes do not match all usecases of the project, so I have spent

[2020-01-17 07:26] ramya-rao-a commented on #2982
In the last release, we did refactor the code around how the test flags are used.
Can you use the previous release and let us know if the issue you are seeing existed before also or got introduced in the last release?

You can install the older version by using the command `Extensions: Install Specific Version of Extension`. Select the Go extension from the resulting drop down and then choose 0.11

[2020-01-17 07:50] pztrn opened #2985 "golangci-lint output not shown in problems view if critical code error occured"
### What version of Go, VS Code & VS Code Go extension are you using?

* go version go1.13.6 linux/amd64
* VSCode 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, x64, WSL2, Ubuntu-18.04 image)
* go extension v0.12.0
* golangci-lint has version v1.22.2 built from (unknown, mod sum: "h1:iaihss3Tf6NvZVjun3lHimKSgofPV1+FqE/cbehoiRQ=") on (unknown)

### Share the Go related settings you have added/ed

[2020-01-17 09:50] pztrn commented on #2985
If I'll enable ``go.vetOnSave`` (set to ``package``) - I'll see something like:

![изображение](https://user-images.githubusercontent.com/869402/72601923-2d594b80-3938-11ea-95c0-7d062d8128d9.png)

Can vscode-go run ``go vet`` if golangci-lint is used and exitcode != 0? In my examples golangci-lint exits with 3 and fast mode (with ``--fast`` added to linter parameters in vscode settings) doesn't pr

[2020-01-17 10:33] skyterra opened #2986 "Debug Console can not input parameters."
Issue Type: <b>Bug</b>

Hi, I need to input string data to debug my golang program, but the Debug Console can not be input.

Extension version: 0.12.0
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)

[2020-01-17 17:45] stamblerre commented on #2969
@darjun: Would you be able to provide a smaller log with a repro and the other details requested on  golang/go#34955 (feel free to just add a comment to that issue)? The log you've provided seems to be truncated and for a larger project, so it's difficult to parse. Thanks!

[2020-01-17 22:48] jhendrixMSFT commented on #2968
This is an issue in dlv, see https://github.com/go-delve/delve/issues/1768.  From the details I believe we can work around it by adding some escape characters.

[2020-01-17 23:13] jnewton00 opened #2989 "Failed to Run "go env" to find GOPATH as the "go"binary....."
The version of GO I have installed is 0.12.0 and the version on VS code is 1.41.1 (user setup). I have the following error

Failed to run "go env" to find GOPATH as the "go" binary cannot be found in either GOROOT(undefined) or PATH;

<Details>

Failed to run "go env" to find GOPATH as the "go" binary cannot be found in either GOROOT(undefined) or PATH(C:\Program Files (x86)\Intel\Intel(R) Managem

[2020-01-17 23:14] jnewton00 commented on #2989
I have read through > https://github.com/Microsoft/vscode-go/issues/755 < yet to no avail. Any assistance appreciated.

[2020-01-17 23:26] jhendrixMSFT commented on #2930
I'm unable to repro this.  @gerrywp can you share simplified repro steps?

[2020-01-18 21:58] yolken opened #2990 "Support golines as a formatter"
**Is your feature request related to a problem? Please describe.**
Feature request

**Describe the solution you'd like**
I recently released a new golang formatter that shortens long lines and aligns struct tags (on top of whatever is done by an underlying formatter like goimports): https://github.com/segmentio/golines. It would be nice to have it as an option in vscode since I think it could be u

[2020-01-19 04:02] mozhata opened #2991 ""go to definition" should jump to vendor if exist, even in go mod"
**Is your feature request related to a problem? Please describe.**
before switch to go module, I use vendor to keep my dependencies, and `go to definition` jump to vendor file if exist, this very convenient, I can check all files in that refered pkg to figure out more interesting thing.

but things not good when I switch to go modles, `go to definition` always jumpt  `xx/pkg/mod`, even a vendor ex

[2020-01-20 01:36] gerrywp commented on #2930
@jhendrixMSFT  what should I do？

[2020-01-20 02:22] ramya-rao-a commented on #2872
Apologies for the delay in response.

- Do you still see this issue?
- Are you on the latest version of VS Code and the Go extension?

[2020-01-20 02:25] ramya-rao-a commented on #2872
@roblourens A web search on this error message points to the child process spawn() not being able to find node. A similar error is noted in https://github.com/microsoft/vscode/issues/74197

From the stack trace, it looks like electron is involved here as well. Any ideas on what the next steps can be here?

[2020-01-20 02:26] lexxish commented on #2872
No, it turned out be being blocked by app locker

[2020-01-20 02:26] #2872 closed

[2020-01-20 02:29] ramya-rao-a commented on #2882
Apologies for the late reply here @onwsk8r and thanks for your patience.

Can you try a project that uses GOPATH, not modules and see if you see similar issues?
I wonder if the problem lies in the `goimports` not able to recognize the modules being used when invoked from the extension.

[2020-01-20 02:31] ramya-rao-a commented on #2882
And for your observation on `{ env, cwd }` vs `{ env: env, cwd: cwd }`, the former is shorthand for the latter. More on this here: https://alligator.io/js/object-property-shorthand-es6/

[2020-01-20 02:31] ramya-rao-a commented on #2889
@jhendrixMSFT, @quoctruong thoughts?

[2020-01-20 02:42] ramya-rao-a commented on #2898
@quoctruong Can you take a look at this?

[2020-01-20 03:04] ramya-rao-a commented on #2912
Closing this issue as this feature cannot be implemented in this extension for the same reason as mentioned in #1748

[2020-01-20 03:04] #2912 closed

[2020-01-20 03:26] ramya-rao-a commented on #2850
Apologies for the late response, but PRs are most welcome to parse the test output, identify failed tests and provide a command to re-run just the failed tests.

Code Pointers:
- [Set up local dev environment for the extension](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- [goTest()](https

[2020-01-20 03:28] ramya-rao-a commented on #2933
Is the ask here to pass the `--check-go-version=false` to delve?

[2020-01-20 03:34] ramya-rao-a commented on #2983
Thanks for reporting @UberFarmer

@stamblerre If `goreturns` has `goimports` listed as a dependency, then wouldn't installing/updating the former install/update the latter as well?

[2020-01-20 03:38] ramya-rao-a commented on #2985
Thanks for reporting @pztrn

The idea was for build and vet on save features to surface any critical errors.
Linting results are parsed only on a successful run.

I see that you have disabled the `go.buildOnSave` setting. Can you share the motivation for this?

[2020-01-20 03:40] ramya-rao-a commented on #2986
This is a known limitation of this extension.
Please see #2959 and #219 for more details

[2020-01-20 03:40] #2986 closed

[2020-01-20 03:42] ramya-rao-a commented on #2990
Please see #2438 on how you can hook up any formatter to the Go extension without changing the extension itself.

[2020-01-20 03:42] #2990 closed

[2020-01-20 03:44] ramya-rao-a commented on #1983
@stamblerre Is there anything the extension can do here or will `gopls` now handle this case?

[2020-01-20 03:44] ramya-rao-a commented on #2991
I believe this is being discussed in #1983
Please follow the discussions there.

[2020-01-20 03:44] #2991 closed

[2020-01-20 03:47] ramya-rao-a commented on #2984
Thanks for reporting @ayubmalik

This is most likely a feature from VS Code itself and is outside the control of this extension.
Please log an issue upstream at https://github.com/Microsoft/vscode

If it is determined that this needs to be solved based on the word pattern for the Go language, then the appropriate fix can be made in this extension at https://github.com/microsoft/vscode-go/blob/0.12

[2020-01-20 04:17] ramya-rao-a commented on #816
Your investigation is right on the spot @ajackson-cpi
The problem lies in converting the relative paths in the cover profile to absolute paths that the editor can understand.

You can use the utility function [getWorkspaceFolderPath()](https://github.com/microsoft/vscode-go/blob/0.12.0/src/util.ts#L803) to get the workspace root.

An option that applies only if you are using GOPATH and not modules

[2020-01-20 06:43] pztrn commented on #2985
Hey @ramya-rao-a

I've disabled buildOnSave because it heats my laptop :) Linters are much less heat-producing and much faster.

[2020-01-20 08:56] smyrman commented on #2850
Is there anyway that we can perform som sort of drop-down selection form the sub-test list? I think if that is to be useful, that must be possible, or the output would look the same as if we rerun all sub-tests (also passed ones) in non-verbose mode.

[2020-01-20 09:36] iGeek098 commented on #2933
Yeah,

To be more precise to allow it optionally

[2020-01-20 13:45] hashier opened #2992 "Pass "dlv commands" from debug console to dlv"
**Is your feature request related to a problem? Please describe.**

When I debug sometimes I want to see what the context of a struct is. The "variables" view to the top left often truncates things and sometimes doesn't even show every element of an array/list/slice.
Screenshot shows a slice with 682 elements (according to dlv) but the "variables view" only shows the first 64 (0-64):
![Screenshot

[2020-01-20 14:39] marwan-at-work commented on #1983
Tested VSCode/gopls with Go 1.14beta, and I can confirm that GoToDef automatically chooses vendor 👍

[2020-01-20 15:29] jrieken commented on #2984
Please log an issue upstream at https://github.com/Microsoft/vscode

@ramya-rao-a It is in your control. The is the `SelectionRangeProvider`-API which an extension can implement. If that's missing then a heuristic is being used - and that's likely not always correct

[2020-01-20 16:29] K2AAE opened #2993 "Setting golang server vauge to the point of being usless"
I just installed and tried to figure out how to setup the language server, nope, not enough information. FINISH the documentation please

[2020-01-20 20:24] ramya-rao-a commented on #2984
Thanks @jrieken

@stamblerre Can you log an issue for `gopls` for implementing the `SelectionRangeProvider` via the language server?

[2020-01-20 20:24] ramya-rao-a commented on #1983
Thanks @marwan-at-work!

[2020-01-20 20:24] #1983 closed

[2020-01-20 20:26] ramya-rao-a commented on #2933
Wouldn't this result in unexpected behavior from delve?

[2020-01-20 20:29] ramya-rao-a commented on #2850
If you update the [functions](https://github.com/microsoft/vscode-go/blob/0.12.0/src/testUtils.ts#L51) property of the last used test config with the failed tests (in your case say `TestFoo/foo`), then the next run would be only for failed test runs. So, the passed ones will not be run.

If you want to show the failed test runs in a dropdown, you can use the `showQuickPick` method (look for it in

[2020-01-20 20:32] ramya-rao-a commented on #2985
:) Fair enough.

What we can do is allow the critical failures from linters to show up if both `vetOnSave` and `buildOnSave` are disabled. PRs are most welcome to do this

Code Pointers:
- [Set up local dev environment for the extension](https://github.com/microsoft/vscode-go/wiki/Building,-Debugging-and-Sideloading-the-extension-in-Visual-Studio-Code#building-and-debugging-the-extension)
- The `u

[2020-01-21 04:33] ramya-rao-a commented on #2642
Unfortunately, there is no API from vscode to signal multiple files being saved at once. Therefore, at its current state, it is not trivial for the Go extension to react to Save All command and trigger build/lint/vet processes for all the files saved.

An alternative in such scenarios for you is to manually run the build/lint/vet command. You can assign your own keybindings to these commands in ca

[2020-01-21 04:33] #2642 closed

[2020-01-21 04:43] ramya-rao-a commented on #2993
Can you share which documentation have you currently tried?
I have pushed a commit to the [root readme of this repo](https://github.com/microsoft/vscode-go#go-language-server).
Can you give that a try?

[2020-01-21 04:44] stamblerre commented on #2983
`goreturns` uses https://pkg.go.dev/golang.org/x/tools/imports, which is the `goimports` API, so it doesn't rely on the `goimports` binary in your `GOPATH`. Updating `goreturns` will update its dependency on `golang.org/x/tools/imports`, but it won't reinstall the binary.

[2020-01-21 05:01] ramya-rao-a commented on #2689
I went through the issue you linked https://github.com/microsoft/vscode/issues/32693, but I don't see anything there that says that the individual vscode settings file in a monorepo are respected.

If you want settings from each folder to be respected, then have to be in a multi-root set up.

Can you elaborate on which part of the linked issues says that what you have described above is supported?

[2020-01-21 07:42] ramya-rao-a commented on #2333
The pending rules have been applied one by one in the master branch

<img width="1237" alt="Screen Shot 2020-01-20 at 11 41 21 PM" src="https://user-images.githubusercontent.com/16890566/72784783-6dd9f300-3bde-11ea-90ad-049344b76960.png">

[2020-01-21 07:42] #2333 closed

[2020-01-21 10:50] KaiRoesner commented on #2989
Same over here, also with version 0.12.0. #1542 seems to be related, but doesn't help either...

[2020-01-21 16:01] hyangah commented on #2989
Where is the go command (not the VSCode Go extension) installed? Is the path included in the `PATH`?

[2020-01-21 16:58] jnewton00 commented on #2989
I haven't installed go. I just installed it from VSCode. I assume I need a full go installation as I currently don't have any PATH configuration.

[2020-01-21 17:42] stamblerre commented on #2984
Sure thing. This is a newer feature which is why we haven't added it yet. Filed an issue upstream.

[2020-01-21 17:58] jhendrixMSFT commented on #2930
Is the project where you're experiencing this public on github?

[2020-01-21 18:13] quoctruong commented on #2889
@calmkart Another alternative you can consider is to launch the program with `sudo` and attach to it.

[2020-01-21 21:50] stamblerre commented on #2989
You will have to install Go separately from the VS Code Go extension - see https://golang.org/dl/. We should still probably improve this error message.

[2020-01-21 22:36] LordNeznay commented on #2969
I have the same problem.
I put example of problim into repository: https://github.com/LordNeznay/vscode_go_issue_2969_example
gopls log: https://github.com/LordNeznay/vscode_go_issue_2969_example/blob/master/gopls.log

For reproduce clone repo, open folder in visual studio code, open main.go and save it

[2020-01-21 22:42] stamblerre commented on #2969
@LordNeznay: Do you have the same issue with `gopls` at master (you can download it by running `GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master`)?

[2020-01-21 22:51] LordNeznay commented on #2969
@stamblerre, after `GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master` the problem has stopped reproducing. So much thank!

[2020-01-21 22:56] stamblerre commented on #2969
Glad to hear it! Thanks for following up.

[2020-01-22 00:09] gerrywp commented on #2930
@jhendrixMSFT
This is the case for any of my local examples.
you can try this source code: https://github.com/GoAdminGroup/example

[2020-01-22 01:40] jnewton00 commented on #2989
@stamblerre thanks I have done this now :) All good!!!!

[2020-01-22 01:43] #2989 closed

[2020-01-22 01:43] jnewton00 commented on #2989
Thanks All!!

[2020-01-22 02:06] ramya-rao-a commented on #2861
We could try and see if the [vscode-jsonrpc](https://www.npmjs.com/package/vscode-jsonrpc) can be a good replacement here

cc @quoctruong, @jhendrixMSFT

[2020-01-22 02:07] ramya-rao-a commented on #2984
Thanks!

Closing this issue in favor of the upstream https://github.com/golang/go/issues/36679

[2020-01-22 02:07] #2984 closed

[2020-01-22 02:09] ramya-rao-a commented on #2983
@stamblerre Would there be a need for the end user to update https://pkg.go.dev/golang.org/x/tools/imports explicitly?

[2020-01-22 02:22] stamblerre commented on #2983
I don't see any reason that there would be.

[2020-01-22 06:00] ramya-rao-a commented on #2983
Thanks @stamblerre

@UberFarmer Let us know if the above satisfies your concerns

[2020-01-22 06:03] ramya-rao-a commented on #1676
Closing this issue as all new APIs will be taken up by the language server and no new work is planned for the extension on the above fronts.

cc @stamblerre

[2020-01-22 06:03] #1676 closed

[2020-01-22 06:03] ramya-rao-a commented on #1676
And there is an independent effort going on to explore the Debug Adapter Protocol

cc @quoctruong

[2020-01-22 06:04] ramya-rao-a commented on #1484
Any further work on the Code Actions will be taken up via the language server work that is going on.
No new work on this front is planned for the extension itself.

cc @stamblerre

[2020-01-22 06:04] #1484 closed

[2020-01-22 06:19] ramya-rao-a commented on #2798
@stamblerre The language server does handle this correctly, though it shows only the first sentence.

<img width="659" alt="Screen Shot 2020-01-21 at 10 18 44 PM" src="https://user-images.githubusercontent.com/16890566/72870080-02565b00-3c9c-11ea-8cce-68ba1aed7545.png">

[2020-01-22 06:40] ramya-rao-a commented on #2992
cc @quoctruong

[2020-01-22 07:36] garethjensen opened #2995 "Importing package from module sub-directory does not work"
### Versions
- **Go**: go1.13.6 windows/amd64
- **Code**: 1.41.1 26076a4de974ead31f97692a0d32f90d735645c0 x64
- **Extension**: vscode-go version 0.12.0
- **OS**: windows amd64

### Preferences
All default except for "go.useLanguageServer" set to true.

### Describe the bug
Trying to import a package in a sub-directory of a module doesn't seem to work. Returns "no package for import" even though it

[2020-01-22 07:56] xujintao commented on #2689
Yes, i went through the issue too. The result is that vscode has not support monorepo until now.
Please close this issue.

[2020-01-22 16:53] stamblerre commented on #2798
The first sentence is because `gopls` defaults to showing a synopsis of the documentation rather than the full text. You can see the full text by switching the [hover kind](https://github.com/golang/tools/blob/master/gopls/doc/settings.md#hoverkind-string) setting to "FullDocumentation".

[2020-01-22 17:09] stamblerre commented on #2995
I am not able to reproduce this with the language server. Are you opening VS Code with the module root (the directory that contains the `go.mod`)? Can you share the output of `gopls -rpc.trace -v check /path/to/main.go`?

[2020-01-22 17:22] garethjensen commented on #2995
Thanks for the reply, I was opening vscode one directory up from the module root. Opening it at the module root also doesn't work for me. Here's the output of the command you requested:

[code]

[2020-01-22 17:47] stamblerre commented on #2995
Thanks for the output. It looks like the `go list` command that `gopls` runs is failing. What is the content of your `go.mod` file? Can you also share the output of `go list -e -json -compiled -deps /path/to/main.go`? Make sure to run the command from a directory inside of the module root.

[2020-01-22 17:58] garethjensen commented on #2995
Thanks again for the reply. I'm running these commands from the module root.

Here's the content of my `go.mod` file:

[code]

And here's the command output:
[code]

[2020-01-22 18:02] stamblerre commented on #2995
This is the only output from that command? Does your code compile?

[2020-01-22 18:11] garethjensen commented on #2995
Well that's interesting, it's not compiling outside of Docker. Maybe docker wasn't reporting the compilation error when I was building and running the container. I suppose it's a golang issue then?

[2020-01-22 19:07] garethjensen commented on #2995
Ah ha, this was the real issue: it does compile in Docker - it doesn't compile on Windows.
https://github.com/sirupsen/logrus/issues/992#issuecomment-533236487

Sorry for the confusion, and thanks so much for helping me drill down the problem.

[2020-01-22 19:07] #2995 closed

[2020-01-22 19:47] UberFarmer commented on #2983
The bad behavior I ran into (which is why I filed this task) was that an old version of goimports was being used (and doing unexpected import grouping), and running "Go: Install/Update Tools" > select all > click "OK" did not fix it. (goreturns was the selected formatter).

After I switched the formatter to goimports and followed the same process of "Go: Install/Update Tools" > select all > click

[2020-01-22 19:54] stamblerre commented on #2983
How were you running `goimports` separately from `goreturns`? If your formatter was set to `goreturns`, it sounds like the issue was in the `goreturns` update. What is your Go version (`go version`)? It's possible that there is an issue with the way that Go tools are being updated in module mode, particularly since `goreturns` doesn't have a `go.mod` file.

[2020-01-22 19:54] hyangah opened #2996 "CI: noisy "Unable to read file" error messages"
This is not a bug report, but an issue to track test clean up

From successful travis runs, we see error messages like
[code]

Example: https://travis-ci.org/microsoft/vscode-go/jobs/640082000?utm_medium=notification&utm_source=github_status

While probably not affecting the test results, this is distracting and makes it difficult to trust the test results.

[2020-01-22 20:07] hyangah opened #2997 "Performance: consider bundling extension"
This extension got bigger. vsce recommends https://aka.ms/vscode-bundle-extension

[code]

[2020-01-22 22:04] ramya-rao-a commented on #2798
Thanks @stamblerre

@movsb Future investment for language features will be done in the language server area. Since the language server does support rendering the encoded values correctly, I'll be closing this issue.

[2020-01-22 22:04] #2798 closed

[2020-01-22 23:09] ramya-rao-a commented on #263
There hasnt been much progress in this area in the 2 years since the `help-wanted` tag was added to this issue.

While I do see the merits of this feature, I am afraid I don't believe this extension is the right place for it anymore.

As VS Code and this extension has gained popularity, we have seen a gradual scope creep over the past year. Being a sole maintainer of this project, it is getting a

[2020-01-22 23:09] #263 closed

[2020-01-22 23:14] ramya-rao-a commented on #654
There hasnt been much progress in this area in the 2 years since the help-wanted tag was added to this issue.

While I do see the merits of this feature, I am afraid the work to make this happen is not trivial.
Since been lint on demand and lint on file save features do provide good enough linting, am closing this feature request.

In the future, the language server `gopls` can be the right place

[2020-01-22 23:14] #654 closed

[2020-01-22 23:16] ramya-rao-a commented on #727
The new language server gopls would be the right place to provide code actions to fix common errors and warnings.

Closing this issue as there has been no progress in this area in the past 2 years and because further work in terms of code actions outside the scope of the language server is not planned for the extension.

[2020-01-22 23:16] #727 closed

[2020-01-23 01:19] ramya-rao-a commented on #2419
Closing this issue in favor of logging upstream issues against gopls in case of problems with auto completion when using the language server as there is no action item here for the extension itself.

Thanks for your patience

[2020-01-23 01:19] #2419 closed

[2020-01-23 01:23] ramya-rao-a commented on #1161
While I do see the merits of this feature, although I am afraid I don't believe this extension is the right place for it anymore.

As VS Code and this extension has gained popularity, we have seen a gradual scope creep over the past year. Being a sole maintainer of this project, it is getting a little hard to support all incoming requests and maintaining the ever growing set of features.

Therefor

[2020-01-23 01:23] #1161 closed

[2020-01-23 03:33] hyangah commented on #2997
https://github.com/microsoft/vscode-extension-telemetry/issues/41
(due to https://github.com/microsoft/ApplicationInsights-node.js-native-metrics/issues/4) is one of the road blockers.

Not sure about interaction with debug adapter yet.

[2020-01-23 07:45] movsb commented on #2798
Thanks. I see it has been fixed in the latest version of VSCode.

[2020-01-23 18:51] UberFarmer commented on #2983
My go version is `go1.13.4 darwin/amd64`

I'm "running" `goimports` / `goreturns` just by saving my file. Here's my go config:
[code]

Updating `goreturns` via "Go: Install/Update Tools" causes this output:
[code]

[2020-01-23 20:01] stamblerre commented on #2983
If your `go.formatTool` is `goreturns`, then the `goimports` binary will not be invoked, so you should only need to update `goreturns`.

[2020-01-24 00:49] fastcat commented on #2889
Expanding on what @quoctruong suggested ...

I got a tip from somewhere else on a way to do this, which I adapted for a project of mine: Use a wrapper script to invoke `dlv` with `sudo`, and set that under `go.alternateTools`.

For example, in a repo of mine I have:
`.vscode/settings.json`:
[code]
and `.vscode/dlv-sudo.sh`:
[code]
(don't forget to `chmod +x` this script)
I check the environment va

[2020-01-25 02:58] A-UNDERSCORE-D opened #3000 "Not all formatting verbs are highlighted"
Please answer these questions before submitting your issue. Thanks!

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- go version go1.13.5 linux/amd64
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.1 26076a4de974ead31f97692a0d32f90d735645c0 x64

- Check your installed extensions to get the v

[2020-01-25 03:04] A-UNDERSCORE-D commented on #2992
As an additional thing this would help, as I understand it there is no function call support on VScode's side, whereas [delve supports it with the `call` command](https://github.com/go-delve/delve/blob/master/Documentation/cli/README.md#call) (related: https://github.com/microsoft/vscode-go/issues/2655, https://github.com/go-delve/delve/issues/119)

Ive found myself repeatedly looking for the resu

[2020-01-25 17:45] stamblerre commented on #3000
I would guess that this is because `%w` is new, as of Go 1.13. As of @ramya-rao-a's comment in May 2019 (https://github.com/microsoft/vscode-go/issues/2510#issuecomment-492515712), it seems that VS Code uses https://github.com/atom/language-go/blob/master/grammars/go.cson for syntax highlighting, so perhaps it makes sense to move this issue to the https://github.com/atom/language-go repository?

[2020-01-26 07:01] ramya-rao-a commented on #2975
Re-opening to give @oceanful some more time to respond :)

[2020-01-26 10:57] karim opened #3003 "CodeLens references do not work in module mode if it is in another file"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- `go version go1.13.6 windows/amd64`
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- `1.41.1 26076a4de974ead31f97692a0d32f90d735645c0 x64`
- Check your installed extensions to get the version of the VS Code Go extension
	- `0.12.0`
- Run `go env GOO

[2020-01-26 21:26] stamblerre commented on #3003
This is probably because the references codelens relies on the default references provider, which I would guess doesn't work with modules (see [here](https://github.com/microsoft/vscode-go/blob/9dc503792fdb651b9103aeda7fba9da26dff872b/src/goReferencesCodelens.ts#L65)). We should be able to get the references provider from the language server if it's in use. Does that sound right to you, @ramya-rao

[2020-01-26 21:34] stamblerre commented on #2575
@ramya-rao-a: https://github.com/golang/go/issues/31906 is now closed, and unimported completions will be on by default for `gopls/v0.3.0`, so I think that this issue can be closed.

[2020-01-26 21:38] stamblerre commented on #2446
I think that the ultimate resolution to this issue would be to remove the `go.experimentalLanguageServerFeatures` setting for formatting so that users of `gopls` would be required to use `gopls`'s formatting. I believe the that the main concern with this would be that `gopls` doesn't provide the features of `goreturns`, which some users prefer as a format tool. A solution would be for `gopls` to s

[2020-01-26 21:50] stamblerre commented on #2614
I left a comment (https://github.com/microsoft/vscode/issues/81520#issuecomment-578546940) on https://github.com/microsoft/vscode/issues/81520, which is a report of this issue to VS Code, so we can follow the advice given there once we get a response.

[2020-01-26 21:51] stamblerre commented on #2661
A lot has changed in `gopls` since this issue was filed, so @ramya-rao-a, I think this can be closed.

[2020-01-26 21:54] stamblerre commented on #2837
A lot has changed in `gopls` since this issue was filed, so @ramya-rao-a, I think that this can be closed.
Please report new issues if you experience problems with the current version of `gopls`.

[2020-01-26 21:55] stamblerre commented on #2848
@ramya-rao-a: golang/go#31553 is now closed and will be part of `gopls/v0.3.0`, so I think that this issue can be closed.

[2020-01-26 21:58] stamblerre commented on #2920
@ramya-rao-a: These fixes will be part of `gopls/v0.3.0`, so I believe that this issue can be closed.

[2020-01-26 22:00] stamblerre commented on #2969
@Borkason, @darjun: If you get a chance, please try out `gopls` at master and let me know if the problem persists. Thank you!

[2020-01-26 22:08] stamblerre commented on #2914
As a follow-up to this, the next version of `gopls` will support finding references in your workspace (instead of just in your package).

@tharun-d: Please follow up if there is anything else I can help investigate.

[2020-01-26 22:11] stamblerre commented on #2962
This issue is also pretty closely related to the discussion on https://github.com/microsoft/vscode-go/issues/2965, so maybe https://github.com/microsoft/vscode-go/issues/2965 could be used to track general issues related to build tags?

[2020-01-26 22:15] stamblerre commented on #2941
@luexu: Can you try installing `gopls` at master (`GO111MODULE=on go get golang.org/x/tools/gopls@master golang.org/x/tools@master`) and see if you still see the same problems there? A lot has changed since `gopls/v0.2.2`.

[2020-01-26 22:20] stamblerre commented on #2902
@ramya-rao-a: This issue is closely related to the discussion on https://github.com/microsoft/vscode-go/issues/2446, so perhaps this one can be closed as a duplicate?

[2020-01-26 22:39] stamblerre commented on #2484
golang/go#31906 has been closed upstream, and this will be supported by default in `gopls` with `gopls/v0.3.0`, so I think that this issue can be resolved.

[2020-01-27 02:33] #2882 closed

[2020-01-27 04:13] ramya-rao-a commented on #2484
That's great news @stamblerre

Is there a way one can disable this feature?
When using this feature from the extension, one has to explicitly opt in using the `go.autocompleteUnimportedPackages` setting.
The reason behind doing so was that there was early feedback on this feature being noisy for some.

[2020-01-27 04:15] ramya-rao-a commented on #2902
@stamblerre This is the case of not wanting formatting on save (neither by gopls nor by the extension), but wanting the "organize imports" features that would add missing imports, remove unused imports and re-order imports if needed. Therefore, I see this as separate from #2446

[2020-01-27 04:17] ramya-rao-a commented on #2962
Yes, we can use #2965 to continue the conversation around the `go.buildTags` setting and gopls.
Meanwhile, the workaround provided in https://github.com/microsoft/vscode-go/issues/2962#issuecomment-574792821 should be good enough for this issue.

[2020-01-27 04:17] #2962 closed

[2020-01-27 04:19] ramya-rao-a commented on #2969
@stamblerre We can close this issue once the next version is `gopls` is out.

[2020-01-27 04:20] #2920 closed

[2020-01-27 04:21] #2848 closed

[2020-01-27 04:25] ramya-rao-a commented on #2914
Thanks @stamblerre

Since the next version `gopls/v0.3.0` will have the fix, closing this issue.
For folks who want to try the fix before the next version is out, please try out `gopls` from the master branch. You can download it by running
[code]

[2020-01-27 04:25] #2914 closed

[2020-01-27 04:26] ramya-rao-a commented on #2969
Thanks @stamblerre

Since the next version `gopls/v0.3.0` will have the fix, closing this issue.
For folks who want to try the fix before the next version is out, please try out `gopls` from the master branch. You can download it by running
[code]

[2020-01-27 04:26] #2969 closed

[2020-01-27 04:26] ramya-rao-a commented on #2848
Thanks @stamblerre

For folks who want to try the fix before the next version is out, please try out `gopls` from the master branch. You can download it by running
[code]

[2020-01-27 04:27] #2837 closed

[2020-01-27 04:28] ramya-rao-a commented on #2661
I agree, thanks @stamblerre.

If anyone sees problems using the latest version of `gopls`, please log new issues.

[2020-01-27 04:28] #2661 closed

[2020-01-27 04:28] #2575 closed

[2020-01-27 04:30] ramya-rao-a commented on #3003
The catch is in figuring out if the extension can call the reference provider from the language server.
Am not sure if that is possible..

I would suggest that we start looking into the language server it self implementing the code lens

[2020-01-27 04:32] ramya-rao-a commented on #2446
I am ok with the approach of removing `format` from `go.experimentalLanguageServerFeatures`.
The only concern is that we should resolve the formatting issues that people have currently reported before doing that.

[2020-01-27 04:47] ramya-rao-a commented on #3000
This issue is a duplicate of #2819

The discussion there leads to an upstream issue in VS Code https://github.com/microsoft/vscode/issues/82549. Please subscribe to this issue for updates.

[2020-01-27 04:47] #3000 closed

[2020-01-27 04:48] stamblerre commented on #2484
It can be disabled by setting the `"completeUnimported"` value to `false`, but this feature has been refined a lot in `gopls`, so I expect that it will work a lot better for people than `gocode` did. `gopls` has careful ranking and relies on an exact package name match, so hopefully few people will want to turn it off.

[2020-01-27 04:52] stamblerre commented on #2902
`goimports` out of the box also runs `gofmt`, so this is only possible if you are using the language server. We only recently added the separation between formatting and imports, previously imports would also always run the formatter as well. I believe that this will be doable with `gopls/v0.3.0` and the following configuration:

[code]

[2020-01-27 04:56] stamblerre commented on #3003
That sounds reasonable. Filed https://github.com/golang/go/issues/36787 to track this upstream.

[2020-01-27 04:57] stamblerre commented on #2446
Absolutely. We can wait on it until such a time as there are no issues with `gopls` formatting.

[2020-01-27 06:35] ramya-rao-a commented on #3003
Thanks @stamblerre

@karim Closing this issue in favor of the upstream issue logged above.
There is no further work in `guru` to fix references in module mode, so we will need to wait for `gopls`, the language server to support this.

[2020-01-27 06:36] #3003 closed

[2020-01-27 06:50] ramya-rao-a commented on #2902
Thanks @stamblerre

@JinZihao123 Can you try with the latest `gopls` and the above settings? YYou can download it by running
[code]

[2020-01-27 07:03] alecthomas commented on #2837
FWIW I tried VSCode again with gopls and it seems marginally better, in that it worked for an hour or two before failing again. I'll file another issue.

[2020-01-27 07:11] alecthomas opened #3005 "gopls returning completely unrelated completions"
Please answer these questions before submitting your issue. Thanks!

### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go
	- 1.13.5
- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders
	- 1.41.1 26076a4de974ead31f97692a0d32f90d735645c0 x64
- Check your installed extensions to get the version of the VS Code Go e

[2020-01-27 07:13] alecthomas commented on #2837
Filed #3005. This is the same issue I was encountering in October, so nothing has changed unfortunately :(

[2020-01-27 07:19] alecthomas commented on #3005
I opened up the gopls console to check if different errors would be reported for the two cases, but they are identical with both reporting:

[code]

[2020-01-27 08:02] andig opened #3006 "Debug: Failed to eval expression with watches"
### What version of Go, VS Code & VS Code Go extension are you using?
- Run `go version` to get version of Go

    go version go1.13.6 darwin/amd64

- Run `code -v` or `code-insiders -v` to get version of VS Code or VS Code Insiders

    1.41.1
    26076a4de974ead31f97692a0d32f90d735645c0
    x64

- Check your installed extensions to get the version of the VS Code Go extension

	0.12.0

- Run `go

[2020-01-27 15:41] Limitless-loong opened #3007 "IntelliSense failed"
Issue Type: <b>Bug</b>

`fmpl=>fmt.Println($1)` => no IntelliSense when you following type unless move cursor

Expect：have IntelliSense

Extension version: 0.12.0
VS Code version: Code 1.41.1 (26076a4de974ead31f97692a0d32f90d735645c0, 2019-12-18T14:58:56.166Z)
OS version: Windows_NT x64 10.0.18363

[2020-01-27 17:24] ramya-rao-a commented on #2837
Thanks @alecthomas

We will follow up in the new issue

[2020-01-27 17:26] ramya-rao-a commented on #2484
Thanks @stamblerre

Closing this issue as the feature will be available in the next version `gopls/v0.3.0` of the language server. Folks who want to try the feature out before the release can do so by downloading gopls by running
[code]

[2020-01-27 17:26] #2484 closed

[2020-01-27 17:29] ramya-rao-a commented on #3006
Thanks for reporting @andig

Unfortunately, the extension is not aware of which watches exist in the current scope and which don't. Therefore, I don't see a good way to suppress these errors that come from delve.

@quoctruong any ideas?

[2020-01-27 17:30] ramya-rao-a commented on #3007
Please share any Go related settings you might have added or edited. You can get these by running the command `Preferences: Open Settings (JSON)`

[2020-01-27 17:44] andig commented on #3006
Thanks for taking up this request!

In that case I would suggest to suppress all errors or that type or potentially use the errors to provide dynamic filtering of the watches (greyed out or hidden = did error and is hence not available). It seems the errors are recognizable as such. Might also make sense to work with delve to not even send these as they're really meaningless in this context.

At a

[2020-01-27 18:10] stamblerre commented on #3005
What are your expected results in the failing cases above? It's not clear to me why these results are incorrect. Also, please note that completion may not always work perfectly when your code is in a broken state. Specifically, if there is a syntax error, completion may not pick up any symbols declared below the syntax error. We are working on improving this, but these are some current limitations

[2020-01-27 18:14] ramya-rao-a commented on #3006
Do you see this even without setting the `trace` field in the debug configuration to log or verbose?
This can be useful in the verbose mode.
In any other mode, we can look into hiding these

[2020-01-27 18:45] alecthomas commented on #3005
In the first example you can see `it.Iterate()`. This is correct. As soon as I press `.` this disappears and a completely unrelated *package* is suggested.

Using a different symbol (thread) in the exact same location is successful (last image).

There are no syntax errors beyond those introduced by me typing in these symbols.

The only relevant log line (AFACT) is the one I already pasted, but I

[2020-01-27 19:01] stamblerre commented on #3005
Thanks for the explanation. This does seem like a genuine failure with completion. What version of `gopls` are you using (`gopls version`)?

The log line you've pasted here is actually not relevant, as it pertains to `textDocument/codeAction` rather than `textDocument/completion`. You will likely not see all of the relevant log line until you add the following setting to your `settings.json`:

[co

[2020-01-27 21:38] #2933 closed

[2020-01-27 22:42] Kapho commented on #2976
I also experience this with and without the language server.

[2020-01-27 23:13] oceanful commented on #2975
Thanks Ramya!

It turns out the issue was in my `go.testFlags`.

What I had:

[code]

Should have been:

[code]

So, silly operator error after all. Thanks again for helping me figure this out!

[2020-01-27 23:13] #2975 closed

[2020-01-28 00:10] ramya-rao-a commented on #2975
You can also use `go.testTags` where you provide just the tag value

[2020-01-28 00:56] ramya-rao-a commented on #1486
I no longer see this issue with the latest VS Code

<img width="842" alt="Screen Shot 2020-01-27 at 4 56 01 PM" src="https://user-images.githubusercontent.com/16890566/73226742-fb10d080-4125-11ea-9960-4d9da1215e8d.png">

[2020-01-28 00:56] #1486 closed

[2020-01-28 00:57] ramya-rao-a commented on #1613
Closing this issue as we are moving towards using the language server for language feature needs including formatting

[2020-01-28 00:57] #1613 closed

[2020-01-28 01:49] Limitless-loong commented on #3007
`"go.autocompleteUnimportedPackages": true,`
`"go.formatTool": "goimports",`
`"go.useLanguageServer": true,`

[2020-01-28 02:35] oceanful commented on #2975
That's helpful. Thank you!

[2020-01-28 05:28] johneboldt opened #3008 "Vscode Go Extension Occasionally Corrupting File On Save"
Please direct general questions to:
- [Gitter](https://gitter.im/Microsoft/vscode-go)
- [Gophers Slack](https://invite.slack.golangbridge.org/messages/vscode)

Please review the [Wiki](https://github.com/microsoft/vscode-go/wiki) before filing an issue.
Helpful pages include:
- [GOPATH](https://github.com/Microsoft/vscode-go/wiki/GOPATH-in-the-VS-Code-Go-extension)
- [Module Support](https://githu

[2020-01-28 05:36] stamblerre commented on #3008
Can you try downloading the pre-release of `gopls/v0.3.0` to see if it fixes the problem? It can be installed by running `GO111MODULE=on go get golang.org/x/tools/gopls@v0.3.0-pre1`.

[2020-01-28 05:40] stamblerre commented on #2976
For the language server, you can try out the pre-release of the next version of `gopls` by running `GO111MODULE=on go get golang.org/x/tools/gopls@v0.3.0-pre1`. Please let me know if that improves performance.

[2020-01-28 05:45] stamblerre commented on #3007
Is `"fmt"` imported in your program in this case? `"go.autocompleteUnimportedPackages": true` doesn't get propagated to `gopls`, so you will also need the following setting:

[code]

See https://github.com/golang/tools/blob/master/gopls/doc/vscode.md for more information on recommended settings with `gopls` and VS Code.

[2020-01-28 06:14] ramya-rao-a commented on #2943
Thanks for reporting @programmer04

@stamblerre, @hyangah Thoughts?

[2020-01-28 06:19] ramya-rao-a commented on #2891
Apologies for the delay in responding @keyoti

I believe running `dlv debug` does work without specifying the package if it is being run from the folder that holds the package.

cc @quoctruong

[2020-01-28 06:20] ramya-rao-a commented on #2239
Hey @FiloSottile

Have you tried the language server to see if it fares better than the formatting feature from the extension?

cc @stamblerre

[2020-01-28 06:21] ramya-rao-a commented on #2286
There are quite a few issues around processes needing timeout. So, closing this one.

[2020-01-28 06:21] #2286 closed

[2020-01-28 06:23] ramya-rao-a commented on #2956
Please share any Go related settings you might have added or edited. You can get these by running the command `Preferences: Open Settings (JSON)`

Also run the command `Developer: Open Process Explorer` which can shed some light on which process is using high cpu

[2020-01-28 06:24] ramya-rao-a commented on #2517
cc @stamblerre

[2020-01-28 06:25] ramya-rao-a commented on #2607
cc @stamblerre

[2020-01-28 06:26] stamblerre commented on #2943
That sounds quite reasonable to me. Short variable names are recommended in Go.

[2020-01-28 06:26] #2909 closed

[2020-01-28 06:27] ramya-rao-a commented on #2909
The December update for the extension has the `Don't show again` button that can be used to suppress this message

[2020-01-28 06:42] Limitless-loong commented on #3007
`fmt` is imported in my program in this case.
fmpl=>fmt.Println($1) => no IntelliSense when you following type and your input is selected in this case,  unless move cursor.

[2020-01-28 06:45] stamblerre commented on #3007
Do you mind providing a repro case or a screenshot/screencast with your example? I'm afraid I don't understand what you mean when you say that you have to move your cursor to get Intellisense.

[2020-01-28 06:51] ramya-rao-a commented on #2943
@programmer04 Please do go ahead and make a Pull Request :)

[2020-01-28 06:59] ramya-rao-a commented on #2689
Thanks for confirming

[2020-01-28 06:59] #2689 closed

[2020-01-28 07:18] andig commented on #3006
Where could I check? The only go setting I've really tweaked is enabling of the language server.

[2020-01-28 08:21] programmer04 commented on #2943
Thanks for answer, I made the PR #3010 🙂

[2020-01-28 08:38] Limitless-loong commented on #3007
This is an example.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Rebecca Stambler"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月28日(星期二) 下午2:45
收件人:&nbsp;"microsoft/vscode-go"<vscode-go@noreply.github.com&gt;;
抄送:&nbsp;"俩龙"<limitless-loong@foxmail.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [microsoft/vscode-go] IntelliSense failed (#3007)

Do you mind provi

[2020-01-28 12:07] Limitless-loong commented on #3007
This is an example.

![Image of example](http://chuantu.xyz/t6/713/1580212919x2073530529.gif)

[2020-01-28 13:09] segevfiner commented on #2003
Looking into this even further. I noticed that the official Python extension has a test explorer UI for running tests. Strangely enough, it is completely custom built inside the Python extension while there is also a third-party extension implementing a similar UI: https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer for the use of other extensions. Not sure how test exec

[2020-01-28 13:47] yalcinmelihyasin opened #3011 "Supporting relative paths in breakpoints with Delve"
Currently, I could not find a way support relative paths when trying to attach Delve debugger.

Example case:

Lets assume that your build configuration converts all the paths to relative such as

<project_dir>/server/server.go -> server/server.go
<project_dir>/client/client.go -> client/client.go

I have thought of using the `cwd' in launch.json as '${workspaceFolder}' and leaving the remote path

[2020-01-28 16:14] stamblerre commented on #3007
Are you referring to the fact that completions for `year`, `month`, and `day` don't come up as you start typing? In this case, this isn't the Intellisense failing, but rather VS Code not triggering completions. You can manually trigger them by hitting Ctrl + Space.

To have them come up automatically, we would need to have another command associated with the completion item, which isn't currently

[2020-01-28 16:17] stamblerre commented on #2239
I'm pretty sure that @FiloSottile has been using `gopls`, and I believe that `gopls` should manage with very large files. Please let me know if that's not the case.

[2020-01-28 16:29] stamblerre commented on #2517
I would guess that the multiple hover providers is no longer an issue, since if you have `gopls` enabled, we don't register any other hover provider, and we no longer have `hover` as an experimental feature. When you Ctrl + hover on an identifier, it does also show you where it's declared, which is often really similar to how the `gopls` hover text looks, but I don't think there's anything we can

[2020-01-28 16:46] stamblerre commented on #2607
I think we could probably go as far as running the command ourselves without asking the user to, right?

[2020-01-28 18:14] keyoti commented on #2891
I think you're right, but for a Go newbie it wasn't obvious and I don't see that mentioned in the text anywhere.

[2020-01-28 18:15] quoctruong commented on #2891
Perhaps we can make the documentation more clear using wording from the `dlv debug` documentation (link [here](https://github.com/go-delve/delve/blob/master/Documentation/usage/dlv_debug.md))

[2020-01-28 18:17] quoctruong commented on #3006
You can set the `trace` setting in the debug configuration that you use in `launch.json`. It can be set to `log`, `verbose` or `error`.

[2020-01-28 18:55] Kapho commented on #2976
The pre-release language server runs at a good speed. :)

[2020-01-28 19:20] #2943 closed

[2020-01-28 19:35] stamblerre commented on #2976
Glad to hear it! The official release will be out soon.

[2020-01-28 19:41] lggomez commented on #2517
So that's the case then, it is indeed the overlay of the hover and ctrl+hover actions

[2020-01-28 20:12] ramya-rao-a commented on #2517
This assumes that all type checking errors from all linters have the `(type check)` in their error messages

[2020-01-28 21:09] andig commented on #3006
I feel stupid, but there is no "debug configuration" or `trace` key, so I'm seeing this at the default values:

        {
            "name": "EVCC PROD",
            "type": "go",
            "request": "launch",
            "mode": "auto",
			"program": "${workspaceFolder}/main.go",
            "env": {},
            "args": ["--uri","127.1:7070","-c","evcc.wallbe.yaml"]
        }

[2020-01-29 00:32] ramya-rao-a commented on #2607
What is the behavior when neither VS Code is reloaded, nor the language server is restarted after an update?

[2020-01-29 00:50] ramya-rao-a commented on #2891
Yes, there is definitely scope for improvement here.
I have updated the text as below:

![image](https://user-images.githubusercontent.com/16890566/73318425-35de3b80-41ee-11ea-91b1-9117bc4ae8d9.png)

Thanks for reporting @keyoti

[2020-01-29 00:50] #2891 closed

[2020-01-29 02:31] Limitless-loong commented on #3007
Yes, you're right. That's exactly what I expected.

[2020-01-29 03:36] stamblerre commented on #2517
Ah, yeah I guess I forgot that there are other linters. I would have suggested that we could filter by diagnostics with equal messages, but clearly the `(typecheck)` indicates that that won't work. Otherwise, the only alternatives I can think of are either to (1) live with the duplicates until `gopls` supports `golint` analyses, or (2) disable linting when `gopls` is enabled.

[2020-01-29 03:44] stamblerre commented on #2607
I would imagine that the server wouldn't start, since we only start it on extension activation or if the restart command is executed.

[2020-01-29 06:47] ramya-rao-a commented on #2517
If the assumption is that the text inside the () refers to the internal checkers that the linter uses, then we can use regular expressions to strip that part out, compare the resulting message with the diagnostic message from gopls, and thus de-duplicate which is similar to https://github.com/microsoft/vscode-go/blob/0.10.2/src/util.ts#L747

[2020-01-29 07:25] #2993 closed

[2020-01-29 14:57] fastest963 commented on #2985
I was considering working on this but in my case I'm using gopls but I want to turn diagnostics off and leave it to my linter since gopls it seems to speed up gopls for now.

Would I still just be checking `buildOnSave` and `vetOnSave` or if they're using a language server are those flags ignored and should I be checking `diagnostics: false` instead?

[2020-01-29 15:29] johneboldt commented on #3008
I tried this and so far so good. It will require us to shift to using go modules (which is a good thing) but I want to proceed cautiously.

[2020-01-29 17:16] ttsokov opened #3013 "Go to definition and signature help don't work"
What version of Go, VS Code & VS Code Go extension are you using?
Run go version to get version of Go
go version go1.13.6 darwin/amd64
Run code -v or code-insiders -v to get version of VS Code or VS Code Insiders
1.20.1
f88bbf9137d24d36d968ea6b2911786bfe103002
x64
Check your installed extensions to get the version of the VS Code Go extension
0.12.0 - 31st December, 2019
Run go env GOOS GOARCH to g